{
  "openapi" : "3.0.3",
  "info" : {
    "contact" : {
      "email" : "blah@cliffano.com",
      "name" : "Cliffano Subagio",
      "url" : "https://github.com/cliffano/pinterest-sdk"
    },
    "description" : "Pinterest's REST API",
    "license" : {
      "name" : "MIT",
      "url" : "https://spdx.org/licenses/MIT"
    },
    "termsOfService" : "https://developers.pinterest.com/terms/",
    "title" : "Pinterest REST API",
    "version" : "5.4.1"
  },
  "externalDocs" : {
    "description" : "Pinterest developer documentation main page",
    "url" : "https://developers.pinterest.com/"
  },
  "servers" : [ {
    "url" : "https://api.pinterest.com/v5"
  } ],
  "tags" : [ {
    "description" : "View analytical information about advertising.\n\n\nNote: If the current operation_user_account (defined by the access token)\nhas access to another user's Ad Accounts via\n<a href='/docs/api/v5/#tag/Understanding-business-access'>Pinterest Business Access</a>,\nyou can modify your request to use the current operation_user_account's\npermissions to those Ad Accounts by including the ad_account_id in the path\nparameters for the request (e.g. .../?ad_account_id=12345&...).",
    "name" : "ad_accounts"
  }, {
    "description" : "View, create or update ad groups.",
    "name" : "ad_groups"
  }, {
    "description" : "View, create or update ads.",
    "name" : "ads"
  }, {
    "description" : "View, create, update, or delete information about boards.",
    "name" : "boards"
  }, {
    "description" : "View, create or update campaigns.",
    "name" : "campaigns"
  }, {
    "description" : "Manage information about shopping product catalogs and items.",
    "name" : "catalogs"
  }, {
    "description" : "Register and manage media uploads.",
    "name" : "media"
  }, {
    "description" : "Generating and refreshing OAuth access tokens.",
    "name" : "oauth"
  }, {
    "description" : "View, create, update, or delete information about Pins.",
    "name" : "pins"
  }, {
    "description" : "Product Group Promotion",
    "name" : "product_group_promotions"
  }, {
    "description" : "Get related and suggested terms.",
    "name" : "terms"
  }, {
    "description" : "Get Terms Of Service",
    "name" : "terms_of_service"
  }, {
    "description" : "Read-only information about user accounts associated with a given access token.",
    "name" : "user_account"
  } ],
  "paths" : {
    "/oauth/token" : {
      "post" : {
        "description" : "Generate an OAuth access token by using an authorization code or a refresh token.\n\nSee <a href='/docs/api/v5/#tag/Authentication'>Authentication</a> for more.",
        "operationId" : "oauth/token",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/OauthAccessTokenRequest"
              }
            }
          },
          "description" : "Generate an OAuth access token.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OauthAccessTokenResponse"
                }
              }
            },
            "description" : "response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ { } ],
        "summary" : "Generate OAuth access token",
        "tags" : [ "oauth" ],
        "x-ratelimit-category" : "org_read"
      }
    },
    "/user_account" : {
      "get" : {
        "description" : "Get account information for the \"operation user_account\"\n- By default, the \"operation user_account\" is the token user_account.\n\nIf using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See <a href='/docs/api/v5/#tag/Understanding-business-access'>Understanding Business Access</a> for more information.",
        "operationId" : "user_account/get",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_account_id",
          "required" : false,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            },
            "description" : "response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to access the user account."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to access the user account."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "user_accounts:read" ]
        } ],
        "summary" : "Get user account",
        "tags" : [ "user_account" ],
        "x-ratelimit-category" : "org_read"
      }
    },
    "/user_account/analytics" : {
      "get" : {
        "description" : "Get analytics for the \"operation user_account\"\n- By default, the \"operation user_account\" is the token user_account.\n\nOptional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".",
        "operationId" : "user_account/analytics",
        "parameters" : [ {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter on Pins that match your claimed domain.",
          "explode" : true,
          "in" : "query",
          "name" : "from_claimed_content",
          "required" : false,
          "schema" : {
            "default" : "BOTH",
            "enum" : [ "OTHER", "CLAIMED", "BOTH" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pin formats to get data for, default is all.",
          "explode" : true,
          "in" : "query",
          "name" : "pin_format",
          "required" : false,
          "schema" : {
            "default" : "ALL",
            "enum" : [ "ALL", "PRODUCT", "REGULAR", "VIDEO" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Apps or devices to get data for, default is all.",
          "explode" : true,
          "in" : "query",
          "name" : "app_types",
          "required" : false,
          "schema" : {
            "default" : "ALL",
            "enum" : [ "ALL", "MOBILE", "TABLET", "WEB" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric types to get data for, default is all. ",
          "explode" : false,
          "in" : "query",
          "name" : "metric_types",
          "required" : false,
          "schema" : {
            "items" : {
              "enum" : [ "ENGAGEMENT", "ENGAGEMENT_RATE", "IMPRESSION", "OUTBOUND_CLICK", "OUTBOUND_CLICK_RATE", "PIN_CLICK", "PIN_CLICK_RATE", "SAVE", "SAVE_RATE" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "How to split the data into groups. Not including this param means data won't be split.",
          "explode" : false,
          "in" : "query",
          "name" : "split_field",
          "required" : false,
          "schema" : {
            "default" : "NO_SPLIT",
            "enum" : [ "NO_SPLIT", "APP_TYPE", "OWNED_CONTENT", "PIN_FORMAT" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Unique identifier of an ad account.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_account_id",
          "required" : false,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnalyticsResponse"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid user accounts analytics parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid user accounts analytics parameters."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to access the user account analytics."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to access the user account analytics."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "user_accounts:read" ]
        } ],
        "summary" : "Get user account analytics",
        "tags" : [ "user_account" ],
        "x-ratelimit-category" : "org_analytics"
      }
    },
    "/user_account/analytics/top_pins" : {
      "get" : {
        "description" : "Gets analytics data about a user's top pins (limited to the top 50).\n- By default, the \"operation user_account\" is the token user_account.\n\nOptional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".",
        "operationId" : "user_account/analytics/top_pins",
        "parameters" : [ {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Specify sorting order for metrics",
          "explode" : false,
          "in" : "query",
          "name" : "sort_by",
          "required" : true,
          "schema" : {
            "enum" : [ "ENGAGEMENT", "IMPRESSION", "OUTBOUND_CLICK", "PIN_CLICK", "SAVE" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter on Pins that match your claimed domain.",
          "explode" : true,
          "in" : "query",
          "name" : "from_claimed_content",
          "required" : false,
          "schema" : {
            "default" : "BOTH",
            "enum" : [ "OTHER", "CLAIMED", "BOTH" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pin formats to get data for, default is all.",
          "explode" : true,
          "in" : "query",
          "name" : "pin_format",
          "required" : false,
          "schema" : {
            "default" : "ALL",
            "enum" : [ "ALL", "PRODUCT", "REGULAR", "VIDEO" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Apps or devices to get data for, default is all.",
          "explode" : true,
          "in" : "query",
          "name" : "app_types",
          "required" : false,
          "schema" : {
            "default" : "ALL",
            "enum" : [ "ALL", "MOBILE", "TABLET", "WEB" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric types to get data for, default is all. ",
          "explode" : false,
          "in" : "query",
          "name" : "metric_types",
          "required" : false,
          "schema" : {
            "items" : {
              "enum" : [ "ENGAGEMENT", "ENGAGEMENT_RATE", "IMPRESSION", "OUTBOUND_CLICK", "OUTBOUND_CLICK_RATE", "PIN_CLICK", "PIN_CLICK_RATE", "SAVE", "SAVE_RATE" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Number of pins to include, default is 10. Max is 50.",
          "example" : 25,
          "explode" : true,
          "in" : "query",
          "name" : "num_of_pins",
          "required" : false,
          "schema" : {
            "default" : 10,
            "maximum" : 50,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Get metrics for pins created in the last \"n\" days.",
          "example" : 30,
          "explode" : true,
          "in" : "query",
          "name" : "created_in_last_n_days",
          "required" : false,
          "schema" : {
            "enum" : [ 30 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Unique identifier of an ad account.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_account_id",
          "required" : false,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TopPinsAnalyticsResponse"
                }
              }
            },
            "description" : "Success"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to access the user account analytics."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to access the user account analytics."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "pins:read", "user_accounts:read" ]
        } ],
        "summary" : "Get user account top pins analytics",
        "tags" : [ "user_account" ],
        "x-ratelimit-category" : "org_analytics"
      }
    },
    "/user_account/analytics/top_video_pins" : {
      "get" : {
        "description" : "Gets analytics data about a user's top video pins (limited to the top 50).\n- By default, the \"operation user_account\" is the token user_account.\n\nOptional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".",
        "operationId" : "user_account/analytics/top_video_pins",
        "parameters" : [ {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Specify sorting order for video metrics",
          "explode" : false,
          "in" : "query",
          "name" : "sort_by",
          "required" : true,
          "schema" : {
            "enum" : [ "IMPRESSION", "SAVE", "OUTBOUND_CLICK", "VIDEO_MRC_VIEW", "VIDEO_AVG_WATCH_TIME", "VIDEO_V50_WATCH_TIME", "QUARTILE_95_PERCENT_VIEW", "VIDEO_10S_VIEW", "VIDEO_START" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter on Pins that match your claimed domain.",
          "explode" : true,
          "in" : "query",
          "name" : "from_claimed_content",
          "required" : false,
          "schema" : {
            "default" : "BOTH",
            "enum" : [ "OTHER", "CLAIMED", "BOTH" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pin formats to get data for, default is all.",
          "explode" : true,
          "in" : "query",
          "name" : "pin_format",
          "required" : false,
          "schema" : {
            "default" : "ALL",
            "enum" : [ "ALL", "PRODUCT", "REGULAR", "VIDEO" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Apps or devices to get data for, default is all.",
          "explode" : true,
          "in" : "query",
          "name" : "app_types",
          "required" : false,
          "schema" : {
            "default" : "ALL",
            "enum" : [ "ALL", "MOBILE", "TABLET", "WEB" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric types to get video data for, default is all. ",
          "explode" : false,
          "in" : "query",
          "name" : "metric_types",
          "required" : false,
          "schema" : {
            "items" : {
              "enum" : [ "IMPRESSION", "SAVE", "VIDEO_MRC_VIEW", "VIDEO_AVG_WATCH_TIME", "VIDEO_V50_WATCH_TIME", "QUARTILE_95_PERCENT_VIEW", "VIDEO_10S_VIEW", "VIDEO_START", "OUTBOUND_CLICK" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Number of pins to include, default is 10. Max is 50.",
          "example" : 25,
          "explode" : true,
          "in" : "query",
          "name" : "num_of_pins",
          "required" : false,
          "schema" : {
            "default" : 10,
            "maximum" : 50,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Get metrics for pins created in the last \"n\" days.",
          "example" : 30,
          "explode" : true,
          "in" : "query",
          "name" : "created_in_last_n_days",
          "required" : false,
          "schema" : {
            "enum" : [ 30 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Unique identifier of an ad account.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_account_id",
          "required" : false,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TopVideoPinsAnalyticsResponse"
                }
              }
            },
            "description" : "Success"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to access the user account analytics."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to access the user account analytics."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "pins:read", "user_accounts:read" ]
        } ],
        "summary" : "Get user account top video pins analytics",
        "tags" : [ "user_account" ],
        "x-ratelimit-category" : "org_analytics"
      }
    },
    "/pins" : {
      "post" : {
        "description" : "Create a Pin on a board or board section owned by the \"operation user_account\".\n\nNote: If the current \"operation user_account\" (defined by the access token) has access to another user's Ad Accounts via Pinterest Business Access, you can modify your request to make use of the current operation_user_account's permissions to those Ad Accounts by including the ad_account_id in the path parameters for the request (e.g. .../?ad_account_id=12345&...).\n\n- This function is intended solely for publishing new content created by the user. If you are interested in saving content created by others to your Pinterest boards, sometimes called 'curated content', please use our <a href='/docs/add-ons/save-button'>Save button</a> instead. For more tips on creating fresh content for Pinterest, review our <a href='/docs/solutions/content-apps'>Content App Solutions Guide</a>.\n\n<strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.",
        "operationId" : "pins/create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Pin"
              }
            }
          },
          "description" : "Create a new Pin.",
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pin"
                }
              }
            },
            "description" : "Successful pin creation."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "InvalidPinUrl" : {
                    "value" : {
                      "code" : 1,
                      "message" : "Whoops! It looks like you entered an invalid URL. Try creating a Pin again with a valid URL."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid Pin parameters response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "PinImageTooSmall" : {
                    "value" : {
                      "code" : 233,
                      "message" : "Your image is too small. Please choose a larger image and try again."
                    }
                  },
                  "PinImageBroken" : {
                    "value" : {
                      "code" : 235,
                      "message" : "Sorry, this image is broken. Please pick a different image."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "The Pin's image is too small, too large or is broken"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "BoardNotFound" : {
                    "value" : {
                      "code" : 40,
                      "message" : "Board not found."
                    }
                  },
                  "BoardSectionNotFound" : {
                    "value" : {
                      "code" : 2031,
                      "message" : "Sorry! We couldn't find this board section."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Board or section not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 8,
                  "message" : "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "boards:write", "pins:read", "pins:write" ]
        } ],
        "summary" : "Create Pin",
        "tags" : [ "pins" ],
        "x-ratelimit-category" : "org_write"
      }
    },
    "/pins/{pin_id}" : {
      "delete" : {
        "description" : "Delete a Pins owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "operationId" : "pins/delete",
        "parameters" : [ {
          "description" : "Unique identifier of a Pin.",
          "explode" : false,
          "in" : "path",
          "name" : "pin_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successfully deleted Pin"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to access board or Pin."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to access board or Pin."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 404,
                  "message" : "Pin not found."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Pin not found."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "boards:write", "pins:read", "pins:write" ]
        } ],
        "summary" : "Delete Pin",
        "tags" : [ "pins" ],
        "x-ratelimit-category" : "org_write"
      },
      "get" : {
        "description" : "Get a Pin owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.\n\nOptional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account:\n\n- For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager.\n- For Pins on secret boards: Owner, Admin.",
        "operationId" : "pins/get",
        "parameters" : [ {
          "description" : "Unique identifier of a Pin.",
          "explode" : false,
          "in" : "path",
          "name" : "pin_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier of an ad account.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_account_id",
          "required" : false,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pin"
                }
              }
            },
            "description" : "response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 29,
                  "message" : "You are not permitted to access that resource."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to access board or Pin."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 50,
                  "message" : "Pin not found."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Pin not found."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "pins:read" ]
        } ],
        "summary" : "Get Pin",
        "tags" : [ "pins" ],
        "x-ratelimit-category" : "org_read"
      }
    },
    "/pins/{pin_id}/analytics" : {
      "get" : {
        "description" : "Get analytics for a Pin owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.\n\nOptional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=\"https://developers.pinterest.com/docs/api/v5/#operation/ad_accounts/list\">List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account:\n\n- For Pins on public or protected boards: Admin, Analyst.\n- For Pins on secret boards: Admin.",
        "operationId" : "pins/analytics",
        "parameters" : [ {
          "description" : "Unique identifier of a Pin.",
          "explode" : false,
          "in" : "path",
          "name" : "pin_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Apps or devices to get data for, default is all.",
          "explode" : true,
          "in" : "query",
          "name" : "app_types",
          "required" : false,
          "schema" : {
            "default" : "ALL",
            "enum" : [ "ALL", "MOBILE", "TABLET", "WEB" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Pin metric types to get data for, default is all.",
          "explode" : false,
          "in" : "query",
          "name" : "metric_types",
          "required" : true,
          "schema" : {
            "items" : {
              "enum" : [ "IMPRESSION", "SAVE", "PIN_CLICK", "OUTBOUND_CLICK", "VIDEO_MRC_VIEW", "VIDEO_AVG_WATCH_TIME", "VIDEO_V50_WATCH_TIME", "QUARTILE_95_PERCENT_VIEW" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "How to split the data into groups. Not including this param means data won't be split.",
          "explode" : false,
          "in" : "query",
          "name" : "split_field",
          "required" : false,
          "schema" : {
            "default" : "NO_SPLIT",
            "enum" : [ "NO_SPLIT", "APP_TYPE" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Unique identifier of an ad account.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_account_id",
          "required" : false,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnalyticsResponse"
                }
              }
            },
            "description" : "response"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid pins analytics parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid pins analytics parameters."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to access board or Pin."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to access board or Pin."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 404,
                  "message" : "Pin not found."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Pin not found."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "pins:read" ]
        } ],
        "summary" : "Get Pin analytics",
        "tags" : [ "pins" ],
        "x-ratelimit-category" : "org_analytics"
      }
    },
    "/boards" : {
      "get" : {
        "description" : "Get a list of the boards owned by the \"operation user_account\" + group boards where this account is a collaborator\n\nOptional: Specify a privacy type (public, protected, or secret) to indicate which boards to return.\n- If no privacy is specified, all boards that can be returned (based on the scopes of the token and ad_account role if applicable) will be returned.",
        "operationId" : "boards/list",
        "parameters" : [ {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/api/v5/#tag/Pagination'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Privacy setting for a board.",
          "explode" : true,
          "in" : "query",
          "name" : "privacy",
          "required" : false,
          "schema" : {
            "enum" : [ "PUBLIC", "PROTECTED", "SECRET" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/boards_list_200_response"
                }
              }
            },
            "description" : "response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read" ]
        } ],
        "summary" : "List boards",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_read"
      },
      "post" : {
        "description" : "Create a board owned by the \"operation user_account\".\n- By default, the \"operation user_account\" is the token user_account.",
        "operationId" : "boards/create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Board"
              }
            }
          },
          "description" : "Create a board using a single board json object.",
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Board"
                }
              }
            },
            "description" : "response"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "The board name is invalid or duplicated."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "The board name is invalid or duplicated."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "boards:write" ]
        } ],
        "summary" : "Create board",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_write"
      }
    },
    "/boards/{board_id}" : {
      "delete" : {
        "description" : "Delete a board owned by the \"operation user_account\".\n- By default, the \"operation user_account\" is the token user_account.",
        "operationId" : "boards/delete",
        "parameters" : [ {
          "description" : "Unique identifier of a board.",
          "explode" : false,
          "in" : "path",
          "name" : "board_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Board deleted successfully"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to delete the board."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to delete the board."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 404,
                  "message" : "Board not found."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Board not found."
          },
          "409" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 409,
                  "message" : "Could not get exclusive access to delete the board."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Could not get exclusive access to delete the board."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 8,
                  "message" : "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "boards:write" ]
        } ],
        "summary" : "Delete board",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_write"
      },
      "get" : {
        "description" : "Get a board owned by the operation user_account - or a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "operationId" : "boards/get",
        "parameters" : [ {
          "description" : "Unique identifier of a board.",
          "explode" : false,
          "in" : "path",
          "name" : "board_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Board"
                }
              }
            },
            "description" : "response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 404,
                  "message" : "Board not found."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Board not found."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read" ]
        } ],
        "summary" : "Get board",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_read"
      },
      "patch" : {
        "description" : "Update a board owned by the \"operating user_account\".",
        "operationId" : "boards/update",
        "parameters" : [ {
          "description" : "Unique identifier of a board.",
          "explode" : false,
          "in" : "path",
          "name" : "board_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BoardUpdate"
              }
            }
          },
          "description" : "Update a board.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Board"
                }
              }
            },
            "description" : "response"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid board parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid board parameters."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to update the board."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to update the board."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 8,
                  "message" : "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "boards:write" ]
        } ],
        "summary" : "Update board",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_write"
      }
    },
    "/boards/{board_id}/sections" : {
      "get" : {
        "description" : "Get a list of all board sections from a board owned by the \"operation user_account\" - or a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "operationId" : "board_sections/list",
        "parameters" : [ {
          "description" : "Unique identifier of a board.",
          "explode" : false,
          "in" : "path",
          "name" : "board_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/api/v5/#tag/Pagination'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/board_sections_list_200_response"
                }
              }
            },
            "description" : "response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read" ]
        } ],
        "summary" : "List board sections",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_read"
      },
      "post" : {
        "description" : "Create a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "operationId" : "board_sections/create",
        "parameters" : [ {
          "description" : "Unique identifier of a board.",
          "explode" : false,
          "in" : "path",
          "name" : "board_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BoardSection"
              }
            }
          },
          "description" : "Create a board section.",
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BoardSection"
                }
              }
            },
            "description" : "response"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid board section parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid board section parameters."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to create board sections."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to create board sections."
          },
          "409" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 409,
                  "message" : "Could not get exclusive access to the board to create a new section."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Could not get exclusive access to the board to create a new section."
          },
          "500" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 500,
                  "message" : "Could not create a new board section."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Could not create a new board section."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "boards:write" ]
        } ],
        "summary" : "Create board section",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_write"
      }
    },
    "/boards/{board_id}/sections/{section_id}" : {
      "delete" : {
        "description" : "Delete a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "operationId" : "board_sections/delete",
        "parameters" : [ {
          "description" : "Unique identifier of a board.",
          "explode" : false,
          "in" : "path",
          "name" : "board_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier of a board section.",
          "explode" : false,
          "in" : "path",
          "name" : "section_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Board section deleted successfully"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to delete board section."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to delete board section."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 404,
                  "message" : "Board section not found."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Board section not found."
          },
          "409" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 409,
                  "message" : "Board section conflict."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Board section conflict."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "boards:write" ]
        } ],
        "summary" : "Delete board section",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_write"
      },
      "patch" : {
        "description" : "Update a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "operationId" : "board_sections/update",
        "parameters" : [ {
          "description" : "Unique identifier of a board.",
          "explode" : false,
          "in" : "path",
          "name" : "board_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier of a board section.",
          "explode" : false,
          "in" : "path",
          "name" : "section_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BoardSection"
              }
            }
          },
          "description" : "Update a board section.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BoardSection"
                }
              }
            },
            "description" : "response"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid board section parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid board section parameters."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to update board section."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to update board section."
          },
          "409" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 409,
                  "message" : "Board section conflict."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Board section conflict."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "boards:write" ]
        } ],
        "summary" : "Update board section",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_write"
      }
    },
    "/boards/{board_id}/sections/{section_id}/pins" : {
      "get" : {
        "description" : "Get a list of the Pins on a board section of a board owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "operationId" : "board_sections/list_pins",
        "parameters" : [ {
          "description" : "Unique identifier of a board.",
          "explode" : false,
          "in" : "path",
          "name" : "board_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier of a board section.",
          "explode" : false,
          "in" : "path",
          "name" : "section_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/api/v5/#tag/Pagination'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/board_sections_list_pins_200_response"
                }
              }
            },
            "description" : "response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "Not authorized to access Pins on board section."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not authorized to access Pins on board section."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 404,
                  "message" : "Board or section not found."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Board or section not found."
          },
          "409" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 409,
                  "message" : "Board section conflict."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Board section conflict."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "pins:read" ]
        } ],
        "summary" : "List Pins on board section",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_read"
      }
    },
    "/boards/{board_id}/pins" : {
      "get" : {
        "description" : "Get a list of the Pins on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "operationId" : "boards/list_pins",
        "parameters" : [ {
          "description" : "Unique identifier of a board.",
          "explode" : false,
          "in" : "path",
          "name" : "board_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/api/v5/#tag/Pagination'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/board_sections_list_pins_200_response"
                }
              }
            },
            "description" : "response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 404,
                  "message" : "Board not found."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Board not found."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "boards:read", "pins:read" ]
        } ],
        "summary" : "List Pins on board",
        "tags" : [ "boards" ],
        "x-ratelimit-category" : "org_read"
      }
    },
    "/media" : {
      "get" : {
        "description" : "List media uploads filtered by given parameters.\n\n<strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.",
        "operationId" : "media/list",
        "parameters" : [ {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/api/v5/#tag/Pagination'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/media_list_200_response"
                }
              }
            },
            "description" : "response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "pins:read" ]
        } ],
        "summary" : "List media uploads",
        "tags" : [ "media" ],
        "x-ratelimit-category" : "org_read"
      },
      "post" : {
        "description" : "Register your intent to upload media\n\nThe response includes all of the information needed to upload the media\nto Pinterest.\n\nTo upload the media, make an HTTP POST request (using <tt>curl</tt>, for\nexample) to <tt>upload_url</tt> using the <tt>Content-Type</tt> header\nvalue. Send the media file's contents as the request's <tt>file</tt>\nparameter and also include all of the parameters from\n<tt>upload_parameters</tt>.\n\n<strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.",
        "operationId" : "media/create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaUploadRequest"
              }
            }
          },
          "description" : "Create a media upload request",
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaUpload"
                }
              }
            },
            "description" : "response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "pins:read", "pins:write" ]
        } ],
        "summary" : "Register media upload",
        "tags" : [ "media" ],
        "x-ratelimit-category" : "org_write"
      }
    },
    "/media/{media_id}" : {
      "get" : {
        "description" : "Get details for a registered media upload, including its current status.\n\n<strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.",
        "operationId" : "media/get",
        "parameters" : [ {
          "description" : "Media identifier",
          "explode" : false,
          "in" : "path",
          "name" : "media_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaUploadDetails"
                }
              }
            },
            "description" : "response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 404,
                  "message" : "Media upload not found"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Media upload not found"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "pins:read" ]
        } ],
        "summary" : "Get media upload details",
        "tags" : [ "media" ],
        "x-ratelimit-category" : "org_read"
      }
    },
    "/ad_accounts" : {
      "get" : {
        "description" : "Get a list of the ad_accounts that the \"operation user_account\" has access to.\n- This includes ad_accounts they own and ad_accounts that are owned by others who have granted them <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>.",
        "operationId" : "ad_accounts/list",
        "parameters" : [ {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/api/v5/#tag/Pagination'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Include shared ad accounts",
          "explode" : true,
          "in" : "query",
          "name" : "include_shared_accounts",
          "required" : false,
          "schema" : {
            "default" : true,
            "type" : "boolean"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ad_accounts_list_200_response"
                }
              }
            },
            "description" : "response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "List ad accounts",
        "tags" : [ "ad_accounts" ],
        "x-ratelimit-category" : "ads_read"
      },
      "post" : {
        "description" : "<strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>\nCreate a new ad account. Different ad accounts can support different currencies, payment methods, etc.\nAn ad account is needed to create campaigns, ad groups, and ads; other accounts (your employees or partners) can be assigned business access and appropriate roles to access an ad account. <p/>\nYou can set up up to 50 ad accounts per user. (The user must have a business account to create an ad account.) <p/>\nFor more, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/create-an-advertiser-account\">Create an advertiser account</a>.",
        "operationId" : "ad_accounts/create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdAccountCreateRequest"
              }
            }
          },
          "description" : "Ad account to create.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdAccount"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Create ad account",
        "tags" : [ "ad_accounts" ],
        "x-ratelimit-category" : "ads_write"
      }
    },
    "/ad_accounts/{ad_account_id}" : {
      "get" : {
        "description" : "<strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>\nGet an ad account",
        "operationId" : "ad_accounts/get",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdAccount"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get ad account",
        "tags" : [ "ad_accounts" ],
        "x-ratelimit-category" : "ads_read"
      }
    },
    "/ad_accounts/{ad_account_id}/analytics" : {
      "get" : {
        "description" : "Get analytics for the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId" : "ad_account/analytics",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.<br/>For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).<br/>If a column has no value, it may not be returned",
          "explode" : false,
          "in" : "query",
          "name" : "columns",
          "required" : true,
          "schema" : {
            "items" : {
              "description" : "Name of the reporting column",
              "enum" : [ "AD_ACCOUNT_ID", "AD_GROUP_ENTITY_STATUS", "AD_GROUP_ID", "AD_ID", "CAMPAIGN_DAILY_SPEND_CAP", "CAMPAIGN_ENTITY_STATUS", "CAMPAIGN_ID", "CAMPAIGN_LIFETIME_SPEND_CAP", "CAMPAIGN_NAME", "CHECKOUT_ROAS", "CLICKTHROUGH_1", "CLICKTHROUGH_1_GROSS", "CLICKTHROUGH_2", "CPC_IN_MICRO_DOLLAR", "CPM_IN_DOLLAR", "CPM_IN_MICRO_DOLLAR", "CTR", "CTR_2", "ECPCV_IN_DOLLAR", "ECPCV_P95_IN_DOLLAR", "ECPC_IN_DOLLAR", "ECPC_IN_MICRO_DOLLAR", "ECPE_IN_DOLLAR", "ECPM_IN_MICRO_DOLLAR", "ECPV_IN_DOLLAR", "ECTR", "EENGAGEMENT_RATE", "ENGAGEMENT_1", "ENGAGEMENT_2", "ENGAGEMENT_RATE", "IDEA_PIN_PRODUCT_TAG_VISIT_1", "IDEA_PIN_PRODUCT_TAG_VISIT_2", "IMPRESSION_1", "IMPRESSION_1_GROSS", "IMPRESSION_2", "INAPP_CHECKOUT_COST_PER_ACTION", "OUTBOUND_CLICK_1", "OUTBOUND_CLICK_2", "PAGE_VISIT_COST_PER_ACTION", "PAGE_VISIT_ROAS", "PAID_IMPRESSION", "PIN_ID", "REPIN_1", "REPIN_2", "REPIN_RATE", "SPEND_IN_DOLLAR", "SPEND_IN_MICRO_DOLLAR", "TOTAL_CHECKOUT", "TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICKTHROUGH", "TOTAL_CLICK_CHECKOUT", "TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_LEAD", "TOTAL_CLICK_SIGNUP", "TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CONVERSIONS", "TOTAL_CUSTOM", "TOTAL_ENGAGEMENT", "TOTAL_ENGAGEMENT_CHECKOUT", "TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_ENGAGEMENT_LEAD", "TOTAL_ENGAGEMENT_SIGNUP", "TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT", "TOTAL_IMPRESSION_FREQUENCY", "TOTAL_IMPRESSION_USER", "TOTAL_LEAD", "TOTAL_PAGE_VISIT", "TOTAL_REPIN_RATE", "TOTAL_SIGNUP", "TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIDEO_3SEC_VIEWS", "TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND", "TOTAL_VIDEO_MRC_VIEWS", "TOTAL_VIDEO_P0_COMBINED", "TOTAL_VIDEO_P100_COMPLETE", "TOTAL_VIDEO_P25_COMBINED", "TOTAL_VIDEO_P50_COMBINED", "TOTAL_VIDEO_P75_COMBINED", "TOTAL_VIDEO_P95_COMBINED", "TOTAL_VIEW_CHECKOUT", "TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_LEAD", "TOTAL_VIEW_SIGNUP", "TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_CHECKOUT", "TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_CLICK_CHECKOUT", "TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_ENGAGEMENT_CHECKOUT", "TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_SESSIONS", "TOTAL_WEB_VIEW_CHECKOUT", "TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "VIDEO_3SEC_VIEWS_2", "VIDEO_LENGTH", "VIDEO_MRC_VIEWS_2", "VIDEO_P0_COMBINED_2", "VIDEO_P100_COMPLETE_2", "VIDEO_P25_COMBINED_2", "VIDEO_P50_COMBINED_2", "VIDEO_P75_COMBINED_2", "VIDEO_P95_COMBINED_2", "WEB_CHECKOUT_COST_PER_ACTION", "WEB_CHECKOUT_ROAS", "WEB_SESSIONS_1", "WEB_SESSIONS_2" ],
              "example" : "SPEND_IN_DOLLAR",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Granularity",
          "example" : "DAY",
          "explode" : true,
          "in" : "query",
          "name" : "granularity",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Granularity"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "example" : 1,
          "explode" : true,
          "in" : "query",
          "name" : "click_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 1, 7, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "explode" : true,
          "in" : "query",
          "name" : "engagement_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 1, 7, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.",
          "explode" : true,
          "in" : "query",
          "name" : "view_window_days",
          "required" : false,
          "schema" : {
            "default" : 1,
            "enum" : [ 1, 7, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.",
          "example" : "TIME_OF_AD_ACTION",
          "explode" : true,
          "in" : "query",
          "name" : "conversion_report_time",
          "required" : false,
          "schema" : {
            "default" : "TIME_OF_AD_ACTION",
            "enum" : [ "TIME_OF_AD_ACTION", "TIME_OF_CONVERSION" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdAccountAnalyticsResponse"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid ad account analytics parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid ad account analytics parameters."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get ad account analytics",
        "tags" : [ "ad_accounts" ],
        "x-ratelimit-category" : "ads_analytics"
      }
    },
    "/ad_accounts/{ad_account_id}/campaigns" : {
      "get" : {
        "description" : "Get a list of the campaigns in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId" : "campaigns/list",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "List of Campaign Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "campaign_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Entity status",
          "explode" : true,
          "in" : "query",
          "name" : "entity_statuses",
          "required" : false,
          "schema" : {
            "items" : {
              "enum" : [ "ACTIVE", "PAUSED", "ARCHIVED" ],
              "example" : "ACTIVE",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/api/v5/#tag/Pagination'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The order in which to sort the items returned: “ASCENDING” or “DESCENDING”\nby ID. Note that higher-value IDs are associated with more-recently added\nitems.",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASCENDING", "DESCENDING" ],
            "example" : "ASCENDING",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/campaigns_list_200_response"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid ad account campaign parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid ad account campaign parameters."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "List campaigns",
        "tags" : [ "campaigns" ],
        "x-ratelimit-category" : "ads_read"
      },
      "patch" : {
        "description" : "<strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>\nUpdate multiple ad campaigns based on campaign_ids. <p/>\n<strong>Note:</strong><p/>\n- The values for 'lifetime_spend_cap' and 'daily_spend_cap' are microcurrency amounts based on the currency field set in the advertiser's profile. (e.g. USD) <p/>\nMicrocurrency is used to track very small transactions, based on the currency field set in the advertiser's profile.\nA microcurrency unit is one one-millionth of the standard unit of currency selected in the advertiser's profile (e.g. a microdollar is $0.000001.)",
        "operationId" : "campaigns/update",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "items" : {
                  "$ref" : "#/components/schemas/CampaignUpdateRequest"
                },
                "type" : "array"
              }
            }
          },
          "description" : "Array of campaigns.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CampaignUpdateResponse"
                }
              }
            },
            "description" : "response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Update campaigns",
        "tags" : [ "campaigns" ],
        "x-ratelimit-category" : "ads_write"
      },
      "post" : {
        "description" : "<strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>\nCreate multiple new campaigns. Every campaign has its own campaign_id and houses one or more ad groups, which contain one or more ads.\nFor more, see <a href=\"https://help.pinterest.com/en/business/article/set-up-your-campaign/\">Set up your campaign</a>. <p/>\n<strong>Note:</strong>\n- The values for 'lifetime_spend_cap' and 'daily_spend_cap' are microcurrency amounts based on the currency field set in the advertiser's profile. (e.g. USD) <p/>\nMicrocurrency is used to track very small transactions, based on the currency field set in the advertiser's profile.\nA microcurrency unit is one one-millionth of the standard unit of currency selected in the advertiser's profile (e.g. a microdollar is $0.000001.)",
        "operationId" : "campaigns/create",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "items" : {
                  "$ref" : "#/components/schemas/CampaignCreateRequest"
                },
                "type" : "array"
              }
            }
          },
          "description" : "Array of campaigns.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CampaignCreateResponse"
                }
              }
            },
            "description" : "response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
[...]
