{
  "openapi" : "3.0.3",
  "info" : {
    "contact" : {
      "email" : "blah+oapicf@cliffano.com",
      "name" : "OpenAPI Clients Factory",
      "url" : "https://github.com/oapicf/pinterest-sdk"
    },
    "description" : "Pinterest's REST API",
    "license" : {
      "name" : "MIT",
      "url" : "https://spdx.org/licenses/MIT"
    },
    "termsOfService" : "https://developers.pinterest.com/terms/",
    "title" : "Pinterest REST API",
    "version" : "5.14.0"
  },
  "servers" : [ {
    "url" : "https://api.pinterest.com/v5"
  } ],
  "tags" : [ {
    "description" : "View analytical information about advertising.\n\n\nNote: If the current operation_user_account (defined by the access token)\nhas access to another user's Ad Accounts via\n<a href='/docs/getting-started/using-business-access/'>Pinterest Business Access</a>,\nyou can modify your request to use the current operation_user_account's\npermissions to those Ad Accounts by including the ad_account_id in the path\nparameters for the request (e.g. .../?ad_account_id=12345&...).",
    "name" : "ad_accounts"
  }, {
    "description" : "View, create or update ad groups.",
    "name" : "ad_groups"
  }, {
    "description" : "View, create or update ads.",
    "name" : "ads"
  }, {
    "description" : "View, create, or update advanced auction item bid options.",
    "name" : "advanced_auction"
  }, {
    "description" : "View audience insights.",
    "name" : "audience_insights"
  }, {
    "description" : "View, share, or revoke shared audiences.<br>\nAudience Sharing endpoints are not available to all apps,\nif you are interested in using them, reach out to us on our help center page.\n<a href='/docs/getting-started/beta-and-advanced-access/'>Learn more</a>.",
    "name" : "audience_sharing"
  }, {
    "description" : "View, create, or update audiences.",
    "name" : "audiences"
  }, {
    "description" : "View, create, or update information related to billing.",
    "name" : "billing"
  }, {
    "description" : "View, create, update, or delete information about boards.",
    "name" : "boards"
  }, {
    "description" : "Create, update, or download ads-related entities in bulk.",
    "name" : "bulk"
  }, {
    "description" : "View, create or update campaigns.",
    "name" : "campaigns"
  }, {
    "description" : "Manage information about shopping product catalogs and items.",
    "name" : "catalogs"
  }, {
    "description" : "Submit conversion events via the Pinterest API.",
    "name" : "conversion_events"
  }, {
    "description" : "View, create, or update conversion tags.",
    "name" : "conversion_tags"
  }, {
    "description" : "View, create, or update customer lists.",
    "name" : "customer_lists"
  }, {
    "description" : "View, create, or update commerce integrations.",
    "name" : "integrations"
  }, {
    "description" : "View, create or update keywords.",
    "name" : "keywords"
  }, {
    "description" : "View, create, or update lead ads.",
    "name" : "lead_ads"
  }, {
    "description" : "View lead forms.",
    "name" : "lead_forms"
  }, {
    "description" : "Create and export leads information from lead ads.",
    "name" : "leads_export"
  }, {
    "description" : "Register and manage media uploads.",
    "name" : "media"
  }, {
    "description" : "Generate and refresh OAuth access tokens.",
    "name" : "oauth"
  }, {
    "description" : "View order lines.",
    "name" : "order_lines"
  }, {
    "description" : "View, create, update, or delete information about Pins.",
    "name" : "pins"
  }, {
    "description" : "View, create, update, or delete information about promoted product groups.",
    "name" : "product_group_promotions"
  }, {
    "description" : "View metadata about available metrics and targeting options in the Pinterest API.",
    "name" : "resources"
  }, {
    "description" : "Search for Pins and boards owned by the current user.",
    "name" : "search"
  }, {
    "description" : "View, create or update targeting templates.",
    "name" : "targeting_template"
  }, {
    "description" : "View related and suggested terms for ads targeting.",
    "name" : "terms"
  }, {
    "description" : "View Advertising Terms Of Service.",
    "name" : "terms_of_service"
  }, {
    "description" : "View user accounts associated with a given access token.",
    "name" : "user_account"
  } ],
  "paths" : {
    "/ad_accounts" : {
      "get" : {
        "description" : "Get a list of the ad_accounts that the \"operation user_account\" has access to.\n- This includes ad_accounts they own and ad_accounts that are owned by others who have granted them <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>.",
        "operationId" : "ad_accounts/list",
        "parameters" : [ {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 250,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Include shared ad accounts",
          "explode" : true,
          "in" : "query",
          "name" : "include_shared_accounts",
          "required" : false,
          "schema" : {
            "default" : true,
            "type" : "boolean"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ad_accounts_list_200_response"
                }
              }
            },
            "description" : "response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "List ad accounts",
        "tags" : [ "ad_accounts" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled"
      },
      "post" : {
        "description" : "Create a new ad account. Different ad accounts can support different currencies, payment methods, etc.\nAn ad account is needed to create campaigns, ad groups, and ads; other accounts (your employees or partners) can be assigned business access and appropriate roles to access an ad account. <p/>\nYou can set up up to 50 ad accounts per user. (The user must have a business account to create an ad account.) <p/>\nFor more, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/create-an-advertiser-account\">Create an advertiser account</a>.",
        "operationId" : "ad_accounts/create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdAccountCreateRequest"
              }
            }
          },
          "description" : "Ad account to create.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdAccount"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Create ad account",
        "tags" : [ "ad_accounts" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}" : {
      "get" : {
        "description" : "Get an ad account",
        "operationId" : "ad_accounts/get",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdAccount"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get ad account",
        "tags" : [ "ad_accounts" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups" : {
      "get" : {
        "description" : "List ad groups based on provided campaign IDs or ad group IDs.(campaign_ids or ad_group_ids). <p/>\n<strong>Note:</strong><p/>\nProvide only campaign_id or ad_group_id. Do not provide both.",
        "operationId" : "ad_groups/list",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "List of Campaign Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "campaign_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "maxLength" : 18,
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "List of Ad group Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_group_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Entity status",
          "explode" : true,
          "in" : "query",
          "name" : "entity_statuses",
          "required" : false,
          "schema" : {
            "default" : [ "ACTIVE", "PAUSED" ],
            "items" : {
              "enum" : [ "ACTIVE", "PAUSED", "ARCHIVED", "DRAFT", "DELETED_DRAFT" ],
              "example" : "ACTIVE",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 250,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The order in which to sort the items returned: “ASCENDING” or “DESCENDING”\nby ID. Note that higher-value IDs are associated with more-recently added\nitems.",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASCENDING", "DESCENDING" ],
            "example" : "ASCENDING",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Return interests as text names (if value is true) rather than topic IDs.",
          "explode" : true,
          "in" : "query",
          "name" : "translate_interests_to_names",
          "required" : false,
          "schema" : {
            "default" : false,
            "type" : "boolean"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ad_groups_list_200_response"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid ad account group parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid ad account group parameters."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "List ad groups",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled"
      },
      "patch" : {
        "description" : "Update multiple existing ad groups.",
        "operationId" : "ad_groups/update",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "items" : {
                  "$ref" : "#/components/schemas/AdGroupUpdateRequest"
                },
                "maxItems" : 30,
                "minItems" : 1,
                "type" : "array"
              }
            }
          },
          "description" : "List of ad groups to update, size limit [1, 30].",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdGroupArrayResponse"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Update ad groups",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled"
      },
      "post" : {
        "description" : "Create multiple new ad groups. All ads in a given ad group will have the same budget, bid, run dates, targeting, and placement (search, browse, other). For more information, <a href=\"https://help.pinterest.com/en/business/article/campaign-structure\" target=\"_blank\"> click here</a>.</p>\n<strong>Note:</strong>\n- 'bid_in_micro_currency' and 'budget_in_micro_currency' should be expressed in microcurrency amounts based on the currency field set in the advertiser's profile.<p/>\n<p>Microcurrency is used to track very small transactions, based on the currency set in the advertiser’s profile.</p>\n<p>A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser’s profile.</p>\n <p><strong>Equivalency equations</strong>, using dollars as an example currency:</p>\n<ul>\n  <li>$1 = 1,000,000 microdollars</li>\n  <li>1 microdollar = $0.000001 </li>\n</ul>\n<p><strong>To convert between currency and microcurrency</strong>, using dollars as an example currency:</p>\n<ul>\n  <li>To convert dollars to microdollars, mutiply dollars by 1,000,000</li>\n  <li>To convert microdollars to dollars, divide microdollars by 1,000,000</li>\n</ul>\n- Ad groups belong to ad campaigns. Some types of campaigns (e.g. budget optimization) have limits on the number of ad groups they can hold. If you exceed those limits, you will get an error message.\n- Start and end time cannot be set for ad groups that belong to CBO campaigns. Currently, campaigns with the following objective types: TRAFFIC, AWARENESS, WEB_CONVERSIONS, and CATALOG_SALES will default to CBO.",
        "operationId" : "ad_groups/create",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "items" : {
                  "$ref" : "#/components/schemas/AdGroupCreateRequest"
                },
                "maxItems" : 30,
                "minItems" : 1,
                "type" : "array"
              }
            }
          },
          "description" : "List of ad groups to create, size limit [1, 30].",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdGroupArrayResponse"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Create ad groups",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/analytics" : {
      "get" : {
        "description" : "Get analytics for the specified ad groups in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.\n- If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days.\n- If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.",
        "operationId" : "ad_groups/analytics",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "List of Ad group Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_group_ids",
          "required" : true,
          "schema" : {
            "items" : {
              "maxLength" : 18,
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.<br/>For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).<br/>If a column has no value, it may not be returned",
          "explode" : false,
          "in" : "query",
          "name" : "columns",
          "required" : true,
          "schema" : {
            "items" : {
              "description" : "Reporting columns for sync reporting endpoints",
              "enum" : [ "SPEND_IN_MICRO_DOLLAR", "PAID_IMPRESSION", "SPEND_IN_DOLLAR", "CPC_IN_MICRO_DOLLAR", "ECPC_IN_MICRO_DOLLAR", "ECPC_IN_DOLLAR", "CTR", "ECTR", "CAMPAIGN_NAME", "PIN_ID", "TOTAL_ENGAGEMENT", "ENGAGEMENT_1", "ENGAGEMENT_2", "ECPE_IN_DOLLAR", "ENGAGEMENT_RATE", "EENGAGEMENT_RATE", "ECPM_IN_MICRO_DOLLAR", "REPIN_RATE", "CTR_2", "CAMPAIGN_ID", "ADVERTISER_ID", "AD_ACCOUNT_ID", "PIN_PROMOTION_ID", "AD_ID", "AD_GROUP_ID", "CAMPAIGN_ENTITY_STATUS", "CAMPAIGN_OBJECTIVE_TYPE", "CPM_IN_MICRO_DOLLAR", "CPM_IN_DOLLAR", "AD_GROUP_ENTITY_STATUS", "ORDER_LINE_ID", "ORDER_LINE_NAME", "CLICKTHROUGH_1", "REPIN_1", "IMPRESSION_1", "IMPRESSION_1_GROSS", "CLICKTHROUGH_1_GROSS", "OUTBOUND_CLICK_1", "CLICKTHROUGH_2", "REPIN_2", "IMPRESSION_2", "OUTBOUND_CLICK_2", "TOTAL_CLICKTHROUGH", "TOTAL_IMPRESSION", "TOTAL_IMPRESSION_USER", "TOTAL_IMPRESSION_FREQUENCY", "COST_PER_OUTBOUND_CLICK_IN_DOLLAR", "TOTAL_ENGAGEMENT_SIGNUP", "TOTAL_ENGAGEMENT_CHECKOUT", "TOTAL_ENGAGEMENT_LEAD", "TOTAL_CLICK_SIGNUP", "TOTAL_CLICK_CHECKOUT", "TOTAL_CLICK_ADD_TO_CART", "TOTAL_CLICK_LEAD", "TOTAL_VIEW_SIGNUP", "TOTAL_VIEW_CHECKOUT", "TOTAL_VIEW_ADD_TO_CART", "TOTAL_VIEW_LEAD", "TOTAL_CONVERSIONS", "TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_SESSIONS", "WEB_SESSIONS_1", "WEB_SESSIONS_2", "CAMPAIGN_LIFETIME_SPEND_CAP", "CAMPAIGN_DAILY_SPEND_CAP", "TOTAL_PAGE_VISIT", "TOTAL_SIGNUP", "TOTAL_CHECKOUT", "TOTAL_CUSTOM", "TOTAL_LEAD", "TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CUSTOM_VALUE_IN_MICRO_DOLLAR", "PAGE_VISIT_COST_PER_ACTION", "PAGE_VISIT_ROAS", "CHECKOUT_ROAS", "CUSTOM_ROAS", "VIDEO_MRC_VIEWS_1", "VIDEO_3SEC_VIEWS_2", "VIDEO_P100_COMPLETE_2", "VIDEO_P0_COMBINED_2", "VIDEO_P25_COMBINED_2", "VIDEO_P50_COMBINED_2", "VIDEO_P75_COMBINED_2", "VIDEO_P95_COMBINED_2", "VIDEO_MRC_VIEWS_2", "PAID_VIDEO_VIEWABLE_RATE", "VIDEO_LENGTH", "ECPV_IN_DOLLAR", "ECPCV_IN_DOLLAR", "ECPCV_P95_IN_DOLLAR", "TOTAL_VIDEO_3SEC_VIEWS", "TOTAL_VIDEO_P100_COMPLETE", "TOTAL_VIDEO_P0_COMBINED", "TOTAL_VIDEO_P25_COMBINED", "TOTAL_VIDEO_P50_COMBINED", "TOTAL_VIDEO_P75_COMBINED", "TOTAL_VIDEO_P95_COMBINED", "TOTAL_VIDEO_MRC_VIEWS", "TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND", "TOTAL_REPIN_RATE", "WEB_CHECKOUT_COST_PER_ACTION", "WEB_CHECKOUT_ROAS", "TOTAL_WEB_CHECKOUT", "TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_CLICK_CHECKOUT", "TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_ENGAGEMENT_CHECKOUT", "TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_VIEW_CHECKOUT", "TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "INAPP_CHECKOUT_COST_PER_ACTION", "TOTAL_OFFLINE_CHECKOUT", "IDEA_PIN_PRODUCT_TAG_VISIT_1", "IDEA_PIN_PRODUCT_TAG_VISIT_2", "TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT", "LEADS", "COST_PER_LEAD", "QUIZ_COMPLETED", "QUIZ_PIN_RESULT_OPEN", "QUIZ_COMPLETION_RATE", "SHOWCASE_PIN_CLICKTHROUGH", "SHOWCASE_SUBPAGE_CLICKTHROUGH", "SHOWCASE_SUBPIN_CLICKTHROUGH", "SHOWCASE_SUBPAGE_IMPRESSION", "SHOWCASE_SUBPIN_IMPRESSION", "SHOWCASE_SUBPAGE_SWIPE_LEFT", "SHOWCASE_SUBPAGE_SWIPE_RIGHT", "SHOWCASE_SUBPIN_SWIPE_LEFT", "SHOWCASE_SUBPIN_SWIPE_RIGHT", "SHOWCASE_SUBPAGE_REPIN", "SHOWCASE_SUBPIN_REPIN", "SHOWCASE_SUBPAGE_CLOSEUP", "SHOWCASE_CARD_THUMBNAIL_SWIPE_FORWARD", "SHOWCASE_CARD_THUMBNAIL_SWIPE_BACKWARD", "SHOWCASE_AVERAGE_SUBPAGE_CLOSEUP_PER_SESSION", "TOTAL_CHECKOUT_CONVERSION_RATE", "TOTAL_VIEW_CATEGORY_CONVERSION_RATE", "TOTAL_ADD_TO_CART_CONVERSION_RATE", "TOTAL_SIGNUP_CONVERSION_RATE", "TOTAL_PAGE_VISIT_CONVERSION_RATE", "TOTAL_LEAD_CONVERSION_RATE", "TOTAL_SEARCH_CONVERSION_RATE", "TOTAL_WATCH_VIDEO_CONVERSION_RATE", "TOTAL_UNKNOWN_CONVERSION_RATE", "TOTAL_CUSTOM_CONVERSION_RATE" ],
              "example" : "TOTAL_CONVERSIONS",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "TOTAL - metrics are aggregated over the specified date range.<br> DAY - metrics are broken down daily.<br> HOUR - metrics are broken down hourly.<br>WEEKLY - metrics are broken down weekly.<br>MONTHLY - metrics are broken down monthly",
          "example" : "DAY",
          "explode" : true,
          "in" : "query",
          "name" : "granularity",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Granularity"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "example" : 1,
          "explode" : true,
          "in" : "query",
          "name" : "click_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "explode" : true,
          "in" : "query",
          "name" : "engagement_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.",
          "explode" : true,
          "in" : "query",
          "name" : "view_window_days",
          "required" : false,
          "schema" : {
            "default" : 1,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.",
          "example" : "TIME_OF_AD_ACTION",
          "explode" : true,
          "in" : "query",
          "name" : "conversion_report_time",
          "required" : false,
          "schema" : {
            "default" : "TIME_OF_AD_ACTION",
            "enum" : [ "TIME_OF_AD_ACTION", "TIME_OF_CONVERSION" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdGroupsAnalyticsResponse"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid ad account group analytics parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid ad account group analytics parameters."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get ad group analytics",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_analytics",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/targeting_analytics" : {
      "get" : {
        "description" : "Get targeting analytics for one or more ad groups.\nFor the requested ad group(s) and metrics, the response will include the requested metric information\n(e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \"age_bucket\") for applicable values (e.g. \"45-49\"). <p/>\n- The token's user_account must either be the Owner of the specified ad account, or have one\nof the necessary roles granted to them via\n<a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.\n- If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days.\n- If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.",
        "operationId" : "ad_groups_targeting_analytics/get",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "List of Ad group Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_group_ids",
          "required" : true,
          "schema" : {
            "items" : {
              "maxLength" : 18,
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Targeting type breakdowns for the report. The reporting per targeting type <br> is independent from each other. [\"AGE_BUCKET_AND_GENDER\"] is in BETA and not yet available to all users.",
          "explode" : false,
          "in" : "query",
          "name" : "targeting_types",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/AdsAnalyticsTargetingType"
            },
            "maxItems" : 15,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.<br/>For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).<br/>If a column has no value, it may not be returned",
          "explode" : false,
          "in" : "query",
          "name" : "columns",
          "required" : true,
          "schema" : {
            "items" : {
              "description" : "Reporting columns for sync reporting endpoints",
              "enum" : [ "SPEND_IN_MICRO_DOLLAR", "PAID_IMPRESSION", "SPEND_IN_DOLLAR", "CPC_IN_MICRO_DOLLAR", "ECPC_IN_MICRO_DOLLAR", "ECPC_IN_DOLLAR", "CTR", "ECTR", "CAMPAIGN_NAME", "PIN_ID", "TOTAL_ENGAGEMENT", "ENGAGEMENT_1", "ENGAGEMENT_2", "ECPE_IN_DOLLAR", "ENGAGEMENT_RATE", "EENGAGEMENT_RATE", "ECPM_IN_MICRO_DOLLAR", "REPIN_RATE", "CTR_2", "CAMPAIGN_ID", "ADVERTISER_ID", "AD_ACCOUNT_ID", "PIN_PROMOTION_ID", "AD_ID", "AD_GROUP_ID", "CAMPAIGN_ENTITY_STATUS", "CAMPAIGN_OBJECTIVE_TYPE", "CPM_IN_MICRO_DOLLAR", "CPM_IN_DOLLAR", "AD_GROUP_ENTITY_STATUS", "ORDER_LINE_ID", "ORDER_LINE_NAME", "CLICKTHROUGH_1", "REPIN_1", "IMPRESSION_1", "IMPRESSION_1_GROSS", "CLICKTHROUGH_1_GROSS", "OUTBOUND_CLICK_1", "CLICKTHROUGH_2", "REPIN_2", "IMPRESSION_2", "OUTBOUND_CLICK_2", "TOTAL_CLICKTHROUGH", "TOTAL_IMPRESSION", "TOTAL_IMPRESSION_USER", "TOTAL_IMPRESSION_FREQUENCY", "COST_PER_OUTBOUND_CLICK_IN_DOLLAR", "TOTAL_ENGAGEMENT_SIGNUP", "TOTAL_ENGAGEMENT_CHECKOUT", "TOTAL_ENGAGEMENT_LEAD", "TOTAL_CLICK_SIGNUP", "TOTAL_CLICK_CHECKOUT", "TOTAL_CLICK_ADD_TO_CART", "TOTAL_CLICK_LEAD", "TOTAL_VIEW_SIGNUP", "TOTAL_VIEW_CHECKOUT", "TOTAL_VIEW_ADD_TO_CART", "TOTAL_VIEW_LEAD", "TOTAL_CONVERSIONS", "TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_SESSIONS", "WEB_SESSIONS_1", "WEB_SESSIONS_2", "CAMPAIGN_LIFETIME_SPEND_CAP", "CAMPAIGN_DAILY_SPEND_CAP", "TOTAL_PAGE_VISIT", "TOTAL_SIGNUP", "TOTAL_CHECKOUT", "TOTAL_CUSTOM", "TOTAL_LEAD", "TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CUSTOM_VALUE_IN_MICRO_DOLLAR", "PAGE_VISIT_COST_PER_ACTION", "PAGE_VISIT_ROAS", "CHECKOUT_ROAS", "CUSTOM_ROAS", "VIDEO_MRC_VIEWS_1", "VIDEO_3SEC_VIEWS_2", "VIDEO_P100_COMPLETE_2", "VIDEO_P0_COMBINED_2", "VIDEO_P25_COMBINED_2", "VIDEO_P50_COMBINED_2", "VIDEO_P75_COMBINED_2", "VIDEO_P95_COMBINED_2", "VIDEO_MRC_VIEWS_2", "PAID_VIDEO_VIEWABLE_RATE", "VIDEO_LENGTH", "ECPV_IN_DOLLAR", "ECPCV_IN_DOLLAR", "ECPCV_P95_IN_DOLLAR", "TOTAL_VIDEO_3SEC_VIEWS", "TOTAL_VIDEO_P100_COMPLETE", "TOTAL_VIDEO_P0_COMBINED", "TOTAL_VIDEO_P25_COMBINED", "TOTAL_VIDEO_P50_COMBINED", "TOTAL_VIDEO_P75_COMBINED", "TOTAL_VIDEO_P95_COMBINED", "TOTAL_VIDEO_MRC_VIEWS", "TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND", "TOTAL_REPIN_RATE", "WEB_CHECKOUT_COST_PER_ACTION", "WEB_CHECKOUT_ROAS", "TOTAL_WEB_CHECKOUT", "TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_CLICK_CHECKOUT", "TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_ENGAGEMENT_CHECKOUT", "TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_VIEW_CHECKOUT", "TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "INAPP_CHECKOUT_COST_PER_ACTION", "TOTAL_OFFLINE_CHECKOUT", "IDEA_PIN_PRODUCT_TAG_VISIT_1", "IDEA_PIN_PRODUCT_TAG_VISIT_2", "TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT", "LEADS", "COST_PER_LEAD", "QUIZ_COMPLETED", "QUIZ_PIN_RESULT_OPEN", "QUIZ_COMPLETION_RATE", "SHOWCASE_PIN_CLICKTHROUGH", "SHOWCASE_SUBPAGE_CLICKTHROUGH", "SHOWCASE_SUBPIN_CLICKTHROUGH", "SHOWCASE_SUBPAGE_IMPRESSION", "SHOWCASE_SUBPIN_IMPRESSION", "SHOWCASE_SUBPAGE_SWIPE_LEFT", "SHOWCASE_SUBPAGE_SWIPE_RIGHT", "SHOWCASE_SUBPIN_SWIPE_LEFT", "SHOWCASE_SUBPIN_SWIPE_RIGHT", "SHOWCASE_SUBPAGE_REPIN", "SHOWCASE_SUBPIN_REPIN", "SHOWCASE_SUBPAGE_CLOSEUP", "SHOWCASE_CARD_THUMBNAIL_SWIPE_FORWARD", "SHOWCASE_CARD_THUMBNAIL_SWIPE_BACKWARD", "SHOWCASE_AVERAGE_SUBPAGE_CLOSEUP_PER_SESSION", "TOTAL_CHECKOUT_CONVERSION_RATE", "TOTAL_VIEW_CATEGORY_CONVERSION_RATE", "TOTAL_ADD_TO_CART_CONVERSION_RATE", "TOTAL_SIGNUP_CONVERSION_RATE", "TOTAL_PAGE_VISIT_CONVERSION_RATE", "TOTAL_LEAD_CONVERSION_RATE", "TOTAL_SEARCH_CONVERSION_RATE", "TOTAL_WATCH_VIDEO_CONVERSION_RATE", "TOTAL_UNKNOWN_CONVERSION_RATE", "TOTAL_CUSTOM_CONVERSION_RATE" ],
              "example" : "TOTAL_CONVERSIONS",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "TOTAL - metrics are aggregated over the specified date range.<br> DAY - metrics are broken down daily.<br> HOUR - metrics are broken down hourly.<br>WEEKLY - metrics are broken down weekly.<br>MONTHLY - metrics are broken down monthly",
          "example" : "DAY",
          "explode" : true,
          "in" : "query",
          "name" : "granularity",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Granularity"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "example" : 1,
          "explode" : true,
          "in" : "query",
          "name" : "click_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "explode" : true,
          "in" : "query",
          "name" : "engagement_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.",
          "explode" : true,
          "in" : "query",
          "name" : "view_window_days",
          "required" : false,
          "schema" : {
            "default" : 1,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.",
          "example" : "TIME_OF_AD_ACTION",
          "explode" : true,
          "in" : "query",
          "name" : "conversion_report_time",
          "required" : false,
          "schema" : {
            "default" : "TIME_OF_AD_ACTION",
            "enum" : [ "TIME_OF_AD_ACTION", "TIME_OF_CONVERSION" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "List of types of attribution for the conversion report",
          "explode" : false,
          "in" : "query",
          "name" : "attribution_types",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ConversionReportAttributionType"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricsResponse"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get targeting analytics for ad groups",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_analytics",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/audience_sizing" : {
      "post" : {
        "description" : "Get potential audience size for an ad group with given targeting criteria. \nPotential audience size estimates the number of people you may be able to reach per month with your campaign. \nIt is based on historical advertising data and the targeting criteria you select.\nIt does not guarantee results or take into account factors such as bid, budget, schedule, seasonality or product experiments.",
        "operationId" : "ad_groups/audience_sizing",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdGroupAudienceSizingRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdGroupAudienceSizingResponse"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid ad group audience sizing parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid ad group audience sizing parameters."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 403,
                  "message" : "You don't have access to the requested audience list or product group."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "No access to requested audience list or product group."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get audience sizing",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}" : {
      "get" : {
        "description" : "Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will\ncontain additional information from the Ad Review process.\nFor more information about our policies and rejection reasons see the <a href=\"https://www.pinterest.com/_/_/policy/advertising-guidelines/\" target=\"_blank\">Pinterest advertising standards</a>.",
        "operationId" : "ad_groups/get",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier of an ad group.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_group_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdGroupResponse"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get ad group",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_previews" : {
      "post" : {
        "description" : "Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad. <p/>\nIf you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See <a href=\"https://help.pinterest.com/en/business/article/promoted-pins-overview\" target=\"_blank\">Ads Overview</a>.) <p/>\nYou can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires. Collection ads are not currently supported ad preview.",
        "operationId" : "ad_previews/create",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdPreviewRequest"
              }
            }
          },
          "description" : "Create ad preview with pin or image.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdPreviewURLResponse"
                }
              }
            },
            "description" : "Successful ad preview creation."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "InvalidPinUrl" : {
                    "value" : {
                      "code" : 1,
                      "message" : "Whoops! It looks like you entered an invalid URL. Try creating a Pin again with a valid URL."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid Pin parameters response"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Create ad preview with pin or image",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads" : {
      "get" : {
        "description" : "List ads that meet the filters provided:\n  - Listed campaign ids or ad group ids or ad ids\n  - Listed entity statuses <p/>\nIf no filter is provided, all ads in the ad account are returned. <p/>\n<strong>Note:</strong><p/>\nProvide only campaign_id or ad_group_id or ad_id. Do not provide more than one type. <p/>\nReview status is provided for each ad; if review_status is REJECTED, the rejected_reasons field will contain additional information.\nFor more, see <a href=\"https://policy.pinterest.com/en/advertising-guidelines\">Pinterest advertising standards</a>.",
        "operationId" : "ads/list",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "List of Campaign Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "campaign_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "maxLength" : 18,
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "List of Ad group Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_group_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "List of Ad Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Entity status",
          "explode" : true,
          "in" : "query",
          "name" : "entity_statuses",
          "required" : false,
          "schema" : {
            "default" : [ "ACTIVE", "PAUSED" ],
            "items" : {
              "enum" : [ "ACTIVE", "PAUSED", "ARCHIVED", "DRAFT", "DELETED_DRAFT" ],
              "example" : "ACTIVE",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 250,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The order in which to sort the items returned: “ASCENDING” or “DESCENDING”\nby ID. Note that higher-value IDs are associated with more-recently added\nitems.",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASCENDING", "DESCENDING" ],
            "example" : "ASCENDING",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ads_list_200_response"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid ad account ads parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid ad account ads parameters."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "List ads",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled"
      },
      "patch" : {
        "description" : "Update multiple existing ads",
        "operationId" : "ads/update",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "items" : {
                  "$ref" : "#/components/schemas/AdUpdateRequest"
                },
                "maxItems" : 30,
                "minItems" : 1,
                "type" : "array"
              }
            }
          },
          "description" : "List of ads to update, size limit [1, 30]",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdArrayResponse"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Update ads",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled"
      },
      "post" : {
        "description" : "Create multiple new ads. Request must contain ad_group_id, creative_type, and the source Pin pin_id.",
        "operationId" : "ads/create",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "items" : {
                  "$ref" : "#/components/schemas/AdCreateRequest"
                },
                "maxItems" : 30,
                "minItems" : 1,
                "type" : "array"
              }
            }
          },
          "description" : "List of ads to create, size limit [1, 30].",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdArrayResponse"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Create ads",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads/analytics" : {
      "get" : {
        "description" : "Get analytics for the specified ads in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.\n- The request must contain either ad_ids or both campaign_ids and pin_ids.\n- If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days.\n- If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.",
        "operationId" : "ads/analytics",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "List of Ad Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.<br/>For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).<br/>If a column has no value, it may not be returned",
          "explode" : false,
          "in" : "query",
          "name" : "columns",
          "required" : true,
          "schema" : {
            "items" : {
              "description" : "Reporting columns for sync reporting endpoints",
              "enum" : [ "SPEND_IN_MICRO_DOLLAR", "PAID_IMPRESSION", "SPEND_IN_DOLLAR", "CPC_IN_MICRO_DOLLAR", "ECPC_IN_MICRO_DOLLAR", "ECPC_IN_DOLLAR", "CTR", "ECTR", "CAMPAIGN_NAME", "PIN_ID", "TOTAL_ENGAGEMENT", "ENGAGEMENT_1", "ENGAGEMENT_2", "ECPE_IN_DOLLAR", "ENGAGEMENT_RATE", "EENGAGEMENT_RATE", "ECPM_IN_MICRO_DOLLAR", "REPIN_RATE", "CTR_2", "CAMPAIGN_ID", "ADVERTISER_ID", "AD_ACCOUNT_ID", "PIN_PROMOTION_ID", "AD_ID", "AD_GROUP_ID", "CAMPAIGN_ENTITY_STATUS", "CAMPAIGN_OBJECTIVE_TYPE", "CPM_IN_MICRO_DOLLAR", "CPM_IN_DOLLAR", "AD_GROUP_ENTITY_STATUS", "ORDER_LINE_ID", "ORDER_LINE_NAME", "CLICKTHROUGH_1", "REPIN_1", "IMPRESSION_1", "IMPRESSION_1_GROSS", "CLICKTHROUGH_1_GROSS", "OUTBOUND_CLICK_1", "CLICKTHROUGH_2", "REPIN_2", "IMPRESSION_2", "OUTBOUND_CLICK_2", "TOTAL_CLICKTHROUGH", "TOTAL_IMPRESSION", "TOTAL_IMPRESSION_USER", "TOTAL_IMPRESSION_FREQUENCY", "COST_PER_OUTBOUND_CLICK_IN_DOLLAR", "TOTAL_ENGAGEMENT_SIGNUP", "TOTAL_ENGAGEMENT_CHECKOUT", "TOTAL_ENGAGEMENT_LEAD", "TOTAL_CLICK_SIGNUP", "TOTAL_CLICK_CHECKOUT", "TOTAL_CLICK_ADD_TO_CART", "TOTAL_CLICK_LEAD", "TOTAL_VIEW_SIGNUP", "TOTAL_VIEW_CHECKOUT", "TOTAL_VIEW_ADD_TO_CART", "TOTAL_VIEW_LEAD", "TOTAL_CONVERSIONS", "TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_SESSIONS", "WEB_SESSIONS_1", "WEB_SESSIONS_2", "CAMPAIGN_LIFETIME_SPEND_CAP", "CAMPAIGN_DAILY_SPEND_CAP", "TOTAL_PAGE_VISIT", "TOTAL_SIGNUP", "TOTAL_CHECKOUT", "TOTAL_CUSTOM", "TOTAL_LEAD", "TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CUSTOM_VALUE_IN_MICRO_DOLLAR", "PAGE_VISIT_COST_PER_ACTION", "PAGE_VISIT_ROAS", "CHECKOUT_ROAS", "CUSTOM_ROAS", "VIDEO_MRC_VIEWS_1", "VIDEO_3SEC_VIEWS_2", "VIDEO_P100_COMPLETE_2", "VIDEO_P0_COMBINED_2", "VIDEO_P25_COMBINED_2", "VIDEO_P50_COMBINED_2", "VIDEO_P75_COMBINED_2", "VIDEO_P95_COMBINED_2", "VIDEO_MRC_VIEWS_2", "PAID_VIDEO_VIEWABLE_RATE", "VIDEO_LENGTH", "ECPV_IN_DOLLAR", "ECPCV_IN_DOLLAR", "ECPCV_P95_IN_DOLLAR", "TOTAL_VIDEO_3SEC_VIEWS", "TOTAL_VIDEO_P100_COMPLETE", "TOTAL_VIDEO_P0_COMBINED", "TOTAL_VIDEO_P25_COMBINED", "TOTAL_VIDEO_P50_COMBINED", "TOTAL_VIDEO_P75_COMBINED", "TOTAL_VIDEO_P95_COMBINED", "TOTAL_VIDEO_MRC_VIEWS", "TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND", "TOTAL_REPIN_RATE", "WEB_CHECKOUT_COST_PER_ACTION", "WEB_CHECKOUT_ROAS", "TOTAL_WEB_CHECKOUT", "TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_CLICK_CHECKOUT", "TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_ENGAGEMENT_CHECKOUT", "TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_VIEW_CHECKOUT", "TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "INAPP_CHECKOUT_COST_PER_ACTION", "TOTAL_OFFLINE_CHECKOUT", "IDEA_PIN_PRODUCT_TAG_VISIT_1", "IDEA_PIN_PRODUCT_TAG_VISIT_2", "TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT", "LEADS", "COST_PER_LEAD", "QUIZ_COMPLETED", "QUIZ_PIN_RESULT_OPEN", "QUIZ_COMPLETION_RATE", "SHOWCASE_PIN_CLICKTHROUGH", "SHOWCASE_SUBPAGE_CLICKTHROUGH", "SHOWCASE_SUBPIN_CLICKTHROUGH", "SHOWCASE_SUBPAGE_IMPRESSION", "SHOWCASE_SUBPIN_IMPRESSION", "SHOWCASE_SUBPAGE_SWIPE_LEFT", "SHOWCASE_SUBPAGE_SWIPE_RIGHT", "SHOWCASE_SUBPIN_SWIPE_LEFT", "SHOWCASE_SUBPIN_SWIPE_RIGHT", "SHOWCASE_SUBPAGE_REPIN", "SHOWCASE_SUBPIN_REPIN", "SHOWCASE_SUBPAGE_CLOSEUP", "SHOWCASE_CARD_THUMBNAIL_SWIPE_FORWARD", "SHOWCASE_CARD_THUMBNAIL_SWIPE_BACKWARD", "SHOWCASE_AVERAGE_SUBPAGE_CLOSEUP_PER_SESSION", "TOTAL_CHECKOUT_CONVERSION_RATE", "TOTAL_VIEW_CATEGORY_CONVERSION_RATE", "TOTAL_ADD_TO_CART_CONVERSION_RATE", "TOTAL_SIGNUP_CONVERSION_RATE", "TOTAL_PAGE_VISIT_CONVERSION_RATE", "TOTAL_LEAD_CONVERSION_RATE", "TOTAL_SEARCH_CONVERSION_RATE", "TOTAL_WATCH_VIDEO_CONVERSION_RATE", "TOTAL_UNKNOWN_CONVERSION_RATE", "TOTAL_CUSTOM_CONVERSION_RATE" ],
              "example" : "TOTAL_CONVERSIONS",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "TOTAL - metrics are aggregated over the specified date range.<br> DAY - metrics are broken down daily.<br> HOUR - metrics are broken down hourly.<br>WEEKLY - metrics are broken down weekly.<br>MONTHLY - metrics are broken down monthly",
          "example" : "DAY",
          "explode" : true,
          "in" : "query",
          "name" : "granularity",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Granularity"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "example" : 1,
          "explode" : true,
          "in" : "query",
          "name" : "click_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "explode" : true,
          "in" : "query",
          "name" : "engagement_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.",
          "explode" : true,
          "in" : "query",
          "name" : "view_window_days",
          "required" : false,
          "schema" : {
            "default" : 1,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.",
          "example" : "TIME_OF_AD_ACTION",
          "explode" : true,
          "in" : "query",
          "name" : "conversion_report_time",
          "required" : false,
          "schema" : {
            "default" : "TIME_OF_AD_ACTION",
            "enum" : [ "TIME_OF_AD_ACTION", "TIME_OF_CONVERSION" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "List of Pin IDs.",
          "explode" : true,
          "in" : "query",
          "name" : "pin_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "List of Campaign Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "campaign_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "maxLength" : 18,
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdsAnalyticsResponse"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "code" : 400,
                  "message" : "Invalid ad account ads analytics parameters."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Invalid ad account ads analytics parameters."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get ad analytics",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_analytics",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads_credit/discounts" : {
      "get" : {
        "description" : "Returns the list of discounts applied to the account.\n\n<strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/beta-and-advanced-access/'>Learn more</a>.</strong>",
        "operationId" : "ads_credits_discounts/get",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 250,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ads_credits_discounts_get_200_response"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read", "billing:read" ]
        } ],
        "summary" : "Get ads credit discounts",
        "tags" : [ "billing" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads_credit/redeem" : {
      "post" : {
        "description" : "Redeem ads credit on behalf of the ad account id and apply it towards billing.\n\n<strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/beta-and-advanced-access/'>Learn more</a>.</strong>",
        "operationId" : "ads_credit/redeem",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdsCreditRedeemRequest"
              }
            }
          },
          "description" : "Redeem ad credits request.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdsCreditRedeemResponse"
                }
              }
            },
            "description" : "Successfully redeemed ad credits."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "ValidationError" : {
                    "value" : {
                      "code" : 15,
                      "message" : "Unable to redeem offer code. Try again later."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Error thrown when unable to redeem offer code."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write", "billing:write" ]
        } ],
        "summary" : "Redeem ad credits",
        "tags" : [ "billing" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads/targeting_analytics" : {
      "get" : {
        "description" : "Get targeting analytics for one or more ads. For the requested ad(s) and metrics,\nthe response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type\n(e.g. \"age_bucket\") for applicable values (e.g. \"45-49\"). <p/>\n- The token's user_account must either be the Owner of the specified ad account, or have one\nof the necessary roles granted to them via\n<a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.\n- If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days.\n- If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.",
        "operationId" : "ad_targeting_analytics/get",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "List of Ad Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_ids",
          "required" : true,
          "schema" : {
            "items" : {
              "pattern" : "^\\d+$",
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Targeting type breakdowns for the report. The reporting per targeting type <br> is independent from each other. [\"AGE_BUCKET_AND_GENDER\"] is in BETA and not yet available to all users.",
          "explode" : false,
          "in" : "query",
          "name" : "targeting_types",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/AdsAnalyticsAdTargetingType"
            },
            "maxItems" : 14,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.<br/>For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).<br/>If a column has no value, it may not be returned",
          "explode" : false,
          "in" : "query",
          "name" : "columns",
          "required" : true,
          "schema" : {
            "items" : {
              "description" : "Reporting columns for sync reporting endpoints",
              "enum" : [ "SPEND_IN_MICRO_DOLLAR", "PAID_IMPRESSION", "SPEND_IN_DOLLAR", "CPC_IN_MICRO_DOLLAR", "ECPC_IN_MICRO_DOLLAR", "ECPC_IN_DOLLAR", "CTR", "ECTR", "CAMPAIGN_NAME", "PIN_ID", "TOTAL_ENGAGEMENT", "ENGAGEMENT_1", "ENGAGEMENT_2", "ECPE_IN_DOLLAR", "ENGAGEMENT_RATE", "EENGAGEMENT_RATE", "ECPM_IN_MICRO_DOLLAR", "REPIN_RATE", "CTR_2", "CAMPAIGN_ID", "ADVERTISER_ID", "AD_ACCOUNT_ID", "PIN_PROMOTION_ID", "AD_ID", "AD_GROUP_ID", "CAMPAIGN_ENTITY_STATUS", "CAMPAIGN_OBJECTIVE_TYPE", "CPM_IN_MICRO_DOLLAR", "CPM_IN_DOLLAR", "AD_GROUP_ENTITY_STATUS", "ORDER_LINE_ID", "ORDER_LINE_NAME", "CLICKTHROUGH_1", "REPIN_1", "IMPRESSION_1", "IMPRESSION_1_GROSS", "CLICKTHROUGH_1_GROSS", "OUTBOUND_CLICK_1", "CLICKTHROUGH_2", "REPIN_2", "IMPRESSION_2", "OUTBOUND_CLICK_2", "TOTAL_CLICKTHROUGH", "TOTAL_IMPRESSION", "TOTAL_IMPRESSION_USER", "TOTAL_IMPRESSION_FREQUENCY", "COST_PER_OUTBOUND_CLICK_IN_DOLLAR", "TOTAL_ENGAGEMENT_SIGNUP", "TOTAL_ENGAGEMENT_CHECKOUT", "TOTAL_ENGAGEMENT_LEAD", "TOTAL_CLICK_SIGNUP", "TOTAL_CLICK_CHECKOUT", "TOTAL_CLICK_ADD_TO_CART", "TOTAL_CLICK_LEAD", "TOTAL_VIEW_SIGNUP", "TOTAL_VIEW_CHECKOUT", "TOTAL_VIEW_ADD_TO_CART", "TOTAL_VIEW_LEAD", "TOTAL_CONVERSIONS", "TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_SESSIONS", "WEB_SESSIONS_1", "WEB_SESSIONS_2", "CAMPAIGN_LIFETIME_SPEND_CAP", "CAMPAIGN_DAILY_SPEND_CAP", "TOTAL_PAGE_VISIT", "TOTAL_SIGNUP", "TOTAL_CHECKOUT", "TOTAL_CUSTOM", "TOTAL_LEAD", "TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CUSTOM_VALUE_IN_MICRO_DOLLAR", "PAGE_VISIT_COST_PER_ACTION", "PAGE_VISIT_ROAS", "CHECKOUT_ROAS", "CUSTOM_ROAS", "VIDEO_MRC_VIEWS_1", "VIDEO_3SEC_VIEWS_2", "VIDEO_P100_COMPLETE_2", "VIDEO_P0_COMBINED_2", "VIDEO_P25_COMBINED_2", "VIDEO_P50_COMBINED_2", "VIDEO_P75_COMBINED_2", "VIDEO_P95_COMBINED_2", "VIDEO_MRC_VIEWS_2", "PAID_VIDEO_VIEWABLE_RATE", "VIDEO_LENGTH", "ECPV_IN_DOLLAR", "ECPCV_IN_DOLLAR", "ECPCV_P95_IN_DOLLAR", "TOTAL_VIDEO_3SEC_VIEWS", "TOTAL_VIDEO_P100_COMPLETE", "TOTAL_VIDEO_P0_COMBINED", "TOTAL_VIDEO_P25_COMBINED", "TOTAL_VIDEO_P50_COMBINED", "TOTAL_VIDEO_P75_COMBINED", "TOTAL_VIDEO_P95_COMBINED", "TOTAL_VIDEO_MRC_VIEWS", "TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND", "TOTAL_REPIN_RATE", "WEB_CHECKOUT_COST_PER_ACTION", "WEB_CHECKOUT_ROAS", "TOTAL_WEB_CHECKOUT", "TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_CLICK_CHECKOUT", "TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_ENGAGEMENT_CHECKOUT", "TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_VIEW_CHECKOUT", "TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "INAPP_CHECKOUT_COST_PER_ACTION", "TOTAL_OFFLINE_CHECKOUT", "IDEA_PIN_PRODUCT_TAG_VISIT_1", "IDEA_PIN_PRODUCT_TAG_VISIT_2", "TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT", "LEADS", "COST_PER_LEAD", "QUIZ_COMPLETED", "QUIZ_PIN_RESULT_OPEN", "QUIZ_COMPLETION_RATE", "SHOWCASE_PIN_CLICKTHROUGH", "SHOWCASE_SUBPAGE_CLICKTHROUGH", "SHOWCASE_SUBPIN_CLICKTHROUGH", "SHOWCASE_SUBPAGE_IMPRESSION", "SHOWCASE_SUBPIN_IMPRESSION", "SHOWCASE_SUBPAGE_SWIPE_LEFT", "SHOWCASE_SUBPAGE_SWIPE_RIGHT", "SHOWCASE_SUBPIN_SWIPE_LEFT", "SHOWCASE_SUBPIN_SWIPE_RIGHT", "SHOWCASE_SUBPAGE_REPIN", "SHOWCASE_SUBPIN_REPIN", "SHOWCASE_SUBPAGE_CLOSEUP", "SHOWCASE_CARD_THUMBNAIL_SWIPE_FORWARD", "SHOWCASE_CARD_THUMBNAIL_SWIPE_BACKWARD", "SHOWCASE_AVERAGE_SUBPAGE_CLOSEUP_PER_SESSION", "TOTAL_CHECKOUT_CONVERSION_RATE", "TOTAL_VIEW_CATEGORY_CONVERSION_RATE", "TOTAL_ADD_TO_CART_CONVERSION_RATE", "TOTAL_SIGNUP_CONVERSION_RATE", "TOTAL_PAGE_VISIT_CONVERSION_RATE", "TOTAL_LEAD_CONVERSION_RATE", "TOTAL_SEARCH_CONVERSION_RATE", "TOTAL_WATCH_VIDEO_CONVERSION_RATE", "TOTAL_UNKNOWN_CONVERSION_RATE", "TOTAL_CUSTOM_CONVERSION_RATE" ],
              "example" : "TOTAL_CONVERSIONS",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "TOTAL - metrics are aggregated over the specified date range.<br> DAY - metrics are broken down daily.<br> HOUR - metrics are broken down hourly.<br>WEEKLY - metrics are broken down weekly.<br>MONTHLY - metrics are broken down monthly",
          "example" : "DAY",
          "explode" : true,
          "in" : "query",
          "name" : "granularity",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Granularity"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "example" : 1,
          "explode" : true,
          "in" : "query",
          "name" : "click_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "explode" : true,
          "in" : "query",
          "name" : "engagement_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.",
          "explode" : true,
          "in" : "query",
          "name" : "view_window_days",
          "required" : false,
          "schema" : {
            "default" : 1,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.",
          "example" : "TIME_OF_AD_ACTION",
          "explode" : true,
          "in" : "query",
          "name" : "conversion_report_time",
          "required" : false,
          "schema" : {
            "default" : "TIME_OF_AD_ACTION",
            "enum" : [ "TIME_OF_AD_ACTION", "TIME_OF_CONVERSION" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "List of types of attribution for the conversion report",
          "explode" : false,
          "in" : "query",
          "name" : "attribution_types",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ConversionReportAttributionType"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricsResponse"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get targeting analytics for ads",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_analytics",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads/{ad_id}" : {
      "get" : {
        "description" : "Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will\ncontain additional information from the Ad Review process.\nFor more information about our policies and rejection reasons see the <a href=\"https://www.pinterest.com/_/_/policy/advertising-guidelines/\" target=\"_blank\">Pinterest advertising standards</a>.",
        "operationId" : "ads/get",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier of an ad.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdResponse"
                }
              }
            },
            "description" : "Success"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unexpected error"
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get ad",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/analytics" : {
      "get" : {
        "description" : "Get analytics for the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.\n- If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days.\n- If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time.",
        "operationId" : "ad_account/analytics",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.<br/>For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).<br/>If a column has no value, it may not be returned",
          "explode" : false,
          "in" : "query",
          "name" : "columns",
          "required" : true,
          "schema" : {
            "items" : {
              "description" : "Reporting columns for sync reporting endpoints",
              "enum" : [ "SPEND_IN_MICRO_DOLLAR", "PAID_IMPRESSION", "SPEND_IN_DOLLAR", "CPC_IN_MICRO_DOLLAR", "ECPC_IN_MICRO_DOLLAR", "ECPC_IN_DOLLAR", "CTR", "ECTR", "CAMPAIGN_NAME", "PIN_ID", "TOTAL_ENGAGEMENT", "ENGAGEMENT_1", "ENGAGEMENT_2", "ECPE_IN_DOLLAR", "ENGAGEMENT_RATE", "EENGAGEMENT_RATE", "ECPM_IN_MICRO_DOLLAR", "REPIN_RATE", "CTR_2", "CAMPAIGN_ID", "ADVERTISER_ID", "AD_ACCOUNT_ID", "PIN_PROMOTION_ID", "AD_ID", "AD_GROUP_ID", "CAMPAIGN_ENTITY_STATUS", "CAMPAIGN_OBJECTIVE_TYPE", "CPM_IN_MICRO_DOLLAR", "CPM_IN_DOLLAR", "AD_GROUP_ENTITY_STATUS", "ORDER_LINE_ID", "ORDER_LINE_NAME", "CLICKTHROUGH_1", "REPIN_1", "IMPRESSION_1", "IMPRESSION_1_GROSS", "CLICKTHROUGH_1_GROSS", "OUTBOUND_CLICK_1", "CLICKTHROUGH_2", "REPIN_2", "IMPRESSION_2", "OUTBOUND_CLICK_2", "TOTAL_CLICKTHROUGH", "TOTAL_IMPRESSION", "TOTAL_IMPRESSION_USER", "TOTAL_IMPRESSION_FREQUENCY", "COST_PER_OUTBOUND_CLICK_IN_DOLLAR", "TOTAL_ENGAGEMENT_SIGNUP", "TOTAL_ENGAGEMENT_CHECKOUT", "TOTAL_ENGAGEMENT_LEAD", "TOTAL_CLICK_SIGNUP", "TOTAL_CLICK_CHECKOUT", "TOTAL_CLICK_ADD_TO_CART", "TOTAL_CLICK_LEAD", "TOTAL_VIEW_SIGNUP", "TOTAL_VIEW_CHECKOUT", "TOTAL_VIEW_ADD_TO_CART", "TOTAL_VIEW_LEAD", "TOTAL_CONVERSIONS", "TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_SESSIONS", "WEB_SESSIONS_1", "WEB_SESSIONS_2", "CAMPAIGN_LIFETIME_SPEND_CAP", "CAMPAIGN_DAILY_SPEND_CAP", "TOTAL_PAGE_VISIT", "TOTAL_SIGNUP", "TOTAL_CHECKOUT", "TOTAL_CUSTOM", "TOTAL_LEAD", "TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR", "TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_CUSTOM_VALUE_IN_MICRO_DOLLAR", "PAGE_VISIT_COST_PER_ACTION", "PAGE_VISIT_ROAS", "CHECKOUT_ROAS", "CUSTOM_ROAS", "VIDEO_MRC_VIEWS_1", "VIDEO_3SEC_VIEWS_2", "VIDEO_P100_COMPLETE_2", "VIDEO_P0_COMBINED_2", "VIDEO_P25_COMBINED_2", "VIDEO_P50_COMBINED_2", "VIDEO_P75_COMBINED_2", "VIDEO_P95_COMBINED_2", "VIDEO_MRC_VIEWS_2", "PAID_VIDEO_VIEWABLE_RATE", "VIDEO_LENGTH", "ECPV_IN_DOLLAR", "ECPCV_IN_DOLLAR", "ECPCV_P95_IN_DOLLAR", "TOTAL_VIDEO_3SEC_VIEWS", "TOTAL_VIDEO_P100_COMPLETE", "TOTAL_VIDEO_P0_COMBINED", "TOTAL_VIDEO_P25_COMBINED", "TOTAL_VIDEO_P50_COMBINED", "TOTAL_VIDEO_P75_COMBINED", "TOTAL_VIDEO_P95_COMBINED", "TOTAL_VIDEO_MRC_VIEWS", "TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND", "TOTAL_REPIN_RATE", "WEB_CHECKOUT_COST_PER_ACTION", "WEB_CHECKOUT_ROAS", "TOTAL_WEB_CHECKOUT", "TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_CLICK_CHECKOUT", "TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_ENGAGEMENT_CHECKOUT", "TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "TOTAL_WEB_VIEW_CHECKOUT", "TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR", "INAPP_CHECKOUT_COST_PER_ACTION", "TOTAL_OFFLINE_CHECKOUT", "IDEA_PIN_PRODUCT_TAG_VISIT_1", "IDEA_PIN_PRODUCT_TAG_VISIT_2", "TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT", "LEADS", "COST_PER_LEAD", "QUIZ_COMPLETED", "QUIZ_PIN_RESULT_OPEN", "QUIZ_COMPLETION_RATE", "SHOWCASE_PIN_CLICKTHROUGH", "SHOWCASE_SUBPAGE_CLICKTHROUGH", "SHOWCASE_SUBPIN_CLICKTHROUGH", "SHOWCASE_SUBPAGE_IMPRESSION", "SHOWCASE_SUBPIN_IMPRESSION", "SHOWCASE_SUBPAGE_SWIPE_LEFT", "SHOWCASE_SUBPAGE_SWIPE_RIGHT", "SHOWCASE_SUBPIN_SWIPE_LEFT", "SHOWCASE_SUBPIN_SWIPE_RIGHT", "
[...]
