/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdGroupArrayResponse
import org.openapitools.client.model.AdGroupAudienceSizingRequest
import org.openapitools.client.model.AdGroupAudienceSizingResponse
import org.openapitools.client.model.AdGroupCreateRequest
import org.openapitools.client.model.AdGroupResponse
import org.openapitools.client.model.AdGroupUpdateRequest
import org.openapitools.client.model.AdGroupsAnalyticsResponseInner
import org.openapitools.client.model.AdGroupsList200Response
import org.openapitools.client.model.AdsAnalyticsTargetingType
import org.openapitools.client.model.BidFloor
import org.openapitools.client.model.BidFloorRequest
import org.openapitools.client.model.ConversionReportAttributionType
import org.openapitools.client.model.Error
import org.openapitools.client.model.Granularity
import java.time.LocalDate
import org.openapitools.client.model.MetricsResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AdGroupsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new AdGroupsApi(baseUrl)
}

class AdGroupsApi(baseUrl: String) {

  /**
   * Get analytics for the specified ad groups in the specified <code>ad_account_id</code>, filtered by the specified options. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager. - If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days. - If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.
   * 
   * Expected answers:
   *   code 200 : Seq[AdGroupsAnalyticsResponseInner] (Success)
   *   code 400 : Error (Invalid ad account group analytics parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param adGroupIds List of Ad group Ids to use to filter the results.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.<br/>For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).<br/>If a column has no value, it may not be returned
   * @param granularity TOTAL - metrics are aggregated over the specified date range.<br> DAY - metrics are broken down daily.<br> HOUR - metrics are broken down hourly.<br>WEEKLY - metrics are broken down weekly.<br>MONTHLY - metrics are broken down monthly
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   */
  def adGroupsAnalytics(adAccountId: String, startDate: LocalDate, endDate: LocalDate, adGroupIds: Seq[String], columns: Seq[String], granularity: Granularity, clickWindowDays: Option[Int] = None, engagementWindowDays: Option[Int] = None, viewWindowDays: Option[Int] = None, conversionReportTime: Option[String] = None): ApiRequest[Seq[AdGroupsAnalyticsResponseInner]] =
    ApiRequest[Seq[AdGroupsAnalyticsResponseInner]](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/analytics", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("ad_group_ids", ArrayValues(adGroupIds, MULTI))
      .withQueryParam("columns", ArrayValues(columns, CSV))
      .withQueryParam("granularity", granularity)
      .withQueryParam("click_window_days", clickWindowDays)
      .withQueryParam("engagement_window_days", engagementWindowDays)
      .withQueryParam("view_window_days", viewWindowDays)
      .withQueryParam("conversion_report_time", conversionReportTime)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[AdGroupsAnalyticsResponseInner]](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get potential audience size for an ad group with given targeting criteria.  Potential audience size estimates the number of people you may be able to reach per month with your campaign.  It is based on historical advertising data and the targeting criteria you select. It does not guarantee results or take into account factors such as bid, budget, schedule, seasonality or product experiments.
   * 
   * Expected answers:
   *   code 200 : AdGroupAudienceSizingResponse (Success)
   *   code 400 : Error (Invalid ad group audience sizing parameters.)
   *   code 403 : Error (No access to requested audience list or product group.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupAudienceSizingRequest 
   */
  def adGroupsAudienceSizing(adAccountId: String, adGroupAudienceSizingRequest: Option[AdGroupAudienceSizingRequest] = None): ApiRequest[AdGroupAudienceSizingResponse] =
    ApiRequest[AdGroupAudienceSizingResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/audience_sizing", "application/json")
      .withBody(adGroupAudienceSizingRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdGroupAudienceSizingResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](403)
      .withDefaultErrorResponse[Error]
      

  /**
   * List bid floors for your campaign configuration. Bid floors are given in microcurrency values based on the currency in the bid floor specification. <p/> <p>Microcurrency is used to track very small transactions, based on the currency set in the advertiser’s profile.</p> <p>A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser’s profile.</p> <p><strong>Equivalency equations</strong>, using dollars as an example currency:</p> <ul>   <li>$1 = 1,000,000 microdollars</li>   <li>1 microdollar = $0.000001 </li> </ul> <p><strong>To convert between currency and microcurrency</strong>, using dollars as an example currency:</p> <ul>   <li>To convert dollars to microdollars, mutiply dollars by 1,000,000</li>   <li>To convert microdollars to dollars, divide microdollars by 1,000,000</li> </ul> For more on bid floors see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/set-your-bid\"> Set your bid</a>.
   * 
   * Expected answers:
   *   code 200 : BidFloor (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bidFloorRequest Parameters to get bid_floor info
   */
  def adGroupsBidFloorGet(adAccountId: String, bidFloorRequest: BidFloorRequest): ApiRequest[BidFloor] =
    ApiRequest[BidFloor](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/bid_floor", "application/json")
      .withBody(bidFloorRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[BidFloor](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create multiple new ad groups. All ads in a given ad group will have the same budget, bid, run dates, targeting, and placement (search, browse, other). For more information, <a href=\"https://help.pinterest.com/en/business/article/campaign-structure\" target=\"_blank\"> click here</a>.</p> <strong>Note:</strong> - 'bid_in_micro_currency' and 'budget_in_micro_currency' should be expressed in microcurrency amounts based on the currency field set in the advertiser's profile.<p/> <p>Microcurrency is used to track very small transactions, based on the currency set in the advertiser’s profile.</p> <p>A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser’s profile.</p> <p><strong>Equivalency equations</strong>, using dollars as an example currency:</p> <ul>   <li>$1 = 1,000,000 microdollars</li>   <li>1 microdollar = $0.000001 </li> </ul> <p><strong>To convert between currency and microcurrency</strong>, using dollars as an example currency:</p> <ul>   <li>To convert dollars to microdollars, mutiply dollars by 1,000,000</li>   <li>To convert microdollars to dollars, divide microdollars by 1,000,000</li> </ul> - Ad groups belong to ad campaigns. Some types of campaigns (e.g. budget optimization) have limits on the number of ad groups they can hold. If you exceed those limits, you will get an error message. - Start and end time cannot be set for ad groups that belong to CBO campaigns. Currently, campaigns with the following objective types: TRAFFIC, AWARENESS, WEB_CONVERSIONS, and CATALOG_SALES will default to CBO.
   * 
   * Expected answers:
   *   code 200 : AdGroupArrayResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupCreateRequest List of ad groups to create, size limit [1, 30].
   */
  def adGroupsCreate(adAccountId: String, adGroupCreateRequest: Seq[AdGroupCreateRequest]): ApiRequest[AdGroupArrayResponse] =
    ApiRequest[AdGroupArrayResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups", "application/json")
      .withBody(adGroupCreateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdGroupArrayResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will contain additional information from the Ad Review process. For more information about our policies and rejection reasons see the <a href=\"https://www.pinterest.com/_/_/policy/advertising-guidelines/\" target=\"_blank\">Pinterest advertising standards</a>.
   * 
   * Expected answers:
   *   code 200 : AdGroupResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupId Unique identifier of an ad group.
   */
  def adGroupsGet(adAccountId: String, adGroupId: String): ApiRequest[AdGroupResponse] =
    ApiRequest[AdGroupResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("ad_group_id", adGroupId)
      .withSuccessResponse[AdGroupResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * List ad groups based on provided campaign IDs or ad group IDs.(campaign_ids or ad_group_ids). <p/> <strong>Note:</strong><p/> Provide only campaign_id or ad_group_id. Do not provide both.
   * 
   * Expected answers:
   *   code 200 : AdGroupsList200Response (Success)
   *   code 400 : Error (Invalid ad account group parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param campaignIds List of Campaign Ids to use to filter the results.
   * @param adGroupIds List of Ad group Ids to use to filter the results.
   * @param entityStatuses Entity status
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/getting-started/pagination/'>Pagination</a> for more information.
   * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param bookmark Cursor used to fetch the next page of items
   * @param translateInterestsToNames Return interests as text names (if value is true) rather than topic IDs.
   */
  def adGroupsList(adAccountId: String, campaignIds: Seq[String], adGroupIds: Seq[String], entityStatuses: Seq[String], pageSize: Option[Int] = None, order: Option[String] = None, bookmark: Option[String] = None, translateInterestsToNames: Option[Boolean] = None): ApiRequest[AdGroupsList200Response] =
    ApiRequest[AdGroupsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups", "application/json")
      .withQueryParam("campaign_ids", ArrayValues(campaignIds, MULTI))
      .withQueryParam("ad_group_ids", ArrayValues(adGroupIds, MULTI))
      .withQueryParam("entity_statuses", ArrayValues(entityStatuses, MULTI))
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("translate_interests_to_names", translateInterestsToNames)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdGroupsList200Response](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get targeting analytics for one or more ad groups. For the requested ad group(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \"age_bucket\") for applicable values (e.g. \"45-49\"). <p/> - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager. - If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days. - If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.
   * 
   * Expected answers:
   *   code 200 : MetricsResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupIds List of Ad group Ids to use to filter the results.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param targetingTypes Targeting type breakdowns for the report. The reporting per targeting type <br> is independent from each other.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.<br/>For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).<br/>If a column has no value, it may not be returned
   * @param granularity TOTAL - metrics are aggregated over the specified date range.<br> DAY - metrics are broken down daily.<br> HOUR - metrics are broken down hourly.<br>WEEKLY - metrics are broken down weekly.<br>MONTHLY - metrics are broken down monthly
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   * @param attributionTypes List of types of attribution for the conversion report
   */
  def adGroupsTargetingAnalyticsGet(adAccountId: String, adGroupIds: Seq[String], startDate: LocalDate, endDate: LocalDate, targetingTypes: Seq[AdsAnalyticsTargetingType], columns: Seq[String], granularity: Granularity, clickWindowDays: Option[Int] = None, engagementWindowDays: Option[Int] = None, viewWindowDays: Option[Int] = None, conversionReportTime: Option[String] = None, attributionTypes: Option[ConversionReportAttributionType] = None): ApiRequest[MetricsResponse] =
    ApiRequest[MetricsResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/targeting_analytics", "application/json")
      .withQueryParam("ad_group_ids", ArrayValues(adGroupIds, MULTI))
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("targeting_types", ArrayValues(targetingTypes, CSV))
      .withQueryParam("columns", ArrayValues(columns, CSV))
      .withQueryParam("granularity", granularity)
      .withQueryParam("click_window_days", clickWindowDays)
      .withQueryParam("engagement_window_days", engagementWindowDays)
      .withQueryParam("view_window_days", viewWindowDays)
      .withQueryParam("conversion_report_time", conversionReportTime)
      .withQueryParam("attribution_types", attributionTypes)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[MetricsResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update multiple existing ad groups.
   * 
   * Expected answers:
   *   code 200 : AdGroupArrayResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupUpdateRequest List of ad groups to update, size limit [1, 30].
   */
  def adGroupsUpdate(adAccountId: String, adGroupUpdateRequest: Seq[AdGroupUpdateRequest]): ApiRequest[AdGroupArrayResponse] =
    ApiRequest[AdGroupArrayResponse](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups", "application/json")
      .withBody(adGroupUpdateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdGroupArrayResponse](200)
      .withDefaultErrorResponse[Error]
      



}

