/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdvancedAuctionItems
import org.openapitools.client.model.AdvancedAuctionItemsGetRequest
import org.openapitools.client.model.AdvancedAuctionItemsSubmitRequest
import org.openapitools.client.model.AdvancedAuctionProcessedItems
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AdvancedAuctionApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new AdvancedAuctionApi(baseUrl)
}

class AdvancedAuctionApi(baseUrl: String) {

  /**
   * Get the bid options for a batch of retail catalog items.  The catalog must be owned by the \"operation user_account\". <a href=\"/docs/api-features/shopping-overview/#Update%20items%20in%20batch\" target=\"_blank\">See detailed documentation here.</a> By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: `Owner`, `Admin`.  This endpoint is not available to all users.
   * 
   * Expected answers:
   *   code 200 : AdvancedAuctionItems (Response containing the bid option values for the requested retail catalog items. Items that don't exist or do not have bid options set won't be present in the response.)
   *   code 400 : Error (Invalid request parameters.)
   *   code 401 : Error (Not authenticated to get item bid options)
   *   code 403 : Error (Not authorized to get item bid options)
   *   code 500 : Error (Internal error)
   *   code 0 : Error (Unexpected error)
   * 
   * @param advancedAuctionItemsGetRequest Request object used to get bid options values for a batch of retail catalog items
   * @param adAccountId Unique identifier of an ad account.
   */
  def advancedAuctionItemsGetPost(advancedAuctionItemsGetRequest: AdvancedAuctionItemsGetRequest, adAccountId: Option[String] = None): ApiRequest[AdvancedAuctionItems] =
    ApiRequest[AdvancedAuctionItems](ApiMethods.POST, baseUrl, "/advanced_auction/items/get", "application/json")
      .withBody(advancedAuctionItemsGetRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdvancedAuctionItems](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](500)
      .withDefaultErrorResponse[Error]
      

  /**
   * This endpoint supports multiple operations on a set of one or more bid options (bid price and bid adjustments for targeting categories) for retail catalog items. These advanced auction settings are applied in campaigns using objective_type `CATALOG_SALES` and ad groups using bid_strategy_type `MAX_BID`.  The catalog must be owned by the \"operation user_account\". <a href=\"/docs/api-features/modify-items-in-batch/\" target=\"_blank\">See detailed documentation here.</a> By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: `Owner`, `Admin`.  This endpoint is not available to all users.
   * 
   * Expected answers:
   *   code 200 : AdvancedAuctionProcessedItems (Response containing the results of the item bid options operations)
   *   code 400 : Error (Invalid request parameters.)
   *   code 401 : Error (Not authenticated to post item bid options)
   *   code 403 : Error (Not authorized to post item bid options)
   *   code 500 : Error (Internal error)
   *   code 0 : Error (Unexpected error)
   * 
   * @param advancedAuctionItemsSubmitRequest Request object used to upsert or delete bid options for a batch of retail catalog items
   * @param adAccountId Unique identifier of an ad account.
   */
  def advancedAuctionItemsSubmitPost(advancedAuctionItemsSubmitRequest: AdvancedAuctionItemsSubmitRequest, adAccountId: Option[String] = None): ApiRequest[AdvancedAuctionProcessedItems] =
    ApiRequest[AdvancedAuctionProcessedItems](ApiMethods.POST, baseUrl, "/advanced_auction/items/submit", "application/json")
      .withBody(advancedAuctionItemsSubmitRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdvancedAuctionProcessedItems](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](500)
      .withDefaultErrorResponse[Error]
      



}

