/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdAccountsAudiencesSharedAccountsList200Response
import org.openapitools.client.model.AudienceAccountType
import org.openapitools.client.model.AudiencesList200Response
import org.openapitools.client.model.BusinessSharedAudience
import org.openapitools.client.model.BusinessSharedAudienceResponse
import org.openapitools.client.model.Error
import org.openapitools.client.model.SharedAudience
import org.openapitools.client.model.SharedAudienceResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AudienceSharingApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new AudienceSharingApi(baseUrl)
}

class AudienceSharingApi(baseUrl: String) {

  /**
   * List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.
   * 
   * Expected answers:
   *   code 200 : AdAccountsAudiencesSharedAccountsList200Response (Success)
   *   code 400 : Error (Invalid ad account audiences shared accounts parameters.)
   *   code 404 : Error (Shared accounts not found.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param audienceId Unique identifier of the audience to use to filter the results.
   * @param accountType Filter accounts by account type.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def adAccountsAudiencesSharedAccountsList(adAccountId: String, audienceId: String, accountType: AudienceAccountType, pageSize: Option[Int] = None, bookmark: Option[String] = None): ApiRequest[AdAccountsAudiencesSharedAccountsList200Response] =
    ApiRequest[AdAccountsAudiencesSharedAccountsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/audiences/shared/accounts", "application/json")
      .withQueryParam("audience_id", audienceId)
      .withQueryParam("account_type", accountType)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("bookmark", bookmark)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdAccountsAudiencesSharedAccountsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.
   * 
   * Expected answers:
   *   code 200 : AdAccountsAudiencesSharedAccountsList200Response (Success)
   *   code 400 : Error (Invalid business audiences shared accounts parameters.)
   *   code 404 : Error (Shared accounts not found.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param audienceId Unique identifier of the audience to use to filter the results.
   * @param accountType Filter accounts by account type.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def businessAccountAudiencesSharedAccountsList(businessId: String, audienceId: String, accountType: AudienceAccountType, pageSize: Option[Int] = None, bookmark: Option[String] = None): ApiRequest[AdAccountsAudiencesSharedAccountsList200Response] =
    ApiRequest[AdAccountsAudiencesSharedAccountsList200Response](ApiMethods.GET, baseUrl, "/businesses/{business_id}/audiences/shared/accounts", "application/json")
      .withQueryParam("audience_id", audienceId)
      .withQueryParam("account_type", accountType)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("bookmark", bookmark)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[AdAccountsAudiencesSharedAccountsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of received audiences for the given business.
   * 
   * Expected answers:
   *   code 200 : AudiencesList200Response (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param bookmark Cursor used to fetch the next page of items
   * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   */
  def sharedAudiencesForBusinessList(businessId: String, bookmark: Option[String] = None, order: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[AudiencesList200Response] =
    ApiRequest[AudiencesList200Response](ApiMethods.GET, baseUrl, "/businesses/{business_id}/audiences", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("order", order)
      .withQueryParam("page_size", pageSize)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[AudiencesList200Response](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same <a href='https://help.pinterest.com/en/business/article/create-and-manage-accounts'>Pinterest Business Hierarchy</a> as the business owner of the ad account.<br> This endpoint is not available to all apps.<a href='/docs/getting-started/beta-and-advanced-access/'>Learn more</a>.
   * 
   * Expected answers:
   *   code 200 : SharedAudienceResponse (Success)
   *   code 400 : Error (Invalid ad account id.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param sharedAudience 
   */
  def updateAdAccountToAdAccountSharedAudience(adAccountId: String, sharedAudience: SharedAudience): ApiRequest[SharedAudienceResponse] =
    ApiRequest[SharedAudienceResponse](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared", "application/json")
      .withBody(sharedAudience)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SharedAudienceResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.<br> This endpoint is not available to all apps.<a href='/docs/getting-started/beta-and-advanced-access/'>Learn more</a>.
   * 
   * Expected answers:
   *   code 200 : BusinessSharedAudienceResponse (Success)
   *   code 400 : Error (Invalid ad account id.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param businessSharedAudience 
   */
  def updateAdAccountToBusinessSharedAudience(adAccountId: String, businessSharedAudience: BusinessSharedAudience): ApiRequest[BusinessSharedAudienceResponse] =
    ApiRequest[BusinessSharedAudienceResponse](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/audiences/businesses/shared", "application/json")
      .withBody(businessSharedAudience)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[BusinessSharedAudienceResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience. <ul> <li>If the business is the owner of the audience, it can share with any ad account within the same business hierarchy.</li> <li>If the business is the recipient of the audience, it can share with any of its owned ad accounts.</li> </ul> This endpoint is not available to all apps.<a href='/docs/getting-started/beta-and-advanced-access/'>Learn more</a>.
   * 
   * Expected answers:
   *   code 200 : SharedAudienceResponse (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param sharedAudience 
   */
  def updateBusinessToAdAccountSharedAudience(businessId: String, sharedAudience: SharedAudience): ApiRequest[SharedAudienceResponse] =
    ApiRequest[SharedAudienceResponse](ApiMethods.PATCH, baseUrl, "/businesses/{business_id}/audiences/ad_accounts/shared", "application/json")
      .withBody(sharedAudience)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[SharedAudienceResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.<br> This endpoint is not available to all apps.<a href='/docs/getting-started/beta-and-advanced-access/'>Learn more</a>.
   * 
   * Expected answers:
   *   code 200 : BusinessSharedAudienceResponse (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param businessSharedAudience 
   */
  def updateBusinessToBusinessSharedAudience(businessId: String, businessSharedAudience: BusinessSharedAudience): ApiRequest[BusinessSharedAudienceResponse] =
    ApiRequest[BusinessSharedAudienceResponse](ApiMethods.PATCH, baseUrl, "/businesses/{business_id}/audiences/businesses/shared", "application/json")
      .withBody(businessSharedAudience)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[BusinessSharedAudienceResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      



}

