/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdsCreditRedeemRequest
import org.openapitools.client.model.AdsCreditRedeemResponse
import org.openapitools.client.model.AdsCreditsDiscountsGet200Response
import org.openapitools.client.model.BillingInvoiceDownloadResponse
import org.openapitools.client.model.BillingInvoicesGet200Response
import org.openapitools.client.model.BillingProfilesGet200Response
import org.openapitools.client.model.Error
import java.time.LocalDate
import org.openapitools.client.model.SSIOAccountResponse
import org.openapitools.client.model.SSIOCreateInsertionOrderRequest
import org.openapitools.client.model.SSIOCreateInsertionOrderResponse
import org.openapitools.client.model.SSIOEditInsertionOrderRequest
import org.openapitools.client.model.SSIOEditInsertionOrderResponse
import org.openapitools.client.model.SSIOInsertionOrderStatusResponse
import org.openapitools.client.model.SsioInsertionOrdersStatusGetByAdAccount200Response
import org.openapitools.client.model.SsioOrderLinesGetByAdAccount200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BillingApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new BillingApi(baseUrl)
}

class BillingApi(baseUrl: String) {

  /**
   * Redeem ads credit on behalf of the ad account id and apply it towards billing.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>
   * 
   * Expected answers:
   *   code 200 : AdsCreditRedeemResponse (Successfully redeemed ad credits.)
   *   code 400 : Error (Error thrown when unable to redeem offer code.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adsCreditRedeemRequest Redeem ad credits request.
   */
  def adsCreditRedeem(adAccountId: String, adsCreditRedeemRequest: AdsCreditRedeemRequest): ApiRequest[AdsCreditRedeemResponse] =
    ApiRequest[AdsCreditRedeemResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/ads_credit/redeem", "application/json")
      .withBody(adsCreditRedeemRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdsCreditRedeemResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Returns the list of discounts applied to the account.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>
   * 
   * Expected answers:
   *   code 200 : AdsCreditsDiscountsGet200Response (Success)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   */
  def adsCreditsDiscountsGet(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[AdsCreditsDiscountsGet200Response] =
    ApiRequest[AdsCreditsDiscountsGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ads_credit/discounts", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdsCreditsDiscountsGet200Response](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get download url for a billing invoice.
   * 
   * Expected answers:
   *   code 200 : BillingInvoiceDownloadResponse (Successfully fetched Billing invoice information for a given ad account)
   *   code 400 : Error (Invalid request parameter.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param billingInvoiceId Unique identifier of a billing invoice.
   */
  def billingInvoiceDownloadGet(adAccountId: String, billingInvoiceId: String): ApiRequest[BillingInvoiceDownloadResponse] =
    ApiRequest[BillingInvoiceDownloadResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("billing_invoice_id", billingInvoiceId)
      .withSuccessResponse[BillingInvoiceDownloadResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get billing invoices in the advertiser account.
   * 
   * Expected answers:
   *   code 200 : BillingInvoicesGet200Response (Success)
   *   code 400 : Error (Invalid request parameter.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param sort Field of which to sort billing invoices
   * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param status Status of billing invoices to filter by
   * @param documentType Document type of billing invoices to filter by
   * @param startDueDate Starting point for due dates when searching for invoices. Format: YYYY-MM-DD
   * @param endDueDate Ending point for due dates when searching for invoices. Format: YYYY-MM-DD
   */
  def billingInvoicesGet(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, sort: Option[String] = None, order: Option[String] = None, status: Option[String] = None, documentType: Option[String] = None, startDueDate: Option[LocalDate] = None, endDueDate: Option[LocalDate] = None): ApiRequest[BillingInvoicesGet200Response] =
    ApiRequest[BillingInvoicesGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/billing_invoices", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("sort", sort)
      .withQueryParam("order", order)
      .withQueryParam("status", status)
      .withQueryParam("document_type", documentType)
      .withQueryParam("start_due_date", startDueDate)
      .withQueryParam("end_due_date", endDueDate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[BillingInvoicesGet200Response](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get billing profiles in the advertiser account.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>
   * 
   * Expected answers:
   *   code 200 : BillingProfilesGet200Response (Success)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param isActive Return active billing profiles, if false return all billing profiles.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   */
  def billingProfilesGet(adAccountId: String, isActive: Boolean, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[BillingProfilesGet200Response] =
    ApiRequest[BillingProfilesGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/billing_profiles", "application/json")
      .withQueryParam("is_active", isActive)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[BillingProfilesGet200Response](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get Salesforce account details including bill-to information to be used in insertion orders process for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SSIOAccountResponse (Success)
   *   code 400 : Error (Invalid request parameter.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   */
  def ssioAccountsGet(adAccountId: String): ApiRequest[SSIOAccountResponse] =
    ApiRequest[SSIOAccountResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ssio/accounts", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SSIOAccountResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create insertion order through SSIO for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SSIOCreateInsertionOrderResponse (Success)
   *   code 400 : Error (Invalid request.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param sSIOCreateInsertionOrderRequest Order line to create.
   */
  def ssioInsertionOrderCreate(adAccountId: String, sSIOCreateInsertionOrderRequest: SSIOCreateInsertionOrderRequest): ApiRequest[SSIOCreateInsertionOrderResponse] =
    ApiRequest[SSIOCreateInsertionOrderResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/ssio/insertion_orders", "application/json")
      .withBody(sSIOCreateInsertionOrderRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SSIOCreateInsertionOrderResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Edit insertion order through SSIO for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SSIOEditInsertionOrderResponse (Success)
   *   code 400 : Error (Invalid request.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param sSIOEditInsertionOrderRequest Order line to create.
   */
  def ssioInsertionOrderEdit(adAccountId: String, sSIOEditInsertionOrderRequest: SSIOEditInsertionOrderRequest): ApiRequest[SSIOEditInsertionOrderResponse] =
    ApiRequest[SSIOEditInsertionOrderResponse](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/ssio/insertion_orders", "application/json")
      .withBody(sSIOEditInsertionOrderRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SSIOEditInsertionOrderResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get insertion order status for account id <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SsioInsertionOrdersStatusGetByAdAccount200Response (Success)
   *   code 400 : Error (Invalid request parameter.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   */
  def ssioInsertionOrdersStatusGetByAdAccount(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[SsioInsertionOrdersStatusGetByAdAccount200Response] =
    ApiRequest[SsioInsertionOrdersStatusGetByAdAccount200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ssio/insertion_orders/status", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SsioInsertionOrdersStatusGetByAdAccount200Response](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get insertion order status for pin order id <code>pin_order_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SSIOInsertionOrderStatusResponse (Success)
   *   code 400 : Error (Invalid request parameter.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param pinOrderId The pin order id associated with the ssio insertion order
   */
  def ssioInsertionOrdersStatusGetByPinOrderId(adAccountId: String, pinOrderId: String): ApiRequest[SSIOInsertionOrderStatusResponse] =
    ApiRequest[SSIOInsertionOrderStatusResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("pin_order_id", pinOrderId)
      .withSuccessResponse[SSIOInsertionOrderStatusResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get Salesforce order lines for account id <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SsioOrderLinesGetByAdAccount200Response (Success)
   *   code 400 : Error (Invalid request parameter.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param pinOrderId The pin order id associated with the ssio insertino order
   */
  def ssioOrderLinesGetByAdAccount(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, pinOrderId: Option[String] = None): ApiRequest[SsioOrderLinesGetByAdAccount200Response] =
    ApiRequest[SsioOrderLinesGetByAdAccount200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ssio/order_lines", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("pin_order_id", pinOrderId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SsioOrderLinesGetByAdAccount200Response](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      



}

