/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CatalogsCreateReportResponse
import org.openapitools.client.model.CatalogsReport
import org.openapitools.client.model.CatalogsReportParameters
import org.openapitools.client.model.Error
import org.openapitools.client.model.ReportsStats200Response
import org.openapitools.client.model.ReportsStatsParametersParameter
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CatalogReportsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CatalogReportsApi(baseUrl)
}

class CatalogReportsApi(baseUrl: String) {

  /**
   * Async request to create a report of the catalog owned by the \"operation user_account\". This endpoint generates a report upon receiving the first approved request of the day. Any following requests with identical parameters will yield the same report even if data has changed. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: Access to the All Items report type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 200 : CatalogsCreateReportResponse (Response containing the report token)
   *   code 404 : Error (Entity (e.g., catalog, feed or processing_result) not found)
   *   code 409 : Error (Can't access this feature without an existing catalog.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param catalogsReportParameters Request object to asynchronously create a report.
   * @param adAccountId Unique identifier of an ad account.
   */
  def reportsCreate(catalogsReportParameters: CatalogsReportParameters, adAccountId: Option[String] = None): ApiRequest[CatalogsCreateReportResponse] =
    ApiRequest[CatalogsCreateReportResponse](ApiMethods.POST, baseUrl, "/catalogs/reports", "application/json")
      .withBody(catalogsReportParameters)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsCreateReportResponse](200)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * This returns a URL to a report given a token returned from <a href='/docs/api/v5/#operation/reports/create'>Build catalogs report</a>. You can use the URL to download the report. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.
   * 
   * Expected answers:
   *   code 200 : CatalogsReport (Response that contains a link to download the report)
   *   code 400 : Error (The token you provided is not valid or has expired.)
   *   code 409 : Error (Can't access this feature without an existing catalog.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param token Token returned from async build report call
   * @param adAccountId Unique identifier of an ad account.
   */
  def reportsGet(token: String, adAccountId: Option[String] = None): ApiRequest[CatalogsReport] =
    ApiRequest[CatalogsReport](ApiMethods.GET, baseUrl, "/catalogs/reports", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("token", token)
      .withSuccessResponse[CatalogsReport](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * List aggregated numbers of issues for a catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.
   * 
   * Expected answers:
   *   code 200 : ReportsStats200Response (Response containing the diagnostics aggregated counters)
   *   code 401 : Error (Not authorized to access catalogs)
   *   code 0 : Error (Unexpected error)
   * 
   * @param parameters Contains the parameters for report identification.
   * @param adAccountId Unique identifier of an ad account.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def reportsStats(parameters: ReportsStatsParametersParameter, adAccountId: Option[String] = None, pageSize: Option[Int] = None, bookmark: Option[String] = None): ApiRequest[ReportsStats200Response] =
    ApiRequest[ReportsStats200Response](ApiMethods.GET, baseUrl, "/catalogs/reports/stats", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("parameters", parameters)
      .withSuccessResponse[ReportsStats200Response](200)
      .withErrorResponse[Error](401)
      .withDefaultErrorResponse[Error]
      



}

