/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CatalogsFeed
import org.openapitools.client.model.CatalogsFeedIngestion
import org.openapitools.client.model.CatalogsItemValidationIssue
import org.openapitools.client.model.Error
import org.openapitools.client.model.FeedProcessingResultsList200Response
import org.openapitools.client.model.FeedsCreateRequest
import org.openapitools.client.model.FeedsList200Response
import org.openapitools.client.model.FeedsUpdateRequest
import org.openapitools.client.model.ItemsIssuesList200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CatalogFeedsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CatalogFeedsApi(baseUrl)
}

class CatalogFeedsApi(baseUrl: String) {

  /**
   * Fetch a feed processing results owned by the \"operation user_account\". Please note that for now the bookmark parameter is not functional and only the first page will be available until it is implemented in some release in the near future. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 200 : FeedProcessingResultsList200Response (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 404 : Error (Feed not found.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param feedId Unique identifier of a feed
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param adAccountId Unique identifier of an ad account.
   */
  def feedProcessingResultsList(feedId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, adAccountId: Option[String] = None): ApiRequest[FeedProcessingResultsList200Response] =
    ApiRequest[FeedProcessingResultsList200Response](ApiMethods.GET, baseUrl, "/catalogs/feeds/{feed_id}/processing_results", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("feed_id", feedId)
      .withSuccessResponse[FeedProcessingResultsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create a new feed owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Please, be aware that \"default_country\" and \"default_locale\" are not required in the spec for forward compatibility but for now the API will not accept requests without those fields.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to <a href='https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs'>Before you get started with Catalogs</a>. For Hotel parterns, refer to <a href='/docs/api-features/shopping-overview/'>Pinterest API for shopping</a>.  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 201 : CatalogsFeed (Success)
   *   code 400 : Error (Invalid feed parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 403 : Error (Business account required.)
   *   code 409 : Error (User website required.)
   *   code 422 : Error (Unique feed name is required.)
   *   code 501 : Error (Not implemented (absent \"default_country\" or \"default_locale\").)
   *   code 0 : Error (Unexpected error)
   * 
   * @param feedsCreateRequest Request object used to created a feed.
   * @param adAccountId Unique identifier of an ad account.
   */
  def feedsCreate(feedsCreateRequest: FeedsCreateRequest, adAccountId: Option[String] = None): ApiRequest[CatalogsFeed] =
    ApiRequest[CatalogsFeed](ApiMethods.POST, baseUrl, "/catalogs/feeds", "application/json")
      .withBody(feedsCreateRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsFeed](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](409)
      .withErrorResponse[Error](422)
      .withErrorResponse[Error](501)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete a feed owned by the \"operating user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to <a href='https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs'>Before you get started with Catalogs</a>. For Hotel parterns, refer to <a href='/docs/api-features/shopping-overview/'>Pinterest API for shopping</a>.
   * 
   * Expected answers:
   *   code 204 :  (Feed deleted successfully.)
   *   code 400 : Error (Invalid feed parameters.)
   *   code 403 : Error (Forbidden. Account not approved for feed mutations yet.)
   *   code 404 : Error (Data feed not found.)
   *   code 409 : Error (Conflict. Can't delete a feed with active promotions.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param feedId Unique identifier of a feed
   * @param adAccountId Unique identifier of an ad account.
   */
  def feedsDelete(feedId: String, adAccountId: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/catalogs/feeds/{feed_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("feed_id", feedId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a single feed owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to <a href='https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs'>Before you get started with Catalogs</a>. For Hotel parterns, refer to <a href='/docs/api-features/shopping-overview/'>Pinterest API for shopping</a>.
   * 
   * Expected answers:
   *   code 200 : CatalogsFeed (Success)
   *   code 400 : Error (Invalid feed parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 404 : Error (Data feed not found.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param feedId Unique identifier of a feed
   * @param adAccountId Unique identifier of an ad account.
   */
  def feedsGet(feedId: String, adAccountId: Option[String] = None): ApiRequest[CatalogsFeed] =
    ApiRequest[CatalogsFeed](ApiMethods.GET, baseUrl, "/catalogs/feeds/{feed_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("feed_id", feedId)
      .withSuccessResponse[CatalogsFeed](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Ingest items for a given feed owned by the \"operation user_account\".  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>  Note: This endpoint is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 200 : CatalogsFeedIngestion (The ingestion process was successfully started.)
   *   code 400 : Error (Invalid feed parameters.)
   *   code 403 : Error (Forbidden. Account not approved for feed mutations yet.)
   *   code 404 : Error (Data feed not found.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param feedId Unique identifier of a feed
   * @param adAccountId Unique identifier of an ad account.
   */
  def feedsIngest(feedId: String, adAccountId: Option[String] = None): ApiRequest[CatalogsFeedIngestion] =
    ApiRequest[CatalogsFeedIngestion](ApiMethods.POST, baseUrl, "/catalogs/feeds/{feed_id}/ingest", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("feed_id", feedId)
      .withSuccessResponse[CatalogsFeedIngestion](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Fetch feeds owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to <a href='https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs'>Before you get started with Catalogs</a>. For Hotel parterns, refer to <a href='/docs/api-features/shopping-overview/'>Pinterest API for shopping</a>.
   * 
   * Expected answers:
   *   code 200 : FeedsList200Response (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param catalogId Filter entities for a given catalog_id. If not given, all catalogs are considered.
   * @param adAccountId Unique identifier of an ad account.
   */
  def feedsList(bookmark: Option[String] = None, pageSize: Option[Int] = None, catalogId: Option[String] = None, adAccountId: Option[String] = None): ApiRequest[FeedsList200Response] =
    ApiRequest[FeedsList200Response](ApiMethods.GET, baseUrl, "/catalogs/feeds", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("catalog_id", catalogId)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[FeedsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update a feed owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to <a href='https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs'>Before you get started with Catalogs</a>. For Hotel parterns, refer to <a href='/docs/api-features/shopping-overview/'>Pinterest API for shopping</a>.  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 200 : CatalogsFeed (Success)
   *   code 400 : Error (Invalid feed parameters.)
   *   code 403 : Error (Forbidden. Account not approved for feed mutations yet.)
   *   code 404 : Error (Data feed not found.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param feedId Unique identifier of a feed
   * @param feedsUpdateRequest Request object used to update a feed.
   * @param adAccountId Unique identifier of an ad account.
   */
  def feedsUpdate(feedId: String, feedsUpdateRequest: FeedsUpdateRequest, adAccountId: Option[String] = None): ApiRequest[CatalogsFeed] =
    ApiRequest[CatalogsFeed](ApiMethods.PATCH, baseUrl, "/catalogs/feeds/{feed_id}", "application/json")
      .withBody(feedsUpdateRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("feed_id", feedId)
      .withSuccessResponse[CatalogsFeed](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * List item validation issues for a given feed processing result owned by the \"operation user_account\". Up to 20 random samples of affected items are returned for each error and warning code. Please note that for now query parameters 'item_numbers' and 'item_validation_issue' cannot be used simultaneously until it is implemented in some release in the future. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: To get a list of all affected items instead of sampled issues, please refer to <a href='/docs/api/v5/#operation/reports/create'>Build catalogs report</a> and <a href='/docs/api/v5/#operation/reports/get'>Get catalogs report</a> endpoints. Moreover, they support multiple types of catalogs.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 200 : ItemsIssuesList200Response (Success)
   *   code 401 : Error (Unauthorized access.)
   *   code 404 : Error (Processing Result not found.)
   *   code 501 : Error (Not implemented.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param processingResultId Unique identifier of a feed processing result. It can be acquired from the \"id\" field of the \"items\" array within the response of the [List processing results for a given feed](/docs/api/v5/#operation/feed_processing_results/list).
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param itemNumbers Item number based on order of appearance in the Catalogs Feed. For example, '0' refers to first item found in a feed that was downloaded from a 'location' specified during feed creation.
   * @param itemValidationIssue Filter item validation issues that have a given type of item validation issue.
   * @param adAccountId Unique identifier of an ad account.
   */
  def itemsIssuesList(processingResultId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, itemNumbers: Seq[Int], itemValidationIssue: Option[CatalogsItemValidationIssue] = None, adAccountId: Option[String] = None): ApiRequest[ItemsIssuesList200Response] =
    ApiRequest[ItemsIssuesList200Response](ApiMethods.GET, baseUrl, "/catalogs/processing_results/{processing_result_id}/item_issues", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("item_numbers", ArrayValues(itemNumbers, MULTI))
      .withQueryParam("item_validation_issue", itemValidationIssue)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("processing_result_id", processingResultId)
      .withSuccessResponse[ItemsIssuesList200Response](200)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](501)
      .withDefaultErrorResponse[Error]
      



}

