/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Catalog
import org.openapitools.client.model.CatalogsAvailableFilterValues
import org.openapitools.client.model.CatalogsCreateRequest
import org.openapitools.client.model.CatalogsList200Response
import org.openapitools.client.model.CatalogsLocale
import org.openapitools.client.model.Country
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CatalogsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CatalogsApi(baseUrl)
}

class CatalogsApi(baseUrl: String) {

  /**
   * Get the available filter attributes and values associated with a given feed or catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account. - <code>country</code>, <code>language</code>, and <code>feed_id</code> are only used in retail catalogs. - Note: It is not guaranteed that all available filter values will be returned. Instead this endpoint will return values from a sample of up to 1000 items.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 200 : CatalogsAvailableFilterValues (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 403 : Error (Forbidden. Account not authorized to access available filter values.)
   *   code 404 : Error (Data feed not found.)
   *   code 409 : Error (Can't access this feature without an existing catalog.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param catalogId Filter entities for a given catalog_id.
   * @param feedId Filter entities for a given feed_id. If not given, all feeds are considered.
   * @param country Country for the Catalogs Items
   * @param language Language for the Catalogs Items
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsAvailableFilterValues(catalogId: String, feedId: Option[String] = None, country: Option[Country] = None, language: Option[CatalogsLocale] = None, adAccountId: Option[String] = None): ApiRequest[CatalogsAvailableFilterValues] =
    ApiRequest[CatalogsAvailableFilterValues](ApiMethods.GET, baseUrl, "/catalogs/available_filter_values", "application/json")
      .withQueryParam("catalog_id", catalogId)
      .withQueryParam("feed_id", feedId)
      .withQueryParam("country", country)
      .withQueryParam("language", language)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsAvailableFilterValues](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create a new catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>  Note: Access to the Product and Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 200 : Catalog (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param catalogsCreateRequest Request object used to created a feed.
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsCreate(catalogsCreateRequest: CatalogsCreateRequest, adAccountId: Option[String] = None): ApiRequest[Catalog] =
    ApiRequest[Catalog](ApiMethods.POST, baseUrl, "/catalogs", "application/json")
      .withBody(catalogsCreateRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[Catalog](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withDefaultErrorResponse[Error]
      

  /**
   * Fetch catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 200 : CatalogsList200Response (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsList(bookmark: Option[String] = None, pageSize: Option[Int] = None, adAccountId: Option[String] = None): ApiRequest[CatalogsList200Response] =
    ApiRequest[CatalogsList200Response](ApiMethods.GET, baseUrl, "/catalogs", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withDefaultErrorResponse[Error]
      



}

