/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CatalogsItems
import org.openapitools.client.model.CatalogsItemsBatch
import org.openapitools.client.model.CatalogsItemsRequest
import org.openapitools.client.model.Error
import org.openapitools.client.model.ItemsBatchPostRequest
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CatalogItemsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CatalogItemsApi(baseUrl)
}

class CatalogItemsApi(baseUrl: String) {

  /**
   * Get a single catalogs items batch owned by the \"operating user_account\". <a href=\"/docs/api-features/shopping-overview/#Update%20items%20in%20batch\" target=\"_blank\">See detailed documentation here.</a> - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.
   * 
   * Expected answers:
   *   code 200 : CatalogsItemsBatch (Response containing the requested catalogs items batch)
   *   code 401 : Error (Not authenticated to access catalogs items batch)
   *   code 403 : Error (Not authorized to access catalogs items batch)
   *   code 404 : Error (Catalogs items batch not found)
   *   code 405 : Error (Method Not Allowed.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param batchId Id of a catalogs items batch to fetch
   * @param adAccountId Unique identifier of an ad account.
   */
  def itemsBatchGet(batchId: String, adAccountId: Option[String] = None): ApiRequest[CatalogsItemsBatch] =
    ApiRequest[CatalogsItemsBatch](ApiMethods.GET, baseUrl, "/catalogs/items/batch/{batch_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("batch_id", batchId)
      .withSuccessResponse[CatalogsItemsBatch](200)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](405)
      .withDefaultErrorResponse[Error]
      

  /**
   * This endpoint supports multiple operations on a set of one or more catalog items owned by the \"operation user_account\". <a href=\"/docs/api-features/shopping-overview/#Update%20items%20in%20batch\" target=\"_blank\">See detailed documentation here.</a> - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: - Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager. - The item UPSERT operation is restricted to users without a feed data source. If you plan to migrate item ingestion from feeds to the API, please reach out to your partner manager or via the Help Center to get assistance.
   * 
   * Expected answers:
   *   code 200 : CatalogsItemsBatch (Response containing the requested catalogs items batch)
   *   code 400 : Error (Invalid request parameters.)
   *   code 401 : Error (Not authenticated to post catalogs items)
   *   code 403 : Error (Not authorized to post catalogs items)
   *   code 0 : Error (Unexpected error)
   * 
   * @param itemsBatchPostRequest Request object used to create catalogs items in a batch
   * @param adAccountId Unique identifier of an ad account.
   */
  def itemsBatchPost(itemsBatchPostRequest: ItemsBatchPostRequest, adAccountId: Option[String] = None): ApiRequest[CatalogsItemsBatch] =
    ApiRequest[CatalogsItemsBatch](ApiMethods.POST, baseUrl, "/catalogs/items/batch", "application/json")
      .withBody(itemsBatchPostRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsItemsBatch](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get the items of the catalog owned by the \"operation user_account\". <a href=\"/docs/api-features/shopping-overview/#Update%20items%20in%20batch\" target=\"_blank\">See detailed documentation here.</a> - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 200 : CatalogsItems (Response containing the requested catalogs items)
   *   code 400 : Error (Invalid request)
   *   code 401 : Error (Not authorized to access catalogs items)
   *   code 403 : Error (Not authorized to access catalogs items)
   *   code 0 : Error (Unexpected error)
   * 
   * @param catalogsItemsRequest Request object used to get catalogs items
   * @param adAccountId Unique identifier of an ad account.
   */
  def itemsPost(catalogsItemsRequest: CatalogsItemsRequest, adAccountId: Option[String] = None): ApiRequest[CatalogsItems] =
    ApiRequest[CatalogsItems](ApiMethods.POST, baseUrl, "/catalogs/items", "application/json")
      .withBody(catalogsItemsRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsItems](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withDefaultErrorResponse[Error]
      



}

