/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CatalogsListProductsByFilterRequest
import org.openapitools.client.model.CatalogsProductGroupPinsList200Response
import org.openapitools.client.model.CatalogsProductGroupProductCountsVertical
import org.openapitools.client.model.CatalogsProductGroupsList200Response
import org.openapitools.client.model.CatalogsProductGroupsUpdateRequest
import org.openapitools.client.model.CatalogsVerticalProductGroup
import org.openapitools.client.model.Error
import org.openapitools.client.model.MultipleProductGroupsInner
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CatalogProductGroupsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CatalogProductGroupsApi(baseUrl)
}

class CatalogProductGroupsApi(baseUrl: String) {

  /**
   * Get a list of product pins for a given Catalogs Product Group Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 200 : CatalogsProductGroupPinsList200Response (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 404 : Error (Catalogs product group not found.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param productGroupId Unique identifier of a product group
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param adAccountId Unique identifier of an ad account.
   * @param pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.
   */
  def catalogsProductGroupPinsList(productGroupId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, adAccountId: Option[String] = None, pinMetrics: Option[Boolean] = None): ApiRequest[CatalogsProductGroupPinsList200Response] =
    ApiRequest[CatalogsProductGroupPinsList200Response](ApiMethods.GET, baseUrl, "/catalogs/product_groups/{product_group_id}/products", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("pin_metrics", pinMetrics)
      .withPathParam("product_group_id", productGroupId)
      .withSuccessResponse[CatalogsProductGroupPinsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create product group to use in Catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager. \"Catalog-based product groups\" can include items from all data sources (feeds and API) and are available to both non-retail catalogs with any data sources and retail catalogs with API-created items. If your catalog only contains retail items created via feeds, you should use the \"retail feed-based\" option. <a href='/docs/api-features/shopping-overview/'>Learn more</a>  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 201 : CatalogsVerticalProductGroup (Success)
   *   code 400 : Error (Invalid body.)
   *   code 401 : Error (Unauthorized access.)
   *   code 403 : Error (Forbidden. Account not approved for catalog product group mutations yet.)
   *   code 409 : Error (Conflict. Can't create this catalogs product group with this value.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param multipleProductGroupsInner Request object used to create a single catalogs product groups.
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsCreate(multipleProductGroupsInner: MultipleProductGroupsInner, adAccountId: Option[String] = None): ApiRequest[CatalogsVerticalProductGroup] =
    ApiRequest[CatalogsVerticalProductGroup](ApiMethods.POST, baseUrl, "/catalogs/product_groups", "application/json")
      .withBody(multipleProductGroupsInner)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsVerticalProductGroup](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create product group to use in Catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 201 : Seq[String] (Success)
   *   code 400 : Error (Invalid body.)
   *   code 401 : Error (Unauthorized access.)
   *   code 403 : Error (Forbidden. Account not approved for catalog product group mutations yet.)
   *   code 409 : Error (Conflict. Can't create this catalogs product group with this value.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param multipleProductGroupsInner Request object used to create one or more catalogs product groups.
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsCreateMany(multipleProductGroupsInner: Seq[MultipleProductGroupsInner], adAccountId: Option[String] = None): ApiRequest[Seq[String]] =
    ApiRequest[Seq[String]](ApiMethods.POST, baseUrl, "/catalogs/product_groups/multiple", "application/json")
      .withBody(multipleProductGroupsInner)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[String]](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete a product group owned by the \"operation user_account\" from being in use in Catalogs. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 204 :  (Catalogs Product Group deleted successfully.)
   *   code 400 : Error (Invalid catalogs product group id parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 403 : Error (Forbidden. Account not approved for catalog product group mutations yet.)
   *   code 404 : Error (Catalogs product group not found.)
   *   code 409 : Error (Conflict. Can't delete this catalogs product group.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param productGroupId Unique identifier of a product group
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsDelete(productGroupId: String, adAccountId: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/catalogs/product_groups/{product_group_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("product_group_id", productGroupId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete product groups owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 204 :  (Catalogs Product Groups deleted successfully.)
   *   code 401 : Error (Unauthorized access.)
   *   code 403 : Error (Forbidden. Account not approved for catalog product group mutations yet.)
   *   code 404 : Error (Catalogs product group not found.)
   *   code 409 : Error (Conflict. Can't delete this catalogs product group.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param id Comma-separated list of product group ids
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsDeleteMany(id: Seq[Int], adAccountId: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/catalogs/product_groups/multiple", "application/json")
      .withQueryParam("id", ArrayValues(id, CSV))
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a singe product group for a given Catalogs Product Group Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 200 : CatalogsVerticalProductGroup (Success)
   *   code 400 : Error (Invalid catalogs product group id parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 403 : Error (Forbidden. Account not approved for catalog product group mutations yet.)
   *   code 404 : Error (Catalogs product group not found.)
   *   code 409 : Error (Conflict. Can't get a catalogs product group without an existing catalog.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param productGroupId Unique identifier of a product group
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsGet(productGroupId: String, adAccountId: Option[String] = None): ApiRequest[CatalogsVerticalProductGroup] =
    ApiRequest[CatalogsVerticalProductGroup](ApiMethods.GET, baseUrl, "/catalogs/product_groups/{product_group_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("product_group_id", productGroupId)
      .withSuccessResponse[CatalogsVerticalProductGroup](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of product groups for a given Catalogs Feed Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 200 : CatalogsProductGroupsList200Response (Success)
   *   code 400 : Error (Invalid feed parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 403 : Error (Forbidden. Account not approved for catalog product group mutations yet.)
   *   code 404 : Error (Data feed not found.)
   *   code 409 : Error (Conflict. Can't create this catalogs product group with this value.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param id Comma-separated list of product group ids
   * @param feedId Filter entities for a given feed_id. If not given, all feeds are considered.
   * @param catalogId Filter entities for a given catalog_id. If not given, all catalogs are considered.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsList(id: Seq[Int], feedId: Option[String] = None, catalogId: Option[String] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None, adAccountId: Option[String] = None): ApiRequest[CatalogsProductGroupsList200Response] =
    ApiRequest[CatalogsProductGroupsList200Response](ApiMethods.GET, baseUrl, "/catalogs/product_groups", "application/json")
      .withQueryParam("id", ArrayValues(id, CSV))
      .withQueryParam("feed_id", feedId)
      .withQueryParam("catalog_id", catalogId)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsProductGroupsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a product counts for a given Catalogs Product Group owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 200 : CatalogsProductGroupProductCountsVertical (Success)
   *   code 404 : Error (Product Group Not Found.)
   *   code 409 : Error (Can't access this feature without an existing catalog.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param productGroupId Unique identifier of a product group
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsProductCountsGet(productGroupId: String, adAccountId: Option[String] = None): ApiRequest[CatalogsProductGroupProductCountsVertical] =
    ApiRequest[CatalogsProductGroupProductCountsVertical](ApiMethods.GET, baseUrl, "/catalogs/product_groups/{product_group_id}/product_counts", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("product_group_id", productGroupId)
      .withSuccessResponse[CatalogsProductGroupProductCountsVertical](200)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update product group owned by the \"operation user_account\" to use in Catalogs. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager. \"Catalog-based product groups\" can include items from all data sources (feeds and API) and are available to both non-retail catalogs with any data sources and retail catalogs with API-created items. If your catalog only contains retail items created via feeds, you should use the \"retail feed-based\" option. <a href='/docs/api-features/shopping-overview/'>Learn more</a>  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 200 : CatalogsVerticalProductGroup (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 401 : Error (Unauthorized access.)
   *   code 403 : Error (Forbidden. Account not approved for catalog product group mutations yet.)
   *   code 404 : Error (Catalogs product group not found.)
   *   code 409 : Error (Conflict. Can't update this catalogs product group to this value.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param productGroupId Unique identifier of a product group
   * @param catalogsProductGroupsUpdateRequest Request object used to Update a catalogs product group.
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsUpdate(productGroupId: String, catalogsProductGroupsUpdateRequest: CatalogsProductGroupsUpdateRequest, adAccountId: Option[String] = None): ApiRequest[CatalogsVerticalProductGroup] =
    ApiRequest[CatalogsVerticalProductGroup](ApiMethods.PATCH, baseUrl, "/catalogs/product_groups/{product_group_id}", "application/json")
      .withBody(catalogsProductGroupsUpdateRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("product_group_id", productGroupId)
      .withSuccessResponse[CatalogsVerticalProductGroup](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * List products Pins owned by the \"operation user_account\" that meet the criteria specified in the Catalogs Product Group Filter given in the request. - This endpoint has been implemented in POST to allow for complex filters. This specific POST endpoint is designed to be idempotent. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: This endpoint only supports RETAIL catalog at the moment.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>
   * 
   * Expected answers:
   *   code 200 : CatalogsProductGroupPinsList200Response (Success)
   *   code 401 : Error (Unauthorized access.)
   *   code 409 : Error (Conflict. Can't get products.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param catalogsListProductsByFilterRequest Object holding a group of filters for a catalog product group
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param adAccountId Unique identifier of an ad account.
   * @param pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.
   */
  def productsByProductGroupFilterList(catalogsListProductsByFilterRequest: CatalogsListProductsByFilterRequest, bookmark: Option[String] = None, pageSize: Option[Int] = None, adAccountId: Option[String] = None, pinMetrics: Option[Boolean] = None): ApiRequest[CatalogsProductGroupPinsList200Response] =
    ApiRequest[CatalogsProductGroupPinsList200Response](ApiMethods.POST, baseUrl, "/catalogs/products/get_by_product_group_filters", "application/json")
      .withBody(catalogsListProductsByFilterRequest)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("pin_metrics", pinMetrics)
      .withSuccessResponse[CatalogsProductGroupPinsList200Response](200)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      



}

