/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ConversionEventResponse
import org.openapitools.client.model.ConversionTag
import org.openapitools.client.model.ConversionTagCreate
import org.openapitools.client.model.ConversionTagsList200Response
import org.openapitools.client.model.Error
import org.openapitools.client.model.PageVisitConversionTagsGet200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ConversionTagsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ConversionTagsApi(baseUrl)
}

class ConversionTagsApi(baseUrl: String) {

  /**
   * Create a conversion tag, also known as [Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag), with the option to enable enhanced match.  The Pinterest Tag tracks actions people take on the ad account's website after they view the ad account's ad on Pinterest. The advertiser needs to customize this tag to track conversions.  For more information, see:  [Set up the Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag)  [Pinterest Tag](/docs/track-conversions/pinterest-tag/)  [Enhanced match](/docs/track-conversions/pinterest-tag/#enhanced-match)
   * 
   * Expected answers:
   *   code 200 : ConversionTag (The request has succeeded.)
   *   code 201 : ConversionTag (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param conversionTagCreate 
   */
  def conversionTagsCreate(adAccountId: String, conversionTagCreate: ConversionTagCreate): ApiRequest[ConversionTag] =
    ApiRequest[ConversionTag](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/conversion_tags", "application/json")
      .withBody(conversionTagCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionTag](200)
      .withSuccessResponse[ConversionTag](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get information about an existing conversion tag.
   * 
   * Expected answers:
   *   code 200 : ConversionTag (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param conversionTagId Id of the conversion tag.
   */
  def conversionTagsGet(adAccountId: String, conversionTagId: String): ApiRequest[ConversionTag] =
    ApiRequest[ConversionTag](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_tags/{conversion_tag_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("conversion_tag_id", conversionTagId)
      .withSuccessResponse[ConversionTag](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * List conversion tags associated with an ad account.
   * 
   * Expected answers:
   *   code 200 : ConversionTagsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param filterDeleted Filter by deleted status
   */
  def conversionTagsList(adAccountId: String, filterDeleted: Option[Boolean] = None): ApiRequest[ConversionTagsList200Response] =
    ApiRequest[ConversionTagsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_tags", "application/json")
      .withQueryParam("filter_deleted", filterDeleted)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionTagsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get Ocpm eligible conversion tag events for an ad account.
   * 
   * Expected answers:
   *   code 200 : Map[String, Seq[ConversionEventResponse]] (Success)
   *   code 0 : Error (Unexpected errors)
   * 
   * @param adAccountId Unique identifier of an ad account.
   */
  def ocpmEligibleConversionTagsGet(adAccountId: String): ApiRequest[Map[String, Seq[ConversionEventResponse]]] =
    ApiRequest[Map[String, Seq[ConversionEventResponse]]](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_tags/ocpm_eligible", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Map[String, Seq[ConversionEventResponse]]](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get all page visit conversion tag events for an ad account.
   * 
   * Expected answers:
   *   code 200 : PageVisitConversionTagsGet200Response (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def pageVisitConversionTagsGet(adAccountId: String, pageSize: Option[Int] = None, order: Option[String] = None, bookmark: Option[String] = None): ApiRequest[PageVisitConversionTagsGet200Response] =
    ApiRequest[PageVisitConversionTagsGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_tags/page_visit", "application/json")
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("bookmark", bookmark)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[PageVisitConversionTagsGet200Response](200)
      .withDefaultErrorResponse[Error]
      



}

