/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdvertiserDefinedEventsResponse
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ConversionsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ConversionsApi(baseUrl)
}

class ConversionsApi(baseUrl: String) {

  /**
   * <p>Get advertiser defined events for the given ad account.</p>
   * 
   * Expected answers:
   *   code 200 : AdvertiserDefinedEventsResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   */
  def advertiserDefinedEventsGet(adAccountId: String): ApiRequest[AdvertiserDefinedEventsResponse] =
    ApiRequest[AdvertiserDefinedEventsResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/advertiser_defined_events", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdvertiserDefinedEventsResponse](200)
      .withDefaultErrorResponse[Error]
      



}

