/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ConversionEventResponse
import org.openapitools.client.model.ConversionTagCreate
import org.openapitools.client.model.ConversionTagListResponse
import org.openapitools.client.model.ConversionTagResponse
import org.openapitools.client.model.Error
import org.openapitools.client.model.PageVisitConversionTagsGet200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ConversionTagsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ConversionTagsApi(baseUrl)
}

class ConversionTagsApi(baseUrl: String) {

  /**
   * Create a conversion tag, also known as <a href=\"https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag\" target=\"_blank\">Pinterest tag</a>, with the option to enable enhanced match.<p/> The Pinterest Tag tracks actions people take on the ad account’s website after they view the ad account's ad on Pinterest. The advertiser needs to customize this tag to track conversions.<p/> For more information, see:<p/> <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag\">Set up the Pinterest tag</a><p/> <a class=\"reference external\" href=\"https://developers.pinterest.com/docs/conversions/pinterest-tag/\">Pinterest Tag</a><p/> <a class=\"reference external\" href=\"https://developers.pinterest.com/docs/conversions/enhanced-match/\">Enhanced match</a>
   * 
   * Expected answers:
   *   code 200 : ConversionTagResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param conversionTagCreate Conversion Tag to create
   */
  def conversionTagsCreate(adAccountId: String, conversionTagCreate: ConversionTagCreate): ApiRequest[ConversionTagResponse] =
    ApiRequest[ConversionTagResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/conversion_tags", "application/json")
      .withBody(conversionTagCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionTagResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get information about an existing conversion tag.
   * 
   * Expected answers:
   *   code 200 : ConversionTagResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param conversionTagId Id of the conversion tag.
   */
  def conversionTagsGet(adAccountId: String, conversionTagId: String): ApiRequest[ConversionTagResponse] =
    ApiRequest[ConversionTagResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_tags/{conversion_tag_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("conversion_tag_id", conversionTagId)
      .withSuccessResponse[ConversionTagResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * List conversion tags associated with an ad account.
   * 
   * Expected answers:
   *   code 200 : ConversionTagListResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param filterDeleted Filter out deleted tags.
   */
  def conversionTagsList(adAccountId: String, filterDeleted: Option[Boolean] = None): ApiRequest[ConversionTagListResponse] =
    ApiRequest[ConversionTagListResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_tags", "application/json")
      .withQueryParam("filter_deleted", filterDeleted)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionTagListResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get Ocpm eligible conversion tag events for an ad account.
   * 
   * Expected answers:
   *   code 200 : Map[String, Seq[ConversionEventResponse]] (Success)
   *   code 0 : Error (Unexpected errors)
   * 
   * @param adAccountId Unique identifier of an ad account.
   */
  def ocpmEligibleConversionTagsGet(adAccountId: String): ApiRequest[Map[String, Seq[ConversionEventResponse]]] =
    ApiRequest[Map[String, Seq[ConversionEventResponse]]](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_tags/ocpm_eligible", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Map[String, Seq[ConversionEventResponse]]](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get all page visit conversion tag events for an ad account.
   * 
   * Expected answers:
   *   code 200 : PageVisitConversionTagsGet200Response (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/getting-started/pagination/'>Pagination</a> for more information.
   * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def pageVisitConversionTagsGet(adAccountId: String, pageSize: Option[Int] = None, order: Option[String] = None, bookmark: Option[String] = None): ApiRequest[PageVisitConversionTagsGet200Response] =
    ApiRequest[PageVisitConversionTagsGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_tags/page_visit", "application/json")
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("bookmark", bookmark)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[PageVisitConversionTagsGet200Response](200)
      .withDefaultErrorResponse[Error]
      



}

