/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ConversionApiResponse
import org.openapitools.client.model.ConversionEvents
import org.openapitools.client.model.DetailedError
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ConversionEventsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ConversionEventsApi(baseUrl)
}

class ConversionEventsApi(baseUrl: String) {

  /**
   * The Pinterest API offers advertisers a way to send Pinterest their conversion information (including web conversions, in-app conversions, or even offline conversions) based on their <code>ad_account_id</code>. The request body should be a JSON object. - This endpoint requires an <code>access_token</code> be generated through Ads Manager. Review the <a href=\"/docs/conversions/conversions/\">Conversions Guide</a> for more details. - The token's <code>user_account</code> must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Audience, Campaign. (Note that the token can be used across multiple ad accounts under an user ID.) - This endpoint has a rate limit of 5,000 calls per minute per ad account. - If the merchant is submitting this information using both Pinterest conversion tags and the Pinterest API, Pinterest will remove duplicate information before reporting. (Note that events that took place offline cannot be deduplicated.)
   * 
   * Expected answers:
   *   code 200 : ConversionApiResponse (Success)
   *   code 400 : Error (The request was invalid.)
   *   code 401 : Error (Not authorized to send conversion events)
   *   code 403 : Error (Unauthorized access.)
   *   code 422 : DetailedError (Not all events were successfully processed.)
   *   code 429 : Error (This request exceeded a rate limit. This can happen if the client exceeds one of the published rate limits within a short time window.)
   *   code 503 : Error (The endpoint has been ramped down and is currently not accepting any traffic.)
   *   code 0 : Error (Unexpected errors)
   * 
   * Available security schemes:
   *   conversion_token (http)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param conversionEvents Conversion events.
   * @param test Include query param ?test=true to mark the request as a test request. The events will not be recorded but the API will still return the same response messages. Use this mode to verify your requests are working and your events are constructed correctly. Warning: If you use this query parameter, be certain that it is off (set to false or deleted) before sending a legitimate (non-testing) request.
   */
  def eventsCreate(adAccountId: String, conversionEvents: ConversionEvents, test: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[ConversionApiResponse] =
    ApiRequest[ConversionApiResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/events", "application/json")
      .withCredentials(bearerToken).withBody(conversionEvents)
      .withQueryParam("test", test)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionApiResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[DetailedError](422)
      .withErrorResponse[Error](429)
      .withErrorResponse[Error](503)
      .withDefaultErrorResponse[Error]
      



}

