/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CustomerListUploadCreateRequest
import org.openapitools.client.model.CustomerListUploadCreateResponse
import org.openapitools.client.model.CustomerListUploadResponse
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CustomerListUploadsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CustomerListUploadsApi(baseUrl)
}

class CustomerListUploadsApi(baseUrl: String) {

  /**
   * <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"_blank\">Closed beta</a>  <p>Create a customer list upload request for multipart S3 upload.</p> <p>Note: Each part must be at least 5mb; however the last part can be any size greater than 0. Clients with smaller files can request a single part count. This minimal part size restriction is defined by the AWS S3 API.</p> <p><b>Please review the <u><a href=\"/docs/api/v5/customer_lists-update/\" target=\"_blank\">update customer list endpoint</a></u> documentation for additional information.</b></p>
   * 
   * Expected answers:
   *   code 200 : CustomerListUploadCreateResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param customerListId Unique identifier of a customer list
   * @param customerListUploadCreateRequest Parameters to create a customer list upload request
   */
  def customerListUploadsCreate(adAccountId: String, customerListId: String, customerListUploadCreateRequest: CustomerListUploadCreateRequest): ApiRequest[CustomerListUploadCreateResponse] =
    ApiRequest[CustomerListUploadCreateResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads", "application/json")
      .withBody(customerListUploadCreateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("customer_list_id", customerListId)
      .withSuccessResponse[CustomerListUploadCreateResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"_blank\">Closed beta</a> <p>Get the metadata for a given upload by its ID.</p>
   * 
   * Expected answers:
   *   code 200 : CustomerListUploadResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param customerListId Unique identifier of a customer list
   * @param customerListUploadId Unique identifier of a customer list upload
   */
  def customerListUploadsGet(adAccountId: String, customerListId: String, customerListUploadId: String): ApiRequest[CustomerListUploadResponse] =
    ApiRequest[CustomerListUploadResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("customer_list_id", customerListId)
      .withPathParam("customer_list_upload_id", customerListUploadId)
      .withSuccessResponse[CustomerListUploadResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"_blank\">Closed beta</a> <p>Begin processing a customer list upload.</p>
   * 
   * Expected answers:
   *   code 200 : CustomerListUploadResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param customerListId Unique identifier of a customer list
   * @param customerListUploadId Unique identifier of a customer list upload
   */
  def customerListUploadsRun(adAccountId: String, customerListId: String, customerListUploadId: String): ApiRequest[CustomerListUploadResponse] =
    ApiRequest[CustomerListUploadResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}/run", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("customer_list_id", customerListId)
      .withPathParam("customer_list_upload_id", customerListUploadId)
      .withSuccessResponse[CustomerListUploadResponse](200)
      .withDefaultErrorResponse[Error]
      



}

