/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.DetailedError
import org.openapitools.client.model.Error
import org.openapitools.client.model.IntegrationLogsRequest
import org.openapitools.client.model.IntegrationLogsSuccessResponse
import org.openapitools.client.model.IntegrationMetadata
import org.openapitools.client.model.IntegrationRecord
import org.openapitools.client.model.IntegrationRequest
import org.openapitools.client.model.IntegrationRequestPatch
import org.openapitools.client.model.IntegrationsGetList200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object IntegrationsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new IntegrationsApi(baseUrl)
}

class IntegrationsApi(baseUrl: String) {

  /**
   * Delete commerce integration metadata for the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 204 :  (Commerce Integration deleted successfully)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param externalBusinessId External business ID for the integration.
   */
  def integrationsCommerceDel(externalBusinessId: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/integrations/commerce/{external_business_id}", "application/json")
      .withPathParam("external_business_id", externalBusinessId)
      .withSuccessResponse[Unit](204)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get commerce integration metadata associated with the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationMetadata (Success)
   *   code 404 : Error (Integration not found.)
   *   code 409 : Error (Can't access this integration metadata.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param externalBusinessId External business ID for the integration.
   */
  def integrationsCommerceGet(externalBusinessId: String): ApiRequest[IntegrationMetadata] =
    ApiRequest[IntegrationMetadata](ApiMethods.GET, baseUrl, "/integrations/commerce/{external_business_id}", "application/json")
      .withPathParam("external_business_id", externalBusinessId)
      .withSuccessResponse[IntegrationMetadata](200)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update commerce integration metadata for the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationMetadata (Success)
   *   code 404 : Error (Integration not found.)
   *   code 409 : Error (Can't access this integration metadata.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param externalBusinessId External business ID for the integration.
   * @param integrationRequestPatch Parameters to get create/update the Integration Metadata
   */
  def integrationsCommercePatch(externalBusinessId: String, integrationRequestPatch: Option[IntegrationRequestPatch] = None): ApiRequest[IntegrationMetadata] =
    ApiRequest[IntegrationMetadata](ApiMethods.PATCH, baseUrl, "/integrations/commerce/{external_business_id}", "application/json")
      .withBody(integrationRequestPatch)
      .withPathParam("external_business_id", externalBusinessId)
      .withSuccessResponse[IntegrationMetadata](200)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create commerce integration metadata to link an external business ID with a Pinterest merchant & ad account. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationMetadata (Success)
   *   code 404 : Error (Integration not found.)
   *   code 409 : Error (Can't access this integration metadata.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param integrationRequest Parameters to get create/update the Integration Metadata
   */
  def integrationsCommercePost(integrationRequest: Option[IntegrationRequest] = None): ApiRequest[IntegrationMetadata] =
    ApiRequest[IntegrationMetadata](ApiMethods.POST, baseUrl, "/integrations/commerce", "application/json")
      .withBody(integrationRequest)
      .withSuccessResponse[IntegrationMetadata](200)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get integration metadata by ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationRecord (Success)
   *   code 404 : Error (Integration not found.)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param id Integration ID.
   */
  def integrationsGetById(id: String): ApiRequest[IntegrationRecord] =
    ApiRequest[IntegrationRecord](ApiMethods.GET, baseUrl, "/integrations/{id}", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[IntegrationRecord](200)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get integration metadata list. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationsGetList200Response (Success)
   *   code 0 : Error (Unexpected error.)
   * 
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/getting-started/pagination/'>Pagination</a> for more information.
   */
  def integrationsGetList(bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[IntegrationsGetList200Response] =
    ApiRequest[IntegrationsGetList200Response](ApiMethods.GET, baseUrl, "/integrations", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[IntegrationsGetList200Response](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * This endpoint receives batched logs from integration applications on partner platforms. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationLogsSuccessResponse (Success.)
   *   code 400 : DetailedError (Bad request.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param integrationLogsRequest Ingest log information from external integration application.
   */
  def integrationsLogsPost(integrationLogsRequest: IntegrationLogsRequest): ApiRequest[IntegrationLogsSuccessResponse] =
    ApiRequest[IntegrationLogsSuccessResponse](ApiMethods.POST, baseUrl, "/integrations/logs", "application/json")
      .withBody(integrationLogsRequest)
      .withSuccessResponse[IntegrationLogsSuccessResponse](200)
      .withErrorResponse[DetailedError](400)
      .withDefaultErrorResponse[Error]
      



}

