/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.KeywordUpdateBody
import org.openapitools.client.model.KeywordsGet200Response
import org.openapitools.client.model.KeywordsMetricsArrayResponse
import org.openapitools.client.model.KeywordsRequest
import org.openapitools.client.model.KeywordsResponse
import org.openapitools.client.model.MatchType
import org.openapitools.client.model.TrendType
import org.openapitools.client.model.TrendingKeywordsResponse
import org.openapitools.client.model.TrendsSupportedRegion
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object KeywordsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new KeywordsApi(baseUrl)
}

class KeywordsApi(baseUrl: String) {

  /**
   * See keyword metrics for a specified country, aggregated across all of Pinterest. (Definitions are available from the \"Get delivery metrics definitions\" <a href=\"/docs/api/v5/#operation/delivery_metrics/get\">API endpoint</a>).
   * 
   * Expected answers:
   *   code 200 : KeywordsMetricsArrayResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param countryCode Two letter country code (ISO 3166-1 alpha-2)
   * @param keywords Comma-separated keywords
   */
  def countryKeywordsMetricsGet(adAccountId: String, countryCode: String, keywords: Seq[String]): ApiRequest[KeywordsMetricsArrayResponse] =
    ApiRequest[KeywordsMetricsArrayResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/keywords/metrics", "application/json")
      .withQueryParam("country_code", countryCode)
      .withQueryParam("keywords", ArrayValues(keywords, CSV))
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[KeywordsMetricsArrayResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * <p>Create keywords for following entity types(advertiser, campaign, ad group or ad).</p> <p>For more information, see <a target=\"_blank\" href=\"https://help.pinterest.com/en/business/article/keyword-targeting\">Keyword targeting</a>.</p> <p><b>Notes:</b></p> <ul style=\"list-style-type: square;\"> <li>Advertisers and campaigns can only be assigned keywords with excluding ('_NEGATIVE').</li> <li>All keyword match types are available for ad groups.</li> </ul> <p>For more information on match types, see <a  target=\"_blank\" href=\"/docs/ads/targeting/#Match%20type%20and%20targeting%20level\">match type enums</a>.</p> <p><b>Returns:</b></p> <ul style=\"list-style-type: square;\"> <li><p>A successful call returns an object containing an array of new keyword objects and an empty &quot;errors&quot; object array.</p></li> <li><p>An unsuccessful call returns an empty keywords array, and, instead, inserts the entire object with nulled/negated properties into the &quot;errors&quot; object array:</p> <pre class=\"last literal-block\"> { \"keywords\": [], \"errors\": [ { \"data\": { \"archived\": null, \"match_type\": \"EXACT\", \"parent_type\": null, \"value\": \"foobar\", \"parent_id\": null, \"type\": \"keyword\", \"id\": null }, \"error_messages\": [ \"Advertisers and Campaigns only accept excluded targeting attributes.\" ] } } </pre></li> </ul> <p><b>Rate limit</b>: <a href=\"/docs/redoc/#tag/Rate-Limits\">WRITE</a>.</p>
   * 
   * Expected answers:
   *   code 200 : KeywordsResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param keywordsRequest 
   */
  def keywordsCreate(adAccountId: String, keywordsRequest: KeywordsRequest): ApiRequest[KeywordsResponse] =
    ApiRequest[KeywordsResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/keywords", "application/json")
      .withBody(keywordsRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[KeywordsResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * <p>Get a list of keywords based on the filters provided. If no filter is provided, it will default to the ad_account_id filter, which means it will only return keywords that specifically have parent_id set to the ad_account_id. Note: Keywords can have ad_account_ids, campaign_ids, and ad_group_ids set as their parent_ids. Keywords created through Ads Manager will have their parent_id set to an ad_group_id, not ad_account_id.</p> <p>For more information, see <a target=\"_blank\" href=\"https://help.pinterest.com/en/business/article/keyword-targeting\">Keyword targeting</a>.</p> <p><b>Notes:</b></p> <ul style=\"list-style-type: square;\"> <li>Advertisers and campaigns can only be assigned keywords with excluding ('_NEGATIVE').</li> <li>All keyword match types are available for ad groups.</li> </ul> <p>For more information on match types, see <a target=\"_blank\" href=\"/docs/ads/targeting/#Match%20type%20and%20targeting%20level\">match type enums</a>.</p> <p><b>Returns:</b></p> <ul style=\"list-style-type: square;\"> <li><p>A successful call returns an object containing an array of new keyword objects and an empty &quot;errors&quot; object array.</p></li> <li><p>An unsuccessful call returns an empty keywords array, and, instead, inserts the entire object with nulled/negated properties into the &quot;errors&quot; object array:</p> <pre class=\"last literal-block\"> { \"keywords\": [], \"errors\": [ { \"data\": { \"archived\": null, \"match_type\": \"EXACT\", \"parent_type\": null, \"value\": \"foobar\", \"parent_id\": null, \"type\": \"keyword\", \"id\": null }, \"error_messages\": [ \"Advertisers and Campaigns only accept excluded targeting attributes.\" ] } } </pre></li> </ul>
   * 
   * Expected answers:
   *   code 200 : KeywordsGet200Response (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param campaignId Campaign Id to use to filter the results.
   * @param adGroupId Ad group Id.
   * @param matchTypes Keyword <a target=\"_blank\" href=\"/docs/ads/targeting/#Match%20type%20and%20targeting%20level\">match type</a>
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/getting-started/pagination/'>Pagination</a> for more information.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def keywordsGet(adAccountId: String, campaignId: Option[String] = None, adGroupId: Option[String] = None, matchTypes: Seq[MatchType], pageSize: Option[Int] = None, bookmark: Option[String] = None): ApiRequest[KeywordsGet200Response] =
    ApiRequest[KeywordsGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/keywords", "application/json")
      .withQueryParam("campaign_id", campaignId)
      .withQueryParam("ad_group_id", adGroupId)
      .withQueryParam("match_types", ArrayValues(matchTypes, MULTI))
      .withQueryParam("page_size", pageSize)
      .withQueryParam("bookmark", bookmark)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[KeywordsGet200Response](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * <p>Update one or more keywords' bid and archived fields.</p> <p>Archiving a keyword effectively deletes it - keywords no longer receive metrics and no longer visible within the parent entity's keywords list.</p>
   * 
   * Expected answers:
   *   code 200 : KeywordsResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param keywordUpdateBody 
   */
  def keywordsUpdate(adAccountId: String, keywordUpdateBody: KeywordUpdateBody): ApiRequest[KeywordsResponse] =
    ApiRequest[KeywordsResponse](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/keywords", "application/json")
      .withBody(keywordUpdateBody)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[KeywordsResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * <p>Get the top trending search keywords among the Pinterest user audience.</p> <p>Trending keywords can be used to inform ad targeting, budget strategy, and creative decisions about which products and Pins will resonate with your audience.</p> <p>Geographic, demographic and interest-based filters are available to narrow down to the top trends among a specific audience. Multiple trend types are supported that can be used to identify newly-popular, evergreen or seasonal keywords.</p> <p>For an interactive way to explore this data, please visit <a href=\"https://trends.pinterest.com\">trends.pinterest.com</a>.
   * 
   * Expected answers:
   *   code 200 : TrendingKeywordsResponse (Success)
   *   code 400 : Error (Invalid trending keywords request parameters)
   *   code 0 : Error (Unexpected error)
   * 
   * @param region The geographic region of interest. Only top trends within the specified region will be returned.<br /> The `region` parameter is formatted as ISO 3166-2 country codes delimited by `+`, corresponding to the following geographic areas: - `US` - United States - `CA` - Canada - `DE` - Germany - `FR` - France - `ES` - Spain - `IT` - Italy - `DE+AT+CH` - Germanic countries - `GB+IE` - Great Britain & Ireland - `IT+ES+PT+GR+MT` - Southern Europe - `PL+RO+HU+SK+CZ` - Eastern Europe - `SE+DK+FI+NO` - Nordic countries - `NL+BE+LU` - Benelux - `AR` - Argentina - `BR` - Brazil - `CO` - Colombia - `MX` - Mexico - `MX+AR+CO+CL` - Hispanic LatAm - `AU+NZ` - Australasia
   * @param trendType The methodology used to rank how trendy a keyword is. - `growing` trends have high upward growth in search volume over the last quarter - `monthly` trends have high search volume in the last month - `yearly` trends have high search volume in the last year - `seasonal` trends have high upward growth in search volume over the last month and exhibit a seasonal recurring pattern (typically annual)
   * @param interests If set, filters the results to trends associated with the specified interests.<br /> If unset, trends for all interests will be returned.<br /> The list of supported interests is: - `animals` - Animals - `architecture` - Architecture - `art` - Art - `beauty` - Beauty - `childrens_fashion` - Children's Fashion - `design` - Design - `diy_and_crafts` - DIY & Crafts - `education` - Education - `electronics` - Electronics - `entertainment` - Entertainment - `event_planning` - Event Planning - `finance` - Finance - `food_and_drinks` - Food & Drink - `gardening` - Gardening - `health` - Health - `home_decor` - Home Decor - `mens_fashion` - Men's Fashion - `parenting` - Parenting - `quotes` - Quotes - `sport` - Sports - `travel` - Travel - `vehicles` - Vehicles - `wedding` - Wedding - `womens_fashion` - Women's Fashion
   * @param genders If set, filters the results to trends among users who identify with the specified gender(s).<br /> If unset, trends among all genders will be returned.<br /> The `unknown` group includes users with unspecified or customized gender profile settings.
   * @param ages If set, filters the results to trends among users in the specified age range(s).<br /> If unset, trends among all age groups will be returned.
   * @param normalizeAgainstGroup Governs how the resulting time series data will be normalized to a [0-100] scale.<br /> By default (`false`), the data will be normalized independently for each keyword.  The peak search volume observation in *each* keyword's time series will be represented by the value 100.  This is ideal for analyzing when an individual keyword is expected to peak in interest.<br /> If set to `true`, the data will be normalized as a group.  The peak search volume observation across *all* keywords in the response will be represented by the value 100, and all other values scaled accordingly.  Use this option when you wish to compare relative search volume between multiple keywords.
   * @param limit The maximum number of trending keywords that will be returned. Keywords are returned in trend-ranked order, so a `limit` of 50 will return the top 50 trends.
   */
  def trendingKeywordsList(region: TrendsSupportedRegion, trendType: TrendType, interests: Seq[String], genders: Seq[String], ages: Seq[String], normalizeAgainstGroup: Option[Boolean] = None, limit: Option[Int] = None): ApiRequest[TrendingKeywordsResponse] =
    ApiRequest[TrendingKeywordsResponse](ApiMethods.GET, baseUrl, "/trends/keywords/{region}/top/{trend_type}", "application/json")
      .withQueryParam("interests", ArrayValues(interests, MULTI))
      .withQueryParam("genders", ArrayValues(genders, MULTI))
      .withQueryParam("ages", ArrayValues(ages, MULTI))
      .withQueryParam("normalize_against_group", normalizeAgainstGroup)
      .withQueryParam("limit", limit)
      .withPathParam("region", region)
      .withPathParam("trend_type", trendType)
      .withSuccessResponse[TrendingKeywordsResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      



}

