/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.LabelCreateRequest
import org.openapitools.client.model.LabelUpdateRequest
import org.openapitools.client.model.LabelsList200Response
import org.openapitools.client.model.LabelsResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LabelsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new LabelsApi(baseUrl)
}

class LabelsApi(baseUrl: String) {

  /**
   * <p> <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"blank\" target=\"blank\">Closed beta</a> This endpoint is not available to all users. </p> <p>   Apply one or more labels to a campaign.   Currently, you can apply brand and custom labels. Future releases will provide more options.    <b>Note:</b> You can only apply one brand label to a campaign. You can apply 30 custom labels to a campaign.  </p>
   * 
   * Expected answers:
   *   code 200 : LabelsResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param labelCreateRequest 
   */
  def labelsCreate(adAccountId: String, labelCreateRequest: LabelCreateRequest): ApiRequest[LabelsResponse] =
    ApiRequest[LabelsResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/labels", "application/json")
      .withBody(labelCreateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LabelsResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * <p>   <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"blank\" target=\"blank\">Closed beta</a>   This endpoint is not available to all users. </p> <p>   See a list of labels for assets that your account owns, and filter the list by different criteria. </p>
   * 
   * Expected answers:
   *   code 200 : LabelsList200Response (Success)
   *   code 400 : Error (Invalid ad account ads parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param campaignIds List of Campaign Ids to use to filter the results.
   * @param labelIds List of Label Ids to use to filter the results.
   * @param entityStatuses Label entity status
   * @param labelTypes Label type.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def labelsList(adAccountId: String, campaignIds: Seq[String], labelIds: Seq[String], entityStatuses: Seq[String], labelTypes: Seq[String], pageSize: Option[Int] = None, bookmark: Option[String] = None): ApiRequest[LabelsList200Response] =
    ApiRequest[LabelsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/labels", "application/json")
      .withQueryParam("campaign_ids", ArrayValues(campaignIds, MULTI))
      .withQueryParam("label_ids", ArrayValues(labelIds, MULTI))
      .withQueryParam("entity_statuses", ArrayValues(entityStatuses, MULTI))
      .withQueryParam("label_types", ArrayValues(labelTypes, MULTI))
      .withQueryParam("page_size", pageSize)
      .withQueryParam("bookmark", bookmark)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LabelsList200Response](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * <p>   <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"blank\" target=\"blank\">Closed beta</a>   This endpoint is not available to all users. </p> <p>   Change the properties of one or more labels. </p>
   * 
   * Expected answers:
   *   code 200 : LabelsResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param labelUpdateRequest 
   */
  def labelsUpdate(adAccountId: String, labelUpdateRequest: LabelUpdateRequest): ApiRequest[LabelsResponse] =
    ApiRequest[LabelsResponse](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/labels", "application/json")
      .withBody(labelUpdateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LabelsResponse](200)
      .withDefaultErrorResponse[Error]
      



}

