/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.LeadFormResponse
import org.openapitools.client.model.LeadFormTestRequest
import org.openapitools.client.model.LeadFormTestResponse
import org.openapitools.client.model.LeadFormsList200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LeadFormsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new LeadFormsApi(baseUrl)
}

class LeadFormsApi(baseUrl: String) {

  /**
   * Gets a lead form given it's ID. It must also be associated with the provided ad account ID. Retrieving an advertiser's lead form will only contain results if you're a part of the Lead ads beta. If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : LeadFormResponse (Success)
   *   code 400 : Error (Invalid ad account lead forms parameters.)
   *   code 404 : Error (The lead form ID for the given ad account ID does not exist.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param leadFormId Unique identifier of a lead form.
   */
  def leadFormGet(adAccountId: String, leadFormId: String): ApiRequest[LeadFormResponse] =
    ApiRequest[LeadFormResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("lead_form_id", leadFormId)
      .withSuccessResponse[LeadFormResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.  <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/new/about-beta-access/'>Learn more</a>.</strong>
   * 
   * Expected answers:
   *   code 200 : LeadFormTestResponse (Success)
   *   code 400 : Error (Invalid parameters.)
   *   code 404 : Error (Lead not found.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param leadFormId Unique identifier of a lead form.
   * @param leadFormTestRequest Subscription to create.
   */
  def leadFormTestCreate(adAccountId: String, leadFormId: String, leadFormTestRequest: LeadFormTestRequest): ApiRequest[LeadFormTestResponse] =
    ApiRequest[LeadFormTestResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}/test", "application/json")
      .withBody(leadFormTestRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("lead_form_id", leadFormId)
      .withSuccessResponse[LeadFormTestResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Gets all Lead Forms associated with an ad account ID. Retrieving an advertiser's list of lead forms will only contain results if you're a part of the Lead ads beta.  If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : LeadFormsList200Response (Success)
   *   code 400 : Error (Invalid ad account lead forms parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/getting-started/pagination/'>Pagination</a> for more information.
   * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def leadFormsList(adAccountId: String, pageSize: Option[Int] = None, order: Option[String] = None, bookmark: Option[String] = None): ApiRequest[LeadFormsList200Response] =
    ApiRequest[LeadFormsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/lead_forms", "application/json")
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("bookmark", bookmark)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LeadFormsList200Response](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      



}

