/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.LeadsExportCreateRequest
import org.openapitools.client.model.LeadsExportCreateResponse
import org.openapitools.client.model.LeadsExportResponseData
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LeadsExportApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new LeadsExportApi(baseUrl)
}

class LeadsExportApi(baseUrl: String) {

  /**
   * <strong>This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.</strong>  Create an export of leads collected from a lead ad. This returns a lead_export_id  token that you can use to download the export when it is ready.  Note: Lead ad data will be available up to 30 days after the lead has been submitted.  For more, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/lead-ads\">Lead ads</a>.
   * 
   * Expected answers:
   *   code 200 : LeadsExportCreateResponse (Success)
   *   code 400 : Error (Invalid ad account parameter.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param leadsExportCreateRequest 
   */
  def leadsExportCreate(adAccountId: String, leadsExportCreateRequest: LeadsExportCreateRequest): ApiRequest[LeadsExportCreateResponse] =
    ApiRequest[LeadsExportCreateResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/leads_export", "application/json")
      .withBody(leadsExportCreateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LeadsExportCreateResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * <strong>This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.</strong>  Get the export of leads collected from a lead ad. This returns a URL to a list of lead export given a lead_export_id token returned from the create a lead export call. You can use the URL to download the report.  Note: Lead ad data will be available up to 30 days after the lead has been submitted.  For more, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/lead-ads\">Lead ads</a>.
   * 
   * Expected answers:
   *   code 200 : LeadsExportResponseData (Success)
   *   code 400 : Error (Invalid ad account parameter.)
   *   code 404 : Error (Invalid leads export id parameter.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param leadsExportId lead_export_id token returned from the create a lead export endpoint
   */
  def leadsExportGet(adAccountId: String, leadsExportId: String): ApiRequest[LeadsExportResponseData] =
    ApiRequest[LeadsExportResponseData](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/leads_export/{leads_export_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("leads_export_id", leadsExportId)
      .withSuccessResponse[LeadsExportResponseData](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      



}

