/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ConversionMSOTEvents
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object MsotEventsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new MsotEventsApi(baseUrl)
}

class MsotEventsApi(baseUrl: String) {

  /**
   * <strong>This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.</strong> <br> <p>Advertisers or their measurement partners can send attributed MSOT conversion events to Pinterest based on their <code>ad_account_id</code>. The request body should be a JSON object.</p> - These events will NOT be used in Reporting.
   * 
   * Expected answers:
   *   code 200 :  (Success)
   *   code 400 : Error (The request was invalid)
   *   code 401 : Error (Not authorized to send MSOT conversion events)
   *   code 403 : Error (Unauthorized access)
   *   code 429 : Error (This request exceeded a rate limit. This can happen if the client exceeds one of the published rate limits within a short time window.)
   *   code 0 : Error (Unexpected errors)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param conversionMSOTEvents Attributed MSOT conversion events
   */
  def msotEventsCreate(adAccountId: String, conversionMSOTEvents: ConversionMSOTEvents): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/msot/events", "application/json")
      .withBody(conversionMSOTEvents)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

