/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.3.0
 * Contact: pinterest-api@pinterest.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.OauthAccessTokenResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OauthApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new OauthApi(baseUrl)
}

class OauthApi(baseUrl: String) {

  /**
   * Generate an OAuth access token by using an authorization code or a refresh token.  See <a href='/docs/api/v5/#tag/Authentication'>Authentication</a> for more.
   * 
   * Expected answers:
   *   code 200 : OauthAccessTokenResponse (response)
   *   code 0 : Error (Unexpected error)
   * 
   * @param grantType 
   */
  def oauthToken(grantType: String): ApiRequest[OauthAccessTokenResponse] =
    ApiRequest[OauthAccessTokenResponse](ApiMethods.POST, baseUrl, "/oauth/token", "application/x-www-form-urlencoded")
      .withFormParam("grant_type", grantType)
      .withSuccessResponse[OauthAccessTokenResponse](200)
      .withDefaultErrorResponse[Error]
      



}

