/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ConversionAccessTokenResponse
import org.openapitools.client.model.Error
import org.openapitools.client.model.OauthAccessTokenResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OauthApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new OauthApi(baseUrl)
}

class OauthApi(baseUrl: String) {

  /**
   * Generate a new and long-lived OAuth access token dedicated for sending conversions using a valid access token.
   * 
   * Expected answers:
   *   code 200 : ConversionAccessTokenResponse (response)
   *   code 0 : Error (Unexpected error)
   */
  def oauthConversionToken(): ApiRequest[ConversionAccessTokenResponse] =
    ApiRequest[ConversionAccessTokenResponse](ApiMethods.POST, baseUrl, "/oauth/conversion_token", "application/json")
      .withSuccessResponse[ConversionAccessTokenResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Generate a new OAuth access token using an authorization code; or refresh an existing one using a continuous refresh token.  Follow the complete steps for <a href='/docs/getting-started/set-up-authentication-and-authorization/' target='blank'>requesting and refreshing tokens</a>.  <strong>Note:</strong> If your app was created <strong>before September 25, 2025</strong>, make sure to set the <code>continuous_refresh</code> parameter to <code>true</code> to use the continuous refresh token (60-day expiration, refreshable indefinitely). Pinterest no longer supports the legacy refresh token (365-day expiration, hard limit).  Disregard this note if your app was activated on or after September 25, 2025. You are automatically using the continuous refresh token.  Use <a href='/docs/developer-tools/token-debugger/' target='blank'>Token Debugger</a> to validate and inspect your access token.
   * 
   * Expected answers:
   *   code 200 : OauthAccessTokenResponse (response)
   *   code 0 : Error (Unexpected error)
   * 
   * Available security schemes:
   *   basic (http)
   * 
   * @param grantType 
   */
  def oauthToken(grantType: String)(implicit basicAuth: BasicCredentials): ApiRequest[OauthAccessTokenResponse] =
    ApiRequest[OauthAccessTokenResponse](ApiMethods.POST, baseUrl, "/oauth/token", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth).withFormParam("grant_type", grantType)
      .withSuccessResponse[OauthAccessTokenResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Revokes an access or refresh token. Only tokens issued for system users are currently supported. Revoked tokens become immediately invalid and unusable.
   * 
   * Expected answers:
   *   code 200 :  (Successful token revocation. No content is returned.)
   *   code 401 : Error (Client authentication error.)
   *   code 403 : Error (Client is not allowed to revoke token.)
   *   code 0 : Error (Unexpected error)
   * 
   * Available security schemes:
   *   basic (http)
   * 
   * @param token The token to revoke.
   * @param tokenTypeHint The type of the token to revoke. Please refer to [our developer guide for more information](https://developers.pinterest.com/docs/getting-started/set-up-authentication-and-authorization/) for more information.
   */
  def tokenRevoke(token: String, tokenTypeHint: Option[String] = None)(implicit basicAuth: BasicCredentials): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/oauth/token/revoke", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth).withFormParam("token", token)
      .withFormParam("token_type_hint", tokenTypeHint)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withDefaultErrorResponse[Error]
      



}

