/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.OrderLine
import org.openapitools.client.model.OrderLinesList200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OrderLinesApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new OrderLinesApi(baseUrl)
}

class OrderLinesApi(baseUrl: String) {

  /**
   * Get a specific existing order line associated with an ad account.
   * 
   * Expected answers:
   *   code 200 : OrderLine (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param orderLineId Unique identifier of an order line.
   */
  def orderLinesGet(adAccountId: String, orderLineId: String): ApiRequest[OrderLine] =
    ApiRequest[OrderLine](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/order_lines/{order_line_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("order_line_id", orderLineId)
      .withSuccessResponse[OrderLine](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * List existing order lines associated with an ad account.
   * 
   * Expected answers:
   *   code 200 : OrderLinesList200Response (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def orderLinesList(adAccountId: String, pageSize: Option[Int] = None, order: Option[String] = None, bookmark: Option[String] = None): ApiRequest[OrderLinesList200Response] =
    ApiRequest[OrderLinesList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/order_lines", "application/json")
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("bookmark", bookmark)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[OrderLinesList200Response](200)
      .withDefaultErrorResponse[Error]
      



}

