/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.3.0
 * Contact: blah@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnalyticsMetricsResponse
import org.openapitools.client.model.Error
import java.time.LocalDate
import org.openapitools.client.model.Pin
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PinsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new PinsApi(baseUrl)
}

class PinsApi(baseUrl: String) {

  /**
   * Get analytics for a Pin owned by the \"operation user_account\" - or on a group board that has been shared with this account. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=\"https://developers.pinterest.com/docs/api/v5/#operation/ad_accounts/list\">List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account:  - For Pins on public or protected boards: Admin, Analyst. - For Pins on secret boards: Admin.
   * 
   * Expected answers:
   *   code 200 : Map[String, AnalyticsMetricsResponse] (response)
   *   code 403 : Error (Not authorized to access board or Pin.)
   *   code 404 : Error (Pin not found.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param pinId Unique identifier of a Pin.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD
   * @param metricTypes Pin metric types to get data for, default is all.
   * @param appTypes Apps or devices to get data for, default is all.
   * @param splitField How to split the data into groups. Not including this param means data won't be split.
   * @param adAccountId Unique identifier of an ad account.
   */
  def pinsAnalytics(pinId: String, startDate: LocalDate, endDate: LocalDate, metricTypes: Seq[String], appTypes: Option[String] = None, splitField: Option[String] = None, adAccountId: Option[String] = None): ApiRequest[Map[String, AnalyticsMetricsResponse]] =
    ApiRequest[Map[String, AnalyticsMetricsResponse]](ApiMethods.GET, baseUrl, "/pins/{pin_id}/analytics", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("app_types", appTypes)
      .withQueryParam("metric_types", ArrayValues(metricTypes, CSV))
      .withQueryParam("split_field", splitField)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("pin_id", pinId)
      .withSuccessResponse[Map[String, AnalyticsMetricsResponse]](200)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create a Pin on a board or board section owned by the \"operation user_account\".  Note: If the current \"operation user_account\" (defined by the access token) has access to another user's Ad Accounts via Pinterest Business Access, you can modify your request to make use of the current operation_user_account's permissions to those Ad Accounts by including the ad_account_id in the path parameters for the request (e.g. .../?ad_account_id=12345&...).  - This function is intended solely for publishing new content created by the user. If you are interested in saving content created by others to your Pinterest boards, sometimes called 'curated content', please use our <a href='/docs/add-ons/save-button'>Save button</a> instead. For more tips on creating fresh content for Pinterest, review our <a href='/docs/solutions/content-apps'>Content App Solutions Guide</a>.  <strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.
   * 
   * Expected answers:
   *   code 201 : Pin (Successful pin creation.)
   *   code 400 : Error (Invalid Pin parameters response)
   *   code 403 : Error (The Pin's image is too small, too large or is broken)
   *   code 404 : Error (Board or section not found)
   *   code 429 : Error (This request exceeded a rate limit. This can happen if the client exceeds one of the published rate limits or if multiple write operations are applied to an object within a short time window.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param pin Create a new Pin.
   */
  def pinsCreate(pin: Pin): ApiRequest[Pin] =
    ApiRequest[Pin](ApiMethods.POST, baseUrl, "/pins", "application/json")
      .withBody(pin)
      .withSuccessResponse[Pin](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete a Pins owned by the \"operation user_account\" - or on a group board that has been shared with this account. - By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 204 :  (Successfully deleted Pin)
   *   code 403 : Error (Not authorized to access board or Pin.)
   *   code 404 : Error (Pin not found.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param pinId Unique identifier of a Pin.
   */
  def pinsDelete(pinId: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/pins/{pin_id}", "application/json")
      .withPathParam("pin_id", pinId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a Pin owned by the \"operation user_account\" - or on a group board that has been shared with this account. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account:  - For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager. - For Pins on secret boards: Owner, Admin.
   * 
   * Expected answers:
   *   code 200 : Pin (response)
   *   code 403 : Error (Not authorized to access board or Pin.)
   *   code 404 : Error (Pin not found.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param pinId Unique identifier of a Pin.
   * @param adAccountId Unique identifier of an ad account.
   */
  def pinsGet(pinId: String, adAccountId: Option[String] = None): ApiRequest[Pin] =
    ApiRequest[Pin](ApiMethods.GET, baseUrl, "/pins/{pin_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("pin_id", pinId)
      .withSuccessResponse[Pin](200)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      



}

