/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.Granularity
import java.time.LocalDate
import org.openapitools.client.model.ProductGroupAnalyticsResponseInner
import org.openapitools.client.model.ProductGroupPromotionCreateRequest
import org.openapitools.client.model.ProductGroupPromotionResponse
import org.openapitools.client.model.ProductGroupPromotionUpdateRequest
import org.openapitools.client.model.ProductGroupPromotionsList200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductGroupPromotionsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ProductGroupPromotionsApi(baseUrl)
}

class ProductGroupPromotionsApi(baseUrl: String) {

  /**
   * Add one or more product groups from your catalog to an existing ad group. (Product groups added to an ad group are a 'product group promotion.')
   * 
   * Expected answers:
   *   code 200 : ProductGroupPromotionResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param productGroupPromotionCreateRequest List of Product Group Promotions to create, size limit [1, 30].
   */
  def productGroupPromotionsCreate(adAccountId: String, productGroupPromotionCreateRequest: ProductGroupPromotionCreateRequest): ApiRequest[ProductGroupPromotionResponse] =
    ApiRequest[ProductGroupPromotionResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/product_group_promotions", "application/json")
      .withBody(productGroupPromotionCreateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ProductGroupPromotionResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a product group promotion by id
   * 
   * Expected answers:
   *   code 200 : ProductGroupPromotionResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param productGroupPromotionId Unique identifier of a product group promotion
   */
  def productGroupPromotionsGet(adAccountId: String, productGroupPromotionId: String): ApiRequest[ProductGroupPromotionResponse] =
    ApiRequest[ProductGroupPromotionResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/product_group_promotions/{product_group_promotion_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("product_group_promotion_id", productGroupPromotionId)
      .withSuccessResponse[ProductGroupPromotionResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * List existing product group promotions associated with an ad account.  Include either ad_group_id or product_group_promotion_ids in your request.  <b>Note:</b> ad_group_ids and product_group_promotion_ids are mutually exclusive parameters. Only provide one. If multiple options are provided, product_group_promotion_ids takes precedence over ad_group_ids. If none are provided, the endpoint returns an error.
   * 
   * Expected answers:
   *   code 200 : ProductGroupPromotionsList200Response (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param productGroupPromotionIds List of Product group promotion Ids.
   * @param entityStatuses Entity status
   * @param adGroupId Ad group Id.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/getting-started/pagination/'>Pagination</a> for more information.
   * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def productGroupPromotionsList(adAccountId: String, productGroupPromotionIds: Seq[String], entityStatuses: Seq[String], adGroupId: Option[String] = None, pageSize: Option[Int] = None, order: Option[String] = None, bookmark: Option[String] = None): ApiRequest[ProductGroupPromotionsList200Response] =
    ApiRequest[ProductGroupPromotionsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/product_group_promotions", "application/json")
      .withQueryParam("product_group_promotion_ids", ArrayValues(productGroupPromotionIds, MULTI))
      .withQueryParam("entity_statuses", ArrayValues(entityStatuses, MULTI))
      .withQueryParam("ad_group_id", adGroupId)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("bookmark", bookmark)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ProductGroupPromotionsList200Response](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update multiple existing Product Group Promotions (by product_group_id)
   * 
   * Expected answers:
   *   code 200 : ProductGroupPromotionResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param productGroupPromotionUpdateRequest Parameters to update Product group promotions
   */
  def productGroupPromotionsUpdate(adAccountId: String, productGroupPromotionUpdateRequest: ProductGroupPromotionUpdateRequest): ApiRequest[ProductGroupPromotionResponse] =
    ApiRequest[ProductGroupPromotionResponse](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/product_group_promotions", "application/json")
      .withBody(productGroupPromotionUpdateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ProductGroupPromotionResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get analytics for the specified product groups in the specified <code>ad_account_id</code>, filtered by the specified options. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager. - If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days. - If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.
   * 
   * Expected answers:
   *   code 200 : Seq[ProductGroupAnalyticsResponseInner] (Success)
   *   code 400 : Error (Invalid ad account ads analytics parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param productGroupIds List of Product group Ids to use to filter the results.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.<br/>For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).<br/>If a column has no value, it may not be returned
   * @param granularity TOTAL - metrics are aggregated over the specified date range.<br> DAY - metrics are broken down daily.<br> HOUR - metrics are broken down hourly.<br>WEEKLY - metrics are broken down weekly.<br>MONTHLY - metrics are broken down monthly
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   */
  def productGroupsAnalytics(adAccountId: String, startDate: LocalDate, endDate: LocalDate, productGroupIds: Seq[String], columns: Seq[String], granularity: Granularity, clickWindowDays: Option[Int] = None, engagementWindowDays: Option[Int] = None, viewWindowDays: Option[Int] = None, conversionReportTime: Option[String] = None): ApiRequest[Seq[ProductGroupAnalyticsResponseInner]] =
    ApiRequest[Seq[ProductGroupAnalyticsResponseInner]](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/product_groups/analytics", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("product_group_ids", ArrayValues(productGroupIds, MULTI))
      .withQueryParam("columns", ArrayValues(columns, CSV))
      .withQueryParam("granularity", granularity)
      .withQueryParam("click_window_days", clickWindowDays)
      .withQueryParam("engagement_window_days", engagementWindowDays)
      .withQueryParam("view_window_days", viewWindowDays)
      .withQueryParam("conversion_report_time", conversionReportTime)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[ProductGroupAnalyticsResponseInner]](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      



}

