/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdAccountsCatalogsProductGroupsList200Response
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductGroupsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ProductGroupsApi(baseUrl)
}

class ProductGroupsApi(baseUrl: String) {

  /**
   * This endpoint is completely deprecated. Please use <a href='/docs/api/v5/#operation/catalogs_product_groups/list'>List product groups</a> from Catalogs API instead.
   * 
   * Expected answers:
   *   code 200 : AdAccountsCatalogsProductGroupsList200Response (Success)
   *   code 400 : Error (Invalid ad account ads parameters.)
   *   code 401 : Error (Access Denied. This can happen if account is not yet approved to operate as Merchant on Pinterest.)
   *   code 404 : Error (Merchant data not found.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param feedProfileId The feed profile id whose catalog product groups we want to return.
   */
  def adAccountsCatalogsProductGroupsList(adAccountId: String, feedProfileId: Option[String] = None): ApiRequest[AdAccountsCatalogsProductGroupsList200Response] =
    ApiRequest[AdAccountsCatalogsProductGroupsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/product_groups/catalogs", "application/json")
      .withQueryParam("feed_profile_id", feedProfileId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdAccountsCatalogsProductGroupsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      



}

