/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.ProductTagsBulkAddRequest
import org.openapitools.client.model.ProductTagsBulkDeleteRequest
import org.openapitools.client.model.ProductTagsError
import org.openapitools.client.model.ProductTagsResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductTagsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ProductTagsApi(baseUrl)
}

class ProductTagsApi(baseUrl: String) {

  /**
   * Add product tags to a pin. Product tags allow you to tag product pins onto a hero pin. - Maximum 24 product tags can be added in a single request. - Duplicate pin_ids in the request will result in an error. - If any product tag fails eligibility check, the entire request fails (all-or-nothing). - If a product tag is already tagged on the pin, it is treated as a no-op success.
   * 
   * Expected answers:
   *   code 200 : ProductTagsResponse (The request has succeeded.)
   *   code 400 : ProductTagsError (The request contains ineligible product tags.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param pinId Unique identifier of the hero pin that will receive product tags.
   * @param productTagsBulkAddRequest 
   */
  def productTagsBulkAdd(pinId: String, productTagsBulkAddRequest: ProductTagsBulkAddRequest): ApiRequest[ProductTagsResponse] =
    ApiRequest[ProductTagsResponse](ApiMethods.POST, baseUrl, "/pins/{pin_id}/product_tags", "application/json")
      .withBody(productTagsBulkAddRequest)
      .withPathParam("pin_id", pinId)
      .withSuccessResponse[ProductTagsResponse](200)
      .withErrorResponse[ProductTagsError](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete product tags from a pin. - If a product tag is not found on the pin, it is treated as a no-op success.
   * 
   * Expected answers:
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param pinId Unique identifier of the hero pin that will receive product tags.
   * @param productTagsBulkDeleteRequest 
   */
  def productTagsBulkDelete(pinId: String, productTagsBulkDeleteRequest: ProductTagsBulkDeleteRequest): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/pins/{pin_id}/product_tags/bulk-delete", "application/json")
      .withBody(productTagsBulkDeleteRequest)
      .withPathParam("pin_id", pinId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Retrieve all product tags for a pin. - Returns an empty array if the pin has no product tags.
   * 
   * Expected answers:
   *   code 200 : ProductTagsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param pinId Unique identifier of the hero pin that will receive product tags.
   */
  def productTagsList(pinId: String): ApiRequest[ProductTagsResponse] =
    ApiRequest[ProductTagsResponse](ApiMethods.GET, baseUrl, "/pins/{pin_id}/product_tags", "application/json")
      .withPathParam("pin_id", pinId)
      .withSuccessResponse[ProductTagsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

