/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AgeTrendsBucket
import org.openapitools.client.model.Error
import org.openapitools.client.model.FeaturedTrend
import org.openapitools.client.model.GenderBucket
import org.openapitools.client.model.InterestsEnum
import org.openapitools.client.model.ProductCategoriesEngagementType
import org.openapitools.client.model.ProductCategoryDetailLookbackWindow
import org.openapitools.client.model.ProductCategoryDetails
import org.openapitools.client.model.ProductCategoryEnum
import org.openapitools.client.model.ProductCategoryRegion
import org.openapitools.client.model.TrendingProductCategory
import org.openapitools.client.model.VerticalProductCategory
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductCategoriesApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ProductCategoriesApi(baseUrl)
}

class ProductCategoriesApi(baseUrl: String) {

  /**
   *   Enables advertisers to pull top five trending topics by interest and market, at full parity with the Pinterest Trends UI.
   * 
   * Expected answers:
   *   code 200 : Seq[FeaturedTrend] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param region       The geographic region of interest. Only top product categories within the specified region will be returned.      The `region` parameter is formatted as ISO 3166-2 country codes delimited by `+`.      - `US` - United States     - `GB+IE` - Great Britain & Ireland     - `CA` - Canada
   * @param interest Interest to filter by
   */
  def trendsFeaturedTopicsList(region: ProductCategoryRegion, interest: Option[InterestsEnum] = None): ApiRequest[Seq[FeaturedTrend]] =
    ApiRequest[Seq[FeaturedTrend]](ApiMethods.GET, baseUrl, "/trends/topics/featured", "application/json")
      .withQueryParam("interest", interest)
      .withQueryParam("region", region)
      .withSuccessResponse[Seq[FeaturedTrend]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Enables advertisers to retrieve demographic information, related pins, and trend lines for specified product categories
   * 
   * Expected answers:
   *   code 200 : Seq[ProductCategoryDetails] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param productCategories List of product categories
   * @param region       The geographic region of interest. Only top product categories within the specified region will be returned.      The `region` parameter is formatted as ISO 3166-2 country codes delimited by `+`.      - `US` - United States     - `GB+IE` - Great Britain & Ireland     - `CA` - Canada
   * @param lookbackWindow    Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - `90` - Last 90 days (3 months)   - `180` - Last 180 days (6 months)   - `365` - Last 365 days (1 year)   - `730` - Last 730 days (2 years)
   * @param engagementType      Type of engagement metric to analyze. - `ENGAGEMENT` - Overall engagement metric - `OUTBOUND_CLICK` - Number of outbound clicks - `SAVE` - Number of pin saves
   */
  def trendsProductCategoriesDetailsList(productCategories: Seq[ProductCategoryEnum], region: ProductCategoryRegion, lookbackWindow: Option[ProductCategoryDetailLookbackWindow] = None, engagementType: Option[ProductCategoriesEngagementType] = None): ApiRequest[Seq[ProductCategoryDetails]] =
    ApiRequest[Seq[ProductCategoryDetails]](ApiMethods.GET, baseUrl, "/trends/product_categories/details", "application/json")
      .withQueryParam("product_categories", ArrayValues(productCategories, MULTI))
      .withQueryParam("region", region)
      .withQueryParam("lookback_window", lookbackWindow)
      .withQueryParam("engagement_type", engagementType)
      .withSuccessResponse[Seq[ProductCategoryDetails]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Get a list of growing Shopping Product Categories in ranked order allowing filtering by engagement type, vertical, age, and gender.
   * 
   * Expected answers:
   *   code 200 : Seq[TrendingProductCategory] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param region       The geographic region of interest. Only top product categories within the specified region will be returned.      The `region` parameter is formatted as ISO 3166-2 country codes delimited by `+`.      - `US` - United States     - `GB+IE` - Great Britain & Ireland     - `CA` - Canada
   * @param verticals List of verticals to filter by
   * @param ages Age to filter by. If not provided, the results will be filtered by all ages.
   * @param genders Gender to filter by, If not provided, the results will be filtered by all genders.
   * @param engagementType      Type of engagement metric to analyze. - `ENGAGEMENT` - Overall engagement metric - `OUTBOUND_CLICK` - Number of outbound clicks - `SAVE` - Number of pin saves
   */
  def trendsProductCategoriesTrendingList(region: ProductCategoryRegion, verticals: Seq[VerticalProductCategory], ages: Seq[AgeTrendsBucket], genders: Seq[GenderBucket], engagementType: Option[ProductCategoriesEngagementType] = None): ApiRequest[Seq[TrendingProductCategory]] =
    ApiRequest[Seq[TrendingProductCategory]](ApiMethods.GET, baseUrl, "/trends/product_categories/trending", "application/json")
      .withQueryParam("region", region)
      .withQueryParam("verticals", ArrayValues(verticals, MULTI))
      .withQueryParam("ages", ArrayValues(ages, MULTI))
      .withQueryParam("genders", ArrayValues(genders, MULTI))
      .withQueryParam("engagement_type", engagementType)
      .withSuccessResponse[Seq[TrendingProductCategory]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

