/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.PromotionCreateRequest
import org.openapitools.client.model.PromotionResponse
import org.openapitools.client.model.PromotionUpdateRequest
import org.openapitools.client.model.PromotionsList200Response
import org.openapitools.client.model.PromotionsResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PromotionsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new PromotionsApi(baseUrl)
}

class PromotionsApi(baseUrl: String) {

  /**
   * Create multiple new promotions.
   * 
   * Expected answers:
   *   code 200 : PromotionsResponse (Success)
   *   code 400 : Error (Invalid create promotions request parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param promotionCreateRequest List of promotions to create, size limit [1, 30].
   */
  def promotionsCreate(adAccountId: String, promotionCreateRequest: Seq[PromotionCreateRequest]): ApiRequest[PromotionsResponse] =
    ApiRequest[PromotionsResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/promotions", "application/json")
      .withBody(promotionCreateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[PromotionsResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete a promotion within Pinterest.
   * 
   * Expected answers:
   *   code 204 :  (Promotion deleted successfully)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param promotionId Unique identifier of a promotion
   */
  def promotionsDelete(adAccountId: String, promotionId: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/ad_accounts/{ad_account_id}/promotions/{promotion_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("promotion_id", promotionId)
      .withSuccessResponse[Unit](204)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a promotion by its Pinterest-specific id. It must be associated with the provided ad account id.
   * 
   * Expected answers:
   *   code 200 : PromotionResponse (Success)
   *   code 404 : Error (The promotion ID for the given ad account ID was not found.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param promotionId Unique identifier of a promotion
   */
  def promotionsGet(adAccountId: String, promotionId: String): ApiRequest[PromotionResponse] =
    ApiRequest[PromotionResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/promotions/{promotion_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("promotion_id", promotionId)
      .withSuccessResponse[PromotionResponse](200)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Gets all promotions associated with an ad account ID that can be applied to an ad group. Can be either internally-saved promotions or external promotions imported from a commerce integration.
   * 
   * Expected answers:
   *   code 200 : PromotionsList200Response (Success)
   *   code 400 : Error (Invalid ad account promotions parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param pageSize Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
   * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def promotionsList(adAccountId: String, pageSize: Option[Int] = None, order: Option[String] = None, bookmark: Option[String] = None): ApiRequest[PromotionsList200Response] =
    ApiRequest[PromotionsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/promotions", "application/json")
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("bookmark", bookmark)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[PromotionsList200Response](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update multiple promotions.
   * 
   * Expected answers:
   *   code 200 : PromotionsResponse (Success)
   *   code 400 : Error (Invalid create promotions request parameters.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param promotionUpdateRequest List of promotions to create, size limit [1, 30].
   */
  def promotionsUpdate(adAccountId: String, promotionUpdateRequest: Seq[PromotionUpdateRequest]): ApiRequest[PromotionsResponse] =
    ApiRequest[PromotionsResponse](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/promotions", "application/json")
      .withBody(promotionUpdateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[PromotionsResponse](200)
      .withErrorResponse[Error](400)
      .withDefaultErrorResponse[Error]
      



}

