/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdAccountsCountryResponse
import org.openapitools.client.model.BookClosedResponse
import org.openapitools.client.model.DeliveryMetricsResponse
import org.openapitools.client.model.Error
import org.openapitools.client.model.SingleInterestTargetingOptionResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ResourcesApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ResourcesApi(baseUrl)
}

class ResourcesApi(baseUrl: String) {

  /**
   * Get Ad Accounts countries
   * 
   * Expected answers:
   *   code 200 : AdAccountsCountryResponse (Success)
   *   code 0 : Error (Unexpected error)
   */
  def adAccountCountriesGet(): ApiRequest[AdAccountsCountryResponse] =
    ApiRequest[AdAccountsCountryResponse](ApiMethods.GET, baseUrl, "/resources/ad_account_countries", "application/json")
      .withSuccessResponse[AdAccountsCountryResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get the definitions for ads and organic metrics available across both synchronous and asynchronous report endpoints. The `display_name` attribute will match how the metric is named in our native tools like Ads Manager. See <a href='/docs/content/analytics/'>Organic Analytics</a> and <a href='/docs/ads/ad-analytics-reporting/'>Ads Analytics</a> for more information.
   * 
   * Expected answers:
   *   code 200 : DeliveryMetricsResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param reportType Report type.
   */
  def deliveryMetricsGet(reportType: Option[String] = None): ApiRequest[DeliveryMetricsResponse] =
    ApiRequest[DeliveryMetricsResponse](ApiMethods.GET, baseUrl, "/resources/delivery_metrics", "application/json")
      .withQueryParam("report_type", reportType)
      .withSuccessResponse[DeliveryMetricsResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * <p>Get details of a specific interest given interest ID.</p> <p>Click <a href=\"https://docs.google.com/spreadsheets/d/1HxL-0Z3p2fgxis9YBP2HWC3tvPrs1hAuHDRtH-NJTIM/edit#gid=118370875\" target=\"_blank\">here</a> for a spreadsheet listing interests and their IDs.</p>
   * 
   * Expected answers:
   *   code 200 : SingleInterestTargetingOptionResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param interestId Unique identifier of an interest.
   */
  def interestTargetingOptionsGet(interestId: String): ApiRequest[SingleInterestTargetingOptionResponse] =
    ApiRequest[SingleInterestTargetingOptionResponse](ApiMethods.GET, baseUrl, "/resources/targeting/interests/{interest_id}", "application/json")
      .withPathParam("interest_id", interestId)
      .withSuccessResponse[SingleInterestTargetingOptionResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of all lead form question type names. Some questions might not be used.  <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/new/about-beta-access/'>Learn more</a>.</strong>
   * 
   * Expected answers:
   *   code 200 :  (Success)
   *   code 0 : Error (Unexpected error)
   */
  def leadFormQuestionsGet(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/resources/lead_form_questions", "application/json")
      .withSuccessResponse[Unit](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Learn whether conversion or non-conversion metrics are finalized and ready to query.
   * 
   * Expected answers:
   *   code 200 : BookClosedResponse (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param date Analytics reports request date (UTC). Format: YYYY-MM-DD
   */
  def metricsReadyStateGet(date: String): ApiRequest[BookClosedResponse] =
    ApiRequest[BookClosedResponse](ApiMethods.GET, baseUrl, "/resources/metrics_ready_state", "application/json")
      .withQueryParam("date", date)
      .withSuccessResponse[BookClosedResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * <p>You can use targeting values in ads placement to define your intended audience. </p> <p>Targeting metrics are organized around targeting specifications.</p> <p>For more information on ads targeting, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/audience-targeting\" target=\"_blank\">Audience targeting</a>.</p> <p><b>Sample return:</b></p> <pre class=\"literal-block\"> [{&quot;36313&quot;: &quot;Australia: Moreton Bay - North&quot;, &quot;124735&quot;: &quot;Canada: North Battleford&quot;, &quot;36109&quot;: &quot;Australia: Murray&quot;, &quot;36108&quot;: &quot;Australia: Mid North Coast&quot;, &quot;36101&quot;: &quot;Australia: Capital Region&quot;, &quot;811&quot;: &quot;U.S.: Reno&quot;, &quot;36103&quot;: &quot;Australia: Central West&quot;, &quot;36102&quot;: &quot;Australia: Central Coast&quot;, &quot;36105&quot;: &quot;Australia: Far West and Orana&quot;, &quot;36104&quot;: &quot;Australia: Coffs Harbour - Grafton&quot;, &quot;36107&quot;: &quot;Australia: Illawarra&quot;, &quot;36106&quot;: &quot;Australia: Hunter Valley Exc Newcastle&quot;, &quot;554017&quot;: &quot;New Zealand: Wanganui&quot;, &quot;554016&quot;: &quot;New Zealand: Marlborough&quot;, &quot;554015&quot;: &quot;New Zealand: Gisborne&quot;, &quot;554014&quot;: &quot;New Zealand: Tararua&quot;, &quot;554013&quot;: &quot;New Zealand: Invercargill&quot;, &quot;GR&quot;: &quot;Greece&quot;, &quot;554011&quot;: &quot;New Zealand: Whangarei&quot;, &quot;554010&quot;: &quot;New Zealand: Far North&quot;, &quot;717&quot;: &quot;U.S.: Quincy-Hannibal-Keokuk&quot;, &quot;716&quot;: &quot;U.S.: Baton Rouge&quot;,...}] </pre>
   * 
   * Expected answers:
   *   code 200 : Seq[Any] (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param targetingType Public targeting type.
   * @param clientId Client ID.
   * @param oauthSignature Oauth signature
   * @param timestamp Timestamp
   */
  def targetingOptionsGet(targetingType: String, clientId: Option[String] = None, oauthSignature: Option[String] = None, timestamp: Option[String] = None): ApiRequest[Seq[Any]] =
    ApiRequest[Seq[Any]](ApiMethods.GET, baseUrl, "/resources/targeting/{targeting_type}", "application/json")
      .withQueryParam("client_id", clientId)
      .withQueryParam("oauth_signature", oauthSignature)
      .withQueryParam("timestamp", timestamp)
      .withPathParam("targeting_type", targetingType)
      .withSuccessResponse[Seq[Any]](200)
      .withDefaultErrorResponse[Error]
      



}

