/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.TermsOfService
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object TermsOfServiceApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new TermsOfServiceApi(baseUrl)
}

class TermsOfServiceApi(baseUrl: String) {

  /**
   * Get the text of the terms of service and see whether the advertiser has accepted the terms of service.
   * 
   * Expected answers:
   *   code 200 : TermsOfService (Success)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param includeHtml Return HTML in TOS text.
   * @param tosType Request type.
   */
  def termsOfServiceGet(adAccountId: String, includeHtml: Option[Boolean] = None, tosType: Option[String] = None): ApiRequest[TermsOfService] =
    ApiRequest[TermsOfService](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/terms_of_service", "application/json")
      .withQueryParam("include_html", includeHtml)
      .withQueryParam("tos_type", tosType)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[TermsOfService](200)
      .withDefaultErrorResponse[Error]
      



}

