/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.AdAccountsAudience
import org.openapitools.client.models.AdAccountsAudienceCreate
import org.openapitools.client.models.AdAccountsAudienceUpdate
import org.openapitools.client.models.AudienceOwnershipType
import org.openapitools.client.models.AudiencesList200Response
import org.openapitools.client.models.PinterestLibError
import org.openapitools.client.models.PinterestLibPaginationOrder

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class AudiencesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.pinterest.com/v5")
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/audiences
     * Create audience
     * Create a new audience for the ad account.
     * @param adAccountId Unique identifier of an ad account.
     * @param adAccountsAudienceCreate 
     * @return AdAccountsAudience
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun audiencesCreate(adAccountId: kotlin.String, adAccountsAudienceCreate: AdAccountsAudienceCreate) : AdAccountsAudience {
        val localVarResponse = audiencesCreateWithHttpInfo(adAccountId = adAccountId, adAccountsAudienceCreate = adAccountsAudienceCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdAccountsAudience
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/audiences
     * Create audience
     * Create a new audience for the ad account.
     * @param adAccountId Unique identifier of an ad account.
     * @param adAccountsAudienceCreate 
     * @return ApiResponse<AdAccountsAudience?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun audiencesCreateWithHttpInfo(adAccountId: kotlin.String, adAccountsAudienceCreate: AdAccountsAudienceCreate) : ApiResponse<AdAccountsAudience?> {
        val localVariableConfig = audiencesCreateRequestConfig(adAccountId = adAccountId, adAccountsAudienceCreate = adAccountsAudienceCreate)

        return request<AdAccountsAudienceCreate, AdAccountsAudience>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation audiencesCreate
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param adAccountsAudienceCreate 
     * @return RequestConfig
     */
    fun audiencesCreateRequestConfig(adAccountId: kotlin.String, adAccountsAudienceCreate: AdAccountsAudienceCreate) : RequestConfig<AdAccountsAudienceCreate> {
        val localVariableBody = adAccountsAudienceCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/audiences".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/audiences/{audience_id}
     * Get audience
     * Get a specific audience given the audience ID.
     * @param audienceId Audience ID.
     * @param adAccountId Unique identifier of an ad account.
     * @return AdAccountsAudience
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun audiencesGet(audienceId: kotlin.String, adAccountId: kotlin.String) : AdAccountsAudience {
        val localVarResponse = audiencesGetWithHttpInfo(audienceId = audienceId, adAccountId = adAccountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdAccountsAudience
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/audiences/{audience_id}
     * Get audience
     * Get a specific audience given the audience ID.
     * @param audienceId Audience ID.
     * @param adAccountId Unique identifier of an ad account.
     * @return ApiResponse<AdAccountsAudience?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun audiencesGetWithHttpInfo(audienceId: kotlin.String, adAccountId: kotlin.String) : ApiResponse<AdAccountsAudience?> {
        val localVariableConfig = audiencesGetRequestConfig(audienceId = audienceId, adAccountId = adAccountId)

        return request<Unit, AdAccountsAudience>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation audiencesGet
     *
     * @param audienceId Audience ID.
     * @param adAccountId Unique identifier of an ad account.
     * @return RequestConfig
     */
    fun audiencesGetRequestConfig(audienceId: kotlin.String, adAccountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/audiences/{audience_id}".replace("{"+"audience_id"+"}", encodeURIComponent(audienceId.toString())).replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/audiences
     * List audiences
     * Get list of audiences for the ad account.
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ownershipType  (optional)
     * @param excludeNca When true, excludes audiences derived from new customer acquisition (expanded matching) customer lists from the result. Defaults to false (include all). (optional, default to false)
     * @return AudiencesList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun audiencesList(adAccountId: kotlin.String, bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25, order: PinterestLibPaginationOrder? = null, ownershipType: AudienceOwnershipType? = null, excludeNca: kotlin.Boolean? = false) : AudiencesList200Response {
        val localVarResponse = audiencesListWithHttpInfo(adAccountId = adAccountId, bookmark = bookmark, pageSize = pageSize, order = order, ownershipType = ownershipType, excludeNca = excludeNca)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AudiencesList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/audiences
     * List audiences
     * Get list of audiences for the ad account.
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ownershipType  (optional)
     * @param excludeNca When true, excludes audiences derived from new customer acquisition (expanded matching) customer lists from the result. Defaults to false (include all). (optional, default to false)
     * @return ApiResponse<AudiencesList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun audiencesListWithHttpInfo(adAccountId: kotlin.String, bookmark: kotlin.String?, pageSize: kotlin.Int?, order: PinterestLibPaginationOrder?, ownershipType: AudienceOwnershipType?, excludeNca: kotlin.Boolean?) : ApiResponse<AudiencesList200Response?> {
        val localVariableConfig = audiencesListRequestConfig(adAccountId = adAccountId, bookmark = bookmark, pageSize = pageSize, order = order, ownershipType = ownershipType, excludeNca = excludeNca)

        return request<Unit, AudiencesList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation audiencesList
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ownershipType  (optional)
     * @param excludeNca When true, excludes audiences derived from new customer acquisition (expanded matching) customer lists from the result. Defaults to false (include all). (optional, default to false)
     * @return RequestConfig
     */
    fun audiencesListRequestConfig(adAccountId: kotlin.String, bookmark: kotlin.String?, pageSize: kotlin.Int?, order: PinterestLibPaginationOrder?, ownershipType: AudienceOwnershipType?, excludeNca: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (order != null) {
                    put("order", listOf(order.toString()))
                }
                if (ownershipType != null) {
                    put("ownership_type", listOf(ownershipType.toString()))
                }
                if (excludeNca != null) {
                    put("exclude_nca", listOf(excludeNca.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/audiences".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /ad_accounts/{ad_account_id}/audiences/{audience_id}
     * Update audience
     * Update an existing audience for the ad account.
     * @param audienceId Audience ID.
     * @param adAccountId Unique identifier of an ad account.
     * @param adAccountsAudienceUpdate 
     * @return AdAccountsAudience
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun audiencesUpdate(audienceId: kotlin.String, adAccountId: kotlin.String, adAccountsAudienceUpdate: AdAccountsAudienceUpdate) : AdAccountsAudience {
        val localVarResponse = audiencesUpdateWithHttpInfo(audienceId = audienceId, adAccountId = adAccountId, adAccountsAudienceUpdate = adAccountsAudienceUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdAccountsAudience
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /ad_accounts/{ad_account_id}/audiences/{audience_id}
     * Update audience
     * Update an existing audience for the ad account.
     * @param audienceId Audience ID.
     * @param adAccountId Unique identifier of an ad account.
     * @param adAccountsAudienceUpdate 
     * @return ApiResponse<AdAccountsAudience?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun audiencesUpdateWithHttpInfo(audienceId: kotlin.String, adAccountId: kotlin.String, adAccountsAudienceUpdate: AdAccountsAudienceUpdate) : ApiResponse<AdAccountsAudience?> {
        val localVariableConfig = audiencesUpdateRequestConfig(audienceId = audienceId, adAccountId = adAccountId, adAccountsAudienceUpdate = adAccountsAudienceUpdate)

        return request<AdAccountsAudienceUpdate, AdAccountsAudience>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation audiencesUpdate
     *
     * @param audienceId Audience ID.
     * @param adAccountId Unique identifier of an ad account.
     * @param adAccountsAudienceUpdate 
     * @return RequestConfig
     */
    fun audiencesUpdateRequestConfig(audienceId: kotlin.String, adAccountId: kotlin.String, adAccountsAudienceUpdate: AdAccountsAudienceUpdate) : RequestConfig<AdAccountsAudienceUpdate> {
        val localVariableBody = adAccountsAudienceUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/ad_accounts/{ad_account_id}/audiences/{audience_id}".replace("{"+"audience_id"+"}", encodeURIComponent(audienceId.toString())).replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
