/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.AdsCreditRedeem
import org.openapitools.client.models.AdsCreditRedeemCreate
import org.openapitools.client.models.AdsCreditsDiscountsGet200Response
import org.openapitools.client.models.BillingInvoiceDocumentType
import org.openapitools.client.models.BillingInvoiceDownloadResponse
import org.openapitools.client.models.BillingInvoiceSortField
import org.openapitools.client.models.BillingInvoiceStatus
import org.openapitools.client.models.BillingInvoicesGet200Response
import org.openapitools.client.models.BillingProfilesGet200Response
import org.openapitools.client.models.PinterestLibError
import org.openapitools.client.models.PinterestLibPaginationOrder
import org.openapitools.client.models.SSIOAccount
import org.openapitools.client.models.SSIOInsertionOrder
import org.openapitools.client.models.SSIOInsertionOrderCreate
import org.openapitools.client.models.SSIOInsertionOrderStatusResponse
import org.openapitools.client.models.SSIOInsertionOrderUpdate
import org.openapitools.client.models.SsioInsertionOrdersStatusGetByAdAccount200Response
import org.openapitools.client.models.SsioOrderLinesGetByAdAccount200Response

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class BillingApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.pinterest.com/v5")
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/ads_credit/redeem
     * Redeem ad credits
     * Redeem ads credit on behalf of the ad account id and apply it towards billing.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     * @param adAccountId Unique identifier of an ad account.
     * @param adsCreditRedeemCreate 
     * @return AdsCreditRedeem
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun adsCreditRedeem(adAccountId: kotlin.String, adsCreditRedeemCreate: AdsCreditRedeemCreate) : AdsCreditRedeem {
        val localVarResponse = adsCreditRedeemWithHttpInfo(adAccountId = adAccountId, adsCreditRedeemCreate = adsCreditRedeemCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdsCreditRedeem
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/ads_credit/redeem
     * Redeem ad credits
     * Redeem ads credit on behalf of the ad account id and apply it towards billing.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     * @param adAccountId Unique identifier of an ad account.
     * @param adsCreditRedeemCreate 
     * @return ApiResponse<AdsCreditRedeem?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun adsCreditRedeemWithHttpInfo(adAccountId: kotlin.String, adsCreditRedeemCreate: AdsCreditRedeemCreate) : ApiResponse<AdsCreditRedeem?> {
        val localVariableConfig = adsCreditRedeemRequestConfig(adAccountId = adAccountId, adsCreditRedeemCreate = adsCreditRedeemCreate)

        return request<AdsCreditRedeemCreate, AdsCreditRedeem>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adsCreditRedeem
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param adsCreditRedeemCreate 
     * @return RequestConfig
     */
    fun adsCreditRedeemRequestConfig(adAccountId: kotlin.String, adsCreditRedeemCreate: AdsCreditRedeemCreate) : RequestConfig<AdsCreditRedeemCreate> {
        val localVariableBody = adsCreditRedeemCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/ads_credit/redeem".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/ads_credit/discounts
     * Get ads credit discounts
     * Returns the list of discounts applied to the account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return AdsCreditsDiscountsGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun adsCreditsDiscountsGet(adAccountId: kotlin.String, bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25) : AdsCreditsDiscountsGet200Response {
        val localVarResponse = adsCreditsDiscountsGetWithHttpInfo(adAccountId = adAccountId, bookmark = bookmark, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AdsCreditsDiscountsGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/ads_credit/discounts
     * Get ads credit discounts
     * Returns the list of discounts applied to the account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return ApiResponse<AdsCreditsDiscountsGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun adsCreditsDiscountsGetWithHttpInfo(adAccountId: kotlin.String, bookmark: kotlin.String?, pageSize: kotlin.Int?) : ApiResponse<AdsCreditsDiscountsGet200Response?> {
        val localVariableConfig = adsCreditsDiscountsGetRequestConfig(adAccountId = adAccountId, bookmark = bookmark, pageSize = pageSize)

        return request<Unit, AdsCreditsDiscountsGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adsCreditsDiscountsGet
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return RequestConfig
     */
    fun adsCreditsDiscountsGetRequestConfig(adAccountId: kotlin.String, bookmark: kotlin.String?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/ads_credit/discounts".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download
     * Get download url for a billing invoice
     * Get download url for a billing invoice.
     * @param adAccountId Unique identifier of an ad account.
     * @param billingInvoiceId Unique identifier of a billing invoice.
     * @return BillingInvoiceDownloadResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun billingInvoiceDownloadGet(adAccountId: kotlin.String, billingInvoiceId: kotlin.String) : BillingInvoiceDownloadResponse {
        val localVarResponse = billingInvoiceDownloadGetWithHttpInfo(adAccountId = adAccountId, billingInvoiceId = billingInvoiceId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BillingInvoiceDownloadResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download
     * Get download url for a billing invoice
     * Get download url for a billing invoice.
     * @param adAccountId Unique identifier of an ad account.
     * @param billingInvoiceId Unique identifier of a billing invoice.
     * @return ApiResponse<BillingInvoiceDownloadResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun billingInvoiceDownloadGetWithHttpInfo(adAccountId: kotlin.String, billingInvoiceId: kotlin.String) : ApiResponse<BillingInvoiceDownloadResponse?> {
        val localVariableConfig = billingInvoiceDownloadGetRequestConfig(adAccountId = adAccountId, billingInvoiceId = billingInvoiceId)

        return request<Unit, BillingInvoiceDownloadResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation billingInvoiceDownloadGet
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param billingInvoiceId Unique identifier of a billing invoice.
     * @return RequestConfig
     */
    fun billingInvoiceDownloadGetRequestConfig(adAccountId: kotlin.String, billingInvoiceId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())).replace("{"+"billing_invoice_id"+"}", encodeURIComponent(billingInvoiceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/billing_invoices
     * Get billing invoices
     * Get billing invoices in the advertiser account.
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param sort Field of which to sort billing invoices (optional, default to BillingInvoiceSortField.DUE_DATE)
     * @param status Status of billing invoices to filter by (optional)
     * @param documentType Document type of billing invoices to filter by (optional)
     * @param startDueDate Starting point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     * @param endDueDate Ending point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     * @return BillingInvoicesGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun billingInvoicesGet(adAccountId: kotlin.String, bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25, order: PinterestLibPaginationOrder? = null, sort: BillingInvoiceSortField? = BillingInvoiceSortField.DUE_DATE, status: BillingInvoiceStatus? = null, documentType: BillingInvoiceDocumentType? = null, startDueDate: java.time.LocalDate? = null, endDueDate: java.time.LocalDate? = null) : BillingInvoicesGet200Response {
        val localVarResponse = billingInvoicesGetWithHttpInfo(adAccountId = adAccountId, bookmark = bookmark, pageSize = pageSize, order = order, sort = sort, status = status, documentType = documentType, startDueDate = startDueDate, endDueDate = endDueDate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BillingInvoicesGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/billing_invoices
     * Get billing invoices
     * Get billing invoices in the advertiser account.
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param sort Field of which to sort billing invoices (optional, default to BillingInvoiceSortField.DUE_DATE)
     * @param status Status of billing invoices to filter by (optional)
     * @param documentType Document type of billing invoices to filter by (optional)
     * @param startDueDate Starting point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     * @param endDueDate Ending point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     * @return ApiResponse<BillingInvoicesGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun billingInvoicesGetWithHttpInfo(adAccountId: kotlin.String, bookmark: kotlin.String?, pageSize: kotlin.Int?, order: PinterestLibPaginationOrder?, sort: BillingInvoiceSortField?, status: BillingInvoiceStatus?, documentType: BillingInvoiceDocumentType?, startDueDate: java.time.LocalDate?, endDueDate: java.time.LocalDate?) : ApiResponse<BillingInvoicesGet200Response?> {
        val localVariableConfig = billingInvoicesGetRequestConfig(adAccountId = adAccountId, bookmark = bookmark, pageSize = pageSize, order = order, sort = sort, status = status, documentType = documentType, startDueDate = startDueDate, endDueDate = endDueDate)

        return request<Unit, BillingInvoicesGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation billingInvoicesGet
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param sort Field of which to sort billing invoices (optional, default to BillingInvoiceSortField.DUE_DATE)
     * @param status Status of billing invoices to filter by (optional)
     * @param documentType Document type of billing invoices to filter by (optional)
     * @param startDueDate Starting point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     * @param endDueDate Ending point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     * @return RequestConfig
     */
    fun billingInvoicesGetRequestConfig(adAccountId: kotlin.String, bookmark: kotlin.String?, pageSize: kotlin.Int?, order: PinterestLibPaginationOrder?, sort: BillingInvoiceSortField?, status: BillingInvoiceStatus?, documentType: BillingInvoiceDocumentType?, startDueDate: java.time.LocalDate?, endDueDate: java.time.LocalDate?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (order != null) {
                    put("order", listOf(order.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (documentType != null) {
                    put("document_type", listOf(documentType.toString()))
                }
                if (startDueDate != null) {
                    put("start_due_date", listOf(parseDateToQueryString<java.time.LocalDate>(startDueDate)))
                }
                if (endDueDate != null) {
                    put("end_due_date", listOf(parseDateToQueryString<java.time.LocalDate>(endDueDate)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/billing_invoices".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/billing_profiles
     * Get billing profiles
     * Get billing profiles in the advertiser account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     * @param adAccountId Unique identifier of an ad account.
     * @param isActive Return active billing profiles, if false return all billing profiles.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return BillingProfilesGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun billingProfilesGet(adAccountId: kotlin.String, isActive: kotlin.Boolean, bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25) : BillingProfilesGet200Response {
        val localVarResponse = billingProfilesGetWithHttpInfo(adAccountId = adAccountId, isActive = isActive, bookmark = bookmark, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BillingProfilesGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/billing_profiles
     * Get billing profiles
     * Get billing profiles in the advertiser account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     * @param adAccountId Unique identifier of an ad account.
     * @param isActive Return active billing profiles, if false return all billing profiles.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return ApiResponse<BillingProfilesGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun billingProfilesGetWithHttpInfo(adAccountId: kotlin.String, isActive: kotlin.Boolean, bookmark: kotlin.String?, pageSize: kotlin.Int?) : ApiResponse<BillingProfilesGet200Response?> {
        val localVariableConfig = billingProfilesGetRequestConfig(adAccountId = adAccountId, isActive = isActive, bookmark = bookmark, pageSize = pageSize)

        return request<Unit, BillingProfilesGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation billingProfilesGet
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param isActive Return active billing profiles, if false return all billing profiles.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return RequestConfig
     */
    fun billingProfilesGetRequestConfig(adAccountId: kotlin.String, isActive: kotlin.Boolean, bookmark: kotlin.String?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("is_active", listOf(isActive.toString()))
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/billing_profiles".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/ssio/accounts
     * Get Salesforce account details including bill-to information.
     *   Get Salesforce account details including bill-to information to be used in insertion orders process for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @return SSIOAccount
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ssioAccountsGet(adAccountId: kotlin.String) : SSIOAccount {
        val localVarResponse = ssioAccountsGetWithHttpInfo(adAccountId = adAccountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SSIOAccount
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/ssio/accounts
     * Get Salesforce account details including bill-to information.
     *   Get Salesforce account details including bill-to information to be used in insertion orders process for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @return ApiResponse<SSIOAccount?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ssioAccountsGetWithHttpInfo(adAccountId: kotlin.String) : ApiResponse<SSIOAccount?> {
        val localVariableConfig = ssioAccountsGetRequestConfig(adAccountId = adAccountId)

        return request<Unit, SSIOAccount>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ssioAccountsGet
     *
     * @param adAccountId Unique identifier of an ad account.
     * @return RequestConfig
     */
    fun ssioAccountsGetRequestConfig(adAccountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/ssio/accounts".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /ad_accounts/{ad_account_id}/ssio/insertion_orders
     * Create insertion order through SSIO.
     *   Create insertion order through SSIO for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param ssIOInsertionOrderCreate 
     * @return SSIOInsertionOrder
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ssioInsertionOrderCreate(adAccountId: kotlin.String, ssIOInsertionOrderCreate: SSIOInsertionOrderCreate) : SSIOInsertionOrder {
        val localVarResponse = ssioInsertionOrderCreateWithHttpInfo(adAccountId = adAccountId, ssIOInsertionOrderCreate = ssIOInsertionOrderCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SSIOInsertionOrder
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/ssio/insertion_orders
     * Create insertion order through SSIO.
     *   Create insertion order through SSIO for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param ssIOInsertionOrderCreate 
     * @return ApiResponse<SSIOInsertionOrder?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ssioInsertionOrderCreateWithHttpInfo(adAccountId: kotlin.String, ssIOInsertionOrderCreate: SSIOInsertionOrderCreate) : ApiResponse<SSIOInsertionOrder?> {
        val localVariableConfig = ssioInsertionOrderCreateRequestConfig(adAccountId = adAccountId, ssIOInsertionOrderCreate = ssIOInsertionOrderCreate)

        return request<SSIOInsertionOrderCreate, SSIOInsertionOrder>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ssioInsertionOrderCreate
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param ssIOInsertionOrderCreate 
     * @return RequestConfig
     */
    fun ssioInsertionOrderCreateRequestConfig(adAccountId: kotlin.String, ssIOInsertionOrderCreate: SSIOInsertionOrderCreate) : RequestConfig<SSIOInsertionOrderCreate> {
        val localVariableBody = ssIOInsertionOrderCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/ssio/insertion_orders".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /ad_accounts/{ad_account_id}/ssio/insertion_orders
     * Edit insertion order through SSIO.
     *   Edit insertion order through SSIO for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param ssIOInsertionOrderUpdate 
     * @return SSIOInsertionOrder
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ssioInsertionOrderEdit(adAccountId: kotlin.String, ssIOInsertionOrderUpdate: SSIOInsertionOrderUpdate) : SSIOInsertionOrder {
        val localVarResponse = ssioInsertionOrderEditWithHttpInfo(adAccountId = adAccountId, ssIOInsertionOrderUpdate = ssIOInsertionOrderUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SSIOInsertionOrder
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /ad_accounts/{ad_account_id}/ssio/insertion_orders
     * Edit insertion order through SSIO.
     *   Edit insertion order through SSIO for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param ssIOInsertionOrderUpdate 
     * @return ApiResponse<SSIOInsertionOrder?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ssioInsertionOrderEditWithHttpInfo(adAccountId: kotlin.String, ssIOInsertionOrderUpdate: SSIOInsertionOrderUpdate) : ApiResponse<SSIOInsertionOrder?> {
        val localVariableConfig = ssioInsertionOrderEditRequestConfig(adAccountId = adAccountId, ssIOInsertionOrderUpdate = ssIOInsertionOrderUpdate)

        return request<SSIOInsertionOrderUpdate, SSIOInsertionOrder>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ssioInsertionOrderEdit
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param ssIOInsertionOrderUpdate 
     * @return RequestConfig
     */
    fun ssioInsertionOrderEditRequestConfig(adAccountId: kotlin.String, ssIOInsertionOrderUpdate: SSIOInsertionOrderUpdate) : RequestConfig<SSIOInsertionOrderUpdate> {
        val localVariableBody = ssIOInsertionOrderUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/ad_accounts/{ad_account_id}/ssio/insertion_orders".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/ssio/insertion_orders/status
     * Get insertion order status by ad account id.
     *   Get insertion order status for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return SsioInsertionOrdersStatusGetByAdAccount200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ssioInsertionOrdersStatusGetByAdAccount(adAccountId: kotlin.String, bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25) : SsioInsertionOrdersStatusGetByAdAccount200Response {
        val localVarResponse = ssioInsertionOrdersStatusGetByAdAccountWithHttpInfo(adAccountId = adAccountId, bookmark = bookmark, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SsioInsertionOrdersStatusGetByAdAccount200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/ssio/insertion_orders/status
     * Get insertion order status by ad account id.
     *   Get insertion order status for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return ApiResponse<SsioInsertionOrdersStatusGetByAdAccount200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ssioInsertionOrdersStatusGetByAdAccountWithHttpInfo(adAccountId: kotlin.String, bookmark: kotlin.String?, pageSize: kotlin.Int?) : ApiResponse<SsioInsertionOrdersStatusGetByAdAccount200Response?> {
        val localVariableConfig = ssioInsertionOrdersStatusGetByAdAccountRequestConfig(adAccountId = adAccountId, bookmark = bookmark, pageSize = pageSize)

        return request<Unit, SsioInsertionOrdersStatusGetByAdAccount200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ssioInsertionOrdersStatusGetByAdAccount
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return RequestConfig
     */
    fun ssioInsertionOrdersStatusGetByAdAccountRequestConfig(adAccountId: kotlin.String, bookmark: kotlin.String?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/ssio/insertion_orders/status".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status
     * Get insertion order status by pin order id.
     *   Get insertion order status for &#x60;pin_order_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param pinOrderId The pin order id associated with the ssio insertion order
     * @return SSIOInsertionOrderStatusResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ssioInsertionOrdersStatusGetByPinOrderId(adAccountId: kotlin.String, pinOrderId: kotlin.String) : SSIOInsertionOrderStatusResponse {
        val localVarResponse = ssioInsertionOrdersStatusGetByPinOrderIdWithHttpInfo(adAccountId = adAccountId, pinOrderId = pinOrderId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SSIOInsertionOrderStatusResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status
     * Get insertion order status by pin order id.
     *   Get insertion order status for &#x60;pin_order_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param pinOrderId The pin order id associated with the ssio insertion order
     * @return ApiResponse<SSIOInsertionOrderStatusResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ssioInsertionOrdersStatusGetByPinOrderIdWithHttpInfo(adAccountId: kotlin.String, pinOrderId: kotlin.String) : ApiResponse<SSIOInsertionOrderStatusResponse?> {
        val localVariableConfig = ssioInsertionOrdersStatusGetByPinOrderIdRequestConfig(adAccountId = adAccountId, pinOrderId = pinOrderId)

        return request<Unit, SSIOInsertionOrderStatusResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ssioInsertionOrdersStatusGetByPinOrderId
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param pinOrderId The pin order id associated with the ssio insertion order
     * @return RequestConfig
     */
    fun ssioInsertionOrdersStatusGetByPinOrderIdRequestConfig(adAccountId: kotlin.String, pinOrderId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())).replace("{"+"pin_order_id"+"}", encodeURIComponent(pinOrderId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/ssio/order_lines
     * Get Salesforce order lines by ad account id.
     *   Get Salesforce order lines for account id &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param pinOrderId The pin order id associated with the SSIO insertion order (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return SsioOrderLinesGetByAdAccount200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ssioOrderLinesGetByAdAccount(adAccountId: kotlin.String, pinOrderId: kotlin.String? = null, bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25) : SsioOrderLinesGetByAdAccount200Response {
        val localVarResponse = ssioOrderLinesGetByAdAccountWithHttpInfo(adAccountId = adAccountId, pinOrderId = pinOrderId, bookmark = bookmark, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SsioOrderLinesGetByAdAccount200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/ssio/order_lines
     * Get Salesforce order lines by ad account id.
     *   Get Salesforce order lines for account id &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param pinOrderId The pin order id associated with the SSIO insertion order (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return ApiResponse<SsioOrderLinesGetByAdAccount200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ssioOrderLinesGetByAdAccountWithHttpInfo(adAccountId: kotlin.String, pinOrderId: kotlin.String?, bookmark: kotlin.String?, pageSize: kotlin.Int?) : ApiResponse<SsioOrderLinesGetByAdAccount200Response?> {
        val localVariableConfig = ssioOrderLinesGetByAdAccountRequestConfig(adAccountId = adAccountId, pinOrderId = pinOrderId, bookmark = bookmark, pageSize = pageSize)

        return request<Unit, SsioOrderLinesGetByAdAccount200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ssioOrderLinesGetByAdAccount
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param pinOrderId The pin order id associated with the SSIO insertion order (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return RequestConfig
     */
    fun ssioOrderLinesGetByAdAccountRequestConfig(adAccountId: kotlin.String, pinOrderId: kotlin.String?, bookmark: kotlin.String?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (pinOrderId != null) {
                    put("pin_order_id", listOf(pinOrderId.toString()))
                }
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/ssio/order_lines".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
