/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.BulkDownload
import org.openapitools.client.models.BulkDownloadCreate
import org.openapitools.client.models.BulkJobData
import org.openapitools.client.models.BulkUpsertRequest
import org.openapitools.client.models.BulkUpsertResponse
import org.openapitools.client.models.PinterestLibError

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class BulkApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.pinterest.com/v5")
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/bulk/download
     * Get advertiser entities in bulk
     * Create an asynchronous report that may include information on campaigns, ad groups, product groups, ads, keywords, schedules,and/or labels; can filter by campaigns. Though the entities may be active, archived, or paused, only active entities will return data.
     * @param adAccountId Unique identifier of an ad account.
     * @param bulkDownloadCreate 
     * @return BulkDownload
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bulkDownloadCreate(adAccountId: kotlin.String, bulkDownloadCreate: BulkDownloadCreate) : BulkDownload {
        val localVarResponse = bulkDownloadCreateWithHttpInfo(adAccountId = adAccountId, bulkDownloadCreate = bulkDownloadCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BulkDownload
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/bulk/download
     * Get advertiser entities in bulk
     * Create an asynchronous report that may include information on campaigns, ad groups, product groups, ads, keywords, schedules,and/or labels; can filter by campaigns. Though the entities may be active, archived, or paused, only active entities will return data.
     * @param adAccountId Unique identifier of an ad account.
     * @param bulkDownloadCreate 
     * @return ApiResponse<BulkDownload?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bulkDownloadCreateWithHttpInfo(adAccountId: kotlin.String, bulkDownloadCreate: BulkDownloadCreate) : ApiResponse<BulkDownload?> {
        val localVariableConfig = bulkDownloadCreateRequestConfig(adAccountId = adAccountId, bulkDownloadCreate = bulkDownloadCreate)

        return request<BulkDownloadCreate, BulkDownload>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bulkDownloadCreate
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param bulkDownloadCreate 
     * @return RequestConfig
     */
    fun bulkDownloadCreateRequestConfig(adAccountId: kotlin.String, bulkDownloadCreate: BulkDownloadCreate) : RequestConfig<BulkDownloadCreate> {
        val localVariableBody = bulkDownloadCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/bulk/download".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/bulk/{bulk_request_id}
     * Download advertiser entities in bulk
     * Get the status of a bulk request by &#x60;request_id&#x60;, along with a download URL that will allow you to download the new or updated entity data (campaigns, ad groups, product groups, ads, schedules, or keywords).
     * @param adAccountId Unique identifier of an ad account.
     * @param bulkRequestId Bulk request ID that is from one of the entities bulk endpoints
     * @param includeDetails If set to True then attach the errors/details to all the requests (optional, default to false)
     * @return BulkJobData
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bulkRequestGet(adAccountId: kotlin.String, bulkRequestId: kotlin.String, includeDetails: kotlin.Boolean? = false) : BulkJobData {
        val localVarResponse = bulkRequestGetWithHttpInfo(adAccountId = adAccountId, bulkRequestId = bulkRequestId, includeDetails = includeDetails)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BulkJobData
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/bulk/{bulk_request_id}
     * Download advertiser entities in bulk
     * Get the status of a bulk request by &#x60;request_id&#x60;, along with a download URL that will allow you to download the new or updated entity data (campaigns, ad groups, product groups, ads, schedules, or keywords).
     * @param adAccountId Unique identifier of an ad account.
     * @param bulkRequestId Bulk request ID that is from one of the entities bulk endpoints
     * @param includeDetails If set to True then attach the errors/details to all the requests (optional, default to false)
     * @return ApiResponse<BulkJobData?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bulkRequestGetWithHttpInfo(adAccountId: kotlin.String, bulkRequestId: kotlin.String, includeDetails: kotlin.Boolean?) : ApiResponse<BulkJobData?> {
        val localVariableConfig = bulkRequestGetRequestConfig(adAccountId = adAccountId, bulkRequestId = bulkRequestId, includeDetails = includeDetails)

        return request<Unit, BulkJobData>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bulkRequestGet
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param bulkRequestId Bulk request ID that is from one of the entities bulk endpoints
     * @param includeDetails If set to True then attach the errors/details to all the requests (optional, default to false)
     * @return RequestConfig
     */
    fun bulkRequestGetRequestConfig(adAccountId: kotlin.String, bulkRequestId: kotlin.String, includeDetails: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (includeDetails != null) {
                    put("include_details", listOf(includeDetails.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/bulk/{bulk_request_id}".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())).replace("{"+"bulk_request_id"+"}", encodeURIComponent(bulkRequestId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /ad_accounts/{ad_account_id}/bulk/upsert
     * Create/update ad entities in bulk
     * Either create or update any combination of campaigns, ad groups, product groups, ads, keywords, schedules, or labels. Note that this request will be processed asynchronously; the response will include a &lt;code&gt;request_id&lt;/code&gt; that can be used to obtain the status of the request.
     * @param adAccountId Unique identifier of an ad account.
     * @param bulkUpsertRequest Parameters to get create/update ad entities in bulk
     * @return BulkUpsertResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bulkUpsertCreate(adAccountId: kotlin.String, bulkUpsertRequest: BulkUpsertRequest) : BulkUpsertResponse {
        val localVarResponse = bulkUpsertCreateWithHttpInfo(adAccountId = adAccountId, bulkUpsertRequest = bulkUpsertRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BulkUpsertResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/bulk/upsert
     * Create/update ad entities in bulk
     * Either create or update any combination of campaigns, ad groups, product groups, ads, keywords, schedules, or labels. Note that this request will be processed asynchronously; the response will include a &lt;code&gt;request_id&lt;/code&gt; that can be used to obtain the status of the request.
     * @param adAccountId Unique identifier of an ad account.
     * @param bulkUpsertRequest Parameters to get create/update ad entities in bulk
     * @return ApiResponse<BulkUpsertResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bulkUpsertCreateWithHttpInfo(adAccountId: kotlin.String, bulkUpsertRequest: BulkUpsertRequest) : ApiResponse<BulkUpsertResponse?> {
        val localVariableConfig = bulkUpsertCreateRequestConfig(adAccountId = adAccountId, bulkUpsertRequest = bulkUpsertRequest)

        return request<BulkUpsertRequest, BulkUpsertResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bulkUpsertCreate
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param bulkUpsertRequest Parameters to get create/update ad entities in bulk
     * @return RequestConfig
     */
    fun bulkUpsertCreateRequestConfig(adAccountId: kotlin.String, bulkUpsertRequest: BulkUpsertRequest) : RequestConfig<BulkUpsertRequest> {
        val localVariableBody = bulkUpsertRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/bulk/upsert".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
