/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.BrandAccount
import org.openapitools.client.models.BrandAccountCreate
import org.openapitools.client.models.BrandAccountUpdate
import org.openapitools.client.models.BusinessMembershipMember
import org.openapitools.client.models.DeleteBusinessMembership200Response
import org.openapitools.client.models.DeleteBusinessMembershipBody
import org.openapitools.client.models.DeleteBusinessPartners
import org.openapitools.client.models.DeleteBusinessPartnersDelete
import org.openapitools.client.models.GetBusinessEmployers200Response
import org.openapitools.client.models.MemberBusinessRole
import org.openapitools.client.models.PartnerType
import org.openapitools.client.models.PinterestLibError
import org.openapitools.client.models.SystemUserUpdateWithRequiredBody
import org.openapitools.client.models.UpdateBusinessMembershipsResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class BusinessAccessRelationshipsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.pinterest.com/v5")
        }
    }

    /**
     * POST /business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts
     * Create a Brand Account
     * Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.
     * @param businessHierarchyId business hierarchy node id
     * @param brandAccountCreate 
     * @return BrandAccount
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun brandAccountsCreate(businessHierarchyId: kotlin.String, brandAccountCreate: BrandAccountCreate) : BrandAccount {
        val localVarResponse = brandAccountsCreateWithHttpInfo(businessHierarchyId = businessHierarchyId, brandAccountCreate = brandAccountCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BrandAccount
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts
     * Create a Brand Account
     * Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.
     * @param businessHierarchyId business hierarchy node id
     * @param brandAccountCreate 
     * @return ApiResponse<BrandAccount?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun brandAccountsCreateWithHttpInfo(businessHierarchyId: kotlin.String, brandAccountCreate: BrandAccountCreate) : ApiResponse<BrandAccount?> {
        val localVariableConfig = brandAccountsCreateRequestConfig(businessHierarchyId = businessHierarchyId, brandAccountCreate = brandAccountCreate)

        return request<BrandAccountCreate, BrandAccount>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation brandAccountsCreate
     *
     * @param businessHierarchyId business hierarchy node id
     * @param brandAccountCreate 
     * @return RequestConfig
     */
    fun brandAccountsCreateRequestConfig(businessHierarchyId: kotlin.String, brandAccountCreate: BrandAccountCreate) : RequestConfig<BrandAccountCreate> {
        val localVariableBody = brandAccountCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts".replace("{"+"business_hierarchy_id"+"}", encodeURIComponent(businessHierarchyId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}
     * Update a Brand Account
     * Update an existing Brand Account
     * @param brandAccountId 
     * @param businessHierarchyId business hierarchy node id
     * @param brandAccountUpdate 
     * @return BrandAccount
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun brandAccountsUpdate(brandAccountId: kotlin.String, businessHierarchyId: kotlin.String, brandAccountUpdate: BrandAccountUpdate) : BrandAccount {
        val localVarResponse = brandAccountsUpdateWithHttpInfo(brandAccountId = brandAccountId, businessHierarchyId = businessHierarchyId, brandAccountUpdate = brandAccountUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BrandAccount
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}
     * Update a Brand Account
     * Update an existing Brand Account
     * @param brandAccountId 
     * @param businessHierarchyId business hierarchy node id
     * @param brandAccountUpdate 
     * @return ApiResponse<BrandAccount?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun brandAccountsUpdateWithHttpInfo(brandAccountId: kotlin.String, businessHierarchyId: kotlin.String, brandAccountUpdate: BrandAccountUpdate) : ApiResponse<BrandAccount?> {
        val localVariableConfig = brandAccountsUpdateRequestConfig(brandAccountId = brandAccountId, businessHierarchyId = businessHierarchyId, brandAccountUpdate = brandAccountUpdate)

        return request<BrandAccountUpdate, BrandAccount>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation brandAccountsUpdate
     *
     * @param brandAccountId 
     * @param businessHierarchyId business hierarchy node id
     * @param brandAccountUpdate 
     * @return RequestConfig
     */
    fun brandAccountsUpdateRequestConfig(brandAccountId: kotlin.String, businessHierarchyId: kotlin.String, brandAccountUpdate: BrandAccountUpdate) : RequestConfig<BrandAccountUpdate> {
        val localVariableBody = brandAccountUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}".replace("{"+"brand_account_id"+"}", encodeURIComponent(brandAccountId.toString())).replace("{"+"business_hierarchy_id"+"}", encodeURIComponent(businessHierarchyId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /businesses/{business_id}/members
     * Terminate business memberships
     * Terminate memberships between the specified members and your business.
     * @param businessId Business id
     * @param deleteBusinessMembershipBody 
     * @return DeleteBusinessMembership200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteBusinessMembership(businessId: kotlin.String, deleteBusinessMembershipBody: DeleteBusinessMembershipBody) : DeleteBusinessMembership200Response {
        val localVarResponse = deleteBusinessMembershipWithHttpInfo(businessId = businessId, deleteBusinessMembershipBody = deleteBusinessMembershipBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteBusinessMembership200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /businesses/{business_id}/members
     * Terminate business memberships
     * Terminate memberships between the specified members and your business.
     * @param businessId Business id
     * @param deleteBusinessMembershipBody 
     * @return ApiResponse<DeleteBusinessMembership200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteBusinessMembershipWithHttpInfo(businessId: kotlin.String, deleteBusinessMembershipBody: DeleteBusinessMembershipBody) : ApiResponse<DeleteBusinessMembership200Response?> {
        val localVariableConfig = deleteBusinessMembershipRequestConfig(businessId = businessId, deleteBusinessMembershipBody = deleteBusinessMembershipBody)

        return request<DeleteBusinessMembershipBody, DeleteBusinessMembership200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteBusinessMembership
     *
     * @param businessId Business id
     * @param deleteBusinessMembershipBody 
     * @return RequestConfig
     */
    fun deleteBusinessMembershipRequestConfig(businessId: kotlin.String, deleteBusinessMembershipBody: DeleteBusinessMembershipBody) : RequestConfig<DeleteBusinessMembershipBody> {
        val localVariableBody = deleteBusinessMembershipBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/businesses/{business_id}/members".replace("{"+"business_id"+"}", encodeURIComponent(businessId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /businesses/{business_id}/partners
     * Terminate business partnerships
     * Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.
     * @param businessId Unique identifier of the requesting business.
     * @param deleteBusinessPartnersDelete 
     * @return DeleteBusinessPartners
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteBusinessPartners(businessId: kotlin.String, deleteBusinessPartnersDelete: DeleteBusinessPartnersDelete) : DeleteBusinessPartners {
        val localVarResponse = deleteBusinessPartnersWithHttpInfo(businessId = businessId, deleteBusinessPartnersDelete = deleteBusinessPartnersDelete)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteBusinessPartners
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /businesses/{business_id}/partners
     * Terminate business partnerships
     * Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.
     * @param businessId Unique identifier of the requesting business.
     * @param deleteBusinessPartnersDelete 
     * @return ApiResponse<DeleteBusinessPartners?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteBusinessPartnersWithHttpInfo(businessId: kotlin.String, deleteBusinessPartnersDelete: DeleteBusinessPartnersDelete) : ApiResponse<DeleteBusinessPartners?> {
        val localVariableConfig = deleteBusinessPartnersRequestConfig(businessId = businessId, deleteBusinessPartnersDelete = deleteBusinessPartnersDelete)

        return request<DeleteBusinessPartnersDelete, DeleteBusinessPartners>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteBusinessPartners
     *
     * @param businessId Unique identifier of the requesting business.
     * @param deleteBusinessPartnersDelete 
     * @return RequestConfig
     */
    fun deleteBusinessPartnersRequestConfig(businessId: kotlin.String, deleteBusinessPartnersDelete: DeleteBusinessPartnersDelete) : RequestConfig<DeleteBusinessPartnersDelete> {
        val localVariableBody = deleteBusinessPartnersDelete
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/businesses/{business_id}/partners".replace("{"+"business_id"+"}", encodeURIComponent(businessId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /businesses/employers
     * List business employers for user
     * Get all of the viewing user&#39;s business employers.
     * @param assetsSummary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to true)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return GetBusinessEmployers200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getBusinessEmployers(assetsSummary: kotlin.Boolean? = true, bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25) : GetBusinessEmployers200Response {
        val localVarResponse = getBusinessEmployersWithHttpInfo(assetsSummary = assetsSummary, bookmark = bookmark, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetBusinessEmployers200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /businesses/employers
     * List business employers for user
     * Get all of the viewing user&#39;s business employers.
     * @param assetsSummary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to true)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return ApiResponse<GetBusinessEmployers200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getBusinessEmployersWithHttpInfo(assetsSummary: kotlin.Boolean?, bookmark: kotlin.String?, pageSize: kotlin.Int?) : ApiResponse<GetBusinessEmployers200Response?> {
        val localVariableConfig = getBusinessEmployersRequestConfig(assetsSummary = assetsSummary, bookmark = bookmark, pageSize = pageSize)

        return request<Unit, GetBusinessEmployers200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getBusinessEmployers
     *
     * @param assetsSummary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to true)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return RequestConfig
     */
    fun getBusinessEmployersRequestConfig(assetsSummary: kotlin.Boolean?, bookmark: kotlin.String?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (assetsSummary != null) {
                    put("assets_summary", listOf(assetsSummary.toString()))
                }
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/businesses/employers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /businesses/{business_id}/members
     * Get business members
     * Get all members of the specified business. The return response will include the member&#39;s business_role and assets they have access to if assets_summary&#x3D;TRUE
     * @param businessId Unique identifier of the requesting business.
     * @param fetchSystemUsers Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
     * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param businessRoles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned. (optional)
     * @param memberIds A list of business members ids separated by comma. (optional)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return GetBusinessEmployers200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getBusinessMembers(businessId: kotlin.String, fetchSystemUsers: kotlin.Boolean? = false, assetsSummary: kotlin.Boolean? = false, businessRoles: kotlin.collections.List<MemberBusinessRole>? = null, memberIds: kotlin.String? = null, startIndex: kotlin.Int? = 0, bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25) : GetBusinessEmployers200Response {
        val localVarResponse = getBusinessMembersWithHttpInfo(businessId = businessId, fetchSystemUsers = fetchSystemUsers, assetsSummary = assetsSummary, businessRoles = businessRoles, memberIds = memberIds, startIndex = startIndex, bookmark = bookmark, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetBusinessEmployers200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /businesses/{business_id}/members
     * Get business members
     * Get all members of the specified business. The return response will include the member&#39;s business_role and assets they have access to if assets_summary&#x3D;TRUE
     * @param businessId Unique identifier of the requesting business.
     * @param fetchSystemUsers Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
     * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param businessRoles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned. (optional)
     * @param memberIds A list of business members ids separated by comma. (optional)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return ApiResponse<GetBusinessEmployers200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getBusinessMembersWithHttpInfo(businessId: kotlin.String, fetchSystemUsers: kotlin.Boolean?, assetsSummary: kotlin.Boolean?, businessRoles: kotlin.collections.List<MemberBusinessRole>?, memberIds: kotlin.String?, startIndex: kotlin.Int?, bookmark: kotlin.String?, pageSize: kotlin.Int?) : ApiResponse<GetBusinessEmployers200Response?> {
        val localVariableConfig = getBusinessMembersRequestConfig(businessId = businessId, fetchSystemUsers = fetchSystemUsers, assetsSummary = assetsSummary, businessRoles = businessRoles, memberIds = memberIds, startIndex = startIndex, bookmark = bookmark, pageSize = pageSize)

        return request<Unit, GetBusinessEmployers200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getBusinessMembers
     *
     * @param businessId Unique identifier of the requesting business.
     * @param fetchSystemUsers Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
     * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param businessRoles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned. (optional)
     * @param memberIds A list of business members ids separated by comma. (optional)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return RequestConfig
     */
    fun getBusinessMembersRequestConfig(businessId: kotlin.String, fetchSystemUsers: kotlin.Boolean?, assetsSummary: kotlin.Boolean?, businessRoles: kotlin.collections.List<MemberBusinessRole>?, memberIds: kotlin.String?, startIndex: kotlin.Int?, bookmark: kotlin.String?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (fetchSystemUsers != null) {
                    put("fetch_system_users", listOf(fetchSystemUsers.toString()))
                }
                if (assetsSummary != null) {
                    put("assets_summary", listOf(assetsSummary.toString()))
                }
                if (businessRoles != null) {
                    put("business_roles", toMultiValue(businessRoles.toList(), "multi"))
                }
                if (memberIds != null) {
                    put("member_ids", listOf(memberIds.toString()))
                }
                if (startIndex != null) {
                    put("start_index", listOf(startIndex.toString()))
                }
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/businesses/{business_id}/members".replace("{"+"business_id"+"}", encodeURIComponent(businessId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /businesses/{business_id}/partners
     * Get business partners
     * Get all partners of the specified business.  If the assets_summary&#x3D;TRUE and: - partner_type&#x3D;INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type&#x3D;EXTERNAL, the business assets returned are your partner&#39;s business assets the partner has granted you   access to.
     * @param businessId Unique identifier of the requesting business.
     * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional)
     * @param partnerIds A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned. (optional)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param sortAscending Sort ascending. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return GetBusinessEmployers200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getBusinessPartners(businessId: kotlin.String, assetsSummary: kotlin.Boolean? = false, partnerType: PartnerType? = null, partnerIds: kotlin.String? = null, startIndex: kotlin.Int? = 0, sortAscending: kotlin.Boolean? = null, bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25) : GetBusinessEmployers200Response {
        val localVarResponse = getBusinessPartnersWithHttpInfo(businessId = businessId, assetsSummary = assetsSummary, partnerType = partnerType, partnerIds = partnerIds, startIndex = startIndex, sortAscending = sortAscending, bookmark = bookmark, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetBusinessEmployers200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /businesses/{business_id}/partners
     * Get business partners
     * Get all partners of the specified business.  If the assets_summary&#x3D;TRUE and: - partner_type&#x3D;INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type&#x3D;EXTERNAL, the business assets returned are your partner&#39;s business assets the partner has granted you   access to.
     * @param businessId Unique identifier of the requesting business.
     * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional)
     * @param partnerIds A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned. (optional)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param sortAscending Sort ascending. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return ApiResponse<GetBusinessEmployers200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getBusinessPartnersWithHttpInfo(businessId: kotlin.String, assetsSummary: kotlin.Boolean?, partnerType: PartnerType?, partnerIds: kotlin.String?, startIndex: kotlin.Int?, sortAscending: kotlin.Boolean?, bookmark: kotlin.String?, pageSize: kotlin.Int?) : ApiResponse<GetBusinessEmployers200Response?> {
        val localVariableConfig = getBusinessPartnersRequestConfig(businessId = businessId, assetsSummary = assetsSummary, partnerType = partnerType, partnerIds = partnerIds, startIndex = startIndex, sortAscending = sortAscending, bookmark = bookmark, pageSize = pageSize)

        return request<Unit, GetBusinessEmployers200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getBusinessPartners
     *
     * @param businessId Unique identifier of the requesting business.
     * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional)
     * @param partnerIds A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned. (optional)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param sortAscending Sort ascending. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return RequestConfig
     */
    fun getBusinessPartnersRequestConfig(businessId: kotlin.String, assetsSummary: kotlin.Boolean?, partnerType: PartnerType?, partnerIds: kotlin.String?, startIndex: kotlin.Int?, sortAscending: kotlin.Boolean?, bookmark: kotlin.String?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (assetsSummary != null) {
                    put("assets_summary", listOf(assetsSummary.toString()))
                }
                if (partnerType != null) {
                    put("partner_type", listOf(partnerType.toString()))
                }
                if (partnerIds != null) {
                    put("partner_ids", listOf(partnerIds.toString()))
                }
                if (startIndex != null) {
                    put("start_index", listOf(startIndex.toString()))
                }
                if (sortAscending != null) {
                    put("sort_ascending", listOf(sortAscending.toString()))
                }
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/businesses/{business_id}/partners".replace("{"+"business_id"+"}", encodeURIComponent(businessId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /businesses/{business_id}/system_users/{system_user_id}
     * Update a system user information.
     * Update a system user information such as name.
     * @param businessId Unique identifier of the requesting business.
     * @param systemUserId Unique identifier of a system user.
     * @param systemUserUpdateWithRequiredBody 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun systemUserUpdate(businessId: kotlin.String, systemUserId: kotlin.String, systemUserUpdateWithRequiredBody: SystemUserUpdateWithRequiredBody) : Unit {
        val localVarResponse = systemUserUpdateWithHttpInfo(businessId = businessId, systemUserId = systemUserId, systemUserUpdateWithRequiredBody = systemUserUpdateWithRequiredBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /businesses/{business_id}/system_users/{system_user_id}
     * Update a system user information.
     * Update a system user information such as name.
     * @param businessId Unique identifier of the requesting business.
     * @param systemUserId Unique identifier of a system user.
     * @param systemUserUpdateWithRequiredBody 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun systemUserUpdateWithHttpInfo(businessId: kotlin.String, systemUserId: kotlin.String, systemUserUpdateWithRequiredBody: SystemUserUpdateWithRequiredBody) : ApiResponse<Unit?> {
        val localVariableConfig = systemUserUpdateRequestConfig(businessId = businessId, systemUserId = systemUserId, systemUserUpdateWithRequiredBody = systemUserUpdateWithRequiredBody)

        return request<SystemUserUpdateWithRequiredBody, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation systemUserUpdate
     *
     * @param businessId Unique identifier of the requesting business.
     * @param systemUserId Unique identifier of a system user.
     * @param systemUserUpdateWithRequiredBody 
     * @return RequestConfig
     */
    fun systemUserUpdateRequestConfig(businessId: kotlin.String, systemUserId: kotlin.String, systemUserUpdateWithRequiredBody: SystemUserUpdateWithRequiredBody) : RequestConfig<SystemUserUpdateWithRequiredBody> {
        val localVariableBody = systemUserUpdateWithRequiredBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/businesses/{business_id}/system_users/{system_user_id}".replace("{"+"business_id"+"}", encodeURIComponent(businessId.toString())).replace("{"+"system_user_id"+"}", encodeURIComponent(systemUserId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /businesses/{business_id}/members
     * Update member&#39;s business role
     * Update a member&#39;s business role within the business.
     * @param businessId Business id
     * @param businessMembershipMember 
     * @return UpdateBusinessMembershipsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateBusinessMemberships(businessId: kotlin.String, businessMembershipMember: kotlin.collections.List<BusinessMembershipMember>) : UpdateBusinessMembershipsResponse {
        val localVarResponse = updateBusinessMembershipsWithHttpInfo(businessId = businessId, businessMembershipMember = businessMembershipMember)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UpdateBusinessMembershipsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /businesses/{business_id}/members
     * Update member&#39;s business role
     * Update a member&#39;s business role within the business.
     * @param businessId Business id
     * @param businessMembershipMember 
     * @return ApiResponse<UpdateBusinessMembershipsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateBusinessMembershipsWithHttpInfo(businessId: kotlin.String, businessMembershipMember: kotlin.collections.List<BusinessMembershipMember>) : ApiResponse<UpdateBusinessMembershipsResponse?> {
        val localVariableConfig = updateBusinessMembershipsRequestConfig(businessId = businessId, businessMembershipMember = businessMembershipMember)

        return request<kotlin.collections.List<BusinessMembershipMember>, UpdateBusinessMembershipsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateBusinessMemberships
     *
     * @param businessId Business id
     * @param businessMembershipMember 
     * @return RequestConfig
     */
    fun updateBusinessMembershipsRequestConfig(businessId: kotlin.String, businessMembershipMember: kotlin.collections.List<BusinessMembershipMember>) : RequestConfig<kotlin.collections.List<BusinessMembershipMember>> {
        val localVariableBody = businessMembershipMember
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/businesses/{business_id}/members".replace("{"+"business_id"+"}", encodeURIComponent(businessId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
