/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.EventQualityScore
import org.openapitools.client.models.IngestionSourceOptions
import org.openapitools.client.models.LookbackPeriodOptions
import org.openapitools.client.models.PinterestLibError
import org.openapitools.client.models.SourcePlatformOptions

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ConversionEqsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.pinterest.com/v5")
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/conversion_eqs
     * Get event quality score (EQS)
     * Get the Event Quality Score (EQS) of your conversion signals.  [Event Quality Score](https://help.pinterest.com/en/business/article/eqs) indicates how effective the customer information and event insights (metadata) passed with your web, app and offline conversion events may be at matching to a Pinterest user.
     * @param adAccountId Unique identifier of an ad account.
     * @param lookbackPeriod Lookback window (number of days).
     * @param sourcePlatform Source platform of event. (optional)
     * @param ingestionSource Ingestion source of event. (optional)
     * @return kotlin.collections.List<EventQualityScore>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun conversionEqsList(adAccountId: kotlin.String, lookbackPeriod: LookbackPeriodOptions, sourcePlatform: SourcePlatformOptions? = null, ingestionSource: IngestionSourceOptions? = null) : kotlin.collections.List<EventQualityScore> {
        val localVarResponse = conversionEqsListWithHttpInfo(adAccountId = adAccountId, lookbackPeriod = lookbackPeriod, sourcePlatform = sourcePlatform, ingestionSource = ingestionSource)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<EventQualityScore>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/conversion_eqs
     * Get event quality score (EQS)
     * Get the Event Quality Score (EQS) of your conversion signals.  [Event Quality Score](https://help.pinterest.com/en/business/article/eqs) indicates how effective the customer information and event insights (metadata) passed with your web, app and offline conversion events may be at matching to a Pinterest user.
     * @param adAccountId Unique identifier of an ad account.
     * @param lookbackPeriod Lookback window (number of days).
     * @param sourcePlatform Source platform of event. (optional)
     * @param ingestionSource Ingestion source of event. (optional)
     * @return ApiResponse<kotlin.collections.List<EventQualityScore>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun conversionEqsListWithHttpInfo(adAccountId: kotlin.String, lookbackPeriod: LookbackPeriodOptions, sourcePlatform: SourcePlatformOptions?, ingestionSource: IngestionSourceOptions?) : ApiResponse<kotlin.collections.List<EventQualityScore>?> {
        val localVariableConfig = conversionEqsListRequestConfig(adAccountId = adAccountId, lookbackPeriod = lookbackPeriod, sourcePlatform = sourcePlatform, ingestionSource = ingestionSource)

        return request<Unit, kotlin.collections.List<EventQualityScore>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation conversionEqsList
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param lookbackPeriod Lookback window (number of days).
     * @param sourcePlatform Source platform of event. (optional)
     * @param ingestionSource Ingestion source of event. (optional)
     * @return RequestConfig
     */
    fun conversionEqsListRequestConfig(adAccountId: kotlin.String, lookbackPeriod: LookbackPeriodOptions, sourcePlatform: SourcePlatformOptions?, ingestionSource: IngestionSourceOptions?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("lookback_period", listOf(lookbackPeriod.toString()))
                if (sourcePlatform != null) {
                    put("source_platform", listOf(sourcePlatform.toString()))
                }
                if (ingestionSource != null) {
                    put("ingestion_source", listOf(ingestionSource.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/conversion_eqs".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
