/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.CustomerListUpload
import org.openapitools.client.models.CustomerListUploadCreateRequest
import org.openapitools.client.models.CustomerListUploadCreateResponse
import org.openapitools.client.models.PinterestLibError

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class CustomerListUploadsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.pinterest.com/v5")
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads
     * Create customer list upload
     * Create a customer list upload request for multipart S3 upload.  Note: Each part must be at least 5mb; however the last part can be any size greater than 0. Clients with smaller files can request a single part count. This minimal part size restriction is defined by the AWS S3 API.  **Please review the [update customer list endpoint](/docs/api/v5/customer_lists-update/) documentation for additional information.**
     * @param adAccountId 
     * @param customerListId Customer list ID.
     * @param customerListUploadCreateRequest 
     * @return CustomerListUploadCreateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun customerListUploadsCreate(adAccountId: kotlin.String, customerListId: kotlin.String, customerListUploadCreateRequest: CustomerListUploadCreateRequest) : CustomerListUploadCreateResponse {
        val localVarResponse = customerListUploadsCreateWithHttpInfo(adAccountId = adAccountId, customerListId = customerListId, customerListUploadCreateRequest = customerListUploadCreateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CustomerListUploadCreateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads
     * Create customer list upload
     * Create a customer list upload request for multipart S3 upload.  Note: Each part must be at least 5mb; however the last part can be any size greater than 0. Clients with smaller files can request a single part count. This minimal part size restriction is defined by the AWS S3 API.  **Please review the [update customer list endpoint](/docs/api/v5/customer_lists-update/) documentation for additional information.**
     * @param adAccountId 
     * @param customerListId Customer list ID.
     * @param customerListUploadCreateRequest 
     * @return ApiResponse<CustomerListUploadCreateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun customerListUploadsCreateWithHttpInfo(adAccountId: kotlin.String, customerListId: kotlin.String, customerListUploadCreateRequest: CustomerListUploadCreateRequest) : ApiResponse<CustomerListUploadCreateResponse?> {
        val localVariableConfig = customerListUploadsCreateRequestConfig(adAccountId = adAccountId, customerListId = customerListId, customerListUploadCreateRequest = customerListUploadCreateRequest)

        return request<CustomerListUploadCreateRequest, CustomerListUploadCreateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation customerListUploadsCreate
     *
     * @param adAccountId 
     * @param customerListId Customer list ID.
     * @param customerListUploadCreateRequest 
     * @return RequestConfig
     */
    fun customerListUploadsCreateRequestConfig(adAccountId: kotlin.String, customerListId: kotlin.String, customerListUploadCreateRequest: CustomerListUploadCreateRequest) : RequestConfig<CustomerListUploadCreateRequest> {
        val localVariableBody = customerListUploadCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())).replace("{"+"customer_list_id"+"}", encodeURIComponent(customerListId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}
     * Get customer list upload
     * Get the metadata for a given upload by its ID.
     * @param adAccountId 
     * @param customerListId Customer list ID.
     * @param customerListUploadId Customer List Upload ID.
     * @return CustomerListUpload
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun customerListUploadsGet(adAccountId: kotlin.String, customerListId: kotlin.String, customerListUploadId: kotlin.String) : CustomerListUpload {
        val localVarResponse = customerListUploadsGetWithHttpInfo(adAccountId = adAccountId, customerListId = customerListId, customerListUploadId = customerListUploadId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CustomerListUpload
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}
     * Get customer list upload
     * Get the metadata for a given upload by its ID.
     * @param adAccountId 
     * @param customerListId Customer list ID.
     * @param customerListUploadId Customer List Upload ID.
     * @return ApiResponse<CustomerListUpload?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun customerListUploadsGetWithHttpInfo(adAccountId: kotlin.String, customerListId: kotlin.String, customerListUploadId: kotlin.String) : ApiResponse<CustomerListUpload?> {
        val localVariableConfig = customerListUploadsGetRequestConfig(adAccountId = adAccountId, customerListId = customerListId, customerListUploadId = customerListUploadId)

        return request<Unit, CustomerListUpload>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation customerListUploadsGet
     *
     * @param adAccountId 
     * @param customerListId Customer list ID.
     * @param customerListUploadId Customer List Upload ID.
     * @return RequestConfig
     */
    fun customerListUploadsGetRequestConfig(adAccountId: kotlin.String, customerListId: kotlin.String, customerListUploadId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())).replace("{"+"customer_list_id"+"}", encodeURIComponent(customerListId.toString())).replace("{"+"customer_list_upload_id"+"}", encodeURIComponent(customerListUploadId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}/run
     * Run customer list upload
     * Begin processing a customer list upload.
     * @param adAccountId 
     * @param customerListId Customer list ID.
     * @param customerListUploadId Customer List Upload ID.
     * @return CustomerListUpload
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun customerListUploadsRun(adAccountId: kotlin.String, customerListId: kotlin.String, customerListUploadId: kotlin.String) : CustomerListUpload {
        val localVarResponse = customerListUploadsRunWithHttpInfo(adAccountId = adAccountId, customerListId = customerListId, customerListUploadId = customerListUploadId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CustomerListUpload
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}/run
     * Run customer list upload
     * Begin processing a customer list upload.
     * @param adAccountId 
     * @param customerListId Customer list ID.
     * @param customerListUploadId Customer List Upload ID.
     * @return ApiResponse<CustomerListUpload?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun customerListUploadsRunWithHttpInfo(adAccountId: kotlin.String, customerListId: kotlin.String, customerListUploadId: kotlin.String) : ApiResponse<CustomerListUpload?> {
        val localVariableConfig = customerListUploadsRunRequestConfig(adAccountId = adAccountId, customerListId = customerListId, customerListUploadId = customerListUploadId)

        return request<Unit, CustomerListUpload>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation customerListUploadsRun
     *
     * @param adAccountId 
     * @param customerListId Customer list ID.
     * @param customerListUploadId Customer List Upload ID.
     * @return RequestConfig
     */
    fun customerListUploadsRunRequestConfig(adAccountId: kotlin.String, customerListId: kotlin.String, customerListUploadId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}/run".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())).replace("{"+"customer_list_id"+"}", encodeURIComponent(customerListId.toString())).replace("{"+"customer_list_upload_id"+"}", encodeURIComponent(customerListUploadId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
