/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.LabelCreateRequest
import org.openapitools.client.models.LabelUpdateRequest
import org.openapitools.client.models.LabeledEntities
import org.openapitools.client.models.LabeledEntitiesCreate
import org.openapitools.client.models.LabelsList200Response
import org.openapitools.client.models.LabelsResponse
import org.openapitools.client.models.PinterestLibError
import org.openapitools.client.models.QueryLabelEntityStatusesItems
import org.openapitools.client.models.QueryLabelTypesItems

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class LabelsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.pinterest.com/v5")
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/labels/{label_id}/apply
     * Apply label to entity
     *   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Apply a label to one or more campaigns.   Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/) in addition to campaigns.   Currently, you can apply **brand** and **custom** labels. Future releases will provide more options.    **Note:** You can only apply one brand label to a campaign. You can apply up to 30 custom labels to a campaign.
     * @param adAccountId 
     * @param labelId Label ID.
     * @param labeledEntitiesCreate 
     * @return LabeledEntities
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun labelsApply(adAccountId: kotlin.String, labelId: kotlin.String, labeledEntitiesCreate: LabeledEntitiesCreate) : LabeledEntities {
        val localVarResponse = labelsApplyWithHttpInfo(adAccountId = adAccountId, labelId = labelId, labeledEntitiesCreate = labeledEntitiesCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LabeledEntities
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/labels/{label_id}/apply
     * Apply label to entity
     *   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Apply a label to one or more campaigns.   Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/) in addition to campaigns.   Currently, you can apply **brand** and **custom** labels. Future releases will provide more options.    **Note:** You can only apply one brand label to a campaign. You can apply up to 30 custom labels to a campaign.
     * @param adAccountId 
     * @param labelId Label ID.
     * @param labeledEntitiesCreate 
     * @return ApiResponse<LabeledEntities?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun labelsApplyWithHttpInfo(adAccountId: kotlin.String, labelId: kotlin.String, labeledEntitiesCreate: LabeledEntitiesCreate) : ApiResponse<LabeledEntities?> {
        val localVariableConfig = labelsApplyRequestConfig(adAccountId = adAccountId, labelId = labelId, labeledEntitiesCreate = labeledEntitiesCreate)

        return request<LabeledEntitiesCreate, LabeledEntities>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation labelsApply
     *
     * @param adAccountId 
     * @param labelId Label ID.
     * @param labeledEntitiesCreate 
     * @return RequestConfig
     */
    fun labelsApplyRequestConfig(adAccountId: kotlin.String, labelId: kotlin.String, labeledEntitiesCreate: LabeledEntitiesCreate) : RequestConfig<LabeledEntitiesCreate> {
        val localVariableBody = labeledEntitiesCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/labels/{label_id}/apply".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())).replace("{"+"label_id"+"}", encodeURIComponent(labelId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /ad_accounts/{ad_account_id}/labels
     * Create labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Apply one or more labels to a campaign. Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/). Currently, you can apply brand and custom labels. Future releases will provide more options.  **Note:** You can only apply one brand label to a campaign. You can apply 30 custom labels to a campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param labelCreateRequest 
     * @return LabelsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun labelsCreate(adAccountId: kotlin.String, labelCreateRequest: LabelCreateRequest) : LabelsResponse {
        val localVarResponse = labelsCreateWithHttpInfo(adAccountId = adAccountId, labelCreateRequest = labelCreateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LabelsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/labels
     * Create labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Apply one or more labels to a campaign. Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/). Currently, you can apply brand and custom labels. Future releases will provide more options.  **Note:** You can only apply one brand label to a campaign. You can apply 30 custom labels to a campaign.
     * @param adAccountId Unique identifier of an ad account.
     * @param labelCreateRequest 
     * @return ApiResponse<LabelsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun labelsCreateWithHttpInfo(adAccountId: kotlin.String, labelCreateRequest: LabelCreateRequest) : ApiResponse<LabelsResponse?> {
        val localVariableConfig = labelsCreateRequestConfig(adAccountId = adAccountId, labelCreateRequest = labelCreateRequest)

        return request<LabelCreateRequest, LabelsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation labelsCreate
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param labelCreateRequest 
     * @return RequestConfig
     */
    fun labelsCreateRequestConfig(adAccountId: kotlin.String, labelCreateRequest: LabelCreateRequest) : RequestConfig<LabelCreateRequest> {
        val localVariableBody = labelCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/labels".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/labels
     * List labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  See a list of labels for assets that your account owns, and filter the list by different criteria. If no filter is provided, it will default to labels associated with the ad account id.
     * @param adAccountId Unique identifier of an ad account.
     * @param campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param labelIds List of Label Ids to use to filter the results. (optional)
     * @param entityStatuses Label entity status (optional, default to arrayListOf(QueryLabelEntityStatusesItems.ACTIVE))
     * @param labelTypes Label type. (optional, default to arrayListOf(QueryLabelTypesItems.BRAND,QueryLabelTypesItems.CUSTOM))
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return LabelsList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun labelsList(adAccountId: kotlin.String, campaignIds: kotlin.collections.List<kotlin.String>? = null, labelIds: kotlin.collections.List<kotlin.String>? = null, entityStatuses: kotlin.collections.List<QueryLabelEntityStatusesItems>? = arrayListOf(QueryLabelEntityStatusesItems.ACTIVE), labelTypes: kotlin.collections.List<QueryLabelTypesItems>? = arrayListOf(QueryLabelTypesItems.BRAND,QueryLabelTypesItems.CUSTOM), bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25) : LabelsList200Response {
        val localVarResponse = labelsListWithHttpInfo(adAccountId = adAccountId, campaignIds = campaignIds, labelIds = labelIds, entityStatuses = entityStatuses, labelTypes = labelTypes, bookmark = bookmark, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LabelsList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/labels
     * List labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  See a list of labels for assets that your account owns, and filter the list by different criteria. If no filter is provided, it will default to labels associated with the ad account id.
     * @param adAccountId Unique identifier of an ad account.
     * @param campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param labelIds List of Label Ids to use to filter the results. (optional)
     * @param entityStatuses Label entity status (optional, default to arrayListOf(QueryLabelEntityStatusesItems.ACTIVE))
     * @param labelTypes Label type. (optional, default to arrayListOf(QueryLabelTypesItems.BRAND,QueryLabelTypesItems.CUSTOM))
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return ApiResponse<LabelsList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun labelsListWithHttpInfo(adAccountId: kotlin.String, campaignIds: kotlin.collections.List<kotlin.String>?, labelIds: kotlin.collections.List<kotlin.String>?, entityStatuses: kotlin.collections.List<QueryLabelEntityStatusesItems>?, labelTypes: kotlin.collections.List<QueryLabelTypesItems>?, bookmark: kotlin.String?, pageSize: kotlin.Int?) : ApiResponse<LabelsList200Response?> {
        val localVariableConfig = labelsListRequestConfig(adAccountId = adAccountId, campaignIds = campaignIds, labelIds = labelIds, entityStatuses = entityStatuses, labelTypes = labelTypes, bookmark = bookmark, pageSize = pageSize)

        return request<Unit, LabelsList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation labelsList
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param labelIds List of Label Ids to use to filter the results. (optional)
     * @param entityStatuses Label entity status (optional, default to arrayListOf(QueryLabelEntityStatusesItems.ACTIVE))
     * @param labelTypes Label type. (optional, default to arrayListOf(QueryLabelTypesItems.BRAND,QueryLabelTypesItems.CUSTOM))
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return RequestConfig
     */
    fun labelsListRequestConfig(adAccountId: kotlin.String, campaignIds: kotlin.collections.List<kotlin.String>?, labelIds: kotlin.collections.List<kotlin.String>?, entityStatuses: kotlin.collections.List<QueryLabelEntityStatusesItems>?, labelTypes: kotlin.collections.List<QueryLabelTypesItems>?, bookmark: kotlin.String?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (campaignIds != null) {
                    put("campaign_ids", toMultiValue(campaignIds.toList(), "multi"))
                }
                if (labelIds != null) {
                    put("label_ids", toMultiValue(labelIds.toList(), "multi"))
                }
                if (entityStatuses != null) {
                    put("entity_statuses", toMultiValue(entityStatuses.toList(), "multi"))
                }
                if (labelTypes != null) {
                    put("label_types", toMultiValue(labelTypes.toList(), "multi"))
                }
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/labels".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /ad_accounts/{ad_account_id}/labels/{label_id}/remove
     * Remove label from entities
     *   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Remove a label from one or more entities.
     * @param adAccountId 
     * @param labelId Label ID.
     * @param labeledEntitiesCreate 
     * @return LabeledEntities
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun labelsRemove(adAccountId: kotlin.String, labelId: kotlin.String, labeledEntitiesCreate: LabeledEntitiesCreate) : LabeledEntities {
        val localVarResponse = labelsRemoveWithHttpInfo(adAccountId = adAccountId, labelId = labelId, labeledEntitiesCreate = labeledEntitiesCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LabeledEntities
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/labels/{label_id}/remove
     * Remove label from entities
     *   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Remove a label from one or more entities.
     * @param adAccountId 
     * @param labelId Label ID.
     * @param labeledEntitiesCreate 
     * @return ApiResponse<LabeledEntities?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun labelsRemoveWithHttpInfo(adAccountId: kotlin.String, labelId: kotlin.String, labeledEntitiesCreate: LabeledEntitiesCreate) : ApiResponse<LabeledEntities?> {
        val localVariableConfig = labelsRemoveRequestConfig(adAccountId = adAccountId, labelId = labelId, labeledEntitiesCreate = labeledEntitiesCreate)

        return request<LabeledEntitiesCreate, LabeledEntities>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation labelsRemove
     *
     * @param adAccountId 
     * @param labelId Label ID.
     * @param labeledEntitiesCreate 
     * @return RequestConfig
     */
    fun labelsRemoveRequestConfig(adAccountId: kotlin.String, labelId: kotlin.String, labeledEntitiesCreate: LabeledEntitiesCreate) : RequestConfig<LabeledEntitiesCreate> {
        val localVariableBody = labeledEntitiesCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/labels/{label_id}/remove".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())).replace("{"+"label_id"+"}", encodeURIComponent(labelId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /ad_accounts/{ad_account_id}/labels
     * Update labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Change the properties of one or more labels.
     * @param adAccountId Unique identifier of an ad account.
     * @param labelUpdateRequest 
     * @return LabelsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun labelsUpdate(adAccountId: kotlin.String, labelUpdateRequest: LabelUpdateRequest) : LabelsResponse {
        val localVarResponse = labelsUpdateWithHttpInfo(adAccountId = adAccountId, labelUpdateRequest = labelUpdateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LabelsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /ad_accounts/{ad_account_id}/labels
     * Update labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Change the properties of one or more labels.
     * @param adAccountId Unique identifier of an ad account.
     * @param labelUpdateRequest 
     * @return ApiResponse<LabelsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun labelsUpdateWithHttpInfo(adAccountId: kotlin.String, labelUpdateRequest: LabelUpdateRequest) : ApiResponse<LabelsResponse?> {
        val localVariableConfig = labelsUpdateRequestConfig(adAccountId = adAccountId, labelUpdateRequest = labelUpdateRequest)

        return request<LabelUpdateRequest, LabelsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation labelsUpdate
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param labelUpdateRequest 
     * @return RequestConfig
     */
    fun labelsUpdateRequestConfig(adAccountId: kotlin.String, labelUpdateRequest: LabelUpdateRequest) : RequestConfig<LabelUpdateRequest> {
        val localVariableBody = labelUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/ad_accounts/{ad_account_id}/labels".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
