/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.PinterestLibError
import org.openapitools.client.models.ProductTagsBulkAddRequest
import org.openapitools.client.models.ProductTagsBulkDeleteRequest
import org.openapitools.client.models.ProductTagsError
import org.openapitools.client.models.ProductTagsResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ProductTagsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.pinterest.com/v5")
        }
    }

    /**
     * POST /pins/{pin_id}/product_tags
     * Add product tags to pin
     * Add product tags to a pin. Product tags allow you to tag product pins onto a hero pin. - Maximum 24 product tags can be added in a single request. - Duplicate pin_ids in the request will result in an error. - If any product tag fails eligibility check, the entire request fails (all-or-nothing). - If a product tag is already tagged on the pin, it is treated as a no-op success.
     * @param pinId Unique identifier of the hero pin that will receive product tags.
     * @param productTagsBulkAddRequest 
     * @return ProductTagsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun productTagsBulkAdd(pinId: kotlin.String, productTagsBulkAddRequest: ProductTagsBulkAddRequest) : ProductTagsResponse {
        val localVarResponse = productTagsBulkAddWithHttpInfo(pinId = pinId, productTagsBulkAddRequest = productTagsBulkAddRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductTagsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /pins/{pin_id}/product_tags
     * Add product tags to pin
     * Add product tags to a pin. Product tags allow you to tag product pins onto a hero pin. - Maximum 24 product tags can be added in a single request. - Duplicate pin_ids in the request will result in an error. - If any product tag fails eligibility check, the entire request fails (all-or-nothing). - If a product tag is already tagged on the pin, it is treated as a no-op success.
     * @param pinId Unique identifier of the hero pin that will receive product tags.
     * @param productTagsBulkAddRequest 
     * @return ApiResponse<ProductTagsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun productTagsBulkAddWithHttpInfo(pinId: kotlin.String, productTagsBulkAddRequest: ProductTagsBulkAddRequest) : ApiResponse<ProductTagsResponse?> {
        val localVariableConfig = productTagsBulkAddRequestConfig(pinId = pinId, productTagsBulkAddRequest = productTagsBulkAddRequest)

        return request<ProductTagsBulkAddRequest, ProductTagsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productTagsBulkAdd
     *
     * @param pinId Unique identifier of the hero pin that will receive product tags.
     * @param productTagsBulkAddRequest 
     * @return RequestConfig
     */
    fun productTagsBulkAddRequestConfig(pinId: kotlin.String, productTagsBulkAddRequest: ProductTagsBulkAddRequest) : RequestConfig<ProductTagsBulkAddRequest> {
        val localVariableBody = productTagsBulkAddRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/pins/{pin_id}/product_tags".replace("{"+"pin_id"+"}", encodeURIComponent(pinId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /pins/{pin_id}/product_tags/bulk-delete
     * Delete product tags from pin
     * Delete product tags from a pin. - If a product tag is not found on the pin, it is treated as a no-op success.
     * @param pinId Unique identifier of the hero pin that will receive product tags.
     * @param productTagsBulkDeleteRequest 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun productTagsBulkDelete(pinId: kotlin.String, productTagsBulkDeleteRequest: ProductTagsBulkDeleteRequest) : Unit {
        val localVarResponse = productTagsBulkDeleteWithHttpInfo(pinId = pinId, productTagsBulkDeleteRequest = productTagsBulkDeleteRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /pins/{pin_id}/product_tags/bulk-delete
     * Delete product tags from pin
     * Delete product tags from a pin. - If a product tag is not found on the pin, it is treated as a no-op success.
     * @param pinId Unique identifier of the hero pin that will receive product tags.
     * @param productTagsBulkDeleteRequest 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun productTagsBulkDeleteWithHttpInfo(pinId: kotlin.String, productTagsBulkDeleteRequest: ProductTagsBulkDeleteRequest) : ApiResponse<Unit?> {
        val localVariableConfig = productTagsBulkDeleteRequestConfig(pinId = pinId, productTagsBulkDeleteRequest = productTagsBulkDeleteRequest)

        return request<ProductTagsBulkDeleteRequest, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productTagsBulkDelete
     *
     * @param pinId Unique identifier of the hero pin that will receive product tags.
     * @param productTagsBulkDeleteRequest 
     * @return RequestConfig
     */
    fun productTagsBulkDeleteRequestConfig(pinId: kotlin.String, productTagsBulkDeleteRequest: ProductTagsBulkDeleteRequest) : RequestConfig<ProductTagsBulkDeleteRequest> {
        val localVariableBody = productTagsBulkDeleteRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/pins/{pin_id}/product_tags/bulk-delete".replace("{"+"pin_id"+"}", encodeURIComponent(pinId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /pins/{pin_id}/product_tags
     * Get product tags for pin
     * Retrieve all product tags for a pin. - Returns an empty array if the pin has no product tags.
     * @param pinId Unique identifier of the hero pin that will receive product tags.
     * @return ProductTagsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun productTagsList(pinId: kotlin.String) : ProductTagsResponse {
        val localVarResponse = productTagsListWithHttpInfo(pinId = pinId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductTagsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /pins/{pin_id}/product_tags
     * Get product tags for pin
     * Retrieve all product tags for a pin. - Returns an empty array if the pin has no product tags.
     * @param pinId Unique identifier of the hero pin that will receive product tags.
     * @return ApiResponse<ProductTagsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun productTagsListWithHttpInfo(pinId: kotlin.String) : ApiResponse<ProductTagsResponse?> {
        val localVariableConfig = productTagsListRequestConfig(pinId = pinId)

        return request<Unit, ProductTagsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation productTagsList
     *
     * @param pinId Unique identifier of the hero pin that will receive product tags.
     * @return RequestConfig
     */
    fun productTagsListRequestConfig(pinId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/pins/{pin_id}/product_tags".replace("{"+"pin_id"+"}", encodeURIComponent(pinId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
