/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.Error
import org.openapitools.client.models.PromotionCreateRequest
import org.openapitools.client.models.PromotionResponse
import org.openapitools.client.models.PromotionUpdateRequest
import org.openapitools.client.models.PromotionsList200Response
import org.openapitools.client.models.PromotionsResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class PromotionsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.pinterest.com/v5")
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/promotions
     * Create promotions
     * Create multiple new promotions.
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionCreateRequest List of promotions to create, size limit [1, 30].
     * @return PromotionsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun promotionsCreate(adAccountId: kotlin.String, promotionCreateRequest: kotlin.collections.List<PromotionCreateRequest>) : PromotionsResponse {
        val localVarResponse = promotionsCreateWithHttpInfo(adAccountId = adAccountId, promotionCreateRequest = promotionCreateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PromotionsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/promotions
     * Create promotions
     * Create multiple new promotions.
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionCreateRequest List of promotions to create, size limit [1, 30].
     * @return ApiResponse<PromotionsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun promotionsCreateWithHttpInfo(adAccountId: kotlin.String, promotionCreateRequest: kotlin.collections.List<PromotionCreateRequest>) : ApiResponse<PromotionsResponse?> {
        val localVariableConfig = promotionsCreateRequestConfig(adAccountId = adAccountId, promotionCreateRequest = promotionCreateRequest)

        return request<kotlin.collections.List<PromotionCreateRequest>, PromotionsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation promotionsCreate
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionCreateRequest List of promotions to create, size limit [1, 30].
     * @return RequestConfig
     */
    fun promotionsCreateRequestConfig(adAccountId: kotlin.String, promotionCreateRequest: kotlin.collections.List<PromotionCreateRequest>) : RequestConfig<kotlin.collections.List<PromotionCreateRequest>> {
        val localVariableBody = promotionCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/promotions".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /ad_accounts/{ad_account_id}/promotions/{promotion_id}
     * Delete promotion by id
     * Delete a promotion within Pinterest.
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionId Unique identifier of a promotion
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun promotionsDelete(adAccountId: kotlin.String, promotionId: kotlin.String) : Unit {
        val localVarResponse = promotionsDeleteWithHttpInfo(adAccountId = adAccountId, promotionId = promotionId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /ad_accounts/{ad_account_id}/promotions/{promotion_id}
     * Delete promotion by id
     * Delete a promotion within Pinterest.
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionId Unique identifier of a promotion
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun promotionsDeleteWithHttpInfo(adAccountId: kotlin.String, promotionId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = promotionsDeleteRequestConfig(adAccountId = adAccountId, promotionId = promotionId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation promotionsDelete
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionId Unique identifier of a promotion
     * @return RequestConfig
     */
    fun promotionsDeleteRequestConfig(adAccountId: kotlin.String, promotionId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/ad_accounts/{ad_account_id}/promotions/{promotion_id}".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())).replace("{"+"promotion_id"+"}", encodeURIComponent(promotionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/promotions/{promotion_id}
     * Get promotion by id
     * Get a promotion by its Pinterest-specific id. It must be associated with the provided ad account id.
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionId Unique identifier of a promotion
     * @return PromotionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun promotionsGet(adAccountId: kotlin.String, promotionId: kotlin.String) : PromotionResponse {
        val localVarResponse = promotionsGetWithHttpInfo(adAccountId = adAccountId, promotionId = promotionId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PromotionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/promotions/{promotion_id}
     * Get promotion by id
     * Get a promotion by its Pinterest-specific id. It must be associated with the provided ad account id.
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionId Unique identifier of a promotion
     * @return ApiResponse<PromotionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun promotionsGetWithHttpInfo(adAccountId: kotlin.String, promotionId: kotlin.String) : ApiResponse<PromotionResponse?> {
        val localVariableConfig = promotionsGetRequestConfig(adAccountId = adAccountId, promotionId = promotionId)

        return request<Unit, PromotionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation promotionsGet
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionId Unique identifier of a promotion
     * @return RequestConfig
     */
    fun promotionsGetRequestConfig(adAccountId: kotlin.String, promotionId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/promotions/{promotion_id}".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())).replace("{"+"promotion_id"+"}", encodeURIComponent(promotionId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter order
     */
     enum class OrderPromotionsList(val value: kotlin.String) {
         @Json(name = "ASCENDING") ASCENDING("ASCENDING"),
         @Json(name = "DESCENDING") DESCENDING("DESCENDING");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /ad_accounts/{ad_account_id}/promotions
     * Get promotions
     * Gets all promotions associated with an ad account ID that can be applied to an ad group. Can be either internally-saved promotions or external promotions imported from a commerce integration.
     * @param adAccountId Unique identifier of an ad account.
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @return PromotionsList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun promotionsList(adAccountId: kotlin.String, pageSize: kotlin.Int? = 25, order: OrderPromotionsList? = null, bookmark: kotlin.String? = null) : PromotionsList200Response {
        val localVarResponse = promotionsListWithHttpInfo(adAccountId = adAccountId, pageSize = pageSize, order = order, bookmark = bookmark)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PromotionsList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/promotions
     * Get promotions
     * Gets all promotions associated with an ad account ID that can be applied to an ad group. Can be either internally-saved promotions or external promotions imported from a commerce integration.
     * @param adAccountId Unique identifier of an ad account.
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @return ApiResponse<PromotionsList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun promotionsListWithHttpInfo(adAccountId: kotlin.String, pageSize: kotlin.Int?, order: OrderPromotionsList?, bookmark: kotlin.String?) : ApiResponse<PromotionsList200Response?> {
        val localVariableConfig = promotionsListRequestConfig(adAccountId = adAccountId, pageSize = pageSize, order = order, bookmark = bookmark)

        return request<Unit, PromotionsList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation promotionsList
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @return RequestConfig
     */
    fun promotionsListRequestConfig(adAccountId: kotlin.String, pageSize: kotlin.Int?, order: OrderPromotionsList?, bookmark: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (order != null) {
                    put("order", listOf(order.value))
                }
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/promotions".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /ad_accounts/{ad_account_id}/promotions
     * Update promotions
     * Update multiple promotions.
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionUpdateRequest List of promotions to create, size limit [1, 30].
     * @return PromotionsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun promotionsUpdate(adAccountId: kotlin.String, promotionUpdateRequest: kotlin.collections.List<PromotionUpdateRequest>) : PromotionsResponse {
        val localVarResponse = promotionsUpdateWithHttpInfo(adAccountId = adAccountId, promotionUpdateRequest = promotionUpdateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PromotionsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /ad_accounts/{ad_account_id}/promotions
     * Update promotions
     * Update multiple promotions.
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionUpdateRequest List of promotions to create, size limit [1, 30].
     * @return ApiResponse<PromotionsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun promotionsUpdateWithHttpInfo(adAccountId: kotlin.String, promotionUpdateRequest: kotlin.collections.List<PromotionUpdateRequest>) : ApiResponse<PromotionsResponse?> {
        val localVariableConfig = promotionsUpdateRequestConfig(adAccountId = adAccountId, promotionUpdateRequest = promotionUpdateRequest)

        return request<kotlin.collections.List<PromotionUpdateRequest>, PromotionsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation promotionsUpdate
     *
     * @param adAccountId Unique identifier of an ad account.
     * @param promotionUpdateRequest List of promotions to create, size limit [1, 30].
     * @return RequestConfig
     */
    fun promotionsUpdateRequestConfig(adAccountId: kotlin.String, promotionUpdateRequest: kotlin.collections.List<PromotionUpdateRequest>) : RequestConfig<kotlin.collections.List<PromotionUpdateRequest>> {
        val localVariableBody = promotionUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/ad_accounts/{ad_account_id}/promotions".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
