/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.PinterestLibError
import org.openapitools.client.models.PinterestLibPaginationOrder
import org.openapitools.client.models.Schedule
import org.openapitools.client.models.ScheduleBatchUpdate
import org.openapitools.client.models.ScheduleCreate
import org.openapitools.client.models.ScheduleStatus
import org.openapitools.client.models.ScheduleType
import org.openapitools.client.models.SchedulesCreate200ResponseInner
import org.openapitools.client.models.SchedulesList200Response

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class SchedulesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.pinterest.com/v5")
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/schedules
     * Create schedules
     * Batch create schedules
     * @param adAccountId 
     * @param scheduleCreate 
     * @return kotlin.collections.List<SchedulesCreate200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun schedulesCreate(adAccountId: kotlin.String, scheduleCreate: kotlin.collections.List<ScheduleCreate>) : kotlin.collections.List<SchedulesCreate200ResponseInner> {
        val localVarResponse = schedulesCreateWithHttpInfo(adAccountId = adAccountId, scheduleCreate = scheduleCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SchedulesCreate200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /ad_accounts/{ad_account_id}/schedules
     * Create schedules
     * Batch create schedules
     * @param adAccountId 
     * @param scheduleCreate 
     * @return ApiResponse<kotlin.collections.List<SchedulesCreate200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun schedulesCreateWithHttpInfo(adAccountId: kotlin.String, scheduleCreate: kotlin.collections.List<ScheduleCreate>) : ApiResponse<kotlin.collections.List<SchedulesCreate200ResponseInner>?> {
        val localVariableConfig = schedulesCreateRequestConfig(adAccountId = adAccountId, scheduleCreate = scheduleCreate)

        return request<kotlin.collections.List<ScheduleCreate>, kotlin.collections.List<SchedulesCreate200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation schedulesCreate
     *
     * @param adAccountId 
     * @param scheduleCreate 
     * @return RequestConfig
     */
    fun schedulesCreateRequestConfig(adAccountId: kotlin.String, scheduleCreate: kotlin.collections.List<ScheduleCreate>) : RequestConfig<kotlin.collections.List<ScheduleCreate>> {
        val localVariableBody = scheduleCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ad_accounts/{ad_account_id}/schedules".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /ad_accounts/{ad_account_id}/schedules
     * Get Schedules
     * Get schedules for a specific advertiser
     * @param adAccountId 
     * @param entityIds List of Entity IDs, must be associated with the Ad Accound ID provided in the path.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param scheduleStatuses Filter schedules by status (one or more) (optional)
     * @param scheduleType Filter schedules by a type (optional)
     * @return SchedulesList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun schedulesList(adAccountId: kotlin.String, entityIds: kotlin.collections.List<kotlin.String>, bookmark: kotlin.String? = null, pageSize: kotlin.Int? = 25, order: PinterestLibPaginationOrder? = null, scheduleStatuses: kotlin.collections.List<ScheduleStatus>? = null, scheduleType: ScheduleType? = null) : SchedulesList200Response {
        val localVarResponse = schedulesListWithHttpInfo(adAccountId = adAccountId, entityIds = entityIds, bookmark = bookmark, pageSize = pageSize, order = order, scheduleStatuses = scheduleStatuses, scheduleType = scheduleType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SchedulesList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ad_accounts/{ad_account_id}/schedules
     * Get Schedules
     * Get schedules for a specific advertiser
     * @param adAccountId 
     * @param entityIds List of Entity IDs, must be associated with the Ad Accound ID provided in the path.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param scheduleStatuses Filter schedules by status (one or more) (optional)
     * @param scheduleType Filter schedules by a type (optional)
     * @return ApiResponse<SchedulesList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun schedulesListWithHttpInfo(adAccountId: kotlin.String, entityIds: kotlin.collections.List<kotlin.String>, bookmark: kotlin.String?, pageSize: kotlin.Int?, order: PinterestLibPaginationOrder?, scheduleStatuses: kotlin.collections.List<ScheduleStatus>?, scheduleType: ScheduleType?) : ApiResponse<SchedulesList200Response?> {
        val localVariableConfig = schedulesListRequestConfig(adAccountId = adAccountId, entityIds = entityIds, bookmark = bookmark, pageSize = pageSize, order = order, scheduleStatuses = scheduleStatuses, scheduleType = scheduleType)

        return request<Unit, SchedulesList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation schedulesList
     *
     * @param adAccountId 
     * @param entityIds List of Entity IDs, must be associated with the Ad Accound ID provided in the path.
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param scheduleStatuses Filter schedules by status (one or more) (optional)
     * @param scheduleType Filter schedules by a type (optional)
     * @return RequestConfig
     */
    fun schedulesListRequestConfig(adAccountId: kotlin.String, entityIds: kotlin.collections.List<kotlin.String>, bookmark: kotlin.String?, pageSize: kotlin.Int?, order: PinterestLibPaginationOrder?, scheduleStatuses: kotlin.collections.List<ScheduleStatus>?, scheduleType: ScheduleType?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (bookmark != null) {
                    put("bookmark", listOf(bookmark.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (order != null) {
                    put("order", listOf(order.toString()))
                }
                if (scheduleStatuses != null) {
                    put("schedule_statuses", toMultiValue(scheduleStatuses.toList(), "multi"))
                }
                if (scheduleType != null) {
                    put("schedule_type", listOf(scheduleType.toString()))
                }
                put("entity_ids", toMultiValue(entityIds.toList(), "multi"))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ad_accounts/{ad_account_id}/schedules".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /ad_accounts/{ad_account_id}/schedules
     * Update schedules
     * Update one or more schedules
     * @param adAccountId 
     * @param scheduleBatchUpdate 
     * @return kotlin.collections.List<SchedulesCreate200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun schedulesUpdate(adAccountId: kotlin.String, scheduleBatchUpdate: kotlin.collections.List<ScheduleBatchUpdate>) : kotlin.collections.List<SchedulesCreate200ResponseInner> {
        val localVarResponse = schedulesUpdateWithHttpInfo(adAccountId = adAccountId, scheduleBatchUpdate = scheduleBatchUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SchedulesCreate200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /ad_accounts/{ad_account_id}/schedules
     * Update schedules
     * Update one or more schedules
     * @param adAccountId 
     * @param scheduleBatchUpdate 
     * @return ApiResponse<kotlin.collections.List<SchedulesCreate200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun schedulesUpdateWithHttpInfo(adAccountId: kotlin.String, scheduleBatchUpdate: kotlin.collections.List<ScheduleBatchUpdate>) : ApiResponse<kotlin.collections.List<SchedulesCreate200ResponseInner>?> {
        val localVariableConfig = schedulesUpdateRequestConfig(adAccountId = adAccountId, scheduleBatchUpdate = scheduleBatchUpdate)

        return request<kotlin.collections.List<ScheduleBatchUpdate>, kotlin.collections.List<SchedulesCreate200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation schedulesUpdate
     *
     * @param adAccountId 
     * @param scheduleBatchUpdate 
     * @return RequestConfig
     */
    fun schedulesUpdateRequestConfig(adAccountId: kotlin.String, scheduleBatchUpdate: kotlin.collections.List<ScheduleBatchUpdate>) : RequestConfig<kotlin.collections.List<ScheduleBatchUpdate>> {
        val localVariableBody = scheduleBatchUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/ad_accounts/{ad_account_id}/schedules".replace("{"+"ad_account_id"+"}", encodeURIComponent(adAccountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
