/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.AgeTrendsBucket
import org.openapitools.client.models.FeaturedTrend
import org.openapitools.client.models.GenderBucket
import org.openapitools.client.models.InterestsEnum
import org.openapitools.client.models.PinterestLibError
import org.openapitools.client.models.ProductCategoriesEngagementType
import org.openapitools.client.models.ProductCategoryDetailLookbackWindow
import org.openapitools.client.models.ProductCategoryDetails
import org.openapitools.client.models.ProductCategoryEnum
import org.openapitools.client.models.ProductCategoryRegion
import org.openapitools.client.models.TrendingProductCategory
import org.openapitools.client.models.TrendsEditorial
import org.openapitools.client.models.VerticalProductCategory

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class TrendsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.pinterest.com/v5")
        }
    }

    /**
     * GET /trends/editorial_articles
     * Returns editorial articles for a given region
     *   Get a list of published editorial articles. Translations of the editorials will be provided if available; otherwise, the default language will be English.
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @return kotlin.collections.List<TrendsEditorial>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun trendsEditorialArticlesList(region: ProductCategoryRegion) : kotlin.collections.List<TrendsEditorial> {
        val localVarResponse = trendsEditorialArticlesListWithHttpInfo(region = region)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<TrendsEditorial>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /trends/editorial_articles
     * Returns editorial articles for a given region
     *   Get a list of published editorial articles. Translations of the editorials will be provided if available; otherwise, the default language will be English.
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @return ApiResponse<kotlin.collections.List<TrendsEditorial>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun trendsEditorialArticlesListWithHttpInfo(region: ProductCategoryRegion) : ApiResponse<kotlin.collections.List<TrendsEditorial>?> {
        val localVariableConfig = trendsEditorialArticlesListRequestConfig(region = region)

        return request<Unit, kotlin.collections.List<TrendsEditorial>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation trendsEditorialArticlesList
     *
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @return RequestConfig
     */
    fun trendsEditorialArticlesListRequestConfig(region: ProductCategoryRegion) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("region", listOf(region.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/trends/editorial_articles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /trends/topics/featured
     * Get featured topics
     *   Enables advertisers to pull top five trending topics by interest and market, at full parity with the Pinterest Trends UI.
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @param interest Interest to filter by (optional)
     * @return kotlin.collections.List<FeaturedTrend>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun trendsFeaturedTopicsList(region: ProductCategoryRegion, interest: InterestsEnum? = null) : kotlin.collections.List<FeaturedTrend> {
        val localVarResponse = trendsFeaturedTopicsListWithHttpInfo(region = region, interest = interest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<FeaturedTrend>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /trends/topics/featured
     * Get featured topics
     *   Enables advertisers to pull top five trending topics by interest and market, at full parity with the Pinterest Trends UI.
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @param interest Interest to filter by (optional)
     * @return ApiResponse<kotlin.collections.List<FeaturedTrend>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun trendsFeaturedTopicsListWithHttpInfo(region: ProductCategoryRegion, interest: InterestsEnum?) : ApiResponse<kotlin.collections.List<FeaturedTrend>?> {
        val localVariableConfig = trendsFeaturedTopicsListRequestConfig(region = region, interest = interest)

        return request<Unit, kotlin.collections.List<FeaturedTrend>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation trendsFeaturedTopicsList
     *
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @param interest Interest to filter by (optional)
     * @return RequestConfig
     */
    fun trendsFeaturedTopicsListRequestConfig(region: ProductCategoryRegion, interest: InterestsEnum?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (interest != null) {
                    put("interest", listOf(interest.toString()))
                }
                put("region", listOf(region.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/trends/topics/featured",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /trends/product_categories/details
     * Get product category details
     *   Enables advertisers to retrieve demographic information, related pins, and trend lines for specified product categories
     * @param productCategories List of product categories
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @param lookbackWindow   Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - &#x60;90&#x60; - Last 90 days (3 months)   - &#x60;180&#x60; - Last 180 days (6 months)   - &#x60;365&#x60; - Last 365 days (1 year)   - &#x60;730&#x60; - Last 730 days (2 years) (optional)
     * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     * @return kotlin.collections.List<ProductCategoryDetails>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun trendsProductCategoriesDetailsList(productCategories: kotlin.collections.List<ProductCategoryEnum>, region: ProductCategoryRegion, lookbackWindow: ProductCategoryDetailLookbackWindow? = null, engagementType: ProductCategoriesEngagementType? = null) : kotlin.collections.List<ProductCategoryDetails> {
        val localVarResponse = trendsProductCategoriesDetailsListWithHttpInfo(productCategories = productCategories, region = region, lookbackWindow = lookbackWindow, engagementType = engagementType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ProductCategoryDetails>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /trends/product_categories/details
     * Get product category details
     *   Enables advertisers to retrieve demographic information, related pins, and trend lines for specified product categories
     * @param productCategories List of product categories
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @param lookbackWindow   Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - &#x60;90&#x60; - Last 90 days (3 months)   - &#x60;180&#x60; - Last 180 days (6 months)   - &#x60;365&#x60; - Last 365 days (1 year)   - &#x60;730&#x60; - Last 730 days (2 years) (optional)
     * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     * @return ApiResponse<kotlin.collections.List<ProductCategoryDetails>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun trendsProductCategoriesDetailsListWithHttpInfo(productCategories: kotlin.collections.List<ProductCategoryEnum>, region: ProductCategoryRegion, lookbackWindow: ProductCategoryDetailLookbackWindow?, engagementType: ProductCategoriesEngagementType?) : ApiResponse<kotlin.collections.List<ProductCategoryDetails>?> {
        val localVariableConfig = trendsProductCategoriesDetailsListRequestConfig(productCategories = productCategories, region = region, lookbackWindow = lookbackWindow, engagementType = engagementType)

        return request<Unit, kotlin.collections.List<ProductCategoryDetails>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation trendsProductCategoriesDetailsList
     *
     * @param productCategories List of product categories
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @param lookbackWindow   Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - &#x60;90&#x60; - Last 90 days (3 months)   - &#x60;180&#x60; - Last 180 days (6 months)   - &#x60;365&#x60; - Last 365 days (1 year)   - &#x60;730&#x60; - Last 730 days (2 years) (optional)
     * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     * @return RequestConfig
     */
    fun trendsProductCategoriesDetailsListRequestConfig(productCategories: kotlin.collections.List<ProductCategoryEnum>, region: ProductCategoryRegion, lookbackWindow: ProductCategoryDetailLookbackWindow?, engagementType: ProductCategoriesEngagementType?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("product_categories", toMultiValue(productCategories.toList(), "multi"))
                put("region", listOf(region.toString()))
                if (lookbackWindow != null) {
                    put("lookback_window", listOf(lookbackWindow.toString()))
                }
                if (engagementType != null) {
                    put("engagement_type", listOf(engagementType.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/trends/product_categories/details",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /trends/product_categories/trending
     * Get a list of growing Shopping Product Categories
     *   Get a list of growing Shopping Product Categories in ranked order allowing filtering by engagement type, vertical, age, and gender.
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @param verticals List of verticals to filter by (optional)
     * @param ages Age to filter by. If not provided, the results will be filtered by all ages. (optional)
     * @param genders Gender to filter by, If not provided, the results will be filtered by all genders. (optional)
     * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     * @return kotlin.collections.List<TrendingProductCategory>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun trendsProductCategoriesTrendingList(region: ProductCategoryRegion, verticals: kotlin.collections.List<VerticalProductCategory>? = null, ages: kotlin.collections.List<AgeTrendsBucket>? = null, genders: kotlin.collections.List<GenderBucket>? = null, engagementType: ProductCategoriesEngagementType? = null) : kotlin.collections.List<TrendingProductCategory> {
        val localVarResponse = trendsProductCategoriesTrendingListWithHttpInfo(region = region, verticals = verticals, ages = ages, genders = genders, engagementType = engagementType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<TrendingProductCategory>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /trends/product_categories/trending
     * Get a list of growing Shopping Product Categories
     *   Get a list of growing Shopping Product Categories in ranked order allowing filtering by engagement type, vertical, age, and gender.
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @param verticals List of verticals to filter by (optional)
     * @param ages Age to filter by. If not provided, the results will be filtered by all ages. (optional)
     * @param genders Gender to filter by, If not provided, the results will be filtered by all genders. (optional)
     * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     * @return ApiResponse<kotlin.collections.List<TrendingProductCategory>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun trendsProductCategoriesTrendingListWithHttpInfo(region: ProductCategoryRegion, verticals: kotlin.collections.List<VerticalProductCategory>?, ages: kotlin.collections.List<AgeTrendsBucket>?, genders: kotlin.collections.List<GenderBucket>?, engagementType: ProductCategoriesEngagementType?) : ApiResponse<kotlin.collections.List<TrendingProductCategory>?> {
        val localVariableConfig = trendsProductCategoriesTrendingListRequestConfig(region = region, verticals = verticals, ages = ages, genders = genders, engagementType = engagementType)

        return request<Unit, kotlin.collections.List<TrendingProductCategory>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation trendsProductCategoriesTrendingList
     *
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
     * @param verticals List of verticals to filter by (optional)
     * @param ages Age to filter by. If not provided, the results will be filtered by all ages. (optional)
     * @param genders Gender to filter by, If not provided, the results will be filtered by all genders. (optional)
     * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     * @return RequestConfig
     */
    fun trendsProductCategoriesTrendingListRequestConfig(region: ProductCategoryRegion, verticals: kotlin.collections.List<VerticalProductCategory>?, ages: kotlin.collections.List<AgeTrendsBucket>?, genders: kotlin.collections.List<GenderBucket>?, engagementType: ProductCategoriesEngagementType?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("region", listOf(region.toString()))
                if (verticals != null) {
                    put("verticals", toMultiValue(verticals.toList(), "multi"))
                }
                if (ages != null) {
                    put("ages", toMultiValue(ages.toList(), "multi"))
                }
                if (genders != null) {
                    put("genders", toMultiValue(genders.toList(), "multi"))
                }
                if (engagementType != null) {
                    put("engagement_type", listOf(engagementType.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/trends/product_categories/trending",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
