/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AdGroup;
import org.openapitools.model.AdGroupAudienceSizing;
import org.openapitools.model.AdGroupAudienceSizingCreate;
import org.openapitools.model.AdGroupCreateCreate;
import org.openapitools.model.AdGroupUpdateBatchUpdate;
import org.openapitools.model.AdGroupsAnalyticsMetrics;
import org.openapitools.model.AdGroupsCreate200Response;
import org.openapitools.model.AdGroupsList200Response;
import org.openapitools.model.AdsAnalyticsAdGroupTargetingType;
import org.openapitools.model.BidFloor;
import org.openapitools.model.BidFloorCreate;
import java.math.BigDecimal;
import org.openapitools.model.ConversionReportAttributionType;
import org.openapitools.model.DynamicTitlesDownloadCSV;
import org.openapitools.model.DynamicTitlesGetStatus;
import org.openapitools.model.DynamicTitlesProcessCSV;
import org.openapitools.model.DynamicTitlesProcessCSVCreate;
import org.openapitools.model.DynamicTitlesUploadURL;
import org.openapitools.model.EntityStatus;
import org.openapitools.model.Granularity;
import java.time.LocalDate;
import org.openapitools.model.MetricsResponse;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PinterestLibPaginationOrder;
import org.openapitools.model.ReportingColumnSync;
import org.openapitools.model.ReportingTimeZone;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface AdGroupsApi {
    /**
     * Get ad group analytics
     * Get analytics for the specified ad groups in the specified &#x60;ad_account_id&#x60;, filtered by the specified options.  - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     *
     * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional, default to 30)
     * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional, default to 30)
     * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional, default to 1)
     * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional, default to TIME_OF_AD_ACTION)
     * @param aggregateReportRows Determines if report rows should be aggregated across all requested entities. This feature is currently in BETA and is not available to all users. (optional, default to false)
     * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     * @return List&lt;AdGroupsAnalyticsMetrics&gt;
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ad_groups/analytics")
    @Consumes({"application/json"})
    Mono<List<AdGroupsAnalyticsMetrics>> adGroupsAnalytics(
        @QueryValue(value="start_date") @NotNull @Format("yyyy-MM-dd") LocalDate startDate, 
        @QueryValue(value="end_date") @NotNull @Format("yyyy-MM-dd") LocalDate endDate, 
        @QueryValue(value="ad_group_ids") @NotNull @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")@Size(max = 18)String> adGroupIds, 
        @QueryValue(value="columns") @NotNull List<ReportingColumnSync> columns, 
        @QueryValue(value="granularity") @NotNull Granularity granularity, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="click_window_days", defaultValue="30") @Nullable BigDecimal clickWindowDays, 
        @QueryValue(value="engagement_window_days", defaultValue="30") @Nullable BigDecimal engagementWindowDays, 
        @QueryValue(value="view_window_days", defaultValue="1") @Nullable BigDecimal viewWindowDays, 
        @QueryValue(value="conversion_report_time", defaultValue="TIME_OF_AD_ACTION") @Nullable String conversionReportTime, 
        @QueryValue(value="aggregate_report_rows", defaultValue="false") @Nullable Boolean aggregateReportRows, 
        @QueryValue(value="reporting_timezone") @Nullable ReportingTimeZone reportingTimezone
    );

    /**
     * Get audience sizing
     * Get potential audience size for an ad group with given targeting criteria. Potential audience size estimates the number of people you may be able to reach per month with your campaign. It is based on historical advertising data and the targeting criteria you select. It does not guarantee results or take into account factors such as bid, budget, schedule, seasonality or product experiments.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adGroupAudienceSizingCreate  (required)
     * @return AdGroupAudienceSizing
     */
    @Post(uri="/ad_accounts/{ad_account_id}/ad_groups/audience_sizing")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdGroupAudienceSizing> adGroupsAudienceSizing(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AdGroupAudienceSizingCreate adGroupAudienceSizingCreate
    );

    /**
     * Get bid floors
     * List bid floors for your campaign configuration. Bid floors are given in microcurrency values based on the currency in the bid floor specification.  Microcurrency is used to track very small transactions, based on the currency set in the advertiser&#39;s profile.  A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser&#39;s profile.  **Equivalency equations**, using dollars as an example currency:  * $1 &#x3D; 1,000,000 microdollars * 1 microdollar &#x3D; $0.000001  **To convert between currency and microcurrency**, using dollars as an example currency:  * To convert dollars to microdollars, mutiply dollars by 1,000,000 * To convert microdollars to dollars, divide microdollars by 1,000,000  For more on bid floors see [Set your bid](https://help.pinterest.com/en/business/article/set-your-bid).
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bidFloorCreate  (required)
     * @return BidFloor
     */
    @Post(uri="/ad_accounts/{ad_account_id}/bid_floor")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<BidFloor> adGroupsBidFloorGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid BidFloorCreate bidFloorCreate
    );

    /**
     * Create ad groups
     * Create multiple new ad groups. All ads in a given ad group will have the same budget, bid, run dates, targeting, and placement (search, browse, other).  For more information, [click here](https://help.pinterest.com/en/business/article/campaign-structure).  **Notes:** - &#x60;bid_in_micro_currency&#x60; and &#x60;budget_in_micro_currency&#x60; should be expressed in microcurrency amounts based on the currency field set in the advertiser&#39;s profile.  Microcurrency is used to track very small transactions, based on the currency set in the advertiser&#39;s profile. A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser&#39;s profile.  **Equivalency equations**, using dollars as an example currency: - $1 &#x3D; 1,000,000 microdollars - 1 microdollar &#x3D; $0.000001  **To convert between currency and microcurrency**, using dollars as an example currency: - To convert dollars to microdollars, multiply dollars by 1,000,000 - To convert microdollars to dollars, divide microdollars by 1,000,000  - Ad groups belong to ad campaigns. Some types of campaigns (e.g. budget optimization) have limits on the number of ad groups they can hold. If you exceed those limits, you will get an error message. - Certain organizations with [closed beta](/docs/getting-started/using-beta-and-restricted-features/) access can set &#x60;start_time&#x60; and &#x60;end_time&#x60; at the ad group level for campaigns with Campaign Budget Optimization (CBO) objectives: &#x60;TRAFFIC&#x60;, &#x60;AWARENESS&#x60;, &#x60;WEB_CONVERSIONS&#x60;, and &#x60;CATALOG_SALES&#x60;. All other organizations can set these scheduling parameters for non-CBO campaigns only. - If the parent ad campaign has start and end times set, ad group start and end times must occur within the parent campaign schedule.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adGroupCreateCreate  (required)
     * @return AdGroupsCreate200Response
     */
    @Post(uri="/ad_accounts/{ad_account_id}/ad_groups")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdGroupsCreate200Response> adGroupsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Size(min=1, max=30) List<@Valid AdGroupCreateCreate> adGroupCreateCreate
    );

    /**
     * Get dynamic titles CSV download URL
     * Get a presigned S3 download URL for the dynamic titles review CSV. Returns 400 if titles have not been generated yet.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adGroupId Ad group ID. (required)
     * @return DynamicTitlesDownloadCSV
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/csv")
    @Consumes({"application/json"})
    Mono<DynamicTitlesDownloadCSV> adGroupsDynamicTitlesDownloadCsv(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="ad_group_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adGroupId
    );

    /**
     * Get dynamic titles status
     * Get dynamic titles generation status for an ad group, including whether titles are ready for review and counts of generated and reviewed titles.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adGroupId Ad group ID. (required)
     * @return DynamicTitlesGetStatus
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/status")
    @Consumes({"application/json"})
    Mono<DynamicTitlesGetStatus> adGroupsDynamicTitlesGetStatus(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="ad_group_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adGroupId
    );

    /**
     * Get dynamic titles upload URL
     * Get a presigned S3 upload URL for the dynamic titles review CSV and a request_id for submission.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adGroupId Ad group ID. (required)
     * @return DynamicTitlesUploadURL
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/uploads")
    @Consumes({"application/json"})
    Mono<DynamicTitlesUploadURL> adGroupsDynamicTitlesGetUploadUrl(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="ad_group_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adGroupId
    );

    /**
     * Process dynamic titles CSV
     * Validate and process the uploaded dynamic titles review CSV. Returns validation errors if the CSV is invalid.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adGroupId Ad group ID. (required)
     * @param dynamicTitlesProcessCSVCreate  (required)
     * @return DynamicTitlesProcessCSV
     */
    @Post(uri="/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<DynamicTitlesProcessCSV> adGroupsDynamicTitlesProcessCsv(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="ad_group_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adGroupId, 
        @Body @NotNull @Valid DynamicTitlesProcessCSVCreate dynamicTitlesProcessCSVCreate
    );

    /**
     * Get ad group
     * Get a specific ad group given the ad group ID.
     *
     * @param adGroupId Ad group ID. (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return AdGroup
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}")
    @Consumes({"application/json"})
    Mono<AdGroup> adGroupsGet(
        @PathVariable(name="ad_group_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adGroupId, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * List ad groups
     * List ad groups based on provided campaign IDs or ad group IDs.(campaign_ids or ad_group_ids). **Note:** Provide only campaign_id or ad_group_id. Do not provide both.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users. (optional)
     * @param entityStatuses Entity status (optional, default to ACTIVE,PAUSED)
     * @param translateInterestsToNames Return interests as text names (if value is true) rather than topic IDs. (optional, default to false)
     * @return AdGroupsList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ad_groups")
    @Consumes({"application/json"})
    Mono<AdGroupsList200Response> adGroupsList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order, 
        @QueryValue(value="campaign_ids") @Nullable @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")@Size(max = 18)String> campaignIds, 
        @QueryValue(value="ad_group_ids") @Nullable @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")String> adGroupIds, 
        @QueryValue(value="entity_statuses", defaultValue="ACTIVE,PAUSED") @Nullable List<EntityStatus> entityStatuses, 
        @QueryValue(value="translate_interests_to_names", defaultValue="false") @Nullable Boolean translateInterestsToNames
    );

    /**
     * Get targeting analytics for ad groups
     * Get targeting analytics for one or more ad groups. For the requested ad group(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \&quot;age_bucket\&quot;) for applicable values (e.g. \&quot;45-49\&quot;).  - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;, \&quot;CREATIVE_ENHANCEMENTS\&quot;] are in BETA and not yet available to all users. (required)
     * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional, default to 30)
     * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional, default to 30)
     * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional, default to 1)
     * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional, default to TIME_OF_AD_ACTION)
     * @param attributionTypes List of types of attribution for the conversion report (optional)
     * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     * @param sortColumns Sort Columns. (optional)
     * @param sortAscending Sort ascending. (optional)
     * @return MetricsResponse
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ad_groups/targeting_analytics")
    @Consumes({"application/json"})
    Mono<MetricsResponse> adGroupsTargetingAnalyticsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="ad_group_ids") @NotNull @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")@Size(max = 18)String> adGroupIds, 
        @QueryValue(value="start_date") @NotNull @Format("yyyy-MM-dd") LocalDate startDate, 
        @QueryValue(value="end_date") @NotNull @Format("yyyy-MM-dd") LocalDate endDate, 
        @QueryValue(value="targeting_types") @NotNull @Size(min=1, max=14) List<AdsAnalyticsAdGroupTargetingType> targetingTypes, 
        @QueryValue(value="columns") @NotNull List<ReportingColumnSync> columns, 
        @QueryValue(value="granularity") @NotNull Granularity granularity, 
        @QueryValue(value="click_window_days", defaultValue="30") @Nullable BigDecimal clickWindowDays, 
        @QueryValue(value="engagement_window_days", defaultValue="30") @Nullable BigDecimal engagementWindowDays, 
        @QueryValue(value="view_window_days", defaultValue="1") @Nullable BigDecimal viewWindowDays, 
        @QueryValue(value="conversion_report_time", defaultValue="TIME_OF_AD_ACTION") @Nullable String conversionReportTime, 
        @QueryValue(value="attribution_types") @Nullable @Size(max=2) List<ConversionReportAttributionType> attributionTypes, 
        @QueryValue(value="reporting_timezone") @Nullable ReportingTimeZone reportingTimezone, 
        @QueryValue(value="sort_columns") @Nullable @Size(min=1, max=2) List<String> sortColumns, 
        @QueryValue(value="sort_ascending") @Nullable Boolean sortAscending
    );

    /**
     * Update ad groups
     * Update multiple existing ad groups.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adGroupUpdateBatchUpdate  (required)
     * @return AdGroupsCreate200Response
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/ad_groups")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdGroupsCreate200Response> adGroupsUpdate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Size(min=1, max=30) List<@Valid AdGroupUpdateBatchUpdate> adGroupUpdateBatchUpdate
    );

    /**
     * List of ad groups using promotions IDs.
     *   Get a list of ad groups that are associated with those promotion ids
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param promotionIds List of Promotion IDs to use to filter the results. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @return AdGroupsList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/promotion_applied_entities")
    @Consumes({"application/json"})
    Mono<AdGroupsList200Response> getAdGroupsByPromotionIdsList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="promotion_ids") @NotNull @Size(min=1, max=50) List<String> promotionIds, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order
    );

}
