/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.Ad;
import org.openapitools.model.AdBatchUpdate;
import org.openapitools.model.AdBatchWriteResponseModel;
import org.openapitools.model.AdCreate;
import org.openapitools.model.AdPreviewRequest;
import org.openapitools.model.AdPreviewURLResponse;
import org.openapitools.model.AdsAnalytics;
import org.openapitools.model.AdsAnalyticsAdTargetingType;
import org.openapitools.model.AdsList200Response;
import java.math.BigDecimal;
import org.openapitools.model.CampaignAdPreview;
import org.openapitools.model.CampaignAdPreviewCreate;
import org.openapitools.model.CampaignAdPreviewCreate200ResponseInner;
import org.openapitools.model.CampaignAdPreviewDelete200ResponseInner;
import org.openapitools.model.ConversionAttributionWindowDays;
import org.openapitools.model.ConversionReportAttributionType;
import org.openapitools.model.ConversionReportTimeType;
import org.openapitools.model.EntityStatus;
import org.openapitools.model.Granularity;
import java.time.LocalDate;
import org.openapitools.model.MetricsResponse;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PinterestLibPaginationOrder;
import org.openapitools.model.ReportingColumnSync;
import org.openapitools.model.ReportingTimeZone;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface AdsApi {
    /**
     * Create ad preview with pin or image
     * Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad.  If you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See [Ads Overview](https://help.pinterest.com/en/business/article/promoted-pins-overview).)  You can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires. Collection ads are not currently supported ad preview.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adPreviewRequest  (required)
     * @return AdPreviewURLResponse
     */
    @Post(uri="/ad_accounts/{ad_account_id}/ad_previews")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdPreviewURLResponse> adPreviewsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AdPreviewRequest adPreviewRequest
    );

    /**
     * Get targeting analytics for ads
     * Get targeting analytics for one or more ads. For the requested ad(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \&quot;age_bucket\&quot;) for applicable values (e.g. \&quot;45-49\&quot;).  * The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. * If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. * If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adIds List of Ad Ids to use to filter the results. (required)
     * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users. (required)
     * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.  **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param attributionTypes List of types of attribution for the conversion report (optional)
     * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     * @param sortColumns Sort Columns. (optional)
     * @param sortAscending Sort ascending. (optional)
     * @return MetricsResponse
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ads/targeting_analytics")
    @Consumes({"application/json"})
    Mono<MetricsResponse> adTargetingAnalyticsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="ad_ids") @NotNull @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")String> adIds, 
        @QueryValue(value="start_date") @NotNull @Format("yyyy-MM-dd") LocalDate startDate, 
        @QueryValue(value="end_date") @NotNull @Format("yyyy-MM-dd") LocalDate endDate, 
        @QueryValue(value="targeting_types") @NotNull @Size(min=1, max=14) List<AdsAnalyticsAdTargetingType> targetingTypes, 
        @QueryValue(value="columns") @NotNull List<ReportingColumnSync> columns, 
        @QueryValue(value="granularity") @NotNull Granularity granularity, 
        @QueryValue(value="click_window_days") @Nullable ConversionAttributionWindowDays clickWindowDays, 
        @QueryValue(value="engagement_window_days") @Nullable ConversionAttributionWindowDays engagementWindowDays, 
        @QueryValue(value="view_window_days") @Nullable ConversionAttributionWindowDays viewWindowDays, 
        @QueryValue(value="conversion_report_time") @Nullable ConversionReportTimeType conversionReportTime, 
        @QueryValue(value="attribution_types") @Nullable @Size(max=2) List<ConversionReportAttributionType> attributionTypes, 
        @QueryValue(value="reporting_timezone") @Nullable ReportingTimeZone reportingTimezone, 
        @QueryValue(value="sort_columns") @Nullable @Size(min=1, max=2) List<String> sortColumns, 
        @QueryValue(value="sort_ascending") @Nullable Boolean sortAscending
    );

    /**
     * Get ad analytics
     *     Get analytics for the specified ads in the specified &#x60;ad_account_id&#x60;, filtered by the specified options.     - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.     - The request must contain either ad_ids or both campaign_ids and pin_ids.     - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.     - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     *
     * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param pinIds List of Pin IDs. (optional)
     * @param adIds List of Ad Ids to use to filter the results. (optional)
     * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional, default to 30)
     * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional, default to 30)
     * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional, default to 1)
     * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional, default to TIME_OF_AD_ACTION)
     * @param campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     * @return List&lt;AdsAnalytics&gt;
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ads/analytics")
    @Consumes({"application/json"})
    Mono<List<AdsAnalytics>> adsAnalytics(
        @QueryValue(value="start_date") @NotNull @Format("yyyy-MM-dd") LocalDate startDate, 
        @QueryValue(value="end_date") @NotNull @Format("yyyy-MM-dd") LocalDate endDate, 
        @QueryValue(value="columns") @NotNull List<ReportingColumnSync> columns, 
        @QueryValue(value="granularity") @NotNull Granularity granularity, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="pin_ids") @Nullable @Size(min=1, max=100) List<String> pinIds, 
        @QueryValue(value="ad_ids") @Nullable @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")String> adIds, 
        @QueryValue(value="click_window_days", defaultValue="30") @Nullable BigDecimal clickWindowDays, 
        @QueryValue(value="engagement_window_days", defaultValue="30") @Nullable BigDecimal engagementWindowDays, 
        @QueryValue(value="view_window_days", defaultValue="1") @Nullable BigDecimal viewWindowDays, 
        @QueryValue(value="conversion_report_time", defaultValue="TIME_OF_AD_ACTION") @Nullable String conversionReportTime, 
        @QueryValue(value="campaign_ids") @Nullable @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")@Size(max = 18)String> campaignIds, 
        @QueryValue(value="reporting_timezone") @Nullable ReportingTimeZone reportingTimezone
    );

    /**
     * Create ads
     * Create multiple new ads. Request must contain ad_group_id, creative_type, and the source Pin pin_id.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adCreate  (required)
     * @return AdBatchWriteResponseModel
     */
    @Post(uri="/ad_accounts/{ad_account_id}/ads")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdBatchWriteResponseModel> adsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Size(min=1, max=30) List<@Valid AdCreate> adCreate
    );

    /**
     * Get ad
     * Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will contain additional information from the Ad Review process. For more information about our policies and rejection reasons see the [Pinterest advertising standards](https://www.pinterest.com/_/_/policy/advertising-guidelines/).
     *
     * @param adId The ID of this ad. (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return Ad
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ads/{ad_id}")
    @Consumes({"application/json"})
    Mono<Ad> adsGet(
        @PathVariable(name="ad_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adId, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * List ads
     * List ads that meet the filters provided:     - Listed campaign ids or ad group ids or ad ids     - Listed entity statuses  If no filter is provided, all ads in the ad account are returned.  **Note:** Provide only &#x60;campaign_id&#x60; or &#x60;ad_group_id&#x60; or &#x60;ad_id&#x60;. Do not provide more than one type.  Review status is provided for each ad; if &#x60;review_status&#x60; is &#x60;REJECTED&#x60;, the &#x60;rejected_reasons&#x60; field will contain additional information.  For more, see [Pinterest advertising standards](https://policy.pinterest.com/en/advertising-guidelines).
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users. (optional)
     * @param adIds List of Ad Ids to use to filter the results. (optional)
     * @param entityStatuses Entity status (optional, default to ACTIVE,PAUSED)
     * @return AdsList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ads")
    @Consumes({"application/json"})
    Mono<AdsList200Response> adsList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order, 
        @QueryValue(value="campaign_ids") @Nullable @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")@Size(max = 18)String> campaignIds, 
        @QueryValue(value="ad_group_ids") @Nullable @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")String> adGroupIds, 
        @QueryValue(value="ad_ids") @Nullable @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")String> adIds, 
        @QueryValue(value="entity_statuses", defaultValue="ACTIVE,PAUSED") @Nullable List<EntityStatus> entityStatuses
    );

    /**
     * Update ads
     * Update multiple existing ads
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adBatchUpdate  (required)
     * @return AdBatchWriteResponseModel
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/ads")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdBatchWriteResponseModel> adsUpdate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Size(min=1, max=30) List<@Valid AdBatchUpdate> adBatchUpdate
    );

    /**
     * Create ad preview records for one or more ad groups
     * Create ad preview records for one or more ad groups that can be shared. Each ad group is processed independently; individual failures do not block other previews.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param campaignAdPreviewCreate  (required)
     * @return List&lt;CampaignAdPreviewCreate200ResponseInner&gt;
     */
    @Post(uri="/ad_accounts/{ad_account_id}/campaign_ad_preview")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<List<CampaignAdPreviewCreate200ResponseInner>> campaignAdPreviewCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull List<@Valid CampaignAdPreviewCreate> campaignAdPreviewCreate
    );

    /**
     * Delete ad preview records for one or more ad groups
     * Delete ad preview records for one or more ad groups. All ad groups are validated before deleting any records.
     *
     * @param adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return List&lt;CampaignAdPreviewDelete200ResponseInner&gt;
     */
    @Delete(uri="/ad_accounts/{ad_account_id}/campaign_ad_preview")
    @Consumes({"application/json"})
    Mono<List<CampaignAdPreviewDelete200ResponseInner>> campaignAdPreviewDelete(
        @QueryValue(value="ad_group_ids") @NotNull @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")@Size(max = 18)String> adGroupIds, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Fetch ad preview records for one or more ad groups
     * Fetch ad preview records for one or more ad groups. Returns all active previews associated with the provided ad group IDs.
     *
     * @param adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return List&lt;CampaignAdPreview&gt;
     */
    @Get(uri="/ad_accounts/{ad_account_id}/campaign_ad_preview")
    @Consumes({"application/json"})
    Mono<List<CampaignAdPreview>> campaignAdPreviewRead(
        @QueryValue(value="ad_group_ids") @NotNull @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")@Size(max = 18)String> adGroupIds, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

}
