/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.Audience;
import org.openapitools.model.AudienceCreateCustomRequest;
import org.openapitools.model.AudienceCreateRequest;
import org.openapitools.model.AudienceUpdateRequest;
import org.openapitools.model.AudiencesList200Response;
import org.openapitools.model.Error;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2024-11-05T02:02:57.601423453Z[Etc/UTC]", comments = "Generator version: 7.9.0")
@Client("${openapi-micronaut-client-base-path}")
public interface AudiencesApi {
    /**
     * Create audience
     * Create an audience you can use in targeting for specific ad groups. Targeting combines customer information with the ways users interact with Pinterest to help you reach specific groups of users; you can include or exclude specific audience_ids when you create an ad group. &lt;p/&gt; For more, see &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://help.pinterest.com/en/business/article/audience-targeting\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Audience targeting&lt;/a&gt;.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param audienceCreateRequest List of ads to create, size limit [1, 30] (required)
     * @return Audience
     */
    @Post(uri="/ad_accounts/{ad_account_id}/audiences")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Audience> audiencesCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AudienceCreateRequest audienceCreateRequest
    );

    /**
     * Create custom audience
     * Create a custom audience and find the audiences you want your ads to reach.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param audienceCreateCustomRequest Custom audience to create. (required)
     * @return Audience
     */
    @Post(uri="/ad_accounts/{ad_account_id}/audiences/custom")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Audience> audiencesCreateCustom(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AudienceCreateCustomRequest audienceCreateCustomRequest
    );

    /**
     * Get audience
     * Get a specific audience given the audience ID.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param audienceId Unique identifier of an audience (required)
     * @return Audience
     */
    @Get(uri="/ad_accounts/{ad_account_id}/audiences/{audience_id}")
    @Consumes({"application/json"})
    Mono<Audience> audiencesGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="audience_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String audienceId
    );

    /**
     * List audiences
     * Get list of audiences for the ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. For received audiences, it is sorted by sharing event time. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @param ownershipType Filter audiences by ownership type. (optional, default to OWNED)
     * @return AudiencesList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/audiences")
    @Consumes({"application/json"})
    Mono<AudiencesList200Response> audiencesList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="order") @Nullable String order, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="ownership_type", defaultValue="OWNED") @Nullable String ownershipType
    );

    /**
     * Update audience
     * Update (edit or remove) an existing targeting audience.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param audienceId Unique identifier of an audience (required)
     * @param audienceUpdateRequest The audience to be updated. (optional)
     * @return Audience
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/audiences/{audience_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Audience> audiencesUpdate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="audience_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String audienceId, 
        @Body @Nullable @Valid AudienceUpdateRequest audienceUpdateRequest
    );

}
