/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AdAccountsAudiencesSharedAccountsList200Response;
import org.openapitools.model.AudienceAccountType;
import org.openapitools.model.AudiencesList200Response;
import org.openapitools.model.BusinessSharedAudience;
import org.openapitools.model.BusinessSharedAudienceResponse;
import org.openapitools.model.Error;
import org.openapitools.model.SharedAudience;
import org.openapitools.model.SharedAudienceResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2024-11-05T02:02:57.601423453Z[Etc/UTC]", comments = "Generator version: 7.9.0")
@Client("${openapi-micronaut-client-base-path}")
public interface AudienceSharingApi {
    /**
     * List accounts with access to an audience owned by an ad account
     * List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param audienceId Unique identifier of the audience to use to filter the results. (required)
     * @param accountType Filter accounts by account type. (required)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @return AdAccountsAudiencesSharedAccountsList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/audiences/shared/accounts")
    @Consumes({"application/json"})
    Mono<AdAccountsAudiencesSharedAccountsList200Response> adAccountsAudiencesSharedAccountsList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="audience_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String audienceId, 
        @QueryValue(value="account_type", defaultValue="AD_ACCOUNT") @NotNull AudienceAccountType accountType, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="bookmark") @Nullable String bookmark
    );

    /**
     * List accounts with access to an audience owned by a business
     * List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param audienceId Unique identifier of the audience to use to filter the results. (required)
     * @param accountType Filter accounts by account type. (required)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @return AdAccountsAudiencesSharedAccountsList200Response
     */
    @Get(uri="/businesses/{business_id}/audiences/shared/accounts")
    @Consumes({"application/json"})
    Mono<AdAccountsAudiencesSharedAccountsList200Response> businessAccountAudiencesSharedAccountsList(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @QueryValue(value="audience_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String audienceId, 
        @QueryValue(value="account_type", defaultValue="AD_ACCOUNT") @NotNull AudienceAccountType accountType, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="bookmark") @Nullable String bookmark
    );

    /**
     * List received audiences for a business
     * Get a list of received audiences for the given business.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @return AudiencesList200Response
     */
    @Get(uri="/businesses/{business_id}/audiences")
    @Consumes({"application/json"})
    Mono<AudiencesList200Response> sharedAudiencesForBusinessList(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="order") @Nullable String order, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Update audience sharing between ad accounts
     * From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same &lt;a href&#x3D;&#39;https://help.pinterest.com/en/business/article/create-and-manage-accounts&#39;&gt;Pinterest Business Hierarchy&lt;/a&gt; as the business owner of the ad account.&lt;br&gt; This endpoint is not available to all apps.&lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param sharedAudience  (required)
     * @return SharedAudienceResponse
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<SharedAudienceResponse> updateAdAccountToAdAccountSharedAudience(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid SharedAudience sharedAudience
    );

    /**
     * Update audience sharing from an ad account to businesses
     * From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.&lt;br&gt; This endpoint is not available to all apps.&lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param businessSharedAudience  (required)
     * @return BusinessSharedAudienceResponse
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/audiences/businesses/shared")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<BusinessSharedAudienceResponse> updateAdAccountToBusinessSharedAudience(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid BusinessSharedAudience businessSharedAudience
    );

    /**
     * Update audience sharing from a business to ad accounts
     * From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience. &lt;ul&gt; &lt;li&gt;If the business is the owner of the audience, it can share with any ad account within the same business hierarchy.&lt;/li&gt; &lt;li&gt;If the business is the recipient of the audience, it can share with any of its owned ad accounts.&lt;/li&gt; &lt;/ul&gt; This endpoint is not available to all apps.&lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param sharedAudience  (required)
     * @return SharedAudienceResponse
     */
    @Patch(uri="/businesses/{business_id}/audiences/ad_accounts/shared")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<SharedAudienceResponse> updateBusinessToAdAccountSharedAudience(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid SharedAudience sharedAudience
    );

    /**
     * Update audience sharing between businesses
     * From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.&lt;br&gt; This endpoint is not available to all apps.&lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param businessSharedAudience  (required)
     * @return BusinessSharedAudienceResponse
     */
    @Patch(uri="/businesses/{business_id}/audiences/businesses/shared")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<BusinessSharedAudienceResponse> updateBusinessToBusinessSharedAudience(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid BusinessSharedAudience businessSharedAudience
    );

}
