/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AdAccountsAudience;
import org.openapitools.model.AdAccountsAudienceCreate;
import org.openapitools.model.AdAccountsAudienceUpdate;
import org.openapitools.model.AudienceOwnershipType;
import org.openapitools.model.AudiencesList200Response;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PinterestLibPaginationOrder;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface AudiencesApi {
    /**
     * Create audience
     * Create a new audience for the ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adAccountsAudienceCreate  (required)
     * @return AdAccountsAudience
     */
    @Post(uri="/ad_accounts/{ad_account_id}/audiences")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdAccountsAudience> audiencesCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AdAccountsAudienceCreate adAccountsAudienceCreate
    );

    /**
     * Get audience
     * Get a specific audience given the audience ID.
     *
     * @param audienceId Audience ID. (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return AdAccountsAudience
     */
    @Get(uri="/ad_accounts/{ad_account_id}/audiences/{audience_id}")
    @Consumes({"application/json"})
    Mono<AdAccountsAudience> audiencesGet(
        @PathVariable(name="audience_id") @NotNull @Pattern(regexp="^\\d+$") String audienceId, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * List audiences
     * Get list of audiences for the ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ownershipType  (optional)
     * @param excludeNca When true, excludes audiences derived from new customer acquisition (expanded matching) customer lists from the result. Defaults to false (include all). (optional, default to false)
     * @return AudiencesList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/audiences")
    @Consumes({"application/json"})
    Mono<AudiencesList200Response> audiencesList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order, 
        @QueryValue(value="ownership_type") @Nullable AudienceOwnershipType ownershipType, 
        @QueryValue(value="exclude_nca", defaultValue="false") @Nullable Boolean excludeNca
    );

    /**
     * Update audience
     * Update an existing audience for the ad account.
     *
     * @param audienceId Audience ID. (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adAccountsAudienceUpdate  (required)
     * @return AdAccountsAudience
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/audiences/{audience_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdAccountsAudience> audiencesUpdate(
        @PathVariable(name="audience_id") @NotNull @Pattern(regexp="^\\d+$") String audienceId, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AdAccountsAudienceUpdate adAccountsAudienceUpdate
    );

}
