/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AdAccountToAdAccountSharedAudience;
import org.openapitools.model.AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody;
import org.openapitools.model.AdAccountToBusinessSharedAudience;
import org.openapitools.model.AdAccountToBusinessSharedAudienceUpdateWithRequiredBody;
import org.openapitools.model.AdAccountsAudiencesSharedAccountsList200Response;
import org.openapitools.model.AudienceAccountType;
import org.openapitools.model.BusinessToAdAccountSharedAudience;
import org.openapitools.model.BusinessToAdAccountSharedAudienceUpdateWithRequiredBody;
import org.openapitools.model.BusinessToBusinessSharedAudience;
import org.openapitools.model.BusinessToBusinessSharedAudienceUpdateWithRequiredBody;
import org.openapitools.model.Order;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.SharedAudiencesForBusinessList200Response;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface AudienceSharingApi {
    /**
     * List accounts with access to an audience owned by an ad account
     * List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.
     *
     * @param audienceId Unique identifier of the audience to use to filter the results. (required)
     * @param accountType Filter accounts by account type. (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return AdAccountsAudiencesSharedAccountsList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/audiences/shared/accounts")
    @Consumes({"application/json"})
    Mono<AdAccountsAudiencesSharedAccountsList200Response> adAccountsAudiencesSharedAccountsList(
        @QueryValue(value="audience_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String audienceId, 
        @QueryValue(value="account_type") @NotNull AudienceAccountType accountType, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * List accounts with access to an audience owned by a business
     * List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param audienceId Unique identifier of the audience to use to filter the results. (required)
     * @param accountType Filter accounts by account type. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return AdAccountsAudiencesSharedAccountsList200Response
     */
    @Get(uri="/businesses/{business_id}/audiences/shared/accounts")
    @Consumes({"application/json"})
    Mono<AdAccountsAudiencesSharedAccountsList200Response> businessAccountAudiencesSharedAccountsList(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @QueryValue(value="audience_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String audienceId, 
        @QueryValue(value="account_type") @NotNull AudienceAccountType accountType, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * List received audiences for a business
     * Get a list of received audiences for the given business.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return SharedAudiencesForBusinessList200Response
     */
    @Get(uri="/businesses/{business_id}/audiences")
    @Consumes({"application/json"})
    Mono<SharedAudiencesForBusinessList200Response> sharedAudiencesForBusinessList(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @QueryValue(value="order") @Nullable Order order, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Update audience sharing between ad accounts
     * From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same [Pinterest Business Hierarchy](https://help.pinterest.com/en/business/article/create-and-manage-accounts) as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adAccountToAdAccountSharedAudienceUpdateWithRequiredBody  (required)
     * @return AdAccountToAdAccountSharedAudience
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdAccountToAdAccountSharedAudience> updateAdAccountToAdAccountSharedAudience(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody adAccountToAdAccountSharedAudienceUpdateWithRequiredBody
    );

    /**
     * Update audience sharing from an ad account to businesses
     * From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adAccountToBusinessSharedAudienceUpdateWithRequiredBody  (required)
     * @return AdAccountToBusinessSharedAudience
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/audiences/businesses/shared")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdAccountToBusinessSharedAudience> updateAdAccountToBusinessSharedAudience(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AdAccountToBusinessSharedAudienceUpdateWithRequiredBody adAccountToBusinessSharedAudienceUpdateWithRequiredBody
    );

    /**
     * Update audience sharing from a business to ad accounts
     * From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience.  - If the business is the owner of the audience, it can share with any ad account within the same business hierarchy. - If the business is the recipient of the audience, it can share with any of its owned ad accounts.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param businessToAdAccountSharedAudienceUpdateWithRequiredBody  (required)
     * @return BusinessToAdAccountSharedAudience
     */
    @Patch(uri="/businesses/{business_id}/audiences/ad_accounts/shared")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<BusinessToAdAccountSharedAudience> updateBusinessToAdAccountSharedAudience(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid BusinessToAdAccountSharedAudienceUpdateWithRequiredBody businessToAdAccountSharedAudienceUpdateWithRequiredBody
    );

    /**
     * Update audience sharing between businesses
     * From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param businessToBusinessSharedAudienceUpdateWithRequiredBody  (required)
     * @return BusinessToBusinessSharedAudience
     */
    @Patch(uri="/businesses/{business_id}/audiences/businesses/shared")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<BusinessToBusinessSharedAudience> updateBusinessToBusinessSharedAudience(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid BusinessToBusinessSharedAudienceUpdateWithRequiredBody businessToBusinessSharedAudienceUpdateWithRequiredBody
    );

}
