/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AdsCreditRedeem;
import org.openapitools.model.AdsCreditRedeemCreate;
import org.openapitools.model.AdsCreditsDiscountsGet200Response;
import org.openapitools.model.BillingInvoiceDocumentType;
import org.openapitools.model.BillingInvoiceDownloadResponse;
import org.openapitools.model.BillingInvoiceSortField;
import org.openapitools.model.BillingInvoiceStatus;
import org.openapitools.model.BillingInvoicesGet200Response;
import org.openapitools.model.BillingProfilesGet200Response;
import java.time.LocalDate;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PinterestLibPaginationOrder;
import org.openapitools.model.SSIOAccount;
import org.openapitools.model.SSIOInsertionOrder;
import org.openapitools.model.SSIOInsertionOrderCreate;
import org.openapitools.model.SSIOInsertionOrderStatusResponse;
import org.openapitools.model.SSIOInsertionOrderUpdate;
import org.openapitools.model.SsioInsertionOrdersStatusGetByAdAccount200Response;
import org.openapitools.model.SsioOrderLinesGetByAdAccount200Response;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface BillingApi {
    /**
     * Redeem ad credits
     * Redeem ads credit on behalf of the ad account id and apply it towards billing.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param adsCreditRedeemCreate  (required)
     * @return AdsCreditRedeem
     */
    @Post(uri="/ad_accounts/{ad_account_id}/ads_credit/redeem")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdsCreditRedeem> adsCreditRedeem(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AdsCreditRedeemCreate adsCreditRedeemCreate
    );

    /**
     * Get ads credit discounts
     * Returns the list of discounts applied to the account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return AdsCreditsDiscountsGet200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ads_credit/discounts")
    @Consumes({"application/json"})
    Mono<AdsCreditsDiscountsGet200Response> adsCreditsDiscountsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Get download url for a billing invoice
     * Get download url for a billing invoice.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param billingInvoiceId Unique identifier of a billing invoice. (required)
     * @return BillingInvoiceDownloadResponse
     */
    @Get(uri="/ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download")
    @Consumes({"application/json"})
    Mono<BillingInvoiceDownloadResponse> billingInvoiceDownloadGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="billing_invoice_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String billingInvoiceId
    );

    /**
     * Get billing invoices
     * Get billing invoices in the advertiser account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param sort Field of which to sort billing invoices (optional, default to DUE_DATE)
     * @param status Status of billing invoices to filter by (optional)
     * @param documentType Document type of billing invoices to filter by (optional)
     * @param startDueDate Starting point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     * @param endDueDate Ending point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     * @return BillingInvoicesGet200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/billing_invoices")
    @Consumes({"application/json"})
    Mono<BillingInvoicesGet200Response> billingInvoicesGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order, 
        @QueryValue(value="sort", defaultValue="DUE_DATE") @Nullable BillingInvoiceSortField sort, 
        @QueryValue(value="status") @Nullable BillingInvoiceStatus status, 
        @QueryValue(value="document_type") @Nullable BillingInvoiceDocumentType documentType, 
        @QueryValue(value="start_due_date") @Nullable @Format("yyyy-MM-dd") LocalDate startDueDate, 
        @QueryValue(value="end_due_date") @Nullable @Format("yyyy-MM-dd") LocalDate endDueDate
    );

    /**
     * Get billing profiles
     * Get billing profiles in the advertiser account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     *
     * @param isActive Return active billing profiles, if false return all billing profiles. (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return BillingProfilesGet200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/billing_profiles")
    @Consumes({"application/json"})
    Mono<BillingProfilesGet200Response> billingProfilesGet(
        @QueryValue(value="is_active") @NotNull Boolean isActive, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Get Salesforce account details including bill-to information.
     *   Get Salesforce account details including bill-to information to be used in insertion orders process for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return SSIOAccount
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ssio/accounts")
    @Consumes({"application/json"})
    Mono<SSIOAccount> ssioAccountsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Create insertion order through SSIO.
     *   Create insertion order through SSIO for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param ssIOInsertionOrderCreate  (required)
     * @return SSIOInsertionOrder
     */
    @Post(uri="/ad_accounts/{ad_account_id}/ssio/insertion_orders")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<SSIOInsertionOrder> ssioInsertionOrderCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid SSIOInsertionOrderCreate ssIOInsertionOrderCreate
    );

    /**
     * Edit insertion order through SSIO.
     *   Edit insertion order through SSIO for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param ssIOInsertionOrderUpdate  (required)
     * @return SSIOInsertionOrder
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/ssio/insertion_orders")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<SSIOInsertionOrder> ssioInsertionOrderEdit(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid SSIOInsertionOrderUpdate ssIOInsertionOrderUpdate
    );

    /**
     * Get insertion order status by ad account id.
     *   Get insertion order status for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return SsioInsertionOrdersStatusGetByAdAccount200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ssio/insertion_orders/status")
    @Consumes({"application/json"})
    Mono<SsioInsertionOrdersStatusGetByAdAccount200Response> ssioInsertionOrdersStatusGetByAdAccount(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Get insertion order status by pin order id.
     *   Get insertion order status for &#x60;pin_order_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param pinOrderId The pin order id associated with the ssio insertion order (required)
     * @return SSIOInsertionOrderStatusResponse
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status")
    @Consumes({"application/json"})
    Mono<SSIOInsertionOrderStatusResponse> ssioInsertionOrdersStatusGetByPinOrderId(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="pin_order_id") @NotNull String pinOrderId
    );

    /**
     * Get Salesforce order lines by ad account id.
     *   Get Salesforce order lines for account id &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param pinOrderId The pin order id associated with the SSIO insertion order (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return SsioOrderLinesGetByAdAccount200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/ssio/order_lines")
    @Consumes({"application/json"})
    Mono<SsioOrderLinesGetByAdAccount200Response> ssioOrderLinesGetByAdAccount(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="pin_order_id") @Nullable String pinOrderId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

}
