/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AssetGroupDeletion;
import org.openapitools.model.AssetGroupDeletionDelete;
import org.openapitools.model.AssetGroupInput;
import org.openapitools.model.AssetGroupInputCreate;
import org.openapitools.model.AssetGroupModification;
import org.openapitools.model.AssetGroupModificationReadOrUpdate;
import org.openapitools.model.AssetPermissionType;
import org.openapitools.model.AssetSearchBy;
import org.openapitools.model.AssetSortBy;
import org.openapitools.model.BusinessAssetMembersGet200Response;
import org.openapitools.model.BusinessAssetsGet200Response;
import org.openapitools.model.BusinessMemberAssetsGetResponse;
import org.openapitools.model.BusinessMembersAssetAccessDeleteBody;
import org.openapitools.model.BusinessPartnerAssetAccessGet200Response;
import org.openapitools.model.DeleteMemberAccessResultsResponseArray;
import org.openapitools.model.DeletePartnerAssetAccessBody;
import org.openapitools.model.DeletePartnerAssetAccessResultsResponseArray;
import org.openapitools.model.NonDraftEntityStatus;
import org.openapitools.model.PermissionsWithOwner;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.UpdateMemberAssetAccessBody;
import org.openapitools.model.UpdateMemberAssetsResultsResponseArray;
import org.openapitools.model.UpdatePartnerAssetAccessBody;
import org.openapitools.model.UpdatePartnerAssetsResultsResponseArray;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface BusinessAccessAssetsApi {
    /**
     * Create a new asset group.
     * Create a new asset group with the specified parameters. - An [asset group](https://help.pinterest.com/en/business/article/asset-groups) is a custom group of assets based on how you would like to manage your accounts.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param assetGroupInputCreate  (required)
     * @return AssetGroupInput
     */
    @Post(uri="/businesses/{business_id}/asset_groups")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AssetGroupInput> assetGroupCreate(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid AssetGroupInputCreate assetGroupInputCreate
    );

    /**
     * Delete asset groups.
     * Delete a batch of asset groups.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param assetGroupDeletionDelete  (required)
     * @return AssetGroupDeletion
     */
    @Delete(uri="/businesses/{business_id}/asset_groups")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AssetGroupDeletion> assetGroupDelete(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid AssetGroupDeletionDelete assetGroupDeletionDelete
    );

    /**
     * Update asset groups.
     * Update a batch of asset groups with the specified parameters.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param assetGroupModificationReadOrUpdate  (required)
     * @return AssetGroupModification
     */
    @Patch(uri="/businesses/{business_id}/asset_groups")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AssetGroupModification> assetGroupUpdate(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid AssetGroupModificationReadOrUpdate assetGroupModificationReadOrUpdate
    );

    /**
     * Get members with access to asset
     * Get all the members the requesting business has granted access to on the given asset.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param assetId Unique identifier of a business asset. (required)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param fetchSystemUsers Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return BusinessAssetMembersGet200Response
     */
    @Get(uri="/businesses/{business_id}/assets/{asset_id}/members")
    @Consumes({"application/json"})
    Mono<BusinessAssetMembersGet200Response> businessAssetMembersGet(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @PathVariable(name="asset_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String assetId, 
        @QueryValue(value="start_index", defaultValue="0") @Nullable @Min(0) Integer startIndex, 
        @QueryValue(value="fetch_system_users", defaultValue="false") @Nullable Boolean fetchSystemUsers, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Get partners with access to asset
     * Get all the partners the requesting business has granted access to on the given asset. Note: If the asset has been shared with you, an empty array will be returned. This is because an asset shared with you cannot be shared with a different partner.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param assetId Unique identifier of a business asset. (required)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return BusinessAssetMembersGet200Response
     */
    @Get(uri="/businesses/{business_id}/assets/{asset_id}/partners")
    @Consumes({"application/json"})
    Mono<BusinessAssetMembersGet200Response> businessAssetPartnersGet(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @PathVariable(name="asset_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String assetId, 
        @QueryValue(value="start_index", defaultValue="0") @Nullable @Min(0) Integer startIndex, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * List business assets
     * Get all the assets the requesting business has access to. This includes assets the business owns and assets the business has access to through partnerships.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param permissions A list of asset permissions used to filter the assets. Only assets where the requesting business has at least one of the specified permissions will be returned. (optional)
     * @param childAssetId A child asset unique identifier. Used to fetch asset groups that contain the asset id as a child. (optional)
     * @param assetGroupId An asset group unique identifier. Used to fetch assets contained within the specified asset group. (optional)
     * @param assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional, default to AD_ACCOUNT)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return BusinessAssetsGet200Response
     */
    @Get(uri="/businesses/{business_id}/assets")
    @Consumes({"application/json"})
    Mono<BusinessAssetsGet200Response> businessAssetsGet(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @QueryValue(value="permissions") @Nullable List<PermissionsWithOwner> permissions, 
        @QueryValue(value="child_asset_id") @Nullable @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String childAssetId, 
        @QueryValue(value="asset_group_id") @Nullable @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String assetGroupId, 
        @QueryValue(value="asset_type", defaultValue="AD_ACCOUNT") @Nullable String assetType, 
        @QueryValue(value="start_index", defaultValue="0") @Nullable @Min(0) Integer startIndex, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Get assets assigned to a member
     * Get assets on which you assigned asset permissions to the given member. Can be used to: - get all assets, regardless of asset type or - get assets of one asset type by using the asset_type query. The return response will include the permissions the member has to that asset and the asset type.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param memberId The member id to fetch assets for. (required)
     * @param assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional, default to AD_ACCOUNT)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param sortBy The field to sort member assets by (optional)
     * @param sortAscending Sort assets in ascending order (optional, default to true)
     * @param searchBy The field to search member assets by (optional)
     * @param searchValue The value to search for (optional)
     * @param assetPermissionType The type of asset permission to filter by (optional)
     * @param adAccountStatuses A list of ad account statuses to filter the assets by. Only used when asset_type is AD_ACCOUNT. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return BusinessMemberAssetsGetResponse
     */
    @Get(uri="/businesses/{business_id}/members/{member_id}/assets")
    @Consumes({"application/json"})
    Mono<BusinessMemberAssetsGetResponse> businessMemberAssetsGet(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @PathVariable(name="member_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String memberId, 
        @QueryValue(value="asset_type", defaultValue="AD_ACCOUNT") @Nullable String assetType, 
        @QueryValue(value="start_index", defaultValue="0") @Nullable @Min(0) Integer startIndex, 
        @QueryValue(value="sort_by") @Nullable AssetSortBy sortBy, 
        @QueryValue(value="sort_ascending", defaultValue="true") @Nullable Boolean sortAscending, 
        @QueryValue(value="search_by") @Nullable AssetSearchBy searchBy, 
        @QueryValue(value="search_value") @Nullable String searchValue, 
        @QueryValue(value="asset_permission_type") @Nullable AssetPermissionType assetPermissionType, 
        @QueryValue(value="ad_account_statuses") @Nullable List<NonDraftEntityStatus> adAccountStatuses, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Delete member access to asset
     * Terminate multiple members&#39; access to an asset.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param businessMembersAssetAccessDeleteBody  (required)
     * @return DeleteMemberAccessResultsResponseArray
     */
    @Delete(uri="/businesses/{business_id}/members/assets/access")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<DeleteMemberAccessResultsResponseArray> businessMembersAssetAccessDelete(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid BusinessMembersAssetAccessDeleteBody businessMembersAssetAccessDeleteBody
    );

    /**
     * Assign/Update member asset permissions
     * Grant multiple members access to assets and/or update multiple member&#39;s exisiting permissions to an asset. Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param updateMemberAssetAccessBody  (required)
     * @return UpdateMemberAssetsResultsResponseArray
     */
    @Patch(uri="/businesses/{business_id}/members/assets/access")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<UpdateMemberAssetsResultsResponseArray> businessMembersAssetAccessUpdate(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid UpdateMemberAssetAccessBody updateMemberAssetAccessBody
    );

    /**
     * Get assets assigned to a partner or assets assigned by a partner
     * Can be used to get the business assets your partner has granted you access to or the business assets you have granted your partner access to. If you specify: - partner_type&#x3D;INTERNAL, you will retrieve your business assets that the partner has access to. - partner_type&#x3D;EXTERNAL, you will retrieve the partner&#39;s business assets that the partner has granted you access to.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param partnerId The partner id to be bound to the Business (required)
     * @param partnerType Specifies whether to fetch internal or external (shared) partners.  If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets.  If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional, default to INTERNAL)
     * @param assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional, default to AD_ACCOUNT)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param sortBy The field to sort member assets by (optional)
     * @param sortAscending Sort assets in ascending order (optional, default to true)
     * @param searchBy The field to search member assets by (optional)
     * @param searchValue The value to search for (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return BusinessPartnerAssetAccessGet200Response
     */
    @Get(uri="/businesses/{business_id}/partners/{partner_id}/assets")
    @Consumes({"application/json"})
    Mono<BusinessPartnerAssetAccessGet200Response> businessPartnerAssetAccessGet(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @PathVariable(name="partner_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String partnerId, 
        @QueryValue(value="partner_type", defaultValue="INTERNAL") @Nullable String partnerType, 
        @QueryValue(value="asset_type", defaultValue="AD_ACCOUNT") @Nullable String assetType, 
        @QueryValue(value="start_index", defaultValue="0") @Nullable @Min(0) Integer startIndex, 
        @QueryValue(value="sort_by") @Nullable AssetSortBy sortBy, 
        @QueryValue(value="sort_ascending", defaultValue="true") @Nullable Boolean sortAscending, 
        @QueryValue(value="search_by") @Nullable AssetSearchBy searchBy, 
        @QueryValue(value="search_value") @Nullable String searchValue, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Delete partner access to asset
     * Terminate multiple partners&#39; access to an asset. If - partner_type&#x3D;INTERNAL: You will terminate a partner&#39;s asset access to your business assets. - partner_type&#x3D;EXTERNAL: You will terminate your own access to your partner&#39;s business assets.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param deletePartnerAssetAccessBody  (required)
     * @return DeletePartnerAssetAccessResultsResponseArray
     */
    @Delete(uri="/businesses/{business_id}/partners/assets")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<DeletePartnerAssetAccessResultsResponseArray> deletePartnerAssetAccessHandlerImpl(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid DeletePartnerAssetAccessBody deletePartnerAssetAccessBody
    );

    /**
     * Assign/Update partner asset permissions
     * Grant multiple partners access to assets and/or update multiple partner&#39;s exisiting permissions to an asset. If your partner already had permissions on the asset, they will be overriden with the new permissions you assign to them. To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview  Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param updatePartnerAssetAccessBody  (required)
     * @return UpdatePartnerAssetsResultsResponseArray
     */
    @Patch(uri="/businesses/{business_id}/partners/assets")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<UpdatePartnerAssetsResultsResponseArray> updatePartnerAssetAccessHandlerImpl(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid UpdatePartnerAssetAccessBody updatePartnerAssetAccessBody
    );

}
