/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.BrandAccount;
import org.openapitools.model.BrandAccountCreate;
import org.openapitools.model.BrandAccountUpdate;
import org.openapitools.model.BusinessMembershipMember;
import org.openapitools.model.DeleteBusinessMembership200Response;
import org.openapitools.model.DeleteBusinessMembershipBody;
import org.openapitools.model.DeleteBusinessPartners;
import org.openapitools.model.DeleteBusinessPartnersDelete;
import org.openapitools.model.GetBusinessEmployers200Response;
import org.openapitools.model.MemberBusinessRole;
import org.openapitools.model.PartnerType;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.SystemUserUpdateWithRequiredBody;
import org.openapitools.model.UpdateBusinessMembershipsResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface BusinessAccessRelationshipsApi {
    /**
     * Create a Brand Account
     * Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.
     *
     * @param businessHierarchyId business hierarchy node id (required)
     * @param brandAccountCreate  (required)
     * @return BrandAccount
     */
    @Post(uri="/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<BrandAccount> brandAccountsCreate(
        @PathVariable(name="business_hierarchy_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessHierarchyId, 
        @Body @NotNull @Valid BrandAccountCreate brandAccountCreate
    );

    /**
     * Update a Brand Account
     * Update an existing Brand Account
     *
     * @param brandAccountId  (required)
     * @param businessHierarchyId business hierarchy node id (required)
     * @param brandAccountUpdate  (required)
     * @return BrandAccount
     */
    @Patch(uri="/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<BrandAccount> brandAccountsUpdate(
        @PathVariable(name="brand_account_id") @NotNull String brandAccountId, 
        @PathVariable(name="business_hierarchy_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessHierarchyId, 
        @Body @NotNull @Valid BrandAccountUpdate brandAccountUpdate
    );

    /**
     * Terminate business memberships
     * Terminate memberships between the specified members and your business.
     *
     * @param businessId Business id (required)
     * @param deleteBusinessMembershipBody  (required)
     * @return DeleteBusinessMembership200Response
     */
    @Delete(uri="/businesses/{business_id}/members")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<DeleteBusinessMembership200Response> deleteBusinessMembership(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid DeleteBusinessMembershipBody deleteBusinessMembershipBody
    );

    /**
     * Terminate business partnerships
     * Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param deleteBusinessPartnersDelete  (required)
     * @return DeleteBusinessPartners
     */
    @Delete(uri="/businesses/{business_id}/partners")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<DeleteBusinessPartners> deleteBusinessPartners(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid DeleteBusinessPartnersDelete deleteBusinessPartnersDelete
    );

    /**
     * List business employers for user
     * Get all of the viewing user&#39;s business employers.
     *
     * @param assetsSummary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to true)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return GetBusinessEmployers200Response
     */
    @Get(uri="/businesses/employers")
    @Consumes({"application/json"})
    Mono<GetBusinessEmployers200Response> getBusinessEmployers(
        @QueryValue(value="assets_summary", defaultValue="true") @Nullable Boolean assetsSummary, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Get business members
     * Get all members of the specified business. The return response will include the member&#39;s business_role and assets they have access to if assets_summary&#x3D;TRUE
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param fetchSystemUsers Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
     * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param businessRoles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned. (optional)
     * @param memberIds A list of business members ids separated by comma. (optional)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return GetBusinessEmployers200Response
     */
    @Get(uri="/businesses/{business_id}/members")
    @Consumes({"application/json"})
    Mono<GetBusinessEmployers200Response> getBusinessMembers(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @QueryValue(value="fetch_system_users", defaultValue="false") @Nullable Boolean fetchSystemUsers, 
        @QueryValue(value="assets_summary", defaultValue="false") @Nullable Boolean assetsSummary, 
        @QueryValue(value="business_roles") @Nullable List<MemberBusinessRole> businessRoles, 
        @QueryValue(value="member_ids") @Nullable @Size(max=500) String memberIds, 
        @QueryValue(value="start_index", defaultValue="0") @Nullable @Min(0) Integer startIndex, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Get business partners
     * Get all partners of the specified business.  If the assets_summary&#x3D;TRUE and: - partner_type&#x3D;INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type&#x3D;EXTERNAL, the business assets returned are your partner&#39;s business assets the partner has granted you   access to.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional)
     * @param partnerIds A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned. (optional)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param sortAscending Sort ascending. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return GetBusinessEmployers200Response
     */
    @Get(uri="/businesses/{business_id}/partners")
    @Consumes({"application/json"})
    Mono<GetBusinessEmployers200Response> getBusinessPartners(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @QueryValue(value="assets_summary", defaultValue="false") @Nullable Boolean assetsSummary, 
        @QueryValue(value="partner_type") @Nullable PartnerType partnerType, 
        @QueryValue(value="partner_ids") @Nullable @Size(max=500) String partnerIds, 
        @QueryValue(value="start_index", defaultValue="0") @Nullable @Min(0) Integer startIndex, 
        @QueryValue(value="sort_ascending") @Nullable Boolean sortAscending, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Update a system user information.
     * Update a system user information such as name.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param systemUserId Unique identifier of a system user. (required)
     * @param systemUserUpdateWithRequiredBody  (required)
     */
    @Patch(uri="/businesses/{business_id}/system_users/{system_user_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> systemUserUpdate(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @PathVariable(name="system_user_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String systemUserId, 
        @Body @NotNull @Valid SystemUserUpdateWithRequiredBody systemUserUpdateWithRequiredBody
    );

    /**
     * Update member&#39;s business role
     * Update a member&#39;s business role within the business.
     *
     * @param businessId Business id (required)
     * @param businessMembershipMember  (required)
     * @return UpdateBusinessMembershipsResponse
     */
    @Patch(uri="/businesses/{business_id}/members")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<UpdateBusinessMembershipsResponse> updateBusinessMemberships(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Size(min=1) List<@Valid BusinessMembershipMember> businessMembershipMember
    );

}
