/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.BrandAccountsCreate200Response;
import org.openapitools.model.BrandAccountsCreateRequest;
import org.openapitools.model.BrandAccountsUpdateRequest;
import org.openapitools.model.DeletePartnersRequest;
import org.openapitools.model.DeletePartnersResponse;
import org.openapitools.model.DeletedMembersResponse;
import org.openapitools.model.Error;
import org.openapitools.model.GetBusinessEmployers200Response;
import org.openapitools.model.GetBusinessMembers200Response;
import org.openapitools.model.GetBusinessPartners200Response;
import org.openapitools.model.MemberBusinessRole;
import org.openapitools.model.MembersToDeleteBody;
import org.openapitools.model.PartnerType;
import org.openapitools.model.SystemUserUpdateRequest;
import org.openapitools.model.UpdateMemberBusinessRoleBody;
import org.openapitools.model.UpdateMemberResultsResponseArray;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-31T04:51:38.486025089Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface BusinessAccessRelationshipsApi {
    /**
     * Create a Brand Account
     * Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.
     *
     * @param businessHierarchyId business hierarchy node id (required)
     * @param brandAccountsCreateRequest  (required)
     * @return BrandAccountsCreate200Response
     */
    @Post(uri="/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<BrandAccountsCreate200Response> brandAccountsCreate(
        @PathVariable(name="business_hierarchy_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessHierarchyId, 
        @Body @NotNull @Valid BrandAccountsCreateRequest brandAccountsCreateRequest
    );

    /**
     * Update a Brand Account
     * Update an existing Brand Account
     *
     * @param businessHierarchyId business hierarchy node id (required)
     * @param brandAccountId Unique identifier of a brand account. (required)
     * @param brandAccountsUpdateRequest  (required)
     * @return BrandAccountsCreate200Response
     */
    @Patch(uri="/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<BrandAccountsCreate200Response> brandAccountsUpdate(
        @PathVariable(name="business_hierarchy_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessHierarchyId, 
        @PathVariable(name="brand_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String brandAccountId, 
        @Body @NotNull @Valid BrandAccountsUpdateRequest brandAccountsUpdateRequest
    );

    /**
     * Terminate business memberships
     * Terminate memberships between the specified members and your business.
     *
     * @param businessId Business id (required)
     * @param membersToDeleteBody List of members with role to delete. (required)
     * @return DeletedMembersResponse
     */
    @Delete(uri="/businesses/{business_id}/members")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<DeletedMembersResponse> deleteBusinessMembership(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid MembersToDeleteBody membersToDeleteBody
    );

    /**
     * Terminate business partnerships
     * Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param deletePartnersRequest An object containing a \&quot;partner_ids\&quot; property composed of a list of partner IDs and a \&quot;partners_type\&quot; property specifying the type of partners to delete.  (required)
     * @return DeletePartnersResponse
     */
    @Delete(uri="/businesses/{business_id}/partners")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<DeletePartnersResponse> deleteBusinessPartners(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Valid DeletePartnersRequest deletePartnersRequest
    );

    /**
     * List business employers for user
     * Get all of the viewing user&#39;s business employers.
     *
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @return GetBusinessEmployers200Response
     */
    @Get(uri="/businesses/employers")
    @Consumes({"application/json"})
    Mono<GetBusinessEmployers200Response> getBusinessEmployers(
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="bookmark") @Nullable String bookmark
    );

    /**
     * Get business members
     * Get all members of the specified business. The return response will include the member&#39;s business_role and assets they have access to if assets_summary&#x3D;TRUE
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param fetchSystemUsers Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
     * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param businessRoles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned. (optional)
     * @param memberIds A list of business members ids separated by comma. (optional)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @return GetBusinessMembers200Response
     */
    @Get(uri="/businesses/{business_id}/members")
    @Consumes({"application/json"})
    Mono<GetBusinessMembers200Response> getBusinessMembers(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @QueryValue(value="fetch_system_users", defaultValue="false") @Nullable Boolean fetchSystemUsers, 
        @QueryValue(value="assets_summary", defaultValue="false") @Nullable Boolean assetsSummary, 
        @QueryValue(value="business_roles") @Nullable List<MemberBusinessRole> businessRoles, 
        @QueryValue(value="member_ids") @Nullable @Size(max=500) String memberIds, 
        @QueryValue(value="start_index", defaultValue="0") @Nullable @Min(0) Integer startIndex, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Get business partners
     * Get all partners of the specified business.  If the assets_summary&#x3D;TRUE and: - partner_type&#x3D;INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type&#x3D;EXTERNAL, the business assets returned are your partner&#39;s business assets the partner has granted you   access to.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets.&lt;br&gt; If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional)
     * @param partnerIds A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned. (optional)
     * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @return GetBusinessPartners200Response
     */
    @Get(uri="/businesses/{business_id}/partners")
    @Consumes({"application/json"})
    Mono<GetBusinessPartners200Response> getBusinessPartners(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @QueryValue(value="assets_summary", defaultValue="false") @Nullable Boolean assetsSummary, 
        @QueryValue(value="partner_type") @Nullable PartnerType partnerType, 
        @QueryValue(value="partner_ids") @Nullable @Size(max=500) String partnerIds, 
        @QueryValue(value="start_index", defaultValue="0") @Nullable @Min(0) Integer startIndex, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="bookmark") @Nullable String bookmark
    );

    /**
     * Update a system user information.
     * Update a system user information such as name.
     *
     * @param businessId Unique identifier of the requesting business. (required)
     * @param systemUserId Unique identifier of a system user. (required)
     * @param systemUserUpdateRequest  (required)
     */
    @Patch(uri="/businesses/{business_id}/system_users/{system_user_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> systemUserUpdate(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @PathVariable(name="system_user_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String systemUserId, 
        @Body @NotNull @Valid SystemUserUpdateRequest systemUserUpdateRequest
    );

    /**
     * Update member&#39;s business role
     * Update a member&#39;s business role within the business.
     *
     * @param businessId Business id (required)
     * @param updateMemberBusinessRoleBody List of objects with the member id and the business_role. (required)
     * @return UpdateMemberResultsResponseArray
     */
    @Patch(uri="/businesses/{business_id}/members")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<UpdateMemberResultsResponseArray> updateBusinessMemberships(
        @PathVariable(name="business_id") @NotNull @Pattern(regexp="^\\d+$") @Size(min=1, max=20) String businessId, 
        @Body @NotNull @Size(min=1) List<@Valid UpdateMemberBusinessRoleBody> updateMemberBusinessRoleBody
    );

}
