/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.3.0
 * Contact: blah@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.CatalogsFeed;
import org.openapitools.model.CatalogsFeedsCreateRequest;
import org.openapitools.model.CatalogsFeedsUpdateRequest;
import org.openapitools.model.CatalogsItems;
import org.openapitools.model.CatalogsItemsBatch;
import org.openapitools.model.CatalogsItemsBatchRequest;
import org.openapitools.model.CatalogsProductGroup;
import org.openapitools.model.CatalogsProductGroupCreateRequest;
import org.openapitools.model.CatalogsProductGroupUpdateRequest;
import org.openapitools.model.Error;
import org.openapitools.model.Paginated;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2022-07-01T11:59:24.863123Z[Etc/UTC]")
@Client("${base-path}")
public interface CatalogsApi {
    /**
     * Create product group
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Create product group to use in Catalogs.
     *
     * @param catalogsProductGroupCreateRequest Request object used to created a catalogs product group. (required)
     * @return Object
     */
    @Post(uri="/catalogs/product_groups")
    @Produces(value={"application/json"})
    @Consumes(value={"application/json"})
    Mono<Object> catalogsProductGroupsCreate(
        @Body @NotNull @Valid CatalogsProductGroupCreateRequest catalogsProductGroupCreateRequest
  );
    /**
     * Delete product group
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Delete a product group from being in use in Catalogs.
     *
     * @param productGroupId Unique identifier of a product group (required)
     */
    @Delete(uri="/catalogs/product_groups/{product_group_id}")
    @Consumes(value={"application/json"})
    Mono<Object> catalogsProductGroupsDelete(
        @PathVariable(name="product_group_id") @NotNull @Pattern(regexp="^\\d+$") String productGroupId
  );
    /**
     * Get product groups list
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Get a list of product groups for a given Catalogs Feed Id.
     *
     * @param feedId Unique identifier of a feed (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Pagination&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @return Paginated
     */
    @Get(uri="/catalogs/product_groups")
    @Consumes(value={"application/json"})
    Mono<Paginated> catalogsProductGroupsList(
        @QueryValue(value="feed_id") @NotNull @Pattern(regexp="^\\d+$") String feedId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(100) Integer pageSize
  );
    /**
     * Update product group
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Update product group to use in Catalogs.
     *
     * @param productGroupId Unique identifier of a product group (required)
     * @param catalogsProductGroupUpdateRequest Request object used to Update a catalogs product group. (required)
     * @return CatalogsProductGroup
     */
    @Patch(uri="/catalogs/product_groups/{product_group_id}")
    @Produces(value={"application/json"})
    @Consumes(value={"application/json"})
    Mono<CatalogsProductGroup> catalogsProductGroupsUpdate(
        @PathVariable(name="product_group_id") @NotNull @Pattern(regexp="^\\d+$") String productGroupId, 
        @Body @NotNull @Valid CatalogsProductGroupUpdateRequest catalogsProductGroupUpdateRequest
  );
    /**
     * List processing results for a given feed
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Fetch a feed processing results owned by the owner user account.
     *
     * @param feedId Unique identifier of a feed (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Pagination&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @return Paginated
     */
    @Get(uri="/catalogs/feeds/{feed_id}/processing_results")
    @Consumes(value={"application/json"})
    Mono<Paginated> feedProcessingResultsList(
        @PathVariable(name="feed_id") @NotNull @Pattern(regexp="^\\d+$") String feedId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(100) Integer pageSize
  );
    /**
     * Create feed
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Create a new feed owned by the \&quot;operating user_account\&quot;.
     *
     * @param catalogsFeedsCreateRequest Request object used to created a feed. (required)
     * @return CatalogsFeed
     */
    @Post(uri="/catalogs/feeds")
    @Produces(value={"application/json"})
    @Consumes(value={"application/json"})
    Mono<CatalogsFeed> feedsCreate(
        @Body @NotNull @Valid CatalogsFeedsCreateRequest catalogsFeedsCreateRequest
  );
    /**
     * Delete feed
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Delete a feed owned by the \&quot;operating user_account\&quot;.
     *
     * @param feedId Unique identifier of a feed (required)
     */
    @Delete(uri="/catalogs/feeds/{feed_id}")
    @Consumes(value={"application/json"})
    Mono<Object> feedsDelete(
        @PathVariable(name="feed_id") @NotNull @Pattern(regexp="^\\d+$") String feedId
  );
    /**
     * Get feed
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Get a single feed owned by the \&quot;operating user_account\&quot;.
     *
     * @param feedId Unique identifier of a feed (required)
     * @return CatalogsFeed
     */
    @Get(uri="/catalogs/feeds/{feed_id}")
    @Consumes(value={"application/json"})
    Mono<CatalogsFeed> feedsGet(
        @PathVariable(name="feed_id") @NotNull @Pattern(regexp="^\\d+$") String feedId
  );
    /**
     * List feeds
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Fetch feeds owned by the \&quot;operating user_account\&quot;.
     *
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Pagination&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @return Paginated
     */
    @Get(uri="/catalogs/feeds")
    @Consumes(value={"application/json"})
    Mono<Paginated> feedsList(
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(100) Integer pageSize
  );
    /**
     * Update feed
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Update a feed owned by the \&quot;operating user_account\&quot;.
     *
     * @param feedId Unique identifier of a feed (required)
     * @param catalogsFeedsUpdateRequest Request object used to update a feed. (required)
     * @return CatalogsFeed
     */
    @Patch(uri="/catalogs/feeds/{feed_id}")
    @Produces(value={"application/json"})
    @Consumes(value={"application/json"})
    Mono<CatalogsFeed> feedsUpdate(
        @PathVariable(name="feed_id") @NotNull @Pattern(regexp="^\\d+$") String feedId, 
        @Body @NotNull @Valid CatalogsFeedsUpdateRequest catalogsFeedsUpdateRequest
  );
    /**
     * Get catalogs items batch
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Get a single catalogs items batch created by the \&quot;operating user_account\&quot;.
     *
     * @param batchId Id of a catalogs items batch to fetch (required)
     * @return CatalogsItemsBatch
     */
    @Get(uri="/catalogs/items/batch/{batch_id}")
    @Consumes(value={"application/json"})
    Mono<CatalogsItemsBatch> itemsBatchGet(
        @PathVariable(name="batch_id") @NotNull String batchId
  );
    /**
     * Perform an operation on an item batch
     * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/api/v5/#tag/Understanding-catalog-management&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  This endpoint supports multiple operations on a set of one or more catalog items.
     *
     * @param catalogsItemsBatchRequest Request object used to create catalogs items in a batch (required)
     * @return CatalogsItemsBatch
     */
    @Post(uri="/catalogs/items/batch")
    @Produces(value={"application/json"})
    @Consumes(value={"application/json"})
    Mono<CatalogsItemsBatch> itemsBatchPost(
        @Body @NotNull @Valid CatalogsItemsBatchRequest catalogsItemsBatchRequest
  );
    /**
     * Get catalogs items
     * Get the items of the catalog created by the \&quot;operating user_account\&quot;
     *
     * @param country Country for the Catalogs Items (required)
     * @param itemIds Catalos Item ids (required)
     * @param language Language for the Catalogs Items (required)
     * @return CatalogsItems
     */
    @Get(uri="/catalogs/items")
    @Consumes(value={"application/json"})
    Mono<CatalogsItems> itemsGet(
        @QueryValue(value="country") @NotNull String country, 
        @QueryValue(value="item_ids") @NotNull List<String> itemIds, 
        @QueryValue(value="language") @NotNull String language
  );
}
