/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.CatalogsLocalStoresCreate200ResponseInner;
import org.openapitools.model.CatalogsLocalStoresDelete200ResponseInner;
import org.openapitools.model.CatalogsLocalStoresList200Response;
import org.openapitools.model.LocalInventoryItemsBatch;
import org.openapitools.model.LocalInventoryItemsBatchCreate;
import org.openapitools.model.LocalInventoryItemsGet;
import org.openapitools.model.LocalInventoryItemsGetCreate;
import org.openapitools.model.LocalStore;
import org.openapitools.model.LocalStoreBatchUpdate;
import org.openapitools.model.LocalStoreCreate;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.SupplementalItemsBatchResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface CatalogSupplementalApi {
    /**
     * Operate on local inventory item batch
     * Managing local inventory information in batches supporting CREATE, UPDATE, UPSERT, DELETE operations. Up to 1000 items per request to match catalogs/items.  - Must provide both item_id and store_code to identify a local inventory item.  - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
     *
     * @param catalogId Unique identifier of a catalog. (required)
     * @param localInventoryItemsBatchCreate  (required)
     * @param adAccountId Unique identifier of an ad account. (optional)
     * @return SupplementalItemsBatchResponse
     */
    @Post(uri="/catalogs/{catalog_id}/local_inventory_items/batch")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<SupplementalItemsBatchResponse> catalogsLocalInventoryItemsBatchOperate(
        @PathVariable(name="catalog_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=19) String catalogId, 
        @Body @NotNull @Valid LocalInventoryItemsBatchCreate localInventoryItemsBatchCreate, 
        @QueryValue(value="ad_account_id") @Nullable @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Get local inventory items (POST)
     * Get local inventory items for a catalog owned by the \&quot;operation user_account\&quot;.  - Must provide an array of {item_id, store_code} pairs in item filters to identify local inventory items.  - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
     *
     * @param catalogId Unique identifier of a catalog. (required)
     * @param localInventoryItemsGetCreate  (required)
     * @param adAccountId Unique identifier of an ad account. (optional)
     * @return LocalInventoryItemsGet
     */
    @Post(uri="/catalogs/{catalog_id}/local_inventory_items/query")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<LocalInventoryItemsGet> catalogsLocalInventoryItemsPost(
        @PathVariable(name="catalog_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=19) String catalogId, 
        @Body @NotNull @Valid LocalInventoryItemsGetCreate localInventoryItemsGetCreate, 
        @QueryValue(value="ad_account_id") @Nullable @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Create local stores
     * Create a local store for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
     *
     * @param catalogId Unique identifier of a catalog. (required)
     * @param localStoreCreate  (required)
     * @param adAccountId Unique identifier of an ad account. (optional)
     * @return List&lt;CatalogsLocalStoresCreate200ResponseInner&gt;
     */
    @Post(uri="/catalogs/{catalog_id}/local_stores")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<List<CatalogsLocalStoresCreate200ResponseInner>> catalogsLocalStoresCreate(
        @PathVariable(name="catalog_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=19) String catalogId, 
        @Body @NotNull List<@Valid LocalStoreCreate> localStoreCreate, 
        @QueryValue(value="ad_account_id") @Nullable @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Delete local stores
     *   Delete multiple local stores for a catalog owned by the \&quot;operation user_account\&quot;.   - By default, the \&quot;operation user_account\&quot; is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
     *
     * @param catalogId Unique identifier of a catalog. (required)
     * @param ids List of local store IDs to filter by. (required)
     * @param adAccountId Unique identifier of an ad account. (optional)
     * @return List&lt;CatalogsLocalStoresDelete200ResponseInner&gt;
     */
    @Delete(uri="/catalogs/{catalog_id}/local_stores")
    @Consumes({"application/json"})
    Mono<List<CatalogsLocalStoresDelete200ResponseInner>> catalogsLocalStoresDelete(
        @PathVariable(name="catalog_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=19) String catalogId, 
        @QueryValue(value="ids") @NotNull List<@Pattern(regexp = "^\\d+$")String> ids, 
        @QueryValue(value="ad_account_id") @Nullable @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * List local stores
     * Fetch local stores for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
     *
     * @param catalogId Unique identifier of a catalog. (required)
     * @param ids List of local store IDs to filter by. (optional)
     * @param adAccountId Unique identifier of an ad account. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return CatalogsLocalStoresList200Response
     */
    @Get(uri="/catalogs/{catalog_id}/local_stores")
    @Consumes({"application/json"})
    Mono<CatalogsLocalStoresList200Response> catalogsLocalStoresList(
        @PathVariable(name="catalog_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=19) String catalogId, 
        @QueryValue(value="ids") @Nullable List<@Pattern(regexp = "^\\d+$")String> ids, 
        @QueryValue(value="ad_account_id") @Nullable @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Update local stores
     *   Update a local store for a catalog owned by the \&quot;operation user_account\&quot;.   - By default, the \&quot;operation user_account\&quot; is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
     *
     * @param catalogId Unique identifier of a catalog. (required)
     * @param localStoreBatchUpdate  (required)
     * @param adAccountId Unique identifier of an ad account. (optional)
     * @return List&lt;CatalogsLocalStoresCreate200ResponseInner&gt;
     */
    @Patch(uri="/catalogs/{catalog_id}/local_stores")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<List<CatalogsLocalStoresCreate200ResponseInner>> catalogsLocalStoresUpdate(
        @PathVariable(name="catalog_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=19) String catalogId, 
        @Body @NotNull List<@Valid LocalStoreBatchUpdate> localStoreBatchUpdate, 
        @QueryValue(value="ad_account_id") @Nullable @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Get supplemental items batch status
     * Fetch the status and results of a supplemental items batch operation. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
     *
     * @param catalogId Unique identifier of a catalog. (required)
     * @param batchId Unique identifier of an items batch operation. (required)
     * @param adAccountId Unique identifier of an ad account. (optional)
     * @return SupplementalItemsBatchResponse
     */
    @Get(uri="/catalogs/{catalog_id}/supplemental_items/batch/{batch_id}")
    @Consumes({"application/json"})
    Mono<SupplementalItemsBatchResponse> catalogsSupplementalItemsBatchGet(
        @PathVariable(name="catalog_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=19) String catalogId, 
        @PathVariable(name="batch_id") @NotNull @Pattern(regexp="^\\d+$") String batchId, 
        @QueryValue(value="ad_account_id") @Nullable @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

}
