/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ConversionDeletionRequest;
import org.openapitools.model.ConversionDeletionRequestCreate;
import org.openapitools.model.ConversionDeletionRequestList200Response;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PinterestLibPaginationOrder;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ConversionDeletionRequestsApi {
    /**
     * Create a conversion deletion request
     * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Create a request to delete conversion data for a list of user emails and/or EPIKs, limited to the specified &#x60;ad_account_id&#x60;. After 72 hours the request is processed and submitted to our deletion process. Then the deletion process ensures deletion within a 30 days period, once the request is submitted to the deletion process it cannot be canceled.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param conversionDeletionRequestCreate  (required)
     * @return ConversionDeletionRequest
     */
    @Post(uri="/ad_accounts/{ad_account_id}/conversion_deletion_requests")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ConversionDeletionRequest> conversionDeletionRequestCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid ConversionDeletionRequestCreate conversionDeletionRequestCreate
    );

    /**
     * Delete a conversion deletion request
     * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Delete a conversion deletion request from &#x60;ad_account_id&#x60; with &#x60;request_id&#x60;. This will cancel the request and prevent it from being processed. This can only be done if the request is in the &#x60;PENDING&#x60; status and before the 72 hours mark.
     *
     * @param requestId Unique identifier of the conversion deletion request (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return ConversionDeletionRequest
     */
    @Delete(uri="/ad_accounts/{ad_account_id}/conversion_deletion_requests/{request_id}")
    @Consumes({"application/json"})
    Mono<ConversionDeletionRequest> conversionDeletionRequestDelete(
        @PathVariable(name="request_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String requestId, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Get a single conversion deletion request
     * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Get a single conversion deletion request from &#x60;ad_account_id&#x60; with &#x60;request_id&#x60;.
     *
     * @param requestId Unique identifier of the conversion deletion request (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return ConversionDeletionRequest
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_deletion_requests/{request_id}")
    @Consumes({"application/json"})
    Mono<ConversionDeletionRequest> conversionDeletionRequestGet(
        @PathVariable(name="request_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String requestId, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * List conversion deletion requests
     * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Get a list of the conversion deletion requests for the specified &#x60;ad_account_id&#x60;.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @return ConversionDeletionRequestList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_deletion_requests")
    @Consumes({"application/json"})
    Mono<ConversionDeletionRequestList200Response> conversionDeletionRequestList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order
    );

}
