/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ConversionEventResponse;
import org.openapitools.model.ConversionTagCreate;
import org.openapitools.model.ConversionTagListResponse;
import org.openapitools.model.ConversionTagResponse;
import org.openapitools.model.Error;
import org.openapitools.model.PageVisitConversionTagsGet200Response;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2024-03-14T23:01:49.950286870Z[Etc/UTC]", comments = "Generator version: 7.4.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ConversionTagsApi {
    /**
     * Create conversion tag
     * Create a conversion tag, also known as &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Pinterest tag&lt;/a&gt;, with the option to enable enhanced match.&lt;p/&gt; The Pinterest Tag tracks actions people take on the ad account’s website after they view the ad account&#39;s ad on Pinterest. The advertiser needs to customize this tag to track conversions.&lt;p/&gt; For more information, see:&lt;p/&gt; &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag\&quot;&gt;Set up the Pinterest tag&lt;/a&gt;&lt;p/&gt; &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://developers.pinterest.com/docs/conversions/pinterest-tag/\&quot;&gt;Pinterest Tag&lt;/a&gt;&lt;p/&gt; &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://developers.pinterest.com/docs/conversions/enhanced-match/\&quot;&gt;Enhanced match&lt;/a&gt;
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param conversionTagCreate Conversion Tag to create (required)
     * @return ConversionTagResponse
     */
    @Post(uri="/ad_accounts/{ad_account_id}/conversion_tags")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ConversionTagResponse> conversionTagsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid ConversionTagCreate conversionTagCreate
    );

    /**
     * Get conversion tag
     * Get information about an existing conversion tag.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param conversionTagId Id of the conversion tag. (required)
     * @return ConversionTagResponse
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_tags/{conversion_tag_id}")
    @Consumes({"application/json"})
    Mono<ConversionTagResponse> conversionTagsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="conversion_tag_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String conversionTagId
    );

    /**
     * Get conversion tags
     * List conversion tags associated with an ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param filterDeleted Filter out deleted tags. (optional, default to false)
     * @return ConversionTagListResponse
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_tags")
    @Consumes({"application/json"})
    Mono<ConversionTagListResponse> conversionTagsList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="filter_deleted", defaultValue="false") @Nullable Boolean filterDeleted
    );

    /**
     * Get Ocpm eligible conversion tags
     * Get Ocpm eligible conversion tag events for an ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return Map&lt;String, List&lt;ConversionEventResponse&gt;&gt;
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_tags/ocpm_eligible")
    @Consumes({"application/json"})
    Mono<Map<String, List<ConversionEventResponse>>> ocpmEligibleConversionTagsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Get page visit conversion tags
     * Get all page visit conversion tag events for an ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/getting-started/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @return PageVisitConversionTagsGet200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_tags/page_visit")
    @Consumes({"application/json"})
    Mono<PageVisitConversionTagsGet200Response> pageVisitConversionTagsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable String order, 
        @QueryValue(value="bookmark") @Nullable String bookmark
    );

}
