/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.EventQualityScore;
import org.openapitools.model.IngestionSourceOptions;
import org.openapitools.model.LookbackPeriodOptions;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.SourcePlatformOptions;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-31T04:51:38.486025089Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ConversionEqsApi {
    /**
     * Get event quality score (EQS)
     * Get the Event Quality Score (EQS) of your conversion signals.  [Event Quality Score](https://help.pinterest.com/en/business/article/eqs) indicates how effective the customer information and event insights (metadata) passed with your web, app and offline conversion events may be at matching to a Pinterest user.
     *
     * @param lookbackPeriod Lookback window (number of days). (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param sourcePlatform Source platform of event. (optional)
     * @param ingestionSource Ingestion source of event. (optional)
     * @return List&lt;EventQualityScore&gt;
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_eqs")
    @Consumes({"application/json"})
    Mono<List<EventQualityScore>> conversionEqsList(
        @QueryValue(value="lookback_period") @NotNull LookbackPeriodOptions lookbackPeriod, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="source_platform") @Nullable SourcePlatformOptions sourcePlatform, 
        @QueryValue(value="ingestion_source") @Nullable IngestionSourceOptions ingestionSource
    );

}
