/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AdvertiserDefinedEventsCreate200Response;
import org.openapitools.model.AdvertiserDefinedEventsCreateRequest;
import org.openapitools.model.AdvertiserDefinedEventsGet200Response;
import org.openapitools.model.PinterestLibError;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ConversionsApi {
    /**
     * Create advertiser defined events
     * Map advertiser defined events to standard events for the given ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param advertiserDefinedEventsCreateRequest  (required)
     * @return AdvertiserDefinedEventsCreate200Response
     */
    @Post(uri="/ad_accounts/{ad_account_id}/advertiser_defined_events")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdvertiserDefinedEventsCreate200Response> advertiserDefinedEventsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AdvertiserDefinedEventsCreateRequest advertiserDefinedEventsCreateRequest
    );

    /**
     * Delete advertiser defined events
     * Untrack advertiser defined events for the given ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param eventNames List of event names to delete (required)
     * @return AdvertiserDefinedEventsCreate200Response
     */
    @Delete(uri="/ad_accounts/{ad_account_id}/advertiser_defined_events")
    @Consumes({"application/json"})
    Mono<AdvertiserDefinedEventsCreate200Response> advertiserDefinedEventsDelete(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="event_names") @NotNull List<String> eventNames
    );

    /**
     * Get advertiser defined events
     * Get advertiser defined events for the given ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return AdvertiserDefinedEventsGet200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/advertiser_defined_events")
    @Consumes({"application/json"})
    Mono<AdvertiserDefinedEventsGet200Response> advertiserDefinedEventsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Update advertiser defined events
     * Update advertiser defined event names or mappings for the given ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param advertiserDefinedEventsCreateRequest  (required)
     * @return AdvertiserDefinedEventsCreate200Response
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/advertiser_defined_events")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdvertiserDefinedEventsCreate200Response> advertiserDefinedEventsUpdate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid AdvertiserDefinedEventsCreateRequest advertiserDefinedEventsCreateRequest
    );

}
