/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ConversionEventResponse;
import org.openapitools.model.ConversionTag;
import org.openapitools.model.ConversionTagCreate;
import org.openapitools.model.ConversionTagsList200Response;
import org.openapitools.model.PageVisitConversionTagsGet200Response;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PinterestLibPaginationOrder;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ConversionTagsApi {
    /**
     * Create conversion tag
     * Create a conversion tag, also known as [Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag), with the option to enable enhanced match.  The Pinterest Tag tracks actions people take on the ad account&#39;s website after they view the ad account&#39;s ad on Pinterest. The advertiser needs to customize this tag to track conversions.  For more information, see:  [Set up the Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag)  [Pinterest Tag](/docs/track-conversions/pinterest-tag/)  [Enhanced match](/docs/track-conversions/pinterest-tag/#enhanced-match)
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param conversionTagCreate  (required)
     * @return ConversionTag
     */
    @Post(uri="/ad_accounts/{ad_account_id}/conversion_tags")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ConversionTag> conversionTagsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid ConversionTagCreate conversionTagCreate
    );

    /**
     * Get conversion tag
     * Get information about an existing conversion tag.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param conversionTagId Id of the conversion tag. (required)
     * @return ConversionTag
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_tags/{conversion_tag_id}")
    @Consumes({"application/json"})
    Mono<ConversionTag> conversionTagsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="conversion_tag_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String conversionTagId
    );

    /**
     * List conversion tags
     * List conversion tags associated with an ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param filterDeleted Filter by deleted status (optional, default to false)
     * @return ConversionTagsList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_tags")
    @Consumes({"application/json"})
    Mono<ConversionTagsList200Response> conversionTagsList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="filter_deleted", defaultValue="false") @Nullable Boolean filterDeleted
    );

    /**
     * Get Ocpm eligible conversion tags
     * Get Ocpm eligible conversion tag events for an ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return Map&lt;String, List&lt;ConversionEventResponse&gt;&gt;
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_tags/ocpm_eligible")
    @Consumes({"application/json"})
    Mono<Map<String, List<ConversionEventResponse>>> ocpmEligibleConversionTagsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Get page visit conversion tags
     * Get all page visit conversion tag events for an ad account.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @return PageVisitConversionTagsGet200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/conversion_tags/page_visit")
    @Consumes({"application/json"})
    Mono<PageVisitConversionTagsGet200Response> pageVisitConversionTagsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order
    );

}
