/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.CustomerListUploadCreateRequest;
import org.openapitools.model.CustomerListUploadCreateResponse;
import org.openapitools.model.CustomerListUploadResponse;
import org.openapitools.model.Error;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-31T04:51:38.486025089Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface CustomerListUploadsApi {
    /**
     * Create customer list upload
     * &lt;a href&#x3D;\&quot;/docs/getting-started/using-beta-and-restricted-features/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Closed beta&lt;/a&gt;  &lt;p&gt;Create a customer list upload request for multipart S3 upload.&lt;/p&gt; &lt;p&gt;Note: Each part must be at least 5mb; however the last part can be any size greater than 0. Clients with smaller files can request a single part count. This minimal part size restriction is defined by the AWS S3 API.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Please review the &lt;u&gt;&lt;a href&#x3D;\&quot;/docs/api/v5/customer_lists-update/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;update customer list endpoint&lt;/a&gt;&lt;/u&gt; documentation for additional information.&lt;/b&gt;&lt;/p&gt;
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param customerListId Unique identifier of a customer list (required)
     * @param customerListUploadCreateRequest Parameters to create a customer list upload request (required)
     * @return CustomerListUploadCreateResponse
     */
    @Post(uri="/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<CustomerListUploadCreateResponse> customerListUploadsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="customer_list_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String customerListId, 
        @Body @NotNull @Valid CustomerListUploadCreateRequest customerListUploadCreateRequest
    );

    /**
     * Get customer list upload
     * &lt;a href&#x3D;\&quot;/docs/getting-started/using-beta-and-restricted-features/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Closed beta&lt;/a&gt; &lt;p&gt;Get the metadata for a given upload by its ID.&lt;/p&gt;
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param customerListId Unique identifier of a customer list (required)
     * @param customerListUploadId Unique identifier of a customer list upload (required)
     * @return CustomerListUploadResponse
     */
    @Get(uri="/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}")
    @Consumes({"application/json"})
    Mono<CustomerListUploadResponse> customerListUploadsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="customer_list_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String customerListId, 
        @PathVariable(name="customer_list_upload_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String customerListUploadId
    );

    /**
     * Run customer list upload
     * &lt;a href&#x3D;\&quot;/docs/getting-started/using-beta-and-restricted-features/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Closed beta&lt;/a&gt; &lt;p&gt;Begin processing a customer list upload.&lt;/p&gt;
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param customerListId Unique identifier of a customer list (required)
     * @param customerListUploadId Unique identifier of a customer list upload (required)
     * @return CustomerListUploadResponse
     */
    @Post(uri="/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}/run")
    @Consumes({"application/json"})
    Mono<CustomerListUploadResponse> customerListUploadsRun(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="customer_list_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String customerListId, 
        @PathVariable(name="customer_list_upload_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String customerListUploadId
    );

}
