/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.CustomerListUpload;
import org.openapitools.model.CustomerListUploadCreateRequest;
import org.openapitools.model.CustomerListUploadCreateResponse;
import org.openapitools.model.PinterestLibError;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface CustomerListUploadsApi {
    /**
     * Create customer list upload
     * Create a customer list upload request for multipart S3 upload.  Note: Each part must be at least 5mb; however the last part can be any size greater than 0. Clients with smaller files can request a single part count. This minimal part size restriction is defined by the AWS S3 API.  **Please review the [update customer list endpoint](/docs/api/v5/customer_lists-update/) documentation for additional information.**
     *
     * @param adAccountId  (required)
     * @param customerListId Customer list ID. (required)
     * @param customerListUploadCreateRequest  (required)
     * @return CustomerListUploadCreateResponse
     */
    @Post(uri="/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<CustomerListUploadCreateResponse> customerListUploadsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="customer_list_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String customerListId, 
        @Body @NotNull @Valid CustomerListUploadCreateRequest customerListUploadCreateRequest
    );

    /**
     * Get customer list upload
     * Get the metadata for a given upload by its ID.
     *
     * @param adAccountId  (required)
     * @param customerListId Customer list ID. (required)
     * @param customerListUploadId Customer List Upload ID. (required)
     * @return CustomerListUpload
     */
    @Get(uri="/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}")
    @Consumes({"application/json"})
    Mono<CustomerListUpload> customerListUploadsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="customer_list_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String customerListId, 
        @PathVariable(name="customer_list_upload_id") @NotNull @Pattern(regexp="^\\d+$") String customerListUploadId
    );

    /**
     * Run customer list upload
     * Begin processing a customer list upload.
     *
     * @param adAccountId  (required)
     * @param customerListId Customer list ID. (required)
     * @param customerListUploadId Customer List Upload ID. (required)
     * @return CustomerListUpload
     */
    @Post(uri="/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}/run")
    @Consumes({"application/json"})
    Mono<CustomerListUpload> customerListUploadsRun(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="customer_list_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String customerListId, 
        @PathVariable(name="customer_list_upload_id") @NotNull @Pattern(regexp="^\\d+$") String customerListUploadId
    );

}
