/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.CustomerSegment;
import org.openapitools.model.CustomerSegmentCreate;
import org.openapitools.model.CustomerSegmentList200Response;
import org.openapitools.model.CustomerSegmentUpdateRequestUpdateWithRequiredBody;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PinterestLibPaginationOrder;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface CustomerSegmentApi {
    /**
     * Create customer segments
     * Customer segments allow advertisers to define existing customers for Pinterest Performance+ campaigns. Customer segments are made up of audience lists.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param customerSegmentCreate  (required)
     * @return CustomerSegment
     */
    @Post(uri="/ad_accounts/{ad_account_id}/customer_segments")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<CustomerSegment> customerSegmentCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid CustomerSegmentCreate customerSegmentCreate
    );

    /**
     * List customer segments
     * Get a list of the customer segments in the specified &#x60;ad_account_id&#x60;.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param includeSizing Include audience sizing in result or not (optional, default to false)
     * @param searchQuery Search query. Can contain pin description keywords or comma-separated pin IDs. (optional)
     * @return CustomerSegmentList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/customer_segments")
    @Consumes({"application/json"})
    Mono<CustomerSegmentList200Response> customerSegmentList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order, 
        @QueryValue(value="include_sizing", defaultValue="false") @Nullable Boolean includeSizing, 
        @QueryValue(value="search_query") @Nullable String searchQuery
    );

    /**
     * Update customer segments
     * Update the customer segment given advertiser ID and customer segment ID
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param customerSegmentUpdateRequestUpdateWithRequiredBody  (required)
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/customer_segments")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> customerSegmentUpdate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid CustomerSegmentUpdateRequestUpdateWithRequiredBody customerSegmentUpdateRequestUpdateWithRequiredBody
    );

}
