/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.LabelCreateRequest;
import org.openapitools.model.LabelUpdateRequest;
import org.openapitools.model.LabeledEntities;
import org.openapitools.model.LabeledEntitiesCreate;
import org.openapitools.model.LabelsList200Response;
import org.openapitools.model.LabelsResponse;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.QueryLabelEntityStatusesItems;
import org.openapitools.model.QueryLabelTypesItems;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface LabelsApi {
    /**
     * Apply label to entity
     *   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Apply a label to one or more campaigns.   Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/) in addition to campaigns.   Currently, you can apply **brand** and **custom** labels. Future releases will provide more options.    **Note:** You can only apply one brand label to a campaign. You can apply up to 30 custom labels to a campaign.
     *
     * @param adAccountId  (required)
     * @param labelId Label ID. (required)
     * @param labeledEntitiesCreate  (required)
     * @return LabeledEntities
     */
    @Post(uri="/ad_accounts/{ad_account_id}/labels/{label_id}/apply")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<LabeledEntities> labelsApply(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="label_id") @NotNull String labelId, 
        @Body @NotNull @Valid LabeledEntitiesCreate labeledEntitiesCreate
    );

    /**
     * Create labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Apply one or more labels to a campaign. Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/). Currently, you can apply brand and custom labels. Future releases will provide more options.  **Note:** You can only apply one brand label to a campaign. You can apply 30 custom labels to a campaign.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param labelCreateRequest  (required)
     * @return LabelsResponse
     */
    @Post(uri="/ad_accounts/{ad_account_id}/labels")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<LabelsResponse> labelsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid LabelCreateRequest labelCreateRequest
    );

    /**
     * List labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  See a list of labels for assets that your account owns, and filter the list by different criteria. If no filter is provided, it will default to labels associated with the ad account id.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param labelIds List of Label Ids to use to filter the results. (optional)
     * @param entityStatuses Label entity status (optional, default to ACTIVE)
     * @param labelTypes Label type. (optional, default to BRAND,CUSTOM)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return LabelsList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/labels")
    @Consumes({"application/json"})
    Mono<LabelsList200Response> labelsList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="campaign_ids") @Nullable @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")@Size(max = 18)String> campaignIds, 
        @QueryValue(value="label_ids") @Nullable @Size(min=1, max=250) List<@Pattern(regexp = "^\\d+$")@Size(max = 18)String> labelIds, 
        @QueryValue(value="entity_statuses", defaultValue="ACTIVE") @Nullable List<QueryLabelEntityStatusesItems> entityStatuses, 
        @QueryValue(value="label_types", defaultValue="BRAND,CUSTOM") @Nullable List<QueryLabelTypesItems> labelTypes, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Remove label from entities
     *   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Remove a label from one or more entities.
     *
     * @param adAccountId  (required)
     * @param labelId Label ID. (required)
     * @param labeledEntitiesCreate  (required)
     * @return LabeledEntities
     */
    @Post(uri="/ad_accounts/{ad_account_id}/labels/{label_id}/remove")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<LabeledEntities> labelsRemove(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="label_id") @NotNull String labelId, 
        @Body @NotNull @Valid LabeledEntitiesCreate labeledEntitiesCreate
    );

    /**
     * Update labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Change the properties of one or more labels.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param labelUpdateRequest  (required)
     * @return LabelsResponse
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/labels")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<LabelsResponse> labelsUpdate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid LabelUpdateRequest labelUpdateRequest
    );

}
