/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AdAccountsSubscriptionsGetList200Response;
import org.openapitools.model.LeadSubscription;
import org.openapitools.model.LeadSubscriptionPostParamsCreate;
import org.openapitools.model.PinterestLibError;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface LeadAdsApi {
    /**
     * Delete lead ads subscription
     * Delete an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.&#39;
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param subscriptionId Unique identifier of a subscription. (required)
     * @return LeadSubscription
     */
    @Delete(uri="/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}")
    @Consumes({"application/json"})
    Mono<LeadSubscription> adAccountsSubscriptionsDelById(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="subscription_id") @NotNull @Pattern(regexp="^\\d+$") String subscriptionId
    );

    /**
     * Get lead ads subscription by ID
     * Get an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.&#39;
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param subscriptionId Unique identifier of a subscription. (required)
     * @return LeadSubscription
     */
    @Get(uri="/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}")
    @Consumes({"application/json"})
    Mono<LeadSubscription> adAccountsSubscriptionsGetById(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="subscription_id") @NotNull @Pattern(regexp="^\\d+$") String subscriptionId
    );

    /**
     * Get lead ads subscriptions
     * Get the advertiser&#39;s list of lead ads subscriptions. Only requests for the OWNER or ADMIN of the ad_account will be allowed.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @return AdAccountsSubscriptionsGetList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/leads/subscriptions")
    @Consumes({"application/json"})
    Mono<AdAccountsSubscriptionsGetList200Response> adAccountsSubscriptionsGetList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize
    );

    /**
     * Create lead ads subscription
     * Create a lead ads webhook subscription. Subscriptions allow Pinterest to deliver lead data from Ads Manager directly to the subscriber. Subscriptions can exist for a specific lead form or at ad account level.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.   - Advertisers can set up multiple integrations using ad_account_id + lead_form_id but only one integration per unique records.   - For data security, egress lead data is encrypted with AES-256-GCM.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param leadSubscriptionPostParamsCreate  (required)
     * @return LeadSubscription
     */
    @Post(uri="/ad_accounts/{ad_account_id}/leads/subscriptions")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<LeadSubscription> adAccountsSubscriptionsPost(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Valid LeadSubscriptionPostParamsCreate leadSubscriptionPostParamsCreate
    );

}
