/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.LeadForm;
import org.openapitools.model.LeadFormBatchUpdate;
import org.openapitools.model.LeadFormCreate;
import org.openapitools.model.LeadFormTest;
import org.openapitools.model.LeadFormTestCreate;
import org.openapitools.model.LeadFormsCreate200Response;
import org.openapitools.model.LeadFormsList200Response;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PinterestLibPaginationOrder;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface LeadFormsApi {
    /**
     * Get lead form by id
     * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Gets a lead form given it&#39;s ID. It must also be associated with the provided ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
     *
     * @param leadFormId The ID of this lead form (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return LeadForm
     */
    @Get(uri="/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}")
    @Consumes({"application/json"})
    Mono<LeadForm> leadFormGet(
        @PathVariable(name="lead_form_id") @NotNull @Pattern(regexp="^\\d+$") String leadFormId, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Create lead form test data
     * Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.
     *
     * @param adAccountId  (required)
     * @param leadFormId Unique identifier of a lead form. (required)
     * @param leadFormTestCreate  (required)
     * @return LeadFormTest
     */
    @Post(uri="/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}/test")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<LeadFormTest> leadFormTestCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="lead_form_id") @NotNull @Pattern(regexp="^\\d+$") String leadFormId, 
        @Body @NotNull @Valid LeadFormTestCreate leadFormTestCreate
    );

    /**
     * Create lead forms
     * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Create lead forms. Lead forms are used in lead ads and allow you to control what text appears on the lead form&#39;s description, questions and confirmation sections.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param leadFormCreate  (required)
     * @return LeadFormsCreate200Response
     */
    @Post(uri="/ad_accounts/{ad_account_id}/lead_forms")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<LeadFormsCreate200Response> leadFormsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Size(min=1, max=30) List<@Valid LeadFormCreate> leadFormCreate
    );

    /**
     * List lead forms
     * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  List lead forms associated with an ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @return LeadFormsList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/lead_forms")
    @Consumes({"application/json"})
    Mono<LeadFormsList200Response> leadFormsList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order
    );

    /**
     * Update lead forms
     * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Update lead forms. Lead ads help you reach people who are actively looking for, and interested in, your goods and services. The lead form can be associated with an ad to allow people to fill out the form.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param leadFormBatchUpdate  (required)
     * @return LeadFormsCreate200Response
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/lead_forms")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<LeadFormsCreate200Response> leadFormsUpdate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Size(min=1, max=30) List<@Valid LeadFormBatchUpdate> leadFormBatchUpdate
    );

}
