/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.ProductTagsBulkAddRequest;
import org.openapitools.model.ProductTagsBulkDeleteRequest;
import org.openapitools.model.ProductTagsError;
import org.openapitools.model.ProductTagsResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ProductTagsApi {
    /**
     * Add product tags to pin
     * Add product tags to a pin. Product tags allow you to tag product pins onto a hero pin. - Maximum 24 product tags can be added in a single request. - Duplicate pin_ids in the request will result in an error. - If any product tag fails eligibility check, the entire request fails (all-or-nothing). - If a product tag is already tagged on the pin, it is treated as a no-op success.
     *
     * @param pinId Unique identifier of the hero pin that will receive product tags. (required)
     * @param productTagsBulkAddRequest  (required)
     * @return ProductTagsResponse
     */
    @Post(uri="/pins/{pin_id}/product_tags")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ProductTagsResponse> productTagsBulkAdd(
        @PathVariable(name="pin_id") @NotNull @Pattern(regexp="^\\d+$") String pinId, 
        @Body @NotNull @Valid ProductTagsBulkAddRequest productTagsBulkAddRequest
    );

    /**
     * Delete product tags from pin
     * Delete product tags from a pin. - If a product tag is not found on the pin, it is treated as a no-op success.
     *
     * @param pinId Unique identifier of the hero pin that will receive product tags. (required)
     * @param productTagsBulkDeleteRequest  (required)
     */
    @Post(uri="/pins/{pin_id}/product_tags/bulk-delete")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> productTagsBulkDelete(
        @PathVariable(name="pin_id") @NotNull @Pattern(regexp="^\\d+$") String pinId, 
        @Body @NotNull @Valid ProductTagsBulkDeleteRequest productTagsBulkDeleteRequest
    );

    /**
     * Get product tags for pin
     * Retrieve all product tags for a pin. - Returns an empty array if the pin has no product tags.
     *
     * @param pinId Unique identifier of the hero pin that will receive product tags. (required)
     * @return ProductTagsResponse
     */
    @Get(uri="/pins/{pin_id}/product_tags")
    @Consumes({"application/json"})
    Mono<ProductTagsResponse> productTagsList(
        @PathVariable(name="pin_id") @NotNull @Pattern(regexp="^\\d+$") String pinId
    );

}
