/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.Error;
import org.openapitools.model.PromotionCreateRequest;
import org.openapitools.model.PromotionResponse;
import org.openapitools.model.PromotionUpdateRequest;
import org.openapitools.model.PromotionsList200Response;
import org.openapitools.model.PromotionsResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-31T04:51:38.486025089Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface PromotionsApi {
    /**
     * Create promotions
     * Create multiple new promotions.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param promotionCreateRequest List of promotions to create, size limit [1, 30]. (required)
     * @return PromotionsResponse
     */
    @Post(uri="/ad_accounts/{ad_account_id}/promotions")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<PromotionsResponse> promotionsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Size(min=1, max=30) List<@Valid PromotionCreateRequest> promotionCreateRequest
    );

    /**
     * Delete promotion by id
     * Delete a promotion within Pinterest.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param promotionId Unique identifier of a promotion (required)
     */
    @Delete(uri="/ad_accounts/{ad_account_id}/promotions/{promotion_id}")
    @Consumes({"application/json"})
    Mono<Void> promotionsDelete(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="promotion_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String promotionId
    );

    /**
     * Get promotion by id
     * Get a promotion by its Pinterest-specific id. It must be associated with the provided ad account id.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param promotionId Unique identifier of a promotion (required)
     * @return PromotionResponse
     */
    @Get(uri="/ad_accounts/{ad_account_id}/promotions/{promotion_id}")
    @Consumes({"application/json"})
    Mono<PromotionResponse> promotionsGet(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @PathVariable(name="promotion_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String promotionId
    );

    /**
     * Get promotions
     * Gets all promotions associated with an ad account ID that can be applied to an ad group. Can be either internally-saved promotions or external promotions imported from a commerce integration.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @return PromotionsList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/promotions")
    @Consumes({"application/json"})
    Mono<PromotionsList200Response> promotionsList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable String order, 
        @QueryValue(value="bookmark") @Nullable String bookmark
    );

    /**
     * Update promotions
     * Update multiple promotions.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param promotionUpdateRequest List of promotions to create, size limit [1, 30]. (required)
     * @return PromotionsResponse
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/promotions")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<PromotionsResponse> promotionsUpdate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Size(min=1, max=30) List<@Valid PromotionUpdateRequest> promotionUpdateRequest
    );

}
