/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PinterestLibPaginationOrder;
import org.openapitools.model.Promotion;
import org.openapitools.model.PromotionBatchUpdate;
import org.openapitools.model.PromotionCreate;
import org.openapitools.model.PromotionsList200Response;
import org.openapitools.model.PromotionsResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface PromotionsApi {
    /**
     * Create promotions
     * Create multiple new promotions.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param promotionCreate  (required)
     * @return PromotionsResponse
     */
    @Post(uri="/ad_accounts/{ad_account_id}/promotions")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<PromotionsResponse> promotionsCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Size(min=1, max=30) List<@Valid PromotionCreate> promotionCreate
    );

    /**
     * Delete promotion by id
     * Delete a promotion within Pinterest.
     *
     * @param promotionId Promotion ID (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return Promotion
     */
    @Delete(uri="/ad_accounts/{ad_account_id}/promotions/{promotion_id}")
    @Consumes({"application/json"})
    Mono<Promotion> promotionsDelete(
        @PathVariable(name="promotion_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String promotionId, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Get promotion by id
     * Get a promotion by its Pinterest-specific id. It must be associated with the provided ad account id.
     *
     * @param promotionId Promotion ID (required)
     * @param adAccountId Unique identifier of an ad account. (required)
     * @return Promotion
     */
    @Get(uri="/ad_accounts/{ad_account_id}/promotions/{promotion_id}")
    @Consumes({"application/json"})
    Mono<Promotion> promotionsGet(
        @PathVariable(name="promotion_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String promotionId, 
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId
    );

    /**
     * Get promotions
     * Gets all promotions associated with an ad account ID that can be applied to an ad group. Can be either internally-saved promotions or external promotions imported from a commerce integration.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @return PromotionsList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/promotions")
    @Consumes({"application/json"})
    Mono<PromotionsList200Response> promotionsList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order
    );

    /**
     * Update promotions
     * Update multiple promotions.
     *
     * @param adAccountId Unique identifier of an ad account. (required)
     * @param promotionBatchUpdate  (required)
     * @return PromotionsResponse
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/promotions")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<PromotionsResponse> promotionsUpdate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull @Size(min=1, max=30) List<@Valid PromotionBatchUpdate> promotionBatchUpdate
    );

}
