/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AdAccountCountriesGet200Response;
import org.openapitools.model.BookClosed;
import org.openapitools.model.DeliveryMetricsGet200Response;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PublicTargetingType;
import org.openapitools.model.ReportType;
import org.openapitools.model.SingleInterestTargetingOption;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ResourcesApi {
    /**
     * Get ad accounts countries
     * Get Ad Accounts countries
     *
     * @return AdAccountCountriesGet200Response
     */
    @Get(uri="/resources/ad_account_countries")
    @Consumes({"application/json"})
    Mono<AdAccountCountriesGet200Response> adAccountCountriesGet();

    /**
     * Get available metrics&#39; definitions
     * Get the definitions for ads and organic metrics available across both synchronous and asynchronous report endpoints. The &#x60;display_name&#x60; attribute will match how the metric is named in our native tools like Ads Manager. See [Organic Analytics](/docs/api-features/analytics-overview/) and [Ads Analytics](/docs/api-features/ads-reporting/) for more information.
     *
     * @param reportType Report type. (optional)
     * @return DeliveryMetricsGet200Response
     */
    @Get(uri="/resources/delivery_metrics")
    @Consumes({"application/json"})
    Mono<DeliveryMetricsGet200Response> deliveryMetricsGet(
        @QueryValue(value="report_type") @Nullable ReportType reportType
    );

    /**
     * Get interest details
     * Get details of a specific interest given interest ID.  Click [here](https://docs.google.com/spreadsheets/d/1HxL-0Z3p2fgxis9YBP2HWC3tvPrs1hAuHDRtH-NJTIM/edit#gid&#x3D;118370875) for a spreadsheet listing interests and their IDs.
     *
     * @param interestId Unique identifier of an interest. (required)
     * @return SingleInterestTargetingOption
     */
    @Get(uri="/resources/targeting/interests/{interest_id}")
    @Consumes({"application/json"})
    Mono<SingleInterestTargetingOption> interestTargetingOptionsGet(
        @PathVariable(name="interest_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String interestId
    );

    /**
     * Get lead form questions
     * Get a list of all lead form question type names. Some questions might not be used.  **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     *
     */
    @Get(uri="/resources/lead_form_questions")
    @Consumes({"application/json"})
    Mono<Void> leadFormQuestionsGet();

    /**
     * Get metrics ready state
     * Learn whether conversion or non-conversion metrics are finalized and ready to query.
     *
     * @param date Analytics reports request date (UTC). Format: YYYY-MM-DD (required)
     * @return BookClosed
     */
    @Get(uri="/resources/metrics_ready_state")
    @Consumes({"application/json"})
    Mono<BookClosed> metricsReadyStateGet(
        @QueryValue(value="date") @NotNull @Pattern(regexp="^\\d{4}-\\d{2}-\\d{2}$") String date
    );

    /**
     * Get targeting options
     *     You can use targeting values in ads placement to define your intended audience.      Targeting metrics are organized around targeting specifications.      For more information on ads targeting, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting).      **Sample return:**      &#x60;&#x60;&#x60;     [{\&quot;36313\&quot;: \&quot;Australia: Moreton Bay - North\&quot;, \&quot;124735\&quot;: \&quot;Canada: North Battleford\&quot;, \&quot;36109\&quot;: \&quot;Australia: Murray\&quot;, \&quot;36108\&quot;: \&quot;Australia: Mid North Coast\&quot;, \&quot;36101\&quot;: \&quot;Australia: Capital Region\&quot;, \&quot;811\&quot;: \&quot;U.S.: Reno\&quot;, \&quot;36103\&quot;: \&quot;Australia: Central West\&quot;, \&quot;36102\&quot;: \&quot;Australia: Central Coast\&quot;, \&quot;36105\&quot;: \&quot;Australia: Far West and Orana\&quot;, \&quot;36104\&quot;: \&quot;Australia: Coffs Harbour - Grafton\&quot;, \&quot;36107\&quot;: \&quot;Australia: Illawarra\&quot;, \&quot;36106\&quot;: \&quot;Australia: Hunter Valley Exc Newcastle\&quot;, \&quot;554017\&quot;: \&quot;New Zealand: Wanganui\&quot;, \&quot;554016\&quot;: \&quot;New Zealand: Marlborough\&quot;, \&quot;554015\&quot;: \&quot;New Zealand: Gisborne\&quot;, \&quot;554014\&quot;: \&quot;New Zealand: Tararua\&quot;, \&quot;554013\&quot;: \&quot;New Zealand: Invercargill\&quot;, \&quot;GR\&quot;: \&quot;Greece\&quot;, \&quot;554011\&quot;: \&quot;New Zealand: Whangarei\&quot;, \&quot;554010\&quot;: \&quot;New Zealand: Far North\&quot;, \&quot;717\&quot;: \&quot;U.S.: Quincy-Hannibal-Keokuk\&quot;, \&quot;716\&quot;: \&quot;U.S.: Baton Rouge\&quot;,...}]     &#x60;&#x60;&#x60;
     *
     * @param targetingType Public targeting type (required)
     * @param adAccountId Unique identifier of an ad account. (optional)
     * @param clientId Client ID (optional)
     * @param oauthSignature Oauth signature (optional)
     * @param timestamp Timestamp. (optional)
     * @return List&lt;Object&gt;
     */
    @Get(uri="/resources/targeting/{targeting_type}")
    @Consumes({"application/json"})
    Mono<List<Object>> targetingOptionsGet(
        @PathVariable(name="targeting_type") @NotNull PublicTargetingType targetingType, 
        @QueryValue(value="ad_account_id") @Nullable @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="client_id") @Nullable @Pattern(regexp="^\\d+$") @Size(max=18) String clientId, 
        @QueryValue(value="oauth_signature") @Nullable String oauthSignature, 
        @QueryValue(value="timestamp") @Nullable @Pattern(regexp="\\d+") String timestamp
    );

}
