/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.PinterestLibPaginationOrder;
import org.openapitools.model.Schedule;
import org.openapitools.model.ScheduleBatchUpdate;
import org.openapitools.model.ScheduleCreate;
import org.openapitools.model.ScheduleStatus;
import org.openapitools.model.ScheduleType;
import org.openapitools.model.SchedulesCreate200ResponseInner;
import org.openapitools.model.SchedulesList200Response;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface SchedulesApi {
    /**
     * Create schedules
     * Batch create schedules
     *
     * @param adAccountId  (required)
     * @param scheduleCreate  (required)
     * @return List&lt;SchedulesCreate200ResponseInner&gt;
     */
    @Post(uri="/ad_accounts/{ad_account_id}/schedules")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<List<SchedulesCreate200ResponseInner>> schedulesCreate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull List<@Valid ScheduleCreate> scheduleCreate
    );

    /**
     * Get Schedules
     * Get schedules for a specific advertiser
     *
     * @param adAccountId  (required)
     * @param entityIds List of Entity IDs, must be associated with the Ad Accound ID provided in the path. (required)
     * @param bookmark Cursor used to fetch the next page of items (optional)
     * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param scheduleStatuses Filter schedules by status (one or more) (optional)
     * @param scheduleType Filter schedules by a type (optional)
     * @return SchedulesList200Response
     */
    @Get(uri="/ad_accounts/{ad_account_id}/schedules")
    @Consumes({"application/json"})
    Mono<SchedulesList200Response> schedulesList(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @QueryValue(value="entity_ids") @NotNull @Size(min=1) List<@Pattern(regexp = "^\\d+$")String> entityIds, 
        @QueryValue(value="bookmark") @Nullable String bookmark, 
        @QueryValue(value="page_size", defaultValue="25") @Nullable @Min(1) @Max(250) Integer pageSize, 
        @QueryValue(value="order") @Nullable PinterestLibPaginationOrder order, 
        @QueryValue(value="schedule_statuses") @Nullable List<ScheduleStatus> scheduleStatuses, 
        @QueryValue(value="schedule_type") @Nullable ScheduleType scheduleType
    );

    /**
     * Update schedules
     * Update one or more schedules
     *
     * @param adAccountId  (required)
     * @param scheduleBatchUpdate  (required)
     * @return List&lt;SchedulesCreate200ResponseInner&gt;
     */
    @Patch(uri="/ad_accounts/{ad_account_id}/schedules")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<List<SchedulesCreate200ResponseInner>> schedulesUpdate(
        @PathVariable(name="ad_account_id") @NotNull @Pattern(regexp="^\\d+$") @Size(max=18) String adAccountId, 
        @Body @NotNull List<@Valid ScheduleBatchUpdate> scheduleBatchUpdate
    );

}
