/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AgeTrendsBucket;
import org.openapitools.model.FeaturedTrend;
import org.openapitools.model.GenderBucket;
import org.openapitools.model.InterestsEnum;
import org.openapitools.model.PinterestLibError;
import org.openapitools.model.ProductCategoriesEngagementType;
import org.openapitools.model.ProductCategoryDetailLookbackWindow;
import org.openapitools.model.ProductCategoryDetails;
import org.openapitools.model.ProductCategoryEnum;
import org.openapitools.model.ProductCategoryRegion;
import org.openapitools.model.TrendingProductCategory;
import org.openapitools.model.TrendsEditorial;
import org.openapitools.model.VerticalProductCategory;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-08-30T09:52:25.786802743Z[Etc/UTC]", comments = "Generator version: 7.24.0")
@Client("${openapi-micronaut-client-base-path}")
public interface TrendsApi {
    /**
     * Returns editorial articles for a given region
     *   Get a list of published editorial articles. Translations of the editorials will be provided if available; otherwise, the default language will be English.
     *
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     * @return List&lt;TrendsEditorial&gt;
     */
    @Get(uri="/trends/editorial_articles")
    @Consumes({"application/json"})
    Mono<List<TrendsEditorial>> trendsEditorialArticlesList(
        @QueryValue(value="region") @NotNull ProductCategoryRegion region
    );

    /**
     * Get featured topics
     *   Enables advertisers to pull top five trending topics by interest and market, at full parity with the Pinterest Trends UI.
     *
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     * @param interest Interest to filter by (optional)
     * @return List&lt;FeaturedTrend&gt;
     */
    @Get(uri="/trends/topics/featured")
    @Consumes({"application/json"})
    Mono<List<FeaturedTrend>> trendsFeaturedTopicsList(
        @QueryValue(value="region") @NotNull ProductCategoryRegion region, 
        @QueryValue(value="interest") @Nullable InterestsEnum interest
    );

    /**
     * Get product category details
     *   Enables advertisers to retrieve demographic information, related pins, and trend lines for specified product categories
     *
     * @param productCategories List of product categories (required)
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     * @param lookbackWindow   Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - &#x60;90&#x60; - Last 90 days (3 months)   - &#x60;180&#x60; - Last 180 days (6 months)   - &#x60;365&#x60; - Last 365 days (1 year)   - &#x60;730&#x60; - Last 730 days (2 years) (optional)
     * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     * @return List&lt;ProductCategoryDetails&gt;
     */
    @Get(uri="/trends/product_categories/details")
    @Consumes({"application/json"})
    Mono<List<ProductCategoryDetails>> trendsProductCategoriesDetailsList(
        @QueryValue(value="product_categories") @NotNull @Size(min=1, max=20) List<ProductCategoryEnum> productCategories, 
        @QueryValue(value="region") @NotNull ProductCategoryRegion region, 
        @QueryValue(value="lookback_window") @Nullable ProductCategoryDetailLookbackWindow lookbackWindow, 
        @QueryValue(value="engagement_type") @Nullable ProductCategoriesEngagementType engagementType
    );

    /**
     * Get a list of growing Shopping Product Categories
     *   Get a list of growing Shopping Product Categories in ranked order allowing filtering by engagement type, vertical, age, and gender.
     *
     * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     * @param verticals List of verticals to filter by (optional)
     * @param ages Age to filter by. If not provided, the results will be filtered by all ages. (optional)
     * @param genders Gender to filter by, If not provided, the results will be filtered by all genders. (optional)
     * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     * @return List&lt;TrendingProductCategory&gt;
     */
    @Get(uri="/trends/product_categories/trending")
    @Consumes({"application/json"})
    Mono<List<TrendingProductCategory>> trendsProductCategoriesTrendingList(
        @QueryValue(value="region") @NotNull ProductCategoryRegion region, 
        @QueryValue(value="verticals") @Nullable List<VerticalProductCategory> verticals, 
        @QueryValue(value="ages") @Nullable List<AgeTrendsBucket> ages, 
        @QueryValue(value="genders") @Nullable List<GenderBucket> genders, 
        @QueryValue(value="engagement_type") @Nullable ProductCategoriesEngagementType engagementType
    );

}
