{
  "openapi" : "3.0.3",
  "info" : {
    "contact" : {
      "email" : "blah+oapicf@cliffano.com",
      "name" : "OpenAPI Clients Factory",
      "url" : "https://github.com/oapicf/pinterest-sdk"
    },
    "description" : "Pinterest's REST API",
    "license" : {
      "name" : "MIT",
      "url" : "https://spdx.org/licenses/MIT"
    },
    "termsOfService" : "https://developers.pinterest.com/terms/",
    "title" : "Pinterest REST API",
    "version" : "5.28.0"
  },
  "servers" : [ {
    "url" : "https://api.pinterest.com/v5"
  } ],
  "tags" : [ {
    "description" : "Connect Pinterest users to external platform accounts.",
    "name" : "account_claiming"
  }, {
    "description" : "View analytical information about advertising.\n\nNote: If the current operation_user_account (defined by the access token)\nhas access to another user's Ad Accounts via\n<a href='/docs/getting-started/using-business-access/'>Pinterest Business Access</a>,\nyou can modify your request to use the current operation_user_account's\npermissions to those Ad Accounts by including the ad_account_id in the path\nparameters for the request (e.g. .../?ad_account_id=12345&...).",
    "name" : "ad_accounts"
  }, {
    "description" : "View, create or update ad groups.",
    "name" : "ad_groups"
  }, {
    "description" : "View, create or update ads.",
    "name" : "ads"
  }, {
    "description" : "View, create, or update advanced auction item bid options.",
    "name" : "advanced_auction"
  }, {
    "description" : "View audience insights.",
    "name" : "audience_insights"
  }, {
    "description" : "View, share, or revoke shared audiences.<br>\nAudience Sharing endpoints are not available to all apps,\nif you are interested in using them, reach out to us on our help center page.\n<a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.",
    "name" : "audience_sharing"
  }, {
    "description" : "View, create, or update audiences.",
    "name" : "audiences"
  }, {
    "description" : "View, create, or update information related to billing.",
    "name" : "billing"
  }, {
    "description" : "View, create, update, or delete information about boards.",
    "name" : "boards"
  }, {
    "description" : "Create, update, or download ads-related entities in bulk.",
    "name" : "bulk"
  }, {
    "description" : "View, create or update campaigns.",
    "name" : "campaigns"
  }, {
    "description" : "View and manage catalog feeds.",
    "name" : "catalog_feeds"
  }, {
    "description" : "View and manage catalog items directly without a feed.",
    "name" : "catalog_items"
  }, {
    "description" : "View and manage catalog product groups using filters.",
    "name" : "catalog_product_groups"
  }, {
    "description" : "View and manage catalog regions defined by sets of postal codes.",
    "name" : "catalog_regions"
  }, {
    "description" : "View and manage reports about catalogs.",
    "name" : "catalog_reports"
  }, {
    "description" : "View and manage catalog supplemental items.",
    "name" : "catalog_supplemental"
  }, {
    "description" : "Manage information about shopping product catalogs and items.",
    "name" : "catalogs"
  }, {
    "description" : "View, create, or delete conversion data deletion requests.",
    "name" : "conversion_deletion_requests"
  }, {
    "description" : "Get the Event Quality Score (EQS) of your conversion signals.",
    "name" : "conversion_eqs"
  }, {
    "description" : "Submit conversion events via the Pinterest API.",
    "name" : "conversion_events"
  }, {
    "name" : "conversion_segments"
  }, {
    "description" : "View, create, or update conversion tags.",
    "name" : "conversion_tags"
  }, {
    "description" : "View, create, or manage customer list uploads.",
    "name" : "customer_list_uploads"
  }, {
    "description" : "View, create, or update customer lists.",
    "name" : "customer_lists"
  }, {
    "description" : "View, create, or update customer segments.",
    "name" : "customer_segment"
  }, {
    "description" : "View, create, or update commerce integrations.",
    "name" : "integrations"
  }, {
    "description" : "View, create or update keywords.",
    "name" : "keywords"
  }, {
    "description" : "View, create, or update ad account labels.",
    "name" : "labels"
  }, {
    "description" : "View, create, or update lead ads.",
    "name" : "lead_ads"
  }, {
    "description" : "View lead forms.",
    "name" : "lead_forms"
  }, {
    "description" : "Create and export leads information from lead ads.",
    "name" : "leads_export"
  }, {
    "description" : "Register and manage media uploads.",
    "name" : "media"
  }, {
    "description" : "Submit Measurement Source of Truth attributed conversion events via the Pinterest API.",
    "name" : "msot_events"
  }, {
    "description" : "Send notifications.",
    "name" : "notification"
  }, {
    "description" : "Generate and refresh OAuth access tokens.",
    "name" : "oauth"
  }, {
    "name" : "opportunities"
  }, {
    "description" : "View order lines.",
    "name" : "order_lines"
  }, {
    "name" : "overlay_assignment_rules"
  }, {
    "name" : "overlays"
  }, {
    "description" : "View, create, update, or delete information about Pins.",
    "name" : "pins"
  }, {
    "description" : "View, create, update, or delete information about promoted product groups.",
    "name" : "product_group_promotions"
  }, {
    "description" : "Tag products to hero pins.",
    "name" : "product_tags"
  }, {
    "description" : "View, create, update, or delete promotions.",
    "name" : "promotions"
  }, {
    "name" : "resellers"
  }, {
    "description" : "View metadata about available metrics and targeting options in the Pinterest API.",
    "name" : "resources"
  }, {
    "description" : "Search for Pins and boards owned by the current user.",
    "name" : "search"
  }, {
    "description" : "View, create or update targeting templates.",
    "name" : "targeting_template"
  }, {
    "description" : "View related and suggested terms for ads targeting.",
    "name" : "terms"
  }, {
    "description" : "View Advertising Terms Of Service.",
    "name" : "terms_of_service"
  }, {
    "description" : "View trending terms, topics, and product categories.",
    "name" : "trends"
  }, {
    "description" : "View user accounts associated with a given access token.",
    "name" : "user_account"
  } ],
  "paths" : {
    "/ad_accounts" : {
      "get" : {
        "description" : "Get a list of the ad_accounts that the \"operation user_account\" has access to.\n        - This includes ad_accounts they own and ad_accounts that are owned by others who have granted them [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts).",
        "operationId" : "ad_accounts/list",
        "parameters" : [ {
          "description" : "Include shared ad accounts",
          "explode" : true,
          "in" : "query",
          "name" : "include_shared_accounts",
          "required" : false,
          "schema" : {
            "default" : true,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page.\nSee documentation on [Pagination](/docs/reference/pagination/) for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 250,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ad_accounts_list_200_response"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        }, {
          "client_credentials" : [ "ads:read" ]
        } ],
        "summary" : "List ad accounts",
        "tags" : [ "ad_accounts" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled",
        "x-accepts" : [ "application/json" ]
      },
      "post" : {
        "description" : "Create a new ad account. Different ad accounts can support different currencies, payment methods, etc.\nAn ad account is needed to create campaigns, ad groups, and ads; other accounts (your employees or partners) can be assigned business access and appropriate roles to access an ad account.\n\nYou can set up up to 50 ad accounts per user. (The user must have a business account to create an ad account.)\nFor more, see [Create an advertiser account](https://help.pinterest.com/en/business/article/create-an-advertiser-account).",
        "operationId" : "ad_accounts/create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdAccountCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdAccount"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdAccount"
                }
              }
            },
            "description" : "Resource create operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Create ad account",
        "tags" : [ "ad_accounts" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled",
        "x-content-type" : "application/json",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}" : {
      "get" : {
        "description" : "Get an ad account",
        "operationId" : "ad_accounts/get",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdAccount"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        }, {
          "client_credentials" : [ "ads:read" ]
        } ],
        "summary" : "Get ad account",
        "tags" : [ "ad_accounts" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups" : {
      "get" : {
        "description" : "List ad groups based on provided campaign IDs or ad group IDs.(campaign_ids or ad_group_ids).\n**Note:** Provide only campaign_id or ad_group_id. Do not provide both.",
        "operationId" : "ad_groups/list",
        "parameters" : [ {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page.\nSee documentation on [Pagination](/docs/reference/pagination/) for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 250,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID.\nNote that higher-value IDs are associated with more-recently added items.",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Pinterest.Lib.PaginationOrder"
          },
          "style" : "form"
        }, {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "List of Campaign Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "campaign_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/CampaignIdType"
            },
            "maxItems" : 250,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_group_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/Pinterest.Lib.IntegerFormatType"
            },
            "maxItems" : 250,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Entity status",
          "explode" : true,
          "in" : "query",
          "name" : "entity_statuses",
          "required" : false,
          "schema" : {
            "default" : [ "ACTIVE", "PAUSED" ],
            "items" : {
              "$ref" : "#/components/schemas/EntityStatus"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Return interests as text names (if value is true) rather than topic IDs.",
          "explode" : true,
          "in" : "query",
          "name" : "translate_interests_to_names",
          "required" : false,
          "schema" : {
            "default" : false,
            "type" : "boolean"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ad_groups_list_200_response"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        }, {
          "client_credentials" : [ "ads:read" ]
        } ],
        "summary" : "List ad groups",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled",
        "x-accepts" : [ "application/json" ]
      },
      "patch" : {
        "description" : "Update multiple existing ad groups.",
        "operationId" : "ad_groups/update",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdGroupBatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ad_groups_create_200_response"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Update ad groups",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled",
        "x-content-type" : "application/json",
        "x-accepts" : [ "application/json" ]
      },
      "post" : {
        "description" : "Create multiple new ad groups. All ads in a given ad group will have the same budget, bid, run dates, targeting, and placement (search, browse, other).\n\nFor more information, [click here](https://help.pinterest.com/en/business/article/campaign-structure).\n\n**Notes:**\n- `bid_in_micro_currency` and `budget_in_micro_currency` should be expressed in microcurrency amounts based on the currency field set in the advertiser's profile.\n\nMicrocurrency is used to track very small transactions, based on the currency set in the advertiser's profile. A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser's profile.\n\n**Equivalency equations**, using dollars as an example currency:\n- $1 = 1,000,000 microdollars\n- 1 microdollar = $0.000001\n\n**To convert between currency and microcurrency**, using dollars as an example currency:\n- To convert dollars to microdollars, multiply dollars by 1,000,000\n- To convert microdollars to dollars, divide microdollars by 1,000,000\n\n- Ad groups belong to ad campaigns. Some types of campaigns (e.g. budget optimization) have limits on the number of ad groups they can hold. If you exceed those limits, you will get an error message.\n- Certain organizations with [closed beta](/docs/getting-started/using-beta-and-restricted-features/) access can set `start_time` and `end_time` at the ad group level for campaigns with Campaign Budget Optimization (CBO) objectives: `TRAFFIC`, `AWARENESS`, `WEB_CONVERSIONS`, and `CATALOG_SALES`. All other organizations can set these scheduling parameters for non-CBO campaigns only.\n- If the parent ad campaign has start and end times set, ad group start and end times must occur within the parent campaign schedule.",
        "operationId" : "ad_groups/create",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdGroupBatchCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ad_groups_create_200_response"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Create ad groups",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled",
        "x-content-type" : "application/json",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/analytics" : {
      "get" : {
        "description" : "Get analytics for the specified ad groups in the specified `ad_account_id`, filtered by the specified options.\n\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.\n- If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.\n- If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.",
        "operationId" : "ad_groups/analytics",
        "parameters" : [ {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "List of Ad group Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_group_ids",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/AdGroupIdType"
            },
            "maxItems" : 250,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.\n\nFor example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).\n\nIf a column has no value, it may not be returned.",
          "explode" : false,
          "in" : "query",
          "name" : "columns",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/ReportingColumnSync"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "  TOTAL - metrics are aggregated over the specified date range.\n\n  DAY - metrics are broken down daily.\n\n  HOUR - metrics are broken down hourly.\n\n  WEEK - metrics are broken down weekly.\n\n  MONTH - metrics are broken down monthly",
          "explode" : true,
          "in" : "query",
          "name" : "granularity",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Granularity"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "explode" : true,
          "in" : "query",
          "name" : "click_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.",
          "explode" : true,
          "in" : "query",
          "name" : "engagement_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.",
          "explode" : true,
          "in" : "query",
          "name" : "view_window_days",
          "required" : false,
          "schema" : {
            "default" : 1,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.",
          "explode" : true,
          "in" : "query",
          "name" : "conversion_report_time",
          "required" : false,
          "schema" : {
            "default" : "TIME_OF_AD_ACTION",
            "enum" : [ "TIME_OF_AD_ACTION", "TIME_OF_CONVERSION" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Determines if report rows should be aggregated across all requested entities. This feature is currently in BETA and is not available to all users.",
          "explode" : true,
          "in" : "query",
          "name" : "aggregate_report_rows",
          "required" : false,
          "schema" : {
            "default" : false,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.",
          "explode" : true,
          "in" : "query",
          "name" : "reporting_timezone",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ReportingTimeZone"
          },
          "style" : "form"
        }, {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/AdGroupsAnalyticsMetrics"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        }, {
          "client_credentials" : [ "ads:read" ]
        } ],
        "summary" : "Get ad group analytics",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_analytics",
        "x-sandbox" : "enabled",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/audience_sizing" : {
      "post" : {
        "description" : "Get potential audience size for an ad group with given targeting criteria.\nPotential audience size estimates the number of people you may be able to reach per month with your campaign.\nIt is based on historical advertising data and the targeting criteria you select.\nIt does not guarantee results or take into account factors such as bid, budget, schedule, seasonality or product experiments.",
        "operationId" : "ad_groups/audience_sizing",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdGroupAudienceSizingCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdGroupAudienceSizing"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdGroupAudienceSizing"
                }
              }
            },
            "description" : "Resource create operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        }, {
          "client_credentials" : [ "ads:read" ]
        } ],
        "summary" : "Get audience sizing",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled",
        "x-content-type" : "application/json",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/targeting_analytics" : {
      "get" : {
        "description" : "Get targeting analytics for one or more ad groups. For the requested ad group(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \"age_bucket\") for applicable values (e.g. \"45-49\").\n\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.\n- If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.\n- If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.",
        "operationId" : "ad_groups_targeting_analytics/get",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "List of Ad group Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_group_ids",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/AdGroupIdType"
            },
            "maxItems" : 250,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\"AGE_BUCKET_AND_GENDER\", \"CREATIVE_ENHANCEMENTS\"] are in BETA and not yet available to all users.",
          "explode" : false,
          "in" : "query",
          "name" : "targeting_types",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/AdsAnalyticsAdGroupTargetingType"
            },
            "maxItems" : 14,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.\n\nFor example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).\n\nIf a column has no value, it may not be returned.",
          "explode" : false,
          "in" : "query",
          "name" : "columns",
          "required" : true,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/ReportingColumnSync"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "  TOTAL - metrics are aggregated over the specified date range.\n\n  DAY - metrics are broken down daily.\n\n  HOUR - metrics are broken down hourly.\n\n  WEEK - metrics are broken down weekly.\n\n  MONTH - metrics are broken down monthly",
          "explode" : true,
          "in" : "query",
          "name" : "granularity",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/Granularity"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.",
          "explode" : true,
          "in" : "query",
          "name" : "click_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.",
          "explode" : true,
          "in" : "query",
          "name" : "engagement_window_days",
          "required" : false,
          "schema" : {
            "default" : 30,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.",
          "explode" : true,
          "in" : "query",
          "name" : "view_window_days",
          "required" : false,
          "schema" : {
            "default" : 1,
            "enum" : [ 0, 1, 7, 14, 30, 60 ],
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.",
          "explode" : true,
          "in" : "query",
          "name" : "conversion_report_time",
          "required" : false,
          "schema" : {
            "default" : "TIME_OF_AD_ACTION",
            "enum" : [ "TIME_OF_AD_ACTION", "TIME_OF_CONVERSION" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "List of types of attribution for the conversion report",
          "explode" : false,
          "in" : "query",
          "name" : "attribution_types",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/ConversionReportAttributionType"
            },
            "maxItems" : 2,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.",
          "explode" : true,
          "in" : "query",
          "name" : "reporting_timezone",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ReportingTimeZone"
          },
          "style" : "form"
        }, {
          "description" : "Sort Columns.",
          "explode" : true,
          "in" : "query",
          "name" : "sort_columns",
          "required" : false,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "maxItems" : 2,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Sort ascending.",
          "explode" : true,
          "in" : "query",
          "name" : "sort_ascending",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetricsResponse"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        }, {
          "client_credentials" : [ "ads:read" ]
        } ],
        "summary" : "Get targeting analytics for ad groups",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_analytics",
        "x-sandbox" : "enabled",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}" : {
      "get" : {
        "description" : "Get a specific ad group given the ad group ID.",
        "operationId" : "ad_groups/get",
        "parameters" : [ {
          "description" : "Ad group ID.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_group_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdGroup"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        }, {
          "client_credentials" : [ "ads:read" ]
        } ],
        "summary" : "Get ad group",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles" : {
      "post" : {
        "description" : "Validate and process the uploaded dynamic titles review CSV. Returns validation errors if the CSV is invalid.",
        "operationId" : "ad_groups_dynamic_titles/process_csv",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Ad group ID.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_group_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DynamicTitlesProcessCSVCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DynamicTitlesProcessCSV"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DynamicTitlesProcessCSV"
                }
              }
            },
            "description" : "Resource create operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Process dynamic titles CSV",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "disabled",
        "x-content-type" : "application/json",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/csv" : {
      "get" : {
        "description" : "Get a presigned S3 download URL for the dynamic titles review CSV. Returns 400 if titles have not been generated yet.",
        "operationId" : "ad_groups_dynamic_titles/download_csv",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Ad group ID.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_group_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DynamicTitlesDownloadCSV"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get dynamic titles CSV download URL",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "disabled",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/status" : {
      "get" : {
        "description" : "Get dynamic titles generation status for an ad group, including whether titles are ready for review and counts of generated and reviewed titles.",
        "operationId" : "ad_groups_dynamic_titles/get_status",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Ad group ID.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_group_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DynamicTitlesGetStatus"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get dynamic titles status",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "disabled",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/uploads" : {
      "get" : {
        "description" : "Get a presigned S3 upload URL for the dynamic titles review CSV and a request_id for submission.",
        "operationId" : "ad_groups_dynamic_titles/get_upload_url",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Ad group ID.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_group_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DynamicTitlesUploadURL"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        } ],
        "summary" : "Get dynamic titles upload URL",
        "tags" : [ "ad_groups" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "disabled",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_previews" : {
      "post" : {
        "description" : "Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad.\n\nIf you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See [Ads Overview](https://help.pinterest.com/en/business/article/promoted-pins-overview).)\n\nYou can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires. Collection ads are not currently supported ad preview.",
        "operationId" : "ad_previews/create",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdPreviewRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdPreviewURLResponse"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdPreviewURLResponse"
                }
              }
            },
            "description" : "Resource create operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Create ad preview with pin or image",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled",
        "x-content-type" : "application/json",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ads" : {
      "get" : {
        "description" : "List ads that meet the filters provided:\n    - Listed campaign ids or ad group ids or ad ids\n    - Listed entity statuses\n\nIf no filter is provided, all ads in the ad account are returned.\n\n**Note:**\nProvide only `campaign_id` or `ad_group_id` or `ad_id`. Do not provide more than one type.\n\nReview status is provided for each ad; if `review_status` is `REJECTED`, the `rejected_reasons` field will contain additional information.\n\nFor more, see [Pinterest advertising standards](https://policy.pinterest.com/en/advertising-guidelines).",
        "operationId" : "ads/list",
        "parameters" : [ {
          "description" : "Cursor used to fetch the next page of items",
          "explode" : true,
          "in" : "query",
          "name" : "bookmark",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to include in a single page.\nSee documentation on [Pagination](/docs/reference/pagination/) for more information.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 25,
            "maximum" : 250,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID.\nNote that higher-value IDs are associated with more-recently added items.",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/Pinterest.Lib.PaginationOrder"
          },
          "style" : "form"
        }, {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "List of Campaign Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "campaign_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/CampaignIdType"
            },
            "maxItems" : 250,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_group_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/Pinterest.Lib.IntegerFormatType"
            },
            "maxItems" : 250,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "List of Ad Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/Pinterest.Lib.IntegerFormatType"
            },
            "maxItems" : 250,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Entity status",
          "explode" : true,
          "in" : "query",
          "name" : "entity_statuses",
          "required" : false,
          "schema" : {
            "default" : [ "ACTIVE", "PAUSED" ],
            "items" : {
              "$ref" : "#/components/schemas/EntityStatus"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ads_list_200_response"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:read" ]
        }, {
          "client_credentials" : [ "ads:read" ]
        } ],
        "summary" : "List ads",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_read",
        "x-sandbox" : "enabled",
        "x-accepts" : [ "application/json" ]
      },
      "patch" : {
        "description" : "Update multiple existing ads",
        "operationId" : "ads/update",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdBatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdBatchWriteResponseModel"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Update ads",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled",
        "x-content-type" : "application/json",
        "x-accepts" : [ "application/json" ]
      },
      "post" : {
        "description" : "Create multiple new ads. Request must contain ad_group_id, creative_type, and the source Pin pin_id.",
        "operationId" : "ads/create",
        "parameters" : [ {
          "description" : "Unique identifier of an ad account.",
          "explode" : false,
          "in" : "path",
          "name" : "ad_account_id",
          "required" : true,
          "schema" : {
            "maxLength" : 18,
            "pattern" : "^\\d+$",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdBatchCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdBatchWriteResponseModel"
                }
              }
            },
            "description" : "The request has succeeded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request could not be understood by the server due to unexpected data."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "Authentication is required and has either failed or not been provided."
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The requested resource could not be found on this server."
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "The user has sent too many requests in a given amount of time and is being rate limited."
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            },
            "description" : "An unexpected error response."
          }
        },
        "security" : [ {
          "pinterest_oauth2" : [ "ads:write" ]
        } ],
        "summary" : "Create ads",
        "tags" : [ "ads" ],
        "x-ratelimit-category" : "ads_write",
        "x-sandbox" : "enabled",
        "x-content-type" : "application/json",
        "x-accepts" : [ "application/json" ]
      }
    },
    "/ad_accounts/{ad_account_id}/ads/analytics" : {
      "get" : {
        "description" : "    Get analytics for the specified ads in the specified `ad_account_id`, filtered by the specified options.\n    - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.\n    - The request must contain either ad_ids or both campaign_ids and pin_ids.\n    - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.\n    - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.",
        "operationId" : "ads/analytics",
        "parameters" : [ {
          "description" : "List of Pin IDs.",
          "explode" : true,
          "in" : "query",
          "name" : "pin_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.",
          "explode" : true,
          "in" : "query",
          "name" : "start_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.",
          "explode" : true,
          "in" : "query",
          "name" : "end_date",
          "required" : true,
          "schema" : {
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "List of Ad Ids to use to filter the results.",
          "explode" : true,
          "in" : "query",
          "name" : "ad_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/Pinterest.Lib.IntegerFormatType"
            },
            "maxItems" : 250,
            "minItems" : 1,
            "type" : "array"
          },
          "style" : "form"
        }, {
[...]
