/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdAccount
import org.openapitools.client.model.AdAccountAnalyticsItems
import org.openapitools.client.model.AdAccountCreate
import org.openapitools.client.model.AdAccountsList200Response
import org.openapitools.client.model.AdsAnalyticsAccountTargetingType
import org.openapitools.client.model.AdsAnalyticsCreateAsyncRequest
import org.openapitools.client.model.AdsAnalyticsCreateAsyncResponse
import org.openapitools.client.model.AdsAnalyticsGetAsyncResponse
import java.math.BigDecimal
import org.openapitools.client.model.ConversionProductReport
import org.openapitools.client.model.ConversionProductReportCreate
import org.openapitools.client.model.ConversionReportAttributionType
import org.openapitools.client.model.Error
import org.openapitools.client.model.Granularity
import java.time.LocalDate
import org.openapitools.client.model.MMMReport
import org.openapitools.client.model.MMMReportCreate
import org.openapitools.client.model.MetricsResponse
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.model.ReportingColumnSync
import org.openapitools.client.model.ReportingTimeZone
import org.openapitools.client.model.TemplateBasedReport
import org.openapitools.client.model.TemplatesList200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AdAccountsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new AdAccountsApi(baseUrl)
}

class AdAccountsApi(baseUrl: String) {

  /**
   *   Get analytics for the specified `ad_account_id`, filtered by the specified options.    - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.    - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.    - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time.
   * 
   * Expected answers:
   *   code 200 : Seq[AdAccountAnalyticsItems] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.  For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.
   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly
   * @param adAccountId Unique identifier of an ad account.
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
   */
  def adAccountAnalytics(startDate: LocalDate, endDate: LocalDate, columns: Seq[ReportingColumnSync], granularity: Granularity, adAccountId: String, clickWindowDays: Option[BigDecimal] = None, engagementWindowDays: Option[BigDecimal] = None, viewWindowDays: Option[BigDecimal] = None, conversionReportTime: Option[String] = None, reportingTimezone: Option[ReportingTimeZone] = None): ApiRequest[Seq[AdAccountAnalyticsItems]] =
    ApiRequest[Seq[AdAccountAnalyticsItems]](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/analytics", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("columns", ArrayValues(columns, CSV))
      .withQueryParam("granularity", granularity)
      .withQueryParam("click_window_days", clickWindowDays)
      .withQueryParam("engagement_window_days", engagementWindowDays)
      .withQueryParam("view_window_days", viewWindowDays)
      .withQueryParam("conversion_report_time", conversionReportTime)
      .withQueryParam("reporting_timezone", reportingTimezone)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[AdAccountAnalyticsItems]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get targeting analytics for an ad account. For the requested account and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \"age_bucket\") for applicable values (e.g. \"45-49\"). <p/>  * The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. * If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. * If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
   * 
   * Expected answers:
   *   code 200 : MetricsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\"AGE_BUCKET_AND_GENDER\"] is in BETA and not yet available to all users.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.  For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.
   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   * @param attributionTypes List of types of attribution for the conversion report
   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
   */
  def adAccountTargetingAnalyticsGet(adAccountId: String, startDate: LocalDate, endDate: LocalDate, targetingTypes: Seq[AdsAnalyticsAccountTargetingType], columns: Seq[ReportingColumnSync], granularity: Granularity, clickWindowDays: Option[BigDecimal] = None, engagementWindowDays: Option[BigDecimal] = None, viewWindowDays: Option[BigDecimal] = None, conversionReportTime: Option[String] = None, attributionTypes: Seq[ConversionReportAttributionType], reportingTimezone: Option[ReportingTimeZone] = None): ApiRequest[MetricsResponse] =
    ApiRequest[MetricsResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/targeting_analytics", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("targeting_types", ArrayValues(targetingTypes, CSV))
      .withQueryParam("columns", ArrayValues(columns, CSV))
      .withQueryParam("granularity", granularity)
      .withQueryParam("click_window_days", clickWindowDays)
      .withQueryParam("engagement_window_days", engagementWindowDays)
      .withQueryParam("view_window_days", viewWindowDays)
      .withQueryParam("conversion_report_time", conversionReportTime)
      .withQueryParam("attribution_types", ArrayValues(attributionTypes, CSV))
      .withQueryParam("reporting_timezone", reportingTimezone)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[MetricsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create a new ad account. Different ad accounts can support different currencies, payment methods, etc. An ad account is needed to create campaigns, ad groups, and ads; other accounts (your employees or partners) can be assigned business access and appropriate roles to access an ad account.  You can set up up to 50 ad accounts per user. (The user must have a business account to create an ad account.) For more, see [Create an advertiser account](https://help.pinterest.com/en/business/article/create-an-advertiser-account).
   * 
   * Expected answers:
   *   code 200 : AdAccount (The request has succeeded.)
   *   code 201 : AdAccount (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountCreate 
   */
  def adAccountsCreate(adAccountCreate: AdAccountCreate): ApiRequest[AdAccount] =
    ApiRequest[AdAccount](ApiMethods.POST, baseUrl, "/ad_accounts", "application/json")
      .withBody(adAccountCreate)
      .withSuccessResponse[AdAccount](200)
      .withSuccessResponse[AdAccount](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get an ad account
   * 
   * Expected answers:
   *   code 200 : AdAccount (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   */
  def adAccountsGet(adAccountId: String): ApiRequest[AdAccount] =
    ApiRequest[AdAccount](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdAccount](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of the ad_accounts that the \"operation user_account\" has access to.         - This includes ad_accounts they own and ad_accounts that are owned by others who have granted them [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts).
   * 
   * Expected answers:
   *   code 200 : AdAccountsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param includeSharedAccounts Include shared ad accounts
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def adAccountsList(includeSharedAccounts: Option[Boolean] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[AdAccountsList200Response] =
    ApiRequest[AdAccountsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts", "application/json")
      .withQueryParam("include_shared_accounts", includeSharedAccounts)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[AdAccountsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   [Restricted](/docs/getting-started/using-beta-and-restricted-features/)   This creates an asynchronous brand, category, SKU report based on the given request. This request returns a token that you can use to download the report when it is ready.
   * 
   * Expected answers:
   *   code 200 : ConversionProductReport (The request has succeeded.)
   *   code 201 : ConversionProductReport (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param conversionProductReportCreate 
   */
  def analyticsCreateConversionProductReport(adAccountId: String, conversionProductReportCreate: ConversionProductReportCreate): ApiRequest[ConversionProductReport] =
    ApiRequest[ConversionProductReport](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/reports/brand_category_sku", "application/json")
      .withBody(conversionProductReportCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionProductReport](200)
      .withSuccessResponse[ConversionProductReport](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *     This creates an asynchronous mmm report based on the given request.     It returns a token that you can use to download the report when it is     ready. NOTE: An additional limit of 5 queries per minute per advertiser     applies to this endpoint while it's in beta release.     For the ADVERTISER_PAID_SPEND_IN_DOLLAR,     ADVERTISER_PAID_ECPC_IN_DOLLAR, and ADVERTISER_PAID_ECPM_IN_DOLLAR     columns: if you receive bonus media, this value still includes that spend, and it will     need to be removed manually with support from your Pinterest account team for a     fully netted value. Over time, we'll also subtract bonus media and other incentives as     data becomes available. Production and other non-media fees are excluded.
   * 
   * Expected answers:
   *   code 200 : MMMReport (The request has succeeded.)
   *   code 201 : MMMReport (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param mMMReportCreate 
   */
  def analyticsCreateMmmReport(adAccountId: String, mMMReportCreate: MMMReportCreate): ApiRequest[MMMReport] =
    ApiRequest[MMMReport](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/mmm_reports", "application/json")
      .withBody(mMMReportCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[MMMReport](200)
      .withSuccessResponse[MMMReport](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   This returns a token that you can use to download the report when it is ready.   Note that this endpoint requires the parameters to be passed as JSON-formatted in the request body. This endpoint does not support URL query parameters.   - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.   - If granularity is not HOUR, you can pull data from up to 914 days before the current date in UTC time, with a maximum time range of 186 days.   - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.   - If level is PRODUCT_ITEM, you can pull data from up to 92 days before the current date in UTC time, with a maximum time range of 31 days.   - If level is PRODUCT_ITEM, ad_ids and ad_statuses parameters are not allowed. Any columns related to pin promotion and ad is not allowed either.
   * 
   * Expected answers:
   *   code 200 : AdsAnalyticsCreateAsyncResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adsAnalyticsCreateAsyncRequest 
   */
  def analyticsCreateReport(adAccountId: String, adsAnalyticsCreateAsyncRequest: AdsAnalyticsCreateAsyncRequest): ApiRequest[AdsAnalyticsCreateAsyncResponse] =
    ApiRequest[AdsAnalyticsCreateAsyncResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/reports", "application/json")
      .withBody(adsAnalyticsCreateAsyncRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdsAnalyticsCreateAsyncResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   This takes a template ID and an optional custom timeframe and   constructs an asynchronous report based on the template. It returns   a token that you can use to download the report when it is ready.
   * 
   * Expected answers:
   *   code 200 : TemplateBasedReport (The request has succeeded.)
   *   code 201 : TemplateBasedReport (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param templateId Unique identifier of a template.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 2.5 years back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 2.5 years past start date.
   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly
   */
  def analyticsCreateTemplateReport(adAccountId: String, templateId: String, startDate: Option[LocalDate] = None, endDate: Option[LocalDate] = None, granularity: Option[Granularity] = None): ApiRequest[TemplateBasedReport] =
    ApiRequest[TemplateBasedReport](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/templates/{template_id}/reports", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("granularity", granularity)
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("template_id", templateId)
      .withSuccessResponse[TemplateBasedReport](200)
      .withSuccessResponse[TemplateBasedReport](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   [Restricted](/docs/getting-started/using-beta-and-restricted-features/)   Get a brand, category, SKU report for an ad account. This call returns the URL for the report that matches the token returned in the request to the Create brand, category, SKU report endpoint.
   * 
   * Expected answers:
   *   code 200 : ConversionProductReport (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param token Token returned from the post request creation call
   */
  def analyticsGetConversionProductReport(adAccountId: String, token: String): ApiRequest[ConversionProductReport] =
    ApiRequest[ConversionProductReport](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/reports/brand_category_sku", "application/json")
      .withQueryParam("token", token)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionProductReport](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *     Get an mmm report for an ad account. This returns a URL to an     mmm metrics report given a token returned from the create mmm report endpoint.
   * 
   * Expected answers:
   *   code 200 : MMMReport (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param token Token returned from the post request creation call
   */
  def analyticsGetMmmReport(adAccountId: String, token: String): ApiRequest[MMMReport] =
    ApiRequest[MMMReport](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/mmm_reports", "application/json")
      .withQueryParam("token", token)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[MMMReport](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   This returns a URL to an analytics report given a token returned from the post request report creation call.   You can use the URL to download the report. The link is valid for five minutes and the report is valid for one hour.   - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.
   * 
   * Expected answers:
   *   code 200 : AdsAnalyticsGetAsyncResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param token Token returned from the post request creation call
   */
  def analyticsGetReport(adAccountId: String, token: String): ApiRequest[AdsAnalyticsGetAsyncResponse] =
    ApiRequest[AdsAnalyticsGetAsyncResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/reports", "application/json")
      .withQueryParam("token", token)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdsAnalyticsGetAsyncResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete an ad account and all the ads data associated with that account. A string message is returned indicating the status of the delete operation.  Note: This endpoint is only allowed in the Pinterest API Sandbox (https://api-sandbox.pinterest.com/v5). Go to /docs/developer-tools/sandbox/ for more information.
   * 
   * Expected answers:
   *   code 200 : String (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   */
  def sandboxDelete(adAccountId: String): ApiRequest[String] =
    ApiRequest[String](ApiMethods.DELETE, baseUrl, "/ad_accounts/{ad_account_id}/sandbox", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[String](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Gets all Templates associated with an ad account ID.
   * 
   * Expected answers:
   *   code 200 : TemplatesList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   */
  def templatesList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None): ApiRequest[TemplatesList200Response] =
    ApiRequest[TemplatesList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/templates", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[TemplatesList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

