/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdGroup
import org.openapitools.client.model.AdGroupAudienceSizing
import org.openapitools.client.model.AdGroupAudienceSizingCreate
import org.openapitools.client.model.AdGroupCreateCreate
import org.openapitools.client.model.AdGroupUpdateBatchUpdate
import org.openapitools.client.model.AdGroupsAnalyticsMetrics
import org.openapitools.client.model.AdGroupsCreate200Response
import org.openapitools.client.model.AdGroupsList200Response
import org.openapitools.client.model.AdsAnalyticsAdGroupTargetingType
import org.openapitools.client.model.BidFloor
import org.openapitools.client.model.BidFloorCreate
import java.math.BigDecimal
import org.openapitools.client.model.ConversionReportAttributionType
import org.openapitools.client.model.DynamicTitlesDownloadCSV
import org.openapitools.client.model.DynamicTitlesGetStatus
import org.openapitools.client.model.DynamicTitlesProcessCSV
import org.openapitools.client.model.DynamicTitlesProcessCSVCreate
import org.openapitools.client.model.DynamicTitlesUploadURL
import org.openapitools.client.model.EntityStatus
import org.openapitools.client.model.Error
import org.openapitools.client.model.Granularity
import java.time.LocalDate
import org.openapitools.client.model.MetricsResponse
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.model.ReportingColumnSync
import org.openapitools.client.model.ReportingTimeZone
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AdGroupsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new AdGroupsApi(baseUrl)
}

class AdGroupsApi(baseUrl: String) {

  /**
   * Get analytics for the specified ad groups in the specified `ad_account_id`, filtered by the specified options.  - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
   * 
   * Expected answers:
   *   code 200 : Seq[AdGroupsAnalyticsMetrics] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param adGroupIds List of Ad group Ids to use to filter the results.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.  For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.
   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly
   * @param adAccountId Unique identifier of an ad account.
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   * @param aggregateReportRows Determines if report rows should be aggregated across all requested entities. This feature is currently in BETA and is not available to all users.
   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
   */
  def adGroupsAnalytics(startDate: LocalDate, endDate: LocalDate, adGroupIds: Seq[String], columns: Seq[ReportingColumnSync], granularity: Granularity, adAccountId: String, clickWindowDays: Option[BigDecimal] = None, engagementWindowDays: Option[BigDecimal] = None, viewWindowDays: Option[BigDecimal] = None, conversionReportTime: Option[String] = None, aggregateReportRows: Option[Boolean] = None, reportingTimezone: Option[ReportingTimeZone] = None): ApiRequest[Seq[AdGroupsAnalyticsMetrics]] =
    ApiRequest[Seq[AdGroupsAnalyticsMetrics]](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/analytics", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("ad_group_ids", ArrayValues(adGroupIds, MULTI))
      .withQueryParam("columns", ArrayValues(columns, CSV))
      .withQueryParam("granularity", granularity)
      .withQueryParam("click_window_days", clickWindowDays)
      .withQueryParam("engagement_window_days", engagementWindowDays)
      .withQueryParam("view_window_days", viewWindowDays)
      .withQueryParam("conversion_report_time", conversionReportTime)
      .withQueryParam("aggregate_report_rows", aggregateReportRows)
      .withQueryParam("reporting_timezone", reportingTimezone)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[AdGroupsAnalyticsMetrics]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get potential audience size for an ad group with given targeting criteria. Potential audience size estimates the number of people you may be able to reach per month with your campaign. It is based on historical advertising data and the targeting criteria you select. It does not guarantee results or take into account factors such as bid, budget, schedule, seasonality or product experiments.
   * 
   * Expected answers:
   *   code 200 : AdGroupAudienceSizing (The request has succeeded.)
   *   code 201 : AdGroupAudienceSizing (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupAudienceSizingCreate 
   */
  def adGroupsAudienceSizing(adAccountId: String, adGroupAudienceSizingCreate: AdGroupAudienceSizingCreate): ApiRequest[AdGroupAudienceSizing] =
    ApiRequest[AdGroupAudienceSizing](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/audience_sizing", "application/json")
      .withBody(adGroupAudienceSizingCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdGroupAudienceSizing](200)
      .withSuccessResponse[AdGroupAudienceSizing](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * List bid floors for your campaign configuration. Bid floors are given in microcurrency values based on the currency in the bid floor specification.  Microcurrency is used to track very small transactions, based on the currency set in the advertiser's profile.  A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser's profile.  **Equivalency equations**, using dollars as an example currency:  * $1 = 1,000,000 microdollars * 1 microdollar = $0.000001  **To convert between currency and microcurrency**, using dollars as an example currency:  * To convert dollars to microdollars, mutiply dollars by 1,000,000 * To convert microdollars to dollars, divide microdollars by 1,000,000  For more on bid floors see [Set your bid](https://help.pinterest.com/en/business/article/set-your-bid).
   * 
   * Expected answers:
   *   code 200 : BidFloor (The request has succeeded.)
   *   code 201 : BidFloor (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bidFloorCreate 
   */
  def adGroupsBidFloorGet(adAccountId: String, bidFloorCreate: BidFloorCreate): ApiRequest[BidFloor] =
    ApiRequest[BidFloor](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/bid_floor", "application/json")
      .withBody(bidFloorCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[BidFloor](200)
      .withSuccessResponse[BidFloor](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create multiple new ad groups. All ads in a given ad group will have the same budget, bid, run dates, targeting, and placement (search, browse, other).  For more information, [click here](https://help.pinterest.com/en/business/article/campaign-structure).  **Notes:** - `bid_in_micro_currency` and `budget_in_micro_currency` should be expressed in microcurrency amounts based on the currency field set in the advertiser's profile.  Microcurrency is used to track very small transactions, based on the currency set in the advertiser's profile. A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser's profile.  **Equivalency equations**, using dollars as an example currency: - $1 = 1,000,000 microdollars - 1 microdollar = $0.000001  **To convert between currency and microcurrency**, using dollars as an example currency: - To convert dollars to microdollars, multiply dollars by 1,000,000 - To convert microdollars to dollars, divide microdollars by 1,000,000  - Ad groups belong to ad campaigns. Some types of campaigns (e.g. budget optimization) have limits on the number of ad groups they can hold. If you exceed those limits, you will get an error message. - Certain organizations with [closed beta](/docs/getting-started/using-beta-and-restricted-features/) access can set `start_time` and `end_time` at the ad group level for campaigns with Campaign Budget Optimization (CBO) objectives: `TRAFFIC`, `AWARENESS`, `WEB_CONVERSIONS`, and `CATALOG_SALES`. All other organizations can set these scheduling parameters for non-CBO campaigns only. - If the parent ad campaign has start and end times set, ad group start and end times must occur within the parent campaign schedule.
   * 
   * Expected answers:
   *   code 200 : AdGroupsCreate200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupCreateCreate 
   */
  def adGroupsCreate(adAccountId: String, adGroupCreateCreate: Seq[AdGroupCreateCreate]): ApiRequest[AdGroupsCreate200Response] =
    ApiRequest[AdGroupsCreate200Response](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups", "application/json")
      .withBody(adGroupCreateCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdGroupsCreate200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a presigned S3 download URL for the dynamic titles review CSV. Returns 400 if titles have not been generated yet.
   * 
   * Expected answers:
   *   code 200 : DynamicTitlesDownloadCSV (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupId Ad group ID.
   */
  def adGroupsDynamicTitlesDownloadCsv(adAccountId: String, adGroupId: String): ApiRequest[DynamicTitlesDownloadCSV] =
    ApiRequest[DynamicTitlesDownloadCSV](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/csv", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("ad_group_id", adGroupId)
      .withSuccessResponse[DynamicTitlesDownloadCSV](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get dynamic titles generation status for an ad group, including whether titles are ready for review and counts of generated and reviewed titles.
   * 
   * Expected answers:
   *   code 200 : DynamicTitlesGetStatus (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupId Ad group ID.
   */
  def adGroupsDynamicTitlesGetStatus(adAccountId: String, adGroupId: String): ApiRequest[DynamicTitlesGetStatus] =
    ApiRequest[DynamicTitlesGetStatus](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/status", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("ad_group_id", adGroupId)
      .withSuccessResponse[DynamicTitlesGetStatus](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a presigned S3 upload URL for the dynamic titles review CSV and a request_id for submission.
   * 
   * Expected answers:
   *   code 200 : DynamicTitlesUploadURL (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupId Ad group ID.
   */
  def adGroupsDynamicTitlesGetUploadUrl(adAccountId: String, adGroupId: String): ApiRequest[DynamicTitlesUploadURL] =
    ApiRequest[DynamicTitlesUploadURL](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/uploads", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("ad_group_id", adGroupId)
      .withSuccessResponse[DynamicTitlesUploadURL](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Validate and process the uploaded dynamic titles review CSV. Returns validation errors if the CSV is invalid.
   * 
   * Expected answers:
   *   code 200 : DynamicTitlesProcessCSV (The request has succeeded.)
   *   code 201 : DynamicTitlesProcessCSV (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupId Ad group ID.
   * @param dynamicTitlesProcessCSVCreate 
   */
  def adGroupsDynamicTitlesProcessCsv(adAccountId: String, adGroupId: String, dynamicTitlesProcessCSVCreate: DynamicTitlesProcessCSVCreate): ApiRequest[DynamicTitlesProcessCSV] =
    ApiRequest[DynamicTitlesProcessCSV](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles", "application/json")
      .withBody(dynamicTitlesProcessCSVCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("ad_group_id", adGroupId)
      .withSuccessResponse[DynamicTitlesProcessCSV](200)
      .withSuccessResponse[DynamicTitlesProcessCSV](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a specific ad group given the ad group ID.
   * 
   * Expected answers:
   *   code 200 : AdGroup (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adGroupId Ad group ID.
   * @param adAccountId Unique identifier of an ad account.
   */
  def adGroupsGet(adGroupId: String, adAccountId: String): ApiRequest[AdGroup] =
    ApiRequest[AdGroup](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}", "application/json")
      .withPathParam("ad_group_id", adGroupId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdGroup](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * List ad groups based on provided campaign IDs or ad group IDs.(campaign_ids or ad_group_ids). **Note:** Provide only campaign_id or ad_group_id. Do not provide both.
   * 
   * Expected answers:
   *   code 200 : AdGroupsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param campaignIds List of Campaign Ids to use to filter the results.
   * @param adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users.
   * @param entityStatuses Entity status
   * @param translateInterestsToNames Return interests as text names (if value is true) rather than topic IDs.
   */
  def adGroupsList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None, campaignIds: Seq[String], adGroupIds: Seq[String], entityStatuses: Seq[EntityStatus], translateInterestsToNames: Option[Boolean] = None): ApiRequest[AdGroupsList200Response] =
    ApiRequest[AdGroupsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("campaign_ids", ArrayValues(campaignIds, MULTI))
      .withQueryParam("ad_group_ids", ArrayValues(adGroupIds, MULTI))
      .withQueryParam("entity_statuses", ArrayValues(entityStatuses, MULTI))
      .withQueryParam("translate_interests_to_names", translateInterestsToNames)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdGroupsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get targeting analytics for one or more ad groups. For the requested ad group(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \"age_bucket\") for applicable values (e.g. \"45-49\").  - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
   * 
   * Expected answers:
   *   code 200 : MetricsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupIds List of Ad group Ids to use to filter the results.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\"AGE_BUCKET_AND_GENDER\", \"CREATIVE_ENHANCEMENTS\"] are in BETA and not yet available to all users.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.  For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.
   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   * @param attributionTypes List of types of attribution for the conversion report
   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
   * @param sortColumns Sort Columns.
   * @param sortAscending Sort ascending.
   */
  def adGroupsTargetingAnalyticsGet(adAccountId: String, adGroupIds: Seq[String], startDate: LocalDate, endDate: LocalDate, targetingTypes: Seq[AdsAnalyticsAdGroupTargetingType], columns: Seq[ReportingColumnSync], granularity: Granularity, clickWindowDays: Option[BigDecimal] = None, engagementWindowDays: Option[BigDecimal] = None, viewWindowDays: Option[BigDecimal] = None, conversionReportTime: Option[String] = None, attributionTypes: Seq[ConversionReportAttributionType], reportingTimezone: Option[ReportingTimeZone] = None, sortColumns: Seq[String], sortAscending: Option[Boolean] = None): ApiRequest[MetricsResponse] =
    ApiRequest[MetricsResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups/targeting_analytics", "application/json")
      .withQueryParam("ad_group_ids", ArrayValues(adGroupIds, MULTI))
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("targeting_types", ArrayValues(targetingTypes, CSV))
      .withQueryParam("columns", ArrayValues(columns, CSV))
      .withQueryParam("granularity", granularity)
      .withQueryParam("click_window_days", clickWindowDays)
      .withQueryParam("engagement_window_days", engagementWindowDays)
      .withQueryParam("view_window_days", viewWindowDays)
      .withQueryParam("conversion_report_time", conversionReportTime)
      .withQueryParam("attribution_types", ArrayValues(attributionTypes, CSV))
      .withQueryParam("reporting_timezone", reportingTimezone)
      .withQueryParam("sort_columns", ArrayValues(sortColumns, MULTI))
      .withQueryParam("sort_ascending", sortAscending)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[MetricsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update multiple existing ad groups.
   * 
   * Expected answers:
   *   code 200 : AdGroupsCreate200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adGroupUpdateBatchUpdate 
   */
  def adGroupsUpdate(adAccountId: String, adGroupUpdateBatchUpdate: Seq[AdGroupUpdateBatchUpdate]): ApiRequest[AdGroupsCreate200Response] =
    ApiRequest[AdGroupsCreate200Response](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/ad_groups", "application/json")
      .withBody(adGroupUpdateBatchUpdate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdGroupsCreate200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Get a list of ad groups that are associated with those promotion ids
   * 
   * Expected answers:
   *   code 200 : AdGroupsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param promotionIds List of Promotion IDs to use to filter the results.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   */
  def getAdGroupsByPromotionIdsList(adAccountId: String, promotionIds: Seq[String], bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None): ApiRequest[AdGroupsList200Response] =
    ApiRequest[AdGroupsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/promotion_applied_entities", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("promotion_ids", ArrayValues(promotionIds, MULTI))
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdGroupsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

