/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Ad
import org.openapitools.client.model.AdBatchUpdate
import org.openapitools.client.model.AdBatchWriteResponseModel
import org.openapitools.client.model.AdCreate
import org.openapitools.client.model.AdPreviewRequest
import org.openapitools.client.model.AdPreviewURLResponse
import org.openapitools.client.model.AdsAnalytics
import org.openapitools.client.model.AdsAnalyticsAdTargetingType
import org.openapitools.client.model.AdsList200Response
import java.math.BigDecimal
import org.openapitools.client.model.CampaignAdPreview
import org.openapitools.client.model.CampaignAdPreviewCreate
import org.openapitools.client.model.CampaignAdPreviewCreate200ResponseInner
import org.openapitools.client.model.CampaignAdPreviewDelete200ResponseInner
import org.openapitools.client.model.ConversionAttributionWindowDays
import org.openapitools.client.model.ConversionReportAttributionType
import org.openapitools.client.model.ConversionReportTimeType
import org.openapitools.client.model.EntityStatus
import org.openapitools.client.model.Error
import org.openapitools.client.model.Granularity
import java.time.LocalDate
import org.openapitools.client.model.MetricsResponse
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.model.ReportingColumnSync
import org.openapitools.client.model.ReportingTimeZone
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AdsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new AdsApi(baseUrl)
}

class AdsApi(baseUrl: String) {

  /**
   * Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad.  If you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See [Ads Overview](https://help.pinterest.com/en/business/article/promoted-pins-overview).)  You can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires. Collection ads are not currently supported ad preview.
   * 
   * Expected answers:
   *   code 200 : AdPreviewURLResponse (The request has succeeded.)
   *   code 201 : AdPreviewURLResponse (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adPreviewRequest 
   */
  def adPreviewsCreate(adAccountId: String, adPreviewRequest: AdPreviewRequest): ApiRequest[AdPreviewURLResponse] =
    ApiRequest[AdPreviewURLResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/ad_previews", "application/json")
      .withBody(adPreviewRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdPreviewURLResponse](200)
      .withSuccessResponse[AdPreviewURLResponse](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get targeting analytics for one or more ads. For the requested ad(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \"age_bucket\") for applicable values (e.g. \"45-49\").  * The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. * If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. * If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
   * 
   * Expected answers:
   *   code 200 : MetricsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adIds List of Ad Ids to use to filter the results.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\"AGE_BUCKET_AND_GENDER\"] is in BETA and not yet available to all users.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.  For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.
   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.  **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   * @param attributionTypes List of types of attribution for the conversion report
   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
   * @param sortColumns Sort Columns.
   * @param sortAscending Sort ascending.
   */
  def adTargetingAnalyticsGet(adAccountId: String, adIds: Seq[String], startDate: LocalDate, endDate: LocalDate, targetingTypes: Seq[AdsAnalyticsAdTargetingType], columns: Seq[ReportingColumnSync], granularity: Granularity, clickWindowDays: Option[ConversionAttributionWindowDays] = None, engagementWindowDays: Option[ConversionAttributionWindowDays] = None, viewWindowDays: Option[ConversionAttributionWindowDays] = None, conversionReportTime: Option[ConversionReportTimeType] = None, attributionTypes: Seq[ConversionReportAttributionType], reportingTimezone: Option[ReportingTimeZone] = None, sortColumns: Seq[String], sortAscending: Option[Boolean] = None): ApiRequest[MetricsResponse] =
    ApiRequest[MetricsResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ads/targeting_analytics", "application/json")
      .withQueryParam("ad_ids", ArrayValues(adIds, MULTI))
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("targeting_types", ArrayValues(targetingTypes, CSV))
      .withQueryParam("columns", ArrayValues(columns, CSV))
      .withQueryParam("granularity", granularity)
      .withQueryParam("click_window_days", clickWindowDays)
      .withQueryParam("engagement_window_days", engagementWindowDays)
      .withQueryParam("view_window_days", viewWindowDays)
      .withQueryParam("conversion_report_time", conversionReportTime)
      .withQueryParam("attribution_types", ArrayValues(attributionTypes, CSV))
      .withQueryParam("reporting_timezone", reportingTimezone)
      .withQueryParam("sort_columns", ArrayValues(sortColumns, MULTI))
      .withQueryParam("sort_ascending", sortAscending)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[MetricsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *     Get analytics for the specified ads in the specified `ad_account_id`, filtered by the specified options.     - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.     - The request must contain either ad_ids or both campaign_ids and pin_ids.     - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.     - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
   * 
   * Expected answers:
   *   code 200 : Seq[AdsAnalytics] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.  For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.
   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly
   * @param adAccountId Unique identifier of an ad account.
   * @param pinIds List of Pin IDs.
   * @param adIds List of Ad Ids to use to filter the results.
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   * @param campaignIds List of Campaign Ids to use to filter the results.
   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
   */
  def adsAnalytics(startDate: LocalDate, endDate: LocalDate, columns: Seq[ReportingColumnSync], granularity: Granularity, adAccountId: String, pinIds: Seq[String], adIds: Seq[String], clickWindowDays: Option[BigDecimal] = None, engagementWindowDays: Option[BigDecimal] = None, viewWindowDays: Option[BigDecimal] = None, conversionReportTime: Option[String] = None, campaignIds: Seq[String], reportingTimezone: Option[ReportingTimeZone] = None): ApiRequest[Seq[AdsAnalytics]] =
    ApiRequest[Seq[AdsAnalytics]](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ads/analytics", "application/json")
      .withQueryParam("pin_ids", ArrayValues(pinIds, MULTI))
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("ad_ids", ArrayValues(adIds, MULTI))
      .withQueryParam("columns", ArrayValues(columns, CSV))
      .withQueryParam("granularity", granularity)
      .withQueryParam("click_window_days", clickWindowDays)
      .withQueryParam("engagement_window_days", engagementWindowDays)
      .withQueryParam("view_window_days", viewWindowDays)
      .withQueryParam("conversion_report_time", conversionReportTime)
      .withQueryParam("campaign_ids", ArrayValues(campaignIds, MULTI))
      .withQueryParam("reporting_timezone", reportingTimezone)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[AdsAnalytics]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create multiple new ads. Request must contain ad_group_id, creative_type, and the source Pin pin_id.
   * 
   * Expected answers:
   *   code 200 : AdBatchWriteResponseModel (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adCreate 
   */
  def adsCreate(adAccountId: String, adCreate: Seq[AdCreate]): ApiRequest[AdBatchWriteResponseModel] =
    ApiRequest[AdBatchWriteResponseModel](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/ads", "application/json")
      .withBody(adCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdBatchWriteResponseModel](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will contain additional information from the Ad Review process. For more information about our policies and rejection reasons see the [Pinterest advertising standards](https://www.pinterest.com/_/_/policy/advertising-guidelines/).
   * 
   * Expected answers:
   *   code 200 : Ad (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adId The ID of this ad.
   * @param adAccountId Unique identifier of an ad account.
   */
  def adsGet(adId: String, adAccountId: String): ApiRequest[Ad] =
    ApiRequest[Ad](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ads/{ad_id}", "application/json")
      .withPathParam("ad_id", adId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Ad](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * List ads that meet the filters provided:     - Listed campaign ids or ad group ids or ad ids     - Listed entity statuses  If no filter is provided, all ads in the ad account are returned.  **Note:** Provide only `campaign_id` or `ad_group_id` or `ad_id`. Do not provide more than one type.  Review status is provided for each ad; if `review_status` is `REJECTED`, the `rejected_reasons` field will contain additional information.  For more, see [Pinterest advertising standards](https://policy.pinterest.com/en/advertising-guidelines).
   * 
   * Expected answers:
   *   code 200 : AdsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param campaignIds List of Campaign Ids to use to filter the results.
   * @param adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users.
   * @param adIds List of Ad Ids to use to filter the results.
   * @param entityStatuses Entity status
   */
  def adsList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None, campaignIds: Seq[String], adGroupIds: Seq[String], adIds: Seq[String], entityStatuses: Seq[EntityStatus]): ApiRequest[AdsList200Response] =
    ApiRequest[AdsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ads", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("campaign_ids", ArrayValues(campaignIds, MULTI))
      .withQueryParam("ad_group_ids", ArrayValues(adGroupIds, MULTI))
      .withQueryParam("ad_ids", ArrayValues(adIds, MULTI))
      .withQueryParam("entity_statuses", ArrayValues(entityStatuses, MULTI))
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update multiple existing ads
   * 
   * Expected answers:
   *   code 200 : AdBatchWriteResponseModel (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adBatchUpdate 
   */
  def adsUpdate(adAccountId: String, adBatchUpdate: Seq[AdBatchUpdate]): ApiRequest[AdBatchWriteResponseModel] =
    ApiRequest[AdBatchWriteResponseModel](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/ads", "application/json")
      .withBody(adBatchUpdate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdBatchWriteResponseModel](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create ad preview records for one or more ad groups that can be shared. Each ad group is processed independently; individual failures do not block other previews.
   * 
   * Expected answers:
   *   code 200 : Seq[CampaignAdPreviewCreate200ResponseInner] (The request has succeeded.)
   *   code 201 : Seq[CampaignAdPreview] (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param campaignAdPreviewCreate 
   */
  def campaignAdPreviewCreate(adAccountId: String, campaignAdPreviewCreate: Seq[CampaignAdPreviewCreate]): ApiRequest[Seq[CampaignAdPreviewCreate200ResponseInner]] =
    ApiRequest[Seq[CampaignAdPreviewCreate200ResponseInner]](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/campaign_ad_preview", "application/json")
      .withBody(campaignAdPreviewCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[CampaignAdPreviewCreate200ResponseInner]](200)
      .withSuccessResponse[Seq[CampaignAdPreview]](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete ad preview records for one or more ad groups. All ad groups are validated before deleting any records.
   * 
   * Expected answers:
   *   code 200 : Seq[CampaignAdPreviewDelete200ResponseInner] (The request has succeeded.)
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adGroupIds List of Ad group Ids to use to filter the results.
   * @param adAccountId Unique identifier of an ad account.
   */
  def campaignAdPreviewDelete(adGroupIds: Seq[String], adAccountId: String): ApiRequest[Seq[CampaignAdPreviewDelete200ResponseInner]] =
    ApiRequest[Seq[CampaignAdPreviewDelete200ResponseInner]](ApiMethods.DELETE, baseUrl, "/ad_accounts/{ad_account_id}/campaign_ad_preview", "application/json")
      .withQueryParam("ad_group_ids", ArrayValues(adGroupIds, MULTI))
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[CampaignAdPreviewDelete200ResponseInner]](200)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Fetch ad preview records for one or more ad groups. Returns all active previews associated with the provided ad group IDs.
   * 
   * Expected answers:
   *   code 200 : Seq[CampaignAdPreview] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adGroupIds List of Ad group Ids to use to filter the results.
   * @param adAccountId Unique identifier of an ad account.
   */
  def campaignAdPreviewRead(adGroupIds: Seq[String], adAccountId: String): ApiRequest[Seq[CampaignAdPreview]] =
    ApiRequest[Seq[CampaignAdPreview]](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/campaign_ad_preview", "application/json")
      .withQueryParam("ad_group_ids", ArrayValues(adGroupIds, MULTI))
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[CampaignAdPreview]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

