/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdvancedAuctionItems
import org.openapitools.client.model.AdvancedAuctionItemsGetRequest
import org.openapitools.client.model.AdvancedAuctionItemsSubmitRequest
import org.openapitools.client.model.AdvancedAuctionProcessedItems
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AdvancedAuctionApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new AdvancedAuctionApi(baseUrl)
}

class AdvancedAuctionApi(baseUrl: String) {

  /**
   * Get the bid options for a batch of retail catalog items.  The catalog must be owned by the \"operation user_account\". [See detailed documentation here.](/docs/api-features/shopping-overview/#Update%20items%20in%20batch) By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: `Owner`, `Admin`.  This endpoint is not available to all users.
   * 
   * Expected answers:
   *   code 200 : AdvancedAuctionItems (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 500 : Error (The server encountered an unexpected condition that prevented it from fulfilling the request.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param advancedAuctionItemsGetRequest 
   * @param adAccountId Unique identifier of an ad account.
   */
  def advancedAuctionItemsGetPost(advancedAuctionItemsGetRequest: AdvancedAuctionItemsGetRequest, adAccountId: Option[String] = None): ApiRequest[AdvancedAuctionItems] =
    ApiRequest[AdvancedAuctionItems](ApiMethods.POST, baseUrl, "/advanced_auction/items/get", "application/json")
      .withBody(advancedAuctionItemsGetRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdvancedAuctionItems](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withErrorResponse[Error](500)
      .withDefaultErrorResponse[Error]
      

  /**
   * This endpoint supports multiple operations on a set of one or more bid options (bid price and bid adjustments for targeting categories) for retail catalog items. These advanced auction settings are applied in campaigns using objective_type `CATALOG_SALES` and ad groups using bid_strategy_type `MAX_BID`.  The catalog must be owned by the \"operation user_account\". [See detailed documentation here.](/docs/api-features/modify-items-in-batch/) By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: `Owner`, `Admin`.  This endpoint is not available to all users.
   * 
   * Expected answers:
   *   code 200 : AdvancedAuctionProcessedItems (The request has succeeded.)
   *   code 206 : AdvancedAuctionProcessedItems (Successful)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 500 : Error (The server encountered an unexpected condition that prevented it from fulfilling the request.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param advancedAuctionItemsSubmitRequest 
   * @param adAccountId Unique identifier of an ad account.
   */
  def advancedAuctionItemsSubmitPost(advancedAuctionItemsSubmitRequest: AdvancedAuctionItemsSubmitRequest, adAccountId: Option[String] = None): ApiRequest[AdvancedAuctionProcessedItems] =
    ApiRequest[AdvancedAuctionProcessedItems](ApiMethods.POST, baseUrl, "/advanced_auction/items/submit", "application/json")
      .withBody(advancedAuctionItemsSubmitRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdvancedAuctionProcessedItems](200)
      .withSuccessResponse[AdvancedAuctionProcessedItems](206)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withErrorResponse[Error](500)
      .withDefaultErrorResponse[Error]
      



}

