/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdAccountsAudience
import org.openapitools.client.model.AdAccountsAudienceCreate
import org.openapitools.client.model.AdAccountsAudienceUpdate
import org.openapitools.client.model.AudienceOwnershipType
import org.openapitools.client.model.AudiencesList200Response
import org.openapitools.client.model.Error
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AudiencesApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new AudiencesApi(baseUrl)
}

class AudiencesApi(baseUrl: String) {

  /**
   * Create a new audience for the ad account.
   * 
   * Expected answers:
   *   code 200 : AdAccountsAudience (The request has succeeded.)
   *   code 201 : AdAccountsAudience (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adAccountsAudienceCreate 
   */
  def audiencesCreate(adAccountId: String, adAccountsAudienceCreate: AdAccountsAudienceCreate): ApiRequest[AdAccountsAudience] =
    ApiRequest[AdAccountsAudience](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/audiences", "application/json")
      .withBody(adAccountsAudienceCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdAccountsAudience](200)
      .withSuccessResponse[AdAccountsAudience](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a specific audience given the audience ID.
   * 
   * Expected answers:
   *   code 200 : AdAccountsAudience (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param audienceId Audience ID.
   * @param adAccountId Unique identifier of an ad account.
   */
  def audiencesGet(audienceId: String, adAccountId: String): ApiRequest[AdAccountsAudience] =
    ApiRequest[AdAccountsAudience](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/audiences/{audience_id}", "application/json")
      .withPathParam("audience_id", audienceId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdAccountsAudience](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get list of audiences for the ad account.
   * 
   * Expected answers:
   *   code 200 : AudiencesList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param ownershipType 
   * @param excludeNca When true, excludes audiences derived from new customer acquisition (expanded matching) customer lists from the result. Defaults to false (include all).
   */
  def audiencesList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None, ownershipType: Option[AudienceOwnershipType] = None, excludeNca: Option[Boolean] = None): ApiRequest[AudiencesList200Response] =
    ApiRequest[AudiencesList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/audiences", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("ownership_type", ownershipType)
      .withQueryParam("exclude_nca", excludeNca)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AudiencesList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update an existing audience for the ad account.
   * 
   * Expected answers:
   *   code 200 : AdAccountsAudience (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param audienceId Audience ID.
   * @param adAccountId Unique identifier of an ad account.
   * @param adAccountsAudienceUpdate 
   */
  def audiencesUpdate(audienceId: String, adAccountId: String, adAccountsAudienceUpdate: AdAccountsAudienceUpdate): ApiRequest[AdAccountsAudience] =
    ApiRequest[AdAccountsAudience](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/audiences/{audience_id}", "application/json")
      .withBody(adAccountsAudienceUpdate)
      .withPathParam("audience_id", audienceId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdAccountsAudience](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

