/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AudienceInsightType
import org.openapitools.client.model.AudienceInsights
import org.openapitools.client.model.AudienceInsightsScopeAndTypeGet200Response
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AudienceInsightsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new AudienceInsightsApi(baseUrl)
}

class AudienceInsightsApi(baseUrl: String) {

  /**
   * Get Audience Insights for an ad account. The response will return insights for 3 types of audiences: the ad account's engaged audience on Pinterest, the ad account's total audience on Pinterest and Pinterest's total audience.  [Learn more about Audience Insights](https://help.pinterest.com/en/business/article/audience-insights).
   * 
   * Expected answers:
   *   code 200 : AudienceInsights (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param audienceInsightType Type of audience insights.
   */
  def audienceInsightsGet(adAccountId: String, audienceInsightType: AudienceInsightType): ApiRequest[AudienceInsights] =
    ApiRequest[AudienceInsights](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/audience_insights", "application/json")
      .withQueryParam("audience_insight_type", audienceInsightType)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AudienceInsights](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get the scope and type of available audiences, which along with a date, is an audience that has recently had an interaction (referred to here as a type) on pins. Interacted pins can belong to at least the most common **partner** or **Pinterest** scopes. This means that user interactions made on advertiser or partner pins will have the **partner** scope. You can also have user interactions performed in general on Pinterest with the **Pinterest** scope. In that case, you can then use the returned type and scope values together on requests to other endpoints to retrieve insight metrics for a desired audience.
   * 
   * Expected answers:
   *   code 200 : AudienceInsightsScopeAndTypeGet200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   */
  def audienceInsightsScopeAndTypeGet(adAccountId: String): ApiRequest[AudienceInsightsScopeAndTypeGet200Response] =
    ApiRequest[AudienceInsightsScopeAndTypeGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/insights/audiences", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AudienceInsightsScopeAndTypeGet200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

