/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdAccountToAdAccountSharedAudience
import org.openapitools.client.model.AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody
import org.openapitools.client.model.AdAccountToBusinessSharedAudience
import org.openapitools.client.model.AdAccountToBusinessSharedAudienceUpdateWithRequiredBody
import org.openapitools.client.model.AdAccountsAudiencesSharedAccountsList200Response
import org.openapitools.client.model.AudienceAccountType
import org.openapitools.client.model.BusinessToAdAccountSharedAudience
import org.openapitools.client.model.BusinessToAdAccountSharedAudienceUpdateWithRequiredBody
import org.openapitools.client.model.BusinessToBusinessSharedAudience
import org.openapitools.client.model.BusinessToBusinessSharedAudienceUpdateWithRequiredBody
import org.openapitools.client.model.Error
import org.openapitools.client.model.Order
import org.openapitools.client.model.SharedAudiencesForBusinessList200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AudienceSharingApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new AudienceSharingApi(baseUrl)
}

class AudienceSharingApi(baseUrl: String) {

  /**
   * List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.
   * 
   * Expected answers:
   *   code 200 : AdAccountsAudiencesSharedAccountsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param audienceId Unique identifier of the audience to use to filter the results.
   * @param accountType Filter accounts by account type.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def adAccountsAudiencesSharedAccountsList(audienceId: String, accountType: AudienceAccountType, adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[AdAccountsAudiencesSharedAccountsList200Response] =
    ApiRequest[AdAccountsAudiencesSharedAccountsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/audiences/shared/accounts", "application/json")
      .withQueryParam("audience_id", audienceId)
      .withQueryParam("account_type", accountType)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdAccountsAudiencesSharedAccountsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.
   * 
   * Expected answers:
   *   code 200 : AdAccountsAudiencesSharedAccountsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param audienceId Unique identifier of the audience to use to filter the results.
   * @param accountType Filter accounts by account type.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def businessAccountAudiencesSharedAccountsList(businessId: String, audienceId: String, accountType: AudienceAccountType, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[AdAccountsAudiencesSharedAccountsList200Response] =
    ApiRequest[AdAccountsAudiencesSharedAccountsList200Response](ApiMethods.GET, baseUrl, "/businesses/{business_id}/audiences/shared/accounts", "application/json")
      .withQueryParam("audience_id", audienceId)
      .withQueryParam("account_type", accountType)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[AdAccountsAudiencesSharedAccountsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of received audiences for the given business.
   * 
   * Expected answers:
   *   code 200 : SharedAudiencesForBusinessList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def sharedAudiencesForBusinessList(businessId: String, order: Option[Order] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[SharedAudiencesForBusinessList200Response] =
    ApiRequest[SharedAudiencesForBusinessList200Response](ApiMethods.GET, baseUrl, "/businesses/{business_id}/audiences", "application/json")
      .withQueryParam("order", order)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[SharedAudiencesForBusinessList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same [Pinterest Business Hierarchy](https://help.pinterest.com/en/business/article/create-and-manage-accounts) as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * 
   * Expected answers:
   *   code 200 : AdAccountToAdAccountSharedAudience (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adAccountToAdAccountSharedAudienceUpdateWithRequiredBody 
   */
  def updateAdAccountToAdAccountSharedAudience(adAccountId: String, adAccountToAdAccountSharedAudienceUpdateWithRequiredBody: AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody): ApiRequest[AdAccountToAdAccountSharedAudience] =
    ApiRequest[AdAccountToAdAccountSharedAudience](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared", "application/json")
      .withBody(adAccountToAdAccountSharedAudienceUpdateWithRequiredBody)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdAccountToAdAccountSharedAudience](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * 
   * Expected answers:
   *   code 200 : AdAccountToBusinessSharedAudience (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adAccountToBusinessSharedAudienceUpdateWithRequiredBody 
   */
  def updateAdAccountToBusinessSharedAudience(adAccountId: String, adAccountToBusinessSharedAudienceUpdateWithRequiredBody: AdAccountToBusinessSharedAudienceUpdateWithRequiredBody): ApiRequest[AdAccountToBusinessSharedAudience] =
    ApiRequest[AdAccountToBusinessSharedAudience](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/audiences/businesses/shared", "application/json")
      .withBody(adAccountToBusinessSharedAudienceUpdateWithRequiredBody)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdAccountToBusinessSharedAudience](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience.  - If the business is the owner of the audience, it can share with any ad account within the same business hierarchy. - If the business is the recipient of the audience, it can share with any of its owned ad accounts.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * 
   * Expected answers:
   *   code 200 : BusinessToAdAccountSharedAudience (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param businessToAdAccountSharedAudienceUpdateWithRequiredBody 
   */
  def updateBusinessToAdAccountSharedAudience(businessId: String, businessToAdAccountSharedAudienceUpdateWithRequiredBody: BusinessToAdAccountSharedAudienceUpdateWithRequiredBody): ApiRequest[BusinessToAdAccountSharedAudience] =
    ApiRequest[BusinessToAdAccountSharedAudience](ApiMethods.PATCH, baseUrl, "/businesses/{business_id}/audiences/ad_accounts/shared", "application/json")
      .withBody(businessToAdAccountSharedAudienceUpdateWithRequiredBody)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[BusinessToAdAccountSharedAudience](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * 
   * Expected answers:
   *   code 200 : BusinessToBusinessSharedAudience (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param businessToBusinessSharedAudienceUpdateWithRequiredBody 
   */
  def updateBusinessToBusinessSharedAudience(businessId: String, businessToBusinessSharedAudienceUpdateWithRequiredBody: BusinessToBusinessSharedAudienceUpdateWithRequiredBody): ApiRequest[BusinessToBusinessSharedAudience] =
    ApiRequest[BusinessToBusinessSharedAudience](ApiMethods.PATCH, baseUrl, "/businesses/{business_id}/audiences/businesses/shared", "application/json")
      .withBody(businessToBusinessSharedAudienceUpdateWithRequiredBody)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[BusinessToBusinessSharedAudience](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

