/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdsCreditRedeem
import org.openapitools.client.model.AdsCreditRedeemCreate
import org.openapitools.client.model.AdsCreditsDiscountsGet200Response
import org.openapitools.client.model.BillingInvoiceDocumentType
import org.openapitools.client.model.BillingInvoiceDownloadResponse
import org.openapitools.client.model.BillingInvoiceSortField
import org.openapitools.client.model.BillingInvoiceStatus
import org.openapitools.client.model.BillingInvoicesGet200Response
import org.openapitools.client.model.BillingProfilesGet200Response
import org.openapitools.client.model.Error
import java.time.LocalDate
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.model.SSIOAccount
import org.openapitools.client.model.SSIOInsertionOrder
import org.openapitools.client.model.SSIOInsertionOrderCreate
import org.openapitools.client.model.SSIOInsertionOrderStatusResponse
import org.openapitools.client.model.SSIOInsertionOrderUpdate
import org.openapitools.client.model.SsioInsertionOrdersStatusGetByAdAccount200Response
import org.openapitools.client.model.SsioOrderLinesGetByAdAccount200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BillingApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new BillingApi(baseUrl)
}

class BillingApi(baseUrl: String) {

  /**
   * Redeem ads credit on behalf of the ad account id and apply it towards billing.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
   * 
   * Expected answers:
   *   code 200 : AdsCreditRedeem (The request has succeeded.)
   *   code 201 : AdsCreditRedeem (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param adsCreditRedeemCreate 
   */
  def adsCreditRedeem(adAccountId: String, adsCreditRedeemCreate: AdsCreditRedeemCreate): ApiRequest[AdsCreditRedeem] =
    ApiRequest[AdsCreditRedeem](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/ads_credit/redeem", "application/json")
      .withBody(adsCreditRedeemCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdsCreditRedeem](200)
      .withSuccessResponse[AdsCreditRedeem](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Returns the list of discounts applied to the account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
   * 
   * Expected answers:
   *   code 200 : AdsCreditsDiscountsGet200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def adsCreditsDiscountsGet(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[AdsCreditsDiscountsGet200Response] =
    ApiRequest[AdsCreditsDiscountsGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ads_credit/discounts", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdsCreditsDiscountsGet200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get download url for a billing invoice.
   * 
   * Expected answers:
   *   code 200 : BillingInvoiceDownloadResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param billingInvoiceId Unique identifier of a billing invoice.
   */
  def billingInvoiceDownloadGet(adAccountId: String, billingInvoiceId: String): ApiRequest[BillingInvoiceDownloadResponse] =
    ApiRequest[BillingInvoiceDownloadResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("billing_invoice_id", billingInvoiceId)
      .withSuccessResponse[BillingInvoiceDownloadResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get billing invoices in the advertiser account.
   * 
   * Expected answers:
   *   code 200 : BillingInvoicesGet200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param sort Field of which to sort billing invoices
   * @param status Status of billing invoices to filter by
   * @param documentType Document type of billing invoices to filter by
   * @param startDueDate Starting point for due dates when searching for invoices. Format: YYYY-MM-DD
   * @param endDueDate Ending point for due dates when searching for invoices. Format: YYYY-MM-DD
   */
  def billingInvoicesGet(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None, sort: Option[BillingInvoiceSortField] = None, status: Option[BillingInvoiceStatus] = None, documentType: Option[BillingInvoiceDocumentType] = None, startDueDate: Option[LocalDate] = None, endDueDate: Option[LocalDate] = None): ApiRequest[BillingInvoicesGet200Response] =
    ApiRequest[BillingInvoicesGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/billing_invoices", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("sort", sort)
      .withQueryParam("status", status)
      .withQueryParam("document_type", documentType)
      .withQueryParam("start_due_date", startDueDate)
      .withQueryParam("end_due_date", endDueDate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[BillingInvoicesGet200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get billing profiles in the advertiser account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
   * 
   * Expected answers:
   *   code 200 : BillingProfilesGet200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param isActive Return active billing profiles, if false return all billing profiles.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def billingProfilesGet(isActive: Boolean, adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[BillingProfilesGet200Response] =
    ApiRequest[BillingProfilesGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/billing_profiles", "application/json")
      .withQueryParam("is_active", isActive)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[BillingProfilesGet200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Get Salesforce account details including bill-to information to be used in insertion orders process for `ad_account_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SSIOAccount (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   */
  def ssioAccountsGet(adAccountId: String): ApiRequest[SSIOAccount] =
    ApiRequest[SSIOAccount](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ssio/accounts", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SSIOAccount](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Create insertion order through SSIO for `ad_account_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SSIOInsertionOrder (The request has succeeded.)
   *   code 201 : SSIOInsertionOrder (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param sSIOInsertionOrderCreate 
   */
  def ssioInsertionOrderCreate(adAccountId: String, sSIOInsertionOrderCreate: SSIOInsertionOrderCreate): ApiRequest[SSIOInsertionOrder] =
    ApiRequest[SSIOInsertionOrder](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/ssio/insertion_orders", "application/json")
      .withBody(sSIOInsertionOrderCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SSIOInsertionOrder](200)
      .withSuccessResponse[SSIOInsertionOrder](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Edit insertion order through SSIO for `ad_account_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SSIOInsertionOrder (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param sSIOInsertionOrderUpdate 
   */
  def ssioInsertionOrderEdit(adAccountId: String, sSIOInsertionOrderUpdate: SSIOInsertionOrderUpdate): ApiRequest[SSIOInsertionOrder] =
    ApiRequest[SSIOInsertionOrder](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/ssio/insertion_orders", "application/json")
      .withBody(sSIOInsertionOrderUpdate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SSIOInsertionOrder](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Get insertion order status for `ad_account_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SsioInsertionOrdersStatusGetByAdAccount200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def ssioInsertionOrdersStatusGetByAdAccount(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[SsioInsertionOrdersStatusGetByAdAccount200Response] =
    ApiRequest[SsioInsertionOrdersStatusGetByAdAccount200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ssio/insertion_orders/status", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SsioInsertionOrdersStatusGetByAdAccount200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Get insertion order status for `pin_order_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SSIOInsertionOrderStatusResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param pinOrderId The pin order id associated with the ssio insertion order
   */
  def ssioInsertionOrdersStatusGetByPinOrderId(adAccountId: String, pinOrderId: String): ApiRequest[SSIOInsertionOrderStatusResponse] =
    ApiRequest[SSIOInsertionOrderStatusResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("pin_order_id", pinOrderId)
      .withSuccessResponse[SSIOInsertionOrderStatusResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Get Salesforce order lines for account id `ad_account_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
   * 
   * Expected answers:
   *   code 200 : SsioOrderLinesGetByAdAccount200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param pinOrderId The pin order id associated with the SSIO insertion order
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def ssioOrderLinesGetByAdAccount(adAccountId: String, pinOrderId: Option[String] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[SsioOrderLinesGetByAdAccount200Response] =
    ApiRequest[SsioOrderLinesGetByAdAccount200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/ssio/order_lines", "application/json")
      .withQueryParam("pin_order_id", pinOrderId)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SsioOrderLinesGetByAdAccount200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

