/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Board
import org.openapitools.client.model.BoardCreate
import org.openapitools.client.model.BoardPrivacyFilter
import org.openapitools.client.model.BoardSection
import org.openapitools.client.model.BoardSectionCreate
import org.openapitools.client.model.BoardSectionUpdateWithRequiredBody
import org.openapitools.client.model.BoardSectionsList200Response
import org.openapitools.client.model.BoardWithUpdatePrivacy
import org.openapitools.client.model.BoardWithUpdatePrivacyUpdate
import org.openapitools.client.model.BoardsList200Response
import org.openapitools.client.model.BoardsListPins200Response
import org.openapitools.client.model.CreativeType
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BoardsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new BoardsApi(baseUrl)
}

class BoardsApi(baseUrl: String) {

  /**
   * Create a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 200 : BoardSection (The request has succeeded.)
   *   code 201 : BoardSection (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param boardId Unique identifier of a board.
   * @param boardSectionCreate 
   * @param adAccountId Unique identifier of an ad account.
   */
  def boardSectionsCreate(boardId: String, boardSectionCreate: BoardSectionCreate, adAccountId: Option[String] = None): ApiRequest[BoardSection] =
    ApiRequest[BoardSection](ApiMethods.POST, baseUrl, "/boards/{board_id}/sections", "application/json")
      .withBody(boardSectionCreate)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("board_id", boardId)
      .withSuccessResponse[BoardSection](200)
      .withSuccessResponse[BoardSection](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 200 : BoardSection (The request has succeeded.)
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param boardId Unique identifier of a board.
   * @param sectionId Unique identifier of a board section.
   * @param adAccountId Unique identifier of an ad account.
   */
  def boardSectionsDelete(boardId: String, sectionId: String, adAccountId: Option[String] = None): ApiRequest[BoardSection] =
    ApiRequest[BoardSection](ApiMethods.DELETE, baseUrl, "/boards/{board_id}/sections/{section_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("board_id", boardId)
      .withPathParam("section_id", sectionId)
      .withSuccessResponse[BoardSection](200)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of all board sections from a board owned by the \"operation user_account\" - or a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 200 : BoardSectionsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param boardId Unique identifier of a board.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def boardSectionsList(boardId: String, adAccountId: Option[String] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[BoardSectionsList200Response] =
    ApiRequest[BoardSectionsList200Response](ApiMethods.GET, baseUrl, "/boards/{board_id}/sections", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("board_id", boardId)
      .withSuccessResponse[BoardSectionsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of the Pins on a board section of a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 200 : BoardsListPins200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param boardId Unique identifier of a board.
   * @param sectionId Unique identifier of a board section.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def boardSectionsListPins(boardId: String, sectionId: String, adAccountId: Option[String] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[BoardsListPins200Response] =
    ApiRequest[BoardsListPins200Response](ApiMethods.GET, baseUrl, "/boards/{board_id}/sections/{section_id}/pins", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("board_id", boardId)
      .withPathParam("section_id", sectionId)
      .withSuccessResponse[BoardsListPins200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 200 : BoardSection (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param boardId Unique identifier of a board.
   * @param sectionId Unique identifier of a board section.
   * @param boardSectionUpdateWithRequiredBody 
   * @param adAccountId Unique identifier of an ad account.
   */
  def boardSectionsUpdate(boardId: String, sectionId: String, boardSectionUpdateWithRequiredBody: BoardSectionUpdateWithRequiredBody, adAccountId: Option[String] = None): ApiRequest[BoardSection] =
    ApiRequest[BoardSection](ApiMethods.PATCH, baseUrl, "/boards/{board_id}/sections/{section_id}", "application/json")
      .withBody(boardSectionUpdateWithRequiredBody)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("board_id", boardId)
      .withPathParam("section_id", sectionId)
      .withSuccessResponse[BoardSection](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create a board owned by the \"operation user_account\". Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 200 : Board (The request has succeeded.)
   *   code 201 : Board (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param boardCreate 
   * @param adAccountId Unique identifier of an ad account.
   */
  def boardsCreate(boardCreate: BoardCreate, adAccountId: Option[String] = None): ApiRequest[Board] =
    ApiRequest[Board](ApiMethods.POST, baseUrl, "/boards", "application/json")
      .withBody(boardCreate)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[Board](200)
      .withSuccessResponse[Board](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete a board owned by the \"operation user_account\". * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 200 : Board (The request has succeeded.)
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param boardId 
   * @param adAccountId Unique identifier of an ad account.
   */
  def boardsDelete(boardId: String, adAccountId: Option[String] = None): ApiRequest[Board] =
    ApiRequest[Board](ApiMethods.DELETE, baseUrl, "/boards/{board_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("board_id", boardId)
      .withSuccessResponse[Board](200)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a board owned by the operation user_account - or a group board that has been shared with this account. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 200 : Board (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param boardId 
   * @param adAccountId Unique identifier of an ad account.
   */
  def boardsGet(boardId: String, adAccountId: Option[String] = None): ApiRequest[Board] =
    ApiRequest[Board](ApiMethods.GET, baseUrl, "/boards/{board_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("board_id", boardId)
      .withSuccessResponse[Board](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of the boards owned by the \"operation user_account\" + group boards where this account is a collaborator Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". Optional: Specify a privacy type (public, protected, or secret) to indicate which boards to return. * If no privacy is specified, all boards that can be returned (based on the scopes of the token and ad_account role if applicable) will be returned.
   * 
   * Expected answers:
   *   code 200 : BoardsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param privacy The privacy level of the board
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def boardsList(adAccountId: Option[String] = None, privacy: Option[BoardPrivacyFilter] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[BoardsList200Response] =
    ApiRequest[BoardsList200Response](ApiMethods.GET, baseUrl, "/boards", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("privacy", privacy)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[BoardsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of the Pins on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. - Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 200 : BoardsListPins200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param boardId Unique identifier of a board.
   * @param creativeTypes Pin creative types filter. **Note:** SHOP_THE_PIN has been deprecated. Please use COLLECTION instead.
   * @param adAccountId Unique identifier of an ad account.
   * @param pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def boardsListPins(boardId: String, creativeTypes: Seq[CreativeType], adAccountId: Option[String] = None, pinMetrics: Option[Boolean] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[BoardsListPins200Response] =
    ApiRequest[BoardsListPins200Response](ApiMethods.GET, baseUrl, "/boards/{board_id}/pins", "application/json")
      .withQueryParam("creative_types", ArrayValues(creativeTypes, MULTI))
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("pin_metrics", pinMetrics)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("board_id", boardId)
      .withSuccessResponse[BoardsListPins200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update a board owned by the \"operating user_account\". * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.
   * 
   * Expected answers:
   *   code 200 : BoardWithUpdatePrivacy (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param boardId 
   * @param boardWithUpdatePrivacyUpdate 
   * @param adAccountId Unique identifier of an ad account.
   */
  def boardsUpdate(boardId: String, boardWithUpdatePrivacyUpdate: BoardWithUpdatePrivacyUpdate, adAccountId: Option[String] = None): ApiRequest[BoardWithUpdatePrivacy] =
    ApiRequest[BoardWithUpdatePrivacy](ApiMethods.PATCH, baseUrl, "/boards/{board_id}", "application/json")
      .withBody(boardWithUpdatePrivacyUpdate)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("board_id", boardId)
      .withSuccessResponse[BoardWithUpdatePrivacy](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

