/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.BulkDownload
import org.openapitools.client.model.BulkDownloadCreate
import org.openapitools.client.model.BulkJobData
import org.openapitools.client.model.BulkUpsertRequest
import org.openapitools.client.model.BulkUpsertResponse
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BulkApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new BulkApi(baseUrl)
}

class BulkApi(baseUrl: String) {

  /**
   * Create an asynchronous report that may include information on campaigns, ad groups, product groups, ads, keywords, schedules,and/or labels; can filter by campaigns. Though the entities may be active, archived, or paused, only active entities will return data.
   * 
   * Expected answers:
   *   code 200 : BulkDownload (The request has succeeded.)
   *   code 201 : BulkDownload (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bulkDownloadCreate 
   */
  def bulkDownloadCreate(adAccountId: String, bulkDownloadCreate: BulkDownloadCreate): ApiRequest[BulkDownload] =
    ApiRequest[BulkDownload](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/bulk/download", "application/json")
      .withBody(bulkDownloadCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[BulkDownload](200)
      .withSuccessResponse[BulkDownload](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get the status of a bulk request by `request_id`, along with a download URL that will allow you to download the new or updated entity data (campaigns, ad groups, product groups, ads, schedules, or keywords).
   * 
   * Expected answers:
   *   code 200 : BulkJobData (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bulkRequestId Bulk request ID that is from one of the entities bulk endpoints
   * @param includeDetails If set to True then attach the errors/details to all the requests
   */
  def bulkRequestGet(adAccountId: String, bulkRequestId: String, includeDetails: Option[Boolean] = None): ApiRequest[BulkJobData] =
    ApiRequest[BulkJobData](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/bulk/{bulk_request_id}", "application/json")
      .withQueryParam("include_details", includeDetails)
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("bulk_request_id", bulkRequestId)
      .withSuccessResponse[BulkJobData](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Either create or update any combination of campaigns, ad groups, product groups, ads, keywords, schedules, or labels. Note that this request will be processed asynchronously; the response will include a <code>request_id</code> that can be used to obtain the status of the request.
   * 
   * Expected answers:
   *   code 200 : BulkUpsertResponse (The request has succeeded.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bulkUpsertRequest Parameters to get create/update ad entities in bulk
   */
  def bulkUpsertCreate(adAccountId: String, bulkUpsertRequest: BulkUpsertRequest): ApiRequest[BulkUpsertResponse] =
    ApiRequest[BulkUpsertResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/bulk/upsert", "application/json")
      .withBody(bulkUpsertRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[BulkUpsertResponse](200)
      .withDefaultErrorResponse[Error]
      



}

