/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.BrandAccount
import org.openapitools.client.model.BrandAccountCreate
import org.openapitools.client.model.BrandAccountUpdate
import org.openapitools.client.model.BusinessMembershipMember
import org.openapitools.client.model.DeleteBusinessMembership200Response
import org.openapitools.client.model.DeleteBusinessMembershipBody
import org.openapitools.client.model.DeleteBusinessPartners
import org.openapitools.client.model.DeleteBusinessPartnersDelete
import org.openapitools.client.model.Error
import org.openapitools.client.model.GetBusinessEmployers200Response
import org.openapitools.client.model.MemberBusinessRole
import org.openapitools.client.model.PartnerType
import org.openapitools.client.model.SystemUserUpdateWithRequiredBody
import org.openapitools.client.model.UpdateBusinessMembershipsResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BusinessAccessRelationshipsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new BusinessAccessRelationshipsApi(baseUrl)
}

class BusinessAccessRelationshipsApi(baseUrl: String) {

  /**
   * Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.
   * 
   * Expected answers:
   *   code 200 : BrandAccount (The request has succeeded.)
   *   code 201 : BrandAccount (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessHierarchyId business hierarchy node id
   * @param brandAccountCreate 
   */
  def brandAccountsCreate(businessHierarchyId: String, brandAccountCreate: BrandAccountCreate): ApiRequest[BrandAccount] =
    ApiRequest[BrandAccount](ApiMethods.POST, baseUrl, "/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts", "application/json")
      .withBody(brandAccountCreate)
      .withPathParam("business_hierarchy_id", businessHierarchyId)
      .withSuccessResponse[BrandAccount](200)
      .withSuccessResponse[BrandAccount](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update an existing Brand Account
   * 
   * Expected answers:
   *   code 200 : BrandAccount (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 409 : Error (The request could not be processed because of a conflict in the current state of the resource.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param brandAccountId 
   * @param businessHierarchyId business hierarchy node id
   * @param brandAccountUpdate 
   */
  def brandAccountsUpdate(brandAccountId: String, businessHierarchyId: String, brandAccountUpdate: BrandAccountUpdate): ApiRequest[BrandAccount] =
    ApiRequest[BrandAccount](ApiMethods.PATCH, baseUrl, "/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}", "application/json")
      .withBody(brandAccountUpdate)
      .withPathParam("brand_account_id", brandAccountId)
      .withPathParam("business_hierarchy_id", businessHierarchyId)
      .withSuccessResponse[BrandAccount](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](409)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Terminate memberships between the specified members and your business.
   * 
   * Expected answers:
   *   code 200 : DeleteBusinessMembership200Response (The request has succeeded.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Business id
   * @param deleteBusinessMembershipBody 
   */
  def deleteBusinessMembership(businessId: String, deleteBusinessMembershipBody: DeleteBusinessMembershipBody): ApiRequest[DeleteBusinessMembership200Response] =
    ApiRequest[DeleteBusinessMembership200Response](ApiMethods.DELETE, baseUrl, "/businesses/{business_id}/members", "application/json")
      .withBody(deleteBusinessMembershipBody)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[DeleteBusinessMembership200Response](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.
   * 
   * Expected answers:
   *   code 200 : DeleteBusinessPartners (The request has succeeded.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param deleteBusinessPartnersDelete 
   */
  def deleteBusinessPartners(businessId: String, deleteBusinessPartnersDelete: DeleteBusinessPartnersDelete): ApiRequest[DeleteBusinessPartners] =
    ApiRequest[DeleteBusinessPartners](ApiMethods.DELETE, baseUrl, "/businesses/{business_id}/partners", "application/json")
      .withBody(deleteBusinessPartnersDelete)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[DeleteBusinessPartners](200)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get all of the viewing user's business employers.
   * 
   * Expected answers:
   *   code 200 : GetBusinessEmployers200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param assetsSummary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def getBusinessEmployers(assetsSummary: Option[Boolean] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[GetBusinessEmployers200Response] =
    ApiRequest[GetBusinessEmployers200Response](ApiMethods.GET, baseUrl, "/businesses/employers", "application/json")
      .withQueryParam("assets_summary", assetsSummary)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[GetBusinessEmployers200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get all members of the specified business. The return response will include the member's business_role and assets they have access to if assets_summary=TRUE
   * 
   * Expected answers:
   *   code 200 : GetBusinessEmployers200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param fetchSystemUsers Fetches system users if True. Fetches regular user employees if False.
   * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are
   * @param businessRoles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned.
   * @param memberIds A list of business members ids separated by comma.
   * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def getBusinessMembers(businessId: String, fetchSystemUsers: Option[Boolean] = None, assetsSummary: Option[Boolean] = None, businessRoles: Seq[MemberBusinessRole], memberIds: Option[String] = None, startIndex: Option[Int] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[GetBusinessEmployers200Response] =
    ApiRequest[GetBusinessEmployers200Response](ApiMethods.GET, baseUrl, "/businesses/{business_id}/members", "application/json")
      .withQueryParam("fetch_system_users", fetchSystemUsers)
      .withQueryParam("assets_summary", assetsSummary)
      .withQueryParam("business_roles", ArrayValues(businessRoles, MULTI))
      .withQueryParam("member_ids", memberIds)
      .withQueryParam("start_index", startIndex)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[GetBusinessEmployers200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get all partners of the specified business.  If the assets_summary=TRUE and: - partner_type=INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type=EXTERNAL, the business assets returned are your partner's business assets the partner has granted you   access to.
   * 
   * Expected answers:
   *   code 200 : GetBusinessEmployers200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are
   * @param partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type=INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type=EXTERNAL, the asset being queried is for the accesses you have to the partner's business asset.
   * @param partnerIds A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned.
   * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned.
   * @param sortAscending Sort ascending.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def getBusinessPartners(businessId: String, assetsSummary: Option[Boolean] = None, partnerType: Option[PartnerType] = None, partnerIds: Option[String] = None, startIndex: Option[Int] = None, sortAscending: Option[Boolean] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[GetBusinessEmployers200Response] =
    ApiRequest[GetBusinessEmployers200Response](ApiMethods.GET, baseUrl, "/businesses/{business_id}/partners", "application/json")
      .withQueryParam("assets_summary", assetsSummary)
      .withQueryParam("partner_type", partnerType)
      .withQueryParam("partner_ids", partnerIds)
      .withQueryParam("start_index", startIndex)
      .withQueryParam("sort_ascending", sortAscending)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[GetBusinessEmployers200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update a system user information such as name.
   * 
   * Expected answers:
   *   code 200 :  (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param systemUserId Unique identifier of a system user.
   * @param systemUserUpdateWithRequiredBody 
   */
  def systemUserUpdate(businessId: String, systemUserId: String, systemUserUpdateWithRequiredBody: SystemUserUpdateWithRequiredBody): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PATCH, baseUrl, "/businesses/{business_id}/system_users/{system_user_id}", "application/json")
      .withBody(systemUserUpdateWithRequiredBody)
      .withPathParam("business_id", businessId)
      .withPathParam("system_user_id", systemUserId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update a member's business role within the business.
   * 
   * Expected answers:
   *   code 200 : UpdateBusinessMembershipsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Business id
   * @param businessMembershipMember 
   */
  def updateBusinessMemberships(businessId: String, businessMembershipMember: Seq[BusinessMembershipMember]): ApiRequest[UpdateBusinessMembershipsResponse] =
    ApiRequest[UpdateBusinessMembershipsResponse](ApiMethods.PATCH, baseUrl, "/businesses/{business_id}/members", "application/json")
      .withBody(businessMembershipMember)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[UpdateBusinessMembershipsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

