/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AuthRespondInvitesBody
import org.openapitools.client.model.CancelInvitesRequest
import org.openapitools.client.model.CancelInvitesResponse
import org.openapitools.client.model.CreateAssetAccessRequestBody
import org.openapitools.client.model.CreateAssetAccessRequestResponse
import org.openapitools.client.model.CreateAssetInvitesRequest
import org.openapitools.client.model.CreateInvitesResultsResponseArray
import org.openapitools.client.model.CreateMembershipOrPartnershipInvitesBody
import org.openapitools.client.model.Error
import org.openapitools.client.model.GetInvites200Response
import org.openapitools.client.model.InviteFilterStatus
import org.openapitools.client.model.InviteType
import org.openapitools.client.model.RespondToInvitesResponseArray
import org.openapitools.client.model.UpdateInvitesResultsResponseArray
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BusinessAccessInviteApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new BusinessAccessInviteApi(baseUrl)
}

class BusinessAccessInviteApi(baseUrl: String) {

  /**
   * Create a request to access an existing partner's assets with the specified permissions. The request will be sent to the partner for approval. The assets that can be requested are ad accounts and profiles.
   * 
   * Expected answers:
   *   code 200 : CreateAssetAccessRequestResponse (The request has succeeded.)
   *   code 201 : CreateAssetAccessRequestResponse (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param createAssetAccessRequestBody 
   */
  def assetAccessRequestsCreate(businessId: String, createAssetAccessRequestBody: CreateAssetAccessRequestBody): ApiRequest[CreateAssetAccessRequestResponse] =
    ApiRequest[CreateAssetAccessRequestResponse](ApiMethods.POST, baseUrl, "/businesses/{business_id}/requests/assets/access", "application/json")
      .withBody(createAssetAccessRequestBody)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[CreateAssetAccessRequestResponse](200)
      .withSuccessResponse[CreateAssetAccessRequestResponse](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Cancel membership/partnership invites and/or requests.
   * 
   * Expected answers:
   *   code 200 : CancelInvitesResponse (The request has succeeded.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param cancelInvitesRequest 
   */
  def cancelInvitesOrRequests(businessId: String, cancelInvitesRequest: CancelInvitesRequest): ApiRequest[CancelInvitesResponse] =
    ApiRequest[CancelInvitesResponse](ApiMethods.DELETE, baseUrl, "/businesses/{business_id}/invites", "application/json")
      .withBody(cancelInvitesRequest)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[CancelInvitesResponse](200)
      .withDefaultErrorResponse[Error]
      

  /**
   * Assign asset permissions information to an existing invite/request. Can be used to: - Request access to a partner's asset. Note: This is only for when no existing partnership exists. If an existing   partnership exists, use \"Create a request to access an existing partner's assets\" to request access to your   partner's assets.     - invite_type=\"PARTNER_REQUEST\" - Invite a partner to access your business assets. Note: This is only for when there is no existing partnership.   If there is an existing partnership, use \"Assign/Update partner asset permissions\" to assign a partner access to   new assets.     - invite_type=\"PARTNER_INVITE\" - Invite a member to access your business assets. Note: This is only for when there is no existing membership.   If there is an existing membership, use \"Assign/Update member asset permissions\" to assign a member access to new   assets.     - invite_type=\"MEMBER_INVITE\"  To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview.
   * 
   * Expected answers:
   *   code 200 : UpdateInvitesResultsResponseArray (The request has succeeded.)
   *   code 201 : UpdateInvitesResultsResponseArray (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param createAssetInvitesRequest 
   */
  def createAssetInvites(businessId: String, createAssetInvitesRequest: CreateAssetInvitesRequest): ApiRequest[UpdateInvitesResultsResponseArray] =
    ApiRequest[UpdateInvitesResultsResponseArray](ApiMethods.POST, baseUrl, "/businesses/{business_id}/invites/assets/access", "application/json")
      .withBody(createAssetInvitesRequest)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[UpdateInvitesResultsResponseArray](200)
      .withSuccessResponse[UpdateInvitesResultsResponseArray](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create batch invites or requests. Can create batch invites or requests as described below. - Invite members to join the business. This would required specifying the following:     - invite_type=\"MEMBER_INVITE\"     - business_role=\"EMPLOYEE\" OR business_role=\"BIZ_ADMIN\" (To learn more about business roles, visit     https://help.pinterest.com/en/business/article/profile-permissions-in-business-access.)     - members - Invite partners to access your business assets. This would require specifying the following:     - invite_type=\"PARTNER_INVITE\"     - business_role=\"PARTNER\"     - partners - Request to be a partner so you can access their assets. This would require specifying the following:     - invite_type=\"PARTNER_REQUEST\"     - business_role=\"PARTNER\"     - partners
   * 
   * Expected answers:
   *   code 200 : CreateInvitesResultsResponseArray (The request has succeeded.)
   *   code 201 : CreateInvitesResultsResponseArray (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param createMembershipOrPartnershipInvitesBody 
   */
  def createMembershipOrPartnershipInvites(businessId: String, createMembershipOrPartnershipInvitesBody: CreateMembershipOrPartnershipInvitesBody): ApiRequest[CreateInvitesResultsResponseArray] =
    ApiRequest[CreateInvitesResultsResponseArray](ApiMethods.POST, baseUrl, "/businesses/{business_id}/invites", "application/json")
      .withBody(createMembershipOrPartnershipInvitesBody)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[CreateInvitesResultsResponseArray](200)
      .withSuccessResponse[CreateInvitesResultsResponseArray](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get the membership/partnership invites and/or requests for the authorized user.
   * 
   * Expected answers:
   *   code 200 : GetInvites200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param businessId Unique identifier of the requesting business.
   * @param isMember A boolean field to indicate whether the invite is to create a partnership or a membership.
   * @param inviteStatus A list of invite statuses to filter invites by. Only invites whose status is in the provided statuses will be returned.
   * @param inviteType Invite type to filter invites by. Only invites of the specified type will be returned.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def getInvites(businessId: String, isMember: Option[Boolean] = None, inviteStatus: Seq[InviteFilterStatus], inviteType: Option[InviteType] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[GetInvites200Response] =
    ApiRequest[GetInvites200Response](ApiMethods.GET, baseUrl, "/businesses/{business_id}/invites", "application/json")
      .withQueryParam("is_member", isMember)
      .withQueryParam("invite_status", ArrayValues(inviteStatus, MULTI))
      .withQueryParam("invite_type", inviteType)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("business_id", businessId)
      .withSuccessResponse[GetInvites200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Accept or decline invites or requests.
   * 
   * Expected answers:
   *   code 200 : RespondToInvitesResponseArray (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param authRespondInvitesBody 
   */
  def respondBusinessAccessInvites(authRespondInvitesBody: AuthRespondInvitesBody): ApiRequest[RespondToInvitesResponseArray] =
    ApiRequest[RespondToInvitesResponseArray](ApiMethods.PATCH, baseUrl, "/businesses/invites", "application/json")
      .withBody(authRespondInvitesBody)
      .withSuccessResponse[RespondToInvitesResponseArray](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

