/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CatalogsItemsBatch
import org.openapitools.client.model.CatalogsItemsBatchPostRequest
import org.openapitools.client.model.CatalogsItemsRequest
import org.openapitools.client.model.Error
import org.openapitools.client.model.ItemsPost200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CatalogItemsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CatalogItemsApi(baseUrl)
}

class CatalogItemsApi(baseUrl: String) {

  /**
   * Get a single catalogs items batch owned by the \"operating user_account\". [See detailed documentation here.](/docs/api-features/shopping-overview/#Update%20items%20in%20batch) - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.
   * 
   * Expected answers:
   *   code 200 : CatalogsItemsBatch (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param batchId Id of a catalogs items batch to fetch
   * @param adAccountId Unique identifier of an ad account.
   */
  def itemsBatchGet(batchId: String, adAccountId: Option[String] = None): ApiRequest[CatalogsItemsBatch] =
    ApiRequest[CatalogsItemsBatch](ApiMethods.GET, baseUrl, "/catalogs/items/batch/{batch_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("batch_id", batchId)
      .withSuccessResponse[CatalogsItemsBatch](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * This endpoint supports multiple operations on a set of one or more catalog items owned by the \"operation user_account\". [See detailed documentation here.](/docs/work-with-catalogs/modify-items-in-batch/) - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: - Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager. - The item UPSERT operation is restricted to users without a feed data source. If you plan to migrate item ingestion from feeds to the API, please reach out to your partner manager or via the Help Center to get assistance.
   * 
   * Expected answers:
   *   code 200 : CatalogsItemsBatch (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogsItemsBatchPostRequest 
   * @param adAccountId Unique identifier of an ad account.
   */
  def itemsBatchPost(catalogsItemsBatchPostRequest: CatalogsItemsBatchPostRequest, adAccountId: Option[String] = None): ApiRequest[CatalogsItemsBatch] =
    ApiRequest[CatalogsItemsBatch](ApiMethods.POST, baseUrl, "/catalogs/items/batch", "application/json")
      .withBody(catalogsItemsBatchPostRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsItemsBatch](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get the items of the catalog owned by the \"operation user_account\". [See detailed documentation here.](/docs/api-features/shopping-overview/#Update%20items%20in%20batch) - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 200 : ItemsPost200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogsItemsRequest 
   * @param adAccountId Unique identifier of an ad account.
   */
  def itemsPost(catalogsItemsRequest: CatalogsItemsRequest, adAccountId: Option[String] = None): ApiRequest[ItemsPost200Response] =
    ApiRequest[ItemsPost200Response](ApiMethods.POST, baseUrl, "/catalogs/items", "application/json")
      .withBody(catalogsItemsRequest)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[ItemsPost200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

