/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Catalog
import org.openapitools.client.model.CatalogCreate
import org.openapitools.client.model.CatalogsAvailableFilterValues
import org.openapitools.client.model.CatalogsList200Response
import org.openapitools.client.model.CatalogsLocale
import org.openapitools.client.model.Country
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CatalogsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CatalogsApi(baseUrl)
}

class CatalogsApi(baseUrl: String) {

  /**
   * Get the available filter attributes and values associated with a given feed or catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account. - `country`, `language`, and `feed_id` are only used in retail catalogs. - Note: It is not guaranteed that all available filter values will be returned. Instead this endpoint will return values from a sample of up to 1000 items.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : CatalogsAvailableFilterValues (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogId Filter entities for a given catalog_id.
   * @param feedId Filter entities for a given feed_id. If not given, all feeds are considered.
   * @param country Country for the Catalogs Items
   * @param language Language for the Catalogs Items
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsAvailableFilterValues(catalogId: String, feedId: Option[String] = None, country: Option[Country] = None, language: Option[CatalogsLocale] = None, adAccountId: Option[String] = None): ApiRequest[CatalogsAvailableFilterValues] =
    ApiRequest[CatalogsAvailableFilterValues](ApiMethods.GET, baseUrl, "/catalogs/available_filter_values", "application/json")
      .withQueryParam("catalog_id", catalogId)
      .withQueryParam("feed_id", feedId)
      .withQueryParam("country", country)
      .withQueryParam("language", language)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsAvailableFilterValues](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create a new catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Product and Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 200 : Catalog (The request has succeeded.)
   *   code 201 : Catalog (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogCreate 
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsCreate(catalogCreate: CatalogCreate, adAccountId: Option[String] = None): ApiRequest[Catalog] =
    ApiRequest[Catalog](ApiMethods.POST, baseUrl, "/catalogs", "application/json")
      .withBody(catalogCreate)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[Catalog](200)
      .withSuccessResponse[Catalog](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Fetch catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : CatalogsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def catalogsList(adAccountId: Option[String] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[CatalogsList200Response] =
    ApiRequest[CatalogsList200Response](ApiMethods.GET, baseUrl, "/catalogs", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[CatalogsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

