/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CatalogsListProductsByFilterRequest
import org.openapitools.client.model.CatalogsProductGroupPinsList200Response
import org.openapitools.client.model.CatalogsProductGroupProductCountsVertical
import org.openapitools.client.model.CatalogsProductGroupsCreateManyRequestItems
import org.openapitools.client.model.CatalogsProductGroupsCreateRequestSchema
import org.openapitools.client.model.CatalogsProductGroupsList200Response
import org.openapitools.client.model.CatalogsProductGroupsUpdateRequestSchema
import org.openapitools.client.model.CatalogsVerticalProductGroup
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CatalogProductGroupsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CatalogProductGroupsApi(baseUrl)
}

class CatalogProductGroupsApi(baseUrl: String) {

  /**
   * Get a list of product pins for a given Catalogs Product Group Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : CatalogsProductGroupPinsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param productGroupId Unique identifier of a product group
   * @param adAccountId Unique identifier of an ad account.
   * @param pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def catalogsProductGroupPinsList(productGroupId: String, adAccountId: Option[String] = None, pinMetrics: Option[Boolean] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[CatalogsProductGroupPinsList200Response] =
    ApiRequest[CatalogsProductGroupPinsList200Response](ApiMethods.GET, baseUrl, "/catalogs/product_groups/{product_group_id}/products", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("pin_metrics", pinMetrics)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("product_group_id", productGroupId)
      .withSuccessResponse[CatalogsProductGroupPinsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create product group to use in Catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager. \"Catalog-based product groups\" can include items from all data sources (feeds and API) and are available to both non-retail catalogs with any data sources and retail catalogs with API-created items. If your catalog only contains retail items created via feeds, you should use the \"retail feed-based\" option. [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 200 : CatalogsVerticalProductGroup (The request has succeeded.)
   *   code 201 : CatalogsVerticalProductGroup (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogsProductGroupsCreateRequestSchema 
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsCreate(catalogsProductGroupsCreateRequestSchema: CatalogsProductGroupsCreateRequestSchema, adAccountId: Option[String] = None): ApiRequest[CatalogsVerticalProductGroup] =
    ApiRequest[CatalogsVerticalProductGroup](ApiMethods.POST, baseUrl, "/catalogs/product_groups", "application/json")
      .withBody(catalogsProductGroupsCreateRequestSchema)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[CatalogsVerticalProductGroup](200)
      .withSuccessResponse[CatalogsVerticalProductGroup](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create product group to use in Catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 201 : Seq[String] (The request has succeeded and a new resource has been created as a result.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogsProductGroupsCreateManyRequestItems 
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsCreateMany(catalogsProductGroupsCreateManyRequestItems: Seq[CatalogsProductGroupsCreateManyRequestItems], adAccountId: Option[String] = None): ApiRequest[Seq[String]] =
    ApiRequest[Seq[String]](ApiMethods.POST, baseUrl, "/catalogs/product_groups/multiple", "application/json")
      .withBody(catalogsProductGroupsCreateManyRequestItems)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[String]](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete a product group owned by the \"operation user_account\" from being in use in Catalogs. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : CatalogsVerticalProductGroup (The request has succeeded.)
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param productGroupId Unique identifier of a product group
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsDelete(productGroupId: String, adAccountId: Option[String] = None): ApiRequest[CatalogsVerticalProductGroup] =
    ApiRequest[CatalogsVerticalProductGroup](ApiMethods.DELETE, baseUrl, "/catalogs/product_groups/{product_group_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("product_group_id", productGroupId)
      .withSuccessResponse[CatalogsVerticalProductGroup](200)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete product groups owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param id Comma-separated list of product group ids
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsDeleteMany(id: Seq[Int], adAccountId: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/catalogs/product_groups/multiple", "application/json")
      .withQueryParam("id", ArrayValues(id, CSV))
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a single product group for a given Catalogs Product Group Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : CatalogsVerticalProductGroup (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param productGroupId Unique identifier of a product group
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsGet(productGroupId: String, adAccountId: Option[String] = None): ApiRequest[CatalogsVerticalProductGroup] =
    ApiRequest[CatalogsVerticalProductGroup](ApiMethods.GET, baseUrl, "/catalogs/product_groups/{product_group_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("product_group_id", productGroupId)
      .withSuccessResponse[CatalogsVerticalProductGroup](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of product groups for a given Catalogs Feed Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : CatalogsProductGroupsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param id Comma-separated list of product group ids
   * @param feedId Filter entities for a given feed_id. If not given, all feeds are considered.
   * @param catalogId Filter entities for a given catalog_id. If not given, all catalogs are considered.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def catalogsProductGroupsList(id: Seq[Int], feedId: Option[String] = None, catalogId: Option[String] = None, adAccountId: Option[String] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[CatalogsProductGroupsList200Response] =
    ApiRequest[CatalogsProductGroupsList200Response](ApiMethods.GET, baseUrl, "/catalogs/product_groups", "application/json")
      .withQueryParam("id", ArrayValues(id, CSV))
      .withQueryParam("feed_id", feedId)
      .withQueryParam("catalog_id", catalogId)
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[CatalogsProductGroupsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a product counts for a given Catalogs Product Group owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : CatalogsProductGroupProductCountsVertical (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param productGroupId Unique identifier of a product group
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsProductCountsGet(productGroupId: String, adAccountId: Option[String] = None): ApiRequest[CatalogsProductGroupProductCountsVertical] =
    ApiRequest[CatalogsProductGroupProductCountsVertical](ApiMethods.GET, baseUrl, "/catalogs/product_groups/{product_group_id}/product_counts", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("product_group_id", productGroupId)
      .withSuccessResponse[CatalogsProductGroupProductCountsVertical](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update product group owned by the \"operation user_account\" to use in Catalogs. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager. \"Catalog-based product groups\" can include items from all data sources (feeds and API) and are available to both non-retail catalogs with any data sources and retail catalogs with API-created items. If your catalog only contains retail items created via feeds, you should use the \"retail feed-based\" option. [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
   * 
   * Expected answers:
   *   code 200 : CatalogsVerticalProductGroup (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param productGroupId Unique identifier of a product group
   * @param catalogsProductGroupsUpdateRequestSchema 
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsProductGroupsUpdate(productGroupId: String, catalogsProductGroupsUpdateRequestSchema: CatalogsProductGroupsUpdateRequestSchema, adAccountId: Option[String] = None): ApiRequest[CatalogsVerticalProductGroup] =
    ApiRequest[CatalogsVerticalProductGroup](ApiMethods.PATCH, baseUrl, "/catalogs/product_groups/{product_group_id}", "application/json")
      .withBody(catalogsProductGroupsUpdateRequestSchema)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("product_group_id", productGroupId)
      .withSuccessResponse[CatalogsVerticalProductGroup](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * List products Pins owned by the \"operation user_account\" that meet the criteria specified in the Catalogs Product Group Filter given in the request. - This endpoint has been implemented in POST to allow for complex filters. This specific POST endpoint is designed to be idempotent. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: This endpoint only supports RETAIL catalog at the moment.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : CatalogsProductGroupPinsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogsListProductsByFilterRequest 
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param adAccountId Unique identifier of an ad account.
   * @param pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.
   */
  def productsByProductGroupFilterList(catalogsListProductsByFilterRequest: CatalogsListProductsByFilterRequest, bookmark: Option[String] = None, pageSize: Option[Int] = None, adAccountId: Option[String] = None, pinMetrics: Option[Boolean] = None): ApiRequest[CatalogsProductGroupPinsList200Response] =
    ApiRequest[CatalogsProductGroupPinsList200Response](ApiMethods.POST, baseUrl, "/catalogs/products/get_by_product_group_filters", "application/json")
      .withBody(catalogsListProductsByFilterRequest)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("pin_metrics", pinMetrics)
      .withSuccessResponse[CatalogsProductGroupPinsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

