/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CatalogsLocalStoresCreate200ResponseInner
import org.openapitools.client.model.CatalogsLocalStoresDelete200ResponseInner
import org.openapitools.client.model.CatalogsLocalStoresList200Response
import org.openapitools.client.model.Error
import org.openapitools.client.model.LocalInventoryItemsBatch
import org.openapitools.client.model.LocalInventoryItemsBatchCreate
import org.openapitools.client.model.LocalInventoryItemsGet
import org.openapitools.client.model.LocalInventoryItemsGetCreate
import org.openapitools.client.model.LocalStore
import org.openapitools.client.model.LocalStoreBatchUpdate
import org.openapitools.client.model.LocalStoreCreate
import org.openapitools.client.model.SupplementalItemsBatchResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CatalogSupplementalApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CatalogSupplementalApi(baseUrl)
}

class CatalogSupplementalApi(baseUrl: String) {

  /**
   * Managing local inventory information in batches supporting CREATE, UPDATE, UPSERT, DELETE operations. Up to 1000 items per request to match catalogs/items.  - Must provide both item_id and store_code to identify a local inventory item.  - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : SupplementalItemsBatchResponse (The request has succeeded.)
   *   code 201 : LocalInventoryItemsBatch (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogId Unique identifier of a catalog.
   * @param localInventoryItemsBatchCreate 
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsLocalInventoryItemsBatchOperate(catalogId: String, localInventoryItemsBatchCreate: LocalInventoryItemsBatchCreate, adAccountId: Option[String] = None): ApiRequest[SupplementalItemsBatchResponse] =
    ApiRequest[SupplementalItemsBatchResponse](ApiMethods.POST, baseUrl, "/catalogs/{catalog_id}/local_inventory_items/batch", "application/json")
      .withBody(localInventoryItemsBatchCreate)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("catalog_id", catalogId)
      .withSuccessResponse[SupplementalItemsBatchResponse](200)
      .withSuccessResponse[LocalInventoryItemsBatch](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get local inventory items for a catalog owned by the \"operation user_account\".  - Must provide an array of {item_id, store_code} pairs in item filters to identify local inventory items.  - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : LocalInventoryItemsGet (The request has succeeded.)
   *   code 201 : LocalInventoryItemsGet (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogId Unique identifier of a catalog.
   * @param localInventoryItemsGetCreate 
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsLocalInventoryItemsPost(catalogId: String, localInventoryItemsGetCreate: LocalInventoryItemsGetCreate, adAccountId: Option[String] = None): ApiRequest[LocalInventoryItemsGet] =
    ApiRequest[LocalInventoryItemsGet](ApiMethods.POST, baseUrl, "/catalogs/{catalog_id}/local_inventory_items/query", "application/json")
      .withBody(localInventoryItemsGetCreate)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("catalog_id", catalogId)
      .withSuccessResponse[LocalInventoryItemsGet](200)
      .withSuccessResponse[LocalInventoryItemsGet](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create a local store for a catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : Seq[CatalogsLocalStoresCreate200ResponseInner] (The request has succeeded.)
   *   code 201 : Seq[LocalStore] (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogId Unique identifier of a catalog.
   * @param localStoreCreate 
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsLocalStoresCreate(catalogId: String, localStoreCreate: Seq[LocalStoreCreate], adAccountId: Option[String] = None): ApiRequest[Seq[CatalogsLocalStoresCreate200ResponseInner]] =
    ApiRequest[Seq[CatalogsLocalStoresCreate200ResponseInner]](ApiMethods.POST, baseUrl, "/catalogs/{catalog_id}/local_stores", "application/json")
      .withBody(localStoreCreate)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("catalog_id", catalogId)
      .withSuccessResponse[Seq[CatalogsLocalStoresCreate200ResponseInner]](200)
      .withSuccessResponse[Seq[LocalStore]](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Delete multiple local stores for a catalog owned by the \"operation user_account\".   - By default, the \"operation user_account\" is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : Seq[CatalogsLocalStoresDelete200ResponseInner] (The request has succeeded.)
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogId Unique identifier of a catalog.
   * @param ids List of local store IDs to filter by.
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsLocalStoresDelete(catalogId: String, ids: Seq[String], adAccountId: Option[String] = None): ApiRequest[Seq[CatalogsLocalStoresDelete200ResponseInner]] =
    ApiRequest[Seq[CatalogsLocalStoresDelete200ResponseInner]](ApiMethods.DELETE, baseUrl, "/catalogs/{catalog_id}/local_stores", "application/json")
      .withQueryParam("ids", ArrayValues(ids, CSV))
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("catalog_id", catalogId)
      .withSuccessResponse[Seq[CatalogsLocalStoresDelete200ResponseInner]](200)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Fetch local stores for a catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : CatalogsLocalStoresList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogId Unique identifier of a catalog.
   * @param ids List of local store IDs to filter by.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def catalogsLocalStoresList(catalogId: String, ids: Seq[String], adAccountId: Option[String] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[CatalogsLocalStoresList200Response] =
    ApiRequest[CatalogsLocalStoresList200Response](ApiMethods.GET, baseUrl, "/catalogs/{catalog_id}/local_stores", "application/json")
      .withQueryParam("ids", ArrayValues(ids, CSV))
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("catalog_id", catalogId)
      .withSuccessResponse[CatalogsLocalStoresList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Update a local store for a catalog owned by the \"operation user_account\".   - By default, the \"operation user_account\" is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : Seq[CatalogsLocalStoresCreate200ResponseInner] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogId Unique identifier of a catalog.
   * @param localStoreBatchUpdate 
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsLocalStoresUpdate(catalogId: String, localStoreBatchUpdate: Seq[LocalStoreBatchUpdate], adAccountId: Option[String] = None): ApiRequest[Seq[CatalogsLocalStoresCreate200ResponseInner]] =
    ApiRequest[Seq[CatalogsLocalStoresCreate200ResponseInner]](ApiMethods.PATCH, baseUrl, "/catalogs/{catalog_id}/local_stores", "application/json")
      .withBody(localStoreBatchUpdate)
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("catalog_id", catalogId)
      .withSuccessResponse[Seq[CatalogsLocalStoresCreate200ResponseInner]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Fetch the status and results of a supplemental items batch operation. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * 
   * Expected answers:
   *   code 200 : SupplementalItemsBatchResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param catalogId Unique identifier of a catalog.
   * @param batchId Unique identifier of an items batch operation.
   * @param adAccountId Unique identifier of an ad account.
   */
  def catalogsSupplementalItemsBatchGet(catalogId: String, batchId: String, adAccountId: Option[String] = None): ApiRequest[SupplementalItemsBatchResponse] =
    ApiRequest[SupplementalItemsBatchResponse](ApiMethods.GET, baseUrl, "/catalogs/{catalog_id}/supplemental_items/batch/{batch_id}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withPathParam("catalog_id", catalogId)
      .withPathParam("batch_id", batchId)
      .withSuccessResponse[SupplementalItemsBatchResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

