/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ConversionDeletionRequest
import org.openapitools.client.model.ConversionDeletionRequestCreate
import org.openapitools.client.model.ConversionDeletionRequestList200Response
import org.openapitools.client.model.Error
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ConversionDeletionRequestsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ConversionDeletionRequestsApi(baseUrl)
}

class ConversionDeletionRequestsApi(baseUrl: String) {

  /**
   * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Create a request to delete conversion data for a list of user emails and/or EPIKs, limited to the specified `ad_account_id`. After 72 hours the request is processed and submitted to our deletion process. Then the deletion process ensures deletion within a 30 days period, once the request is submitted to the deletion process it cannot be canceled.
   * 
   * Expected answers:
   *   code 200 : ConversionDeletionRequest (The request has succeeded.)
   *   code 201 : ConversionDeletionRequest (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param conversionDeletionRequestCreate 
   */
  def conversionDeletionRequestCreate(adAccountId: String, conversionDeletionRequestCreate: ConversionDeletionRequestCreate): ApiRequest[ConversionDeletionRequest] =
    ApiRequest[ConversionDeletionRequest](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/conversion_deletion_requests", "application/json")
      .withBody(conversionDeletionRequestCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionDeletionRequest](200)
      .withSuccessResponse[ConversionDeletionRequest](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Delete a conversion deletion request from `ad_account_id` with `request_id`. This will cancel the request and prevent it from being processed. This can only be done if the request is in the `PENDING` status and before the 72 hours mark.
   * 
   * Expected answers:
   *   code 200 : ConversionDeletionRequest (The request has succeeded.)
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param requestId Unique identifier of the conversion deletion request
   * @param adAccountId Unique identifier of an ad account.
   */
  def conversionDeletionRequestDelete(requestId: String, adAccountId: String): ApiRequest[ConversionDeletionRequest] =
    ApiRequest[ConversionDeletionRequest](ApiMethods.DELETE, baseUrl, "/ad_accounts/{ad_account_id}/conversion_deletion_requests/{request_id}", "application/json")
      .withPathParam("request_id", requestId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionDeletionRequest](200)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Get a single conversion deletion request from `ad_account_id` with `request_id`.
   * 
   * Expected answers:
   *   code 200 : ConversionDeletionRequest (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param requestId Unique identifier of the conversion deletion request
   * @param adAccountId Unique identifier of an ad account.
   */
  def conversionDeletionRequestGet(requestId: String, adAccountId: String): ApiRequest[ConversionDeletionRequest] =
    ApiRequest[ConversionDeletionRequest](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_deletion_requests/{request_id}", "application/json")
      .withPathParam("request_id", requestId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionDeletionRequest](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Get a list of the conversion deletion requests for the specified `ad_account_id`.
   * 
   * Expected answers:
   *   code 200 : ConversionDeletionRequestList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   */
  def conversionDeletionRequestList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None): ApiRequest[ConversionDeletionRequestList200Response] =
    ApiRequest[ConversionDeletionRequestList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_deletion_requests", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionDeletionRequestList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

