/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdvertiserDefinedEventsCreate200Response
import org.openapitools.client.model.AdvertiserDefinedEventsCreateRequest
import org.openapitools.client.model.AdvertiserDefinedEventsGet200Response
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ConversionsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ConversionsApi(baseUrl)
}

class ConversionsApi(baseUrl: String) {

  /**
   * Map advertiser defined events to standard events for the given ad account.
   * 
   * Expected answers:
   *   code 200 : AdvertiserDefinedEventsCreate200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param advertiserDefinedEventsCreateRequest 
   */
  def advertiserDefinedEventsCreate(adAccountId: String, advertiserDefinedEventsCreateRequest: AdvertiserDefinedEventsCreateRequest): ApiRequest[AdvertiserDefinedEventsCreate200Response] =
    ApiRequest[AdvertiserDefinedEventsCreate200Response](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/advertiser_defined_events", "application/json")
      .withBody(advertiserDefinedEventsCreateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdvertiserDefinedEventsCreate200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Untrack advertiser defined events for the given ad account.
   * 
   * Expected answers:
   *   code 200 : AdvertiserDefinedEventsCreate200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param eventNames List of event names to delete
   */
  def advertiserDefinedEventsDelete(adAccountId: String, eventNames: Seq[String]): ApiRequest[AdvertiserDefinedEventsCreate200Response] =
    ApiRequest[AdvertiserDefinedEventsCreate200Response](ApiMethods.DELETE, baseUrl, "/ad_accounts/{ad_account_id}/advertiser_defined_events", "application/json")
      .withQueryParam("event_names", ArrayValues(eventNames, CSV))
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdvertiserDefinedEventsCreate200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get advertiser defined events for the given ad account.
   * 
   * Expected answers:
   *   code 200 : AdvertiserDefinedEventsGet200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   */
  def advertiserDefinedEventsGet(adAccountId: String): ApiRequest[AdvertiserDefinedEventsGet200Response] =
    ApiRequest[AdvertiserDefinedEventsGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/advertiser_defined_events", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdvertiserDefinedEventsGet200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update advertiser defined event names or mappings for the given ad account.
   * 
   * Expected answers:
   *   code 200 : AdvertiserDefinedEventsCreate200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param advertiserDefinedEventsCreateRequest 
   */
  def advertiserDefinedEventsUpdate(adAccountId: String, advertiserDefinedEventsCreateRequest: AdvertiserDefinedEventsCreateRequest): ApiRequest[AdvertiserDefinedEventsCreate200Response] =
    ApiRequest[AdvertiserDefinedEventsCreate200Response](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/advertiser_defined_events", "application/json")
      .withBody(advertiserDefinedEventsCreateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdvertiserDefinedEventsCreate200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

