/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.EventQualityScore
import org.openapitools.client.model.IngestionSourceOptions
import org.openapitools.client.model.LookbackPeriodOptions
import org.openapitools.client.model.SourcePlatformOptions
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ConversionEqsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ConversionEqsApi(baseUrl)
}

class ConversionEqsApi(baseUrl: String) {

  /**
   * Get the Event Quality Score (EQS) of your conversion signals.  [Event Quality Score](https://help.pinterest.com/en/business/article/eqs) indicates how effective the customer information and event insights (metadata) passed with your web, app and offline conversion events may be at matching to a Pinterest user.
   * 
   * Expected answers:
   *   code 200 : Seq[EventQualityScore] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param lookbackPeriod Lookback window (number of days).
   * @param adAccountId Unique identifier of an ad account.
   * @param sourcePlatform Source platform of event.
   * @param ingestionSource Ingestion source of event.
   */
  def conversionEqsList(lookbackPeriod: LookbackPeriodOptions, adAccountId: String, sourcePlatform: Option[SourcePlatformOptions] = None, ingestionSource: Option[IngestionSourceOptions] = None): ApiRequest[Seq[EventQualityScore]] =
    ApiRequest[Seq[EventQualityScore]](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/conversion_eqs", "application/json")
      .withQueryParam("lookback_period", lookbackPeriod)
      .withQueryParam("source_platform", sourcePlatform)
      .withQueryParam("ingestion_source", ingestionSource)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[EventQualityScore]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

