/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ConversionEvents
import org.openapitools.client.model.ConversionEventsCreate
import org.openapitools.client.model.DetailedError
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ConversionEventsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ConversionEventsApi(baseUrl)
}

class ConversionEventsApi(baseUrl: String) {

  /**
   * The Pinterest API offers advertisers a way to send Pinterest their conversion information (including web conversions, in-app conversions, or even offline conversions) based on their `ad_account_id`. The request body should be a JSON object. - This endpoint requires an `access_token` be generated through Ads Manager. Review the [Conversions Guide](/docs/api-features/conversion-overview/) for more details. (Note that the authorization header required is `Authorization: Bearer <access_token>`). - The token's `user_account` must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Audience, Campaign. (Note that the token can be used across multiple ad accounts under an user ID.) - This endpoint has a rate limit of 5,000 calls per minute per ad account. - If the merchant is submitting this information using both Pinterest conversion tags and the Pinterest API, Pinterest will remove duplicate information before reporting. (Note that events that took place offline cannot be deduplicated.)
   * 
   * Expected answers:
   *   code 200 : ConversionEvents (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 422 : DetailedError (The request was well-formed but was unable to be followed due to semantic errors.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 503 : Error (The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * Available security schemes:
   *   conversion_token (http)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param conversionEventsCreate 
   * @param test Include query param ?test=true to mark the request as a test request. The events will not be recorded but the API will still return the same response messages. Use this mode to verify your requests are working and your events are constructed correctly. Warning: If you use this query parameter, be certain that it is off (set to false or deleted) before sending a legitimate (non-testing) request.
   */
  def eventsCreate(adAccountId: String, conversionEventsCreate: ConversionEventsCreate, test: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[ConversionEvents] =
    ApiRequest[ConversionEvents](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/events", "application/json")
      .withCredentials(bearerToken).withBody(conversionEventsCreate)
      .withQueryParam("test", test)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ConversionEvents](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[DetailedError](422)
      .withErrorResponse[Error](429)
      .withErrorResponse[Error](503)
      .withDefaultErrorResponse[Error]
      



}

