/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CustomerListUpload
import org.openapitools.client.model.CustomerListUploadCreateRequest
import org.openapitools.client.model.CustomerListUploadCreateResponse
import org.openapitools.client.model.Error
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CustomerListUploadsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CustomerListUploadsApi(baseUrl)
}

class CustomerListUploadsApi(baseUrl: String) {

  /**
   * Create a customer list upload request for multipart S3 upload.  Note: Each part must be at least 5mb; however the last part can be any size greater than 0. Clients with smaller files can request a single part count. This minimal part size restriction is defined by the AWS S3 API.  **Please review the [update customer list endpoint](/docs/api/v5/customer_lists-update/) documentation for additional information.**
   * 
   * Expected answers:
   *   code 200 : CustomerListUploadCreateResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param customerListId Customer list ID.
   * @param customerListUploadCreateRequest 
   */
  def customerListUploadsCreate(adAccountId: String, customerListId: String, customerListUploadCreateRequest: CustomerListUploadCreateRequest): ApiRequest[CustomerListUploadCreateResponse] =
    ApiRequest[CustomerListUploadCreateResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads", "application/json")
      .withBody(customerListUploadCreateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("customer_list_id", customerListId)
      .withSuccessResponse[CustomerListUploadCreateResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get the metadata for a given upload by its ID.
   * 
   * Expected answers:
   *   code 200 : CustomerListUpload (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param customerListId Customer list ID.
   * @param customerListUploadId Customer List Upload ID.
   */
  def customerListUploadsGet(adAccountId: String, customerListId: String, customerListUploadId: String): ApiRequest[CustomerListUpload] =
    ApiRequest[CustomerListUpload](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("customer_list_id", customerListId)
      .withPathParam("customer_list_upload_id", customerListUploadId)
      .withSuccessResponse[CustomerListUpload](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Begin processing a customer list upload.
   * 
   * Expected answers:
   *   code 200 : CustomerListUpload (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param customerListId Customer list ID.
   * @param customerListUploadId Customer List Upload ID.
   */
  def customerListUploadsRun(adAccountId: String, customerListId: String, customerListUploadId: String): ApiRequest[CustomerListUpload] =
    ApiRequest[CustomerListUpload](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}/run", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("customer_list_id", customerListId)
      .withPathParam("customer_list_upload_id", customerListUploadId)
      .withSuccessResponse[CustomerListUpload](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

