/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CustomerSegment
import org.openapitools.client.model.CustomerSegmentCreate
import org.openapitools.client.model.CustomerSegmentList200Response
import org.openapitools.client.model.CustomerSegmentUpdateRequestUpdateWithRequiredBody
import org.openapitools.client.model.Error
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CustomerSegmentApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CustomerSegmentApi(baseUrl)
}

class CustomerSegmentApi(baseUrl: String) {

  /**
   * Customer segments allow advertisers to define existing customers for Pinterest Performance+ campaigns. Customer segments are made up of audience lists.
   * 
   * Expected answers:
   *   code 200 : CustomerSegment (The request has succeeded.)
   *   code 201 : CustomerSegment (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param customerSegmentCreate 
   */
  def customerSegmentCreate(adAccountId: String, customerSegmentCreate: CustomerSegmentCreate): ApiRequest[CustomerSegment] =
    ApiRequest[CustomerSegment](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/customer_segments", "application/json")
      .withBody(customerSegmentCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[CustomerSegment](200)
      .withSuccessResponse[CustomerSegment](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of the customer segments in the specified `ad_account_id`.
   * 
   * Expected answers:
   *   code 200 : CustomerSegmentList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param includeSizing Include audience sizing in result or not
   * @param searchQuery Search query. Can contain pin description keywords or comma-separated pin IDs.
   */
  def customerSegmentList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None, includeSizing: Option[Boolean] = None, searchQuery: Option[String] = None): ApiRequest[CustomerSegmentList200Response] =
    ApiRequest[CustomerSegmentList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/customer_segments", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("include_sizing", includeSizing)
      .withQueryParam("search_query", searchQuery)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[CustomerSegmentList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update the customer segment given advertiser ID and customer segment ID
   * 
   * Expected answers:
   *   code 200 :  (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param customerSegmentUpdateRequestUpdateWithRequiredBody 
   */
  def customerSegmentUpdate(adAccountId: String, customerSegmentUpdateRequestUpdateWithRequiredBody: CustomerSegmentUpdateRequestUpdateWithRequiredBody): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/customer_segments", "application/json")
      .withBody(customerSegmentUpdateRequestUpdateWithRequiredBody)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

