/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CustomerList
import org.openapitools.client.model.CustomerListCreate
import org.openapitools.client.model.CustomerListUpdateWithRequiredBody
import org.openapitools.client.model.CustomerListsList200Response
import org.openapitools.client.model.Error
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CustomerListsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new CustomerListsApi(baseUrl)
}

class CustomerListsApi(baseUrl: String) {

  /**
   * Create a customer list from your records (hashed or plain-text email addresses, or hashed MAIDs or IDFAs).  A customer list is one of the four types of Pinterest audiences: for more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.  **Please review our [requirements](https://help.pinterest.com/en/business/article/audience-targeting#section-13341) for what type of information is allowed when uploading a customer list.**   When you create a customer list, the system scans the list for existing Pinterest accounts; the list must include at least 100 Pinterest accounts. Your original list will be deleted when the matching process is complete. The filtered list – containing only the Pinterest accounts that were included in your starting list – is what will be used to create the audience.   To use your customer list after creating it, convert it into a customer list audience by passing the `CUSTOMER_LIST` audience type at the [create audience endpoint](https://developer.pinterest.com/docs/api/v5/audiences-create).
   * 
   * Expected answers:
   *   code 200 : CustomerList (The request has succeeded.)
   *   code 201 : CustomerList (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param customerListCreate 
   */
  def customerListsCreate(adAccountId: String, customerListCreate: CustomerListCreate): ApiRequest[CustomerList] =
    ApiRequest[CustomerList](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/customer_lists", "application/json")
      .withBody(customerListCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[CustomerList](200)
      .withSuccessResponse[CustomerList](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Gets a specific customer list given the customer list ID.
   * 
   * Expected answers:
   *   code 200 : CustomerList (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param customerListId Customer list ID.
   */
  def customerListsGet(adAccountId: String, customerListId: String): ApiRequest[CustomerList] =
    ApiRequest[CustomerList](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("customer_list_id", customerListId)
      .withSuccessResponse[CustomerList](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a set of customer lists including id and name based on the filters provided.  (Customer lists are a type of audience.) For more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.
   * 
   * Expected answers:
   *   code 200 : CustomerListsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param excludeNca When true, excludes customer lists uploaded for new customer acquisition (expanded matching) from the result. Defaults to false (include all).
   */
  def customerListsList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None, excludeNca: Option[Boolean] = None): ApiRequest[CustomerListsList200Response] =
    ApiRequest[CustomerListsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/customer_lists", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("exclude_nca", excludeNca)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[CustomerListsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Append or remove records to/from an existing customer list. (A customer list is one of the four types of Pinterest audiences.)  When you add records to an existing customer list, the system scans the additions for existing Pinterest accounts; those are the records that will be added to your \"CUSTOMER_LIST\" audience. Your original list of records to add will be deleted when the matching process is complete.  For more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.
   * 
   * Expected answers:
   *   code 200 : CustomerList (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param customerListId Customer list ID.
   * @param customerListUpdateWithRequiredBody 
   */
  def customerListsUpdate(adAccountId: String, customerListId: String, customerListUpdateWithRequiredBody: CustomerListUpdateWithRequiredBody): ApiRequest[CustomerList] =
    ApiRequest[CustomerList](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}", "application/json")
      .withBody(customerListUpdateWithRequiredBody)
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("customer_list_id", customerListId)
      .withSuccessResponse[CustomerList](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

