/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.IntegrationLogsInvalidLogResponse
import org.openapitools.client.model.IntegrationLogsRequestCreate
import org.openapitools.client.model.IntegrationLogsSuccessResponse
import org.openapitools.client.model.IntegrationMetadata
import org.openapitools.client.model.IntegrationMetadataCreate
import org.openapitools.client.model.IntegrationMetadataUpdate
import org.openapitools.client.model.IntegrationRecord
import org.openapitools.client.model.IntegrationsGetList200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object IntegrationsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new IntegrationsApi(baseUrl)
}

class IntegrationsApi(baseUrl: String) {

  /**
   * Delete commerce integration metadata for the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationMetadata (The request has succeeded.)
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param externalBusinessId External business ID for the integration.
   */
  def integrationsCommerceDel(externalBusinessId: String): ApiRequest[IntegrationMetadata] =
    ApiRequest[IntegrationMetadata](ApiMethods.DELETE, baseUrl, "/integrations/commerce/{external_business_id}", "application/json")
      .withPathParam("external_business_id", externalBusinessId)
      .withSuccessResponse[IntegrationMetadata](200)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get commerce integration metadata associated with the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationMetadata (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param externalBusinessId External business ID for the integration.
   */
  def integrationsCommerceGet(externalBusinessId: String): ApiRequest[IntegrationMetadata] =
    ApiRequest[IntegrationMetadata](ApiMethods.GET, baseUrl, "/integrations/commerce/{external_business_id}", "application/json")
      .withPathParam("external_business_id", externalBusinessId)
      .withSuccessResponse[IntegrationMetadata](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update commerce integration metadata for the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationMetadata (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param externalBusinessId External business ID for the integration.
   * @param integrationMetadataUpdate 
   */
  def integrationsCommercePatch(externalBusinessId: String, integrationMetadataUpdate: IntegrationMetadataUpdate): ApiRequest[IntegrationMetadata] =
    ApiRequest[IntegrationMetadata](ApiMethods.PATCH, baseUrl, "/integrations/commerce/{external_business_id}", "application/json")
      .withBody(integrationMetadataUpdate)
      .withPathParam("external_business_id", externalBusinessId)
      .withSuccessResponse[IntegrationMetadata](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create commerce integration metadata to link an external business ID with a Pinterest merchant & ad account. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationMetadata (The request has succeeded.)
   *   code 201 : IntegrationMetadata (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param integrationMetadataCreate 
   */
  def integrationsCommercePost(integrationMetadataCreate: IntegrationMetadataCreate): ApiRequest[IntegrationMetadata] =
    ApiRequest[IntegrationMetadata](ApiMethods.POST, baseUrl, "/integrations/commerce", "application/json")
      .withBody(integrationMetadataCreate)
      .withSuccessResponse[IntegrationMetadata](200)
      .withSuccessResponse[IntegrationMetadata](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get integration metadata by ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationRecord (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param id Integration record ID.
   */
  def integrationsGetById(id: String): ApiRequest[IntegrationRecord] =
    ApiRequest[IntegrationRecord](ApiMethods.GET, baseUrl, "/integrations/{id}", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[IntegrationRecord](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get integration metadata list. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationsGetList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def integrationsGetList(bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[IntegrationsGetList200Response] =
    ApiRequest[IntegrationsGetList200Response](ApiMethods.GET, baseUrl, "/integrations", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[IntegrationsGetList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * This endpoint receives batched logs from integration applications on partner platforms. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
   * 
   * Expected answers:
   *   code 200 : IntegrationLogsSuccessResponse (The request has succeeded.)
   *   code 400 : IntegrationLogsInvalidLogResponse (The server could not understand the request due to invalid syntax.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param integrationLogsRequestCreate 
   */
  def integrationsLogsPost(integrationLogsRequestCreate: IntegrationLogsRequestCreate): ApiRequest[IntegrationLogsSuccessResponse] =
    ApiRequest[IntegrationLogsSuccessResponse](ApiMethods.POST, baseUrl, "/integrations/logs", "application/json")
      .withBody(integrationLogsRequestCreate)
      .withSuccessResponse[IntegrationLogsSuccessResponse](200)
      .withErrorResponse[IntegrationLogsInvalidLogResponse](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

