/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.Keywords
import org.openapitools.client.model.KeywordsCreate
import org.openapitools.client.model.KeywordsGet200Response
import org.openapitools.client.model.KeywordsMetricsArrayResponse
import org.openapitools.client.model.KeywordsUpdate
import org.openapitools.client.model.MatchType
import org.openapitools.client.model.TrendType
import org.openapitools.client.model.TrendingKeywordsResponse
import org.openapitools.client.model.TrendsAgeBucket
import org.openapitools.client.model.TrendsGenderFilter
import org.openapitools.client.model.TrendsL1Interest
import org.openapitools.client.model.TrendsSupportedRegion
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object KeywordsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new KeywordsApi(baseUrl)
}

class KeywordsApi(baseUrl: String) {

  /**
   *   See keyword metrics for a specified country, aggregated across all of Pinterest.   (Definitions are available from the \"Get delivery metrics definitions\"   [API endpoint](/docs/api/v5/#operation/delivery_metrics/get)).
   * 
   * Expected answers:
   *   code 200 : KeywordsMetricsArrayResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param countryCode Two letter country code (ISO 3166-1 alpha-2)
   * @param keywords Comma-separated keywords
   */
  def countryKeywordsMetricsGet(adAccountId: String, countryCode: String, keywords: Seq[String]): ApiRequest[KeywordsMetricsArrayResponse] =
    ApiRequest[KeywordsMetricsArrayResponse](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/keywords/metrics", "application/json")
      .withQueryParam("country_code", countryCode)
      .withQueryParam("keywords", ArrayValues(keywords, CSV))
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[KeywordsMetricsArrayResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Create keywords for the following entity types (advertiser, campaign, ad group, or ad). For more information, see [Keyword targeting](https://help.pinterest.com/en/business/article/keyword-targeting).    **Notes:**   - Advertisers and campaigns can only be assigned keywords with excluding (`_NEGATIVE`).   - All keyword match types are available for ad groups.    For more information on match types, see [match type enums](/docs/api-features/targeting-overview/).    **Returns:**   - A successful call returns an object containing an array of new keyword objects and an empty `errors` object array.   - An unsuccessful call returns an empty keywords array, and instead, inserts the entire object with nulled/negated properties into the `errors` object array:     ```json     {       \"keywords\": [],       \"errors\": [         {           \"data\": {             \"archived\": null,             \"match_type\": \"EXACT\",             \"parent_type\": null,             \"value\": \"foobar\",             \"parent_id\": null,             \"type\": \"keyword\",             \"id\": null           },           \"error_messages\": [             \"Advertisers and Campaigns only accept excluded targeting attributes.\"           ]         }       ]     }
   * 
   * Expected answers:
   *   code 200 : Keywords (The request has succeeded.)
   *   code 201 : Keywords (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param keywordsCreate 
   */
  def keywordsCreate(adAccountId: String, keywordsCreate: KeywordsCreate): ApiRequest[Keywords] =
    ApiRequest[Keywords](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/keywords", "application/json")
      .withBody(keywordsCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Keywords](200)
      .withSuccessResponse[Keywords](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *     Get a list of keywords based on the filters provided. If no filter is provided, it will default to the `ad_account_id` filter, which means it will only return keywords that specifically have `parent_id` set to the `ad_account_id`. Note: Keywords can have `ad_account_ids`, `campaign_ids`, and `ad_group_ids` set as their `parent_ids`. Keywords created through Ads Manager will have their `parent_id` set to an `ad_group_id`, not `ad_account_id`.      For more information, see [Keyword targeting](https://help.pinterest.com/en/business/article/keyword-targeting).      **Notes:**     - Advertisers and campaigns can only be assigned keywords with excluding (`_NEGATIVE`).     - All keyword match types are available for ad groups.      For more information on match types, see [match type enums](/docs/api-features/targeting-overview/).      **Returns:**     - A successful call returns an object containing an array of new keyword objects and an empty `errors` object array.     - An unsuccessful call returns an empty keywords array, and instead, inserts the entire object with nulled/negated properties into the `errors` object array:       ```json       {         \"keywords\": [],         \"errors\": [           {             \"data\": {               \"archived\": null,               \"match_type\": \"EXACT\",               \"parent_type\": null,               \"value\": \"foobar\",               \"parent_id\": null,               \"type\": \"keyword\",               \"id\": null             },             \"error_messages\": [               \"Advertisers and Campaigns only accept excluded targeting attributes.\"             ]           }         ]       }
   * 
   * Expected answers:
   *   code 200 : KeywordsGet200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param campaignId Campaign Id to use to filter the results.
   * @param adGroupId Ad group Id.
   * @param adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users.
   * @param matchTypes Keyword [match type](/docs/api-features/targeting-overview/)
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def keywordsGet(adAccountId: String, campaignId: Option[String] = None, adGroupId: Option[String] = None, adGroupIds: Seq[String], matchTypes: Seq[MatchType], bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[KeywordsGet200Response] =
    ApiRequest[KeywordsGet200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/keywords", "application/json")
      .withQueryParam("campaign_id", campaignId)
      .withQueryParam("ad_group_id", adGroupId)
      .withQueryParam("ad_group_ids", ArrayValues(adGroupIds, MULTI))
      .withQueryParam("match_types", ArrayValues(matchTypes, MULTI))
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[KeywordsGet200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   Update one or more keywords' bid and archived fields. Archiving   a keyword effectively deletes it - keywords no longer receive metrics and   are no longer visible within the parent entity's keywords list.
   * 
   * Expected answers:
   *   code 200 : Keywords (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param keywordsUpdate 
   */
  def keywordsUpdate(adAccountId: String, keywordsUpdate: KeywordsUpdate): ApiRequest[Keywords] =
    ApiRequest[Keywords](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/keywords", "application/json")
      .withBody(keywordsUpdate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Keywords](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get the top trending search keywords among the Pinterest user audience.  Trending keywords can be used to inform ad targeting, budget strategy, and creative decisions about which products and Pins will resonate with your audience.  Geographic, demographic and interest-based filters are available to narrow down to the top trends among a specific audience. Multiple trend types are supported that can be used to identify newly-popular, evergreen or seasonal keywords.  For an interactive way to explore this data, please visit [trends.pinterest.com](https://trends.pinterest.com).
   * 
   * Expected answers:
   *   code 200 : TrendingKeywordsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param region   The geographic region of interest. Only top trends within the specified region will be returned.    The `region` parameter is formatted as ISO 3166-2 country codes delimited by `+`, corresponding to the following geographic areas:   - `US` - United States   - `CA` - Canada   - `DE` - Germany   - `FR` - France   - `ES` - Spain   - `IT` - Italy   - `DE+AT+CH` - Germanic countries   - `GB+IE` - Great Britain & Ireland   - `IT+ES+PT+GR+MT` - Southern Europe   - `PL+RO+HU+SK+CZ` - Eastern Europe   - `SE+DK+FI+NO` - Nordic countries   - `NL+BE+LU` - Benelux   - `AR` - Argentina   - `BR` - Brazil   - `CO` - Colombia   - `MX` - Mexico   - `MX+AR+CO+CL` - Hispanic LatAm   - `AU+NZ` - Australasia
   * @param trendType   The methodology used to rank how trendy a keyword is.   - `growing` trends have high upward growth in search volume over the last quarter   - `monthly` trends have high search volume in the last month   - `yearly` trends have high search volume in the last year   - `seasonal` trends have high upward growth in search volume over the last month and exhibit a seasonal recurring pattern (typically annual)
   * @param interests   The list of supported interests is:   - `animals` - Animals   - `architecture` - Architecture   - `art` - Art   - `beauty` - Beauty   - `childrens_fashion` - Children's Fashion   - `design` - Design   - `diy_and_crafts` - DIY & Crafts   - `education` - Education   - `electronics` - Electronics   - `entertainment` - Entertainment   - `event_planning` - Event Planning   - `finance` - Finance   - `food_and_drinks` - Food & Drink   - `gardening` - Gardening   - `health` - Health   - `home_decor` - Home Decor   - `mens_fashion` - Men's Fashion   - `parenting` - Parenting   - `quotes` - Quotes   - `sport` - Sports   - `travel` - Travel   - `vehicles` - Vehicles   - `wedding` - Wedding   - `womens_fashion` - Women's Fashion
   * @param genders If set, filters the results to trends among users who identify with the specified gender(s). If unset, trends among all genders will be returned. The `unknown` group includes users with unspecified or customized gender profile settings.
   * @param ages If set, filters the results to trends among users in the specified age range(s). If unset, trends among all age groups will be returned.
   * @param includeKeywords If set, filters the results to top trends which include at least one of the specified keywords. If unset, no keyword filtering logic is applied.
   * @param normalizeAgainstGroup  Governs how the resulting time series data will be normalized to a [0-100] scale.    By default (`false`), the data will be normalized independently for each keyword.  The peak search volume observation in *each* keyword's time series will be represented by the value 100.  This is ideal for analyzing when an individual keyword is expected to peak in interest.    If set to `true`, the data will be normalized as a group.  The peak search volume observation across *all* keywords in the response will be represented by the value 100, and all other values scaled accordingly.  Use this option when you wish to compare relative search volume between multiple keywords.
   * @param limit The maximum number of trending keywords that will be returned. Keywords are returned in trend-ranked order, so a `limit` of 50 will return the top 50 trends.
   * @param includeDemographics Including the age and gender distribution for each keyword. By default (`false`), the response will not include demographics data.
   */
  def trendingKeywordsList(region: TrendsSupportedRegion, trendType: TrendType, interests: Seq[TrendsL1Interest], genders: Seq[TrendsGenderFilter], ages: Seq[TrendsAgeBucket], includeKeywords: Seq[String], normalizeAgainstGroup: Option[Boolean] = None, limit: Option[Int] = None, includeDemographics: Option[Boolean] = None): ApiRequest[TrendingKeywordsResponse] =
    ApiRequest[TrendingKeywordsResponse](ApiMethods.GET, baseUrl, "/trends/keywords/{region}/top/{trend_type}", "application/json")
      .withQueryParam("interests", ArrayValues(interests, MULTI))
      .withQueryParam("genders", ArrayValues(genders, MULTI))
      .withQueryParam("ages", ArrayValues(ages, MULTI))
      .withQueryParam("include_keywords", ArrayValues(includeKeywords, MULTI))
      .withQueryParam("normalize_against_group", normalizeAgainstGroup)
      .withQueryParam("limit", limit)
      .withQueryParam("include_demographics", includeDemographics)
      .withPathParam("region", region)
      .withPathParam("trend_type", trendType)
      .withSuccessResponse[TrendingKeywordsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

