/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.LabelCreateRequest
import org.openapitools.client.model.LabelUpdateRequest
import org.openapitools.client.model.LabeledEntities
import org.openapitools.client.model.LabeledEntitiesCreate
import org.openapitools.client.model.LabelsList200Response
import org.openapitools.client.model.LabelsResponse
import org.openapitools.client.model.QueryLabelEntityStatusesItems
import org.openapitools.client.model.QueryLabelTypesItems
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LabelsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new LabelsApi(baseUrl)
}

class LabelsApi(baseUrl: String) {

  /**
   *   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Apply a label to one or more campaigns.   Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/) in addition to campaigns.   Currently, you can apply **brand** and **custom** labels. Future releases will provide more options.    **Note:** You can only apply one brand label to a campaign. You can apply up to 30 custom labels to a campaign.
   * 
   * Expected answers:
   *   code 200 : LabeledEntities (The request has succeeded.)
   *   code 201 : LabeledEntities (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param labelId Label ID.
   * @param labeledEntitiesCreate 
   */
  def labelsApply(adAccountId: String, labelId: String, labeledEntitiesCreate: LabeledEntitiesCreate): ApiRequest[LabeledEntities] =
    ApiRequest[LabeledEntities](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/labels/{label_id}/apply", "application/json")
      .withBody(labeledEntitiesCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("label_id", labelId)
      .withSuccessResponse[LabeledEntities](200)
      .withSuccessResponse[LabeledEntities](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Apply one or more labels to a campaign. Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/). Currently, you can apply brand and custom labels. Future releases will provide more options.  **Note:** You can only apply one brand label to a campaign. You can apply 30 custom labels to a campaign.
   * 
   * Expected answers:
   *   code 200 : LabelsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param labelCreateRequest 
   */
  def labelsCreate(adAccountId: String, labelCreateRequest: LabelCreateRequest): ApiRequest[LabelsResponse] =
    ApiRequest[LabelsResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/labels", "application/json")
      .withBody(labelCreateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LabelsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  See a list of labels for assets that your account owns, and filter the list by different criteria. If no filter is provided, it will default to labels associated with the ad account id.
   * 
   * Expected answers:
   *   code 200 : LabelsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param campaignIds List of Campaign Ids to use to filter the results.
   * @param labelIds List of Label Ids to use to filter the results.
   * @param entityStatuses Label entity status
   * @param labelTypes Label type.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def labelsList(adAccountId: String, campaignIds: Seq[String], labelIds: Seq[String], entityStatuses: Seq[QueryLabelEntityStatusesItems], labelTypes: Seq[QueryLabelTypesItems], bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[LabelsList200Response] =
    ApiRequest[LabelsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/labels", "application/json")
      .withQueryParam("campaign_ids", ArrayValues(campaignIds, MULTI))
      .withQueryParam("label_ids", ArrayValues(labelIds, MULTI))
      .withQueryParam("entity_statuses", ArrayValues(entityStatuses, MULTI))
      .withQueryParam("label_types", ArrayValues(labelTypes, MULTI))
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LabelsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Remove a label from one or more entities.
   * 
   * Expected answers:
   *   code 200 : LabeledEntities (The request has succeeded.)
   *   code 201 : LabeledEntities (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param labelId Label ID.
   * @param labeledEntitiesCreate 
   */
  def labelsRemove(adAccountId: String, labelId: String, labeledEntitiesCreate: LabeledEntitiesCreate): ApiRequest[LabeledEntities] =
    ApiRequest[LabeledEntities](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/labels/{label_id}/remove", "application/json")
      .withBody(labeledEntitiesCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("label_id", labelId)
      .withSuccessResponse[LabeledEntities](200)
      .withSuccessResponse[LabeledEntities](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Change the properties of one or more labels.
   * 
   * Expected answers:
   *   code 200 : LabelsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param labelUpdateRequest 
   */
  def labelsUpdate(adAccountId: String, labelUpdateRequest: LabelUpdateRequest): ApiRequest[LabelsResponse] =
    ApiRequest[LabelsResponse](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/labels", "application/json")
      .withBody(labelUpdateRequest)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LabelsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

