/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.LeadForm
import org.openapitools.client.model.LeadFormBatchUpdate
import org.openapitools.client.model.LeadFormCreate
import org.openapitools.client.model.LeadFormTest
import org.openapitools.client.model.LeadFormTestCreate
import org.openapitools.client.model.LeadFormsCreate200Response
import org.openapitools.client.model.LeadFormsList200Response
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LeadFormsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new LeadFormsApi(baseUrl)
}

class LeadFormsApi(baseUrl: String) {

  /**
   * **This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.**  Gets a lead form given it's ID. It must also be associated with the provided ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * 
   * Expected answers:
   *   code 200 : LeadForm (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param leadFormId The ID of this lead form
   * @param adAccountId Unique identifier of an ad account.
   */
  def leadFormGet(leadFormId: String, adAccountId: String): ApiRequest[LeadForm] =
    ApiRequest[LeadForm](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}", "application/json")
      .withPathParam("lead_form_id", leadFormId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LeadForm](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.
   * 
   * Expected answers:
   *   code 200 : LeadFormTest (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param leadFormId Unique identifier of a lead form.
   * @param leadFormTestCreate 
   */
  def leadFormTestCreate(adAccountId: String, leadFormId: String, leadFormTestCreate: LeadFormTestCreate): ApiRequest[LeadFormTest] =
    ApiRequest[LeadFormTest](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}/test", "application/json")
      .withBody(leadFormTestCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("lead_form_id", leadFormId)
      .withSuccessResponse[LeadFormTest](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * **This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.**  Create lead forms. Lead forms are used in lead ads and allow you to control what text appears on the lead form's description, questions and confirmation sections.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * 
   * Expected answers:
   *   code 200 : LeadFormsCreate200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param leadFormCreate 
   */
  def leadFormsCreate(adAccountId: String, leadFormCreate: Seq[LeadFormCreate]): ApiRequest[LeadFormsCreate200Response] =
    ApiRequest[LeadFormsCreate200Response](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/lead_forms", "application/json")
      .withBody(leadFormCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LeadFormsCreate200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * **This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.**  List lead forms associated with an ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * 
   * Expected answers:
   *   code 200 : LeadFormsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   */
  def leadFormsList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None): ApiRequest[LeadFormsList200Response] =
    ApiRequest[LeadFormsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/lead_forms", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LeadFormsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * **This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.**  Update lead forms. Lead ads help you reach people who are actively looking for, and interested in, your goods and services. The lead form can be associated with an ad to allow people to fill out the form.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * 
   * Expected answers:
   *   code 200 : LeadFormsCreate200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param leadFormBatchUpdate 
   */
  def leadFormsUpdate(adAccountId: String, leadFormBatchUpdate: Seq[LeadFormBatchUpdate]): ApiRequest[LeadFormsCreate200Response] =
    ApiRequest[LeadFormsCreate200Response](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/lead_forms", "application/json")
      .withBody(leadFormBatchUpdate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LeadFormsCreate200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

