/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdAccountsSubscriptionsGetList200Response
import org.openapitools.client.model.Error
import org.openapitools.client.model.LeadSubscription
import org.openapitools.client.model.LeadSubscriptionPostParamsCreate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LeadAdsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new LeadAdsApi(baseUrl)
}

class LeadAdsApi(baseUrl: String) {

  /**
   * Delete an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.'
   * 
   * Expected answers:
   *   code 200 : LeadSubscription (The request has succeeded.)
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param subscriptionId Unique identifier of a subscription.
   */
  def adAccountsSubscriptionsDelById(adAccountId: String, subscriptionId: String): ApiRequest[LeadSubscription] =
    ApiRequest[LeadSubscription](ApiMethods.DELETE, baseUrl, "/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("subscription_id", subscriptionId)
      .withSuccessResponse[LeadSubscription](200)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.'
   * 
   * Expected answers:
   *   code 200 : LeadSubscription (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param subscriptionId Unique identifier of a subscription.
   */
  def adAccountsSubscriptionsGetById(adAccountId: String, subscriptionId: String): ApiRequest[LeadSubscription] =
    ApiRequest[LeadSubscription](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("subscription_id", subscriptionId)
      .withSuccessResponse[LeadSubscription](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get the advertiser's list of lead ads subscriptions. Only requests for the OWNER or ADMIN of the ad_account will be allowed.
   * 
   * Expected answers:
   *   code 200 : AdAccountsSubscriptionsGetList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def adAccountsSubscriptionsGetList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[AdAccountsSubscriptionsGetList200Response] =
    ApiRequest[AdAccountsSubscriptionsGetList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/leads/subscriptions", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[AdAccountsSubscriptionsGetList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Create a lead ads webhook subscription. Subscriptions allow Pinterest to deliver lead data from Ads Manager directly to the subscriber. Subscriptions can exist for a specific lead form or at ad account level.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.   - Advertisers can set up multiple integrations using ad_account_id + lead_form_id but only one integration per unique records.   - For data security, egress lead data is encrypted with AES-256-GCM.
   * 
   * Expected answers:
   *   code 200 : LeadSubscription (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param leadSubscriptionPostParamsCreate 
   */
  def adAccountsSubscriptionsPost(adAccountId: String, leadSubscriptionPostParamsCreate: LeadSubscriptionPostParamsCreate): ApiRequest[LeadSubscription] =
    ApiRequest[LeadSubscription](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/leads/subscriptions", "application/json")
      .withBody(leadSubscriptionPostParamsCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LeadSubscription](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](403)
      .withDefaultErrorResponse[Error]
      



}

