/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.LeadsExportResponseData
import org.openapitools.client.model.LeadsExports
import org.openapitools.client.model.LeadsExportsCreate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LeadsExportApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new LeadsExportApi(baseUrl)
}

class LeadsExportApi(baseUrl: String) {

  /**
   * **This feature is currently in beta and not available to all apps. If you're interested in joining the beta, please reach out to your Pinterest account manager.**  Create an export of leads collected from a lead ad. This returns a `leads_export_id` token that you can use to download the export when it is ready.  Note: Lead ad data will be available up to 30 days after the lead has been submitted.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * 
   * Expected answers:
   *   code 200 : LeadsExports (The request has succeeded.)
   *   code 201 : LeadsExports (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param leadsExportsCreate 
   */
  def leadsExportCreate(adAccountId: String, leadsExportsCreate: LeadsExportsCreate): ApiRequest[LeadsExports] =
    ApiRequest[LeadsExports](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/leads_export", "application/json")
      .withBody(leadsExportsCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[LeadsExports](200)
      .withSuccessResponse[LeadsExports](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * **This feature is currently in beta and not available to all apps. If you're interested in joining the beta, please reach out to your Pinterest account manager.**  Get the export of leads collected from a lead ad. This returns a URL to a list of lead export given a lead_export_id token returned from the create a lead export call. You can use the URL to download the report.  Note: Lead ad data will be available up to 30 days after the lead has been submitted.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * 
   * Expected answers:
   *   code 200 : LeadsExportResponseData (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param leadsExportId lead_export_id token returned from the create a lead export endpoint
   */
  def leadsExportGet(adAccountId: String, leadsExportId: String): ApiRequest[LeadsExportResponseData] =
    ApiRequest[LeadsExportResponseData](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/leads_export/{leads_export_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("leads_export_id", leadsExportId)
      .withSuccessResponse[LeadsExportResponseData](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

