/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ConversionAccessToken
import org.openapitools.client.model.Error
import org.openapitools.client.model.OauthAccessToken
import org.openapitools.client.model.TokenGrantType
import org.openapitools.client.model.TokenTypeHint
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OauthApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new OauthApi(baseUrl)
}

class OauthApi(baseUrl: String) {

  /**
   * Generate a new and long-lived OAuth access token dedicated for sending conversions using a valid access token.
   * 
   * Expected answers:
   *   code 200 : ConversionAccessToken (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   */
  def oauthConversionToken(): ApiRequest[ConversionAccessToken] =
    ApiRequest[ConversionAccessToken](ApiMethods.POST, baseUrl, "/oauth/conversion_token", "application/json")
      .withSuccessResponse[ConversionAccessToken](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Generate a new OAuth access token using an authorization code; or refresh an existing one using a continuous refresh token.  Follow the complete steps for [requesting and refreshing tokens](/docs/getting-started/set-up-authentication-and-authorization/).  **Note:** If your app was created **before September 25, 2025**, make sure to set the `continuous_refresh` parameter to `true` to use the continuous refresh token (60-day expiration, refreshable indefinitely). Pinterest no longer supports the legacy refresh token (365-day expiration, hard limit).  Disregard this note if your app was activated on or after September 25, 2025. You are automatically using the continuous refresh token.  Use [Token Debugger](/docs/developer-tools/token-debugger/) to validate and inspect your access token. 
   * 
   * Expected answers:
   *   code 200 : OauthAccessToken (The request has succeeded.)
   *   code 201 : OauthAccessToken (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * Available security schemes:
   *   basic (http)
   * 
   * @param grantType 
   * @param code 
   * @param continuousRefresh   If your app was created before **September 25, 2025**, set to `true` to generate a [continuous refresh token](/docs/getting-started/set-up-authentication-and-authorization/#exchange-the-default-refresh-token-for-a-continuous-refresh-token), which has a 60-day expiration window. We no longer support the legacy refresh token, which has a 365-day expiration window.    If your app was created on or after **September 25, 2025**, ignore this parameter. You automatically receive a continuous refresh token when you request an access token.
   * @param redirectUri 
   * @param refreshToken 
   * @param scope 
   */
  def oauthToken(grantType: TokenGrantType, code: Option[String] = None, continuousRefresh: Option[String] = None, redirectUri: Option[String] = None, refreshToken: Option[String] = None, scope: Option[String] = None)(implicit basicAuth: BasicCredentials): ApiRequest[OauthAccessToken] =
    ApiRequest[OauthAccessToken](ApiMethods.POST, baseUrl, "/oauth/token", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth).withFormParam("code", code)
      .withFormParam("continuous_refresh", continuousRefresh)
      .withFormParam("grant_type", grantType)
      .withFormParam("redirect_uri", redirectUri)
      .withFormParam("refresh_token", refreshToken)
      .withFormParam("scope", scope)
      .withSuccessResponse[OauthAccessToken](200)
      .withSuccessResponse[OauthAccessToken](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Revokes an access or refresh token. Only tokens issued for system users are currently supported. Revoked tokens become immediately invalid and unusable.
   * 
   * Expected answers:
   *   code 200 :  (The request has succeeded.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * Available security schemes:
   *   basic (http)
   * 
   * @param token The token to revoke.
   * @param tokenTypeHint The type of the token to revoke. Please refer to [our developer guide for more information](https://developers.pinterest.com/docs/getting-started/set-up-authentication-and-authorization/) for more information.
   */
  def tokenRevoke(token: String, tokenTypeHint: Option[TokenTypeHint] = None)(implicit basicAuth: BasicCredentials): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/oauth/token/revoke", "application/x-www-form-urlencoded")
      .withCredentials(basicAuth).withFormParam("token", token)
      .withFormParam("token_type_hint", tokenTypeHint)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withDefaultErrorResponse[Error]
      



}

