/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import java.math.BigDecimal
import org.openapitools.client.model.EntityStatus
import org.openapitools.client.model.Error
import org.openapitools.client.model.Granularity
import java.time.LocalDate
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.model.ProductGroupAnalyticsItems
import org.openapitools.client.model.ProductGroupPromotion
import org.openapitools.client.model.ProductGroupPromotions
import org.openapitools.client.model.ProductGroupPromotionsCreate
import org.openapitools.client.model.ProductGroupPromotionsList200Response
import org.openapitools.client.model.ProductGroupPromotionsUpdateWithRequiredBody
import org.openapitools.client.model.ReportingColumnSync
import org.openapitools.client.model.ReportingTimeZone
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductGroupPromotionsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ProductGroupPromotionsApi(baseUrl)
}

class ProductGroupPromotionsApi(baseUrl: String) {

  /**
   * Add one or more product groups from your catalog to an existing ad group. (Product groups added to an ad group are a 'product group promotion.')
   * 
   * Expected answers:
   *   code 200 : ProductGroupPromotions (The request has succeeded.)
   *   code 201 : ProductGroupPromotions (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param productGroupPromotionsCreate 
   */
  def productGroupPromotionsCreate(adAccountId: String, productGroupPromotionsCreate: ProductGroupPromotionsCreate): ApiRequest[ProductGroupPromotions] =
    ApiRequest[ProductGroupPromotions](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/product_group_promotions", "application/json")
      .withBody(productGroupPromotionsCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ProductGroupPromotions](200)
      .withSuccessResponse[ProductGroupPromotions](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a product group promotion by id
   * 
   * Expected answers:
   *   code 200 : ProductGroupPromotion (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param productGroupPromotionId Unique identifier of a product group promotion
   */
  def productGroupPromotionsGet(adAccountId: String, productGroupPromotionId: String): ApiRequest[ProductGroupPromotion] =
    ApiRequest[ProductGroupPromotion](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/product_group_promotions/{product_group_promotion_id}", "application/json")
      .withPathParam("ad_account_id", adAccountId)
      .withPathParam("product_group_promotion_id", productGroupPromotionId)
      .withSuccessResponse[ProductGroupPromotion](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * List existing product group promotions associated with an ad account.  Include either ad_group_id or product_group_promotion_ids in your request.  **Note:** ad_group_ids and product_group_promotion_ids are mutually exclusive parameters. Only provide one. If multiple options are provided, product_group_promotion_ids takes precedence over ad_group_ids. If none are provided, the endpoint returns an error.
   * 
   * Expected answers:
   *   code 200 : ProductGroupPromotionsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param productGroupPromotionIds List of Product group promotion Ids.
   * @param entityStatuses Entity status
   * @param adGroupId Ad group Id.
   */
  def productGroupPromotionsList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None, productGroupPromotionIds: Seq[String], entityStatuses: Seq[EntityStatus], adGroupId: Option[String] = None): ApiRequest[ProductGroupPromotionsList200Response] =
    ApiRequest[ProductGroupPromotionsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/product_group_promotions", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("product_group_promotion_ids", ArrayValues(productGroupPromotionIds, MULTI))
      .withQueryParam("entity_statuses", ArrayValues(entityStatuses, MULTI))
      .withQueryParam("ad_group_id", adGroupId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ProductGroupPromotionsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update multiple existing Product Group Promotions (by product_group_id)
   * 
   * Expected answers:
   *   code 200 : ProductGroupPromotions (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param productGroupPromotionsUpdateWithRequiredBody 
   */
  def productGroupPromotionsUpdate(adAccountId: String, productGroupPromotionsUpdateWithRequiredBody: ProductGroupPromotionsUpdateWithRequiredBody): ApiRequest[ProductGroupPromotions] =
    ApiRequest[ProductGroupPromotions](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/product_group_promotions", "application/json")
      .withBody(productGroupPromotionsUpdateWithRequiredBody)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[ProductGroupPromotions](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get analytics for the specified product groups in the specified `ad_account_id`, filtered by the specified options.  - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
   * 
   * Expected answers:
   *   code 200 : Seq[ProductGroupAnalyticsItems] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param productGroupIds List of Product group Ids to use to filter the results.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.  For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.
   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly
   * @param adAccountId Unique identifier of an ad account.
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
   */
  def productGroupsAnalytics(startDate: LocalDate, endDate: LocalDate, productGroupIds: Seq[String], columns: Seq[ReportingColumnSync], granularity: Granularity, adAccountId: String, clickWindowDays: Option[BigDecimal] = None, engagementWindowDays: Option[BigDecimal] = None, viewWindowDays: Option[BigDecimal] = None, conversionReportTime: Option[String] = None, reportingTimezone: Option[ReportingTimeZone] = None): ApiRequest[Seq[ProductGroupAnalyticsItems]] =
    ApiRequest[Seq[ProductGroupAnalyticsItems]](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/product_groups/analytics", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("product_group_ids", ArrayValues(productGroupIds, MULTI))
      .withQueryParam("columns", ArrayValues(columns, CSV))
      .withQueryParam("granularity", granularity)
      .withQueryParam("click_window_days", clickWindowDays)
      .withQueryParam("engagement_window_days", engagementWindowDays)
      .withQueryParam("view_window_days", viewWindowDays)
      .withQueryParam("conversion_report_time", conversionReportTime)
      .withQueryParam("reporting_timezone", reportingTimezone)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[ProductGroupAnalyticsItems]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

