/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.model.Promotion
import org.openapitools.client.model.PromotionBatchUpdate
import org.openapitools.client.model.PromotionCreate
import org.openapitools.client.model.PromotionsList200Response
import org.openapitools.client.model.PromotionsResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PromotionsApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new PromotionsApi(baseUrl)
}

class PromotionsApi(baseUrl: String) {

  /**
   * Create multiple new promotions.
   * 
   * Expected answers:
   *   code 200 : PromotionsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param promotionCreate 
   */
  def promotionsCreate(adAccountId: String, promotionCreate: Seq[PromotionCreate]): ApiRequest[PromotionsResponse] =
    ApiRequest[PromotionsResponse](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/promotions", "application/json")
      .withBody(promotionCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[PromotionsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Delete a promotion within Pinterest.
   * 
   * Expected answers:
   *   code 200 : Promotion (The request has succeeded.)
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param promotionId Promotion ID
   * @param adAccountId Unique identifier of an ad account.
   */
  def promotionsDelete(promotionId: String, adAccountId: String): ApiRequest[Promotion] =
    ApiRequest[Promotion](ApiMethods.DELETE, baseUrl, "/ad_accounts/{ad_account_id}/promotions/{promotion_id}", "application/json")
      .withPathParam("promotion_id", promotionId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Promotion](200)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a promotion by its Pinterest-specific id. It must be associated with the provided ad account id.
   * 
   * Expected answers:
   *   code 200 : Promotion (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param promotionId Promotion ID
   * @param adAccountId Unique identifier of an ad account.
   */
  def promotionsGet(promotionId: String, adAccountId: String): ApiRequest[Promotion] =
    ApiRequest[Promotion](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/promotions/{promotion_id}", "application/json")
      .withPathParam("promotion_id", promotionId)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Promotion](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Gets all promotions associated with an ad account ID that can be applied to an ad group. Can be either internally-saved promotions or external promotions imported from a commerce integration.
   * 
   * Expected answers:
   *   code 200 : PromotionsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   */
  def promotionsList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None): ApiRequest[PromotionsList200Response] =
    ApiRequest[PromotionsList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/promotions", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[PromotionsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update multiple promotions.
   * 
   * Expected answers:
   *   code 200 : PromotionsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param promotionBatchUpdate 
   */
  def promotionsUpdate(adAccountId: String, promotionBatchUpdate: Seq[PromotionBatchUpdate]): ApiRequest[PromotionsResponse] =
    ApiRequest[PromotionsResponse](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/promotions", "application/json")
      .withBody(promotionBatchUpdate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[PromotionsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

