/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdAccountCountriesGet200Response
import org.openapitools.client.model.BookClosed
import org.openapitools.client.model.DeliveryMetricsGet200Response
import org.openapitools.client.model.Error
import org.openapitools.client.model.PublicTargetingType
import org.openapitools.client.model.ReportType
import org.openapitools.client.model.SingleInterestTargetingOption
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ResourcesApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new ResourcesApi(baseUrl)
}

class ResourcesApi(baseUrl: String) {

  /**
   * Get Ad Accounts countries
   * 
   * Expected answers:
   *   code 200 : AdAccountCountriesGet200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   */
  def adAccountCountriesGet(): ApiRequest[AdAccountCountriesGet200Response] =
    ApiRequest[AdAccountCountriesGet200Response](ApiMethods.GET, baseUrl, "/resources/ad_account_countries", "application/json")
      .withSuccessResponse[AdAccountCountriesGet200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get the definitions for ads and organic metrics available across both synchronous and asynchronous report endpoints. The `display_name` attribute will match how the metric is named in our native tools like Ads Manager. See [Organic Analytics](/docs/api-features/analytics-overview/) and [Ads Analytics](/docs/api-features/ads-reporting/) for more information.
   * 
   * Expected answers:
   *   code 200 : DeliveryMetricsGet200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param reportType Report type.
   */
  def deliveryMetricsGet(reportType: Option[ReportType] = None): ApiRequest[DeliveryMetricsGet200Response] =
    ApiRequest[DeliveryMetricsGet200Response](ApiMethods.GET, baseUrl, "/resources/delivery_metrics", "application/json")
      .withQueryParam("report_type", reportType)
      .withSuccessResponse[DeliveryMetricsGet200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get details of a specific interest given interest ID.  Click [here](https://docs.google.com/spreadsheets/d/1HxL-0Z3p2fgxis9YBP2HWC3tvPrs1hAuHDRtH-NJTIM/edit#gid=118370875) for a spreadsheet listing interests and their IDs.
   * 
   * Expected answers:
   *   code 200 : SingleInterestTargetingOption (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param interestId Unique identifier of an interest.
   */
  def interestTargetingOptionsGet(interestId: String): ApiRequest[SingleInterestTargetingOption] =
    ApiRequest[SingleInterestTargetingOption](ApiMethods.GET, baseUrl, "/resources/targeting/interests/{interest_id}", "application/json")
      .withPathParam("interest_id", interestId)
      .withSuccessResponse[SingleInterestTargetingOption](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of all lead form question type names. Some questions might not be used.  **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
   * 
   * Expected answers:
   *   code 200 :  (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   */
  def leadFormQuestionsGet(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/resources/lead_form_questions", "application/json")
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Learn whether conversion or non-conversion metrics are finalized and ready to query.
   * 
   * Expected answers:
   *   code 200 : BookClosed (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param date Analytics reports request date (UTC). Format: YYYY-MM-DD
   */
  def metricsReadyStateGet(date: String): ApiRequest[BookClosed] =
    ApiRequest[BookClosed](ApiMethods.GET, baseUrl, "/resources/metrics_ready_state", "application/json")
      .withQueryParam("date", date)
      .withSuccessResponse[BookClosed](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   *     You can use targeting values in ads placement to define your intended audience.      Targeting metrics are organized around targeting specifications.      For more information on ads targeting, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting).      **Sample return:**      ```     [{\"36313\": \"Australia: Moreton Bay - North\", \"124735\": \"Canada: North Battleford\", \"36109\": \"Australia: Murray\", \"36108\": \"Australia: Mid North Coast\", \"36101\": \"Australia: Capital Region\", \"811\": \"U.S.: Reno\", \"36103\": \"Australia: Central West\", \"36102\": \"Australia: Central Coast\", \"36105\": \"Australia: Far West and Orana\", \"36104\": \"Australia: Coffs Harbour - Grafton\", \"36107\": \"Australia: Illawarra\", \"36106\": \"Australia: Hunter Valley Exc Newcastle\", \"554017\": \"New Zealand: Wanganui\", \"554016\": \"New Zealand: Marlborough\", \"554015\": \"New Zealand: Gisborne\", \"554014\": \"New Zealand: Tararua\", \"554013\": \"New Zealand: Invercargill\", \"GR\": \"Greece\", \"554011\": \"New Zealand: Whangarei\", \"554010\": \"New Zealand: Far North\", \"717\": \"U.S.: Quincy-Hannibal-Keokuk\", \"716\": \"U.S.: Baton Rouge\",...}]     ```
   * 
   * Expected answers:
   *   code 200 : Seq[Any] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param targetingType Public targeting type
   * @param adAccountId Unique identifier of an ad account.
   * @param clientId Client ID
   * @param oauthSignature Oauth signature
   * @param timestamp Timestamp.
   */
  def targetingOptionsGet(targetingType: PublicTargetingType, adAccountId: Option[String] = None, clientId: Option[String] = None, oauthSignature: Option[String] = None, timestamp: Option[String] = None): ApiRequest[Seq[Any]] =
    ApiRequest[Seq[Any]](ApiMethods.GET, baseUrl, "/resources/targeting/{targeting_type}", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("client_id", clientId)
      .withQueryParam("oauth_signature", oauthSignature)
      .withQueryParam("timestamp", timestamp)
      .withPathParam("targeting_type", targetingType)
      .withSuccessResponse[Seq[Any]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

