/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.model.Schedule
import org.openapitools.client.model.ScheduleBatchUpdate
import org.openapitools.client.model.ScheduleCreate
import org.openapitools.client.model.ScheduleStatus
import org.openapitools.client.model.ScheduleType
import org.openapitools.client.model.SchedulesCreate200ResponseInner
import org.openapitools.client.model.SchedulesList200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object SchedulesApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new SchedulesApi(baseUrl)
}

class SchedulesApi(baseUrl: String) {

  /**
   * Batch create schedules
   * 
   * Expected answers:
   *   code 200 : Seq[SchedulesCreate200ResponseInner] (The request has succeeded.)
   *   code 201 : Seq[Schedule] (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param scheduleCreate 
   */
  def schedulesCreate(adAccountId: String, scheduleCreate: Seq[ScheduleCreate]): ApiRequest[Seq[SchedulesCreate200ResponseInner]] =
    ApiRequest[Seq[SchedulesCreate200ResponseInner]](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/schedules", "application/json")
      .withBody(scheduleCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[SchedulesCreate200ResponseInner]](200)
      .withSuccessResponse[Seq[Schedule]](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get schedules for a specific advertiser
   * 
   * Expected answers:
   *   code 200 : SchedulesList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param entityIds List of Entity IDs, must be associated with the Ad Accound ID provided in the path.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param scheduleStatuses Filter schedules by status (one or more)
   * @param scheduleType Filter schedules by a type
   */
  def schedulesList(adAccountId: String, entityIds: Seq[String], bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None, scheduleStatuses: Seq[ScheduleStatus], scheduleType: Option[ScheduleType] = None): ApiRequest[SchedulesList200Response] =
    ApiRequest[SchedulesList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/schedules", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("schedule_statuses", ArrayValues(scheduleStatuses, MULTI))
      .withQueryParam("schedule_type", scheduleType)
      .withQueryParam("entity_ids", ArrayValues(entityIds, MULTI))
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[SchedulesList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update one or more schedules
   * 
   * Expected answers:
   *   code 200 : Seq[SchedulesCreate200ResponseInner] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId 
   * @param scheduleBatchUpdate 
   */
  def schedulesUpdate(adAccountId: String, scheduleBatchUpdate: Seq[ScheduleBatchUpdate]): ApiRequest[Seq[SchedulesCreate200ResponseInner]] =
    ApiRequest[Seq[SchedulesCreate200ResponseInner]](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/schedules", "application/json")
      .withBody(scheduleBatchUpdate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Seq[SchedulesCreate200ResponseInner]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

