/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.BoardsList200Response
import org.openapitools.client.model.Error
import org.openapitools.client.model.PinsList200Response
import org.openapitools.client.model.SearchPartnerPins200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object SearchApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new SearchApi(baseUrl)
}

class SearchApi(baseUrl: String) {

  /**
   * **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**  Get the top 10 Pins by a given search term.
   * 
   * Expected answers:
   *   code 200 : SearchPartnerPins200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param term Search term to look up pins.
   * @param countryCode Two letter country code (ISO 3166-1 alpha-2)
   * @param bookmark Cursor used to fetch the next page of items
   * @param locale Search locale.
   * @param limit Max search result size
   */
  def searchPartnerPins(term: String, countryCode: String, bookmark: Option[String] = None, locale: Option[String] = None, limit: Option[Int] = None): ApiRequest[SearchPartnerPins200Response] =
    ApiRequest[SearchPartnerPins200Response](ApiMethods.GET, baseUrl, "/search/partner/pins", "application/json")
      .withQueryParam("term", term)
      .withQueryParam("country_code", countryCode)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("locale", locale)
      .withQueryParam("limit", limit)
      .withSuccessResponse[SearchPartnerPins200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Search for boards for the \"operation user_account\". This includes boards of all board types. - By default, the \"operation user_account\" is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See [Understanding Business Access](/docs/getting-started/using-business-access/) for more information.
   * 
   * Expected answers:
   *   code 200 : BoardsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param query Search query. Can contain pin description keywords or comma-separated pin IDs.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def searchUserBoardsGet(adAccountId: Option[String] = None, query: Option[String] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[BoardsList200Response] =
    ApiRequest[BoardsList200Response](ApiMethods.GET, baseUrl, "/search/boards", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("query", query)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[BoardsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Search for pins for the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See [Understanding Business Access](/docs/getting-started/using-business-access/) for more information.
   * 
   * Expected answers:
   *   code 200 : PinsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param query Search query. Can contain pin description keywords or comma-separated pin IDs.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   */
  def searchUserPinsList(query: String, adAccountId: Option[String] = None, bookmark: Option[String] = None): ApiRequest[PinsList200Response] =
    ApiRequest[PinsList200Response](ApiMethods.GET, baseUrl, "/search/pins", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("query", query)
      .withQueryParam("bookmark", bookmark)
      .withSuccessResponse[PinsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

