/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.PaginationOrder
import org.openapitools.client.model.TargetingTemplate
import org.openapitools.client.model.TargetingTemplateCreate
import org.openapitools.client.model.TargetingTemplateList200Response
import org.openapitools.client.model.TargetingTemplateUpdateRequestReadOrUpdate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object TargetingTemplateApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new TargetingTemplateApi(baseUrl)
}

class TargetingTemplateApi(baseUrl: String) {

  /**
   * Targeting templates allow advertisers to save a set of targeting details including audience lists, keywords & interest, demographics, and placements to use more than once during the campaign creation process.  Templates can be used to build out basic targeting criteria that you plan to use across campaigns and to reuse performance targeting from prior campaigns for new campaigns.
   * 
   * Expected answers:
   *   code 200 : TargetingTemplate (The request has succeeded.)
   *   code 201 : TargetingTemplate (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param targetingTemplateCreate 
   */
  def targetingTemplateCreate(adAccountId: String, targetingTemplateCreate: TargetingTemplateCreate): ApiRequest[TargetingTemplate] =
    ApiRequest[TargetingTemplate](ApiMethods.POST, baseUrl, "/ad_accounts/{ad_account_id}/targeting_templates", "application/json")
      .withBody(targetingTemplateCreate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[TargetingTemplate](200)
      .withSuccessResponse[TargetingTemplate](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of the targeting templates in the specified `ad_account_id`
   * 
   * Expected answers:
   *   code 200 : TargetingTemplateList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \"ASCENDING\" or \"DESCENDING\" by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param includeSizing Include audience sizing in result or not
   * @param searchQuery Search query. Can contain pin description keywords or comma-separated pin IDs.
   */
  def targetingTemplateList(adAccountId: String, bookmark: Option[String] = None, pageSize: Option[Int] = None, order: Option[PaginationOrder] = None, includeSizing: Option[Boolean] = None, searchQuery: Option[String] = None): ApiRequest[TargetingTemplateList200Response] =
    ApiRequest[TargetingTemplateList200Response](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/targeting_templates", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("order", order)
      .withQueryParam("include_sizing", includeSizing)
      .withQueryParam("search_query", searchQuery)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[TargetingTemplateList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Update the targeting template given advertiser ID and targeting template ID
   * 
   * Expected answers:
   *   code 200 :  (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param targetingTemplateUpdateRequestReadOrUpdate 
   */
  def targetingTemplateUpdate(adAccountId: String, targetingTemplateUpdateRequestReadOrUpdate: TargetingTemplateUpdateRequestReadOrUpdate): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PATCH, baseUrl, "/ad_accounts/{ad_account_id}/targeting_templates", "application/json")
      .withBody(targetingTemplateUpdateRequestReadOrUpdate)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

