/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.TermsOfService
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object TermsOfServiceApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new TermsOfServiceApi(baseUrl)
}

class TermsOfServiceApi(baseUrl: String) {

  /**
   * Get the text of the terms of service and see whether the advertiser has accepted the terms of service.
   * 
   * Expected answers:
   *   code 200 : TermsOfService (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param includeHtml Return HTML in TOS text.
   * @param tosType Request type.
   */
  def termsOfServiceGet(adAccountId: String, includeHtml: Option[Boolean] = None, tosType: Option[String] = None): ApiRequest[TermsOfService] =
    ApiRequest[TermsOfService](ApiMethods.GET, baseUrl, "/ad_accounts/{ad_account_id}/terms_of_service", "application/json")
      .withQueryParam("include_html", includeHtml)
      .withQueryParam("tos_type", tosType)
      .withPathParam("ad_account_id", adAccountId)
      .withSuccessResponse[TermsOfService](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

