/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Account
import org.openapitools.client.model.AnalyticsMetricsResponse
import java.math.BigDecimal
import org.openapitools.client.model.BoardsList200Response
import org.openapitools.client.model.Error
import org.openapitools.client.model.FollowUser
import org.openapitools.client.model.FollowUserCreate
import org.openapitools.client.model.FollowersList200Response
import org.openapitools.client.model.LinkedBusiness
import java.time.LocalDate
import org.openapitools.client.model.QuerymetrictypesItems
import org.openapitools.client.model.QueryvideopinmetrictypesItems
import org.openapitools.client.model.TopPinsAnalyticsResponse
import org.openapitools.client.model.TopPinsSortBy
import org.openapitools.client.model.TopVideoPinsAnalyticsResponse
import org.openapitools.client.model.TopVideoPinsSortBy
import org.openapitools.client.model.UserAccountFollowedInterests200Response
import org.openapitools.client.model.UserFollowingFeedType
import org.openapitools.client.model.UserWebsite
import org.openapitools.client.model.UserWebsiteCreate
import org.openapitools.client.model.UserWebsiteVerification
import org.openapitools.client.model.UserWebsitesGet200Response
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object UserAccountApi {

  def apply(baseUrl: String = "https://api.pinterest.com/v5") = new UserAccountApi(baseUrl)
}

class UserAccountApi(baseUrl: String) {

  /**
   * Get a list of the boards a user follows. The request returns a board summary object array.
   * 
   * Expected answers:
   *   code 200 : BoardsList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param explicitFollowing Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def boardsUserFollowsList(adAccountId: Option[String] = None, explicitFollowing: Option[Boolean] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[BoardsList200Response] =
    ApiRequest[BoardsList200Response](ApiMethods.GET, baseUrl, "/user_account/following/boards", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("explicit_following", explicitFollowing)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[BoardsList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**  Use this request, as a signed-in user, to follow another user.
   * 
   * Expected answers:
   *   code 200 : FollowUser (The request has succeeded.)
   *   code 201 : FollowUser (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param username A valid username
   * @param followUserCreate 
   */
  def followUserUpdate(username: String, followUserCreate: FollowUserCreate): ApiRequest[FollowUser] =
    ApiRequest[FollowUser](ApiMethods.POST, baseUrl, "/user_account/following/{username}", "application/json")
      .withBody(followUserCreate)
      .withPathParam("username", username)
      .withSuccessResponse[FollowUser](200)
      .withSuccessResponse[FollowUser](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of your followers.
   * 
   * Expected answers:
   *   code 200 : FollowersList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def followersList(bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[FollowersList200Response] =
    ApiRequest[FollowersList200Response](ApiMethods.GET, baseUrl, "/user_account/followers", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[FollowersList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of your linked business accounts.
   * 
   * Expected answers:
   *   code 200 : Seq[LinkedBusiness] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   */
  def linkedBusinessAccountsGet(): ApiRequest[Seq[LinkedBusiness]] =
    ApiRequest[Seq[LinkedBusiness]](ApiMethods.GET, baseUrl, "/user_account/businesses", "application/json")
      .withSuccessResponse[Seq[LinkedBusiness]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Unverify a website verified by the signed-in user.
   * 
   * Expected answers:
   *   code 200 : UserWebsite (The request has succeeded.)
   *   code 204 :  (Resource deleted successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param website Website with path or domain only
   */
  def unverifyWebsiteDelete(website: String): ApiRequest[UserWebsite] =
    ApiRequest[UserWebsite](ApiMethods.DELETE, baseUrl, "/user_account/websites", "application/json")
      .withQueryParam("website", website)
      .withSuccessResponse[UserWebsite](200)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get analytics for the \"operation user_account\" - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".
   * 
   * Expected answers:
   *   code 200 : Map[String, AnalyticsMetricsResponse] (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param fromClaimedContent Filter on Pins that match your claimed domain.
   * @param pinFormat Pin formats to get data for, default is all.
   * @param appTypes Apps or devices to get data for, default is all.
   * @param contentType Filter to paid or organic data. Default is all.
   * @param source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts
   * @param metricTypes Metric types to get data for, default is all.
   * @param splitField How to split the data into groups. Not including this param means data won't be split.
   * @param adAccountId Unique identifier of an ad account.
   */
  def userAccountAnalytics(startDate: LocalDate, endDate: LocalDate, fromClaimedContent: Option[String] = None, pinFormat: Option[String] = None, appTypes: Option[String] = None, contentType: Option[String] = None, source: Option[String] = None, metricTypes: Seq[QuerymetrictypesItems], splitField: Option[String] = None, adAccountId: Option[String] = None): ApiRequest[Map[String, AnalyticsMetricsResponse]] =
    ApiRequest[Map[String, AnalyticsMetricsResponse]](ApiMethods.GET, baseUrl, "/user_account/analytics", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("from_claimed_content", fromClaimedContent)
      .withQueryParam("pin_format", pinFormat)
      .withQueryParam("app_types", appTypes)
      .withQueryParam("content_type", contentType)
      .withQueryParam("source", source)
      .withQueryParam("metric_types", ArrayValues(metricTypes, CSV))
      .withQueryParam("split_field", splitField)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[Map[String, AnalyticsMetricsResponse]](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Gets analytics data about a user's top pins (limited to the top 50). - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".
   * 
   * Expected answers:
   *   code 200 : TopPinsAnalyticsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param sortBy Specify sorting order for metrics
   * @param fromClaimedContent Filter on Pins that match your claimed domain.
   * @param pinFormat Pin formats to get data for, default is all.
   * @param appTypes Apps or devices to get data for, default is all.
   * @param contentType Filter to paid or organic data. Default is all.
   * @param source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts
   * @param metricTypes Metric types to get data for, default is all.
   * @param numOfPins Number of pins to include, default is 10. Max is 50.
   * @param createdInLastNDays Get metrics for pins created in the last \"n\" days.
   * @param adAccountId Unique identifier of an ad account.
   */
  def userAccountAnalyticsTopPins(startDate: LocalDate, endDate: LocalDate, sortBy: TopPinsSortBy, fromClaimedContent: Option[String] = None, pinFormat: Option[String] = None, appTypes: Option[String] = None, contentType: Option[String] = None, source: Option[String] = None, metricTypes: Seq[QuerymetrictypesItems], numOfPins: Option[Int] = None, createdInLastNDays: Option[BigDecimal] = None, adAccountId: Option[String] = None): ApiRequest[TopPinsAnalyticsResponse] =
    ApiRequest[TopPinsAnalyticsResponse](ApiMethods.GET, baseUrl, "/user_account/analytics/top_pins", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("sort_by", sortBy)
      .withQueryParam("from_claimed_content", fromClaimedContent)
      .withQueryParam("pin_format", pinFormat)
      .withQueryParam("app_types", appTypes)
      .withQueryParam("content_type", contentType)
      .withQueryParam("source", source)
      .withQueryParam("metric_types", ArrayValues(metricTypes, CSV))
      .withQueryParam("num_of_pins", numOfPins)
      .withQueryParam("created_in_last_n_days", createdInLastNDays)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[TopPinsAnalyticsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Gets analytics data about a user's top video pins (limited to the top 50). - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".
   * 
   * Expected answers:
   *   code 200 : TopVideoPinsAnalyticsResponse (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param sortBy Specify sorting order for video metrics
   * @param fromClaimedContent Filter on Pins that match your claimed domain.
   * @param pinFormat Pin formats to get data for, default is all.
   * @param appTypes Apps or devices to get data for, default is all.
   * @param contentType Filter to paid or organic data. Default is all.
   * @param source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts
   * @param metricTypes Metric types to get video data for, default is all.
   * @param numOfPins Number of pins to include, default is 10. Max is 50.
   * @param createdInLastNDays Get metrics for pins created in the last \"n\" days.
   * @param adAccountId Unique identifier of an ad account.
   */
  def userAccountAnalyticsTopVideoPins(startDate: LocalDate, endDate: LocalDate, sortBy: TopVideoPinsSortBy, fromClaimedContent: Option[String] = None, pinFormat: Option[String] = None, appTypes: Option[String] = None, contentType: Option[String] = None, source: Option[String] = None, metricTypes: Seq[QueryvideopinmetrictypesItems], numOfPins: Option[Int] = None, createdInLastNDays: Option[BigDecimal] = None, adAccountId: Option[String] = None): ApiRequest[TopVideoPinsAnalyticsResponse] =
    ApiRequest[TopVideoPinsAnalyticsResponse](ApiMethods.GET, baseUrl, "/user_account/analytics/top_video_pins", "application/json")
      .withQueryParam("start_date", startDate)
      .withQueryParam("end_date", endDate)
      .withQueryParam("sort_by", sortBy)
      .withQueryParam("from_claimed_content", fromClaimedContent)
      .withQueryParam("pin_format", pinFormat)
      .withQueryParam("app_types", appTypes)
      .withQueryParam("content_type", contentType)
      .withQueryParam("source", source)
      .withQueryParam("metric_types", ArrayValues(metricTypes, CSV))
      .withQueryParam("num_of_pins", numOfPins)
      .withQueryParam("created_in_last_n_days", createdInLastNDays)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[TopVideoPinsAnalyticsResponse](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of a user's following interests in one place.
   * 
   * Expected answers:
   *   code 200 : UserAccountFollowedInterests200Response (The request has succeeded.)
   *   code 400 : Error (The server could not understand the request due to invalid syntax.)
   *   code 401 : Error (Access is unauthorized.)
   *   code 404 : Error (The server cannot find the requested resource.)
   *   code 0 : Error (Unexpected error)
   * 
   * @param username A valid username
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def userAccountFollowedInterests(username: String, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[UserAccountFollowedInterests200Response] =
    ApiRequest[UserAccountFollowedInterests200Response](ApiMethods.GET, baseUrl, "/users/{username}/interests/follow", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withPathParam("username", username)
      .withSuccessResponse[UserAccountFollowedInterests200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](404)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get account information for the \"operation user_account\" - By default, the \"operation user_account\" is the token user_account.  [Understanding Business Access]: https://developers.pinterest.com/docs/getting-started/using-business-access/ \"Understanding Business Access\" If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See [Understanding Business Access] for more information.
   * 
   * Expected answers:
   *   code 200 : Account (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   */
  def userAccountGet(adAccountId: Option[String] = None): ApiRequest[Account] =
    ApiRequest[Account](ApiMethods.GET, baseUrl, "/user_account", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[Account](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get a list of who a certain user follows.
   * 
   * Expected answers:
   *   code 200 : FollowersList200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   * @param explicitFollowing Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows.
   * @param feedType Thrift param specifying what type of followees will be kept. Default to include all followees.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def userFollowingGet(adAccountId: Option[String] = None, explicitFollowing: Option[Boolean] = None, feedType: Option[UserFollowingFeedType] = None, bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[FollowersList200Response] =
    ApiRequest[FollowersList200Response](ApiMethods.GET, baseUrl, "/user_account/following", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withQueryParam("explicit_following", explicitFollowing)
      .withQueryParam("feed_type", feedType)
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[FollowersList200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get user websites, claimed or not
   * 
   * Expected answers:
   *   code 200 : UserWebsitesGet200Response (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   */
  def userWebsitesGet(bookmark: Option[String] = None, pageSize: Option[Int] = None): ApiRequest[UserWebsitesGet200Response] =
    ApiRequest[UserWebsitesGet200Response](ApiMethods.GET, baseUrl, "/user_account/websites", "application/json")
      .withQueryParam("bookmark", bookmark)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[UserWebsitesGet200Response](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Verify a website as a signed-in user.
   * 
   * Expected answers:
   *   code 200 : UserWebsite (The request has succeeded.)
   *   code 201 : UserWebsite (Resource create operation completed successfully.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param userWebsiteCreate 
   * @param adAccountId Unique identifier of an ad account.
   */
  def verifyWebsiteUpdate(userWebsiteCreate: UserWebsiteCreate, adAccountId: Option[String] = None): ApiRequest[UserWebsite] =
    ApiRequest[UserWebsite](ApiMethods.POST, baseUrl, "/user_account/websites", "application/json")
      .withBody(userWebsiteCreate)
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[UserWebsite](200)
      .withSuccessResponse[UserWebsite](201)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      

  /**
   * Get verification code for user to install on the website to claim it.
   * 
   * Expected answers:
   *   code 200 : UserWebsiteVerification (The request has succeeded.)
   *   code 400 : Error (The request could not be understood by the server due to unexpected data.)
   *   code 401 : Error (Authentication is required and has either failed or not been provided.)
   *   code 403 : Error (The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.)
   *   code 404 : Error (The requested resource could not be found on this server.)
   *   code 429 : Error (The user has sent too many requests in a given amount of time and is being rate limited.)
   *   code 0 : Error (An unexpected error response.)
   * 
   * @param adAccountId Unique identifier of an ad account.
   */
  def websiteVerificationGet(adAccountId: Option[String] = None): ApiRequest[UserWebsiteVerification] =
    ApiRequest[UserWebsiteVerification](ApiMethods.GET, baseUrl, "/user_account/websites/verification", "application/json")
      .withQueryParam("ad_account_id", adAccountId)
      .withSuccessResponse[UserWebsiteVerification](200)
      .withErrorResponse[Error](400)
      .withErrorResponse[Error](401)
      .withErrorResponse[Error](403)
      .withErrorResponse[Error](404)
      .withErrorResponse[Error](429)
      .withDefaultErrorResponse[Error]
      



}

