/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.AdAccount;
import org.openapitools.client.model.AdAccountAnalyticsItems;
import org.openapitools.client.model.AdAccountCreate;
import org.openapitools.client.model.AdAccountsList200Response;
import org.openapitools.client.model.AdsAnalyticsAccountTargetingType;
import org.openapitools.client.model.AdsAnalyticsCreateAsyncRequest;
import org.openapitools.client.model.AdsAnalyticsCreateAsyncResponse;
import org.openapitools.client.model.AdsAnalyticsGetAsyncResponse;
import java.math.BigDecimal;
import org.openapitools.client.model.ConversionProductReport;
import org.openapitools.client.model.ConversionProductReportCreate;
import org.openapitools.client.model.ConversionReportAttributionType;
import org.openapitools.client.model.Granularity;
import java.util.List;
import java.time.LocalDate;
import org.openapitools.client.model.MMMReport;
import org.openapitools.client.model.MMMReportCreate;
import java.util.Map;
import org.openapitools.client.model.MetricsResponse;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.PinterestLibPaginationOrder;
import org.openapitools.client.model.ReportingColumnSync;
import org.openapitools.client.model.ReportingTimeZone;
import org.openapitools.client.model.TemplateBasedReport;
import org.openapitools.client.model.TemplatesList200Response;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts")
public interface AdAccountsApi  {

    /**
     * Get ad account analytics
     *   Get analytics for the specified &#x60;ad_account_id&#x60;, filtered by the specified options.    - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.    - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.    - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time.
     */
    @GET
    @Path("/{ad_account_id}/analytics")
    @Produces({ "application/json" })
    List<AdAccountAnalyticsItems> adAccountAnalytics(@QueryParam("start_date") LocalDate startDate, @QueryParam("end_date") LocalDate endDate, @QueryParam("columns") List<ReportingColumnSync> columns, @QueryParam("granularity") Granularity granularity, @PathParam("ad_account_id") String adAccountId, @QueryParam("click_window_days") @DefaultValue("30") BigDecimal clickWindowDays, @QueryParam("engagement_window_days") @DefaultValue("30") BigDecimal engagementWindowDays, @QueryParam("view_window_days") @DefaultValue("1") BigDecimal viewWindowDays, @QueryParam("conversion_report_time") @DefaultValue("TIME_OF_AD_ACTION") String conversionReportTime, @QueryParam("reporting_timezone") ReportingTimeZone reportingTimezone) throws ApiException, ProcessingException;

    /**
     * Get targeting analytics for an ad account
     * Get targeting analytics for an ad account. For the requested account and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \&quot;age_bucket\&quot;) for applicable values (e.g. \&quot;45-49\&quot;). &lt;p/&gt;  * The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. * If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. * If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     */
    @GET
    @Path("/{ad_account_id}/targeting_analytics")
    @Produces({ "application/json" })
    MetricsResponse adAccountTargetingAnalyticsGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("start_date") LocalDate startDate, @QueryParam("end_date") LocalDate endDate, @QueryParam("targeting_types") List<AdsAnalyticsAccountTargetingType> targetingTypes, @QueryParam("columns") List<ReportingColumnSync> columns, @QueryParam("granularity") Granularity granularity, @QueryParam("click_window_days") @DefaultValue("30") BigDecimal clickWindowDays, @QueryParam("engagement_window_days") @DefaultValue("30") BigDecimal engagementWindowDays, @QueryParam("view_window_days") @DefaultValue("1") BigDecimal viewWindowDays, @QueryParam("conversion_report_time") @DefaultValue("TIME_OF_AD_ACTION") String conversionReportTime, @QueryParam("attribution_types") List<ConversionReportAttributionType> attributionTypes, @QueryParam("reporting_timezone") ReportingTimeZone reportingTimezone) throws ApiException, ProcessingException;

    /**
     * Create ad account
     * Create a new ad account. Different ad accounts can support different currencies, payment methods, etc. An ad account is needed to create campaigns, ad groups, and ads; other accounts (your employees or partners) can be assigned business access and appropriate roles to access an ad account.  You can set up up to 50 ad accounts per user. (The user must have a business account to create an ad account.) For more, see [Create an advertiser account](https://help.pinterest.com/en/business/article/create-an-advertiser-account).
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdAccount adAccountsCreate(AdAccountCreate adAccountCreate) throws ApiException, ProcessingException;

    /**
     * Get ad account
     * Get an ad account
     */
    @GET
    @Path("/{ad_account_id}")
    @Produces({ "application/json" })
    AdAccount adAccountsGet(@PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List ad accounts
     * Get a list of the ad_accounts that the \&quot;operation user_account\&quot; has access to.         - This includes ad_accounts they own and ad_accounts that are owned by others who have granted them [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts).
     */
    @GET
    
    @Produces({ "application/json" })
    AdAccountsList200Response adAccountsList(@QueryParam("include_shared_accounts") @DefaultValue("true") Boolean includeSharedAccounts, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Create a request for a brand, category, SKU report
     *   [Restricted](/docs/getting-started/using-beta-and-restricted-features/)   This creates an asynchronous brand, category, SKU report based on the given request. This request returns a token that you can use to download the report when it is ready.
     */
    @POST
    @Path("/{ad_account_id}/reports/brand_category_sku")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    ConversionProductReport analyticsCreateConversionProductReport(@PathParam("ad_account_id") String adAccountId, ConversionProductReportCreate conversionProductReportCreate) throws ApiException, ProcessingException;

    /**
     * Create a request for a Marketing Mix Modeling (MMM) report
     *     This creates an asynchronous mmm report based on the given request.     It returns a token that you can use to download the report when it is     ready. NOTE: An additional limit of 5 queries per minute per advertiser     applies to this endpoint while it&#39;s in beta release.     For the ADVERTISER_PAID_SPEND_IN_DOLLAR,     ADVERTISER_PAID_ECPC_IN_DOLLAR, and ADVERTISER_PAID_ECPM_IN_DOLLAR     columns: if you receive bonus media, this value still includes that spend, and it will     need to be removed manually with support from your Pinterest account team for a     fully netted value. Over time, we&#39;ll also subtract bonus media and other incentives as     data becomes available. Production and other non-media fees are excluded.
     */
    @POST
    @Path("/{ad_account_id}/mmm_reports")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    MMMReport analyticsCreateMmmReport(@PathParam("ad_account_id") String adAccountId, MMMReportCreate mmMReportCreate) throws ApiException, ProcessingException;

    /**
     * Create async request for an account analytics report
     *   This returns a token that you can use to download the report when it is ready.   Note that this endpoint requires the parameters to be passed as JSON-formatted in the request body. This endpoint does not support URL query parameters.   - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.   - If granularity is not HOUR, you can pull data from up to 914 days before the current date in UTC time, with a maximum time range of 186 days.   - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.   - If level is PRODUCT_ITEM, you can pull data from up to 92 days before the current date in UTC time, with a maximum time range of 31 days.   - If level is PRODUCT_ITEM, ad_ids and ad_statuses parameters are not allowed. Any columns related to pin promotion and ad is not allowed either.
     */
    @POST
    @Path("/{ad_account_id}/reports")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdsAnalyticsCreateAsyncResponse analyticsCreateReport(@PathParam("ad_account_id") String adAccountId, AdsAnalyticsCreateAsyncRequest adsAnalyticsCreateAsyncRequest) throws ApiException, ProcessingException;

    /**
     * Create async request for an analytics report using a template
     *   This takes a template ID and an optional custom timeframe and   constructs an asynchronous report based on the template. It returns   a token that you can use to download the report when it is ready.
     */
    @POST
    @Path("/{ad_account_id}/templates/{template_id}/reports")
    @Produces({ "application/json" })
    TemplateBasedReport analyticsCreateTemplateReport(@PathParam("ad_account_id") String adAccountId, @PathParam("template_id") String templateId, @QueryParam("start_date") LocalDate startDate, @QueryParam("end_date") LocalDate endDate, @QueryParam("granularity") Granularity granularity) throws ApiException, ProcessingException;

    /**
     * Get advertiser brand, category, SKU report
     *   [Restricted](/docs/getting-started/using-beta-and-restricted-features/)   Get a brand, category, SKU report for an ad account. This call returns the URL for the report that matches the token returned in the request to the Create brand, category, SKU report endpoint.
     */
    @GET
    @Path("/{ad_account_id}/reports/brand_category_sku")
    @Produces({ "application/json" })
    ConversionProductReport analyticsGetConversionProductReport(@PathParam("ad_account_id") String adAccountId, @QueryParam("token") String token) throws ApiException, ProcessingException;

    /**
     * Get advertiser Marketing Mix Modeling (MMM) report.
     *     Get an mmm report for an ad account. This returns a URL to an     mmm metrics report given a token returned from the create mmm report endpoint.
     */
    @GET
    @Path("/{ad_account_id}/mmm_reports")
    @Produces({ "application/json" })
    MMMReport analyticsGetMmmReport(@PathParam("ad_account_id") String adAccountId, @QueryParam("token") String token) throws ApiException, ProcessingException;

    /**
     * Get the account analytics report created by the async call
     *   This returns a URL to an analytics report given a token returned from the post request report creation call.   You can use the URL to download the report. The link is valid for five minutes and the report is valid for one hour.   - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.
     */
    @GET
    @Path("/{ad_account_id}/reports")
    @Produces({ "application/json" })
    AdsAnalyticsGetAsyncResponse analyticsGetReport(@PathParam("ad_account_id") String adAccountId, @QueryParam("token") String token) throws ApiException, ProcessingException;

    /**
     * Delete ads data for ad account in API Sandbox
     * Delete an ad account and all the ads data associated with that account. A string message is returned indicating the status of the delete operation.  Note: This endpoint is only allowed in the Pinterest API Sandbox (https://api-sandbox.pinterest.com/v5). Go to /docs/developer-tools/sandbox/ for more information.
     */
    @DELETE
    @Path("/{ad_account_id}/sandbox")
    @Produces({ "application/json" })
    String sandboxDelete(@PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List templates
     * Gets all Templates associated with an ad account ID.
     */
    @GET
    @Path("/{ad_account_id}/templates")
    @Produces({ "application/json" })
    TemplatesList200Response templatesList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order) throws ApiException, ProcessingException;
}
