/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.Ad;
import org.openapitools.client.model.AdBatchUpdate;
import org.openapitools.client.model.AdBatchWriteResponseModel;
import org.openapitools.client.model.AdCreate;
import org.openapitools.client.model.AdPreviewRequest;
import org.openapitools.client.model.AdPreviewURLResponse;
import org.openapitools.client.model.AdsAnalytics;
import org.openapitools.client.model.AdsAnalyticsAdTargetingType;
import org.openapitools.client.model.AdsList200Response;
import java.math.BigDecimal;
import org.openapitools.client.model.CampaignAdPreview;
import org.openapitools.client.model.CampaignAdPreviewCreate;
import org.openapitools.client.model.CampaignAdPreviewCreate200ResponseInner;
import org.openapitools.client.model.CampaignAdPreviewDelete200ResponseInner;
import org.openapitools.client.model.ConversionAttributionWindowDays;
import org.openapitools.client.model.ConversionReportAttributionType;
import org.openapitools.client.model.ConversionReportTimeType;
import org.openapitools.client.model.EntityStatus;
import org.openapitools.client.model.Granularity;
import java.util.List;
import java.time.LocalDate;
import java.util.Map;
import org.openapitools.client.model.MetricsResponse;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.PinterestLibPaginationOrder;
import org.openapitools.client.model.ReportingColumnSync;
import org.openapitools.client.model.ReportingTimeZone;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}")
public interface AdsApi  {

    /**
     * Create ad preview with pin or image
     * Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad.  If you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See [Ads Overview](https://help.pinterest.com/en/business/article/promoted-pins-overview).)  You can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires. Collection ads are not currently supported ad preview.
     */
    @POST
    @Path("/ad_previews")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdPreviewURLResponse adPreviewsCreate(@PathParam("ad_account_id") String adAccountId, AdPreviewRequest adPreviewRequest) throws ApiException, ProcessingException;

    /**
     * Get targeting analytics for ads
     * Get targeting analytics for one or more ads. For the requested ad(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \&quot;age_bucket\&quot;) for applicable values (e.g. \&quot;45-49\&quot;).  * The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. * If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. * If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     */
    @GET
    @Path("/ads/targeting_analytics")
    @Produces({ "application/json" })
    MetricsResponse adTargetingAnalyticsGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("ad_ids") List<String> adIds, @QueryParam("start_date") LocalDate startDate, @QueryParam("end_date") LocalDate endDate, @QueryParam("targeting_types") List<AdsAnalyticsAdTargetingType> targetingTypes, @QueryParam("columns") List<ReportingColumnSync> columns, @QueryParam("granularity") Granularity granularity, @QueryParam("click_window_days") ConversionAttributionWindowDays clickWindowDays, @QueryParam("engagement_window_days") ConversionAttributionWindowDays engagementWindowDays, @QueryParam("view_window_days") ConversionAttributionWindowDays viewWindowDays, @QueryParam("conversion_report_time") ConversionReportTimeType conversionReportTime, @QueryParam("attribution_types") List<ConversionReportAttributionType> attributionTypes, @QueryParam("reporting_timezone") ReportingTimeZone reportingTimezone, @QueryParam("sort_columns") List<String> sortColumns, @QueryParam("sort_ascending") Boolean sortAscending) throws ApiException, ProcessingException;

    /**
     * Get ad analytics
     *     Get analytics for the specified ads in the specified &#x60;ad_account_id&#x60;, filtered by the specified options.     - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.     - The request must contain either ad_ids or both campaign_ids and pin_ids.     - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.     - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     */
    @GET
    @Path("/ads/analytics")
    @Produces({ "application/json" })
    List<AdsAnalytics> adsAnalytics(@QueryParam("start_date") LocalDate startDate, @QueryParam("end_date") LocalDate endDate, @QueryParam("columns") List<ReportingColumnSync> columns, @QueryParam("granularity") Granularity granularity, @PathParam("ad_account_id") String adAccountId, @QueryParam("pin_ids") List<String> pinIds, @QueryParam("ad_ids") List<String> adIds, @QueryParam("click_window_days") @DefaultValue("30") BigDecimal clickWindowDays, @QueryParam("engagement_window_days") @DefaultValue("30") BigDecimal engagementWindowDays, @QueryParam("view_window_days") @DefaultValue("1") BigDecimal viewWindowDays, @QueryParam("conversion_report_time") @DefaultValue("TIME_OF_AD_ACTION") String conversionReportTime, @QueryParam("campaign_ids") List<String> campaignIds, @QueryParam("reporting_timezone") ReportingTimeZone reportingTimezone) throws ApiException, ProcessingException;

    /**
     * Create ads
     * Create multiple new ads. Request must contain ad_group_id, creative_type, and the source Pin pin_id.
     */
    @POST
    @Path("/ads")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdBatchWriteResponseModel adsCreate(@PathParam("ad_account_id") String adAccountId, List<AdCreate> adCreate) throws ApiException, ProcessingException;

    /**
     * Get ad
     * Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will contain additional information from the Ad Review process. For more information about our policies and rejection reasons see the [Pinterest advertising standards](https://www.pinterest.com/_/_/policy/advertising-guidelines/).
     */
    @GET
    @Path("/ads/{ad_id}")
    @Produces({ "application/json" })
    Ad adsGet(@PathParam("ad_id") String adId, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List ads
     * List ads that meet the filters provided:     - Listed campaign ids or ad group ids or ad ids     - Listed entity statuses  If no filter is provided, all ads in the ad account are returned.  **Note:** Provide only &#x60;campaign_id&#x60; or &#x60;ad_group_id&#x60; or &#x60;ad_id&#x60;. Do not provide more than one type.  Review status is provided for each ad; if &#x60;review_status&#x60; is &#x60;REJECTED&#x60;, the &#x60;rejected_reasons&#x60; field will contain additional information.  For more, see [Pinterest advertising standards](https://policy.pinterest.com/en/advertising-guidelines).
     */
    @GET
    @Path("/ads")
    @Produces({ "application/json" })
    AdsList200Response adsList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order, @QueryParam("campaign_ids") List<String> campaignIds, @QueryParam("ad_group_ids") List<String> adGroupIds, @QueryParam("ad_ids") List<String> adIds, @QueryParam("entity_statuses") List<EntityStatus> entityStatuses) throws ApiException, ProcessingException;

    /**
     * Update ads
     * Update multiple existing ads
     */
    @PATCH
    @Path("/ads")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdBatchWriteResponseModel adsUpdate(@PathParam("ad_account_id") String adAccountId, List<AdBatchUpdate> adBatchUpdate) throws ApiException, ProcessingException;

    /**
     * Create ad preview records for one or more ad groups
     * Create ad preview records for one or more ad groups that can be shared. Each ad group is processed independently; individual failures do not block other previews.
     */
    @POST
    @Path("/campaign_ad_preview")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    List<CampaignAdPreviewCreate200ResponseInner> campaignAdPreviewCreate(@PathParam("ad_account_id") String adAccountId, List<CampaignAdPreviewCreate> campaignAdPreviewCreate) throws ApiException, ProcessingException;

    /**
     * Delete ad preview records for one or more ad groups
     * Delete ad preview records for one or more ad groups. All ad groups are validated before deleting any records.
     */
    @DELETE
    @Path("/campaign_ad_preview")
    @Produces({ "application/json" })
    List<CampaignAdPreviewDelete200ResponseInner> campaignAdPreviewDelete(@QueryParam("ad_group_ids") List<String> adGroupIds, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Fetch ad preview records for one or more ad groups
     * Fetch ad preview records for one or more ad groups. Returns all active previews associated with the provided ad group IDs.
     */
    @GET
    @Path("/campaign_ad_preview")
    @Produces({ "application/json" })
    List<CampaignAdPreview> campaignAdPreviewRead(@QueryParam("ad_group_ids") List<String> adGroupIds, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;
}
