/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.AudienceInsightType;
import org.openapitools.client.model.AudienceInsights;
import org.openapitools.client.model.AudienceInsightsScopeAndTypeGet200Response;
import java.util.List;
import java.util.Map;
import org.openapitools.client.model.PinterestLibError;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}")
public interface AudienceInsightsApi  {

    /**
     * Get audience insights
     * Get Audience Insights for an ad account. The response will return insights for 3 types of audiences: the ad account&#39;s engaged audience on Pinterest, the ad account&#39;s total audience on Pinterest and Pinterest&#39;s total audience.  [Learn more about Audience Insights](https://help.pinterest.com/en/business/article/audience-insights).
     */
    @GET
    @Path("/audience_insights")
    @Produces({ "application/json" })
    AudienceInsights audienceInsightsGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("audience_insight_type") AudienceInsightType audienceInsightType) throws ApiException, ProcessingException;

    /**
     * Get audience insights scope and type
     * Get the scope and type of available audiences, which along with a date, is an audience that has recently had an interaction (referred to here as a type) on pins. Interacted pins can belong to at least the most common **partner** or **Pinterest** scopes. This means that user interactions made on advertiser or partner pins will have the **partner** scope. You can also have user interactions performed in general on Pinterest with the **Pinterest** scope. In that case, you can then use the returned type and scope values together on requests to other endpoints to retrieve insight metrics for a desired audience.
     */
    @GET
    @Path("/insights/audiences")
    @Produces({ "application/json" })
    AudienceInsightsScopeAndTypeGet200Response audienceInsightsScopeAndTypeGet(@PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;
}
