/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.Board;
import org.openapitools.client.model.BoardCreate;
import org.openapitools.client.model.BoardPrivacyFilter;
import org.openapitools.client.model.BoardSection;
import org.openapitools.client.model.BoardSectionCreate;
import org.openapitools.client.model.BoardSectionUpdateWithRequiredBody;
import org.openapitools.client.model.BoardSectionsList200Response;
import org.openapitools.client.model.BoardWithUpdatePrivacy;
import org.openapitools.client.model.BoardWithUpdatePrivacyUpdate;
import org.openapitools.client.model.BoardsList200Response;
import org.openapitools.client.model.BoardsListPins200Response;
import org.openapitools.client.model.CreativeType;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/boards")
public interface BoardsApi  {

    /**
     * Create board section
     * Create a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
     */
    @POST
    @Path("/{board_id}/sections")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    BoardSection boardSectionsCreate(@PathParam("board_id") String boardId, BoardSectionCreate boardSectionCreate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Delete board section
     * Delete a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
     */
    @DELETE
    @Path("/{board_id}/sections/{section_id}")
    @Produces({ "application/json" })
    BoardSection boardSectionsDelete(@PathParam("board_id") String boardId, @PathParam("section_id") String sectionId, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List board sections
     * Get a list of all board sections from a board owned by the \&quot;operation user_account\&quot; - or a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
     */
    @GET
    @Path("/{board_id}/sections")
    @Produces({ "application/json" })
    BoardSectionsList200Response boardSectionsList(@PathParam("board_id") String boardId, @QueryParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * List Pins on board section
     * Get a list of the Pins on a board section of a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
     */
    @GET
    @Path("/{board_id}/sections/{section_id}/pins")
    @Produces({ "application/json" })
    BoardsListPins200Response boardSectionsListPins(@PathParam("board_id") String boardId, @PathParam("section_id") String sectionId, @QueryParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Update board section
     * Update a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
     */
    @PATCH
    @Path("/{board_id}/sections/{section_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    BoardSection boardSectionsUpdate(@PathParam("board_id") String boardId, @PathParam("section_id") String sectionId, BoardSectionUpdateWithRequiredBody boardSectionUpdateWithRequiredBody, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Create board
     * Create a board owned by the \&quot;operation user_account\&quot;. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Board boardsCreate(BoardCreate boardCreate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Delete board
     * Delete a board owned by the \&quot;operation user_account\&quot;. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
     */
    @DELETE
    @Path("/{board_id}")
    @Produces({ "application/json" })
    Board boardsDelete(@PathParam("board_id") String boardId, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get board
     * Get a board owned by the operation user_account - or a group board that has been shared with this account. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
     */
    @GET
    @Path("/{board_id}")
    @Produces({ "application/json" })
    Board boardsGet(@PathParam("board_id") String boardId, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List boards
     * Get a list of the boards owned by the \&quot;operation user_account\&quot; + group boards where this account is a collaborator Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. Optional: Specify a privacy type (public, protected, or secret) to indicate which boards to return. * If no privacy is specified, all boards that can be returned (based on the scopes of the token and ad_account role if applicable) will be returned.
     */
    @GET
    
    @Produces({ "application/json" })
    BoardsList200Response boardsList(@QueryParam("ad_account_id") String adAccountId, @QueryParam("privacy") BoardPrivacyFilter privacy, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * List Pins on board
     * Get a list of the Pins on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. - Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
     */
    @GET
    @Path("/{board_id}/pins")
    @Produces({ "application/json" })
    BoardsListPins200Response boardsListPins(@PathParam("board_id") String boardId, @QueryParam("creative_types") List<CreativeType> creativeTypes, @QueryParam("ad_account_id") String adAccountId, @QueryParam("pin_metrics") @DefaultValue("false") Boolean pinMetrics, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Update board
     * Update a board owned by the \&quot;operating user_account\&quot;. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
     */
    @PATCH
    @Path("/{board_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    BoardWithUpdatePrivacy boardsUpdate(@PathParam("board_id") String boardId, BoardWithUpdatePrivacyUpdate boardWithUpdatePrivacyUpdate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;
}
