/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.BulkDownload;
import org.openapitools.client.model.BulkDownloadCreate;
import org.openapitools.client.model.BulkJobData;
import org.openapitools.client.model.BulkUpsertRequest;
import org.openapitools.client.model.BulkUpsertResponse;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/bulk")
public interface BulkApi  {

    /**
     * Get advertiser entities in bulk
     * Create an asynchronous report that may include information on campaigns, ad groups, product groups, ads, keywords, schedules,and/or labels; can filter by campaigns. Though the entities may be active, archived, or paused, only active entities will return data.
     */
    @POST
    @Path("/download")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    BulkDownload bulkDownloadCreate(@PathParam("ad_account_id") String adAccountId, BulkDownloadCreate bulkDownloadCreate) throws ApiException, ProcessingException;

    /**
     * Download advertiser entities in bulk
     * Get the status of a bulk request by &#x60;request_id&#x60;, along with a download URL that will allow you to download the new or updated entity data (campaigns, ad groups, product groups, ads, schedules, or keywords).
     */
    @GET
    @Path("/{bulk_request_id}")
    @Produces({ "application/json" })
    BulkJobData bulkRequestGet(@PathParam("ad_account_id") String adAccountId, @PathParam("bulk_request_id") String bulkRequestId, @QueryParam("include_details") @DefaultValue("false") Boolean includeDetails) throws ApiException, ProcessingException;

    /**
     * Create/update ad entities in bulk
     * Either create or update any combination of campaigns, ad groups, product groups, ads, keywords, schedules, or labels. Note that this request will be processed asynchronously; the response will include a &lt;code&gt;request_id&lt;/code&gt; that can be used to obtain the status of the request.
     */
    @POST
    @Path("/upsert")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    BulkUpsertResponse bulkUpsertCreate(@PathParam("ad_account_id") String adAccountId, BulkUpsertRequest bulkUpsertRequest) throws ApiException, ProcessingException;
}
