/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.AssetGroupDeletion;
import org.openapitools.client.model.AssetGroupDeletionDelete;
import org.openapitools.client.model.AssetGroupInput;
import org.openapitools.client.model.AssetGroupInputCreate;
import org.openapitools.client.model.AssetGroupModification;
import org.openapitools.client.model.AssetGroupModificationReadOrUpdate;
import org.openapitools.client.model.AssetPermissionType;
import org.openapitools.client.model.AssetSearchBy;
import org.openapitools.client.model.AssetSortBy;
import org.openapitools.client.model.BusinessAssetMembersGet200Response;
import org.openapitools.client.model.BusinessAssetsGet200Response;
import org.openapitools.client.model.BusinessMemberAssetsGetResponse;
import org.openapitools.client.model.BusinessMembersAssetAccessDeleteBody;
import org.openapitools.client.model.BusinessPartnerAssetAccessGet200Response;
import org.openapitools.client.model.DeleteMemberAccessResultsResponseArray;
import org.openapitools.client.model.DeletePartnerAssetAccessBody;
import org.openapitools.client.model.DeletePartnerAssetAccessResultsResponseArray;
import java.util.List;
import java.util.Map;
import org.openapitools.client.model.NonDraftEntityStatus;
import java.util.Optional;
import org.openapitools.client.model.PermissionsWithOwner;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.UpdateMemberAssetAccessBody;
import org.openapitools.client.model.UpdateMemberAssetsResultsResponseArray;
import org.openapitools.client.model.UpdatePartnerAssetAccessBody;
import org.openapitools.client.model.UpdatePartnerAssetsResultsResponseArray;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/businesses/{business_id}")
public interface BusinessAccessAssetsApi  {

    /**
     * Create a new asset group.
     * Create a new asset group with the specified parameters. - An [asset group](https://help.pinterest.com/en/business/article/asset-groups) is a custom group of assets based on how you would like to manage your accounts.
     */
    @POST
    @Path("/asset_groups")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AssetGroupInput assetGroupCreate(@PathParam("business_id") String businessId, AssetGroupInputCreate assetGroupInputCreate) throws ApiException, ProcessingException;

    /**
     * Delete asset groups.
     * Delete a batch of asset groups.
     */
    @DELETE
    @Path("/asset_groups")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AssetGroupDeletion assetGroupDelete(@PathParam("business_id") String businessId, AssetGroupDeletionDelete assetGroupDeletionDelete) throws ApiException, ProcessingException;

    /**
     * Update asset groups.
     * Update a batch of asset groups with the specified parameters.
     */
    @PATCH
    @Path("/asset_groups")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AssetGroupModification assetGroupUpdate(@PathParam("business_id") String businessId, AssetGroupModificationReadOrUpdate assetGroupModificationReadOrUpdate) throws ApiException, ProcessingException;

    /**
     * Get members with access to asset
     * Get all the members the requesting business has granted access to on the given asset.
     */
    @GET
    @Path("/assets/{asset_id}/members")
    @Produces({ "application/json" })
    BusinessAssetMembersGet200Response businessAssetMembersGet(@PathParam("business_id") String businessId, @PathParam("asset_id") String assetId, @QueryParam("start_index") @DefaultValue("0") Integer startIndex, @QueryParam("fetch_system_users") @DefaultValue("false") Boolean fetchSystemUsers, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Get partners with access to asset
     * Get all the partners the requesting business has granted access to on the given asset. Note: If the asset has been shared with you, an empty array will be returned. This is because an asset shared with you cannot be shared with a different partner.
     */
    @GET
    @Path("/assets/{asset_id}/partners")
    @Produces({ "application/json" })
    BusinessAssetMembersGet200Response businessAssetPartnersGet(@PathParam("business_id") String businessId, @PathParam("asset_id") String assetId, @QueryParam("start_index") @DefaultValue("0") Integer startIndex, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * List business assets
     * Get all the assets the requesting business has access to. This includes assets the business owns and assets the business has access to through partnerships.
     */
    @GET
    @Path("/assets")
    @Produces({ "application/json" })
    BusinessAssetsGet200Response businessAssetsGet(@PathParam("business_id") String businessId, @QueryParam("permissions") List<PermissionsWithOwner> permissions, @QueryParam("child_asset_id") String childAssetId, @QueryParam("asset_group_id") String assetGroupId, @QueryParam("asset_type") @DefaultValue("AD_ACCOUNT") String assetType, @QueryParam("start_index") @DefaultValue("0") Integer startIndex, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Get assets assigned to a member
     * Get assets on which you assigned asset permissions to the given member. Can be used to: - get all assets, regardless of asset type or - get assets of one asset type by using the asset_type query. The return response will include the permissions the member has to that asset and the asset type.
     */
    @GET
    @Path("/members/{member_id}/assets")
    @Produces({ "application/json" })
    BusinessMemberAssetsGetResponse businessMemberAssetsGet(@PathParam("business_id") String businessId, @PathParam("member_id") String memberId, @QueryParam("asset_type") @DefaultValue("AD_ACCOUNT") String assetType, @QueryParam("start_index") @DefaultValue("0") Integer startIndex, @QueryParam("sort_by") AssetSortBy sortBy, @QueryParam("sort_ascending") @DefaultValue("true") Boolean sortAscending, @QueryParam("search_by") AssetSearchBy searchBy, @QueryParam("search_value") String searchValue, @QueryParam("asset_permission_type") AssetPermissionType assetPermissionType, @QueryParam("ad_account_statuses") List<NonDraftEntityStatus> adAccountStatuses, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Delete member access to asset
     * Terminate multiple members&#39; access to an asset.
     */
    @DELETE
    @Path("/members/assets/access")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    DeleteMemberAccessResultsResponseArray businessMembersAssetAccessDelete(@PathParam("business_id") String businessId, BusinessMembersAssetAccessDeleteBody businessMembersAssetAccessDeleteBody) throws ApiException, ProcessingException;

    /**
     * Assign/Update member asset permissions
     * Grant multiple members access to assets and/or update multiple member&#39;s exisiting permissions to an asset. Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
     */
    @PATCH
    @Path("/members/assets/access")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    UpdateMemberAssetsResultsResponseArray businessMembersAssetAccessUpdate(@PathParam("business_id") String businessId, UpdateMemberAssetAccessBody updateMemberAssetAccessBody) throws ApiException, ProcessingException;

    /**
     * Get assets assigned to a partner or assets assigned by a partner
     * Can be used to get the business assets your partner has granted you access to or the business assets you have granted your partner access to. If you specify: - partner_type&#x3D;INTERNAL, you will retrieve your business assets that the partner has access to. - partner_type&#x3D;EXTERNAL, you will retrieve the partner&#39;s business assets that the partner has granted you access to.
     */
    @GET
    @Path("/partners/{partner_id}/assets")
    @Produces({ "application/json" })
    BusinessPartnerAssetAccessGet200Response businessPartnerAssetAccessGet(@PathParam("business_id") String businessId, @PathParam("partner_id") String partnerId, @QueryParam("partner_type") @DefaultValue("INTERNAL") String partnerType, @QueryParam("asset_type") @DefaultValue("AD_ACCOUNT") String assetType, @QueryParam("start_index") @DefaultValue("0") Integer startIndex, @QueryParam("sort_by") AssetSortBy sortBy, @QueryParam("sort_ascending") @DefaultValue("true") Boolean sortAscending, @QueryParam("search_by") AssetSearchBy searchBy, @QueryParam("search_value") String searchValue, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Delete partner access to asset
     * Terminate multiple partners&#39; access to an asset. If - partner_type&#x3D;INTERNAL: You will terminate a partner&#39;s asset access to your business assets. - partner_type&#x3D;EXTERNAL: You will terminate your own access to your partner&#39;s business assets.
     */
    @DELETE
    @Path("/partners/assets")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    DeletePartnerAssetAccessResultsResponseArray deletePartnerAssetAccessHandlerImpl(@PathParam("business_id") String businessId, DeletePartnerAssetAccessBody deletePartnerAssetAccessBody) throws ApiException, ProcessingException;

    /**
     * Assign/Update partner asset permissions
     * Grant multiple partners access to assets and/or update multiple partner&#39;s exisiting permissions to an asset. If your partner already had permissions on the asset, they will be overriden with the new permissions you assign to them. To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview  Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
     */
    @PATCH
    @Path("/partners/assets")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    UpdatePartnerAssetsResultsResponseArray updatePartnerAssetAccessHandlerImpl(@PathParam("business_id") String businessId, UpdatePartnerAssetAccessBody updatePartnerAssetAccessBody) throws ApiException, ProcessingException;
}
