/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.AdvertiserDefinedEventsCreate200Response;
import org.openapitools.client.model.AdvertiserDefinedEventsCreateRequest;
import org.openapitools.client.model.AdvertiserDefinedEventsGet200Response;
import java.util.List;
import java.util.Map;
import org.openapitools.client.model.PinterestLibError;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/advertiser_defined_events")
public interface ConversionsApi  {

    /**
     * Create advertiser defined events
     * Map advertiser defined events to standard events for the given ad account.
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdvertiserDefinedEventsCreate200Response advertiserDefinedEventsCreate(@PathParam("ad_account_id") String adAccountId, AdvertiserDefinedEventsCreateRequest advertiserDefinedEventsCreateRequest) throws ApiException, ProcessingException;

    /**
     * Delete advertiser defined events
     * Untrack advertiser defined events for the given ad account.
     */
    @DELETE
    
    @Produces({ "application/json" })
    AdvertiserDefinedEventsCreate200Response advertiserDefinedEventsDelete(@PathParam("ad_account_id") String adAccountId, @QueryParam("event_names") List<String> eventNames) throws ApiException, ProcessingException;

    /**
     * Get advertiser defined events
     * Get advertiser defined events for the given ad account.
     */
    @GET
    
    @Produces({ "application/json" })
    AdvertiserDefinedEventsGet200Response advertiserDefinedEventsGet(@PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Update advertiser defined events
     * Update advertiser defined event names or mappings for the given ad account.
     */
    @PATCH
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdvertiserDefinedEventsCreate200Response advertiserDefinedEventsUpdate(@PathParam("ad_account_id") String adAccountId, AdvertiserDefinedEventsCreateRequest advertiserDefinedEventsCreateRequest) throws ApiException, ProcessingException;
}
