/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.CustomerList;
import org.openapitools.client.model.CustomerListCreate;
import org.openapitools.client.model.CustomerListUpdateWithRequiredBody;
import org.openapitools.client.model.CustomerListsList200Response;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.PinterestLibPaginationOrder;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/customer_lists")
public interface CustomerListsApi  {

    /**
     * Create customer lists
     * Create a customer list from your records (hashed or plain-text email addresses, or hashed MAIDs or IDFAs).  A customer list is one of the four types of Pinterest audiences: for more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.  **Please review our [requirements](https://help.pinterest.com/en/business/article/audience-targeting#section-13341) for what type of information is allowed when uploading a customer list.**   When you create a customer list, the system scans the list for existing Pinterest accounts; the list must include at least 100 Pinterest accounts. Your original list will be deleted when the matching process is complete. The filtered list – containing only the Pinterest accounts that were included in your starting list – is what will be used to create the audience.   To use your customer list after creating it, convert it into a customer list audience by passing the &#x60;CUSTOMER_LIST&#x60; audience type at the [create audience endpoint](https://developer.pinterest.com/docs/api/v5/audiences-create).
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    CustomerList customerListsCreate(@PathParam("ad_account_id") String adAccountId, CustomerListCreate customerListCreate) throws ApiException, ProcessingException;

    /**
     * Get customer list
     * Gets a specific customer list given the customer list ID.
     */
    @GET
    @Path("/{customer_list_id}")
    @Produces({ "application/json" })
    CustomerList customerListsGet(@PathParam("ad_account_id") String adAccountId, @PathParam("customer_list_id") String customerListId) throws ApiException, ProcessingException;

    /**
     * Get customer lists
     * Get a set of customer lists including id and name based on the filters provided.  (Customer lists are a type of audience.) For more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.
     */
    @GET
    
    @Produces({ "application/json" })
    CustomerListsList200Response customerListsList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order, @QueryParam("exclude_nca") @DefaultValue("false") Boolean excludeNca) throws ApiException, ProcessingException;

    /**
     * Update customer list
     * Append or remove records to/from an existing customer list. (A customer list is one of the four types of Pinterest audiences.)  When you add records to an existing customer list, the system scans the additions for existing Pinterest accounts; those are the records that will be added to your \&quot;CUSTOMER_LIST\&quot; audience. Your original list of records to add will be deleted when the matching process is complete.  For more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.
     */
    @PATCH
    @Path("/{customer_list_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    CustomerList customerListsUpdate(@PathParam("ad_account_id") String adAccountId, @PathParam("customer_list_id") String customerListId, CustomerListUpdateWithRequiredBody customerListUpdateWithRequiredBody) throws ApiException, ProcessingException;
}
