/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.CustomerListUpload;
import org.openapitools.client.model.CustomerListUploadCreateRequest;
import org.openapitools.client.model.CustomerListUploadCreateResponse;
import java.util.List;
import java.util.Map;
import org.openapitools.client.model.PinterestLibError;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads")
public interface CustomerListUploadsApi  {

    /**
     * Create customer list upload
     * Create a customer list upload request for multipart S3 upload.  Note: Each part must be at least 5mb; however the last part can be any size greater than 0. Clients with smaller files can request a single part count. This minimal part size restriction is defined by the AWS S3 API.  **Please review the [update customer list endpoint](/docs/api/v5/customer_lists-update/) documentation for additional information.**
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    CustomerListUploadCreateResponse customerListUploadsCreate(@PathParam("ad_account_id") String adAccountId, @PathParam("customer_list_id") String customerListId, CustomerListUploadCreateRequest customerListUploadCreateRequest) throws ApiException, ProcessingException;

    /**
     * Get customer list upload
     * Get the metadata for a given upload by its ID.
     */
    @GET
    @Path("/{customer_list_upload_id}")
    @Produces({ "application/json" })
    CustomerListUpload customerListUploadsGet(@PathParam("ad_account_id") String adAccountId, @PathParam("customer_list_id") String customerListId, @PathParam("customer_list_upload_id") String customerListUploadId) throws ApiException, ProcessingException;

    /**
     * Run customer list upload
     * Begin processing a customer list upload.
     */
    @POST
    @Path("/{customer_list_upload_id}/run")
    @Produces({ "application/json" })
    CustomerListUpload customerListUploadsRun(@PathParam("ad_account_id") String adAccountId, @PathParam("customer_list_id") String customerListId, @PathParam("customer_list_upload_id") String customerListUploadId) throws ApiException, ProcessingException;
}
