/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.CustomerSegment;
import org.openapitools.client.model.CustomerSegmentCreate;
import org.openapitools.client.model.CustomerSegmentList200Response;
import org.openapitools.client.model.CustomerSegmentUpdateRequestUpdateWithRequiredBody;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.PinterestLibPaginationOrder;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/customer_segments")
public interface CustomerSegmentApi  {

    /**
     * Create customer segments
     * Customer segments allow advertisers to define existing customers for Pinterest Performance+ campaigns. Customer segments are made up of audience lists.
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    CustomerSegment customerSegmentCreate(@PathParam("ad_account_id") String adAccountId, CustomerSegmentCreate customerSegmentCreate) throws ApiException, ProcessingException;

    /**
     * List customer segments
     * Get a list of the customer segments in the specified &#x60;ad_account_id&#x60;.
     */
    @GET
    
    @Produces({ "application/json" })
    CustomerSegmentList200Response customerSegmentList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order, @QueryParam("include_sizing") @DefaultValue("false") Boolean includeSizing, @QueryParam("search_query") String searchQuery) throws ApiException, ProcessingException;

    /**
     * Update customer segments
     * Update the customer segment given advertiser ID and customer segment ID
     */
    @PATCH
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    void customerSegmentUpdate(@PathParam("ad_account_id") String adAccountId, CustomerSegmentUpdateRequestUpdateWithRequiredBody customerSegmentUpdateRequestUpdateWithRequiredBody) throws ApiException, ProcessingException;
}
