/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.IntegrationLogsInvalidLogResponse;
import org.openapitools.client.model.IntegrationLogsRequestCreate;
import org.openapitools.client.model.IntegrationLogsSuccessResponse;
import org.openapitools.client.model.IntegrationMetadata;
import org.openapitools.client.model.IntegrationMetadataCreate;
import org.openapitools.client.model.IntegrationMetadataUpdate;
import org.openapitools.client.model.IntegrationRecord;
import org.openapitools.client.model.IntegrationsGetList200Response;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/integrations")
public interface IntegrationsApi  {

    /**
     * Delete commerce integration
     * Delete commerce integration metadata for the given external business ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
     */
    @DELETE
    @Path("/commerce/{external_business_id}")
    @Produces({ "application/json" })
    IntegrationMetadata integrationsCommerceDel(@PathParam("external_business_id") String externalBusinessId) throws ApiException, ProcessingException;

    /**
     * Get commerce integration
     * Get commerce integration metadata associated with the given external business ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
     */
    @GET
    @Path("/commerce/{external_business_id}")
    @Produces({ "application/json" })
    IntegrationMetadata integrationsCommerceGet(@PathParam("external_business_id") String externalBusinessId) throws ApiException, ProcessingException;

    /**
     * Update commerce integration
     * Update commerce integration metadata for the given external business ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
     */
    @PATCH
    @Path("/commerce/{external_business_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    IntegrationMetadata integrationsCommercePatch(@PathParam("external_business_id") String externalBusinessId, IntegrationMetadataUpdate integrationMetadataUpdate) throws ApiException, ProcessingException;

    /**
     * Create commerce integration
     * Create commerce integration metadata to link an external business ID with a Pinterest merchant &amp; ad account. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
     */
    @POST
    @Path("/commerce")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    IntegrationMetadata integrationsCommercePost(IntegrationMetadataCreate integrationMetadataCreate) throws ApiException, ProcessingException;

    /**
     * Get integration metadata
     * Get integration metadata by ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
     */
    @GET
    @Path("/{id}")
    @Produces({ "application/json" })
    IntegrationRecord integrationsGetById(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * Get integration metadata list
     * Get integration metadata list. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
     */
    @GET
    
    @Produces({ "application/json" })
    IntegrationsGetList200Response integrationsGetList(@QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Receives batched logs from integration applications.
     * This endpoint receives batched logs from integration applications on partner platforms. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
     */
    @POST
    @Path("/logs")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    IntegrationLogsSuccessResponse integrationsLogsPost(IntegrationLogsRequestCreate integrationLogsRequestCreate) throws ApiException, ProcessingException;
}
