/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.LabelCreateRequest;
import org.openapitools.client.model.LabelUpdateRequest;
import org.openapitools.client.model.LabeledEntities;
import org.openapitools.client.model.LabeledEntitiesCreate;
import org.openapitools.client.model.LabelsList200Response;
import org.openapitools.client.model.LabelsResponse;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.QueryLabelEntityStatusesItems;
import org.openapitools.client.model.QueryLabelTypesItems;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/labels")
public interface LabelsApi  {

    /**
     * Apply label to entity
     *   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Apply a label to one or more campaigns.   Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/) in addition to campaigns.   Currently, you can apply **brand** and **custom** labels. Future releases will provide more options.    **Note:** You can only apply one brand label to a campaign. You can apply up to 30 custom labels to a campaign.
     */
    @POST
    @Path("/{label_id}/apply")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    LabeledEntities labelsApply(@PathParam("ad_account_id") String adAccountId, @PathParam("label_id") String labelId, LabeledEntitiesCreate labeledEntitiesCreate) throws ApiException, ProcessingException;

    /**
     * Create labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Apply one or more labels to a campaign. Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/). Currently, you can apply brand and custom labels. Future releases will provide more options.  **Note:** You can only apply one brand label to a campaign. You can apply 30 custom labels to a campaign.
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    LabelsResponse labelsCreate(@PathParam("ad_account_id") String adAccountId, LabelCreateRequest labelCreateRequest) throws ApiException, ProcessingException;

    /**
     * List labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  See a list of labels for assets that your account owns, and filter the list by different criteria. If no filter is provided, it will default to labels associated with the ad account id.
     */
    @GET
    
    @Produces({ "application/json" })
    LabelsList200Response labelsList(@PathParam("ad_account_id") String adAccountId, @QueryParam("campaign_ids") List<String> campaignIds, @QueryParam("label_ids") List<String> labelIds, @QueryParam("entity_statuses") List<QueryLabelEntityStatusesItems> entityStatuses, @QueryParam("label_types") List<QueryLabelTypesItems> labelTypes, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Remove label from entities
     *   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Remove a label from one or more entities.
     */
    @POST
    @Path("/{label_id}/remove")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    LabeledEntities labelsRemove(@PathParam("ad_account_id") String adAccountId, @PathParam("label_id") String labelId, LabeledEntitiesCreate labeledEntitiesCreate) throws ApiException, ProcessingException;

    /**
     * Update labels
     * [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Change the properties of one or more labels.
     */
    @PATCH
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    LabelsResponse labelsUpdate(@PathParam("ad_account_id") String adAccountId, LabelUpdateRequest labelUpdateRequest) throws ApiException, ProcessingException;
}
