/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.AdAccountsSubscriptionsGetList200Response;
import org.openapitools.client.model.LeadSubscription;
import org.openapitools.client.model.LeadSubscriptionPostParamsCreate;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/leads/subscriptions")
public interface LeadAdsApi  {

    /**
     * Delete lead ads subscription
     * Delete an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.&#39;
     */
    @DELETE
    @Path("/{subscription_id}")
    @Produces({ "application/json" })
    LeadSubscription adAccountsSubscriptionsDelById(@PathParam("ad_account_id") String adAccountId, @PathParam("subscription_id") String subscriptionId) throws ApiException, ProcessingException;

    /**
     * Get lead ads subscription by ID
     * Get an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.&#39;
     */
    @GET
    @Path("/{subscription_id}")
    @Produces({ "application/json" })
    LeadSubscription adAccountsSubscriptionsGetById(@PathParam("ad_account_id") String adAccountId, @PathParam("subscription_id") String subscriptionId) throws ApiException, ProcessingException;

    /**
     * Get lead ads subscriptions
     * Get the advertiser&#39;s list of lead ads subscriptions. Only requests for the OWNER or ADMIN of the ad_account will be allowed.
     */
    @GET
    
    @Produces({ "application/json" })
    AdAccountsSubscriptionsGetList200Response adAccountsSubscriptionsGetList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Create lead ads subscription
     * Create a lead ads webhook subscription. Subscriptions allow Pinterest to deliver lead data from Ads Manager directly to the subscriber. Subscriptions can exist for a specific lead form or at ad account level.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.   - Advertisers can set up multiple integrations using ad_account_id + lead_form_id but only one integration per unique records.   - For data security, egress lead data is encrypted with AES-256-GCM.
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    LeadSubscription adAccountsSubscriptionsPost(@PathParam("ad_account_id") String adAccountId, LeadSubscriptionPostParamsCreate leadSubscriptionPostParamsCreate) throws ApiException, ProcessingException;
}
