/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.ConversionAccessToken;
import java.util.List;
import java.util.Map;
import org.openapitools.client.model.OauthAccessToken;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.TokenGrantType;
import org.openapitools.client.model.TokenTypeHint;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/oauth")
public interface OauthApi  {

    /**
     * Generate OAuth access token for conversion API
     * Generate a new and long-lived OAuth access token dedicated for sending conversions using a valid access token.
     */
    @POST
    @Path("/conversion_token")
    @Produces({ "application/json" })
    ConversionAccessToken oauthConversionToken() throws ApiException, ProcessingException;

    /**
     * Generate OAuth access token
     * Generate a new OAuth access token using an authorization code; or refresh an existing one using a continuous refresh token.  Follow the complete steps for [requesting and refreshing tokens](/docs/getting-started/set-up-authentication-and-authorization/).  **Note:** If your app was created **before September 25, 2025**, make sure to set the &#x60;continuous_refresh&#x60; parameter to &#x60;true&#x60; to use the continuous refresh token (60-day expiration, refreshable indefinitely). Pinterest no longer supports the legacy refresh token (365-day expiration, hard limit).  Disregard this note if your app was activated on or after September 25, 2025. You are automatically using the continuous refresh token.  Use [Token Debugger](/docs/developer-tools/token-debugger/) to validate and inspect your access token. 
     */
    @POST
    @Path("/token")
    @Consumes({ "application/x-www-form-urlencoded" })
    @Produces({ "application/json" })
    OauthAccessToken oauthToken(@FormParam("grant_type") TokenGrantType grantType, @FormParam("code") String code, @FormParam("continuous_refresh") String continuousRefresh, @FormParam("redirect_uri") String redirectUri, @FormParam("refresh_token") String refreshToken, @FormParam("scope") String scope) throws ApiException, ProcessingException;

    /**
     * Revoke a token
     * Revokes an access or refresh token. Only tokens issued for system users are currently supported. Revoked tokens become immediately invalid and unusable.
     */
    @POST
    @Path("/token/revoke")
    @Consumes({ "application/x-www-form-urlencoded" })
    @Produces({ "application/json" })
    void tokenRevoke(@FormParam("token") String token, @FormParam("token_type_hint") TokenTypeHint tokenTypeHint) throws ApiException, ProcessingException;
}
