/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import java.math.BigDecimal;
import org.openapitools.client.model.EntityStatus;
import org.openapitools.client.model.Granularity;
import java.util.List;
import java.time.LocalDate;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.PinterestLibPaginationOrder;
import org.openapitools.client.model.ProductGroupAnalyticsItems;
import org.openapitools.client.model.ProductGroupPromotion;
import org.openapitools.client.model.ProductGroupPromotions;
import org.openapitools.client.model.ProductGroupPromotionsCreate;
import org.openapitools.client.model.ProductGroupPromotionsList200Response;
import org.openapitools.client.model.ProductGroupPromotionsUpdateWithRequiredBody;
import org.openapitools.client.model.ReportingColumnSync;
import org.openapitools.client.model.ReportingTimeZone;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}")
public interface ProductGroupPromotionsApi  {

    /**
     * Create product group promotions
     * Add one or more product groups from your catalog to an existing ad group. (Product groups added to an ad group are a &#39;product group promotion.&#39;)
     */
    @POST
    @Path("/product_group_promotions")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    ProductGroupPromotions productGroupPromotionsCreate(@PathParam("ad_account_id") String adAccountId, ProductGroupPromotionsCreate productGroupPromotionsCreate) throws ApiException, ProcessingException;

    /**
     * Get a product group promotion by id
     * Get a product group promotion by id
     */
    @GET
    @Path("/product_group_promotions/{product_group_promotion_id}")
    @Produces({ "application/json" })
    ProductGroupPromotion productGroupPromotionsGet(@PathParam("ad_account_id") String adAccountId, @PathParam("product_group_promotion_id") String productGroupPromotionId) throws ApiException, ProcessingException;

    /**
     * Get product group promotions
     * List existing product group promotions associated with an ad account.  Include either ad_group_id or product_group_promotion_ids in your request.  **Note:** ad_group_ids and product_group_promotion_ids are mutually exclusive parameters. Only provide one. If multiple options are provided, product_group_promotion_ids takes precedence over ad_group_ids. If none are provided, the endpoint returns an error.
     */
    @GET
    @Path("/product_group_promotions")
    @Produces({ "application/json" })
    ProductGroupPromotionsList200Response productGroupPromotionsList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order, @QueryParam("product_group_promotion_ids") List<String> productGroupPromotionIds, @QueryParam("entity_statuses") List<EntityStatus> entityStatuses, @QueryParam("ad_group_id") String adGroupId) throws ApiException, ProcessingException;

    /**
     * Update product group promotions
     * Update multiple existing Product Group Promotions (by product_group_id)
     */
    @PATCH
    @Path("/product_group_promotions")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    ProductGroupPromotions productGroupPromotionsUpdate(@PathParam("ad_account_id") String adAccountId, ProductGroupPromotionsUpdateWithRequiredBody productGroupPromotionsUpdateWithRequiredBody) throws ApiException, ProcessingException;

    /**
     * Get product group analytics
     * Get analytics for the specified product groups in the specified &#x60;ad_account_id&#x60;, filtered by the specified options.  - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     */
    @GET
    @Path("/product_groups/analytics")
    @Produces({ "application/json" })
    List<ProductGroupAnalyticsItems> productGroupsAnalytics(@QueryParam("start_date") LocalDate startDate, @QueryParam("end_date") LocalDate endDate, @QueryParam("product_group_ids") List<String> productGroupIds, @QueryParam("columns") List<ReportingColumnSync> columns, @QueryParam("granularity") Granularity granularity, @PathParam("ad_account_id") String adAccountId, @QueryParam("click_window_days") @DefaultValue("30") BigDecimal clickWindowDays, @QueryParam("engagement_window_days") @DefaultValue("30") BigDecimal engagementWindowDays, @QueryParam("view_window_days") @DefaultValue("1") BigDecimal viewWindowDays, @QueryParam("conversion_report_time") @DefaultValue("TIME_OF_AD_ACTION") String conversionReportTime, @QueryParam("reporting_timezone") ReportingTimeZone reportingTimezone) throws ApiException, ProcessingException;
}
