/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.PinterestLibPaginationOrder;
import org.openapitools.client.model.Schedule;
import org.openapitools.client.model.ScheduleBatchUpdate;
import org.openapitools.client.model.ScheduleCreate;
import org.openapitools.client.model.ScheduleStatus;
import org.openapitools.client.model.ScheduleType;
import org.openapitools.client.model.SchedulesCreate200ResponseInner;
import org.openapitools.client.model.SchedulesList200Response;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/schedules")
public interface SchedulesApi  {

    /**
     * Create schedules
     * Batch create schedules
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    List<SchedulesCreate200ResponseInner> schedulesCreate(@PathParam("ad_account_id") String adAccountId, List<ScheduleCreate> scheduleCreate) throws ApiException, ProcessingException;

    /**
     * Get Schedules
     * Get schedules for a specific advertiser
     */
    @GET
    
    @Produces({ "application/json" })
    SchedulesList200Response schedulesList(@PathParam("ad_account_id") String adAccountId, @QueryParam("entity_ids") List<String> entityIds, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order, @QueryParam("schedule_statuses") List<ScheduleStatus> scheduleStatuses, @QueryParam("schedule_type") ScheduleType scheduleType) throws ApiException, ProcessingException;

    /**
     * Update schedules
     * Update one or more schedules
     */
    @PATCH
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    List<SchedulesCreate200ResponseInner> schedulesUpdate(@PathParam("ad_account_id") String adAccountId, List<ScheduleBatchUpdate> scheduleBatchUpdate) throws ApiException, ProcessingException;
}
