/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.TermsOfService;

/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/terms_of_service")
public interface TermsOfServiceApi  {

    /**
     * Get terms of service
     * Get the text of the terms of service and see whether the advertiser has accepted the terms of service.
     */
    @GET
    
    @Produces({ "application/json" })
    TermsOfService termsOfServiceGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("include_html") @DefaultValue("false") Boolean includeHtml, @QueryParam("tos_type") String tosType) throws ApiException, ProcessingException;
}
