/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.AdGroup;
import org.openapitools.server.model.AdGroupAudienceSizing;
import org.openapitools.server.model.AdGroupAudienceSizingCreate;
import org.openapitools.server.model.AdGroupCreateCreate;
import org.openapitools.server.model.AdGroupUpdateBatchUpdate;
import org.openapitools.server.model.AdGroupsAnalyticsMetrics;
import org.openapitools.server.model.AdGroupsCreate200Response;
import org.openapitools.server.model.AdGroupsList200Response;
import org.openapitools.server.model.AdsAnalyticsAdGroupTargetingType;
import org.openapitools.server.model.BidFloor;
import org.openapitools.server.model.BidFloorCreate;
import java.math.BigDecimal;
import org.openapitools.server.model.ConversionReportAttributionType;
import java.util.Date;
import org.openapitools.server.model.DynamicTitlesDownloadCSV;
import org.openapitools.server.model.DynamicTitlesGetStatus;
import org.openapitools.server.model.DynamicTitlesProcessCSV;
import org.openapitools.server.model.DynamicTitlesProcessCSVCreate;
import org.openapitools.server.model.DynamicTitlesUploadURL;
import org.openapitools.server.model.EntityStatus;
import org.openapitools.server.model.Granularity;
import org.openapitools.server.model.MetricsResponse;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.PinterestLibPaginationOrder;
import org.openapitools.server.model.ReportingColumnSync;
import org.openapitools.server.model.ReportingTimeZone;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}")
public interface AdGroupsApi  {

    /**
     * Get ad group analytics
     *
     * Get analytics for the specified ad groups in the specified &#x60;ad_account_id&#x60;, filtered by the specified options.  - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     *
     */
    @GET
    @Path("/ad_groups/analytics")
    @Produces({ "application/json" })
    List<AdGroupsAnalyticsMetrics> adGroupsAnalytics(@QueryParam("start_date") Date startDate, @QueryParam("end_date") Date endDate, @QueryParam("ad_group_ids") List<String> adGroupIds, @QueryParam("columns") List<ReportingColumnSync> columns, @QueryParam("granularity") Granularity granularity, @PathParam("ad_account_id") String adAccountId, @QueryParam("click_window_days") @DefaultValue("30") BigDecimal clickWindowDays, @QueryParam("engagement_window_days") @DefaultValue("30") BigDecimal engagementWindowDays, @QueryParam("view_window_days") @DefaultValue("1") BigDecimal viewWindowDays, @QueryParam("conversion_report_time") @DefaultValue("TIME_OF_AD_ACTION") String conversionReportTime, @QueryParam("aggregate_report_rows") @DefaultValue("false") Boolean aggregateReportRows, @QueryParam("reporting_timezone") ReportingTimeZone reportingTimezone) throws ApiException, ProcessingException;

    /**
     * Get audience sizing
     *
     * Get potential audience size for an ad group with given targeting criteria. Potential audience size estimates the number of people you may be able to reach per month with your campaign. It is based on historical advertising data and the targeting criteria you select. It does not guarantee results or take into account factors such as bid, budget, schedule, seasonality or product experiments.
     *
     */
    @POST
    @Path("/ad_groups/audience_sizing")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response adGroupsAudienceSizing(@PathParam("ad_account_id") String adAccountId, AdGroupAudienceSizingCreate adGroupAudienceSizingCreate) throws ApiException, ProcessingException;

    /**
     * Get bid floors
     *
     * List bid floors for your campaign configuration. Bid floors are given in microcurrency values based on the currency in the bid floor specification.  Microcurrency is used to track very small transactions, based on the currency set in the advertiser&#39;s profile.  A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser&#39;s profile.  **Equivalency equations**, using dollars as an example currency:  * $1 &#x3D; 1,000,000 microdollars * 1 microdollar &#x3D; $0.000001  **To convert between currency and microcurrency**, using dollars as an example currency:  * To convert dollars to microdollars, mutiply dollars by 1,000,000 * To convert microdollars to dollars, divide microdollars by 1,000,000  For more on bid floors see [Set your bid](https://help.pinterest.com/en/business/article/set-your-bid).
     *
     */
    @POST
    @Path("/bid_floor")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response adGroupsBidFloorGet(@PathParam("ad_account_id") String adAccountId, BidFloorCreate bidFloorCreate) throws ApiException, ProcessingException;

    /**
     * Create ad groups
     *
     * Create multiple new ad groups. All ads in a given ad group will have the same budget, bid, run dates, targeting, and placement (search, browse, other).  For more information, [click here](https://help.pinterest.com/en/business/article/campaign-structure).  **Notes:** - &#x60;bid_in_micro_currency&#x60; and &#x60;budget_in_micro_currency&#x60; should be expressed in microcurrency amounts based on the currency field set in the advertiser&#39;s profile.  Microcurrency is used to track very small transactions, based on the currency set in the advertiser&#39;s profile. A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser&#39;s profile.  **Equivalency equations**, using dollars as an example currency: - $1 &#x3D; 1,000,000 microdollars - 1 microdollar &#x3D; $0.000001  **To convert between currency and microcurrency**, using dollars as an example currency: - To convert dollars to microdollars, multiply dollars by 1,000,000 - To convert microdollars to dollars, divide microdollars by 1,000,000  - Ad groups belong to ad campaigns. Some types of campaigns (e.g. budget optimization) have limits on the number of ad groups they can hold. If you exceed those limits, you will get an error message. - Certain organizations with [closed beta](/docs/getting-started/using-beta-and-restricted-features/) access can set &#x60;start_time&#x60; and &#x60;end_time&#x60; at the ad group level for campaigns with Campaign Budget Optimization (CBO) objectives: &#x60;TRAFFIC&#x60;, &#x60;AWARENESS&#x60;, &#x60;WEB_CONVERSIONS&#x60;, and &#x60;CATALOG_SALES&#x60;. All other organizations can set these scheduling parameters for non-CBO campaigns only. - If the parent ad campaign has start and end times set, ad group start and end times must occur within the parent campaign schedule.
     *
     */
    @POST
    @Path("/ad_groups")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdGroupsCreate200Response adGroupsCreate(@PathParam("ad_account_id") String adAccountId, List<AdGroupCreateCreate> adGroupCreateCreate) throws ApiException, ProcessingException;

    /**
     * Get dynamic titles CSV download URL
     *
     * Get a presigned S3 download URL for the dynamic titles review CSV. Returns 400 if titles have not been generated yet.
     *
     */
    @GET
    @Path("/ad_groups/{ad_group_id}/dynamic_titles/csv")
    @Produces({ "application/json" })
    DynamicTitlesDownloadCSV adGroupsDynamicTitlesDownloadCsv(@PathParam("ad_account_id") String adAccountId, @PathParam("ad_group_id") String adGroupId) throws ApiException, ProcessingException;

    /**
     * Get dynamic titles status
     *
     * Get dynamic titles generation status for an ad group, including whether titles are ready for review and counts of generated and reviewed titles.
     *
     */
    @GET
    @Path("/ad_groups/{ad_group_id}/dynamic_titles/status")
    @Produces({ "application/json" })
    DynamicTitlesGetStatus adGroupsDynamicTitlesGetStatus(@PathParam("ad_account_id") String adAccountId, @PathParam("ad_group_id") String adGroupId) throws ApiException, ProcessingException;

    /**
     * Get dynamic titles upload URL
     *
     * Get a presigned S3 upload URL for the dynamic titles review CSV and a request_id for submission.
     *
     */
    @GET
    @Path("/ad_groups/{ad_group_id}/dynamic_titles/uploads")
    @Produces({ "application/json" })
    DynamicTitlesUploadURL adGroupsDynamicTitlesGetUploadUrl(@PathParam("ad_account_id") String adAccountId, @PathParam("ad_group_id") String adGroupId) throws ApiException, ProcessingException;

    /**
     * Process dynamic titles CSV
     *
     * Validate and process the uploaded dynamic titles review CSV. Returns validation errors if the CSV is invalid.
     *
     */
    @POST
    @Path("/ad_groups/{ad_group_id}/dynamic_titles")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response adGroupsDynamicTitlesProcessCsv(@PathParam("ad_account_id") String adAccountId, @PathParam("ad_group_id") String adGroupId, DynamicTitlesProcessCSVCreate dynamicTitlesProcessCSVCreate) throws ApiException, ProcessingException;

    /**
     * Get ad group
     *
     * Get a specific ad group given the ad group ID.
     *
     */
    @GET
    @Path("/ad_groups/{ad_group_id}")
    @Produces({ "application/json" })
    AdGroup adGroupsGet(@PathParam("ad_group_id") String adGroupId, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List ad groups
     *
     * List ad groups based on provided campaign IDs or ad group IDs.(campaign_ids or ad_group_ids). **Note:** Provide only campaign_id or ad_group_id. Do not provide both.
     *
     */
    @GET
    @Path("/ad_groups")
    @Produces({ "application/json" })
    AdGroupsList200Response adGroupsList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order, @QueryParam("campaign_ids") List<String> campaignIds, @QueryParam("ad_group_ids") List<String> adGroupIds, @QueryParam("entity_statuses") List<EntityStatus> entityStatuses, @QueryParam("translate_interests_to_names") @DefaultValue("false") Boolean translateInterestsToNames) throws ApiException, ProcessingException;

    /**
     * Get targeting analytics for ad groups
     *
     * Get targeting analytics for one or more ad groups. For the requested ad group(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \&quot;age_bucket\&quot;) for applicable values (e.g. \&quot;45-49\&quot;).  - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     *
     */
    @GET
    @Path("/ad_groups/targeting_analytics")
    @Produces({ "application/json" })
    MetricsResponse adGroupsTargetingAnalyticsGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("ad_group_ids") List<String> adGroupIds, @QueryParam("start_date") Date startDate, @QueryParam("end_date") Date endDate, @QueryParam("targeting_types") List<AdsAnalyticsAdGroupTargetingType> targetingTypes, @QueryParam("columns") List<ReportingColumnSync> columns, @QueryParam("granularity") Granularity granularity, @QueryParam("click_window_days") @DefaultValue("30") BigDecimal clickWindowDays, @QueryParam("engagement_window_days") @DefaultValue("30") BigDecimal engagementWindowDays, @QueryParam("view_window_days") @DefaultValue("1") BigDecimal viewWindowDays, @QueryParam("conversion_report_time") @DefaultValue("TIME_OF_AD_ACTION") String conversionReportTime, @QueryParam("attribution_types") List<ConversionReportAttributionType> attributionTypes, @QueryParam("reporting_timezone") ReportingTimeZone reportingTimezone, @QueryParam("sort_columns") List<String> sortColumns, @QueryParam("sort_ascending") Boolean sortAscending) throws ApiException, ProcessingException;

    /**
     * Update ad groups
     *
     * Update multiple existing ad groups.
     *
     */
    @PATCH
    @Path("/ad_groups")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdGroupsCreate200Response adGroupsUpdate(@PathParam("ad_account_id") String adAccountId, List<AdGroupUpdateBatchUpdate> adGroupUpdateBatchUpdate) throws ApiException, ProcessingException;

    /**
     * List of ad groups using promotions IDs.
     *
     *   Get a list of ad groups that are associated with those promotion ids
     *
     */
    @GET
    @Path("/promotion_applied_entities")
    @Produces({ "application/json" })
    AdGroupsList200Response getAdGroupsByPromotionIdsList(@PathParam("ad_account_id") String adAccountId, @QueryParam("promotion_ids") List<String> promotionIds, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order) throws ApiException, ProcessingException;
}
