/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.AdAccountToAdAccountSharedAudience;
import org.openapitools.server.model.AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody;
import org.openapitools.server.model.AdAccountToBusinessSharedAudience;
import org.openapitools.server.model.AdAccountToBusinessSharedAudienceUpdateWithRequiredBody;
import org.openapitools.server.model.AdAccountsAudiencesSharedAccountsList200Response;
import org.openapitools.server.model.AudienceAccountType;
import org.openapitools.server.model.BusinessToAdAccountSharedAudience;
import org.openapitools.server.model.BusinessToAdAccountSharedAudienceUpdateWithRequiredBody;
import org.openapitools.server.model.BusinessToBusinessSharedAudience;
import org.openapitools.server.model.BusinessToBusinessSharedAudienceUpdateWithRequiredBody;
import org.openapitools.server.model.Order;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.SharedAudiencesForBusinessList200Response;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("")
public interface AudienceSharingApi  {

    /**
     * List accounts with access to an audience owned by an ad account
     *
     * List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.
     *
     */
    @GET
    @Path("/ad_accounts/{ad_account_id}/audiences/shared/accounts")
    @Produces({ "application/json" })
    AdAccountsAudiencesSharedAccountsList200Response adAccountsAudiencesSharedAccountsList(@QueryParam("audience_id") String audienceId, @QueryParam("account_type") AudienceAccountType accountType, @PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * List accounts with access to an audience owned by a business
     *
     * List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.
     *
     */
    @GET
    @Path("/businesses/{business_id}/audiences/shared/accounts")
    @Produces({ "application/json" })
    AdAccountsAudiencesSharedAccountsList200Response businessAccountAudiencesSharedAccountsList(@PathParam("business_id") String businessId, @QueryParam("audience_id") String audienceId, @QueryParam("account_type") AudienceAccountType accountType, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * List received audiences for a business
     *
     * Get a list of received audiences for the given business.
     *
     */
    @GET
    @Path("/businesses/{business_id}/audiences")
    @Produces({ "application/json" })
    SharedAudiencesForBusinessList200Response sharedAudiencesForBusinessList(@PathParam("business_id") String businessId, @QueryParam("order") Order order, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Update audience sharing between ad accounts
     *
     * From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same [Pinterest Business Hierarchy](https://help.pinterest.com/en/business/article/create-and-manage-accounts) as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
     *
     */
    @PATCH
    @Path("/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdAccountToAdAccountSharedAudience updateAdAccountToAdAccountSharedAudience(@PathParam("ad_account_id") String adAccountId, AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody adAccountToAdAccountSharedAudienceUpdateWithRequiredBody) throws ApiException, ProcessingException;

    /**
     * Update audience sharing from an ad account to businesses
     *
     * From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
     *
     */
    @PATCH
    @Path("/ad_accounts/{ad_account_id}/audiences/businesses/shared")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdAccountToBusinessSharedAudience updateAdAccountToBusinessSharedAudience(@PathParam("ad_account_id") String adAccountId, AdAccountToBusinessSharedAudienceUpdateWithRequiredBody adAccountToBusinessSharedAudienceUpdateWithRequiredBody) throws ApiException, ProcessingException;

    /**
     * Update audience sharing from a business to ad accounts
     *
     * From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience.  - If the business is the owner of the audience, it can share with any ad account within the same business hierarchy. - If the business is the recipient of the audience, it can share with any of its owned ad accounts.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
     *
     */
    @PATCH
    @Path("/businesses/{business_id}/audiences/ad_accounts/shared")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    BusinessToAdAccountSharedAudience updateBusinessToAdAccountSharedAudience(@PathParam("business_id") String businessId, BusinessToAdAccountSharedAudienceUpdateWithRequiredBody businessToAdAccountSharedAudienceUpdateWithRequiredBody) throws ApiException, ProcessingException;

    /**
     * Update audience sharing between businesses
     *
     * From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
     *
     */
    @PATCH
    @Path("/businesses/{business_id}/audiences/businesses/shared")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    BusinessToBusinessSharedAudience updateBusinessToBusinessSharedAudience(@PathParam("business_id") String businessId, BusinessToBusinessSharedAudienceUpdateWithRequiredBody businessToBusinessSharedAudienceUpdateWithRequiredBody) throws ApiException, ProcessingException;
}
