/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.AdAccountsAudience;
import org.openapitools.server.model.AdAccountsAudienceCreate;
import org.openapitools.server.model.AdAccountsAudienceUpdate;
import org.openapitools.server.model.AudienceOwnershipType;
import org.openapitools.server.model.AudiencesList200Response;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.PinterestLibPaginationOrder;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/audiences")
public interface AudiencesApi  {

    /**
     * Create audience
     *
     * Create a new audience for the ad account.
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response audiencesCreate(@PathParam("ad_account_id") String adAccountId, AdAccountsAudienceCreate adAccountsAudienceCreate) throws ApiException, ProcessingException;

    /**
     * Get audience
     *
     * Get a specific audience given the audience ID.
     *
     */
    @GET
    @Path("/{audience_id}")
    @Produces({ "application/json" })
    AdAccountsAudience audiencesGet(@PathParam("audience_id") String audienceId, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List audiences
     *
     * Get list of audiences for the ad account.
     *
     */
    @GET
    
    @Produces({ "application/json" })
    AudiencesList200Response audiencesList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order, @QueryParam("ownership_type") AudienceOwnershipType ownershipType, @QueryParam("exclude_nca") @DefaultValue("false") Boolean excludeNca) throws ApiException, ProcessingException;

    /**
     * Update audience
     *
     * Update an existing audience for the ad account.
     *
     */
    @PATCH
    @Path("/{audience_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AdAccountsAudience audiencesUpdate(@PathParam("audience_id") String audienceId, @PathParam("ad_account_id") String adAccountId, AdAccountsAudienceUpdate adAccountsAudienceUpdate) throws ApiException, ProcessingException;
}
