/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.AdsCreditRedeem;
import org.openapitools.server.model.AdsCreditRedeemCreate;
import org.openapitools.server.model.AdsCreditsDiscountsGet200Response;
import org.openapitools.server.model.BillingInvoiceDocumentType;
import org.openapitools.server.model.BillingInvoiceDownloadResponse;
import org.openapitools.server.model.BillingInvoiceSortField;
import org.openapitools.server.model.BillingInvoiceStatus;
import org.openapitools.server.model.BillingInvoicesGet200Response;
import org.openapitools.server.model.BillingProfilesGet200Response;
import java.util.Date;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.PinterestLibPaginationOrder;
import org.openapitools.server.model.SSIOAccount;
import org.openapitools.server.model.SSIOInsertionOrder;
import org.openapitools.server.model.SSIOInsertionOrderCreate;
import org.openapitools.server.model.SSIOInsertionOrderStatusResponse;
import org.openapitools.server.model.SSIOInsertionOrderUpdate;
import org.openapitools.server.model.SsioInsertionOrdersStatusGetByAdAccount200Response;
import org.openapitools.server.model.SsioOrderLinesGetByAdAccount200Response;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}")
public interface BillingApi  {

    /**
     * Redeem ad credits
     *
     * Redeem ads credit on behalf of the ad account id and apply it towards billing.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     *
     */
    @POST
    @Path("/ads_credit/redeem")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response adsCreditRedeem(@PathParam("ad_account_id") String adAccountId, AdsCreditRedeemCreate adsCreditRedeemCreate) throws ApiException, ProcessingException;

    /**
     * Get ads credit discounts
     *
     * Returns the list of discounts applied to the account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     *
     */
    @GET
    @Path("/ads_credit/discounts")
    @Produces({ "application/json" })
    AdsCreditsDiscountsGet200Response adsCreditsDiscountsGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Get download url for a billing invoice
     *
     * Get download url for a billing invoice.
     *
     */
    @GET
    @Path("/billing_invoice/{billing_invoice_id}/download")
    @Produces({ "application/json" })
    BillingInvoiceDownloadResponse billingInvoiceDownloadGet(@PathParam("ad_account_id") String adAccountId, @PathParam("billing_invoice_id") String billingInvoiceId) throws ApiException, ProcessingException;

    /**
     * Get billing invoices
     *
     * Get billing invoices in the advertiser account.
     *
     */
    @GET
    @Path("/billing_invoices")
    @Produces({ "application/json" })
    BillingInvoicesGet200Response billingInvoicesGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order, @QueryParam("sort") @DefaultValue("DUE_DATE") BillingInvoiceSortField sort, @QueryParam("status") BillingInvoiceStatus status, @QueryParam("document_type") BillingInvoiceDocumentType documentType, @QueryParam("start_due_date") Date startDueDate, @QueryParam("end_due_date") Date endDueDate) throws ApiException, ProcessingException;

    /**
     * Get billing profiles
     *
     * Get billing profiles in the advertiser account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     *
     */
    @GET
    @Path("/billing_profiles")
    @Produces({ "application/json" })
    BillingProfilesGet200Response billingProfilesGet(@QueryParam("is_active") Boolean isActive, @PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Get Salesforce account details including bill-to information.
     *
     *   Get Salesforce account details including bill-to information to be used in insertion orders process for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     */
    @GET
    @Path("/ssio/accounts")
    @Produces({ "application/json" })
    SSIOAccount ssioAccountsGet(@PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Create insertion order through SSIO.
     *
     *   Create insertion order through SSIO for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     */
    @POST
    @Path("/ssio/insertion_orders")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response ssioInsertionOrderCreate(@PathParam("ad_account_id") String adAccountId, SSIOInsertionOrderCreate ssIOInsertionOrderCreate) throws ApiException, ProcessingException;

    /**
     * Edit insertion order through SSIO.
     *
     *   Edit insertion order through SSIO for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     */
    @PATCH
    @Path("/ssio/insertion_orders")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    SSIOInsertionOrder ssioInsertionOrderEdit(@PathParam("ad_account_id") String adAccountId, SSIOInsertionOrderUpdate ssIOInsertionOrderUpdate) throws ApiException, ProcessingException;

    /**
     * Get insertion order status by ad account id.
     *
     *   Get insertion order status for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     */
    @GET
    @Path("/ssio/insertion_orders/status")
    @Produces({ "application/json" })
    SsioInsertionOrdersStatusGetByAdAccount200Response ssioInsertionOrdersStatusGetByAdAccount(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Get insertion order status by pin order id.
     *
     *   Get insertion order status for &#x60;pin_order_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     */
    @GET
    @Path("/ssio/insertion_orders/{pin_order_id}/status")
    @Produces({ "application/json" })
    SSIOInsertionOrderStatusResponse ssioInsertionOrdersStatusGetByPinOrderId(@PathParam("ad_account_id") String adAccountId, @PathParam("pin_order_id") String pinOrderId) throws ApiException, ProcessingException;

    /**
     * Get Salesforce order lines by ad account id.
     *
     *   Get Salesforce order lines for account id &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
     *
     */
    @GET
    @Path("/ssio/order_lines")
    @Produces({ "application/json" })
    SsioOrderLinesGetByAdAccount200Response ssioOrderLinesGetByAdAccount(@PathParam("ad_account_id") String adAccountId, @QueryParam("pin_order_id") String pinOrderId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;
}
