/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.BrandAccount;
import org.openapitools.server.model.BrandAccountCreate;
import org.openapitools.server.model.BrandAccountUpdate;
import org.openapitools.server.model.BusinessMembershipMember;
import org.openapitools.server.model.DeleteBusinessMembership200Response;
import org.openapitools.server.model.DeleteBusinessMembershipBody;
import org.openapitools.server.model.DeleteBusinessPartners;
import org.openapitools.server.model.DeleteBusinessPartnersDelete;
import org.openapitools.server.model.GetBusinessEmployers200Response;
import org.openapitools.server.model.MemberBusinessRole;
import org.openapitools.server.model.PartnerType;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.SystemUserUpdateWithRequiredBody;
import org.openapitools.server.model.UpdateBusinessMembershipsResponse;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("")
public interface BusinessAccessRelationshipsApi  {

    /**
     * Create a Brand Account
     *
     * Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.
     *
     */
    @POST
    @Path("/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response brandAccountsCreate(@PathParam("business_hierarchy_id") String businessHierarchyId, BrandAccountCreate brandAccountCreate) throws ApiException, ProcessingException;

    /**
     * Update a Brand Account
     *
     * Update an existing Brand Account
     *
     */
    @PATCH
    @Path("/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    BrandAccount brandAccountsUpdate(@PathParam("brand_account_id") String brandAccountId, @PathParam("business_hierarchy_id") String businessHierarchyId, BrandAccountUpdate brandAccountUpdate) throws ApiException, ProcessingException;

    /**
     * Terminate business memberships
     *
     * Terminate memberships between the specified members and your business.
     *
     */
    @DELETE
    @Path("/businesses/{business_id}/members")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    DeleteBusinessMembership200Response deleteBusinessMembership(@PathParam("business_id") String businessId, DeleteBusinessMembershipBody deleteBusinessMembershipBody) throws ApiException, ProcessingException;

    /**
     * Terminate business partnerships
     *
     * Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.
     *
     */
    @DELETE
    @Path("/businesses/{business_id}/partners")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    DeleteBusinessPartners deleteBusinessPartners(@PathParam("business_id") String businessId, DeleteBusinessPartnersDelete deleteBusinessPartnersDelete) throws ApiException, ProcessingException;

    /**
     * List business employers for user
     *
     * Get all of the viewing user&#39;s business employers.
     *
     */
    @GET
    @Path("/businesses/employers")
    @Produces({ "application/json" })
    GetBusinessEmployers200Response getBusinessEmployers(@QueryParam("assets_summary") @DefaultValue("true") Boolean assetsSummary, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Get business members
     *
     * Get all members of the specified business. The return response will include the member&#39;s business_role and assets they have access to if assets_summary&#x3D;TRUE
     *
     */
    @GET
    @Path("/businesses/{business_id}/members")
    @Produces({ "application/json" })
    GetBusinessEmployers200Response getBusinessMembers(@PathParam("business_id") String businessId, @QueryParam("fetch_system_users") @DefaultValue("false") Boolean fetchSystemUsers, @QueryParam("assets_summary") @DefaultValue("false") Boolean assetsSummary, @QueryParam("business_roles") List<MemberBusinessRole> businessRoles, @QueryParam("member_ids") String memberIds, @QueryParam("start_index") @DefaultValue("0") Integer startIndex, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Get business partners
     *
     * Get all partners of the specified business.  If the assets_summary&#x3D;TRUE and: - partner_type&#x3D;INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type&#x3D;EXTERNAL, the business assets returned are your partner&#39;s business assets the partner has granted you   access to.
     *
     */
    @GET
    @Path("/businesses/{business_id}/partners")
    @Produces({ "application/json" })
    GetBusinessEmployers200Response getBusinessPartners(@PathParam("business_id") String businessId, @QueryParam("assets_summary") @DefaultValue("false") Boolean assetsSummary, @QueryParam("partner_type") PartnerType partnerType, @QueryParam("partner_ids") String partnerIds, @QueryParam("start_index") @DefaultValue("0") Integer startIndex, @QueryParam("sort_ascending") Boolean sortAscending, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Update a system user information.
     *
     * Update a system user information such as name.
     *
     */
    @PATCH
    @Path("/businesses/{business_id}/system_users/{system_user_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    void systemUserUpdate(@PathParam("business_id") String businessId, @PathParam("system_user_id") String systemUserId, SystemUserUpdateWithRequiredBody systemUserUpdateWithRequiredBody) throws ApiException, ProcessingException;

    /**
     * Update member&#39;s business role
     *
     * Update a member&#39;s business role within the business.
     *
     */
    @PATCH
    @Path("/businesses/{business_id}/members")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    UpdateBusinessMembershipsResponse updateBusinessMemberships(@PathParam("business_id") String businessId, List<BusinessMembershipMember> businessMembershipMember) throws ApiException, ProcessingException;
}
