/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.AuthRespondInvitesBody;
import org.openapitools.server.model.CancelInvitesRequest;
import org.openapitools.server.model.CancelInvitesResponse;
import org.openapitools.server.model.CreateAssetAccessRequestBody;
import org.openapitools.server.model.CreateAssetAccessRequestResponse;
import org.openapitools.server.model.CreateAssetInvitesRequest;
import org.openapitools.server.model.CreateInvitesResultsResponseArray;
import org.openapitools.server.model.CreateMembershipOrPartnershipInvitesBody;
import org.openapitools.server.model.GetInvites200Response;
import org.openapitools.server.model.InviteFilterStatus;
import org.openapitools.server.model.InviteType;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.RespondToInvitesResponseArray;
import org.openapitools.server.model.UpdateInvitesResultsResponseArray;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/businesses")
public interface BusinessAccessInviteApi  {

    /**
     * Create a request to access an existing partner&#39;s assets.
     *
     * Create a request to access an existing partner&#39;s assets with the specified permissions. The request will be sent to the partner for approval. The assets that can be requested are ad accounts and profiles.
     *
     */
    @POST
    @Path("/{business_id}/requests/assets/access")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response assetAccessRequestsCreate(@PathParam("business_id") String businessId, CreateAssetAccessRequestBody createAssetAccessRequestBody) throws ApiException, ProcessingException;

    /**
     * Cancel invites/requests
     *
     * Cancel membership/partnership invites and/or requests.
     *
     */
    @DELETE
    @Path("/{business_id}/invites")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    CancelInvitesResponse cancelInvitesOrRequests(@PathParam("business_id") String businessId, CancelInvitesRequest cancelInvitesRequest) throws ApiException, ProcessingException;

    /**
     * Update invite/request with an asset permission
     *
     * Assign asset permissions information to an existing invite/request. Can be used to: - Request access to a partner&#39;s asset. Note: This is only for when no existing partnership exists. If an existing   partnership exists, use \&quot;Create a request to access an existing partner&#39;s assets\&quot; to request access to your   partner&#39;s assets.     - invite_type&#x3D;\&quot;PARTNER_REQUEST\&quot; - Invite a partner to access your business assets. Note: This is only for when there is no existing partnership.   If there is an existing partnership, use \&quot;Assign/Update partner asset permissions\&quot; to assign a partner access to   new assets.     - invite_type&#x3D;\&quot;PARTNER_INVITE\&quot; - Invite a member to access your business assets. Note: This is only for when there is no existing membership.   If there is an existing membership, use \&quot;Assign/Update member asset permissions\&quot; to assign a member access to new   assets.     - invite_type&#x3D;\&quot;MEMBER_INVITE\&quot;  To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview.
     *
     */
    @POST
    @Path("/{business_id}/invites/assets/access")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response createAssetInvites(@PathParam("business_id") String businessId, CreateAssetInvitesRequest createAssetInvitesRequest) throws ApiException, ProcessingException;

    /**
     * Create invites or requests
     *
     * Create batch invites or requests. Can create batch invites or requests as described below. - Invite members to join the business. This would required specifying the following:     - invite_type&#x3D;\&quot;MEMBER_INVITE\&quot;     - business_role&#x3D;\&quot;EMPLOYEE\&quot; OR business_role&#x3D;\&quot;BIZ_ADMIN\&quot; (To learn more about business roles, visit     https://help.pinterest.com/en/business/article/profile-permissions-in-business-access.)     - members - Invite partners to access your business assets. This would require specifying the following:     - invite_type&#x3D;\&quot;PARTNER_INVITE\&quot;     - business_role&#x3D;\&quot;PARTNER\&quot;     - partners - Request to be a partner so you can access their assets. This would require specifying the following:     - invite_type&#x3D;\&quot;PARTNER_REQUEST\&quot;     - business_role&#x3D;\&quot;PARTNER\&quot;     - partners
     *
     */
    @POST
    @Path("/{business_id}/invites")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response createMembershipOrPartnershipInvites(@PathParam("business_id") String businessId, CreateMembershipOrPartnershipInvitesBody createMembershipOrPartnershipInvitesBody) throws ApiException, ProcessingException;

    /**
     * Get invites/requests
     *
     * Get the membership/partnership invites and/or requests for the authorized user.
     *
     */
    @GET
    @Path("/{business_id}/invites")
    @Produces({ "application/json" })
    GetInvites200Response getInvites(@PathParam("business_id") String businessId, @QueryParam("is_member") @DefaultValue("true") Boolean isMember, @QueryParam("invite_status") List<InviteFilterStatus> inviteStatus, @QueryParam("invite_type") InviteType inviteType, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Accept or decline an invite/request
     *
     * Accept or decline invites or requests.
     *
     */
    @PATCH
    @Path("/invites")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    RespondToInvitesResponseArray respondBusinessAccessInvites(AuthRespondInvitesBody authRespondInvitesBody) throws ApiException, ProcessingException;
}
