/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.AdPinAnalytics;
import org.openapitools.server.model.AdsAnalyticsCampaignTargetingType;
import java.math.BigDecimal;
import org.openapitools.server.model.Campaign;
import org.openapitools.server.model.CampaignBatchUpdateItem;
import org.openapitools.server.model.CampaignBatchWriteResponseModel;
import org.openapitools.server.model.CampaignCreateItem;
import org.openapitools.server.model.CampaignDeliveryEstimatesCampaign;
import org.openapitools.server.model.CampaignDeliveryEstimatesResponse;
import org.openapitools.server.model.CampaignsAnalyticsMetrics;
import org.openapitools.server.model.CampaignsList200Response;
import org.openapitools.server.model.ConversionReportAttributionType;
import java.util.Date;
import org.openapitools.server.model.EntityStatus;
import org.openapitools.server.model.Granularity;
import org.openapitools.server.model.MetricsResponse;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.PinterestLibPaginationOrder;
import org.openapitools.server.model.ReportingColumnSync;
import org.openapitools.server.model.ReportingTimeZone;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}")
public interface CampaignsApi  {

    /**
     * Get pins analytics
     *
     * Get analytics for the pins given a campaign and pins in the specified &#x60;ad_account_id&#x60;, filtered by the specified options. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days. - If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days. Data will not be provided for conversion metrics but will be available for non-conversion metrics.
     *
     */
    @GET
    @Path("/pins/analytics")
    @Produces({ "application/json" })
    List<AdPinAnalytics> adPinsAnalytics(@QueryParam("campaign_id") String campaignId, @QueryParam("pin_ids") List<String> pinIds, @QueryParam("start_date") Date startDate, @QueryParam("end_date") Date endDate, @QueryParam("columns") List<ReportingColumnSync> columns, @QueryParam("granularity") Granularity granularity, @PathParam("ad_account_id") String adAccountId, @QueryParam("click_window_days") @DefaultValue("30") BigDecimal clickWindowDays, @QueryParam("engagement_window_days") @DefaultValue("30") BigDecimal engagementWindowDays, @QueryParam("view_window_days") @DefaultValue("1") BigDecimal viewWindowDays, @QueryParam("conversion_report_time") @DefaultValue("TIME_OF_AD_ACTION") String conversionReportTime) throws ApiException, ProcessingException;

    /**
     * Get targeting analytics for campaigns
     *
     * Get targeting analytics for one or more campaigns. For the requested account and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \&quot;age_bucket\&quot;) for applicable values (e.g. \&quot;45-49\&quot;).  * The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. * If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. * If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     *
     */
    @GET
    @Path("/campaigns/targeting_analytics")
    @Produces({ "application/json" })
    MetricsResponse campaignTargetingAnalyticsGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("campaign_ids") List<String> campaignIds, @QueryParam("start_date") Date startDate, @QueryParam("end_date") Date endDate, @QueryParam("targeting_types") List<AdsAnalyticsCampaignTargetingType> targetingTypes, @QueryParam("columns") List<ReportingColumnSync> columns, @QueryParam("granularity") Granularity granularity, @QueryParam("click_window_days") @DefaultValue("30") BigDecimal clickWindowDays, @QueryParam("engagement_window_days") @DefaultValue("30") BigDecimal engagementWindowDays, @QueryParam("view_window_days") @DefaultValue("1") BigDecimal viewWindowDays, @QueryParam("conversion_report_time") @DefaultValue("TIME_OF_AD_ACTION") String conversionReportTime, @QueryParam("attribution_types") List<ConversionReportAttributionType> attributionTypes, @QueryParam("reporting_timezone") ReportingTimeZone reportingTimezone) throws ApiException, ProcessingException;

    /**
     * Get campaign analytics
     *
     * Get analytics for the specified campaigns in the specified &#x60;ad_account_id&#x60;, filtered by the specified options. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
     *
     */
    @GET
    @Path("/campaigns/analytics")
    @Produces({ "application/json" })
    List<CampaignsAnalyticsMetrics> campaignsAnalytics(@QueryParam("start_date") Date startDate, @QueryParam("end_date") Date endDate, @QueryParam("campaign_ids") List<String> campaignIds, @QueryParam("columns") List<ReportingColumnSync> columns, @QueryParam("granularity") Granularity granularity, @PathParam("ad_account_id") String adAccountId, @QueryParam("click_window_days") @DefaultValue("30") BigDecimal clickWindowDays, @QueryParam("engagement_window_days") @DefaultValue("30") BigDecimal engagementWindowDays, @QueryParam("view_window_days") @DefaultValue("1") BigDecimal viewWindowDays, @QueryParam("conversion_report_time") @DefaultValue("TIME_OF_AD_ACTION") String conversionReportTime, @QueryParam("aggregate_report_rows") @DefaultValue("false") Boolean aggregateReportRows, @QueryParam("reporting_timezone") ReportingTimeZone reportingTimezone) throws ApiException, ProcessingException;

    /**
     * Create campaigns
     *
     * Create multiple new campaigns. Every campaign has its own campaign_id and houses one or more ad groups, which contain one or more ads.  For more, see [Set up your campaign](https://help.pinterest.com/en/business/article/set-up-your-campaign/).  **Note:** - The values for &#x60;lifetime_spend_cap&#x60; and &#x60;daily_spend_cap&#x60; are microcurrency amounts based on the currency field set in the advertiser&#39;s profile (e.g. USD).  Microcurrency is used to track very small transactions, based on the currency set in the advertiser&#39;s profile.  A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser&#39;s profile.  **Equivalency equations**, using dollars as an example currency:  - $1 &#x3D; 1,000,000 microdollars - 1 microdollar &#x3D; $0.000001  **To convert between currency and microcurrency**, using dollars as an example currency:  - To convert dollars to microdollars, multiply dollars by 1,000,000 - To convert microdollars to dollars, divide microdollars by 1,000,000
     *
     */
    @POST
    @Path("/campaigns")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    CampaignBatchWriteResponseModel campaignsCreate(@PathParam("ad_account_id") String adAccountId, List<CampaignCreateItem> campaignCreateItem) throws ApiException, ProcessingException;

    /**
     * Get campaign
     *
     * Get a specific campaign given the campaign ID.
     *
     */
    @GET
    @Path("/campaigns/{campaign_id}")
    @Produces({ "application/json" })
    Campaign campaignsGet(@PathParam("campaign_id") String campaignId, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List campaigns
     *
     * Get a list of the campaigns in the specified &#x60;ad_account_id&#x60;, filtered by the specified options. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.
     *
     */
    @GET
    @Path("/campaigns")
    @Produces({ "application/json" })
    CampaignsList200Response campaignsList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order, @QueryParam("campaign_ids") List<String> campaignIds, @QueryParam("entity_statuses") List<EntityStatus> entityStatuses) throws ApiException, ProcessingException;

    /**
     * Update campaigns
     *
     * Update multiple ad campaigns based on campaign_ids.  **Note:** - The values for &#x60;lifetime_spend_cap&#x60; and &#x60;daily_spend_cap&#x60; are microcurrency amounts based on the currency field set in the advertiser&#39;s profile (e.g. USD).  Microcurrency is used to track very small transactions, based on the currency set in the advertiser&#39;s profile.  A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser&#39;s profile.  **Equivalency equations**, using dollars as an example currency:  - $1 &#x3D; 1,000,000 microdollars - 1 microdollar &#x3D; $0.000001  **To convert between currency and microcurrency**, using dollars as an example currency:  - To convert dollars to microdollars, multiply dollars by 1,000,000 - To convert microdollars to dollars, divide microdollars by 1,000,000
     *
     */
    @PATCH
    @Path("/campaigns")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    CampaignBatchWriteResponseModel campaignsUpdate(@PathParam("ad_account_id") String adAccountId, List<CampaignBatchUpdateItem> campaignBatchUpdateItem) throws ApiException, ProcessingException;

    /**
     * Get campaign delivery estimates
     *
     * Get delivery estimates for an ads campaign  **This endpoint is currently in beta and is not available to all apps [Learn more](/docs/new/about-beta-access/).**
     *
     */
    @POST
    @Path("/campaigns/delivery_estimates")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    CampaignDeliveryEstimatesResponse getCampaignDeliveryEstimates(@PathParam("ad_account_id") String adAccountId, List<CampaignDeliveryEstimatesCampaign> campaignDeliveryEstimatesCampaign) throws ApiException, ProcessingException;
}
