/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.CatalogsLocalStoresCreate200ResponseInner;
import org.openapitools.server.model.CatalogsLocalStoresDelete200ResponseInner;
import org.openapitools.server.model.CatalogsLocalStoresList200Response;
import org.openapitools.server.model.LocalInventoryItemsBatch;
import org.openapitools.server.model.LocalInventoryItemsBatchCreate;
import org.openapitools.server.model.LocalInventoryItemsGet;
import org.openapitools.server.model.LocalInventoryItemsGetCreate;
import org.openapitools.server.model.LocalStore;
import org.openapitools.server.model.LocalStoreBatchUpdate;
import org.openapitools.server.model.LocalStoreCreate;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.SupplementalItemsBatchResponse;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/catalogs/{catalog_id}")
public interface CatalogSupplementalApi  {

    /**
     * Operate on local inventory item batch
     *
     * Managing local inventory information in batches supporting CREATE, UPDATE, UPSERT, DELETE operations. Up to 1000 items per request to match catalogs/items.  - Must provide both item_id and store_code to identify a local inventory item.  - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
     *
     */
    @POST
    @Path("/local_inventory_items/batch")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response catalogsLocalInventoryItemsBatchOperate(@PathParam("catalog_id") String catalogId, LocalInventoryItemsBatchCreate localInventoryItemsBatchCreate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get local inventory items (POST)
     *
     * Get local inventory items for a catalog owned by the \&quot;operation user_account\&quot;.  - Must provide an array of {item_id, store_code} pairs in item filters to identify local inventory items.  - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
     *
     */
    @POST
    @Path("/local_inventory_items/query")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response catalogsLocalInventoryItemsPost(@PathParam("catalog_id") String catalogId, LocalInventoryItemsGetCreate localInventoryItemsGetCreate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Create local stores
     *
     * Create a local store for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
     *
     */
    @POST
    @Path("/local_stores")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response catalogsLocalStoresCreate(@PathParam("catalog_id") String catalogId, List<LocalStoreCreate> localStoreCreate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Delete local stores
     *
     *   Delete multiple local stores for a catalog owned by the \&quot;operation user_account\&quot;.   - By default, the \&quot;operation user_account\&quot; is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
     *
     */
    @DELETE
    @Path("/local_stores")
    @Produces({ "application/json" })
    Response catalogsLocalStoresDelete(@PathParam("catalog_id") String catalogId, @QueryParam("ids") List<String> ids, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List local stores
     *
     * Fetch local stores for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
     *
     */
    @GET
    @Path("/local_stores")
    @Produces({ "application/json" })
    CatalogsLocalStoresList200Response catalogsLocalStoresList(@PathParam("catalog_id") String catalogId, @QueryParam("ids") List<String> ids, @QueryParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Update local stores
     *
     *   Update a local store for a catalog owned by the \&quot;operation user_account\&quot;.   - By default, the \&quot;operation user_account\&quot; is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
     *
     */
    @PATCH
    @Path("/local_stores")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    List<CatalogsLocalStoresCreate200ResponseInner> catalogsLocalStoresUpdate(@PathParam("catalog_id") String catalogId, List<LocalStoreBatchUpdate> localStoreBatchUpdate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get supplemental items batch status
     *
     * Fetch the status and results of a supplemental items batch operation. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
     *
     */
    @GET
    @Path("/supplemental_items/batch/{batch_id}")
    @Produces({ "application/json" })
    SupplementalItemsBatchResponse catalogsSupplementalItemsBatchGet(@PathParam("catalog_id") String catalogId, @PathParam("batch_id") String batchId, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;
}
