/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.EventQualityScore;
import org.openapitools.server.model.IngestionSourceOptions;
import org.openapitools.server.model.LookbackPeriodOptions;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.SourcePlatformOptions;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/conversion_eqs")
public interface ConversionEqsApi  {

    /**
     * Get event quality score (EQS)
     *
     * Get the Event Quality Score (EQS) of your conversion signals.  [Event Quality Score](https://help.pinterest.com/en/business/article/eqs) indicates how effective the customer information and event insights (metadata) passed with your web, app and offline conversion events may be at matching to a Pinterest user.
     *
     */
    @GET
    
    @Produces({ "application/json" })
    List<EventQualityScore> conversionEqsList(@QueryParam("lookback_period") LookbackPeriodOptions lookbackPeriod, @PathParam("ad_account_id") String adAccountId, @QueryParam("source_platform") SourcePlatformOptions sourcePlatform, @QueryParam("ingestion_source") IngestionSourceOptions ingestionSource) throws ApiException, ProcessingException;
}
