/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.ConversionEventResponse;
import org.openapitools.server.model.ConversionTag;
import org.openapitools.server.model.ConversionTagCreate;
import org.openapitools.server.model.ConversionTagsList200Response;
import org.openapitools.server.model.PageVisitConversionTagsGet200Response;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.PinterestLibPaginationOrder;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/conversion_tags")
public interface ConversionTagsApi  {

    /**
     * Create conversion tag
     *
     * Create a conversion tag, also known as [Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag), with the option to enable enhanced match.  The Pinterest Tag tracks actions people take on the ad account&#39;s website after they view the ad account&#39;s ad on Pinterest. The advertiser needs to customize this tag to track conversions.  For more information, see:  [Set up the Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag)  [Pinterest Tag](/docs/track-conversions/pinterest-tag/)  [Enhanced match](/docs/track-conversions/pinterest-tag/#enhanced-match)
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response conversionTagsCreate(@PathParam("ad_account_id") String adAccountId, ConversionTagCreate conversionTagCreate) throws ApiException, ProcessingException;

    /**
     * Get conversion tag
     *
     * Get information about an existing conversion tag.
     *
     */
    @GET
    @Path("/{conversion_tag_id}")
    @Produces({ "application/json" })
    ConversionTag conversionTagsGet(@PathParam("ad_account_id") String adAccountId, @PathParam("conversion_tag_id") String conversionTagId) throws ApiException, ProcessingException;

    /**
     * List conversion tags
     *
     * List conversion tags associated with an ad account.
     *
     */
    @GET
    
    @Produces({ "application/json" })
    ConversionTagsList200Response conversionTagsList(@PathParam("ad_account_id") String adAccountId, @QueryParam("filter_deleted") @DefaultValue("false") Boolean filterDeleted) throws ApiException, ProcessingException;

    /**
     * Get Ocpm eligible conversion tags
     *
     * Get Ocpm eligible conversion tag events for an ad account.
     *
     */
    @GET
    @Path("/ocpm_eligible")
    @Produces({ "application/json" })
    Map<String, List<ConversionEventResponse>> ocpmEligibleConversionTagsGet(@PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get page visit conversion tags
     *
     * Get all page visit conversion tag events for an ad account.
     *
     */
    @GET
    @Path("/page_visit")
    @Produces({ "application/json" })
    PageVisitConversionTagsGet200Response pageVisitConversionTagsGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order) throws ApiException, ProcessingException;
}
