/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.ConversionDeletionRequest;
import org.openapitools.server.model.ConversionDeletionRequestCreate;
import org.openapitools.server.model.ConversionDeletionRequestList200Response;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.PinterestLibPaginationOrder;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/conversion_deletion_requests")
public interface ConversionDeletionRequestsApi  {

    /**
     * Create a conversion deletion request
     *
     * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Create a request to delete conversion data for a list of user emails and/or EPIKs, limited to the specified &#x60;ad_account_id&#x60;. After 72 hours the request is processed and submitted to our deletion process. Then the deletion process ensures deletion within a 30 days period, once the request is submitted to the deletion process it cannot be canceled.
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response conversionDeletionRequestCreate(@PathParam("ad_account_id") String adAccountId, ConversionDeletionRequestCreate conversionDeletionRequestCreate) throws ApiException, ProcessingException;

    /**
     * Delete a conversion deletion request
     *
     * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Delete a conversion deletion request from &#x60;ad_account_id&#x60; with &#x60;request_id&#x60;. This will cancel the request and prevent it from being processed. This can only be done if the request is in the &#x60;PENDING&#x60; status and before the 72 hours mark.
     *
     */
    @DELETE
    @Path("/{request_id}")
    @Produces({ "application/json" })
    Response conversionDeletionRequestDelete(@PathParam("request_id") String requestId, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get a single conversion deletion request
     *
     * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Get a single conversion deletion request from &#x60;ad_account_id&#x60; with &#x60;request_id&#x60;.
     *
     */
    @GET
    @Path("/{request_id}")
    @Produces({ "application/json" })
    ConversionDeletionRequest conversionDeletionRequestGet(@PathParam("request_id") String requestId, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List conversion deletion requests
     *
     * **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Get a list of the conversion deletion requests for the specified &#x60;ad_account_id&#x60;.
     *
     */
    @GET
    
    @Produces({ "application/json" })
    ConversionDeletionRequestList200Response conversionDeletionRequestList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order) throws ApiException, ProcessingException;
}
