/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.Keywords;
import org.openapitools.server.model.KeywordsCreate;
import org.openapitools.server.model.KeywordsGet200Response;
import org.openapitools.server.model.KeywordsMetricsArrayResponse;
import org.openapitools.server.model.KeywordsUpdate;
import org.openapitools.server.model.MatchType;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.TrendType;
import org.openapitools.server.model.TrendingKeywordsResponse;
import org.openapitools.server.model.TrendsAgeBucket;
import org.openapitools.server.model.TrendsGenderFilter;
import org.openapitools.server.model.TrendsL1Interest;
import org.openapitools.server.model.TrendsSupportedRegion;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("")
public interface KeywordsApi  {

    /**
     * Get country&#39;s keyword metrics
     *
     *   See keyword metrics for a specified country, aggregated across all of Pinterest.   (Definitions are available from the \&quot;Get delivery metrics definitions\&quot;   [API endpoint](/docs/api/v5/#operation/delivery_metrics/get)).
     *
     */
    @GET
    @Path("/ad_accounts/{ad_account_id}/keywords/metrics")
    @Produces({ "application/json" })
    KeywordsMetricsArrayResponse countryKeywordsMetricsGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("country_code") String countryCode, @QueryParam("keywords") List<String> keywords) throws ApiException, ProcessingException;

    /**
     * Create keywords
     *
     *   Create keywords for the following entity types (advertiser, campaign, ad group, or ad). For more information, see [Keyword targeting](https://help.pinterest.com/en/business/article/keyword-targeting).    **Notes:**   - Advertisers and campaigns can only be assigned keywords with excluding (&#x60;_NEGATIVE&#x60;).   - All keyword match types are available for ad groups.    For more information on match types, see [match type enums](/docs/api-features/targeting-overview/).    **Returns:**   - A successful call returns an object containing an array of new keyword objects and an empty &#x60;errors&#x60; object array.   - An unsuccessful call returns an empty keywords array, and instead, inserts the entire object with nulled/negated properties into the &#x60;errors&#x60; object array:     &#x60;&#x60;&#x60;json     {       \&quot;keywords\&quot;: [],       \&quot;errors\&quot;: [         {           \&quot;data\&quot;: {             \&quot;archived\&quot;: null,             \&quot;match_type\&quot;: \&quot;EXACT\&quot;,             \&quot;parent_type\&quot;: null,             \&quot;value\&quot;: \&quot;foobar\&quot;,             \&quot;parent_id\&quot;: null,             \&quot;type\&quot;: \&quot;keyword\&quot;,             \&quot;id\&quot;: null           },           \&quot;error_messages\&quot;: [             \&quot;Advertisers and Campaigns only accept excluded targeting attributes.\&quot;           ]         }       ]     }
     *
     */
    @POST
    @Path("/ad_accounts/{ad_account_id}/keywords")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response keywordsCreate(@PathParam("ad_account_id") String adAccountId, KeywordsCreate keywordsCreate) throws ApiException, ProcessingException;

    /**
     * Get keywords
     *
     *     Get a list of keywords based on the filters provided. If no filter is provided, it will default to the &#x60;ad_account_id&#x60; filter, which means it will only return keywords that specifically have &#x60;parent_id&#x60; set to the &#x60;ad_account_id&#x60;. Note: Keywords can have &#x60;ad_account_ids&#x60;, &#x60;campaign_ids&#x60;, and &#x60;ad_group_ids&#x60; set as their &#x60;parent_ids&#x60;. Keywords created through Ads Manager will have their &#x60;parent_id&#x60; set to an &#x60;ad_group_id&#x60;, not &#x60;ad_account_id&#x60;.      For more information, see [Keyword targeting](https://help.pinterest.com/en/business/article/keyword-targeting).      **Notes:**     - Advertisers and campaigns can only be assigned keywords with excluding (&#x60;_NEGATIVE&#x60;).     - All keyword match types are available for ad groups.      For more information on match types, see [match type enums](/docs/api-features/targeting-overview/).      **Returns:**     - A successful call returns an object containing an array of new keyword objects and an empty &#x60;errors&#x60; object array.     - An unsuccessful call returns an empty keywords array, and instead, inserts the entire object with nulled/negated properties into the &#x60;errors&#x60; object array:       &#x60;&#x60;&#x60;json       {         \&quot;keywords\&quot;: [],         \&quot;errors\&quot;: [           {             \&quot;data\&quot;: {               \&quot;archived\&quot;: null,               \&quot;match_type\&quot;: \&quot;EXACT\&quot;,               \&quot;parent_type\&quot;: null,               \&quot;value\&quot;: \&quot;foobar\&quot;,               \&quot;parent_id\&quot;: null,               \&quot;type\&quot;: \&quot;keyword\&quot;,               \&quot;id\&quot;: null             },             \&quot;error_messages\&quot;: [               \&quot;Advertisers and Campaigns only accept excluded targeting attributes.\&quot;             ]           }         ]       }
     *
     */
    @GET
    @Path("/ad_accounts/{ad_account_id}/keywords")
    @Produces({ "application/json" })
    KeywordsGet200Response keywordsGet(@PathParam("ad_account_id") String adAccountId, @QueryParam("campaign_id") String campaignId, @QueryParam("ad_group_id") String adGroupId, @QueryParam("ad_group_ids") List<String> adGroupIds, @QueryParam("match_types") List<MatchType> matchTypes, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Update keywords
     *
     *   Update one or more keywords&#39; bid and archived fields. Archiving   a keyword effectively deletes it - keywords no longer receive metrics and   are no longer visible within the parent entity&#39;s keywords list.
     *
     */
    @PATCH
    @Path("/ad_accounts/{ad_account_id}/keywords")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Keywords keywordsUpdate(@PathParam("ad_account_id") String adAccountId, KeywordsUpdate keywordsUpdate) throws ApiException, ProcessingException;

    /**
     * List trending keywords
     *
     * Get the top trending search keywords among the Pinterest user audience.  Trending keywords can be used to inform ad targeting, budget strategy, and creative decisions about which products and Pins will resonate with your audience.  Geographic, demographic and interest-based filters are available to narrow down to the top trends among a specific audience. Multiple trend types are supported that can be used to identify newly-popular, evergreen or seasonal keywords.  For an interactive way to explore this data, please visit [trends.pinterest.com](https://trends.pinterest.com).
     *
     */
    @GET
    @Path("/trends/keywords/{region}/top/{trend_type}")
    @Produces({ "application/json" })
    TrendingKeywordsResponse trendingKeywordsList(@PathParam("region") TrendsSupportedRegion region, @PathParam("trend_type") TrendType trendType, @QueryParam("interests") List<TrendsL1Interest> interests, @QueryParam("genders") List<TrendsGenderFilter> genders, @QueryParam("ages") List<TrendsAgeBucket> ages, @QueryParam("include_keywords") List<String> includeKeywords, @QueryParam("normalize_against_group") @DefaultValue("false") Boolean normalizeAgainstGroup, @QueryParam("limit") @DefaultValue("50") Integer limit, @QueryParam("include_demographics") @DefaultValue("false") Boolean includeDemographics) throws ApiException, ProcessingException;
}
