/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.LeadForm;
import org.openapitools.server.model.LeadFormBatchUpdate;
import org.openapitools.server.model.LeadFormCreate;
import org.openapitools.server.model.LeadFormTest;
import org.openapitools.server.model.LeadFormTestCreate;
import org.openapitools.server.model.LeadFormsCreate200Response;
import org.openapitools.server.model.LeadFormsList200Response;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.PinterestLibPaginationOrder;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/lead_forms")
public interface LeadFormsApi  {

    /**
     * Get lead form by id
     *
     * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Gets a lead form given it&#39;s ID. It must also be associated with the provided ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
     *
     */
    @GET
    @Path("/{lead_form_id}")
    @Produces({ "application/json" })
    LeadForm leadFormGet(@PathParam("lead_form_id") String leadFormId, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Create lead form test data
     *
     * Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.
     *
     */
    @POST
    @Path("/{lead_form_id}/test")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    LeadFormTest leadFormTestCreate(@PathParam("ad_account_id") String adAccountId, @PathParam("lead_form_id") String leadFormId, LeadFormTestCreate leadFormTestCreate) throws ApiException, ProcessingException;

    /**
     * Create lead forms
     *
     * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Create lead forms. Lead forms are used in lead ads and allow you to control what text appears on the lead form&#39;s description, questions and confirmation sections.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    LeadFormsCreate200Response leadFormsCreate(@PathParam("ad_account_id") String adAccountId, List<LeadFormCreate> leadFormCreate) throws ApiException, ProcessingException;

    /**
     * List lead forms
     *
     * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  List lead forms associated with an ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
     *
     */
    @GET
    
    @Produces({ "application/json" })
    LeadFormsList200Response leadFormsList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order) throws ApiException, ProcessingException;

    /**
     * Update lead forms
     *
     * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Update lead forms. Lead ads help you reach people who are actively looking for, and interested in, your goods and services. The lead form can be associated with an ad to allow people to fill out the form.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
     *
     */
    @PATCH
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    LeadFormsCreate200Response leadFormsUpdate(@PathParam("ad_account_id") String adAccountId, List<LeadFormBatchUpdate> leadFormBatchUpdate) throws ApiException, ProcessingException;
}
