/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.LeadsExportResponseData;
import org.openapitools.server.model.LeadsExports;
import org.openapitools.server.model.LeadsExportsCreate;
import org.openapitools.server.model.PinterestLibError;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/leads_export")
public interface LeadsExportApi  {

    /**
     * Create a request to export leads collected from a lead ad
     *
     * **This feature is currently in beta and not available to all apps. If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Create an export of leads collected from a lead ad. This returns a &#x60;leads_export_id&#x60; token that you can use to download the export when it is ready.  Note: Lead ad data will be available up to 30 days after the lead has been submitted.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response leadsExportCreate(@PathParam("ad_account_id") String adAccountId, LeadsExportsCreate leadsExportsCreate) throws ApiException, ProcessingException;

    /**
     * Get the lead export from the lead export create call
     *
     * **This feature is currently in beta and not available to all apps. If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Get the export of leads collected from a lead ad. This returns a URL to a list of lead export given a lead_export_id token returned from the create a lead export call. You can use the URL to download the report.  Note: Lead ad data will be available up to 30 days after the lead has been submitted.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
     *
     */
    @GET
    @Path("/{leads_export_id}")
    @Produces({ "application/json" })
    LeadsExportResponseData leadsExportGet(@PathParam("ad_account_id") String adAccountId, @PathParam("leads_export_id") String leadsExportId) throws ApiException, ProcessingException;
}
