/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.OrderLine;
import org.openapitools.server.model.OrderLinesList200Response;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.PinterestLibPaginationOrder;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/order_lines")
public interface OrderLinesApi  {

    /**
     * Get order line
     *
     * Get a specific existing order line associated with an ad account.
     *
     */
    @GET
    @Path("/{order_line_id}")
    @Produces({ "application/json" })
    OrderLine orderLinesGet(@PathParam("order_line_id") String orderLineId, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get order lines.
     *
     * List existing order lines associated with an ad account.
     *
     */
    @GET
    
    @Produces({ "application/json" })
    OrderLinesList200Response orderLinesList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order) throws ApiException, ProcessingException;
}
