/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.CreativeType;
import java.util.Date;
import org.openapitools.server.model.MultiPinsAnalyticsMetricTypesItem;
import org.openapitools.server.model.Pin;
import org.openapitools.server.model.PinAnalyticsMetricsResponse;
import org.openapitools.server.model.PinCreate;
import org.openapitools.server.model.PinFilter;
import org.openapitools.server.model.PinType;
import org.openapitools.server.model.PinUpdate;
import org.openapitools.server.model.PinsList200Response;
import org.openapitools.server.model.PinsSaveRequestCreate;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.QuerypinanalyticsmetrictypesItems;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/pins")
public interface PinsApi  {

    /**
     * Get multiple Pin analytics
     *
     * **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**  Get analytics for multiple pins owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. - The maximum number of pins supported in a single request is 100. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:  - For Pins on public or protected boards: Admin, Analyst. - For Pins on secret boards: Admin.  If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.
     *
     */
    @GET
    @Path("/analytics")
    @Produces({ "application/json" })
    Map<String, Map<String, PinAnalyticsMetricsResponse>> multiPinsAnalytics(@QueryParam("pin_ids") List<String> pinIds, @QueryParam("start_date") Date startDate, @QueryParam("end_date") Date endDate, @QueryParam("metric_types") List<MultiPinsAnalyticsMetricTypesItem> metricTypes, @QueryParam("app_types") @DefaultValue("ALL") String appTypes, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get Pin analytics
     *
     * Get analytics for a Pin owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:  - For Pins on public or protected boards: Admin, Analyst. - For Pins on secret boards: Admin.  If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.
     *
     */
    @GET
    @Path("/{pin_id}/analytics")
    @Produces({ "application/json" })
    Map<String, PinAnalyticsMetricsResponse> pinsAnalytics(@PathParam("pin_id") String pinId, @QueryParam("start_date") Date startDate, @QueryParam("end_date") Date endDate, @QueryParam("metric_types") List<QuerypinanalyticsmetrictypesItems> metricTypes, @QueryParam("app_types") @DefaultValue("ALL") String appTypes, @QueryParam("split_field") @DefaultValue("NO_SPLIT") String splitField, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Create Pin
     *
     *  Create a Pin on a board or board section owned by the \&quot;operation user_account\&quot;.   Note: If the current \&quot;operation user_account\&quot; (defined by the access token) has access to another user&#39;s Ad Accounts via Pinterest Business Access, you can modify your request to make use of the current operation_user_account&#39;s permissions to those Ad Accounts by including the ad_account_id in the path parameters for the request (e.g. .../?ad_account_id&#x3D;12345&amp;...).  - This function is intended solely for publishing new content created by the user. If you are interested in saving content created by others to your Pinterest boards, sometimes called &#39;curated content&#39;, please use our [Save button](/docs/web-features/add-ons-overview/) instead. For more tips on creating fresh content for Pinterest, review our [Content App Solutions Guide](/docs/api-features/content-overview/).  **[Learn more](/docs/api-features/creating-boards-and-pins/#creating-video-pins)** about video Pin creation.  **[Learn more](/docs/api-features/creating-boards-and-pins/#creating-image-pins)** about image Pin creation.
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response pinsCreate(PinCreate pinCreate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Delete Pin
     *
     *   Delete a Pins owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account.   - By default, the \&quot;operation user_account\&quot; is the token user_account.    Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:    - For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager.   - For Pins on secret boards: Owner, Admin.
     *
     */
    @DELETE
    @Path("/{pin_id}")
    @Produces({ "application/json" })
    Response pinsDelete(@PathParam("pin_id") String pinId, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get Pin
     *
     *   Get a Pin owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account.   - By default, the \&quot;operation user_account\&quot; is the token user_account.    Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:    - For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager.   - For Pins on secret boards: Owner, Admin.
     *
     */
    @GET
    @Path("/{pin_id}")
    @Produces({ "application/json" })
    Pin pinsGet(@PathParam("pin_id") String pinId, @QueryParam("ad_account_id") String adAccountId, @QueryParam("pin_metrics") @DefaultValue("false") Boolean pinMetrics) throws ApiException, ProcessingException;

    /**
     * List Pins
     *
     *     Get a list of the Pins owned by the \&quot;operation user_account\&quot;.     - By default, the \&quot;operation user_account\&quot; is the token user_account.     - All Pins owned by the \&quot;operation user_account\&quot; are included, regardless of who owns the board they are on.      Optional: Business Access: Specify an &#x60;ad_account_id&#x60; to use the owner of that ad_account as the \&quot;operation user_account\&quot;.      Disclaimer: There are known performance issues when filtering by field &#x60;creative_type&#x60; and including protected pins.     If your request is timing out in this scenario, we encourage you to use [GET List Pins on Board](/docs/api/v5/#operation/boards/list_pins).
     *
     */
    @GET
    
    @Produces({ "application/json" })
    PinsList200Response pinsList(@QueryParam("pin_filter") PinFilter pinFilter, @QueryParam("pin_metrics") @DefaultValue("false") Boolean pinMetrics, @QueryParam("include_protected_pins") @DefaultValue("false") Boolean includeProtectedPins, @QueryParam("pin_type") PinType pinType, @QueryParam("creative_types") List<CreativeType> creativeTypes, @QueryParam("ad_account_id") String adAccountId, @QueryParam("domain") String domain, @QueryParam("domains") List<String> domains, @QueryParam("include_product_tag_obj") Boolean includeProductTagObj, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Save Pin
     *
     * Save a Pin on a board or board section owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:  - For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager. - For Pins on secret boards: Owner, Admin.  - Any Pin type can be saved: image Pin, video Pin, Idea Pin, product Pin, etc. - Any public Pin can be saved given a pin ID.
     *
     */
    @POST
    @Path("/{pin_id}/save")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Pin pinsSave(@PathParam("pin_id") String pinId, PinsSaveRequestCreate pinsSaveRequestCreate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Update Pin
     *
     * Update a pin owned by the \&quot;operating user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:  - For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager. - For Pins on secret boards: Owner, Admin.  **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
     *
     */
    @PATCH
    @Path("/{pin_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Pin pinsUpdate(@PathParam("pin_id") String pinId, PinUpdate pinUpdate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;
}
