/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.ProductTagsBulkAddRequest;
import org.openapitools.server.model.ProductTagsBulkDeleteRequest;
import org.openapitools.server.model.ProductTagsError;
import org.openapitools.server.model.ProductTagsResponse;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/pins/{pin_id}/product_tags")
public interface ProductTagsApi  {

    /**
     * Add product tags to pin
     *
     * Add product tags to a pin. Product tags allow you to tag product pins onto a hero pin. - Maximum 24 product tags can be added in a single request. - Duplicate pin_ids in the request will result in an error. - If any product tag fails eligibility check, the entire request fails (all-or-nothing). - If a product tag is already tagged on the pin, it is treated as a no-op success.
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    ProductTagsResponse productTagsBulkAdd(@PathParam("pin_id") String pinId, ProductTagsBulkAddRequest productTagsBulkAddRequest) throws ApiException, ProcessingException;

    /**
     * Delete product tags from pin
     *
     * Delete product tags from a pin. - If a product tag is not found on the pin, it is treated as a no-op success.
     *
     */
    @POST
    @Path("/bulk-delete")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    void productTagsBulkDelete(@PathParam("pin_id") String pinId, ProductTagsBulkDeleteRequest productTagsBulkDeleteRequest) throws ApiException, ProcessingException;

    /**
     * Get product tags for pin
     *
     * Retrieve all product tags for a pin. - Returns an empty array if the pin has no product tags.
     *
     */
    @GET
    
    @Produces({ "application/json" })
    ProductTagsResponse productTagsList(@PathParam("pin_id") String pinId) throws ApiException, ProcessingException;
}
