/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.PinterestLibPaginationOrder;
import org.openapitools.server.model.Promotion;
import org.openapitools.server.model.PromotionBatchUpdate;
import org.openapitools.server.model.PromotionCreate;
import org.openapitools.server.model.PromotionsList200Response;
import org.openapitools.server.model.PromotionsResponse;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/promotions")
public interface PromotionsApi  {

    /**
     * Create promotions
     *
     * Create multiple new promotions.
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    PromotionsResponse promotionsCreate(@PathParam("ad_account_id") String adAccountId, List<PromotionCreate> promotionCreate) throws ApiException, ProcessingException;

    /**
     * Delete promotion by id
     *
     * Delete a promotion within Pinterest.
     *
     */
    @DELETE
    @Path("/{promotion_id}")
    @Produces({ "application/json" })
    Response promotionsDelete(@PathParam("promotion_id") String promotionId, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get promotion by id
     *
     * Get a promotion by its Pinterest-specific id. It must be associated with the provided ad account id.
     *
     */
    @GET
    @Path("/{promotion_id}")
    @Produces({ "application/json" })
    Promotion promotionsGet(@PathParam("promotion_id") String promotionId, @PathParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get promotions
     *
     * Gets all promotions associated with an ad account ID that can be applied to an ad group. Can be either internally-saved promotions or external promotions imported from a commerce integration.
     *
     */
    @GET
    
    @Produces({ "application/json" })
    PromotionsList200Response promotionsList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order) throws ApiException, ProcessingException;

    /**
     * Update promotions
     *
     * Update multiple promotions.
     *
     */
    @PATCH
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    PromotionsResponse promotionsUpdate(@PathParam("ad_account_id") String adAccountId, List<PromotionBatchUpdate> promotionBatchUpdate) throws ApiException, ProcessingException;
}
