/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.BoardsList200Response;
import org.openapitools.server.model.PinsList200Response;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.SearchPartnerPins200Response;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/search")
public interface SearchApi  {

    /**
     * Search pins by a given search term
     *
     * **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**  Get the top 10 Pins by a given search term.
     *
     */
    @GET
    @Path("/partner/pins")
    @Produces({ "application/json" })
    SearchPartnerPins200Response searchPartnerPins(@QueryParam("term") String term, @QueryParam("country_code") String countryCode, @QueryParam("bookmark") String bookmark, @QueryParam("locale") String locale, @QueryParam("limit") @DefaultValue("10") Integer limit) throws ApiException, ProcessingException;

    /**
     * Search user&#39;s boards
     *
     * Search for boards for the \&quot;operation user_account\&quot;. This includes boards of all board types. - By default, the \&quot;operation user_account\&quot; is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. See [Understanding Business Access](/docs/getting-started/using-business-access/) for more information.
     *
     */
    @GET
    @Path("/boards")
    @Produces({ "application/json" })
    BoardsList200Response searchUserBoardsGet(@QueryParam("ad_account_id") String adAccountId, @QueryParam("query") String query, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Search user&#39;s Pins
     *
     * Search for pins for the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. See [Understanding Business Access](/docs/getting-started/using-business-access/) for more information.
     *
     */
    @GET
    @Path("/pins")
    @Produces({ "application/json" })
    PinsList200Response searchUserPinsList(@QueryParam("query") String query, @QueryParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark) throws ApiException, ProcessingException;
}
