/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.PinterestLibPaginationOrder;
import org.openapitools.server.model.TargetingTemplate;
import org.openapitools.server.model.TargetingTemplateCreate;
import org.openapitools.server.model.TargetingTemplateList200Response;
import org.openapitools.server.model.TargetingTemplateUpdateRequestReadOrUpdate;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/ad_accounts/{ad_account_id}/targeting_templates")
public interface TargetingTemplateApi  {

    /**
     * Create targeting templates
     *
     * Targeting templates allow advertisers to save a set of targeting details including audience lists, keywords &amp; interest, demographics, and placements to use more than once during the campaign creation process.  Templates can be used to build out basic targeting criteria that you plan to use across campaigns and to reuse performance targeting from prior campaigns for new campaigns.
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response targetingTemplateCreate(@PathParam("ad_account_id") String adAccountId, TargetingTemplateCreate targetingTemplateCreate) throws ApiException, ProcessingException;

    /**
     * List targeting templates
     *
     * Get a list of the targeting templates in the specified &#x60;ad_account_id&#x60;
     *
     */
    @GET
    
    @Produces({ "application/json" })
    TargetingTemplateList200Response targetingTemplateList(@PathParam("ad_account_id") String adAccountId, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize, @QueryParam("order") PinterestLibPaginationOrder order, @QueryParam("include_sizing") @DefaultValue("false") Boolean includeSizing, @QueryParam("search_query") String searchQuery) throws ApiException, ProcessingException;

    /**
     * Update targeting templates
     *
     * Update the targeting template given advertiser ID and targeting template ID
     *
     */
    @PATCH
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    void targetingTemplateUpdate(@PathParam("ad_account_id") String adAccountId, TargetingTemplateUpdateRequestReadOrUpdate targetingTemplateUpdateRequestReadOrUpdate) throws ApiException, ProcessingException;
}
