/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.AgeTrendsBucket;
import org.openapitools.server.model.FeaturedTrend;
import org.openapitools.server.model.GenderBucket;
import org.openapitools.server.model.InterestsEnum;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.ProductCategoriesEngagementType;
import org.openapitools.server.model.ProductCategoryDetailLookbackWindow;
import org.openapitools.server.model.ProductCategoryDetails;
import org.openapitools.server.model.ProductCategoryEnum;
import org.openapitools.server.model.ProductCategoryRegion;
import org.openapitools.server.model.TrendingProductCategory;
import org.openapitools.server.model.TrendsEditorial;
import org.openapitools.server.model.VerticalProductCategory;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/trends")
public interface TrendsApi  {

    /**
     * Returns editorial articles for a given region
     *
     *   Get a list of published editorial articles. Translations of the editorials will be provided if available; otherwise, the default language will be English.
     *
     */
    @GET
    @Path("/editorial_articles")
    @Produces({ "application/json" })
    List<TrendsEditorial> trendsEditorialArticlesList(@QueryParam("region") ProductCategoryRegion region) throws ApiException, ProcessingException;

    /**
     * Get featured topics
     *
     *   Enables advertisers to pull top five trending topics by interest and market, at full parity with the Pinterest Trends UI.
     *
     */
    @GET
    @Path("/topics/featured")
    @Produces({ "application/json" })
    List<FeaturedTrend> trendsFeaturedTopicsList(@QueryParam("region") ProductCategoryRegion region, @QueryParam("interest") InterestsEnum interest) throws ApiException, ProcessingException;

    /**
     * Get product category details
     *
     *   Enables advertisers to retrieve demographic information, related pins, and trend lines for specified product categories
     *
     */
    @GET
    @Path("/product_categories/details")
    @Produces({ "application/json" })
    List<ProductCategoryDetails> trendsProductCategoriesDetailsList(@QueryParam("product_categories") List<ProductCategoryEnum> productCategories, @QueryParam("region") ProductCategoryRegion region, @QueryParam("lookback_window") ProductCategoryDetailLookbackWindow lookbackWindow, @QueryParam("engagement_type") ProductCategoriesEngagementType engagementType) throws ApiException, ProcessingException;

    /**
     * Get a list of growing Shopping Product Categories
     *
     *   Get a list of growing Shopping Product Categories in ranked order allowing filtering by engagement type, vertical, age, and gender.
     *
     */
    @GET
    @Path("/product_categories/trending")
    @Produces({ "application/json" })
    List<TrendingProductCategory> trendsProductCategoriesTrendingList(@QueryParam("region") ProductCategoryRegion region, @QueryParam("verticals") List<VerticalProductCategory> verticals, @QueryParam("ages") List<AgeTrendsBucket> ages, @QueryParam("genders") List<GenderBucket> genders, @QueryParam("engagement_type") ProductCategoriesEngagementType engagementType) throws ApiException, ProcessingException;
}
