/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.Account;
import org.openapitools.server.model.AnalyticsMetricsResponse;
import java.math.BigDecimal;
import org.openapitools.server.model.BoardsList200Response;
import java.util.Date;
import org.openapitools.server.model.FollowUser;
import org.openapitools.server.model.FollowUserCreate;
import org.openapitools.server.model.FollowersList200Response;
import org.openapitools.server.model.LinkedBusiness;
import org.openapitools.server.model.PinterestLibError;
import org.openapitools.server.model.QuerymetrictypesItems;
import org.openapitools.server.model.QueryvideopinmetrictypesItems;
import org.openapitools.server.model.TopPinsAnalyticsResponse;
import org.openapitools.server.model.TopPinsSortBy;
import org.openapitools.server.model.TopVideoPinsAnalyticsResponse;
import org.openapitools.server.model.TopVideoPinsSortBy;
import org.openapitools.server.model.UserAccountFollowedInterests200Response;
import org.openapitools.server.model.UserFollowingFeedType;
import org.openapitools.server.model.UserWebsite;
import org.openapitools.server.model.UserWebsiteCreate;
import org.openapitools.server.model.UserWebsiteVerification;
import org.openapitools.server.model.UserWebsitesGet200Response;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * Pinterest REST API
 *
 * <p>Pinterest's REST API
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("")
public interface UserAccountApi  {

    /**
     * List following boards
     *
     * Get a list of the boards a user follows. The request returns a board summary object array.
     *
     */
    @GET
    @Path("/user_account/following/boards")
    @Produces({ "application/json" })
    BoardsList200Response boardsUserFollowsList(@QueryParam("ad_account_id") String adAccountId, @QueryParam("explicit_following") @DefaultValue("false") Boolean explicitFollowing, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Follow user
     *
     * **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**  Use this request, as a signed-in user, to follow another user.
     *
     */
    @POST
    @Path("/user_account/following/{username}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response followUserUpdate(@PathParam("username") String username, FollowUserCreate followUserCreate) throws ApiException, ProcessingException;

    /**
     * List followers
     *
     * Get a list of your followers.
     *
     */
    @GET
    @Path("/user_account/followers")
    @Produces({ "application/json" })
    FollowersList200Response followersList(@QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * List linked businesses
     *
     * Get a list of your linked business accounts.
     *
     */
    @GET
    @Path("/user_account/businesses")
    @Produces({ "application/json" })
    List<LinkedBusiness> linkedBusinessAccountsGet() throws ApiException, ProcessingException;

    /**
     * Unverify website
     *
     * Unverify a website verified by the signed-in user.
     *
     */
    @DELETE
    @Path("/user_account/websites")
    @Produces({ "application/json" })
    Response unverifyWebsiteDelete(@QueryParam("website") String website) throws ApiException, ProcessingException;

    /**
     * Get user account analytics
     *
     * Get analytics for the \&quot;operation user_account\&quot; - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;.
     *
     */
    @GET
    @Path("/user_account/analytics")
    @Produces({ "application/json" })
    Map<String, AnalyticsMetricsResponse> userAccountAnalytics(@QueryParam("start_date") Date startDate, @QueryParam("end_date") Date endDate, @QueryParam("from_claimed_content") @DefaultValue("BOTH") String fromClaimedContent, @QueryParam("pin_format") @DefaultValue("ALL") String pinFormat, @QueryParam("app_types") @DefaultValue("ALL") String appTypes, @QueryParam("content_type") @DefaultValue("ALL") String contentType, @QueryParam("source") @DefaultValue("ALL") String source, @QueryParam("metric_types") List<QuerymetrictypesItems> metricTypes, @QueryParam("split_field") @DefaultValue("NO_SPLIT") String splitField, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get user account top pins analytics
     *
     * Gets analytics data about a user&#39;s top pins (limited to the top 50). - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;.
     *
     */
    @GET
    @Path("/user_account/analytics/top_pins")
    @Produces({ "application/json" })
    TopPinsAnalyticsResponse userAccountAnalyticsTopPins(@QueryParam("start_date") Date startDate, @QueryParam("end_date") Date endDate, @QueryParam("sort_by") TopPinsSortBy sortBy, @QueryParam("from_claimed_content") @DefaultValue("BOTH") String fromClaimedContent, @QueryParam("pin_format") @DefaultValue("ALL") String pinFormat, @QueryParam("app_types") @DefaultValue("ALL") String appTypes, @QueryParam("content_type") @DefaultValue("ALL") String contentType, @QueryParam("source") @DefaultValue("ALL") String source, @QueryParam("metric_types") List<QuerymetrictypesItems> metricTypes, @QueryParam("num_of_pins") @DefaultValue("10") Integer numOfPins, @QueryParam("created_in_last_n_days") BigDecimal createdInLastNDays, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get user account top video pins analytics
     *
     * Gets analytics data about a user&#39;s top video pins (limited to the top 50). - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;.
     *
     */
    @GET
    @Path("/user_account/analytics/top_video_pins")
    @Produces({ "application/json" })
    TopVideoPinsAnalyticsResponse userAccountAnalyticsTopVideoPins(@QueryParam("start_date") Date startDate, @QueryParam("end_date") Date endDate, @QueryParam("sort_by") TopVideoPinsSortBy sortBy, @QueryParam("from_claimed_content") @DefaultValue("BOTH") String fromClaimedContent, @QueryParam("pin_format") @DefaultValue("ALL") String pinFormat, @QueryParam("app_types") @DefaultValue("ALL") String appTypes, @QueryParam("content_type") @DefaultValue("ALL") String contentType, @QueryParam("source") @DefaultValue("ALL") String source, @QueryParam("metric_types") List<QueryvideopinmetrictypesItems> metricTypes, @QueryParam("num_of_pins") @DefaultValue("10") Integer numOfPins, @QueryParam("created_in_last_n_days") BigDecimal createdInLastNDays, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List following interests
     *
     * Get a list of a user&#39;s following interests in one place.
     *
     */
    @GET
    @Path("/users/{username}/interests/follow")
    @Produces({ "application/json" })
    UserAccountFollowedInterests200Response userAccountFollowedInterests(@PathParam("username") String username, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Get user account
     *
     * Get account information for the \&quot;operation user_account\&quot; - By default, the \&quot;operation user_account\&quot; is the token user_account.  [Understanding Business Access]: https://developers.pinterest.com/docs/getting-started/using-business-access/ \&quot;Understanding Business Access\&quot; If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. See [Understanding Business Access] for more information.
     *
     */
    @GET
    @Path("/user_account")
    @Produces({ "application/json" })
    Account userAccountGet(@QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * List following
     *
     * Get a list of who a certain user follows.
     *
     */
    @GET
    @Path("/user_account/following")
    @Produces({ "application/json" })
    FollowersList200Response userFollowingGet(@QueryParam("ad_account_id") String adAccountId, @QueryParam("explicit_following") @DefaultValue("false") Boolean explicitFollowing, @QueryParam("feed_type") @DefaultValue("ALL") UserFollowingFeedType feedType, @QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Get user websites
     *
     * Get user websites, claimed or not
     *
     */
    @GET
    @Path("/user_account/websites")
    @Produces({ "application/json" })
    UserWebsitesGet200Response userWebsitesGet(@QueryParam("bookmark") String bookmark, @QueryParam("page_size") @DefaultValue("25") Integer pageSize) throws ApiException, ProcessingException;

    /**
     * Verify website
     *
     * Verify a website as a signed-in user.
     *
     */
    @POST
    @Path("/user_account/websites")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    Response verifyWebsiteUpdate(UserWebsiteCreate userWebsiteCreate, @QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;

    /**
     * Get user verification code for website claiming
     *
     * Get verification code for user to install on the website to claim it.
     *
     */
    @GET
    @Path("/user_account/websites/verification")
    @Produces({ "application/json" })
    UserWebsiteVerification websiteVerificationGet(@QueryParam("ad_account_id") String adAccountId) throws ApiException, ProcessingException;
}
