/*
 * Pinterest REST API
 *
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://openapi-generator.tech
 */


use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration, ContentType};


/// struct for typed errors of method [`ads_credit_slash_redeem`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum AdsCreditSlashRedeemError {
    Status400(models::Error),
    DefaultResponse(models::Error),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ads_credits_discounts_slash_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum AdsCreditsDiscountsSlashGetError {
    DefaultResponse(models::Error),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`billing_profiles_slash_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BillingProfilesSlashGetError {
    DefaultResponse(models::Error),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ssio_accounts_slash_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SsioAccountsSlashGetError {
    Status400(models::Error),
    DefaultResponse(models::Error),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ssio_insertion_order_slash_create`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SsioInsertionOrderSlashCreateError {
    Status400(models::Error),
    DefaultResponse(models::Error),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ssio_insertion_order_slash_edit`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SsioInsertionOrderSlashEditError {
    Status400(models::Error),
    DefaultResponse(models::Error),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ssio_insertion_orders_status_slash_get_by_ad_account`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SsioInsertionOrdersStatusSlashGetByAdAccountError {
    Status400(models::Error),
    DefaultResponse(models::Error),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ssio_insertion_orders_status_slash_get_by_pin_order_id`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SsioInsertionOrdersStatusSlashGetByPinOrderIdError {
    Status400(models::Error),
    DefaultResponse(models::Error),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ssio_order_lines_slash_get_by_ad_account`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SsioOrderLinesSlashGetByAdAccountError {
    Status400(models::Error),
    DefaultResponse(models::Error),
    UnknownValue(serde_json::Value),
}


/// Redeem ads credit on behalf of the ad account id and apply it towards billing.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/beta-and-advanced-access/'>Learn more</a>.</strong>
pub async fn ads_credit_slash_redeem(configuration: &configuration::Configuration, ad_account_id: &str, ads_credit_redeem_request: models::AdsCreditRedeemRequest) -> Result<models::AdsCreditRedeemResponse, Error<AdsCreditSlashRedeemError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_ad_account_id = ad_account_id;
    let p_ads_credit_redeem_request = ads_credit_redeem_request;

    let uri_str = format!("{}/ad_accounts/{ad_account_id}/ads_credit/redeem", configuration.base_path, ad_account_id=crate::apis::urlencode(p_ad_account_id));
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.oauth_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };
    req_builder = req_builder.json(&p_ads_credit_redeem_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::AdsCreditRedeemResponse`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::AdsCreditRedeemResponse`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<AdsCreditSlashRedeemError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Returns the list of discounts applied to the account.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/beta-and-advanced-access/'>Learn more</a>.</strong>
pub async fn ads_credits_discounts_slash_get(configuration: &configuration::Configuration, ad_account_id: &str, bookmark: Option<&str>, page_size: Option<i32>) -> Result<models::AdsCreditsDiscountsGet200Response, Error<AdsCreditsDiscountsSlashGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_ad_account_id = ad_account_id;
    let p_bookmark = bookmark;
    let p_page_size = page_size;

    let uri_str = format!("{}/ad_accounts/{ad_account_id}/ads_credit/discounts", configuration.base_path, ad_account_id=crate::apis::urlencode(p_ad_account_id));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_bookmark {
        req_builder = req_builder.query(&[("bookmark", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_page_size {
        req_builder = req_builder.query(&[("page_size", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.oauth_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::AdsCreditsDiscountsGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::AdsCreditsDiscountsGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<AdsCreditsDiscountsSlashGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Get billing profiles in the advertiser account.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/beta-and-advanced-access/'>Learn more</a>.</strong>
pub async fn billing_profiles_slash_get(configuration: &configuration::Configuration, ad_account_id: &str, is_active: bool, bookmark: Option<&str>, page_size: Option<i32>) -> Result<models::BillingProfilesGet200Response, Error<BillingProfilesSlashGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_ad_account_id = ad_account_id;
    let p_is_active = is_active;
    let p_bookmark = bookmark;
    let p_page_size = page_size;

    let uri_str = format!("{}/ad_accounts/{ad_account_id}/billing_profiles", configuration.base_path, ad_account_id=crate::apis::urlencode(p_ad_account_id));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    req_builder = req_builder.query(&[("is_active", &p_is_active.to_string())]);
    if let Some(ref param_value) = p_bookmark {
        req_builder = req_builder.query(&[("bookmark", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_page_size {
        req_builder = req_builder.query(&[("page_size", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.oauth_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::BillingProfilesGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::BillingProfilesGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<BillingProfilesSlashGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Get Salesforce account details including bill-to information to be used in insertion orders process for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
pub async fn ssio_accounts_slash_get(configuration: &configuration::Configuration, ad_account_id: &str) -> Result<models::SsioAccountResponse, Error<SsioAccountsSlashGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_ad_account_id = ad_account_id;

    let uri_str = format!("{}/ad_accounts/{ad_account_id}/ssio/accounts", configuration.base_path, ad_account_id=crate::apis::urlencode(p_ad_account_id));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.oauth_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SsioAccountResponse`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SsioAccountResponse`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SsioAccountsSlashGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Create insertion order through SSIO for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
pub async fn ssio_insertion_order_slash_create(configuration: &configuration::Configuration, ad_account_id: &str, ssio_create_insertion_order_request: models::SsioCreateInsertionOrderRequest) -> Result<models::SsioCreateInsertionOrderResponse, Error<SsioInsertionOrderSlashCreateError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_ad_account_id = ad_account_id;
    let p_ssio_create_insertion_order_request = ssio_create_insertion_order_request;

    let uri_str = format!("{}/ad_accounts/{ad_account_id}/ssio/insertion_orders", configuration.base_path, ad_account_id=crate::apis::urlencode(p_ad_account_id));
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.oauth_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };
    req_builder = req_builder.json(&p_ssio_create_insertion_order_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SsioCreateInsertionOrderResponse`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SsioCreateInsertionOrderResponse`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SsioInsertionOrderSlashCreateError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Edit insertion order through SSIO for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
pub async fn ssio_insertion_order_slash_edit(configuration: &configuration::Configuration, ad_account_id: &str, ssio_edit_insertion_order_request: models::SsioEditInsertionOrderRequest) -> Result<models::SsioEditInsertionOrderResponse, Error<SsioInsertionOrderSlashEditError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_ad_account_id = ad_account_id;
    let p_ssio_edit_insertion_order_request = ssio_edit_insertion_order_request;

    let uri_str = format!("{}/ad_accounts/{ad_account_id}/ssio/insertion_orders", configuration.base_path, ad_account_id=crate::apis::urlencode(p_ad_account_id));
    let mut req_builder = configuration.client.request(reqwest::Method::PATCH, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.oauth_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };
    req_builder = req_builder.json(&p_ssio_edit_insertion_order_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SsioEditInsertionOrderResponse`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SsioEditInsertionOrderResponse`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SsioInsertionOrderSlashEditError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Get insertion order status for account id <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
pub async fn ssio_insertion_orders_status_slash_get_by_ad_account(configuration: &configuration::Configuration, ad_account_id: &str, bookmark: Option<&str>, page_size: Option<i32>) -> Result<models::SsioInsertionOrdersStatusGetByAdAccount200Response, Error<SsioInsertionOrdersStatusSlashGetByAdAccountError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_ad_account_id = ad_account_id;
    let p_bookmark = bookmark;
    let p_page_size = page_size;

    let uri_str = format!("{}/ad_accounts/{ad_account_id}/ssio/insertion_orders/status", configuration.base_path, ad_account_id=crate::apis::urlencode(p_ad_account_id));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_bookmark {
        req_builder = req_builder.query(&[("bookmark", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_page_size {
        req_builder = req_builder.query(&[("page_size", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.oauth_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SsioInsertionOrdersStatusGetByAdAccount200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SsioInsertionOrdersStatusGetByAdAccount200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SsioInsertionOrdersStatusSlashGetByAdAccountError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Get insertion order status for pin order id <code>pin_order_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
pub async fn ssio_insertion_orders_status_slash_get_by_pin_order_id(configuration: &configuration::Configuration, ad_account_id: &str, pin_order_id: &str) -> Result<models::SsioInsertionOrderStatusResponse, Error<SsioInsertionOrdersStatusSlashGetByPinOrderIdError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_ad_account_id = ad_account_id;
    let p_pin_order_id = pin_order_id;

    let uri_str = format!("{}/ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status", configuration.base_path, ad_account_id=crate::apis::urlencode(p_ad_account_id), pin_order_id=crate::apis::urlencode(p_pin_order_id));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.oauth_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SsioInsertionOrderStatusResponse`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SsioInsertionOrderStatusResponse`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SsioInsertionOrdersStatusSlashGetByPinOrderIdError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Get Salesforce order lines for account id <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
pub async fn ssio_order_lines_slash_get_by_ad_account(configuration: &configuration::Configuration, ad_account_id: &str, bookmark: Option<&str>, page_size: Option<i32>, pin_order_id: Option<&str>) -> Result<models::SsioOrderLinesGetByAdAccount200Response, Error<SsioOrderLinesSlashGetByAdAccountError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_ad_account_id = ad_account_id;
    let p_bookmark = bookmark;
    let p_page_size = page_size;
    let p_pin_order_id = pin_order_id;

    let uri_str = format!("{}/ad_accounts/{ad_account_id}/ssio/order_lines", configuration.base_path, ad_account_id=crate::apis::urlencode(p_ad_account_id));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_bookmark {
        req_builder = req_builder.query(&[("bookmark", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_page_size {
        req_builder = req_builder.query(&[("page_size", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_pin_order_id {
        req_builder = req_builder.query(&[("pin_order_id", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref token) = configuration.oauth_access_token {
        req_builder = req_builder.bearer_auth(token.to_owned());
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SsioOrderLinesGetByAdAccount200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SsioOrderLinesGetByAdAccount200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SsioOrderLinesSlashGetByAdAccountError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

