=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class AdsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create ad preview with pin or image
    # Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad. <p/> If you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See <a href=\"https://help.pinterest.com/en/business/article/promoted-pins-overview\" target=\"_blank\">Ads Overview</a>.) <p/> You can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires. Collection ads are not currently supported ad preview.  Creating ad preview from catalog product group is currently in BETA and is not available to all users.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_preview_request [AdPreviewRequest] Create ad preview with pin or image.
    # @param [Hash] opts the optional parameters
    # @return [AdPreviewURLResponse]
    def ad_previews_create(ad_account_id, ad_preview_request, opts = {})
      data, _status_code, _headers = ad_previews_create_with_http_info(ad_account_id, ad_preview_request, opts)
      data
    end

    # Create ad preview with pin or image
    # Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad. &lt;p/&gt; If you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/promoted-pins-overview\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Ads Overview&lt;/a&gt;.) &lt;p/&gt; You can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires. Collection ads are not currently supported ad preview.  Creating ad preview from catalog product group is currently in BETA and is not available to all users.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_preview_request [AdPreviewRequest] Create ad preview with pin or image.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdPreviewURLResponse, Integer, Hash)>] AdPreviewURLResponse data, response status code and response headers
    def ad_previews_create_with_http_info(ad_account_id, ad_preview_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.ad_previews_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdsApi.ad_previews_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AdsApi.ad_previews_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AdsApi.ad_previews_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ad_preview_request' is set
      if @api_client.config.client_side_validation && ad_preview_request.nil?
        fail ArgumentError, "Missing the required parameter 'ad_preview_request' when calling AdsApi.ad_previews_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ad_previews'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ad_preview_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdPreviewURLResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AdsApi.ad_previews_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#ad_previews_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get targeting analytics for ads
    # Get targeting analytics for one or more ads. For the requested ad(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \"age_bucket\") for applicable values (e.g. \"45-49\"). <p/> - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_ids [Array<String>] List of Ad Ids to use to filter the results.
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param targeting_types [Array<AdsAnalyticsAdTargetingType>] Targeting type breakdowns for the report. The reporting per targeting type &lt;br&gt; is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users.
    # @param columns [Array<String>] Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.&lt;br/&gt;For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).&lt;br/&gt;If a column has no value, it may not be returned
    # @param granularity [Granularity] TOTAL - metrics are aggregated over the specified date range.&lt;br&gt; DAY - metrics are broken down daily.&lt;br&gt; HOUR - metrics are broken down hourly.&lt;br&gt;WEEKLY - metrics are broken down weekly.&lt;br&gt;MONTHLY - metrics are broken down monthly
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :click_window_days Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (default to 30)
    # @option opts [Integer] :engagement_window_days Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.&lt;br&gt; &lt;strong&gt;Note:&lt;/strong&gt; This parameter no longer returns new data. However, you can still access historic data through &lt;strong&gt;Sept 30, 2027&lt;/strong&gt;. (default to 30)
    # @option opts [Integer] :view_window_days Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (default to 1)
    # @option opts [String] :conversion_report_time The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (default to 'TIME_OF_AD_ACTION')
    # @option opts [Array<ConversionReportAttributionType>] :attribution_types List of types of attribution for the conversion report
    # @option opts [ReportingTimeZone] :reporting_timezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
    # @return [MetricsResponse]
    def ad_targeting_analytics_get(ad_account_id, ad_ids, start_date, end_date, targeting_types, columns, granularity, opts = {})
      data, _status_code, _headers = ad_targeting_analytics_get_with_http_info(ad_account_id, ad_ids, start_date, end_date, targeting_types, columns, granularity, opts)
      data
    end

    # Get targeting analytics for ads
    # Get targeting analytics for one or more ads. For the requested ad(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \&quot;age_bucket\&quot;) for applicable values (e.g. \&quot;45-49\&quot;). &lt;p/&gt; - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_ids [Array<String>] List of Ad Ids to use to filter the results.
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param targeting_types [Array<AdsAnalyticsAdTargetingType>] Targeting type breakdowns for the report. The reporting per targeting type &lt;br&gt; is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users.
    # @param columns [Array<String>] Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.&lt;br/&gt;For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).&lt;br/&gt;If a column has no value, it may not be returned
    # @param granularity [Granularity] TOTAL - metrics are aggregated over the specified date range.&lt;br&gt; DAY - metrics are broken down daily.&lt;br&gt; HOUR - metrics are broken down hourly.&lt;br&gt;WEEKLY - metrics are broken down weekly.&lt;br&gt;MONTHLY - metrics are broken down monthly
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :click_window_days Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (default to 30)
    # @option opts [Integer] :engagement_window_days Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.&lt;br&gt; &lt;strong&gt;Note:&lt;/strong&gt; This parameter no longer returns new data. However, you can still access historic data through &lt;strong&gt;Sept 30, 2027&lt;/strong&gt;. (default to 30)
    # @option opts [Integer] :view_window_days Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (default to 1)
    # @option opts [String] :conversion_report_time The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (default to 'TIME_OF_AD_ACTION')
    # @option opts [Array<ConversionReportAttributionType>] :attribution_types List of types of attribution for the conversion report
    # @option opts [ReportingTimeZone] :reporting_timezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
    # @return [Array<(MetricsResponse, Integer, Hash)>] MetricsResponse data, response status code and response headers
    def ad_targeting_analytics_get_with_http_info(ad_account_id, ad_ids, start_date, end_date, targeting_types, columns, granularity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.ad_targeting_analytics_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdsApi.ad_targeting_analytics_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AdsApi.ad_targeting_analytics_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AdsApi.ad_targeting_analytics_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ad_ids' is set
      if @api_client.config.client_side_validation && ad_ids.nil?
        fail ArgumentError, "Missing the required parameter 'ad_ids' when calling AdsApi.ad_targeting_analytics_get"
      end
      if @api_client.config.client_side_validation && ad_ids.length > 250
        fail ArgumentError, 'invalid value for "ad_ids" when calling AdsApi.ad_targeting_analytics_get, number of items must be less than or equal to 250.'
      end

      if @api_client.config.client_side_validation && ad_ids.length < 1
        fail ArgumentError, 'invalid value for "ad_ids" when calling AdsApi.ad_targeting_analytics_get, number of items must be greater than or equal to 1.'
      end

      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling AdsApi.ad_targeting_analytics_get"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling AdsApi.ad_targeting_analytics_get"
      end
      # verify the required parameter 'targeting_types' is set
      if @api_client.config.client_side_validation && targeting_types.nil?
        fail ArgumentError, "Missing the required parameter 'targeting_types' when calling AdsApi.ad_targeting_analytics_get"
      end
      if @api_client.config.client_side_validation && targeting_types.length > 14
        fail ArgumentError, 'invalid value for "targeting_types" when calling AdsApi.ad_targeting_analytics_get, number of items must be less than or equal to 14.'
      end

      if @api_client.config.client_side_validation && targeting_types.length < 1
        fail ArgumentError, 'invalid value for "targeting_types" when calling AdsApi.ad_targeting_analytics_get, number of items must be greater than or equal to 1.'
      end

      # verify the required parameter 'columns' is set
      if @api_client.config.client_side_validation && columns.nil?
        fail ArgumentError, "Missing the required parameter 'columns' when calling AdsApi.ad_targeting_analytics_get"
      end
      # verify the required parameter 'granularity' is set
      if @api_client.config.client_side_validation && granularity.nil?
        fail ArgumentError, "Missing the required parameter 'granularity' when calling AdsApi.ad_targeting_analytics_get"
      end
      allowable_values = [0, 1, 7, 14, 30, 60]
      if @api_client.config.client_side_validation && opts[:'click_window_days'] && !allowable_values.include?(opts[:'click_window_days'])
        fail ArgumentError, "invalid value for \"click_window_days\", must be one of #{allowable_values}"
      end
      allowable_values = [0, 1, 7, 14, 30, 60]
      if @api_client.config.client_side_validation && opts[:'engagement_window_days'] && !allowable_values.include?(opts[:'engagement_window_days'])
        fail ArgumentError, "invalid value for \"engagement_window_days\", must be one of #{allowable_values}"
      end
      allowable_values = [0, 1, 7, 14, 30, 60]
      if @api_client.config.client_side_validation && opts[:'view_window_days'] && !allowable_values.include?(opts[:'view_window_days'])
        fail ArgumentError, "invalid value for \"view_window_days\", must be one of #{allowable_values}"
      end
      allowable_values = ["TIME_OF_AD_ACTION", "TIME_OF_CONVERSION"]
      if @api_client.config.client_side_validation && opts[:'conversion_report_time'] && !allowable_values.include?(opts[:'conversion_report_time'])
        fail ArgumentError, "invalid value for \"conversion_report_time\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'attribution_types'].nil? && opts[:'attribution_types'].length > 2
        fail ArgumentError, 'invalid value for "opts[:"attribution_types"]" when calling AdsApi.ad_targeting_analytics_get, number of items must be less than or equal to 2.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ads/targeting_analytics'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_ids'] = @api_client.build_collection_param(ad_ids, :multi)
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'targeting_types'] = @api_client.build_collection_param(targeting_types, :csv)
      query_params[:'columns'] = @api_client.build_collection_param(columns, :csv)
      query_params[:'granularity'] = granularity
      query_params[:'click_window_days'] = opts[:'click_window_days'] if !opts[:'click_window_days'].nil?
      query_params[:'engagement_window_days'] = opts[:'engagement_window_days'] if !opts[:'engagement_window_days'].nil?
      query_params[:'view_window_days'] = opts[:'view_window_days'] if !opts[:'view_window_days'].nil?
      query_params[:'conversion_report_time'] = opts[:'conversion_report_time'] if !opts[:'conversion_report_time'].nil?
      query_params[:'attribution_types'] = @api_client.build_collection_param(opts[:'attribution_types'], :csv) if !opts[:'attribution_types'].nil?
      query_params[:'reporting_timezone'] = opts[:'reporting_timezone'] if !opts[:'reporting_timezone'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MetricsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"AdsApi.ad_targeting_analytics_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#ad_targeting_analytics_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ad analytics
    # Get analytics for the specified ads in the specified <code>ad_account_id</code>, filtered by the specified options. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager. - The request must contain either ad_ids or both campaign_ids and pin_ids. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param columns [Array<String>] Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.&lt;br/&gt;For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).&lt;br/&gt;If a column has no value, it may not be returned
    # @param granularity [Granularity] TOTAL - metrics are aggregated over the specified date range.&lt;br&gt; DAY - metrics are broken down daily.&lt;br&gt; HOUR - metrics are broken down hourly.&lt;br&gt;WEEKLY - metrics are broken down weekly.&lt;br&gt;MONTHLY - metrics are broken down monthly
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ad_ids List of Ad Ids to use to filter the results.
    # @option opts [Integer] :click_window_days Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (default to 30)
    # @option opts [Integer] :engagement_window_days Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.&lt;br&gt; &lt;strong&gt;Note:&lt;/strong&gt; This parameter no longer returns new data. However, you can still access historic data through &lt;strong&gt;Sept 30, 2027&lt;/strong&gt;. (default to 30)
    # @option opts [Integer] :view_window_days Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (default to 1)
    # @option opts [String] :conversion_report_time The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (default to 'TIME_OF_AD_ACTION')
    # @option opts [Array<String>] :pin_ids List of Pin IDs.
    # @option opts [Array<String>] :campaign_ids List of Campaign Ids to use to filter the results.
    # @option opts [ReportingTimeZone] :reporting_timezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
    # @return [Array<AdsAnalyticsResponseInner>]
    def ads_analytics(ad_account_id, start_date, end_date, columns, granularity, opts = {})
      data, _status_code, _headers = ads_analytics_with_http_info(ad_account_id, start_date, end_date, columns, granularity, opts)
      data
    end

    # Get ad analytics
    # Get analytics for the specified ads in the specified &lt;code&gt;ad_account_id&lt;/code&gt;, filtered by the specified options. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Analyst, Campaign Manager. - The request must contain either ad_ids or both campaign_ids and pin_ids. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param columns [Array<String>] Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.&lt;br/&gt;For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).&lt;br/&gt;If a column has no value, it may not be returned
    # @param granularity [Granularity] TOTAL - metrics are aggregated over the specified date range.&lt;br&gt; DAY - metrics are broken down daily.&lt;br&gt; HOUR - metrics are broken down hourly.&lt;br&gt;WEEKLY - metrics are broken down weekly.&lt;br&gt;MONTHLY - metrics are broken down monthly
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ad_ids List of Ad Ids to use to filter the results.
    # @option opts [Integer] :click_window_days Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (default to 30)
    # @option opts [Integer] :engagement_window_days Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.&lt;br&gt; &lt;strong&gt;Note:&lt;/strong&gt; This parameter no longer returns new data. However, you can still access historic data through &lt;strong&gt;Sept 30, 2027&lt;/strong&gt;. (default to 30)
    # @option opts [Integer] :view_window_days Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (default to 1)
    # @option opts [String] :conversion_report_time The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (default to 'TIME_OF_AD_ACTION')
    # @option opts [Array<String>] :pin_ids List of Pin IDs.
    # @option opts [Array<String>] :campaign_ids List of Campaign Ids to use to filter the results.
    # @option opts [ReportingTimeZone] :reporting_timezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
    # @return [Array<(Array<AdsAnalyticsResponseInner>, Integer, Hash)>] Array<AdsAnalyticsResponseInner> data, response status code and response headers
    def ads_analytics_with_http_info(ad_account_id, start_date, end_date, columns, granularity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.ads_analytics ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdsApi.ads_analytics"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AdsApi.ads_analytics, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AdsApi.ads_analytics, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling AdsApi.ads_analytics"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling AdsApi.ads_analytics"
      end
      # verify the required parameter 'columns' is set
      if @api_client.config.client_side_validation && columns.nil?
        fail ArgumentError, "Missing the required parameter 'columns' when calling AdsApi.ads_analytics"
      end
      # verify the required parameter 'granularity' is set
      if @api_client.config.client_side_validation && granularity.nil?
        fail ArgumentError, "Missing the required parameter 'granularity' when calling AdsApi.ads_analytics"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_ids'].nil? && opts[:'ad_ids'].length > 250
        fail ArgumentError, 'invalid value for "opts[:"ad_ids"]" when calling AdsApi.ads_analytics, number of items must be less than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_ids'].nil? && opts[:'ad_ids'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"ad_ids"]" when calling AdsApi.ads_analytics, number of items must be greater than or equal to 1.'
      end

      allowable_values = [0, 1, 7, 14, 30, 60]
      if @api_client.config.client_side_validation && opts[:'click_window_days'] && !allowable_values.include?(opts[:'click_window_days'])
        fail ArgumentError, "invalid value for \"click_window_days\", must be one of #{allowable_values}"
      end
      allowable_values = [0, 1, 7, 14, 30, 60]
      if @api_client.config.client_side_validation && opts[:'engagement_window_days'] && !allowable_values.include?(opts[:'engagement_window_days'])
        fail ArgumentError, "invalid value for \"engagement_window_days\", must be one of #{allowable_values}"
      end
      allowable_values = [0, 1, 7, 14, 30, 60]
      if @api_client.config.client_side_validation && opts[:'view_window_days'] && !allowable_values.include?(opts[:'view_window_days'])
        fail ArgumentError, "invalid value for \"view_window_days\", must be one of #{allowable_values}"
      end
      allowable_values = ["TIME_OF_AD_ACTION", "TIME_OF_CONVERSION"]
      if @api_client.config.client_side_validation && opts[:'conversion_report_time'] && !allowable_values.include?(opts[:'conversion_report_time'])
        fail ArgumentError, "invalid value for \"conversion_report_time\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'pin_ids'].nil? && opts[:'pin_ids'].length > 100
        fail ArgumentError, 'invalid value for "opts[:"pin_ids"]" when calling AdsApi.ads_analytics, number of items must be less than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'pin_ids'].nil? && opts[:'pin_ids'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"pin_ids"]" when calling AdsApi.ads_analytics, number of items must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'campaign_ids'].nil? && opts[:'campaign_ids'].length > 250
        fail ArgumentError, 'invalid value for "opts[:"campaign_ids"]" when calling AdsApi.ads_analytics, number of items must be less than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'campaign_ids'].nil? && opts[:'campaign_ids'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"campaign_ids"]" when calling AdsApi.ads_analytics, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ads/analytics'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'columns'] = @api_client.build_collection_param(columns, :csv)
      query_params[:'granularity'] = granularity
      query_params[:'ad_ids'] = @api_client.build_collection_param(opts[:'ad_ids'], :multi) if !opts[:'ad_ids'].nil?
      query_params[:'click_window_days'] = opts[:'click_window_days'] if !opts[:'click_window_days'].nil?
      query_params[:'engagement_window_days'] = opts[:'engagement_window_days'] if !opts[:'engagement_window_days'].nil?
      query_params[:'view_window_days'] = opts[:'view_window_days'] if !opts[:'view_window_days'].nil?
      query_params[:'conversion_report_time'] = opts[:'conversion_report_time'] if !opts[:'conversion_report_time'].nil?
      query_params[:'pin_ids'] = @api_client.build_collection_param(opts[:'pin_ids'], :multi) if !opts[:'pin_ids'].nil?
      query_params[:'campaign_ids'] = @api_client.build_collection_param(opts[:'campaign_ids'], :multi) if !opts[:'campaign_ids'].nil?
      query_params[:'reporting_timezone'] = opts[:'reporting_timezone'] if !opts[:'reporting_timezone'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AdsAnalyticsResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"AdsApi.ads_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#ads_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create ads
    # Create multiple new ads. Request must contain `ad_group_id`, `creative_type`, and the source Pin `pin_id`.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_create_request [Array<AdCreateRequest>] List of ads to create, size limit [1, 30].
    # @param [Hash] opts the optional parameters
    # @return [AdArrayResponse]
    def ads_create(ad_account_id, ad_create_request, opts = {})
      data, _status_code, _headers = ads_create_with_http_info(ad_account_id, ad_create_request, opts)
      data
    end

    # Create ads
    # Create multiple new ads. Request must contain &#x60;ad_group_id&#x60;, &#x60;creative_type&#x60;, and the source Pin &#x60;pin_id&#x60;.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_create_request [Array<AdCreateRequest>] List of ads to create, size limit [1, 30].
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdArrayResponse, Integer, Hash)>] AdArrayResponse data, response status code and response headers
    def ads_create_with_http_info(ad_account_id, ad_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.ads_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdsApi.ads_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AdsApi.ads_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AdsApi.ads_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ad_create_request' is set
      if @api_client.config.client_side_validation && ad_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'ad_create_request' when calling AdsApi.ads_create"
      end
      if @api_client.config.client_side_validation && ad_create_request.length > 30
        fail ArgumentError, 'invalid value for "ad_create_request" when calling AdsApi.ads_create, number of items must be less than or equal to 30.'
      end

      if @api_client.config.client_side_validation && ad_create_request.length < 1
        fail ArgumentError, 'invalid value for "ad_create_request" when calling AdsApi.ads_create, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ads'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ad_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdArrayResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AdsApi.ads_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#ads_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ad
    # Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will contain additional information from the Ad Review process. For more information about our policies and rejection reasons see the <a href=\"https://www.pinterest.com/_/_/policy/advertising-guidelines/\" target=\"_blank\">Pinterest advertising standards</a>.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_id [String] Unique identifier of an ad.
    # @param [Hash] opts the optional parameters
    # @return [AdResponse]
    def ads_get(ad_account_id, ad_id, opts = {})
      data, _status_code, _headers = ads_get_with_http_info(ad_account_id, ad_id, opts)
      data
    end

    # Get ad
    # Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will contain additional information from the Ad Review process. For more information about our policies and rejection reasons see the &lt;a href&#x3D;\&quot;https://www.pinterest.com/_/_/policy/advertising-guidelines/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Pinterest advertising standards&lt;/a&gt;.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_id [String] Unique identifier of an ad.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdResponse, Integer, Hash)>] AdResponse data, response status code and response headers
    def ads_get_with_http_info(ad_account_id, ad_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.ads_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdsApi.ads_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AdsApi.ads_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AdsApi.ads_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ad_id' is set
      if @api_client.config.client_side_validation && ad_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_id' when calling AdsApi.ads_get"
      end
      if @api_client.config.client_side_validation && ad_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_id" when calling AdsApi.ads_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_id' when calling AdsApi.ads_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ads/{ad_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'ad_id' + '}', CGI.escape(ad_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"AdsApi.ads_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#ads_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ads
    # List ads that meet the filters provided:   - Listed campaign ids or ad group ids or ad ids   - Listed entity statuses <p/> If no filter is provided, all ads in the ad account are returned. <p/> <strong>Note:</strong><p/> Provide only campaign_id or ad_group_id or ad_id. Do not provide more than one type. <p/> Review status is provided for each ad; if review_status is REJECTED, the rejected_reasons field will contain additional information. For more, see <a href=\"https://policy.pinterest.com/en/advertising-guidelines\">Pinterest advertising standards</a>.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :campaign_ids List of Campaign Ids to use to filter the results.
    # @option opts [Array<String>] :ad_group_ids List of Ad group Ids to use to filter the results.
    # @option opts [Array<String>] :ad_ids List of Ad Ids to use to filter the results.
    # @option opts [Array<String>] :entity_statuses Entity status
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @return [AdsList200Response]
    def ads_list(ad_account_id, opts = {})
      data, _status_code, _headers = ads_list_with_http_info(ad_account_id, opts)
      data
    end

    # List ads
    # List ads that meet the filters provided:   - Listed campaign ids or ad group ids or ad ids   - Listed entity statuses &lt;p/&gt; If no filter is provided, all ads in the ad account are returned. &lt;p/&gt; &lt;strong&gt;Note:&lt;/strong&gt;&lt;p/&gt; Provide only campaign_id or ad_group_id or ad_id. Do not provide more than one type. &lt;p/&gt; Review status is provided for each ad; if review_status is REJECTED, the rejected_reasons field will contain additional information. For more, see &lt;a href&#x3D;\&quot;https://policy.pinterest.com/en/advertising-guidelines\&quot;&gt;Pinterest advertising standards&lt;/a&gt;.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :campaign_ids List of Campaign Ids to use to filter the results.
    # @option opts [Array<String>] :ad_group_ids List of Ad group Ids to use to filter the results.
    # @option opts [Array<String>] :ad_ids List of Ad Ids to use to filter the results.
    # @option opts [Array<String>] :entity_statuses Entity status
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @return [Array<(AdsList200Response, Integer, Hash)>] AdsList200Response data, response status code and response headers
    def ads_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.ads_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdsApi.ads_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AdsApi.ads_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AdsApi.ads_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'campaign_ids'].nil? && opts[:'campaign_ids'].length > 250
        fail ArgumentError, 'invalid value for "opts[:"campaign_ids"]" when calling AdsApi.ads_list, number of items must be less than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'campaign_ids'].nil? && opts[:'campaign_ids'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"campaign_ids"]" when calling AdsApi.ads_list, number of items must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_group_ids'].nil? && opts[:'ad_group_ids'].length > 250
        fail ArgumentError, 'invalid value for "opts[:"ad_group_ids"]" when calling AdsApi.ads_list, number of items must be less than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_group_ids'].nil? && opts[:'ad_group_ids'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"ad_group_ids"]" when calling AdsApi.ads_list, number of items must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_ids'].nil? && opts[:'ad_ids'].length > 250
        fail ArgumentError, 'invalid value for "opts[:"ad_ids"]" when calling AdsApi.ads_list, number of items must be less than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_ids'].nil? && opts[:'ad_ids'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"ad_ids"]" when calling AdsApi.ads_list, number of items must be greater than or equal to 1.'
      end

      allowable_values = ["ACTIVE", "PAUSED", "ARCHIVED", "DRAFT", "DELETED_DRAFT"]
      if @api_client.config.client_side_validation && opts[:'entity_statuses'] && !opts[:'entity_statuses'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"entity_statuses\", must include one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AdsApi.ads_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AdsApi.ads_list, must be greater than or equal to 1.'
      end

      allowable_values = ["ASCENDING", "DESCENDING"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ads'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'campaign_ids'] = @api_client.build_collection_param(opts[:'campaign_ids'], :multi) if !opts[:'campaign_ids'].nil?
      query_params[:'ad_group_ids'] = @api_client.build_collection_param(opts[:'ad_group_ids'], :multi) if !opts[:'ad_group_ids'].nil?
      query_params[:'ad_ids'] = @api_client.build_collection_param(opts[:'ad_ids'], :multi) if !opts[:'ad_ids'].nil?
      query_params[:'entity_statuses'] = @api_client.build_collection_param(opts[:'entity_statuses'], :multi) if !opts[:'entity_statuses'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"AdsApi.ads_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#ads_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update ads
    # Update multiple existing ads
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_update_request [Array<AdUpdateRequest>] List of ads to update, size limit [1, 30]
    # @param [Hash] opts the optional parameters
    # @return [AdArrayResponse]
    def ads_update(ad_account_id, ad_update_request, opts = {})
      data, _status_code, _headers = ads_update_with_http_info(ad_account_id, ad_update_request, opts)
      data
    end

    # Update ads
    # Update multiple existing ads
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_update_request [Array<AdUpdateRequest>] List of ads to update, size limit [1, 30]
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdArrayResponse, Integer, Hash)>] AdArrayResponse data, response status code and response headers
    def ads_update_with_http_info(ad_account_id, ad_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.ads_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdsApi.ads_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AdsApi.ads_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AdsApi.ads_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ad_update_request' is set
      if @api_client.config.client_side_validation && ad_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'ad_update_request' when calling AdsApi.ads_update"
      end
      if @api_client.config.client_side_validation && ad_update_request.length > 30
        fail ArgumentError, 'invalid value for "ad_update_request" when calling AdsApi.ads_update, number of items must be less than or equal to 30.'
      end

      if @api_client.config.client_side_validation && ad_update_request.length < 1
        fail ArgumentError, 'invalid value for "ad_update_request" when calling AdsApi.ads_update, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ads'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ad_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdArrayResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AdsApi.ads_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#ads_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
