=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class AdvancedAuctionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get item bid options (POST)
    # Get the bid options for a batch of retail catalog items.  The catalog must be owned by the \"operation user_account\". [See detailed documentation here.](/docs/api-features/shopping-overview/#Update%20items%20in%20batch) By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: `Owner`, `Admin`.  This endpoint is not available to all users.
    # @param advanced_auction_items_get_request [AdvancedAuctionItemsGetRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [AdvancedAuctionItems]
    def advanced_auction_items_get_post(advanced_auction_items_get_request, opts = {})
      data, _status_code, _headers = advanced_auction_items_get_post_with_http_info(advanced_auction_items_get_request, opts)
      data
    end

    # Get item bid options (POST)
    # Get the bid options for a batch of retail catalog items.  The catalog must be owned by the \&quot;operation user_account\&quot;. [See detailed documentation here.](/docs/api-features/shopping-overview/#Update%20items%20in%20batch) By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: &#x60;Owner&#x60;, &#x60;Admin&#x60;.  This endpoint is not available to all users.
    # @param advanced_auction_items_get_request [AdvancedAuctionItemsGetRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(AdvancedAuctionItems, Integer, Hash)>] AdvancedAuctionItems data, response status code and response headers
    def advanced_auction_items_get_post_with_http_info(advanced_auction_items_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedAuctionApi.advanced_auction_items_get_post ...'
      end
      # verify the required parameter 'advanced_auction_items_get_request' is set
      if @api_client.config.client_side_validation && advanced_auction_items_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'advanced_auction_items_get_request' when calling AdvancedAuctionApi.advanced_auction_items_get_post"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling AdvancedAuctionApi.advanced_auction_items_get_post, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling AdvancedAuctionApi.advanced_auction_items_get_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/advanced_auction/items/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(advanced_auction_items_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedAuctionItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AdvancedAuctionApi.advanced_auction_items_get_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedAuctionApi#advanced_auction_items_get_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Operate on item level bid options
    # This endpoint supports multiple operations on a set of one or more bid options (bid price and bid adjustments for targeting categories) for retail catalog items. These advanced auction settings are applied in campaigns using objective_type `CATALOG_SALES` and ad groups using bid_strategy_type `MAX_BID`.  The catalog must be owned by the \"operation user_account\". [See detailed documentation here.](/docs/api-features/modify-items-in-batch/) By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: `Owner`, `Admin`.  This endpoint is not available to all users.
    # @param advanced_auction_items_submit_request [AdvancedAuctionItemsSubmitRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [AdvancedAuctionProcessedItems]
    def advanced_auction_items_submit_post(advanced_auction_items_submit_request, opts = {})
      data, _status_code, _headers = advanced_auction_items_submit_post_with_http_info(advanced_auction_items_submit_request, opts)
      data
    end

    # Operate on item level bid options
    # This endpoint supports multiple operations on a set of one or more bid options (bid price and bid adjustments for targeting categories) for retail catalog items. These advanced auction settings are applied in campaigns using objective_type &#x60;CATALOG_SALES&#x60; and ad groups using bid_strategy_type &#x60;MAX_BID&#x60;.  The catalog must be owned by the \&quot;operation user_account\&quot;. [See detailed documentation here.](/docs/api-features/modify-items-in-batch/) By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: &#x60;Owner&#x60;, &#x60;Admin&#x60;.  This endpoint is not available to all users.
    # @param advanced_auction_items_submit_request [AdvancedAuctionItemsSubmitRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(AdvancedAuctionProcessedItems, Integer, Hash)>] AdvancedAuctionProcessedItems data, response status code and response headers
    def advanced_auction_items_submit_post_with_http_info(advanced_auction_items_submit_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedAuctionApi.advanced_auction_items_submit_post ...'
      end
      # verify the required parameter 'advanced_auction_items_submit_request' is set
      if @api_client.config.client_side_validation && advanced_auction_items_submit_request.nil?
        fail ArgumentError, "Missing the required parameter 'advanced_auction_items_submit_request' when calling AdvancedAuctionApi.advanced_auction_items_submit_post"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling AdvancedAuctionApi.advanced_auction_items_submit_post, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling AdvancedAuctionApi.advanced_auction_items_submit_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/advanced_auction/items/submit'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(advanced_auction_items_submit_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedAuctionProcessedItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AdvancedAuctionApi.advanced_auction_items_submit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedAuctionApi#advanced_auction_items_submit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
