=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class AudienceSharingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List accounts with access to an audience owned by an ad account
    # List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.
    # @param audience_id [String] Unique identifier of the audience to use to filter the results.
    # @param account_type [AudienceAccountType] Filter accounts by account type.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [AdAccountsAudiencesSharedAccountsList200Response]
    def ad_accounts_audiences_shared_accounts_list(audience_id, account_type, ad_account_id, opts = {})
      data, _status_code, _headers = ad_accounts_audiences_shared_accounts_list_with_http_info(audience_id, account_type, ad_account_id, opts)
      data
    end

    # List accounts with access to an audience owned by an ad account
    # List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.
    # @param audience_id [String] Unique identifier of the audience to use to filter the results.
    # @param account_type [AudienceAccountType] Filter accounts by account type.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(AdAccountsAudiencesSharedAccountsList200Response, Integer, Hash)>] AdAccountsAudiencesSharedAccountsList200Response data, response status code and response headers
    def ad_accounts_audiences_shared_accounts_list_with_http_info(audience_id, account_type, ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudienceSharingApi.ad_accounts_audiences_shared_accounts_list ...'
      end
      # verify the required parameter 'audience_id' is set
      if @api_client.config.client_side_validation && audience_id.nil?
        fail ArgumentError, "Missing the required parameter 'audience_id' when calling AudienceSharingApi.ad_accounts_audiences_shared_accounts_list"
      end
      if @api_client.config.client_side_validation && audience_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "audience_id" when calling AudienceSharingApi.ad_accounts_audiences_shared_accounts_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && audience_id !~ pattern
        fail ArgumentError, "invalid value for 'audience_id' when calling AudienceSharingApi.ad_accounts_audiences_shared_accounts_list, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'account_type' is set
      if @api_client.config.client_side_validation && account_type.nil?
        fail ArgumentError, "Missing the required parameter 'account_type' when calling AudienceSharingApi.ad_accounts_audiences_shared_accounts_list"
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AudienceSharingApi.ad_accounts_audiences_shared_accounts_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AudienceSharingApi.ad_accounts_audiences_shared_accounts_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AudienceSharingApi.ad_accounts_audiences_shared_accounts_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AudienceSharingApi.ad_accounts_audiences_shared_accounts_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AudienceSharingApi.ad_accounts_audiences_shared_accounts_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/audiences/shared/accounts'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'audience_id'] = audience_id
      query_params[:'account_type'] = account_type
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdAccountsAudiencesSharedAccountsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"AudienceSharingApi.ad_accounts_audiences_shared_accounts_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudienceSharingApi#ad_accounts_audiences_shared_accounts_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List accounts with access to an audience owned by a business
    # List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param audience_id [String] Unique identifier of the audience to use to filter the results.
    # @param account_type [AudienceAccountType] Filter accounts by account type.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [AdAccountsAudiencesSharedAccountsList200Response]
    def business_account_audiences_shared_accounts_list(business_id, audience_id, account_type, opts = {})
      data, _status_code, _headers = business_account_audiences_shared_accounts_list_with_http_info(business_id, audience_id, account_type, opts)
      data
    end

    # List accounts with access to an audience owned by a business
    # List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param audience_id [String] Unique identifier of the audience to use to filter the results.
    # @param account_type [AudienceAccountType] Filter accounts by account type.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(AdAccountsAudiencesSharedAccountsList200Response, Integer, Hash)>] AdAccountsAudiencesSharedAccountsList200Response data, response status code and response headers
    def business_account_audiences_shared_accounts_list_with_http_info(business_id, audience_id, account_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudienceSharingApi.business_account_audiences_shared_accounts_list ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling AudienceSharingApi.business_account_audiences_shared_accounts_list"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling AudienceSharingApi.business_account_audiences_shared_accounts_list, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling AudienceSharingApi.business_account_audiences_shared_accounts_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling AudienceSharingApi.business_account_audiences_shared_accounts_list, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'audience_id' is set
      if @api_client.config.client_side_validation && audience_id.nil?
        fail ArgumentError, "Missing the required parameter 'audience_id' when calling AudienceSharingApi.business_account_audiences_shared_accounts_list"
      end
      if @api_client.config.client_side_validation && audience_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "audience_id" when calling AudienceSharingApi.business_account_audiences_shared_accounts_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && audience_id !~ pattern
        fail ArgumentError, "invalid value for 'audience_id' when calling AudienceSharingApi.business_account_audiences_shared_accounts_list, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'account_type' is set
      if @api_client.config.client_side_validation && account_type.nil?
        fail ArgumentError, "Missing the required parameter 'account_type' when calling AudienceSharingApi.business_account_audiences_shared_accounts_list"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AudienceSharingApi.business_account_audiences_shared_accounts_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AudienceSharingApi.business_account_audiences_shared_accounts_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/audiences/shared/accounts'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'audience_id'] = audience_id
      query_params[:'account_type'] = account_type
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdAccountsAudiencesSharedAccountsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AudienceSharingApi.business_account_audiences_shared_accounts_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudienceSharingApi#business_account_audiences_shared_accounts_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List received audiences for a business
    # Get a list of received audiences for the given business.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param [Hash] opts the optional parameters
    # @option opts [Order] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [SharedAudiencesForBusinessList200Response]
    def shared_audiences_for_business_list(business_id, opts = {})
      data, _status_code, _headers = shared_audiences_for_business_list_with_http_info(business_id, opts)
      data
    end

    # List received audiences for a business
    # Get a list of received audiences for the given business.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param [Hash] opts the optional parameters
    # @option opts [Order] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(SharedAudiencesForBusinessList200Response, Integer, Hash)>] SharedAudiencesForBusinessList200Response data, response status code and response headers
    def shared_audiences_for_business_list_with_http_info(business_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudienceSharingApi.shared_audiences_for_business_list ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling AudienceSharingApi.shared_audiences_for_business_list"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling AudienceSharingApi.shared_audiences_for_business_list, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling AudienceSharingApi.shared_audiences_for_business_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling AudienceSharingApi.shared_audiences_for_business_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AudienceSharingApi.shared_audiences_for_business_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AudienceSharingApi.shared_audiences_for_business_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/audiences'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SharedAudiencesForBusinessList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AudienceSharingApi.shared_audiences_for_business_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudienceSharingApi#shared_audiences_for_business_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update audience sharing between ad accounts
    # From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same [Pinterest Business Hierarchy](https://help.pinterest.com/en/business/article/create-and-manage-accounts) as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_account_to_ad_account_shared_audience_update_with_required_body [AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [AdAccountToAdAccountSharedAudience]
    def update_ad_account_to_ad_account_shared_audience(ad_account_id, ad_account_to_ad_account_shared_audience_update_with_required_body, opts = {})
      data, _status_code, _headers = update_ad_account_to_ad_account_shared_audience_with_http_info(ad_account_id, ad_account_to_ad_account_shared_audience_update_with_required_body, opts)
      data
    end

    # Update audience sharing between ad accounts
    # From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same [Pinterest Business Hierarchy](https://help.pinterest.com/en/business/article/create-and-manage-accounts) as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_account_to_ad_account_shared_audience_update_with_required_body [AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdAccountToAdAccountSharedAudience, Integer, Hash)>] AdAccountToAdAccountSharedAudience data, response status code and response headers
    def update_ad_account_to_ad_account_shared_audience_with_http_info(ad_account_id, ad_account_to_ad_account_shared_audience_update_with_required_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudienceSharingApi.update_ad_account_to_ad_account_shared_audience ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AudienceSharingApi.update_ad_account_to_ad_account_shared_audience"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AudienceSharingApi.update_ad_account_to_ad_account_shared_audience, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AudienceSharingApi.update_ad_account_to_ad_account_shared_audience, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ad_account_to_ad_account_shared_audience_update_with_required_body' is set
      if @api_client.config.client_side_validation && ad_account_to_ad_account_shared_audience_update_with_required_body.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_to_ad_account_shared_audience_update_with_required_body' when calling AudienceSharingApi.update_ad_account_to_ad_account_shared_audience"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ad_account_to_ad_account_shared_audience_update_with_required_body)

      # return_type
      return_type = opts[:debug_return_type] || 'AdAccountToAdAccountSharedAudience'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AudienceSharingApi.update_ad_account_to_ad_account_shared_audience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudienceSharingApi#update_ad_account_to_ad_account_shared_audience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update audience sharing from an ad account to businesses
    # From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_account_to_business_shared_audience_update_with_required_body [AdAccountToBusinessSharedAudienceUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [AdAccountToBusinessSharedAudience]
    def update_ad_account_to_business_shared_audience(ad_account_id, ad_account_to_business_shared_audience_update_with_required_body, opts = {})
      data, _status_code, _headers = update_ad_account_to_business_shared_audience_with_http_info(ad_account_id, ad_account_to_business_shared_audience_update_with_required_body, opts)
      data
    end

    # Update audience sharing from an ad account to businesses
    # From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ad_account_to_business_shared_audience_update_with_required_body [AdAccountToBusinessSharedAudienceUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdAccountToBusinessSharedAudience, Integer, Hash)>] AdAccountToBusinessSharedAudience data, response status code and response headers
    def update_ad_account_to_business_shared_audience_with_http_info(ad_account_id, ad_account_to_business_shared_audience_update_with_required_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudienceSharingApi.update_ad_account_to_business_shared_audience ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AudienceSharingApi.update_ad_account_to_business_shared_audience"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AudienceSharingApi.update_ad_account_to_business_shared_audience, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AudienceSharingApi.update_ad_account_to_business_shared_audience, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ad_account_to_business_shared_audience_update_with_required_body' is set
      if @api_client.config.client_side_validation && ad_account_to_business_shared_audience_update_with_required_body.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_to_business_shared_audience_update_with_required_body' when calling AudienceSharingApi.update_ad_account_to_business_shared_audience"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/audiences/businesses/shared'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ad_account_to_business_shared_audience_update_with_required_body)

      # return_type
      return_type = opts[:debug_return_type] || 'AdAccountToBusinessSharedAudience'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AudienceSharingApi.update_ad_account_to_business_shared_audience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudienceSharingApi#update_ad_account_to_business_shared_audience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update audience sharing from a business to ad accounts
    # From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience.  - If the business is the owner of the audience, it can share with any ad account within the same business hierarchy. - If the business is the recipient of the audience, it can share with any of its owned ad accounts.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
    # @param business_id [String] Unique identifier of the requesting business.
    # @param business_to_ad_account_shared_audience_update_with_required_body [BusinessToAdAccountSharedAudienceUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessToAdAccountSharedAudience]
    def update_business_to_ad_account_shared_audience(business_id, business_to_ad_account_shared_audience_update_with_required_body, opts = {})
      data, _status_code, _headers = update_business_to_ad_account_shared_audience_with_http_info(business_id, business_to_ad_account_shared_audience_update_with_required_body, opts)
      data
    end

    # Update audience sharing from a business to ad accounts
    # From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience.  - If the business is the owner of the audience, it can share with any ad account within the same business hierarchy. - If the business is the recipient of the audience, it can share with any of its owned ad accounts.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
    # @param business_id [String] Unique identifier of the requesting business.
    # @param business_to_ad_account_shared_audience_update_with_required_body [BusinessToAdAccountSharedAudienceUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessToAdAccountSharedAudience, Integer, Hash)>] BusinessToAdAccountSharedAudience data, response status code and response headers
    def update_business_to_ad_account_shared_audience_with_http_info(business_id, business_to_ad_account_shared_audience_update_with_required_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudienceSharingApi.update_business_to_ad_account_shared_audience ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling AudienceSharingApi.update_business_to_ad_account_shared_audience"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling AudienceSharingApi.update_business_to_ad_account_shared_audience, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling AudienceSharingApi.update_business_to_ad_account_shared_audience, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling AudienceSharingApi.update_business_to_ad_account_shared_audience, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'business_to_ad_account_shared_audience_update_with_required_body' is set
      if @api_client.config.client_side_validation && business_to_ad_account_shared_audience_update_with_required_body.nil?
        fail ArgumentError, "Missing the required parameter 'business_to_ad_account_shared_audience_update_with_required_body' when calling AudienceSharingApi.update_business_to_ad_account_shared_audience"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/audiences/ad_accounts/shared'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_to_ad_account_shared_audience_update_with_required_body)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessToAdAccountSharedAudience'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AudienceSharingApi.update_business_to_ad_account_shared_audience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudienceSharingApi#update_business_to_ad_account_shared_audience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update audience sharing between businesses
    # From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
    # @param business_id [String] Unique identifier of the requesting business.
    # @param business_to_business_shared_audience_update_with_required_body [BusinessToBusinessSharedAudienceUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessToBusinessSharedAudience]
    def update_business_to_business_shared_audience(business_id, business_to_business_shared_audience_update_with_required_body, opts = {})
      data, _status_code, _headers = update_business_to_business_shared_audience_with_http_info(business_id, business_to_business_shared_audience_update_with_required_body, opts)
      data
    end

    # Update audience sharing between businesses
    # From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
    # @param business_id [String] Unique identifier of the requesting business.
    # @param business_to_business_shared_audience_update_with_required_body [BusinessToBusinessSharedAudienceUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessToBusinessSharedAudience, Integer, Hash)>] BusinessToBusinessSharedAudience data, response status code and response headers
    def update_business_to_business_shared_audience_with_http_info(business_id, business_to_business_shared_audience_update_with_required_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudienceSharingApi.update_business_to_business_shared_audience ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling AudienceSharingApi.update_business_to_business_shared_audience"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling AudienceSharingApi.update_business_to_business_shared_audience, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling AudienceSharingApi.update_business_to_business_shared_audience, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling AudienceSharingApi.update_business_to_business_shared_audience, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'business_to_business_shared_audience_update_with_required_body' is set
      if @api_client.config.client_side_validation && business_to_business_shared_audience_update_with_required_body.nil?
        fail ArgumentError, "Missing the required parameter 'business_to_business_shared_audience_update_with_required_body' when calling AudienceSharingApi.update_business_to_business_shared_audience"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/audiences/businesses/shared'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_to_business_shared_audience_update_with_required_body)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessToBusinessSharedAudience'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AudienceSharingApi.update_business_to_business_shared_audience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudienceSharingApi#update_business_to_business_shared_audience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
