=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class AudiencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create audience
    # Create an audience you can use in targeting for specific ad groups. Targeting combines customer information with the ways users interact with Pinterest to help you reach specific groups of users; you can include or exclude specific `audience_ids` when you create an ad group. <p/> Learn about <a href=\"/docs/work-with-targets-and-audiences/create-audiences/\" target=\"_blank\">creating different kinds of audiences</a>.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param audience_create_request [AudienceCreateRequest] List of ads to create, size limit [1, 30]
    # @param [Hash] opts the optional parameters
    # @return [Audience]
    def audiences_create(ad_account_id, audience_create_request, opts = {})
      data, _status_code, _headers = audiences_create_with_http_info(ad_account_id, audience_create_request, opts)
      data
    end

    # Create audience
    # Create an audience you can use in targeting for specific ad groups. Targeting combines customer information with the ways users interact with Pinterest to help you reach specific groups of users; you can include or exclude specific &#x60;audience_ids&#x60; when you create an ad group. &lt;p/&gt; Learn about &lt;a href&#x3D;\&quot;/docs/work-with-targets-and-audiences/create-audiences/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;creating different kinds of audiences&lt;/a&gt;.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param audience_create_request [AudienceCreateRequest] List of ads to create, size limit [1, 30]
    # @param [Hash] opts the optional parameters
    # @return [Array<(Audience, Integer, Hash)>] Audience data, response status code and response headers
    def audiences_create_with_http_info(ad_account_id, audience_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudiencesApi.audiences_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AudiencesApi.audiences_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AudiencesApi.audiences_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AudiencesApi.audiences_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'audience_create_request' is set
      if @api_client.config.client_side_validation && audience_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'audience_create_request' when calling AudiencesApi.audiences_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/audiences'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(audience_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Audience'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AudiencesApi.audiences_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudiencesApi#audiences_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get audience
    # Get a specific audience given the audience ID.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param audience_id [String] Unique identifier of an audience
    # @param [Hash] opts the optional parameters
    # @return [Audience]
    def audiences_get(ad_account_id, audience_id, opts = {})
      data, _status_code, _headers = audiences_get_with_http_info(ad_account_id, audience_id, opts)
      data
    end

    # Get audience
    # Get a specific audience given the audience ID.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param audience_id [String] Unique identifier of an audience
    # @param [Hash] opts the optional parameters
    # @return [Array<(Audience, Integer, Hash)>] Audience data, response status code and response headers
    def audiences_get_with_http_info(ad_account_id, audience_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudiencesApi.audiences_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AudiencesApi.audiences_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AudiencesApi.audiences_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AudiencesApi.audiences_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'audience_id' is set
      if @api_client.config.client_side_validation && audience_id.nil?
        fail ArgumentError, "Missing the required parameter 'audience_id' when calling AudiencesApi.audiences_get"
      end
      if @api_client.config.client_side_validation && audience_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "audience_id" when calling AudiencesApi.audiences_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && audience_id !~ pattern
        fail ArgumentError, "invalid value for 'audience_id' when calling AudiencesApi.audiences_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/audiences/{audience_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'audience_id' + '}', CGI.escape(audience_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Audience'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"AudiencesApi.audiences_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudiencesApi#audiences_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List audiences
    # Get list of audiences for the ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. For received audiences, it is sorted by sharing event time. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :ownership_type Filter audiences by ownership type. (default to 'OWNED')
    # @return [AudiencesList200Response]
    def audiences_list(ad_account_id, opts = {})
      data, _status_code, _headers = audiences_list_with_http_info(ad_account_id, opts)
      data
    end

    # List audiences
    # Get list of audiences for the ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. For received audiences, it is sorted by sharing event time. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :ownership_type Filter audiences by ownership type. (default to 'OWNED')
    # @return [Array<(AudiencesList200Response, Integer, Hash)>] AudiencesList200Response data, response status code and response headers
    def audiences_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudiencesApi.audiences_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AudiencesApi.audiences_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AudiencesApi.audiences_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AudiencesApi.audiences_list, must conform to the pattern #{pattern}."
      end

      allowable_values = ["ASCENDING", "DESCENDING"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AudiencesApi.audiences_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AudiencesApi.audiences_list, must be greater than or equal to 1.'
      end

      allowable_values = ["OWNED", "RECEIVED"]
      if @api_client.config.client_side_validation && opts[:'ownership_type'] && !allowable_values.include?(opts[:'ownership_type'])
        fail ArgumentError, "invalid value for \"ownership_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/audiences'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'ownership_type'] = opts[:'ownership_type'] if !opts[:'ownership_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AudiencesList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"AudiencesApi.audiences_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudiencesApi#audiences_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update audience
    # Update (edit or remove) an existing targeting audience.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param audience_id [String] Unique identifier of an audience
    # @param audience_update_request [AudienceUpdateRequest] The audience to be updated.
    # @param [Hash] opts the optional parameters
    # @return [Audience]
    def audiences_update(ad_account_id, audience_id, audience_update_request, opts = {})
      data, _status_code, _headers = audiences_update_with_http_info(ad_account_id, audience_id, audience_update_request, opts)
      data
    end

    # Update audience
    # Update (edit or remove) an existing targeting audience.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param audience_id [String] Unique identifier of an audience
    # @param audience_update_request [AudienceUpdateRequest] The audience to be updated.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Audience, Integer, Hash)>] Audience data, response status code and response headers
    def audiences_update_with_http_info(ad_account_id, audience_id, audience_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudiencesApi.audiences_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AudiencesApi.audiences_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling AudiencesApi.audiences_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling AudiencesApi.audiences_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'audience_id' is set
      if @api_client.config.client_side_validation && audience_id.nil?
        fail ArgumentError, "Missing the required parameter 'audience_id' when calling AudiencesApi.audiences_update"
      end
      if @api_client.config.client_side_validation && audience_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "audience_id" when calling AudiencesApi.audiences_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && audience_id !~ pattern
        fail ArgumentError, "invalid value for 'audience_id' when calling AudiencesApi.audiences_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'audience_update_request' is set
      if @api_client.config.client_side_validation && audience_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'audience_update_request' when calling AudiencesApi.audiences_update"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/audiences/{audience_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'audience_id' + '}', CGI.escape(audience_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(audience_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Audience'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"AudiencesApi.audiences_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudiencesApi#audiences_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
