=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Redeem ad credits
    # Redeem ads credit on behalf of the ad account id and apply it towards billing.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ads_credit_redeem_create [AdsCreditRedeemCreate] 
    # @param [Hash] opts the optional parameters
    # @return [AdsCreditRedeem]
    def ads_credit_redeem(ad_account_id, ads_credit_redeem_create, opts = {})
      data, _status_code, _headers = ads_credit_redeem_with_http_info(ad_account_id, ads_credit_redeem_create, opts)
      data
    end

    # Redeem ad credits
    # Redeem ads credit on behalf of the ad account id and apply it towards billing.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ads_credit_redeem_create [AdsCreditRedeemCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdsCreditRedeem, Integer, Hash)>] AdsCreditRedeem data, response status code and response headers
    def ads_credit_redeem_with_http_info(ad_account_id, ads_credit_redeem_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ads_credit_redeem ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ads_credit_redeem"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ads_credit_redeem, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ads_credit_redeem, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ads_credit_redeem_create' is set
      if @api_client.config.client_side_validation && ads_credit_redeem_create.nil?
        fail ArgumentError, "Missing the required parameter 'ads_credit_redeem_create' when calling BillingApi.ads_credit_redeem"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ads_credit/redeem'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ads_credit_redeem_create)

      # return_type
      return_type = opts[:debug_return_type] || 'AdsCreditRedeem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ads_credit_redeem",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ads_credit_redeem\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ads credit discounts
    # Returns the list of discounts applied to the account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [AdsCreditsDiscountsGet200Response]
    def ads_credits_discounts_get(ad_account_id, opts = {})
      data, _status_code, _headers = ads_credits_discounts_get_with_http_info(ad_account_id, opts)
      data
    end

    # Get ads credit discounts
    # Returns the list of discounts applied to the account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(AdsCreditsDiscountsGet200Response, Integer, Hash)>] AdsCreditsDiscountsGet200Response data, response status code and response headers
    def ads_credits_discounts_get_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ads_credits_discounts_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ads_credits_discounts_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ads_credits_discounts_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ads_credits_discounts_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ads_credits_discounts_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ads_credits_discounts_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ads_credit/discounts'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdsCreditsDiscountsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ads_credits_discounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ads_credits_discounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get download url for a billing invoice
    # Get download url for a billing invoice.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param billing_invoice_id [String] Unique identifier of a billing invoice.
    # @param [Hash] opts the optional parameters
    # @return [BillingInvoiceDownloadResponse]
    def billing_invoice_download_get(ad_account_id, billing_invoice_id, opts = {})
      data, _status_code, _headers = billing_invoice_download_get_with_http_info(ad_account_id, billing_invoice_id, opts)
      data
    end

    # Get download url for a billing invoice
    # Get download url for a billing invoice.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param billing_invoice_id [String] Unique identifier of a billing invoice.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillingInvoiceDownloadResponse, Integer, Hash)>] BillingInvoiceDownloadResponse data, response status code and response headers
    def billing_invoice_download_get_with_http_info(ad_account_id, billing_invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.billing_invoice_download_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.billing_invoice_download_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.billing_invoice_download_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.billing_invoice_download_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'billing_invoice_id' is set
      if @api_client.config.client_side_validation && billing_invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'billing_invoice_id' when calling BillingApi.billing_invoice_download_get"
      end
      if @api_client.config.client_side_validation && billing_invoice_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "billing_invoice_id" when calling BillingApi.billing_invoice_download_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && billing_invoice_id !~ pattern
        fail ArgumentError, "invalid value for 'billing_invoice_id' when calling BillingApi.billing_invoice_download_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s)).sub('{billing_invoice_id}', CGI.escape(billing_invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingInvoiceDownloadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.billing_invoice_download_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#billing_invoice_download_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get billing invoices
    # Get billing invoices in the advertiser account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [BillingInvoiceSortField] :sort Field of which to sort billing invoices (default to 'DUE_DATE')
    # @option opts [BillingInvoiceStatus] :status Status of billing invoices to filter by
    # @option opts [BillingInvoiceDocumentType] :document_type Document type of billing invoices to filter by
    # @option opts [Date] :start_due_date Starting point for due dates when searching for invoices. Format: YYYY-MM-DD
    # @option opts [Date] :end_due_date Ending point for due dates when searching for invoices. Format: YYYY-MM-DD
    # @return [BillingInvoicesGet200Response]
    def billing_invoices_get(ad_account_id, opts = {})
      data, _status_code, _headers = billing_invoices_get_with_http_info(ad_account_id, opts)
      data
    end

    # Get billing invoices
    # Get billing invoices in the advertiser account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [BillingInvoiceSortField] :sort Field of which to sort billing invoices (default to 'DUE_DATE')
    # @option opts [BillingInvoiceStatus] :status Status of billing invoices to filter by
    # @option opts [BillingInvoiceDocumentType] :document_type Document type of billing invoices to filter by
    # @option opts [Date] :start_due_date Starting point for due dates when searching for invoices. Format: YYYY-MM-DD
    # @option opts [Date] :end_due_date Ending point for due dates when searching for invoices. Format: YYYY-MM-DD
    # @return [Array<(BillingInvoicesGet200Response, Integer, Hash)>] BillingInvoicesGet200Response data, response status code and response headers
    def billing_invoices_get_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.billing_invoices_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.billing_invoices_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.billing_invoices_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.billing_invoices_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.billing_invoices_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.billing_invoices_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/billing_invoices'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'document_type'] = opts[:'document_type'] if !opts[:'document_type'].nil?
      query_params[:'start_due_date'] = opts[:'start_due_date'] if !opts[:'start_due_date'].nil?
      query_params[:'end_due_date'] = opts[:'end_due_date'] if !opts[:'end_due_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingInvoicesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.billing_invoices_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#billing_invoices_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get billing profiles
    # Get billing profiles in the advertiser account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
    # @param is_active [Boolean] Return active billing profiles, if false return all billing profiles.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [BillingProfilesGet200Response]
    def billing_profiles_get(is_active, ad_account_id, opts = {})
      data, _status_code, _headers = billing_profiles_get_with_http_info(is_active, ad_account_id, opts)
      data
    end

    # Get billing profiles
    # Get billing profiles in the advertiser account.  **This endpoint might not be available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
    # @param is_active [Boolean] Return active billing profiles, if false return all billing profiles.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(BillingProfilesGet200Response, Integer, Hash)>] BillingProfilesGet200Response data, response status code and response headers
    def billing_profiles_get_with_http_info(is_active, ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.billing_profiles_get ...'
      end
      # verify the required parameter 'is_active' is set
      if @api_client.config.client_side_validation && is_active.nil?
        fail ArgumentError, "Missing the required parameter 'is_active' when calling BillingApi.billing_profiles_get"
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.billing_profiles_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.billing_profiles_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.billing_profiles_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.billing_profiles_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.billing_profiles_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/billing_profiles'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'is_active'] = is_active
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingProfilesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.billing_profiles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#billing_profiles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Salesforce account details including bill-to information.
    #   Get Salesforce account details including bill-to information to be used in insertion orders process for `ad_account_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [SSIOAccount]
    def ssio_accounts_get(ad_account_id, opts = {})
      data, _status_code, _headers = ssio_accounts_get_with_http_info(ad_account_id, opts)
      data
    end

    # Get Salesforce account details including bill-to information.
    #   Get Salesforce account details including bill-to information to be used in insertion orders process for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSIOAccount, Integer, Hash)>] SSIOAccount data, response status code and response headers
    def ssio_accounts_get_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_accounts_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_accounts_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_accounts_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_accounts_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/accounts'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SSIOAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create insertion order through SSIO.
    #   Create insertion order through SSIO for `ad_account_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ssio_insertion_order_create [SSIOInsertionOrderCreate] 
    # @param [Hash] opts the optional parameters
    # @return [SSIOInsertionOrder]
    def ssio_insertion_order_create(ad_account_id, ssio_insertion_order_create, opts = {})
      data, _status_code, _headers = ssio_insertion_order_create_with_http_info(ad_account_id, ssio_insertion_order_create, opts)
      data
    end

    # Create insertion order through SSIO.
    #   Create insertion order through SSIO for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ssio_insertion_order_create [SSIOInsertionOrderCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSIOInsertionOrder, Integer, Hash)>] SSIOInsertionOrder data, response status code and response headers
    def ssio_insertion_order_create_with_http_info(ad_account_id, ssio_insertion_order_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_insertion_order_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_insertion_order_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_insertion_order_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_insertion_order_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ssio_insertion_order_create' is set
      if @api_client.config.client_side_validation && ssio_insertion_order_create.nil?
        fail ArgumentError, "Missing the required parameter 'ssio_insertion_order_create' when calling BillingApi.ssio_insertion_order_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/insertion_orders'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ssio_insertion_order_create)

      # return_type
      return_type = opts[:debug_return_type] || 'SSIOInsertionOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_insertion_order_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_insertion_order_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit insertion order through SSIO.
    #   Edit insertion order through SSIO for `ad_account_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ssio_insertion_order_update [SSIOInsertionOrderUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [SSIOInsertionOrder]
    def ssio_insertion_order_edit(ad_account_id, ssio_insertion_order_update, opts = {})
      data, _status_code, _headers = ssio_insertion_order_edit_with_http_info(ad_account_id, ssio_insertion_order_update, opts)
      data
    end

    # Edit insertion order through SSIO.
    #   Edit insertion order through SSIO for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ssio_insertion_order_update [SSIOInsertionOrderUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSIOInsertionOrder, Integer, Hash)>] SSIOInsertionOrder data, response status code and response headers
    def ssio_insertion_order_edit_with_http_info(ad_account_id, ssio_insertion_order_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_insertion_order_edit ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_insertion_order_edit"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_insertion_order_edit, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_insertion_order_edit, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ssio_insertion_order_update' is set
      if @api_client.config.client_side_validation && ssio_insertion_order_update.nil?
        fail ArgumentError, "Missing the required parameter 'ssio_insertion_order_update' when calling BillingApi.ssio_insertion_order_edit"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/insertion_orders'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ssio_insertion_order_update)

      # return_type
      return_type = opts[:debug_return_type] || 'SSIOInsertionOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_insertion_order_edit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_insertion_order_edit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get insertion order status by ad account id.
    #   Get insertion order status for `ad_account_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [SsioInsertionOrdersStatusGetByAdAccount200Response]
    def ssio_insertion_orders_status_get_by_ad_account(ad_account_id, opts = {})
      data, _status_code, _headers = ssio_insertion_orders_status_get_by_ad_account_with_http_info(ad_account_id, opts)
      data
    end

    # Get insertion order status by ad account id.
    #   Get insertion order status for &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(SsioInsertionOrdersStatusGetByAdAccount200Response, Integer, Hash)>] SsioInsertionOrdersStatusGetByAdAccount200Response data, response status code and response headers
    def ssio_insertion_orders_status_get_by_ad_account_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_insertion_orders_status_get_by_ad_account ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_insertion_orders_status_get_by_ad_account"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_insertion_orders_status_get_by_ad_account, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_insertion_orders_status_get_by_ad_account, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ssio_insertion_orders_status_get_by_ad_account, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ssio_insertion_orders_status_get_by_ad_account, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/insertion_orders/status'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SsioInsertionOrdersStatusGetByAdAccount200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_insertion_orders_status_get_by_ad_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_insertion_orders_status_get_by_ad_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get insertion order status by pin order id.
    #   Get insertion order status for `pin_order_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param pin_order_id [String] The pin order id associated with the ssio insertion order
    # @param [Hash] opts the optional parameters
    # @return [SSIOInsertionOrderStatusResponse]
    def ssio_insertion_orders_status_get_by_pin_order_id(ad_account_id, pin_order_id, opts = {})
      data, _status_code, _headers = ssio_insertion_orders_status_get_by_pin_order_id_with_http_info(ad_account_id, pin_order_id, opts)
      data
    end

    # Get insertion order status by pin order id.
    #   Get insertion order status for &#x60;pin_order_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param pin_order_id [String] The pin order id associated with the ssio insertion order
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSIOInsertionOrderStatusResponse, Integer, Hash)>] SSIOInsertionOrderStatusResponse data, response status code and response headers
    def ssio_insertion_orders_status_get_by_pin_order_id_with_http_info(ad_account_id, pin_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_insertion_orders_status_get_by_pin_order_id ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_insertion_orders_status_get_by_pin_order_id"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_insertion_orders_status_get_by_pin_order_id, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_insertion_orders_status_get_by_pin_order_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pin_order_id' is set
      if @api_client.config.client_side_validation && pin_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'pin_order_id' when calling BillingApi.ssio_insertion_orders_status_get_by_pin_order_id"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s)).sub('{pin_order_id}', CGI.escape(pin_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SSIOInsertionOrderStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_insertion_orders_status_get_by_pin_order_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_insertion_orders_status_get_by_pin_order_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Salesforce order lines by ad account id.
    #   Get Salesforce order lines for account id `ad_account_id`.   - The token's `user_account` must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :pin_order_id The pin order id associated with the SSIO insertion order
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [SsioOrderLinesGetByAdAccount200Response]
    def ssio_order_lines_get_by_ad_account(ad_account_id, opts = {})
      data, _status_code, _headers = ssio_order_lines_get_by_ad_account_with_http_info(ad_account_id, opts)
      data
    end

    # Get Salesforce order lines by ad account id.
    #   Get Salesforce order lines for account id &#x60;ad_account_id&#x60;.   - The token&#39;s &#x60;user_account&#x60; must either be the owner of the specified ad account, or have one of the necessary roles granted via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :pin_order_id The pin order id associated with the SSIO insertion order
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(SsioOrderLinesGetByAdAccount200Response, Integer, Hash)>] SsioOrderLinesGetByAdAccount200Response data, response status code and response headers
    def ssio_order_lines_get_by_ad_account_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_order_lines_get_by_ad_account ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_order_lines_get_by_ad_account"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_order_lines_get_by_ad_account, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_order_lines_get_by_ad_account, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ssio_order_lines_get_by_ad_account, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ssio_order_lines_get_by_ad_account, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/order_lines'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pin_order_id'] = opts[:'pin_order_id'] if !opts[:'pin_order_id'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SsioOrderLinesGetByAdAccount200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_order_lines_get_by_ad_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_order_lines_get_by_ad_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
