=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Redeem ad credits
    # Redeem ads credit on behalf of the ad account id and apply it towards billing.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ads_credit_redeem_request [AdsCreditRedeemRequest] Redeem ad credits request.
    # @param [Hash] opts the optional parameters
    # @return [AdsCreditRedeemResponse]
    def ads_credit_redeem(ad_account_id, ads_credit_redeem_request, opts = {})
      data, _status_code, _headers = ads_credit_redeem_with_http_info(ad_account_id, ads_credit_redeem_request, opts)
      data
    end

    # Redeem ad credits
    # Redeem ads credit on behalf of the ad account id and apply it towards billing.  &lt;strong&gt;This endpoint might not be available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/using-beta-and-restricted-features/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ads_credit_redeem_request [AdsCreditRedeemRequest] Redeem ad credits request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdsCreditRedeemResponse, Integer, Hash)>] AdsCreditRedeemResponse data, response status code and response headers
    def ads_credit_redeem_with_http_info(ad_account_id, ads_credit_redeem_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ads_credit_redeem ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ads_credit_redeem"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ads_credit_redeem, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ads_credit_redeem, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ads_credit_redeem_request' is set
      if @api_client.config.client_side_validation && ads_credit_redeem_request.nil?
        fail ArgumentError, "Missing the required parameter 'ads_credit_redeem_request' when calling BillingApi.ads_credit_redeem"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ads_credit/redeem'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ads_credit_redeem_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdsCreditRedeemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ads_credit_redeem",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ads_credit_redeem\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ads credit discounts
    # Returns the list of discounts applied to the account.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [AdsCreditsDiscountsGet200Response]
    def ads_credits_discounts_get(ad_account_id, opts = {})
      data, _status_code, _headers = ads_credits_discounts_get_with_http_info(ad_account_id, opts)
      data
    end

    # Get ads credit discounts
    # Returns the list of discounts applied to the account.  &lt;strong&gt;This endpoint might not be available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/using-beta-and-restricted-features/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [Array<(AdsCreditsDiscountsGet200Response, Integer, Hash)>] AdsCreditsDiscountsGet200Response data, response status code and response headers
    def ads_credits_discounts_get_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ads_credits_discounts_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ads_credits_discounts_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ads_credits_discounts_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ads_credits_discounts_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ads_credits_discounts_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ads_credits_discounts_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ads_credit/discounts'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdsCreditsDiscountsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ads_credits_discounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ads_credits_discounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get download url for a billing invoice
    # Get download url for a billing invoice.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param billing_invoice_id [String] Unique identifier of a billing invoice.
    # @param [Hash] opts the optional parameters
    # @return [BillingInvoiceDownloadResponse]
    def billing_invoice_download_get(ad_account_id, billing_invoice_id, opts = {})
      data, _status_code, _headers = billing_invoice_download_get_with_http_info(ad_account_id, billing_invoice_id, opts)
      data
    end

    # Get download url for a billing invoice
    # Get download url for a billing invoice.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param billing_invoice_id [String] Unique identifier of a billing invoice.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillingInvoiceDownloadResponse, Integer, Hash)>] BillingInvoiceDownloadResponse data, response status code and response headers
    def billing_invoice_download_get_with_http_info(ad_account_id, billing_invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.billing_invoice_download_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.billing_invoice_download_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.billing_invoice_download_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.billing_invoice_download_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'billing_invoice_id' is set
      if @api_client.config.client_side_validation && billing_invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'billing_invoice_id' when calling BillingApi.billing_invoice_download_get"
      end
      if @api_client.config.client_side_validation && billing_invoice_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "billing_invoice_id" when calling BillingApi.billing_invoice_download_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && billing_invoice_id !~ pattern
        fail ArgumentError, "invalid value for 'billing_invoice_id' when calling BillingApi.billing_invoice_download_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'billing_invoice_id' + '}', CGI.escape(billing_invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingInvoiceDownloadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.billing_invoice_download_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#billing_invoice_download_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get billing invoices
    # Get billing invoices in the advertiser account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :sort Field of which to sort billing invoices (default to 'DUE_DATE')
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [String] :status Status of billing invoices to filter by
    # @option opts [String] :document_type Document type of billing invoices to filter by
    # @option opts [Date] :start_due_date Starting point for due dates when searching for invoices. Format: YYYY-MM-DD
    # @option opts [Date] :end_due_date Ending point for due dates when searching for invoices. Format: YYYY-MM-DD
    # @return [BillingInvoicesGet200Response]
    def billing_invoices_get(ad_account_id, opts = {})
      data, _status_code, _headers = billing_invoices_get_with_http_info(ad_account_id, opts)
      data
    end

    # Get billing invoices
    # Get billing invoices in the advertiser account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :sort Field of which to sort billing invoices (default to 'DUE_DATE')
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [String] :status Status of billing invoices to filter by
    # @option opts [String] :document_type Document type of billing invoices to filter by
    # @option opts [Date] :start_due_date Starting point for due dates when searching for invoices. Format: YYYY-MM-DD
    # @option opts [Date] :end_due_date Ending point for due dates when searching for invoices. Format: YYYY-MM-DD
    # @return [Array<(BillingInvoicesGet200Response, Integer, Hash)>] BillingInvoicesGet200Response data, response status code and response headers
    def billing_invoices_get_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.billing_invoices_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.billing_invoices_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.billing_invoices_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.billing_invoices_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.billing_invoices_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.billing_invoices_get, must be greater than or equal to 1.'
      end

      allowable_values = ["DUE_DATE", "BILLING_PERIOD", "DOCUMENT_TYPE", "TOTAL_AMOUNT", "INVOICE_NUMBER"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      allowable_values = ["ASCENDING", "DESCENDING"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      allowable_values = ["OPEN", "CLOSED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["INVOICE", "CREDIT_MEMO"]
      if @api_client.config.client_side_validation && opts[:'document_type'] && !allowable_values.include?(opts[:'document_type'])
        fail ArgumentError, "invalid value for \"document_type\", must be one of #{allowable_values}"
      end
      pattern = Regexp.new(/^(\d{4})-(\d{2})-(\d{2})$/)
      if @api_client.config.client_side_validation && !opts[:'start_due_date'].nil? && opts[:'start_due_date'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"start_due_date\"]' when calling BillingApi.billing_invoices_get, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^(\d{4})-(\d{2})-(\d{2})$/)
      if @api_client.config.client_side_validation && !opts[:'end_due_date'].nil? && opts[:'end_due_date'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"end_due_date\"]' when calling BillingApi.billing_invoices_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/billing_invoices'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'document_type'] = opts[:'document_type'] if !opts[:'document_type'].nil?
      query_params[:'start_due_date'] = opts[:'start_due_date'] if !opts[:'start_due_date'].nil?
      query_params[:'end_due_date'] = opts[:'end_due_date'] if !opts[:'end_due_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingInvoicesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.billing_invoices_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#billing_invoices_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get billing profiles
    # Get billing profiles in the advertiser account.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param is_active [Boolean] Return active billing profiles, if false return all billing profiles.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [BillingProfilesGet200Response]
    def billing_profiles_get(ad_account_id, is_active, opts = {})
      data, _status_code, _headers = billing_profiles_get_with_http_info(ad_account_id, is_active, opts)
      data
    end

    # Get billing profiles
    # Get billing profiles in the advertiser account.  &lt;strong&gt;This endpoint might not be available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/using-beta-and-restricted-features/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param is_active [Boolean] Return active billing profiles, if false return all billing profiles.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [Array<(BillingProfilesGet200Response, Integer, Hash)>] BillingProfilesGet200Response data, response status code and response headers
    def billing_profiles_get_with_http_info(ad_account_id, is_active, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.billing_profiles_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.billing_profiles_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.billing_profiles_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.billing_profiles_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'is_active' is set
      if @api_client.config.client_side_validation && is_active.nil?
        fail ArgumentError, "Missing the required parameter 'is_active' when calling BillingApi.billing_profiles_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.billing_profiles_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.billing_profiles_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/billing_profiles'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'is_active'] = is_active
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingProfilesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.billing_profiles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#billing_profiles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Salesforce account details including bill-to information.
    # Get Salesforce account details including bill-to information to be used in insertion orders process for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [SSIOAccountResponse]
    def ssio_accounts_get(ad_account_id, opts = {})
      data, _status_code, _headers = ssio_accounts_get_with_http_info(ad_account_id, opts)
      data
    end

    # Get Salesforce account details including bill-to information.
    # Get Salesforce account details including bill-to information to be used in insertion orders process for &lt;code&gt;ad_account_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSIOAccountResponse, Integer, Hash)>] SSIOAccountResponse data, response status code and response headers
    def ssio_accounts_get_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_accounts_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_accounts_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_accounts_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_accounts_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/accounts'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SSIOAccountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create insertion order through SSIO.
    # Create insertion order through SSIO for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ssio_create_insertion_order_request [SSIOCreateInsertionOrderRequest] Order line to create.
    # @param [Hash] opts the optional parameters
    # @return [SSIOCreateInsertionOrderResponse]
    def ssio_insertion_order_create(ad_account_id, ssio_create_insertion_order_request, opts = {})
      data, _status_code, _headers = ssio_insertion_order_create_with_http_info(ad_account_id, ssio_create_insertion_order_request, opts)
      data
    end

    # Create insertion order through SSIO.
    # Create insertion order through SSIO for &lt;code&gt;ad_account_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ssio_create_insertion_order_request [SSIOCreateInsertionOrderRequest] Order line to create.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSIOCreateInsertionOrderResponse, Integer, Hash)>] SSIOCreateInsertionOrderResponse data, response status code and response headers
    def ssio_insertion_order_create_with_http_info(ad_account_id, ssio_create_insertion_order_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_insertion_order_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_insertion_order_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_insertion_order_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_insertion_order_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ssio_create_insertion_order_request' is set
      if @api_client.config.client_side_validation && ssio_create_insertion_order_request.nil?
        fail ArgumentError, "Missing the required parameter 'ssio_create_insertion_order_request' when calling BillingApi.ssio_insertion_order_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/insertion_orders'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ssio_create_insertion_order_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SSIOCreateInsertionOrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_insertion_order_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_insertion_order_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit insertion order through SSIO.
    # Edit insertion order through SSIO for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ssio_edit_insertion_order_request [SSIOEditInsertionOrderRequest] Order line to create.
    # @param [Hash] opts the optional parameters
    # @return [SSIOEditInsertionOrderResponse]
    def ssio_insertion_order_edit(ad_account_id, ssio_edit_insertion_order_request, opts = {})
      data, _status_code, _headers = ssio_insertion_order_edit_with_http_info(ad_account_id, ssio_edit_insertion_order_request, opts)
      data
    end

    # Edit insertion order through SSIO.
    # Edit insertion order through SSIO for &lt;code&gt;ad_account_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param ssio_edit_insertion_order_request [SSIOEditInsertionOrderRequest] Order line to create.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSIOEditInsertionOrderResponse, Integer, Hash)>] SSIOEditInsertionOrderResponse data, response status code and response headers
    def ssio_insertion_order_edit_with_http_info(ad_account_id, ssio_edit_insertion_order_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_insertion_order_edit ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_insertion_order_edit"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_insertion_order_edit, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_insertion_order_edit, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ssio_edit_insertion_order_request' is set
      if @api_client.config.client_side_validation && ssio_edit_insertion_order_request.nil?
        fail ArgumentError, "Missing the required parameter 'ssio_edit_insertion_order_request' when calling BillingApi.ssio_insertion_order_edit"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/insertion_orders'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ssio_edit_insertion_order_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SSIOEditInsertionOrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_insertion_order_edit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_insertion_order_edit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get insertion order status by ad account id.
    # Get insertion order status for account id <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [SsioInsertionOrdersStatusGetByAdAccount200Response]
    def ssio_insertion_orders_status_get_by_ad_account(ad_account_id, opts = {})
      data, _status_code, _headers = ssio_insertion_orders_status_get_by_ad_account_with_http_info(ad_account_id, opts)
      data
    end

    # Get insertion order status by ad account id.
    # Get insertion order status for account id &lt;code&gt;ad_account_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [Array<(SsioInsertionOrdersStatusGetByAdAccount200Response, Integer, Hash)>] SsioInsertionOrdersStatusGetByAdAccount200Response data, response status code and response headers
    def ssio_insertion_orders_status_get_by_ad_account_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_insertion_orders_status_get_by_ad_account ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_insertion_orders_status_get_by_ad_account"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_insertion_orders_status_get_by_ad_account, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_insertion_orders_status_get_by_ad_account, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ssio_insertion_orders_status_get_by_ad_account, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ssio_insertion_orders_status_get_by_ad_account, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/insertion_orders/status'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SsioInsertionOrdersStatusGetByAdAccount200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_insertion_orders_status_get_by_ad_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_insertion_orders_status_get_by_ad_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get insertion order status by pin order id.
    # Get insertion order status for pin order id <code>pin_order_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param pin_order_id [String] The pin order id associated with the ssio insertion order
    # @param [Hash] opts the optional parameters
    # @return [SSIOInsertionOrderStatusResponse]
    def ssio_insertion_orders_status_get_by_pin_order_id(ad_account_id, pin_order_id, opts = {})
      data, _status_code, _headers = ssio_insertion_orders_status_get_by_pin_order_id_with_http_info(ad_account_id, pin_order_id, opts)
      data
    end

    # Get insertion order status by pin order id.
    # Get insertion order status for pin order id &lt;code&gt;pin_order_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param pin_order_id [String] The pin order id associated with the ssio insertion order
    # @param [Hash] opts the optional parameters
    # @return [Array<(SSIOInsertionOrderStatusResponse, Integer, Hash)>] SSIOInsertionOrderStatusResponse data, response status code and response headers
    def ssio_insertion_orders_status_get_by_pin_order_id_with_http_info(ad_account_id, pin_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_insertion_orders_status_get_by_pin_order_id ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_insertion_orders_status_get_by_pin_order_id"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_insertion_orders_status_get_by_pin_order_id, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_insertion_orders_status_get_by_pin_order_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pin_order_id' is set
      if @api_client.config.client_side_validation && pin_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'pin_order_id' when calling BillingApi.ssio_insertion_orders_status_get_by_pin_order_id"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'pin_order_id' + '}', CGI.escape(pin_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SSIOInsertionOrderStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_insertion_orders_status_get_by_pin_order_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_insertion_orders_status_get_by_pin_order_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Salesforce order lines by ad account id.
    # Get Salesforce order lines for account id <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :pin_order_id The pin order id associated with the ssio insertino order
    # @return [SsioOrderLinesGetByAdAccount200Response]
    def ssio_order_lines_get_by_ad_account(ad_account_id, opts = {})
      data, _status_code, _headers = ssio_order_lines_get_by_ad_account_with_http_info(ad_account_id, opts)
      data
    end

    # Get Salesforce order lines by ad account id.
    # Get Salesforce order lines for account id &lt;code&gt;ad_account_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :pin_order_id The pin order id associated with the ssio insertino order
    # @return [Array<(SsioOrderLinesGetByAdAccount200Response, Integer, Hash)>] SsioOrderLinesGetByAdAccount200Response data, response status code and response headers
    def ssio_order_lines_get_by_ad_account_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.ssio_order_lines_get_by_ad_account ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BillingApi.ssio_order_lines_get_by_ad_account"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BillingApi.ssio_order_lines_get_by_ad_account, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BillingApi.ssio_order_lines_get_by_ad_account, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ssio_order_lines_get_by_ad_account, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BillingApi.ssio_order_lines_get_by_ad_account, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/ssio/order_lines'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pin_order_id'] = opts[:'pin_order_id'] if !opts[:'pin_order_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SsioOrderLinesGetByAdAccount200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BillingApi.ssio_order_lines_get_by_ad_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#ssio_order_lines_get_by_ad_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
