=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class BoardsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create board section
    # Create a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param board_section_create [BoardSectionCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [BoardSection]
    def board_sections_create(board_id, board_section_create, opts = {})
      data, _status_code, _headers = board_sections_create_with_http_info(board_id, board_section_create, opts)
      data
    end

    # Create board section
    # Create a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param board_section_create [BoardSectionCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(BoardSection, Integer, Hash)>] BoardSection data, response status code and response headers
    def board_sections_create_with_http_info(board_id, board_section_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.board_sections_create ...'
      end
      # verify the required parameter 'board_id' is set
      if @api_client.config.client_side_validation && board_id.nil?
        fail ArgumentError, "Missing the required parameter 'board_id' when calling BoardsApi.board_sections_create"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && board_id !~ pattern
        fail ArgumentError, "invalid value for 'board_id' when calling BoardsApi.board_sections_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'board_section_create' is set
      if @api_client.config.client_side_validation && board_section_create.nil?
        fail ArgumentError, "Missing the required parameter 'board_section_create' when calling BoardsApi.board_sections_create"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.board_sections_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.board_sections_create, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/boards/{board_id}/sections'.sub('{board_id}', CGI.escape(board_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(board_section_create)

      # return_type
      return_type = opts[:debug_return_type] || 'BoardSection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BoardsApi.board_sections_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#board_sections_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete board section
    # Delete a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param section_id [String] Unique identifier of a board section.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [BoardSection]
    def board_sections_delete(board_id, section_id, opts = {})
      data, _status_code, _headers = board_sections_delete_with_http_info(board_id, section_id, opts)
      data
    end

    # Delete board section
    # Delete a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param section_id [String] Unique identifier of a board section.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(BoardSection, Integer, Hash)>] BoardSection data, response status code and response headers
    def board_sections_delete_with_http_info(board_id, section_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.board_sections_delete ...'
      end
      # verify the required parameter 'board_id' is set
      if @api_client.config.client_side_validation && board_id.nil?
        fail ArgumentError, "Missing the required parameter 'board_id' when calling BoardsApi.board_sections_delete"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && board_id !~ pattern
        fail ArgumentError, "invalid value for 'board_id' when calling BoardsApi.board_sections_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling BoardsApi.board_sections_delete"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && section_id !~ pattern
        fail ArgumentError, "invalid value for 'section_id' when calling BoardsApi.board_sections_delete, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.board_sections_delete, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.board_sections_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/boards/{board_id}/sections/{section_id}'.sub('{board_id}', CGI.escape(board_id.to_s)).sub('{section_id}', CGI.escape(section_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BoardSection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BoardsApi.board_sections_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#board_sections_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List board sections
    # Get a list of all board sections from a board owned by the \"operation user_account\" - or a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [BoardSectionsList200Response]
    def board_sections_list(board_id, opts = {})
      data, _status_code, _headers = board_sections_list_with_http_info(board_id, opts)
      data
    end

    # List board sections
    # Get a list of all board sections from a board owned by the \&quot;operation user_account\&quot; - or a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(BoardSectionsList200Response, Integer, Hash)>] BoardSectionsList200Response data, response status code and response headers
    def board_sections_list_with_http_info(board_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.board_sections_list ...'
      end
      # verify the required parameter 'board_id' is set
      if @api_client.config.client_side_validation && board_id.nil?
        fail ArgumentError, "Missing the required parameter 'board_id' when calling BoardsApi.board_sections_list"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && board_id !~ pattern
        fail ArgumentError, "invalid value for 'board_id' when calling BoardsApi.board_sections_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.board_sections_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.board_sections_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BoardsApi.board_sections_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BoardsApi.board_sections_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/boards/{board_id}/sections'.sub('{board_id}', CGI.escape(board_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BoardSectionsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"BoardsApi.board_sections_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#board_sections_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Pins on board section
    # Get a list of the Pins on a board section of a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param section_id [String] Unique identifier of a board section.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [BoardsListPins200Response]
    def board_sections_list_pins(board_id, section_id, opts = {})
      data, _status_code, _headers = board_sections_list_pins_with_http_info(board_id, section_id, opts)
      data
    end

    # List Pins on board section
    # Get a list of the Pins on a board section of a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param section_id [String] Unique identifier of a board section.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(BoardsListPins200Response, Integer, Hash)>] BoardsListPins200Response data, response status code and response headers
    def board_sections_list_pins_with_http_info(board_id, section_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.board_sections_list_pins ...'
      end
      # verify the required parameter 'board_id' is set
      if @api_client.config.client_side_validation && board_id.nil?
        fail ArgumentError, "Missing the required parameter 'board_id' when calling BoardsApi.board_sections_list_pins"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && board_id !~ pattern
        fail ArgumentError, "invalid value for 'board_id' when calling BoardsApi.board_sections_list_pins, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling BoardsApi.board_sections_list_pins"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && section_id !~ pattern
        fail ArgumentError, "invalid value for 'section_id' when calling BoardsApi.board_sections_list_pins, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.board_sections_list_pins, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.board_sections_list_pins, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BoardsApi.board_sections_list_pins, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BoardsApi.board_sections_list_pins, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/boards/{board_id}/sections/{section_id}/pins'.sub('{board_id}', CGI.escape(board_id.to_s)).sub('{section_id}', CGI.escape(section_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BoardsListPins200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"BoardsApi.board_sections_list_pins",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#board_sections_list_pins\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update board section
    # Update a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param section_id [String] Unique identifier of a board section.
    # @param board_section_update_with_required_body [BoardSectionUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [BoardSection]
    def board_sections_update(board_id, section_id, board_section_update_with_required_body, opts = {})
      data, _status_code, _headers = board_sections_update_with_http_info(board_id, section_id, board_section_update_with_required_body, opts)
      data
    end

    # Update board section
    # Update a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param section_id [String] Unique identifier of a board section.
    # @param board_section_update_with_required_body [BoardSectionUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(BoardSection, Integer, Hash)>] BoardSection data, response status code and response headers
    def board_sections_update_with_http_info(board_id, section_id, board_section_update_with_required_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.board_sections_update ...'
      end
      # verify the required parameter 'board_id' is set
      if @api_client.config.client_side_validation && board_id.nil?
        fail ArgumentError, "Missing the required parameter 'board_id' when calling BoardsApi.board_sections_update"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && board_id !~ pattern
        fail ArgumentError, "invalid value for 'board_id' when calling BoardsApi.board_sections_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling BoardsApi.board_sections_update"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && section_id !~ pattern
        fail ArgumentError, "invalid value for 'section_id' when calling BoardsApi.board_sections_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'board_section_update_with_required_body' is set
      if @api_client.config.client_side_validation && board_section_update_with_required_body.nil?
        fail ArgumentError, "Missing the required parameter 'board_section_update_with_required_body' when calling BoardsApi.board_sections_update"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.board_sections_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.board_sections_update, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/boards/{board_id}/sections/{section_id}'.sub('{board_id}', CGI.escape(board_id.to_s)).sub('{section_id}', CGI.escape(section_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(board_section_update_with_required_body)

      # return_type
      return_type = opts[:debug_return_type] || 'BoardSection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BoardsApi.board_sections_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#board_sections_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create board
    # Create a board owned by the \"operation user_account\". Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.
    # @param board_create [BoardCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Board]
    def boards_create(board_create, opts = {})
      data, _status_code, _headers = boards_create_with_http_info(board_create, opts)
      data
    end

    # Create board
    # Create a board owned by the \&quot;operation user_account\&quot;. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
    # @param board_create [BoardCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(Board, Integer, Hash)>] Board data, response status code and response headers
    def boards_create_with_http_info(board_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.boards_create ...'
      end
      # verify the required parameter 'board_create' is set
      if @api_client.config.client_side_validation && board_create.nil?
        fail ArgumentError, "Missing the required parameter 'board_create' when calling BoardsApi.boards_create"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.boards_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.boards_create, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/boards'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(board_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Board'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"BoardsApi.boards_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#boards_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete board
    # Delete a board owned by the \"operation user_account\". * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.
    # @param board_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Board]
    def boards_delete(board_id, opts = {})
      data, _status_code, _headers = boards_delete_with_http_info(board_id, opts)
      data
    end

    # Delete board
    # Delete a board owned by the \&quot;operation user_account\&quot;. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
    # @param board_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(Board, Integer, Hash)>] Board data, response status code and response headers
    def boards_delete_with_http_info(board_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.boards_delete ...'
      end
      # verify the required parameter 'board_id' is set
      if @api_client.config.client_side_validation && board_id.nil?
        fail ArgumentError, "Missing the required parameter 'board_id' when calling BoardsApi.boards_delete"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && board_id !~ pattern
        fail ArgumentError, "invalid value for 'board_id' when calling BoardsApi.boards_delete, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.boards_delete, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.boards_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/boards/{board_id}'.sub('{board_id}', CGI.escape(board_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Board'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BoardsApi.boards_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#boards_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get board
    # Get a board owned by the operation user_account - or a group board that has been shared with this account. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.
    # @param board_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Board]
    def boards_get(board_id, opts = {})
      data, _status_code, _headers = boards_get_with_http_info(board_id, opts)
      data
    end

    # Get board
    # Get a board owned by the operation user_account - or a group board that has been shared with this account. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
    # @param board_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(Board, Integer, Hash)>] Board data, response status code and response headers
    def boards_get_with_http_info(board_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.boards_get ...'
      end
      # verify the required parameter 'board_id' is set
      if @api_client.config.client_side_validation && board_id.nil?
        fail ArgumentError, "Missing the required parameter 'board_id' when calling BoardsApi.boards_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && board_id !~ pattern
        fail ArgumentError, "invalid value for 'board_id' when calling BoardsApi.boards_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.boards_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.boards_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/boards/{board_id}'.sub('{board_id}', CGI.escape(board_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Board'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"BoardsApi.boards_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#boards_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List boards
    # Get a list of the boards owned by the \"operation user_account\" + group boards where this account is a collaborator Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". Optional: Specify a privacy type (public, protected, or secret) to indicate which boards to return. * If no privacy is specified, all boards that can be returned (based on the scopes of the token and ad_account role if applicable) will be returned.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [BoardPrivacyFilter] :privacy The privacy level of the board
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [BoardsList200Response]
    def boards_list(opts = {})
      data, _status_code, _headers = boards_list_with_http_info(opts)
      data
    end

    # List boards
    # Get a list of the boards owned by the \&quot;operation user_account\&quot; + group boards where this account is a collaborator Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. Optional: Specify a privacy type (public, protected, or secret) to indicate which boards to return. * If no privacy is specified, all boards that can be returned (based on the scopes of the token and ad_account role if applicable) will be returned.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [BoardPrivacyFilter] :privacy The privacy level of the board
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(BoardsList200Response, Integer, Hash)>] BoardsList200Response data, response status code and response headers
    def boards_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.boards_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.boards_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.boards_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BoardsApi.boards_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BoardsApi.boards_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/boards'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'privacy'] = opts[:'privacy'] if !opts[:'privacy'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BoardsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"BoardsApi.boards_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#boards_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Pins on board
    # Get a list of the Pins on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. - Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<CreativeType>] :creative_types Pin creative types filter. **Note:** SHOP_THE_PIN has been deprecated. Please use COLLECTION instead.
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [Boolean] :pin_metrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (default to false)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [BoardsListPins200Response]
    def boards_list_pins(board_id, opts = {})
      data, _status_code, _headers = boards_list_pins_with_http_info(board_id, opts)
      data
    end

    # List Pins on board
    # Get a list of the Pins on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. - Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
    # @param board_id [String] Unique identifier of a board.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<CreativeType>] :creative_types Pin creative types filter. **Note:** SHOP_THE_PIN has been deprecated. Please use COLLECTION instead.
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [Boolean] :pin_metrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (default to false)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(BoardsListPins200Response, Integer, Hash)>] BoardsListPins200Response data, response status code and response headers
    def boards_list_pins_with_http_info(board_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.boards_list_pins ...'
      end
      # verify the required parameter 'board_id' is set
      if @api_client.config.client_side_validation && board_id.nil?
        fail ArgumentError, "Missing the required parameter 'board_id' when calling BoardsApi.boards_list_pins"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && board_id !~ pattern
        fail ArgumentError, "invalid value for 'board_id' when calling BoardsApi.boards_list_pins, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.boards_list_pins, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.boards_list_pins, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BoardsApi.boards_list_pins, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BoardsApi.boards_list_pins, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/boards/{board_id}/pins'.sub('{board_id}', CGI.escape(board_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'creative_types'] = @api_client.build_collection_param(opts[:'creative_types'], :multi) if !opts[:'creative_types'].nil?
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'pin_metrics'] = opts[:'pin_metrics'] if !opts[:'pin_metrics'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BoardsListPins200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"BoardsApi.boards_list_pins",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#boards_list_pins\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update board
    # Update a board owned by the \"operating user_account\". * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.
    # @param board_id [String] 
    # @param board_with_update_privacy_update [BoardWithUpdatePrivacyUpdate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [BoardWithUpdatePrivacy]
    def boards_update(board_id, board_with_update_privacy_update, opts = {})
      data, _status_code, _headers = boards_update_with_http_info(board_id, board_with_update_privacy_update, opts)
      data
    end

    # Update board
    # Update a board owned by the \&quot;operating user_account\&quot;. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
    # @param board_id [String] 
    # @param board_with_update_privacy_update [BoardWithUpdatePrivacyUpdate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(BoardWithUpdatePrivacy, Integer, Hash)>] BoardWithUpdatePrivacy data, response status code and response headers
    def boards_update_with_http_info(board_id, board_with_update_privacy_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoardsApi.boards_update ...'
      end
      # verify the required parameter 'board_id' is set
      if @api_client.config.client_side_validation && board_id.nil?
        fail ArgumentError, "Missing the required parameter 'board_id' when calling BoardsApi.boards_update"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && board_id !~ pattern
        fail ArgumentError, "invalid value for 'board_id' when calling BoardsApi.boards_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'board_with_update_privacy_update' is set
      if @api_client.config.client_side_validation && board_with_update_privacy_update.nil?
        fail ArgumentError, "Missing the required parameter 'board_with_update_privacy_update' when calling BoardsApi.boards_update"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling BoardsApi.boards_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling BoardsApi.boards_update, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/boards/{board_id}'.sub('{board_id}', CGI.escape(board_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(board_with_update_privacy_update)

      # return_type
      return_type = opts[:debug_return_type] || 'BoardWithUpdatePrivacy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"BoardsApi.boards_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoardsApi#boards_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
