=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class BulkApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get advertiser entities in bulk
    # Create an asynchronous report that may include information on campaigns, ad groups, product groups, ads, keywords, and/or labels; can filter by campaigns. Though the entities may be active, archived, or paused, only active entities will return data.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param bulk_download_request [BulkDownloadRequest] Parameters to get ad entities in bulk
    # @param [Hash] opts the optional parameters
    # @return [BulkDownloadResponse]
    def bulk_download_create(ad_account_id, bulk_download_request, opts = {})
      data, _status_code, _headers = bulk_download_create_with_http_info(ad_account_id, bulk_download_request, opts)
      data
    end

    # Get advertiser entities in bulk
    # Create an asynchronous report that may include information on campaigns, ad groups, product groups, ads, keywords, and/or labels; can filter by campaigns. Though the entities may be active, archived, or paused, only active entities will return data.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param bulk_download_request [BulkDownloadRequest] Parameters to get ad entities in bulk
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkDownloadResponse, Integer, Hash)>] BulkDownloadResponse data, response status code and response headers
    def bulk_download_create_with_http_info(ad_account_id, bulk_download_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkApi.bulk_download_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BulkApi.bulk_download_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BulkApi.bulk_download_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BulkApi.bulk_download_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'bulk_download_request' is set
      if @api_client.config.client_side_validation && bulk_download_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_download_request' when calling BulkApi.bulk_download_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/bulk/download'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_download_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkDownloadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BulkApi.bulk_download_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkApi#bulk_download_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download advertiser entities in bulk
    # Get the status of a bulk request by <code>request_id</code>, along with a download URL that will allow you to download the new or updated entity data (campaigns, ad groups, product groups, ads, or keywords).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param bulk_request_id [String] Unique identifier of a bulk upsert request.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_details if set to True then attach the errors/details to all the requests (default to false)
    # @return [BulkUpsertStatusResponse]
    def bulk_request_get(ad_account_id, bulk_request_id, opts = {})
      data, _status_code, _headers = bulk_request_get_with_http_info(ad_account_id, bulk_request_id, opts)
      data
    end

    # Download advertiser entities in bulk
    # Get the status of a bulk request by &lt;code&gt;request_id&lt;/code&gt;, along with a download URL that will allow you to download the new or updated entity data (campaigns, ad groups, product groups, ads, or keywords).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param bulk_request_id [String] Unique identifier of a bulk upsert request.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_details if set to True then attach the errors/details to all the requests (default to false)
    # @return [Array<(BulkUpsertStatusResponse, Integer, Hash)>] BulkUpsertStatusResponse data, response status code and response headers
    def bulk_request_get_with_http_info(ad_account_id, bulk_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkApi.bulk_request_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BulkApi.bulk_request_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BulkApi.bulk_request_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BulkApi.bulk_request_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'bulk_request_id' is set
      if @api_client.config.client_side_validation && bulk_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_request_id' when calling BulkApi.bulk_request_get"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/bulk/{bulk_request_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'bulk_request_id' + '}', CGI.escape(bulk_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_details'] = opts[:'include_details'] if !opts[:'include_details'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkUpsertStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"BulkApi.bulk_request_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkApi#bulk_request_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create/update ad entities in bulk
    # Either create or update any combination of campaigns, ad groups, product groups, ads, keywords, or labels. Note that this request will be processed asynchronously; the response will include a <code>request_id</code> that can be used to obtain the status of the request.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param bulk_upsert_request [BulkUpsertRequest] Parameters to get create/update ad entities in bulk
    # @param [Hash] opts the optional parameters
    # @return [BulkUpsertResponse]
    def bulk_upsert_create(ad_account_id, bulk_upsert_request, opts = {})
      data, _status_code, _headers = bulk_upsert_create_with_http_info(ad_account_id, bulk_upsert_request, opts)
      data
    end

    # Create/update ad entities in bulk
    # Either create or update any combination of campaigns, ad groups, product groups, ads, keywords, or labels. Note that this request will be processed asynchronously; the response will include a &lt;code&gt;request_id&lt;/code&gt; that can be used to obtain the status of the request.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param bulk_upsert_request [BulkUpsertRequest] Parameters to get create/update ad entities in bulk
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkUpsertResponse, Integer, Hash)>] BulkUpsertResponse data, response status code and response headers
    def bulk_upsert_create_with_http_info(ad_account_id, bulk_upsert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkApi.bulk_upsert_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling BulkApi.bulk_upsert_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling BulkApi.bulk_upsert_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling BulkApi.bulk_upsert_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'bulk_upsert_request' is set
      if @api_client.config.client_side_validation && bulk_upsert_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_upsert_request' when calling BulkApi.bulk_upsert_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/bulk/upsert'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_upsert_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkUpsertResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BulkApi.bulk_upsert_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkApi#bulk_upsert_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
