=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class BusinessAccessInviteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a request to access an existing partner's assets.
    # Create a request to access an existing partner's assets with the specified permissions. The request will be sent to the partner for approval. The assets that can be requested are ad accounts and profiles.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param create_asset_access_request_body [CreateAssetAccessRequestBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAssetAccessRequestResponse]
    def asset_access_requests_create(business_id, create_asset_access_request_body, opts = {})
      data, _status_code, _headers = asset_access_requests_create_with_http_info(business_id, create_asset_access_request_body, opts)
      data
    end

    # Create a request to access an existing partner&#39;s assets.
    # Create a request to access an existing partner&#39;s assets with the specified permissions. The request will be sent to the partner for approval. The assets that can be requested are ad accounts and profiles.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param create_asset_access_request_body [CreateAssetAccessRequestBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAssetAccessRequestResponse, Integer, Hash)>] CreateAssetAccessRequestResponse data, response status code and response headers
    def asset_access_requests_create_with_http_info(business_id, create_asset_access_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessInviteApi.asset_access_requests_create ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessInviteApi.asset_access_requests_create"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessInviteApi.asset_access_requests_create, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessInviteApi.asset_access_requests_create, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessInviteApi.asset_access_requests_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_asset_access_request_body' is set
      if @api_client.config.client_side_validation && create_asset_access_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_asset_access_request_body' when calling BusinessAccessInviteApi.asset_access_requests_create"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/requests/assets/access'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_asset_access_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAssetAccessRequestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessInviteApi.asset_access_requests_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessInviteApi#asset_access_requests_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel invites/requests
    # Cancel membership/partnership invites and/or requests.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param cancel_invites_request [CancelInvitesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CancelInvitesResponse]
    def cancel_invites_or_requests(business_id, cancel_invites_request, opts = {})
      data, _status_code, _headers = cancel_invites_or_requests_with_http_info(business_id, cancel_invites_request, opts)
      data
    end

    # Cancel invites/requests
    # Cancel membership/partnership invites and/or requests.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param cancel_invites_request [CancelInvitesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelInvitesResponse, Integer, Hash)>] CancelInvitesResponse data, response status code and response headers
    def cancel_invites_or_requests_with_http_info(business_id, cancel_invites_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessInviteApi.cancel_invites_or_requests ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessInviteApi.cancel_invites_or_requests"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessInviteApi.cancel_invites_or_requests, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessInviteApi.cancel_invites_or_requests, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'cancel_invites_request' is set
      if @api_client.config.client_side_validation && cancel_invites_request.nil?
        fail ArgumentError, "Missing the required parameter 'cancel_invites_request' when calling BusinessAccessInviteApi.cancel_invites_or_requests"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/invites'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cancel_invites_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CancelInvitesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessInviteApi.cancel_invites_or_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessInviteApi#cancel_invites_or_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update invite/request with an asset permission
    # Assign asset permissions information to an existing invite/request. Can be used to: - Request access to a partner's asset. Note: This is only for when no existing partnership exists. If an existing   partnership exists, use \"Create a request to access an existing partner's assets\" to request access to your   partner's assets.     - invite_type=\"PARTNER_REQUEST\" - Invite a partner to access your business assets. Note: This is only for when there is no existing partnership.   If there is an existing partnership, use \"Assign/Update partner asset permissions\" to assign a partner access to   new assets.     - invite_type=\"PARTNER_INVITE\" - Invite a member to access your business assets. Note: This is only for when there is no existing membership.   If there is an existing membership, use \"Assign/Update member asset permissions\" to assign a member access to new   assets.     - invite_type=\"MEMBER_INVITE\"  To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param create_asset_invites_request [CreateAssetInvitesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateInvitesResultsResponseArray]
    def create_asset_invites(business_id, create_asset_invites_request, opts = {})
      data, _status_code, _headers = create_asset_invites_with_http_info(business_id, create_asset_invites_request, opts)
      data
    end

    # Update invite/request with an asset permission
    # Assign asset permissions information to an existing invite/request. Can be used to: - Request access to a partner&#39;s asset. Note: This is only for when no existing partnership exists. If an existing   partnership exists, use \&quot;Create a request to access an existing partner&#39;s assets\&quot; to request access to your   partner&#39;s assets.     - invite_type&#x3D;\&quot;PARTNER_REQUEST\&quot; - Invite a partner to access your business assets. Note: This is only for when there is no existing partnership.   If there is an existing partnership, use \&quot;Assign/Update partner asset permissions\&quot; to assign a partner access to   new assets.     - invite_type&#x3D;\&quot;PARTNER_INVITE\&quot; - Invite a member to access your business assets. Note: This is only for when there is no existing membership.   If there is an existing membership, use \&quot;Assign/Update member asset permissions\&quot; to assign a member access to new   assets.     - invite_type&#x3D;\&quot;MEMBER_INVITE\&quot;  To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param create_asset_invites_request [CreateAssetInvitesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateInvitesResultsResponseArray, Integer, Hash)>] UpdateInvitesResultsResponseArray data, response status code and response headers
    def create_asset_invites_with_http_info(business_id, create_asset_invites_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessInviteApi.create_asset_invites ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessInviteApi.create_asset_invites"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessInviteApi.create_asset_invites, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessInviteApi.create_asset_invites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessInviteApi.create_asset_invites, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_asset_invites_request' is set
      if @api_client.config.client_side_validation && create_asset_invites_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_asset_invites_request' when calling BusinessAccessInviteApi.create_asset_invites"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/invites/assets/access'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_asset_invites_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateInvitesResultsResponseArray'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessInviteApi.create_asset_invites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessInviteApi#create_asset_invites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create invites or requests
    # Create batch invites or requests. Can create batch invites or requests as described below. - Invite members to join the business. This would required specifying the following:     - invite_type=\"MEMBER_INVITE\"     - business_role=\"EMPLOYEE\" OR business_role=\"BIZ_ADMIN\" (To learn more about business roles, visit     https://help.pinterest.com/en/business/article/profile-permissions-in-business-access.)     - members - Invite partners to access your business assets. This would require specifying the following:     - invite_type=\"PARTNER_INVITE\"     - business_role=\"PARTNER\"     - partners - Request to be a partner so you can access their assets. This would require specifying the following:     - invite_type=\"PARTNER_REQUEST\"     - business_role=\"PARTNER\"     - partners
    # @param business_id [String] Unique identifier of the requesting business.
    # @param create_membership_or_partnership_invites_body [CreateMembershipOrPartnershipInvitesBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateInvitesResultsResponseArray]
    def create_membership_or_partnership_invites(business_id, create_membership_or_partnership_invites_body, opts = {})
      data, _status_code, _headers = create_membership_or_partnership_invites_with_http_info(business_id, create_membership_or_partnership_invites_body, opts)
      data
    end

    # Create invites or requests
    # Create batch invites or requests. Can create batch invites or requests as described below. - Invite members to join the business. This would required specifying the following:     - invite_type&#x3D;\&quot;MEMBER_INVITE\&quot;     - business_role&#x3D;\&quot;EMPLOYEE\&quot; OR business_role&#x3D;\&quot;BIZ_ADMIN\&quot; (To learn more about business roles, visit     https://help.pinterest.com/en/business/article/profile-permissions-in-business-access.)     - members - Invite partners to access your business assets. This would require specifying the following:     - invite_type&#x3D;\&quot;PARTNER_INVITE\&quot;     - business_role&#x3D;\&quot;PARTNER\&quot;     - partners - Request to be a partner so you can access their assets. This would require specifying the following:     - invite_type&#x3D;\&quot;PARTNER_REQUEST\&quot;     - business_role&#x3D;\&quot;PARTNER\&quot;     - partners
    # @param business_id [String] Unique identifier of the requesting business.
    # @param create_membership_or_partnership_invites_body [CreateMembershipOrPartnershipInvitesBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInvitesResultsResponseArray, Integer, Hash)>] CreateInvitesResultsResponseArray data, response status code and response headers
    def create_membership_or_partnership_invites_with_http_info(business_id, create_membership_or_partnership_invites_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessInviteApi.create_membership_or_partnership_invites ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessInviteApi.create_membership_or_partnership_invites"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessInviteApi.create_membership_or_partnership_invites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessInviteApi.create_membership_or_partnership_invites, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_membership_or_partnership_invites_body' is set
      if @api_client.config.client_side_validation && create_membership_or_partnership_invites_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_membership_or_partnership_invites_body' when calling BusinessAccessInviteApi.create_membership_or_partnership_invites"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/invites'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_membership_or_partnership_invites_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInvitesResultsResponseArray'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessInviteApi.create_membership_or_partnership_invites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessInviteApi#create_membership_or_partnership_invites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get invites/requests
    # Get the membership/partnership invites and/or requests for the authorized user.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :is_member A boolean field to indicate whether the invite is to create a partnership or a membership. (default to true)
    # @option opts [Array<InviteFilterStatus>] :invite_status A list of invite statuses to filter invites by. Only invites whose status is in the provided statuses will be returned.
    # @option opts [InviteType] :invite_type Invite type to filter invites by. Only invites of the specified type will be returned.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [GetInvites200Response]
    def get_invites(business_id, opts = {})
      data, _status_code, _headers = get_invites_with_http_info(business_id, opts)
      data
    end

    # Get invites/requests
    # Get the membership/partnership invites and/or requests for the authorized user.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :is_member A boolean field to indicate whether the invite is to create a partnership or a membership. (default to true)
    # @option opts [Array<InviteFilterStatus>] :invite_status A list of invite statuses to filter invites by. Only invites whose status is in the provided statuses will be returned.
    # @option opts [InviteType] :invite_type Invite type to filter invites by. Only invites of the specified type will be returned.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(GetInvites200Response, Integer, Hash)>] GetInvites200Response data, response status code and response headers
    def get_invites_with_http_info(business_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessInviteApi.get_invites ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessInviteApi.get_invites"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessInviteApi.get_invites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessInviteApi.get_invites, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'invite_status'].nil? && opts[:'invite_status'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"invite_status"]" when calling BusinessAccessInviteApi.get_invites, number of items must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessInviteApi.get_invites, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessInviteApi.get_invites, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/invites'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'is_member'] = opts[:'is_member'] if !opts[:'is_member'].nil?
      query_params[:'invite_status'] = @api_client.build_collection_param(opts[:'invite_status'], :multi) if !opts[:'invite_status'].nil?
      query_params[:'invite_type'] = opts[:'invite_type'] if !opts[:'invite_type'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInvites200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessInviteApi.get_invites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessInviteApi#get_invites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Accept or decline an invite/request
    # Accept or decline invites or requests.
    # @param auth_respond_invites_body [AuthRespondInvitesBody] 
    # @param [Hash] opts the optional parameters
    # @return [RespondToInvitesResponseArray]
    def respond_business_access_invites(auth_respond_invites_body, opts = {})
      data, _status_code, _headers = respond_business_access_invites_with_http_info(auth_respond_invites_body, opts)
      data
    end

    # Accept or decline an invite/request
    # Accept or decline invites or requests.
    # @param auth_respond_invites_body [AuthRespondInvitesBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RespondToInvitesResponseArray, Integer, Hash)>] RespondToInvitesResponseArray data, response status code and response headers
    def respond_business_access_invites_with_http_info(auth_respond_invites_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessInviteApi.respond_business_access_invites ...'
      end
      # verify the required parameter 'auth_respond_invites_body' is set
      if @api_client.config.client_side_validation && auth_respond_invites_body.nil?
        fail ArgumentError, "Missing the required parameter 'auth_respond_invites_body' when calling BusinessAccessInviteApi.respond_business_access_invites"
      end
      # resource path
      local_var_path = '/businesses/invites'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_respond_invites_body)

      # return_type
      return_type = opts[:debug_return_type] || 'RespondToInvitesResponseArray'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessInviteApi.respond_business_access_invites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessInviteApi#respond_business_access_invites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
