=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class BusinessAccessAssetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new asset group.
    # Create a new asset group with the specified parameters. - An [asset group](https://help.pinterest.com/en/business/article/asset-groups) is a custom group of assets based on how you would like to manage your accounts.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param asset_group_input_create [AssetGroupInputCreate] 
    # @param [Hash] opts the optional parameters
    # @return [AssetGroupInput]
    def asset_group_create(business_id, asset_group_input_create, opts = {})
      data, _status_code, _headers = asset_group_create_with_http_info(business_id, asset_group_input_create, opts)
      data
    end

    # Create a new asset group.
    # Create a new asset group with the specified parameters. - An [asset group](https://help.pinterest.com/en/business/article/asset-groups) is a custom group of assets based on how you would like to manage your accounts.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param asset_group_input_create [AssetGroupInputCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetGroupInput, Integer, Hash)>] AssetGroupInput data, response status code and response headers
    def asset_group_create_with_http_info(business_id, asset_group_input_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.asset_group_create ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.asset_group_create"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.asset_group_create, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.asset_group_create, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.asset_group_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_group_input_create' is set
      if @api_client.config.client_side_validation && asset_group_input_create.nil?
        fail ArgumentError, "Missing the required parameter 'asset_group_input_create' when calling BusinessAccessAssetsApi.asset_group_create"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/asset_groups'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_group_input_create)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetGroupInput'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.asset_group_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#asset_group_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete asset groups.
    # Delete a batch of asset groups.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param asset_group_deletion_delete [AssetGroupDeletionDelete] 
    # @param [Hash] opts the optional parameters
    # @return [AssetGroupDeletion]
    def asset_group_delete(business_id, asset_group_deletion_delete, opts = {})
      data, _status_code, _headers = asset_group_delete_with_http_info(business_id, asset_group_deletion_delete, opts)
      data
    end

    # Delete asset groups.
    # Delete a batch of asset groups.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param asset_group_deletion_delete [AssetGroupDeletionDelete] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetGroupDeletion, Integer, Hash)>] AssetGroupDeletion data, response status code and response headers
    def asset_group_delete_with_http_info(business_id, asset_group_deletion_delete, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.asset_group_delete ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.asset_group_delete"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.asset_group_delete, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.asset_group_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.asset_group_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_group_deletion_delete' is set
      if @api_client.config.client_side_validation && asset_group_deletion_delete.nil?
        fail ArgumentError, "Missing the required parameter 'asset_group_deletion_delete' when calling BusinessAccessAssetsApi.asset_group_delete"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/asset_groups'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_group_deletion_delete)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetGroupDeletion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.asset_group_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#asset_group_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update asset groups.
    # Update a batch of asset groups with the specified parameters.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param asset_group_modification_read_or_update [AssetGroupModificationReadOrUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [AssetGroupModification]
    def asset_group_update(business_id, asset_group_modification_read_or_update, opts = {})
      data, _status_code, _headers = asset_group_update_with_http_info(business_id, asset_group_modification_read_or_update, opts)
      data
    end

    # Update asset groups.
    # Update a batch of asset groups with the specified parameters.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param asset_group_modification_read_or_update [AssetGroupModificationReadOrUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetGroupModification, Integer, Hash)>] AssetGroupModification data, response status code and response headers
    def asset_group_update_with_http_info(business_id, asset_group_modification_read_or_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.asset_group_update ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.asset_group_update"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.asset_group_update, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.asset_group_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.asset_group_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_group_modification_read_or_update' is set
      if @api_client.config.client_side_validation && asset_group_modification_read_or_update.nil?
        fail ArgumentError, "Missing the required parameter 'asset_group_modification_read_or_update' when calling BusinessAccessAssetsApi.asset_group_update"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/asset_groups'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_group_modification_read_or_update)

      # return_type
      return_type = opts[:debug_return_type] || 'AssetGroupModification'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.asset_group_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#asset_group_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get members with access to asset
    # Get all the members the requesting business has granted access to on the given asset.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param asset_id [String] Unique identifier of a business asset.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [Boolean] :fetch_system_users Fetches system users if True. Fetches regular user employees if False. (default to false)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [BusinessAssetMembersGet200Response]
    def business_asset_members_get(business_id, asset_id, opts = {})
      data, _status_code, _headers = business_asset_members_get_with_http_info(business_id, asset_id, opts)
      data
    end

    # Get members with access to asset
    # Get all the members the requesting business has granted access to on the given asset.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param asset_id [String] Unique identifier of a business asset.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [Boolean] :fetch_system_users Fetches system users if True. Fetches regular user employees if False. (default to false)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(BusinessAssetMembersGet200Response, Integer, Hash)>] BusinessAssetMembersGet200Response data, response status code and response headers
    def business_asset_members_get_with_http_info(business_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.business_asset_members_get ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.business_asset_members_get"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_asset_members_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_asset_members_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.business_asset_members_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling BusinessAccessAssetsApi.business_asset_members_get"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "asset_id" when calling BusinessAccessAssetsApi.business_asset_members_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling BusinessAccessAssetsApi.business_asset_members_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling BusinessAccessAssetsApi.business_asset_members_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'start_index'].nil? && opts[:'start_index'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start_index"]" when calling BusinessAccessAssetsApi.business_asset_members_get, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessAssetsApi.business_asset_members_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessAssetsApi.business_asset_members_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/assets/{asset_id}/members'.sub('{business_id}', CGI.escape(business_id.to_s)).sub('{asset_id}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'fetch_system_users'] = opts[:'fetch_system_users'] if !opts[:'fetch_system_users'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAssetMembersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.business_asset_members_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#business_asset_members_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get partners with access to asset
    # Get all the partners the requesting business has granted access to on the given asset. Note: If the asset has been shared with you, an empty array will be returned. This is because an asset shared with you cannot be shared with a different partner.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param asset_id [String] Unique identifier of a business asset.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [BusinessAssetMembersGet200Response]
    def business_asset_partners_get(business_id, asset_id, opts = {})
      data, _status_code, _headers = business_asset_partners_get_with_http_info(business_id, asset_id, opts)
      data
    end

    # Get partners with access to asset
    # Get all the partners the requesting business has granted access to on the given asset. Note: If the asset has been shared with you, an empty array will be returned. This is because an asset shared with you cannot be shared with a different partner.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param asset_id [String] Unique identifier of a business asset.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(BusinessAssetMembersGet200Response, Integer, Hash)>] BusinessAssetMembersGet200Response data, response status code and response headers
    def business_asset_partners_get_with_http_info(business_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.business_asset_partners_get ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.business_asset_partners_get"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_asset_partners_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_asset_partners_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.business_asset_partners_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling BusinessAccessAssetsApi.business_asset_partners_get"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "asset_id" when calling BusinessAccessAssetsApi.business_asset_partners_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling BusinessAccessAssetsApi.business_asset_partners_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling BusinessAccessAssetsApi.business_asset_partners_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'start_index'].nil? && opts[:'start_index'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start_index"]" when calling BusinessAccessAssetsApi.business_asset_partners_get, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessAssetsApi.business_asset_partners_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessAssetsApi.business_asset_partners_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/assets/{asset_id}/partners'.sub('{business_id}', CGI.escape(business_id.to_s)).sub('{asset_id}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAssetMembersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.business_asset_partners_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#business_asset_partners_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List business assets
    # Get all the assets the requesting business has access to. This includes assets the business owns and assets the business has access to through partnerships.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PermissionsWithOwner>] :permissions A list of asset permissions used to filter the assets. Only assets where the requesting business has at least one of the specified permissions will be returned.
    # @option opts [String] :child_asset_id A child asset unique identifier. Used to fetch asset groups that contain the asset id as a child.
    # @option opts [String] :asset_group_id An asset group unique identifier. Used to fetch assets contained within the specified asset group.
    # @option opts [String] :asset_type A resource type to filter the assets by. Only assets of the specified type will be returned. (default to 'AD_ACCOUNT')
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [BusinessAssetsGet200Response]
    def business_assets_get(business_id, opts = {})
      data, _status_code, _headers = business_assets_get_with_http_info(business_id, opts)
      data
    end

    # List business assets
    # Get all the assets the requesting business has access to. This includes assets the business owns and assets the business has access to through partnerships.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PermissionsWithOwner>] :permissions A list of asset permissions used to filter the assets. Only assets where the requesting business has at least one of the specified permissions will be returned.
    # @option opts [String] :child_asset_id A child asset unique identifier. Used to fetch asset groups that contain the asset id as a child.
    # @option opts [String] :asset_group_id An asset group unique identifier. Used to fetch assets contained within the specified asset group.
    # @option opts [String] :asset_type A resource type to filter the assets by. Only assets of the specified type will be returned. (default to 'AD_ACCOUNT')
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(BusinessAssetsGet200Response, Integer, Hash)>] BusinessAssetsGet200Response data, response status code and response headers
    def business_assets_get_with_http_info(business_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.business_assets_get ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.business_assets_get"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_assets_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_assets_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.business_assets_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'child_asset_id'].nil? && opts[:'child_asset_id'].to_s.length > 20
        fail ArgumentError, 'invalid value for "opts[:"child_asset_id"]" when calling BusinessAccessAssetsApi.business_assets_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'child_asset_id'].nil? && opts[:'child_asset_id'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"child_asset_id"]" when calling BusinessAccessAssetsApi.business_assets_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'child_asset_id'].nil? && opts[:'child_asset_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"child_asset_id\"]' when calling BusinessAccessAssetsApi.business_assets_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'asset_group_id'].nil? && opts[:'asset_group_id'].to_s.length > 20
        fail ArgumentError, 'invalid value for "opts[:"asset_group_id"]" when calling BusinessAccessAssetsApi.business_assets_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'asset_group_id'].nil? && opts[:'asset_group_id'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"asset_group_id"]" when calling BusinessAccessAssetsApi.business_assets_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'asset_group_id'].nil? && opts[:'asset_group_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"asset_group_id\"]' when calling BusinessAccessAssetsApi.business_assets_get, must conform to the pattern #{pattern}."
      end

      allowable_values = ["AD_ACCOUNT", "PROFILE", "ASSET_GROUP", "CATALOG", "CONSUMER"]
      if @api_client.config.client_side_validation && opts[:'asset_type'] && !allowable_values.include?(opts[:'asset_type'])
        fail ArgumentError, "invalid value for \"asset_type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'start_index'].nil? && opts[:'start_index'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start_index"]" when calling BusinessAccessAssetsApi.business_assets_get, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessAssetsApi.business_assets_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessAssetsApi.business_assets_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/assets'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'permissions'] = @api_client.build_collection_param(opts[:'permissions'], :multi) if !opts[:'permissions'].nil?
      query_params[:'child_asset_id'] = opts[:'child_asset_id'] if !opts[:'child_asset_id'].nil?
      query_params[:'asset_group_id'] = opts[:'asset_group_id'] if !opts[:'asset_group_id'].nil?
      query_params[:'asset_type'] = opts[:'asset_type'] if !opts[:'asset_type'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAssetsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.business_assets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#business_assets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get assets assigned to a member
    # Get assets on which you assigned asset permissions to the given member. Can be used to: - get all assets, regardless of asset type or - get assets of one asset type by using the asset_type query. The return response will include the permissions the member has to that asset and the asset type.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param member_id [String] The member id to fetch assets for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :asset_type A resource type to filter the assets by. Only assets of the specified type will be returned. (default to 'AD_ACCOUNT')
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [AssetSortBy] :sort_by The field to sort member assets by
    # @option opts [Boolean] :sort_ascending Sort assets in ascending order (default to true)
    # @option opts [AssetSearchBy] :search_by The field to search member assets by
    # @option opts [String] :search_value The value to search for
    # @option opts [AssetPermissionType] :asset_permission_type The type of asset permission to filter by
    # @option opts [Array<NonDraftEntityStatus>] :ad_account_statuses A list of ad account statuses to filter the assets by. Only used when asset_type is AD_ACCOUNT.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [BusinessMemberAssetsGetResponse]
    def business_member_assets_get(business_id, member_id, opts = {})
      data, _status_code, _headers = business_member_assets_get_with_http_info(business_id, member_id, opts)
      data
    end

    # Get assets assigned to a member
    # Get assets on which you assigned asset permissions to the given member. Can be used to: - get all assets, regardless of asset type or - get assets of one asset type by using the asset_type query. The return response will include the permissions the member has to that asset and the asset type.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param member_id [String] The member id to fetch assets for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :asset_type A resource type to filter the assets by. Only assets of the specified type will be returned. (default to 'AD_ACCOUNT')
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [AssetSortBy] :sort_by The field to sort member assets by
    # @option opts [Boolean] :sort_ascending Sort assets in ascending order (default to true)
    # @option opts [AssetSearchBy] :search_by The field to search member assets by
    # @option opts [String] :search_value The value to search for
    # @option opts [AssetPermissionType] :asset_permission_type The type of asset permission to filter by
    # @option opts [Array<NonDraftEntityStatus>] :ad_account_statuses A list of ad account statuses to filter the assets by. Only used when asset_type is AD_ACCOUNT.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(BusinessMemberAssetsGetResponse, Integer, Hash)>] BusinessMemberAssetsGetResponse data, response status code and response headers
    def business_member_assets_get_with_http_info(business_id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.business_member_assets_get ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.business_member_assets_get"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_member_assets_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_member_assets_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.business_member_assets_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling BusinessAccessAssetsApi.business_member_assets_get"
      end
      if @api_client.config.client_side_validation && member_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "member_id" when calling BusinessAccessAssetsApi.business_member_assets_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && member_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "member_id" when calling BusinessAccessAssetsApi.business_member_assets_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && member_id !~ pattern
        fail ArgumentError, "invalid value for 'member_id' when calling BusinessAccessAssetsApi.business_member_assets_get, must conform to the pattern #{pattern}."
      end

      allowable_values = ["AD_ACCOUNT", "PROFILE", "ASSET_GROUP", "CATALOG", "CONSUMER", "CONVERSION_TAG"]
      if @api_client.config.client_side_validation && opts[:'asset_type'] && !allowable_values.include?(opts[:'asset_type'])
        fail ArgumentError, "invalid value for \"asset_type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'start_index'].nil? && opts[:'start_index'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start_index"]" when calling BusinessAccessAssetsApi.business_member_assets_get, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessAssetsApi.business_member_assets_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessAssetsApi.business_member_assets_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/members/{member_id}/assets'.sub('{business_id}', CGI.escape(business_id.to_s)).sub('{member_id}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'asset_type'] = opts[:'asset_type'] if !opts[:'asset_type'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'search_by'] = opts[:'search_by'] if !opts[:'search_by'].nil?
      query_params[:'search_value'] = opts[:'search_value'] if !opts[:'search_value'].nil?
      query_params[:'asset_permission_type'] = opts[:'asset_permission_type'] if !opts[:'asset_permission_type'].nil?
      query_params[:'ad_account_statuses'] = @api_client.build_collection_param(opts[:'ad_account_statuses'], :multi) if !opts[:'ad_account_statuses'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessMemberAssetsGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.business_member_assets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#business_member_assets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete member access to asset
    # Terminate multiple members' access to an asset.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param business_members_asset_access_delete_body [BusinessMembersAssetAccessDeleteBody] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteMemberAccessResultsResponseArray]
    def business_members_asset_access_delete(business_id, business_members_asset_access_delete_body, opts = {})
      data, _status_code, _headers = business_members_asset_access_delete_with_http_info(business_id, business_members_asset_access_delete_body, opts)
      data
    end

    # Delete member access to asset
    # Terminate multiple members&#39; access to an asset.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param business_members_asset_access_delete_body [BusinessMembersAssetAccessDeleteBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteMemberAccessResultsResponseArray, Integer, Hash)>] DeleteMemberAccessResultsResponseArray data, response status code and response headers
    def business_members_asset_access_delete_with_http_info(business_id, business_members_asset_access_delete_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.business_members_asset_access_delete ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.business_members_asset_access_delete"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_members_asset_access_delete, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_members_asset_access_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.business_members_asset_access_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'business_members_asset_access_delete_body' is set
      if @api_client.config.client_side_validation && business_members_asset_access_delete_body.nil?
        fail ArgumentError, "Missing the required parameter 'business_members_asset_access_delete_body' when calling BusinessAccessAssetsApi.business_members_asset_access_delete"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/members/assets/access'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_members_asset_access_delete_body)

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteMemberAccessResultsResponseArray'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.business_members_asset_access_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#business_members_asset_access_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign/Update member asset permissions
    # Grant multiple members access to assets and/or update multiple member's exisiting permissions to an asset. Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param update_member_asset_access_body [UpdateMemberAssetAccessBody] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateMemberAssetsResultsResponseArray]
    def business_members_asset_access_update(business_id, update_member_asset_access_body, opts = {})
      data, _status_code, _headers = business_members_asset_access_update_with_http_info(business_id, update_member_asset_access_body, opts)
      data
    end

    # Assign/Update member asset permissions
    # Grant multiple members access to assets and/or update multiple member&#39;s exisiting permissions to an asset. Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param update_member_asset_access_body [UpdateMemberAssetAccessBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateMemberAssetsResultsResponseArray, Integer, Hash)>] UpdateMemberAssetsResultsResponseArray data, response status code and response headers
    def business_members_asset_access_update_with_http_info(business_id, update_member_asset_access_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.business_members_asset_access_update ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.business_members_asset_access_update"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_members_asset_access_update, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_members_asset_access_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.business_members_asset_access_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_member_asset_access_body' is set
      if @api_client.config.client_side_validation && update_member_asset_access_body.nil?
        fail ArgumentError, "Missing the required parameter 'update_member_asset_access_body' when calling BusinessAccessAssetsApi.business_members_asset_access_update"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/members/assets/access'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_member_asset_access_body)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateMemberAssetsResultsResponseArray'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.business_members_asset_access_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#business_members_asset_access_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get assets assigned to a partner or assets assigned by a partner
    # Can be used to get the business assets your partner has granted you access to or the business assets you have granted your partner access to. If you specify: - partner_type=INTERNAL, you will retrieve your business assets that the partner has access to. - partner_type=EXTERNAL, you will retrieve the partner's business assets that the partner has granted you access to.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param partner_id [String] The partner id to be bound to the Business
    # @param [Hash] opts the optional parameters
    # @option opts [String] :partner_type Specifies whether to fetch internal or external (shared) partners.  If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets.  If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (default to 'INTERNAL')
    # @option opts [String] :asset_type A resource type to filter the assets by. Only assets of the specified type will be returned. (default to 'AD_ACCOUNT')
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [AssetSortBy] :sort_by The field to sort member assets by
    # @option opts [Boolean] :sort_ascending Sort assets in ascending order (default to true)
    # @option opts [AssetSearchBy] :search_by The field to search member assets by
    # @option opts [String] :search_value The value to search for
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [BusinessPartnerAssetAccessGet200Response]
    def business_partner_asset_access_get(business_id, partner_id, opts = {})
      data, _status_code, _headers = business_partner_asset_access_get_with_http_info(business_id, partner_id, opts)
      data
    end

    # Get assets assigned to a partner or assets assigned by a partner
    # Can be used to get the business assets your partner has granted you access to or the business assets you have granted your partner access to. If you specify: - partner_type&#x3D;INTERNAL, you will retrieve your business assets that the partner has access to. - partner_type&#x3D;EXTERNAL, you will retrieve the partner&#39;s business assets that the partner has granted you access to.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param partner_id [String] The partner id to be bound to the Business
    # @param [Hash] opts the optional parameters
    # @option opts [String] :partner_type Specifies whether to fetch internal or external (shared) partners.  If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets.  If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (default to 'INTERNAL')
    # @option opts [String] :asset_type A resource type to filter the assets by. Only assets of the specified type will be returned. (default to 'AD_ACCOUNT')
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [AssetSortBy] :sort_by The field to sort member assets by
    # @option opts [Boolean] :sort_ascending Sort assets in ascending order (default to true)
    # @option opts [AssetSearchBy] :search_by The field to search member assets by
    # @option opts [String] :search_value The value to search for
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(BusinessPartnerAssetAccessGet200Response, Integer, Hash)>] BusinessPartnerAssetAccessGet200Response data, response status code and response headers
    def business_partner_asset_access_get_with_http_info(business_id, partner_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.business_partner_asset_access_get ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.business_partner_asset_access_get"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_partner_asset_access_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.business_partner_asset_access_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.business_partner_asset_access_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'partner_id' is set
      if @api_client.config.client_side_validation && partner_id.nil?
        fail ArgumentError, "Missing the required parameter 'partner_id' when calling BusinessAccessAssetsApi.business_partner_asset_access_get"
      end
      if @api_client.config.client_side_validation && partner_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "partner_id" when calling BusinessAccessAssetsApi.business_partner_asset_access_get, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && partner_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "partner_id" when calling BusinessAccessAssetsApi.business_partner_asset_access_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && partner_id !~ pattern
        fail ArgumentError, "invalid value for 'partner_id' when calling BusinessAccessAssetsApi.business_partner_asset_access_get, must conform to the pattern #{pattern}."
      end

      allowable_values = ["INTERNAL", "EXTERNAL"]
      if @api_client.config.client_side_validation && opts[:'partner_type'] && !allowable_values.include?(opts[:'partner_type'])
        fail ArgumentError, "invalid value for \"partner_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["AD_ACCOUNT", "PROFILE", "ASSET_GROUP", "PINNER_LIST", "CONVERSION_TAG", "CATALOG", "CONSUMER", "CONVERSION_SEGMENT"]
      if @api_client.config.client_side_validation && opts[:'asset_type'] && !allowable_values.include?(opts[:'asset_type'])
        fail ArgumentError, "invalid value for \"asset_type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'start_index'].nil? && opts[:'start_index'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start_index"]" when calling BusinessAccessAssetsApi.business_partner_asset_access_get, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessAssetsApi.business_partner_asset_access_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessAssetsApi.business_partner_asset_access_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/partners/{partner_id}/assets'.sub('{business_id}', CGI.escape(business_id.to_s)).sub('{partner_id}', CGI.escape(partner_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'partner_type'] = opts[:'partner_type'] if !opts[:'partner_type'].nil?
      query_params[:'asset_type'] = opts[:'asset_type'] if !opts[:'asset_type'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'search_by'] = opts[:'search_by'] if !opts[:'search_by'].nil?
      query_params[:'search_value'] = opts[:'search_value'] if !opts[:'search_value'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessPartnerAssetAccessGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.business_partner_asset_access_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#business_partner_asset_access_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete partner access to asset
    # Terminate multiple partners' access to an asset. If - partner_type=INTERNAL: You will terminate a partner's asset access to your business assets. - partner_type=EXTERNAL: You will terminate your own access to your partner's business assets.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param delete_partner_asset_access_body [DeletePartnerAssetAccessBody] 
    # @param [Hash] opts the optional parameters
    # @return [DeletePartnerAssetAccessResultsResponseArray]
    def delete_partner_asset_access_handler_impl(business_id, delete_partner_asset_access_body, opts = {})
      data, _status_code, _headers = delete_partner_asset_access_handler_impl_with_http_info(business_id, delete_partner_asset_access_body, opts)
      data
    end

    # Delete partner access to asset
    # Terminate multiple partners&#39; access to an asset. If - partner_type&#x3D;INTERNAL: You will terminate a partner&#39;s asset access to your business assets. - partner_type&#x3D;EXTERNAL: You will terminate your own access to your partner&#39;s business assets.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param delete_partner_asset_access_body [DeletePartnerAssetAccessBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePartnerAssetAccessResultsResponseArray, Integer, Hash)>] DeletePartnerAssetAccessResultsResponseArray data, response status code and response headers
    def delete_partner_asset_access_handler_impl_with_http_info(business_id, delete_partner_asset_access_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.delete_partner_asset_access_handler_impl ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.delete_partner_asset_access_handler_impl"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.delete_partner_asset_access_handler_impl, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.delete_partner_asset_access_handler_impl, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.delete_partner_asset_access_handler_impl, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'delete_partner_asset_access_body' is set
      if @api_client.config.client_side_validation && delete_partner_asset_access_body.nil?
        fail ArgumentError, "Missing the required parameter 'delete_partner_asset_access_body' when calling BusinessAccessAssetsApi.delete_partner_asset_access_handler_impl"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/partners/assets'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_partner_asset_access_body)

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePartnerAssetAccessResultsResponseArray'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.delete_partner_asset_access_handler_impl",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#delete_partner_asset_access_handler_impl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign/Update partner asset permissions
    # Grant multiple partners access to assets and/or update multiple partner's exisiting permissions to an asset. If your partner already had permissions on the asset, they will be overriden with the new permissions you assign to them. To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview  Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param update_partner_asset_access_body [UpdatePartnerAssetAccessBody] 
    # @param [Hash] opts the optional parameters
    # @return [UpdatePartnerAssetsResultsResponseArray]
    def update_partner_asset_access_handler_impl(business_id, update_partner_asset_access_body, opts = {})
      data, _status_code, _headers = update_partner_asset_access_handler_impl_with_http_info(business_id, update_partner_asset_access_body, opts)
      data
    end

    # Assign/Update partner asset permissions
    # Grant multiple partners access to assets and/or update multiple partner&#39;s exisiting permissions to an asset. If your partner already had permissions on the asset, they will be overriden with the new permissions you assign to them. To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview  Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param update_partner_asset_access_body [UpdatePartnerAssetAccessBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdatePartnerAssetsResultsResponseArray, Integer, Hash)>] UpdatePartnerAssetsResultsResponseArray data, response status code and response headers
    def update_partner_asset_access_handler_impl_with_http_info(business_id, update_partner_asset_access_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessAssetsApi.update_partner_asset_access_handler_impl ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessAssetsApi.update_partner_asset_access_handler_impl"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.update_partner_asset_access_handler_impl, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessAssetsApi.update_partner_asset_access_handler_impl, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessAssetsApi.update_partner_asset_access_handler_impl, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_partner_asset_access_body' is set
      if @api_client.config.client_side_validation && update_partner_asset_access_body.nil?
        fail ArgumentError, "Missing the required parameter 'update_partner_asset_access_body' when calling BusinessAccessAssetsApi.update_partner_asset_access_handler_impl"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/partners/assets'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_partner_asset_access_body)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdatePartnerAssetsResultsResponseArray'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessAssetsApi.update_partner_asset_access_handler_impl",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessAssetsApi#update_partner_asset_access_handler_impl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
