=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class BusinessAccessRelationshipsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a Brand Account
    # Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.
    # @param business_hierarchy_id [String] business hierarchy node id
    # @param brand_account_create [BrandAccountCreate] 
    # @param [Hash] opts the optional parameters
    # @return [BrandAccount]
    def brand_accounts_create(business_hierarchy_id, brand_account_create, opts = {})
      data, _status_code, _headers = brand_accounts_create_with_http_info(business_hierarchy_id, brand_account_create, opts)
      data
    end

    # Create a Brand Account
    # Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.
    # @param business_hierarchy_id [String] business hierarchy node id
    # @param brand_account_create [BrandAccountCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandAccount, Integer, Hash)>] BrandAccount data, response status code and response headers
    def brand_accounts_create_with_http_info(business_hierarchy_id, brand_account_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessRelationshipsApi.brand_accounts_create ...'
      end
      # verify the required parameter 'business_hierarchy_id' is set
      if @api_client.config.client_side_validation && business_hierarchy_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_hierarchy_id' when calling BusinessAccessRelationshipsApi.brand_accounts_create"
      end
      if @api_client.config.client_side_validation && business_hierarchy_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_hierarchy_id" when calling BusinessAccessRelationshipsApi.brand_accounts_create, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_hierarchy_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_hierarchy_id" when calling BusinessAccessRelationshipsApi.brand_accounts_create, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_hierarchy_id !~ pattern
        fail ArgumentError, "invalid value for 'business_hierarchy_id' when calling BusinessAccessRelationshipsApi.brand_accounts_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'brand_account_create' is set
      if @api_client.config.client_side_validation && brand_account_create.nil?
        fail ArgumentError, "Missing the required parameter 'brand_account_create' when calling BusinessAccessRelationshipsApi.brand_accounts_create"
      end
      # resource path
      local_var_path = '/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts'.sub('{business_hierarchy_id}', CGI.escape(business_hierarchy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(brand_account_create)

      # return_type
      return_type = opts[:debug_return_type] || 'BrandAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessRelationshipsApi.brand_accounts_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessRelationshipsApi#brand_accounts_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Brand Account
    # Update an existing Brand Account
    # @param brand_account_id [String] 
    # @param business_hierarchy_id [String] business hierarchy node id
    # @param brand_account_update [BrandAccountUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [BrandAccount]
    def brand_accounts_update(brand_account_id, business_hierarchy_id, brand_account_update, opts = {})
      data, _status_code, _headers = brand_accounts_update_with_http_info(brand_account_id, business_hierarchy_id, brand_account_update, opts)
      data
    end

    # Update a Brand Account
    # Update an existing Brand Account
    # @param brand_account_id [String] 
    # @param business_hierarchy_id [String] business hierarchy node id
    # @param brand_account_update [BrandAccountUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandAccount, Integer, Hash)>] BrandAccount data, response status code and response headers
    def brand_accounts_update_with_http_info(brand_account_id, business_hierarchy_id, brand_account_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessRelationshipsApi.brand_accounts_update ...'
      end
      # verify the required parameter 'brand_account_id' is set
      if @api_client.config.client_side_validation && brand_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'brand_account_id' when calling BusinessAccessRelationshipsApi.brand_accounts_update"
      end
      # verify the required parameter 'business_hierarchy_id' is set
      if @api_client.config.client_side_validation && business_hierarchy_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_hierarchy_id' when calling BusinessAccessRelationshipsApi.brand_accounts_update"
      end
      if @api_client.config.client_side_validation && business_hierarchy_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_hierarchy_id" when calling BusinessAccessRelationshipsApi.brand_accounts_update, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_hierarchy_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_hierarchy_id" when calling BusinessAccessRelationshipsApi.brand_accounts_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_hierarchy_id !~ pattern
        fail ArgumentError, "invalid value for 'business_hierarchy_id' when calling BusinessAccessRelationshipsApi.brand_accounts_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'brand_account_update' is set
      if @api_client.config.client_side_validation && brand_account_update.nil?
        fail ArgumentError, "Missing the required parameter 'brand_account_update' when calling BusinessAccessRelationshipsApi.brand_accounts_update"
      end
      # resource path
      local_var_path = '/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}'.sub('{brand_account_id}', CGI.escape(brand_account_id.to_s)).sub('{business_hierarchy_id}', CGI.escape(business_hierarchy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(brand_account_update)

      # return_type
      return_type = opts[:debug_return_type] || 'BrandAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessRelationshipsApi.brand_accounts_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessRelationshipsApi#brand_accounts_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Terminate business memberships
    # Terminate memberships between the specified members and your business.
    # @param business_id [String] Business id
    # @param delete_business_membership_body [DeleteBusinessMembershipBody] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteBusinessMembership200Response]
    def delete_business_membership(business_id, delete_business_membership_body, opts = {})
      data, _status_code, _headers = delete_business_membership_with_http_info(business_id, delete_business_membership_body, opts)
      data
    end

    # Terminate business memberships
    # Terminate memberships between the specified members and your business.
    # @param business_id [String] Business id
    # @param delete_business_membership_body [DeleteBusinessMembershipBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteBusinessMembership200Response, Integer, Hash)>] DeleteBusinessMembership200Response data, response status code and response headers
    def delete_business_membership_with_http_info(business_id, delete_business_membership_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessRelationshipsApi.delete_business_membership ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessRelationshipsApi.delete_business_membership"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.delete_business_membership, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.delete_business_membership, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessRelationshipsApi.delete_business_membership, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'delete_business_membership_body' is set
      if @api_client.config.client_side_validation && delete_business_membership_body.nil?
        fail ArgumentError, "Missing the required parameter 'delete_business_membership_body' when calling BusinessAccessRelationshipsApi.delete_business_membership"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/members'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_business_membership_body)

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteBusinessMembership200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessRelationshipsApi.delete_business_membership",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessRelationshipsApi#delete_business_membership\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Terminate business partnerships
    # Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param delete_business_partners_delete [DeleteBusinessPartnersDelete] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteBusinessPartners]
    def delete_business_partners(business_id, delete_business_partners_delete, opts = {})
      data, _status_code, _headers = delete_business_partners_with_http_info(business_id, delete_business_partners_delete, opts)
      data
    end

    # Terminate business partnerships
    # Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param delete_business_partners_delete [DeleteBusinessPartnersDelete] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteBusinessPartners, Integer, Hash)>] DeleteBusinessPartners data, response status code and response headers
    def delete_business_partners_with_http_info(business_id, delete_business_partners_delete, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessRelationshipsApi.delete_business_partners ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessRelationshipsApi.delete_business_partners"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.delete_business_partners, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.delete_business_partners, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessRelationshipsApi.delete_business_partners, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'delete_business_partners_delete' is set
      if @api_client.config.client_side_validation && delete_business_partners_delete.nil?
        fail ArgumentError, "Missing the required parameter 'delete_business_partners_delete' when calling BusinessAccessRelationshipsApi.delete_business_partners"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/partners'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_business_partners_delete)

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteBusinessPartners'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessRelationshipsApi.delete_business_partners",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessRelationshipsApi#delete_business_partners\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List business employers for user
    # Get all of the viewing user's business employers.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :assets_summary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (default to true)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [GetBusinessEmployers200Response]
    def get_business_employers(opts = {})
      data, _status_code, _headers = get_business_employers_with_http_info(opts)
      data
    end

    # List business employers for user
    # Get all of the viewing user&#39;s business employers.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :assets_summary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (default to true)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(GetBusinessEmployers200Response, Integer, Hash)>] GetBusinessEmployers200Response data, response status code and response headers
    def get_business_employers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessRelationshipsApi.get_business_employers ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessRelationshipsApi.get_business_employers, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessRelationshipsApi.get_business_employers, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/employers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'assets_summary'] = opts[:'assets_summary'] if !opts[:'assets_summary'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBusinessEmployers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessRelationshipsApi.get_business_employers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessRelationshipsApi#get_business_employers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business members
    # Get all members of the specified business. The return response will include the member's business_role and assets they have access to if assets_summary=TRUE
    # @param business_id [String] Unique identifier of the requesting business.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :fetch_system_users Fetches system users if True. Fetches regular user employees if False. (default to false)
    # @option opts [Boolean] :assets_summary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (default to false)
    # @option opts [Array<MemberBusinessRole>] :business_roles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned.
    # @option opts [String] :member_ids A list of business members ids separated by comma.
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [GetBusinessEmployers200Response]
    def get_business_members(business_id, opts = {})
      data, _status_code, _headers = get_business_members_with_http_info(business_id, opts)
      data
    end

    # Get business members
    # Get all members of the specified business. The return response will include the member&#39;s business_role and assets they have access to if assets_summary&#x3D;TRUE
    # @param business_id [String] Unique identifier of the requesting business.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :fetch_system_users Fetches system users if True. Fetches regular user employees if False. (default to false)
    # @option opts [Boolean] :assets_summary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (default to false)
    # @option opts [Array<MemberBusinessRole>] :business_roles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned.
    # @option opts [String] :member_ids A list of business members ids separated by comma.
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(GetBusinessEmployers200Response, Integer, Hash)>] GetBusinessEmployers200Response data, response status code and response headers
    def get_business_members_with_http_info(business_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessRelationshipsApi.get_business_members ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessRelationshipsApi.get_business_members"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.get_business_members, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.get_business_members, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessRelationshipsApi.get_business_members, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'member_ids'].nil? && opts[:'member_ids'].to_s.length > 500
        fail ArgumentError, 'invalid value for "opts[:"member_ids"]" when calling BusinessAccessRelationshipsApi.get_business_members, the character length must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'start_index'].nil? && opts[:'start_index'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start_index"]" when calling BusinessAccessRelationshipsApi.get_business_members, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessRelationshipsApi.get_business_members, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessRelationshipsApi.get_business_members, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/members'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fetch_system_users'] = opts[:'fetch_system_users'] if !opts[:'fetch_system_users'].nil?
      query_params[:'assets_summary'] = opts[:'assets_summary'] if !opts[:'assets_summary'].nil?
      query_params[:'business_roles'] = @api_client.build_collection_param(opts[:'business_roles'], :multi) if !opts[:'business_roles'].nil?
      query_params[:'member_ids'] = opts[:'member_ids'] if !opts[:'member_ids'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBusinessEmployers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessRelationshipsApi.get_business_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessRelationshipsApi#get_business_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business partners
    # Get all partners of the specified business.  If the assets_summary=TRUE and: - partner_type=INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type=EXTERNAL, the business assets returned are your partner's business assets the partner has granted you   access to.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :assets_summary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (default to false)
    # @option opts [PartnerType] :partner_type Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset.
    # @option opts [String] :partner_ids A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned.
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [Boolean] :sort_ascending Sort ascending.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [GetBusinessEmployers200Response]
    def get_business_partners(business_id, opts = {})
      data, _status_code, _headers = get_business_partners_with_http_info(business_id, opts)
      data
    end

    # Get business partners
    # Get all partners of the specified business.  If the assets_summary&#x3D;TRUE and: - partner_type&#x3D;INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type&#x3D;EXTERNAL, the business assets returned are your partner&#39;s business assets the partner has granted you   access to.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :assets_summary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (default to false)
    # @option opts [PartnerType] :partner_type Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset.
    # @option opts [String] :partner_ids A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned.
    # @option opts [Integer] :start_index An index to start fetching the results from. Only the results starting from this index will be returned. (default to 0)
    # @option opts [Boolean] :sort_ascending Sort ascending.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(GetBusinessEmployers200Response, Integer, Hash)>] GetBusinessEmployers200Response data, response status code and response headers
    def get_business_partners_with_http_info(business_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessRelationshipsApi.get_business_partners ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessRelationshipsApi.get_business_partners"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.get_business_partners, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.get_business_partners, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessRelationshipsApi.get_business_partners, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'partner_ids'].nil? && opts[:'partner_ids'].to_s.length > 500
        fail ArgumentError, 'invalid value for "opts[:"partner_ids"]" when calling BusinessAccessRelationshipsApi.get_business_partners, the character length must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'start_index'].nil? && opts[:'start_index'] < 0
        fail ArgumentError, 'invalid value for "opts[:"start_index"]" when calling BusinessAccessRelationshipsApi.get_business_partners, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessRelationshipsApi.get_business_partners, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling BusinessAccessRelationshipsApi.get_business_partners, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/partners'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'assets_summary'] = opts[:'assets_summary'] if !opts[:'assets_summary'].nil?
      query_params[:'partner_type'] = opts[:'partner_type'] if !opts[:'partner_type'].nil?
      query_params[:'partner_ids'] = opts[:'partner_ids'] if !opts[:'partner_ids'].nil?
      query_params[:'start_index'] = opts[:'start_index'] if !opts[:'start_index'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBusinessEmployers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessRelationshipsApi.get_business_partners",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessRelationshipsApi#get_business_partners\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a system user information.
    # Update a system user information such as name.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param system_user_id [String] Unique identifier of a system user.
    # @param system_user_update_with_required_body [SystemUserUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def system_user_update(business_id, system_user_id, system_user_update_with_required_body, opts = {})
      system_user_update_with_http_info(business_id, system_user_id, system_user_update_with_required_body, opts)
      nil
    end

    # Update a system user information.
    # Update a system user information such as name.
    # @param business_id [String] Unique identifier of the requesting business.
    # @param system_user_id [String] Unique identifier of a system user.
    # @param system_user_update_with_required_body [SystemUserUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def system_user_update_with_http_info(business_id, system_user_id, system_user_update_with_required_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessRelationshipsApi.system_user_update ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessRelationshipsApi.system_user_update"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.system_user_update, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.system_user_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessRelationshipsApi.system_user_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'system_user_id' is set
      if @api_client.config.client_side_validation && system_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'system_user_id' when calling BusinessAccessRelationshipsApi.system_user_update"
      end
      if @api_client.config.client_side_validation && system_user_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "system_user_id" when calling BusinessAccessRelationshipsApi.system_user_update, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && system_user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "system_user_id" when calling BusinessAccessRelationshipsApi.system_user_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && system_user_id !~ pattern
        fail ArgumentError, "invalid value for 'system_user_id' when calling BusinessAccessRelationshipsApi.system_user_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'system_user_update_with_required_body' is set
      if @api_client.config.client_side_validation && system_user_update_with_required_body.nil?
        fail ArgumentError, "Missing the required parameter 'system_user_update_with_required_body' when calling BusinessAccessRelationshipsApi.system_user_update"
      end
      # resource path
      local_var_path = '/businesses/{business_id}/system_users/{system_user_id}'.sub('{business_id}', CGI.escape(business_id.to_s)).sub('{system_user_id}', CGI.escape(system_user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(system_user_update_with_required_body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessRelationshipsApi.system_user_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessRelationshipsApi#system_user_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update member's business role
    # Update a member's business role within the business.
    # @param business_id [String] Business id
    # @param business_membership_member [Array<BusinessMembershipMember>] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateBusinessMembershipsResponse]
    def update_business_memberships(business_id, business_membership_member, opts = {})
      data, _status_code, _headers = update_business_memberships_with_http_info(business_id, business_membership_member, opts)
      data
    end

    # Update member&#39;s business role
    # Update a member&#39;s business role within the business.
    # @param business_id [String] Business id
    # @param business_membership_member [Array<BusinessMembershipMember>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateBusinessMembershipsResponse, Integer, Hash)>] UpdateBusinessMembershipsResponse data, response status code and response headers
    def update_business_memberships_with_http_info(business_id, business_membership_member, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAccessRelationshipsApi.update_business_memberships ...'
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling BusinessAccessRelationshipsApi.update_business_memberships"
      end
      if @api_client.config.client_side_validation && business_id.to_s.length > 20
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.update_business_memberships, the character length must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && business_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "business_id" when calling BusinessAccessRelationshipsApi.update_business_memberships, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && business_id !~ pattern
        fail ArgumentError, "invalid value for 'business_id' when calling BusinessAccessRelationshipsApi.update_business_memberships, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'business_membership_member' is set
      if @api_client.config.client_side_validation && business_membership_member.nil?
        fail ArgumentError, "Missing the required parameter 'business_membership_member' when calling BusinessAccessRelationshipsApi.update_business_memberships"
      end
      if @api_client.config.client_side_validation && business_membership_member.length < 1
        fail ArgumentError, 'invalid value for "business_membership_member" when calling BusinessAccessRelationshipsApi.update_business_memberships, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/businesses/{business_id}/members'.sub('{business_id}', CGI.escape(business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_membership_member)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateBusinessMembershipsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"BusinessAccessRelationshipsApi.update_business_memberships",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAccessRelationshipsApi#update_business_memberships\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
