=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class CatalogSupplementalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Operate on local inventory item batch
    # Managing local inventory information in batches supporting CREATE, UPDATE, UPSERT, DELETE operations. Up to 1000 items per request to match catalogs/items.  - Must provide both item_id and store_code to identify a local inventory item.  - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param local_inventory_items_batch_create [LocalInventoryItemsBatchCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [SupplementalItemsBatchResponse]
    def catalogs_local_inventory_items_batch_operate(catalog_id, local_inventory_items_batch_create, opts = {})
      data, _status_code, _headers = catalogs_local_inventory_items_batch_operate_with_http_info(catalog_id, local_inventory_items_batch_create, opts)
      data
    end

    # Operate on local inventory item batch
    # Managing local inventory information in batches supporting CREATE, UPDATE, UPSERT, DELETE operations. Up to 1000 items per request to match catalogs/items.  - Must provide both item_id and store_code to identify a local inventory item.  - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param local_inventory_items_batch_create [LocalInventoryItemsBatchCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(SupplementalItemsBatchResponse, Integer, Hash)>] SupplementalItemsBatchResponse data, response status code and response headers
    def catalogs_local_inventory_items_batch_operate_with_http_info(catalog_id, local_inventory_items_batch_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogSupplementalApi.catalogs_local_inventory_items_batch_operate ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_inventory_items_batch_operate"
      end
      if @api_client.config.client_side_validation && catalog_id.to_s.length > 19
        fail ArgumentError, 'invalid value for "catalog_id" when calling CatalogSupplementalApi.catalogs_local_inventory_items_batch_operate, the character length must be smaller than or equal to 19.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && catalog_id !~ pattern
        fail ArgumentError, "invalid value for 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_inventory_items_batch_operate, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'local_inventory_items_batch_create' is set
      if @api_client.config.client_side_validation && local_inventory_items_batch_create.nil?
        fail ArgumentError, "Missing the required parameter 'local_inventory_items_batch_create' when calling CatalogSupplementalApi.catalogs_local_inventory_items_batch_operate"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogSupplementalApi.catalogs_local_inventory_items_batch_operate, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogSupplementalApi.catalogs_local_inventory_items_batch_operate, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/{catalog_id}/local_inventory_items/batch'.sub('{catalog_id}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(local_inventory_items_batch_create)

      # return_type
      return_type = opts[:debug_return_type] || 'SupplementalItemsBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogSupplementalApi.catalogs_local_inventory_items_batch_operate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogSupplementalApi#catalogs_local_inventory_items_batch_operate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get local inventory items (POST)
    # Get local inventory items for a catalog owned by the \"operation user_account\".  - Must provide an array of {item_id, store_code} pairs in item filters to identify local inventory items.  - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param local_inventory_items_get_create [LocalInventoryItemsGetCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [LocalInventoryItemsGet]
    def catalogs_local_inventory_items_post(catalog_id, local_inventory_items_get_create, opts = {})
      data, _status_code, _headers = catalogs_local_inventory_items_post_with_http_info(catalog_id, local_inventory_items_get_create, opts)
      data
    end

    # Get local inventory items (POST)
    # Get local inventory items for a catalog owned by the \&quot;operation user_account\&quot;.  - Must provide an array of {item_id, store_code} pairs in item filters to identify local inventory items.  - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param local_inventory_items_get_create [LocalInventoryItemsGetCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(LocalInventoryItemsGet, Integer, Hash)>] LocalInventoryItemsGet data, response status code and response headers
    def catalogs_local_inventory_items_post_with_http_info(catalog_id, local_inventory_items_get_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogSupplementalApi.catalogs_local_inventory_items_post ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_inventory_items_post"
      end
      if @api_client.config.client_side_validation && catalog_id.to_s.length > 19
        fail ArgumentError, 'invalid value for "catalog_id" when calling CatalogSupplementalApi.catalogs_local_inventory_items_post, the character length must be smaller than or equal to 19.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && catalog_id !~ pattern
        fail ArgumentError, "invalid value for 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_inventory_items_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'local_inventory_items_get_create' is set
      if @api_client.config.client_side_validation && local_inventory_items_get_create.nil?
        fail ArgumentError, "Missing the required parameter 'local_inventory_items_get_create' when calling CatalogSupplementalApi.catalogs_local_inventory_items_post"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogSupplementalApi.catalogs_local_inventory_items_post, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogSupplementalApi.catalogs_local_inventory_items_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/{catalog_id}/local_inventory_items/query'.sub('{catalog_id}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(local_inventory_items_get_create)

      # return_type
      return_type = opts[:debug_return_type] || 'LocalInventoryItemsGet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogSupplementalApi.catalogs_local_inventory_items_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogSupplementalApi#catalogs_local_inventory_items_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create local stores
    # Create a local store for a catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param local_store_create [Array<LocalStoreCreate>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<CatalogsLocalStoresCreate200ResponseInner>]
    def catalogs_local_stores_create(catalog_id, local_store_create, opts = {})
      data, _status_code, _headers = catalogs_local_stores_create_with_http_info(catalog_id, local_store_create, opts)
      data
    end

    # Create local stores
    # Create a local store for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param local_store_create [Array<LocalStoreCreate>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(Array<CatalogsLocalStoresCreate200ResponseInner>, Integer, Hash)>] Array<CatalogsLocalStoresCreate200ResponseInner> data, response status code and response headers
    def catalogs_local_stores_create_with_http_info(catalog_id, local_store_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogSupplementalApi.catalogs_local_stores_create ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_stores_create"
      end
      if @api_client.config.client_side_validation && catalog_id.to_s.length > 19
        fail ArgumentError, 'invalid value for "catalog_id" when calling CatalogSupplementalApi.catalogs_local_stores_create, the character length must be smaller than or equal to 19.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && catalog_id !~ pattern
        fail ArgumentError, "invalid value for 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_stores_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'local_store_create' is set
      if @api_client.config.client_side_validation && local_store_create.nil?
        fail ArgumentError, "Missing the required parameter 'local_store_create' when calling CatalogSupplementalApi.catalogs_local_stores_create"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogSupplementalApi.catalogs_local_stores_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogSupplementalApi.catalogs_local_stores_create, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/{catalog_id}/local_stores'.sub('{catalog_id}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(local_store_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CatalogsLocalStoresCreate200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogSupplementalApi.catalogs_local_stores_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogSupplementalApi#catalogs_local_stores_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete local stores
    #   Delete multiple local stores for a catalog owned by the \"operation user_account\".   - By default, the \"operation user_account\" is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param ids [Array<String>] List of local store IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<CatalogsLocalStoresDelete200ResponseInner>]
    def catalogs_local_stores_delete(catalog_id, ids, opts = {})
      data, _status_code, _headers = catalogs_local_stores_delete_with_http_info(catalog_id, ids, opts)
      data
    end

    # Delete local stores
    #   Delete multiple local stores for a catalog owned by the \&quot;operation user_account\&quot;.   - By default, the \&quot;operation user_account\&quot; is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param ids [Array<String>] List of local store IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(Array<CatalogsLocalStoresDelete200ResponseInner>, Integer, Hash)>] Array<CatalogsLocalStoresDelete200ResponseInner> data, response status code and response headers
    def catalogs_local_stores_delete_with_http_info(catalog_id, ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogSupplementalApi.catalogs_local_stores_delete ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_stores_delete"
      end
      if @api_client.config.client_side_validation && catalog_id.to_s.length > 19
        fail ArgumentError, 'invalid value for "catalog_id" when calling CatalogSupplementalApi.catalogs_local_stores_delete, the character length must be smaller than or equal to 19.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && catalog_id !~ pattern
        fail ArgumentError, "invalid value for 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_stores_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling CatalogSupplementalApi.catalogs_local_stores_delete"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogSupplementalApi.catalogs_local_stores_delete, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogSupplementalApi.catalogs_local_stores_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/{catalog_id}/local_stores'.sub('{catalog_id}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(ids, :csv)
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CatalogsLocalStoresDelete200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogSupplementalApi.catalogs_local_stores_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogSupplementalApi#catalogs_local_stores_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List local stores
    # Fetch local stores for a catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of local store IDs to filter by.
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [CatalogsLocalStoresList200Response]
    def catalogs_local_stores_list(catalog_id, opts = {})
      data, _status_code, _headers = catalogs_local_stores_list_with_http_info(catalog_id, opts)
      data
    end

    # List local stores
    # Fetch local stores for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of local store IDs to filter by.
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(CatalogsLocalStoresList200Response, Integer, Hash)>] CatalogsLocalStoresList200Response data, response status code and response headers
    def catalogs_local_stores_list_with_http_info(catalog_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogSupplementalApi.catalogs_local_stores_list ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_stores_list"
      end
      if @api_client.config.client_side_validation && catalog_id.to_s.length > 19
        fail ArgumentError, 'invalid value for "catalog_id" when calling CatalogSupplementalApi.catalogs_local_stores_list, the character length must be smaller than or equal to 19.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && catalog_id !~ pattern
        fail ArgumentError, "invalid value for 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_stores_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogSupplementalApi.catalogs_local_stores_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogSupplementalApi.catalogs_local_stores_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CatalogSupplementalApi.catalogs_local_stores_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CatalogSupplementalApi.catalogs_local_stores_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/catalogs/{catalog_id}/local_stores'.sub('{catalog_id}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsLocalStoresList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogSupplementalApi.catalogs_local_stores_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogSupplementalApi#catalogs_local_stores_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update local stores
    #   Update a local store for a catalog owned by the \"operation user_account\".   - By default, the \"operation user_account\" is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param local_store_batch_update [Array<LocalStoreBatchUpdate>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<CatalogsLocalStoresCreate200ResponseInner>]
    def catalogs_local_stores_update(catalog_id, local_store_batch_update, opts = {})
      data, _status_code, _headers = catalogs_local_stores_update_with_http_info(catalog_id, local_store_batch_update, opts)
      data
    end

    # Update local stores
    #   Update a local store for a catalog owned by the \&quot;operation user_account\&quot;.   - By default, the \&quot;operation user_account\&quot; is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param local_store_batch_update [Array<LocalStoreBatchUpdate>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(Array<CatalogsLocalStoresCreate200ResponseInner>, Integer, Hash)>] Array<CatalogsLocalStoresCreate200ResponseInner> data, response status code and response headers
    def catalogs_local_stores_update_with_http_info(catalog_id, local_store_batch_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogSupplementalApi.catalogs_local_stores_update ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_stores_update"
      end
      if @api_client.config.client_side_validation && catalog_id.to_s.length > 19
        fail ArgumentError, 'invalid value for "catalog_id" when calling CatalogSupplementalApi.catalogs_local_stores_update, the character length must be smaller than or equal to 19.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && catalog_id !~ pattern
        fail ArgumentError, "invalid value for 'catalog_id' when calling CatalogSupplementalApi.catalogs_local_stores_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'local_store_batch_update' is set
      if @api_client.config.client_side_validation && local_store_batch_update.nil?
        fail ArgumentError, "Missing the required parameter 'local_store_batch_update' when calling CatalogSupplementalApi.catalogs_local_stores_update"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogSupplementalApi.catalogs_local_stores_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogSupplementalApi.catalogs_local_stores_update, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/{catalog_id}/local_stores'.sub('{catalog_id}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(local_store_batch_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CatalogsLocalStoresCreate200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogSupplementalApi.catalogs_local_stores_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogSupplementalApi#catalogs_local_stores_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get supplemental items batch status
    # Fetch the status and results of a supplemental items batch operation. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param batch_id [String] Unique identifier of an items batch operation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [SupplementalItemsBatchResponse]
    def catalogs_supplemental_items_batch_get(catalog_id, batch_id, opts = {})
      data, _status_code, _headers = catalogs_supplemental_items_batch_get_with_http_info(catalog_id, batch_id, opts)
      data
    end

    # Get supplemental items batch status
    # Fetch the status and results of a supplemental items batch operation. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Unique identifier of a catalog.
    # @param batch_id [String] Unique identifier of an items batch operation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(SupplementalItemsBatchResponse, Integer, Hash)>] SupplementalItemsBatchResponse data, response status code and response headers
    def catalogs_supplemental_items_batch_get_with_http_info(catalog_id, batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogSupplementalApi.catalogs_supplemental_items_batch_get ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling CatalogSupplementalApi.catalogs_supplemental_items_batch_get"
      end
      if @api_client.config.client_side_validation && catalog_id.to_s.length > 19
        fail ArgumentError, 'invalid value for "catalog_id" when calling CatalogSupplementalApi.catalogs_supplemental_items_batch_get, the character length must be smaller than or equal to 19.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && catalog_id !~ pattern
        fail ArgumentError, "invalid value for 'catalog_id' when calling CatalogSupplementalApi.catalogs_supplemental_items_batch_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling CatalogSupplementalApi.catalogs_supplemental_items_batch_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && batch_id !~ pattern
        fail ArgumentError, "invalid value for 'batch_id' when calling CatalogSupplementalApi.catalogs_supplemental_items_batch_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogSupplementalApi.catalogs_supplemental_items_batch_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogSupplementalApi.catalogs_supplemental_items_batch_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/{catalog_id}/supplemental_items/batch/{batch_id}'.sub('{catalog_id}', CGI.escape(catalog_id.to_s)).sub('{batch_id}', CGI.escape(batch_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupplementalItemsBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogSupplementalApi.catalogs_supplemental_items_batch_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogSupplementalApi#catalogs_supplemental_items_batch_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
