=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class CatalogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List available filter values
    # Get the available filter attributes and values associated with a given feed or catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account. - `country`, `language`, and `feed_id` are only used in retail catalogs. - Note: It is not guaranteed that all available filter values will be returned. Instead this endpoint will return values from a sample of up to 1000 items.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Filter entities for a given catalog_id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :feed_id Filter entities for a given feed_id. If not given, all feeds are considered.
    # @option opts [Country] :country Country for the Catalogs Items
    # @option opts [CatalogsLocale] :language Language for the Catalogs Items
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [CatalogsAvailableFilterValues]
    def catalogs_available_filter_values(catalog_id, opts = {})
      data, _status_code, _headers = catalogs_available_filter_values_with_http_info(catalog_id, opts)
      data
    end

    # List available filter values
    # Get the available filter attributes and values associated with a given feed or catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - &#x60;country&#x60;, &#x60;language&#x60;, and &#x60;feed_id&#x60; are only used in retail catalogs. - Note: It is not guaranteed that all available filter values will be returned. Instead this endpoint will return values from a sample of up to 1000 items.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalog_id [String] Filter entities for a given catalog_id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :feed_id Filter entities for a given feed_id. If not given, all feeds are considered.
    # @option opts [Country] :country Country for the Catalogs Items
    # @option opts [CatalogsLocale] :language Language for the Catalogs Items
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(CatalogsAvailableFilterValues, Integer, Hash)>] CatalogsAvailableFilterValues data, response status code and response headers
    def catalogs_available_filter_values_with_http_info(catalog_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogsApi.catalogs_available_filter_values ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling CatalogsApi.catalogs_available_filter_values"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && catalog_id !~ pattern
        fail ArgumentError, "invalid value for 'catalog_id' when calling CatalogsApi.catalogs_available_filter_values, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'feed_id'].nil? && opts[:'feed_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"feed_id\"]' when calling CatalogsApi.catalogs_available_filter_values, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogsApi.catalogs_available_filter_values, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogsApi.catalogs_available_filter_values, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/available_filter_values'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'catalog_id'] = catalog_id
      query_params[:'feed_id'] = opts[:'feed_id'] if !opts[:'feed_id'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsAvailableFilterValues'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogsApi.catalogs_available_filter_values",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogsApi#catalogs_available_filter_values\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create catalog
    # Create a new catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Product and Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    # @param catalog_create [CatalogCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Catalog]
    def catalogs_create(catalog_create, opts = {})
      data, _status_code, _headers = catalogs_create_with_http_info(catalog_create, opts)
      data
    end

    # Create catalog
    # Create a new catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Product and Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    # @param catalog_create [CatalogCreate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(Catalog, Integer, Hash)>] Catalog data, response status code and response headers
    def catalogs_create_with_http_info(catalog_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogsApi.catalogs_create ...'
      end
      # verify the required parameter 'catalog_create' is set
      if @api_client.config.client_side_validation && catalog_create.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_create' when calling CatalogsApi.catalogs_create"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogsApi.catalogs_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogsApi.catalogs_create, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(catalog_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Catalog'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogsApi.catalogs_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogsApi#catalogs_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List catalogs
    # Fetch catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [CatalogsList200Response]
    def catalogs_list(opts = {})
      data, _status_code, _headers = catalogs_list_with_http_info(opts)
      data
    end

    # List catalogs
    # Fetch catalogs owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(CatalogsList200Response, Integer, Hash)>] CatalogsList200Response data, response status code and response headers
    def catalogs_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogsApi.catalogs_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogsApi.catalogs_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogsApi.catalogs_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CatalogsApi.catalogs_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CatalogsApi.catalogs_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/catalogs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogsApi.catalogs_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogsApi#catalogs_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
