=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class CatalogProductGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List products by product group
    # Get a list of product pins for a given Catalogs Product Group Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param product_group_id [String] Unique identifier of a product group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [Boolean] :pin_metrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (default to false)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [CatalogsProductGroupPinsList200Response]
    def catalogs_product_group_pins_list(product_group_id, opts = {})
      data, _status_code, _headers = catalogs_product_group_pins_list_with_http_info(product_group_id, opts)
      data
    end

    # List products by product group
    # Get a list of product pins for a given Catalogs Product Group Id owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param product_group_id [String] Unique identifier of a product group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [Boolean] :pin_metrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (default to false)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(CatalogsProductGroupPinsList200Response, Integer, Hash)>] CatalogsProductGroupPinsList200Response data, response status code and response headers
    def catalogs_product_group_pins_list_with_http_info(product_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogProductGroupsApi.catalogs_product_group_pins_list ...'
      end
      # verify the required parameter 'product_group_id' is set
      if @api_client.config.client_side_validation && product_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_group_id' when calling CatalogProductGroupsApi.catalogs_product_group_pins_list"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && product_group_id !~ pattern
        fail ArgumentError, "invalid value for 'product_group_id' when calling CatalogProductGroupsApi.catalogs_product_group_pins_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogProductGroupsApi.catalogs_product_group_pins_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogProductGroupsApi.catalogs_product_group_pins_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CatalogProductGroupsApi.catalogs_product_group_pins_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CatalogProductGroupsApi.catalogs_product_group_pins_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/catalogs/product_groups/{product_group_id}/products'.sub('{product_group_id}', CGI.escape(product_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'pin_metrics'] = opts[:'pin_metrics'] if !opts[:'pin_metrics'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsProductGroupPinsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"CatalogProductGroupsApi.catalogs_product_group_pins_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogProductGroupsApi#catalogs_product_group_pins_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create product group
    # Create product group to use in Catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager. \"Catalog-based product groups\" can include items from all data sources (feeds and API) and are available to both non-retail catalogs with any data sources and retail catalogs with API-created items. If your catalog only contains retail items created via feeds, you should use the \"retail feed-based\" option. [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    # @param catalogs_product_groups_create_request_schema [CatalogsProductGroupsCreateRequestSchema] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [CatalogsVerticalProductGroup]
    def catalogs_product_groups_create(catalogs_product_groups_create_request_schema, opts = {})
      data, _status_code, _headers = catalogs_product_groups_create_with_http_info(catalogs_product_groups_create_request_schema, opts)
      data
    end

    # Create product group
    # Create product group to use in Catalogs owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager. \&quot;Catalog-based product groups\&quot; can include items from all data sources (feeds and API) and are available to both non-retail catalogs with any data sources and retail catalogs with API-created items. If your catalog only contains retail items created via feeds, you should use the \&quot;retail feed-based\&quot; option. [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    # @param catalogs_product_groups_create_request_schema [CatalogsProductGroupsCreateRequestSchema] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(CatalogsVerticalProductGroup, Integer, Hash)>] CatalogsVerticalProductGroup data, response status code and response headers
    def catalogs_product_groups_create_with_http_info(catalogs_product_groups_create_request_schema, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogProductGroupsApi.catalogs_product_groups_create ...'
      end
      # verify the required parameter 'catalogs_product_groups_create_request_schema' is set
      if @api_client.config.client_side_validation && catalogs_product_groups_create_request_schema.nil?
        fail ArgumentError, "Missing the required parameter 'catalogs_product_groups_create_request_schema' when calling CatalogProductGroupsApi.catalogs_product_groups_create"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogProductGroupsApi.catalogs_product_groups_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogProductGroupsApi.catalogs_product_groups_create, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/product_groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(catalogs_product_groups_create_request_schema)

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsVerticalProductGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogProductGroupsApi.catalogs_product_groups_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogProductGroupsApi#catalogs_product_groups_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create product groups
    # Create product group to use in Catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    # @param catalogs_product_groups_create_many_request_items [Array<CatalogsProductGroupsCreateManyRequestItems>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<String>]
    def catalogs_product_groups_create_many(catalogs_product_groups_create_many_request_items, opts = {})
      data, _status_code, _headers = catalogs_product_groups_create_many_with_http_info(catalogs_product_groups_create_many_request_items, opts)
      data
    end

    # Create product groups
    # Create product group to use in Catalogs owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    # @param catalogs_product_groups_create_many_request_items [Array<CatalogsProductGroupsCreateManyRequestItems>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(Array<String>, Integer, Hash)>] Array<String> data, response status code and response headers
    def catalogs_product_groups_create_many_with_http_info(catalogs_product_groups_create_many_request_items, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogProductGroupsApi.catalogs_product_groups_create_many ...'
      end
      # verify the required parameter 'catalogs_product_groups_create_many_request_items' is set
      if @api_client.config.client_side_validation && catalogs_product_groups_create_many_request_items.nil?
        fail ArgumentError, "Missing the required parameter 'catalogs_product_groups_create_many_request_items' when calling CatalogProductGroupsApi.catalogs_product_groups_create_many"
      end
      if @api_client.config.client_side_validation && catalogs_product_groups_create_many_request_items.length > 1000
        fail ArgumentError, 'invalid value for "catalogs_product_groups_create_many_request_items" when calling CatalogProductGroupsApi.catalogs_product_groups_create_many, number of items must be less than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && catalogs_product_groups_create_many_request_items.length < 1
        fail ArgumentError, 'invalid value for "catalogs_product_groups_create_many_request_items" when calling CatalogProductGroupsApi.catalogs_product_groups_create_many, number of items must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogProductGroupsApi.catalogs_product_groups_create_many, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogProductGroupsApi.catalogs_product_groups_create_many, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/product_groups/multiple'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(catalogs_product_groups_create_many_request_items)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogProductGroupsApi.catalogs_product_groups_create_many",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogProductGroupsApi#catalogs_product_groups_create_many\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete product group
    # Delete a product group owned by the \"operation user_account\" from being in use in Catalogs. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param product_group_id [String] Unique identifier of a product group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [CatalogsVerticalProductGroup]
    def catalogs_product_groups_delete(product_group_id, opts = {})
      data, _status_code, _headers = catalogs_product_groups_delete_with_http_info(product_group_id, opts)
      data
    end

    # Delete product group
    # Delete a product group owned by the \&quot;operation user_account\&quot; from being in use in Catalogs. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param product_group_id [String] Unique identifier of a product group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(CatalogsVerticalProductGroup, Integer, Hash)>] CatalogsVerticalProductGroup data, response status code and response headers
    def catalogs_product_groups_delete_with_http_info(product_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogProductGroupsApi.catalogs_product_groups_delete ...'
      end
      # verify the required parameter 'product_group_id' is set
      if @api_client.config.client_side_validation && product_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_group_id' when calling CatalogProductGroupsApi.catalogs_product_groups_delete"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && product_group_id !~ pattern
        fail ArgumentError, "invalid value for 'product_group_id' when calling CatalogProductGroupsApi.catalogs_product_groups_delete, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogProductGroupsApi.catalogs_product_groups_delete, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogProductGroupsApi.catalogs_product_groups_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/product_groups/{product_group_id}'.sub('{product_group_id}', CGI.escape(product_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsVerticalProductGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogProductGroupsApi.catalogs_product_groups_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogProductGroupsApi#catalogs_product_groups_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete product groups
    # Delete product groups owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param id [Array<Integer>] Comma-separated list of product group ids
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [nil]
    def catalogs_product_groups_delete_many(id, opts = {})
      catalogs_product_groups_delete_many_with_http_info(id, opts)
      nil
    end

    # Delete product groups
    # Delete product groups owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param id [Array<Integer>] Comma-separated list of product group ids
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def catalogs_product_groups_delete_many_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogProductGroupsApi.catalogs_product_groups_delete_many ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CatalogProductGroupsApi.catalogs_product_groups_delete_many"
      end
      if @api_client.config.client_side_validation && id.length > 1000
        fail ArgumentError, 'invalid value for "id" when calling CatalogProductGroupsApi.catalogs_product_groups_delete_many, number of items must be less than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && id.length < 1
        fail ArgumentError, 'invalid value for "id" when calling CatalogProductGroupsApi.catalogs_product_groups_delete_many, number of items must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogProductGroupsApi.catalogs_product_groups_delete_many, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogProductGroupsApi.catalogs_product_groups_delete_many, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/product_groups/multiple'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = @api_client.build_collection_param(id, :csv)
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogProductGroupsApi.catalogs_product_groups_delete_many",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogProductGroupsApi#catalogs_product_groups_delete_many\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product group
    # Get a single product group for a given Catalogs Product Group Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param product_group_id [String] Unique identifier of a product group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [CatalogsVerticalProductGroup]
    def catalogs_product_groups_get(product_group_id, opts = {})
      data, _status_code, _headers = catalogs_product_groups_get_with_http_info(product_group_id, opts)
      data
    end

    # Get product group
    # Get a single product group for a given Catalogs Product Group Id owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param product_group_id [String] Unique identifier of a product group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(CatalogsVerticalProductGroup, Integer, Hash)>] CatalogsVerticalProductGroup data, response status code and response headers
    def catalogs_product_groups_get_with_http_info(product_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogProductGroupsApi.catalogs_product_groups_get ...'
      end
      # verify the required parameter 'product_group_id' is set
      if @api_client.config.client_side_validation && product_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_group_id' when calling CatalogProductGroupsApi.catalogs_product_groups_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && product_group_id !~ pattern
        fail ArgumentError, "invalid value for 'product_group_id' when calling CatalogProductGroupsApi.catalogs_product_groups_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogProductGroupsApi.catalogs_product_groups_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogProductGroupsApi.catalogs_product_groups_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/product_groups/{product_group_id}'.sub('{product_group_id}', CGI.escape(product_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsVerticalProductGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogProductGroupsApi.catalogs_product_groups_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogProductGroupsApi#catalogs_product_groups_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List product groups
    # Get a list of product groups for a given Catalogs Feed Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :id Comma-separated list of product group ids
    # @option opts [String] :feed_id Filter entities for a given feed_id. If not given, all feeds are considered.
    # @option opts [String] :catalog_id Filter entities for a given catalog_id. If not given, all catalogs are considered.
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [CatalogsProductGroupsList200Response]
    def catalogs_product_groups_list(opts = {})
      data, _status_code, _headers = catalogs_product_groups_list_with_http_info(opts)
      data
    end

    # List product groups
    # Get a list of product groups for a given Catalogs Feed Id owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :id Comma-separated list of product group ids
    # @option opts [String] :feed_id Filter entities for a given feed_id. If not given, all feeds are considered.
    # @option opts [String] :catalog_id Filter entities for a given catalog_id. If not given, all catalogs are considered.
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(CatalogsProductGroupsList200Response, Integer, Hash)>] CatalogsProductGroupsList200Response data, response status code and response headers
    def catalogs_product_groups_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogProductGroupsApi.catalogs_product_groups_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].length > 1000
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling CatalogProductGroupsApi.catalogs_product_groups_list, number of items must be less than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling CatalogProductGroupsApi.catalogs_product_groups_list, number of items must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'feed_id'].nil? && opts[:'feed_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"feed_id\"]' when calling CatalogProductGroupsApi.catalogs_product_groups_list, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'catalog_id'].nil? && opts[:'catalog_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"catalog_id\"]' when calling CatalogProductGroupsApi.catalogs_product_groups_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogProductGroupsApi.catalogs_product_groups_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogProductGroupsApi.catalogs_product_groups_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CatalogProductGroupsApi.catalogs_product_groups_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CatalogProductGroupsApi.catalogs_product_groups_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/catalogs/product_groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = @api_client.build_collection_param(opts[:'id'], :csv) if !opts[:'id'].nil?
      query_params[:'feed_id'] = opts[:'feed_id'] if !opts[:'feed_id'].nil?
      query_params[:'catalog_id'] = opts[:'catalog_id'] if !opts[:'catalog_id'].nil?
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsProductGroupsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogProductGroupsApi.catalogs_product_groups_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogProductGroupsApi#catalogs_product_groups_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product counts
    # Get a product counts for a given Catalogs Product Group owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param product_group_id [String] Unique identifier of a product group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [CatalogsProductGroupProductCountsVertical]
    def catalogs_product_groups_product_counts_get(product_group_id, opts = {})
      data, _status_code, _headers = catalogs_product_groups_product_counts_get_with_http_info(product_group_id, opts)
      data
    end

    # Get product counts
    # Get a product counts for a given Catalogs Product Group owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
    # @param product_group_id [String] Unique identifier of a product group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(CatalogsProductGroupProductCountsVertical, Integer, Hash)>] CatalogsProductGroupProductCountsVertical data, response status code and response headers
    def catalogs_product_groups_product_counts_get_with_http_info(product_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogProductGroupsApi.catalogs_product_groups_product_counts_get ...'
      end
      # verify the required parameter 'product_group_id' is set
      if @api_client.config.client_side_validation && product_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_group_id' when calling CatalogProductGroupsApi.catalogs_product_groups_product_counts_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && product_group_id !~ pattern
        fail ArgumentError, "invalid value for 'product_group_id' when calling CatalogProductGroupsApi.catalogs_product_groups_product_counts_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogProductGroupsApi.catalogs_product_groups_product_counts_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogProductGroupsApi.catalogs_product_groups_product_counts_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/product_groups/{product_group_id}/product_counts'.sub('{product_group_id}', CGI.escape(product_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsProductGroupProductCountsVertical'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogProductGroupsApi.catalogs_product_groups_product_counts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogProductGroupsApi#catalogs_product_groups_product_counts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update single product group
    # Update product group owned by the \"operation user_account\" to use in Catalogs. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager. \"Catalog-based product groups\" can include items from all data sources (feeds and API) and are available to both non-retail catalogs with any data sources and retail catalogs with API-created items. If your catalog only contains retail items created via feeds, you should use the \"retail feed-based\" option. [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    # @param product_group_id [String] Unique identifier of a product group
    # @param catalogs_product_groups_update_request_schema [CatalogsProductGroupsUpdateRequestSchema] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [CatalogsVerticalProductGroup]
    def catalogs_product_groups_update(product_group_id, catalogs_product_groups_update_request_schema, opts = {})
      data, _status_code, _headers = catalogs_product_groups_update_with_http_info(product_group_id, catalogs_product_groups_update_request_schema, opts)
      data
    end

    # Update single product group
    # Update product group owned by the \&quot;operation user_account\&quot; to use in Catalogs. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager. \&quot;Catalog-based product groups\&quot; can include items from all data sources (feeds and API) and are available to both non-retail catalogs with any data sources and retail catalogs with API-created items. If your catalog only contains retail items created via feeds, you should use the \&quot;retail feed-based\&quot; option. [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    # @param product_group_id [String] Unique identifier of a product group
    # @param catalogs_product_groups_update_request_schema [CatalogsProductGroupsUpdateRequestSchema] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(CatalogsVerticalProductGroup, Integer, Hash)>] CatalogsVerticalProductGroup data, response status code and response headers
    def catalogs_product_groups_update_with_http_info(product_group_id, catalogs_product_groups_update_request_schema, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogProductGroupsApi.catalogs_product_groups_update ...'
      end
      # verify the required parameter 'product_group_id' is set
      if @api_client.config.client_side_validation && product_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_group_id' when calling CatalogProductGroupsApi.catalogs_product_groups_update"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && product_group_id !~ pattern
        fail ArgumentError, "invalid value for 'product_group_id' when calling CatalogProductGroupsApi.catalogs_product_groups_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'catalogs_product_groups_update_request_schema' is set
      if @api_client.config.client_side_validation && catalogs_product_groups_update_request_schema.nil?
        fail ArgumentError, "Missing the required parameter 'catalogs_product_groups_update_request_schema' when calling CatalogProductGroupsApi.catalogs_product_groups_update"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogProductGroupsApi.catalogs_product_groups_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogProductGroupsApi.catalogs_product_groups_update, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/product_groups/{product_group_id}'.sub('{product_group_id}', CGI.escape(product_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(catalogs_product_groups_update_request_schema)

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsVerticalProductGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogProductGroupsApi.catalogs_product_groups_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogProductGroupsApi#catalogs_product_groups_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List products by filter
    # List products Pins owned by the \"operation user_account\" that meet the criteria specified in the Catalogs Product Group Filter given in the request. - This endpoint has been implemented in POST to allow for complex filters. This specific POST endpoint is designed to be idempotent. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: This endpoint only supports RETAIL catalog at the moment.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalogs_list_products_by_filter_request [CatalogsListProductsByFilterRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [Boolean] :pin_metrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (default to false)
    # @return [CatalogsProductGroupPinsList200Response]
    def products_by_product_group_filter_list(catalogs_list_products_by_filter_request, opts = {})
      data, _status_code, _headers = products_by_product_group_filter_list_with_http_info(catalogs_list_products_by_filter_request, opts)
      data
    end

    # List products by filter
    # List products Pins owned by the \&quot;operation user_account\&quot; that meet the criteria specified in the Catalogs Product Group Filter given in the request. - This endpoint has been implemented in POST to allow for complex filters. This specific POST endpoint is designed to be idempotent. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &#x60;ad_account_id&#x60; (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: This endpoint only supports RETAIL catalog at the moment.  [Learn more](/docs/api-features/shopping-overview/)
    # @param catalogs_list_products_by_filter_request [CatalogsListProductsByFilterRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [Boolean] :pin_metrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (default to false)
    # @return [Array<(CatalogsProductGroupPinsList200Response, Integer, Hash)>] CatalogsProductGroupPinsList200Response data, response status code and response headers
    def products_by_product_group_filter_list_with_http_info(catalogs_list_products_by_filter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CatalogProductGroupsApi.products_by_product_group_filter_list ...'
      end
      # verify the required parameter 'catalogs_list_products_by_filter_request' is set
      if @api_client.config.client_side_validation && catalogs_list_products_by_filter_request.nil?
        fail ArgumentError, "Missing the required parameter 'catalogs_list_products_by_filter_request' when calling CatalogProductGroupsApi.products_by_product_group_filter_list"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CatalogProductGroupsApi.products_by_product_group_filter_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CatalogProductGroupsApi.products_by_product_group_filter_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling CatalogProductGroupsApi.products_by_product_group_filter_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling CatalogProductGroupsApi.products_by_product_group_filter_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/catalogs/products/get_by_product_group_filters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'pin_metrics'] = opts[:'pin_metrics'] if !opts[:'pin_metrics'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(catalogs_list_products_by_filter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogsProductGroupPinsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CatalogProductGroupsApi.products_by_product_group_filter_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CatalogProductGroupsApi#products_by_product_group_filter_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
