=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class ConversionEqsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get event quality score (EQS)
    # Get the Event Quality Score (EQS) of your conversion signals.  [Event Quality Score](https://help.pinterest.com/en/business/article/eqs) indicates how effective the customer information and event insights (metadata) passed with your web, app and offline conversion events may be at matching to a Pinterest user.
    # @param lookback_period [LookbackPeriodOptions] Lookback window (number of days).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [SourcePlatformOptions] :source_platform Source platform of event.
    # @option opts [IngestionSourceOptions] :ingestion_source Ingestion source of event.
    # @return [Array<EventQualityScore>]
    def conversion_eqs_list(lookback_period, ad_account_id, opts = {})
      data, _status_code, _headers = conversion_eqs_list_with_http_info(lookback_period, ad_account_id, opts)
      data
    end

    # Get event quality score (EQS)
    # Get the Event Quality Score (EQS) of your conversion signals.  [Event Quality Score](https://help.pinterest.com/en/business/article/eqs) indicates how effective the customer information and event insights (metadata) passed with your web, app and offline conversion events may be at matching to a Pinterest user.
    # @param lookback_period [LookbackPeriodOptions] Lookback window (number of days).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [SourcePlatformOptions] :source_platform Source platform of event.
    # @option opts [IngestionSourceOptions] :ingestion_source Ingestion source of event.
    # @return [Array<(Array<EventQualityScore>, Integer, Hash)>] Array<EventQualityScore> data, response status code and response headers
    def conversion_eqs_list_with_http_info(lookback_period, ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionEqsApi.conversion_eqs_list ...'
      end
      # verify the required parameter 'lookback_period' is set
      if @api_client.config.client_side_validation && lookback_period.nil?
        fail ArgumentError, "Missing the required parameter 'lookback_period' when calling ConversionEqsApi.conversion_eqs_list"
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionEqsApi.conversion_eqs_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionEqsApi.conversion_eqs_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionEqsApi.conversion_eqs_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/conversion_eqs'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lookback_period'] = lookback_period
      query_params[:'source_platform'] = opts[:'source_platform'] if !opts[:'source_platform'].nil?
      query_params[:'ingestion_source'] = opts[:'ingestion_source'] if !opts[:'ingestion_source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EventQualityScore>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionEqsApi.conversion_eqs_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionEqsApi#conversion_eqs_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
