=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class ConversionDeletionRequestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a conversion deletion request
    # **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Create a request to delete conversion data for a list of user emails and/or EPIKs, limited to the specified `ad_account_id`. After 72 hours the request is processed and submitted to our deletion process. Then the deletion process ensures deletion within a 30 days period, once the request is submitted to the deletion process it cannot be canceled.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param conversion_deletion_request_create [ConversionDeletionRequestCreate] 
    # @param [Hash] opts the optional parameters
    # @return [ConversionDeletionRequest]
    def conversion_deletion_request_create(ad_account_id, conversion_deletion_request_create, opts = {})
      data, _status_code, _headers = conversion_deletion_request_create_with_http_info(ad_account_id, conversion_deletion_request_create, opts)
      data
    end

    # Create a conversion deletion request
    # **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Create a request to delete conversion data for a list of user emails and/or EPIKs, limited to the specified &#x60;ad_account_id&#x60;. After 72 hours the request is processed and submitted to our deletion process. Then the deletion process ensures deletion within a 30 days period, once the request is submitted to the deletion process it cannot be canceled.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param conversion_deletion_request_create [ConversionDeletionRequestCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversionDeletionRequest, Integer, Hash)>] ConversionDeletionRequest data, response status code and response headers
    def conversion_deletion_request_create_with_http_info(ad_account_id, conversion_deletion_request_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionDeletionRequestsApi.conversion_deletion_request_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionDeletionRequestsApi.conversion_deletion_request_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'conversion_deletion_request_create' is set
      if @api_client.config.client_side_validation && conversion_deletion_request_create.nil?
        fail ArgumentError, "Missing the required parameter 'conversion_deletion_request_create' when calling ConversionDeletionRequestsApi.conversion_deletion_request_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/conversion_deletion_requests'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(conversion_deletion_request_create)

      # return_type
      return_type = opts[:debug_return_type] || 'ConversionDeletionRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionDeletionRequestsApi.conversion_deletion_request_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionDeletionRequestsApi#conversion_deletion_request_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a conversion deletion request
    # **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Delete a conversion deletion request from `ad_account_id` with `request_id`. This will cancel the request and prevent it from being processed. This can only be done if the request is in the `PENDING` status and before the 72 hours mark.
    # @param request_id [String] Unique identifier of the conversion deletion request
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [ConversionDeletionRequest]
    def conversion_deletion_request_delete(request_id, ad_account_id, opts = {})
      data, _status_code, _headers = conversion_deletion_request_delete_with_http_info(request_id, ad_account_id, opts)
      data
    end

    # Delete a conversion deletion request
    # **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Delete a conversion deletion request from &#x60;ad_account_id&#x60; with &#x60;request_id&#x60;. This will cancel the request and prevent it from being processed. This can only be done if the request is in the &#x60;PENDING&#x60; status and before the 72 hours mark.
    # @param request_id [String] Unique identifier of the conversion deletion request
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversionDeletionRequest, Integer, Hash)>] ConversionDeletionRequest data, response status code and response headers
    def conversion_deletion_request_delete_with_http_info(request_id, ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionDeletionRequestsApi.conversion_deletion_request_delete ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_delete"
      end
      if @api_client.config.client_side_validation && request_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "request_id" when calling ConversionDeletionRequestsApi.conversion_deletion_request_delete, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && request_id !~ pattern
        fail ArgumentError, "invalid value for 'request_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_delete"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionDeletionRequestsApi.conversion_deletion_request_delete, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/conversion_deletion_requests/{request_id}'.sub('{request_id}', CGI.escape(request_id.to_s)).sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConversionDeletionRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionDeletionRequestsApi.conversion_deletion_request_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionDeletionRequestsApi#conversion_deletion_request_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single conversion deletion request
    # **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Get a single conversion deletion request from `ad_account_id` with `request_id`.
    # @param request_id [String] Unique identifier of the conversion deletion request
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [ConversionDeletionRequest]
    def conversion_deletion_request_get(request_id, ad_account_id, opts = {})
      data, _status_code, _headers = conversion_deletion_request_get_with_http_info(request_id, ad_account_id, opts)
      data
    end

    # Get a single conversion deletion request
    # **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Get a single conversion deletion request from &#x60;ad_account_id&#x60; with &#x60;request_id&#x60;.
    # @param request_id [String] Unique identifier of the conversion deletion request
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversionDeletionRequest, Integer, Hash)>] ConversionDeletionRequest data, response status code and response headers
    def conversion_deletion_request_get_with_http_info(request_id, ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionDeletionRequestsApi.conversion_deletion_request_get ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_get"
      end
      if @api_client.config.client_side_validation && request_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "request_id" when calling ConversionDeletionRequestsApi.conversion_deletion_request_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && request_id !~ pattern
        fail ArgumentError, "invalid value for 'request_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionDeletionRequestsApi.conversion_deletion_request_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/conversion_deletion_requests/{request_id}'.sub('{request_id}', CGI.escape(request_id.to_s)).sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConversionDeletionRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionDeletionRequestsApi.conversion_deletion_request_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionDeletionRequestsApi#conversion_deletion_request_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List conversion deletion requests
    # **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Get a list of the conversion deletion requests for the specified `ad_account_id`.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @return [ConversionDeletionRequestList200Response]
    def conversion_deletion_request_list(ad_account_id, opts = {})
      data, _status_code, _headers = conversion_deletion_request_list_with_http_info(ad_account_id, opts)
      data
    end

    # List conversion deletion requests
    # **This endpoint is currently in beta and not available to all apps.** [Learn more](/docs/key-concepts/using-beta-and-restricted-features/). Get a list of the conversion deletion requests for the specified &#x60;ad_account_id&#x60;.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @return [Array<(ConversionDeletionRequestList200Response, Integer, Hash)>] ConversionDeletionRequestList200Response data, response status code and response headers
    def conversion_deletion_request_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionDeletionRequestsApi.conversion_deletion_request_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionDeletionRequestsApi.conversion_deletion_request_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionDeletionRequestsApi.conversion_deletion_request_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ConversionDeletionRequestsApi.conversion_deletion_request_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ConversionDeletionRequestsApi.conversion_deletion_request_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/conversion_deletion_requests'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConversionDeletionRequestList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionDeletionRequestsApi.conversion_deletion_request_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionDeletionRequestsApi#conversion_deletion_request_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
