=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class ConversionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create advertiser defined events
    # Map advertiser defined events to standard events for the given ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param advertiser_defined_events_create_request [AdvertiserDefinedEventsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdvertiserDefinedEventsCreate200Response]
    def advertiser_defined_events_create(ad_account_id, advertiser_defined_events_create_request, opts = {})
      data, _status_code, _headers = advertiser_defined_events_create_with_http_info(ad_account_id, advertiser_defined_events_create_request, opts)
      data
    end

    # Create advertiser defined events
    # Map advertiser defined events to standard events for the given ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param advertiser_defined_events_create_request [AdvertiserDefinedEventsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvertiserDefinedEventsCreate200Response, Integer, Hash)>] AdvertiserDefinedEventsCreate200Response data, response status code and response headers
    def advertiser_defined_events_create_with_http_info(ad_account_id, advertiser_defined_events_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionsApi.advertiser_defined_events_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionsApi.advertiser_defined_events_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionsApi.advertiser_defined_events_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionsApi.advertiser_defined_events_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'advertiser_defined_events_create_request' is set
      if @api_client.config.client_side_validation && advertiser_defined_events_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'advertiser_defined_events_create_request' when calling ConversionsApi.advertiser_defined_events_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/advertiser_defined_events'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(advertiser_defined_events_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdvertiserDefinedEventsCreate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionsApi.advertiser_defined_events_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionsApi#advertiser_defined_events_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete advertiser defined events
    # Untrack advertiser defined events for the given ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param event_names [Array<String>] List of event names to delete
    # @param [Hash] opts the optional parameters
    # @return [AdvertiserDefinedEventsCreate200Response]
    def advertiser_defined_events_delete(ad_account_id, event_names, opts = {})
      data, _status_code, _headers = advertiser_defined_events_delete_with_http_info(ad_account_id, event_names, opts)
      data
    end

    # Delete advertiser defined events
    # Untrack advertiser defined events for the given ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param event_names [Array<String>] List of event names to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvertiserDefinedEventsCreate200Response, Integer, Hash)>] AdvertiserDefinedEventsCreate200Response data, response status code and response headers
    def advertiser_defined_events_delete_with_http_info(ad_account_id, event_names, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionsApi.advertiser_defined_events_delete ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionsApi.advertiser_defined_events_delete"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionsApi.advertiser_defined_events_delete, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionsApi.advertiser_defined_events_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'event_names' is set
      if @api_client.config.client_side_validation && event_names.nil?
        fail ArgumentError, "Missing the required parameter 'event_names' when calling ConversionsApi.advertiser_defined_events_delete"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/advertiser_defined_events'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'event_names'] = @api_client.build_collection_param(event_names, :csv)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdvertiserDefinedEventsCreate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionsApi.advertiser_defined_events_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionsApi#advertiser_defined_events_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get advertiser defined events
    # Get advertiser defined events for the given ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [AdvertiserDefinedEventsGet200Response]
    def advertiser_defined_events_get(ad_account_id, opts = {})
      data, _status_code, _headers = advertiser_defined_events_get_with_http_info(ad_account_id, opts)
      data
    end

    # Get advertiser defined events
    # Get advertiser defined events for the given ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvertiserDefinedEventsGet200Response, Integer, Hash)>] AdvertiserDefinedEventsGet200Response data, response status code and response headers
    def advertiser_defined_events_get_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionsApi.advertiser_defined_events_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionsApi.advertiser_defined_events_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionsApi.advertiser_defined_events_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionsApi.advertiser_defined_events_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/advertiser_defined_events'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdvertiserDefinedEventsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionsApi.advertiser_defined_events_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionsApi#advertiser_defined_events_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update advertiser defined events
    # Update advertiser defined event names or mappings for the given ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param advertiser_defined_events_create_request [AdvertiserDefinedEventsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdvertiserDefinedEventsCreate200Response]
    def advertiser_defined_events_update(ad_account_id, advertiser_defined_events_create_request, opts = {})
      data, _status_code, _headers = advertiser_defined_events_update_with_http_info(ad_account_id, advertiser_defined_events_create_request, opts)
      data
    end

    # Update advertiser defined events
    # Update advertiser defined event names or mappings for the given ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param advertiser_defined_events_create_request [AdvertiserDefinedEventsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvertiserDefinedEventsCreate200Response, Integer, Hash)>] AdvertiserDefinedEventsCreate200Response data, response status code and response headers
    def advertiser_defined_events_update_with_http_info(ad_account_id, advertiser_defined_events_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionsApi.advertiser_defined_events_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionsApi.advertiser_defined_events_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionsApi.advertiser_defined_events_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionsApi.advertiser_defined_events_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'advertiser_defined_events_create_request' is set
      if @api_client.config.client_side_validation && advertiser_defined_events_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'advertiser_defined_events_create_request' when calling ConversionsApi.advertiser_defined_events_update"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/advertiser_defined_events'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(advertiser_defined_events_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdvertiserDefinedEventsCreate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionsApi.advertiser_defined_events_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionsApi#advertiser_defined_events_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
