=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class ConversionTagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create conversion tag
    # Create a conversion tag, also known as [Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag), with the option to enable enhanced match.  The Pinterest Tag tracks actions people take on the ad account's website after they view the ad account's ad on Pinterest. The advertiser needs to customize this tag to track conversions.  For more information, see:  [Set up the Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag)  [Pinterest Tag](/docs/track-conversions/pinterest-tag/)  [Enhanced match](/docs/track-conversions/pinterest-tag/#enhanced-match)
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param conversion_tag_create [ConversionTagCreate] 
    # @param [Hash] opts the optional parameters
    # @return [ConversionTag]
    def conversion_tags_create(ad_account_id, conversion_tag_create, opts = {})
      data, _status_code, _headers = conversion_tags_create_with_http_info(ad_account_id, conversion_tag_create, opts)
      data
    end

    # Create conversion tag
    # Create a conversion tag, also known as [Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag), with the option to enable enhanced match.  The Pinterest Tag tracks actions people take on the ad account&#39;s website after they view the ad account&#39;s ad on Pinterest. The advertiser needs to customize this tag to track conversions.  For more information, see:  [Set up the Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag)  [Pinterest Tag](/docs/track-conversions/pinterest-tag/)  [Enhanced match](/docs/track-conversions/pinterest-tag/#enhanced-match)
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param conversion_tag_create [ConversionTagCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversionTag, Integer, Hash)>] ConversionTag data, response status code and response headers
    def conversion_tags_create_with_http_info(ad_account_id, conversion_tag_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionTagsApi.conversion_tags_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionTagsApi.conversion_tags_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionTagsApi.conversion_tags_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionTagsApi.conversion_tags_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'conversion_tag_create' is set
      if @api_client.config.client_side_validation && conversion_tag_create.nil?
        fail ArgumentError, "Missing the required parameter 'conversion_tag_create' when calling ConversionTagsApi.conversion_tags_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/conversion_tags'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(conversion_tag_create)

      # return_type
      return_type = opts[:debug_return_type] || 'ConversionTag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"ConversionTagsApi.conversion_tags_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionTagsApi#conversion_tags_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get conversion tag
    # Get information about an existing conversion tag.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param conversion_tag_id [String] Id of the conversion tag.
    # @param [Hash] opts the optional parameters
    # @return [ConversionTag]
    def conversion_tags_get(ad_account_id, conversion_tag_id, opts = {})
      data, _status_code, _headers = conversion_tags_get_with_http_info(ad_account_id, conversion_tag_id, opts)
      data
    end

    # Get conversion tag
    # Get information about an existing conversion tag.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param conversion_tag_id [String] Id of the conversion tag.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversionTag, Integer, Hash)>] ConversionTag data, response status code and response headers
    def conversion_tags_get_with_http_info(ad_account_id, conversion_tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionTagsApi.conversion_tags_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionTagsApi.conversion_tags_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionTagsApi.conversion_tags_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionTagsApi.conversion_tags_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'conversion_tag_id' is set
      if @api_client.config.client_side_validation && conversion_tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversion_tag_id' when calling ConversionTagsApi.conversion_tags_get"
      end
      if @api_client.config.client_side_validation && conversion_tag_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "conversion_tag_id" when calling ConversionTagsApi.conversion_tags_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && conversion_tag_id !~ pattern
        fail ArgumentError, "invalid value for 'conversion_tag_id' when calling ConversionTagsApi.conversion_tags_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/conversion_tags/{conversion_tag_id}'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s)).sub('{conversion_tag_id}', CGI.escape(conversion_tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConversionTag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionTagsApi.conversion_tags_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionTagsApi#conversion_tags_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List conversion tags
    # List conversion tags associated with an ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :filter_deleted Filter by deleted status (default to false)
    # @return [ConversionTagsList200Response]
    def conversion_tags_list(ad_account_id, opts = {})
      data, _status_code, _headers = conversion_tags_list_with_http_info(ad_account_id, opts)
      data
    end

    # List conversion tags
    # List conversion tags associated with an ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :filter_deleted Filter by deleted status (default to false)
    # @return [Array<(ConversionTagsList200Response, Integer, Hash)>] ConversionTagsList200Response data, response status code and response headers
    def conversion_tags_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionTagsApi.conversion_tags_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionTagsApi.conversion_tags_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionTagsApi.conversion_tags_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionTagsApi.conversion_tags_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/conversion_tags'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_deleted'] = opts[:'filter_deleted'] if !opts[:'filter_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConversionTagsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionTagsApi.conversion_tags_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionTagsApi#conversion_tags_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Ocpm eligible conversion tags
    # Get Ocpm eligible conversion tag events for an ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Array<ConversionEventResponse>>]
    def ocpm_eligible_conversion_tags_get(ad_account_id, opts = {})
      data, _status_code, _headers = ocpm_eligible_conversion_tags_get_with_http_info(ad_account_id, opts)
      data
    end

    # Get Ocpm eligible conversion tags
    # Get Ocpm eligible conversion tag events for an ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Array<ConversionEventResponse>>, Integer, Hash)>] Hash<String, Array<ConversionEventResponse>> data, response status code and response headers
    def ocpm_eligible_conversion_tags_get_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionTagsApi.ocpm_eligible_conversion_tags_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionTagsApi.ocpm_eligible_conversion_tags_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionTagsApi.ocpm_eligible_conversion_tags_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionTagsApi.ocpm_eligible_conversion_tags_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/conversion_tags/ocpm_eligible'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Array<ConversionEventResponse>>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionTagsApi.ocpm_eligible_conversion_tags_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionTagsApi#ocpm_eligible_conversion_tags_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get page visit conversion tags
    # Get all page visit conversion tag events for an ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @return [PageVisitConversionTagsGet200Response]
    def page_visit_conversion_tags_get(ad_account_id, opts = {})
      data, _status_code, _headers = page_visit_conversion_tags_get_with_http_info(ad_account_id, opts)
      data
    end

    # Get page visit conversion tags
    # Get all page visit conversion tag events for an ad account.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @return [Array<(PageVisitConversionTagsGet200Response, Integer, Hash)>] PageVisitConversionTagsGet200Response data, response status code and response headers
    def page_visit_conversion_tags_get_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversionTagsApi.page_visit_conversion_tags_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ConversionTagsApi.page_visit_conversion_tags_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ConversionTagsApi.page_visit_conversion_tags_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ConversionTagsApi.page_visit_conversion_tags_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ConversionTagsApi.page_visit_conversion_tags_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ConversionTagsApi.page_visit_conversion_tags_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/conversion_tags/page_visit'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PageVisitConversionTagsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ConversionTagsApi.page_visit_conversion_tags_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversionTagsApi#page_visit_conversion_tags_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
