=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class CustomerSegmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create customer segments
    # Customer segments allow advertisers to define existing customers for Pinterest Performance+ campaigns. Customer segments are made up of audience lists.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param customer_segment_create [CustomerSegmentCreate] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerSegment]
    def customer_segment_create(ad_account_id, customer_segment_create, opts = {})
      data, _status_code, _headers = customer_segment_create_with_http_info(ad_account_id, customer_segment_create, opts)
      data
    end

    # Create customer segments
    # Customer segments allow advertisers to define existing customers for Pinterest Performance+ campaigns. Customer segments are made up of audience lists.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param customer_segment_create [CustomerSegmentCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerSegment, Integer, Hash)>] CustomerSegment data, response status code and response headers
    def customer_segment_create_with_http_info(ad_account_id, customer_segment_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerSegmentApi.customer_segment_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling CustomerSegmentApi.customer_segment_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling CustomerSegmentApi.customer_segment_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling CustomerSegmentApi.customer_segment_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_segment_create' is set
      if @api_client.config.client_side_validation && customer_segment_create.nil?
        fail ArgumentError, "Missing the required parameter 'customer_segment_create' when calling CustomerSegmentApi.customer_segment_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/customer_segments'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_segment_create)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerSegment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CustomerSegmentApi.customer_segment_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerSegmentApi#customer_segment_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List customer segments
    # Get a list of the customer segments in the specified `ad_account_id`.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [Boolean] :include_sizing Include audience sizing in result or not (default to false)
    # @option opts [String] :search_query Search query. Can contain pin description keywords or comma-separated pin IDs.
    # @return [CustomerSegmentList200Response]
    def customer_segment_list(ad_account_id, opts = {})
      data, _status_code, _headers = customer_segment_list_with_http_info(ad_account_id, opts)
      data
    end

    # List customer segments
    # Get a list of the customer segments in the specified &#x60;ad_account_id&#x60;.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [Boolean] :include_sizing Include audience sizing in result or not (default to false)
    # @option opts [String] :search_query Search query. Can contain pin description keywords or comma-separated pin IDs.
    # @return [Array<(CustomerSegmentList200Response, Integer, Hash)>] CustomerSegmentList200Response data, response status code and response headers
    def customer_segment_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerSegmentApi.customer_segment_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling CustomerSegmentApi.customer_segment_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling CustomerSegmentApi.customer_segment_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling CustomerSegmentApi.customer_segment_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CustomerSegmentApi.customer_segment_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CustomerSegmentApi.customer_segment_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/customer_segments'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'include_sizing'] = opts[:'include_sizing'] if !opts[:'include_sizing'].nil?
      query_params[:'search_query'] = opts[:'search_query'] if !opts[:'search_query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerSegmentList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CustomerSegmentApi.customer_segment_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerSegmentApi#customer_segment_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update customer segments
    # Update the customer segment given advertiser ID and customer segment ID
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param customer_segment_update_request_update_with_required_body [CustomerSegmentUpdateRequestUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def customer_segment_update(ad_account_id, customer_segment_update_request_update_with_required_body, opts = {})
      customer_segment_update_with_http_info(ad_account_id, customer_segment_update_request_update_with_required_body, opts)
      nil
    end

    # Update customer segments
    # Update the customer segment given advertiser ID and customer segment ID
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param customer_segment_update_request_update_with_required_body [CustomerSegmentUpdateRequestUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def customer_segment_update_with_http_info(ad_account_id, customer_segment_update_request_update_with_required_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerSegmentApi.customer_segment_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling CustomerSegmentApi.customer_segment_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling CustomerSegmentApi.customer_segment_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling CustomerSegmentApi.customer_segment_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_segment_update_request_update_with_required_body' is set
      if @api_client.config.client_side_validation && customer_segment_update_request_update_with_required_body.nil?
        fail ArgumentError, "Missing the required parameter 'customer_segment_update_request_update_with_required_body' when calling CustomerSegmentApi.customer_segment_update"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/customer_segments'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_segment_update_request_update_with_required_body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CustomerSegmentApi.customer_segment_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerSegmentApi#customer_segment_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
