=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class CustomerListUploadsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create customer list upload
    # <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"_blank\">Closed beta</a>  <p>Create a customer list upload request for multipart S3 upload.</p> <p>Note: Each part must be at least 5mb; however the last part can be any size greater than 0. Clients with smaller files can request a single part count. This minimal part size restriction is defined by the AWS S3 API.</p> <p><b>Please review the <u><a href=\"/docs/api/v5/customer_lists-update/\" target=\"_blank\">update customer list endpoint</a></u> documentation for additional information.</b></p>
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param customer_list_id [String] Unique identifier of a customer list
    # @param customer_list_upload_create_request [CustomerListUploadCreateRequest] Parameters to create a customer list upload request
    # @param [Hash] opts the optional parameters
    # @return [CustomerListUploadCreateResponse]
    def customer_list_uploads_create(ad_account_id, customer_list_id, customer_list_upload_create_request, opts = {})
      data, _status_code, _headers = customer_list_uploads_create_with_http_info(ad_account_id, customer_list_id, customer_list_upload_create_request, opts)
      data
    end

    # Create customer list upload
    # &lt;a href&#x3D;\&quot;/docs/getting-started/using-beta-and-restricted-features/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Closed beta&lt;/a&gt;  &lt;p&gt;Create a customer list upload request for multipart S3 upload.&lt;/p&gt; &lt;p&gt;Note: Each part must be at least 5mb; however the last part can be any size greater than 0. Clients with smaller files can request a single part count. This minimal part size restriction is defined by the AWS S3 API.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Please review the &lt;u&gt;&lt;a href&#x3D;\&quot;/docs/api/v5/customer_lists-update/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;update customer list endpoint&lt;/a&gt;&lt;/u&gt; documentation for additional information.&lt;/b&gt;&lt;/p&gt;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param customer_list_id [String] Unique identifier of a customer list
    # @param customer_list_upload_create_request [CustomerListUploadCreateRequest] Parameters to create a customer list upload request
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerListUploadCreateResponse, Integer, Hash)>] CustomerListUploadCreateResponse data, response status code and response headers
    def customer_list_uploads_create_with_http_info(ad_account_id, customer_list_id, customer_list_upload_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerListUploadsApi.customer_list_uploads_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling CustomerListUploadsApi.customer_list_uploads_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling CustomerListUploadsApi.customer_list_uploads_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling CustomerListUploadsApi.customer_list_uploads_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_list_id' is set
      if @api_client.config.client_side_validation && customer_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_list_id' when calling CustomerListUploadsApi.customer_list_uploads_create"
      end
      if @api_client.config.client_side_validation && customer_list_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "customer_list_id" when calling CustomerListUploadsApi.customer_list_uploads_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && customer_list_id !~ pattern
        fail ArgumentError, "invalid value for 'customer_list_id' when calling CustomerListUploadsApi.customer_list_uploads_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_list_upload_create_request' is set
      if @api_client.config.client_side_validation && customer_list_upload_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'customer_list_upload_create_request' when calling CustomerListUploadsApi.customer_list_uploads_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'customer_list_id' + '}', CGI.escape(customer_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_list_upload_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerListUploadCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CustomerListUploadsApi.customer_list_uploads_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerListUploadsApi#customer_list_uploads_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get customer list upload
    # <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"_blank\">Closed beta</a> <p>Get the metadata for a given upload by its ID.</p>
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param customer_list_id [String] Unique identifier of a customer list
    # @param customer_list_upload_id [String] Unique identifier of a customer list upload
    # @param [Hash] opts the optional parameters
    # @return [CustomerListUploadResponse]
    def customer_list_uploads_get(ad_account_id, customer_list_id, customer_list_upload_id, opts = {})
      data, _status_code, _headers = customer_list_uploads_get_with_http_info(ad_account_id, customer_list_id, customer_list_upload_id, opts)
      data
    end

    # Get customer list upload
    # &lt;a href&#x3D;\&quot;/docs/getting-started/using-beta-and-restricted-features/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Closed beta&lt;/a&gt; &lt;p&gt;Get the metadata for a given upload by its ID.&lt;/p&gt;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param customer_list_id [String] Unique identifier of a customer list
    # @param customer_list_upload_id [String] Unique identifier of a customer list upload
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerListUploadResponse, Integer, Hash)>] CustomerListUploadResponse data, response status code and response headers
    def customer_list_uploads_get_with_http_info(ad_account_id, customer_list_id, customer_list_upload_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerListUploadsApi.customer_list_uploads_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling CustomerListUploadsApi.customer_list_uploads_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling CustomerListUploadsApi.customer_list_uploads_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling CustomerListUploadsApi.customer_list_uploads_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_list_id' is set
      if @api_client.config.client_side_validation && customer_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_list_id' when calling CustomerListUploadsApi.customer_list_uploads_get"
      end
      if @api_client.config.client_side_validation && customer_list_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "customer_list_id" when calling CustomerListUploadsApi.customer_list_uploads_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && customer_list_id !~ pattern
        fail ArgumentError, "invalid value for 'customer_list_id' when calling CustomerListUploadsApi.customer_list_uploads_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_list_upload_id' is set
      if @api_client.config.client_side_validation && customer_list_upload_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_list_upload_id' when calling CustomerListUploadsApi.customer_list_uploads_get"
      end
      if @api_client.config.client_side_validation && customer_list_upload_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "customer_list_upload_id" when calling CustomerListUploadsApi.customer_list_uploads_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && customer_list_upload_id !~ pattern
        fail ArgumentError, "invalid value for 'customer_list_upload_id' when calling CustomerListUploadsApi.customer_list_uploads_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'customer_list_id' + '}', CGI.escape(customer_list_id.to_s)).sub('{' + 'customer_list_upload_id' + '}', CGI.escape(customer_list_upload_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerListUploadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CustomerListUploadsApi.customer_list_uploads_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerListUploadsApi#customer_list_uploads_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run customer list upload
    # <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"_blank\">Closed beta</a> <p>Begin processing a customer list upload.</p>
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param customer_list_id [String] Unique identifier of a customer list
    # @param customer_list_upload_id [String] Unique identifier of a customer list upload
    # @param [Hash] opts the optional parameters
    # @return [CustomerListUploadResponse]
    def customer_list_uploads_run(ad_account_id, customer_list_id, customer_list_upload_id, opts = {})
      data, _status_code, _headers = customer_list_uploads_run_with_http_info(ad_account_id, customer_list_id, customer_list_upload_id, opts)
      data
    end

    # Run customer list upload
    # &lt;a href&#x3D;\&quot;/docs/getting-started/using-beta-and-restricted-features/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Closed beta&lt;/a&gt; &lt;p&gt;Begin processing a customer list upload.&lt;/p&gt;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param customer_list_id [String] Unique identifier of a customer list
    # @param customer_list_upload_id [String] Unique identifier of a customer list upload
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerListUploadResponse, Integer, Hash)>] CustomerListUploadResponse data, response status code and response headers
    def customer_list_uploads_run_with_http_info(ad_account_id, customer_list_id, customer_list_upload_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerListUploadsApi.customer_list_uploads_run ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling CustomerListUploadsApi.customer_list_uploads_run"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling CustomerListUploadsApi.customer_list_uploads_run, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling CustomerListUploadsApi.customer_list_uploads_run, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_list_id' is set
      if @api_client.config.client_side_validation && customer_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_list_id' when calling CustomerListUploadsApi.customer_list_uploads_run"
      end
      if @api_client.config.client_side_validation && customer_list_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "customer_list_id" when calling CustomerListUploadsApi.customer_list_uploads_run, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && customer_list_id !~ pattern
        fail ArgumentError, "invalid value for 'customer_list_id' when calling CustomerListUploadsApi.customer_list_uploads_run, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_list_upload_id' is set
      if @api_client.config.client_side_validation && customer_list_upload_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_list_upload_id' when calling CustomerListUploadsApi.customer_list_uploads_run"
      end
      if @api_client.config.client_side_validation && customer_list_upload_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "customer_list_upload_id" when calling CustomerListUploadsApi.customer_list_uploads_run, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && customer_list_upload_id !~ pattern
        fail ArgumentError, "invalid value for 'customer_list_upload_id' when calling CustomerListUploadsApi.customer_list_uploads_run, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}/uploads/{customer_list_upload_id}/run'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'customer_list_id' + '}', CGI.escape(customer_list_id.to_s)).sub('{' + 'customer_list_upload_id' + '}', CGI.escape(customer_list_upload_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerListUploadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CustomerListUploadsApi.customer_list_uploads_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerListUploadsApi#customer_list_uploads_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
