=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class CustomerListsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create customer lists
    # Create a customer list from your records (hashed or plain-text email addresses, or hashed MAIDs or IDFAs).  A customer list is one of the four types of Pinterest audiences: for more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.  **Please review our [requirements](https://help.pinterest.com/en/business/article/audience-targeting#section-13341) for what type of information is allowed when uploading a customer list.**   When you create a customer list, the system scans the list for existing Pinterest accounts; the list must include at least 100 Pinterest accounts. Your original list will be deleted when the matching process is complete. The filtered list – containing only the Pinterest accounts that were included in your starting list – is what will be used to create the audience.   To use your customer list after creating it, convert it into a customer list audience by passing the `CUSTOMER_LIST` audience type at the [create audience endpoint](https://developer.pinterest.com/docs/api/v5/audiences-create).
    # @param ad_account_id [String] 
    # @param customer_list_create [CustomerListCreate] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerList]
    def customer_lists_create(ad_account_id, customer_list_create, opts = {})
      data, _status_code, _headers = customer_lists_create_with_http_info(ad_account_id, customer_list_create, opts)
      data
    end

    # Create customer lists
    # Create a customer list from your records (hashed or plain-text email addresses, or hashed MAIDs or IDFAs).  A customer list is one of the four types of Pinterest audiences: for more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.  **Please review our [requirements](https://help.pinterest.com/en/business/article/audience-targeting#section-13341) for what type of information is allowed when uploading a customer list.**   When you create a customer list, the system scans the list for existing Pinterest accounts; the list must include at least 100 Pinterest accounts. Your original list will be deleted when the matching process is complete. The filtered list – containing only the Pinterest accounts that were included in your starting list – is what will be used to create the audience.   To use your customer list after creating it, convert it into a customer list audience by passing the &#x60;CUSTOMER_LIST&#x60; audience type at the [create audience endpoint](https://developer.pinterest.com/docs/api/v5/audiences-create).
    # @param ad_account_id [String] 
    # @param customer_list_create [CustomerListCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerList, Integer, Hash)>] CustomerList data, response status code and response headers
    def customer_lists_create_with_http_info(ad_account_id, customer_list_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerListsApi.customer_lists_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling CustomerListsApi.customer_lists_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling CustomerListsApi.customer_lists_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling CustomerListsApi.customer_lists_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_list_create' is set
      if @api_client.config.client_side_validation && customer_list_create.nil?
        fail ArgumentError, "Missing the required parameter 'customer_list_create' when calling CustomerListsApi.customer_lists_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/customer_lists'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_list_create)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CustomerListsApi.customer_lists_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerListsApi#customer_lists_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get customer list
    # Gets a specific customer list given the customer list ID.
    # @param ad_account_id [String] 
    # @param customer_list_id [String] Customer list ID.
    # @param [Hash] opts the optional parameters
    # @return [CustomerList]
    def customer_lists_get(ad_account_id, customer_list_id, opts = {})
      data, _status_code, _headers = customer_lists_get_with_http_info(ad_account_id, customer_list_id, opts)
      data
    end

    # Get customer list
    # Gets a specific customer list given the customer list ID.
    # @param ad_account_id [String] 
    # @param customer_list_id [String] Customer list ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerList, Integer, Hash)>] CustomerList data, response status code and response headers
    def customer_lists_get_with_http_info(ad_account_id, customer_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerListsApi.customer_lists_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling CustomerListsApi.customer_lists_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling CustomerListsApi.customer_lists_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling CustomerListsApi.customer_lists_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_list_id' is set
      if @api_client.config.client_side_validation && customer_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_list_id' when calling CustomerListsApi.customer_lists_get"
      end
      if @api_client.config.client_side_validation && customer_list_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "customer_list_id" when calling CustomerListsApi.customer_lists_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && customer_list_id !~ pattern
        fail ArgumentError, "invalid value for 'customer_list_id' when calling CustomerListsApi.customer_lists_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s)).sub('{customer_list_id}', CGI.escape(customer_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"CustomerListsApi.customer_lists_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerListsApi#customer_lists_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get customer lists
    # Get a set of customer lists including id and name based on the filters provided.  (Customer lists are a type of audience.) For more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.
    # @param ad_account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [Boolean] :exclude_nca When true, excludes customer lists uploaded for new customer acquisition (expanded matching) from the result. Defaults to false (include all). (default to false)
    # @return [CustomerListsList200Response]
    def customer_lists_list(ad_account_id, opts = {})
      data, _status_code, _headers = customer_lists_list_with_http_info(ad_account_id, opts)
      data
    end

    # Get customer lists
    # Get a set of customer lists including id and name based on the filters provided.  (Customer lists are a type of audience.) For more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.
    # @param ad_account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [Boolean] :exclude_nca When true, excludes customer lists uploaded for new customer acquisition (expanded matching) from the result. Defaults to false (include all). (default to false)
    # @return [Array<(CustomerListsList200Response, Integer, Hash)>] CustomerListsList200Response data, response status code and response headers
    def customer_lists_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerListsApi.customer_lists_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling CustomerListsApi.customer_lists_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling CustomerListsApi.customer_lists_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling CustomerListsApi.customer_lists_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CustomerListsApi.customer_lists_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CustomerListsApi.customer_lists_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/customer_lists'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'exclude_nca'] = opts[:'exclude_nca'] if !opts[:'exclude_nca'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerListsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CustomerListsApi.customer_lists_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerListsApi#customer_lists_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update customer list
    # Append or remove records to/from an existing customer list. (A customer list is one of the four types of Pinterest audiences.)  When you add records to an existing customer list, the system scans the additions for existing Pinterest accounts; those are the records that will be added to your \"CUSTOMER_LIST\" audience. Your original list of records to add will be deleted when the matching process is complete.  For more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.
    # @param ad_account_id [String] 
    # @param customer_list_id [String] Customer list ID.
    # @param customer_list_update_with_required_body [CustomerListUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerList]
    def customer_lists_update(ad_account_id, customer_list_id, customer_list_update_with_required_body, opts = {})
      data, _status_code, _headers = customer_lists_update_with_http_info(ad_account_id, customer_list_id, customer_list_update_with_required_body, opts)
      data
    end

    # Update customer list
    # Append or remove records to/from an existing customer list. (A customer list is one of the four types of Pinterest audiences.)  When you add records to an existing customer list, the system scans the additions for existing Pinterest accounts; those are the records that will be added to your \&quot;CUSTOMER_LIST\&quot; audience. Your original list of records to add will be deleted when the matching process is complete.  For more information, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting) or the [Audiences](/docs/api-features/targeting-overview/) section of the ads management guide.
    # @param ad_account_id [String] 
    # @param customer_list_id [String] Customer list ID.
    # @param customer_list_update_with_required_body [CustomerListUpdateWithRequiredBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerList, Integer, Hash)>] CustomerList data, response status code and response headers
    def customer_lists_update_with_http_info(ad_account_id, customer_list_id, customer_list_update_with_required_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerListsApi.customer_lists_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling CustomerListsApi.customer_lists_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling CustomerListsApi.customer_lists_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling CustomerListsApi.customer_lists_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_list_id' is set
      if @api_client.config.client_side_validation && customer_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_list_id' when calling CustomerListsApi.customer_lists_update"
      end
      if @api_client.config.client_side_validation && customer_list_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "customer_list_id" when calling CustomerListsApi.customer_lists_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && customer_list_id !~ pattern
        fail ArgumentError, "invalid value for 'customer_list_id' when calling CustomerListsApi.customer_lists_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'customer_list_update_with_required_body' is set
      if @api_client.config.client_side_validation && customer_list_update_with_required_body.nil?
        fail ArgumentError, "Missing the required parameter 'customer_list_update_with_required_body' when calling CustomerListsApi.customer_lists_update"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s)).sub('{customer_list_id}', CGI.escape(customer_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_list_update_with_required_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"CustomerListsApi.customer_lists_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerListsApi#customer_lists_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
