=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class IntegrationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete commerce integration
    # Delete commerce integration metadata for the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
    # @param external_business_id [String] External business ID for the integration.
    # @param [Hash] opts the optional parameters
    # @return [IntegrationMetadata]
    def integrations_commerce_del(external_business_id, opts = {})
      data, _status_code, _headers = integrations_commerce_del_with_http_info(external_business_id, opts)
      data
    end

    # Delete commerce integration
    # Delete commerce integration metadata for the given external business ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    # @param external_business_id [String] External business ID for the integration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationMetadata, Integer, Hash)>] IntegrationMetadata data, response status code and response headers
    def integrations_commerce_del_with_http_info(external_business_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.integrations_commerce_del ...'
      end
      # verify the required parameter 'external_business_id' is set
      if @api_client.config.client_side_validation && external_business_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_business_id' when calling IntegrationsApi.integrations_commerce_del"
      end
      # resource path
      local_var_path = '/integrations/commerce/{external_business_id}'.sub('{external_business_id}', CGI.escape(external_business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationMetadata'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.integrations_commerce_del",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#integrations_commerce_del\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get commerce integration
    # Get commerce integration metadata associated with the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
    # @param external_business_id [String] External business ID for the integration.
    # @param [Hash] opts the optional parameters
    # @return [IntegrationMetadata]
    def integrations_commerce_get(external_business_id, opts = {})
      data, _status_code, _headers = integrations_commerce_get_with_http_info(external_business_id, opts)
      data
    end

    # Get commerce integration
    # Get commerce integration metadata associated with the given external business ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    # @param external_business_id [String] External business ID for the integration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationMetadata, Integer, Hash)>] IntegrationMetadata data, response status code and response headers
    def integrations_commerce_get_with_http_info(external_business_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.integrations_commerce_get ...'
      end
      # verify the required parameter 'external_business_id' is set
      if @api_client.config.client_side_validation && external_business_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_business_id' when calling IntegrationsApi.integrations_commerce_get"
      end
      # resource path
      local_var_path = '/integrations/commerce/{external_business_id}'.sub('{external_business_id}', CGI.escape(external_business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationMetadata'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.integrations_commerce_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#integrations_commerce_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update commerce integration
    # Update commerce integration metadata for the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
    # @param external_business_id [String] External business ID for the integration.
    # @param integration_metadata_update [IntegrationMetadataUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationMetadata]
    def integrations_commerce_patch(external_business_id, integration_metadata_update, opts = {})
      data, _status_code, _headers = integrations_commerce_patch_with_http_info(external_business_id, integration_metadata_update, opts)
      data
    end

    # Update commerce integration
    # Update commerce integration metadata for the given external business ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    # @param external_business_id [String] External business ID for the integration.
    # @param integration_metadata_update [IntegrationMetadataUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationMetadata, Integer, Hash)>] IntegrationMetadata data, response status code and response headers
    def integrations_commerce_patch_with_http_info(external_business_id, integration_metadata_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.integrations_commerce_patch ...'
      end
      # verify the required parameter 'external_business_id' is set
      if @api_client.config.client_side_validation && external_business_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_business_id' when calling IntegrationsApi.integrations_commerce_patch"
      end
      # verify the required parameter 'integration_metadata_update' is set
      if @api_client.config.client_side_validation && integration_metadata_update.nil?
        fail ArgumentError, "Missing the required parameter 'integration_metadata_update' when calling IntegrationsApi.integrations_commerce_patch"
      end
      # resource path
      local_var_path = '/integrations/commerce/{external_business_id}'.sub('{external_business_id}', CGI.escape(external_business_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(integration_metadata_update)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationMetadata'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.integrations_commerce_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#integrations_commerce_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create commerce integration
    # Create commerce integration metadata to link an external business ID with a Pinterest merchant & ad account. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
    # @param integration_metadata_create [IntegrationMetadataCreate] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationMetadata]
    def integrations_commerce_post(integration_metadata_create, opts = {})
      data, _status_code, _headers = integrations_commerce_post_with_http_info(integration_metadata_create, opts)
      data
    end

    # Create commerce integration
    # Create commerce integration metadata to link an external business ID with a Pinterest merchant &amp; ad account. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    # @param integration_metadata_create [IntegrationMetadataCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationMetadata, Integer, Hash)>] IntegrationMetadata data, response status code and response headers
    def integrations_commerce_post_with_http_info(integration_metadata_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.integrations_commerce_post ...'
      end
      # verify the required parameter 'integration_metadata_create' is set
      if @api_client.config.client_side_validation && integration_metadata_create.nil?
        fail ArgumentError, "Missing the required parameter 'integration_metadata_create' when calling IntegrationsApi.integrations_commerce_post"
      end
      # resource path
      local_var_path = '/integrations/commerce'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(integration_metadata_create)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationMetadata'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.integrations_commerce_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#integrations_commerce_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get integration metadata
    # Get integration metadata by ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
    # @param id [String] Integration record ID.
    # @param [Hash] opts the optional parameters
    # @return [IntegrationRecord]
    def integrations_get_by_id(id, opts = {})
      data, _status_code, _headers = integrations_get_by_id_with_http_info(id, opts)
      data
    end

    # Get integration metadata
    # Get integration metadata by ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    # @param id [String] Integration record ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationRecord, Integer, Hash)>] IntegrationRecord data, response status code and response headers
    def integrations_get_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.integrations_get_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IntegrationsApi.integrations_get_by_id"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling IntegrationsApi.integrations_get_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/integrations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.integrations_get_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#integrations_get_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get integration metadata list
    # Get integration metadata list. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [IntegrationsGetList200Response]
    def integrations_get_list(opts = {})
      data, _status_code, _headers = integrations_get_list_with_http_info(opts)
      data
    end

    # Get integration metadata list
    # Get integration metadata list. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(IntegrationsGetList200Response, Integer, Hash)>] IntegrationsGetList200Response data, response status code and response headers
    def integrations_get_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.integrations_get_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IntegrationsApi.integrations_get_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IntegrationsApi.integrations_get_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/integrations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsGetList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.integrations_get_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#integrations_get_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Receives batched logs from integration applications.
    # This endpoint receives batched logs from integration applications on partner platforms. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.
    # @param integration_logs_request_create [IntegrationLogsRequestCreate] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationLogsSuccessResponse]
    def integrations_logs_post(integration_logs_request_create, opts = {})
      data, _status_code, _headers = integrations_logs_post_with_http_info(integration_logs_request_create, opts)
      data
    end

    # Receives batched logs from integration applications.
    # This endpoint receives batched logs from integration applications on partner platforms. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    # @param integration_logs_request_create [IntegrationLogsRequestCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationLogsSuccessResponse, Integer, Hash)>] IntegrationLogsSuccessResponse data, response status code and response headers
    def integrations_logs_post_with_http_info(integration_logs_request_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.integrations_logs_post ...'
      end
      # verify the required parameter 'integration_logs_request_create' is set
      if @api_client.config.client_side_validation && integration_logs_request_create.nil?
        fail ArgumentError, "Missing the required parameter 'integration_logs_request_create' when calling IntegrationsApi.integrations_logs_post"
      end
      # resource path
      local_var_path = '/integrations/logs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(integration_logs_request_create)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationLogsSuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.integrations_logs_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#integrations_logs_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
