=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class LabelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Apply label to entity
    #   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Apply a label to one or more campaigns.   Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/) in addition to campaigns.   Currently, you can apply **brand** and **custom** labels. Future releases will provide more options.    **Note:** You can only apply one brand label to a campaign. You can apply up to 30 custom labels to a campaign.
    # @param ad_account_id [String] 
    # @param label_id [String] Label ID.
    # @param labeled_entities_create [LabeledEntitiesCreate] 
    # @param [Hash] opts the optional parameters
    # @return [LabeledEntities]
    def labels_apply(ad_account_id, label_id, labeled_entities_create, opts = {})
      data, _status_code, _headers = labels_apply_with_http_info(ad_account_id, label_id, labeled_entities_create, opts)
      data
    end

    # Apply label to entity
    #   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Apply a label to one or more campaigns.   Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/) in addition to campaigns.   Currently, you can apply **brand** and **custom** labels. Future releases will provide more options.    **Note:** You can only apply one brand label to a campaign. You can apply up to 30 custom labels to a campaign.
    # @param ad_account_id [String] 
    # @param label_id [String] Label ID.
    # @param labeled_entities_create [LabeledEntitiesCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LabeledEntities, Integer, Hash)>] LabeledEntities data, response status code and response headers
    def labels_apply_with_http_info(ad_account_id, label_id, labeled_entities_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.labels_apply ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LabelsApi.labels_apply"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LabelsApi.labels_apply, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LabelsApi.labels_apply, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling LabelsApi.labels_apply"
      end
      # verify the required parameter 'labeled_entities_create' is set
      if @api_client.config.client_side_validation && labeled_entities_create.nil?
        fail ArgumentError, "Missing the required parameter 'labeled_entities_create' when calling LabelsApi.labels_apply"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/labels/{label_id}/apply'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s)).sub('{label_id}', CGI.escape(label_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(labeled_entities_create)

      # return_type
      return_type = opts[:debug_return_type] || 'LabeledEntities'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LabelsApi.labels_apply",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#labels_apply\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create labels
    # [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Apply one or more labels to a campaign. Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/). Currently, you can apply brand and custom labels. Future releases will provide more options.  **Note:** You can only apply one brand label to a campaign. You can apply 30 custom labels to a campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param label_create_request [LabelCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LabelsResponse]
    def labels_create(ad_account_id, label_create_request, opts = {})
      data, _status_code, _headers = labels_create_with_http_info(ad_account_id, label_create_request, opts)
      data
    end

    # Create labels
    # [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Apply one or more labels to a campaign. Future releases may support labels for other [entities](/docs/key-concepts/pinterest-entities/). Currently, you can apply brand and custom labels. Future releases will provide more options.  **Note:** You can only apply one brand label to a campaign. You can apply 30 custom labels to a campaign.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param label_create_request [LabelCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LabelsResponse, Integer, Hash)>] LabelsResponse data, response status code and response headers
    def labels_create_with_http_info(ad_account_id, label_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.labels_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LabelsApi.labels_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LabelsApi.labels_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LabelsApi.labels_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'label_create_request' is set
      if @api_client.config.client_side_validation && label_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'label_create_request' when calling LabelsApi.labels_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/labels'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(label_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LabelsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LabelsApi.labels_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#labels_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List labels
    # [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  See a list of labels for assets that your account owns, and filter the list by different criteria. If no filter is provided, it will default to labels associated with the ad account id.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :campaign_ids List of Campaign Ids to use to filter the results.
    # @option opts [Array<String>] :label_ids List of Label Ids to use to filter the results.
    # @option opts [Array<QueryLabelEntityStatusesItems>] :entity_statuses Label entity status
    # @option opts [Array<QueryLabelTypesItems>] :label_types Label type.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [LabelsList200Response]
    def labels_list(ad_account_id, opts = {})
      data, _status_code, _headers = labels_list_with_http_info(ad_account_id, opts)
      data
    end

    # List labels
    # [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  See a list of labels for assets that your account owns, and filter the list by different criteria. If no filter is provided, it will default to labels associated with the ad account id.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :campaign_ids List of Campaign Ids to use to filter the results.
    # @option opts [Array<String>] :label_ids List of Label Ids to use to filter the results.
    # @option opts [Array<QueryLabelEntityStatusesItems>] :entity_statuses Label entity status
    # @option opts [Array<QueryLabelTypesItems>] :label_types Label type.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(LabelsList200Response, Integer, Hash)>] LabelsList200Response data, response status code and response headers
    def labels_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.labels_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LabelsApi.labels_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LabelsApi.labels_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LabelsApi.labels_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'campaign_ids'].nil? && opts[:'campaign_ids'].length > 250
        fail ArgumentError, 'invalid value for "opts[:"campaign_ids"]" when calling LabelsApi.labels_list, number of items must be less than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'campaign_ids'].nil? && opts[:'campaign_ids'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"campaign_ids"]" when calling LabelsApi.labels_list, number of items must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'label_ids'].nil? && opts[:'label_ids'].length > 250
        fail ArgumentError, 'invalid value for "opts[:"label_ids"]" when calling LabelsApi.labels_list, number of items must be less than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'label_ids'].nil? && opts[:'label_ids'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"label_ids"]" when calling LabelsApi.labels_list, number of items must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LabelsApi.labels_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LabelsApi.labels_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/labels'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'campaign_ids'] = @api_client.build_collection_param(opts[:'campaign_ids'], :multi) if !opts[:'campaign_ids'].nil?
      query_params[:'label_ids'] = @api_client.build_collection_param(opts[:'label_ids'], :multi) if !opts[:'label_ids'].nil?
      query_params[:'entity_statuses'] = @api_client.build_collection_param(opts[:'entity_statuses'], :multi) if !opts[:'entity_statuses'].nil?
      query_params[:'label_types'] = @api_client.build_collection_param(opts[:'label_types'], :multi) if !opts[:'label_types'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LabelsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LabelsApi.labels_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#labels_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove label from entities
    #   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Remove a label from one or more entities.
    # @param ad_account_id [String] 
    # @param label_id [String] Label ID.
    # @param labeled_entities_create [LabeledEntitiesCreate] 
    # @param [Hash] opts the optional parameters
    # @return [LabeledEntities]
    def labels_remove(ad_account_id, label_id, labeled_entities_create, opts = {})
      data, _status_code, _headers = labels_remove_with_http_info(ad_account_id, label_id, labeled_entities_create, opts)
      data
    end

    # Remove label from entities
    #   [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)    Remove a label from one or more entities.
    # @param ad_account_id [String] 
    # @param label_id [String] Label ID.
    # @param labeled_entities_create [LabeledEntitiesCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LabeledEntities, Integer, Hash)>] LabeledEntities data, response status code and response headers
    def labels_remove_with_http_info(ad_account_id, label_id, labeled_entities_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.labels_remove ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LabelsApi.labels_remove"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LabelsApi.labels_remove, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LabelsApi.labels_remove, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling LabelsApi.labels_remove"
      end
      # verify the required parameter 'labeled_entities_create' is set
      if @api_client.config.client_side_validation && labeled_entities_create.nil?
        fail ArgumentError, "Missing the required parameter 'labeled_entities_create' when calling LabelsApi.labels_remove"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/labels/{label_id}/remove'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s)).sub('{label_id}', CGI.escape(label_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(labeled_entities_create)

      # return_type
      return_type = opts[:debug_return_type] || 'LabeledEntities'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LabelsApi.labels_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#labels_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update labels
    # [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Change the properties of one or more labels.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param label_update_request [LabelUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LabelsResponse]
    def labels_update(ad_account_id, label_update_request, opts = {})
      data, _status_code, _headers = labels_update_with_http_info(ad_account_id, label_update_request, opts)
      data
    end

    # Update labels
    # [Closed beta](/docs/getting-started/using-beta-and-restricted-features/)  Change the properties of one or more labels.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param label_update_request [LabelUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LabelsResponse, Integer, Hash)>] LabelsResponse data, response status code and response headers
    def labels_update_with_http_info(ad_account_id, label_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.labels_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LabelsApi.labels_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LabelsApi.labels_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LabelsApi.labels_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'label_update_request' is set
      if @api_client.config.client_side_validation && label_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'label_update_request' when calling LabelsApi.labels_update"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/labels'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(label_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LabelsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LabelsApi.labels_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#labels_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
