=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class LeadsExportApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a request to export leads collected from a lead ad
    # <strong>This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.</strong>  Create an export of leads collected from a lead ad. This returns a lead_export_id  token that you can use to download the export when it is ready.  Note: Lead ad data will be available up to 30 days after the lead has been submitted.  For more, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/lead-ads\">Lead ads</a>.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param leads_export_create_request [LeadsExportCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LeadsExportCreateResponse]
    def leads_export_create(ad_account_id, leads_export_create_request, opts = {})
      data, _status_code, _headers = leads_export_create_with_http_info(ad_account_id, leads_export_create_request, opts)
      data
    end

    # Create a request to export leads collected from a lead ad
    # &lt;strong&gt;This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.&lt;/strong&gt;  Create an export of leads collected from a lead ad. This returns a lead_export_id  token that you can use to download the export when it is ready.  Note: Lead ad data will be available up to 30 days after the lead has been submitted.  For more, see &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://help.pinterest.com/en/business/article/lead-ads\&quot;&gt;Lead ads&lt;/a&gt;.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param leads_export_create_request [LeadsExportCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LeadsExportCreateResponse, Integer, Hash)>] LeadsExportCreateResponse data, response status code and response headers
    def leads_export_create_with_http_info(ad_account_id, leads_export_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadsExportApi.leads_export_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadsExportApi.leads_export_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadsExportApi.leads_export_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadsExportApi.leads_export_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'leads_export_create_request' is set
      if @api_client.config.client_side_validation && leads_export_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'leads_export_create_request' when calling LeadsExportApi.leads_export_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/leads_export'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(leads_export_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LeadsExportCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LeadsExportApi.leads_export_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadsExportApi#leads_export_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the lead export from the lead export create call
    # <strong>This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.</strong>  Get the export of leads collected from a lead ad. This returns a URL to a list of lead export given a lead_export_id token returned from the create a lead export call. You can use the URL to download the report.  Note: Lead ad data will be available up to 30 days after the lead has been submitted.  For more, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/lead-ads\">Lead ads</a>.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param leads_export_id [String] lead_export_id token returned from the create a lead export endpoint
    # @param [Hash] opts the optional parameters
    # @return [LeadsExportResponseData]
    def leads_export_get(ad_account_id, leads_export_id, opts = {})
      data, _status_code, _headers = leads_export_get_with_http_info(ad_account_id, leads_export_id, opts)
      data
    end

    # Get the lead export from the lead export create call
    # &lt;strong&gt;This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.&lt;/strong&gt;  Get the export of leads collected from a lead ad. This returns a URL to a list of lead export given a lead_export_id token returned from the create a lead export call. You can use the URL to download the report.  Note: Lead ad data will be available up to 30 days after the lead has been submitted.  For more, see &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://help.pinterest.com/en/business/article/lead-ads\&quot;&gt;Lead ads&lt;/a&gt;.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param leads_export_id [String] lead_export_id token returned from the create a lead export endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(LeadsExportResponseData, Integer, Hash)>] LeadsExportResponseData data, response status code and response headers
    def leads_export_get_with_http_info(ad_account_id, leads_export_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadsExportApi.leads_export_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadsExportApi.leads_export_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadsExportApi.leads_export_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadsExportApi.leads_export_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'leads_export_id' is set
      if @api_client.config.client_side_validation && leads_export_id.nil?
        fail ArgumentError, "Missing the required parameter 'leads_export_id' when calling LeadsExportApi.leads_export_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && leads_export_id !~ pattern
        fail ArgumentError, "invalid value for 'leads_export_id' when calling LeadsExportApi.leads_export_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/leads_export/{leads_export_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'leads_export_id' + '}', CGI.escape(leads_export_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeadsExportResponseData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LeadsExportApi.leads_export_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadsExportApi#leads_export_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
