=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class LeadAdsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete lead ads subscription
    # Delete an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.'
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param subscription_id [String] Unique identifier of a subscription.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def ad_accounts_subscriptions_del_by_id(ad_account_id, subscription_id, opts = {})
      ad_accounts_subscriptions_del_by_id_with_http_info(ad_account_id, subscription_id, opts)
      nil
    end

    # Delete lead ads subscription
    # Delete an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.&#39;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param subscription_id [String] Unique identifier of a subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def ad_accounts_subscriptions_del_by_id_with_http_info(ad_account_id, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadAdsApi.ad_accounts_subscriptions_del_by_id ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadAdsApi.ad_accounts_subscriptions_del_by_id"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadAdsApi.ad_accounts_subscriptions_del_by_id, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadAdsApi.ad_accounts_subscriptions_del_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LeadAdsApi.ad_accounts_subscriptions_del_by_id"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && subscription_id !~ pattern
        fail ArgumentError, "invalid value for 'subscription_id' when calling LeadAdsApi.ad_accounts_subscriptions_del_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'subscription_id' + '}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LeadAdsApi.ad_accounts_subscriptions_del_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadAdsApi#ad_accounts_subscriptions_del_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get lead ads subscription by ID
    # Get an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.'
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param subscription_id [String] Unique identifier of a subscription.
    # @param [Hash] opts the optional parameters
    # @return [LeadSubscription]
    def ad_accounts_subscriptions_get_by_id(ad_account_id, subscription_id, opts = {})
      data, _status_code, _headers = ad_accounts_subscriptions_get_by_id_with_http_info(ad_account_id, subscription_id, opts)
      data
    end

    # Get lead ads subscription by ID
    # Get an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.&#39;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param subscription_id [String] Unique identifier of a subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LeadSubscription, Integer, Hash)>] LeadSubscription data, response status code and response headers
    def ad_accounts_subscriptions_get_by_id_with_http_info(ad_account_id, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadAdsApi.ad_accounts_subscriptions_get_by_id ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadAdsApi.ad_accounts_subscriptions_get_by_id"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadAdsApi.ad_accounts_subscriptions_get_by_id, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadAdsApi.ad_accounts_subscriptions_get_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LeadAdsApi.ad_accounts_subscriptions_get_by_id"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && subscription_id !~ pattern
        fail ArgumentError, "invalid value for 'subscription_id' when calling LeadAdsApi.ad_accounts_subscriptions_get_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'subscription_id' + '}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeadSubscription'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"LeadAdsApi.ad_accounts_subscriptions_get_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadAdsApi#ad_accounts_subscriptions_get_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get lead ads subscriptions
    # Get the advertiser's list of lead ads subscriptions. Only requests for the OWNER or ADMIN of the ad_account will be allowed.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [AdAccountsSubscriptionsGetList200Response]
    def ad_accounts_subscriptions_get_list(ad_account_id, opts = {})
      data, _status_code, _headers = ad_accounts_subscriptions_get_list_with_http_info(ad_account_id, opts)
      data
    end

    # Get lead ads subscriptions
    # Get the advertiser&#39;s list of lead ads subscriptions. Only requests for the OWNER or ADMIN of the ad_account will be allowed.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @return [Array<(AdAccountsSubscriptionsGetList200Response, Integer, Hash)>] AdAccountsSubscriptionsGetList200Response data, response status code and response headers
    def ad_accounts_subscriptions_get_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadAdsApi.ad_accounts_subscriptions_get_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadAdsApi.ad_accounts_subscriptions_get_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadAdsApi.ad_accounts_subscriptions_get_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadAdsApi.ad_accounts_subscriptions_get_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LeadAdsApi.ad_accounts_subscriptions_get_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LeadAdsApi.ad_accounts_subscriptions_get_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/leads/subscriptions'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdAccountsSubscriptionsGetList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LeadAdsApi.ad_accounts_subscriptions_get_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadAdsApi#ad_accounts_subscriptions_get_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create lead ads subscription
    # Create a lead ads webhook subscription. Subscriptions allow Pinterest to deliver lead data from Ads Manager directly to the subscriber. Subscriptions can exist for a specific lead form or at ad account level.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.   - Advertisers can set up multiple integrations using ad_account_id + lead_form_id but only one integration per unique records.   - For data security, egress lead data is encrypted with AES-256-GCM.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param lead_subscription_post_params_create [LeadSubscriptionPostParamsCreate] 
    # @param [Hash] opts the optional parameters
    # @return [LeadSubscription]
    def ad_accounts_subscriptions_post(ad_account_id, lead_subscription_post_params_create, opts = {})
      data, _status_code, _headers = ad_accounts_subscriptions_post_with_http_info(ad_account_id, lead_subscription_post_params_create, opts)
      data
    end

    # Create lead ads subscription
    # Create a lead ads webhook subscription. Subscriptions allow Pinterest to deliver lead data from Ads Manager directly to the subscriber. Subscriptions can exist for a specific lead form or at ad account level.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.   - Advertisers can set up multiple integrations using ad_account_id + lead_form_id but only one integration per unique records.   - For data security, egress lead data is encrypted with AES-256-GCM.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param lead_subscription_post_params_create [LeadSubscriptionPostParamsCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LeadSubscription, Integer, Hash)>] LeadSubscription data, response status code and response headers
    def ad_accounts_subscriptions_post_with_http_info(ad_account_id, lead_subscription_post_params_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadAdsApi.ad_accounts_subscriptions_post ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadAdsApi.ad_accounts_subscriptions_post"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadAdsApi.ad_accounts_subscriptions_post, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadAdsApi.ad_accounts_subscriptions_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'lead_subscription_post_params_create' is set
      if @api_client.config.client_side_validation && lead_subscription_post_params_create.nil?
        fail ArgumentError, "Missing the required parameter 'lead_subscription_post_params_create' when calling LeadAdsApi.ad_accounts_subscriptions_post"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/leads/subscriptions'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(lead_subscription_post_params_create)

      # return_type
      return_type = opts[:debug_return_type] || 'LeadSubscription'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LeadAdsApi.ad_accounts_subscriptions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadAdsApi#ad_accounts_subscriptions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
