=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class LeadFormsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get lead form by id
    # **This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.**  Gets a lead form given it's ID. It must also be associated with the provided ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
    # @param lead_form_id [String] The ID of this lead form
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [LeadForm]
    def lead_form_get(lead_form_id, ad_account_id, opts = {})
      data, _status_code, _headers = lead_form_get_with_http_info(lead_form_id, ad_account_id, opts)
      data
    end

    # Get lead form by id
    # **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Gets a lead form given it&#39;s ID. It must also be associated with the provided ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
    # @param lead_form_id [String] The ID of this lead form
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LeadForm, Integer, Hash)>] LeadForm data, response status code and response headers
    def lead_form_get_with_http_info(lead_form_id, ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.lead_form_get ...'
      end
      # verify the required parameter 'lead_form_id' is set
      if @api_client.config.client_side_validation && lead_form_id.nil?
        fail ArgumentError, "Missing the required parameter 'lead_form_id' when calling LeadFormsApi.lead_form_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && lead_form_id !~ pattern
        fail ArgumentError, "invalid value for 'lead_form_id' when calling LeadFormsApi.lead_form_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadFormsApi.lead_form_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadFormsApi.lead_form_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadFormsApi.lead_form_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}'.sub('{lead_form_id}', CGI.escape(lead_form_id.to_s)).sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeadForm'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.lead_form_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#lead_form_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create lead form test data
    # Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.
    # @param ad_account_id [String] 
    # @param lead_form_id [String] Unique identifier of a lead form.
    # @param lead_form_test_create [LeadFormTestCreate] 
    # @param [Hash] opts the optional parameters
    # @return [LeadFormTest]
    def lead_form_test_create(ad_account_id, lead_form_id, lead_form_test_create, opts = {})
      data, _status_code, _headers = lead_form_test_create_with_http_info(ad_account_id, lead_form_id, lead_form_test_create, opts)
      data
    end

    # Create lead form test data
    # Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.
    # @param ad_account_id [String] 
    # @param lead_form_id [String] Unique identifier of a lead form.
    # @param lead_form_test_create [LeadFormTestCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LeadFormTest, Integer, Hash)>] LeadFormTest data, response status code and response headers
    def lead_form_test_create_with_http_info(ad_account_id, lead_form_id, lead_form_test_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.lead_form_test_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadFormsApi.lead_form_test_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadFormsApi.lead_form_test_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadFormsApi.lead_form_test_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'lead_form_id' is set
      if @api_client.config.client_side_validation && lead_form_id.nil?
        fail ArgumentError, "Missing the required parameter 'lead_form_id' when calling LeadFormsApi.lead_form_test_create"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && lead_form_id !~ pattern
        fail ArgumentError, "invalid value for 'lead_form_id' when calling LeadFormsApi.lead_form_test_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'lead_form_test_create' is set
      if @api_client.config.client_side_validation && lead_form_test_create.nil?
        fail ArgumentError, "Missing the required parameter 'lead_form_test_create' when calling LeadFormsApi.lead_form_test_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}/test'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s)).sub('{lead_form_id}', CGI.escape(lead_form_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(lead_form_test_create)

      # return_type
      return_type = opts[:debug_return_type] || 'LeadFormTest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.lead_form_test_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#lead_form_test_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create lead forms
    # **This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.**  Create lead forms. Lead forms are used in lead ads and allow you to control what text appears on the lead form's description, questions and confirmation sections.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param lead_form_create [Array<LeadFormCreate>] 
    # @param [Hash] opts the optional parameters
    # @return [LeadFormsCreate200Response]
    def lead_forms_create(ad_account_id, lead_form_create, opts = {})
      data, _status_code, _headers = lead_forms_create_with_http_info(ad_account_id, lead_form_create, opts)
      data
    end

    # Create lead forms
    # **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Create lead forms. Lead forms are used in lead ads and allow you to control what text appears on the lead form&#39;s description, questions and confirmation sections.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param lead_form_create [Array<LeadFormCreate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LeadFormsCreate200Response, Integer, Hash)>] LeadFormsCreate200Response data, response status code and response headers
    def lead_forms_create_with_http_info(ad_account_id, lead_form_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.lead_forms_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadFormsApi.lead_forms_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadFormsApi.lead_forms_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadFormsApi.lead_forms_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'lead_form_create' is set
      if @api_client.config.client_side_validation && lead_form_create.nil?
        fail ArgumentError, "Missing the required parameter 'lead_form_create' when calling LeadFormsApi.lead_forms_create"
      end
      if @api_client.config.client_side_validation && lead_form_create.length > 30
        fail ArgumentError, 'invalid value for "lead_form_create" when calling LeadFormsApi.lead_forms_create, number of items must be less than or equal to 30.'
      end

      if @api_client.config.client_side_validation && lead_form_create.length < 1
        fail ArgumentError, 'invalid value for "lead_form_create" when calling LeadFormsApi.lead_forms_create, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/lead_forms'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(lead_form_create)

      # return_type
      return_type = opts[:debug_return_type] || 'LeadFormsCreate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.lead_forms_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#lead_forms_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List lead forms
    # **This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.**  List lead forms associated with an ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @return [LeadFormsList200Response]
    def lead_forms_list(ad_account_id, opts = {})
      data, _status_code, _headers = lead_forms_list_with_http_info(ad_account_id, opts)
      data
    end

    # List lead forms
    # **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  List lead forms associated with an ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @return [Array<(LeadFormsList200Response, Integer, Hash)>] LeadFormsList200Response data, response status code and response headers
    def lead_forms_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.lead_forms_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadFormsApi.lead_forms_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadFormsApi.lead_forms_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadFormsApi.lead_forms_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LeadFormsApi.lead_forms_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LeadFormsApi.lead_forms_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/lead_forms'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeadFormsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.lead_forms_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#lead_forms_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update lead forms
    # **This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.**  Update lead forms. Lead ads help you reach people who are actively looking for, and interested in, your goods and services. The lead form can be associated with an ad to allow people to fill out the form.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param lead_form_batch_update [Array<LeadFormBatchUpdate>] 
    # @param [Hash] opts the optional parameters
    # @return [LeadFormsCreate200Response]
    def lead_forms_update(ad_account_id, lead_form_batch_update, opts = {})
      data, _status_code, _headers = lead_forms_update_with_http_info(ad_account_id, lead_form_batch_update, opts)
      data
    end

    # Update lead forms
    # **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Update lead forms. Lead ads help you reach people who are actively looking for, and interested in, your goods and services. The lead form can be associated with an ad to allow people to fill out the form.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param lead_form_batch_update [Array<LeadFormBatchUpdate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LeadFormsCreate200Response, Integer, Hash)>] LeadFormsCreate200Response data, response status code and response headers
    def lead_forms_update_with_http_info(ad_account_id, lead_form_batch_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.lead_forms_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling LeadFormsApi.lead_forms_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling LeadFormsApi.lead_forms_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling LeadFormsApi.lead_forms_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'lead_form_batch_update' is set
      if @api_client.config.client_side_validation && lead_form_batch_update.nil?
        fail ArgumentError, "Missing the required parameter 'lead_form_batch_update' when calling LeadFormsApi.lead_forms_update"
      end
      if @api_client.config.client_side_validation && lead_form_batch_update.length > 30
        fail ArgumentError, 'invalid value for "lead_form_batch_update" when calling LeadFormsApi.lead_forms_update, number of items must be less than or equal to 30.'
      end

      if @api_client.config.client_side_validation && lead_form_batch_update.length < 1
        fail ArgumentError, 'invalid value for "lead_form_batch_update" when calling LeadFormsApi.lead_forms_update, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/lead_forms'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(lead_form_batch_update)

      # return_type
      return_type = opts[:debug_return_type] || 'LeadFormsCreate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.lead_forms_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#lead_forms_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
