=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class MsotEventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Send Measurement Source Of Truth (MSOT) attributed conversion events
    # **This feature is currently in beta and not available to all apps.** If you are interested in joining the beta, reach out to your Pinterest account manager.  Advertisers or their measurement partners can send attributed MSOT conversion events to Pinterest based on their `ad_account_id`. The request body should be a JSON object.  - These events will not be used in Reporting.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param conversion_msot_events_create [ConversionMSOTEventsCreate] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def msot_events_create(ad_account_id, conversion_msot_events_create, opts = {})
      msot_events_create_with_http_info(ad_account_id, conversion_msot_events_create, opts)
      nil
    end

    # Send Measurement Source Of Truth (MSOT) attributed conversion events
    # **This feature is currently in beta and not available to all apps.** If you are interested in joining the beta, reach out to your Pinterest account manager.  Advertisers or their measurement partners can send attributed MSOT conversion events to Pinterest based on their &#x60;ad_account_id&#x60;. The request body should be a JSON object.  - These events will not be used in Reporting.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param conversion_msot_events_create [ConversionMSOTEventsCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def msot_events_create_with_http_info(ad_account_id, conversion_msot_events_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MsotEventsApi.msot_events_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling MsotEventsApi.msot_events_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling MsotEventsApi.msot_events_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling MsotEventsApi.msot_events_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'conversion_msot_events_create' is set
      if @api_client.config.client_side_validation && conversion_msot_events_create.nil?
        fail ArgumentError, "Missing the required parameter 'conversion_msot_events_create' when calling MsotEventsApi.msot_events_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/msot/events'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(conversion_msot_events_create)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"MsotEventsApi.msot_events_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MsotEventsApi#msot_events_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
