=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class ProductGroupPromotionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create product group promotions
    # Add one or more product groups from your catalog to an existing ad group. (Product groups added to an ad group are a 'product group promotion.')
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param product_group_promotion_create_request [ProductGroupPromotionCreateRequest] List of Product Group Promotions to create, size limit [1, 30].
    # @param [Hash] opts the optional parameters
    # @return [ProductGroupPromotionResponse]
    def product_group_promotions_create(ad_account_id, product_group_promotion_create_request, opts = {})
      data, _status_code, _headers = product_group_promotions_create_with_http_info(ad_account_id, product_group_promotion_create_request, opts)
      data
    end

    # Create product group promotions
    # Add one or more product groups from your catalog to an existing ad group. (Product groups added to an ad group are a &#39;product group promotion.&#39;)
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param product_group_promotion_create_request [ProductGroupPromotionCreateRequest] List of Product Group Promotions to create, size limit [1, 30].
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductGroupPromotionResponse, Integer, Hash)>] ProductGroupPromotionResponse data, response status code and response headers
    def product_group_promotions_create_with_http_info(ad_account_id, product_group_promotion_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductGroupPromotionsApi.product_group_promotions_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ProductGroupPromotionsApi.product_group_promotions_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ProductGroupPromotionsApi.product_group_promotions_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ProductGroupPromotionsApi.product_group_promotions_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'product_group_promotion_create_request' is set
      if @api_client.config.client_side_validation && product_group_promotion_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'product_group_promotion_create_request' when calling ProductGroupPromotionsApi.product_group_promotions_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/product_group_promotions'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_group_promotion_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductGroupPromotionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"ProductGroupPromotionsApi.product_group_promotions_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductGroupPromotionsApi#product_group_promotions_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a product group promotion by id
    # Get a product group promotion by id
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param product_group_promotion_id [String] Unique identifier of a product group promotion
    # @param [Hash] opts the optional parameters
    # @return [ProductGroupPromotion]
    def product_group_promotions_get(ad_account_id, product_group_promotion_id, opts = {})
      data, _status_code, _headers = product_group_promotions_get_with_http_info(ad_account_id, product_group_promotion_id, opts)
      data
    end

    # Get a product group promotion by id
    # Get a product group promotion by id
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param product_group_promotion_id [String] Unique identifier of a product group promotion
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductGroupPromotion, Integer, Hash)>] ProductGroupPromotion data, response status code and response headers
    def product_group_promotions_get_with_http_info(ad_account_id, product_group_promotion_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductGroupPromotionsApi.product_group_promotions_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ProductGroupPromotionsApi.product_group_promotions_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ProductGroupPromotionsApi.product_group_promotions_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ProductGroupPromotionsApi.product_group_promotions_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'product_group_promotion_id' is set
      if @api_client.config.client_side_validation && product_group_promotion_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_group_promotion_id' when calling ProductGroupPromotionsApi.product_group_promotions_get"
      end
      if @api_client.config.client_side_validation && product_group_promotion_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "product_group_promotion_id" when calling ProductGroupPromotionsApi.product_group_promotions_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && product_group_promotion_id !~ pattern
        fail ArgumentError, "invalid value for 'product_group_promotion_id' when calling ProductGroupPromotionsApi.product_group_promotions_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/product_group_promotions/{product_group_promotion_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'product_group_promotion_id' + '}', CGI.escape(product_group_promotion_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductGroupPromotion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"ProductGroupPromotionsApi.product_group_promotions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductGroupPromotionsApi#product_group_promotions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product group promotions
    # List existing product group promotions associated with an ad account.  Include either ad_group_id or product_group_promotion_ids in your request.  <b>Note:</b> ad_group_ids and product_group_promotion_ids are mutually exclusive parameters. Only provide one. If multiple options are provided, product_group_promotion_ids takes precedence over ad_group_ids. If none are provided, the endpoint returns an error.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :product_group_promotion_ids List of Product group promotion Ids.
    # @option opts [Array<String>] :entity_statuses Entity status
    # @option opts [String] :ad_group_id Ad group Id.
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @return [ProductGroupPromotionsList200Response]
    def product_group_promotions_list(ad_account_id, opts = {})
      data, _status_code, _headers = product_group_promotions_list_with_http_info(ad_account_id, opts)
      data
    end

    # Get product group promotions
    # List existing product group promotions associated with an ad account.  Include either ad_group_id or product_group_promotion_ids in your request.  &lt;b&gt;Note:&lt;/b&gt; ad_group_ids and product_group_promotion_ids are mutually exclusive parameters. Only provide one. If multiple options are provided, product_group_promotion_ids takes precedence over ad_group_ids. If none are provided, the endpoint returns an error.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :product_group_promotion_ids List of Product group promotion Ids.
    # @option opts [Array<String>] :entity_statuses Entity status
    # @option opts [String] :ad_group_id Ad group Id.
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @return [Array<(ProductGroupPromotionsList200Response, Integer, Hash)>] ProductGroupPromotionsList200Response data, response status code and response headers
    def product_group_promotions_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductGroupPromotionsApi.product_group_promotions_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ProductGroupPromotionsApi.product_group_promotions_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ProductGroupPromotionsApi.product_group_promotions_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ProductGroupPromotionsApi.product_group_promotions_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'product_group_promotion_ids'].nil? && opts[:'product_group_promotion_ids'].length > 250
        fail ArgumentError, 'invalid value for "opts[:"product_group_promotion_ids"]" when calling ProductGroupPromotionsApi.product_group_promotions_list, number of items must be less than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'product_group_promotion_ids'].nil? && opts[:'product_group_promotion_ids'].length < 1
        fail ArgumentError, 'invalid value for "opts[:"product_group_promotion_ids"]" when calling ProductGroupPromotionsApi.product_group_promotions_list, number of items must be greater than or equal to 1.'
      end

      allowable_values = ["ACTIVE", "PAUSED", "ARCHIVED", "DRAFT", "DELETED_DRAFT"]
      if @api_client.config.client_side_validation && opts[:'entity_statuses'] && !opts[:'entity_statuses'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"entity_statuses\", must include one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_group_id'].nil? && opts[:'ad_group_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_group_id"]" when calling ProductGroupPromotionsApi.product_group_promotions_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_group_id'].nil? && opts[:'ad_group_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_group_id\"]' when calling ProductGroupPromotionsApi.product_group_promotions_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProductGroupPromotionsApi.product_group_promotions_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProductGroupPromotionsApi.product_group_promotions_list, must be greater than or equal to 1.'
      end

      allowable_values = ["ASCENDING", "DESCENDING"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/product_group_promotions'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'product_group_promotion_ids'] = @api_client.build_collection_param(opts[:'product_group_promotion_ids'], :multi) if !opts[:'product_group_promotion_ids'].nil?
      query_params[:'entity_statuses'] = @api_client.build_collection_param(opts[:'entity_statuses'], :multi) if !opts[:'entity_statuses'].nil?
      query_params[:'ad_group_id'] = opts[:'ad_group_id'] if !opts[:'ad_group_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductGroupPromotionsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"ProductGroupPromotionsApi.product_group_promotions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductGroupPromotionsApi#product_group_promotions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update product group promotions
    # Update multiple existing Product Group Promotions (by product_group_id)
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param product_group_promotion_update_request [ProductGroupPromotionUpdateRequest] Parameters to update Product group promotions
    # @param [Hash] opts the optional parameters
    # @return [ProductGroupPromotionResponse]
    def product_group_promotions_update(ad_account_id, product_group_promotion_update_request, opts = {})
      data, _status_code, _headers = product_group_promotions_update_with_http_info(ad_account_id, product_group_promotion_update_request, opts)
      data
    end

    # Update product group promotions
    # Update multiple existing Product Group Promotions (by product_group_id)
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param product_group_promotion_update_request [ProductGroupPromotionUpdateRequest] Parameters to update Product group promotions
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductGroupPromotionResponse, Integer, Hash)>] ProductGroupPromotionResponse data, response status code and response headers
    def product_group_promotions_update_with_http_info(ad_account_id, product_group_promotion_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductGroupPromotionsApi.product_group_promotions_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ProductGroupPromotionsApi.product_group_promotions_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ProductGroupPromotionsApi.product_group_promotions_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ProductGroupPromotionsApi.product_group_promotions_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'product_group_promotion_update_request' is set
      if @api_client.config.client_side_validation && product_group_promotion_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'product_group_promotion_update_request' when calling ProductGroupPromotionsApi.product_group_promotions_update"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/product_group_promotions'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_group_promotion_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductGroupPromotionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"ProductGroupPromotionsApi.product_group_promotions_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductGroupPromotionsApi#product_group_promotions_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product group analytics
    # Get analytics for the specified product groups in the specified <code>ad_account_id</code>, filtered by the specified options. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.   - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param product_group_ids [Array<String>] List of Product group Ids to use to filter the results.
    # @param columns [Array<String>] Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.&lt;br/&gt;For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).&lt;br/&gt;If a column has no value, it may not be returned
    # @param granularity [Granularity] TOTAL - metrics are aggregated over the specified date range.&lt;br&gt; DAY - metrics are broken down daily.&lt;br&gt; HOUR - metrics are broken down hourly.&lt;br&gt;WEEKLY - metrics are broken down weekly.&lt;br&gt;MONTHLY - metrics are broken down monthly
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :click_window_days Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (default to 30)
    # @option opts [Integer] :engagement_window_days Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.&lt;br&gt; &lt;strong&gt;Note:&lt;/strong&gt; This parameter no longer returns new data. However, you can still access historic data through &lt;strong&gt;Sept 30, 2027&lt;/strong&gt;. (default to 30)
    # @option opts [Integer] :view_window_days Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (default to 1)
    # @option opts [String] :conversion_report_time The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (default to 'TIME_OF_AD_ACTION')
    # @option opts [ReportingTimeZone] :reporting_timezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
    # @return [Array<ProductGroupAnalyticsResponseInner>]
    def product_groups_analytics(ad_account_id, start_date, end_date, product_group_ids, columns, granularity, opts = {})
      data, _status_code, _headers = product_groups_analytics_with_http_info(ad_account_id, start_date, end_date, product_group_ids, columns, granularity, opts)
      data
    end

    # Get product group analytics
    # Get analytics for the specified product groups in the specified &lt;code&gt;ad_account_id&lt;/code&gt;, filtered by the specified options. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Analyst, Campaign Manager.   - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param product_group_ids [Array<String>] List of Product group Ids to use to filter the results.
    # @param columns [Array<String>] Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.&lt;br/&gt;For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).&lt;br/&gt;If a column has no value, it may not be returned
    # @param granularity [Granularity] TOTAL - metrics are aggregated over the specified date range.&lt;br&gt; DAY - metrics are broken down daily.&lt;br&gt; HOUR - metrics are broken down hourly.&lt;br&gt;WEEKLY - metrics are broken down weekly.&lt;br&gt;MONTHLY - metrics are broken down monthly
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :click_window_days Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (default to 30)
    # @option opts [Integer] :engagement_window_days Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.&lt;br&gt; &lt;strong&gt;Note:&lt;/strong&gt; This parameter no longer returns new data. However, you can still access historic data through &lt;strong&gt;Sept 30, 2027&lt;/strong&gt;. (default to 30)
    # @option opts [Integer] :view_window_days Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (default to 1)
    # @option opts [String] :conversion_report_time The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (default to 'TIME_OF_AD_ACTION')
    # @option opts [ReportingTimeZone] :reporting_timezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
    # @return [Array<(Array<ProductGroupAnalyticsResponseInner>, Integer, Hash)>] Array<ProductGroupAnalyticsResponseInner> data, response status code and response headers
    def product_groups_analytics_with_http_info(ad_account_id, start_date, end_date, product_group_ids, columns, granularity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductGroupPromotionsApi.product_groups_analytics ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling ProductGroupPromotionsApi.product_groups_analytics"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling ProductGroupPromotionsApi.product_groups_analytics, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling ProductGroupPromotionsApi.product_groups_analytics, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ProductGroupPromotionsApi.product_groups_analytics"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ProductGroupPromotionsApi.product_groups_analytics"
      end
      # verify the required parameter 'product_group_ids' is set
      if @api_client.config.client_side_validation && product_group_ids.nil?
        fail ArgumentError, "Missing the required parameter 'product_group_ids' when calling ProductGroupPromotionsApi.product_groups_analytics"
      end
      if @api_client.config.client_side_validation && product_group_ids.length > 250
        fail ArgumentError, 'invalid value for "product_group_ids" when calling ProductGroupPromotionsApi.product_groups_analytics, number of items must be less than or equal to 250.'
      end

      if @api_client.config.client_side_validation && product_group_ids.length < 1
        fail ArgumentError, 'invalid value for "product_group_ids" when calling ProductGroupPromotionsApi.product_groups_analytics, number of items must be greater than or equal to 1.'
      end

      # verify the required parameter 'columns' is set
      if @api_client.config.client_side_validation && columns.nil?
        fail ArgumentError, "Missing the required parameter 'columns' when calling ProductGroupPromotionsApi.product_groups_analytics"
      end
      # verify the required parameter 'granularity' is set
      if @api_client.config.client_side_validation && granularity.nil?
        fail ArgumentError, "Missing the required parameter 'granularity' when calling ProductGroupPromotionsApi.product_groups_analytics"
      end
      allowable_values = [0, 1, 7, 14, 30, 60]
      if @api_client.config.client_side_validation && opts[:'click_window_days'] && !allowable_values.include?(opts[:'click_window_days'])
        fail ArgumentError, "invalid value for \"click_window_days\", must be one of #{allowable_values}"
      end
      allowable_values = [0, 1, 7, 14, 30, 60]
      if @api_client.config.client_side_validation && opts[:'engagement_window_days'] && !allowable_values.include?(opts[:'engagement_window_days'])
        fail ArgumentError, "invalid value for \"engagement_window_days\", must be one of #{allowable_values}"
      end
      allowable_values = [0, 1, 7, 14, 30, 60]
      if @api_client.config.client_side_validation && opts[:'view_window_days'] && !allowable_values.include?(opts[:'view_window_days'])
        fail ArgumentError, "invalid value for \"view_window_days\", must be one of #{allowable_values}"
      end
      allowable_values = ["TIME_OF_AD_ACTION", "TIME_OF_CONVERSION"]
      if @api_client.config.client_side_validation && opts[:'conversion_report_time'] && !allowable_values.include?(opts[:'conversion_report_time'])
        fail ArgumentError, "invalid value for \"conversion_report_time\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/product_groups/analytics'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'product_group_ids'] = @api_client.build_collection_param(product_group_ids, :multi)
      query_params[:'columns'] = @api_client.build_collection_param(columns, :csv)
      query_params[:'granularity'] = granularity
      query_params[:'click_window_days'] = opts[:'click_window_days'] if !opts[:'click_window_days'].nil?
      query_params[:'engagement_window_days'] = opts[:'engagement_window_days'] if !opts[:'engagement_window_days'].nil?
      query_params[:'view_window_days'] = opts[:'view_window_days'] if !opts[:'view_window_days'].nil?
      query_params[:'conversion_report_time'] = opts[:'conversion_report_time'] if !opts[:'conversion_report_time'].nil?
      query_params[:'reporting_timezone'] = opts[:'reporting_timezone'] if !opts[:'reporting_timezone'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProductGroupAnalyticsResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ProductGroupPromotionsApi.product_groups_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductGroupPromotionsApi#product_groups_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
