=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class ProductTagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add product tags to pin
    # Add product tags to a pin. Product tags allow you to tag product pins onto a hero pin. - Maximum 24 product tags can be added in a single request. - Duplicate pin_ids in the request will result in an error. - If any product tag fails eligibility check, the entire request fails (all-or-nothing). - If a product tag is already tagged on the pin, it is treated as a no-op success.
    # @param pin_id [String] Unique identifier of the hero pin that will receive product tags.
    # @param product_tags_bulk_add_request [ProductTagsBulkAddRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProductTagsResponse]
    def product_tags_bulk_add(pin_id, product_tags_bulk_add_request, opts = {})
      data, _status_code, _headers = product_tags_bulk_add_with_http_info(pin_id, product_tags_bulk_add_request, opts)
      data
    end

    # Add product tags to pin
    # Add product tags to a pin. Product tags allow you to tag product pins onto a hero pin. - Maximum 24 product tags can be added in a single request. - Duplicate pin_ids in the request will result in an error. - If any product tag fails eligibility check, the entire request fails (all-or-nothing). - If a product tag is already tagged on the pin, it is treated as a no-op success.
    # @param pin_id [String] Unique identifier of the hero pin that will receive product tags.
    # @param product_tags_bulk_add_request [ProductTagsBulkAddRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductTagsResponse, Integer, Hash)>] ProductTagsResponse data, response status code and response headers
    def product_tags_bulk_add_with_http_info(pin_id, product_tags_bulk_add_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductTagsApi.product_tags_bulk_add ...'
      end
      # verify the required parameter 'pin_id' is set
      if @api_client.config.client_side_validation && pin_id.nil?
        fail ArgumentError, "Missing the required parameter 'pin_id' when calling ProductTagsApi.product_tags_bulk_add"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && pin_id !~ pattern
        fail ArgumentError, "invalid value for 'pin_id' when calling ProductTagsApi.product_tags_bulk_add, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'product_tags_bulk_add_request' is set
      if @api_client.config.client_side_validation && product_tags_bulk_add_request.nil?
        fail ArgumentError, "Missing the required parameter 'product_tags_bulk_add_request' when calling ProductTagsApi.product_tags_bulk_add"
      end
      # resource path
      local_var_path = '/pins/{pin_id}/product_tags'.sub('{pin_id}', CGI.escape(pin_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_tags_bulk_add_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductTagsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"ProductTagsApi.product_tags_bulk_add",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductTagsApi#product_tags_bulk_add\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete product tags from pin
    # Delete product tags from a pin. - If a product tag is not found on the pin, it is treated as a no-op success.
    # @param pin_id [String] Unique identifier of the hero pin that will receive product tags.
    # @param product_tags_bulk_delete_request [ProductTagsBulkDeleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def product_tags_bulk_delete(pin_id, product_tags_bulk_delete_request, opts = {})
      product_tags_bulk_delete_with_http_info(pin_id, product_tags_bulk_delete_request, opts)
      nil
    end

    # Delete product tags from pin
    # Delete product tags from a pin. - If a product tag is not found on the pin, it is treated as a no-op success.
    # @param pin_id [String] Unique identifier of the hero pin that will receive product tags.
    # @param product_tags_bulk_delete_request [ProductTagsBulkDeleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def product_tags_bulk_delete_with_http_info(pin_id, product_tags_bulk_delete_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductTagsApi.product_tags_bulk_delete ...'
      end
      # verify the required parameter 'pin_id' is set
      if @api_client.config.client_side_validation && pin_id.nil?
        fail ArgumentError, "Missing the required parameter 'pin_id' when calling ProductTagsApi.product_tags_bulk_delete"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && pin_id !~ pattern
        fail ArgumentError, "invalid value for 'pin_id' when calling ProductTagsApi.product_tags_bulk_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'product_tags_bulk_delete_request' is set
      if @api_client.config.client_side_validation && product_tags_bulk_delete_request.nil?
        fail ArgumentError, "Missing the required parameter 'product_tags_bulk_delete_request' when calling ProductTagsApi.product_tags_bulk_delete"
      end
      # resource path
      local_var_path = '/pins/{pin_id}/product_tags/bulk-delete'.sub('{pin_id}', CGI.escape(pin_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_tags_bulk_delete_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"ProductTagsApi.product_tags_bulk_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductTagsApi#product_tags_bulk_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product tags for pin
    # Retrieve all product tags for a pin. - Returns an empty array if the pin has no product tags.
    # @param pin_id [String] Unique identifier of the hero pin that will receive product tags.
    # @param [Hash] opts the optional parameters
    # @return [ProductTagsResponse]
    def product_tags_list(pin_id, opts = {})
      data, _status_code, _headers = product_tags_list_with_http_info(pin_id, opts)
      data
    end

    # Get product tags for pin
    # Retrieve all product tags for a pin. - Returns an empty array if the pin has no product tags.
    # @param pin_id [String] Unique identifier of the hero pin that will receive product tags.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductTagsResponse, Integer, Hash)>] ProductTagsResponse data, response status code and response headers
    def product_tags_list_with_http_info(pin_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductTagsApi.product_tags_list ...'
      end
      # verify the required parameter 'pin_id' is set
      if @api_client.config.client_side_validation && pin_id.nil?
        fail ArgumentError, "Missing the required parameter 'pin_id' when calling ProductTagsApi.product_tags_list"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && pin_id !~ pattern
        fail ArgumentError, "invalid value for 'pin_id' when calling ProductTagsApi.product_tags_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/pins/{pin_id}/product_tags'.sub('{pin_id}', CGI.escape(pin_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductTagsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"ProductTagsApi.product_tags_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductTagsApi#product_tags_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
