=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class PromotionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create promotions
    # Create multiple new promotions.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param promotion_create_request [Array<PromotionCreateRequest>] List of promotions to create, size limit [1, 30].
    # @param [Hash] opts the optional parameters
    # @return [PromotionsResponse]
    def promotions_create(ad_account_id, promotion_create_request, opts = {})
      data, _status_code, _headers = promotions_create_with_http_info(ad_account_id, promotion_create_request, opts)
      data
    end

    # Create promotions
    # Create multiple new promotions.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param promotion_create_request [Array<PromotionCreateRequest>] List of promotions to create, size limit [1, 30].
    # @param [Hash] opts the optional parameters
    # @return [Array<(PromotionsResponse, Integer, Hash)>] PromotionsResponse data, response status code and response headers
    def promotions_create_with_http_info(ad_account_id, promotion_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromotionsApi.promotions_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling PromotionsApi.promotions_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling PromotionsApi.promotions_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling PromotionsApi.promotions_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'promotion_create_request' is set
      if @api_client.config.client_side_validation && promotion_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'promotion_create_request' when calling PromotionsApi.promotions_create"
      end
      if @api_client.config.client_side_validation && promotion_create_request.length > 30
        fail ArgumentError, 'invalid value for "promotion_create_request" when calling PromotionsApi.promotions_create, number of items must be less than or equal to 30.'
      end

      if @api_client.config.client_side_validation && promotion_create_request.length < 1
        fail ArgumentError, 'invalid value for "promotion_create_request" when calling PromotionsApi.promotions_create, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/promotions'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(promotion_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PromotionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"PromotionsApi.promotions_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromotionsApi#promotions_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete promotion by id
    # Delete a promotion within Pinterest.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param promotion_id [String] Unique identifier of a promotion
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def promotions_delete(ad_account_id, promotion_id, opts = {})
      promotions_delete_with_http_info(ad_account_id, promotion_id, opts)
      nil
    end

    # Delete promotion by id
    # Delete a promotion within Pinterest.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param promotion_id [String] Unique identifier of a promotion
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def promotions_delete_with_http_info(ad_account_id, promotion_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromotionsApi.promotions_delete ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling PromotionsApi.promotions_delete"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling PromotionsApi.promotions_delete, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling PromotionsApi.promotions_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'promotion_id' is set
      if @api_client.config.client_side_validation && promotion_id.nil?
        fail ArgumentError, "Missing the required parameter 'promotion_id' when calling PromotionsApi.promotions_delete"
      end
      if @api_client.config.client_side_validation && promotion_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "promotion_id" when calling PromotionsApi.promotions_delete, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && promotion_id !~ pattern
        fail ArgumentError, "invalid value for 'promotion_id' when calling PromotionsApi.promotions_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/promotions/{promotion_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'promotion_id' + '}', CGI.escape(promotion_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"PromotionsApi.promotions_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromotionsApi#promotions_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get promotion by id
    # Get a promotion by its Pinterest-specific id. It must be associated with the provided ad account id.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param promotion_id [String] Unique identifier of a promotion
    # @param [Hash] opts the optional parameters
    # @return [PromotionResponse]
    def promotions_get(ad_account_id, promotion_id, opts = {})
      data, _status_code, _headers = promotions_get_with_http_info(ad_account_id, promotion_id, opts)
      data
    end

    # Get promotion by id
    # Get a promotion by its Pinterest-specific id. It must be associated with the provided ad account id.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param promotion_id [String] Unique identifier of a promotion
    # @param [Hash] opts the optional parameters
    # @return [Array<(PromotionResponse, Integer, Hash)>] PromotionResponse data, response status code and response headers
    def promotions_get_with_http_info(ad_account_id, promotion_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromotionsApi.promotions_get ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling PromotionsApi.promotions_get"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling PromotionsApi.promotions_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling PromotionsApi.promotions_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'promotion_id' is set
      if @api_client.config.client_side_validation && promotion_id.nil?
        fail ArgumentError, "Missing the required parameter 'promotion_id' when calling PromotionsApi.promotions_get"
      end
      if @api_client.config.client_side_validation && promotion_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "promotion_id" when calling PromotionsApi.promotions_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && promotion_id !~ pattern
        fail ArgumentError, "invalid value for 'promotion_id' when calling PromotionsApi.promotions_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/promotions/{promotion_id}'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s)).sub('{' + 'promotion_id' + '}', CGI.escape(promotion_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PromotionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"PromotionsApi.promotions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromotionsApi#promotions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get promotions
    # Gets all promotions associated with an ad account ID that can be applied to an ad group. Can be either internally-saved promotions or external promotions imported from a commerce integration.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @return [PromotionsList200Response]
    def promotions_list(ad_account_id, opts = {})
      data, _status_code, _headers = promotions_list_with_http_info(ad_account_id, opts)
      data
    end

    # Get promotions
    # Gets all promotions associated with an ad account ID that can be applied to an ad group. Can be either internally-saved promotions or external promotions imported from a commerce integration.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @return [Array<(PromotionsList200Response, Integer, Hash)>] PromotionsList200Response data, response status code and response headers
    def promotions_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromotionsApi.promotions_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling PromotionsApi.promotions_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling PromotionsApi.promotions_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling PromotionsApi.promotions_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PromotionsApi.promotions_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PromotionsApi.promotions_list, must be greater than or equal to 1.'
      end

      allowable_values = ["ASCENDING", "DESCENDING"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/promotions'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PromotionsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"PromotionsApi.promotions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromotionsApi#promotions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update promotions
    # Update multiple promotions.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param promotion_update_request [Array<PromotionUpdateRequest>] List of promotions to create, size limit [1, 30].
    # @param [Hash] opts the optional parameters
    # @return [PromotionsResponse]
    def promotions_update(ad_account_id, promotion_update_request, opts = {})
      data, _status_code, _headers = promotions_update_with_http_info(ad_account_id, promotion_update_request, opts)
      data
    end

    # Update promotions
    # Update multiple promotions.
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param promotion_update_request [Array<PromotionUpdateRequest>] List of promotions to create, size limit [1, 30].
    # @param [Hash] opts the optional parameters
    # @return [Array<(PromotionsResponse, Integer, Hash)>] PromotionsResponse data, response status code and response headers
    def promotions_update_with_http_info(ad_account_id, promotion_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromotionsApi.promotions_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling PromotionsApi.promotions_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling PromotionsApi.promotions_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling PromotionsApi.promotions_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'promotion_update_request' is set
      if @api_client.config.client_side_validation && promotion_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'promotion_update_request' when calling PromotionsApi.promotions_update"
      end
      if @api_client.config.client_side_validation && promotion_update_request.length > 30
        fail ArgumentError, 'invalid value for "promotion_update_request" when calling PromotionsApi.promotions_update, number of items must be less than or equal to 30.'
      end

      if @api_client.config.client_side_validation && promotion_update_request.length < 1
        fail ArgumentError, 'invalid value for "promotion_update_request" when calling PromotionsApi.promotions_update, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/promotions'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(promotion_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PromotionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"PromotionsApi.promotions_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromotionsApi#promotions_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
