=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class ResourcesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get ad accounts countries
    # Get Ad Accounts countries
    # @param [Hash] opts the optional parameters
    # @return [AdAccountCountriesGet200Response]
    def ad_account_countries_get(opts = {})
      data, _status_code, _headers = ad_account_countries_get_with_http_info(opts)
      data
    end

    # Get ad accounts countries
    # Get Ad Accounts countries
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdAccountCountriesGet200Response, Integer, Hash)>] AdAccountCountriesGet200Response data, response status code and response headers
    def ad_account_countries_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.ad_account_countries_get ...'
      end
      # resource path
      local_var_path = '/resources/ad_account_countries'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdAccountCountriesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ResourcesApi.ad_account_countries_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#ad_account_countries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get available metrics' definitions
    # Get the definitions for ads and organic metrics available across both synchronous and asynchronous report endpoints. The `display_name` attribute will match how the metric is named in our native tools like Ads Manager. See [Organic Analytics](/docs/api-features/analytics-overview/) and [Ads Analytics](/docs/api-features/ads-reporting/) for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [ReportType] :report_type Report type.
    # @return [DeliveryMetricsGet200Response]
    def delivery_metrics_get(opts = {})
      data, _status_code, _headers = delivery_metrics_get_with_http_info(opts)
      data
    end

    # Get available metrics&#39; definitions
    # Get the definitions for ads and organic metrics available across both synchronous and asynchronous report endpoints. The &#x60;display_name&#x60; attribute will match how the metric is named in our native tools like Ads Manager. See [Organic Analytics](/docs/api-features/analytics-overview/) and [Ads Analytics](/docs/api-features/ads-reporting/) for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [ReportType] :report_type Report type.
    # @return [Array<(DeliveryMetricsGet200Response, Integer, Hash)>] DeliveryMetricsGet200Response data, response status code and response headers
    def delivery_metrics_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.delivery_metrics_get ...'
      end
      # resource path
      local_var_path = '/resources/delivery_metrics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'report_type'] = opts[:'report_type'] if !opts[:'report_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryMetricsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ResourcesApi.delivery_metrics_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#delivery_metrics_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get interest details
    # Get details of a specific interest given interest ID.  Click [here](https://docs.google.com/spreadsheets/d/1HxL-0Z3p2fgxis9YBP2HWC3tvPrs1hAuHDRtH-NJTIM/edit#gid=118370875) for a spreadsheet listing interests and their IDs.
    # @param interest_id [String] Unique identifier of an interest.
    # @param [Hash] opts the optional parameters
    # @return [SingleInterestTargetingOption]
    def interest_targeting_options_get(interest_id, opts = {})
      data, _status_code, _headers = interest_targeting_options_get_with_http_info(interest_id, opts)
      data
    end

    # Get interest details
    # Get details of a specific interest given interest ID.  Click [here](https://docs.google.com/spreadsheets/d/1HxL-0Z3p2fgxis9YBP2HWC3tvPrs1hAuHDRtH-NJTIM/edit#gid&#x3D;118370875) for a spreadsheet listing interests and their IDs.
    # @param interest_id [String] Unique identifier of an interest.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SingleInterestTargetingOption, Integer, Hash)>] SingleInterestTargetingOption data, response status code and response headers
    def interest_targeting_options_get_with_http_info(interest_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.interest_targeting_options_get ...'
      end
      # verify the required parameter 'interest_id' is set
      if @api_client.config.client_side_validation && interest_id.nil?
        fail ArgumentError, "Missing the required parameter 'interest_id' when calling ResourcesApi.interest_targeting_options_get"
      end
      if @api_client.config.client_side_validation && interest_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "interest_id" when calling ResourcesApi.interest_targeting_options_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && interest_id !~ pattern
        fail ArgumentError, "invalid value for 'interest_id' when calling ResourcesApi.interest_targeting_options_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/resources/targeting/interests/{interest_id}'.sub('{interest_id}', CGI.escape(interest_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SingleInterestTargetingOption'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ResourcesApi.interest_targeting_options_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#interest_targeting_options_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get lead form questions
    # Get a list of all lead form question type names. Some questions might not be used.  **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def lead_form_questions_get(opts = {})
      lead_form_questions_get_with_http_info(opts)
      nil
    end

    # Get lead form questions
    # Get a list of all lead form question type names. Some questions might not be used.  **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def lead_form_questions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.lead_form_questions_get ...'
      end
      # resource path
      local_var_path = '/resources/lead_form_questions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"ResourcesApi.lead_form_questions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#lead_form_questions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get metrics ready state
    # Learn whether conversion or non-conversion metrics are finalized and ready to query.
    # @param date [String] Analytics reports request date (UTC). Format: YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @return [BookClosed]
    def metrics_ready_state_get(date, opts = {})
      data, _status_code, _headers = metrics_ready_state_get_with_http_info(date, opts)
      data
    end

    # Get metrics ready state
    # Learn whether conversion or non-conversion metrics are finalized and ready to query.
    # @param date [String] Analytics reports request date (UTC). Format: YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @return [Array<(BookClosed, Integer, Hash)>] BookClosed data, response status code and response headers
    def metrics_ready_state_get_with_http_info(date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.metrics_ready_state_get ...'
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling ResourcesApi.metrics_ready_state_get"
      end
      pattern = Regexp.new(/^\d{4}-\d{2}-\d{2}$/)
      if @api_client.config.client_side_validation && date !~ pattern
        fail ArgumentError, "invalid value for 'date' when calling ResourcesApi.metrics_ready_state_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/resources/metrics_ready_state'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = date

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BookClosed'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"ResourcesApi.metrics_ready_state_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#metrics_ready_state_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get targeting options
    #     You can use targeting values in ads placement to define your intended audience.      Targeting metrics are organized around targeting specifications.      For more information on ads targeting, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting).      **Sample return:**      ```     [{\"36313\": \"Australia: Moreton Bay - North\", \"124735\": \"Canada: North Battleford\", \"36109\": \"Australia: Murray\", \"36108\": \"Australia: Mid North Coast\", \"36101\": \"Australia: Capital Region\", \"811\": \"U.S.: Reno\", \"36103\": \"Australia: Central West\", \"36102\": \"Australia: Central Coast\", \"36105\": \"Australia: Far West and Orana\", \"36104\": \"Australia: Coffs Harbour - Grafton\", \"36107\": \"Australia: Illawarra\", \"36106\": \"Australia: Hunter Valley Exc Newcastle\", \"554017\": \"New Zealand: Wanganui\", \"554016\": \"New Zealand: Marlborough\", \"554015\": \"New Zealand: Gisborne\", \"554014\": \"New Zealand: Tararua\", \"554013\": \"New Zealand: Invercargill\", \"GR\": \"Greece\", \"554011\": \"New Zealand: Whangarei\", \"554010\": \"New Zealand: Far North\", \"717\": \"U.S.: Quincy-Hannibal-Keokuk\", \"716\": \"U.S.: Baton Rouge\",...}]     ```
    # @param targeting_type [PublicTargetingType] Public targeting type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :client_id Client ID
    # @option opts [String] :oauth_signature Oauth signature
    # @option opts [String] :timestamp Timestamp.
    # @return [Array<Object>]
    def targeting_options_get(targeting_type, opts = {})
      data, _status_code, _headers = targeting_options_get_with_http_info(targeting_type, opts)
      data
    end

    # Get targeting options
    #     You can use targeting values in ads placement to define your intended audience.      Targeting metrics are organized around targeting specifications.      For more information on ads targeting, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting).      **Sample return:**      &#x60;&#x60;&#x60;     [{\&quot;36313\&quot;: \&quot;Australia: Moreton Bay - North\&quot;, \&quot;124735\&quot;: \&quot;Canada: North Battleford\&quot;, \&quot;36109\&quot;: \&quot;Australia: Murray\&quot;, \&quot;36108\&quot;: \&quot;Australia: Mid North Coast\&quot;, \&quot;36101\&quot;: \&quot;Australia: Capital Region\&quot;, \&quot;811\&quot;: \&quot;U.S.: Reno\&quot;, \&quot;36103\&quot;: \&quot;Australia: Central West\&quot;, \&quot;36102\&quot;: \&quot;Australia: Central Coast\&quot;, \&quot;36105\&quot;: \&quot;Australia: Far West and Orana\&quot;, \&quot;36104\&quot;: \&quot;Australia: Coffs Harbour - Grafton\&quot;, \&quot;36107\&quot;: \&quot;Australia: Illawarra\&quot;, \&quot;36106\&quot;: \&quot;Australia: Hunter Valley Exc Newcastle\&quot;, \&quot;554017\&quot;: \&quot;New Zealand: Wanganui\&quot;, \&quot;554016\&quot;: \&quot;New Zealand: Marlborough\&quot;, \&quot;554015\&quot;: \&quot;New Zealand: Gisborne\&quot;, \&quot;554014\&quot;: \&quot;New Zealand: Tararua\&quot;, \&quot;554013\&quot;: \&quot;New Zealand: Invercargill\&quot;, \&quot;GR\&quot;: \&quot;Greece\&quot;, \&quot;554011\&quot;: \&quot;New Zealand: Whangarei\&quot;, \&quot;554010\&quot;: \&quot;New Zealand: Far North\&quot;, \&quot;717\&quot;: \&quot;U.S.: Quincy-Hannibal-Keokuk\&quot;, \&quot;716\&quot;: \&quot;U.S.: Baton Rouge\&quot;,...}]     &#x60;&#x60;&#x60;
    # @param targeting_type [PublicTargetingType] Public targeting type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :client_id Client ID
    # @option opts [String] :oauth_signature Oauth signature
    # @option opts [String] :timestamp Timestamp.
    # @return [Array<(Array<Object>, Integer, Hash)>] Array<Object> data, response status code and response headers
    def targeting_options_get_with_http_info(targeting_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.targeting_options_get ...'
      end
      # verify the required parameter 'targeting_type' is set
      if @api_client.config.client_side_validation && targeting_type.nil?
        fail ArgumentError, "Missing the required parameter 'targeting_type' when calling ResourcesApi.targeting_options_get"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling ResourcesApi.targeting_options_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling ResourcesApi.targeting_options_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'client_id'].nil? && opts[:'client_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"client_id"]" when calling ResourcesApi.targeting_options_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'client_id'].nil? && opts[:'client_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"client_id\"]' when calling ResourcesApi.targeting_options_get, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/\d+/)
      if @api_client.config.client_side_validation && !opts[:'timestamp'].nil? && opts[:'timestamp'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"timestamp\"]' when calling ResourcesApi.targeting_options_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/resources/targeting/{targeting_type}'.sub('{targeting_type}', CGI.escape(targeting_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'client_id'] = opts[:'client_id'] if !opts[:'client_id'].nil?
      query_params[:'oauth_signature'] = opts[:'oauth_signature'] if !opts[:'oauth_signature'].nil?
      query_params[:'timestamp'] = opts[:'timestamp'] if !opts[:'timestamp'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"ResourcesApi.targeting_options_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#targeting_options_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
