=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class SchedulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create schedules
    # Batch create schedules
    # @param ad_account_id [String] 
    # @param schedule_create [Array<ScheduleCreate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<SchedulesCreate200ResponseInner>]
    def schedules_create(ad_account_id, schedule_create, opts = {})
      data, _status_code, _headers = schedules_create_with_http_info(ad_account_id, schedule_create, opts)
      data
    end

    # Create schedules
    # Batch create schedules
    # @param ad_account_id [String] 
    # @param schedule_create [Array<ScheduleCreate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<SchedulesCreate200ResponseInner>, Integer, Hash)>] Array<SchedulesCreate200ResponseInner> data, response status code and response headers
    def schedules_create_with_http_info(ad_account_id, schedule_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesApi.schedules_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling SchedulesApi.schedules_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling SchedulesApi.schedules_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling SchedulesApi.schedules_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'schedule_create' is set
      if @api_client.config.client_side_validation && schedule_create.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_create' when calling SchedulesApi.schedules_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/schedules'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedule_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SchedulesCreate200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"SchedulesApi.schedules_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesApi#schedules_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Schedules
    # Get schedules for a specific advertiser
    # @param ad_account_id [String] 
    # @param entity_ids [Array<String>] List of Entity IDs, must be associated with the Ad Accound ID provided in the path.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [Array<ScheduleStatus>] :schedule_statuses Filter schedules by status (one or more)
    # @option opts [ScheduleType] :schedule_type Filter schedules by a type
    # @return [SchedulesList200Response]
    def schedules_list(ad_account_id, entity_ids, opts = {})
      data, _status_code, _headers = schedules_list_with_http_info(ad_account_id, entity_ids, opts)
      data
    end

    # Get Schedules
    # Get schedules for a specific advertiser
    # @param ad_account_id [String] 
    # @param entity_ids [Array<String>] List of Entity IDs, must be associated with the Ad Accound ID provided in the path.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (default to 25)
    # @option opts [PinterestLibPaginationOrder] :order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [Array<ScheduleStatus>] :schedule_statuses Filter schedules by status (one or more)
    # @option opts [ScheduleType] :schedule_type Filter schedules by a type
    # @return [Array<(SchedulesList200Response, Integer, Hash)>] SchedulesList200Response data, response status code and response headers
    def schedules_list_with_http_info(ad_account_id, entity_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesApi.schedules_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling SchedulesApi.schedules_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling SchedulesApi.schedules_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling SchedulesApi.schedules_list, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'entity_ids' is set
      if @api_client.config.client_side_validation && entity_ids.nil?
        fail ArgumentError, "Missing the required parameter 'entity_ids' when calling SchedulesApi.schedules_list"
      end
      if @api_client.config.client_side_validation && entity_ids.length < 1
        fail ArgumentError, 'invalid value for "entity_ids" when calling SchedulesApi.schedules_list, number of items must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SchedulesApi.schedules_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SchedulesApi.schedules_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/schedules'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'entity_ids'] = @api_client.build_collection_param(entity_ids, :multi)
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'schedule_statuses'] = @api_client.build_collection_param(opts[:'schedule_statuses'], :multi) if !opts[:'schedule_statuses'].nil?
      query_params[:'schedule_type'] = opts[:'schedule_type'] if !opts[:'schedule_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"SchedulesApi.schedules_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesApi#schedules_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update schedules
    # Update one or more schedules
    # @param ad_account_id [String] 
    # @param schedule_batch_update [Array<ScheduleBatchUpdate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<SchedulesCreate200ResponseInner>]
    def schedules_update(ad_account_id, schedule_batch_update, opts = {})
      data, _status_code, _headers = schedules_update_with_http_info(ad_account_id, schedule_batch_update, opts)
      data
    end

    # Update schedules
    # Update one or more schedules
    # @param ad_account_id [String] 
    # @param schedule_batch_update [Array<ScheduleBatchUpdate>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<SchedulesCreate200ResponseInner>, Integer, Hash)>] Array<SchedulesCreate200ResponseInner> data, response status code and response headers
    def schedules_update_with_http_info(ad_account_id, schedule_batch_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesApi.schedules_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling SchedulesApi.schedules_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling SchedulesApi.schedules_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling SchedulesApi.schedules_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'schedule_batch_update' is set
      if @api_client.config.client_side_validation && schedule_batch_update.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_batch_update' when calling SchedulesApi.schedules_update"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/schedules'.sub('{ad_account_id}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedule_batch_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SchedulesCreate200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"SchedulesApi.schedules_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesApi#schedules_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
