=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class SearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search pins by a given search term
    # <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>  Get the top 10 Pins by a given search term.
    # @param term [String] Search term to look up pins.
    # @param country_code [String] Two letter country code (ISO 3166-1 alpha-2)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [String] :locale Search locale.
    # @option opts [Integer] :limit Max search result size (default to 10)
    # @return [SearchPartnerPins200Response]
    def search_partner_pins(term, country_code, opts = {})
      data, _status_code, _headers = search_partner_pins_with_http_info(term, country_code, opts)
      data
    end

    # Search pins by a given search term
    # &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/using-beta-and-restricted-features/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Get the top 10 Pins by a given search term.
    # @param term [String] Search term to look up pins.
    # @param country_code [String] Two letter country code (ISO 3166-1 alpha-2)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [String] :locale Search locale.
    # @option opts [Integer] :limit Max search result size (default to 10)
    # @return [Array<(SearchPartnerPins200Response, Integer, Hash)>] SearchPartnerPins200Response data, response status code and response headers
    def search_partner_pins_with_http_info(term, country_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_partner_pins ...'
      end
      # verify the required parameter 'term' is set
      if @api_client.config.client_side_validation && term.nil?
        fail ArgumentError, "Missing the required parameter 'term' when calling SearchApi.search_partner_pins"
      end
      # verify the required parameter 'country_code' is set
      if @api_client.config.client_side_validation && country_code.nil?
        fail ArgumentError, "Missing the required parameter 'country_code' when calling SearchApi.search_partner_pins"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SearchApi.search_partner_pins, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SearchApi.search_partner_pins, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/search/partner/pins'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'term'] = term
      query_params[:'country_code'] = country_code
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchPartnerPins200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"SearchApi.search_partner_pins",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_partner_pins\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search user's boards
    # Search for boards for the \"operation user_account\". This includes boards of all board types. - By default, the \"operation user_account\" is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See <a href='/docs/getting-started/using-business-access/'>Understanding Business Access</a> for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :query Search query. Can contain pin description keywords or comma-separated pin IDs.
    # @return [SearchUserBoardsGet200Response]
    def search_user_boards_get(opts = {})
      data, _status_code, _headers = search_user_boards_get_with_http_info(opts)
      data
    end

    # Search user&#39;s boards
    # Search for boards for the \&quot;operation user_account\&quot;. This includes boards of all board types. - By default, the \&quot;operation user_account\&quot; is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. See &lt;a href&#x3D;&#39;/docs/getting-started/using-business-access/&#39;&gt;Understanding Business Access&lt;/a&gt; for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :query Search query. Can contain pin description keywords or comma-separated pin IDs.
    # @return [Array<(SearchUserBoardsGet200Response, Integer, Hash)>] SearchUserBoardsGet200Response data, response status code and response headers
    def search_user_boards_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_user_boards_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling SearchApi.search_user_boards_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling SearchApi.search_user_boards_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SearchApi.search_user_boards_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SearchApi.search_user_boards_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/search/boards'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchUserBoardsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"SearchApi.search_user_boards_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_user_boards_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search user's Pins
    # Search for pins for the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See <a href='/docs/getting-started/using-business-access/'>Understanding Business Access</a> for more information.
    # @param query [String] Search query. Can contain pin description keywords or comma-separated pin IDs.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @return [SearchUserPinsList200Response]
    def search_user_pins_list(query, opts = {})
      data, _status_code, _headers = search_user_pins_list_with_http_info(query, opts)
      data
    end

    # Search user&#39;s Pins
    # Search for pins for the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. See &lt;a href&#x3D;&#39;/docs/getting-started/using-business-access/&#39;&gt;Understanding Business Access&lt;/a&gt; for more information.
    # @param query [String] Search query. Can contain pin description keywords or comma-separated pin IDs.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @return [Array<(SearchUserPinsList200Response, Integer, Hash)>] SearchUserPinsList200Response data, response status code and response headers
    def search_user_pins_list_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_user_pins_list ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling SearchApi.search_user_pins_list"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling SearchApi.search_user_pins_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling SearchApi.search_user_pins_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/search/pins'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchUserPinsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"SearchApi.search_user_pins_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_user_pins_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
