=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class TargetingTemplateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create targeting templates
    # <p>Targeting templates allow advertisers to save a set of targeting details including audience lists,  keywords & interest, demographics, and placements to use more than once during the campaign creation process.</p>  <p>Templates can be used to build out basic targeting criteria that you plan to use across campaigns and to reuse   performance targeting from prior campaigns for new campaigns.</p>
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param targeting_template_create [TargetingTemplateCreate] targeting template creation entity
    # @param [Hash] opts the optional parameters
    # @return [TargetingTemplateGetResponseData]
    def targeting_template_create(ad_account_id, targeting_template_create, opts = {})
      data, _status_code, _headers = targeting_template_create_with_http_info(ad_account_id, targeting_template_create, opts)
      data
    end

    # Create targeting templates
    # &lt;p&gt;Targeting templates allow advertisers to save a set of targeting details including audience lists,  keywords &amp; interest, demographics, and placements to use more than once during the campaign creation process.&lt;/p&gt;  &lt;p&gt;Templates can be used to build out basic targeting criteria that you plan to use across campaigns and to reuse   performance targeting from prior campaigns for new campaigns.&lt;/p&gt;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param targeting_template_create [TargetingTemplateCreate] targeting template creation entity
    # @param [Hash] opts the optional parameters
    # @return [Array<(TargetingTemplateGetResponseData, Integer, Hash)>] TargetingTemplateGetResponseData data, response status code and response headers
    def targeting_template_create_with_http_info(ad_account_id, targeting_template_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TargetingTemplateApi.targeting_template_create ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling TargetingTemplateApi.targeting_template_create"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling TargetingTemplateApi.targeting_template_create, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling TargetingTemplateApi.targeting_template_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'targeting_template_create' is set
      if @api_client.config.client_side_validation && targeting_template_create.nil?
        fail ArgumentError, "Missing the required parameter 'targeting_template_create' when calling TargetingTemplateApi.targeting_template_create"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/targeting_templates'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(targeting_template_create)

      # return_type
      return_type = opts[:debug_return_type] || 'TargetingTemplateGetResponseData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"TargetingTemplateApi.targeting_template_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TargetingTemplateApi#targeting_template_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List targeting templates
    # Get a list of the targeting templates in the specified <code>ad_account_id</code>
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [Boolean] :include_sizing Include audience sizing in result or not (default to false)
    # @option opts [String] :search_query Search keyword for targeting templates
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @return [TargetingTemplateList200Response]
    def targeting_template_list(ad_account_id, opts = {})
      data, _status_code, _headers = targeting_template_list_with_http_info(ad_account_id, opts)
      data
    end

    # List targeting templates
    # Get a list of the targeting templates in the specified &lt;code&gt;ad_account_id&lt;/code&gt;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    # @option opts [Boolean] :include_sizing Include audience sizing in result or not (default to false)
    # @option opts [String] :search_query Search keyword for targeting templates
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @return [Array<(TargetingTemplateList200Response, Integer, Hash)>] TargetingTemplateList200Response data, response status code and response headers
    def targeting_template_list_with_http_info(ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TargetingTemplateApi.targeting_template_list ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling TargetingTemplateApi.targeting_template_list"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling TargetingTemplateApi.targeting_template_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling TargetingTemplateApi.targeting_template_list, must conform to the pattern #{pattern}."
      end

      allowable_values = ["ASCENDING", "DESCENDING"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TargetingTemplateApi.targeting_template_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TargetingTemplateApi.targeting_template_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/targeting_templates'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'include_sizing'] = opts[:'include_sizing'] if !opts[:'include_sizing'].nil?
      query_params[:'search_query'] = opts[:'search_query'] if !opts[:'search_query'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TargetingTemplateList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"TargetingTemplateApi.targeting_template_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TargetingTemplateApi#targeting_template_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update targeting templates
    # <p>Update the targeting template given advertiser ID and targeting template ID</p>
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param targeting_template_update_request [TargetingTemplateUpdateRequest] Operation type and targeting template ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def targeting_template_update(ad_account_id, targeting_template_update_request, opts = {})
      targeting_template_update_with_http_info(ad_account_id, targeting_template_update_request, opts)
      nil
    end

    # Update targeting templates
    # &lt;p&gt;Update the targeting template given advertiser ID and targeting template ID&lt;/p&gt;
    # @param ad_account_id [String] Unique identifier of an ad account.
    # @param targeting_template_update_request [TargetingTemplateUpdateRequest] Operation type and targeting template ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def targeting_template_update_with_http_info(ad_account_id, targeting_template_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TargetingTemplateApi.targeting_template_update ...'
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling TargetingTemplateApi.targeting_template_update"
      end
      if @api_client.config.client_side_validation && ad_account_id.to_s.length > 18
        fail ArgumentError, 'invalid value for "ad_account_id" when calling TargetingTemplateApi.targeting_template_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && ad_account_id !~ pattern
        fail ArgumentError, "invalid value for 'ad_account_id' when calling TargetingTemplateApi.targeting_template_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'targeting_template_update_request' is set
      if @api_client.config.client_side_validation && targeting_template_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'targeting_template_update_request' when calling TargetingTemplateApi.targeting_template_update"
      end
      # resource path
      local_var_path = '/ad_accounts/{ad_account_id}/targeting_templates'.sub('{' + 'ad_account_id' + '}', CGI.escape(ad_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(targeting_template_update_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"TargetingTemplateApi.targeting_template_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TargetingTemplateApi#targeting_template_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
