=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class TermsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List related terms
    # Get a list of terms logically related to each input term. <p/> Example: the term 'workout' would list related terms like 'one song workout', 'yoga workout', 'workout motivation', etc.
    # @param terms [Array<String>] List of input terms.
    # @param [Hash] opts the optional parameters
    # @return [RelatedTerms]
    def terms_related_list(terms, opts = {})
      data, _status_code, _headers = terms_related_list_with_http_info(terms, opts)
      data
    end

    # List related terms
    # Get a list of terms logically related to each input term. &lt;p/&gt; Example: the term &#39;workout&#39; would list related terms like &#39;one song workout&#39;, &#39;yoga workout&#39;, &#39;workout motivation&#39;, etc.
    # @param terms [Array<String>] List of input terms.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RelatedTerms, Integer, Hash)>] RelatedTerms data, response status code and response headers
    def terms_related_list_with_http_info(terms, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TermsApi.terms_related_list ...'
      end
      # verify the required parameter 'terms' is set
      if @api_client.config.client_side_validation && terms.nil?
        fail ArgumentError, "Missing the required parameter 'terms' when calling TermsApi.terms_related_list"
      end
      # resource path
      local_var_path = '/terms/related'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'terms'] = @api_client.build_collection_param(terms, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RelatedTerms'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"TermsApi.terms_related_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TermsApi#terms_related_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List suggested terms
    # Get popular search terms that begin with your input term. <p/> Example: 'sport' would return popular terms like 'sports bar' and 'sportswear', but not 'motor sports' since the phrase does not begin with the given term.
    # @param term [String] Input term.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max suggested terms to return. (default to 4)
    # @return [Array<String>]
    def terms_suggested_list(term, opts = {})
      data, _status_code, _headers = terms_suggested_list_with_http_info(term, opts)
      data
    end

    # List suggested terms
    # Get popular search terms that begin with your input term. &lt;p/&gt; Example: &#39;sport&#39; would return popular terms like &#39;sports bar&#39; and &#39;sportswear&#39;, but not &#39;motor sports&#39; since the phrase does not begin with the given term.
    # @param term [String] Input term.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max suggested terms to return. (default to 4)
    # @return [Array<(Array<String>, Integer, Hash)>] Array<String> data, response status code and response headers
    def terms_suggested_list_with_http_info(term, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TermsApi.terms_suggested_list ...'
      end
      # verify the required parameter 'term' is set
      if @api_client.config.client_side_validation && term.nil?
        fail ArgumentError, "Missing the required parameter 'term' when calling TermsApi.terms_suggested_list"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 10
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TermsApi.terms_suggested_list, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TermsApi.terms_suggested_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/terms/suggested'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'term'] = term
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"TermsApi.terms_suggested_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TermsApi#terms_suggested_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
