=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.28.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PinterestSdkClient
  class TrendsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns editorial articles for a given region
    #   Get a list of published editorial articles. Translations of the editorials will be provided if available; otherwise, the default language will be English.
    # @param region [ProductCategoryRegion]      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
    # @param [Hash] opts the optional parameters
    # @return [Array<TrendsEditorial>]
    def trends_editorial_articles_list(region, opts = {})
      data, _status_code, _headers = trends_editorial_articles_list_with_http_info(region, opts)
      data
    end

    # Returns editorial articles for a given region
    #   Get a list of published editorial articles. Translations of the editorials will be provided if available; otherwise, the default language will be English.
    # @param region [ProductCategoryRegion]      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TrendsEditorial>, Integer, Hash)>] Array<TrendsEditorial> data, response status code and response headers
    def trends_editorial_articles_list_with_http_info(region, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.trends_editorial_articles_list ...'
      end
      # verify the required parameter 'region' is set
      if @api_client.config.client_side_validation && region.nil?
        fail ArgumentError, "Missing the required parameter 'region' when calling TrendsApi.trends_editorial_articles_list"
      end
      # resource path
      local_var_path = '/trends/editorial_articles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = region

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TrendsEditorial>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"TrendsApi.trends_editorial_articles_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#trends_editorial_articles_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get featured topics
    #   Enables advertisers to pull top five trending topics by interest and market, at full parity with the Pinterest Trends UI.
    # @param region [ProductCategoryRegion]      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
    # @param [Hash] opts the optional parameters
    # @option opts [InterestsEnum] :interest Interest to filter by
    # @return [Array<FeaturedTrend>]
    def trends_featured_topics_list(region, opts = {})
      data, _status_code, _headers = trends_featured_topics_list_with_http_info(region, opts)
      data
    end

    # Get featured topics
    #   Enables advertisers to pull top five trending topics by interest and market, at full parity with the Pinterest Trends UI.
    # @param region [ProductCategoryRegion]      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
    # @param [Hash] opts the optional parameters
    # @option opts [InterestsEnum] :interest Interest to filter by
    # @return [Array<(Array<FeaturedTrend>, Integer, Hash)>] Array<FeaturedTrend> data, response status code and response headers
    def trends_featured_topics_list_with_http_info(region, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.trends_featured_topics_list ...'
      end
      # verify the required parameter 'region' is set
      if @api_client.config.client_side_validation && region.nil?
        fail ArgumentError, "Missing the required parameter 'region' when calling TrendsApi.trends_featured_topics_list"
      end
      # resource path
      local_var_path = '/trends/topics/featured'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = region
      query_params[:'interest'] = opts[:'interest'] if !opts[:'interest'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FeaturedTrend>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"TrendsApi.trends_featured_topics_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#trends_featured_topics_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product category details
    #   Enables advertisers to retrieve demographic information, related pins, and trend lines for specified product categories
    # @param product_categories [Array<ProductCategoryEnum>] List of product categories
    # @param region [ProductCategoryRegion]      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
    # @param [Hash] opts the optional parameters
    # @option opts [ProductCategoryDetailLookbackWindow] :lookback_window   Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - &#x60;90&#x60; - Last 90 days (3 months)   - &#x60;180&#x60; - Last 180 days (6 months)   - &#x60;365&#x60; - Last 365 days (1 year)   - &#x60;730&#x60; - Last 730 days (2 years)
    # @option opts [ProductCategoriesEngagementType] :engagement_type     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves
    # @return [Array<ProductCategoryDetails>]
    def trends_product_categories_details_list(product_categories, region, opts = {})
      data, _status_code, _headers = trends_product_categories_details_list_with_http_info(product_categories, region, opts)
      data
    end

    # Get product category details
    #   Enables advertisers to retrieve demographic information, related pins, and trend lines for specified product categories
    # @param product_categories [Array<ProductCategoryEnum>] List of product categories
    # @param region [ProductCategoryRegion]      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
    # @param [Hash] opts the optional parameters
    # @option opts [ProductCategoryDetailLookbackWindow] :lookback_window   Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - &#x60;90&#x60; - Last 90 days (3 months)   - &#x60;180&#x60; - Last 180 days (6 months)   - &#x60;365&#x60; - Last 365 days (1 year)   - &#x60;730&#x60; - Last 730 days (2 years)
    # @option opts [ProductCategoriesEngagementType] :engagement_type     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves
    # @return [Array<(Array<ProductCategoryDetails>, Integer, Hash)>] Array<ProductCategoryDetails> data, response status code and response headers
    def trends_product_categories_details_list_with_http_info(product_categories, region, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.trends_product_categories_details_list ...'
      end
      # verify the required parameter 'product_categories' is set
      if @api_client.config.client_side_validation && product_categories.nil?
        fail ArgumentError, "Missing the required parameter 'product_categories' when calling TrendsApi.trends_product_categories_details_list"
      end
      if @api_client.config.client_side_validation && product_categories.length > 20
        fail ArgumentError, 'invalid value for "product_categories" when calling TrendsApi.trends_product_categories_details_list, number of items must be less than or equal to 20.'
      end

      if @api_client.config.client_side_validation && product_categories.length < 1
        fail ArgumentError, 'invalid value for "product_categories" when calling TrendsApi.trends_product_categories_details_list, number of items must be greater than or equal to 1.'
      end

      # verify the required parameter 'region' is set
      if @api_client.config.client_side_validation && region.nil?
        fail ArgumentError, "Missing the required parameter 'region' when calling TrendsApi.trends_product_categories_details_list"
      end
      # resource path
      local_var_path = '/trends/product_categories/details'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'product_categories'] = @api_client.build_collection_param(product_categories, :multi)
      query_params[:'region'] = region
      query_params[:'lookback_window'] = opts[:'lookback_window'] if !opts[:'lookback_window'].nil?
      query_params[:'engagement_type'] = opts[:'engagement_type'] if !opts[:'engagement_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProductCategoryDetails>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"TrendsApi.trends_product_categories_details_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#trends_product_categories_details_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of growing Shopping Product Categories
    #   Get a list of growing Shopping Product Categories in ranked order allowing filtering by engagement type, vertical, age, and gender.
    # @param region [ProductCategoryRegion]      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
    # @param [Hash] opts the optional parameters
    # @option opts [Array<VerticalProductCategory>] :verticals List of verticals to filter by
    # @option opts [Array<AgeTrendsBucket>] :ages Age to filter by. If not provided, the results will be filtered by all ages.
    # @option opts [Array<GenderBucket>] :genders Gender to filter by, If not provided, the results will be filtered by all genders.
    # @option opts [ProductCategoriesEngagementType] :engagement_type     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves
    # @return [Array<TrendingProductCategory>]
    def trends_product_categories_trending_list(region, opts = {})
      data, _status_code, _headers = trends_product_categories_trending_list_with_http_info(region, opts)
      data
    end

    # Get a list of growing Shopping Product Categories
    #   Get a list of growing Shopping Product Categories in ranked order allowing filtering by engagement type, vertical, age, and gender.
    # @param region [ProductCategoryRegion]      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
    # @param [Hash] opts the optional parameters
    # @option opts [Array<VerticalProductCategory>] :verticals List of verticals to filter by
    # @option opts [Array<AgeTrendsBucket>] :ages Age to filter by. If not provided, the results will be filtered by all ages.
    # @option opts [Array<GenderBucket>] :genders Gender to filter by, If not provided, the results will be filtered by all genders.
    # @option opts [ProductCategoriesEngagementType] :engagement_type     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves
    # @return [Array<(Array<TrendingProductCategory>, Integer, Hash)>] Array<TrendingProductCategory> data, response status code and response headers
    def trends_product_categories_trending_list_with_http_info(region, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.trends_product_categories_trending_list ...'
      end
      # verify the required parameter 'region' is set
      if @api_client.config.client_side_validation && region.nil?
        fail ArgumentError, "Missing the required parameter 'region' when calling TrendsApi.trends_product_categories_trending_list"
      end
      # resource path
      local_var_path = '/trends/product_categories/trending'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = region
      query_params[:'verticals'] = @api_client.build_collection_param(opts[:'verticals'], :multi) if !opts[:'verticals'].nil?
      query_params[:'ages'] = @api_client.build_collection_param(opts[:'ages'], :multi) if !opts[:'ages'].nil?
      query_params[:'genders'] = @api_client.build_collection_param(opts[:'genders'], :multi) if !opts[:'genders'].nil?
      query_params[:'engagement_type'] = opts[:'engagement_type'] if !opts[:'engagement_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TrendingProductCategory>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"TrendsApi.trends_product_categories_trending_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#trends_product_categories_trending_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
