=begin
#Pinterest REST API

#Pinterest's REST API

The version of the OpenAPI document: 5.23.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PinterestSdkClient
  class UserAccountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List following boards
    # Get a list of the boards a user follows. The request returns a board summary object array.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [Boolean] :explicit_following Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows. (default to false)
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [BoardsUserFollowsList200Response]
    def boards_user_follows_list(opts = {})
      data, _status_code, _headers = boards_user_follows_list_with_http_info(opts)
      data
    end

    # List following boards
    # Get a list of the boards a user follows. The request returns a board summary object array.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [Boolean] :explicit_following Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows. (default to false)
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(BoardsUserFollowsList200Response, Integer, Hash)>] BoardsUserFollowsList200Response data, response status code and response headers
    def boards_user_follows_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.boards_user_follows_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UserAccountApi.boards_user_follows_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UserAccountApi.boards_user_follows_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling UserAccountApi.boards_user_follows_list, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling UserAccountApi.boards_user_follows_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/user_account/following/boards'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'explicit_following'] = opts[:'explicit_following'] if !opts[:'explicit_following'].nil?
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BoardsUserFollowsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"UserAccountApi.boards_user_follows_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#boards_user_follows_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Follow user
    # <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>  Use this request, as a signed-in user, to follow another user.
    # @param username [String] A valid username
    # @param follow_user_request [FollowUserRequest] Follow a user.
    # @param [Hash] opts the optional parameters
    # @return [UserSummary]
    def follow_user_update(username, follow_user_request, opts = {})
      data, _status_code, _headers = follow_user_update_with_http_info(username, follow_user_request, opts)
      data
    end

    # Follow user
    # &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/using-beta-and-restricted-features/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Use this request, as a signed-in user, to follow another user.
    # @param username [String] A valid username
    # @param follow_user_request [FollowUserRequest] Follow a user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserSummary, Integer, Hash)>] UserSummary data, response status code and response headers
    def follow_user_update_with_http_info(username, follow_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.follow_user_update ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UserAccountApi.follow_user_update"
      end
      pattern = Regexp.new(/(?!^\d+$)^.+$/)
      if @api_client.config.client_side_validation && username !~ pattern
        fail ArgumentError, "invalid value for 'username' when calling UserAccountApi.follow_user_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'follow_user_request' is set
      if @api_client.config.client_side_validation && follow_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'follow_user_request' when calling UserAccountApi.follow_user_update"
      end
      # resource path
      local_var_path = '/user_account/following/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(follow_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UserSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"UserAccountApi.follow_user_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#follow_user_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List followers
    # Get a list of your followers.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [FollowersList200Response]
    def followers_list(opts = {})
      data, _status_code, _headers = followers_list_with_http_info(opts)
      data
    end

    # List followers
    # Get a list of your followers.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [Array<(FollowersList200Response, Integer, Hash)>] FollowersList200Response data, response status code and response headers
    def followers_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.followers_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UserAccountApi.followers_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UserAccountApi.followers_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/user_account/followers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FollowersList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"UserAccountApi.followers_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#followers_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List linked businesses
    # Get a list of your linked business accounts.
    # @param [Hash] opts the optional parameters
    # @return [Array<LinkedBusiness>]
    def linked_business_accounts_get(opts = {})
      data, _status_code, _headers = linked_business_accounts_get_with_http_info(opts)
      data
    end

    # List linked businesses
    # Get a list of your linked business accounts.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<LinkedBusiness>, Integer, Hash)>] Array<LinkedBusiness> data, response status code and response headers
    def linked_business_accounts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.linked_business_accounts_get ...'
      end
      # resource path
      local_var_path = '/user_account/businesses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<LinkedBusiness>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"UserAccountApi.linked_business_accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#linked_business_accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unverify website
    # Unverifu a website verified by the signed-in user.
    # @param website [String] Website with path or domain only
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def unverify_website_delete(website, opts = {})
      unverify_website_delete_with_http_info(website, opts)
      nil
    end

    # Unverify website
    # Unverifu a website verified by the signed-in user.
    # @param website [String] Website with path or domain only
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def unverify_website_delete_with_http_info(website, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.unverify_website_delete ...'
      end
      # verify the required parameter 'website' is set
      if @api_client.config.client_side_validation && website.nil?
        fail ArgumentError, "Missing the required parameter 'website' when calling UserAccountApi.unverify_website_delete"
      end
      # resource path
      local_var_path = '/user_account/websites'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'website'] = website

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"UserAccountApi.unverify_website_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#unverify_website_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user account analytics
    # Get analytics for the \"operation user_account\" - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from_claimed_content Filter on Pins that match your claimed domain. (default to 'BOTH')
    # @option opts [String] :pin_format Pin formats to get data for, default is all. (default to 'ALL')
    # @option opts [String] :app_types Apps or devices to get data for, default is all. (default to 'ALL')
    # @option opts [String] :content_type Filter to paid or organic data. Default is all. (default to 'ALL')
    # @option opts [String] :source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (default to 'ALL')
    # @option opts [Array<String>] :metric_types Metric types to get data for, default is all. 
    # @option opts [String] :split_field How to split the data into groups. Not including this param means data won&#39;t be split. (default to 'NO_SPLIT')
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Hash<String, AnalyticsMetricsResponse>]
    def user_account_analytics(start_date, end_date, opts = {})
      data, _status_code, _headers = user_account_analytics_with_http_info(start_date, end_date, opts)
      data
    end

    # Get user account analytics
    # Get analytics for the \&quot;operation user_account\&quot; - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;.
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from_claimed_content Filter on Pins that match your claimed domain. (default to 'BOTH')
    # @option opts [String] :pin_format Pin formats to get data for, default is all. (default to 'ALL')
    # @option opts [String] :app_types Apps or devices to get data for, default is all. (default to 'ALL')
    # @option opts [String] :content_type Filter to paid or organic data. Default is all. (default to 'ALL')
    # @option opts [String] :source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (default to 'ALL')
    # @option opts [Array<String>] :metric_types Metric types to get data for, default is all. 
    # @option opts [String] :split_field How to split the data into groups. Not including this param means data won&#39;t be split. (default to 'NO_SPLIT')
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(Hash<String, AnalyticsMetricsResponse>, Integer, Hash)>] Hash<String, AnalyticsMetricsResponse> data, response status code and response headers
    def user_account_analytics_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.user_account_analytics ...'
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling UserAccountApi.user_account_analytics"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling UserAccountApi.user_account_analytics"
      end
      allowable_values = ["OTHER", "CLAIMED", "BOTH"]
      if @api_client.config.client_side_validation && opts[:'from_claimed_content'] && !allowable_values.include?(opts[:'from_claimed_content'])
        fail ArgumentError, "invalid value for \"from_claimed_content\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "ORGANIC_IMAGE", "ORGANIC_PRODUCT", "ORGANIC_VIDEO", "ADS_STANDARD", "ADS_PRODUCT", "ADS_VIDEO", "ADS_IDEA"]
      if @api_client.config.client_side_validation && opts[:'pin_format'] && !allowable_values.include?(opts[:'pin_format'])
        fail ArgumentError, "invalid value for \"pin_format\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "MOBILE", "TABLET", "WEB"]
      if @api_client.config.client_side_validation && opts[:'app_types'] && !allowable_values.include?(opts[:'app_types'])
        fail ArgumentError, "invalid value for \"app_types\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "PAID", "ORGANIC"]
      if @api_client.config.client_side_validation && opts[:'content_type'] && !allowable_values.include?(opts[:'content_type'])
        fail ArgumentError, "invalid value for \"content_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "YOUR_PINS", "OTHER_PINS"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      allowable_values = ["ENGAGEMENT", "ENGAGEMENT_RATE", "IMPRESSION", "OUTBOUND_CLICK", "OUTBOUND_CLICK_RATE", "PIN_CLICK", "PIN_CLICK_RATE", "SAVE", "SAVE_RATE"]
      if @api_client.config.client_side_validation && opts[:'metric_types'] && !opts[:'metric_types'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"metric_types\", must include one of #{allowable_values}"
      end
      allowable_values = ["NO_SPLIT", "APP_TYPE", "OWNED_CONTENT", "SOURCE", "PIN_FORMAT"]
      if @api_client.config.client_side_validation && opts[:'split_field'] && !allowable_values.include?(opts[:'split_field'])
        fail ArgumentError, "invalid value for \"split_field\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling UserAccountApi.user_account_analytics, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling UserAccountApi.user_account_analytics, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/user_account/analytics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'from_claimed_content'] = opts[:'from_claimed_content'] if !opts[:'from_claimed_content'].nil?
      query_params[:'pin_format'] = opts[:'pin_format'] if !opts[:'pin_format'].nil?
      query_params[:'app_types'] = opts[:'app_types'] if !opts[:'app_types'].nil?
      query_params[:'content_type'] = opts[:'content_type'] if !opts[:'content_type'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'metric_types'] = @api_client.build_collection_param(opts[:'metric_types'], :csv) if !opts[:'metric_types'].nil?
      query_params[:'split_field'] = opts[:'split_field'] if !opts[:'split_field'].nil?
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, AnalyticsMetricsResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"UserAccountApi.user_account_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#user_account_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user account top pins analytics
    # Gets analytics data about a user's top pins (limited to the top 50). - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param sort_by [String] Specify sorting order for metrics
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from_claimed_content Filter on Pins that match your claimed domain. (default to 'BOTH')
    # @option opts [String] :pin_format Pin formats to get data for, default is all. (default to 'ALL')
    # @option opts [String] :app_types Apps or devices to get data for, default is all. (default to 'ALL')
    # @option opts [String] :content_type Filter to paid or organic data. Default is all. (default to 'ALL')
    # @option opts [String] :source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (default to 'ALL')
    # @option opts [Array<String>] :metric_types Metric types to get data for, default is all. 
    # @option opts [Integer] :num_of_pins Number of pins to include, default is 10. Max is 50. (default to 10)
    # @option opts [Integer] :created_in_last_n_days Get metrics for pins created in the last \&quot;n\&quot; days.
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [TopPinsAnalyticsResponse]
    def user_account_analytics_top_pins(start_date, end_date, sort_by, opts = {})
      data, _status_code, _headers = user_account_analytics_top_pins_with_http_info(start_date, end_date, sort_by, opts)
      data
    end

    # Get user account top pins analytics
    # Gets analytics data about a user&#39;s top pins (limited to the top 50). - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;.
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param sort_by [String] Specify sorting order for metrics
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from_claimed_content Filter on Pins that match your claimed domain. (default to 'BOTH')
    # @option opts [String] :pin_format Pin formats to get data for, default is all. (default to 'ALL')
    # @option opts [String] :app_types Apps or devices to get data for, default is all. (default to 'ALL')
    # @option opts [String] :content_type Filter to paid or organic data. Default is all. (default to 'ALL')
    # @option opts [String] :source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (default to 'ALL')
    # @option opts [Array<String>] :metric_types Metric types to get data for, default is all. 
    # @option opts [Integer] :num_of_pins Number of pins to include, default is 10. Max is 50. (default to 10)
    # @option opts [Integer] :created_in_last_n_days Get metrics for pins created in the last \&quot;n\&quot; days.
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(TopPinsAnalyticsResponse, Integer, Hash)>] TopPinsAnalyticsResponse data, response status code and response headers
    def user_account_analytics_top_pins_with_http_info(start_date, end_date, sort_by, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.user_account_analytics_top_pins ...'
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling UserAccountApi.user_account_analytics_top_pins"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling UserAccountApi.user_account_analytics_top_pins"
      end
      # verify the required parameter 'sort_by' is set
      if @api_client.config.client_side_validation && sort_by.nil?
        fail ArgumentError, "Missing the required parameter 'sort_by' when calling UserAccountApi.user_account_analytics_top_pins"
      end
      # verify enum value
      allowable_values = ["ENGAGEMENT", "IMPRESSION", "OUTBOUND_CLICK", "PIN_CLICK", "SAVE"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_by)
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["OTHER", "CLAIMED", "BOTH"]
      if @api_client.config.client_side_validation && opts[:'from_claimed_content'] && !allowable_values.include?(opts[:'from_claimed_content'])
        fail ArgumentError, "invalid value for \"from_claimed_content\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "ORGANIC_IMAGE", "ORGANIC_PRODUCT", "ORGANIC_VIDEO", "ADS_STANDARD", "ADS_PRODUCT", "ADS_VIDEO", "ADS_IDEA"]
      if @api_client.config.client_side_validation && opts[:'pin_format'] && !allowable_values.include?(opts[:'pin_format'])
        fail ArgumentError, "invalid value for \"pin_format\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "MOBILE", "TABLET", "WEB"]
      if @api_client.config.client_side_validation && opts[:'app_types'] && !allowable_values.include?(opts[:'app_types'])
        fail ArgumentError, "invalid value for \"app_types\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "PAID", "ORGANIC"]
      if @api_client.config.client_side_validation && opts[:'content_type'] && !allowable_values.include?(opts[:'content_type'])
        fail ArgumentError, "invalid value for \"content_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "YOUR_PINS", "OTHER_PINS"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      allowable_values = ["ENGAGEMENT", "ENGAGEMENT_RATE", "IMPRESSION", "OUTBOUND_CLICK", "OUTBOUND_CLICK_RATE", "PIN_CLICK", "PIN_CLICK_RATE", "SAVE", "SAVE_RATE"]
      if @api_client.config.client_side_validation && opts[:'metric_types'] && !opts[:'metric_types'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"metric_types\", must include one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'num_of_pins'].nil? && opts[:'num_of_pins'] > 50
        fail ArgumentError, 'invalid value for "opts[:"num_of_pins"]" when calling UserAccountApi.user_account_analytics_top_pins, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'num_of_pins'].nil? && opts[:'num_of_pins'] < 1
        fail ArgumentError, 'invalid value for "opts[:"num_of_pins"]" when calling UserAccountApi.user_account_analytics_top_pins, must be greater than or equal to 1.'
      end

      allowable_values = [30]
      if @api_client.config.client_side_validation && opts[:'created_in_last_n_days'] && !allowable_values.include?(opts[:'created_in_last_n_days'])
        fail ArgumentError, "invalid value for \"created_in_last_n_days\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling UserAccountApi.user_account_analytics_top_pins, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling UserAccountApi.user_account_analytics_top_pins, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/user_account/analytics/top_pins'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'sort_by'] = sort_by
      query_params[:'from_claimed_content'] = opts[:'from_claimed_content'] if !opts[:'from_claimed_content'].nil?
      query_params[:'pin_format'] = opts[:'pin_format'] if !opts[:'pin_format'].nil?
      query_params[:'app_types'] = opts[:'app_types'] if !opts[:'app_types'].nil?
      query_params[:'content_type'] = opts[:'content_type'] if !opts[:'content_type'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'metric_types'] = @api_client.build_collection_param(opts[:'metric_types'], :csv) if !opts[:'metric_types'].nil?
      query_params[:'num_of_pins'] = opts[:'num_of_pins'] if !opts[:'num_of_pins'].nil?
      query_params[:'created_in_last_n_days'] = opts[:'created_in_last_n_days'] if !opts[:'created_in_last_n_days'].nil?
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TopPinsAnalyticsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"UserAccountApi.user_account_analytics_top_pins",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#user_account_analytics_top_pins\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user account top video pins analytics
    # Gets analytics data about a user's top video pins (limited to the top 50). - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param sort_by [String] Specify sorting order for video metrics
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from_claimed_content Filter on Pins that match your claimed domain. (default to 'BOTH')
    # @option opts [String] :pin_format Pin formats to get data for, default is all. (default to 'ALL')
    # @option opts [String] :app_types Apps or devices to get data for, default is all. (default to 'ALL')
    # @option opts [String] :content_type Filter to paid or organic data. Default is all. (default to 'ALL')
    # @option opts [String] :source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (default to 'ALL')
    # @option opts [Array<String>] :metric_types Metric types to get video data for, default is all. 
    # @option opts [Integer] :num_of_pins Number of pins to include, default is 10. Max is 50. (default to 10)
    # @option opts [Integer] :created_in_last_n_days Get metrics for pins created in the last \&quot;n\&quot; days.
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [TopVideoPinsAnalyticsResponse]
    def user_account_analytics_top_video_pins(start_date, end_date, sort_by, opts = {})
      data, _status_code, _headers = user_account_analytics_top_video_pins_with_http_info(start_date, end_date, sort_by, opts)
      data
    end

    # Get user account top video pins analytics
    # Gets analytics data about a user&#39;s top video pins (limited to the top 50). - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;.
    # @param start_date [Date] Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
    # @param end_date [Date] Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
    # @param sort_by [String] Specify sorting order for video metrics
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from_claimed_content Filter on Pins that match your claimed domain. (default to 'BOTH')
    # @option opts [String] :pin_format Pin formats to get data for, default is all. (default to 'ALL')
    # @option opts [String] :app_types Apps or devices to get data for, default is all. (default to 'ALL')
    # @option opts [String] :content_type Filter to paid or organic data. Default is all. (default to 'ALL')
    # @option opts [String] :source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (default to 'ALL')
    # @option opts [Array<String>] :metric_types Metric types to get video data for, default is all. 
    # @option opts [Integer] :num_of_pins Number of pins to include, default is 10. Max is 50. (default to 10)
    # @option opts [Integer] :created_in_last_n_days Get metrics for pins created in the last \&quot;n\&quot; days.
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(TopVideoPinsAnalyticsResponse, Integer, Hash)>] TopVideoPinsAnalyticsResponse data, response status code and response headers
    def user_account_analytics_top_video_pins_with_http_info(start_date, end_date, sort_by, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.user_account_analytics_top_video_pins ...'
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling UserAccountApi.user_account_analytics_top_video_pins"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling UserAccountApi.user_account_analytics_top_video_pins"
      end
      # verify the required parameter 'sort_by' is set
      if @api_client.config.client_side_validation && sort_by.nil?
        fail ArgumentError, "Missing the required parameter 'sort_by' when calling UserAccountApi.user_account_analytics_top_video_pins"
      end
      # verify enum value
      allowable_values = ["IMPRESSION", "SAVE", "OUTBOUND_CLICK", "VIDEO_MRC_VIEW", "VIDEO_AVG_WATCH_TIME", "VIDEO_V50_WATCH_TIME", "QUARTILE_95_PERCENT_VIEW", "VIDEO_10S_VIEW", "VIDEO_START"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_by)
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["OTHER", "CLAIMED", "BOTH"]
      if @api_client.config.client_side_validation && opts[:'from_claimed_content'] && !allowable_values.include?(opts[:'from_claimed_content'])
        fail ArgumentError, "invalid value for \"from_claimed_content\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "ORGANIC_IMAGE", "ORGANIC_PRODUCT", "ORGANIC_VIDEO", "ADS_STANDARD", "ADS_PRODUCT", "ADS_VIDEO", "ADS_IDEA"]
      if @api_client.config.client_side_validation && opts[:'pin_format'] && !allowable_values.include?(opts[:'pin_format'])
        fail ArgumentError, "invalid value for \"pin_format\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "MOBILE", "TABLET", "WEB"]
      if @api_client.config.client_side_validation && opts[:'app_types'] && !allowable_values.include?(opts[:'app_types'])
        fail ArgumentError, "invalid value for \"app_types\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "PAID", "ORGANIC"]
      if @api_client.config.client_side_validation && opts[:'content_type'] && !allowable_values.include?(opts[:'content_type'])
        fail ArgumentError, "invalid value for \"content_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "YOUR_PINS", "OTHER_PINS"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      allowable_values = ["IMPRESSION", "SAVE", "VIDEO_MRC_VIEW", "VIDEO_AVG_WATCH_TIME", "VIDEO_V50_WATCH_TIME", "QUARTILE_95_PERCENT_VIEW", "VIDEO_10S_VIEW", "VIDEO_START", "OUTBOUND_CLICK"]
      if @api_client.config.client_side_validation && opts[:'metric_types'] && !opts[:'metric_types'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"metric_types\", must include one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'num_of_pins'].nil? && opts[:'num_of_pins'] > 50
        fail ArgumentError, 'invalid value for "opts[:"num_of_pins"]" when calling UserAccountApi.user_account_analytics_top_video_pins, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'num_of_pins'].nil? && opts[:'num_of_pins'] < 1
        fail ArgumentError, 'invalid value for "opts[:"num_of_pins"]" when calling UserAccountApi.user_account_analytics_top_video_pins, must be greater than or equal to 1.'
      end

      allowable_values = [30]
      if @api_client.config.client_side_validation && opts[:'created_in_last_n_days'] && !allowable_values.include?(opts[:'created_in_last_n_days'])
        fail ArgumentError, "invalid value for \"created_in_last_n_days\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling UserAccountApi.user_account_analytics_top_video_pins, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling UserAccountApi.user_account_analytics_top_video_pins, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/user_account/analytics/top_video_pins'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'sort_by'] = sort_by
      query_params[:'from_claimed_content'] = opts[:'from_claimed_content'] if !opts[:'from_claimed_content'].nil?
      query_params[:'pin_format'] = opts[:'pin_format'] if !opts[:'pin_format'].nil?
      query_params[:'app_types'] = opts[:'app_types'] if !opts[:'app_types'].nil?
      query_params[:'content_type'] = opts[:'content_type'] if !opts[:'content_type'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'metric_types'] = @api_client.build_collection_param(opts[:'metric_types'], :csv) if !opts[:'metric_types'].nil?
      query_params[:'num_of_pins'] = opts[:'num_of_pins'] if !opts[:'num_of_pins'].nil?
      query_params[:'created_in_last_n_days'] = opts[:'created_in_last_n_days'] if !opts[:'created_in_last_n_days'].nil?
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TopVideoPinsAnalyticsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"UserAccountApi.user_account_analytics_top_video_pins",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#user_account_analytics_top_video_pins\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List following interests
    # Get a list of a user's following interests in one place.
    # @param username [String] A valid username
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [UserAccountFollowedInterests200Response]
    def user_account_followed_interests(username, opts = {})
      data, _status_code, _headers = user_account_followed_interests_with_http_info(username, opts)
      data
    end

    # List following interests
    # Get a list of a user&#39;s following interests in one place.
    # @param username [String] A valid username
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [Array<(UserAccountFollowedInterests200Response, Integer, Hash)>] UserAccountFollowedInterests200Response data, response status code and response headers
    def user_account_followed_interests_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.user_account_followed_interests ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UserAccountApi.user_account_followed_interests"
      end
      pattern = Regexp.new(/(?!^\d+$)^.+$/)
      if @api_client.config.client_side_validation && username !~ pattern
        fail ArgumentError, "invalid value for 'username' when calling UserAccountApi.user_account_followed_interests, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UserAccountApi.user_account_followed_interests, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UserAccountApi.user_account_followed_interests, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/users/{username}/interests/follow'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserAccountFollowedInterests200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"UserAccountApi.user_account_followed_interests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#user_account_followed_interests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user account
    # Get account information for the \"operation user_account\" - By default, the \"operation user_account\" is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See <a href='/docs/getting-started/using-business-access/'>Understanding Business Access</a> for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Account]
    def user_account_get(opts = {})
      data, _status_code, _headers = user_account_get_with_http_info(opts)
      data
    end

    # Get user account
    # Get account information for the \&quot;operation user_account\&quot; - By default, the \&quot;operation user_account\&quot; is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. See &lt;a href&#x3D;&#39;/docs/getting-started/using-business-access/&#39;&gt;Understanding Business Access&lt;/a&gt; for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(Account, Integer, Hash)>] Account data, response status code and response headers
    def user_account_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.user_account_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling UserAccountApi.user_account_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling UserAccountApi.user_account_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/user_account'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Account'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"UserAccountApi.user_account_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#user_account_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List following
    # Get a list of who a certain user follows.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [UserFollowingFeedType] :feed_type Thrift param specifying what type of followees will be kept. Default to include all followees. (default to 'ALL')
    # @option opts [Boolean] :explicit_following Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows. (default to false)
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [UserFollowingGet200Response]
    def user_following_get(opts = {})
      data, _status_code, _headers = user_following_get_with_http_info(opts)
      data
    end

    # List following
    # Get a list of who a certain user follows.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @option opts [UserFollowingFeedType] :feed_type Thrift param specifying what type of followees will be kept. Default to include all followees. (default to 'ALL')
    # @option opts [Boolean] :explicit_following Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows. (default to false)
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(UserFollowingGet200Response, Integer, Hash)>] UserFollowingGet200Response data, response status code and response headers
    def user_following_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.user_following_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UserAccountApi.user_following_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UserAccountApi.user_following_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling UserAccountApi.user_following_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling UserAccountApi.user_following_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/user_account/following'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'feed_type'] = opts[:'feed_type'] if !opts[:'feed_type'].nil?
      query_params[:'explicit_following'] = opts[:'explicit_following'] if !opts[:'explicit_following'].nil?
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserFollowingGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"UserAccountApi.user_following_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#user_following_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user websites
    # Get user websites, claimed or not
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [UserWebsitesGet200Response]
    def user_websites_get(opts = {})
      data, _status_code, _headers = user_websites_get_with_http_info(opts)
      data
    end

    # Get user websites
    # Get user websites, claimed or not
    # @param [Hash] opts the optional parameters
    # @option opts [String] :bookmark Cursor used to fetch the next page of items
    # @option opts [Integer] :page_size Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (default to 25)
    # @return [Array<(UserWebsitesGet200Response, Integer, Hash)>] UserWebsitesGet200Response data, response status code and response headers
    def user_websites_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.user_websites_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UserAccountApi.user_websites_get, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UserAccountApi.user_websites_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/user_account/websites'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bookmark'] = opts[:'bookmark'] if !opts[:'bookmark'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserWebsitesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"UserAccountApi.user_websites_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#user_websites_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify website
    # Verify a website as a signed-in user.
    # @param user_website_verify_request [UserWebsiteVerifyRequest] Verify a website.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [UserWebsiteSummary]
    def verify_website_update(user_website_verify_request, opts = {})
      data, _status_code, _headers = verify_website_update_with_http_info(user_website_verify_request, opts)
      data
    end

    # Verify website
    # Verify a website as a signed-in user.
    # @param user_website_verify_request [UserWebsiteVerifyRequest] Verify a website.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(UserWebsiteSummary, Integer, Hash)>] UserWebsiteSummary data, response status code and response headers
    def verify_website_update_with_http_info(user_website_verify_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.verify_website_update ...'
      end
      # verify the required parameter 'user_website_verify_request' is set
      if @api_client.config.client_side_validation && user_website_verify_request.nil?
        fail ArgumentError, "Missing the required parameter 'user_website_verify_request' when calling UserAccountApi.verify_website_update"
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling UserAccountApi.verify_website_update, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling UserAccountApi.verify_website_update, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/user_account/websites'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_website_verify_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UserWebsiteSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2']

      new_options = opts.merge(
        :operation => :"UserAccountApi.verify_website_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#verify_website_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user verification code for website claiming
    # Get verification code for user to install on the website to claim it.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [UserWebsiteVerificationCode]
    def website_verification_get(opts = {})
      data, _status_code, _headers = website_verification_get_with_http_info(opts)
      data
    end

    # Get user verification code for website claiming
    # Get verification code for user to install on the website to claim it.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Unique identifier of an ad account.
    # @return [Array<(UserWebsiteVerificationCode, Integer, Hash)>] UserWebsiteVerificationCode data, response status code and response headers
    def website_verification_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserAccountApi.website_verification_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'].to_s.length > 18
        fail ArgumentError, 'invalid value for "opts[:"ad_account_id"]" when calling UserAccountApi.website_verification_get, the character length must be smaller than or equal to 18.'
      end

      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && !opts[:'ad_account_id'].nil? && opts[:'ad_account_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"ad_account_id\"]' when calling UserAccountApi.website_verification_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/user_account/websites/verification'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ad_account_id'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserWebsiteVerificationCode'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['pinterest_oauth2', 'client_credentials']

      new_options = opts.merge(
        :operation => :"UserAccountApi.website_verification_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserAccountApi#website_verification_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
