# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.AdvancedAuction do
  @moduledoc """
  API calls for all endpoints tagged `AdvancedAuction`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Get item bid options (POST)
  Get the bid options for a batch of retail catalog items.  The catalog must be owned by the \"operation user_account\". <a href=\"/docs/api-features/shopping-overview/#Update%20items%20in%20batch\" target=\"_blank\">See detailed documentation here.</a> By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: `Owner`, `Admin`.  This endpoint is not available to all users.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `advanced_auction_items_get_request` (AdvancedAuctionItemsGetRequest): Request object used to get bid options values for a batch of retail catalog items
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.AdvancedAuctionItems.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec advanced_auction_items_get_post(Tesla.Env.client, PinterestRESTAPI.Model.AdvancedAuctionItemsGetRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.AdvancedAuctionItems.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def advanced_auction_items_get_post(connection, advanced_auction_items_get_request, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/advanced_auction/items/get")
      |> add_param(:body, :body, advanced_auction_items_get_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.AdvancedAuctionItems},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {500, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Operate on item level bid options
  This endpoint supports multiple operations on a set of one or more bid options (bid price and bid adjustments for targeting categories) for retail catalog items. These advanced auction settings are applied in campaigns using objective_type `CATALOG_SALES` and ad groups using bid_strategy_type `MAX_BID`.  The catalog must be owned by the \"operation user_account\". <a href=\"/docs/api-features/modify-items-in-batch/\" target=\"_blank\">See detailed documentation here.</a> By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: `Owner`, `Admin`.  This endpoint is not available to all users.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `advanced_auction_items_submit_request` (AdvancedAuctionItemsSubmitRequest): Request object used to upsert or delete bid options for a batch of retail catalog items
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.AdvancedAuctionProcessedItems.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec advanced_auction_items_submit_post(Tesla.Env.client, PinterestRESTAPI.Model.AdvancedAuctionItemsSubmitRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.AdvancedAuctionProcessedItems.t} | {:error, Tesla.Env.t}
  def advanced_auction_items_submit_post(connection, advanced_auction_items_submit_request, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/advanced_auction/items/submit")
      |> add_param(:body, :body, advanced_auction_items_submit_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.AdvancedAuctionProcessedItems},
      {206, PinterestRESTAPI.Model.AdvancedAuctionProcessedItems},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {500, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
