# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.AudienceSharing do
  @moduledoc """
  API calls for all endpoints tagged `AudienceSharing`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  List accounts with access to an audience owned by an ad account
  List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `audience_id` (String.t): Unique identifier of the audience to use to filter the results.
  - `account_type` (AudienceAccountType): Filter accounts by account type.
  - `opts` (keyword): Optional parameters
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.AdAccountsAudiencesSharedAccountsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ad_accounts_audiences_shared_accounts_list(Tesla.Env.client, String.t, String.t, PinterestRESTAPI.Model.AudienceAccountType.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.AdAccountsAudiencesSharedAccountsList200Response.t} | {:error, Tesla.Env.t}
  def ad_accounts_audiences_shared_accounts_list(connection, ad_account_id, audience_id, account_type, opts \\ []) do
    optional_params = %{
      :page_size => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/audiences/shared/accounts")
      |> add_param(:query, :audience_id, audience_id)
      |> add_param(:query, :account_type, account_type)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.AdAccountsAudiencesSharedAccountsList200Response},
      {400, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List accounts with access to an audience owned by a business
  List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `audience_id` (String.t): Unique identifier of the audience to use to filter the results.
  - `account_type` (AudienceAccountType): Filter accounts by account type.
  - `opts` (keyword): Optional parameters
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.AdAccountsAudiencesSharedAccountsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec business_account_audiences_shared_accounts_list(Tesla.Env.client, String.t, String.t, PinterestRESTAPI.Model.AudienceAccountType.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.AdAccountsAudiencesSharedAccountsList200Response.t} | {:error, Tesla.Env.t}
  def business_account_audiences_shared_accounts_list(connection, business_id, audience_id, account_type, opts \\ []) do
    optional_params = %{
      :page_size => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/businesses/#{business_id}/audiences/shared/accounts")
      |> add_param(:query, :audience_id, audience_id)
      |> add_param(:query, :account_type, account_type)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.AdAccountsAudiencesSharedAccountsList200Response},
      {400, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List received audiences for a business
  Get a list of received audiences for the given business.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:order` (String.t): The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.AudiencesList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec shared_audiences_for_business_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.AudiencesList200Response.t} | {:error, Tesla.Env.t}
  def shared_audiences_for_business_list(connection, business_id, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :order => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/businesses/#{business_id}/audiences")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.AudiencesList200Response},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update audience sharing between ad accounts
  From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same <a href='https://help.pinterest.com/en/business/article/create-and-manage-accounts'>Pinterest Business Hierarchy</a> as the business owner of the ad account.<br> This endpoint is not available to all apps.<a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `shared_audience` (SharedAudience): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SharedAudienceResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_ad_account_to_ad_account_shared_audience(Tesla.Env.client, String.t, PinterestRESTAPI.Model.SharedAudience.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.SharedAudienceResponse.t} | {:error, Tesla.Env.t}
  def update_ad_account_to_ad_account_shared_audience(connection, ad_account_id, shared_audience, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/ad_accounts/#{ad_account_id}/audiences/ad_accounts/shared")
      |> add_param(:body, :body, shared_audience)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SharedAudienceResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update audience sharing from an ad account to businesses
  From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.<br> This endpoint is not available to all apps.<a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `business_shared_audience` (BusinessSharedAudience): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BusinessSharedAudienceResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_ad_account_to_business_shared_audience(Tesla.Env.client, String.t, PinterestRESTAPI.Model.BusinessSharedAudience.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BusinessSharedAudienceResponse.t} | {:error, Tesla.Env.t}
  def update_ad_account_to_business_shared_audience(connection, ad_account_id, business_shared_audience, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/ad_accounts/#{ad_account_id}/audiences/businesses/shared")
      |> add_param(:body, :body, business_shared_audience)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BusinessSharedAudienceResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update audience sharing from a business to ad accounts
  From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience. <ul> <li>If the business is the owner of the audience, it can share with any ad account within the same business hierarchy.</li> <li>If the business is the recipient of the audience, it can share with any of its owned ad accounts.</li> </ul> This endpoint is not available to all apps.<a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `shared_audience` (SharedAudience): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SharedAudienceResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_business_to_ad_account_shared_audience(Tesla.Env.client, String.t, PinterestRESTAPI.Model.SharedAudience.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.SharedAudienceResponse.t} | {:error, Tesla.Env.t}
  def update_business_to_ad_account_shared_audience(connection, business_id, shared_audience, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/businesses/#{business_id}/audiences/ad_accounts/shared")
      |> add_param(:body, :body, shared_audience)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SharedAudienceResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update audience sharing between businesses
  From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.<br> This endpoint is not available to all apps.<a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `business_shared_audience` (BusinessSharedAudience): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BusinessSharedAudienceResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_business_to_business_shared_audience(Tesla.Env.client, String.t, PinterestRESTAPI.Model.BusinessSharedAudience.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BusinessSharedAudienceResponse.t} | {:error, Tesla.Env.t}
  def update_business_to_business_shared_audience(connection, business_id, business_shared_audience, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/businesses/#{business_id}/audiences/businesses/shared")
      |> add_param(:body, :body, business_shared_audience)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BusinessSharedAudienceResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
