# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Audiences do
  @moduledoc """
  API calls for all endpoints tagged `Audiences`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Create audience
  Create an audience you can use in targeting for specific ad groups. Targeting combines customer information with the ways users interact with Pinterest to help you reach specific groups of users; you can include or exclude specific `audience_ids` when you create an ad group. <p/> Learn about <a href=\"/docs/work-with-targets-and-audiences/create-audiences/\" target=\"_blank\">creating different kinds of audiences</a>.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `audience_create_request` (AudienceCreateRequest): List of ads to create, size limit [1, 30]
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Audience.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec audiences_create(Tesla.Env.client, String.t, PinterestRESTAPI.Model.AudienceCreateRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.Audience.t} | {:error, Tesla.Env.t}
  def audiences_create(connection, ad_account_id, audience_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ad_accounts/#{ad_account_id}/audiences")
      |> add_param(:body, :body, audience_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Audience},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get audience
  Get a specific audience given the audience ID.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `audience_id` (String.t): Unique identifier of an audience
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Audience.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec audiences_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.Audience.t} | {:error, Tesla.Env.t}
  def audiences_get(connection, ad_account_id, audience_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/audiences/#{audience_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Audience},
      {404, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List audiences
  Get list of audiences for the ad account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:order` (String.t): The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. For received audiences, it is sorted by sharing event time. Note that higher-value IDs are associated with more-recently added items.
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:ownership_type` (String.t): Filter audiences by ownership type.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.AudiencesList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec audiences_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.AudiencesList200Response.t} | {:error, Tesla.Env.t}
  def audiences_list(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :order => :query,
      :page_size => :query,
      :ownership_type => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/audiences")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.AudiencesList200Response},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update audience
  Update (edit or remove) an existing targeting audience.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `audience_id` (String.t): Unique identifier of an audience
  - `audience_update_request` (AudienceUpdateRequest): The audience to be updated.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Audience.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec audiences_update(Tesla.Env.client, String.t, String.t, PinterestRESTAPI.Model.AudienceUpdateRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.Audience.t} | {:error, Tesla.Env.t}
  def audiences_update(connection, ad_account_id, audience_id, audience_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/ad_accounts/#{ad_account_id}/audiences/#{audience_id}")
      |> add_param(:body, :body, audience_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Audience},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
