# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Billing do
  @moduledoc """
  API calls for all endpoints tagged `Billing`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Redeem ad credits
  Redeem ads credit on behalf of the ad account id and apply it towards billing.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `ads_credit_redeem_request` (AdsCreditRedeemRequest): Redeem ad credits request.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.AdsCreditRedeemResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ads_credit_redeem(Tesla.Env.client, String.t, PinterestRESTAPI.Model.AdsCreditRedeemRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.AdsCreditRedeemResponse.t} | {:error, Tesla.Env.t}
  def ads_credit_redeem(connection, ad_account_id, ads_credit_redeem_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ad_accounts/#{ad_account_id}/ads_credit/redeem")
      |> add_param(:body, :body, ads_credit_redeem_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.AdsCreditRedeemResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get ads credit discounts
  Returns the list of discounts applied to the account.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.AdsCreditsDiscountsGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ads_credits_discounts_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.AdsCreditsDiscountsGet200Response.t} | {:error, Tesla.Env.t}
  def ads_credits_discounts_get(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/ads_credit/discounts")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.AdsCreditsDiscountsGet200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get download url for a billing invoice
  Get download url for a billing invoice.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `billing_invoice_id` (String.t): Unique identifier of a billing invoice.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BillingInvoiceDownloadResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec billing_invoice_download_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BillingInvoiceDownloadResponse.t} | {:error, Tesla.Env.t}
  def billing_invoice_download_get(connection, ad_account_id, billing_invoice_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/billing_invoice/#{billing_invoice_id}/download")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BillingInvoiceDownloadResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get billing invoices
  Get billing invoices in the advertiser account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:sort` (String.t): Field of which to sort billing invoices
    - `:order` (String.t): The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    - `:status` (String.t): Status of billing invoices to filter by
    - `:document_type` (String.t): Document type of billing invoices to filter by
    - `:start_due_date` (Date.t): Starting point for due dates when searching for invoices. Format: YYYY-MM-DD
    - `:end_due_date` (Date.t): Ending point for due dates when searching for invoices. Format: YYYY-MM-DD

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BillingInvoicesGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec billing_invoices_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BillingInvoicesGet200Response.t} | {:error, Tesla.Env.t}
  def billing_invoices_get(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query,
      :sort => :query,
      :order => :query,
      :status => :query,
      :document_type => :query,
      :start_due_date => :query,
      :end_due_date => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/billing_invoices")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BillingInvoicesGet200Response},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get billing profiles
  Get billing profiles in the advertiser account.  <strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `is_active` (boolean()): Return active billing profiles, if false return all billing profiles.
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BillingProfilesGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec billing_profiles_get(Tesla.Env.client, String.t, boolean(), keyword()) :: {:ok, PinterestRESTAPI.Model.BillingProfilesGet200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def billing_profiles_get(connection, ad_account_id, is_active, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/billing_profiles")
      |> add_param(:query, :is_active, is_active)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BillingProfilesGet200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get Salesforce account details including bill-to information.
  Get Salesforce account details including bill-to information to be used in insertion orders process for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SsioAccountResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ssio_accounts_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.SsioAccountResponse.t} | {:error, Tesla.Env.t}
  def ssio_accounts_get(connection, ad_account_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/ssio/accounts")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SsioAccountResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Create insertion order through SSIO.
  Create insertion order through SSIO for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `ssio_create_insertion_order_request` (SsioCreateInsertionOrderRequest): Order line to create.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SsioCreateInsertionOrderResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ssio_insertion_order_create(Tesla.Env.client, String.t, PinterestRESTAPI.Model.SsioCreateInsertionOrderRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.SsioCreateInsertionOrderResponse.t} | {:error, Tesla.Env.t}
  def ssio_insertion_order_create(connection, ad_account_id, ssio_create_insertion_order_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ad_accounts/#{ad_account_id}/ssio/insertion_orders")
      |> add_param(:body, :body, ssio_create_insertion_order_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SsioCreateInsertionOrderResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Edit insertion order through SSIO.
  Edit insertion order through SSIO for <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `ssio_edit_insertion_order_request` (SsioEditInsertionOrderRequest): Order line to create.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SsioEditInsertionOrderResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ssio_insertion_order_edit(Tesla.Env.client, String.t, PinterestRESTAPI.Model.SsioEditInsertionOrderRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.SsioEditInsertionOrderResponse.t} | {:error, Tesla.Env.t}
  def ssio_insertion_order_edit(connection, ad_account_id, ssio_edit_insertion_order_request, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/ad_accounts/#{ad_account_id}/ssio/insertion_orders")
      |> add_param(:body, :body, ssio_edit_insertion_order_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SsioEditInsertionOrderResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get insertion order status by ad account id.
  Get insertion order status for account id <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SsioInsertionOrdersStatusGetByAdAccount200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ssio_insertion_orders_status_get_by_ad_account(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.SsioInsertionOrdersStatusGetByAdAccount200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def ssio_insertion_orders_status_get_by_ad_account(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/ssio/insertion_orders/status")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SsioInsertionOrdersStatusGetByAdAccount200Response},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get insertion order status by pin order id.
  Get insertion order status for pin order id <code>pin_order_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `pin_order_id` (String.t): The pin order id associated with the ssio insertion order
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SsioInsertionOrderStatusResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ssio_insertion_orders_status_get_by_pin_order_id(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.SsioInsertionOrderStatusResponse.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def ssio_insertion_orders_status_get_by_pin_order_id(connection, ad_account_id, pin_order_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/ssio/insertion_orders/#{pin_order_id}/status")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SsioInsertionOrderStatusResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get Salesforce order lines by ad account id.
  Get Salesforce order lines for account id <code>ad_account_id</code>. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Finance, Campaign.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:pin_order_id` (String.t): The pin order id associated with the ssio insertino order

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SsioOrderLinesGetByAdAccount200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ssio_order_lines_get_by_ad_account(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.SsioOrderLinesGetByAdAccount200Response.t} | {:error, Tesla.Env.t}
  def ssio_order_lines_get_by_ad_account(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query,
      :pin_order_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/ssio/order_lines")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SsioOrderLinesGetByAdAccount200Response},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
