# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Boards do
  @moduledoc """
  API calls for all endpoints tagged `Boards`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Create board section
  Create a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `board_id` (String.t): Unique identifier of a board.
  - `board_section` (BoardSection): Create a board section.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BoardSection.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec board_sections_create(Tesla.Env.client, String.t, PinterestRESTAPI.Model.BoardSection.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BoardSection.t} | {:error, Tesla.Env.t}
  def board_sections_create(connection, board_id, board_section, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/boards/#{board_id}/sections")
      |> add_param(:body, :body, board_section)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, PinterestRESTAPI.Model.BoardSection},
      {400, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {500, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Delete board section
  Delete a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `board_id` (String.t): Unique identifier of a board.
  - `section_id` (String.t): Unique identifier of a board section.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec board_sections_delete(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def board_sections_delete(connection, board_id, section_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:delete)
      |> url("/boards/#{board_id}/sections/#{section_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {403, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List board sections
  Get a list of all board sections from a board owned by the \"operation user_account\" - or a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `board_id` (String.t): Unique identifier of a board.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BoardSectionsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec board_sections_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BoardSectionsList200Response.t} | {:error, Tesla.Env.t}
  def board_sections_list(connection, board_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/boards/#{board_id}/sections")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BoardSectionsList200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List Pins on board section
  Get a list of the Pins on a board section of a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `board_id` (String.t): Unique identifier of a board.
  - `section_id` (String.t): Unique identifier of a board section.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BoardsListPins200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec board_sections_list_pins(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BoardsListPins200Response.t} | {:error, Tesla.Env.t}
  def board_sections_list_pins(connection, board_id, section_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/boards/#{board_id}/sections/#{section_id}/pins")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BoardsListPins200Response},
      {403, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update board section
  Update a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `board_id` (String.t): Unique identifier of a board.
  - `section_id` (String.t): Unique identifier of a board section.
  - `board_section` (BoardSection): Update a board section.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BoardSection.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec board_sections_update(Tesla.Env.client, String.t, String.t, PinterestRESTAPI.Model.BoardSection.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BoardSection.t} | {:error, Tesla.Env.t}
  def board_sections_update(connection, board_id, section_id, board_section, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:patch)
      |> url("/boards/#{board_id}/sections/#{section_id}")
      |> add_param(:body, :body, board_section)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BoardSection},
      {400, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Create board
  Create a board owned by the \"operation user_account\". Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `board_create` (BoardCreate): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Board.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec boards_create(Tesla.Env.client, PinterestRESTAPI.Model.BoardCreate.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Board.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def boards_create(connection, board_create, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/boards")
      |> add_param(:body, :body, board_create)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Board},
      {201, PinterestRESTAPI.Model.Board},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Delete board
  Delete a board owned by the \"operation user_account\". * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `board_id` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec boards_delete(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def boards_delete(connection, board_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:delete)
      |> url("/boards/#{board_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get board
  Get a board owned by the operation user_account - or a group board that has been shared with this account. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `board_id` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Board.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec boards_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Board.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def boards_get(connection, board_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/boards/#{board_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Board},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  List boards
  Get a list of the boards owned by the \"operation user_account\" + group boards where this account is a collaborator Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". Optional: Specify a privacy type (public, protected, or secret) to indicate which boards to return. * If no privacy is specified, all boards that can be returned (based on the scopes of the token and ad_account role if applicable) will be returned.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:privacy` (BoardPrivacyFilter): The privacy level of the board
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BoardsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec boards_list(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.BoardsList200Response.t} | {:error, Tesla.Env.t}
  def boards_list(connection, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :privacy => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/boards")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BoardsList200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  List Pins on board
  Get a list of the Pins on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account. - Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `board_id` (String.t): Unique identifier of a board.
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:creative_types` ([PinterestRESTAPI.Model.CreativeType.t]): Pin creative types filter. **Note:** SHOP_THE_PIN has been deprecated. Please use COLLECTION instead.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:pin_metrics` (boolean()): Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BoardsListPins200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec boards_list_pins(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BoardsListPins200Response.t} | {:error, Tesla.Env.t}
  def boards_list_pins(connection, board_id, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query,
      :creative_types => :query,
      :ad_account_id => :query,
      :pin_metrics => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/boards/#{board_id}/pins")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BoardsListPins200Response},
      {404, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update board
  Update a board owned by the \"operating user_account\". * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". * By default, the \"operation user_account\" is the token user_account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `board_id` (String.t): 
  - `board_with_update_privacy_update` (BoardWithUpdatePrivacyUpdate): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BoardWithUpdatePrivacy.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec boards_update(Tesla.Env.client, String.t, PinterestRESTAPI.Model.BoardWithUpdatePrivacyUpdate.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.BoardWithUpdatePrivacy.t} | {:error, Tesla.Env.t}
  def boards_update(connection, board_id, board_with_update_privacy_update, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:patch)
      |> url("/boards/#{board_id}")
      |> add_param(:body, :body, board_with_update_privacy_update)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BoardWithUpdatePrivacy},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end
end
