# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.BusinessAccessRelationships do
  @moduledoc """
  API calls for all endpoints tagged `BusinessAccessRelationships`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Create a Brand Account
  Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_hierarchy_id` (String.t): business hierarchy node id
  - `brand_accounts_create_request` (BrandAccountsCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BrandAccountsCreate200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec brand_accounts_create(Tesla.Env.client, String.t, PinterestRESTAPI.Model.BrandAccountsCreateRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BrandAccountsCreate200Response.t} | {:error, Tesla.Env.t}
  def brand_accounts_create(connection, business_hierarchy_id, brand_accounts_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/business_access/business_hierarchy/#{business_hierarchy_id}/brand_accounts")
      |> add_param(:body, :body, brand_accounts_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BrandAccountsCreate200Response},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update a Brand Account
  Update an existing Brand Account

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_hierarchy_id` (String.t): business hierarchy node id
  - `brand_account_id` (String.t): Unique identifier of a brand account.
  - `brand_accounts_update_request` (BrandAccountsUpdateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BrandAccountsCreate200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec brand_accounts_update(Tesla.Env.client, String.t, String.t, PinterestRESTAPI.Model.BrandAccountsUpdateRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BrandAccountsCreate200Response.t} | {:error, Tesla.Env.t}
  def brand_accounts_update(connection, business_hierarchy_id, brand_account_id, brand_accounts_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/business_access/business_hierarchy/#{business_hierarchy_id}/brand_accounts/#{brand_account_id}")
      |> add_param(:body, :body, brand_accounts_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BrandAccountsCreate200Response},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {429, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Terminate business memberships
  Terminate memberships between the specified members and your business.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Business id
  - `members_to_delete_body` (MembersToDeleteBody): List of members with role to delete.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.DeletedMembersResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_business_membership(Tesla.Env.client, String.t, PinterestRESTAPI.Model.MembersToDeleteBody.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.DeletedMembersResponse.t} | {:error, Tesla.Env.t}
  def delete_business_membership(connection, business_id, members_to_delete_body, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/businesses/#{business_id}/members")
      |> add_param(:body, :body, members_to_delete_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.DeletedMembersResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Terminate business partnerships
  Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `delete_partners_request` (DeletePartnersRequest): An object containing a \"partner_ids\" property composed of a list of partner IDs and a \"partners_type\" property specifying the type of partners to delete. 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.DeletePartnersResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_business_partners(Tesla.Env.client, String.t, PinterestRESTAPI.Model.DeletePartnersRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.DeletePartnersResponse.t} | {:error, Tesla.Env.t}
  def delete_business_partners(connection, business_id, delete_partners_request, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/businesses/#{business_id}/partners")
      |> add_param(:body, :body, delete_partners_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.DeletePartnersResponse},
      {404, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List business employers for user
  Get all of the viewing user's business employers.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.GetBusinessEmployers200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_business_employers(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.GetBusinessEmployers200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def get_business_employers(connection, opts \\ []) do
    optional_params = %{
      :page_size => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/businesses/employers")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.GetBusinessEmployers200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get business members
  Get all members of the specified business. The return response will include the member's business_role and assets they have access to if assets_summary=TRUE

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `opts` (keyword): Optional parameters
    - `:fetch_system_users` (boolean()): Fetches system users if True. Fetches regular user employees if False.
    - `:assets_summary` (boolean()): Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are
    - `:business_roles` ([PinterestRESTAPI.Model.MemberBusinessRole.t]): A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned.
    - `:member_ids` (String.t): A list of business members ids separated by comma.
    - `:start_index` (integer()): An index to start fetching the results from. Only the results starting from this index will be returned.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.GetBusinessMembers200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_business_members(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.GetBusinessMembers200Response.t} | {:error, Tesla.Env.t}
  def get_business_members(connection, business_id, opts \\ []) do
    optional_params = %{
      :fetch_system_users => :query,
      :assets_summary => :query,
      :business_roles => :query,
      :member_ids => :query,
      :start_index => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/businesses/#{business_id}/members")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.GetBusinessMembers200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get business partners
  Get all partners of the specified business.  If the assets_summary=TRUE and: - partner_type=INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type=EXTERNAL, the business assets returned are your partner's business assets the partner has granted you   access to.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `opts` (keyword): Optional parameters
    - `:assets_summary` (boolean()): Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are
    - `:partner_type` (PartnerType): Specifies whether to fetch internal or external (shared) partners. If partner_type=INTERNAL, the asset being queried is for accesses the partner has to your business assets.<br> If partner_type=EXTERNAL, the asset being queried is for the accesses you have to the partner's business asset.
    - `:partner_ids` (String.t): A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned.
    - `:start_index` (integer()): An index to start fetching the results from. Only the results starting from this index will be returned.
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.GetBusinessPartners200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_business_partners(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.GetBusinessPartners200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def get_business_partners(connection, business_id, opts \\ []) do
    optional_params = %{
      :assets_summary => :query,
      :partner_type => :query,
      :partner_ids => :query,
      :start_index => :query,
      :page_size => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/businesses/#{business_id}/partners")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.GetBusinessPartners200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update a system user information.
  Update a system user information such as name.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `system_user_id` (String.t): Unique identifier of a system user.
  - `system_user_update_request` (SystemUserUpdateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec system_user_update(Tesla.Env.client, String.t, String.t, PinterestRESTAPI.Model.SystemUserUpdateRequest.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def system_user_update(connection, business_id, system_user_id, system_user_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/businesses/#{business_id}/system_users/#{system_user_id}")
      |> add_param(:body, :body, system_user_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update member's business role
  Update a member's business role within the business.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Business id
  - `update_member_business_role_body` ([PinterestRESTAPI.Model.UpdateMemberBusinessRoleBody.t]): List of objects with the member id and the business_role.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.UpdateMemberResultsResponseArray.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_business_memberships(Tesla.Env.client, String.t, list(PinterestRESTAPI.Model.UpdateMemberBusinessRoleBody.t), keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.UpdateMemberResultsResponseArray.t} | {:error, Tesla.Env.t}
  def update_business_memberships(connection, business_id, update_member_business_role_body, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/businesses/#{business_id}/members")
      |> add_param(:body, :body, update_member_business_role_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.UpdateMemberResultsResponseArray},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
