# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.BusinessAccessAssets do
  @moduledoc """
  API calls for all endpoints tagged `BusinessAccessAssets`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Create a new asset group.
  Create a new asset group with the specified parameters. - An <a href=\"https://help.pinterest.com/en/business/article/asset-groups\">asset group</a> is a custom group of assets based on how you’d like to manage your accounts.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `create_asset_group_body` (CreateAssetGroupBody): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CreateAssetGroupResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_group_create(Tesla.Env.client, String.t, PinterestRESTAPI.Model.CreateAssetGroupBody.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CreateAssetGroupResponse.t} | {:error, Tesla.Env.t}
  def asset_group_create(connection, business_id, create_asset_group_body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/businesses/#{business_id}/asset_groups")
      |> add_param(:body, :body, create_asset_group_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CreateAssetGroupResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Delete asset groups.
  Delete a batch of asset groups.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `delete_asset_group_body` (DeleteAssetGroupBody): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.DeleteAssetGroupResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_group_delete(Tesla.Env.client, String.t, PinterestRESTAPI.Model.DeleteAssetGroupBody.t, keyword()) :: {:ok, PinterestRESTAPI.Model.DeleteAssetGroupResponse.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def asset_group_delete(connection, business_id, delete_asset_group_body, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/businesses/#{business_id}/asset_groups")
      |> add_param(:body, :body, delete_asset_group_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.DeleteAssetGroupResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update asset groups.
  Update a batch of asset groups with the specified parameters.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `update_asset_group_body` (UpdateAssetGroupBody): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.UpdateAssetGroupResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_group_update(Tesla.Env.client, String.t, PinterestRESTAPI.Model.UpdateAssetGroupBody.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.UpdateAssetGroupResponse.t} | {:error, Tesla.Env.t}
  def asset_group_update(connection, business_id, update_asset_group_body, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/businesses/#{business_id}/asset_groups")
      |> add_param(:body, :body, update_asset_group_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.UpdateAssetGroupResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get members with access to asset
  Get all the members the requesting business has granted access to on the given asset.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `asset_id` (String.t): Unique identifier of a business asset.
  - `opts` (keyword): Optional parameters
    - `:fetch_system_users` (boolean()): Fetches system users if True. Fetches regular user employees if False.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:start_index` (integer()): An index to start fetching the results from. Only the results starting from this index will be returned.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BusinessAssetMembersGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec business_asset_members_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.BusinessAssetMembersGet200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def business_asset_members_get(connection, business_id, asset_id, opts \\ []) do
    optional_params = %{
      :fetch_system_users => :query,
      :bookmark => :query,
      :page_size => :query,
      :start_index => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/businesses/#{business_id}/assets/#{asset_id}/members")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BusinessAssetMembersGet200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get partners with access to asset
  Get all the partners the requesting business has granted access to on the given asset. Note: If the asset has been shared with you, an empty array will be returned. This is because an asset shared with you cannot be shared with a different partner.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `asset_id` (String.t): Unique identifier of a business asset.
  - `opts` (keyword): Optional parameters
    - `:start_index` (integer()): An index to start fetching the results from. Only the results starting from this index will be returned.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BusinessAssetPartnersGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec business_asset_partners_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BusinessAssetPartnersGet200Response.t} | {:error, Tesla.Env.t}
  def business_asset_partners_get(connection, business_id, asset_id, opts \\ []) do
    optional_params = %{
      :start_index => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/businesses/#{business_id}/assets/#{asset_id}/partners")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BusinessAssetPartnersGet200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List business assets
  Get all the assets the requesting business has access to. This includes assets the business owns and assets the business has access to through partnerships.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `opts` (keyword): Optional parameters
    - `:permissions` ([PinterestRESTAPI.Model.PermissionsWithOwner.t]): A list of asset permissions used to filter the assets. Only assets where the requesting business has at least one of the specified permissions will be returned.
    - `:child_asset_id` (String.t): A child asset unique identifier. Used to fetch asset groups that contain the asset id as a child.
    - `:asset_group_id` (String.t): An asset group unique identifier. Used to fetch assets contained within the specified asset group.
    - `:asset_type` (String.t): A resource type to filter the assets by. Only assets of the specified type will be returned.
    - `:start_index` (integer()): An index to start fetching the results from. Only the results starting from this index will be returned.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BusinessAssetsGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec business_assets_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.BusinessAssetsGet200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def business_assets_get(connection, business_id, opts \\ []) do
    optional_params = %{
      :permissions => :query,
      :child_asset_id => :query,
      :asset_group_id => :query,
      :asset_type => :query,
      :start_index => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/businesses/#{business_id}/assets")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BusinessAssetsGet200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get assets assigned to a member
  Get assets on which you assigned asset permissions to the given member. Can be used to: - get all assets, regardless of asset type or - get assets of one asset type by using the asset_type query. The return response will include the permissions the member has to that asset and the asset type.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `member_id` (String.t): The member id to fetch assets for.
  - `opts` (keyword): Optional parameters
    - `:asset_type` (String.t): A resource type to filter the assets by. Only assets of the specified type will be returned.
    - `:start_index` (integer()): An index to start fetching the results from. Only the results starting from this index will be returned.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BusinessMemberAssetsGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec business_member_assets_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.BusinessMemberAssetsGet200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def business_member_assets_get(connection, business_id, member_id, opts \\ []) do
    optional_params = %{
      :asset_type => :query,
      :start_index => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/businesses/#{business_id}/members/#{member_id}/assets")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BusinessMemberAssetsGet200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Delete member access to asset
  Terminate multiple members' access to an asset.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `business_members_asset_access_delete_request` (BusinessMembersAssetAccessDeleteRequest): List member assset permissions to delete.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.DeleteMemberAccessResultsResponseArray.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec business_members_asset_access_delete(Tesla.Env.client, String.t, PinterestRESTAPI.Model.BusinessMembersAssetAccessDeleteRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.DeleteMemberAccessResultsResponseArray.t} | {:error, Tesla.Env.t}
  def business_members_asset_access_delete(connection, business_id, business_members_asset_access_delete_request, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/businesses/#{business_id}/members/assets/access")
      |> add_param(:body, :body, business_members_asset_access_delete_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.DeleteMemberAccessResultsResponseArray},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Assign/Update member asset permissions
  Grant multiple members access to assets and/or update multiple member's exisiting permissions to an asset. Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE. 

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `update_member_asset_access_body` (UpdateMemberAssetAccessBody): List of member asset permissions to create or update.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.UpdateMemberAssetsResultsResponseArray.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec business_members_asset_access_update(Tesla.Env.client, String.t, PinterestRESTAPI.Model.UpdateMemberAssetAccessBody.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.UpdateMemberAssetsResultsResponseArray.t} | {:error, Tesla.Env.t}
  def business_members_asset_access_update(connection, business_id, update_member_asset_access_body, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/businesses/#{business_id}/members/assets/access")
      |> add_param(:body, :body, update_member_asset_access_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.UpdateMemberAssetsResultsResponseArray},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get assets assigned to a partner or assets assigned by a partner
  Can be used to get the business assets your partner has granted you access to or the business assets you have granted your partner access to. If you specify: - partner_type=INTERNAL, you will retrieve your business assets that the partner has access to. - partner_type=EXTERNAL, you will retrieve the partner's business assets that the partner has granted you access to.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `partner_id` (String.t): The partner id to be bound to the Business
  - `opts` (keyword): Optional parameters
    - `:partner_type` (PinterestRESTAPI.Model.PartnerType.t): Specifies whether to fetch internal or external (shared) partners. If partner_type=INTERNAL, the asset being queried is for accesses the partner has to your business assets.<br> If partner_type=EXTERNAL, the asset being queried is for the accesses you have to the partner's business asset.
    - `:asset_type` (String.t): A resource type to filter the assets by. Only assets of the specified type will be returned.
    - `:start_index` (integer()): An index to start fetching the results from. Only the results starting from this index will be returned.
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BusinessPartnerAssetAccessGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec business_partner_asset_access_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.BusinessPartnerAssetAccessGet200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def business_partner_asset_access_get(connection, business_id, partner_id, opts \\ []) do
    optional_params = %{
      :partner_type => :query,
      :asset_type => :query,
      :start_index => :query,
      :page_size => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/businesses/#{business_id}/partners/#{partner_id}/assets")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BusinessPartnerAssetAccessGet200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Delete partner access to asset
  Terminate multiple partners' access to an asset. If - partner_type=INTERNAL: You will terminate a partner's asset access to your business assets. - partner_type=EXTERNAL: You will terminate your own access to your partner's business assets.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `delete_partner_asset_access_body` (DeletePartnerAssetAccessBody): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.DeletePartnerAssetsResultsResponseArray.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_partner_asset_access_handler_impl(Tesla.Env.client, String.t, PinterestRESTAPI.Model.DeletePartnerAssetAccessBody.t, keyword()) :: {:ok, PinterestRESTAPI.Model.DeletePartnerAssetsResultsResponseArray.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def delete_partner_asset_access_handler_impl(connection, business_id, delete_partner_asset_access_body, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/businesses/#{business_id}/partners/assets")
      |> add_param(:body, :body, delete_partner_asset_access_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.DeletePartnerAssetsResultsResponseArray},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Assign/Update partner asset permissions
  Grant multiple partners access to assets and/or update multiple partner's exisiting permissions to an asset. If your partner already had permissions on the asset, they will be overriden with the new permissions you assign to them. To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview  Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `business_id` (String.t): Unique identifier of the requesting business.
  - `update_partner_asset_access_body` (UpdatePartnerAssetAccessBody): A list of assets and permissions to assign to your partners.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.UpdatePartnerAssetsResultsResponseArray.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_partner_asset_access_handler_impl(Tesla.Env.client, String.t, PinterestRESTAPI.Model.UpdatePartnerAssetAccessBody.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.UpdatePartnerAssetsResultsResponseArray.t} | {:error, Tesla.Env.t}
  def update_partner_asset_access_handler_impl(connection, business_id, update_partner_asset_access_body, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/businesses/#{business_id}/partners/assets")
      |> add_param(:body, :body, update_partner_asset_access_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.UpdatePartnerAssetsResultsResponseArray},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
