# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.CatalogProductGroups do
  @moduledoc """
  API calls for all endpoints tagged `CatalogProductGroups`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  List products by product group
  Get a list of product pins for a given Catalogs Product Group Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `product_group_id` (String.t): Unique identifier of a product group
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:pin_metrics` (boolean()): Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsProductGroupPinsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_product_group_pins_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CatalogsProductGroupPinsList200Response.t} | {:error, Tesla.Env.t}
  def catalogs_product_group_pins_list(connection, product_group_id, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query,
      :ad_account_id => :query,
      :pin_metrics => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/product_groups/#{product_group_id}/products")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsProductGroupPinsList200Response},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Create product group
  Create product group to use in Catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager. \"Catalog-based product groups\" can include items from all data sources (feeds and API) and are available to both non-retail catalogs with any data sources and retail catalogs with API-created items. If your catalog only contains retail items created via feeds, you should use the \"retail feed-based\" option. <a href='/docs/api-features/shopping-overview/'>Learn more</a>  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `multiple_product_groups_inner` (MultipleProductGroupsInner): Request object used to create a single catalogs product groups.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsVerticalProductGroup.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_product_groups_create(Tesla.Env.client, PinterestRESTAPI.Model.MultipleProductGroupsInner.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CatalogsVerticalProductGroup.t} | {:error, Tesla.Env.t}
  def catalogs_product_groups_create(connection, multiple_product_groups_inner, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/catalogs/product_groups")
      |> add_param(:body, :body, multiple_product_groups_inner)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, PinterestRESTAPI.Model.CatalogsVerticalProductGroup},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Create product groups
  Create product group to use in Catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `multiple_product_groups_inner` ([PinterestRESTAPI.Model.MultipleProductGroupsInner.t]): Request object used to create one or more catalogs product groups.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, [%String.t{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_product_groups_create_many(Tesla.Env.client, list(PinterestRESTAPI.Model.MultipleProductGroupsInner.t), keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, [String.t]} | {:error, Tesla.Env.t}
  def catalogs_product_groups_create_many(connection, multiple_product_groups_inner, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/catalogs/product_groups/multiple")
      |> add_param(:body, :body, multiple_product_groups_inner)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, []},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Delete product group
  Delete a product group owned by the \"operation user_account\" from being in use in Catalogs. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `product_group_id` (String.t): Unique identifier of a product group
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_product_groups_delete(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def catalogs_product_groups_delete(connection, product_group_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:delete)
      |> url("/catalogs/product_groups/#{product_group_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Delete product groups
  Delete product groups owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `id` ([integer()]): Comma-separated list of product group ids
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_product_groups_delete_many(Tesla.Env.client, list(integer()), keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def catalogs_product_groups_delete_many(connection, id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:delete)
      |> url("/catalogs/product_groups/multiple")
      |> add_param(:query, :id, id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get product group
  Get a singe product group for a given Catalogs Product Group Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `product_group_id` (String.t): Unique identifier of a product group
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsVerticalProductGroup.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_product_groups_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CatalogsVerticalProductGroup.t} | {:error, Tesla.Env.t}
  def catalogs_product_groups_get(connection, product_group_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/product_groups/#{product_group_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsVerticalProductGroup},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List product groups
  Get a list of product groups for a given Catalogs Feed Id owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:id` ([integer()]): Comma-separated list of product group ids
    - `:feed_id` (String.t): Filter entities for a given feed_id. If not given, all feeds are considered.
    - `:catalog_id` (String.t): Filter entities for a given catalog_id. If not given, all catalogs are considered.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsProductGroupsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_product_groups_list(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CatalogsProductGroupsList200Response.t} | {:error, Tesla.Env.t}
  def catalogs_product_groups_list(connection, opts \\ []) do
    optional_params = %{
      :id => :query,
      :feed_id => :query,
      :catalog_id => :query,
      :bookmark => :query,
      :page_size => :query,
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/product_groups")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsProductGroupsList200Response},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get product counts
  Get a product counts for a given Catalogs Product Group owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `product_group_id` (String.t): Unique identifier of a product group
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsProductGroupProductCountsVertical.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_product_groups_product_counts_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CatalogsProductGroupProductCountsVertical.t} | {:error, Tesla.Env.t}
  def catalogs_product_groups_product_counts_get(connection, product_group_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/product_groups/#{product_group_id}/product_counts")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsProductGroupProductCountsVertical},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update single product group
  Update product group owned by the \"operation user_account\" to use in Catalogs. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager. \"Catalog-based product groups\" can include items from all data sources (feeds and API) and are available to both non-retail catalogs with any data sources and retail catalogs with API-created items. If your catalog only contains retail items created via feeds, you should use the \"retail feed-based\" option. <a href='/docs/api-features/shopping-overview/'>Learn more</a>  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `product_group_id` (String.t): Unique identifier of a product group
  - `catalogs_product_groups_update_request` (CatalogsProductGroupsUpdateRequest): Request object used to Update a catalogs product group.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsVerticalProductGroup.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_product_groups_update(Tesla.Env.client, String.t, PinterestRESTAPI.Model.CatalogsProductGroupsUpdateRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CatalogsVerticalProductGroup.t} | {:error, Tesla.Env.t}
  def catalogs_product_groups_update(connection, product_group_id, catalogs_product_groups_update_request, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:patch)
      |> url("/catalogs/product_groups/#{product_group_id}")
      |> add_param(:body, :body, catalogs_product_groups_update_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsVerticalProductGroup},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List products by filter
  List products Pins owned by the \"operation user_account\" that meet the criteria specified in the Catalogs Product Group Filter given in the request. - This endpoint has been implemented in POST to allow for complex filters. This specific POST endpoint is designed to be idempotent. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: This endpoint only supports RETAIL catalog at the moment.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `catalogs_list_products_by_filter_request` (CatalogsListProductsByFilterRequest): Object holding a group of filters for a catalog product group
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:pin_metrics` (boolean()): Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsProductGroupPinsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec products_by_product_group_filter_list(Tesla.Env.client, PinterestRESTAPI.Model.CatalogsListProductsByFilterRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CatalogsProductGroupPinsList200Response.t} | {:error, Tesla.Env.t}
  def products_by_product_group_filter_list(connection, catalogs_list_products_by_filter_request, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query,
      :ad_account_id => :query,
      :pin_metrics => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/catalogs/products/get_by_product_group_filters")
      |> add_param(:body, :body, catalogs_list_products_by_filter_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsProductGroupPinsList200Response},
      {401, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
