# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.CatalogFeeds do
  @moduledoc """
  API calls for all endpoints tagged `CatalogFeeds`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  List feed processing results
  Fetch a feed processing results owned by the \"operation user_account\". Please note that for now the bookmark parameter is not functional and only the first page will be available until it is implemented in some release in the near future. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `feed_id` (String.t): Unique identifier of a feed.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.FeedProcessingResultsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec feed_processing_results_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.FeedProcessingResultsList200Response.t} | {:error, Tesla.Env.t}
  def feed_processing_results_list(connection, feed_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/feeds/#{feed_id}/processing_results")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.FeedProcessingResultsList200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Create feed
  Create a new feed owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Please, be aware that \"default_country\" and \"default_locale\" are not required in the spec for forward compatibility but for now the API will not accept requests without those fields.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to [Before you get started with Catalogs](https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs). For Hotel partners, refer to [Pinterest API for shopping](/docs/api-features/shopping-overview/).  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `catalogs_feed_create_request_schema` (CatalogsFeedCreateRequestSchema): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsFeed.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec feeds_create(Tesla.Env.client, PinterestRESTAPI.Model.CatalogsFeedCreateRequestSchema.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.CatalogsFeed.t} | {:error, Tesla.Env.t}
  def feeds_create(connection, catalogs_feed_create_request_schema, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/catalogs/feeds")
      |> add_param(:body, :body, catalogs_feed_create_request_schema)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsFeed},
      {201, PinterestRESTAPI.Model.CatalogsFeed},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Delete feed
  Delete a feed owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to [Before you get started with Catalogs](https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs). For Hotel partners, refer to [Pinterest API for shopping](/docs/api-features/shopping-overview/).

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `feed_id` (String.t): Unique identifier of a feed.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsFeed.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec feeds_delete(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.CatalogsFeed.t} | {:error, Tesla.Env.t}
  def feeds_delete(connection, feed_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:delete)
      |> url("/catalogs/feeds/#{feed_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsFeed},
      {204, false},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get feed
  Get a single feed owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to [Before you get started with Catalogs](https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs). For Hotel partners, refer to [Pinterest API for shopping](/docs/api-features/shopping-overview/).

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `feed_id` (String.t): Unique identifier of a feed.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsFeed.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec feeds_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.CatalogsFeed.t} | {:error, Tesla.Env.t}
  def feeds_get(connection, feed_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/feeds/#{feed_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsFeed},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Ingest feed items
  Ingest items for a given feed owned by the \"operation user_account\".  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)  Note: This endpoint is restricted to a specific group of users. If you require access, please reach out to your partner manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `feed_id` (String.t): Unique identifier of a feed.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsFeedIngestion.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec feeds_ingest(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.CatalogsFeedIngestion.t} | {:error, Tesla.Env.t}
  def feeds_ingest(connection, feed_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/catalogs/feeds/#{feed_id}/ingest")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsFeedIngestion},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  List feeds
  Fetch feeds owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to [Before you get started with Catalogs](https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs). For Hotel partners, refer to [Pinterest API for shopping](/docs/api-features/shopping-overview/).

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:catalog_id` (String.t): Filter entities for a given catalog_id. If not given, all catalogs are considered.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.FeedsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec feeds_list(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.FeedsList200Response.t} | {:error, Tesla.Env.t}
  def feeds_list(connection, opts \\ []) do
    optional_params = %{
      :catalog_id => :query,
      :ad_account_id => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/feeds")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.FeedsList200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Update feed
  Update a feed owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to [Before you get started with Catalogs](https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs). For Hotel partners, refer to [Pinterest API for shopping](/docs/api-features/shopping-overview/).  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `feed_id` (String.t): Unique identifier of a feed.
  - `catalogs_feed_update_request_schema` (CatalogsFeedUpdateRequestSchema): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsFeed.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec feeds_update(Tesla.Env.client, String.t, PinterestRESTAPI.Model.CatalogsFeedUpdateRequestSchema.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.CatalogsFeed.t} | {:error, Tesla.Env.t}
  def feeds_update(connection, feed_id, catalogs_feed_update_request_schema, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:patch)
      |> url("/catalogs/feeds/#{feed_id}")
      |> add_param(:body, :body, catalogs_feed_update_request_schema)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsFeed},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  List item issues
  List item validation issues for a given feed processing result owned by the \"operation user_account\". Up to 20 random samples of affected items are returned for each error and warning code. Please note that for now query parameters 'item_numbers' and 'item_validation_issue' cannot be used simultaneously until it is implemented in some release in the future. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: To get a list of all affected items instead of sampled issues, please refer to [Build catalogs report](/docs/api/v5/#operation/reports/create) and [Get catalogs report](/docs/api/v5/#operation/reports/get) endpoints. Moreover, they support multiple types of catalogs.  [Learn more](/docs/api-features/shopping-overview/)

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `processing_result_id` (String.t): Unique identifier of a feed processing result. It can be acquired from the \"id\" field of the \"items\" array within the response of the [List processing results for a given feed](/docs/api/v5/#operation/feed_processing_results/list).
  - `opts` (keyword): Optional parameters
    - `:item_numbers` ([integer()]): Item number based on order of appearance in the Catalogs Feed. For example, '0' refers to first item found in a feed that was downloaded from a 'location' specified during feed creation.
    - `:item_validation_issue` (CatalogsItemValidationIssue): Filter item validation issues that have a given type of item validation issue.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ItemsIssuesList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec items_issues_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.ItemsIssuesList200Response.t} | {:error, Tesla.Env.t}
  def items_issues_list(connection, processing_result_id, opts \\ []) do
    optional_params = %{
      :item_numbers => :query,
      :item_validation_issue => :query,
      :ad_account_id => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/processing_results/#{processing_result_id}/item_issues")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ItemsIssuesList200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end
end
