# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Catalogs do
  @moduledoc """
  API calls for all endpoints tagged `Catalogs`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  List available filter values
  Get the available filter attributes and values associated with a given feed or catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account. - `country`, `language`, and `feed_id` are only used in retail catalogs. - Note: It is not guaranteed that all available filter values will be returned. Instead this endpoint will return values from a sample of up to 1000 items.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `catalog_id` (String.t): Filter entities for a given catalog_id.
  - `opts` (keyword): Optional parameters
    - `:feed_id` (String.t): Filter entities for a given feed_id. If not given, all feeds are considered.
    - `:country` (Country): Country for the Catalogs Items
    - `:language` (CatalogsLocale): Language for the Catalogs Items
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsAvailableFilterValues.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_available_filter_values(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.CatalogsAvailableFilterValues.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def catalogs_available_filter_values(connection, catalog_id, opts \\ []) do
    optional_params = %{
      :feed_id => :query,
      :country => :query,
      :language => :query,
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/available_filter_values")
      |> add_param(:query, :catalog_id, catalog_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsAvailableFilterValues},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Create catalog
  Create a new catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)  Note: Access to the Product and Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `catalog_create` (CatalogCreate): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Catalog.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_create(Tesla.Env.client, PinterestRESTAPI.Model.CatalogCreate.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.Catalog.t} | {:error, Tesla.Env.t}
  def catalogs_create(connection, catalog_create, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/catalogs")
      |> add_param(:body, :body, catalog_create)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Catalog},
      {201, PinterestRESTAPI.Model.Catalog},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  List catalogs
  Fetch catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_list(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.CatalogsList200Response.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def catalogs_list(connection, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsList200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end
end
