# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.CatalogItems do
  @moduledoc """
  API calls for all endpoints tagged `CatalogItems`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Get item batch status
  Get a single catalogs items batch owned by the \"operating user_account\". [See detailed documentation here.](/docs/api-features/shopping-overview/#Update%20items%20in%20batch) - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `batch_id` (String.t): Id of a catalogs items batch to fetch
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsItemsBatch.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec items_batch_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.CatalogsItemsBatch.t} | {:error, Tesla.Env.t}
  def items_batch_get(connection, batch_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/items/batch/#{batch_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsItemsBatch},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Operate on item batch
  This endpoint supports multiple operations on a set of one or more catalog items owned by the \"operation user_account\". [See detailed documentation here.](/docs/work-with-catalogs/modify-items-in-batch/) - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: - Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager. - The item UPSERT operation is restricted to users without a feed data source. If you plan to migrate item ingestion from feeds to the API, please reach out to your partner manager or via the Help Center to get assistance.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `catalogs_items_batch_post_request` (CatalogsItemsBatchPostRequest): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsItemsBatch.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec items_batch_post(Tesla.Env.client, PinterestRESTAPI.Model.CatalogsItemsBatchPostRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.CatalogsItemsBatch.t} | {:error, Tesla.Env.t}
  def items_batch_post(connection, catalogs_items_batch_post_request, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/catalogs/items/batch")
      |> add_param(:body, :body, catalogs_items_batch_post_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsItemsBatch},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get catalogs items (POST)
  Get the items of the catalog owned by the \"operation user_account\". [See detailed documentation here.](/docs/api-features/shopping-overview/#Update%20items%20in%20batch) - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `catalogs_items_request` (CatalogsItemsRequest): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ItemsPost200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec items_post(Tesla.Env.client, PinterestRESTAPI.Model.CatalogsItemsRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.ItemsPost200Response.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def items_post(connection, catalogs_items_request, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/catalogs/items")
      |> add_param(:body, :body, catalogs_items_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ItemsPost200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end
end
