# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Catalogs do
  @moduledoc """
  API calls for all endpoints tagged `Catalogs`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  List available filter values
  Get the available filter attributes and values associated with a given feed or catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account. - <code>country</code>, <code>language</code>, and <code>feed_id</code> are only used in retail catalogs. - Note: It is not guaranteed that all available filter values will be returned. Instead this endpoint will return values from a sample of up to 1000 items.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `catalog_id` (String.t): Filter entities for a given catalog_id.
  - `opts` (keyword): Optional parameters
    - `:feed_id` (String.t): Filter entities for a given feed_id. If not given, all feeds are considered.
    - `:country` (Country): Country for the Catalogs Items
    - `:language` (CatalogsLocale): Language for the Catalogs Items
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsAvailableFilterValues.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_available_filter_values(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.CatalogsAvailableFilterValues.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def catalogs_available_filter_values(connection, catalog_id, opts \\ []) do
    optional_params = %{
      :feed_id => :query,
      :country => :query,
      :language => :query,
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs/available_filter_values")
      |> add_param(:query, :catalog_id, catalog_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsAvailableFilterValues},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Create catalog
  Create a new catalog owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>  Note: Access to the Product and Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `catalogs_create_request` (CatalogsCreateRequest): Request object used to created a feed.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Catalog.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_create(Tesla.Env.client, PinterestRESTAPI.Model.CatalogsCreateRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.Catalog.t} | {:error, Tesla.Env.t}
  def catalogs_create(connection, catalogs_create_request, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/catalogs")
      |> add_param(:body, :body, catalogs_create_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Catalog},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List catalogs
  Fetch catalogs owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.  <a href='/docs/api-features/shopping-overview/'>Learn more</a>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CatalogsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec catalogs_list(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.CatalogsList200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def catalogs_list(connection, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query,
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/catalogs")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CatalogsList200Response},
      {400, PinterestRESTAPI.Model.Error},
      {401, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
