# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.ConversionTags do
  @moduledoc """
  API calls for all endpoints tagged `ConversionTags`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Create conversion tag
  Create a conversion tag, also known as [Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag), with the option to enable enhanced match.  The Pinterest Tag tracks actions people take on the ad account's website after they view the ad account's ad on Pinterest. The advertiser needs to customize this tag to track conversions.  For more information, see:  [Set up the Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag)  [Pinterest Tag](/docs/track-conversions/pinterest-tag/)  [Enhanced match](/docs/track-conversions/pinterest-tag/#enhanced-match)

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `conversion_tag_create` (ConversionTagCreate): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ConversionTag.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec conversion_tags_create(Tesla.Env.client, String.t, PinterestRESTAPI.Model.ConversionTagCreate.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.ConversionTag.t} | {:error, Tesla.Env.t}
  def conversion_tags_create(connection, ad_account_id, conversion_tag_create, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ad_accounts/#{ad_account_id}/conversion_tags")
      |> add_param(:body, :body, conversion_tag_create)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ConversionTag},
      {201, PinterestRESTAPI.Model.ConversionTag},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get conversion tag
  Get information about an existing conversion tag.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `conversion_tag_id` (String.t): Id of the conversion tag.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ConversionTag.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec conversion_tags_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.ConversionTag.t} | {:error, Tesla.Env.t}
  def conversion_tags_get(connection, ad_account_id, conversion_tag_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/conversion_tags/#{conversion_tag_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ConversionTag},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List conversion tags
  List conversion tags associated with an ad account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:filter_deleted` (boolean()): Filter by deleted status

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ConversionTagsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec conversion_tags_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.ConversionTagsList200Response.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def conversion_tags_list(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :filter_deleted => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/conversion_tags")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ConversionTagsList200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get Ocpm eligible conversion tags
  Get Ocpm eligible conversion tag events for an ad account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ocpm_eligible_conversion_tags_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, %{optional(String.t) => [PinterestRESTAPI.Model.ConversionEventResponse.t]}} | {:error, Tesla.Env.t}
  def ocpm_eligible_conversion_tags_get(connection, ad_account_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/conversion_tags/ocpm_eligible")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get page visit conversion tags
  Get all page visit conversion tag events for an ad account.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:order` (String.t): The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.PageVisitConversionTagsGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec page_visit_conversion_tags_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.PageVisitConversionTagsGet200Response.t} | {:error, Tesla.Env.t}
  def page_visit_conversion_tags_get(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :page_size => :query,
      :order => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/conversion_tags/page_visit")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.PageVisitConversionTagsGet200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
