# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.CustomerLists do
  @moduledoc """
  API calls for all endpoints tagged `CustomerLists`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Create customer lists
  <p>Create a customer list from your records(hashed or plain-text email addresses, or hashed MAIDs or IDFAs).</p> <p>A customer list is one of the four types of Pinterest audiences: for more information, see <a href=\"https://help.pinterest.com/en/business/article/audience-targeting\" target=\"_blank\">Audience targeting</a> or the <a href=\"/docs/api-features/targeting-overview/\" target=\"_blank\">Audiences</a> section of the ads management guide.<p/> <p><b>Please review our <u><a href=\"https://help.pinterest.com/en/business/article/audience-targeting#section-13341\" target=\"_blank\">requirements</a></u> for what type of information is allowed when uploading a customer list.</b></p> <p>When you create a customer list, the system scans the list for existing Pinterest accounts; the list must include at least 100 Pinterest accounts. Your original list will be deleted when the matching process is complete. The filtered list – containing only the Pinterest accounts that were included in your starting list – is what will be used to create the audience.</p> <p>To use your customer list after creating it, convert it into a customer list audience by passing the `CUSTOMER_LIST` audience type at the <a href=\"https://developer.pinterest.com/docs/api/v5/audiences-create\" target=\"blank\">create audience endpoint</a>.</p>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `customer_list_request` (CustomerListRequest): Parameters to get Customer lists info
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CustomerList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec customer_lists_create(Tesla.Env.client, String.t, PinterestRESTAPI.Model.CustomerListRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CustomerList.t} | {:error, Tesla.Env.t}
  def customer_lists_create(connection, ad_account_id, customer_list_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ad_accounts/#{ad_account_id}/customer_lists")
      |> add_param(:body, :body, customer_list_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CustomerList},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get customer list
  Gets a specific customer list given the customer list ID.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `customer_list_id` (String.t): Unique identifier of a customer list
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CustomerList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec customer_lists_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CustomerList.t} | {:error, Tesla.Env.t}
  def customer_lists_get(connection, ad_account_id, customer_list_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/customer_lists/#{customer_list_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CustomerList},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get customer lists
  <p>Get a set of customer lists including id and name based on the filters provided.</p> <p>(Customer lists are a type of audience.) For more information, see <a href=\"https://help.pinterest.com/en/business/article/audience-targeting\" target=\"_blank\">Audience targeting</a>  or the <a href=\"/docs/api-features/targeting-overview/\" target=\"_blank\">Audiences</a> section of the ads management guide.</p>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:order` (String.t): The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CustomerListsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec customer_lists_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.CustomerListsList200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def customer_lists_list(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :page_size => :query,
      :order => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/customer_lists")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CustomerListsList200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update customer list
  <p>Append or remove records to/from an existing customer list. (A customer list is one of the four types of Pinterest audiences.)</p> <p>When you add records to an existing customer list, the system scans the additions for existing Pinterest accounts; those are the records that will be added to your “CUSTOMER_LIST” audience. Your original list of records to add will be deleted when the matching process is complete.</p> <p>For more information, see <a href=\"https://help.pinterest.com/en/business/article/audience-targeting\" target=\"_blank\">Audience targeting</a> or the <a href=\"/docs/api-features/targeting-overview/\" target=\"_blank\">Audiences</a> section of the ads management guide.</p>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `customer_list_id` (String.t): Unique identifier of a customer list
  - `customer_list_update_request` (CustomerListUpdateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.CustomerList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec customer_lists_update(Tesla.Env.client, String.t, String.t, PinterestRESTAPI.Model.CustomerListUpdateRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.CustomerList.t} | {:error, Tesla.Env.t}
  def customer_lists_update(connection, ad_account_id, customer_list_id, customer_list_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/ad_accounts/#{ad_account_id}/customer_lists/#{customer_list_id}")
      |> add_param(:body, :body, customer_list_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.CustomerList},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
