# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Integrations do
  @moduledoc """
  API calls for all endpoints tagged `Integrations`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Delete commerce integration
  Delete commerce integration metadata for the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `external_business_id` (String.t): External business ID for the integration.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec integrations_commerce_del(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def integrations_commerce_del(connection, external_business_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/integrations/commerce/#{external_business_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get commerce integration
  Get commerce integration metadata associated with the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `external_business_id` (String.t): External business ID for the integration.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.IntegrationMetadata.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec integrations_commerce_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.IntegrationMetadata.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def integrations_commerce_get(connection, external_business_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/integrations/commerce/#{external_business_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.IntegrationMetadata},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update commerce integration
  Update commerce integration metadata for the given external business ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `external_business_id` (String.t): External business ID for the integration.
  - `integration_request_patch` (IntegrationRequestPatch): Parameters to get create/update the Integration Metadata
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.IntegrationMetadata.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec integrations_commerce_patch(Tesla.Env.client, String.t, PinterestRESTAPI.Model.IntegrationRequestPatch.t, keyword()) :: {:ok, PinterestRESTAPI.Model.IntegrationMetadata.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def integrations_commerce_patch(connection, external_business_id, integration_request_patch, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/integrations/commerce/#{external_business_id}")
      |> add_param(:body, :body, integration_request_patch)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.IntegrationMetadata},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Create commerce integration
  Create commerce integration metadata to link an external business ID with a Pinterest merchant & ad account. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `integration_request` (IntegrationRequest): Parameters to get create/update the Integration Metadata
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.IntegrationMetadata.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec integrations_commerce_post(Tesla.Env.client, PinterestRESTAPI.Model.IntegrationRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.IntegrationMetadata.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def integrations_commerce_post(connection, integration_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/integrations/commerce")
      |> add_param(:body, :body, integration_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.IntegrationMetadata},
      {404, PinterestRESTAPI.Model.Error},
      {409, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get integration metadata
  Get integration metadata by ID. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `id` (String.t): Integration ID.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.IntegrationRecord.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec integrations_get_by_id(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.IntegrationRecord.t} | {:error, Tesla.Env.t}
  def integrations_get_by_id(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/integrations/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.IntegrationRecord},
      {404, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get integration metadata list
  Get integration metadata list. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.IntegrationsGetList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec integrations_get_list(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.IntegrationsGetList200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def integrations_get_list(connection, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/integrations")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.IntegrationsGetList200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Receives batched logs from integration applications.
  This endpoint receives batched logs from integration applications on partner platforms. Note: If you're interested in joining the beta, please reach out to your Pinterest account manager.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `integration_logs_request` (IntegrationLogsRequest): Ingest log information from external integration application.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.IntegrationLogsSuccessResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec integrations_logs_post(Tesla.Env.client, PinterestRESTAPI.Model.IntegrationLogsRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.IntegrationsLogsPost400Response.t} | {:ok, PinterestRESTAPI.Model.IntegrationLogsSuccessResponse.t} | {:error, Tesla.Env.t}
  def integrations_logs_post(connection, integration_logs_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/integrations/logs")
      |> add_param(:body, :body, integration_logs_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.IntegrationLogsSuccessResponse},
      {400, PinterestRESTAPI.Model.IntegrationsLogsPost400Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
