# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Keywords do
  @moduledoc """
  API calls for all endpoints tagged `Keywords`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Get country's keyword metrics
  See keyword metrics for a specified country, aggregated across all of Pinterest. (Definitions are available from the \"Get delivery metrics definitions\" <a href=\"/docs/api/v5/#operation/delivery_metrics/get\">API endpoint</a>).

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `country_code` (String.t): Two letter country code (ISO 3166-1 alpha-2)
  - `keywords` ([String.t]): Comma-separated keywords
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.KeywordsMetricsArrayResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec country_keywords_metrics_get(Tesla.Env.client, String.t, String.t, list(String.t), keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.KeywordsMetricsArrayResponse.t} | {:error, Tesla.Env.t}
  def country_keywords_metrics_get(connection, ad_account_id, country_code, keywords, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/keywords/metrics")
      |> add_param(:query, :country_code, country_code)
      |> add_param(:query, :keywords, keywords)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.KeywordsMetricsArrayResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Create keywords
  <p>Create keywords for following entity types(advertiser, campaign, ad group or ad).</p> <p>For more information, see <a target=\"_blank\" href=\"https://help.pinterest.com/en/business/article/keyword-targeting\">Keyword targeting</a>.</p> <p><b>Notes:</b></p> <ul style=\"list-style-type: square;\"> <li>Advertisers and campaigns can only be assigned keywords with excluding ('_NEGATIVE').</li> <li>All keyword match types are available for ad groups.</li> </ul> <p>For more information on match types, see <a  target=\"_blank\" href=\"/docs/api-features/targeting-overview/\">match type enums</a>.</p> <p><b>Returns:</b></p> <ul style=\"list-style-type: square;\"> <li><p>A successful call returns an object containing an array of new keyword objects and an empty &quot;errors&quot; object array.</p></li> <li><p>An unsuccessful call returns an empty keywords array, and, instead, inserts the entire object with nulled/negated properties into the &quot;errors&quot; object array:</p> <pre class=\"last literal-block\"> { \"keywords\": [], \"errors\": [ { \"data\": { \"archived\": null, \"match_type\": \"EXACT\", \"parent_type\": null, \"value\": \"foobar\", \"parent_id\": null, \"type\": \"keyword\", \"id\": null }, \"error_messages\": [ \"Advertisers and Campaigns only accept excluded targeting attributes.\" ] } } </pre></li> </ul> <p><b>Rate limit</b>: <a href=\"/docs/reference/rate-limits/\">WRITE</a>.</p>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `keywords_request` (KeywordsRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.KeywordsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec keywords_create(Tesla.Env.client, String.t, PinterestRESTAPI.Model.KeywordsRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.KeywordsResponse.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def keywords_create(connection, ad_account_id, keywords_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ad_accounts/#{ad_account_id}/keywords")
      |> add_param(:body, :body, keywords_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.KeywordsResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get keywords
  <p>Get a list of keywords based on the filters provided. If no filter is provided, it will default to the ad_account_id filter, which means it will only return keywords that specifically have parent_id set to the ad_account_id. Note: Keywords can have ad_account_ids, campaign_ids, and ad_group_ids set as their parent_ids. Keywords created through Ads Manager will have their parent_id set to an ad_group_id, not ad_account_id.</p> <p>For more information, see <a target=\"_blank\" href=\"https://help.pinterest.com/en/business/article/keyword-targeting\">Keyword targeting</a>.</p> <p><b>Notes:</b></p> <ul style=\"list-style-type: square;\"> <li>Advertisers and campaigns can only be assigned keywords with excluding ('_NEGATIVE').</li> <li>All keyword match types are available for ad groups.</li> </ul> <p>For more information on match types, see <a target=\"_blank\" href=\"/docs/api-features/targeting-overview/\">match type enums</a>.</p> <p><b>Returns:</b></p> <ul style=\"list-style-type: square;\"> <li><p>A successful call returns an object containing an array of new keyword objects and an empty &quot;errors&quot; object array.</p></li> <li><p>An unsuccessful call returns an empty keywords array, and, instead, inserts the entire object with nulled/negated properties into the &quot;errors&quot; object array:</p> <pre class=\"last literal-block\"> { \"keywords\": [], \"errors\": [ { \"data\": { \"archived\": null, \"match_type\": \"EXACT\", \"parent_type\": null, \"value\": \"foobar\", \"parent_id\": null, \"type\": \"keyword\", \"id\": null }, \"error_messages\": [ \"Advertisers and Campaigns only accept excluded targeting attributes.\" ] } } </pre></li> </ul>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:campaign_id` (String.t): Campaign Id to use to filter the results.
    - `:ad_group_id` (String.t): Ad group Id.
    - `:ad_group_ids` ([String.t]): List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users.
    - `:match_types` ([PinterestRESTAPI.Model.MatchType.t]): Keyword <a target=\"_blank\" href=\"/docs/api-features/targeting-overview/\">match type</a>
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. Default maximum of 250. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.KeywordsGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec keywords_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.KeywordsGet200Response.t} | {:error, Tesla.Env.t}
  def keywords_get(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :campaign_id => :query,
      :ad_group_id => :query,
      :ad_group_ids => :query,
      :match_types => :query,
      :page_size => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/keywords")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.KeywordsGet200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update keywords
  <p>Update one or more keywords' bid and archived fields.</p> <p>Archiving a keyword effectively deletes it - keywords no longer receive metrics and no longer visible within the parent entity's keywords list.</p>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `keyword_update_body` (KeywordUpdateBody): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.KeywordsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec keywords_update(Tesla.Env.client, String.t, PinterestRESTAPI.Model.KeywordUpdateBody.t, keyword()) :: {:ok, PinterestRESTAPI.Model.KeywordsResponse.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def keywords_update(connection, ad_account_id, keyword_update_body, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/ad_accounts/#{ad_account_id}/keywords")
      |> add_param(:body, :body, keyword_update_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.KeywordsResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List trending keywords
  <p>Get the top trending search keywords among the Pinterest user audience.</p> <p>Trending keywords can be used to inform ad targeting, budget strategy, and creative decisions about which products and Pins will resonate with your audience.</p> <p>Geographic, demographic and interest-based filters are available to narrow down to the top trends among a specific audience. Multiple trend types are supported that can be used to identify newly-popular, evergreen or seasonal keywords.</p> <p>For an interactive way to explore this data, please visit <a href=\"https://trends.pinterest.com\">trends.pinterest.com</a>. 

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `region` (TrendsSupportedRegion): The geographic region of interest. Only top trends within the specified region will be returned.<br /> The `region` parameter is formatted as ISO 3166-2 country codes delimited by `+`, corresponding to the following geographic areas: - `US` - United States - `CA` - Canada - `DE` - Germany - `FR` - France - `ES` - Spain - `IT` - Italy - `DE+AT+CH` - Germanic countries - `GB+IE` - Great Britain & Ireland - `IT+ES+PT+GR+MT` - Southern Europe - `PL+RO+HU+SK+CZ` - Eastern Europe - `SE+DK+FI+NO` - Nordic countries - `NL+BE+LU` - Benelux - `AR` - Argentina - `BR` - Brazil - `CO` - Colombia - `MX` - Mexico - `MX+AR+CO+CL` - Hispanic LatAm - `AU+NZ` - Australasia
  - `trend_type` (TrendType): The methodology used to rank how trendy a keyword is. - `growing` trends have high upward growth in search volume over the last quarter - `monthly` trends have high search volume in the last month - `yearly` trends have high search volume in the last year - `seasonal` trends have high upward growth in search volume over the last month and exhibit a seasonal recurring pattern (typically annual)
  - `opts` (keyword): Optional parameters
    - `:interests` ([String.t]): If set, filters the results to trends associated with the specified interests.<br /> If unset, trends for all interests will be returned.<br /> The list of supported interests is: - `animals` - Animals - `architecture` - Architecture - `art` - Art - `beauty` - Beauty - `childrens_fashion` - Children's Fashion - `design` - Design - `diy_and_crafts` - DIY & Crafts - `education` - Education - `electronics` - Electronics - `entertainment` - Entertainment - `event_planning` - Event Planning - `finance` - Finance - `food_and_drinks` - Food & Drink - `gardening` - Gardening - `health` - Health - `home_decor` - Home Decor - `mens_fashion` - Men's Fashion - `parenting` - Parenting - `quotes` - Quotes - `sport` - Sports - `travel` - Travel - `vehicles` - Vehicles - `wedding` - Wedding - `womens_fashion` - Women's Fashion
    - `:genders` ([String.t]): If set, filters the results to trends among users who identify with the specified gender(s).<br /> If unset, trends among all genders will be returned.<br /> The `unknown` group includes users with unspecified or customized gender profile settings.
    - `:ages` ([String.t]): If set, filters the results to trends among users in the specified age range(s).<br /> If unset, trends among all age groups will be returned.
    - `:include_keywords` ([String.t]): If set, filters the results to top trends which include at least one of the specified keywords.<br /> If unset, no keyword filtering logic is applied.
    - `:normalize_against_group` (boolean()): Governs how the resulting time series data will be normalized to a [0-100] scale.<br /> By default (`false`), the data will be normalized independently for each keyword.  The peak search volume observation in *each* keyword's time series will be represented by the value 100.  This is ideal for analyzing when an individual keyword is expected to peak in interest.<br /> If set to `true`, the data will be normalized as a group.  The peak search volume observation across *all* keywords in the response will be represented by the value 100, and all other values scaled accordingly.  Use this option when you wish to compare relative search volume between multiple keywords.
    - `:limit` (integer()): The maximum number of trending keywords that will be returned. Keywords are returned in trend-ranked order, so a `limit` of 50 will return the top 50 trends.
    - `:include_prediction` (boolean()): <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"blank\" target=\"blank\">Closed beta</a> Including predicted weekly search volume data for the next 90 days. By default (`false`), the response will not include predicted data.
    - `:include_demographics` (boolean()): <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"blank\" target=\"blank\">Closed beta</a> Including the age and gender distribution for each keyword. By default (`false`), the response will not include demographics data.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.TrendingKeywordsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec trending_keywords_list(Tesla.Env.client, PinterestRESTAPI.Model.TrendsSupportedRegion.t, PinterestRESTAPI.Model.TrendType.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.TrendingKeywordsResponse.t} | {:error, Tesla.Env.t}
  def trending_keywords_list(connection, region, trend_type, opts \\ []) do
    optional_params = %{
      :interests => :query,
      :genders => :query,
      :ages => :query,
      :include_keywords => :query,
      :normalize_against_group => :query,
      :limit => :query,
      :include_prediction => :query,
      :include_demographics => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/trends/keywords/#{region}/top/#{trend_type}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.TrendingKeywordsResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
