# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.LeadForms do
  @moduledoc """
  API calls for all endpoints tagged `LeadForms`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Get lead form by id
  <strong>This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.</strong>  Gets a lead form given it's ID. It must also be associated with the provided ad account ID.  For more, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/lead-ads\">Lead ads</a>.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `lead_form_id` (String.t): Unique identifier of a lead form.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.LeadFormResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec lead_form_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.LeadFormResponse.t} | {:error, Tesla.Env.t}
  def lead_form_get(connection, ad_account_id, lead_form_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/lead_forms/#{lead_form_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.LeadFormResponse},
      {400, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Create lead form test data
  Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `lead_form_id` (String.t): Unique identifier of a lead form.
  - `lead_form_test_request` (LeadFormTestRequest): Subscription to create.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.LeadFormTestResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec lead_form_test_create(Tesla.Env.client, String.t, String.t, PinterestRESTAPI.Model.LeadFormTestRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.LeadFormTestResponse.t} | {:error, Tesla.Env.t}
  def lead_form_test_create(connection, ad_account_id, lead_form_id, lead_form_test_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ad_accounts/#{ad_account_id}/lead_forms/#{lead_form_id}/test")
      |> add_param(:body, :body, lead_form_test_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.LeadFormTestResponse},
      {400, PinterestRESTAPI.Model.Error},
      {404, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Create lead forms
  <strong>This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.</strong>  Create lead forms. Lead forms are used in lead ads and allow you to control what text appears on the lead form’s description, questions and confirmation sections.  For more, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/lead-ads\">Lead ads</a>.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `lead_form_create_request` ([PinterestRESTAPI.Model.LeadFormCreateRequest.t]): List of lead forms to create, size limit [1, 30].
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.LeadFormArrayResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec lead_forms_create(Tesla.Env.client, String.t, list(PinterestRESTAPI.Model.LeadFormCreateRequest.t), keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.LeadFormArrayResponse.t} | {:error, Tesla.Env.t}
  def lead_forms_create(connection, ad_account_id, lead_form_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ad_accounts/#{ad_account_id}/lead_forms")
      |> add_param(:body, :body, lead_form_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.LeadFormArrayResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List lead forms
  <strong>This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.</strong>  List lead forms associated with an ad account ID.  For more, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/lead-ads\">Lead ads</a>.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:order` (String.t): The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.LeadFormsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec lead_forms_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.LeadFormsList200Response.t} | {:error, Tesla.Env.t}
  def lead_forms_list(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :page_size => :query,
      :order => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/lead_forms")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.LeadFormsList200Response},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update lead forms
  <strong>This feature is currently in beta and not available to all apps, if you're interested in joining the beta, please reach out to your Pinterest account manager.</strong>  Update lead forms. Lead ads help you reach people who are actively looking for, and interested in, your goods and services. The lead form can be associated with an ad to allow people to fill out the form.  For more, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/lead-ads\">Lead ads</a>.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `lead_form_update_request` ([PinterestRESTAPI.Model.LeadFormUpdateRequest.t]): List of lead forms to update, size limit [1, 30].
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.LeadFormArrayResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec lead_forms_update(Tesla.Env.client, String.t, list(PinterestRESTAPI.Model.LeadFormUpdateRequest.t), keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.LeadFormArrayResponse.t} | {:error, Tesla.Env.t}
  def lead_forms_update(connection, ad_account_id, lead_form_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/ad_accounts/#{ad_account_id}/lead_forms")
      |> add_param(:body, :body, lead_form_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.LeadFormArrayResponse},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
