# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Oauth do
  @moduledoc """
  API calls for all endpoints tagged `Oauth`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Generate OAuth access token for conversion API
  Generate a new and long-lived OAuth access token dedicated for sending conversions using a valid access token.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ConversionAccessTokenResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec oauth_conversion_token(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.ConversionAccessTokenResponse.t} | {:error, Tesla.Env.t}
  def oauth_conversion_token(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/oauth/conversion_token")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ConversionAccessTokenResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Generate OAuth access token
  Generate a new OAuth access token using an authorization code; or refresh an existing one using a continuous refresh token.  Follow the complete steps for <a href='/docs/getting-started/set-up-authentication-and-authorization/' target='blank'>requesting and refreshing tokens</a>.  <strong>Note:</strong> If your app was created <strong>before September 25, 2025</strong>, make sure to set the <code>continuous_refresh</code> parameter to <code>true</code> to use the continuous refresh token (60-day expiration, refreshable indefinitely). Pinterest no longer supports the legacy refresh token (365-day expiration, hard limit).  Disregard this note if your app was activated on or after September 25, 2025. You are automatically using the continuous refresh token.  Use <a href='/docs/developer-tools/token-debugger/' target='blank'>Token Debugger</a> to validate and inspect your access token.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `grant_type` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.OauthAccessTokenResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec oauth_token(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.OauthAccessTokenResponse.t} | {:error, Tesla.Env.t}
  def oauth_token(connection, grant_type, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/oauth/token")
      |> add_param(:form, :grant_type, grant_type)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.OauthAccessTokenResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Revoke a token
  Revokes an access or refresh token. Only tokens issued for system users are currently supported. Revoked tokens become immediately invalid and unusable.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `token` (String.t): The token to revoke.
  - `opts` (keyword): Optional parameters
    - `:token_type_hint` (String.t): The type of the token to revoke. Please refer to [our developer guide for more information](https://developers.pinterest.com/docs/getting-started/set-up-authentication-and-authorization/) for more information.

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec token_revoke(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def token_revoke(connection, token, opts \\ []) do
    optional_params = %{
      :token_type_hint => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/oauth/token/revoke")
      |> add_param(:form, :token, token)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, PinterestRESTAPI.Model.Error},
      {403, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
