# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Oauth do
  @moduledoc """
  API calls for all endpoints tagged `Oauth`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Generate OAuth access token for conversion API
  Generate a new and long-lived OAuth access token dedicated for sending conversions using a valid access token.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ConversionAccessToken.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec oauth_conversion_token(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.ConversionAccessToken.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def oauth_conversion_token(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/oauth/conversion_token")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ConversionAccessToken},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Generate OAuth access token
  Generate a new OAuth access token using an authorization code; or refresh an existing one using a continuous refresh token.  Follow the complete steps for [requesting and refreshing tokens](/docs/getting-started/set-up-authentication-and-authorization/).  **Note:** If your app was created **before September 25, 2025**, make sure to set the `continuous_refresh` parameter to `true` to use the continuous refresh token (60-day expiration, refreshable indefinitely). Pinterest no longer supports the legacy refresh token (365-day expiration, hard limit).  Disregard this note if your app was activated on or after September 25, 2025. You are automatically using the continuous refresh token.  Use [Token Debugger](/docs/developer-tools/token-debugger/) to validate and inspect your access token. 

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `grant_type` (PinterestRESTAPI.Model.TokenGrantType.t): 
  - `opts` (keyword): Optional parameters
    - `:code` (String.t): 
    - `:continuous_refresh` (String.t):   If your app was created before **September 25, 2025**, set to `true` to generate a [continuous refresh token](/docs/getting-started/set-up-authentication-and-authorization/#exchange-the-default-refresh-token-for-a-continuous-refresh-token), which has a 60-day expiration window. We no longer support the legacy refresh token, which has a 365-day expiration window.    If your app was created on or after **September 25, 2025**, ignore this parameter. You automatically receive a continuous refresh token when you request an access token.
    - `:redirect_uri` (String.t): 
    - `:refresh_token` (String.t): 
    - `:scope` (String.t): 

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.OauthAccessToken.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec oauth_token(Tesla.Env.client, PinterestRESTAPI.Model.TokenGrantType.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.OauthAccessToken.t} | {:error, Tesla.Env.t}
  def oauth_token(connection, grant_type, opts \\ []) do
    optional_params = %{
      :code => :form,
      :continuous_refresh => :form,
      :redirect_uri => :form,
      :refresh_token => :form,
      :scope => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/oauth/token")
      |> add_param(:form, :grant_type, grant_type)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.OauthAccessToken},
      {201, PinterestRESTAPI.Model.OauthAccessToken},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Revoke a token
  Revokes an access or refresh token. Only tokens issued for system users are currently supported. Revoked tokens become immediately invalid and unusable.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `token` (String.t): The token to revoke.
  - `opts` (keyword): Optional parameters
    - `:token_type_hint` (PinterestRESTAPI.Model.TokenTypeHint.t): The type of the token to revoke. Please refer to [our developer guide for more information](https://developers.pinterest.com/docs/getting-started/set-up-authentication-and-authorization/) for more information.

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec token_revoke(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def token_revoke(connection, token, opts \\ []) do
    optional_params = %{
      :token_type_hint => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/oauth/token/revoke")
      |> add_param(:form, :token, token)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end
end
