# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Pins do
  @moduledoc """
  API calls for all endpoints tagged `Pins`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Get multiple Pin analytics
  **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**  Get analytics for multiple pins owned by the \"operation user_account\" - or on a group board that has been shared with this account. - The maximum number of pins supported in a single request is 100. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:  - For Pins on public or protected boards: Admin, Analyst. - For Pins on secret boards: Admin.  If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `pin_ids` ([String.t]): List of Pin IDs.
  - `start_date` (Date.t): Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
  - `end_date` (Date.t): Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
  - `metric_types` ([PinterestRESTAPI.Model.MultiPinsAnalyticsMetricTypesItem.t]): Pin metric types to get data for.
  - `opts` (keyword): Optional parameters
    - `:app_types` (String.t): Apps or devices to get data for, default is all.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec multi_pins_analytics(Tesla.Env.client, list(String.t), Date.t, Date.t, list(PinterestRESTAPI.Model.MultiPinsAnalyticsMetricTypesItem.t), keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, %{optional(String.t) => map()}} | {:error, Tesla.Env.t}
  def multi_pins_analytics(connection, pin_ids, start_date, end_date, metric_types, opts \\ []) do
    optional_params = %{
      :app_types => :query,
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/pins/analytics")
      |> add_param(:query, :pin_ids, pin_ids)
      |> add_param(:query, :start_date, start_date)
      |> add_param(:query, :end_date, end_date)
      |> add_param(:query, :metric_types, metric_types)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get Pin analytics
  Get analytics for a Pin owned by the \"operation user_account\" - or on a group board that has been shared with this account. - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:  - For Pins on public or protected boards: Admin, Analyst. - For Pins on secret boards: Admin.  If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `pin_id` (String.t): Unique identifier of a Pin.
  - `start_date` (Date.t): Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
  - `end_date` (Date.t): Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
  - `metric_types` ([PinterestRESTAPI.Model.QuerypinanalyticsmetrictypesItems.t]): Pin metric types to get data for. VIDEO_MRC_VIEW are Video views, VIDEO_V50_WATCH_TIME is Total play time. If Pin was created before `2023-03-20`, Profile visits and Follows will only be available for Idea Pins. These metrics are available for all Pin formats since then. Keep in mind this cannot have ALL if split_field is set to any value other than `NO_SPLIT`.
  - `opts` (keyword): Optional parameters
    - `:app_types` (String.t): Apps or devices to get data for, default is all.
    - `:split_field` (String.t): How to split the data into groups. Not including this param means data won't be split.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pins_analytics(Tesla.Env.client, String.t, Date.t, Date.t, list(PinterestRESTAPI.Model.QuerypinanalyticsmetrictypesItems.t), keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, %{optional(String.t) => PinterestRESTAPI.Model.PinAnalyticsMetricsResponse.t}} | {:error, Tesla.Env.t}
  def pins_analytics(connection, pin_id, start_date, end_date, metric_types, opts \\ []) do
    optional_params = %{
      :app_types => :query,
      :split_field => :query,
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/pins/#{pin_id}/analytics")
      |> add_param(:query, :start_date, start_date)
      |> add_param(:query, :end_date, end_date)
      |> add_param(:query, :metric_types, metric_types)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Create Pin
   Create a Pin on a board or board section owned by the \"operation user_account\".   Note: If the current \"operation user_account\" (defined by the access token) has access to another user's Ad Accounts via Pinterest Business Access, you can modify your request to make use of the current operation_user_account's permissions to those Ad Accounts by including the ad_account_id in the path parameters for the request (e.g. .../?ad_account_id=12345&...).  - This function is intended solely for publishing new content created by the user. If you are interested in saving content created by others to your Pinterest boards, sometimes called 'curated content', please use our [Save button](/docs/web-features/add-ons-overview/) instead. For more tips on creating fresh content for Pinterest, review our [Content App Solutions Guide](/docs/api-features/content-overview/).  **[Learn more](/docs/api-features/creating-boards-and-pins/#creating-video-pins)** about video Pin creation.  **[Learn more](/docs/api-features/creating-boards-and-pins/#creating-image-pins)** about image Pin creation.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `pin_create` (PinCreate): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Pin.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pins_create(Tesla.Env.client, PinterestRESTAPI.Model.PinCreate.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Pin.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def pins_create(connection, pin_create, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/pins")
      |> add_param(:body, :body, pin_create)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Pin},
      {201, PinterestRESTAPI.Model.Pin},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Delete Pin
    Delete a Pins owned by the \"operation user_account\" - or on a group board that has been shared with this account.   - By default, the \"operation user_account\" is the token user_account.    Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:    - For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager.   - For Pins on secret boards: Owner, Admin.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `pin_id` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Pin.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pins_delete(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.Pin.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def pins_delete(connection, pin_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:delete)
      |> url("/pins/#{pin_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Pin},
      {204, false},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get Pin
    Get a Pin owned by the \"operation user_account\" - or on a group board that has been shared with this account.   - By default, the \"operation user_account\" is the token user_account.    Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:    - For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager.   - For Pins on secret boards: Owner, Admin.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `pin_id` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:pin_metrics` (boolean()): Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Pin.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pins_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Pin.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def pins_get(connection, pin_id, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :pin_metrics => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/pins/#{pin_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Pin},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  List Pins
      Get a list of the Pins owned by the \"operation user_account\".     - By default, the \"operation user_account\" is the token user_account.     - All Pins owned by the \"operation user_account\" are included, regardless of who owns the board they are on.      Optional: Business Access: Specify an `ad_account_id` to use the owner of that ad_account as the \"operation user_account\".      Disclaimer: There are known performance issues when filtering by field `creative_type` and including protected pins.     If your request is timing out in this scenario, we encourage you to use [GET List Pins on Board](/docs/api/v5/#operation/boards/list_pins).

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:pin_filter` (PinFilter): The filter to apply to the pins
    - `:pin_metrics` (boolean()): Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before `2023-03-20` lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.
    - `:include_protected_pins` (boolean()): Whether to include protected pins in the results
    - `:pin_type` (PinType): The type of pins to return, currently only enabled for private pins
    - `:creative_types` ([PinterestRESTAPI.Model.CreativeType.t]): Pin creative types filter. **Note:** SHOP_THE_PIN has been deprecated. Please use COLLECTION instead.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:domain` (String.t): Only return pins with links that match the exact domain. Domain should not include 'www.' prefix. For example, 'pinterest.com' is a valid domain, but 'www.pinterest.com' is not (will not match any pins).
    - `:domains` ([String.t]): Only return pins with links whose domain matches any value in the list. Values are joined comma-separated on the wire (e.g. `?domains=instagram.com,jcpenney.com`).
    - `:include_product_tag_obj` (boolean()): Include product tag objects in the response with their associated links.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.PinsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pins_list(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.PinsList200Response.t} | {:error, Tesla.Env.t}
  def pins_list(connection, opts \\ []) do
    optional_params = %{
      :pin_filter => :query,
      :pin_metrics => :query,
      :include_protected_pins => :query,
      :pin_type => :query,
      :creative_types => :query,
      :ad_account_id => :query,
      :domain => :query,
      :domains => :query,
      :include_product_tag_obj => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/pins")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.PinsList200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Save Pin
  Save a Pin on a board or board section owned by the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account. Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:  - For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager. - For Pins on secret boards: Owner, Admin.  - Any Pin type can be saved: image Pin, video Pin, Idea Pin, product Pin, etc. - Any public Pin can be saved given a pin ID.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `pin_id` (String.t): Unique identifier of a Pin.
  - `pins_save_request_create` (PinsSaveRequestCreate): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Pin.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pins_save(Tesla.Env.client, String.t, PinterestRESTAPI.Model.PinsSaveRequestCreate.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Pin.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def pins_save(connection, pin_id, pins_save_request_create, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/pins/#{pin_id}/save")
      |> add_param(:body, :body, pins_save_request_create)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, PinterestRESTAPI.Model.Pin},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Update Pin
  Update a pin owned by the \"operating user_account\". - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an `ad_account_id` (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account:  - For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager. - For Pins on secret boards: Owner, Admin.  **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `pin_id` (String.t): 
  - `pin_update` (PinUpdate): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Pin.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pins_update(Tesla.Env.client, String.t, PinterestRESTAPI.Model.PinUpdate.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Pin.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def pins_update(connection, pin_id, pin_update, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:patch)
      |> url("/pins/#{pin_id}")
      |> add_param(:body, :body, pin_update)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Pin},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end
end
