# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.ProductCategories do
  @moduledoc """
  API calls for all endpoints tagged `ProductCategories`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Get featured topics
    Enables advertisers to pull top five trending topics by interest and market, at full parity with the Pinterest Trends UI.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `region` (ProductCategoryRegion):       The geographic region of interest. Only top product categories within the specified region will be returned.      The `region` parameter is formatted as ISO 3166-2 country codes delimited by `+`.      - `US` - United States     - `GB+IE` - Great Britain & Ireland     - `CA` - Canada
  - `opts` (keyword): Optional parameters
    - `:interest` (InterestsEnum): Interest to filter by

  ### Returns

  - `{:ok, [%FeaturedTrend{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec trends_featured_topics_list(Tesla.Env.client, PinterestRESTAPI.Model.ProductCategoryRegion.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, [PinterestRESTAPI.Model.FeaturedTrend.t]} | {:error, Tesla.Env.t}
  def trends_featured_topics_list(connection, region, opts \\ []) do
    optional_params = %{
      :interest => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/trends/topics/featured")
      |> add_param(:query, :region, region)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.FeaturedTrend},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get product category details
    Enables advertisers to retrieve demographic information, related pins, and trend lines for specified product categories

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `product_categories` ([PinterestRESTAPI.Model.ProductCategoryEnum.t]): List of product categories
  - `region` (ProductCategoryRegion):       The geographic region of interest. Only top product categories within the specified region will be returned.      The `region` parameter is formatted as ISO 3166-2 country codes delimited by `+`.      - `US` - United States     - `GB+IE` - Great Britain & Ireland     - `CA` - Canada
  - `opts` (keyword): Optional parameters
    - `:lookback_window` (ProductCategoryDetailLookbackWindow):    Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - `90` - Last 90 days (3 months)   - `180` - Last 180 days (6 months)   - `365` - Last 365 days (1 year)   - `730` - Last 730 days (2 years)
    - `:engagement_type` (ProductCategoriesEngagementType):      Type of engagement metric to analyze. - `ENGAGEMENT` - Overall engagement metric - `OUTBOUND_CLICK` - Number of outbound clicks - `SAVE` - Number of pin saves

  ### Returns

  - `{:ok, [%ProductCategoryDetails{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec trends_product_categories_details_list(Tesla.Env.client, list(PinterestRESTAPI.Model.ProductCategoryEnum.t), PinterestRESTAPI.Model.ProductCategoryRegion.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, [PinterestRESTAPI.Model.ProductCategoryDetails.t]} | {:error, Tesla.Env.t}
  def trends_product_categories_details_list(connection, product_categories, region, opts \\ []) do
    optional_params = %{
      :lookback_window => :query,
      :engagement_type => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/trends/product_categories/details")
      |> add_param(:query, :product_categories, product_categories)
      |> add_param(:query, :region, region)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ProductCategoryDetails},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get a list of growing Shopping Product Categories
    Get a list of growing Shopping Product Categories in ranked order allowing filtering by engagement type, vertical, age, and gender.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `region` (ProductCategoryRegion):       The geographic region of interest. Only top product categories within the specified region will be returned.      The `region` parameter is formatted as ISO 3166-2 country codes delimited by `+`.      - `US` - United States     - `GB+IE` - Great Britain & Ireland     - `CA` - Canada
  - `opts` (keyword): Optional parameters
    - `:verticals` ([PinterestRESTAPI.Model.VerticalProductCategory.t]): List of verticals to filter by
    - `:ages` ([PinterestRESTAPI.Model.AgeTrendsBucket.t]): Age to filter by. If not provided, the results will be filtered by all ages.
    - `:genders` ([PinterestRESTAPI.Model.GenderBucket.t]): Gender to filter by, If not provided, the results will be filtered by all genders.
    - `:engagement_type` (ProductCategoriesEngagementType):      Type of engagement metric to analyze. - `ENGAGEMENT` - Overall engagement metric - `OUTBOUND_CLICK` - Number of outbound clicks - `SAVE` - Number of pin saves

  ### Returns

  - `{:ok, [%TrendingProductCategory{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec trends_product_categories_trending_list(Tesla.Env.client, PinterestRESTAPI.Model.ProductCategoryRegion.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, [PinterestRESTAPI.Model.TrendingProductCategory.t]} | {:error, Tesla.Env.t}
  def trends_product_categories_trending_list(connection, region, opts \\ []) do
    optional_params = %{
      :verticals => :query,
      :ages => :query,
      :genders => :query,
      :engagement_type => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/trends/product_categories/trending")
      |> add_param(:query, :region, region)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.TrendingProductCategory},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end
end
