# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.ProductGroupPromotions do
  @moduledoc """
  API calls for all endpoints tagged `ProductGroupPromotions`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Create product group promotions
  Add one or more product groups from your catalog to an existing ad group. (Product groups added to an ad group are a 'product group promotion.')

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `product_group_promotion_create_request` (ProductGroupPromotionCreateRequest): List of Product Group Promotions to create, size limit [1, 30].
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ProductGroupPromotionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec product_group_promotions_create(Tesla.Env.client, String.t, PinterestRESTAPI.Model.ProductGroupPromotionCreateRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.ProductGroupPromotionResponse.t} | {:error, Tesla.Env.t}
  def product_group_promotions_create(connection, ad_account_id, product_group_promotion_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ad_accounts/#{ad_account_id}/product_group_promotions")
      |> add_param(:body, :body, product_group_promotion_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ProductGroupPromotionResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get a product group promotion by id
  Get a product group promotion by id

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `product_group_promotion_id` (String.t): Unique identifier of a product group promotion
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ProductGroupPromotion.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec product_group_promotions_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.ProductGroupPromotion.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def product_group_promotions_get(connection, ad_account_id, product_group_promotion_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/product_group_promotions/#{product_group_promotion_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ProductGroupPromotion},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get product group promotions
  List existing product group promotions associated with an ad account.  Include either ad_group_id or product_group_promotion_ids in your request.  <b>Note:</b> ad_group_ids and product_group_promotion_ids are mutually exclusive parameters. Only provide one. If multiple options are provided, product_group_promotion_ids takes precedence over ad_group_ids. If none are provided, the endpoint returns an error.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:product_group_promotion_ids` ([String.t]): List of Product group promotion Ids.
    - `:entity_statuses` ([String.t]): Entity status
    - `:ad_group_id` (String.t): Ad group Id.
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:order` (String.t): The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ProductGroupPromotionsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec product_group_promotions_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.ProductGroupPromotionsList200Response.t} | {:error, Tesla.Env.t}
  def product_group_promotions_list(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :product_group_promotion_ids => :query,
      :entity_statuses => :query,
      :ad_group_id => :query,
      :page_size => :query,
      :order => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/product_group_promotions")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ProductGroupPromotionsList200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update product group promotions
  Update multiple existing Product Group Promotions (by product_group_id)

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `product_group_promotion_update_request` (ProductGroupPromotionUpdateRequest): Parameters to update Product group promotions
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.ProductGroupPromotionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec product_group_promotions_update(Tesla.Env.client, String.t, PinterestRESTAPI.Model.ProductGroupPromotionUpdateRequest.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.ProductGroupPromotionResponse.t} | {:error, Tesla.Env.t}
  def product_group_promotions_update(connection, ad_account_id, product_group_promotion_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/ad_accounts/#{ad_account_id}/product_group_promotions")
      |> add_param(:body, :body, product_group_promotion_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ProductGroupPromotionResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get product group analytics
  Get analytics for the specified product groups in the specified <code>ad_account_id</code>, filtered by the specified options. - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.   - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `start_date` (Date.t): Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
  - `end_date` (Date.t): Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
  - `product_group_ids` ([String.t]): List of Product group Ids to use to filter the results.
  - `columns` ([String.t]): Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile's currency field. For USD,($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it's microdollars. Otherwise, it's in microunits of the advertiser's currency.<br/>For example, if the advertiser's currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).<br/>If a column has no value, it may not be returned
  - `granularity` (Granularity): TOTAL - metrics are aggregated over the specified date range.<br> DAY - metrics are broken down daily.<br> HOUR - metrics are broken down hourly.<br>WEEKLY - metrics are broken down weekly.<br>MONTHLY - metrics are broken down monthly
  - `opts` (keyword): Optional parameters
    - `:click_window_days` (integer()): Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
    - `:engagement_window_days` (integer()): Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.<br> <strong>Note:</strong> This parameter no longer returns new data. However, you can still access historic data through <strong>Sept 30, 2027</strong>.
    - `:view_window_days` (integer()): Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
    - `:conversion_report_time` (String.t): The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
    - `:reporting_timezone` (ReportingTimeZone): Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.

  ### Returns

  - `{:ok, [%ProductGroupAnalyticsResponseInner{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec product_groups_analytics(Tesla.Env.client, String.t, Date.t, Date.t, list(String.t), list(String.t), PinterestRESTAPI.Model.Granularity.t, keyword()) :: {:ok, [PinterestRESTAPI.Model.ProductGroupAnalyticsResponseInner.t]} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def product_groups_analytics(connection, ad_account_id, start_date, end_date, product_group_ids, columns, granularity, opts \\ []) do
    optional_params = %{
      :click_window_days => :query,
      :engagement_window_days => :query,
      :view_window_days => :query,
      :conversion_report_time => :query,
      :reporting_timezone => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/product_groups/analytics")
      |> add_param(:query, :start_date, start_date)
      |> add_param(:query, :end_date, end_date)
      |> add_param(:query, :product_group_ids, product_group_ids)
      |> add_param(:query, :columns, columns)
      |> add_param(:query, :granularity, granularity)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.ProductGroupAnalyticsResponseInner},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
