# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Resources do
  @moduledoc """
  API calls for all endpoints tagged `Resources`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Get ad accounts countries
  Get Ad Accounts countries

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.AdAccountCountriesGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ad_account_countries_get(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.AdAccountCountriesGet200Response.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def ad_account_countries_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/resources/ad_account_countries")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.AdAccountCountriesGet200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get available metrics' definitions
  Get the definitions for ads and organic metrics available across both synchronous and asynchronous report endpoints. The `display_name` attribute will match how the metric is named in our native tools like Ads Manager. See [Organic Analytics](/docs/api-features/analytics-overview/) and [Ads Analytics](/docs/api-features/ads-reporting/) for more information.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:report_type` (ReportType): Report type.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.DeliveryMetricsGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delivery_metrics_get(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.DeliveryMetricsGet200Response.t} | {:error, Tesla.Env.t}
  def delivery_metrics_get(connection, opts \\ []) do
    optional_params = %{
      :report_type => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/resources/delivery_metrics")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.DeliveryMetricsGet200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get interest details
  Get details of a specific interest given interest ID.  Click [here](https://docs.google.com/spreadsheets/d/1HxL-0Z3p2fgxis9YBP2HWC3tvPrs1hAuHDRtH-NJTIM/edit#gid=118370875) for a spreadsheet listing interests and their IDs.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `interest_id` (String.t): Unique identifier of an interest.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SingleInterestTargetingOption.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec interest_targeting_options_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.SingleInterestTargetingOption.t} | {:error, Tesla.Env.t}
  def interest_targeting_options_get(connection, interest_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/resources/targeting/interests/#{interest_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SingleInterestTargetingOption},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get lead form questions
  Get a list of all lead form question type names. Some questions might not be used.  **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec lead_form_questions_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def lead_form_questions_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/resources/lead_form_questions")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get metrics ready state
  Learn whether conversion or non-conversion metrics are finalized and ready to query.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `date` (String.t): Analytics reports request date (UTC). Format: YYYY-MM-DD
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BookClosed.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec metrics_ready_state_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.BookClosed.t} | {:error, Tesla.Env.t}
  def metrics_ready_state_get(connection, date, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/resources/metrics_ready_state")
      |> add_param(:query, :date, date)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BookClosed},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get targeting options
      You can use targeting values in ads placement to define your intended audience.      Targeting metrics are organized around targeting specifications.      For more information on ads targeting, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting).      **Sample return:**      ```     [{\"36313\": \"Australia: Moreton Bay - North\", \"124735\": \"Canada: North Battleford\", \"36109\": \"Australia: Murray\", \"36108\": \"Australia: Mid North Coast\", \"36101\": \"Australia: Capital Region\", \"811\": \"U.S.: Reno\", \"36103\": \"Australia: Central West\", \"36102\": \"Australia: Central Coast\", \"36105\": \"Australia: Far West and Orana\", \"36104\": \"Australia: Coffs Harbour - Grafton\", \"36107\": \"Australia: Illawarra\", \"36106\": \"Australia: Hunter Valley Exc Newcastle\", \"554017\": \"New Zealand: Wanganui\", \"554016\": \"New Zealand: Marlborough\", \"554015\": \"New Zealand: Gisborne\", \"554014\": \"New Zealand: Tararua\", \"554013\": \"New Zealand: Invercargill\", \"GR\": \"Greece\", \"554011\": \"New Zealand: Whangarei\", \"554010\": \"New Zealand: Far North\", \"717\": \"U.S.: Quincy-Hannibal-Keokuk\", \"716\": \"U.S.: Baton Rouge\",...}]     ```

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `targeting_type` (PublicTargetingType): Public targeting type
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:client_id` (String.t): Client ID
    - `:oauth_signature` (String.t): Oauth signature
    - `:timestamp` (String.t): Timestamp.

  ### Returns

  - `{:ok, [%map(){}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec targeting_options_get(Tesla.Env.client, PinterestRESTAPI.Model.PublicTargetingType.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, [map()]} | {:error, Tesla.Env.t}
  def targeting_options_get(connection, targeting_type, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :client_id => :query,
      :oauth_signature => :query,
      :timestamp => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/resources/targeting/#{targeting_type}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, []},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end
end
