# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Resources do
  @moduledoc """
  API calls for all endpoints tagged `Resources`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Get ad accounts countries
  Get Ad Accounts countries

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.AdAccountsCountryResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ad_account_countries_get(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.AdAccountsCountryResponse.t} | {:error, Tesla.Env.t}
  def ad_account_countries_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/resources/ad_account_countries")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.AdAccountsCountryResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get available metrics' definitions
  Get the definitions for ads and organic metrics available across both synchronous and asynchronous report endpoints. The `display_name` attribute will match how the metric is named in our native tools like Ads Manager. See <a href='/docs/api-features/analytics-overview/'>Organic Analytics</a> and <a href='/docs/api-features/ads-reporting/'>Ads Analytics</a> for more information.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:report_type` (String.t): Report type.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.DeliveryMetricsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delivery_metrics_get(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.DeliveryMetricsResponse.t} | {:error, Tesla.Env.t}
  def delivery_metrics_get(connection, opts \\ []) do
    optional_params = %{
      :report_type => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/resources/delivery_metrics")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.DeliveryMetricsResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get interest details
  <p>Get details of a specific interest given interest ID.</p> <p>Click <a href=\"https://docs.google.com/spreadsheets/d/1HxL-0Z3p2fgxis9YBP2HWC3tvPrs1hAuHDRtH-NJTIM/edit#gid=118370875\" target=\"_blank\">here</a> for a spreadsheet listing interests and their IDs.</p>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `interest_id` (String.t): Unique identifier of an interest.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SingleInterestTargetingOptionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec interest_targeting_options_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.SingleInterestTargetingOptionResponse.t} | {:error, Tesla.Env.t}
  def interest_targeting_options_get(connection, interest_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/resources/targeting/interests/#{interest_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SingleInterestTargetingOptionResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get lead form questions
  Get a list of all lead form question type names. Some questions might not be used.  <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec lead_form_questions_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def lead_form_questions_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/resources/lead_form_questions")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get metrics ready state
  Learn whether conversion or non-conversion metrics are finalized and ready to query.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `date` (String.t): Analytics reports request date (UTC). Format: YYYY-MM-DD
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BookClosedResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec metrics_ready_state_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.BookClosedResponse.t} | {:error, Tesla.Env.t}
  def metrics_ready_state_get(connection, date, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/resources/metrics_ready_state")
      |> add_param(:query, :date, date)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BookClosedResponse},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Get targeting options
  <p>You can use targeting values in ads placement to define your intended audience. </p> <p>Targeting metrics are organized around targeting specifications.</p> <p>For more information on ads targeting, see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/audience-targeting\" target=\"_blank\">Audience targeting</a>.</p> <p><b>Sample return:</b></p> <pre class=\"literal-block\"> [{&quot;36313&quot;: &quot;Australia: Moreton Bay - North&quot;, &quot;124735&quot;: &quot;Canada: North Battleford&quot;, &quot;36109&quot;: &quot;Australia: Murray&quot;, &quot;36108&quot;: &quot;Australia: Mid North Coast&quot;, &quot;36101&quot;: &quot;Australia: Capital Region&quot;, &quot;811&quot;: &quot;U.S.: Reno&quot;, &quot;36103&quot;: &quot;Australia: Central West&quot;, &quot;36102&quot;: &quot;Australia: Central Coast&quot;, &quot;36105&quot;: &quot;Australia: Far West and Orana&quot;, &quot;36104&quot;: &quot;Australia: Coffs Harbour - Grafton&quot;, &quot;36107&quot;: &quot;Australia: Illawarra&quot;, &quot;36106&quot;: &quot;Australia: Hunter Valley Exc Newcastle&quot;, &quot;554017&quot;: &quot;New Zealand: Wanganui&quot;, &quot;554016&quot;: &quot;New Zealand: Marlborough&quot;, &quot;554015&quot;: &quot;New Zealand: Gisborne&quot;, &quot;554014&quot;: &quot;New Zealand: Tararua&quot;, &quot;554013&quot;: &quot;New Zealand: Invercargill&quot;, &quot;GR&quot;: &quot;Greece&quot;, &quot;554011&quot;: &quot;New Zealand: Whangarei&quot;, &quot;554010&quot;: &quot;New Zealand: Far North&quot;, &quot;717&quot;: &quot;U.S.: Quincy-Hannibal-Keokuk&quot;, &quot;716&quot;: &quot;U.S.: Baton Rouge&quot;,...}] </pre>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `targeting_type` (String.t): Public targeting type.
  - `opts` (keyword): Optional parameters
    - `:client_id` (String.t): Client ID.
    - `:oauth_signature` (String.t): Oauth signature
    - `:timestamp` (String.t): Timestamp
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, [%map(){}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec targeting_options_get(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, [map()]} | {:error, Tesla.Env.t}
  def targeting_options_get(connection, targeting_type, opts \\ []) do
    optional_params = %{
      :client_id => :query,
      :oauth_signature => :query,
      :timestamp => :query,
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/resources/targeting/#{targeting_type}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, []},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
