# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Search do
  @moduledoc """
  API calls for all endpoints tagged `Search`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Search pins by a given search term
  <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>  Get the top 10 Pins by a given search term.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `term` (String.t): Search term to look up pins.
  - `country_code` (String.t): Two letter country code (ISO 3166-1 alpha-2)
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:locale` (String.t): Search locale.
    - `:limit` (integer()): Max search result size

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SearchPartnerPins200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec search_partner_pins(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.SearchPartnerPins200Response.t} | {:error, Tesla.Env.t}
  def search_partner_pins(connection, term, country_code, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :locale => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/search/partner/pins")
      |> add_param(:query, :term, term)
      |> add_param(:query, :country_code, country_code)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SearchPartnerPins200Response},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Search user's boards
  Search for boards for the \"operation user_account\". This includes boards of all board types. - By default, the \"operation user_account\" is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See <a href='/docs/getting-started/using-business-access/'>Understanding Business Access</a> for more information.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:query` (String.t): Search query. Can contain pin description keywords or comma-separated pin IDs.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SearchUserBoardsGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec search_user_boards_get(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.SearchUserBoardsGet200Response.t} | {:error, Tesla.Env.t}
  def search_user_boards_get(connection, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :bookmark => :query,
      :page_size => :query,
      :query => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/search/boards")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SearchUserBoardsGet200Response},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Search user's Pins
  Search for pins for the \"operation user_account\". - By default, the \"operation user_account\" is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See <a href='/docs/getting-started/using-business-access/'>Understanding Business Access</a> for more information.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `query` (String.t): Search query. Can contain pin description keywords or comma-separated pin IDs.
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.SearchUserPinsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec search_user_pins_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.SearchUserPinsList200Response.t} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def search_user_pins_list(connection, query, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/search/pins")
      |> add_param(:query, :query, query)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.SearchUserPinsList200Response},
      {404, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
