# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.TargetingTemplate do
  @moduledoc """
  API calls for all endpoints tagged `TargetingTemplate`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  Create targeting templates
  <p>Targeting templates allow advertisers to save a set of targeting details including audience lists,  keywords & interest, demographics, and placements to use more than once during the campaign creation process.</p>  <p>Templates can be used to build out basic targeting criteria that you plan to use across campaigns and to reuse   performance targeting from prior campaigns for new campaigns.</p>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `targeting_template_create` (TargetingTemplateCreate): targeting template creation entity
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.TargetingTemplateGetResponseData.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec targeting_template_create(Tesla.Env.client, String.t, PinterestRESTAPI.Model.TargetingTemplateCreate.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.TargetingTemplateGetResponseData.t} | {:error, Tesla.Env.t}
  def targeting_template_create(connection, ad_account_id, targeting_template_create, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ad_accounts/#{ad_account_id}/targeting_templates")
      |> add_param(:body, :body, targeting_template_create)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.TargetingTemplateGetResponseData},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List targeting templates
  Get a list of the targeting templates in the specified <code>ad_account_id</code>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `opts` (keyword): Optional parameters
    - `:order` (String.t): The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items.
    - `:include_sizing` (boolean()): Include audience sizing in result or not
    - `:search_query` (String.t): Search keyword for targeting templates
    - `:page_size` (integer()): Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/reference/pagination/'>Pagination</a> for more information.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.TargetingTemplateList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec targeting_template_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.TargetingTemplateList200Response.t} | {:error, Tesla.Env.t}
  def targeting_template_list(connection, ad_account_id, opts \\ []) do
    optional_params = %{
      :order => :query,
      :include_sizing => :query,
      :search_query => :query,
      :page_size => :query,
      :bookmark => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/ad_accounts/#{ad_account_id}/targeting_templates")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.TargetingTemplateList200Response},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  Update targeting templates
  <p>Update the targeting template given advertiser ID and targeting template ID</p>

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `ad_account_id` (String.t): Unique identifier of an ad account.
  - `targeting_template_update_request` (TargetingTemplateUpdateRequest): Operation type and targeting template ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec targeting_template_update(Tesla.Env.client, String.t, PinterestRESTAPI.Model.TargetingTemplateUpdateRequest.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def targeting_template_update(connection, ad_account_id, targeting_template_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/ad_accounts/#{ad_account_id}/targeting_templates")
      |> add_param(:body, :body, targeting_template_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
