# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.Terms do
  @moduledoc """
  API calls for all endpoints tagged `Terms`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  List related terms
  Get a list of terms logically related to each input term. <p/> Example: the term 'workout' would list related terms like 'one song workout', 'yoga workout', 'workout motivation', etc.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `terms` ([String.t]): List of input terms.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.RelatedTerms.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec terms_related_list(Tesla.Env.client, list(String.t), keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, PinterestRESTAPI.Model.RelatedTerms.t} | {:error, Tesla.Env.t}
  def terms_related_list(connection, terms, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/terms/related")
      |> add_param(:query, :terms, terms)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.RelatedTerms},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end

  @doc """
  List suggested terms
  Get popular search terms that begin with your input term. <p/> Example: 'sport' would return popular terms like 'sports bar' and 'sportswear', but not 'motor sports' since the phrase does not begin with the given term.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `term` (String.t): Input term.
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Max suggested terms to return.

  ### Returns

  - `{:ok, [%String.t{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec terms_suggested_list(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.Error.t} | {:ok, [String.t]} | {:error, Tesla.Env.t}
  def terms_suggested_list(connection, term, opts \\ []) do
    optional_params = %{
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/terms/suggested")
      |> add_param(:query, :term, term)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, []},
      {400, PinterestRESTAPI.Model.Error},
      {:default, PinterestRESTAPI.Model.Error}
    ])
  end
end
