# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PinterestRESTAPI.Api.UserAccount do
  @moduledoc """
  API calls for all endpoints tagged `UserAccount`.
  """

  alias PinterestRESTAPI.Connection
  import PinterestRESTAPI.RequestBuilder

  @doc """
  List following boards
  Get a list of the boards a user follows. The request returns a board summary object array.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:explicit_following` (boolean()): Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.BoardsList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec boards_user_follows_list(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.BoardsList200Response.t} | {:error, Tesla.Env.t}
  def boards_user_follows_list(connection, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :explicit_following => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/user_account/following/boards")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.BoardsList200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Follow user
  **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**  Use this request, as a signed-in user, to follow another user.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `username` (String.t): A valid username
  - `follow_user_create` (FollowUserCreate): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.FollowUser.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec follow_user_update(Tesla.Env.client, String.t, PinterestRESTAPI.Model.FollowUserCreate.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.FollowUser.t} | {:error, Tesla.Env.t}
  def follow_user_update(connection, username, follow_user_create, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/user_account/following/#{username}")
      |> add_param(:body, :body, follow_user_create)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.FollowUser},
      {201, PinterestRESTAPI.Model.FollowUser},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  List followers
  Get a list of your followers.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.FollowersList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec followers_list(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.FollowersList200Response.t} | {:error, Tesla.Env.t}
  def followers_list(connection, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/user_account/followers")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.FollowersList200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  List linked businesses
  Get a list of your linked business accounts.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%LinkedBusiness{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec linked_business_accounts_get(Tesla.Env.client, keyword()) :: {:ok, [PinterestRESTAPI.Model.LinkedBusiness.t]} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def linked_business_accounts_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/user_account/businesses")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.LinkedBusiness},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Unverify website
  Unverify a website verified by the signed-in user.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `website` (String.t): Website with path or domain only
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.UserWebsite.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec unverify_website_delete(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, PinterestRESTAPI.Model.UserWebsite.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def unverify_website_delete(connection, website, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/user_account/websites")
      |> add_param(:query, :website, website)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.UserWebsite},
      {204, false},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get user account analytics
  Get analytics for the \"operation user_account\" - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `start_date` (Date.t): Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
  - `end_date` (Date.t): Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
  - `opts` (keyword): Optional parameters
    - `:from_claimed_content` (String.t): Filter on Pins that match your claimed domain.
    - `:pin_format` (String.t): Pin formats to get data for, default is all.
    - `:app_types` (String.t): Apps or devices to get data for, default is all.
    - `:content_type` (String.t): Filter to paid or organic data. Default is all.
    - `:source` (String.t): Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts
    - `:metric_types` ([PinterestRESTAPI.Model.QuerymetrictypesItems.t]): Metric types to get data for, default is all.
    - `:split_field` (String.t): How to split the data into groups. Not including this param means data won't be split.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec user_account_analytics(Tesla.Env.client, Date.t, Date.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, %{optional(String.t) => PinterestRESTAPI.Model.AnalyticsMetricsResponse.t}} | {:error, Tesla.Env.t}
  def user_account_analytics(connection, start_date, end_date, opts \\ []) do
    optional_params = %{
      :from_claimed_content => :query,
      :pin_format => :query,
      :app_types => :query,
      :content_type => :query,
      :source => :query,
      :metric_types => :query,
      :split_field => :query,
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/user_account/analytics")
      |> add_param(:query, :start_date, start_date)
      |> add_param(:query, :end_date, end_date)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get user account top pins analytics
  Gets analytics data about a user's top pins (limited to the top 50). - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `start_date` (Date.t): Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
  - `end_date` (Date.t): Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
  - `sort_by` (TopPinsSortBy): Specify sorting order for metrics
  - `opts` (keyword): Optional parameters
    - `:from_claimed_content` (String.t): Filter on Pins that match your claimed domain.
    - `:pin_format` (String.t): Pin formats to get data for, default is all.
    - `:app_types` (String.t): Apps or devices to get data for, default is all.
    - `:content_type` (String.t): Filter to paid or organic data. Default is all.
    - `:source` (String.t): Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts
    - `:metric_types` ([PinterestRESTAPI.Model.QuerymetrictypesItems.t]): Metric types to get data for, default is all.
    - `:num_of_pins` (integer()): Number of pins to include, default is 10. Max is 50.
    - `:created_in_last_n_days` (number()): Get metrics for pins created in the last \"n\" days.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.TopPinsAnalyticsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec user_account_analytics_top_pins(Tesla.Env.client, Date.t, Date.t, PinterestRESTAPI.Model.TopPinsSortBy.t, keyword()) :: {:ok, PinterestRESTAPI.Model.TopPinsAnalyticsResponse.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def user_account_analytics_top_pins(connection, start_date, end_date, sort_by, opts \\ []) do
    optional_params = %{
      :from_claimed_content => :query,
      :pin_format => :query,
      :app_types => :query,
      :content_type => :query,
      :source => :query,
      :metric_types => :query,
      :num_of_pins => :query,
      :created_in_last_n_days => :query,
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/user_account/analytics/top_pins")
      |> add_param(:query, :start_date, start_date)
      |> add_param(:query, :end_date, end_date)
      |> add_param(:query, :sort_by, sort_by)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.TopPinsAnalyticsResponse},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get user account top video pins analytics
  Gets analytics data about a user's top video pins (limited to the top 50). - By default, the \"operation user_account\" is the token user_account.  Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `start_date` (Date.t): Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
  - `end_date` (Date.t): Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
  - `sort_by` (TopVideoPinsSortBy): Specify sorting order for video metrics
  - `opts` (keyword): Optional parameters
    - `:from_claimed_content` (String.t): Filter on Pins that match your claimed domain.
    - `:pin_format` (String.t): Pin formats to get data for, default is all.
    - `:app_types` (String.t): Apps or devices to get data for, default is all.
    - `:content_type` (String.t): Filter to paid or organic data. Default is all.
    - `:source` (String.t): Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts
    - `:metric_types` ([PinterestRESTAPI.Model.QueryvideopinmetrictypesItems.t]): Metric types to get video data for, default is all.
    - `:num_of_pins` (integer()): Number of pins to include, default is 10. Max is 50.
    - `:created_in_last_n_days` (number()): Get metrics for pins created in the last \"n\" days.
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.TopVideoPinsAnalyticsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec user_account_analytics_top_video_pins(Tesla.Env.client, Date.t, Date.t, PinterestRESTAPI.Model.TopVideoPinsSortBy.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.TopVideoPinsAnalyticsResponse.t} | {:error, Tesla.Env.t}
  def user_account_analytics_top_video_pins(connection, start_date, end_date, sort_by, opts \\ []) do
    optional_params = %{
      :from_claimed_content => :query,
      :pin_format => :query,
      :app_types => :query,
      :content_type => :query,
      :source => :query,
      :metric_types => :query,
      :num_of_pins => :query,
      :created_in_last_n_days => :query,
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/user_account/analytics/top_video_pins")
      |> add_param(:query, :start_date, start_date)
      |> add_param(:query, :end_date, end_date)
      |> add_param(:query, :sort_by, sort_by)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.TopVideoPinsAnalyticsResponse},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  List following interests
  Get a list of a user's following interests in one place.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `username` (String.t): A valid username
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.UserAccountFollowedInterests200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec user_account_followed_interests(Tesla.Env.client, String.t, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.UserAccountFollowedInterests200Response.t} | {:error, Tesla.Env.t}
  def user_account_followed_interests(connection, username, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/users/#{username}/interests/follow")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.UserAccountFollowedInterests200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get user account
  Get account information for the \"operation user_account\" - By default, the \"operation user_account\" is the token user_account.  [Understanding Business Access]: https://developers.pinterest.com/docs/getting-started/using-business-access/ \"Understanding Business Access\" If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See [Understanding Business Access] for more information.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.Account.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec user_account_get(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.Account.t} | {:error, Tesla.Env.t}
  def user_account_get(connection, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/user_account")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.Account},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  List following
  Get a list of who a certain user follows.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.
    - `:explicit_following` (boolean()): Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows.
    - `:feed_type` (UserFollowingFeedType): Thrift param specifying what type of followees will be kept. Default to include all followees.
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.FollowersList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec user_following_get(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.FollowersList200Response.t} | {:error, Tesla.Env.t}
  def user_following_get(connection, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query,
      :explicit_following => :query,
      :feed_type => :query,
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/user_account/following")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.FollowersList200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get user websites
  Get user websites, claimed or not

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:bookmark` (String.t): Cursor used to fetch the next page of items
    - `:page_size` (integer()): Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.UserWebsitesGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec user_websites_get(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.UserWebsitesGet200Response.t} | {:error, Tesla.Env.t}
  def user_websites_get(connection, opts \\ []) do
    optional_params = %{
      :bookmark => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/user_account/websites")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.UserWebsitesGet200Response},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Verify website
  Verify a website as a signed-in user.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `user_website_create` (UserWebsiteCreate): 
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.UserWebsite.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec verify_website_update(Tesla.Env.client, PinterestRESTAPI.Model.UserWebsiteCreate.t, keyword()) :: {:ok, PinterestRESTAPI.Model.UserWebsite.t} | {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:error, Tesla.Env.t}
  def verify_website_update(connection, user_website_create, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/user_account/websites")
      |> add_param(:body, :body, user_website_create)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.UserWebsite},
      {201, PinterestRESTAPI.Model.UserWebsite},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end

  @doc """
  Get user verification code for website claiming
  Get verification code for user to install on the website to claim it.

  ### Parameters

  - `connection` (PinterestRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:ad_account_id` (String.t): Unique identifier of an ad account.

  ### Returns

  - `{:ok, PinterestRESTAPI.Model.UserWebsiteVerification.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec website_verification_get(Tesla.Env.client, keyword()) :: {:ok, PinterestRESTAPI.Model.PinterestLibError.t} | {:ok, PinterestRESTAPI.Model.UserWebsiteVerification.t} | {:error, Tesla.Env.t}
  def website_verification_get(connection, opts \\ []) do
    optional_params = %{
      :ad_account_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/user_account/websites/verification")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PinterestRESTAPI.Model.UserWebsiteVerification},
      {400, PinterestRESTAPI.Model.PinterestLibError},
      {401, PinterestRESTAPI.Model.PinterestLibError},
      {403, PinterestRESTAPI.Model.PinterestLibError},
      {404, PinterestRESTAPI.Model.PinterestLibError},
      {429, PinterestRESTAPI.Model.PinterestLibError},
      {:default, PinterestRESTAPI.Model.PinterestLibError}
    ])
  end
end
