/*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.18.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class ConversionsApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        GET /ad_accounts/{ad_account_id}/advertiser_defined_events : Get advertiser defined events
        **/
        rest()
            .securityDefinitions()
                .oauth2("pinterest_oauth2")
                    .flow("accessCode")
                    .tokenUrl("https://api.pinterest.com/v5/oauth/token")
                    .authorizationUrl("https://www.pinterest.com/oauth/")
                        .withScope("ads:read","See all of your advertising data, including ads, ad groups, campaigns etc.")
                .end()
                .oauth2("client_credentials")
                    .flow("application")
                    .tokenUrl("https://api.pinterest.com/v3/oauth/access_token/")
                        .withScope("ads:read","See all of your advertising data, including ads, ad groups, campaigns etc.")
                
            .endSecurityDefinition()
            .get("/ad_accounts/{ad_account_id}/advertiser_defined_events")
                .description("Get advertiser defined events")
                .id("advertiserDefinedEventsGetApi")
                .produces("application/json")
                .outType(AdvertiserDefinedEventsResponse.class)
                .param()
                    .name("adAccountId")
                    .type(RestParamType.path)
                    .required(true)
                    .description("Unique identifier of an ad account.")
                .endParam()
                .to("direct:advertiserDefinedEventsGet");
        
    }
}
