/*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.18.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class MsotEventsApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /ad_accounts/{ad_account_id}/msot/events : Send Measurement Source Of Truth (MSOT) attributed conversion events
        **/
        rest()
            .securityDefinitions()
                .oauth2("pinterest_oauth2")
                    .flow("accessCode")
                    .tokenUrl("https://api.pinterest.com/v5/oauth/token")
                    .authorizationUrl("https://www.pinterest.com/oauth/")
                        .withScope("msot:write","Create measurement source of truth events")
                
            .endSecurityDefinition()
            .post("/ad_accounts/{ad_account_id}/msot/events")
                .description("Send Measurement Source Of Truth (MSOT) attributed conversion events")
                .id("msotEventsCreateApi")
                .produces("application/json")
                .outType(Void.class)
                .consumes("application/json")
                .type(ConversionMSOTEvents.class)
                
                .param()
                    .name("adAccountId")
                    .type(RestParamType.path)
                    .required(true)
                    .description("Unique identifier of an ad account.")
                .endParam()
                .param()
                    .name("conversionMSOTEvents")
                    .type(RestParamType.body)
                    .required(true)
                    .description("Attributed MSOT conversion events")
                .endParam()
                .to("direct:msotEventsCreate");
        
    }
}
