/*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.18.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class OauthApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /oauth/conversion_token : Generate OAuth access token for conversion API
        **/
        rest()
            .securityDefinitions()
                .oauth2("pinterest_oauth2")
                    .flow("accessCode")
                    .tokenUrl("https://api.pinterest.com/v5/oauth/token")
                    .authorizationUrl("https://www.pinterest.com/oauth/")
                        .withScope("ads:write","Create, update, or delete ads, ad groups, campaigns etc.")
                
            .endSecurityDefinition()
            .post("/oauth/conversion_token")
                .description("Generate OAuth access token for conversion API")
                .id("oauthConversionTokenApi")
                .produces("application/json")
                .outType(ConversionAccessTokenResponse.class)
                .to("direct:oauthConversionToken");
        

        /**
        POST /oauth/token : Generate OAuth access token
        **/
        rest()
            .securityDefinitions()
                .basicAuth("basic").end()
            .post("/oauth/token")
                .description("Generate OAuth access token")
                .id("oauthTokenApi")
                .clientRequestValidation(false)
                .bindingMode(RestBindingMode.off)
                .produces("application/json")
                .outType(OauthAccessTokenResponse.class)
                .consumes("application/x-www-form-urlencoded")
                
                .param()
                    .name("grantType")
                    .type(RestParamType.formData)
                    .required(true)
                .endParam()
                .to("direct:oauthToken");
        

        /**
        POST /oauth/token/revoke : Revoke a token
        **/
        rest()
            .securityDefinitions()
                .basicAuth("basic").end()
            .post("/oauth/token/revoke")
                .description("Revoke a token")
                .id("tokenRevokeApi")
                .clientRequestValidation(false)
                .bindingMode(RestBindingMode.off)
                .produces("application/json")
                .outType(Void.class)
                .consumes("application/x-www-form-urlencoded")
                
                .param()
                    .name("token")
                    .type(RestParamType.formData)
                    .required(true)
                    .description("The token to revoke.")
                .endParam()
                .param()
                    .name("tokenTypeHint")
                    .type(RestParamType.formData)
                    .required(false)
                    .description("The type of the token to revoke. Please refer to [our developer guide for more information](https://developers.pinterest.com/docs/getting-started/set-up-authentication-and-authorization/) for more information.")
                .endParam()
                .to("direct:tokenRevoke");
        
    }
}
