/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (5.4.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class OauthApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /oauth/token : Generate OAuth access token
        **/
        rest()
            .post("/oauth/token")
                .description("Generate OAuth access token")
                .id("oauthTokenApi")
                .clientRequestValidation(false)
                .bindingMode(RestBindingMode.off)
                .produces("application/json")
                .outType(OauthAccessTokenResponse.class)
                .consumes("application/x-www-form-urlencoded")
                
                .param()
                    .name("grantType")
                    .type(RestParamType.formData)
                    .required(true)
                .endParam()
                .to("direct:oauthToken");
        
    }
}
