/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.4.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class TermsApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        GET /terms/related : List related terms
        **/
        rest()
            .securityDefinitions()
                .oauth2("pinterest_oauth2")
                    .flow("accessCode")
                    .tokenUrl("https://api.pinterest.com/v5/oauth/token")
                    .authorizationUrl("https://www.pinterest.com/oauth/")
                        .withScope("ads:read","See all of your advertising data, including ads, ad groups, campaigns etc.")
                
            .endSecurityDefinition()
            .get("/terms/related")
                .description("List related terms")
                .id("termsRelatedListApi")
                .produces("application/json")
                .outType(RelatedTerms.class)
                .param()
                    .name("terms")
                    .type(RestParamType.query)
                    .required(true)
                    .description("List of input terms.")
                .endParam()
                .to("direct:termsRelatedList");
        

        /**
        GET /terms/suggested : List suggested terms
        **/
        rest()
            .securityDefinitions()
                .oauth2("pinterest_oauth2")
                    .flow("accessCode")
                    .tokenUrl("https://api.pinterest.com/v5/oauth/token")
                    .authorizationUrl("https://www.pinterest.com/oauth/")
                        .withScope("ads:read","See all of your advertising data, including ads, ad groups, campaigns etc.")
                
            .endSecurityDefinition()
            .get("/terms/suggested")
                .description("List suggested terms")
                .id("termsSuggestedListApi")
                .produces("application/json")
                .outType(String[].class)
                .param()
                    .name("term")
                    .type(RestParamType.query)
                    .required(true)
                    .description("Input term.")
                .endParam()
                .param()
                    .name("limit")
                    .type(RestParamType.query)
                    .required(false)
                    .description("Max suggested terms to return.")
                .endParam()
                .to("direct:termsSuggestedList");
        
    }
}
