/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.Ad;
import org.openapitools.client.model.AdBatchUpdate;
import org.openapitools.client.model.AdBatchWriteResponseModel;
import org.openapitools.client.model.AdCreate;
import org.openapitools.client.model.AdPreviewRequest;
import org.openapitools.client.model.AdPreviewURLResponse;
import org.openapitools.client.model.AdsAnalytics;
import org.openapitools.client.model.AdsAnalyticsAdTargetingType;
import org.openapitools.client.model.AdsList200Response;
import java.math.BigDecimal;
import org.openapitools.client.model.CampaignAdPreview;
import org.openapitools.client.model.CampaignAdPreviewCreate;
import org.openapitools.client.model.CampaignAdPreviewCreate200ResponseInner;
import org.openapitools.client.model.CampaignAdPreviewDelete200ResponseInner;
import org.openapitools.client.model.ConversionAttributionWindowDays;
import org.openapitools.client.model.ConversionReportAttributionType;
import org.openapitools.client.model.ConversionReportTimeType;
import java.util.Date;
import org.openapitools.client.model.EntityStatus;
import org.openapitools.client.model.Granularity;
import java.util.*;
import org.openapitools.client.model.MetricsResponse;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.PinterestLibPaginationOrder;
import org.openapitools.client.model.ReportingColumnSync;
import org.openapitools.client.model.ReportingTimeZone;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class AdsApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create ad preview with pin or image
  * Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad.  If you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See [Ads Overview](https://help.pinterest.com/en/business/article/promoted-pins-overview).)  You can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires. Collection ads are not currently supported ad preview.
   * @param adAccountId Unique identifier of an ad account.
   * @param adPreviewRequest 
   * @return AdPreviewURLResponse
  */
  public AdPreviewURLResponse adPreviewsCreate (String adAccountId, AdPreviewRequest adPreviewRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = adPreviewRequest;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adPreviewsCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adPreviewsCreate"));
    }
    // verify the required parameter 'adPreviewRequest' is set
    if (adPreviewRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adPreviewRequest' when calling adPreviewsCreate",
        new ApiException(400, "Missing the required parameter 'adPreviewRequest' when calling adPreviewsCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ad_previews".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AdPreviewURLResponse) ApiInvoker.deserialize(localVarResponse, "", AdPreviewURLResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create ad preview with pin or image
   * Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad.  If you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See [Ads Overview](https://help.pinterest.com/en/business/article/promoted-pins-overview).)  You can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires. Collection ads are not currently supported ad preview.
   * @param adAccountId Unique identifier of an ad account.   * @param adPreviewRequest 
  */
  public void adPreviewsCreate (String adAccountId, AdPreviewRequest adPreviewRequest, final Response.Listener<AdPreviewURLResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = adPreviewRequest;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adPreviewsCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adPreviewsCreate"));
    }
    // verify the required parameter 'adPreviewRequest' is set
    if (adPreviewRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adPreviewRequest' when calling adPreviewsCreate",
        new ApiException(400, "Missing the required parameter 'adPreviewRequest' when calling adPreviewsCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ad_previews".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AdPreviewURLResponse) ApiInvoker.deserialize(localVarResponse,  "", AdPreviewURLResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get targeting analytics for ads
  * Get targeting analytics for one or more ads. For the requested ad(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \&quot;age_bucket\&quot;) for applicable values (e.g. \&quot;45-49\&quot;).  * The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. * If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. * If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
   * @param adAccountId Unique identifier of an ad account.
   * @param adIds List of Ad Ids to use to filter the results.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.
   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.  **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   * @param attributionTypes List of types of attribution for the conversion report
   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
   * @param sortColumns Sort Columns.
   * @param sortAscending Sort ascending.
   * @return MetricsResponse
  */
  public MetricsResponse adTargetingAnalyticsGet (String adAccountId, List<String> adIds, Date startDate, Date endDate, List<AdsAnalyticsAdTargetingType> targetingTypes, List<ReportingColumnSync> columns, Granularity granularity, ConversionAttributionWindowDays clickWindowDays, ConversionAttributionWindowDays engagementWindowDays, ConversionAttributionWindowDays viewWindowDays, ConversionReportTimeType conversionReportTime, List<ConversionReportAttributionType> attributionTypes, ReportingTimeZone reportingTimezone, List<String> sortColumns, Boolean sortAscending) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'adIds' is set
    if (adIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adIds' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'adIds' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'startDate' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'endDate' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'targetingTypes' is set
    if (targetingTypes == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'targetingTypes' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'targetingTypes' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'columns' is set
    if (columns == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'columns' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'columns' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'granularity' is set
    if (granularity == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'granularity' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'granularity' when calling adTargetingAnalyticsGet"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads/targeting_analytics".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_ids", adIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start_date", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "end_date", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "targeting_types", targetingTypes));
    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "columns", columns));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "granularity", granularity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "click_window_days", clickWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engagement_window_days", engagementWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "view_window_days", viewWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "conversion_report_time", conversionReportTime));
    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "attribution_types", attributionTypes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reporting_timezone", reportingTimezone));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "sort_columns", sortColumns));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_ascending", sortAscending));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (MetricsResponse) ApiInvoker.deserialize(localVarResponse, "", MetricsResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get targeting analytics for ads
   * Get targeting analytics for one or more ads. For the requested ad(s) and metrics, the response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \&quot;age_bucket\&quot;) for applicable values (e.g. \&quot;45-49\&quot;).  * The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. * If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. * If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
   * @param adAccountId Unique identifier of an ad account.   * @param adIds List of Ad Ids to use to filter the results.   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.   * @param targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users.   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.  **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day.   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.   * @param attributionTypes List of types of attribution for the conversion report   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.   * @param sortColumns Sort Columns.   * @param sortAscending Sort ascending.
  */
  public void adTargetingAnalyticsGet (String adAccountId, List<String> adIds, Date startDate, Date endDate, List<AdsAnalyticsAdTargetingType> targetingTypes, List<ReportingColumnSync> columns, Granularity granularity, ConversionAttributionWindowDays clickWindowDays, ConversionAttributionWindowDays engagementWindowDays, ConversionAttributionWindowDays viewWindowDays, ConversionReportTimeType conversionReportTime, List<ConversionReportAttributionType> attributionTypes, ReportingTimeZone reportingTimezone, List<String> sortColumns, Boolean sortAscending, final Response.Listener<MetricsResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'adIds' is set
    if (adIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adIds' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'adIds' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'startDate' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'endDate' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'targetingTypes' is set
    if (targetingTypes == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'targetingTypes' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'targetingTypes' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'columns' is set
    if (columns == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'columns' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'columns' when calling adTargetingAnalyticsGet"));
    }
    // verify the required parameter 'granularity' is set
    if (granularity == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'granularity' when calling adTargetingAnalyticsGet",
        new ApiException(400, "Missing the required parameter 'granularity' when calling adTargetingAnalyticsGet"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads/targeting_analytics".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_ids", adIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start_date", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "end_date", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "targeting_types", targetingTypes));
    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "columns", columns));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "granularity", granularity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "click_window_days", clickWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engagement_window_days", engagementWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "view_window_days", viewWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "conversion_report_time", conversionReportTime));
    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "attribution_types", attributionTypes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reporting_timezone", reportingTimezone));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "sort_columns", sortColumns));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_ascending", sortAscending));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((MetricsResponse) ApiInvoker.deserialize(localVarResponse,  "", MetricsResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get ad analytics
  *     Get analytics for the specified ads in the specified &#x60;ad_account_id&#x60;, filtered by the specified options.     - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.     - The request must contain either ad_ids or both campaign_ids and pin_ids.     - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.     - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.
   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.
   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.
   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly
   * @param adAccountId Unique identifier of an ad account.
   * @param pinIds List of Pin IDs.
   * @param adIds List of Ad Ids to use to filter the results.
   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.
   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.
   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day.
   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.
   * @param campaignIds List of Campaign Ids to use to filter the results.
   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
   * @return List<AdsAnalytics>
  */
  public List<AdsAnalytics> adsAnalytics (Date startDate, Date endDate, List<ReportingColumnSync> columns, Granularity granularity, String adAccountId, List<String> pinIds, List<String> adIds, BigDecimal clickWindowDays, BigDecimal engagementWindowDays, BigDecimal viewWindowDays, String conversionReportTime, List<String> campaignIds, ReportingTimeZone reportingTimezone) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling adsAnalytics",
        new ApiException(400, "Missing the required parameter 'startDate' when calling adsAnalytics"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling adsAnalytics",
        new ApiException(400, "Missing the required parameter 'endDate' when calling adsAnalytics"));
    }
    // verify the required parameter 'columns' is set
    if (columns == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'columns' when calling adsAnalytics",
        new ApiException(400, "Missing the required parameter 'columns' when calling adsAnalytics"));
    }
    // verify the required parameter 'granularity' is set
    if (granularity == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'granularity' when calling adsAnalytics",
        new ApiException(400, "Missing the required parameter 'granularity' when calling adsAnalytics"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adsAnalytics",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adsAnalytics"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads/analytics".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "pin_ids", pinIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start_date", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "end_date", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_ids", adIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "columns", columns));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "granularity", granularity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "click_window_days", clickWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engagement_window_days", engagementWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "view_window_days", viewWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "conversion_report_time", conversionReportTime));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "campaign_ids", campaignIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reporting_timezone", reportingTimezone));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<AdsAnalytics>) ApiInvoker.deserialize(localVarResponse, "array", AdsAnalytics.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get ad analytics
   *     Get analytics for the specified ads in the specified &#x60;ad_account_id&#x60;, filtered by the specified options.     - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager.     - The request must contain either ad_ids or both campaign_ids and pin_ids.     - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.     - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
   * @param startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today.   * @param endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date.   * @param columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned.   * @param granularity   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly   * @param adAccountId Unique identifier of an ad account.   * @param pinIds List of Pin IDs.   * @param adIds List of Ad Ids to use to filter the results.   * @param clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.   * @param engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**.   * @param viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day.   * @param conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.   * @param campaignIds List of Campaign Ids to use to filter the results.   * @param reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users.
  */
  public void adsAnalytics (Date startDate, Date endDate, List<ReportingColumnSync> columns, Granularity granularity, String adAccountId, List<String> pinIds, List<String> adIds, BigDecimal clickWindowDays, BigDecimal engagementWindowDays, BigDecimal viewWindowDays, String conversionReportTime, List<String> campaignIds, ReportingTimeZone reportingTimezone, final Response.Listener<List<AdsAnalytics>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling adsAnalytics",
        new ApiException(400, "Missing the required parameter 'startDate' when calling adsAnalytics"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling adsAnalytics",
        new ApiException(400, "Missing the required parameter 'endDate' when calling adsAnalytics"));
    }
    // verify the required parameter 'columns' is set
    if (columns == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'columns' when calling adsAnalytics",
        new ApiException(400, "Missing the required parameter 'columns' when calling adsAnalytics"));
    }
    // verify the required parameter 'granularity' is set
    if (granularity == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'granularity' when calling adsAnalytics",
        new ApiException(400, "Missing the required parameter 'granularity' when calling adsAnalytics"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adsAnalytics",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adsAnalytics"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads/analytics".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "pin_ids", pinIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start_date", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "end_date", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_ids", adIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "columns", columns));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "granularity", granularity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "click_window_days", clickWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engagement_window_days", engagementWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "view_window_days", viewWindowDays));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "conversion_report_time", conversionReportTime));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "campaign_ids", campaignIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reporting_timezone", reportingTimezone));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<AdsAnalytics>) ApiInvoker.deserialize(localVarResponse,  "array", AdsAnalytics.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create ads
  * Create multiple new ads. Request must contain ad_group_id, creative_type, and the source Pin pin_id.
   * @param adAccountId Unique identifier of an ad account.
   * @param adCreate 
   * @return AdBatchWriteResponseModel
  */
  public AdBatchWriteResponseModel adsCreate (String adAccountId, List<AdCreate> adCreate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = adCreate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adsCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adsCreate"));
    }
    // verify the required parameter 'adCreate' is set
    if (adCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adCreate' when calling adsCreate",
        new ApiException(400, "Missing the required parameter 'adCreate' when calling adsCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AdBatchWriteResponseModel) ApiInvoker.deserialize(localVarResponse, "", AdBatchWriteResponseModel.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create ads
   * Create multiple new ads. Request must contain ad_group_id, creative_type, and the source Pin pin_id.
   * @param adAccountId Unique identifier of an ad account.   * @param adCreate 
  */
  public void adsCreate (String adAccountId, List<AdCreate> adCreate, final Response.Listener<AdBatchWriteResponseModel> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = adCreate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adsCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adsCreate"));
    }
    // verify the required parameter 'adCreate' is set
    if (adCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adCreate' when calling adsCreate",
        new ApiException(400, "Missing the required parameter 'adCreate' when calling adsCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AdBatchWriteResponseModel) ApiInvoker.deserialize(localVarResponse,  "", AdBatchWriteResponseModel.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get ad
  * Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will contain additional information from the Ad Review process. For more information about our policies and rejection reasons see the [Pinterest advertising standards](https://www.pinterest.com/_/_/policy/advertising-guidelines/).
   * @param adId The ID of this ad.
   * @param adAccountId Unique identifier of an ad account.
   * @return Ad
  */
  public Ad adsGet (String adId, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adId' is set
    if (adId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adId' when calling adsGet",
        new ApiException(400, "Missing the required parameter 'adId' when calling adsGet"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adsGet",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adsGet"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads/{ad_id}".replaceAll("\\{" + "ad_id" + "\\}", apiInvoker.escapeString(adId.toString())).replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (Ad) ApiInvoker.deserialize(localVarResponse, "", Ad.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get ad
   * Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will contain additional information from the Ad Review process. For more information about our policies and rejection reasons see the [Pinterest advertising standards](https://www.pinterest.com/_/_/policy/advertising-guidelines/).
   * @param adId The ID of this ad.   * @param adAccountId Unique identifier of an ad account.
  */
  public void adsGet (String adId, String adAccountId, final Response.Listener<Ad> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adId' is set
    if (adId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adId' when calling adsGet",
        new ApiException(400, "Missing the required parameter 'adId' when calling adsGet"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adsGet",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adsGet"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads/{ad_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_id" + "\\}", apiInvoker.escapeString(adId.toString())).replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((Ad) ApiInvoker.deserialize(localVarResponse,  "", Ad.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List ads
  * List ads that meet the filters provided:     - Listed campaign ids or ad group ids or ad ids     - Listed entity statuses  If no filter is provided, all ads in the ad account are returned.  **Note:** Provide only &#x60;campaign_id&#x60; or &#x60;ad_group_id&#x60; or &#x60;ad_id&#x60;. Do not provide more than one type.  Review status is provided for each ad; if &#x60;review_status&#x60; is &#x60;REJECTED&#x60;, the &#x60;rejected_reasons&#x60; field will contain additional information.  For more, see [Pinterest advertising standards](https://policy.pinterest.com/en/advertising-guidelines).
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param campaignIds List of Campaign Ids to use to filter the results.
   * @param adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users.
   * @param adIds List of Ad Ids to use to filter the results.
   * @param entityStatuses Entity status
   * @return AdsList200Response
  */
  public AdsList200Response adsList (String adAccountId, String bookmark, Integer pageSize, PinterestLibPaginationOrder order, List<String> campaignIds, List<String> adGroupIds, List<String> adIds, List<EntityStatus> entityStatuses) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adsList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adsList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "campaign_ids", campaignIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_group_ids", adGroupIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_ids", adIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "entity_statuses", entityStatuses));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AdsList200Response) ApiInvoker.deserialize(localVarResponse, "", AdsList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List ads
   * List ads that meet the filters provided:     - Listed campaign ids or ad group ids or ad ids     - Listed entity statuses  If no filter is provided, all ads in the ad account are returned.  **Note:** Provide only &#x60;campaign_id&#x60; or &#x60;ad_group_id&#x60; or &#x60;ad_id&#x60;. Do not provide more than one type.  Review status is provided for each ad; if &#x60;review_status&#x60; is &#x60;REJECTED&#x60;, the &#x60;rejected_reasons&#x60; field will contain additional information.  For more, see [Pinterest advertising standards](https://policy.pinterest.com/en/advertising-guidelines).
   * @param adAccountId Unique identifier of an ad account.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.   * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.   * @param campaignIds List of Campaign Ids to use to filter the results.   * @param adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users.   * @param adIds List of Ad Ids to use to filter the results.   * @param entityStatuses Entity status
  */
  public void adsList (String adAccountId, String bookmark, Integer pageSize, PinterestLibPaginationOrder order, List<String> campaignIds, List<String> adGroupIds, List<String> adIds, List<EntityStatus> entityStatuses, final Response.Listener<AdsList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adsList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adsList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "campaign_ids", campaignIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_group_ids", adGroupIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_ids", adIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "entity_statuses", entityStatuses));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AdsList200Response) ApiInvoker.deserialize(localVarResponse,  "", AdsList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update ads
  * Update multiple existing ads
   * @param adAccountId Unique identifier of an ad account.
   * @param adBatchUpdate 
   * @return AdBatchWriteResponseModel
  */
  public AdBatchWriteResponseModel adsUpdate (String adAccountId, List<AdBatchUpdate> adBatchUpdate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = adBatchUpdate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adsUpdate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adsUpdate"));
    }
    // verify the required parameter 'adBatchUpdate' is set
    if (adBatchUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adBatchUpdate' when calling adsUpdate",
        new ApiException(400, "Missing the required parameter 'adBatchUpdate' when calling adsUpdate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AdBatchWriteResponseModel) ApiInvoker.deserialize(localVarResponse, "", AdBatchWriteResponseModel.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update ads
   * Update multiple existing ads
   * @param adAccountId Unique identifier of an ad account.   * @param adBatchUpdate 
  */
  public void adsUpdate (String adAccountId, List<AdBatchUpdate> adBatchUpdate, final Response.Listener<AdBatchWriteResponseModel> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = adBatchUpdate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adsUpdate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adsUpdate"));
    }
    // verify the required parameter 'adBatchUpdate' is set
    if (adBatchUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adBatchUpdate' when calling adsUpdate",
        new ApiException(400, "Missing the required parameter 'adBatchUpdate' when calling adsUpdate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/ads".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AdBatchWriteResponseModel) ApiInvoker.deserialize(localVarResponse,  "", AdBatchWriteResponseModel.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create ad preview records for one or more ad groups
  * Create ad preview records for one or more ad groups that can be shared. Each ad group is processed independently; individual failures do not block other previews.
   * @param adAccountId Unique identifier of an ad account.
   * @param campaignAdPreviewCreate 
   * @return List<CampaignAdPreviewCreate200ResponseInner>
  */
  public List<CampaignAdPreviewCreate200ResponseInner> campaignAdPreviewCreate (String adAccountId, List<CampaignAdPreviewCreate> campaignAdPreviewCreate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = campaignAdPreviewCreate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling campaignAdPreviewCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling campaignAdPreviewCreate"));
    }
    // verify the required parameter 'campaignAdPreviewCreate' is set
    if (campaignAdPreviewCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'campaignAdPreviewCreate' when calling campaignAdPreviewCreate",
        new ApiException(400, "Missing the required parameter 'campaignAdPreviewCreate' when calling campaignAdPreviewCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/campaign_ad_preview".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<CampaignAdPreviewCreate200ResponseInner>) ApiInvoker.deserialize(localVarResponse, "array", CampaignAdPreviewCreate200ResponseInner.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create ad preview records for one or more ad groups
   * Create ad preview records for one or more ad groups that can be shared. Each ad group is processed independently; individual failures do not block other previews.
   * @param adAccountId Unique identifier of an ad account.   * @param campaignAdPreviewCreate 
  */
  public void campaignAdPreviewCreate (String adAccountId, List<CampaignAdPreviewCreate> campaignAdPreviewCreate, final Response.Listener<List<CampaignAdPreviewCreate200ResponseInner>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = campaignAdPreviewCreate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling campaignAdPreviewCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling campaignAdPreviewCreate"));
    }
    // verify the required parameter 'campaignAdPreviewCreate' is set
    if (campaignAdPreviewCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'campaignAdPreviewCreate' when calling campaignAdPreviewCreate",
        new ApiException(400, "Missing the required parameter 'campaignAdPreviewCreate' when calling campaignAdPreviewCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/campaign_ad_preview".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<CampaignAdPreviewCreate200ResponseInner>) ApiInvoker.deserialize(localVarResponse,  "array", CampaignAdPreviewCreate200ResponseInner.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete ad preview records for one or more ad groups
  * Delete ad preview records for one or more ad groups. All ad groups are validated before deleting any records.
   * @param adGroupIds List of Ad group Ids to use to filter the results.
   * @param adAccountId Unique identifier of an ad account.
   * @return List<CampaignAdPreviewDelete200ResponseInner>
  */
  public List<CampaignAdPreviewDelete200ResponseInner> campaignAdPreviewDelete (List<String> adGroupIds, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adGroupIds' is set
    if (adGroupIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adGroupIds' when calling campaignAdPreviewDelete",
        new ApiException(400, "Missing the required parameter 'adGroupIds' when calling campaignAdPreviewDelete"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling campaignAdPreviewDelete",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling campaignAdPreviewDelete"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/campaign_ad_preview".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_group_ids", adGroupIds));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<CampaignAdPreviewDelete200ResponseInner>) ApiInvoker.deserialize(localVarResponse, "array", CampaignAdPreviewDelete200ResponseInner.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete ad preview records for one or more ad groups
   * Delete ad preview records for one or more ad groups. All ad groups are validated before deleting any records.
   * @param adGroupIds List of Ad group Ids to use to filter the results.   * @param adAccountId Unique identifier of an ad account.
  */
  public void campaignAdPreviewDelete (List<String> adGroupIds, String adAccountId, final Response.Listener<List<CampaignAdPreviewDelete200ResponseInner>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adGroupIds' is set
    if (adGroupIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adGroupIds' when calling campaignAdPreviewDelete",
        new ApiException(400, "Missing the required parameter 'adGroupIds' when calling campaignAdPreviewDelete"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling campaignAdPreviewDelete",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling campaignAdPreviewDelete"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/campaign_ad_preview".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_group_ids", adGroupIds));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<CampaignAdPreviewDelete200ResponseInner>) ApiInvoker.deserialize(localVarResponse,  "array", CampaignAdPreviewDelete200ResponseInner.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Fetch ad preview records for one or more ad groups
  * Fetch ad preview records for one or more ad groups. Returns all active previews associated with the provided ad group IDs.
   * @param adGroupIds List of Ad group Ids to use to filter the results.
   * @param adAccountId Unique identifier of an ad account.
   * @return List<CampaignAdPreview>
  */
  public List<CampaignAdPreview> campaignAdPreviewRead (List<String> adGroupIds, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adGroupIds' is set
    if (adGroupIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adGroupIds' when calling campaignAdPreviewRead",
        new ApiException(400, "Missing the required parameter 'adGroupIds' when calling campaignAdPreviewRead"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling campaignAdPreviewRead",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling campaignAdPreviewRead"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/campaign_ad_preview".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_group_ids", adGroupIds));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<CampaignAdPreview>) ApiInvoker.deserialize(localVarResponse, "array", CampaignAdPreview.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Fetch ad preview records for one or more ad groups
   * Fetch ad preview records for one or more ad groups. Returns all active previews associated with the provided ad group IDs.
   * @param adGroupIds List of Ad group Ids to use to filter the results.   * @param adAccountId Unique identifier of an ad account.
  */
  public void campaignAdPreviewRead (List<String> adGroupIds, String adAccountId, final Response.Listener<List<CampaignAdPreview>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adGroupIds' is set
    if (adGroupIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adGroupIds' when calling campaignAdPreviewRead",
        new ApiException(400, "Missing the required parameter 'adGroupIds' when calling campaignAdPreviewRead"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling campaignAdPreviewRead",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling campaignAdPreviewRead"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/campaign_ad_preview".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ad_group_ids", adGroupIds));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<CampaignAdPreview>) ApiInvoker.deserialize(localVarResponse,  "array", CampaignAdPreview.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
