/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AdAccountToAdAccountSharedAudience;
import org.openapitools.client.model.AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody;
import org.openapitools.client.model.AdAccountToBusinessSharedAudience;
import org.openapitools.client.model.AdAccountToBusinessSharedAudienceUpdateWithRequiredBody;
import org.openapitools.client.model.AdAccountsAudiencesSharedAccountsList200Response;
import org.openapitools.client.model.AudienceAccountType;
import org.openapitools.client.model.BusinessToAdAccountSharedAudience;
import org.openapitools.client.model.BusinessToAdAccountSharedAudienceUpdateWithRequiredBody;
import org.openapitools.client.model.BusinessToBusinessSharedAudience;
import org.openapitools.client.model.BusinessToBusinessSharedAudienceUpdateWithRequiredBody;
import org.openapitools.client.model.Order;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.SharedAudiencesForBusinessList200Response;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class AudienceSharingApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * List accounts with access to an audience owned by an ad account
  * List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.
   * @param audienceId Unique identifier of the audience to use to filter the results.
   * @param accountType Filter accounts by account type.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return AdAccountsAudiencesSharedAccountsList200Response
  */
  public AdAccountsAudiencesSharedAccountsList200Response adAccountsAudiencesSharedAccountsList (String audienceId, AudienceAccountType accountType, String adAccountId, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'audienceId' is set
    if (audienceId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'audienceId' when calling adAccountsAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'audienceId' when calling adAccountsAudiencesSharedAccountsList"));
    }
    // verify the required parameter 'accountType' is set
    if (accountType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountType' when calling adAccountsAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'accountType' when calling adAccountsAudiencesSharedAccountsList"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adAccountsAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adAccountsAudiencesSharedAccountsList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/audiences/shared/accounts".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audience_id", audienceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "account_type", accountType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AdAccountsAudiencesSharedAccountsList200Response) ApiInvoker.deserialize(localVarResponse, "", AdAccountsAudiencesSharedAccountsList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List accounts with access to an audience owned by an ad account
   * List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.
   * @param audienceId Unique identifier of the audience to use to filter the results.   * @param accountType Filter accounts by account type.   * @param adAccountId Unique identifier of an ad account.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void adAccountsAudiencesSharedAccountsList (String audienceId, AudienceAccountType accountType, String adAccountId, String bookmark, Integer pageSize, final Response.Listener<AdAccountsAudiencesSharedAccountsList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'audienceId' is set
    if (audienceId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'audienceId' when calling adAccountsAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'audienceId' when calling adAccountsAudiencesSharedAccountsList"));
    }
    // verify the required parameter 'accountType' is set
    if (accountType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountType' when calling adAccountsAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'accountType' when calling adAccountsAudiencesSharedAccountsList"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adAccountsAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adAccountsAudiencesSharedAccountsList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/audiences/shared/accounts".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "audience_id", audienceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "account_type", accountType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AdAccountsAudiencesSharedAccountsList200Response) ApiInvoker.deserialize(localVarResponse,  "", AdAccountsAudiencesSharedAccountsList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List accounts with access to an audience owned by a business
  * List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.
   * @param businessId Unique identifier of the requesting business.
   * @param audienceId Unique identifier of the audience to use to filter the results.
   * @param accountType Filter accounts by account type.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return AdAccountsAudiencesSharedAccountsList200Response
  */
  public AdAccountsAudiencesSharedAccountsList200Response businessAccountAudiencesSharedAccountsList (String businessId, String audienceId, AudienceAccountType accountType, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling businessAccountAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'businessId' when calling businessAccountAudiencesSharedAccountsList"));
    }
    // verify the required parameter 'audienceId' is set
    if (audienceId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'audienceId' when calling businessAccountAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'audienceId' when calling businessAccountAudiencesSharedAccountsList"));
    }
    // verify the required parameter 'accountType' is set
    if (accountType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountType' when calling businessAccountAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'accountType' when calling businessAccountAudiencesSharedAccountsList"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/audiences/shared/accounts".replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audience_id", audienceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "account_type", accountType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AdAccountsAudiencesSharedAccountsList200Response) ApiInvoker.deserialize(localVarResponse, "", AdAccountsAudiencesSharedAccountsList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List accounts with access to an audience owned by a business
   * List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.
   * @param businessId Unique identifier of the requesting business.   * @param audienceId Unique identifier of the audience to use to filter the results.   * @param accountType Filter accounts by account type.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void businessAccountAudiencesSharedAccountsList (String businessId, String audienceId, AudienceAccountType accountType, String bookmark, Integer pageSize, final Response.Listener<AdAccountsAudiencesSharedAccountsList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling businessAccountAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'businessId' when calling businessAccountAudiencesSharedAccountsList"));
    }
    // verify the required parameter 'audienceId' is set
    if (audienceId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'audienceId' when calling businessAccountAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'audienceId' when calling businessAccountAudiencesSharedAccountsList"));
    }
    // verify the required parameter 'accountType' is set
    if (accountType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountType' when calling businessAccountAudiencesSharedAccountsList",
        new ApiException(400, "Missing the required parameter 'accountType' when calling businessAccountAudiencesSharedAccountsList"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/audiences/shared/accounts".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "audience_id", audienceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "account_type", accountType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AdAccountsAudiencesSharedAccountsList200Response) ApiInvoker.deserialize(localVarResponse,  "", AdAccountsAudiencesSharedAccountsList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List received audiences for a business
  * Get a list of received audiences for the given business.
   * @param businessId Unique identifier of the requesting business.
   * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return SharedAudiencesForBusinessList200Response
  */
  public SharedAudiencesForBusinessList200Response sharedAudiencesForBusinessList (String businessId, Order order, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling sharedAudiencesForBusinessList",
        new ApiException(400, "Missing the required parameter 'businessId' when calling sharedAudiencesForBusinessList"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/audiences".replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SharedAudiencesForBusinessList200Response) ApiInvoker.deserialize(localVarResponse, "", SharedAudiencesForBusinessList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List received audiences for a business
   * Get a list of received audiences for the given business.
   * @param businessId Unique identifier of the requesting business.   * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void sharedAudiencesForBusinessList (String businessId, Order order, String bookmark, Integer pageSize, final Response.Listener<SharedAudiencesForBusinessList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling sharedAudiencesForBusinessList",
        new ApiException(400, "Missing the required parameter 'businessId' when calling sharedAudiencesForBusinessList"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/audiences".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SharedAudiencesForBusinessList200Response) ApiInvoker.deserialize(localVarResponse,  "", SharedAudiencesForBusinessList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update audience sharing between ad accounts
  * From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same [Pinterest Business Hierarchy](https://help.pinterest.com/en/business/article/create-and-manage-accounts) as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * @param adAccountId Unique identifier of an ad account.
   * @param adAccountToAdAccountSharedAudienceUpdateWithRequiredBody 
   * @return AdAccountToAdAccountSharedAudience
  */
  public AdAccountToAdAccountSharedAudience updateAdAccountToAdAccountSharedAudience (String adAccountId, AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody adAccountToAdAccountSharedAudienceUpdateWithRequiredBody) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = adAccountToAdAccountSharedAudienceUpdateWithRequiredBody;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling updateAdAccountToAdAccountSharedAudience",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling updateAdAccountToAdAccountSharedAudience"));
    }
    // verify the required parameter 'adAccountToAdAccountSharedAudienceUpdateWithRequiredBody' is set
    if (adAccountToAdAccountSharedAudienceUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountToAdAccountSharedAudienceUpdateWithRequiredBody' when calling updateAdAccountToAdAccountSharedAudience",
        new ApiException(400, "Missing the required parameter 'adAccountToAdAccountSharedAudienceUpdateWithRequiredBody' when calling updateAdAccountToAdAccountSharedAudience"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AdAccountToAdAccountSharedAudience) ApiInvoker.deserialize(localVarResponse, "", AdAccountToAdAccountSharedAudience.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update audience sharing between ad accounts
   * From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same [Pinterest Business Hierarchy](https://help.pinterest.com/en/business/article/create-and-manage-accounts) as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * @param adAccountId Unique identifier of an ad account.   * @param adAccountToAdAccountSharedAudienceUpdateWithRequiredBody 
  */
  public void updateAdAccountToAdAccountSharedAudience (String adAccountId, AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody adAccountToAdAccountSharedAudienceUpdateWithRequiredBody, final Response.Listener<AdAccountToAdAccountSharedAudience> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = adAccountToAdAccountSharedAudienceUpdateWithRequiredBody;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling updateAdAccountToAdAccountSharedAudience",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling updateAdAccountToAdAccountSharedAudience"));
    }
    // verify the required parameter 'adAccountToAdAccountSharedAudienceUpdateWithRequiredBody' is set
    if (adAccountToAdAccountSharedAudienceUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountToAdAccountSharedAudienceUpdateWithRequiredBody' when calling updateAdAccountToAdAccountSharedAudience",
        new ApiException(400, "Missing the required parameter 'adAccountToAdAccountSharedAudienceUpdateWithRequiredBody' when calling updateAdAccountToAdAccountSharedAudience"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AdAccountToAdAccountSharedAudience) ApiInvoker.deserialize(localVarResponse,  "", AdAccountToAdAccountSharedAudience.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update audience sharing from an ad account to businesses
  * From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * @param adAccountId Unique identifier of an ad account.
   * @param adAccountToBusinessSharedAudienceUpdateWithRequiredBody 
   * @return AdAccountToBusinessSharedAudience
  */
  public AdAccountToBusinessSharedAudience updateAdAccountToBusinessSharedAudience (String adAccountId, AdAccountToBusinessSharedAudienceUpdateWithRequiredBody adAccountToBusinessSharedAudienceUpdateWithRequiredBody) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = adAccountToBusinessSharedAudienceUpdateWithRequiredBody;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling updateAdAccountToBusinessSharedAudience",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling updateAdAccountToBusinessSharedAudience"));
    }
    // verify the required parameter 'adAccountToBusinessSharedAudienceUpdateWithRequiredBody' is set
    if (adAccountToBusinessSharedAudienceUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountToBusinessSharedAudienceUpdateWithRequiredBody' when calling updateAdAccountToBusinessSharedAudience",
        new ApiException(400, "Missing the required parameter 'adAccountToBusinessSharedAudienceUpdateWithRequiredBody' when calling updateAdAccountToBusinessSharedAudience"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/audiences/businesses/shared".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AdAccountToBusinessSharedAudience) ApiInvoker.deserialize(localVarResponse, "", AdAccountToBusinessSharedAudience.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update audience sharing from an ad account to businesses
   * From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * @param adAccountId Unique identifier of an ad account.   * @param adAccountToBusinessSharedAudienceUpdateWithRequiredBody 
  */
  public void updateAdAccountToBusinessSharedAudience (String adAccountId, AdAccountToBusinessSharedAudienceUpdateWithRequiredBody adAccountToBusinessSharedAudienceUpdateWithRequiredBody, final Response.Listener<AdAccountToBusinessSharedAudience> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = adAccountToBusinessSharedAudienceUpdateWithRequiredBody;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling updateAdAccountToBusinessSharedAudience",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling updateAdAccountToBusinessSharedAudience"));
    }
    // verify the required parameter 'adAccountToBusinessSharedAudienceUpdateWithRequiredBody' is set
    if (adAccountToBusinessSharedAudienceUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountToBusinessSharedAudienceUpdateWithRequiredBody' when calling updateAdAccountToBusinessSharedAudience",
        new ApiException(400, "Missing the required parameter 'adAccountToBusinessSharedAudienceUpdateWithRequiredBody' when calling updateAdAccountToBusinessSharedAudience"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/audiences/businesses/shared".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AdAccountToBusinessSharedAudience) ApiInvoker.deserialize(localVarResponse,  "", AdAccountToBusinessSharedAudience.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update audience sharing from a business to ad accounts
  * From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience.  - If the business is the owner of the audience, it can share with any ad account within the same business hierarchy. - If the business is the recipient of the audience, it can share with any of its owned ad accounts.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * @param businessId Unique identifier of the requesting business.
   * @param businessToAdAccountSharedAudienceUpdateWithRequiredBody 
   * @return BusinessToAdAccountSharedAudience
  */
  public BusinessToAdAccountSharedAudience updateBusinessToAdAccountSharedAudience (String businessId, BusinessToAdAccountSharedAudienceUpdateWithRequiredBody businessToAdAccountSharedAudienceUpdateWithRequiredBody) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = businessToAdAccountSharedAudienceUpdateWithRequiredBody;
    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling updateBusinessToAdAccountSharedAudience",
        new ApiException(400, "Missing the required parameter 'businessId' when calling updateBusinessToAdAccountSharedAudience"));
    }
    // verify the required parameter 'businessToAdAccountSharedAudienceUpdateWithRequiredBody' is set
    if (businessToAdAccountSharedAudienceUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessToAdAccountSharedAudienceUpdateWithRequiredBody' when calling updateBusinessToAdAccountSharedAudience",
        new ApiException(400, "Missing the required parameter 'businessToAdAccountSharedAudienceUpdateWithRequiredBody' when calling updateBusinessToAdAccountSharedAudience"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/audiences/ad_accounts/shared".replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BusinessToAdAccountSharedAudience) ApiInvoker.deserialize(localVarResponse, "", BusinessToAdAccountSharedAudience.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update audience sharing from a business to ad accounts
   * From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience.  - If the business is the owner of the audience, it can share with any ad account within the same business hierarchy. - If the business is the recipient of the audience, it can share with any of its owned ad accounts.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * @param businessId Unique identifier of the requesting business.   * @param businessToAdAccountSharedAudienceUpdateWithRequiredBody 
  */
  public void updateBusinessToAdAccountSharedAudience (String businessId, BusinessToAdAccountSharedAudienceUpdateWithRequiredBody businessToAdAccountSharedAudienceUpdateWithRequiredBody, final Response.Listener<BusinessToAdAccountSharedAudience> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = businessToAdAccountSharedAudienceUpdateWithRequiredBody;

    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling updateBusinessToAdAccountSharedAudience",
        new ApiException(400, "Missing the required parameter 'businessId' when calling updateBusinessToAdAccountSharedAudience"));
    }
    // verify the required parameter 'businessToAdAccountSharedAudienceUpdateWithRequiredBody' is set
    if (businessToAdAccountSharedAudienceUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessToAdAccountSharedAudienceUpdateWithRequiredBody' when calling updateBusinessToAdAccountSharedAudience",
        new ApiException(400, "Missing the required parameter 'businessToAdAccountSharedAudienceUpdateWithRequiredBody' when calling updateBusinessToAdAccountSharedAudience"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/audiences/ad_accounts/shared".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BusinessToAdAccountSharedAudience) ApiInvoker.deserialize(localVarResponse,  "", BusinessToAdAccountSharedAudience.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update audience sharing between businesses
  * From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * @param businessId Unique identifier of the requesting business.
   * @param businessToBusinessSharedAudienceUpdateWithRequiredBody 
   * @return BusinessToBusinessSharedAudience
  */
  public BusinessToBusinessSharedAudience updateBusinessToBusinessSharedAudience (String businessId, BusinessToBusinessSharedAudienceUpdateWithRequiredBody businessToBusinessSharedAudienceUpdateWithRequiredBody) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = businessToBusinessSharedAudienceUpdateWithRequiredBody;
    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling updateBusinessToBusinessSharedAudience",
        new ApiException(400, "Missing the required parameter 'businessId' when calling updateBusinessToBusinessSharedAudience"));
    }
    // verify the required parameter 'businessToBusinessSharedAudienceUpdateWithRequiredBody' is set
    if (businessToBusinessSharedAudienceUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessToBusinessSharedAudienceUpdateWithRequiredBody' when calling updateBusinessToBusinessSharedAudience",
        new ApiException(400, "Missing the required parameter 'businessToBusinessSharedAudienceUpdateWithRequiredBody' when calling updateBusinessToBusinessSharedAudience"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/audiences/businesses/shared".replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BusinessToBusinessSharedAudience) ApiInvoker.deserialize(localVarResponse, "", BusinessToBusinessSharedAudience.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update audience sharing between businesses
   * From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.  This endpoint is not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).
   * @param businessId Unique identifier of the requesting business.   * @param businessToBusinessSharedAudienceUpdateWithRequiredBody 
  */
  public void updateBusinessToBusinessSharedAudience (String businessId, BusinessToBusinessSharedAudienceUpdateWithRequiredBody businessToBusinessSharedAudienceUpdateWithRequiredBody, final Response.Listener<BusinessToBusinessSharedAudience> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = businessToBusinessSharedAudienceUpdateWithRequiredBody;

    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling updateBusinessToBusinessSharedAudience",
        new ApiException(400, "Missing the required parameter 'businessId' when calling updateBusinessToBusinessSharedAudience"));
    }
    // verify the required parameter 'businessToBusinessSharedAudienceUpdateWithRequiredBody' is set
    if (businessToBusinessSharedAudienceUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessToBusinessSharedAudienceUpdateWithRequiredBody' when calling updateBusinessToBusinessSharedAudience",
        new ApiException(400, "Missing the required parameter 'businessToBusinessSharedAudienceUpdateWithRequiredBody' when calling updateBusinessToBusinessSharedAudience"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/audiences/businesses/shared".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BusinessToBusinessSharedAudience) ApiInvoker.deserialize(localVarResponse,  "", BusinessToBusinessSharedAudience.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
