/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.Board;
import org.openapitools.client.model.BoardCreate;
import org.openapitools.client.model.BoardPrivacyFilter;
import org.openapitools.client.model.BoardSection;
import org.openapitools.client.model.BoardSectionCreate;
import org.openapitools.client.model.BoardSectionUpdateWithRequiredBody;
import org.openapitools.client.model.BoardSectionsList200Response;
import org.openapitools.client.model.BoardWithUpdatePrivacy;
import org.openapitools.client.model.BoardWithUpdatePrivacyUpdate;
import org.openapitools.client.model.BoardsList200Response;
import org.openapitools.client.model.BoardsListPins200Response;
import org.openapitools.client.model.CreativeType;
import java.util.*;
import org.openapitools.client.model.PinterestLibError;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class BoardsApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create board section
  * Create a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.
   * @param boardSectionCreate 
   * @param adAccountId Unique identifier of an ad account.
   * @return BoardSection
  */
  public BoardSection boardSectionsCreate (String boardId, BoardSectionCreate boardSectionCreate, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = boardSectionCreate;
    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardSectionsCreate",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardSectionsCreate"));
    }
    // verify the required parameter 'boardSectionCreate' is set
    if (boardSectionCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardSectionCreate' when calling boardSectionsCreate",
        new ApiException(400, "Missing the required parameter 'boardSectionCreate' when calling boardSectionsCreate"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/sections".replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BoardSection) ApiInvoker.deserialize(localVarResponse, "", BoardSection.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create board section
   * Create a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.   * @param boardSectionCreate    * @param adAccountId Unique identifier of an ad account.
  */
  public void boardSectionsCreate (String boardId, BoardSectionCreate boardSectionCreate, String adAccountId, final Response.Listener<BoardSection> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = boardSectionCreate;

    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardSectionsCreate",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardSectionsCreate"));
    }
    // verify the required parameter 'boardSectionCreate' is set
    if (boardSectionCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardSectionCreate' when calling boardSectionsCreate",
        new ApiException(400, "Missing the required parameter 'boardSectionCreate' when calling boardSectionsCreate"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/sections".replaceAll("\\{format\\}","json").replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BoardSection) ApiInvoker.deserialize(localVarResponse,  "", BoardSection.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete board section
  * Delete a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.
   * @param sectionId Unique identifier of a board section.
   * @param adAccountId Unique identifier of an ad account.
   * @return BoardSection
  */
  public BoardSection boardSectionsDelete (String boardId, String sectionId, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardSectionsDelete",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardSectionsDelete"));
    }
    // verify the required parameter 'sectionId' is set
    if (sectionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sectionId' when calling boardSectionsDelete",
        new ApiException(400, "Missing the required parameter 'sectionId' when calling boardSectionsDelete"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/sections/{section_id}".replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString())).replaceAll("\\{" + "section_id" + "\\}", apiInvoker.escapeString(sectionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BoardSection) ApiInvoker.deserialize(localVarResponse, "", BoardSection.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete board section
   * Delete a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.   * @param sectionId Unique identifier of a board section.   * @param adAccountId Unique identifier of an ad account.
  */
  public void boardSectionsDelete (String boardId, String sectionId, String adAccountId, final Response.Listener<BoardSection> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardSectionsDelete",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardSectionsDelete"));
    }
    // verify the required parameter 'sectionId' is set
    if (sectionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sectionId' when calling boardSectionsDelete",
        new ApiException(400, "Missing the required parameter 'sectionId' when calling boardSectionsDelete"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/sections/{section_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString())).replaceAll("\\{" + "section_id" + "\\}", apiInvoker.escapeString(sectionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BoardSection) ApiInvoker.deserialize(localVarResponse,  "", BoardSection.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List board sections
  * Get a list of all board sections from a board owned by the \&quot;operation user_account\&quot; - or a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return BoardSectionsList200Response
  */
  public BoardSectionsList200Response boardSectionsList (String boardId, String adAccountId, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardSectionsList",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardSectionsList"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/sections".replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BoardSectionsList200Response) ApiInvoker.deserialize(localVarResponse, "", BoardSectionsList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List board sections
   * Get a list of all board sections from a board owned by the \&quot;operation user_account\&quot; - or a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.   * @param adAccountId Unique identifier of an ad account.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void boardSectionsList (String boardId, String adAccountId, String bookmark, Integer pageSize, final Response.Listener<BoardSectionsList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardSectionsList",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardSectionsList"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/sections".replaceAll("\\{format\\}","json").replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BoardSectionsList200Response) ApiInvoker.deserialize(localVarResponse,  "", BoardSectionsList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List Pins on board section
  * Get a list of the Pins on a board section of a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.
   * @param sectionId Unique identifier of a board section.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return BoardsListPins200Response
  */
  public BoardsListPins200Response boardSectionsListPins (String boardId, String sectionId, String adAccountId, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardSectionsListPins",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardSectionsListPins"));
    }
    // verify the required parameter 'sectionId' is set
    if (sectionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sectionId' when calling boardSectionsListPins",
        new ApiException(400, "Missing the required parameter 'sectionId' when calling boardSectionsListPins"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/sections/{section_id}/pins".replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString())).replaceAll("\\{" + "section_id" + "\\}", apiInvoker.escapeString(sectionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BoardsListPins200Response) ApiInvoker.deserialize(localVarResponse, "", BoardsListPins200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List Pins on board section
   * Get a list of the Pins on a board section of a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.   * @param sectionId Unique identifier of a board section.   * @param adAccountId Unique identifier of an ad account.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void boardSectionsListPins (String boardId, String sectionId, String adAccountId, String bookmark, Integer pageSize, final Response.Listener<BoardsListPins200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardSectionsListPins",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardSectionsListPins"));
    }
    // verify the required parameter 'sectionId' is set
    if (sectionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sectionId' when calling boardSectionsListPins",
        new ApiException(400, "Missing the required parameter 'sectionId' when calling boardSectionsListPins"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/sections/{section_id}/pins".replaceAll("\\{format\\}","json").replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString())).replaceAll("\\{" + "section_id" + "\\}", apiInvoker.escapeString(sectionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BoardsListPins200Response) ApiInvoker.deserialize(localVarResponse,  "", BoardsListPins200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update board section
  * Update a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.
   * @param sectionId Unique identifier of a board section.
   * @param boardSectionUpdateWithRequiredBody 
   * @param adAccountId Unique identifier of an ad account.
   * @return BoardSection
  */
  public BoardSection boardSectionsUpdate (String boardId, String sectionId, BoardSectionUpdateWithRequiredBody boardSectionUpdateWithRequiredBody, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = boardSectionUpdateWithRequiredBody;
    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardSectionsUpdate",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardSectionsUpdate"));
    }
    // verify the required parameter 'sectionId' is set
    if (sectionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sectionId' when calling boardSectionsUpdate",
        new ApiException(400, "Missing the required parameter 'sectionId' when calling boardSectionsUpdate"));
    }
    // verify the required parameter 'boardSectionUpdateWithRequiredBody' is set
    if (boardSectionUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardSectionUpdateWithRequiredBody' when calling boardSectionsUpdate",
        new ApiException(400, "Missing the required parameter 'boardSectionUpdateWithRequiredBody' when calling boardSectionsUpdate"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/sections/{section_id}".replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString())).replaceAll("\\{" + "section_id" + "\\}", apiInvoker.escapeString(sectionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BoardSection) ApiInvoker.deserialize(localVarResponse, "", BoardSection.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update board section
   * Update a board section on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.   * @param sectionId Unique identifier of a board section.   * @param boardSectionUpdateWithRequiredBody    * @param adAccountId Unique identifier of an ad account.
  */
  public void boardSectionsUpdate (String boardId, String sectionId, BoardSectionUpdateWithRequiredBody boardSectionUpdateWithRequiredBody, String adAccountId, final Response.Listener<BoardSection> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = boardSectionUpdateWithRequiredBody;

    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardSectionsUpdate",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardSectionsUpdate"));
    }
    // verify the required parameter 'sectionId' is set
    if (sectionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sectionId' when calling boardSectionsUpdate",
        new ApiException(400, "Missing the required parameter 'sectionId' when calling boardSectionsUpdate"));
    }
    // verify the required parameter 'boardSectionUpdateWithRequiredBody' is set
    if (boardSectionUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardSectionUpdateWithRequiredBody' when calling boardSectionsUpdate",
        new ApiException(400, "Missing the required parameter 'boardSectionUpdateWithRequiredBody' when calling boardSectionsUpdate"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/sections/{section_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString())).replaceAll("\\{" + "section_id" + "\\}", apiInvoker.escapeString(sectionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BoardSection) ApiInvoker.deserialize(localVarResponse,  "", BoardSection.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create board
  * Create a board owned by the \&quot;operation user_account\&quot;. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardCreate 
   * @param adAccountId Unique identifier of an ad account.
   * @return Board
  */
  public Board boardsCreate (BoardCreate boardCreate, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = boardCreate;
    // verify the required parameter 'boardCreate' is set
    if (boardCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardCreate' when calling boardsCreate",
        new ApiException(400, "Missing the required parameter 'boardCreate' when calling boardsCreate"));
    }

    // create path and map variables
    String path = "/boards";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (Board) ApiInvoker.deserialize(localVarResponse, "", Board.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create board
   * Create a board owned by the \&quot;operation user_account\&quot;. Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardCreate    * @param adAccountId Unique identifier of an ad account.
  */
  public void boardsCreate (BoardCreate boardCreate, String adAccountId, final Response.Listener<Board> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = boardCreate;

    // verify the required parameter 'boardCreate' is set
    if (boardCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardCreate' when calling boardsCreate",
        new ApiException(400, "Missing the required parameter 'boardCreate' when calling boardsCreate"));
    }

    // create path and map variables
    String path = "/boards".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((Board) ApiInvoker.deserialize(localVarResponse,  "", Board.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete board
  * Delete a board owned by the \&quot;operation user_account\&quot;. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId 
   * @param adAccountId Unique identifier of an ad account.
   * @return Board
  */
  public Board boardsDelete (String boardId, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardsDelete",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardsDelete"));
    }

    // create path and map variables
    String path = "/boards/{board_id}".replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (Board) ApiInvoker.deserialize(localVarResponse, "", Board.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete board
   * Delete a board owned by the \&quot;operation user_account\&quot;. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId    * @param adAccountId Unique identifier of an ad account.
  */
  public void boardsDelete (String boardId, String adAccountId, final Response.Listener<Board> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardsDelete",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardsDelete"));
    }

    // create path and map variables
    String path = "/boards/{board_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((Board) ApiInvoker.deserialize(localVarResponse,  "", Board.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get board
  * Get a board owned by the operation user_account - or a group board that has been shared with this account. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId 
   * @param adAccountId Unique identifier of an ad account.
   * @return Board
  */
  public Board boardsGet (String boardId, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardsGet",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardsGet"));
    }

    // create path and map variables
    String path = "/boards/{board_id}".replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (Board) ApiInvoker.deserialize(localVarResponse, "", Board.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get board
   * Get a board owned by the operation user_account - or a group board that has been shared with this account. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId    * @param adAccountId Unique identifier of an ad account.
  */
  public void boardsGet (String boardId, String adAccountId, final Response.Listener<Board> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardsGet",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardsGet"));
    }

    // create path and map variables
    String path = "/boards/{board_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((Board) ApiInvoker.deserialize(localVarResponse,  "", Board.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List boards
  * Get a list of the boards owned by the \&quot;operation user_account\&quot; + group boards where this account is a collaborator Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. Optional: Specify a privacy type (public, protected, or secret) to indicate which boards to return. * If no privacy is specified, all boards that can be returned (based on the scopes of the token and ad_account role if applicable) will be returned.
   * @param adAccountId Unique identifier of an ad account.
   * @param privacy The privacy level of the board
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return BoardsList200Response
  */
  public BoardsList200Response boardsList (String adAccountId, BoardPrivacyFilter privacy, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/boards";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "privacy", privacy));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BoardsList200Response) ApiInvoker.deserialize(localVarResponse, "", BoardsList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List boards
   * Get a list of the boards owned by the \&quot;operation user_account\&quot; + group boards where this account is a collaborator Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. Optional: Specify a privacy type (public, protected, or secret) to indicate which boards to return. * If no privacy is specified, all boards that can be returned (based on the scopes of the token and ad_account role if applicable) will be returned.
   * @param adAccountId Unique identifier of an ad account.   * @param privacy The privacy level of the board   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void boardsList (String adAccountId, BoardPrivacyFilter privacy, String bookmark, Integer pageSize, final Response.Listener<BoardsList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/boards".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "privacy", privacy));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BoardsList200Response) ApiInvoker.deserialize(localVarResponse,  "", BoardsList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List Pins on board
  * Get a list of the Pins on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. - Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.
   * @param creativeTypes Pin creative types filter. **Note:** SHOP_THE_PIN has been deprecated. Please use COLLECTION instead.
   * @param adAccountId Unique identifier of an ad account.
   * @param pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return BoardsListPins200Response
  */
  public BoardsListPins200Response boardsListPins (String boardId, List<CreativeType> creativeTypes, String adAccountId, Boolean pinMetrics, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardsListPins",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardsListPins"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/pins".replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "creative_types", creativeTypes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "pin_metrics", pinMetrics));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BoardsListPins200Response) ApiInvoker.deserialize(localVarResponse, "", BoardsListPins200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List Pins on board
   * Get a list of the Pins on a board owned by the \&quot;operation user_account\&quot; - or on a group board that has been shared with this account. - Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId Unique identifier of a board.   * @param creativeTypes Pin creative types filter. **Note:** SHOP_THE_PIN has been deprecated. Please use COLLECTION instead.   * @param adAccountId Unique identifier of an ad account.   * @param pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void boardsListPins (String boardId, List<CreativeType> creativeTypes, String adAccountId, Boolean pinMetrics, String bookmark, Integer pageSize, final Response.Listener<BoardsListPins200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardsListPins",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardsListPins"));
    }

    // create path and map variables
    String path = "/boards/{board_id}/pins".replaceAll("\\{format\\}","json").replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "creative_types", creativeTypes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "pin_metrics", pinMetrics));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BoardsListPins200Response) ApiInvoker.deserialize(localVarResponse,  "", BoardsListPins200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update board
  * Update a board owned by the \&quot;operating user_account\&quot;. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId 
   * @param boardWithUpdatePrivacyUpdate 
   * @param adAccountId Unique identifier of an ad account.
   * @return BoardWithUpdatePrivacy
  */
  public BoardWithUpdatePrivacy boardsUpdate (String boardId, BoardWithUpdatePrivacyUpdate boardWithUpdatePrivacyUpdate, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = boardWithUpdatePrivacyUpdate;
    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardsUpdate",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardsUpdate"));
    }
    // verify the required parameter 'boardWithUpdatePrivacyUpdate' is set
    if (boardWithUpdatePrivacyUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardWithUpdatePrivacyUpdate' when calling boardsUpdate",
        new ApiException(400, "Missing the required parameter 'boardWithUpdatePrivacyUpdate' when calling boardsUpdate"));
    }

    // create path and map variables
    String path = "/boards/{board_id}".replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BoardWithUpdatePrivacy) ApiInvoker.deserialize(localVarResponse, "", BoardWithUpdatePrivacy.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update board
   * Update a board owned by the \&quot;operating user_account\&quot;. * Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. * By default, the \&quot;operation user_account\&quot; is the token user_account.
   * @param boardId    * @param boardWithUpdatePrivacyUpdate    * @param adAccountId Unique identifier of an ad account.
  */
  public void boardsUpdate (String boardId, BoardWithUpdatePrivacyUpdate boardWithUpdatePrivacyUpdate, String adAccountId, final Response.Listener<BoardWithUpdatePrivacy> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = boardWithUpdatePrivacyUpdate;

    // verify the required parameter 'boardId' is set
    if (boardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardId' when calling boardsUpdate",
        new ApiException(400, "Missing the required parameter 'boardId' when calling boardsUpdate"));
    }
    // verify the required parameter 'boardWithUpdatePrivacyUpdate' is set
    if (boardWithUpdatePrivacyUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'boardWithUpdatePrivacyUpdate' when calling boardsUpdate",
        new ApiException(400, "Missing the required parameter 'boardWithUpdatePrivacyUpdate' when calling boardsUpdate"));
    }

    // create path and map variables
    String path = "/boards/{board_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "board_id" + "\\}", apiInvoker.escapeString(boardId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BoardWithUpdatePrivacy) ApiInvoker.deserialize(localVarResponse,  "", BoardWithUpdatePrivacy.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
