/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.BrandAccount;
import org.openapitools.client.model.BrandAccountCreate;
import org.openapitools.client.model.BrandAccountUpdate;
import org.openapitools.client.model.BusinessMembershipMember;
import org.openapitools.client.model.DeleteBusinessMembership200Response;
import org.openapitools.client.model.DeleteBusinessMembershipBody;
import org.openapitools.client.model.DeleteBusinessPartners;
import org.openapitools.client.model.DeleteBusinessPartnersDelete;
import org.openapitools.client.model.GetBusinessEmployers200Response;
import java.util.*;
import org.openapitools.client.model.MemberBusinessRole;
import org.openapitools.client.model.PartnerType;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.SystemUserUpdateWithRequiredBody;
import org.openapitools.client.model.UpdateBusinessMembershipsResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class BusinessAccessRelationshipsApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create a Brand Account
  * Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.
   * @param businessHierarchyId business hierarchy node id
   * @param brandAccountCreate 
   * @return BrandAccount
  */
  public BrandAccount brandAccountsCreate (String businessHierarchyId, BrandAccountCreate brandAccountCreate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = brandAccountCreate;
    // verify the required parameter 'businessHierarchyId' is set
    if (businessHierarchyId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessHierarchyId' when calling brandAccountsCreate",
        new ApiException(400, "Missing the required parameter 'businessHierarchyId' when calling brandAccountsCreate"));
    }
    // verify the required parameter 'brandAccountCreate' is set
    if (brandAccountCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'brandAccountCreate' when calling brandAccountsCreate",
        new ApiException(400, "Missing the required parameter 'brandAccountCreate' when calling brandAccountsCreate"));
    }

    // create path and map variables
    String path = "/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts".replaceAll("\\{" + "business_hierarchy_id" + "\\}", apiInvoker.escapeString(businessHierarchyId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BrandAccount) ApiInvoker.deserialize(localVarResponse, "", BrandAccount.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create a Brand Account
   * Create a Brand Account that will be a child business of a business hierarchy. Request must contain name, username, and country.
   * @param businessHierarchyId business hierarchy node id   * @param brandAccountCreate 
  */
  public void brandAccountsCreate (String businessHierarchyId, BrandAccountCreate brandAccountCreate, final Response.Listener<BrandAccount> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = brandAccountCreate;

    // verify the required parameter 'businessHierarchyId' is set
    if (businessHierarchyId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessHierarchyId' when calling brandAccountsCreate",
        new ApiException(400, "Missing the required parameter 'businessHierarchyId' when calling brandAccountsCreate"));
    }
    // verify the required parameter 'brandAccountCreate' is set
    if (brandAccountCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'brandAccountCreate' when calling brandAccountsCreate",
        new ApiException(400, "Missing the required parameter 'brandAccountCreate' when calling brandAccountsCreate"));
    }

    // create path and map variables
    String path = "/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_hierarchy_id" + "\\}", apiInvoker.escapeString(businessHierarchyId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BrandAccount) ApiInvoker.deserialize(localVarResponse,  "", BrandAccount.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update a Brand Account
  * Update an existing Brand Account
   * @param brandAccountId 
   * @param businessHierarchyId business hierarchy node id
   * @param brandAccountUpdate 
   * @return BrandAccount
  */
  public BrandAccount brandAccountsUpdate (String brandAccountId, String businessHierarchyId, BrandAccountUpdate brandAccountUpdate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = brandAccountUpdate;
    // verify the required parameter 'brandAccountId' is set
    if (brandAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'brandAccountId' when calling brandAccountsUpdate",
        new ApiException(400, "Missing the required parameter 'brandAccountId' when calling brandAccountsUpdate"));
    }
    // verify the required parameter 'businessHierarchyId' is set
    if (businessHierarchyId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessHierarchyId' when calling brandAccountsUpdate",
        new ApiException(400, "Missing the required parameter 'businessHierarchyId' when calling brandAccountsUpdate"));
    }
    // verify the required parameter 'brandAccountUpdate' is set
    if (brandAccountUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'brandAccountUpdate' when calling brandAccountsUpdate",
        new ApiException(400, "Missing the required parameter 'brandAccountUpdate' when calling brandAccountsUpdate"));
    }

    // create path and map variables
    String path = "/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}".replaceAll("\\{" + "brand_account_id" + "\\}", apiInvoker.escapeString(brandAccountId.toString())).replaceAll("\\{" + "business_hierarchy_id" + "\\}", apiInvoker.escapeString(businessHierarchyId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (BrandAccount) ApiInvoker.deserialize(localVarResponse, "", BrandAccount.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update a Brand Account
   * Update an existing Brand Account
   * @param brandAccountId    * @param businessHierarchyId business hierarchy node id   * @param brandAccountUpdate 
  */
  public void brandAccountsUpdate (String brandAccountId, String businessHierarchyId, BrandAccountUpdate brandAccountUpdate, final Response.Listener<BrandAccount> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = brandAccountUpdate;

    // verify the required parameter 'brandAccountId' is set
    if (brandAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'brandAccountId' when calling brandAccountsUpdate",
        new ApiException(400, "Missing the required parameter 'brandAccountId' when calling brandAccountsUpdate"));
    }
    // verify the required parameter 'businessHierarchyId' is set
    if (businessHierarchyId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessHierarchyId' when calling brandAccountsUpdate",
        new ApiException(400, "Missing the required parameter 'businessHierarchyId' when calling brandAccountsUpdate"));
    }
    // verify the required parameter 'brandAccountUpdate' is set
    if (brandAccountUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'brandAccountUpdate' when calling brandAccountsUpdate",
        new ApiException(400, "Missing the required parameter 'brandAccountUpdate' when calling brandAccountsUpdate"));
    }

    // create path and map variables
    String path = "/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "brand_account_id" + "\\}", apiInvoker.escapeString(brandAccountId.toString())).replaceAll("\\{" + "business_hierarchy_id" + "\\}", apiInvoker.escapeString(businessHierarchyId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((BrandAccount) ApiInvoker.deserialize(localVarResponse,  "", BrandAccount.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Terminate business memberships
  * Terminate memberships between the specified members and your business.
   * @param businessId Business id
   * @param deleteBusinessMembershipBody 
   * @return DeleteBusinessMembership200Response
  */
  public DeleteBusinessMembership200Response deleteBusinessMembership (String businessId, DeleteBusinessMembershipBody deleteBusinessMembershipBody) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = deleteBusinessMembershipBody;
    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling deleteBusinessMembership",
        new ApiException(400, "Missing the required parameter 'businessId' when calling deleteBusinessMembership"));
    }
    // verify the required parameter 'deleteBusinessMembershipBody' is set
    if (deleteBusinessMembershipBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'deleteBusinessMembershipBody' when calling deleteBusinessMembership",
        new ApiException(400, "Missing the required parameter 'deleteBusinessMembershipBody' when calling deleteBusinessMembership"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/members".replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (DeleteBusinessMembership200Response) ApiInvoker.deserialize(localVarResponse, "", DeleteBusinessMembership200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Terminate business memberships
   * Terminate memberships between the specified members and your business.
   * @param businessId Business id   * @param deleteBusinessMembershipBody 
  */
  public void deleteBusinessMembership (String businessId, DeleteBusinessMembershipBody deleteBusinessMembershipBody, final Response.Listener<DeleteBusinessMembership200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = deleteBusinessMembershipBody;

    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling deleteBusinessMembership",
        new ApiException(400, "Missing the required parameter 'businessId' when calling deleteBusinessMembership"));
    }
    // verify the required parameter 'deleteBusinessMembershipBody' is set
    if (deleteBusinessMembershipBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'deleteBusinessMembershipBody' when calling deleteBusinessMembership",
        new ApiException(400, "Missing the required parameter 'deleteBusinessMembershipBody' when calling deleteBusinessMembership"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/members".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((DeleteBusinessMembership200Response) ApiInvoker.deserialize(localVarResponse,  "", DeleteBusinessMembership200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Terminate business partnerships
  * Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.
   * @param businessId Unique identifier of the requesting business.
   * @param deleteBusinessPartnersDelete 
   * @return DeleteBusinessPartners
  */
  public DeleteBusinessPartners deleteBusinessPartners (String businessId, DeleteBusinessPartnersDelete deleteBusinessPartnersDelete) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = deleteBusinessPartnersDelete;
    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling deleteBusinessPartners",
        new ApiException(400, "Missing the required parameter 'businessId' when calling deleteBusinessPartners"));
    }
    // verify the required parameter 'deleteBusinessPartnersDelete' is set
    if (deleteBusinessPartnersDelete == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'deleteBusinessPartnersDelete' when calling deleteBusinessPartners",
        new ApiException(400, "Missing the required parameter 'deleteBusinessPartnersDelete' when calling deleteBusinessPartners"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/partners".replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (DeleteBusinessPartners) ApiInvoker.deserialize(localVarResponse, "", DeleteBusinessPartners.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Terminate business partnerships
   * Terminate partnerships between the specified partners and your business. Note: You may only batch terminate partners of the same partner type.
   * @param businessId Unique identifier of the requesting business.   * @param deleteBusinessPartnersDelete 
  */
  public void deleteBusinessPartners (String businessId, DeleteBusinessPartnersDelete deleteBusinessPartnersDelete, final Response.Listener<DeleteBusinessPartners> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = deleteBusinessPartnersDelete;

    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling deleteBusinessPartners",
        new ApiException(400, "Missing the required parameter 'businessId' when calling deleteBusinessPartners"));
    }
    // verify the required parameter 'deleteBusinessPartnersDelete' is set
    if (deleteBusinessPartnersDelete == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'deleteBusinessPartnersDelete' when calling deleteBusinessPartners",
        new ApiException(400, "Missing the required parameter 'deleteBusinessPartnersDelete' when calling deleteBusinessPartners"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/partners".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((DeleteBusinessPartners) ApiInvoker.deserialize(localVarResponse,  "", DeleteBusinessPartners.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List business employers for user
  * Get all of the viewing user&#39;s business employers.
   * @param assetsSummary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return GetBusinessEmployers200Response
  */
  public GetBusinessEmployers200Response getBusinessEmployers (Boolean assetsSummary, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/businesses/employers";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assets_summary", assetsSummary));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (GetBusinessEmployers200Response) ApiInvoker.deserialize(localVarResponse, "", GetBusinessEmployers200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List business employers for user
   * Get all of the viewing user&#39;s business employers.
   * @param assetsSummary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void getBusinessEmployers (Boolean assetsSummary, String bookmark, Integer pageSize, final Response.Listener<GetBusinessEmployers200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/businesses/employers".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "assets_summary", assetsSummary));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((GetBusinessEmployers200Response) ApiInvoker.deserialize(localVarResponse,  "", GetBusinessEmployers200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get business members
  * Get all members of the specified business. The return response will include the member&#39;s business_role and assets they have access to if assets_summary&#x3D;TRUE
   * @param businessId Unique identifier of the requesting business.
   * @param fetchSystemUsers Fetches system users if True. Fetches regular user employees if False.
   * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are
   * @param businessRoles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned.
   * @param memberIds A list of business members ids separated by comma.
   * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return GetBusinessEmployers200Response
  */
  public GetBusinessEmployers200Response getBusinessMembers (String businessId, Boolean fetchSystemUsers, Boolean assetsSummary, List<MemberBusinessRole> businessRoles, String memberIds, Integer startIndex, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling getBusinessMembers",
        new ApiException(400, "Missing the required parameter 'businessId' when calling getBusinessMembers"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/members".replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "fetch_system_users", fetchSystemUsers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assets_summary", assetsSummary));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "business_roles", businessRoles));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "member_ids", memberIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start_index", startIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (GetBusinessEmployers200Response) ApiInvoker.deserialize(localVarResponse, "", GetBusinessEmployers200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get business members
   * Get all members of the specified business. The return response will include the member&#39;s business_role and assets they have access to if assets_summary&#x3D;TRUE
   * @param businessId Unique identifier of the requesting business.   * @param fetchSystemUsers Fetches system users if True. Fetches regular user employees if False.   * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are   * @param businessRoles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned.   * @param memberIds A list of business members ids separated by comma.   * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void getBusinessMembers (String businessId, Boolean fetchSystemUsers, Boolean assetsSummary, List<MemberBusinessRole> businessRoles, String memberIds, Integer startIndex, String bookmark, Integer pageSize, final Response.Listener<GetBusinessEmployers200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling getBusinessMembers",
        new ApiException(400, "Missing the required parameter 'businessId' when calling getBusinessMembers"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/members".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "fetch_system_users", fetchSystemUsers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assets_summary", assetsSummary));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "business_roles", businessRoles));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "member_ids", memberIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start_index", startIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((GetBusinessEmployers200Response) ApiInvoker.deserialize(localVarResponse,  "", GetBusinessEmployers200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get business partners
  * Get all partners of the specified business.  If the assets_summary&#x3D;TRUE and: - partner_type&#x3D;INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type&#x3D;EXTERNAL, the business assets returned are your partner&#39;s business assets the partner has granted you   access to.
   * @param businessId Unique identifier of the requesting business.
   * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are
   * @param partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset.
   * @param partnerIds A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned.
   * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned.
   * @param sortAscending Sort ascending.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return GetBusinessEmployers200Response
  */
  public GetBusinessEmployers200Response getBusinessPartners (String businessId, Boolean assetsSummary, PartnerType partnerType, String partnerIds, Integer startIndex, Boolean sortAscending, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling getBusinessPartners",
        new ApiException(400, "Missing the required parameter 'businessId' when calling getBusinessPartners"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/partners".replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assets_summary", assetsSummary));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "partner_type", partnerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "partner_ids", partnerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start_index", startIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_ascending", sortAscending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (GetBusinessEmployers200Response) ApiInvoker.deserialize(localVarResponse, "", GetBusinessEmployers200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get business partners
   * Get all partners of the specified business.  If the assets_summary&#x3D;TRUE and: - partner_type&#x3D;INTERNAL, the business assets returned are your business assets the partner has access to. - partner_type&#x3D;EXTERNAL, the business assets returned are your partner&#39;s business assets the partner has granted you   access to.
   * @param businessId Unique identifier of the requesting business.   * @param assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are   * @param partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset.   * @param partnerIds A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned.   * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned.   * @param sortAscending Sort ascending.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void getBusinessPartners (String businessId, Boolean assetsSummary, PartnerType partnerType, String partnerIds, Integer startIndex, Boolean sortAscending, String bookmark, Integer pageSize, final Response.Listener<GetBusinessEmployers200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling getBusinessPartners",
        new ApiException(400, "Missing the required parameter 'businessId' when calling getBusinessPartners"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/partners".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "assets_summary", assetsSummary));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "partner_type", partnerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "partner_ids", partnerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start_index", startIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sort_ascending", sortAscending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((GetBusinessEmployers200Response) ApiInvoker.deserialize(localVarResponse,  "", GetBusinessEmployers200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update a system user information.
  * Update a system user information such as name.
   * @param businessId Unique identifier of the requesting business.
   * @param systemUserId Unique identifier of a system user.
   * @param systemUserUpdateWithRequiredBody 
   * @return void
  */
  public void systemUserUpdate (String businessId, String systemUserId, SystemUserUpdateWithRequiredBody systemUserUpdateWithRequiredBody) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = systemUserUpdateWithRequiredBody;
    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling systemUserUpdate",
        new ApiException(400, "Missing the required parameter 'businessId' when calling systemUserUpdate"));
    }
    // verify the required parameter 'systemUserId' is set
    if (systemUserId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'systemUserId' when calling systemUserUpdate",
        new ApiException(400, "Missing the required parameter 'systemUserId' when calling systemUserUpdate"));
    }
    // verify the required parameter 'systemUserUpdateWithRequiredBody' is set
    if (systemUserUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'systemUserUpdateWithRequiredBody' when calling systemUserUpdate",
        new ApiException(400, "Missing the required parameter 'systemUserUpdateWithRequiredBody' when calling systemUserUpdate"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/system_users/{system_user_id}".replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString())).replaceAll("\\{" + "system_user_id" + "\\}", apiInvoker.escapeString(systemUserId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return ;
      } else {
         return ;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update a system user information.
   * Update a system user information such as name.
   * @param businessId Unique identifier of the requesting business.   * @param systemUserId Unique identifier of a system user.   * @param systemUserUpdateWithRequiredBody 
  */
  public void systemUserUpdate (String businessId, String systemUserId, SystemUserUpdateWithRequiredBody systemUserUpdateWithRequiredBody, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = systemUserUpdateWithRequiredBody;

    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling systemUserUpdate",
        new ApiException(400, "Missing the required parameter 'businessId' when calling systemUserUpdate"));
    }
    // verify the required parameter 'systemUserId' is set
    if (systemUserId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'systemUserId' when calling systemUserUpdate",
        new ApiException(400, "Missing the required parameter 'systemUserId' when calling systemUserUpdate"));
    }
    // verify the required parameter 'systemUserUpdateWithRequiredBody' is set
    if (systemUserUpdateWithRequiredBody == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'systemUserUpdateWithRequiredBody' when calling systemUserUpdate",
        new ApiException(400, "Missing the required parameter 'systemUserUpdateWithRequiredBody' when calling systemUserUpdate"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/system_users/{system_user_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString())).replaceAll("\\{" + "system_user_id" + "\\}", apiInvoker.escapeString(systemUserId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update member&#39;s business role
  * Update a member&#39;s business role within the business.
   * @param businessId Business id
   * @param businessMembershipMember 
   * @return UpdateBusinessMembershipsResponse
  */
  public UpdateBusinessMembershipsResponse updateBusinessMemberships (String businessId, List<BusinessMembershipMember> businessMembershipMember) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = businessMembershipMember;
    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling updateBusinessMemberships",
        new ApiException(400, "Missing the required parameter 'businessId' when calling updateBusinessMemberships"));
    }
    // verify the required parameter 'businessMembershipMember' is set
    if (businessMembershipMember == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessMembershipMember' when calling updateBusinessMemberships",
        new ApiException(400, "Missing the required parameter 'businessMembershipMember' when calling updateBusinessMemberships"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/members".replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (UpdateBusinessMembershipsResponse) ApiInvoker.deserialize(localVarResponse, "", UpdateBusinessMembershipsResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update member&#39;s business role
   * Update a member&#39;s business role within the business.
   * @param businessId Business id   * @param businessMembershipMember 
  */
  public void updateBusinessMemberships (String businessId, List<BusinessMembershipMember> businessMembershipMember, final Response.Listener<UpdateBusinessMembershipsResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = businessMembershipMember;

    // verify the required parameter 'businessId' is set
    if (businessId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessId' when calling updateBusinessMemberships",
        new ApiException(400, "Missing the required parameter 'businessId' when calling updateBusinessMemberships"));
    }
    // verify the required parameter 'businessMembershipMember' is set
    if (businessMembershipMember == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'businessMembershipMember' when calling updateBusinessMemberships",
        new ApiException(400, "Missing the required parameter 'businessMembershipMember' when calling updateBusinessMemberships"));
    }

    // create path and map variables
    String path = "/businesses/{business_id}/members".replaceAll("\\{format\\}","json").replaceAll("\\{" + "business_id" + "\\}", apiInvoker.escapeString(businessId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((UpdateBusinessMembershipsResponse) ApiInvoker.deserialize(localVarResponse,  "", UpdateBusinessMembershipsResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
