/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.CatalogsLocalStoresCreate200ResponseInner;
import org.openapitools.client.model.CatalogsLocalStoresDelete200ResponseInner;
import org.openapitools.client.model.CatalogsLocalStoresList200Response;
import java.util.*;
import org.openapitools.client.model.LocalInventoryItemsBatch;
import org.openapitools.client.model.LocalInventoryItemsBatchCreate;
import org.openapitools.client.model.LocalInventoryItemsGet;
import org.openapitools.client.model.LocalInventoryItemsGetCreate;
import org.openapitools.client.model.LocalStore;
import org.openapitools.client.model.LocalStoreBatchUpdate;
import org.openapitools.client.model.LocalStoreCreate;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.SupplementalItemsBatchResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class CatalogSupplementalApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Operate on local inventory item batch
  * Managing local inventory information in batches supporting CREATE, UPDATE, UPSERT, DELETE operations. Up to 1000 items per request to match catalogs/items.  - Must provide both item_id and store_code to identify a local inventory item.  - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.
   * @param localInventoryItemsBatchCreate 
   * @param adAccountId Unique identifier of an ad account.
   * @return SupplementalItemsBatchResponse
  */
  public SupplementalItemsBatchResponse catalogsLocalInventoryItemsBatchOperate (String catalogId, LocalInventoryItemsBatchCreate localInventoryItemsBatchCreate, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = localInventoryItemsBatchCreate;
    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalInventoryItemsBatchOperate",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalInventoryItemsBatchOperate"));
    }
    // verify the required parameter 'localInventoryItemsBatchCreate' is set
    if (localInventoryItemsBatchCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'localInventoryItemsBatchCreate' when calling catalogsLocalInventoryItemsBatchOperate",
        new ApiException(400, "Missing the required parameter 'localInventoryItemsBatchCreate' when calling catalogsLocalInventoryItemsBatchOperate"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_inventory_items/batch".replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SupplementalItemsBatchResponse) ApiInvoker.deserialize(localVarResponse, "", SupplementalItemsBatchResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Operate on local inventory item batch
   * Managing local inventory information in batches supporting CREATE, UPDATE, UPSERT, DELETE operations. Up to 1000 items per request to match catalogs/items.  - Must provide both item_id and store_code to identify a local inventory item.  - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.   * @param localInventoryItemsBatchCreate    * @param adAccountId Unique identifier of an ad account.
  */
  public void catalogsLocalInventoryItemsBatchOperate (String catalogId, LocalInventoryItemsBatchCreate localInventoryItemsBatchCreate, String adAccountId, final Response.Listener<SupplementalItemsBatchResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = localInventoryItemsBatchCreate;

    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalInventoryItemsBatchOperate",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalInventoryItemsBatchOperate"));
    }
    // verify the required parameter 'localInventoryItemsBatchCreate' is set
    if (localInventoryItemsBatchCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'localInventoryItemsBatchCreate' when calling catalogsLocalInventoryItemsBatchOperate",
        new ApiException(400, "Missing the required parameter 'localInventoryItemsBatchCreate' when calling catalogsLocalInventoryItemsBatchOperate"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_inventory_items/batch".replaceAll("\\{format\\}","json").replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SupplementalItemsBatchResponse) ApiInvoker.deserialize(localVarResponse,  "", SupplementalItemsBatchResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get local inventory items (POST)
  * Get local inventory items for a catalog owned by the \&quot;operation user_account\&quot;.  - Must provide an array of {item_id, store_code} pairs in item filters to identify local inventory items.  - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.
   * @param localInventoryItemsGetCreate 
   * @param adAccountId Unique identifier of an ad account.
   * @return LocalInventoryItemsGet
  */
  public LocalInventoryItemsGet catalogsLocalInventoryItemsPost (String catalogId, LocalInventoryItemsGetCreate localInventoryItemsGetCreate, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = localInventoryItemsGetCreate;
    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalInventoryItemsPost",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalInventoryItemsPost"));
    }
    // verify the required parameter 'localInventoryItemsGetCreate' is set
    if (localInventoryItemsGetCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'localInventoryItemsGetCreate' when calling catalogsLocalInventoryItemsPost",
        new ApiException(400, "Missing the required parameter 'localInventoryItemsGetCreate' when calling catalogsLocalInventoryItemsPost"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_inventory_items/query".replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LocalInventoryItemsGet) ApiInvoker.deserialize(localVarResponse, "", LocalInventoryItemsGet.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get local inventory items (POST)
   * Get local inventory items for a catalog owned by the \&quot;operation user_account\&quot;.  - Must provide an array of {item_id, store_code} pairs in item filters to identify local inventory items.  - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.   * @param localInventoryItemsGetCreate    * @param adAccountId Unique identifier of an ad account.
  */
  public void catalogsLocalInventoryItemsPost (String catalogId, LocalInventoryItemsGetCreate localInventoryItemsGetCreate, String adAccountId, final Response.Listener<LocalInventoryItemsGet> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = localInventoryItemsGetCreate;

    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalInventoryItemsPost",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalInventoryItemsPost"));
    }
    // verify the required parameter 'localInventoryItemsGetCreate' is set
    if (localInventoryItemsGetCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'localInventoryItemsGetCreate' when calling catalogsLocalInventoryItemsPost",
        new ApiException(400, "Missing the required parameter 'localInventoryItemsGetCreate' when calling catalogsLocalInventoryItemsPost"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_inventory_items/query".replaceAll("\\{format\\}","json").replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LocalInventoryItemsGet) ApiInvoker.deserialize(localVarResponse,  "", LocalInventoryItemsGet.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create local stores
  * Create a local store for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.
   * @param localStoreCreate 
   * @param adAccountId Unique identifier of an ad account.
   * @return List<CatalogsLocalStoresCreate200ResponseInner>
  */
  public List<CatalogsLocalStoresCreate200ResponseInner> catalogsLocalStoresCreate (String catalogId, List<LocalStoreCreate> localStoreCreate, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = localStoreCreate;
    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalStoresCreate",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalStoresCreate"));
    }
    // verify the required parameter 'localStoreCreate' is set
    if (localStoreCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'localStoreCreate' when calling catalogsLocalStoresCreate",
        new ApiException(400, "Missing the required parameter 'localStoreCreate' when calling catalogsLocalStoresCreate"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_stores".replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<CatalogsLocalStoresCreate200ResponseInner>) ApiInvoker.deserialize(localVarResponse, "array", CatalogsLocalStoresCreate200ResponseInner.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create local stores
   * Create a local store for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.   * @param localStoreCreate    * @param adAccountId Unique identifier of an ad account.
  */
  public void catalogsLocalStoresCreate (String catalogId, List<LocalStoreCreate> localStoreCreate, String adAccountId, final Response.Listener<List<CatalogsLocalStoresCreate200ResponseInner>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = localStoreCreate;

    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalStoresCreate",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalStoresCreate"));
    }
    // verify the required parameter 'localStoreCreate' is set
    if (localStoreCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'localStoreCreate' when calling catalogsLocalStoresCreate",
        new ApiException(400, "Missing the required parameter 'localStoreCreate' when calling catalogsLocalStoresCreate"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_stores".replaceAll("\\{format\\}","json").replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<CatalogsLocalStoresCreate200ResponseInner>) ApiInvoker.deserialize(localVarResponse,  "array", CatalogsLocalStoresCreate200ResponseInner.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete local stores
  *   Delete multiple local stores for a catalog owned by the \&quot;operation user_account\&quot;.   - By default, the \&quot;operation user_account\&quot; is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.
   * @param ids List of local store IDs to filter by.
   * @param adAccountId Unique identifier of an ad account.
   * @return List<CatalogsLocalStoresDelete200ResponseInner>
  */
  public List<CatalogsLocalStoresDelete200ResponseInner> catalogsLocalStoresDelete (String catalogId, List<String> ids, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalStoresDelete",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalStoresDelete"));
    }
    // verify the required parameter 'ids' is set
    if (ids == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ids' when calling catalogsLocalStoresDelete",
        new ApiException(400, "Missing the required parameter 'ids' when calling catalogsLocalStoresDelete"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_stores".replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "ids", ids));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<CatalogsLocalStoresDelete200ResponseInner>) ApiInvoker.deserialize(localVarResponse, "array", CatalogsLocalStoresDelete200ResponseInner.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete local stores
   *   Delete multiple local stores for a catalog owned by the \&quot;operation user_account\&quot;.   - By default, the \&quot;operation user_account\&quot; is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.   * @param ids List of local store IDs to filter by.   * @param adAccountId Unique identifier of an ad account.
  */
  public void catalogsLocalStoresDelete (String catalogId, List<String> ids, String adAccountId, final Response.Listener<List<CatalogsLocalStoresDelete200ResponseInner>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalStoresDelete",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalStoresDelete"));
    }
    // verify the required parameter 'ids' is set
    if (ids == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ids' when calling catalogsLocalStoresDelete",
        new ApiException(400, "Missing the required parameter 'ids' when calling catalogsLocalStoresDelete"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_stores".replaceAll("\\{format\\}","json").replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "ids", ids));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<CatalogsLocalStoresDelete200ResponseInner>) ApiInvoker.deserialize(localVarResponse,  "array", CatalogsLocalStoresDelete200ResponseInner.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List local stores
  * Fetch local stores for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.
   * @param ids List of local store IDs to filter by.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return CatalogsLocalStoresList200Response
  */
  public CatalogsLocalStoresList200Response catalogsLocalStoresList (String catalogId, List<String> ids, String adAccountId, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalStoresList",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalStoresList"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_stores".replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "ids", ids));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CatalogsLocalStoresList200Response) ApiInvoker.deserialize(localVarResponse, "", CatalogsLocalStoresList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List local stores
   * Fetch local stores for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account. - Supports optional filtering by store codes.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.   * @param ids List of local store IDs to filter by.   * @param adAccountId Unique identifier of an ad account.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void catalogsLocalStoresList (String catalogId, List<String> ids, String adAccountId, String bookmark, Integer pageSize, final Response.Listener<CatalogsLocalStoresList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalStoresList",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalStoresList"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_stores".replaceAll("\\{format\\}","json").replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("csv", "ids", ids));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CatalogsLocalStoresList200Response) ApiInvoker.deserialize(localVarResponse,  "", CatalogsLocalStoresList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update local stores
  *   Update a local store for a catalog owned by the \&quot;operation user_account\&quot;.   - By default, the \&quot;operation user_account\&quot; is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.
   * @param localStoreBatchUpdate 
   * @param adAccountId Unique identifier of an ad account.
   * @return List<CatalogsLocalStoresCreate200ResponseInner>
  */
  public List<CatalogsLocalStoresCreate200ResponseInner> catalogsLocalStoresUpdate (String catalogId, List<LocalStoreBatchUpdate> localStoreBatchUpdate, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = localStoreBatchUpdate;
    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalStoresUpdate",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalStoresUpdate"));
    }
    // verify the required parameter 'localStoreBatchUpdate' is set
    if (localStoreBatchUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'localStoreBatchUpdate' when calling catalogsLocalStoresUpdate",
        new ApiException(400, "Missing the required parameter 'localStoreBatchUpdate' when calling catalogsLocalStoresUpdate"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_stores".replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<CatalogsLocalStoresCreate200ResponseInner>) ApiInvoker.deserialize(localVarResponse, "array", CatalogsLocalStoresCreate200ResponseInner.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update local stores
   *   Update a local store for a catalog owned by the \&quot;operation user_account\&quot;.   - By default, the \&quot;operation user_account\&quot; is the token user_account.   - Supports optional filtering by store codes.    Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.    [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.   * @param localStoreBatchUpdate    * @param adAccountId Unique identifier of an ad account.
  */
  public void catalogsLocalStoresUpdate (String catalogId, List<LocalStoreBatchUpdate> localStoreBatchUpdate, String adAccountId, final Response.Listener<List<CatalogsLocalStoresCreate200ResponseInner>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = localStoreBatchUpdate;

    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsLocalStoresUpdate",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsLocalStoresUpdate"));
    }
    // verify the required parameter 'localStoreBatchUpdate' is set
    if (localStoreBatchUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'localStoreBatchUpdate' when calling catalogsLocalStoresUpdate",
        new ApiException(400, "Missing the required parameter 'localStoreBatchUpdate' when calling catalogsLocalStoresUpdate"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/local_stores".replaceAll("\\{format\\}","json").replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<CatalogsLocalStoresCreate200ResponseInner>) ApiInvoker.deserialize(localVarResponse,  "array", CatalogsLocalStoresCreate200ResponseInner.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get supplemental items batch status
  * Fetch the status and results of a supplemental items batch operation. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.
   * @param batchId Unique identifier of an items batch operation.
   * @param adAccountId Unique identifier of an ad account.
   * @return SupplementalItemsBatchResponse
  */
  public SupplementalItemsBatchResponse catalogsSupplementalItemsBatchGet (String catalogId, String batchId, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsSupplementalItemsBatchGet",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsSupplementalItemsBatchGet"));
    }
    // verify the required parameter 'batchId' is set
    if (batchId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'batchId' when calling catalogsSupplementalItemsBatchGet",
        new ApiException(400, "Missing the required parameter 'batchId' when calling catalogsSupplementalItemsBatchGet"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/supplemental_items/batch/{batch_id}".replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString())).replaceAll("\\{" + "batch_id" + "\\}", apiInvoker.escapeString(batchId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SupplementalItemsBatchResponse) ApiInvoker.deserialize(localVarResponse, "", SupplementalItemsBatchResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get supplemental items batch status
   * Fetch the status and results of a supplemental items batch operation. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an ad_account_id (obtained via [List ad accounts](/docs/api/v5/#operation/ad_accounts/list)) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts) roles on the ad_account: Owner, Admin, Catalogs Manager.  [Learn more](/docs/api-features/shopping-overview/)
   * @param catalogId Unique identifier of a catalog.   * @param batchId Unique identifier of an items batch operation.   * @param adAccountId Unique identifier of an ad account.
  */
  public void catalogsSupplementalItemsBatchGet (String catalogId, String batchId, String adAccountId, final Response.Listener<SupplementalItemsBatchResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'catalogId' is set
    if (catalogId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'catalogId' when calling catalogsSupplementalItemsBatchGet",
        new ApiException(400, "Missing the required parameter 'catalogId' when calling catalogsSupplementalItemsBatchGet"));
    }
    // verify the required parameter 'batchId' is set
    if (batchId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'batchId' when calling catalogsSupplementalItemsBatchGet",
        new ApiException(400, "Missing the required parameter 'batchId' when calling catalogsSupplementalItemsBatchGet"));
    }

    // create path and map variables
    String path = "/catalogs/{catalog_id}/supplemental_items/batch/{batch_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "catalog_id" + "\\}", apiInvoker.escapeString(catalogId.toString())).replaceAll("\\{" + "batch_id" + "\\}", apiInvoker.escapeString(batchId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "ad_account_id", adAccountId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SupplementalItemsBatchResponse) ApiInvoker.deserialize(localVarResponse,  "", SupplementalItemsBatchResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
