/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.LeadForm;
import org.openapitools.client.model.LeadFormBatchUpdate;
import org.openapitools.client.model.LeadFormCreate;
import org.openapitools.client.model.LeadFormTest;
import org.openapitools.client.model.LeadFormTestCreate;
import org.openapitools.client.model.LeadFormsCreate200Response;
import org.openapitools.client.model.LeadFormsList200Response;
import java.util.*;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.PinterestLibPaginationOrder;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class LeadFormsApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Get lead form by id
  * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Gets a lead form given it&#39;s ID. It must also be associated with the provided ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * @param leadFormId The ID of this lead form
   * @param adAccountId Unique identifier of an ad account.
   * @return LeadForm
  */
  public LeadForm leadFormGet (String leadFormId, String adAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'leadFormId' is set
    if (leadFormId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadFormId' when calling leadFormGet",
        new ApiException(400, "Missing the required parameter 'leadFormId' when calling leadFormGet"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling leadFormGet",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling leadFormGet"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}".replaceAll("\\{" + "lead_form_id" + "\\}", apiInvoker.escapeString(leadFormId.toString())).replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeadForm) ApiInvoker.deserialize(localVarResponse, "", LeadForm.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get lead form by id
   * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Gets a lead form given it&#39;s ID. It must also be associated with the provided ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * @param leadFormId The ID of this lead form   * @param adAccountId Unique identifier of an ad account.
  */
  public void leadFormGet (String leadFormId, String adAccountId, final Response.Listener<LeadForm> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'leadFormId' is set
    if (leadFormId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadFormId' when calling leadFormGet",
        new ApiException(400, "Missing the required parameter 'leadFormId' when calling leadFormGet"));
    }
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling leadFormGet",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling leadFormGet"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "lead_form_id" + "\\}", apiInvoker.escapeString(leadFormId.toString())).replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeadForm) ApiInvoker.deserialize(localVarResponse,  "", LeadForm.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create lead form test data
  * Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.
   * @param adAccountId 
   * @param leadFormId Unique identifier of a lead form.
   * @param leadFormTestCreate 
   * @return LeadFormTest
  */
  public LeadFormTest leadFormTestCreate (String adAccountId, String leadFormId, LeadFormTestCreate leadFormTestCreate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = leadFormTestCreate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling leadFormTestCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling leadFormTestCreate"));
    }
    // verify the required parameter 'leadFormId' is set
    if (leadFormId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadFormId' when calling leadFormTestCreate",
        new ApiException(400, "Missing the required parameter 'leadFormId' when calling leadFormTestCreate"));
    }
    // verify the required parameter 'leadFormTestCreate' is set
    if (leadFormTestCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadFormTestCreate' when calling leadFormTestCreate",
        new ApiException(400, "Missing the required parameter 'leadFormTestCreate' when calling leadFormTestCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}/test".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString())).replaceAll("\\{" + "lead_form_id" + "\\}", apiInvoker.escapeString(leadFormId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeadFormTest) ApiInvoker.deserialize(localVarResponse, "", LeadFormTest.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create lead form test data
   * Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.
   * @param adAccountId    * @param leadFormId Unique identifier of a lead form.   * @param leadFormTestCreate 
  */
  public void leadFormTestCreate (String adAccountId, String leadFormId, LeadFormTestCreate leadFormTestCreate, final Response.Listener<LeadFormTest> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = leadFormTestCreate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling leadFormTestCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling leadFormTestCreate"));
    }
    // verify the required parameter 'leadFormId' is set
    if (leadFormId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadFormId' when calling leadFormTestCreate",
        new ApiException(400, "Missing the required parameter 'leadFormId' when calling leadFormTestCreate"));
    }
    // verify the required parameter 'leadFormTestCreate' is set
    if (leadFormTestCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadFormTestCreate' when calling leadFormTestCreate",
        new ApiException(400, "Missing the required parameter 'leadFormTestCreate' when calling leadFormTestCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}/test".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString())).replaceAll("\\{" + "lead_form_id" + "\\}", apiInvoker.escapeString(leadFormId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeadFormTest) ApiInvoker.deserialize(localVarResponse,  "", LeadFormTest.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create lead forms
  * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Create lead forms. Lead forms are used in lead ads and allow you to control what text appears on the lead form&#39;s description, questions and confirmation sections.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * @param adAccountId Unique identifier of an ad account.
   * @param leadFormCreate 
   * @return LeadFormsCreate200Response
  */
  public LeadFormsCreate200Response leadFormsCreate (String adAccountId, List<LeadFormCreate> leadFormCreate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = leadFormCreate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling leadFormsCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling leadFormsCreate"));
    }
    // verify the required parameter 'leadFormCreate' is set
    if (leadFormCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadFormCreate' when calling leadFormsCreate",
        new ApiException(400, "Missing the required parameter 'leadFormCreate' when calling leadFormsCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/lead_forms".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeadFormsCreate200Response) ApiInvoker.deserialize(localVarResponse, "", LeadFormsCreate200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create lead forms
   * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Create lead forms. Lead forms are used in lead ads and allow you to control what text appears on the lead form&#39;s description, questions and confirmation sections.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * @param adAccountId Unique identifier of an ad account.   * @param leadFormCreate 
  */
  public void leadFormsCreate (String adAccountId, List<LeadFormCreate> leadFormCreate, final Response.Listener<LeadFormsCreate200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = leadFormCreate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling leadFormsCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling leadFormsCreate"));
    }
    // verify the required parameter 'leadFormCreate' is set
    if (leadFormCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadFormCreate' when calling leadFormsCreate",
        new ApiException(400, "Missing the required parameter 'leadFormCreate' when calling leadFormsCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/lead_forms".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeadFormsCreate200Response) ApiInvoker.deserialize(localVarResponse,  "", LeadFormsCreate200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List lead forms
  * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  List lead forms associated with an ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
   * @return LeadFormsList200Response
  */
  public LeadFormsList200Response leadFormsList (String adAccountId, String bookmark, Integer pageSize, PinterestLibPaginationOrder order) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling leadFormsList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling leadFormsList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/lead_forms".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeadFormsList200Response) ApiInvoker.deserialize(localVarResponse, "", LeadFormsList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List lead forms
   * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  List lead forms associated with an ad account ID.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * @param adAccountId Unique identifier of an ad account.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.   * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
  */
  public void leadFormsList (String adAccountId, String bookmark, Integer pageSize, PinterestLibPaginationOrder order, final Response.Listener<LeadFormsList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling leadFormsList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling leadFormsList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/lead_forms".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeadFormsList200Response) ApiInvoker.deserialize(localVarResponse,  "", LeadFormsList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update lead forms
  * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Update lead forms. Lead ads help you reach people who are actively looking for, and interested in, your goods and services. The lead form can be associated with an ad to allow people to fill out the form.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * @param adAccountId Unique identifier of an ad account.
   * @param leadFormBatchUpdate 
   * @return LeadFormsCreate200Response
  */
  public LeadFormsCreate200Response leadFormsUpdate (String adAccountId, List<LeadFormBatchUpdate> leadFormBatchUpdate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = leadFormBatchUpdate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling leadFormsUpdate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling leadFormsUpdate"));
    }
    // verify the required parameter 'leadFormBatchUpdate' is set
    if (leadFormBatchUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadFormBatchUpdate' when calling leadFormsUpdate",
        new ApiException(400, "Missing the required parameter 'leadFormBatchUpdate' when calling leadFormsUpdate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/lead_forms".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeadFormsCreate200Response) ApiInvoker.deserialize(localVarResponse, "", LeadFormsCreate200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update lead forms
   * **This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.**  Update lead forms. Lead ads help you reach people who are actively looking for, and interested in, your goods and services. The lead form can be associated with an ad to allow people to fill out the form.  For more, see [Lead ads](https://help.pinterest.com/en/business/article/lead-ads).
   * @param adAccountId Unique identifier of an ad account.   * @param leadFormBatchUpdate 
  */
  public void leadFormsUpdate (String adAccountId, List<LeadFormBatchUpdate> leadFormBatchUpdate, final Response.Listener<LeadFormsCreate200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = leadFormBatchUpdate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling leadFormsUpdate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling leadFormsUpdate"));
    }
    // verify the required parameter 'leadFormBatchUpdate' is set
    if (leadFormBatchUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadFormBatchUpdate' when calling leadFormsUpdate",
        new ApiException(400, "Missing the required parameter 'leadFormBatchUpdate' when calling leadFormsUpdate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/lead_forms".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeadFormsCreate200Response) ApiInvoker.deserialize(localVarResponse,  "", LeadFormsCreate200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
