/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.23.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AdAccountsSubscriptionsGetList200Response;
import org.openapitools.client.model.LeadSubscription;
import org.openapitools.client.model.LeadSubscriptionPostParamsCreate;
import org.openapitools.client.model.PinterestLibError;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class LeadAdsApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Delete lead ads subscription
  * Delete an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.&#39;
   * @param adAccountId Unique identifier of an ad account.
   * @param subscriptionId Unique identifier of a subscription.
   * @return void
  */
  public void adAccountsSubscriptionsDelById (String adAccountId, String subscriptionId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsDelById",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsDelById"));
    }
    // verify the required parameter 'subscriptionId' is set
    if (subscriptionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subscriptionId' when calling adAccountsSubscriptionsDelById",
        new ApiException(400, "Missing the required parameter 'subscriptionId' when calling adAccountsSubscriptionsDelById"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString())).replaceAll("\\{" + "subscription_id" + "\\}", apiInvoker.escapeString(subscriptionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return ;
      } else {
         return ;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete lead ads subscription
   * Delete an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.&#39;
   * @param adAccountId Unique identifier of an ad account.   * @param subscriptionId Unique identifier of a subscription.
  */
  public void adAccountsSubscriptionsDelById (String adAccountId, String subscriptionId, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsDelById",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsDelById"));
    }
    // verify the required parameter 'subscriptionId' is set
    if (subscriptionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subscriptionId' when calling adAccountsSubscriptionsDelById",
        new ApiException(400, "Missing the required parameter 'subscriptionId' when calling adAccountsSubscriptionsDelById"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString())).replaceAll("\\{" + "subscription_id" + "\\}", apiInvoker.escapeString(subscriptionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get lead ads subscription by ID
  * Get an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.&#39;
   * @param adAccountId Unique identifier of an ad account.
   * @param subscriptionId Unique identifier of a subscription.
   * @return LeadSubscription
  */
  public LeadSubscription adAccountsSubscriptionsGetById (String adAccountId, String subscriptionId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsGetById",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsGetById"));
    }
    // verify the required parameter 'subscriptionId' is set
    if (subscriptionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subscriptionId' when calling adAccountsSubscriptionsGetById",
        new ApiException(400, "Missing the required parameter 'subscriptionId' when calling adAccountsSubscriptionsGetById"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString())).replaceAll("\\{" + "subscription_id" + "\\}", apiInvoker.escapeString(subscriptionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeadSubscription) ApiInvoker.deserialize(localVarResponse, "", LeadSubscription.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get lead ads subscription by ID
   * Get an existing lead ads webhook subscription by ID.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.&#39;
   * @param adAccountId Unique identifier of an ad account.   * @param subscriptionId Unique identifier of a subscription.
  */
  public void adAccountsSubscriptionsGetById (String adAccountId, String subscriptionId, final Response.Listener<LeadSubscription> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsGetById",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsGetById"));
    }
    // verify the required parameter 'subscriptionId' is set
    if (subscriptionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subscriptionId' when calling adAccountsSubscriptionsGetById",
        new ApiException(400, "Missing the required parameter 'subscriptionId' when calling adAccountsSubscriptionsGetById"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString())).replaceAll("\\{" + "subscription_id" + "\\}", apiInvoker.escapeString(subscriptionId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeadSubscription) ApiInvoker.deserialize(localVarResponse,  "", LeadSubscription.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get lead ads subscriptions
  * Get the advertiser&#39;s list of lead ads subscriptions. Only requests for the OWNER or ADMIN of the ad_account will be allowed.
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @return AdAccountsSubscriptionsGetList200Response
  */
  public AdAccountsSubscriptionsGetList200Response adAccountsSubscriptionsGetList (String adAccountId, String bookmark, Integer pageSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsGetList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsGetList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/leads/subscriptions".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AdAccountsSubscriptionsGetList200Response) ApiInvoker.deserialize(localVarResponse, "", AdAccountsSubscriptionsGetList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get lead ads subscriptions
   * Get the advertiser&#39;s list of lead ads subscriptions. Only requests for the OWNER or ADMIN of the ad_account will be allowed.
   * @param adAccountId Unique identifier of an ad account.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
  */
  public void adAccountsSubscriptionsGetList (String adAccountId, String bookmark, Integer pageSize, final Response.Listener<AdAccountsSubscriptionsGetList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsGetList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsGetList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/leads/subscriptions".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AdAccountsSubscriptionsGetList200Response) ApiInvoker.deserialize(localVarResponse,  "", AdAccountsSubscriptionsGetList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create lead ads subscription
  * Create a lead ads webhook subscription. Subscriptions allow Pinterest to deliver lead data from Ads Manager directly to the subscriber. Subscriptions can exist for a specific lead form or at ad account level.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.   - Advertisers can set up multiple integrations using ad_account_id + lead_form_id but only one integration per unique records.   - For data security, egress lead data is encrypted with AES-256-GCM.
   * @param adAccountId Unique identifier of an ad account.
   * @param leadSubscriptionPostParamsCreate 
   * @return LeadSubscription
  */
  public LeadSubscription adAccountsSubscriptionsPost (String adAccountId, LeadSubscriptionPostParamsCreate leadSubscriptionPostParamsCreate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = leadSubscriptionPostParamsCreate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsPost",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsPost"));
    }
    // verify the required parameter 'leadSubscriptionPostParamsCreate' is set
    if (leadSubscriptionPostParamsCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadSubscriptionPostParamsCreate' when calling adAccountsSubscriptionsPost",
        new ApiException(400, "Missing the required parameter 'leadSubscriptionPostParamsCreate' when calling adAccountsSubscriptionsPost"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/leads/subscriptions".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeadSubscription) ApiInvoker.deserialize(localVarResponse, "", LeadSubscription.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create lead ads subscription
   * Create a lead ads webhook subscription. Subscriptions allow Pinterest to deliver lead data from Ads Manager directly to the subscriber. Subscriptions can exist for a specific lead form or at ad account level.   - Only requests for the OWNER or ADMIN of the ad_account will be allowed.   - Advertisers can set up multiple integrations using ad_account_id + lead_form_id but only one integration per unique records.   - For data security, egress lead data is encrypted with AES-256-GCM.
   * @param adAccountId Unique identifier of an ad account.   * @param leadSubscriptionPostParamsCreate 
  */
  public void adAccountsSubscriptionsPost (String adAccountId, LeadSubscriptionPostParamsCreate leadSubscriptionPostParamsCreate, final Response.Listener<LeadSubscription> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = leadSubscriptionPostParamsCreate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsPost",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling adAccountsSubscriptionsPost"));
    }
    // verify the required parameter 'leadSubscriptionPostParamsCreate' is set
    if (leadSubscriptionPostParamsCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leadSubscriptionPostParamsCreate' when calling adAccountsSubscriptionsPost",
        new ApiException(400, "Missing the required parameter 'leadSubscriptionPostParamsCreate' when calling adAccountsSubscriptionsPost"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/leads/subscriptions".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeadSubscription) ApiInvoker.deserialize(localVarResponse,  "", LeadSubscription.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
