/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.ProductTagsBulkAddRequest;
import org.openapitools.client.model.ProductTagsBulkDeleteRequest;
import org.openapitools.client.model.ProductTagsError;
import org.openapitools.client.model.ProductTagsResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class ProductTagsApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Add product tags to pin
  * Add product tags to a pin. Product tags allow you to tag product pins onto a hero pin. - Maximum 24 product tags can be added in a single request. - Duplicate pin_ids in the request will result in an error. - If any product tag fails eligibility check, the entire request fails (all-or-nothing). - If a product tag is already tagged on the pin, it is treated as a no-op success.
   * @param pinId Unique identifier of the hero pin that will receive product tags.
   * @param productTagsBulkAddRequest 
   * @return ProductTagsResponse
  */
  public ProductTagsResponse productTagsBulkAdd (String pinId, ProductTagsBulkAddRequest productTagsBulkAddRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = productTagsBulkAddRequest;
    // verify the required parameter 'pinId' is set
    if (pinId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pinId' when calling productTagsBulkAdd",
        new ApiException(400, "Missing the required parameter 'pinId' when calling productTagsBulkAdd"));
    }
    // verify the required parameter 'productTagsBulkAddRequest' is set
    if (productTagsBulkAddRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'productTagsBulkAddRequest' when calling productTagsBulkAdd",
        new ApiException(400, "Missing the required parameter 'productTagsBulkAddRequest' when calling productTagsBulkAdd"));
    }

    // create path and map variables
    String path = "/pins/{pin_id}/product_tags".replaceAll("\\{" + "pin_id" + "\\}", apiInvoker.escapeString(pinId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ProductTagsResponse) ApiInvoker.deserialize(localVarResponse, "", ProductTagsResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Add product tags to pin
   * Add product tags to a pin. Product tags allow you to tag product pins onto a hero pin. - Maximum 24 product tags can be added in a single request. - Duplicate pin_ids in the request will result in an error. - If any product tag fails eligibility check, the entire request fails (all-or-nothing). - If a product tag is already tagged on the pin, it is treated as a no-op success.
   * @param pinId Unique identifier of the hero pin that will receive product tags.   * @param productTagsBulkAddRequest 
  */
  public void productTagsBulkAdd (String pinId, ProductTagsBulkAddRequest productTagsBulkAddRequest, final Response.Listener<ProductTagsResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = productTagsBulkAddRequest;

    // verify the required parameter 'pinId' is set
    if (pinId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pinId' when calling productTagsBulkAdd",
        new ApiException(400, "Missing the required parameter 'pinId' when calling productTagsBulkAdd"));
    }
    // verify the required parameter 'productTagsBulkAddRequest' is set
    if (productTagsBulkAddRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'productTagsBulkAddRequest' when calling productTagsBulkAdd",
        new ApiException(400, "Missing the required parameter 'productTagsBulkAddRequest' when calling productTagsBulkAdd"));
    }

    // create path and map variables
    String path = "/pins/{pin_id}/product_tags".replaceAll("\\{format\\}","json").replaceAll("\\{" + "pin_id" + "\\}", apiInvoker.escapeString(pinId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ProductTagsResponse) ApiInvoker.deserialize(localVarResponse,  "", ProductTagsResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete product tags from pin
  * Delete product tags from a pin. - If a product tag is not found on the pin, it is treated as a no-op success.
   * @param pinId Unique identifier of the hero pin that will receive product tags.
   * @param productTagsBulkDeleteRequest 
   * @return void
  */
  public void productTagsBulkDelete (String pinId, ProductTagsBulkDeleteRequest productTagsBulkDeleteRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = productTagsBulkDeleteRequest;
    // verify the required parameter 'pinId' is set
    if (pinId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pinId' when calling productTagsBulkDelete",
        new ApiException(400, "Missing the required parameter 'pinId' when calling productTagsBulkDelete"));
    }
    // verify the required parameter 'productTagsBulkDeleteRequest' is set
    if (productTagsBulkDeleteRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'productTagsBulkDeleteRequest' when calling productTagsBulkDelete",
        new ApiException(400, "Missing the required parameter 'productTagsBulkDeleteRequest' when calling productTagsBulkDelete"));
    }

    // create path and map variables
    String path = "/pins/{pin_id}/product_tags/bulk-delete".replaceAll("\\{" + "pin_id" + "\\}", apiInvoker.escapeString(pinId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return ;
      } else {
         return ;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete product tags from pin
   * Delete product tags from a pin. - If a product tag is not found on the pin, it is treated as a no-op success.
   * @param pinId Unique identifier of the hero pin that will receive product tags.   * @param productTagsBulkDeleteRequest 
  */
  public void productTagsBulkDelete (String pinId, ProductTagsBulkDeleteRequest productTagsBulkDeleteRequest, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = productTagsBulkDeleteRequest;

    // verify the required parameter 'pinId' is set
    if (pinId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pinId' when calling productTagsBulkDelete",
        new ApiException(400, "Missing the required parameter 'pinId' when calling productTagsBulkDelete"));
    }
    // verify the required parameter 'productTagsBulkDeleteRequest' is set
    if (productTagsBulkDeleteRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'productTagsBulkDeleteRequest' when calling productTagsBulkDelete",
        new ApiException(400, "Missing the required parameter 'productTagsBulkDeleteRequest' when calling productTagsBulkDelete"));
    }

    // create path and map variables
    String path = "/pins/{pin_id}/product_tags/bulk-delete".replaceAll("\\{format\\}","json").replaceAll("\\{" + "pin_id" + "\\}", apiInvoker.escapeString(pinId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get product tags for pin
  * Retrieve all product tags for a pin. - Returns an empty array if the pin has no product tags.
   * @param pinId Unique identifier of the hero pin that will receive product tags.
   * @return ProductTagsResponse
  */
  public ProductTagsResponse productTagsList (String pinId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'pinId' is set
    if (pinId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pinId' when calling productTagsList",
        new ApiException(400, "Missing the required parameter 'pinId' when calling productTagsList"));
    }

    // create path and map variables
    String path = "/pins/{pin_id}/product_tags".replaceAll("\\{" + "pin_id" + "\\}", apiInvoker.escapeString(pinId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ProductTagsResponse) ApiInvoker.deserialize(localVarResponse, "", ProductTagsResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get product tags for pin
   * Retrieve all product tags for a pin. - Returns an empty array if the pin has no product tags.
   * @param pinId Unique identifier of the hero pin that will receive product tags.
  */
  public void productTagsList (String pinId, final Response.Listener<ProductTagsResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'pinId' is set
    if (pinId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pinId' when calling productTagsList",
        new ApiException(400, "Missing the required parameter 'pinId' when calling productTagsList"));
    }

    // create path and map variables
    String path = "/pins/{pin_id}/product_tags".replaceAll("\\{format\\}","json").replaceAll("\\{" + "pin_id" + "\\}", apiInvoker.escapeString(pinId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ProductTagsResponse) ApiInvoker.deserialize(localVarResponse,  "", ProductTagsResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
