/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.util.*;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.PinterestLibPaginationOrder;
import org.openapitools.client.model.Schedule;
import org.openapitools.client.model.ScheduleBatchUpdate;
import org.openapitools.client.model.ScheduleCreate;
import org.openapitools.client.model.ScheduleStatus;
import org.openapitools.client.model.ScheduleType;
import org.openapitools.client.model.SchedulesCreate200ResponseInner;
import org.openapitools.client.model.SchedulesList200Response;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class SchedulesApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create schedules
  * Batch create schedules
   * @param adAccountId 
   * @param scheduleCreate 
   * @return List<SchedulesCreate200ResponseInner>
  */
  public List<SchedulesCreate200ResponseInner> schedulesCreate (String adAccountId, List<ScheduleCreate> scheduleCreate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = scheduleCreate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling schedulesCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling schedulesCreate"));
    }
    // verify the required parameter 'scheduleCreate' is set
    if (scheduleCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'scheduleCreate' when calling schedulesCreate",
        new ApiException(400, "Missing the required parameter 'scheduleCreate' when calling schedulesCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/schedules".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<SchedulesCreate200ResponseInner>) ApiInvoker.deserialize(localVarResponse, "array", SchedulesCreate200ResponseInner.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create schedules
   * Batch create schedules
   * @param adAccountId    * @param scheduleCreate 
  */
  public void schedulesCreate (String adAccountId, List<ScheduleCreate> scheduleCreate, final Response.Listener<List<SchedulesCreate200ResponseInner>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = scheduleCreate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling schedulesCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling schedulesCreate"));
    }
    // verify the required parameter 'scheduleCreate' is set
    if (scheduleCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'scheduleCreate' when calling schedulesCreate",
        new ApiException(400, "Missing the required parameter 'scheduleCreate' when calling schedulesCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/schedules".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<SchedulesCreate200ResponseInner>) ApiInvoker.deserialize(localVarResponse,  "array", SchedulesCreate200ResponseInner.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Schedules
  * Get schedules for a specific advertiser
   * @param adAccountId 
   * @param entityIds List of Entity IDs, must be associated with the Ad Accound ID provided in the path.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param scheduleStatuses Filter schedules by status (one or more)
   * @param scheduleType Filter schedules by a type
   * @return SchedulesList200Response
  */
  public SchedulesList200Response schedulesList (String adAccountId, List<String> entityIds, String bookmark, Integer pageSize, PinterestLibPaginationOrder order, List<ScheduleStatus> scheduleStatuses, ScheduleType scheduleType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling schedulesList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling schedulesList"));
    }
    // verify the required parameter 'entityIds' is set
    if (entityIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'entityIds' when calling schedulesList",
        new ApiException(400, "Missing the required parameter 'entityIds' when calling schedulesList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/schedules".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "schedule_statuses", scheduleStatuses));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "schedule_type", scheduleType));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "entity_ids", entityIds));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SchedulesList200Response) ApiInvoker.deserialize(localVarResponse, "", SchedulesList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Schedules
   * Get schedules for a specific advertiser
   * @param adAccountId    * @param entityIds List of Entity IDs, must be associated with the Ad Accound ID provided in the path.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.   * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.   * @param scheduleStatuses Filter schedules by status (one or more)   * @param scheduleType Filter schedules by a type
  */
  public void schedulesList (String adAccountId, List<String> entityIds, String bookmark, Integer pageSize, PinterestLibPaginationOrder order, List<ScheduleStatus> scheduleStatuses, ScheduleType scheduleType, final Response.Listener<SchedulesList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling schedulesList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling schedulesList"));
    }
    // verify the required parameter 'entityIds' is set
    if (entityIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'entityIds' when calling schedulesList",
        new ApiException(400, "Missing the required parameter 'entityIds' when calling schedulesList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/schedules".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "schedule_statuses", scheduleStatuses));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "schedule_type", scheduleType));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "entity_ids", entityIds));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SchedulesList200Response) ApiInvoker.deserialize(localVarResponse,  "", SchedulesList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update schedules
  * Update one or more schedules
   * @param adAccountId 
   * @param scheduleBatchUpdate 
   * @return List<SchedulesCreate200ResponseInner>
  */
  public List<SchedulesCreate200ResponseInner> schedulesUpdate (String adAccountId, List<ScheduleBatchUpdate> scheduleBatchUpdate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = scheduleBatchUpdate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling schedulesUpdate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling schedulesUpdate"));
    }
    // verify the required parameter 'scheduleBatchUpdate' is set
    if (scheduleBatchUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'scheduleBatchUpdate' when calling schedulesUpdate",
        new ApiException(400, "Missing the required parameter 'scheduleBatchUpdate' when calling schedulesUpdate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/schedules".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<SchedulesCreate200ResponseInner>) ApiInvoker.deserialize(localVarResponse, "array", SchedulesCreate200ResponseInner.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update schedules
   * Update one or more schedules
   * @param adAccountId    * @param scheduleBatchUpdate 
  */
  public void schedulesUpdate (String adAccountId, List<ScheduleBatchUpdate> scheduleBatchUpdate, final Response.Listener<List<SchedulesCreate200ResponseInner>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = scheduleBatchUpdate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling schedulesUpdate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling schedulesUpdate"));
    }
    // verify the required parameter 'scheduleBatchUpdate' is set
    if (scheduleBatchUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'scheduleBatchUpdate' when calling schedulesUpdate",
        new ApiException(400, "Missing the required parameter 'scheduleBatchUpdate' when calling schedulesUpdate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/schedules".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<SchedulesCreate200ResponseInner>) ApiInvoker.deserialize(localVarResponse,  "array", SchedulesCreate200ResponseInner.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
