/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.PinterestLibPaginationOrder;
import org.openapitools.client.model.TargetingTemplate;
import org.openapitools.client.model.TargetingTemplateCreate;
import org.openapitools.client.model.TargetingTemplateList200Response;
import org.openapitools.client.model.TargetingTemplateUpdateRequestReadOrUpdate;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class TargetingTemplateApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create targeting templates
  * Targeting templates allow advertisers to save a set of targeting details including audience lists, keywords &amp; interest, demographics, and placements to use more than once during the campaign creation process.  Templates can be used to build out basic targeting criteria that you plan to use across campaigns and to reuse performance targeting from prior campaigns for new campaigns.
   * @param adAccountId Unique identifier of an ad account.
   * @param targetingTemplateCreate 
   * @return TargetingTemplate
  */
  public TargetingTemplate targetingTemplateCreate (String adAccountId, TargetingTemplateCreate targetingTemplateCreate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = targetingTemplateCreate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling targetingTemplateCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling targetingTemplateCreate"));
    }
    // verify the required parameter 'targetingTemplateCreate' is set
    if (targetingTemplateCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'targetingTemplateCreate' when calling targetingTemplateCreate",
        new ApiException(400, "Missing the required parameter 'targetingTemplateCreate' when calling targetingTemplateCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/targeting_templates".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (TargetingTemplate) ApiInvoker.deserialize(localVarResponse, "", TargetingTemplate.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create targeting templates
   * Targeting templates allow advertisers to save a set of targeting details including audience lists, keywords &amp; interest, demographics, and placements to use more than once during the campaign creation process.  Templates can be used to build out basic targeting criteria that you plan to use across campaigns and to reuse performance targeting from prior campaigns for new campaigns.
   * @param adAccountId Unique identifier of an ad account.   * @param targetingTemplateCreate 
  */
  public void targetingTemplateCreate (String adAccountId, TargetingTemplateCreate targetingTemplateCreate, final Response.Listener<TargetingTemplate> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = targetingTemplateCreate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling targetingTemplateCreate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling targetingTemplateCreate"));
    }
    // verify the required parameter 'targetingTemplateCreate' is set
    if (targetingTemplateCreate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'targetingTemplateCreate' when calling targetingTemplateCreate",
        new ApiException(400, "Missing the required parameter 'targetingTemplateCreate' when calling targetingTemplateCreate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/targeting_templates".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((TargetingTemplate) ApiInvoker.deserialize(localVarResponse,  "", TargetingTemplate.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List targeting templates
  * Get a list of the targeting templates in the specified &#x60;ad_account_id&#x60;
   * @param adAccountId Unique identifier of an ad account.
   * @param bookmark Cursor used to fetch the next page of items
   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.
   * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.
   * @param includeSizing Include audience sizing in result or not
   * @param searchQuery Search query. Can contain pin description keywords or comma-separated pin IDs.
   * @return TargetingTemplateList200Response
  */
  public TargetingTemplateList200Response targetingTemplateList (String adAccountId, String bookmark, Integer pageSize, PinterestLibPaginationOrder order, Boolean includeSizing, String searchQuery) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling targetingTemplateList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling targetingTemplateList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/targeting_templates".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "include_sizing", includeSizing));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "search_query", searchQuery));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (TargetingTemplateList200Response) ApiInvoker.deserialize(localVarResponse, "", TargetingTemplateList200Response.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List targeting templates
   * Get a list of the targeting templates in the specified &#x60;ad_account_id&#x60;
   * @param adAccountId Unique identifier of an ad account.   * @param bookmark Cursor used to fetch the next page of items   * @param pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information.   * @param order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items.   * @param includeSizing Include audience sizing in result or not   * @param searchQuery Search query. Can contain pin description keywords or comma-separated pin IDs.
  */
  public void targetingTemplateList (String adAccountId, String bookmark, Integer pageSize, PinterestLibPaginationOrder order, Boolean includeSizing, String searchQuery, final Response.Listener<TargetingTemplateList200Response> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling targetingTemplateList",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling targetingTemplateList"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/targeting_templates".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "bookmark", bookmark));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "page_size", pageSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "include_sizing", includeSizing));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "search_query", searchQuery));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((TargetingTemplateList200Response) ApiInvoker.deserialize(localVarResponse,  "", TargetingTemplateList200Response.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update targeting templates
  * Update the targeting template given advertiser ID and targeting template ID
   * @param adAccountId Unique identifier of an ad account.
   * @param targetingTemplateUpdateRequestReadOrUpdate 
   * @return void
  */
  public void targetingTemplateUpdate (String adAccountId, TargetingTemplateUpdateRequestReadOrUpdate targetingTemplateUpdateRequestReadOrUpdate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = targetingTemplateUpdateRequestReadOrUpdate;
    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling targetingTemplateUpdate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling targetingTemplateUpdate"));
    }
    // verify the required parameter 'targetingTemplateUpdateRequestReadOrUpdate' is set
    if (targetingTemplateUpdateRequestReadOrUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'targetingTemplateUpdateRequestReadOrUpdate' when calling targetingTemplateUpdate",
        new ApiException(400, "Missing the required parameter 'targetingTemplateUpdateRequestReadOrUpdate' when calling targetingTemplateUpdate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/targeting_templates".replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return ;
      } else {
         return ;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update targeting templates
   * Update the targeting template given advertiser ID and targeting template ID
   * @param adAccountId Unique identifier of an ad account.   * @param targetingTemplateUpdateRequestReadOrUpdate 
  */
  public void targetingTemplateUpdate (String adAccountId, TargetingTemplateUpdateRequestReadOrUpdate targetingTemplateUpdateRequestReadOrUpdate, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = targetingTemplateUpdateRequestReadOrUpdate;

    // verify the required parameter 'adAccountId' is set
    if (adAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adAccountId' when calling targetingTemplateUpdate",
        new ApiException(400, "Missing the required parameter 'adAccountId' when calling targetingTemplateUpdate"));
    }
    // verify the required parameter 'targetingTemplateUpdateRequestReadOrUpdate' is set
    if (targetingTemplateUpdateRequestReadOrUpdate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'targetingTemplateUpdateRequestReadOrUpdate' when calling targetingTemplateUpdate",
        new ApiException(400, "Missing the required parameter 'targetingTemplateUpdateRequestReadOrUpdate' when calling targetingTemplateUpdate"));
    }

    // create path and map variables
    String path = "/ad_accounts/{ad_account_id}/targeting_templates".replaceAll("\\{format\\}","json").replaceAll("\\{" + "ad_account_id" + "\\}", apiInvoker.escapeString(adAccountId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
