/*
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AgeTrendsBucket;
import org.openapitools.client.model.FeaturedTrend;
import org.openapitools.client.model.GenderBucket;
import org.openapitools.client.model.InterestsEnum;
import java.util.*;
import org.openapitools.client.model.PinterestLibError;
import org.openapitools.client.model.ProductCategoriesEngagementType;
import org.openapitools.client.model.ProductCategoryDetailLookbackWindow;
import org.openapitools.client.model.ProductCategoryDetails;
import org.openapitools.client.model.ProductCategoryEnum;
import org.openapitools.client.model.ProductCategoryRegion;
import org.openapitools.client.model.TrendingProductCategory;
import org.openapitools.client.model.TrendsEditorial;
import org.openapitools.client.model.VerticalProductCategory;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class TrendsApi {
  String basePath = "https://api.pinterest.com/v5";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Returns editorial articles for a given region
  *   Get a list of published editorial articles. Translations of the editorials will be provided if available; otherwise, the default language will be English.
   * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
   * @return List<TrendsEditorial>
  */
  public List<TrendsEditorial> trendsEditorialArticlesList (ProductCategoryRegion region) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'region' is set
    if (region == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'region' when calling trendsEditorialArticlesList",
        new ApiException(400, "Missing the required parameter 'region' when calling trendsEditorialArticlesList"));
    }

    // create path and map variables
    String path = "/trends/editorial_articles";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "region", region));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<TrendsEditorial>) ApiInvoker.deserialize(localVarResponse, "array", TrendsEditorial.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Returns editorial articles for a given region
   *   Get a list of published editorial articles. Translations of the editorials will be provided if available; otherwise, the default language will be English.
   * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
  */
  public void trendsEditorialArticlesList (ProductCategoryRegion region, final Response.Listener<List<TrendsEditorial>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'region' is set
    if (region == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'region' when calling trendsEditorialArticlesList",
        new ApiException(400, "Missing the required parameter 'region' when calling trendsEditorialArticlesList"));
    }

    // create path and map variables
    String path = "/trends/editorial_articles".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "region", region));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<TrendsEditorial>) ApiInvoker.deserialize(localVarResponse,  "array", TrendsEditorial.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get featured topics
  *   Enables advertisers to pull top five trending topics by interest and market, at full parity with the Pinterest Trends UI.
   * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
   * @param interest Interest to filter by
   * @return List<FeaturedTrend>
  */
  public List<FeaturedTrend> trendsFeaturedTopicsList (ProductCategoryRegion region, InterestsEnum interest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'region' is set
    if (region == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'region' when calling trendsFeaturedTopicsList",
        new ApiException(400, "Missing the required parameter 'region' when calling trendsFeaturedTopicsList"));
    }

    // create path and map variables
    String path = "/trends/topics/featured";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "interest", interest));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "region", region));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<FeaturedTrend>) ApiInvoker.deserialize(localVarResponse, "array", FeaturedTrend.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get featured topics
   *   Enables advertisers to pull top five trending topics by interest and market, at full parity with the Pinterest Trends UI.
   * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada   * @param interest Interest to filter by
  */
  public void trendsFeaturedTopicsList (ProductCategoryRegion region, InterestsEnum interest, final Response.Listener<List<FeaturedTrend>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'region' is set
    if (region == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'region' when calling trendsFeaturedTopicsList",
        new ApiException(400, "Missing the required parameter 'region' when calling trendsFeaturedTopicsList"));
    }

    // create path and map variables
    String path = "/trends/topics/featured".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "interest", interest));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "region", region));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<FeaturedTrend>) ApiInvoker.deserialize(localVarResponse,  "array", FeaturedTrend.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get product category details
  *   Enables advertisers to retrieve demographic information, related pins, and trend lines for specified product categories
   * @param productCategories List of product categories
   * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
   * @param lookbackWindow   Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - &#x60;90&#x60; - Last 90 days (3 months)   - &#x60;180&#x60; - Last 180 days (6 months)   - &#x60;365&#x60; - Last 365 days (1 year)   - &#x60;730&#x60; - Last 730 days (2 years)
   * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves
   * @return List<ProductCategoryDetails>
  */
  public List<ProductCategoryDetails> trendsProductCategoriesDetailsList (List<ProductCategoryEnum> productCategories, ProductCategoryRegion region, ProductCategoryDetailLookbackWindow lookbackWindow, ProductCategoriesEngagementType engagementType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'productCategories' is set
    if (productCategories == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'productCategories' when calling trendsProductCategoriesDetailsList",
        new ApiException(400, "Missing the required parameter 'productCategories' when calling trendsProductCategoriesDetailsList"));
    }
    // verify the required parameter 'region' is set
    if (region == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'region' when calling trendsProductCategoriesDetailsList",
        new ApiException(400, "Missing the required parameter 'region' when calling trendsProductCategoriesDetailsList"));
    }

    // create path and map variables
    String path = "/trends/product_categories/details";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "product_categories", productCategories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "region", region));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lookback_window", lookbackWindow));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engagement_type", engagementType));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<ProductCategoryDetails>) ApiInvoker.deserialize(localVarResponse, "array", ProductCategoryDetails.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get product category details
   *   Enables advertisers to retrieve demographic information, related pins, and trend lines for specified product categories
   * @param productCategories List of product categories   * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada   * @param lookbackWindow   Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - &#x60;90&#x60; - Last 90 days (3 months)   - &#x60;180&#x60; - Last 180 days (6 months)   - &#x60;365&#x60; - Last 365 days (1 year)   - &#x60;730&#x60; - Last 730 days (2 years)   * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves
  */
  public void trendsProductCategoriesDetailsList (List<ProductCategoryEnum> productCategories, ProductCategoryRegion region, ProductCategoryDetailLookbackWindow lookbackWindow, ProductCategoriesEngagementType engagementType, final Response.Listener<List<ProductCategoryDetails>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'productCategories' is set
    if (productCategories == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'productCategories' when calling trendsProductCategoriesDetailsList",
        new ApiException(400, "Missing the required parameter 'productCategories' when calling trendsProductCategoriesDetailsList"));
    }
    // verify the required parameter 'region' is set
    if (region == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'region' when calling trendsProductCategoriesDetailsList",
        new ApiException(400, "Missing the required parameter 'region' when calling trendsProductCategoriesDetailsList"));
    }

    // create path and map variables
    String path = "/trends/product_categories/details".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "product_categories", productCategories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "region", region));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lookback_window", lookbackWindow));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engagement_type", engagementType));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<ProductCategoryDetails>) ApiInvoker.deserialize(localVarResponse,  "array", ProductCategoryDetails.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get a list of growing Shopping Product Categories
  *   Get a list of growing Shopping Product Categories in ranked order allowing filtering by engagement type, vertical, age, and gender.
   * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada
   * @param verticals List of verticals to filter by
   * @param ages Age to filter by. If not provided, the results will be filtered by all ages.
   * @param genders Gender to filter by, If not provided, the results will be filtered by all genders.
   * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves
   * @return List<TrendingProductCategory>
  */
  public List<TrendingProductCategory> trendsProductCategoriesTrendingList (ProductCategoryRegion region, List<VerticalProductCategory> verticals, List<AgeTrendsBucket> ages, List<GenderBucket> genders, ProductCategoriesEngagementType engagementType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'region' is set
    if (region == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'region' when calling trendsProductCategoriesTrendingList",
        new ApiException(400, "Missing the required parameter 'region' when calling trendsProductCategoriesTrendingList"));
    }

    // create path and map variables
    String path = "/trends/product_categories/trending";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "region", region));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "verticals", verticals));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ages", ages));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "genders", genders));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engagement_type", engagementType));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<TrendingProductCategory>) ApiInvoker.deserialize(localVarResponse, "array", TrendingProductCategory.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get a list of growing Shopping Product Categories
   *   Get a list of growing Shopping Product Categories in ranked order allowing filtering by engagement type, vertical, age, and gender.
   * @param region      The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada   * @param verticals List of verticals to filter by   * @param ages Age to filter by. If not provided, the results will be filtered by all ages.   * @param genders Gender to filter by, If not provided, the results will be filtered by all genders.   * @param engagementType     Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves
  */
  public void trendsProductCategoriesTrendingList (ProductCategoryRegion region, List<VerticalProductCategory> verticals, List<AgeTrendsBucket> ages, List<GenderBucket> genders, ProductCategoriesEngagementType engagementType, final Response.Listener<List<TrendingProductCategory>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'region' is set
    if (region == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'region' when calling trendsProductCategoriesTrendingList",
        new ApiException(400, "Missing the required parameter 'region' when calling trendsProductCategoriesTrendingList"));
    }

    // create path and map variables
    String path = "/trends/product_categories/trending".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "region", region));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "verticals", verticals));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "ages", ages));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "genders", genders));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "engagement_type", engagementType));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "pinterest_oauth2", "client_credentials" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<TrendingProductCategory>) ApiInvoker.deserialize(localVarResponse,  "array", TrendingProductCategory.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
