//
// BusinessAccessAssetsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class BusinessAccessAssetsAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://api.pinterest.com/v5")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum AssetGroupCreateError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "AssetGroupCreateError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "AssetGroupCreateError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "AssetGroupCreateError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "AssetGroupCreateError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "AssetGroupCreateError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Create a new asset group.
    /// - POST /businesses/{business_id}/asset_groups
    /// - Create a new asset group with the specified parameters. - An [asset group](https://help.pinterest.com/en/business/article/asset-groups) is a custom group of assets based on how you would like to manage your accounts.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter assetGroupInputCreate: (body)  
    /// - returns: AnyPublisher<AssetGroupInput, Error> 
    open func assetGroupCreate(businessId: String, assetGroupInputCreate: AssetGroupInputCreate) -> AnyPublisher<AssetGroupInput, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/asset_groups"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(assetGroupInputCreate)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<AssetGroupInput, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AssetGroupCreateError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AssetGroupCreateError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AssetGroupCreateError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AssetGroupCreateError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AssetGroupCreateError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(AssetGroupInput.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete asset groups.
    /// - DELETE /businesses/{business_id}/asset_groups
    /// - Delete a batch of asset groups.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter assetGroupDeletionDelete: (body)  
    /// - returns: AnyPublisher<AssetGroupDeletion, Error> 
    open func assetGroupDelete(businessId: String, assetGroupDeletionDelete: AssetGroupDeletionDelete) -> AnyPublisher<AssetGroupDeletion, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/asset_groups"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                request.httpBody = try self.encoder.encode(assetGroupDeletionDelete)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<AssetGroupDeletion, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(AssetGroupDeletion.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum AssetGroupUpdateError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "AssetGroupUpdateError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "AssetGroupUpdateError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "AssetGroupUpdateError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "AssetGroupUpdateError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "AssetGroupUpdateError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Update asset groups.
    /// - PATCH /businesses/{business_id}/asset_groups
    /// - Update a batch of asset groups with the specified parameters.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter assetGroupModificationReadOrUpdate: (body)  
    /// - returns: AnyPublisher<AssetGroupModification, Error> 
    open func assetGroupUpdate(businessId: String, assetGroupModificationReadOrUpdate: AssetGroupModificationReadOrUpdate) -> AnyPublisher<AssetGroupModification, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/asset_groups"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PATCH"
                request.httpBody = try self.encoder.encode(assetGroupModificationReadOrUpdate)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<AssetGroupModification, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AssetGroupUpdateError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AssetGroupUpdateError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AssetGroupUpdateError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AssetGroupUpdateError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AssetGroupUpdateError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(AssetGroupModification.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum BusinessAssetMembersGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "BusinessAssetMembersGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "BusinessAssetMembersGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "BusinessAssetMembersGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "BusinessAssetMembersGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "BusinessAssetMembersGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get members with access to asset
    /// - GET /businesses/{business_id}/assets/{asset_id}/members
    /// - Get all the members the requesting business has granted access to on the given asset.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter assetId: (path) Unique identifier of a business asset. 
    /// - parameter startIndex: (query) An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
    /// - parameter fetchSystemUsers: (query) Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
    /// - parameter bookmark: (query) Cursor used to fetch the next page of items (optional)
    /// - parameter pageSize: (query) Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
    /// - returns: AnyPublisher<BusinessAssetMembersGet200Response, Error> 
    open func businessAssetMembersGet(businessId: String, assetId: String, startIndex: Int? = nil, fetchSystemUsers: Bool? = nil, bookmark: String? = nil, pageSize: Int? = nil) -> AnyPublisher<BusinessAssetMembersGet200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/assets/{asset_id}/members"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                localVarPath = localVarPath.replacingOccurrences(of: "{asset_id}", with: assetId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let startIndex = startIndex { queryItems.append(URLQueryItem(name: "start_index", value: "\(startIndex)")) } 
                if let fetchSystemUsers = fetchSystemUsers { queryItems.append(URLQueryItem(name: "fetch_system_users", value: fetchSystemUsers ? "true" : "false")) } 
                if let bookmark = bookmark { queryItems.append(URLQueryItem(name: "bookmark", value: bookmark)) } 
                if let pageSize = pageSize { queryItems.append(URLQueryItem(name: "page_size", value: "\(pageSize)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<BusinessAssetMembersGet200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetMembersGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetMembersGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetMembersGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetMembersGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetMembersGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(BusinessAssetMembersGet200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum BusinessAssetPartnersGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "BusinessAssetPartnersGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "BusinessAssetPartnersGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "BusinessAssetPartnersGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "BusinessAssetPartnersGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "BusinessAssetPartnersGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get partners with access to asset
    /// - GET /businesses/{business_id}/assets/{asset_id}/partners
    /// - Get all the partners the requesting business has granted access to on the given asset. Note: If the asset has been shared with you, an empty array will be returned. This is because an asset shared with you cannot be shared with a different partner.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter assetId: (path) Unique identifier of a business asset. 
    /// - parameter startIndex: (query) An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
    /// - parameter bookmark: (query) Cursor used to fetch the next page of items (optional)
    /// - parameter pageSize: (query) Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
    /// - returns: AnyPublisher<BusinessAssetMembersGet200Response, Error> 
    open func businessAssetPartnersGet(businessId: String, assetId: String, startIndex: Int? = nil, bookmark: String? = nil, pageSize: Int? = nil) -> AnyPublisher<BusinessAssetMembersGet200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/assets/{asset_id}/partners"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                localVarPath = localVarPath.replacingOccurrences(of: "{asset_id}", with: assetId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let startIndex = startIndex { queryItems.append(URLQueryItem(name: "start_index", value: "\(startIndex)")) } 
                if let bookmark = bookmark { queryItems.append(URLQueryItem(name: "bookmark", value: bookmark)) } 
                if let pageSize = pageSize { queryItems.append(URLQueryItem(name: "page_size", value: "\(pageSize)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<BusinessAssetMembersGet200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetPartnersGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetPartnersGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetPartnersGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetPartnersGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetPartnersGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(BusinessAssetMembersGet200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter assetType
    ///
    public enum BusinessAssetsGetAssetType: String, Codable, CaseIterable {
        case adAccount = "AD_ACCOUNT"
        case profile = "PROFILE"
        case assetGroup = "ASSET_GROUP"
        case catalog = "CATALOG"
        case consumer = "CONSUMER"
    }
    public enum BusinessAssetsGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "BusinessAssetsGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "BusinessAssetsGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "BusinessAssetsGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "BusinessAssetsGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "BusinessAssetsGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// List business assets
    /// - GET /businesses/{business_id}/assets
    /// - Get all the assets the requesting business has access to. This includes assets the business owns and assets the business has access to through partnerships.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter permissions: (query) A list of asset permissions used to filter the assets. Only assets where the requesting business has at least one of the specified permissions will be returned. (optional)
    /// - parameter childAssetId: (query) A child asset unique identifier. Used to fetch asset groups that contain the asset id as a child. (optional)
    /// - parameter assetGroupId: (query) An asset group unique identifier. Used to fetch assets contained within the specified asset group. (optional)
    /// - parameter assetType: (query) A resource type to filter the assets by. Only assets of the specified type will be returned. (optional, default to .adAccount)
    /// - parameter startIndex: (query) An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
    /// - parameter bookmark: (query) Cursor used to fetch the next page of items (optional)
    /// - parameter pageSize: (query) Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
    /// - returns: AnyPublisher<BusinessAssetsGet200Response, Error> 
    open func businessAssetsGet(businessId: String, permissions: [PermissionsWithOwner]? = nil, childAssetId: String? = nil, assetGroupId: String? = nil, assetType: BusinessAssetsGetAssetType? = nil, startIndex: Int? = nil, bookmark: String? = nil, pageSize: Int? = nil) -> AnyPublisher<BusinessAssetsGet200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/assets"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let permissions = permissions { queryItems.append(URLQueryItem(name: "permissions", value: permissions.map { $0.rawValue }.joined(separator: ","))) } 
                if let childAssetId = childAssetId { queryItems.append(URLQueryItem(name: "child_asset_id", value: childAssetId)) } 
                if let assetGroupId = assetGroupId { queryItems.append(URLQueryItem(name: "asset_group_id", value: assetGroupId)) } 
                if let assetType = assetType { queryItems.append(URLQueryItem(name: "asset_type", value: assetType.rawValue)) } 
                if let startIndex = startIndex { queryItems.append(URLQueryItem(name: "start_index", value: "\(startIndex)")) } 
                if let bookmark = bookmark { queryItems.append(URLQueryItem(name: "bookmark", value: bookmark)) } 
                if let pageSize = pageSize { queryItems.append(URLQueryItem(name: "page_size", value: "\(pageSize)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<BusinessAssetsGet200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetsGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetsGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetsGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetsGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessAssetsGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(BusinessAssetsGet200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter assetType
    ///
    public enum BusinessMemberAssetsGetAssetType: String, Codable, CaseIterable {
        case adAccount = "AD_ACCOUNT"
        case profile = "PROFILE"
        case assetGroup = "ASSET_GROUP"
        case catalog = "CATALOG"
        case consumer = "CONSUMER"
        case conversionTag = "CONVERSION_TAG"
    }
    public enum BusinessMemberAssetsGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "BusinessMemberAssetsGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "BusinessMemberAssetsGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "BusinessMemberAssetsGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "BusinessMemberAssetsGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "BusinessMemberAssetsGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get assets assigned to a member
    /// - GET /businesses/{business_id}/members/{member_id}/assets
    /// - Get assets on which you assigned asset permissions to the given member. Can be used to: - get all assets, regardless of asset type or - get assets of one asset type by using the asset_type query. The return response will include the permissions the member has to that asset and the asset type.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter memberId: (path) The member id to fetch assets for. 
    /// - parameter assetType: (query) A resource type to filter the assets by. Only assets of the specified type will be returned. (optional, default to .adAccount)
    /// - parameter startIndex: (query) An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
    /// - parameter sortBy: (query) The field to sort member assets by (optional)
    /// - parameter sortAscending: (query) Sort assets in ascending order (optional, default to true)
    /// - parameter searchBy: (query) The field to search member assets by (optional)
    /// - parameter searchValue: (query) The value to search for (optional)
    /// - parameter assetPermissionType: (query) The type of asset permission to filter by (optional)
    /// - parameter adAccountStatuses: (query) A list of ad account statuses to filter the assets by. Only used when asset_type is AD_ACCOUNT. (optional)
    /// - parameter bookmark: (query) Cursor used to fetch the next page of items (optional)
    /// - parameter pageSize: (query) Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
    /// - returns: AnyPublisher<BusinessMemberAssetsGetResponse, Error> 
    open func businessMemberAssetsGet(businessId: String, memberId: String, assetType: BusinessMemberAssetsGetAssetType? = nil, startIndex: Int? = nil, sortBy: AssetSortBy? = nil, sortAscending: Bool? = nil, searchBy: AssetSearchBy? = nil, searchValue: String? = nil, assetPermissionType: AssetPermissionType? = nil, adAccountStatuses: [NonDraftEntityStatus]? = nil, bookmark: String? = nil, pageSize: Int? = nil) -> AnyPublisher<BusinessMemberAssetsGetResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/members/{member_id}/assets"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                localVarPath = localVarPath.replacingOccurrences(of: "{member_id}", with: memberId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let assetType = assetType { queryItems.append(URLQueryItem(name: "asset_type", value: assetType.rawValue)) } 
                if let startIndex = startIndex { queryItems.append(URLQueryItem(name: "start_index", value: "\(startIndex)")) } 
                if let sortBy = sortBy { queryItems.append(URLQueryItem(name: "sort_by", value: sortBy.rawValue)) } 
                if let sortAscending = sortAscending { queryItems.append(URLQueryItem(name: "sort_ascending", value: sortAscending ? "true" : "false")) } 
                if let searchBy = searchBy { queryItems.append(URLQueryItem(name: "search_by", value: searchBy.rawValue)) } 
                if let searchValue = searchValue { queryItems.append(URLQueryItem(name: "search_value", value: searchValue)) } 
                if let assetPermissionType = assetPermissionType { queryItems.append(URLQueryItem(name: "asset_permission_type", value: assetPermissionType.rawValue)) } 
                if let adAccountStatuses = adAccountStatuses { queryItems.append(URLQueryItem(name: "ad_account_statuses", value: adAccountStatuses.map { $0.rawValue }.joined(separator: ","))) } 
                if let bookmark = bookmark { queryItems.append(URLQueryItem(name: "bookmark", value: bookmark)) } 
                if let pageSize = pageSize { queryItems.append(URLQueryItem(name: "page_size", value: "\(pageSize)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<BusinessMemberAssetsGetResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessMemberAssetsGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessMemberAssetsGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessMemberAssetsGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessMemberAssetsGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessMemberAssetsGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(BusinessMemberAssetsGetResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete member access to asset
    /// - DELETE /businesses/{business_id}/members/assets/access
    /// - Terminate multiple members' access to an asset.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter businessMembersAssetAccessDeleteBody: (body)  
    /// - returns: AnyPublisher<DeleteMemberAccessResultsResponseArray, Error> 
    open func businessMembersAssetAccessDelete(businessId: String, businessMembersAssetAccessDeleteBody: BusinessMembersAssetAccessDeleteBody) -> AnyPublisher<DeleteMemberAccessResultsResponseArray, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/members/assets/access"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                request.httpBody = try self.encoder.encode(businessMembersAssetAccessDeleteBody)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<DeleteMemberAccessResultsResponseArray, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(DeleteMemberAccessResultsResponseArray.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum BusinessMembersAssetAccessUpdateError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "BusinessMembersAssetAccessUpdateError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "BusinessMembersAssetAccessUpdateError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "BusinessMembersAssetAccessUpdateError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "BusinessMembersAssetAccessUpdateError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "BusinessMembersAssetAccessUpdateError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Assign/Update member asset permissions
    /// - PATCH /businesses/{business_id}/members/assets/access
    /// - Grant multiple members access to assets and/or update multiple member's exisiting permissions to an asset. Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter updateMemberAssetAccessBody: (body)  
    /// - returns: AnyPublisher<UpdateMemberAssetsResultsResponseArray, Error> 
    open func businessMembersAssetAccessUpdate(businessId: String, updateMemberAssetAccessBody: UpdateMemberAssetAccessBody) -> AnyPublisher<UpdateMemberAssetsResultsResponseArray, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/members/assets/access"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PATCH"
                request.httpBody = try self.encoder.encode(updateMemberAssetAccessBody)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<UpdateMemberAssetsResultsResponseArray, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessMembersAssetAccessUpdateError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessMembersAssetAccessUpdateError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessMembersAssetAccessUpdateError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessMembersAssetAccessUpdateError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessMembersAssetAccessUpdateError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(UpdateMemberAssetsResultsResponseArray.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter partnerType
    ///
    public enum BusinessPartnerAssetAccessGetPartnerType: String, Codable, CaseIterable {
        case _internal = "INTERNAL"
        case external = "EXTERNAL"
    }
    ///
    /// Enum for parameter assetType
    ///
    public enum BusinessPartnerAssetAccessGetAssetType: String, Codable, CaseIterable {
        case adAccount = "AD_ACCOUNT"
        case profile = "PROFILE"
        case assetGroup = "ASSET_GROUP"
        case pinnerList = "PINNER_LIST"
        case conversionTag = "CONVERSION_TAG"
        case catalog = "CATALOG"
        case consumer = "CONSUMER"
        case conversionSegment = "CONVERSION_SEGMENT"
    }
    public enum BusinessPartnerAssetAccessGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "BusinessPartnerAssetAccessGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "BusinessPartnerAssetAccessGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "BusinessPartnerAssetAccessGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "BusinessPartnerAssetAccessGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "BusinessPartnerAssetAccessGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get assets assigned to a partner or assets assigned by a partner
    /// - GET /businesses/{business_id}/partners/{partner_id}/assets
    /// - Can be used to get the business assets your partner has granted you access to or the business assets you have granted your partner access to. If you specify: - partner_type=INTERNAL, you will retrieve your business assets that the partner has access to. - partner_type=EXTERNAL, you will retrieve the partner's business assets that the partner has granted you access to.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter partnerId: (path) The partner id to be bound to the Business 
    /// - parameter partnerType: (query) Specifies whether to fetch internal or external (shared) partners.  If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets.  If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional, default to ._internal)
    /// - parameter assetType: (query) A resource type to filter the assets by. Only assets of the specified type will be returned. (optional, default to .adAccount)
    /// - parameter startIndex: (query) An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
    /// - parameter sortBy: (query) The field to sort member assets by (optional)
    /// - parameter sortAscending: (query) Sort assets in ascending order (optional, default to true)
    /// - parameter searchBy: (query) The field to search member assets by (optional)
    /// - parameter searchValue: (query) The value to search for (optional)
    /// - parameter bookmark: (query) Cursor used to fetch the next page of items (optional)
    /// - parameter pageSize: (query) Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
    /// - returns: AnyPublisher<BusinessPartnerAssetAccessGet200Response, Error> 
    open func businessPartnerAssetAccessGet(businessId: String, partnerId: String, partnerType: BusinessPartnerAssetAccessGetPartnerType? = nil, assetType: BusinessPartnerAssetAccessGetAssetType? = nil, startIndex: Int? = nil, sortBy: AssetSortBy? = nil, sortAscending: Bool? = nil, searchBy: AssetSearchBy? = nil, searchValue: String? = nil, bookmark: String? = nil, pageSize: Int? = nil) -> AnyPublisher<BusinessPartnerAssetAccessGet200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/partners/{partner_id}/assets"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                localVarPath = localVarPath.replacingOccurrences(of: "{partner_id}", with: partnerId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let partnerType = partnerType { queryItems.append(URLQueryItem(name: "partner_type", value: partnerType.rawValue)) } 
                if let assetType = assetType { queryItems.append(URLQueryItem(name: "asset_type", value: assetType.rawValue)) } 
                if let startIndex = startIndex { queryItems.append(URLQueryItem(name: "start_index", value: "\(startIndex)")) } 
                if let sortBy = sortBy { queryItems.append(URLQueryItem(name: "sort_by", value: sortBy.rawValue)) } 
                if let sortAscending = sortAscending { queryItems.append(URLQueryItem(name: "sort_ascending", value: sortAscending ? "true" : "false")) } 
                if let searchBy = searchBy { queryItems.append(URLQueryItem(name: "search_by", value: searchBy.rawValue)) } 
                if let searchValue = searchValue { queryItems.append(URLQueryItem(name: "search_value", value: searchValue)) } 
                if let bookmark = bookmark { queryItems.append(URLQueryItem(name: "bookmark", value: bookmark)) } 
                if let pageSize = pageSize { queryItems.append(URLQueryItem(name: "page_size", value: "\(pageSize)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<BusinessPartnerAssetAccessGet200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessPartnerAssetAccessGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessPartnerAssetAccessGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessPartnerAssetAccessGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessPartnerAssetAccessGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return BusinessPartnerAssetAccessGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(BusinessPartnerAssetAccessGet200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete partner access to asset
    /// - DELETE /businesses/{business_id}/partners/assets
    /// - Terminate multiple partners' access to an asset. If - partner_type=INTERNAL: You will terminate a partner's asset access to your business assets. - partner_type=EXTERNAL: You will terminate your own access to your partner's business assets.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter deletePartnerAssetAccessBody: (body)  
    /// - returns: AnyPublisher<DeletePartnerAssetAccessResultsResponseArray, Error> 
    open func deletePartnerAssetAccessHandlerImpl(businessId: String, deletePartnerAssetAccessBody: DeletePartnerAssetAccessBody) -> AnyPublisher<DeletePartnerAssetAccessResultsResponseArray, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/partners/assets"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                request.httpBody = try self.encoder.encode(deletePartnerAssetAccessBody)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<DeletePartnerAssetAccessResultsResponseArray, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(DeletePartnerAssetAccessResultsResponseArray.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum UpdatePartnerAssetAccessHandlerImplError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "UpdatePartnerAssetAccessHandlerImplError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "UpdatePartnerAssetAccessHandlerImplError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "UpdatePartnerAssetAccessHandlerImplError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "UpdatePartnerAssetAccessHandlerImplError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "UpdatePartnerAssetAccessHandlerImplError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Assign/Update partner asset permissions
    /// - PATCH /businesses/{business_id}/partners/assets
    /// - Grant multiple partners access to assets and/or update multiple partner's exisiting permissions to an asset. If your partner already had permissions on the asset, they will be overriden with the new permissions you assign to them. To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview  Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter businessId: (path) Unique identifier of the requesting business. 
    /// - parameter updatePartnerAssetAccessBody: (body)  
    /// - returns: AnyPublisher<UpdatePartnerAssetsResultsResponseArray, Error> 
    open func updatePartnerAssetAccessHandlerImpl(businessId: String, updatePartnerAssetAccessBody: UpdatePartnerAssetAccessBody) -> AnyPublisher<UpdatePartnerAssetsResultsResponseArray, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/businesses/{business_id}/partners/assets"
                localVarPath = localVarPath.replacingOccurrences(of: "{business_id}", with: businessId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PATCH"
                request.httpBody = try self.encoder.encode(updatePartnerAssetAccessBody)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<UpdatePartnerAssetsResultsResponseArray, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return UpdatePartnerAssetAccessHandlerImplError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return UpdatePartnerAssetAccessHandlerImplError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return UpdatePartnerAssetAccessHandlerImplError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return UpdatePartnerAssetAccessHandlerImplError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return UpdatePartnerAssetAccessHandlerImplError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(UpdatePartnerAssetsResultsResponseArray.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
