//
// ConversionTagsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class ConversionTagsAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://api.pinterest.com/v5")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum ConversionTagsCreateError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ConversionTagsCreateError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "ConversionTagsCreateError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "ConversionTagsCreateError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "ConversionTagsCreateError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "ConversionTagsCreateError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Create conversion tag
    /// - POST /ad_accounts/{ad_account_id}/conversion_tags
    /// - Create a conversion tag, also known as [Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag), with the option to enable enhanced match.  The Pinterest Tag tracks actions people take on the ad account's website after they view the ad account's ad on Pinterest. The advertiser needs to customize this tag to track conversions.  For more information, see:  [Set up the Pinterest tag](https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag)  [Pinterest Tag](/docs/track-conversions/pinterest-tag/)  [Enhanced match](/docs/track-conversions/pinterest-tag/#enhanced-match)
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter adAccountId: (path) Unique identifier of an ad account. 
    /// - parameter conversionTagCreate: (body)  
    /// - returns: AnyPublisher<ConversionTag, Error> 
    open func conversionTagsCreate(adAccountId: String, conversionTagCreate: ConversionTagCreate) -> AnyPublisher<ConversionTag, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/conversion_tags"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(conversionTagCreate)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ConversionTag, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsCreateError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsCreateError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsCreateError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsCreateError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsCreateError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ConversionTag.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ConversionTagsGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ConversionTagsGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "ConversionTagsGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "ConversionTagsGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "ConversionTagsGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "ConversionTagsGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get conversion tag
    /// - GET /ad_accounts/{ad_account_id}/conversion_tags/{conversion_tag_id}
    /// - Get information about an existing conversion tag.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - OAuth:
    /// - type: oauth2
    /// - name: client_credentials
    /// - parameter adAccountId: (path) Unique identifier of an ad account. 
    /// - parameter conversionTagId: (path) Id of the conversion tag. 
    /// - returns: AnyPublisher<ConversionTag, Error> 
    open func conversionTagsGet(adAccountId: String, conversionTagId: String) -> AnyPublisher<ConversionTag, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/conversion_tags/{conversion_tag_id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                localVarPath = localVarPath.replacingOccurrences(of: "{conversion_tag_id}", with: conversionTagId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ConversionTag, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ConversionTag.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ConversionTagsListError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ConversionTagsListError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "ConversionTagsListError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "ConversionTagsListError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "ConversionTagsListError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "ConversionTagsListError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// List conversion tags
    /// - GET /ad_accounts/{ad_account_id}/conversion_tags
    /// - List conversion tags associated with an ad account.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - OAuth:
    /// - type: oauth2
    /// - name: client_credentials
    /// - parameter adAccountId: (path) Unique identifier of an ad account. 
    /// - parameter filterDeleted: (query) Filter by deleted status (optional, default to false)
    /// - returns: AnyPublisher<ConversionTagsList200Response, Error> 
    open func conversionTagsList(adAccountId: String, filterDeleted: Bool? = nil) -> AnyPublisher<ConversionTagsList200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/conversion_tags"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let filterDeleted = filterDeleted { queryItems.append(URLQueryItem(name: "filter_deleted", value: filterDeleted ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ConversionTagsList200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsListError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsListError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsListError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsListError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ConversionTagsListError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ConversionTagsList200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum OcpmEligibleConversionTagsGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "OcpmEligibleConversionTagsGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "OcpmEligibleConversionTagsGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "OcpmEligibleConversionTagsGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "OcpmEligibleConversionTagsGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "OcpmEligibleConversionTagsGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get Ocpm eligible conversion tags
    /// - GET /ad_accounts/{ad_account_id}/conversion_tags/ocpm_eligible
    /// - Get Ocpm eligible conversion tag events for an ad account.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - OAuth:
    /// - type: oauth2
    /// - name: client_credentials
    /// - parameter adAccountId: (path) Unique identifier of an ad account. 
    /// - returns: AnyPublisher<[String: [ConversionEventResponse]], Error> 
    open func ocpmEligibleConversionTagsGet(adAccountId: String) -> AnyPublisher<[String: [ConversionEventResponse]], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/conversion_tags/ocpm_eligible"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[String: [ConversionEventResponse]], Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return OcpmEligibleConversionTagsGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return OcpmEligibleConversionTagsGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return OcpmEligibleConversionTagsGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return OcpmEligibleConversionTagsGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return OcpmEligibleConversionTagsGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode([String: [ConversionEventResponse]].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum PageVisitConversionTagsGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "PageVisitConversionTagsGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "PageVisitConversionTagsGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "PageVisitConversionTagsGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "PageVisitConversionTagsGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "PageVisitConversionTagsGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get page visit conversion tags
    /// - GET /ad_accounts/{ad_account_id}/conversion_tags/page_visit
    /// - Get all page visit conversion tag events for an ad account.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - OAuth:
    /// - type: oauth2
    /// - name: client_credentials
    /// - parameter adAccountId: (path) Unique identifier of an ad account. 
    /// - parameter bookmark: (query) Cursor used to fetch the next page of items (optional)
    /// - parameter pageSize: (query) Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
    /// - parameter order: (query) The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
    /// - returns: AnyPublisher<PageVisitConversionTagsGet200Response, Error> 
    open func pageVisitConversionTagsGet(adAccountId: String, bookmark: String? = nil, pageSize: Int? = nil, order: PinterestLibPaginationOrder? = nil) -> AnyPublisher<PageVisitConversionTagsGet200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/conversion_tags/page_visit"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let bookmark = bookmark { queryItems.append(URLQueryItem(name: "bookmark", value: bookmark)) } 
                if let pageSize = pageSize { queryItems.append(URLQueryItem(name: "page_size", value: "\(pageSize)")) } 
                if let order = order { queryItems.append(URLQueryItem(name: "order", value: order.rawValue)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PageVisitConversionTagsGet200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return PageVisitConversionTagsGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return PageVisitConversionTagsGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return PageVisitConversionTagsGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return PageVisitConversionTagsGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return PageVisitConversionTagsGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(PageVisitConversionTagsGet200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
