//
// ProductGroupPromotionsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class ProductGroupPromotionsAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://api.pinterest.com/v5")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum ProductGroupPromotionsCreateError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ProductGroupPromotionsCreateError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "ProductGroupPromotionsCreateError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "ProductGroupPromotionsCreateError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "ProductGroupPromotionsCreateError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "ProductGroupPromotionsCreateError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Create product group promotions
    /// - POST /ad_accounts/{ad_account_id}/product_group_promotions
    /// - Add one or more product groups from your catalog to an existing ad group. (Product groups added to an ad group are a 'product group promotion.')
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter adAccountId: (path) Unique identifier of an ad account. 
    /// - parameter productGroupPromotionsCreate: (body)  
    /// - returns: AnyPublisher<ProductGroupPromotions, Error> 
    open func productGroupPromotionsCreate(adAccountId: String, productGroupPromotionsCreate: ProductGroupPromotionsCreate) -> AnyPublisher<ProductGroupPromotions, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/product_group_promotions"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(productGroupPromotionsCreate)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ProductGroupPromotions, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsCreateError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsCreateError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsCreateError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsCreateError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsCreateError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ProductGroupPromotions.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ProductGroupPromotionsGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ProductGroupPromotionsGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "ProductGroupPromotionsGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "ProductGroupPromotionsGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "ProductGroupPromotionsGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "ProductGroupPromotionsGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get a product group promotion by id
    /// - GET /ad_accounts/{ad_account_id}/product_group_promotions/{product_group_promotion_id}
    /// - Get a product group promotion by id
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter adAccountId: (path) Unique identifier of an ad account. 
    /// - parameter productGroupPromotionId: (path) Unique identifier of a product group promotion 
    /// - returns: AnyPublisher<ProductGroupPromotion, Error> 
    open func productGroupPromotionsGet(adAccountId: String, productGroupPromotionId: String) -> AnyPublisher<ProductGroupPromotion, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/product_group_promotions/{product_group_promotion_id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                localVarPath = localVarPath.replacingOccurrences(of: "{product_group_promotion_id}", with: productGroupPromotionId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ProductGroupPromotion, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ProductGroupPromotion.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ProductGroupPromotionsListError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ProductGroupPromotionsListError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "ProductGroupPromotionsListError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "ProductGroupPromotionsListError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "ProductGroupPromotionsListError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "ProductGroupPromotionsListError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get product group promotions
    /// - GET /ad_accounts/{ad_account_id}/product_group_promotions
    /// - List existing product group promotions associated with an ad account.  Include either ad_group_id or product_group_promotion_ids in your request.  **Note:** ad_group_ids and product_group_promotion_ids are mutually exclusive parameters. Only provide one. If multiple options are provided, product_group_promotion_ids takes precedence over ad_group_ids. If none are provided, the endpoint returns an error.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter adAccountId: (path) Unique identifier of an ad account. 
    /// - parameter bookmark: (query) Cursor used to fetch the next page of items (optional)
    /// - parameter pageSize: (query) Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
    /// - parameter order: (query) The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
    /// - parameter productGroupPromotionIds: (query) List of Product group promotion Ids. (optional)
    /// - parameter entityStatuses: (query) Entity status (optional)
    /// - parameter adGroupId: (query) Ad group Id. (optional)
    /// - returns: AnyPublisher<ProductGroupPromotionsList200Response, Error> 
    open func productGroupPromotionsList(adAccountId: String, bookmark: String? = nil, pageSize: Int? = nil, order: PinterestLibPaginationOrder? = nil, productGroupPromotionIds: [String]? = nil, entityStatuses: [EntityStatus]? = nil, adGroupId: String? = nil) -> AnyPublisher<ProductGroupPromotionsList200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/product_group_promotions"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let bookmark = bookmark { queryItems.append(URLQueryItem(name: "bookmark", value: bookmark)) } 
                if let pageSize = pageSize { queryItems.append(URLQueryItem(name: "page_size", value: "\(pageSize)")) } 
                if let order = order { queryItems.append(URLQueryItem(name: "order", value: order.rawValue)) } 
                if let productGroupPromotionIds = productGroupPromotionIds { queryItems.append(URLQueryItem(name: "product_group_promotion_ids", value: productGroupPromotionIds.joined(separator: ","))) } 
                if let entityStatuses = entityStatuses { queryItems.append(URLQueryItem(name: "entity_statuses", value: entityStatuses.map { $0.rawValue }.joined(separator: ","))) } 
                if let adGroupId = adGroupId { queryItems.append(URLQueryItem(name: "ad_group_id", value: adGroupId)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ProductGroupPromotionsList200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsListError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsListError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsListError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsListError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsListError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ProductGroupPromotionsList200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ProductGroupPromotionsUpdateError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ProductGroupPromotionsUpdateError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "ProductGroupPromotionsUpdateError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "ProductGroupPromotionsUpdateError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "ProductGroupPromotionsUpdateError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "ProductGroupPromotionsUpdateError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Update product group promotions
    /// - PATCH /ad_accounts/{ad_account_id}/product_group_promotions
    /// - Update multiple existing Product Group Promotions (by product_group_id)
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter adAccountId: (path) Unique identifier of an ad account. 
    /// - parameter productGroupPromotionsUpdateWithRequiredBody: (body)  
    /// - returns: AnyPublisher<ProductGroupPromotions, Error> 
    open func productGroupPromotionsUpdate(adAccountId: String, productGroupPromotionsUpdateWithRequiredBody: ProductGroupPromotionsUpdateWithRequiredBody) -> AnyPublisher<ProductGroupPromotions, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/product_group_promotions"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PATCH"
                request.httpBody = try self.encoder.encode(productGroupPromotionsUpdateWithRequiredBody)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ProductGroupPromotions, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsUpdateError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsUpdateError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsUpdateError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsUpdateError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupPromotionsUpdateError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(ProductGroupPromotions.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter clickWindowDays
    ///
    public enum ProductGroupsAnalyticsClickWindowDays: Double, Codable, CaseIterable {
        case _0 = 0
        case _1 = 1
        case _7 = 7
        case _14 = 14
        case _30 = 30
        case _60 = 60
    }
    ///
    /// Enum for parameter engagementWindowDays
    ///
    public enum ProductGroupsAnalyticsEngagementWindowDays: Double, Codable, CaseIterable {
        case _0 = 0
        case _1 = 1
        case _7 = 7
        case _14 = 14
        case _30 = 30
        case _60 = 60
    }
    ///
    /// Enum for parameter viewWindowDays
    ///
    public enum ProductGroupsAnalyticsViewWindowDays: Double, Codable, CaseIterable {
        case _0 = 0
        case _1 = 1
        case _7 = 7
        case _14 = 14
        case _30 = 30
        case _60 = 60
    }
    ///
    /// Enum for parameter conversionReportTime
    ///
    public enum ProductGroupsAnalyticsConversionReportTime: String, Codable, CaseIterable {
        case timeOfAdAction = "TIME_OF_AD_ACTION"
        case timeOfConversion = "TIME_OF_CONVERSION"
    }
    public enum ProductGroupsAnalyticsError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ProductGroupsAnalyticsError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "ProductGroupsAnalyticsError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "ProductGroupsAnalyticsError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "ProductGroupsAnalyticsError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "ProductGroupsAnalyticsError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get product group analytics
    /// - GET /ad_accounts/{ad_account_id}/product_groups/analytics
    /// - Get analytics for the specified product groups in the specified `ad_account_id`, filtered by the specified options.  - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts): Admin, Analyst, Campaign Manager. - If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days. - If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - OAuth:
    /// - type: oauth2
    /// - name: client_credentials
    /// - parameter startDate: (query) Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. 
    /// - parameter endDate: (query) Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. 
    /// - parameter productGroupIds: (query) List of Product group Ids to use to filter the results. 
    /// - parameter columns: (query) Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. 
    /// - parameter granularity: (query)   TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly 
    /// - parameter adAccountId: (path) Unique identifier of an ad account. 
    /// - parameter clickWindowDays: (query) Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional, default to ._30)
    /// - parameter engagementWindowDays: (query) Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional, default to ._30)
    /// - parameter viewWindowDays: (query) Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional, default to ._1)
    /// - parameter conversionReportTime: (query) The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional, default to .timeOfAdAction)
    /// - parameter reportingTimezone: (query) Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
    /// - returns: AnyPublisher<[ProductGroupAnalyticsItems], Error> 
    open func productGroupsAnalytics(startDate: Date, endDate: Date, productGroupIds: [String], columns: [ReportingColumnSync], granularity: Granularity, adAccountId: String, clickWindowDays: ProductGroupsAnalyticsClickWindowDays? = nil, engagementWindowDays: ProductGroupsAnalyticsEngagementWindowDays? = nil, viewWindowDays: ProductGroupsAnalyticsViewWindowDays? = nil, conversionReportTime: ProductGroupsAnalyticsConversionReportTime? = nil, reportingTimezone: ReportingTimeZone? = nil) -> AnyPublisher<[ProductGroupAnalyticsItems], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/product_groups/analytics"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "start_date", value: ))
                queryItems.append(URLQueryItem(name: "end_date", value: ))
                queryItems.append(URLQueryItem(name: "product_group_ids", value: productGroupIds.joined(separator: ",")))
                queryItems.append(URLQueryItem(name: "columns", value: columns.map { $0.rawValue }.joined(separator: ",")))
                queryItems.append(URLQueryItem(name: "granularity", value: granularity.rawValue))
                if let clickWindowDays = clickWindowDays { queryItems.append(URLQueryItem(name: "click_window_days", value: clickWindowDays.rawValue)) } 
                if let engagementWindowDays = engagementWindowDays { queryItems.append(URLQueryItem(name: "engagement_window_days", value: engagementWindowDays.rawValue)) } 
                if let viewWindowDays = viewWindowDays { queryItems.append(URLQueryItem(name: "view_window_days", value: viewWindowDays.rawValue)) } 
                if let conversionReportTime = conversionReportTime { queryItems.append(URLQueryItem(name: "conversion_report_time", value: conversionReportTime.rawValue)) } 
                if let reportingTimezone = reportingTimezone { queryItems.append(URLQueryItem(name: "reporting_timezone", value: reportingTimezone.rawValue)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[ProductGroupAnalyticsItems], Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupsAnalyticsError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupsAnalyticsError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupsAnalyticsError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupsAnalyticsError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return ProductGroupsAnalyticsError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode([ProductGroupAnalyticsItems].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
