//
// ResourcesAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class ResourcesAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://api.pinterest.com/v5")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum AdAccountCountriesGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "AdAccountCountriesGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "AdAccountCountriesGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "AdAccountCountriesGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "AdAccountCountriesGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "AdAccountCountriesGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get ad accounts countries
    /// - GET /resources/ad_account_countries
    /// - Get Ad Accounts countries
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - OAuth:
    /// - type: oauth2
    /// - name: client_credentials
    /// - returns: AnyPublisher<AdAccountCountriesGet200Response, Error> 
    open func adAccountCountriesGet() -> AnyPublisher<AdAccountCountriesGet200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/resources/ad_account_countries"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<AdAccountCountriesGet200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AdAccountCountriesGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AdAccountCountriesGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AdAccountCountriesGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AdAccountCountriesGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return AdAccountCountriesGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(AdAccountCountriesGet200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum DeliveryMetricsGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "DeliveryMetricsGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "DeliveryMetricsGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "DeliveryMetricsGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "DeliveryMetricsGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "DeliveryMetricsGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get available metrics' definitions
    /// - GET /resources/delivery_metrics
    /// - Get the definitions for ads and organic metrics available across both synchronous and asynchronous report endpoints. The `display_name` attribute will match how the metric is named in our native tools like Ads Manager. See [Organic Analytics](/docs/api-features/analytics-overview/) and [Ads Analytics](/docs/api-features/ads-reporting/) for more information.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - OAuth:
    /// - type: oauth2
    /// - name: client_credentials
    /// - parameter reportType: (query) Report type. (optional)
    /// - returns: AnyPublisher<DeliveryMetricsGet200Response, Error> 
    open func deliveryMetricsGet(reportType: ReportType? = nil) -> AnyPublisher<DeliveryMetricsGet200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/resources/delivery_metrics"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let reportType = reportType { queryItems.append(URLQueryItem(name: "report_type", value: reportType.rawValue)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<DeliveryMetricsGet200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return DeliveryMetricsGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return DeliveryMetricsGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return DeliveryMetricsGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return DeliveryMetricsGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return DeliveryMetricsGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(DeliveryMetricsGet200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum InterestTargetingOptionsGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "InterestTargetingOptionsGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "InterestTargetingOptionsGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "InterestTargetingOptionsGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "InterestTargetingOptionsGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "InterestTargetingOptionsGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get interest details
    /// - GET /resources/targeting/interests/{interest_id}
    /// - Get details of a specific interest given interest ID.  Click [here](https://docs.google.com/spreadsheets/d/1HxL-0Z3p2fgxis9YBP2HWC3tvPrs1hAuHDRtH-NJTIM/edit#gid=118370875) for a spreadsheet listing interests and their IDs.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - OAuth:
    /// - type: oauth2
    /// - name: client_credentials
    /// - parameter interestId: (path) Unique identifier of an interest. 
    /// - returns: AnyPublisher<SingleInterestTargetingOption, Error> 
    open func interestTargetingOptionsGet(interestId: String) -> AnyPublisher<SingleInterestTargetingOption, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/resources/targeting/interests/{interest_id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{interest_id}", with: interestId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SingleInterestTargetingOption, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return InterestTargetingOptionsGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return InterestTargetingOptionsGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return InterestTargetingOptionsGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return InterestTargetingOptionsGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return InterestTargetingOptionsGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SingleInterestTargetingOption.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum LeadFormQuestionsGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "LeadFormQuestionsGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "LeadFormQuestionsGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "LeadFormQuestionsGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "LeadFormQuestionsGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "LeadFormQuestionsGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get lead form questions
    /// - GET /resources/lead_form_questions
    /// - Get a list of all lead form question type names. Some questions might not be used.  **This endpoint is currently in beta and not available to all apps. [Learn more](/docs/getting-started/using-beta-and-restricted-features/).**
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - returns: AnyPublisher<Void, Error> 
    open func leadFormQuestionsGet() -> AnyPublisher<Void, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/resources/lead_form_questions"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Void, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return LeadFormQuestionsGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return LeadFormQuestionsGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return LeadFormQuestionsGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return LeadFormQuestionsGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return LeadFormQuestionsGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    return ()
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum MetricsReadyStateGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "MetricsReadyStateGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "MetricsReadyStateGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "MetricsReadyStateGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "MetricsReadyStateGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "MetricsReadyStateGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get metrics ready state
    /// - GET /resources/metrics_ready_state
    /// - Learn whether conversion or non-conversion metrics are finalized and ready to query.
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter date: (query) Analytics reports request date (UTC). Format: YYYY-MM-DD 
    /// - returns: AnyPublisher<BookClosed, Error> 
    open func metricsReadyStateGet(date: String) -> AnyPublisher<BookClosed, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/resources/metrics_ready_state"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "date", value: date))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<BookClosed, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return MetricsReadyStateGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return MetricsReadyStateGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return MetricsReadyStateGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return MetricsReadyStateGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return MetricsReadyStateGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(BookClosed.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum TargetingOptionsGetError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "TargetingOptionsGetError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "TargetingOptionsGetError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "TargetingOptionsGetError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "TargetingOptionsGetError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "TargetingOptionsGetError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get targeting options
    /// - GET /resources/targeting/{targeting_type}
    /// -     You can use targeting values in ads placement to define your intended audience.      Targeting metrics are organized around targeting specifications.      For more information on ads targeting, see [Audience targeting](https://help.pinterest.com/en/business/article/audience-targeting).      **Sample return:**      ```     [{\"36313\": \"Australia: Moreton Bay - North\", \"124735\": \"Canada: North Battleford\", \"36109\": \"Australia: Murray\", \"36108\": \"Australia: Mid North Coast\", \"36101\": \"Australia: Capital Region\", \"811\": \"U.S.: Reno\", \"36103\": \"Australia: Central West\", \"36102\": \"Australia: Central Coast\", \"36105\": \"Australia: Far West and Orana\", \"36104\": \"Australia: Coffs Harbour - Grafton\", \"36107\": \"Australia: Illawarra\", \"36106\": \"Australia: Hunter Valley Exc Newcastle\", \"554017\": \"New Zealand: Wanganui\", \"554016\": \"New Zealand: Marlborough\", \"554015\": \"New Zealand: Gisborne\", \"554014\": \"New Zealand: Tararua\", \"554013\": \"New Zealand: Invercargill\", \"GR\": \"Greece\", \"554011\": \"New Zealand: Whangarei\", \"554010\": \"New Zealand: Far North\", \"717\": \"U.S.: Quincy-Hannibal-Keokuk\", \"716\": \"U.S.: Baton Rouge\",...}]     ```
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - OAuth:
    /// - type: oauth2
    /// - name: client_credentials
    /// - parameter targetingType: (path) Public targeting type 
    /// - parameter adAccountId: (query) Unique identifier of an ad account. (optional)
    /// - parameter clientId: (query) Client ID (optional)
    /// - parameter oauthSignature: (query) Oauth signature (optional)
    /// - parameter timestamp: (query) Timestamp. (optional)
    /// - returns: AnyPublisher<[[String: Any]], Error> 
    open func targetingOptionsGet(targetingType: PublicTargetingType, adAccountId: String? = nil, clientId: String? = nil, oauthSignature: String? = nil, timestamp: String? = nil) -> AnyPublisher<[[String: Any]], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/resources/targeting/{targeting_type}"
                localVarPath = localVarPath.replacingOccurrences(of: "{targeting_type}", with: )
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let adAccountId = adAccountId { queryItems.append(URLQueryItem(name: "ad_account_id", value: adAccountId)) } 
                if let clientId = clientId { queryItems.append(URLQueryItem(name: "client_id", value: clientId)) } 
                if let oauthSignature = oauthSignature { queryItems.append(URLQueryItem(name: "oauth_signature", value: oauthSignature)) } 
                if let timestamp = timestamp { queryItems.append(URLQueryItem(name: "timestamp", value: timestamp)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[[String: Any]], Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return TargetingOptionsGetError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return TargetingOptionsGetError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return TargetingOptionsGetError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return TargetingOptionsGetError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return TargetingOptionsGetError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    if let object = try JSONSerialization.jsonObject(with: response.data, options: []) as? [[String: Any]] {
                        return object
                    } else {
                        throw OpenAPITransportError.invalidResponseMappingError(data: response.data)
                    }
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
