//
// SchedulesAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class SchedulesAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://api.pinterest.com/v5")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum SchedulesCreateError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "SchedulesCreateError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "SchedulesCreateError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "SchedulesCreateError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "SchedulesCreateError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "SchedulesCreateError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Create schedules
    /// - POST /ad_accounts/{ad_account_id}/schedules
    /// - Batch create schedules
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter adAccountId: (path)  
    /// - parameter scheduleCreate: (body)  
    /// - returns: AnyPublisher<[SchedulesCreate200ResponseInner], Error> 
    open func schedulesCreate(adAccountId: String, scheduleCreate: [ScheduleCreate]) -> AnyPublisher<[SchedulesCreate200ResponseInner], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/schedules"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(scheduleCreate)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[SchedulesCreate200ResponseInner], Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesCreateError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesCreateError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesCreateError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesCreateError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesCreateError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode([SchedulesCreate200ResponseInner].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum SchedulesListError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "SchedulesListError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "SchedulesListError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "SchedulesListError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "SchedulesListError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "SchedulesListError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Get Schedules
    /// - GET /ad_accounts/{ad_account_id}/schedules
    /// - Get schedules for a specific advertiser
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter adAccountId: (path)  
    /// - parameter entityIds: (query) List of Entity IDs, must be associated with the Ad Accound ID provided in the path. 
    /// - parameter bookmark: (query) Cursor used to fetch the next page of items (optional)
    /// - parameter pageSize: (query) Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
    /// - parameter order: (query) The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
    /// - parameter scheduleStatuses: (query) Filter schedules by status (one or more) (optional)
    /// - parameter scheduleType: (query) Filter schedules by a type (optional)
    /// - returns: AnyPublisher<SchedulesList200Response, Error> 
    open func schedulesList(adAccountId: String, entityIds: [String], bookmark: String? = nil, pageSize: Int? = nil, order: PinterestLibPaginationOrder? = nil, scheduleStatuses: [ScheduleStatus]? = nil, scheduleType: ScheduleType? = nil) -> AnyPublisher<SchedulesList200Response, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/schedules"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let bookmark = bookmark { queryItems.append(URLQueryItem(name: "bookmark", value: bookmark)) } 
                if let pageSize = pageSize { queryItems.append(URLQueryItem(name: "page_size", value: "\(pageSize)")) } 
                if let order = order { queryItems.append(URLQueryItem(name: "order", value: order.rawValue)) } 
                if let scheduleStatuses = scheduleStatuses { queryItems.append(URLQueryItem(name: "schedule_statuses", value: scheduleStatuses.map { $0.rawValue }.joined(separator: ","))) } 
                if let scheduleType = scheduleType { queryItems.append(URLQueryItem(name: "schedule_type", value: scheduleType.rawValue)) } 
                queryItems.append(URLQueryItem(name: "entity_ids", value: entityIds.joined(separator: ",")))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SchedulesList200Response, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesListError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesListError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesListError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesListError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesListError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SchedulesList200Response.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum SchedulesUpdateError: Error, CustomStringConvertible {
        // The request could not be understood by the server due to unexpected data.
        case code400Error(PinterestLibError)
        // Authentication is required and has either failed or not been provided.
        case code401Error(PinterestLibError)
        // The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.
        case code403Error(PinterestLibError)
        // The requested resource could not be found on this server.
        case code404Error(PinterestLibError)
        // The user has sent too many requests in a given amount of time and is being rate limited.
        case code429Error(PinterestLibError)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "SchedulesUpdateError: The request could not be understood by the server due to unexpected data.: \(object)"
            case .code401Error(let object):
                return "SchedulesUpdateError: Authentication is required and has either failed or not been provided.: \(object)"
            case .code403Error(let object):
                return "SchedulesUpdateError: The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.: \(object)"
            case .code404Error(let object):
                return "SchedulesUpdateError: The requested resource could not be found on this server.: \(object)"
            case .code429Error(let object):
                return "SchedulesUpdateError: The user has sent too many requests in a given amount of time and is being rate limited.: \(object)"
            }
        }
    }

    /// Update schedules
    /// - PATCH /ad_accounts/{ad_account_id}/schedules
    /// - Update one or more schedules
    /// - OAuth:
    /// - type: oauth2
    /// - name: pinterest_oauth2
    /// - parameter adAccountId: (path)  
    /// - parameter scheduleBatchUpdate: (body)  
    /// - returns: AnyPublisher<[SchedulesCreate200ResponseInner], Error> 
    open func schedulesUpdate(adAccountId: String, scheduleBatchUpdate: [ScheduleBatchUpdate]) -> AnyPublisher<[SchedulesCreate200ResponseInner], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/ad_accounts/{ad_account_id}/schedules"
                localVarPath = localVarPath.replacingOccurrences(of: "{ad_account_id}", with: adAccountId)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PATCH"
                request.httpBody = try self.encoder.encode(scheduleBatchUpdate)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[SchedulesCreate200ResponseInner], Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesUpdateError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesUpdateError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesUpdateError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesUpdateError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(PinterestLibError.self, from: transportError.data)
                            return SchedulesUpdateError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode([SchedulesCreate200ResponseInner].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
