/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.AdvancedAuctionItems
import io.swagger.client.model.AdvancedAuctionItemsGetRequest
import io.swagger.client.model.AdvancedAuctionItemsSubmitRequest
import io.swagger.client.model.AdvancedAuctionProcessedItems
import io.swagger.client.model.Error

trait AdvancedAuctionApi extends Service {


  final override def descriptor = {
    import Service._
    named("AdvancedAuctionApi").withCalls(
      restCall(Method.POST, "/advanced_auction/items/get?adAccountId", advancedAuctionItemsGetPost _), 
      restCall(Method.POST, "/advanced_auction/items/submit?adAccountId", advancedAuctionItemsSubmitPost _)
    ).withAutoAcl(true)
  }

      
  /**
    * Get item bid options (POST)
    * Get the bid options for a batch of retail catalog items.  The catalog must be owned by the \&quot;operation user_account\&quot;. &lt;a href&#x3D;\&quot;/docs/api-features/shopping-overview/#Update%20items%20in%20batch\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See detailed documentation here.&lt;/a&gt; By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: &#x60;Owner&#x60;, &#x60;Admin&#x60;.  This endpoint is not available to all users.
    *   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return AdvancedAuctionItems Body Parameter  Request object used to get bid options values for a batch of retail catalog items 
    */
  def advancedAuctionItemsGetPost(adAccountId:           Option[String] = None): ServiceCall[AdvancedAuctionItemsGetRequest ,AdvancedAuctionItems]
        
  /**
    * Operate on item level bid options
    * This endpoint supports multiple operations on a set of one or more bid options (bid price and bid adjustments for targeting categories) for retail catalog items. These advanced auction settings are applied in campaigns using objective_type &#x60;CATALOG_SALES&#x60; and ad groups using bid_strategy_type &#x60;MAX_BID&#x60;.  The catalog must be owned by the \&quot;operation user_account\&quot;. &lt;a href&#x3D;\&quot;/docs/api-features/modify-items-in-batch/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See detailed documentation here.&lt;/a&gt; By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: &#x60;Owner&#x60;, &#x60;Admin&#x60;.  This endpoint is not available to all users.
    *   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return AdvancedAuctionProcessedItems Body Parameter  Request object used to upsert or delete bid options for a batch of retail catalog items 
    */
  def advancedAuctionItemsSubmitPost(adAccountId:           Option[String] = None): ServiceCall[AdvancedAuctionItemsSubmitRequest ,AdvancedAuctionProcessedItems]
  

  }
