/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.AudienceDefinitionResponse
import io.swagger.client.model.AudienceInsightType
import io.swagger.client.model.AudienceInsightsResponse
import io.swagger.client.model.Error

trait AudienceInsightsApi extends Service {


  final override def descriptor = {
    import Service._
    named("AudienceInsightsApi").withCalls(
      restCall(Method.GET, "/ad_accounts/:ad_account_id/audience_insights?audienceInsightType", audienceInsightsGet _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/insights/audiences", audienceInsightsScopeAndTypeGet _)
    ).withAutoAcl(true)
  }

      
  /**
    * Get audience insights
    * Get Audience Insights for an ad account. The response will return insights for 3 types of audiences: the ad account&#39;s engaged audience on Pinterest, the ad account&#39;s total audience on Pinterest and Pinterest&#39;s total audience.&lt;p/&gt; &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/audience-insights\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Learn more about Audience Insights&lt;/a&gt;.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param audienceInsightType Type of audience insights. 
    * @return AudienceInsightsResponse
    */
  def audienceInsightsGet(audienceInsightType:AudienceInsightType          adAccountId: String): ServiceCall[NotUsed ,AudienceInsightsResponse]
  
  /**
    * Get audience insights scope and type
    * Get the scope and type of available audiences, which along with a date, is an audience that has recently had an interaction (referred to here as a type) on pins. Interacted pins can belong to at least the most common **partner** or **Pinterest** scopes. This means that user interactions made on advertiser or partner pins will have the **partner** scope. You can also have user interactions performed in general on Pinterest with the **Pinterest** scope. In that case, you can then use the returned type and scope values together on requests to other endpoints to retrieve insight metrics for a desired audience.
    *  
    * @param adAccountId Unique identifier of an ad account. 
    * @return AudienceDefinitionResponse
    */
  def audienceInsightsScopeAndTypeGet(adAccountId: String): ServiceCall[NotUsed ,AudienceDefinitionResponse]
  

  }
