/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.AdAccountsAudiencesSharedAccountsList200Response
import io.swagger.client.model.AudienceAccountType
import io.swagger.client.model.AudiencesList200Response
import io.swagger.client.model.BusinessSharedAudience
import io.swagger.client.model.BusinessSharedAudienceResponse
import io.swagger.client.model.Error
import io.swagger.client.model.SharedAudience
import io.swagger.client.model.SharedAudienceResponse

trait AudienceSharingApi extends Service {


  final override def descriptor = {
    import Service._
    named("AudienceSharingApi").withCalls(
      restCall(Method.GET, "/ad_accounts/:ad_account_id/audiences/shared/accounts?audienceId&accountType&pageSize&bookmark", adAccountsAudiencesSharedAccountsList _), 
      restCall(Method.GET, "/businesses/:business_id/audiences/shared/accounts?audienceId&accountType&pageSize&bookmark", businessAccountAudiencesSharedAccountsList _), 
      restCall(Method.GET, "/businesses/:business_id/audiences?bookmark&order&pageSize", sharedAudiencesForBusinessList _), 
      restCall(Method.PATCH, "/ad_accounts/:ad_account_id/audiences/ad_accounts/shared", updateAdAccountToAdAccountSharedAudience _), 
      restCall(Method.PATCH, "/ad_accounts/:ad_account_id/audiences/businesses/shared", updateAdAccountToBusinessSharedAudience _), 
      restCall(Method.PATCH, "/businesses/:business_id/audiences/ad_accounts/shared", updateBusinessToAdAccountSharedAudience _), 
      restCall(Method.PATCH, "/businesses/:business_id/audiences/businesses/shared", updateBusinessToBusinessSharedAudience _)
    ).withAutoAcl(true)
  }

      
  /**
    * List accounts with access to an audience owned by an ad account
    * List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param audienceId Unique identifier of the audience to use to filter the results.  
    * @param accountType Filter accounts by account type.  
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return AdAccountsAudiencesSharedAccountsList200Response
    */
  def adAccountsAudiencesSharedAccountsList(audienceId:String          ,accountType:AudienceAccountType          ,pageSize:           Option[Int] /* = 25*/,bookmark:           Option[String] = NoneadAccountId: String): ServiceCall[NotUsed ,AdAccountsAudiencesSharedAccountsList200Response]
        
  /**
    * List accounts with access to an audience owned by a business
    * List all ad accounts and/or businesses that have access to a specific audience. The audience must either be owned by an ad account in the requesting business, or it must have been shared with the requesting business. If the requesting business is not the owner of the audience, only ad accounts owned by the requesting business will be returned.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @param audienceId Unique identifier of the audience to use to filter the results.  
    * @param accountType Filter accounts by account type.  
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return AdAccountsAudiencesSharedAccountsList200Response
    */
  def businessAccountAudiencesSharedAccountsList(audienceId:String          ,accountType:AudienceAccountType          ,pageSize:           Option[Int] /* = 25*/,bookmark:           Option[String] = NonebusinessId: String): ServiceCall[NotUsed ,AdAccountsAudiencesSharedAccountsList200Response]
        
  /**
    * List received audiences for a business
    * Get a list of received audiences for the given business.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
    * @return AudiencesList200Response
    */
  def sharedAudiencesForBusinessList(bookmark:           Option[String] = None,order: Option[AudienceSharingApiOrderEnum.AudienceSharingApiOrderEnum]pageSize:           Option[Int] /* = 25*/businessId: String): ServiceCall[NotUsed ,AudiencesList200Response]
  
  /**
    * Update audience sharing between ad accounts
    * From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same &lt;a href&#x3D;&#39;https://help.pinterest.com/en/business/article/create-and-manage-accounts&#39;&gt;Pinterest Business Hierarchy&lt;/a&gt; as the business owner of the ad account.&lt;br&gt; This endpoint is not available to all apps.&lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return SharedAudienceResponse Body Parameter   
    */
  def updateAdAccountToAdAccountSharedAudience(adAccountId: String): ServiceCall[SharedAudience ,SharedAudienceResponse]
  
  /**
    * Update audience sharing from an ad account to businesses
    * From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.&lt;br&gt; This endpoint is not available to all apps.&lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return BusinessSharedAudienceResponse Body Parameter   
    */
  def updateAdAccountToBusinessSharedAudience(adAccountId: String): ServiceCall[BusinessSharedAudience ,BusinessSharedAudienceResponse]
  
  /**
    * Update audience sharing from a business to ad accounts
    * From a business, share a specific audience with other ad account(s), or revoke access to a previously shared audience. &lt;ul&gt; &lt;li&gt;If the business is the owner of the audience, it can share with any ad account within the same business hierarchy.&lt;/li&gt; &lt;li&gt;If the business is the recipient of the audience, it can share with any of its owned ad accounts.&lt;/li&gt; &lt;/ul&gt; This endpoint is not available to all apps.&lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @return SharedAudienceResponse Body Parameter   
    */
  def updateBusinessToAdAccountSharedAudience(businessId: String): ServiceCall[SharedAudience ,SharedAudienceResponse]
  
  /**
    * Update audience sharing between businesses
    * From a business, share a specific audience with another business account, or revoke access to a previously shared audience. Only the audience owner can share the audience with other businesses, and the recipient business must be within the same business hierarchy.&lt;br&gt; This endpoint is not available to all apps.&lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @return BusinessSharedAudienceResponse Body Parameter   
    */
  def updateBusinessToBusinessSharedAudience(businessId: String): ServiceCall[BusinessSharedAudience ,BusinessSharedAudienceResponse]
  

        object AudienceSharingApiOrderEnum extends Enumeration {
        val   ASCENDING, DESCENDING = Value     
        type AudienceSharingApiOrderEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[AudienceSharingApiOrderEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[AudienceSharingApiOrderEnum] = PathParamSerializer.required("AudienceSharingApiOrderEnum")(withName)(_.toString)
        }
  }
