/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.AdsCreditRedeemRequest
import io.swagger.client.model.AdsCreditRedeemResponse
import io.swagger.client.model.AdsCreditsDiscountsGet200Response
import io.swagger.client.model.BillingProfilesGet200Response
import io.swagger.client.model.Error
import io.swagger.client.model.SSIOAccountResponse
import io.swagger.client.model.SSIOCreateInsertionOrderRequest
import io.swagger.client.model.SSIOCreateInsertionOrderResponse
import io.swagger.client.model.SSIOEditInsertionOrderRequest
import io.swagger.client.model.SSIOEditInsertionOrderResponse
import io.swagger.client.model.SSIOInsertionOrderStatusResponse
import io.swagger.client.model.SsioInsertionOrdersStatusGetByAdAccount200Response
import io.swagger.client.model.SsioOrderLinesGetByAdAccount200Response

trait BillingApi extends Service {


  final override def descriptor = {
    import Service._
    named("BillingApi").withCalls(
      restCall(Method.POST, "/ad_accounts/:ad_account_id/ads_credit/redeem", adsCreditRedeem _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/ads_credit/discounts?bookmark&pageSize", adsCreditsDiscountsGet _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/billing_profiles?isActive&bookmark&pageSize", billingProfilesGet _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/ssio/accounts", ssioAccountsGet _), 
      restCall(Method.POST, "/ad_accounts/:ad_account_id/ssio/insertion_orders", ssioInsertionOrderCreate _), 
      restCall(Method.PATCH, "/ad_accounts/:ad_account_id/ssio/insertion_orders", ssioInsertionOrderEdit _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/ssio/insertion_orders/status?bookmark&pageSize", ssioInsertionOrdersStatusGetByAdAccount _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/ssio/insertion_orders/:pin_order_id/status", ssioInsertionOrdersStatusGetByPinOrderId _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/ssio/order_lines?bookmark&pageSize&pinOrderId", ssioOrderLinesGetByAdAccount _)
    ).withAutoAcl(true)
  }


  /**
    * Redeem ad credits
    * Redeem ads credit on behalf of the ad account id and apply it towards billing.  &lt;strong&gt;This endpoint might not be available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return AdsCreditRedeemResponse Body Parameter  Redeem ad credits request. 
    */
  def adsCreditRedeem(adAccountId: String): ServiceCall[AdsCreditRedeemRequest ,AdsCreditRedeemResponse]
        
  /**
    * Get ads credit discounts
    * Returns the list of discounts applied to the account.  &lt;strong&gt;This endpoint might not be available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
    * @return AdsCreditsDiscountsGet200Response
    */
  def adsCreditsDiscountsGet(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/adAccountId: String): ServiceCall[NotUsed ,AdsCreditsDiscountsGet200Response]
        
  /**
    * Get billing profiles
    * Get billing profiles in the advertiser account.  &lt;strong&gt;This endpoint might not be available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param isActive Return active billing profiles, if false return all billing profiles.  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
    * @return BillingProfilesGet200Response
    */
  def billingProfilesGet(isActive:Boolean          ,bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/adAccountId: String): ServiceCall[NotUsed ,BillingProfilesGet200Response]
  
  /**
    * Get Salesforce account details including bill-to information.
    * Get Salesforce account details including bill-to information to be used in insertion orders process for &lt;code&gt;ad_account_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    *  
    * @param adAccountId Unique identifier of an ad account. 
    * @return SSIOAccountResponse
    */
  def ssioAccountsGet(adAccountId: String): ServiceCall[NotUsed ,SSIOAccountResponse]
  
  /**
    * Create insertion order through SSIO.
    * Create insertion order through SSIO for &lt;code&gt;ad_account_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return SSIOCreateInsertionOrderResponse Body Parameter  Order line to create. 
    */
  def ssioInsertionOrderCreate(adAccountId: String): ServiceCall[SSIOCreateInsertionOrderRequest ,SSIOCreateInsertionOrderResponse]
  
  /**
    * Edit insertion order through SSIO.
    * Edit insertion order through SSIO for &lt;code&gt;ad_account_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return SSIOEditInsertionOrderResponse Body Parameter  Order line to create. 
    */
  def ssioInsertionOrderEdit(adAccountId: String): ServiceCall[SSIOEditInsertionOrderRequest ,SSIOEditInsertionOrderResponse]
        
  /**
    * Get insertion order status by ad account id.
    * Get insertion order status for account id &lt;code&gt;ad_account_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
    * @return SsioInsertionOrdersStatusGetByAdAccount200Response
    */
  def ssioInsertionOrdersStatusGetByAdAccount(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/adAccountId: String): ServiceCall[NotUsed ,SsioInsertionOrdersStatusGetByAdAccount200Response]
  
  /**
    * Get insertion order status by pin order id.
    * Get insertion order status for pin order id &lt;code&gt;pin_order_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param pinOrderId The pin order id associated with the ssio insertion order 
    * @return SSIOInsertionOrderStatusResponse
    */
  def ssioInsertionOrdersStatusGetByPinOrderId(adAccountId: String, pinOrderId: String): ServiceCall[NotUsed ,SSIOInsertionOrderStatusResponse]
        
  /**
    * Get Salesforce order lines by ad account id.
    * Get Salesforce order lines for account id &lt;code&gt;ad_account_id&lt;/code&gt;. - The token&#39;s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt;: Admin, Finance, Campaign.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param pinOrderId The pin order id associated with the ssio insertino order (optional)
    * @return SsioOrderLinesGetByAdAccount200Response
    */
  def ssioOrderLinesGetByAdAccount(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,pinOrderId:           Option[String] = NoneadAccountId: String): ServiceCall[NotUsed ,SsioOrderLinesGetByAdAccount200Response]
  

  }
