/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.BulkDownloadRequest
import io.swagger.client.model.BulkDownloadResponse
import io.swagger.client.model.BulkUpsertRequest
import io.swagger.client.model.BulkUpsertResponse
import io.swagger.client.model.BulkUpsertStatusResponse
import io.swagger.client.model.Error

trait BulkApi extends Service {


  final override def descriptor = {
    import Service._
    named("BulkApi").withCalls(
      restCall(Method.POST, "/ad_accounts/:ad_account_id/bulk/download", bulkDownloadCreate _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/bulk/:bulk_request_id?includeDetails", bulkRequestGet _), 
      restCall(Method.POST, "/ad_accounts/:ad_account_id/bulk/upsert", bulkUpsertCreate _)
    ).withAutoAcl(true)
  }


  /**
    * Get advertiser entities in bulk
    * Create an asynchronous report that may include information on campaigns, ad groups, product groups, ads, and/or keywords; can filter by campaigns. Though the entities may be active, archived, or paused, only active entities will return data.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return BulkDownloadResponse Body Parameter  Parameters to get ad entities in bulk 
    */
  def bulkDownloadCreate(adAccountId: String): ServiceCall[BulkDownloadRequest ,BulkDownloadResponse]
        
  /**
    * Download advertiser entities in bulk
    * Get the status of a bulk request by &lt;code&gt;request_id&lt;/code&gt;, along with a download URL that will allow you to download the new or updated entity data (campaigns, ad groups, product groups, ads, or keywords).
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param bulkRequestId Unique identifier of a bulk upsert request.  
    * @param includeDetails if set to True then attach the errors/details to all the requests (optional, default to false)
    * @return BulkUpsertStatusResponse
    */
  def bulkRequestGet(includeDetails:           Option[Boolean] /* = false*/adAccountId: String, bulkRequestId: String): ServiceCall[NotUsed ,BulkUpsertStatusResponse]
  
  /**
    * Create/update ad entities in bulk
    * Either create or update any combination of campaigns, ad groups, product groups, ads, or keywords. Note that this request will be processed asynchronously; the response will include a &lt;code&gt;request_id&lt;/code&gt; that can be used to obtain the status of the request.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return BulkUpsertResponse Body Parameter  Parameters to get create/update ad entities in bulk 
    */
  def bulkUpsertCreate(adAccountId: String): ServiceCall[BulkUpsertRequest ,BulkUpsertResponse]
  

  }
