/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.BusinessAssetMembersGet200Response
import io.swagger.client.model.BusinessAssetPartnersGet200Response
import io.swagger.client.model.BusinessAssetsGet200Response
import io.swagger.client.model.BusinessMemberAssetsGet200Response
import io.swagger.client.model.BusinessMembersAssetAccessDeleteRequest
import io.swagger.client.model.BusinessPartnerAssetAccessGet200Response
import io.swagger.client.model.CreateAssetGroupBody
import io.swagger.client.model.CreateAssetGroupResponse
import io.swagger.client.model.DeleteAssetGroupBody
import io.swagger.client.model.DeleteAssetGroupResponse
import io.swagger.client.model.DeleteMemberAccessResultsResponseArray
import io.swagger.client.model.DeletePartnerAssetAccessBody
import io.swagger.client.model.DeletePartnerAssetsResultsResponseArray
import io.swagger.client.model.Error
import io.swagger.client.model.PartnerType
import io.swagger.client.model.PermissionsWithOwner
import io.swagger.client.model.UpdateAssetGroupBody
import io.swagger.client.model.UpdateAssetGroupResponse
import io.swagger.client.model.UpdateMemberAssetAccessBody
import io.swagger.client.model.UpdateMemberAssetsResultsResponseArray
import io.swagger.client.model.UpdatePartnerAssetAccessBody
import io.swagger.client.model.UpdatePartnerAssetsResultsResponseArray

trait BusinessAccessAssetsApi extends Service {


  final override def descriptor = {
    import Service._
    named("BusinessAccessAssetsApi").withCalls(
      restCall(Method.POST, "/businesses/:business_id/asset_groups", assetGroupCreate _), 
      restCall(Method.DELETE, "/businesses/:business_id/asset_groups", assetGroupDelete _), 
      restCall(Method.PATCH, "/businesses/:business_id/asset_groups", assetGroupUpdate _), 
      restCall(Method.GET, "/businesses/:business_id/assets/:asset_id/members?bookmark&pageSize&startIndex", businessAssetMembersGet _), 
      restCall(Method.GET, "/businesses/:business_id/assets/:asset_id/partners?startIndex&bookmark&pageSize", businessAssetPartnersGet _), 
      restCall(Method.GET, "/businesses/:business_id/assets?permissions&childAssetId&assetGroupId&assetType&startIndex&bookmark&pageSize", businessAssetsGet _), 
      restCall(Method.GET, "/businesses/:business_id/members/:member_id/assets?assetType&startIndex&bookmark&pageSize", businessMemberAssetsGet _), 
      restCall(Method.DELETE, "/businesses/:business_id/members/assets/access", businessMembersAssetAccessDelete _), 
      restCall(Method.PATCH, "/businesses/:business_id/members/assets/access", businessMembersAssetAccessUpdate _), 
      restCall(Method.GET, "/businesses/:business_id/partners/:partner_id/assets?partnerType&assetType&startIndex&pageSize&bookmark", businessPartnerAssetAccessGet _), 
      restCall(Method.DELETE, "/businesses/:business_id/partners/assets", deletePartnerAssetAccessHandlerImpl _), 
      restCall(Method.PATCH, "/businesses/:business_id/partners/assets", updatePartnerAssetAccessHandlerImpl _)
    ).withAutoAcl(true)
  }


  /**
    * Create a new asset group.
    * Create a new asset group with the specified parameters. - An &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/asset-groups\&quot;&gt;asset group&lt;/a&gt; is a custom group of assets based on how you’d like to manage your accounts.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @return CreateAssetGroupResponse Body Parameter   
    */
  def assetGroupCreate(businessId: String): ServiceCall[CreateAssetGroupBody ,CreateAssetGroupResponse]
  
  /**
    * Delete asset groups.
    * Delete a batch of asset groups.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @return DeleteAssetGroupResponse Body Parameter   
    */
  def assetGroupDelete(businessId: String): ServiceCall[DeleteAssetGroupBody ,DeleteAssetGroupResponse]
  
  /**
    * Update asset groups.
    * Update a batch of asset groups with the specified parameters.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @return UpdateAssetGroupResponse Body Parameter   
    */
  def assetGroupUpdate(businessId: String): ServiceCall[UpdateAssetGroupBody ,UpdateAssetGroupResponse]
        
  /**
    * Get members with access to asset
    * Get all the members the requesting business has granted access to on the given asset.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @param assetId Unique identifier of a business asset.  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
    * @return BusinessAssetMembersGet200Response
    */
  def businessAssetMembersGet(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,startIndex:           Option[Int] /* = 0*/businessId: String, assetId: String): ServiceCall[NotUsed ,BusinessAssetMembersGet200Response]
        
  /**
    * Get partners with access to asset
    * Get all the partners the requesting business has granted access to on the given asset. Note: If the asset has been shared with you, an empty array will be returned. This is because an asset shared with you cannot be shared with a different partner.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @param assetId Unique identifier of a business asset.  
    * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0) 
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
    * @return BusinessAssetPartnersGet200Response
    */
  def businessAssetPartnersGet(startIndex:           Option[Int] /* = 0*/,bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/businessId: String, assetId: String): ServiceCall[NotUsed ,BusinessAssetPartnersGet200Response]
        
  // permissions:Seq[PermissionsWithOwner]  -- not yet supported Seq PathParamSerializers for multi value query parameters https://github.com/lagom/lagom/issues/643
      
  /**
    * List business assets
    * Get all the assets the requesting business has access to. This includes assets the business owns and assets the business has access to through partnerships.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @param permissions A list of asset permissions used to filter the assets. Only assets where the requesting business has at least one of the specified permissions will be returned. (optional, default to new ListBuffer[PermissionsWithOwner]() ) 
    * @param childAssetId A child asset unique identifier. Used to fetch asset groups that contain the asset id as a child. (optional) 
    * @param assetGroupId An asset group unique identifier. Used to fetch assets contained within the specified asset group. (optional) 
    * @param assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional, default to AD_ACCOUNT) 
    * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0) 
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
    * @return BusinessAssetsGet200Response
    */
  def businessAssetsGet(childAssetId:           Option[String] = None,assetGroupId:           Option[String] = None,assetType: Option[BusinessAccessAssetsApiAssetTypeEnum.BusinessAccessAssetsApiAssetTypeEnum]startIndex:           Option[Int] /* = 0*/,bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/businessId: String): ServiceCall[NotUsed ,BusinessAssetsGet200Response]
        
  /**
    * Get assets assigned to a member
    * Get assets on which you assigned asset permissions to the given member. Can be used to: - get all assets, regardless of asset type or - get assets of one asset type by using the asset_type query. The return response will include the permissions the member has to that asset and the asset type.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @param memberId The member id to fetch assets for.  
    * @param assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional, default to AD_ACCOUNT) 
    * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0) 
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
    * @return BusinessMemberAssetsGet200Response
    */
  def businessMemberAssetsGet(assetType: Option[BusinessAccessAssetsApiAssetTypeEnum.BusinessAccessAssetsApiAssetTypeEnum]startIndex:           Option[Int] /* = 0*/,bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/businessId: String, memberId: String): ServiceCall[NotUsed ,BusinessMemberAssetsGet200Response]
  
  /**
    * Delete member access to asset
    * Terminate multiple members&#39; access to an asset.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @return DeleteMemberAccessResultsResponseArray Body Parameter  List member assset permissions to delete. 
    */
  def businessMembersAssetAccessDelete(businessId: String): ServiceCall[BusinessMembersAssetAccessDeleteRequest ,DeleteMemberAccessResultsResponseArray]
  
  /**
    * Assign/Update member asset permissions
    * Grant multiple members access to assets and/or update multiple member&#39;s exisiting permissions to an asset. Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE. 
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @return UpdateMemberAssetsResultsResponseArray Body Parameter  List of member asset permissions to create or update. 
    */
  def businessMembersAssetAccessUpdate(businessId: String): ServiceCall[UpdateMemberAssetAccessBody ,UpdateMemberAssetsResultsResponseArray]
        
  /**
    * Get assets assigned to a partner or assets assigned by a partner
    * Can be used to get the business assets your partner has granted you access to or the business assets you have granted your partner access to. If you specify: - partner_type&#x3D;INTERNAL, you will retrieve your business assets that the partner has access to. - partner_type&#x3D;EXTERNAL, you will retrieve the partner&#39;s business assets that the partner has granted you access to.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @param partnerId The partner id to be bound to the Business  
    * @param partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets.&lt;br&gt; If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional) 
    * @param assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional, default to AD_ACCOUNT) 
    * @param startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return BusinessPartnerAssetAccessGet200Response
    */
  def businessPartnerAssetAccessGet(partnerType:           Option[PartnerType] = None,assetType: Option[BusinessAccessAssetsApiAssetTypeEnum.BusinessAccessAssetsApiAssetTypeEnum]startIndex:           Option[Int] /* = 0*/,pageSize:           Option[Int] /* = 25*/,bookmark:           Option[String] = NonebusinessId: String, partnerId: String): ServiceCall[NotUsed ,BusinessPartnerAssetAccessGet200Response]
  
  /**
    * Delete partner access to asset
    * Terminate multiple partners&#39; access to an asset. If - partner_type&#x3D;INTERNAL: You will terminate a partner&#39;s asset access to your business assets. - partner_type&#x3D;EXTERNAL: You will terminate your own access to your partner&#39;s business assets.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @return DeletePartnerAssetsResultsResponseArray Body Parameter   
    */
  def deletePartnerAssetAccessHandlerImpl(businessId: String): ServiceCall[DeletePartnerAssetAccessBody ,DeletePartnerAssetsResultsResponseArray]
  
  /**
    * Assign/Update partner asset permissions
    * Grant multiple partners access to assets and/or update multiple partner&#39;s exisiting permissions to an asset. If your partner already had permissions on the asset, they will be overriden with the new permissions you assign to them. To learn more about permission levels, visit https://help.pinterest.com/en/business/article/business-manager-overview  Note: Not all listed permissions are applicable to each asset type. For example, PROFILE_PUBLISHER would not be applicable to an asset of type AD_ACCOUNT. The permission level PROFILE_PUBLISHER is only available to an asset of the type PROFILE.
    *  
    * @param businessId Unique identifier of the requesting business.  
    * @return UpdatePartnerAssetsResultsResponseArray Body Parameter  A list of assets and permissions to assign to your partners. 
    */
  def updatePartnerAssetAccessHandlerImpl(businessId: String): ServiceCall[UpdatePartnerAssetAccessBody ,UpdatePartnerAssetsResultsResponseArray]
  

        object BusinessAccessAssetsApiAssetTypeEnum extends Enumeration {
        val   AD_ACCOUNT, PROFILE, ASSET_GROUP = Value     
        type BusinessAccessAssetsApiAssetTypeEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[BusinessAccessAssetsApiAssetTypeEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[BusinessAccessAssetsApiAssetTypeEnum] = PathParamSerializer.required("BusinessAccessAssetsApiAssetTypeEnum")(withName)(_.toString)
        }
        object BusinessAccessAssetsApiAssetTypeEnum extends Enumeration {
        val   AD_ACCOUNT, PROFILE, ASSET_GROUP = Value     
        type BusinessAccessAssetsApiAssetTypeEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[BusinessAccessAssetsApiAssetTypeEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[BusinessAccessAssetsApiAssetTypeEnum] = PathParamSerializer.required("BusinessAccessAssetsApiAssetTypeEnum")(withName)(_.toString)
        }
        object BusinessAccessAssetsApiAssetTypeEnum extends Enumeration {
        val   AD_ACCOUNT, PROFILE, ASSET_GROUP = Value     
        type BusinessAccessAssetsApiAssetTypeEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[BusinessAccessAssetsApiAssetTypeEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[BusinessAccessAssetsApiAssetTypeEnum] = PathParamSerializer.required("BusinessAccessAssetsApiAssetTypeEnum")(withName)(_.toString)
        }
  }
