/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.Catalog
import io.swagger.client.model.CatalogsCreateReportResponse
import io.swagger.client.model.CatalogsCreateRequest
import io.swagger.client.model.CatalogsFeed
import io.swagger.client.model.CatalogsFeedIngestion
import io.swagger.client.model.CatalogsItemValidationIssue
import io.swagger.client.model.CatalogsItems
import io.swagger.client.model.CatalogsItemsBatch
import io.swagger.client.model.CatalogsItemsFilters
import io.swagger.client.model.CatalogsItemsRequest
import io.swagger.client.model.CatalogsList200Response
import io.swagger.client.model.CatalogsListProductsByFilterRequest
import io.swagger.client.model.CatalogsProductGroupPinsList200Response
import io.swagger.client.model.CatalogsProductGroupProductCountsVertical
import io.swagger.client.model.CatalogsProductGroupsList200Response
import io.swagger.client.model.CatalogsProductGroupsUpdateRequest
import io.swagger.client.model.CatalogsReport
import io.swagger.client.model.CatalogsReportParameters
import io.swagger.client.model.CatalogsVerticalProductGroup
import io.swagger.client.model.Error
import io.swagger.client.model.FeedProcessingResultsList200Response
import io.swagger.client.model.FeedsCreateRequest
import io.swagger.client.model.FeedsList200Response
import io.swagger.client.model.FeedsUpdateRequest
import io.swagger.client.model.ItemsBatchPostRequest
import io.swagger.client.model.ItemsIssuesList200Response
import io.swagger.client.model.MultipleProductGroupsInner
import io.swagger.client.model.ReportsStats200Response

trait CatalogsApi extends Service {


  final override def descriptor = {
    import Service._
    named("CatalogsApi").withCalls(
      restCall(Method.POST, "/catalogs?adAccountId", catalogsCreate _), 
      restCall(Method.GET, "/catalogs?bookmark&pageSize&adAccountId", catalogsList _), 
      restCall(Method.GET, "/catalogs/product_groups/:product_group_id/products?bookmark&pageSize&adAccountId&pinMetrics", catalogsProductGroupPinsList _), 
      restCall(Method.POST, "/catalogs/product_groups?adAccountId", catalogsProductGroupsCreate _), 
      restCall(Method.POST, "/catalogs/product_groups/multiple?adAccountId", catalogsProductGroupsCreateMany _), 
      restCall(Method.DELETE, "/catalogs/product_groups/:product_group_id?adAccountId", catalogsProductGroupsDelete _), 
      restCall(Method.DELETE, "/catalogs/product_groups/multiple?id&adAccountId", catalogsProductGroupsDeleteMany _), 
      restCall(Method.GET, "/catalogs/product_groups/:product_group_id?adAccountId", catalogsProductGroupsGet _), 
      restCall(Method.GET, "/catalogs/product_groups?id&feedId&catalogId&bookmark&pageSize&adAccountId", catalogsProductGroupsList _), 
      restCall(Method.GET, "/catalogs/product_groups/:product_group_id/product_counts?adAccountId", catalogsProductGroupsProductCountsGet _), 
      restCall(Method.PATCH, "/catalogs/product_groups/:product_group_id?adAccountId", catalogsProductGroupsUpdate _), 
      restCall(Method.GET, "/catalogs/feeds/:feed_id/processing_results?bookmark&pageSize&adAccountId", feedProcessingResultsList _), 
      restCall(Method.POST, "/catalogs/feeds?adAccountId", feedsCreate _), 
      restCall(Method.DELETE, "/catalogs/feeds/:feed_id?adAccountId", feedsDelete _), 
      restCall(Method.GET, "/catalogs/feeds/:feed_id?adAccountId", feedsGet _), 
      restCall(Method.POST, "/catalogs/feeds/:feed_id/ingest?adAccountId", feedsIngest _), 
      restCall(Method.GET, "/catalogs/feeds?bookmark&pageSize&catalogId&adAccountId", feedsList _), 
      restCall(Method.PATCH, "/catalogs/feeds/:feed_id?adAccountId", feedsUpdate _), 
      restCall(Method.GET, "/catalogs/items/batch/:batch_id?adAccountId", itemsBatchGet _), 
      restCall(Method.POST, "/catalogs/items/batch?adAccountId", itemsBatchPost _), 
      restCall(Method.GET, "/catalogs/items?adAccountId&country&language&itemIds&filters", itemsGet _), 
      restCall(Method.GET, "/catalogs/processing_results/:processing_result_id/item_issues?bookmark&pageSize&itemNumbers&itemValidationIssue&adAccountId", itemsIssuesList _), 
      restCall(Method.POST, "/catalogs/items?adAccountId", itemsPost _), 
      restCall(Method.POST, "/catalogs/products/get_by_product_group_filters?bookmark&pageSize&adAccountId&pinMetrics", productsByProductGroupFilterList _), 
      restCall(Method.POST, "/catalogs/reports?adAccountId", reportsCreate _), 
      restCall(Method.GET, "/catalogs/reports?adAccountId&token", reportsGet _), 
      restCall(Method.GET, "/catalogs/reports/stats?adAccountId&pageSize&bookmark&parameters", reportsStats _)
    ).withAutoAcl(true)
  }

      
  /**
    * Create catalog
    * Create a new catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;  Note: this API only supports the catalog type of HOTEL for now.
    *   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return Catalog Body Parameter  Request object used to created a feed. 
    */
  def catalogsCreate(adAccountId:           Option[String] = None): ServiceCall[CatalogsCreateRequest ,Catalog]
        
  /**
    * List catalogs
    * Fetch catalogs owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;
    *  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsList200Response
    */
  def catalogsList(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,adAccountId:           Option[String] = None): ServiceCall[NotUsed ,CatalogsList200Response]
        
  /**
    * List products by product group
    * Get a list of product pins for a given Catalogs Product Group Id owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;
    *  
    * @param productGroupId Unique identifier of a product group  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param adAccountId Unique identifier of an ad account. (optional) 
    * @param pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &lt;code&gt;2023-03-20&lt;/code&gt; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (optional, default to false)
    * @return CatalogsProductGroupPinsList200Response
    */
  def catalogsProductGroupPinsList(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,adAccountId:           Option[String] = None,pinMetrics:           Option[Boolean] /* = false*/productGroupId: String): ServiceCall[NotUsed ,CatalogsProductGroupPinsList200Response]
        
  /**
    * Create product group
    * Create product group to use in Catalogs owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    *   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsVerticalProductGroup Body Parameter  Request object used to create a single catalogs product groups. 
    */
  def catalogsProductGroupsCreate(adAccountId:           Option[String] = None): ServiceCall[MultipleProductGroupsInner ,CatalogsVerticalProductGroup]
        
  /**
    * Create product groups
    * Create product group to use in Catalogs owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    *   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return Seq[String] Body Parameter  Request object used to create one or more catalogs product groups. 
    */
  def catalogsProductGroupsCreateMany(adAccountId:           Option[String] = None): ServiceCall[Seq[MultipleProductGroupsInner] ,Seq[String]]
        
  /**
    * Delete product group
    * Delete a product group owned by the \&quot;operation user_account\&quot; from being in use in Catalogs. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;
    *  
    * @param productGroupId Unique identifier of a product group  
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return void
    */
  def catalogsProductGroupsDelete(adAccountId:           Option[String] = NoneproductGroupId: String): ServiceCall[NotUsed ,Done]
        
  // id:Seq[Int]  -- not yet supported Seq PathParamSerializers for multi value query parameters https://github.com/lagom/lagom/issues/643
      
  /**
    * Delete product groups
    * Delete product groups owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;
    *  
    * @param id Comma-separated list of product group ids  
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return void
    */
  def catalogsProductGroupsDeleteMany(adAccountId:           Option[String] = None): ServiceCall[NotUsed ,Done]
        
  /**
    * Get product group
    * Get a singe product group for a given Catalogs Product Group Id owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;
    *  
    * @param productGroupId Unique identifier of a product group  
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsVerticalProductGroup
    */
  def catalogsProductGroupsGet(adAccountId:           Option[String] = NoneproductGroupId: String): ServiceCall[NotUsed ,CatalogsVerticalProductGroup]
        
  // id:Seq[Int]  -- not yet supported Seq PathParamSerializers for multi value query parameters https://github.com/lagom/lagom/issues/643
      
  /**
    * List product groups
    * Get a list of product groups for a given Catalogs Feed Id owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;
    *  
    * @param id Comma-separated list of product group ids (optional, default to new ListBuffer[Integer]() ) 
    * @param feedId Filter entities for a given feed_id. If not given, all feeds are considered. (optional) 
    * @param catalogId Filter entities for a given catalog_id. If not given, all catalogs are considered. (optional) 
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsProductGroupsList200Response
    */
  def catalogsProductGroupsList(feedId:           Option[String] = None,catalogId:           Option[String] = None,bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,adAccountId:           Option[String] = None): ServiceCall[NotUsed ,CatalogsProductGroupsList200Response]
        
  /**
    * Get product counts
    * Get a product counts for a given Catalogs Product Group owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;
    *  
    * @param productGroupId Unique identifier of a product group  
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsProductGroupProductCountsVertical
    */
  def catalogsProductGroupsProductCountsGet(adAccountId:           Option[String] = NoneproductGroupId: String): ServiceCall[NotUsed ,CatalogsProductGroupProductCountsVertical]
        
  /**
    * Update single product group
    * Update product group owned by the \&quot;operation user_account\&quot; to use in Catalogs. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    *  
    * @param productGroupId Unique identifier of a product group   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsVerticalProductGroup Body Parameter  Request object used to Update a catalogs product group. 
    */
  def catalogsProductGroupsUpdate(adAccountId:           Option[String] = NoneproductGroupId: String): ServiceCall[CatalogsProductGroupsUpdateRequest ,CatalogsVerticalProductGroup]
        
  /**
    * List feed processing results
    * Fetch a feed processing results owned by the \&quot;operation user_account\&quot;. Please note that for now the bookmark parameter is not functional and only the first page will be available until it is implemented in some release in the near future. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;
    *  
    * @param feedId Unique identifier of a feed  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return FeedProcessingResultsList200Response
    */
  def feedProcessingResultsList(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,adAccountId:           Option[String] = NonefeedId: String): ServiceCall[NotUsed ,FeedProcessingResultsList200Response]
        
  /**
    * Create feed
    * Create a new feed owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Please, be aware that \&quot;default_country\&quot; and \&quot;default_locale\&quot; are not required in the spec for forward compatibility but for now the API will not accept requests without those fields.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to &lt;a href&#x3D;&#39;https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs&#39;&gt;Before you get started with Catalogs&lt;/a&gt;. For Hotel parterns, refer to &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Pinterest API for shopping&lt;/a&gt;.  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    *   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsFeed Body Parameter  Request object used to created a feed. 
    */
  def feedsCreate(adAccountId:           Option[String] = None): ServiceCall[FeedsCreateRequest ,CatalogsFeed]
        
  /**
    * Delete feed
    * Delete a feed owned by the \&quot;operating user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to &lt;a href&#x3D;&#39;https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs&#39;&gt;Before you get started with Catalogs&lt;/a&gt;. For Hotel parterns, refer to &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Pinterest API for shopping&lt;/a&gt;.
    *  
    * @param feedId Unique identifier of a feed  
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return void
    */
  def feedsDelete(adAccountId:           Option[String] = NonefeedId: String): ServiceCall[NotUsed ,Done]
        
  /**
    * Get feed
    * Get a single feed owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to &lt;a href&#x3D;&#39;https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs&#39;&gt;Before you get started with Catalogs&lt;/a&gt;. For Hotel parterns, refer to &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Pinterest API for shopping&lt;/a&gt;.
    *  
    * @param feedId Unique identifier of a feed  
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsFeed
    */
  def feedsGet(adAccountId:           Option[String] = NonefeedId: String): ServiceCall[NotUsed ,CatalogsFeed]
        
  /**
    * Ingest feed items
    * Ingest items for a given feed owned by the \&quot;operation user_account\&quot;.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;  Note: This endpoint is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    *  
    * @param feedId Unique identifier of a feed  
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsFeedIngestion
    */
  def feedsIngest(adAccountId:           Option[String] = NonefeedId: String): ServiceCall[NotUsed ,CatalogsFeedIngestion]
        
  /**
    * List feeds
    * Fetch feeds owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to &lt;a href&#x3D;&#39;https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs&#39;&gt;Before you get started with Catalogs&lt;/a&gt;. For Hotel parterns, refer to &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Pinterest API for shopping&lt;/a&gt;.
    *  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param catalogId Filter entities for a given catalog_id. If not given, all catalogs are considered. (optional) 
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return FeedsList200Response
    */
  def feedsList(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,catalogId:           Option[String] = None,adAccountId:           Option[String] = None): ServiceCall[NotUsed ,FeedsList200Response]
        
  /**
    * Update feed
    * Update a feed owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  For Retail partners, refer to &lt;a href&#x3D;&#39;https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs&#39;&gt;Before you get started with Catalogs&lt;/a&gt;. For Hotel parterns, refer to &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Pinterest API for shopping&lt;/a&gt;.  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    *  
    * @param feedId Unique identifier of a feed   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsFeed Body Parameter  Request object used to update a feed. 
    */
  def feedsUpdate(adAccountId:           Option[String] = NonefeedId: String): ServiceCall[FeedsUpdateRequest ,CatalogsFeed]
        
  /**
    * Get item batch status
    * Get a single catalogs items batch owned by the \&quot;operating user_account\&quot;. &lt;a href&#x3D;\&quot;/docs/api-features/shopping-overview/#Update%20items%20in%20batch\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See detailed documentation here.&lt;/a&gt; - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.
    *  
    * @param batchId Id of a catalogs items batch to fetch  
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsItemsBatch
    */
  def itemsBatchGet(adAccountId:           Option[String] = NonebatchId: String): ServiceCall[NotUsed ,CatalogsItemsBatch]
        
  /**
    * Operate on item batch
    * This endpoint supports multiple operations on a set of one or more catalog items owned by the \&quot;operation user_account\&quot;. &lt;a href&#x3D;\&quot;/docs/api-features/shopping-overview/#Update%20items%20in%20batch\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See detailed documentation here.&lt;/a&gt; - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: - Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager. - The item UPSERT operation is restricted to users without a feed data source. If you plan to migrate item ingestion from feeds to the API, please reach out to your partner manager to get assistance.
    *   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsItemsBatch Body Parameter  Request object used to create catalogs items in a batch 
    */
  def itemsBatchPost(adAccountId:           Option[String] = None): ServiceCall[ItemsBatchPostRequest ,CatalogsItemsBatch]
        
  // itemIds:Seq[String]  -- not yet supported Seq PathParamSerializers for multi value query parameters https://github.com/lagom/lagom/issues/643
      
  /**
    * Get catalogs items
    * Get the items of the catalog owned by the \&quot;operation user_account\&quot;. &lt;a href&#x3D;\&quot;/docs/api-features/shopping-overview/#Update%20items%20in%20batch\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See detailed documentation here.&lt;/a&gt; - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: this endpoint is deprecated and will be deleted soon. Please use &lt;a href&#x3D;&#39;/docs/api/v5/#operation/items/post&#39;&gt;Get catalogs items (POST)&lt;/a&gt; instead.
    *  
    * @param country Country for the Catalogs Items  
    * @param language Language for the Catalogs Items  
    * @param adAccountId Unique identifier of an ad account. (optional) 
    * @param itemIds This parameter is deprecated. Use filters instead. (optional, default to new ListBuffer[String]() ) 
    * @param filters Identifies items to be retrieved. This is a required parameter. (optional)
    * @return CatalogsItems
    */
  def itemsGet(adAccountId:           Option[String] = None,country:String          ,language:String          ,filters:           Option[CatalogsItemsFilters] = None): ServiceCall[NotUsed ,CatalogsItems]
        
  // itemNumbers:Seq[Int]  -- not yet supported Seq PathParamSerializers for multi value query parameters https://github.com/lagom/lagom/issues/643
      
  /**
    * List item issues
    * List item validation issues for a given feed processing result owned by the \&quot;operation user_account\&quot;. Up to 20 random samples of affected items are returned for each error and warning code. Please note that for now query parameters &#39;item_numbers&#39; and &#39;item_validation_issue&#39; cannot be used simultaneously until it is implemented in some release in the future. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: To get a list of all affected items instead of sampled issues, please refer to &lt;a href&#x3D;&#39;/docs/api/v5/#operation/reports/create&#39;&gt;Build catalogs report&lt;/a&gt; and &lt;a href&#x3D;&#39;/docs/api/v5/#operation/reports/get&#39;&gt;Get catalogs report&lt;/a&gt; endpoints. Moreover, they support multiple types of catalogs.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;
    *  
    * @param processingResultId Unique identifier of a feed processing result. It can be acquired from the \&quot;id\&quot; field of the \&quot;items\&quot; array within the response of the [List processing results for a given feed](/docs/api/v5/#operation/feed_processing_results/list).  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param itemNumbers Item number based on order of appearance in the Catalogs Feed. For example, &#39;0&#39; refers to first item found in a feed that was downloaded from a &#39;location&#39; specified during feed creation. (optional, default to new ListBuffer[Integer]() ) 
    * @param itemValidationIssue Filter item validation issues that have a given type of item validation issue. (optional) 
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return ItemsIssuesList200Response
    */
  def itemsIssuesList(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,itemValidationIssue:           Option[CatalogsItemValidationIssue] = None,adAccountId:           Option[String] = NoneprocessingResultId: String): ServiceCall[NotUsed ,ItemsIssuesList200Response]
        
  /**
    * Get catalogs items (POST)
    * Get the items of the catalog owned by the \&quot;operation user_account\&quot;. &lt;a href&#x3D;\&quot;/docs/api-features/shopping-overview/#Update%20items%20in%20batch\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See detailed documentation here.&lt;/a&gt; - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: Access to the Creative Assets catalog type is restricted to a specific group of users. If you require access, please reach out to your partner manager.
    *   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsItems Body Parameter  Request object used to get catalogs items 
    */
  def itemsPost(adAccountId:           Option[String] = None): ServiceCall[CatalogsItemsRequest ,CatalogsItems]
        
  /**
    * List products by filter
    * List products Pins owned by the \&quot;operation user_account\&quot; that meet the criteria specified in the Catalogs Product Group Filter given in the request. - This endpoint has been implemented in POST to allow for complex filters. This specific POST endpoint is designed to be idempotent. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.  Note: This endpoint only supports RETAIL catalog at the moment.  &lt;a href&#x3D;&#39;/docs/api-features/shopping-overview/&#39;&gt;Learn more&lt;/a&gt;
    *   
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param adAccountId Unique identifier of an ad account. (optional) 
    * @param pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &lt;code&gt;2023-03-20&lt;/code&gt; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (optional, default to false)
    * @return CatalogsProductGroupPinsList200Response Body Parameter  Object holding a group of filters for a catalog product group 
    */
  def productsByProductGroupFilterList(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,adAccountId:           Option[String] = None,pinMetrics:           Option[Boolean] /* = false*/): ServiceCall[CatalogsListProductsByFilterRequest ,CatalogsProductGroupPinsList200Response]
        
  /**
    * Build catalogs report
    * Async request to create a report of the catalog owned by the \&quot;operation user_account\&quot;. This endpoint generates a report upon receiving the first approved request of the day. Any following requests with identical parameters will yield the same report even if data has changed. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.
    *   
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsCreateReportResponse Body Parameter  Request object to asynchronously create a report. 
    */
  def reportsCreate(adAccountId:           Option[String] = None): ServiceCall[CatalogsReportParameters ,CatalogsCreateReportResponse]
        
  /**
    * Get catalogs report
    * This returns a URL to a report given a token returned from &lt;a href&#x3D;&#39;/docs/api/v5/#operation/reports/create&#39;&gt;Build catalogs report&lt;/a&gt;. You can use the URL to download the report. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.
    *  
    * @param token Token returned from async build report call  
    * @param adAccountId Unique identifier of an ad account. (optional)
    * @return CatalogsReport
    */
  def reportsGet(adAccountId:           Option[String] = None,token:String          ): ServiceCall[NotUsed ,CatalogsReport]
        
  /**
    * List report stats
    * List aggregated numbers of issues for a catalog owned by the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  Optional: Business Access: Specify an &lt;code&gt;ad_account_id&lt;/code&gt; (obtained via &lt;a href&#x3D;&#39;/docs/api/v5/#operation/ad_accounts/list&#39;&gt;List ad accounts&lt;/a&gt;) to use the owner of that ad_account as the \&quot;operation user_account\&quot;. In order to do this, the token user_account must have one of the following &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\&quot;&gt;Business Access&lt;/a&gt; roles on the ad_account: Owner, Admin, Catalogs Manager.
    *  
    * @param parameters Contains the parameters for report identification.  
    * @param adAccountId Unique identifier of an ad account. (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return ReportsStats200Response
    */
  def reportsStats(adAccountId:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,bookmark:           Option[String] = None,parameters:CatalogsReportParameters          ): ServiceCall[NotUsed ,ReportsStats200Response]
  

  }
