/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.ConversionEventResponse
import io.swagger.client.model.ConversionTagCreate
import io.swagger.client.model.ConversionTagListResponse
import io.swagger.client.model.ConversionTagResponse
import io.swagger.client.model.Error
import io.swagger.client.model.PageVisitConversionTagsGet200Response

trait ConversionTagsApi extends Service {


  final override def descriptor = {
    import Service._
    named("ConversionTagsApi").withCalls(
      restCall(Method.POST, "/ad_accounts/:ad_account_id/conversion_tags", conversionTagsCreate _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/conversion_tags/:conversion_tag_id", conversionTagsGet _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/conversion_tags?filterDeleted", conversionTagsList _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/conversion_tags/ocpm_eligible", ocpmEligibleConversionTagsGet _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/conversion_tags/page_visit?pageSize&order&bookmark", pageVisitConversionTagsGet _)
    ).withAutoAcl(true)
  }


  /**
    * Create conversion tag
    * Create a conversion tag, also known as &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Pinterest tag&lt;/a&gt;, with the option to enable enhanced match.&lt;p/&gt; The Pinterest Tag tracks actions people take on the ad account’s website after they view the ad account&#39;s ad on Pinterest. The advertiser needs to customize this tag to track conversions.&lt;p/&gt; For more information, see:&lt;p/&gt; &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://help.pinterest.com/en/business/article/set-up-the-pinterest-tag\&quot;&gt;Set up the Pinterest tag&lt;/a&gt;&lt;p/&gt; &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://developers.pinterest.com/docs/conversions/pinterest-tag/\&quot;&gt;Pinterest Tag&lt;/a&gt;&lt;p/&gt; &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://developers.pinterest.com/docs/conversions/enhanced-match/\&quot;&gt;Enhanced match&lt;/a&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return ConversionTagResponse Body Parameter  Conversion Tag to create 
    */
  def conversionTagsCreate(adAccountId: String): ServiceCall[ConversionTagCreate ,ConversionTagResponse]
  
  /**
    * Get conversion tag
    * Get information about an existing conversion tag.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param conversionTagId Id of the conversion tag. 
    * @return ConversionTagResponse
    */
  def conversionTagsGet(adAccountId: String, conversionTagId: String): ServiceCall[NotUsed ,ConversionTagResponse]
        
  /**
    * Get conversion tags
    * List conversion tags associated with an ad account.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param filterDeleted Filter out deleted tags. (optional, default to false)
    * @return ConversionTagListResponse
    */
  def conversionTagsList(filterDeleted:           Option[Boolean] /* = false*/adAccountId: String): ServiceCall[NotUsed ,ConversionTagListResponse]
  
  /**
    * Get Ocpm eligible conversion tags
    * Get Ocpm eligible conversion tag events for an ad account.
    *  
    * @param adAccountId Unique identifier of an ad account. 
    * @return Map[String, Seq[ConversionEventResponse]]
    */
  def ocpmEligibleConversionTagsGet(adAccountId: String): ServiceCall[NotUsed ,Map[String, Seq[ConversionEventResponse]]]
        
  /**
    * Get page visit conversion tags
    * Get all page visit conversion tag events for an ad account.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/getting-started/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return PageVisitConversionTagsGet200Response
    */
  def pageVisitConversionTagsGet(pageSize:           Option[Int] /* = 25*/,order: Option[ConversionTagsApiOrderEnum.ConversionTagsApiOrderEnum]bookmark:           Option[String] = NoneadAccountId: String): ServiceCall[NotUsed ,PageVisitConversionTagsGet200Response]
  

        object ConversionTagsApiOrderEnum extends Enumeration {
        val   ASCENDING, DESCENDING = Value     
        type ConversionTagsApiOrderEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[ConversionTagsApiOrderEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[ConversionTagsApiOrderEnum] = PathParamSerializer.required("ConversionTagsApiOrderEnum")(withName)(_.toString)
        }
  }
