/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.CustomerList
import io.swagger.client.model.CustomerListRequest
import io.swagger.client.model.CustomerListUpdateRequest
import io.swagger.client.model.CustomerListsList200Response
import io.swagger.client.model.Error

trait CustomerListsApi extends Service {


  final override def descriptor = {
    import Service._
    named("CustomerListsApi").withCalls(
      restCall(Method.POST, "/ad_accounts/:ad_account_id/customer_lists", customerListsCreate _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/customer_lists/:customer_list_id", customerListsGet _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/customer_lists?pageSize&order&bookmark", customerListsList _), 
      restCall(Method.PATCH, "/ad_accounts/:ad_account_id/customer_lists/:customer_list_id", customerListsUpdate _)
    ).withAutoAcl(true)
  }


  /**
    * Create customer lists
    * &lt;p&gt;Create a customer list from your records(hashed or plain-text email addresses, or hashed MAIDs or IDFAs).&lt;/p&gt; &lt;p&gt;A customer list is one of the four types of Pinterest audiences: for more information, see &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/audience-targeting\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Audience targeting&lt;/a&gt; or the &lt;a href&#x3D;\&quot;/docs/api-features/targeting-overview/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Audiences&lt;/a&gt; section of the ads management guide.&lt;p/&gt;  &lt;p&gt;&lt;b&gt;Please review our &lt;u&gt;&lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/audience-targeting#section-13341\&quot; target&#x3D;\&quot;_blank\&quot;&gt;requirements&lt;/a&gt;&lt;/u&gt; for what type of information is allowed when uploading a customer list.&lt;/b&gt;&lt;/p&gt; &lt;p&gt;When you create a customer list, the system scans the list for existing Pinterest accounts; the list must include at least 100 Pinterest accounts. Your original list will be deleted when the matching process is complete. The filtered list – containing only the Pinterest accounts that were included in your starting list – is what will be used to create the audience.&lt;/p&gt; &lt;p&gt;Note that once you have created your customer list, you must convert it into an audience (of the “ CUSTOMER_LIST” type) using the &lt;a href&#x3D;\&quot;#operation/create_audience_handler\&quot;&gt;create audience endpoint&lt;/a&gt; before it can be used.&lt;/p&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return CustomerList Body Parameter  Parameters to get Customer lists info 
    */
  def customerListsCreate(adAccountId: String): ServiceCall[CustomerListRequest ,CustomerList]
  
  /**
    * Get customer list
    * Gets a specific customer list given the customer list ID.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param customerListId Unique identifier of a customer list 
    * @return CustomerList
    */
  def customerListsGet(adAccountId: String, customerListId: String): ServiceCall[NotUsed ,CustomerList]
        
  /**
    * Get customer lists
    * &lt;p&gt;Get a set of customer lists including id and name based on the filters provided.&lt;/p&gt; &lt;p&gt;(Customer lists are a type of audience.) For more information, see &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/audience-targeting\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Audience targeting&lt;/a&gt;  or the &lt;a href&#x3D;\&quot;/docs/api-features/targeting-overview/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Audiences&lt;/a&gt; section of the ads management guide.&lt;/p&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return CustomerListsList200Response
    */
  def customerListsList(pageSize:           Option[Int] /* = 25*/,order: Option[CustomerListsApiOrderEnum.CustomerListsApiOrderEnum]bookmark:           Option[String] = NoneadAccountId: String): ServiceCall[NotUsed ,CustomerListsList200Response]
  
  /**
    * Update customer list
    * &lt;p&gt;Append or remove records to/from an existing customer list. (A customer list is one of the four types of Pinterest audiences.)&lt;/p&gt; &lt;p&gt;When you add records to an existing customer list, the system scans the additions for existing Pinterest accounts; those are the records that will be added to your “CUSTOMER_LIST” audience. Your original list of records  to add will be deleted when the matching process is complete.&lt;/p&gt; &lt;p&gt;For more information, see &lt;a href&#x3D;\&quot;https://help.pinterest.com/en/business/article/audience-targeting\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Audience targeting&lt;/a&gt; or the &lt;a href&#x3D;\&quot;/docs/api-features/targeting-overview/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Audiences&lt;/a&gt; section of the ads management guide.&lt;/p&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param customerListId Unique identifier of a customer list  
    * @return CustomerList Body Parameter   
    */
  def customerListsUpdate(adAccountId: String, customerListId: String): ServiceCall[CustomerListUpdateRequest ,CustomerList]
  

        object CustomerListsApiOrderEnum extends Enumeration {
        val   ASCENDING, DESCENDING = Value     
        type CustomerListsApiOrderEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[CustomerListsApiOrderEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[CustomerListsApiOrderEnum] = PathParamSerializer.required("CustomerListsApiOrderEnum")(withName)(_.toString)
        }
  }
