/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.DetailedError
import io.swagger.client.model.Error
import io.swagger.client.model.IntegrationLogsRequest
import io.swagger.client.model.IntegrationLogsSuccessResponse
import io.swagger.client.model.IntegrationMetadata
import io.swagger.client.model.IntegrationRecord
import io.swagger.client.model.IntegrationRequest
import io.swagger.client.model.IntegrationRequestPatch
import io.swagger.client.model.IntegrationsGetList200Response

trait IntegrationsApi extends Service {


  final override def descriptor = {
    import Service._
    named("IntegrationsApi").withCalls(
      restCall(Method.DELETE, "/integrations/commerce/:external_business_id", integrationsCommerceDel _), 
      restCall(Method.GET, "/integrations/commerce/:external_business_id", integrationsCommerceGet _), 
      restCall(Method.PATCH, "/integrations/commerce/:external_business_id", integrationsCommercePatch _), 
      restCall(Method.POST, "/integrations/commerce", integrationsCommercePost _), 
      restCall(Method.GET, "/integrations/:id", integrationsGetById _), 
      restCall(Method.GET, "/integrations?bookmark&pageSize", integrationsGetList _), 
      restCall(Method.POST, "/integrations/logs", integrationsLogsPost _)
    ).withAutoAcl(true)
  }


  /**
    * Delete commerce integration
    * Delete commerce integration metadata for the given external business ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    *  
    * @param externalBusinessId External business ID for the integration. 
    * @return void
    */
  def integrationsCommerceDel(externalBusinessId: String): ServiceCall[NotUsed ,Done]
  
  /**
    * Get commerce integration
    * Get commerce integration metadata associated with the given external business ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    *  
    * @param externalBusinessId External business ID for the integration. 
    * @return IntegrationMetadata
    */
  def integrationsCommerceGet(externalBusinessId: String): ServiceCall[NotUsed ,IntegrationMetadata]
  
  /**
    * Update commerce integration
    * Update commerce integration metadata for the given external business ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    *  
    * @param externalBusinessId External business ID for the integration.  
    * @return IntegrationMetadata Body Parameter  Parameters to get create/update the Integration Metadata 
    */
  def integrationsCommercePatch(externalBusinessId: String): ServiceCall[IntegrationRequestPatch ,IntegrationMetadata]
  
  /**
    * Create commerce integration
    * Create commerce integration metadata to link an external business ID with a Pinterest merchant &amp; ad account. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    *  
    * @return IntegrationMetadata Body Parameter  Parameters to get create/update the Integration Metadata 
    */
  def integrationsCommercePost(): ServiceCall[IntegrationRequest ,IntegrationMetadata]
  
  /**
    * Get integration metadata
    * Get integration metadata by ID. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    *  
    * @param id Integration ID. 
    * @return IntegrationRecord
    */
  def integrationsGetById(id: String): ServiceCall[NotUsed ,IntegrationRecord]
        
  /**
    * Get integration metadata list
    * Get integration metadata list. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    *  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/getting-started/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25)
    * @return IntegrationsGetList200Response
    */
  def integrationsGetList(bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/): ServiceCall[NotUsed ,IntegrationsGetList200Response]
  
  /**
    * Receives batched logs from integration applications.
    * This endpoint receives batched logs from integration applications on partner platforms. Note: If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    *  
    * @return IntegrationLogsSuccessResponse Body Parameter  Ingest log information from external integration application. 
    */
  def integrationsLogsPost(): ServiceCall[IntegrationLogsRequest ,IntegrationLogsSuccessResponse]
  

  }
