/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.AdAccountCreateSubscriptionRequest
import io.swagger.client.model.AdAccountCreateSubscriptionResponse
import io.swagger.client.model.AdAccountGetSubscriptionResponse
import io.swagger.client.model.AdAccountsSubscriptionsGetList200Response
import io.swagger.client.model.Error

trait LeadAdsApi extends Service {


  final override def descriptor = {
    import Service._
    named("LeadAdsApi").withCalls(
      restCall(Method.DELETE, "/ad_accounts/:ad_account_id/leads/subscriptions/:subscription_id", adAccountsSubscriptionsDelById _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/leads/subscriptions/:subscription_id", adAccountsSubscriptionsGetById _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/leads/subscriptions?pageSize&bookmark", adAccountsSubscriptionsGetList _), 
      restCall(Method.POST, "/ad_accounts/:ad_account_id/leads/subscriptions", adAccountsSubscriptionsPost _)
    ).withAutoAcl(true)
  }


  /**
    * Delete lead ads subscription
    * Delete an existing lead ads webhook subscription by ID. - Only requests for the OWNER or ADMIN of the ad_account will be allowed.  &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param subscriptionId Unique identifier of a subscription. 
    * @return void
    */
  def adAccountsSubscriptionsDelById(adAccountId: String, subscriptionId: String): ServiceCall[NotUsed ,Done]
  
  /**
    * Get lead ads subscription
    * Get a specific lead ads subscription record. - Only requests for the OWNER or ADMIN of the ad_account will be allowed.  &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param subscriptionId Unique identifier of a subscription. 
    * @return AdAccountGetSubscriptionResponse
    */
  def adAccountsSubscriptionsGetById(adAccountId: String, subscriptionId: String): ServiceCall[NotUsed ,AdAccountGetSubscriptionResponse]
        
  /**
    * Get lead ads subscriptions
    * Get the advertiser&#39;s list of lead ads subscriptions. - Only requests for the OWNER or ADMIN of the ad_account will be allowed.  &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return AdAccountsSubscriptionsGetList200Response
    */
  def adAccountsSubscriptionsGetList(pageSize:           Option[Int] /* = 25*/,bookmark:           Option[String] = NoneadAccountId: String): ServiceCall[NotUsed ,AdAccountsSubscriptionsGetList200Response]
  
  /**
    * Create lead ads subscription
    * Create a lead ads webhook subscription. Subscriptions allow Pinterest to deliver lead data from Ads Manager directly to the subscriber. Subscriptions can exist for a specific lead form or at ad account level. - Only requests for the OWNER or ADMIN of the ad_account will be allowed. - Advertisers can set up multiple integrations using ad_account_id + lead_form_id but only one integration per unique records. - For data security, egress lead data is encrypted with AES-256-GCM.  &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return AdAccountCreateSubscriptionResponse Body Parameter  Subscription to create. 
    */
  def adAccountsSubscriptionsPost(adAccountId: String): ServiceCall[AdAccountCreateSubscriptionRequest ,AdAccountCreateSubscriptionResponse]
  

  }
