/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.Error
import io.swagger.client.model.LeadFormArrayResponse
import io.swagger.client.model.LeadFormCreateRequest
import io.swagger.client.model.LeadFormResponse
import io.swagger.client.model.LeadFormTestRequest
import io.swagger.client.model.LeadFormTestResponse
import io.swagger.client.model.LeadFormUpdateRequest
import io.swagger.client.model.LeadFormsList200Response

trait LeadFormsApi extends Service {


  final override def descriptor = {
    import Service._
    named("LeadFormsApi").withCalls(
      restCall(Method.GET, "/ad_accounts/:ad_account_id/lead_forms/:lead_form_id", leadFormGet _), 
      restCall(Method.POST, "/ad_accounts/:ad_account_id/lead_forms/:lead_form_id/test", leadFormTestCreate _), 
      restCall(Method.POST, "/ad_accounts/:ad_account_id/lead_forms", leadFormsCreate _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/lead_forms?pageSize&order&bookmark", leadFormsList _), 
      restCall(Method.PATCH, "/ad_accounts/:ad_account_id/lead_forms", leadFormsUpdate _)
    ).withAutoAcl(true)
  }


  /**
    * Get lead form by id
    * &lt;strong&gt;This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.&lt;/strong&gt;  Gets a lead form given it&#39;s ID. It must also be associated with the provided ad account ID.  For more, see &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://help.pinterest.com/en/business/article/lead-ads\&quot;&gt;Lead ads&lt;/a&gt;.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param leadFormId Unique identifier of a lead form. 
    * @return LeadFormResponse
    */
  def leadFormGet(adAccountId: String, leadFormId: String): ServiceCall[NotUsed ,LeadFormResponse]
  
  /**
    * Create lead form test data
    * Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.  &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/getting-started/beta-and-advanced-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param leadFormId Unique identifier of a lead form.  
    * @return LeadFormTestResponse Body Parameter  Subscription to create. 
    */
  def leadFormTestCreate(adAccountId: String, leadFormId: String): ServiceCall[LeadFormTestRequest ,LeadFormTestResponse]
  
  /**
    * Create lead forms
    * &lt;strong&gt;This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.&lt;/strong&gt;  Create lead forms. Lead forms are used in lead ads and allow you to control what text appears on the lead form’ s description, questions and confirmation sections.  For more, see &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://help.pinterest.com/en/business/article/lead-ads\&quot;&gt;Lead ads&lt;/a&gt;.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return LeadFormArrayResponse Body Parameter  List of lead forms to create, size limit [1, 30]. 
    */
  def leadFormsCreate(adAccountId: String): ServiceCall[Seq[LeadFormCreateRequest] ,LeadFormArrayResponse]
        
  /**
    * List lead forms
    * &lt;strong&gt;This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.&lt;/strong&gt;  List lead forms associated with an ad account ID.  For more, see &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://help.pinterest.com/en/business/article/lead-ads\&quot;&gt;Lead ads&lt;/a&gt;.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/reference/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return LeadFormsList200Response
    */
  def leadFormsList(pageSize:           Option[Int] /* = 25*/,order: Option[LeadFormsApiOrderEnum.LeadFormsApiOrderEnum]bookmark:           Option[String] = NoneadAccountId: String): ServiceCall[NotUsed ,LeadFormsList200Response]
  
  /**
    * Update lead forms
    * &lt;strong&gt;This feature is currently in beta and not available to all apps, if you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.&lt;/strong&gt;  Update lead forms. Lead ads help you reach people who are actively looking for, and interested in, your goods and services. The lead form can be associated with an ad to allow people to fill out the form.  For more, see &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://help.pinterest.com/en/business/article/lead-ads\&quot;&gt;Lead ads&lt;/a&gt;.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @return LeadFormArrayResponse Body Parameter  List of lead forms to update, size limit [1, 30]. 
    */
  def leadFormsUpdate(adAccountId: String): ServiceCall[Seq[LeadFormUpdateRequest] ,LeadFormArrayResponse]
  

        object LeadFormsApiOrderEnum extends Enumeration {
        val   ASCENDING, DESCENDING = Value     
        type LeadFormsApiOrderEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[LeadFormsApiOrderEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[LeadFormsApiOrderEnum] = PathParamSerializer.required("LeadFormsApiOrderEnum")(withName)(_.toString)
        }
  }
