/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.Error
import io.swagger.client.model.LeadFormResponse
import io.swagger.client.model.LeadFormTestRequest
import io.swagger.client.model.LeadFormTestResponse
import io.swagger.client.model.LeadFormsList200Response

trait LeadFormsApi extends Service {


  final override def descriptor = {
    import Service._
    named("LeadFormsApi").withCalls(
      restCall(Method.GET, "/ad_accounts/:ad_account_id/lead_forms/:lead_form_id", leadFormGet _), 
      restCall(Method.POST, "/ad_accounts/:ad_account_id/lead_forms/:lead_form_id/test", leadFormTestCreate _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/lead_forms?pageSize&order&bookmark", leadFormsList _)
    ).withAutoAcl(true)
  }


  /**
    * Get lead form by id
    * Gets a lead form given it&#39;s ID. It must also be associated with the provided ad account ID. Retrieving an advertiser&#39;s lead form will only contain results if you&#39;re a part of the Lead ads beta. If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param leadFormId Unique identifier of a lead form. 
    * @return LeadFormResponse
    */
  def leadFormGet(adAccountId: String, leadFormId: String): ServiceCall[NotUsed ,LeadFormResponse]
  
  /**
    * Create lead form test data
    * Create lead form test data based on the list of answers provided as part of the body. - List of answers should follow the questions creation order.  &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/new/about-beta-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param leadFormId Unique identifier of a lead form.  
    * @return LeadFormTestResponse Body Parameter  Subscription to create. 
    */
  def leadFormTestCreate(adAccountId: String, leadFormId: String): ServiceCall[LeadFormTestRequest ,LeadFormTestResponse]
        
  /**
    * Get lead forms
    * Gets all Lead Forms associated with an ad account ID. Retrieving an advertiser&#39;s list of lead forms will only contain results if you&#39;re a part of the Lead ads beta.  If you&#39;re interested in joining the beta, please reach out to your Pinterest account manager.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/getting-started/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return LeadFormsList200Response
    */
  def leadFormsList(pageSize:           Option[Int] /* = 25*/,order: Option[LeadFormsApiOrderEnum.LeadFormsApiOrderEnum]bookmark:           Option[String] = NoneadAccountId: String): ServiceCall[NotUsed ,LeadFormsList200Response]
  

        object LeadFormsApiOrderEnum extends Enumeration {
        val   ASCENDING, DESCENDING = Value     
        type LeadFormsApiOrderEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[LeadFormsApiOrderEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[LeadFormsApiOrderEnum] = PathParamSerializer.required("LeadFormsApiOrderEnum")(withName)(_.toString)
        }
  }
