/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.Error
import io.swagger.client.model.OrderLine
import io.swagger.client.model.OrderLinesList200Response

trait OrderLinesApi extends Service {


  final override def descriptor = {
    import Service._
    named("OrderLinesApi").withCalls(
      restCall(Method.GET, "/ad_accounts/:ad_account_id/order_lines/:order_line_id", orderLinesGet _), 
      restCall(Method.GET, "/ad_accounts/:ad_account_id/order_lines?pageSize&order&bookmark", orderLinesList _)
    ).withAutoAcl(true)
  }


  /**
    * Get order line
    * Get a specific existing order line associated with an ad account.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param orderLineId Unique identifier of an order line. 
    * @return OrderLine
    */
  def orderLinesGet(adAccountId: String, orderLineId: String): ServiceCall[NotUsed ,OrderLine]
        
  /**
    * Get order lines
    * List existing order lines associated with an ad account.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/getting-started/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param order The order in which to sort the items returned: “ASCENDING” or “DESCENDING” by ID. Note that higher-value IDs are associated with more-recently added items. (optional) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return OrderLinesList200Response
    */
  def orderLinesList(pageSize:           Option[Int] /* = 25*/,order: Option[OrderLinesApiOrderEnum.OrderLinesApiOrderEnum]bookmark:           Option[String] = NoneadAccountId: String): ServiceCall[NotUsed ,OrderLinesList200Response]
  

        object OrderLinesApiOrderEnum extends Enumeration {
        val   ASCENDING, DESCENDING = Value     
        type OrderLinesApiOrderEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[OrderLinesApiOrderEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[OrderLinesApiOrderEnum] = PathParamSerializer.required("OrderLinesApiOrderEnum")(withName)(_.toString)
        }
  }
