/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.AdAccountsCatalogsProductGroupsList200Response
import io.swagger.client.model.Error

trait ProductGroupsApi extends Service {


  final override def descriptor = {
    import Service._
    named("ProductGroupsApi").withCalls(
      restCall(Method.GET, "/ad_accounts/:ad_account_id/product_groups/catalogs?feedProfileId", adAccountsCatalogsProductGroupsList _)
    ).withAutoAcl(true)
  }

      
  /**
    * Get catalog product groups
    * This endpoint is completely deprecated. Please use &lt;a href&#x3D;&#39;/docs/api/v5/#operation/catalogs_product_groups/list&#39;&gt;List product groups&lt;/a&gt; from Catalogs API instead.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param feedProfileId The feed profile id whose catalog product groups we want to return. (optional)
    * @return AdAccountsCatalogsProductGroupsList200Response
    */
  def adAccountsCatalogsProductGroupsList(feedProfileId:           Option[String] = NoneadAccountId: String): ServiceCall[NotUsed ,AdAccountsCatalogsProductGroupsList200Response]
  

  }
