/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.AdAccountsCountryResponse
import io.swagger.client.model.BookClosedResponse
import io.swagger.client.model.DeliveryMetricsResponse
import io.swagger.client.model.Error
import io.swagger.client.model.SingleInterestTargetingOptionResponse

trait ResourcesApi extends Service {


  final override def descriptor = {
    import Service._
    named("ResourcesApi").withCalls(
      restCall(Method.GET, "/resources/ad_account_countries", adAccountCountriesGet _), 
      restCall(Method.GET, "/resources/delivery_metrics?reportType", deliveryMetricsGet _), 
      restCall(Method.GET, "/resources/targeting/interests/:interest_id", interestTargetingOptionsGet _), 
      restCall(Method.GET, "/resources/lead_form_questions", leadFormQuestionsGet _), 
      restCall(Method.GET, "/resources/metrics_ready_state?date", metricsReadyStateGet _), 
      restCall(Method.GET, "/resources/targeting/:targeting_type?clientId&oauthSignature&timestamp", targetingOptionsGet _)
    ).withAutoAcl(true)
  }


  /**
    * Get ad accounts countries
    * Get Ad Accounts countries
    * 
    * @return AdAccountsCountryResponse
    */
  def adAccountCountriesGet(): ServiceCall[NotUsed ,AdAccountsCountryResponse]
        
  /**
    * Get available metrics&#39; definitions
    * Get the definitions for ads and organic metrics available across both synchronous and asynchronous report endpoints. The &#x60;display_name&#x60; attribute will match how the metric is named in our native tools like Ads Manager. See &lt;a href&#x3D;&#39;/docs/content/analytics/&#39;&gt;Organic Analytics&lt;/a&gt; and &lt;a href&#x3D;&#39;/docs/ads/ad-analytics-reporting/&#39;&gt;Ads Analytics&lt;/a&gt; for more information.
    *  
    * @param reportType Report type. (optional)
    * @return DeliveryMetricsResponse
    */
  def deliveryMetricsGet(reportType: Option[ResourcesApiReportTypeEnum.ResourcesApiReportTypeEnum]): ServiceCall[NotUsed ,DeliveryMetricsResponse]
  
  /**
    * Get interest details
    * &lt;p&gt;Get details of a specific interest given interest ID.&lt;/p&gt; &lt;p&gt;Click &lt;a href&#x3D;\&quot;https://docs.google.com/spreadsheets/d/1HxL-0Z3p2fgxis9YBP2HWC3tvPrs1hAuHDRtH-NJTIM/edit#gid&#x3D;118370875\&quot; target&#x3D;\&quot;_blank\&quot;&gt;here&lt;/a&gt; for a spreadsheet listing interests and their IDs.&lt;/p&gt;
    *  
    * @param interestId Unique identifier of an interest. 
    * @return SingleInterestTargetingOptionResponse
    */
  def interestTargetingOptionsGet(interestId: String): ServiceCall[NotUsed ,SingleInterestTargetingOptionResponse]
  
  /**
    * Get lead form questions
    * Get a list of all lead form question type names. Some questions might not be used.  &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/new/about-beta-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;
    * 
    * @return void
    */
  def leadFormQuestionsGet(): ServiceCall[NotUsed ,Done]
        
  /**
    * Get metrics ready state
    * Learn whether conversion or non-conversion metrics are finalized and ready to query.
    *  
    * @param date Analytics reports request date (UTC). Format: YYYY-MM-DD 
    * @return BookClosedResponse
    */
  def metricsReadyStateGet(date:String          ): ServiceCall[NotUsed ,BookClosedResponse]
        
  /**
    * Get targeting options
    * &lt;p&gt;You can use targeting values in ads placement to define your intended audience. &lt;/p&gt; &lt;p&gt;Targeting metrics are organized around targeting specifications.&lt;/p&gt; &lt;p&gt;For more information on ads targeting, see &lt;a class&#x3D;\&quot;reference external\&quot; href&#x3D;\&quot;https://help.pinterest.com/en/business/article/audience-targeting\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Audience targeting&lt;/a&gt;.&lt;/p&gt; &lt;p&gt;&lt;b&gt;Sample return:&lt;/b&gt;&lt;/p&gt; &lt;pre class&#x3D;\&quot;literal-block\&quot;&gt; [{&amp;quot;36313&amp;quot;: &amp;quot;Australia: Moreton Bay - North&amp;quot;, &amp;quot;124735&amp;quot;: &amp;quot;Canada: North Battleford&amp;quot;, &amp;quot;36109&amp;quot;: &amp;quot;Australia: Murray&amp;quot;, &amp;quot;36108&amp;quot;: &amp;quot;Australia: Mid North Coast&amp;quot;, &amp;quot;36101&amp;quot;: &amp;quot;Australia: Capital Region&amp;quot;, &amp;quot;811&amp;quot;: &amp;quot;U.S.: Reno&amp;quot;, &amp;quot;36103&amp;quot;: &amp;quot;Australia: Central West&amp;quot;, &amp;quot;36102&amp;quot;: &amp;quot;Australia: Central Coast&amp;quot;, &amp;quot;36105&amp;quot;: &amp;quot;Australia: Far West and Orana&amp;quot;, &amp;quot;36104&amp;quot;: &amp;quot;Australia: Coffs Harbour - Grafton&amp;quot;, &amp;quot;36107&amp;quot;: &amp;quot;Australia: Illawarra&amp;quot;, &amp;quot;36106&amp;quot;: &amp;quot;Australia: Hunter Valley Exc Newcastle&amp;quot;, &amp;quot;554017&amp;quot;: &amp;quot;New Zealand: Wanganui&amp;quot;, &amp;quot;554016&amp;quot;: &amp;quot;New Zealand: Marlborough&amp;quot;, &amp;quot;554015&amp;quot;: &amp;quot;New Zealand: Gisborne&amp;quot;, &amp;quot;554014&amp;quot;: &amp;quot;New Zealand: Tararua&amp;quot;, &amp;quot;554013&amp;quot;: &amp;quot;New Zealand: Invercargill&amp;quot;, &amp;quot;GR&amp;quot;: &amp;quot;Greece&amp;quot;, &amp;quot;554011&amp;quot;: &amp;quot;New Zealand: Whangarei&amp;quot;, &amp;quot;554010&amp;quot;: &amp;quot;New Zealand: Far North&amp;quot;, &amp;quot;717&amp;quot;: &amp;quot;U.S.: Quincy-Hannibal-Keokuk&amp;quot;, &amp;quot;716&amp;quot;: &amp;quot;U.S.: Baton Rouge&amp;quot;,...}] &lt;/pre&gt;
    *  
    * @param targetingType Public targeting type.  
    * @param clientId Client ID. (optional) 
    * @param oauthSignature Oauth signature (optional) 
    * @param timestamp Timestamp (optional)
    * @return Seq[Any]
    */
  def targetingOptionsGet(clientId:           Option[String] = None,oauthSignature:           Option[String] = None,timestamp:           Option[String] = NonetargetingType:  Option[ResourcesApiTargetingTypeEnum.ResourcesApiTargetingTypeEnum]): ServiceCall[NotUsed ,Seq[Any]]
  

        object ResourcesApiReportTypeEnum extends Enumeration {
        val   SYNC, ASYNC = Value     
        type ResourcesApiReportTypeEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[ResourcesApiReportTypeEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[ResourcesApiReportTypeEnum] = PathParamSerializer.required("ResourcesApiReportTypeEnum")(withName)(_.toString)
        }
        object ResourcesApiTargetingTypeEnum extends Enumeration {
        val   APPTYPE, GENDER, LOCALE, AGE_BUCKET, LOCATION, GEO, INTEREST, KEYWORD, AUDIENCE_INCLUDE, AUDIENCE_EXCLUDE = Value     
        type ResourcesApiTargetingTypeEnum = Value
        implicit val format: Format[Value] = Format(Reads.enumNameReads(this), Writes.enumNameWrites[ResourcesApiTargetingTypeEnum.type])
        implicit val pathParamSerializer: PathParamSerializer[ResourcesApiTargetingTypeEnum] = PathParamSerializer.required("ResourcesApiTargetingTypeEnum")(withName)(_.toString)
        }
  }
