/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.12.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.Error
import io.swagger.client.model.PinsList200Response
import io.swagger.client.model.SearchPartnerPins200Response
import io.swagger.client.model.SearchUserBoardsGet200Response

trait SearchApi extends Service {


  final override def descriptor = {
    import Service._
    named("SearchApi").withCalls(
      restCall(Method.GET, "/search/partner/pins?term&countryCode&bookmark&locale&limit", searchPartnerPins _), 
      restCall(Method.GET, "/search/boards?adAccountId&bookmark&pageSize&query", searchUserBoardsGet _), 
      restCall(Method.GET, "/search/pins?adAccountId&query&bookmark", searchUserPinsList _)
    ).withAutoAcl(true)
  }

      
  /**
    * Search pins by a given search term
    * &lt;strong&gt;This endpoint is currently in beta and not available to all apps. &lt;a href&#x3D;&#39;/docs/new/about-beta-access/&#39;&gt;Learn more&lt;/a&gt;.&lt;/strong&gt;  Get the top 10 Pins by a given search term.
    *  
    * @param term Search term to look up pins.  
    * @param countryCode Two letter country code (ISO 3166-1 alpha-2)  
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param locale Search locale. (optional) 
    * @param limit Max search result size (optional, default to 10)
    * @return SearchPartnerPins200Response
    */
  def searchPartnerPins(term:String          ,countryCode:String          ,bookmark:           Option[String] = None,locale:           Option[String] = None,limit:           Option[Int] /* = 10*/): ServiceCall[NotUsed ,SearchPartnerPins200Response]
        
  /**
    * Search user&#39;s boards
    * Search for boards for the \&quot;operation user_account\&quot;. This includes boards of all board types. - By default, the \&quot;operation user_account\&quot; is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. See &lt;a href&#x3D;&#39;/docs/reference/business-access/&#39;&gt;Understanding Business Access&lt;/a&gt; for more information.
    *  
    * @param adAccountId Unique identifier of an ad account. (optional) 
    * @param bookmark Cursor used to fetch the next page of items (optional) 
    * @param pageSize Maximum number of items to include in a single page of the response. See documentation on &lt;a href&#x3D;&#39;/docs/getting-started/pagination/&#39;&gt;Pagination&lt;/a&gt; for more information. (optional, default to 25) 
    * @param query Search query. Can contain pin description keywords or comma-separated pin IDs. (optional)
    * @return SearchUserBoardsGet200Response
    */
  def searchUserBoardsGet(adAccountId:           Option[String] = None,bookmark:           Option[String] = None,pageSize:           Option[Int] /* = 25*/,query:           Option[String] = None): ServiceCall[NotUsed ,SearchUserBoardsGet200Response]
        
  /**
    * Search user&#39;s Pins
    * Search for pins for the \&quot;operation user_account\&quot;. - By default, the \&quot;operation user_account\&quot; is the token user_account.  If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \&quot;operation user_account\&quot;. See &lt;a href&#x3D;&#39;/docs/reference/business-access/&#39;&gt;Understanding Business Access&lt;/a&gt; for more information.
    *  
    * @param query Search query. Can contain pin description keywords or comma-separated pin IDs.  
    * @param adAccountId Unique identifier of an ad account. (optional) 
    * @param bookmark Cursor used to fetch the next page of items (optional)
    * @return PinsList200Response
    */
  def searchUserPinsList(adAccountId:           Option[String] = None,query:String          ,bookmark:           Option[String] = None): ServiceCall[NotUsed ,PinsList200Response]
  

  }
