/**
 * Pinterest REST API
 * Pinterest's REST API
 *
 * The version of the OpenAPI document: 5.14.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.Error
import io.swagger.client.model.TermsOfService

trait TermsOfServiceApi extends Service {


  final override def descriptor = {
    import Service._
    named("TermsOfServiceApi").withCalls(
      restCall(Method.GET, "/ad_accounts/:ad_account_id/terms_of_service?includeHtml&tosType", termsOfServiceGet _)
    ).withAutoAcl(true)
  }

      
  /**
    * Get terms of service
    * Get the text of the terms of service and see whether the advertiser has accepted the terms of service.
    *  
    * @param adAccountId Unique identifier of an ad account.  
    * @param includeHtml Return HTML in TOS text. (optional, default to false) 
    * @param tosType Request type. (optional)
    * @return TermsOfService
    */
  def termsOfServiceGet(includeHtml:           Option[Boolean] /* = false*/,tosType:           Option[String] = NoneadAccountId: String): ServiceCall[NotUsed ,TermsOfService]
  

  }
