<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractBusinessAccessRelationshipsApi
{

    /**
     * Operation brandAccountsCreate
     *
     * Path: `/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts`
     *
     * Create a Brand Account
     *
     * @param string $businessHierarchyId business hierarchy node id (required)
     * @param \OpenAPIServer\Model\BrandAccountCreate $brandAccountCreate  (required)
     *
     * @return \OpenAPIServer\Model\BrandAccount|null
     */
    public function brandAccountsCreate(string $businessHierarchyId, \OpenAPIServer\Model\BrandAccountCreate $brandAccountCreate): \OpenAPIServer\Model\BrandAccount|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation brandAccountsCreate (stream)
     *
     * Path: `/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts`
     *
     * Create a Brand Account
     *
     * @param string $businessHierarchyId business hierarchy node id (required)
     * @param \OpenAPIServer\Model\BrandAccountCreate $brandAccountCreate  (required)
     *
     */
    public function brandAccountsCreateStream(string $businessHierarchyId, \OpenAPIServer\Model\BrandAccountCreate $brandAccountCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation brandAccountsUpdate
     *
     * Path: `/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}`
     *
     * Update a Brand Account
     *
     * @param string $brandAccountId  (required)
     * @param string $businessHierarchyId business hierarchy node id (required)
     * @param \OpenAPIServer\Model\BrandAccountUpdate $brandAccountUpdate  (required)
     *
     * @return \OpenAPIServer\Model\BrandAccount|null
     */
    public function brandAccountsUpdate(string $brandAccountId, string $businessHierarchyId, \OpenAPIServer\Model\BrandAccountUpdate $brandAccountUpdate): \OpenAPIServer\Model\BrandAccount|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation brandAccountsUpdate (stream)
     *
     * Path: `/business_access/business_hierarchy/{business_hierarchy_id}/brand_accounts/{brand_account_id}`
     *
     * Update a Brand Account
     *
     * @param string $brandAccountId  (required)
     * @param string $businessHierarchyId business hierarchy node id (required)
     * @param \OpenAPIServer\Model\BrandAccountUpdate $brandAccountUpdate  (required)
     *
     */
    public function brandAccountsUpdateStream(string $brandAccountId, string $businessHierarchyId, \OpenAPIServer\Model\BrandAccountUpdate $brandAccountUpdate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation deleteBusinessMembership
     *
     * Path: `/businesses/{business_id}/members`
     *
     * Terminate business memberships
     *
     * @param string $businessId Business id (required)
     * @param \OpenAPIServer\Model\DeleteBusinessMembershipBody $deleteBusinessMembershipBody  (required)
     *
     * @return \OpenAPIServer\Model\DeleteBusinessMembership200Response|null
     */
    public function deleteBusinessMembership(string $businessId, \OpenAPIServer\Model\DeleteBusinessMembershipBody $deleteBusinessMembershipBody): \OpenAPIServer\Model\DeleteBusinessMembership200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deleteBusinessMembership (stream)
     *
     * Path: `/businesses/{business_id}/members`
     *
     * Terminate business memberships
     *
     * @param string $businessId Business id (required)
     * @param \OpenAPIServer\Model\DeleteBusinessMembershipBody $deleteBusinessMembershipBody  (required)
     *
     */
    public function deleteBusinessMembershipStream(string $businessId, \OpenAPIServer\Model\DeleteBusinessMembershipBody $deleteBusinessMembershipBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation deleteBusinessPartners
     *
     * Path: `/businesses/{business_id}/partners`
     *
     * Terminate business partnerships
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\DeleteBusinessPartnersDelete $deleteBusinessPartnersDelete  (required)
     *
     * @return \OpenAPIServer\Model\DeleteBusinessPartners|null
     */
    public function deleteBusinessPartners(string $businessId, \OpenAPIServer\Model\DeleteBusinessPartnersDelete $deleteBusinessPartnersDelete): \OpenAPIServer\Model\DeleteBusinessPartners|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deleteBusinessPartners (stream)
     *
     * Path: `/businesses/{business_id}/partners`
     *
     * Terminate business partnerships
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\DeleteBusinessPartnersDelete $deleteBusinessPartnersDelete  (required)
     *
     */
    public function deleteBusinessPartnersStream(string $businessId, \OpenAPIServer\Model\DeleteBusinessPartnersDelete $deleteBusinessPartnersDelete): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getBusinessEmployers
     *
     * Path: `/businesses/employers`
     *
     * List business employers for user
     *
     * @param ?bool $assetsSummary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to true)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\GetBusinessEmployers200Response|null
     */
    public function getBusinessEmployers(?bool $assetsSummary, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\GetBusinessEmployers200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getBusinessEmployers (stream)
     *
     * Path: `/businesses/employers`
     *
     * List business employers for user
     *
     * @param ?bool $assetsSummary Include assets summary in the response if this is true. Defaults to true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to true)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function getBusinessEmployersStream(?bool $assetsSummary, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getBusinessMembers
     *
     * Path: `/businesses/{business_id}/members`
     *
     * Get business members
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param ?bool $fetchSystemUsers Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
     * @param ?bool $assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param ?array $businessRoles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned. (optional)
     * @param ?string $memberIds A list of business members ids separated by comma. (optional)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\GetBusinessEmployers200Response|null
     */
    public function getBusinessMembers(string $businessId, ?bool $fetchSystemUsers, ?bool $assetsSummary, ?array $businessRoles, ?string $memberIds, ?int $startIndex, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\GetBusinessEmployers200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getBusinessMembers (stream)
     *
     * Path: `/businesses/{business_id}/members`
     *
     * Get business members
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param ?bool $fetchSystemUsers Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
     * @param ?bool $assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param ?array $businessRoles A list of business roles to filter the members by. Only members whose roles are in the specified roles will be returned. (optional)
     * @param ?string $memberIds A list of business members ids separated by comma. (optional)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function getBusinessMembersStream(string $businessId, ?bool $fetchSystemUsers, ?bool $assetsSummary, ?array $businessRoles, ?string $memberIds, ?int $startIndex, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getBusinessPartners
     *
     * Path: `/businesses/{business_id}/partners`
     *
     * Get business partners
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param ?bool $assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param ?\OpenAPIServer\Model\PartnerType $partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional)
     * @param ?string $partnerIds A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned. (optional)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?bool $sortAscending Sort ascending. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\GetBusinessEmployers200Response|null
     */
    public function getBusinessPartners(string $businessId, ?bool $assetsSummary, ?\OpenAPIServer\Model\PartnerType $partnerType, ?string $partnerIds, ?int $startIndex, ?bool $sortAscending, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\GetBusinessEmployers200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getBusinessPartners (stream)
     *
     * Path: `/businesses/{business_id}/partners`
     *
     * Get business partners
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param ?bool $assetsSummary Include assets summary in the response if this is true.  The assets summary returns a dictionary representing a summary of the assets for the business user ID, with information like the ad accounts and profiles the user has permissions for and what those permissions are (optional, default to false)
     * @param ?\OpenAPIServer\Model\PartnerType $partnerType Specifies whether to fetch internal or external (shared) partners. If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets. If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional)
     * @param ?string $partnerIds A list of business partner ids separated by commas used to filter the results. Only partners with the specified ids will be returned. (optional)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?bool $sortAscending Sort ascending. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function getBusinessPartnersStream(string $businessId, ?bool $assetsSummary, ?\OpenAPIServer\Model\PartnerType $partnerType, ?string $partnerIds, ?int $startIndex, ?bool $sortAscending, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation systemUserUpdate
     *
     * Path: `/businesses/{business_id}/system_users/{system_user_id}`
     *
     * Update a system user information.
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $systemUserId Unique identifier of a system user. (required)
     * @param \OpenAPIServer\Model\SystemUserUpdateWithRequiredBody $systemUserUpdateWithRequiredBody  (required)
     *
     * @return void
     */
    public function systemUserUpdate(string $businessId, string $systemUserId, \OpenAPIServer\Model\SystemUserUpdateWithRequiredBody $systemUserUpdateWithRequiredBody): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation systemUserUpdate (stream)
     *
     * Path: `/businesses/{business_id}/system_users/{system_user_id}`
     *
     * Update a system user information.
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $systemUserId Unique identifier of a system user. (required)
     * @param \OpenAPIServer\Model\SystemUserUpdateWithRequiredBody $systemUserUpdateWithRequiredBody  (required)
     *
     */
    public function systemUserUpdateStream(string $businessId, string $systemUserId, \OpenAPIServer\Model\SystemUserUpdateWithRequiredBody $systemUserUpdateWithRequiredBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateBusinessMemberships
     *
     * Path: `/businesses/{business_id}/members`
     *
     * Update member's business role
     *
     * @param string $businessId Business id (required)
     * @param array $businessMembershipMember  (required)
     *
     * @return \OpenAPIServer\Model\UpdateBusinessMembershipsResponse|null
     */
    public function updateBusinessMemberships(string $businessId, array $businessMembershipMember): \OpenAPIServer\Model\UpdateBusinessMembershipsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateBusinessMemberships (stream)
     *
     * Path: `/businesses/{business_id}/members`
     *
     * Update member's business role
     *
     * @param string $businessId Business id (required)
     * @param array $businessMembershipMember  (required)
     *
     */
    public function updateBusinessMembershipsStream(string $businessId, array $businessMembershipMember): void
    {
        throw new \Exception('Not implemented');
    }
}
