<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCatalogsApi
{

    /**
     * Operation catalogsAvailableFilterValues
     *
     * Path: `/catalogs/available_filter_values`
     *
     * List available filter values
     *
     * @param string $catalogId Filter entities for a given catalog_id. (required)
     * @param ?string $feedId Filter entities for a given feed_id. If not given, all feeds are considered. (optional)
     * @param ?\OpenAPIServer\Model\Country $country Country for the Catalogs Items (optional)
     * @param ?\OpenAPIServer\Model\CatalogsLocale $language Language for the Catalogs Items (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsAvailableFilterValues|null
     */
    public function catalogsAvailableFilterValues(string $catalogId, ?string $feedId, ?\OpenAPIServer\Model\Country $country, ?\OpenAPIServer\Model\CatalogsLocale $language, ?string $adAccountId): \OpenAPIServer\Model\CatalogsAvailableFilterValues|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsAvailableFilterValues (stream)
     *
     * Path: `/catalogs/available_filter_values`
     *
     * List available filter values
     *
     * @param string $catalogId Filter entities for a given catalog_id. (required)
     * @param ?string $feedId Filter entities for a given feed_id. If not given, all feeds are considered. (optional)
     * @param ?\OpenAPIServer\Model\Country $country Country for the Catalogs Items (optional)
     * @param ?\OpenAPIServer\Model\CatalogsLocale $language Language for the Catalogs Items (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsAvailableFilterValuesStream(string $catalogId, ?string $feedId, ?\OpenAPIServer\Model\Country $country, ?\OpenAPIServer\Model\CatalogsLocale $language, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsCreate
     *
     * Path: `/catalogs`
     *
     * Create catalog
     *
     * @param \OpenAPIServer\Model\CatalogCreate $catalogCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\Catalog|null
     */
    public function catalogsCreate(\OpenAPIServer\Model\CatalogCreate $catalogCreate, ?string $adAccountId): \OpenAPIServer\Model\Catalog|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsCreate (stream)
     *
     * Path: `/catalogs`
     *
     * Create catalog
     *
     * @param \OpenAPIServer\Model\CatalogCreate $catalogCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsCreateStream(\OpenAPIServer\Model\CatalogCreate $catalogCreate, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsList
     *
     * Path: `/catalogs`
     *
     * List catalogs
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\CatalogsList200Response|null
     */
    public function catalogsList(?string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\CatalogsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsList (stream)
     *
     * Path: `/catalogs`
     *
     * List catalogs
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function catalogsListStream(?string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
}
