<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCatalogReportsApi
{

    /**
     * Operation reportsCreate
     *
     * Path: `/catalogs/reports`
     *
     * Build catalogs report
     *
     * @param \OpenAPIServer\Model\CatalogsReportParameters $catalogsReportParameters  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsCreateReportResponse|null
     */
    public function reportsCreate(\OpenAPIServer\Model\CatalogsReportParameters $catalogsReportParameters, ?string $adAccountId): \OpenAPIServer\Model\CatalogsCreateReportResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation reportsCreate (stream)
     *
     * Path: `/catalogs/reports`
     *
     * Build catalogs report
     *
     * @param \OpenAPIServer\Model\CatalogsReportParameters $catalogsReportParameters  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function reportsCreateStream(\OpenAPIServer\Model\CatalogsReportParameters $catalogsReportParameters, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation reportsGet
     *
     * Path: `/catalogs/reports`
     *
     * Get catalogs report
     *
     * @param string $token Token returned from the post request creation call (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsReport|null
     */
    public function reportsGet(string $token, ?string $adAccountId): \OpenAPIServer\Model\CatalogsReport|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation reportsGet (stream)
     *
     * Path: `/catalogs/reports`
     *
     * Get catalogs report
     *
     * @param string $token Token returned from the post request creation call (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function reportsGetStream(string $token, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation reportsStats
     *
     * Path: `/catalogs/reports/stats`
     *
     * List report stats
     *
     * @param \OpenAPIServer\Model\CatalogsReportStatsParameters $parameters Contains the parameters for report identification. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\ReportsStats200Response|null
     */
    public function reportsStats(\OpenAPIServer\Model\CatalogsReportStatsParameters $parameters, ?string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\ReportsStats200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation reportsStats (stream)
     *
     * Path: `/catalogs/reports/stats`
     *
     * List report stats
     *
     * @param \OpenAPIServer\Model\CatalogsReportStatsParameters $parameters Contains the parameters for report identification. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function reportsStatsStream(\OpenAPIServer\Model\CatalogsReportStatsParameters $parameters, ?string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
}
