<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractSchedulesApi
{

    /**
     * Operation schedulesCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/schedules`
     *
     * Create schedules
     *
     * @param string $adAccountId  (required)
     * @param array $scheduleCreate  (required)
     *
     * @return \OpenAPIServer\Model\SchedulesCreate200ResponseInner[]|null
     */
    public function schedulesCreate(string $adAccountId, array $scheduleCreate): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation schedulesCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/schedules`
     *
     * Create schedules
     *
     * @param string $adAccountId  (required)
     * @param array $scheduleCreate  (required)
     *
     */
    public function schedulesCreateStream(string $adAccountId, array $scheduleCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation schedulesList
     *
     * Path: `/ad_accounts/{ad_account_id}/schedules`
     *
     * Get Schedules
     *
     * @param string $adAccountId  (required)
     * @param array $entityIds List of Entity IDs, must be associated with the Ad Accound ID provided in the path. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?array $scheduleStatuses Filter schedules by status (one or more) (optional)
     * @param ?\OpenAPIServer\Model\ScheduleType $scheduleType Filter schedules by a type (optional)
     *
     * @return \OpenAPIServer\Model\SchedulesList200Response|null
     */
    public function schedulesList(string $adAccountId, array $entityIds, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?array $scheduleStatuses, ?\OpenAPIServer\Model\ScheduleType $scheduleType): \OpenAPIServer\Model\SchedulesList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation schedulesList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/schedules`
     *
     * Get Schedules
     *
     * @param string $adAccountId  (required)
     * @param array $entityIds List of Entity IDs, must be associated with the Ad Accound ID provided in the path. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?array $scheduleStatuses Filter schedules by status (one or more) (optional)
     * @param ?\OpenAPIServer\Model\ScheduleType $scheduleType Filter schedules by a type (optional)
     *
     */
    public function schedulesListStream(string $adAccountId, array $entityIds, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?array $scheduleStatuses, ?\OpenAPIServer\Model\ScheduleType $scheduleType): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation schedulesUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/schedules`
     *
     * Update schedules
     *
     * @param string $adAccountId  (required)
     * @param array $scheduleBatchUpdate  (required)
     *
     * @return \OpenAPIServer\Model\SchedulesCreate200ResponseInner[]|null
     */
    public function schedulesUpdate(string $adAccountId, array $scheduleBatchUpdate): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation schedulesUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/schedules`
     *
     * Update schedules
     *
     * @param string $adAccountId  (required)
     * @param array $scheduleBatchUpdate  (required)
     *
     */
    public function schedulesUpdateStream(string $adAccountId, array $scheduleBatchUpdate): void
    {
        throw new \Exception('Not implemented');
    }
}
