<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCatalogSupplementalApi
{

    /**
     * Operation catalogsLocalInventoryItemsBatchOperate
     *
     * Path: `/catalogs/{catalog_id}/local_inventory_items/batch`
     *
     * Operate on local inventory item batch
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param \OpenAPIServer\Model\LocalInventoryItemsBatchCreate $localInventoryItemsBatchCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\SupplementalItemsBatchResponse|null
     */
    public function catalogsLocalInventoryItemsBatchOperate(string $catalogId, \OpenAPIServer\Model\LocalInventoryItemsBatchCreate $localInventoryItemsBatchCreate, ?string $adAccountId): \OpenAPIServer\Model\SupplementalItemsBatchResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsLocalInventoryItemsBatchOperate (stream)
     *
     * Path: `/catalogs/{catalog_id}/local_inventory_items/batch`
     *
     * Operate on local inventory item batch
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param \OpenAPIServer\Model\LocalInventoryItemsBatchCreate $localInventoryItemsBatchCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsLocalInventoryItemsBatchOperateStream(string $catalogId, \OpenAPIServer\Model\LocalInventoryItemsBatchCreate $localInventoryItemsBatchCreate, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsLocalInventoryItemsPost
     *
     * Path: `/catalogs/{catalog_id}/local_inventory_items/query`
     *
     * Get local inventory items (POST)
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param \OpenAPIServer\Model\LocalInventoryItemsGetCreate $localInventoryItemsGetCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\LocalInventoryItemsGet|null
     */
    public function catalogsLocalInventoryItemsPost(string $catalogId, \OpenAPIServer\Model\LocalInventoryItemsGetCreate $localInventoryItemsGetCreate, ?string $adAccountId): \OpenAPIServer\Model\LocalInventoryItemsGet|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsLocalInventoryItemsPost (stream)
     *
     * Path: `/catalogs/{catalog_id}/local_inventory_items/query`
     *
     * Get local inventory items (POST)
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param \OpenAPIServer\Model\LocalInventoryItemsGetCreate $localInventoryItemsGetCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsLocalInventoryItemsPostStream(string $catalogId, \OpenAPIServer\Model\LocalInventoryItemsGetCreate $localInventoryItemsGetCreate, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsLocalStoresCreate
     *
     * Path: `/catalogs/{catalog_id}/local_stores`
     *
     * Create local stores
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param array $localStoreCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsLocalStoresCreate200ResponseInner[]|null
     */
    public function catalogsLocalStoresCreate(string $catalogId, array $localStoreCreate, ?string $adAccountId): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsLocalStoresCreate (stream)
     *
     * Path: `/catalogs/{catalog_id}/local_stores`
     *
     * Create local stores
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param array $localStoreCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsLocalStoresCreateStream(string $catalogId, array $localStoreCreate, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsLocalStoresDelete
     *
     * Path: `/catalogs/{catalog_id}/local_stores`
     *
     * Delete local stores
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param array $ids List of local store IDs to filter by. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsLocalStoresDelete200ResponseInner[]|null
     */
    public function catalogsLocalStoresDelete(string $catalogId, array $ids, ?string $adAccountId): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsLocalStoresDelete (stream)
     *
     * Path: `/catalogs/{catalog_id}/local_stores`
     *
     * Delete local stores
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param array $ids List of local store IDs to filter by. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsLocalStoresDeleteStream(string $catalogId, array $ids, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsLocalStoresList
     *
     * Path: `/catalogs/{catalog_id}/local_stores`
     *
     * List local stores
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param ?array $ids List of local store IDs to filter by. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\CatalogsLocalStoresList200Response|null
     */
    public function catalogsLocalStoresList(string $catalogId, ?array $ids, ?string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\CatalogsLocalStoresList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsLocalStoresList (stream)
     *
     * Path: `/catalogs/{catalog_id}/local_stores`
     *
     * List local stores
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param ?array $ids List of local store IDs to filter by. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function catalogsLocalStoresListStream(string $catalogId, ?array $ids, ?string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsLocalStoresUpdate
     *
     * Path: `/catalogs/{catalog_id}/local_stores`
     *
     * Update local stores
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param array $localStoreBatchUpdate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsLocalStoresCreate200ResponseInner[]|null
     */
    public function catalogsLocalStoresUpdate(string $catalogId, array $localStoreBatchUpdate, ?string $adAccountId): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsLocalStoresUpdate (stream)
     *
     * Path: `/catalogs/{catalog_id}/local_stores`
     *
     * Update local stores
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param array $localStoreBatchUpdate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsLocalStoresUpdateStream(string $catalogId, array $localStoreBatchUpdate, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsSupplementalItemsBatchGet
     *
     * Path: `/catalogs/{catalog_id}/supplemental_items/batch/{batch_id}`
     *
     * Get supplemental items batch status
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param string $batchId Unique identifier of an items batch operation. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\SupplementalItemsBatchResponse|null
     */
    public function catalogsSupplementalItemsBatchGet(string $catalogId, string $batchId, ?string $adAccountId): \OpenAPIServer\Model\SupplementalItemsBatchResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsSupplementalItemsBatchGet (stream)
     *
     * Path: `/catalogs/{catalog_id}/supplemental_items/batch/{batch_id}`
     *
     * Get supplemental items batch status
     *
     * @param string $catalogId Unique identifier of a catalog. (required)
     * @param string $batchId Unique identifier of an items batch operation. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsSupplementalItemsBatchGetStream(string $catalogId, string $batchId, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
}
