<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractBusinessAccessInviteApi
{

    /**
     * Operation assetAccessRequestsCreate
     *
     * Path: `/businesses/{business_id}/requests/assets/access`
     *
     * Create a request to access an existing partner's assets.
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\CreateAssetAccessRequestBody $createAssetAccessRequestBody  (required)
     *
     * @return \OpenAPIServer\Model\CreateAssetAccessRequestResponse|null
     */
    public function assetAccessRequestsCreate(string $businessId, \OpenAPIServer\Model\CreateAssetAccessRequestBody $createAssetAccessRequestBody): \OpenAPIServer\Model\CreateAssetAccessRequestResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation assetAccessRequestsCreate (stream)
     *
     * Path: `/businesses/{business_id}/requests/assets/access`
     *
     * Create a request to access an existing partner's assets.
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\CreateAssetAccessRequestBody $createAssetAccessRequestBody  (required)
     *
     */
    public function assetAccessRequestsCreateStream(string $businessId, \OpenAPIServer\Model\CreateAssetAccessRequestBody $createAssetAccessRequestBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation cancelInvitesOrRequests
     *
     * Path: `/businesses/{business_id}/invites`
     *
     * Cancel invites/requests
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\CancelInvitesRequest $cancelInvitesRequest  (required)
     *
     * @return \OpenAPIServer\Model\CancelInvitesResponse|null
     */
    public function cancelInvitesOrRequests(string $businessId, \OpenAPIServer\Model\CancelInvitesRequest $cancelInvitesRequest): \OpenAPIServer\Model\CancelInvitesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation cancelInvitesOrRequests (stream)
     *
     * Path: `/businesses/{business_id}/invites`
     *
     * Cancel invites/requests
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\CancelInvitesRequest $cancelInvitesRequest  (required)
     *
     */
    public function cancelInvitesOrRequestsStream(string $businessId, \OpenAPIServer\Model\CancelInvitesRequest $cancelInvitesRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation createAssetInvites
     *
     * Path: `/businesses/{business_id}/invites/assets/access`
     *
     * Update invite/request with an asset permission
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\CreateAssetInvitesRequest $createAssetInvitesRequest  (required)
     *
     * @return \OpenAPIServer\Model\UpdateInvitesResultsResponseArray|null
     */
    public function createAssetInvites(string $businessId, \OpenAPIServer\Model\CreateAssetInvitesRequest $createAssetInvitesRequest): \OpenAPIServer\Model\UpdateInvitesResultsResponseArray|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation createAssetInvites (stream)
     *
     * Path: `/businesses/{business_id}/invites/assets/access`
     *
     * Update invite/request with an asset permission
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\CreateAssetInvitesRequest $createAssetInvitesRequest  (required)
     *
     */
    public function createAssetInvitesStream(string $businessId, \OpenAPIServer\Model\CreateAssetInvitesRequest $createAssetInvitesRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation createMembershipOrPartnershipInvites
     *
     * Path: `/businesses/{business_id}/invites`
     *
     * Create invites or requests
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\CreateMembershipOrPartnershipInvitesBody $createMembershipOrPartnershipInvitesBody  (required)
     *
     * @return \OpenAPIServer\Model\CreateInvitesResultsResponseArray|null
     */
    public function createMembershipOrPartnershipInvites(string $businessId, \OpenAPIServer\Model\CreateMembershipOrPartnershipInvitesBody $createMembershipOrPartnershipInvitesBody): \OpenAPIServer\Model\CreateInvitesResultsResponseArray|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation createMembershipOrPartnershipInvites (stream)
     *
     * Path: `/businesses/{business_id}/invites`
     *
     * Create invites or requests
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\CreateMembershipOrPartnershipInvitesBody $createMembershipOrPartnershipInvitesBody  (required)
     *
     */
    public function createMembershipOrPartnershipInvitesStream(string $businessId, \OpenAPIServer\Model\CreateMembershipOrPartnershipInvitesBody $createMembershipOrPartnershipInvitesBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getInvites
     *
     * Path: `/businesses/{business_id}/invites`
     *
     * Get invites/requests
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param ?bool $isMember A boolean field to indicate whether the invite is to create a partnership or a membership. (optional, default to true)
     * @param ?array $inviteStatus A list of invite statuses to filter invites by. Only invites whose status is in the provided statuses will be returned. (optional)
     * @param ?\OpenAPIServer\Model\InviteType $inviteType Invite type to filter invites by. Only invites of the specified type will be returned. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\GetInvites200Response|null
     */
    public function getInvites(string $businessId, ?bool $isMember, ?array $inviteStatus, ?\OpenAPIServer\Model\InviteType $inviteType, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\GetInvites200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getInvites (stream)
     *
     * Path: `/businesses/{business_id}/invites`
     *
     * Get invites/requests
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param ?bool $isMember A boolean field to indicate whether the invite is to create a partnership or a membership. (optional, default to true)
     * @param ?array $inviteStatus A list of invite statuses to filter invites by. Only invites whose status is in the provided statuses will be returned. (optional)
     * @param ?\OpenAPIServer\Model\InviteType $inviteType Invite type to filter invites by. Only invites of the specified type will be returned. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function getInvitesStream(string $businessId, ?bool $isMember, ?array $inviteStatus, ?\OpenAPIServer\Model\InviteType $inviteType, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation respondBusinessAccessInvites
     *
     * Path: `/businesses/invites`
     *
     * Accept or decline an invite/request
     *
     * @param \OpenAPIServer\Model\AuthRespondInvitesBody $authRespondInvitesBody  (required)
     *
     * @return \OpenAPIServer\Model\RespondToInvitesResponseArray|null
     */
    public function respondBusinessAccessInvites(\OpenAPIServer\Model\AuthRespondInvitesBody $authRespondInvitesBody): \OpenAPIServer\Model\RespondToInvitesResponseArray|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation respondBusinessAccessInvites (stream)
     *
     * Path: `/businesses/invites`
     *
     * Accept or decline an invite/request
     *
     * @param \OpenAPIServer\Model\AuthRespondInvitesBody $authRespondInvitesBody  (required)
     *
     */
    public function respondBusinessAccessInvitesStream(\OpenAPIServer\Model\AuthRespondInvitesBody $authRespondInvitesBody): void
    {
        throw new \Exception('Not implemented');
    }
}
