<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCatalogProductGroupsApi
{

    /**
     * Operation catalogsProductGroupPinsList
     *
     * Path: `/catalogs/product_groups/{product_group_id}/products`
     *
     * List products by product group
     *
     * @param string $productGroupId Unique identifier of a product group (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?bool $pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (optional, default to false)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\CatalogsProductGroupPinsList200Response|null
     */
    public function catalogsProductGroupPinsList(string $productGroupId, ?string $adAccountId, ?bool $pinMetrics, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\CatalogsProductGroupPinsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsProductGroupPinsList (stream)
     *
     * Path: `/catalogs/product_groups/{product_group_id}/products`
     *
     * List products by product group
     *
     * @param string $productGroupId Unique identifier of a product group (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?bool $pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (optional, default to false)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function catalogsProductGroupPinsListStream(string $productGroupId, ?string $adAccountId, ?bool $pinMetrics, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsProductGroupsCreate
     *
     * Path: `/catalogs/product_groups`
     *
     * Create product group
     *
     * @param \OpenAPIServer\Model\CatalogsProductGroupsCreateRequestSchema $catalogsProductGroupsCreateRequestSchema  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsVerticalProductGroup|null
     */
    public function catalogsProductGroupsCreate(\OpenAPIServer\Model\CatalogsProductGroupsCreateRequestSchema $catalogsProductGroupsCreateRequestSchema, ?string $adAccountId): \OpenAPIServer\Model\CatalogsVerticalProductGroup|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsProductGroupsCreate (stream)
     *
     * Path: `/catalogs/product_groups`
     *
     * Create product group
     *
     * @param \OpenAPIServer\Model\CatalogsProductGroupsCreateRequestSchema $catalogsProductGroupsCreateRequestSchema  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsProductGroupsCreateStream(\OpenAPIServer\Model\CatalogsProductGroupsCreateRequestSchema $catalogsProductGroupsCreateRequestSchema, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsProductGroupsCreateMany
     *
     * Path: `/catalogs/product_groups/multiple`
     *
     * Create product groups
     *
     * @param array $catalogsProductGroupsCreateManyRequestItems  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return string[]|null
     */
    public function catalogsProductGroupsCreateMany(array $catalogsProductGroupsCreateManyRequestItems, ?string $adAccountId): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsProductGroupsCreateMany (stream)
     *
     * Path: `/catalogs/product_groups/multiple`
     *
     * Create product groups
     *
     * @param array $catalogsProductGroupsCreateManyRequestItems  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsProductGroupsCreateManyStream(array $catalogsProductGroupsCreateManyRequestItems, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsProductGroupsDelete
     *
     * Path: `/catalogs/product_groups/{product_group_id}`
     *
     * Delete product group
     *
     * @param string $productGroupId Unique identifier of a product group (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsVerticalProductGroup|null
     */
    public function catalogsProductGroupsDelete(string $productGroupId, ?string $adAccountId): \OpenAPIServer\Model\CatalogsVerticalProductGroup|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsProductGroupsDelete (stream)
     *
     * Path: `/catalogs/product_groups/{product_group_id}`
     *
     * Delete product group
     *
     * @param string $productGroupId Unique identifier of a product group (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsProductGroupsDeleteStream(string $productGroupId, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsProductGroupsDeleteMany
     *
     * Path: `/catalogs/product_groups/multiple`
     *
     * Delete product groups
     *
     * @param array $id Comma-separated list of product group ids (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return void
     */
    public function catalogsProductGroupsDeleteMany(array $id, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsProductGroupsDeleteMany (stream)
     *
     * Path: `/catalogs/product_groups/multiple`
     *
     * Delete product groups
     *
     * @param array $id Comma-separated list of product group ids (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsProductGroupsDeleteManyStream(array $id, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsProductGroupsGet
     *
     * Path: `/catalogs/product_groups/{product_group_id}`
     *
     * Get product group
     *
     * @param string $productGroupId Unique identifier of a product group (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsVerticalProductGroup|null
     */
    public function catalogsProductGroupsGet(string $productGroupId, ?string $adAccountId): \OpenAPIServer\Model\CatalogsVerticalProductGroup|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsProductGroupsGet (stream)
     *
     * Path: `/catalogs/product_groups/{product_group_id}`
     *
     * Get product group
     *
     * @param string $productGroupId Unique identifier of a product group (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsProductGroupsGetStream(string $productGroupId, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsProductGroupsList
     *
     * Path: `/catalogs/product_groups`
     *
     * List product groups
     *
     * @param ?array $id Comma-separated list of product group ids (optional)
     * @param ?string $feedId Filter entities for a given feed_id. If not given, all feeds are considered. (optional)
     * @param ?string $catalogId Filter entities for a given catalog_id. If not given, all catalogs are considered. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\CatalogsProductGroupsList200Response|null
     */
    public function catalogsProductGroupsList(?array $id, ?string $feedId, ?string $catalogId, ?string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\CatalogsProductGroupsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsProductGroupsList (stream)
     *
     * Path: `/catalogs/product_groups`
     *
     * List product groups
     *
     * @param ?array $id Comma-separated list of product group ids (optional)
     * @param ?string $feedId Filter entities for a given feed_id. If not given, all feeds are considered. (optional)
     * @param ?string $catalogId Filter entities for a given catalog_id. If not given, all catalogs are considered. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function catalogsProductGroupsListStream(?array $id, ?string $feedId, ?string $catalogId, ?string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsProductGroupsProductCountsGet
     *
     * Path: `/catalogs/product_groups/{product_group_id}/product_counts`
     *
     * Get product counts
     *
     * @param string $productGroupId Unique identifier of a product group (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsProductGroupProductCountsVertical|null
     */
    public function catalogsProductGroupsProductCountsGet(string $productGroupId, ?string $adAccountId): \OpenAPIServer\Model\CatalogsProductGroupProductCountsVertical|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsProductGroupsProductCountsGet (stream)
     *
     * Path: `/catalogs/product_groups/{product_group_id}/product_counts`
     *
     * Get product counts
     *
     * @param string $productGroupId Unique identifier of a product group (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsProductGroupsProductCountsGetStream(string $productGroupId, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation catalogsProductGroupsUpdate
     *
     * Path: `/catalogs/product_groups/{product_group_id}`
     *
     * Update single product group
     *
     * @param string $productGroupId Unique identifier of a product group (required)
     * @param \OpenAPIServer\Model\CatalogsProductGroupsUpdateRequestSchema $catalogsProductGroupsUpdateRequestSchema  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsVerticalProductGroup|null
     */
    public function catalogsProductGroupsUpdate(string $productGroupId, \OpenAPIServer\Model\CatalogsProductGroupsUpdateRequestSchema $catalogsProductGroupsUpdateRequestSchema, ?string $adAccountId): \OpenAPIServer\Model\CatalogsVerticalProductGroup|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation catalogsProductGroupsUpdate (stream)
     *
     * Path: `/catalogs/product_groups/{product_group_id}`
     *
     * Update single product group
     *
     * @param string $productGroupId Unique identifier of a product group (required)
     * @param \OpenAPIServer\Model\CatalogsProductGroupsUpdateRequestSchema $catalogsProductGroupsUpdateRequestSchema  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function catalogsProductGroupsUpdateStream(string $productGroupId, \OpenAPIServer\Model\CatalogsProductGroupsUpdateRequestSchema $catalogsProductGroupsUpdateRequestSchema, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation productsByProductGroupFilterList
     *
     * Path: `/catalogs/products/get_by_product_group_filters`
     *
     * List products by filter
     *
     * @param \OpenAPIServer\Model\CatalogsListProductsByFilterRequest $catalogsListProductsByFilterRequest  (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?bool $pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (optional, default to false)
     *
     * @return \OpenAPIServer\Model\CatalogsProductGroupPinsList200Response|null
     */
    public function productsByProductGroupFilterList(\OpenAPIServer\Model\CatalogsListProductsByFilterRequest $catalogsListProductsByFilterRequest, ?string $bookmark, ?int $pageSize, ?string $adAccountId, ?bool $pinMetrics): \OpenAPIServer\Model\CatalogsProductGroupPinsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation productsByProductGroupFilterList (stream)
     *
     * Path: `/catalogs/products/get_by_product_group_filters`
     *
     * List products by filter
     *
     * @param \OpenAPIServer\Model\CatalogsListProductsByFilterRequest $catalogsListProductsByFilterRequest  (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?bool $pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (optional, default to false)
     *
     */
    public function productsByProductGroupFilterListStream(\OpenAPIServer\Model\CatalogsListProductsByFilterRequest $catalogsListProductsByFilterRequest, ?string $bookmark, ?int $pageSize, ?string $adAccountId, ?bool $pinMetrics): void
    {
        throw new \Exception('Not implemented');
    }
}
