<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractMsotEventsApi
{

    /**
     * Operation msotEventsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/msot/events`
     *
     * Send Measurement Source Of Truth (MSOT) attributed conversion events
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ConversionMSOTEventsCreate $conversionMSOTEventsCreate  (required)
     *
     * @return void
     */
    public function msotEventsCreate(string $adAccountId, \OpenAPIServer\Model\ConversionMSOTEventsCreate $conversionMSOTEventsCreate): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation msotEventsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/msot/events`
     *
     * Send Measurement Source Of Truth (MSOT) attributed conversion events
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ConversionMSOTEventsCreate $conversionMSOTEventsCreate  (required)
     *
     */
    public function msotEventsCreateStream(string $adAccountId, \OpenAPIServer\Model\ConversionMSOTEventsCreate $conversionMSOTEventsCreate): void
    {
        throw new \Exception('Not implemented');
    }
}
