<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractTermsApi
{

    /**
     * Operation termsRelatedList
     *
     * Path: `/terms/related`
     *
     * List related terms
     *
     * @param array $terms List of input terms. (required)
     *
     * @return \OpenAPIServer\Model\RelatedTerms|null
     */
    public function termsRelatedList(array $terms): \OpenAPIServer\Model\RelatedTerms|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation termsRelatedList (stream)
     *
     * Path: `/terms/related`
     *
     * List related terms
     *
     * @param array $terms List of input terms. (required)
     *
     */
    public function termsRelatedListStream(array $terms): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation termsSuggestedList
     *
     * Path: `/terms/suggested`
     *
     * List suggested terms
     *
     * @param string $term Input term. (required)
     * @param ?int $limit Max suggested terms to return. (optional, default to 4)
     *
     * @return string[]|null
     */
    public function termsSuggestedList(string $term, ?int $limit): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation termsSuggestedList (stream)
     *
     * Path: `/terms/suggested`
     *
     * List suggested terms
     *
     * @param string $term Input term. (required)
     * @param ?int $limit Max suggested terms to return. (optional, default to 4)
     *
     */
    public function termsSuggestedListStream(string $term, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
}
