<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractKeywordsApi
{

    /**
     * Operation countryKeywordsMetricsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/keywords/metrics`
     *
     * Get country's keyword metrics
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $countryCode Two letter country code (ISO 3166-1 alpha-2) (required)
     * @param array $keywords Comma-separated keywords (required)
     *
     * @return \OpenAPIServer\Model\KeywordsMetricsArrayResponse|null
     */
    public function countryKeywordsMetricsGet(string $adAccountId, string $countryCode, array $keywords): \OpenAPIServer\Model\KeywordsMetricsArrayResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation countryKeywordsMetricsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/keywords/metrics`
     *
     * Get country's keyword metrics
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $countryCode Two letter country code (ISO 3166-1 alpha-2) (required)
     * @param array $keywords Comma-separated keywords (required)
     *
     */
    public function countryKeywordsMetricsGetStream(string $adAccountId, string $countryCode, array $keywords): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation keywordsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/keywords`
     *
     * Create keywords
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\KeywordsCreate $keywordsCreate  (required)
     *
     * @return \OpenAPIServer\Model\Keywords|null
     */
    public function keywordsCreate(string $adAccountId, \OpenAPIServer\Model\KeywordsCreate $keywordsCreate): \OpenAPIServer\Model\Keywords|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation keywordsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/keywords`
     *
     * Create keywords
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\KeywordsCreate $keywordsCreate  (required)
     *
     */
    public function keywordsCreateStream(string $adAccountId, \OpenAPIServer\Model\KeywordsCreate $keywordsCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation keywordsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/keywords`
     *
     * Get keywords
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $campaignId Campaign Id to use to filter the results. (optional)
     * @param ?string $adGroupId Ad group Id. (optional)
     * @param ?array $adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users. (optional)
     * @param ?array $matchTypes Keyword [match type](/docs/api-features/targeting-overview/) (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\KeywordsGet200Response|null
     */
    public function keywordsGet(string $adAccountId, ?string $campaignId, ?string $adGroupId, ?array $adGroupIds, ?array $matchTypes, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\KeywordsGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation keywordsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/keywords`
     *
     * Get keywords
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $campaignId Campaign Id to use to filter the results. (optional)
     * @param ?string $adGroupId Ad group Id. (optional)
     * @param ?array $adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users. (optional)
     * @param ?array $matchTypes Keyword [match type](/docs/api-features/targeting-overview/) (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function keywordsGetStream(string $adAccountId, ?string $campaignId, ?string $adGroupId, ?array $adGroupIds, ?array $matchTypes, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation keywordsUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/keywords`
     *
     * Update keywords
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\KeywordsUpdate $keywordsUpdate  (required)
     *
     * @return \OpenAPIServer\Model\Keywords|null
     */
    public function keywordsUpdate(string $adAccountId, \OpenAPIServer\Model\KeywordsUpdate $keywordsUpdate): \OpenAPIServer\Model\Keywords|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation keywordsUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/keywords`
     *
     * Update keywords
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\KeywordsUpdate $keywordsUpdate  (required)
     *
     */
    public function keywordsUpdateStream(string $adAccountId, \OpenAPIServer\Model\KeywordsUpdate $keywordsUpdate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation trendingKeywordsList
     *
     * Path: `/trends/keywords/{region}/top/{trend_type}`
     *
     * List trending keywords
     *
     * @param \OpenAPIServer\Model\TrendsSupportedRegion $region The geographic region of interest. Only top trends within the specified region will be returned.    The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;, corresponding to the following geographic areas:   - &#x60;US&#x60; - United States   - &#x60;CA&#x60; - Canada   - &#x60;DE&#x60; - Germany   - &#x60;FR&#x60; - France   - &#x60;ES&#x60; - Spain   - &#x60;IT&#x60; - Italy   - &#x60;DE+AT+CH&#x60; - Germanic countries   - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland   - &#x60;IT+ES+PT+GR+MT&#x60; - Southern Europe   - &#x60;PL+RO+HU+SK+CZ&#x60; - Eastern Europe   - &#x60;SE+DK+FI+NO&#x60; - Nordic countries   - &#x60;NL+BE+LU&#x60; - Benelux   - &#x60;AR&#x60; - Argentina   - &#x60;BR&#x60; - Brazil   - &#x60;CO&#x60; - Colombia   - &#x60;MX&#x60; - Mexico   - &#x60;MX+AR+CO+CL&#x60; - Hispanic LatAm   - &#x60;AU+NZ&#x60; - Australasia (required)
     * @param \OpenAPIServer\Model\TrendType $trendType The methodology used to rank how trendy a keyword is.   - &#x60;growing&#x60; trends have high upward growth in search volume over the last quarter   - &#x60;monthly&#x60; trends have high search volume in the last month   - &#x60;yearly&#x60; trends have high search volume in the last year   - &#x60;seasonal&#x60; trends have high upward growth in search volume over the last month and exhibit a seasonal recurring pattern (typically annual) (required)
     * @param ?array $interests The list of supported interests is:   - &#x60;animals&#x60; - Animals   - &#x60;architecture&#x60; - Architecture   - &#x60;art&#x60; - Art   - &#x60;beauty&#x60; - Beauty   - &#x60;childrens_fashion&#x60; - Children&#39;s Fashion   - &#x60;design&#x60; - Design   - &#x60;diy_and_crafts&#x60; - DIY &amp; Crafts   - &#x60;education&#x60; - Education   - &#x60;electronics&#x60; - Electronics   - &#x60;entertainment&#x60; - Entertainment   - &#x60;event_planning&#x60; - Event Planning   - &#x60;finance&#x60; - Finance   - &#x60;food_and_drinks&#x60; - Food &amp; Drink   - &#x60;gardening&#x60; - Gardening   - &#x60;health&#x60; - Health   - &#x60;home_decor&#x60; - Home Decor   - &#x60;mens_fashion&#x60; - Men&#39;s Fashion   - &#x60;parenting&#x60; - Parenting   - &#x60;quotes&#x60; - Quotes   - &#x60;sport&#x60; - Sports   - &#x60;travel&#x60; - Travel   - &#x60;vehicles&#x60; - Vehicles   - &#x60;wedding&#x60; - Wedding   - &#x60;womens_fashion&#x60; - Women&#39;s Fashion (optional)
     * @param ?array $genders If set, filters the results to trends among users who identify with the specified gender(s). If unset, trends among all genders will be returned. The &#x60;unknown&#x60; group includes users with unspecified or customized gender profile settings. (optional)
     * @param ?array $ages If set, filters the results to trends among users in the specified age range(s). If unset, trends among all age groups will be returned. (optional)
     * @param ?array $includeKeywords If set, filters the results to top trends which include at least one of the specified keywords. If unset, no keyword filtering logic is applied. (optional)
     * @param ?bool $normalizeAgainstGroup Governs how the resulting time series data will be normalized to a [0-100] scale.    By default (&#x60;false&#x60;), the data will be normalized independently for each keyword.  The peak search volume observation in *each* keyword&#39;s time series will be represented by the value 100.  This is ideal for analyzing when an individual keyword is expected to peak in interest.    If set to &#x60;true&#x60;, the data will be normalized as a group.  The peak search volume observation across *all* keywords in the response will be represented by the value 100, and all other values scaled accordingly.  Use this option when you wish to compare relative search volume between multiple keywords. (optional, default to false)
     * @param ?int $limit The maximum number of trending keywords that will be returned. Keywords are returned in trend-ranked order, so a &#x60;limit&#x60; of 50 will return the top 50 trends. (optional, default to 50)
     * @param ?bool $includeDemographics Including the age and gender distribution for each keyword. By default (&#x60;false&#x60;), the response will not include demographics data. (optional, default to false)
     *
     * @return \OpenAPIServer\Model\TrendingKeywordsResponse|null
     */
    public function trendingKeywordsList(\OpenAPIServer\Model\TrendsSupportedRegion $region, \OpenAPIServer\Model\TrendType $trendType, ?array $interests, ?array $genders, ?array $ages, ?array $includeKeywords, ?bool $normalizeAgainstGroup, ?int $limit, ?bool $includeDemographics): \OpenAPIServer\Model\TrendingKeywordsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation trendingKeywordsList (stream)
     *
     * Path: `/trends/keywords/{region}/top/{trend_type}`
     *
     * List trending keywords
     *
     * @param \OpenAPIServer\Model\TrendsSupportedRegion $region The geographic region of interest. Only top trends within the specified region will be returned.    The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;, corresponding to the following geographic areas:   - &#x60;US&#x60; - United States   - &#x60;CA&#x60; - Canada   - &#x60;DE&#x60; - Germany   - &#x60;FR&#x60; - France   - &#x60;ES&#x60; - Spain   - &#x60;IT&#x60; - Italy   - &#x60;DE+AT+CH&#x60; - Germanic countries   - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland   - &#x60;IT+ES+PT+GR+MT&#x60; - Southern Europe   - &#x60;PL+RO+HU+SK+CZ&#x60; - Eastern Europe   - &#x60;SE+DK+FI+NO&#x60; - Nordic countries   - &#x60;NL+BE+LU&#x60; - Benelux   - &#x60;AR&#x60; - Argentina   - &#x60;BR&#x60; - Brazil   - &#x60;CO&#x60; - Colombia   - &#x60;MX&#x60; - Mexico   - &#x60;MX+AR+CO+CL&#x60; - Hispanic LatAm   - &#x60;AU+NZ&#x60; - Australasia (required)
     * @param \OpenAPIServer\Model\TrendType $trendType The methodology used to rank how trendy a keyword is.   - &#x60;growing&#x60; trends have high upward growth in search volume over the last quarter   - &#x60;monthly&#x60; trends have high search volume in the last month   - &#x60;yearly&#x60; trends have high search volume in the last year   - &#x60;seasonal&#x60; trends have high upward growth in search volume over the last month and exhibit a seasonal recurring pattern (typically annual) (required)
     * @param ?array $interests The list of supported interests is:   - &#x60;animals&#x60; - Animals   - &#x60;architecture&#x60; - Architecture   - &#x60;art&#x60; - Art   - &#x60;beauty&#x60; - Beauty   - &#x60;childrens_fashion&#x60; - Children&#39;s Fashion   - &#x60;design&#x60; - Design   - &#x60;diy_and_crafts&#x60; - DIY &amp; Crafts   - &#x60;education&#x60; - Education   - &#x60;electronics&#x60; - Electronics   - &#x60;entertainment&#x60; - Entertainment   - &#x60;event_planning&#x60; - Event Planning   - &#x60;finance&#x60; - Finance   - &#x60;food_and_drinks&#x60; - Food &amp; Drink   - &#x60;gardening&#x60; - Gardening   - &#x60;health&#x60; - Health   - &#x60;home_decor&#x60; - Home Decor   - &#x60;mens_fashion&#x60; - Men&#39;s Fashion   - &#x60;parenting&#x60; - Parenting   - &#x60;quotes&#x60; - Quotes   - &#x60;sport&#x60; - Sports   - &#x60;travel&#x60; - Travel   - &#x60;vehicles&#x60; - Vehicles   - &#x60;wedding&#x60; - Wedding   - &#x60;womens_fashion&#x60; - Women&#39;s Fashion (optional)
     * @param ?array $genders If set, filters the results to trends among users who identify with the specified gender(s). If unset, trends among all genders will be returned. The &#x60;unknown&#x60; group includes users with unspecified or customized gender profile settings. (optional)
     * @param ?array $ages If set, filters the results to trends among users in the specified age range(s). If unset, trends among all age groups will be returned. (optional)
     * @param ?array $includeKeywords If set, filters the results to top trends which include at least one of the specified keywords. If unset, no keyword filtering logic is applied. (optional)
     * @param ?bool $normalizeAgainstGroup Governs how the resulting time series data will be normalized to a [0-100] scale.    By default (&#x60;false&#x60;), the data will be normalized independently for each keyword.  The peak search volume observation in *each* keyword&#39;s time series will be represented by the value 100.  This is ideal for analyzing when an individual keyword is expected to peak in interest.    If set to &#x60;true&#x60;, the data will be normalized as a group.  The peak search volume observation across *all* keywords in the response will be represented by the value 100, and all other values scaled accordingly.  Use this option when you wish to compare relative search volume between multiple keywords. (optional, default to false)
     * @param ?int $limit The maximum number of trending keywords that will be returned. Keywords are returned in trend-ranked order, so a &#x60;limit&#x60; of 50 will return the top 50 trends. (optional, default to 50)
     * @param ?bool $includeDemographics Including the age and gender distribution for each keyword. By default (&#x60;false&#x60;), the response will not include demographics data. (optional, default to false)
     *
     */
    public function trendingKeywordsListStream(\OpenAPIServer\Model\TrendsSupportedRegion $region, \OpenAPIServer\Model\TrendType $trendType, ?array $interests, ?array $genders, ?array $ages, ?array $includeKeywords, ?bool $normalizeAgainstGroup, ?int $limit, ?bool $includeDemographics): void
    {
        throw new \Exception('Not implemented');
    }
}
