<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractTrendsApi
{

    /**
     * Operation trendsEditorialArticlesList
     *
     * Path: `/trends/editorial_articles`
     *
     * Returns editorial articles for a given region
     *
     * @param \OpenAPIServer\Model\ProductCategoryRegion $region The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     *
     * @return \OpenAPIServer\Model\TrendsEditorial[]|null
     */
    public function trendsEditorialArticlesList(\OpenAPIServer\Model\ProductCategoryRegion $region): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation trendsEditorialArticlesList (stream)
     *
     * Path: `/trends/editorial_articles`
     *
     * Returns editorial articles for a given region
     *
     * @param \OpenAPIServer\Model\ProductCategoryRegion $region The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     *
     */
    public function trendsEditorialArticlesListStream(\OpenAPIServer\Model\ProductCategoryRegion $region): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation trendsFeaturedTopicsList
     *
     * Path: `/trends/topics/featured`
     *
     * Get featured topics
     *
     * @param \OpenAPIServer\Model\ProductCategoryRegion $region The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     * @param ?\OpenAPIServer\Model\InterestsEnum $interest Interest to filter by (optional)
     *
     * @return \OpenAPIServer\Model\FeaturedTrend[]|null
     */
    public function trendsFeaturedTopicsList(\OpenAPIServer\Model\ProductCategoryRegion $region, ?\OpenAPIServer\Model\InterestsEnum $interest): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation trendsFeaturedTopicsList (stream)
     *
     * Path: `/trends/topics/featured`
     *
     * Get featured topics
     *
     * @param \OpenAPIServer\Model\ProductCategoryRegion $region The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     * @param ?\OpenAPIServer\Model\InterestsEnum $interest Interest to filter by (optional)
     *
     */
    public function trendsFeaturedTopicsListStream(\OpenAPIServer\Model\ProductCategoryRegion $region, ?\OpenAPIServer\Model\InterestsEnum $interest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation trendsProductCategoriesDetailsList
     *
     * Path: `/trends/product_categories/details`
     *
     * Get product category details
     *
     * @param array $productCategories List of product categories (required)
     * @param \OpenAPIServer\Model\ProductCategoryRegion $region The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     * @param ?\OpenAPIServer\Model\ProductCategoryDetailLookbackWindow $lookbackWindow Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - &#x60;90&#x60; - Last 90 days (3 months)   - &#x60;180&#x60; - Last 180 days (6 months)   - &#x60;365&#x60; - Last 365 days (1 year)   - &#x60;730&#x60; - Last 730 days (2 years) (optional)
     * @param ?\OpenAPIServer\Model\ProductCategoriesEngagementType $engagementType Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     *
     * @return \OpenAPIServer\Model\ProductCategoryDetails[]|null
     */
    public function trendsProductCategoriesDetailsList(array $productCategories, \OpenAPIServer\Model\ProductCategoryRegion $region, ?\OpenAPIServer\Model\ProductCategoryDetailLookbackWindow $lookbackWindow, ?\OpenAPIServer\Model\ProductCategoriesEngagementType $engagementType): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation trendsProductCategoriesDetailsList (stream)
     *
     * Path: `/trends/product_categories/details`
     *
     * Get product category details
     *
     * @param array $productCategories List of product categories (required)
     * @param \OpenAPIServer\Model\ProductCategoryRegion $region The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     * @param ?\OpenAPIServer\Model\ProductCategoryDetailLookbackWindow $lookbackWindow Time period for historical data analysis in days. The lookback window defines how far back in time the API will analyze data to compute trend metrics.   - &#x60;90&#x60; - Last 90 days (3 months)   - &#x60;180&#x60; - Last 180 days (6 months)   - &#x60;365&#x60; - Last 365 days (1 year)   - &#x60;730&#x60; - Last 730 days (2 years) (optional)
     * @param ?\OpenAPIServer\Model\ProductCategoriesEngagementType $engagementType Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     *
     */
    public function trendsProductCategoriesDetailsListStream(array $productCategories, \OpenAPIServer\Model\ProductCategoryRegion $region, ?\OpenAPIServer\Model\ProductCategoryDetailLookbackWindow $lookbackWindow, ?\OpenAPIServer\Model\ProductCategoriesEngagementType $engagementType): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation trendsProductCategoriesTrendingList
     *
     * Path: `/trends/product_categories/trending`
     *
     * Get a list of growing Shopping Product Categories
     *
     * @param \OpenAPIServer\Model\ProductCategoryRegion $region The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     * @param ?array $verticals List of verticals to filter by (optional)
     * @param ?array $ages Age to filter by. If not provided, the results will be filtered by all ages. (optional)
     * @param ?array $genders Gender to filter by, If not provided, the results will be filtered by all genders. (optional)
     * @param ?\OpenAPIServer\Model\ProductCategoriesEngagementType $engagementType Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     *
     * @return \OpenAPIServer\Model\TrendingProductCategory[]|null
     */
    public function trendsProductCategoriesTrendingList(\OpenAPIServer\Model\ProductCategoryRegion $region, ?array $verticals, ?array $ages, ?array $genders, ?\OpenAPIServer\Model\ProductCategoriesEngagementType $engagementType): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation trendsProductCategoriesTrendingList (stream)
     *
     * Path: `/trends/product_categories/trending`
     *
     * Get a list of growing Shopping Product Categories
     *
     * @param \OpenAPIServer\Model\ProductCategoryRegion $region The geographic region of interest. Only top product categories within the specified region will be returned.      The &#x60;region&#x60; parameter is formatted as ISO 3166-2 country codes delimited by &#x60;+&#x60;.      - &#x60;US&#x60; - United States     - &#x60;GB+IE&#x60; - Great Britain &amp; Ireland     - &#x60;CA&#x60; - Canada (required)
     * @param ?array $verticals List of verticals to filter by (optional)
     * @param ?array $ages Age to filter by. If not provided, the results will be filtered by all ages. (optional)
     * @param ?array $genders Gender to filter by, If not provided, the results will be filtered by all genders. (optional)
     * @param ?\OpenAPIServer\Model\ProductCategoriesEngagementType $engagementType Type of engagement metric to analyze. - &#x60;ENGAGEMENT&#x60; - Overall engagement metric - &#x60;OUTBOUND_CLICK&#x60; - Number of outbound clicks - &#x60;SAVE&#x60; - Number of pin saves (optional)
     *
     */
    public function trendsProductCategoriesTrendingListStream(\OpenAPIServer\Model\ProductCategoryRegion $region, ?array $verticals, ?array $ages, ?array $genders, ?\OpenAPIServer\Model\ProductCategoriesEngagementType $engagementType): void
    {
        throw new \Exception('Not implemented');
    }
}
