<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractPromotionsApi
{

    /**
     * Operation promotionsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/promotions`
     *
     * Create promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $promotionCreate  (required)
     *
     * @return \OpenAPIServer\Model\PromotionsResponse|null
     */
    public function promotionsCreate(string $adAccountId, array $promotionCreate): \OpenAPIServer\Model\PromotionsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation promotionsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/promotions`
     *
     * Create promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $promotionCreate  (required)
     *
     */
    public function promotionsCreateStream(string $adAccountId, array $promotionCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation promotionsDelete
     *
     * Path: `/ad_accounts/{ad_account_id}/promotions/{promotion_id}`
     *
     * Delete promotion by id
     *
     * @param string $promotionId Promotion ID (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\Promotion|null
     */
    public function promotionsDelete(string $promotionId, string $adAccountId): \OpenAPIServer\Model\Promotion|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation promotionsDelete (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/promotions/{promotion_id}`
     *
     * Delete promotion by id
     *
     * @param string $promotionId Promotion ID (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function promotionsDeleteStream(string $promotionId, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation promotionsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/promotions/{promotion_id}`
     *
     * Get promotion by id
     *
     * @param string $promotionId Promotion ID (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\Promotion|null
     */
    public function promotionsGet(string $promotionId, string $adAccountId): \OpenAPIServer\Model\Promotion|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation promotionsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/promotions/{promotion_id}`
     *
     * Get promotion by id
     *
     * @param string $promotionId Promotion ID (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function promotionsGetStream(string $promotionId, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation promotionsList
     *
     * Path: `/ad_accounts/{ad_account_id}/promotions`
     *
     * Get promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     * @return \OpenAPIServer\Model\PromotionsList200Response|null
     */
    public function promotionsList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): \OpenAPIServer\Model\PromotionsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation promotionsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/promotions`
     *
     * Get promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     */
    public function promotionsListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation promotionsUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/promotions`
     *
     * Update promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $promotionBatchUpdate  (required)
     *
     * @return \OpenAPIServer\Model\PromotionsResponse|null
     */
    public function promotionsUpdate(string $adAccountId, array $promotionBatchUpdate): \OpenAPIServer\Model\PromotionsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation promotionsUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/promotions`
     *
     * Update promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $promotionBatchUpdate  (required)
     *
     */
    public function promotionsUpdateStream(string $adAccountId, array $promotionBatchUpdate): void
    {
        throw new \Exception('Not implemented');
    }
}
