<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractSearchApi
{

    /**
     * Operation searchPartnerPins
     *
     * Path: `/search/partner/pins`
     *
     * Search pins by a given search term
     *
     * @param string $term Search term to look up pins. (required)
     * @param string $countryCode Two letter country code (ISO 3166-1 alpha-2) (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?string $locale Search locale. (optional)
     * @param ?int $limit Max search result size (optional, default to 10)
     *
     * @return \OpenAPIServer\Model\SearchPartnerPins200Response|null
     */
    public function searchPartnerPins(string $term, string $countryCode, ?string $bookmark, ?string $locale, ?int $limit): \OpenAPIServer\Model\SearchPartnerPins200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation searchPartnerPins (stream)
     *
     * Path: `/search/partner/pins`
     *
     * Search pins by a given search term
     *
     * @param string $term Search term to look up pins. (required)
     * @param string $countryCode Two letter country code (ISO 3166-1 alpha-2) (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?string $locale Search locale. (optional)
     * @param ?int $limit Max search result size (optional, default to 10)
     *
     */
    public function searchPartnerPinsStream(string $term, string $countryCode, ?string $bookmark, ?string $locale, ?int $limit): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation searchUserBoardsGet
     *
     * Path: `/search/boards`
     *
     * Search user's boards
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $query Search query. Can contain pin description keywords or comma-separated pin IDs. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\BoardsList200Response|null
     */
    public function searchUserBoardsGet(?string $adAccountId, ?string $query, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\BoardsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation searchUserBoardsGet (stream)
     *
     * Path: `/search/boards`
     *
     * Search user's boards
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $query Search query. Can contain pin description keywords or comma-separated pin IDs. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function searchUserBoardsGetStream(?string $adAccountId, ?string $query, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation searchUserPinsList
     *
     * Path: `/search/pins`
     *
     * Search user's Pins
     *
     * @param string $query Search query. Can contain pin description keywords or comma-separated pin IDs. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     *
     * @return \OpenAPIServer\Model\PinsList200Response|null
     */
    public function searchUserPinsList(string $query, ?string $adAccountId, ?string $bookmark): \OpenAPIServer\Model\PinsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation searchUserPinsList (stream)
     *
     * Path: `/search/pins`
     *
     * Search user's Pins
     *
     * @param string $query Search query. Can contain pin description keywords or comma-separated pin IDs. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     *
     */
    public function searchUserPinsListStream(string $query, ?string $adAccountId, ?string $bookmark): void
    {
        throw new \Exception('Not implemented');
    }
}
