<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractConversionDeletionRequestsApi
{

    /**
     * Operation conversionDeletionRequestCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_deletion_requests`
     *
     * Create a conversion deletion request
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ConversionDeletionRequestCreate $conversionDeletionRequestCreate  (required)
     *
     * @return \OpenAPIServer\Model\ConversionDeletionRequest|null
     */
    public function conversionDeletionRequestCreate(string $adAccountId, \OpenAPIServer\Model\ConversionDeletionRequestCreate $conversionDeletionRequestCreate): \OpenAPIServer\Model\ConversionDeletionRequest|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation conversionDeletionRequestCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_deletion_requests`
     *
     * Create a conversion deletion request
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ConversionDeletionRequestCreate $conversionDeletionRequestCreate  (required)
     *
     */
    public function conversionDeletionRequestCreateStream(string $adAccountId, \OpenAPIServer\Model\ConversionDeletionRequestCreate $conversionDeletionRequestCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation conversionDeletionRequestDelete
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_deletion_requests/{request_id}`
     *
     * Delete a conversion deletion request
     *
     * @param string $requestId Unique identifier of the conversion deletion request (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\ConversionDeletionRequest|null
     */
    public function conversionDeletionRequestDelete(string $requestId, string $adAccountId): \OpenAPIServer\Model\ConversionDeletionRequest|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation conversionDeletionRequestDelete (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_deletion_requests/{request_id}`
     *
     * Delete a conversion deletion request
     *
     * @param string $requestId Unique identifier of the conversion deletion request (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function conversionDeletionRequestDeleteStream(string $requestId, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation conversionDeletionRequestGet
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_deletion_requests/{request_id}`
     *
     * Get a single conversion deletion request
     *
     * @param string $requestId Unique identifier of the conversion deletion request (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\ConversionDeletionRequest|null
     */
    public function conversionDeletionRequestGet(string $requestId, string $adAccountId): \OpenAPIServer\Model\ConversionDeletionRequest|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation conversionDeletionRequestGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_deletion_requests/{request_id}`
     *
     * Get a single conversion deletion request
     *
     * @param string $requestId Unique identifier of the conversion deletion request (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function conversionDeletionRequestGetStream(string $requestId, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation conversionDeletionRequestList
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_deletion_requests`
     *
     * List conversion deletion requests
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     * @return \OpenAPIServer\Model\ConversionDeletionRequestList200Response|null
     */
    public function conversionDeletionRequestList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): \OpenAPIServer\Model\ConversionDeletionRequestList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation conversionDeletionRequestList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_deletion_requests`
     *
     * List conversion deletion requests
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     */
    public function conversionDeletionRequestListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): void
    {
        throw new \Exception('Not implemented');
    }
}
