<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractConversionEventsApi
{

    /**
     * Operation eventsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/events`
     *
     * Send conversions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ConversionEventsCreate $conversionEventsCreate  (required)
     * @param ?bool $test Include query param ?test&#x3D;true to mark the request as a test request. The events will not be recorded but the API will still return the same response messages. Use this mode to verify your requests are working and your events are constructed correctly. Warning: If you use this query parameter, be certain that it is off (set to false or deleted) before sending a legitimate (non-testing) request. (optional)
     *
     * @return \OpenAPIServer\Model\ConversionEvents|null
     */
    public function eventsCreate(string $adAccountId, \OpenAPIServer\Model\ConversionEventsCreate $conversionEventsCreate, ?bool $test): \OpenAPIServer\Model\ConversionEvents|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation eventsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/events`
     *
     * Send conversions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ConversionEventsCreate $conversionEventsCreate  (required)
     * @param ?bool $test Include query param ?test&#x3D;true to mark the request as a test request. The events will not be recorded but the API will still return the same response messages. Use this mode to verify your requests are working and your events are constructed correctly. Warning: If you use this query parameter, be certain that it is off (set to false or deleted) before sending a legitimate (non-testing) request. (optional)
     *
     */
    public function eventsCreateStream(string $adAccountId, \OpenAPIServer\Model\ConversionEventsCreate $conversionEventsCreate, ?bool $test): void
    {
        throw new \Exception('Not implemented');
    }
}
