<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractBulkApi
{

    /**
     * Operation bulkDownloadCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/bulk/download`
     *
     * Get advertiser entities in bulk
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\BulkDownloadCreate $bulkDownloadCreate  (required)
     *
     * @return \OpenAPIServer\Model\BulkDownload|null
     */
    public function bulkDownloadCreate(string $adAccountId, \OpenAPIServer\Model\BulkDownloadCreate $bulkDownloadCreate): \OpenAPIServer\Model\BulkDownload|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation bulkDownloadCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/bulk/download`
     *
     * Get advertiser entities in bulk
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\BulkDownloadCreate $bulkDownloadCreate  (required)
     *
     */
    public function bulkDownloadCreateStream(string $adAccountId, \OpenAPIServer\Model\BulkDownloadCreate $bulkDownloadCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation bulkRequestGet
     *
     * Path: `/ad_accounts/{ad_account_id}/bulk/{bulk_request_id}`
     *
     * Download advertiser entities in bulk
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $bulkRequestId Bulk request ID that is from one of the entities bulk endpoints (required)
     * @param ?bool $includeDetails If set to True then attach the errors/details to all the requests (optional, default to false)
     *
     * @return \OpenAPIServer\Model\BulkJobData|null
     */
    public function bulkRequestGet(string $adAccountId, string $bulkRequestId, ?bool $includeDetails): \OpenAPIServer\Model\BulkJobData|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation bulkRequestGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/bulk/{bulk_request_id}`
     *
     * Download advertiser entities in bulk
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $bulkRequestId Bulk request ID that is from one of the entities bulk endpoints (required)
     * @param ?bool $includeDetails If set to True then attach the errors/details to all the requests (optional, default to false)
     *
     */
    public function bulkRequestGetStream(string $adAccountId, string $bulkRequestId, ?bool $includeDetails): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation bulkUpsertCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/bulk/upsert`
     *
     * Create/update ad entities in bulk
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\BulkUpsertRequest $bulkUpsertRequest Parameters to get create/update ad entities in bulk (required)
     *
     * @return \OpenAPIServer\Model\BulkUpsertResponse|null
     */
    public function bulkUpsertCreate(string $adAccountId, \OpenAPIServer\Model\BulkUpsertRequest $bulkUpsertRequest): \OpenAPIServer\Model\BulkUpsertResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation bulkUpsertCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/bulk/upsert`
     *
     * Create/update ad entities in bulk
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\BulkUpsertRequest $bulkUpsertRequest Parameters to get create/update ad entities in bulk (required)
     *
     */
    public function bulkUpsertCreateStream(string $adAccountId, \OpenAPIServer\Model\BulkUpsertRequest $bulkUpsertRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
