<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractLeadFormsApi
{

    /**
     * Operation leadFormGet
     *
     * Path: `/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}`
     *
     * Get lead form by id
     *
     * @param string $leadFormId The ID of this lead form (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\LeadForm|null
     */
    public function leadFormGet(string $leadFormId, string $adAccountId): \OpenAPIServer\Model\LeadForm|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation leadFormGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}`
     *
     * Get lead form by id
     *
     * @param string $leadFormId The ID of this lead form (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function leadFormGetStream(string $leadFormId, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation leadFormTestCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}/test`
     *
     * Create lead form test data
     *
     * @param string $adAccountId  (required)
     * @param string $leadFormId Unique identifier of a lead form. (required)
     * @param \OpenAPIServer\Model\LeadFormTestCreate $leadFormTestCreate  (required)
     *
     * @return \OpenAPIServer\Model\LeadFormTest|null
     */
    public function leadFormTestCreate(string $adAccountId, string $leadFormId, \OpenAPIServer\Model\LeadFormTestCreate $leadFormTestCreate): \OpenAPIServer\Model\LeadFormTest|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation leadFormTestCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/lead_forms/{lead_form_id}/test`
     *
     * Create lead form test data
     *
     * @param string $adAccountId  (required)
     * @param string $leadFormId Unique identifier of a lead form. (required)
     * @param \OpenAPIServer\Model\LeadFormTestCreate $leadFormTestCreate  (required)
     *
     */
    public function leadFormTestCreateStream(string $adAccountId, string $leadFormId, \OpenAPIServer\Model\LeadFormTestCreate $leadFormTestCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation leadFormsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/lead_forms`
     *
     * Create lead forms
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $leadFormCreate  (required)
     *
     * @return \OpenAPIServer\Model\LeadFormsCreate200Response|null
     */
    public function leadFormsCreate(string $adAccountId, array $leadFormCreate): \OpenAPIServer\Model\LeadFormsCreate200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation leadFormsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/lead_forms`
     *
     * Create lead forms
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $leadFormCreate  (required)
     *
     */
    public function leadFormsCreateStream(string $adAccountId, array $leadFormCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation leadFormsList
     *
     * Path: `/ad_accounts/{ad_account_id}/lead_forms`
     *
     * List lead forms
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     * @return \OpenAPIServer\Model\LeadFormsList200Response|null
     */
    public function leadFormsList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): \OpenAPIServer\Model\LeadFormsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation leadFormsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/lead_forms`
     *
     * List lead forms
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     */
    public function leadFormsListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation leadFormsUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/lead_forms`
     *
     * Update lead forms
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $leadFormBatchUpdate  (required)
     *
     * @return \OpenAPIServer\Model\LeadFormsCreate200Response|null
     */
    public function leadFormsUpdate(string $adAccountId, array $leadFormBatchUpdate): \OpenAPIServer\Model\LeadFormsCreate200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation leadFormsUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/lead_forms`
     *
     * Update lead forms
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $leadFormBatchUpdate  (required)
     *
     */
    public function leadFormsUpdateStream(string $adAccountId, array $leadFormBatchUpdate): void
    {
        throw new \Exception('Not implemented');
    }
}
