<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractBillingApi
{

    /**
     * Operation adsCreditRedeem
     *
     * Path: `/ad_accounts/{ad_account_id}/ads_credit/redeem`
     *
     * Redeem ad credits
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdsCreditRedeemCreate $adsCreditRedeemCreate  (required)
     *
     * @return \OpenAPIServer\Model\AdsCreditRedeem|null
     */
    public function adsCreditRedeem(string $adAccountId, \OpenAPIServer\Model\AdsCreditRedeemCreate $adsCreditRedeemCreate): \OpenAPIServer\Model\AdsCreditRedeem|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adsCreditRedeem (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ads_credit/redeem`
     *
     * Redeem ad credits
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdsCreditRedeemCreate $adsCreditRedeemCreate  (required)
     *
     */
    public function adsCreditRedeemStream(string $adAccountId, \OpenAPIServer\Model\AdsCreditRedeemCreate $adsCreditRedeemCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adsCreditsDiscountsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/ads_credit/discounts`
     *
     * Get ads credit discounts
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\AdsCreditsDiscountsGet200Response|null
     */
    public function adsCreditsDiscountsGet(string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\AdsCreditsDiscountsGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adsCreditsDiscountsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ads_credit/discounts`
     *
     * Get ads credit discounts
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function adsCreditsDiscountsGetStream(string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation billingInvoiceDownloadGet
     *
     * Path: `/ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download`
     *
     * Get download url for a billing invoice
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $billingInvoiceId Unique identifier of a billing invoice. (required)
     *
     * @return \OpenAPIServer\Model\BillingInvoiceDownloadResponse|null
     */
    public function billingInvoiceDownloadGet(string $adAccountId, string $billingInvoiceId): \OpenAPIServer\Model\BillingInvoiceDownloadResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation billingInvoiceDownloadGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download`
     *
     * Get download url for a billing invoice
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $billingInvoiceId Unique identifier of a billing invoice. (required)
     *
     */
    public function billingInvoiceDownloadGetStream(string $adAccountId, string $billingInvoiceId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation billingInvoicesGet
     *
     * Path: `/ad_accounts/{ad_account_id}/billing_invoices`
     *
     * Get billing invoices
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?\OpenAPIServer\Model\BillingInvoiceSortField $sort Field of which to sort billing invoices (optional)
     * @param ?\OpenAPIServer\Model\BillingInvoiceStatus $status Status of billing invoices to filter by (optional)
     * @param ?\OpenAPIServer\Model\BillingInvoiceDocumentType $documentType Document type of billing invoices to filter by (optional)
     * @param ?\DateTime $startDueDate Starting point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     * @param ?\DateTime $endDueDate Ending point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     *
     * @return \OpenAPIServer\Model\BillingInvoicesGet200Response|null
     */
    public function billingInvoicesGet(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?\OpenAPIServer\Model\BillingInvoiceSortField $sort, ?\OpenAPIServer\Model\BillingInvoiceStatus $status, ?\OpenAPIServer\Model\BillingInvoiceDocumentType $documentType, ?\DateTime $startDueDate, ?\DateTime $endDueDate): \OpenAPIServer\Model\BillingInvoicesGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation billingInvoicesGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/billing_invoices`
     *
     * Get billing invoices
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?\OpenAPIServer\Model\BillingInvoiceSortField $sort Field of which to sort billing invoices (optional)
     * @param ?\OpenAPIServer\Model\BillingInvoiceStatus $status Status of billing invoices to filter by (optional)
     * @param ?\OpenAPIServer\Model\BillingInvoiceDocumentType $documentType Document type of billing invoices to filter by (optional)
     * @param ?\DateTime $startDueDate Starting point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     * @param ?\DateTime $endDueDate Ending point for due dates when searching for invoices. Format: YYYY-MM-DD (optional)
     *
     */
    public function billingInvoicesGetStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?\OpenAPIServer\Model\BillingInvoiceSortField $sort, ?\OpenAPIServer\Model\BillingInvoiceStatus $status, ?\OpenAPIServer\Model\BillingInvoiceDocumentType $documentType, ?\DateTime $startDueDate, ?\DateTime $endDueDate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation billingProfilesGet
     *
     * Path: `/ad_accounts/{ad_account_id}/billing_profiles`
     *
     * Get billing profiles
     *
     * @param bool $isActive Return active billing profiles, if false return all billing profiles. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\BillingProfilesGet200Response|null
     */
    public function billingProfilesGet(bool $isActive, string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\BillingProfilesGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation billingProfilesGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/billing_profiles`
     *
     * Get billing profiles
     *
     * @param bool $isActive Return active billing profiles, if false return all billing profiles. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function billingProfilesGetStream(bool $isActive, string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation ssioAccountsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/accounts`
     *
     * Get Salesforce account details including bill-to information.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\SSIOAccount|null
     */
    public function ssioAccountsGet(string $adAccountId): \OpenAPIServer\Model\SSIOAccount|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation ssioAccountsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/accounts`
     *
     * Get Salesforce account details including bill-to information.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function ssioAccountsGetStream(string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation ssioInsertionOrderCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/insertion_orders`
     *
     * Create insertion order through SSIO.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\SSIOInsertionOrderCreate $sSIOInsertionOrderCreate  (required)
     *
     * @return \OpenAPIServer\Model\SSIOInsertionOrder|null
     */
    public function ssioInsertionOrderCreate(string $adAccountId, \OpenAPIServer\Model\SSIOInsertionOrderCreate $sSIOInsertionOrderCreate): \OpenAPIServer\Model\SSIOInsertionOrder|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation ssioInsertionOrderCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/insertion_orders`
     *
     * Create insertion order through SSIO.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\SSIOInsertionOrderCreate $sSIOInsertionOrderCreate  (required)
     *
     */
    public function ssioInsertionOrderCreateStream(string $adAccountId, \OpenAPIServer\Model\SSIOInsertionOrderCreate $sSIOInsertionOrderCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation ssioInsertionOrderEdit
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/insertion_orders`
     *
     * Edit insertion order through SSIO.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\SSIOInsertionOrderUpdate $sSIOInsertionOrderUpdate  (required)
     *
     * @return \OpenAPIServer\Model\SSIOInsertionOrder|null
     */
    public function ssioInsertionOrderEdit(string $adAccountId, \OpenAPIServer\Model\SSIOInsertionOrderUpdate $sSIOInsertionOrderUpdate): \OpenAPIServer\Model\SSIOInsertionOrder|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation ssioInsertionOrderEdit (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/insertion_orders`
     *
     * Edit insertion order through SSIO.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\SSIOInsertionOrderUpdate $sSIOInsertionOrderUpdate  (required)
     *
     */
    public function ssioInsertionOrderEditStream(string $adAccountId, \OpenAPIServer\Model\SSIOInsertionOrderUpdate $sSIOInsertionOrderUpdate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation ssioInsertionOrdersStatusGetByAdAccount
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/insertion_orders/status`
     *
     * Get insertion order status by ad account id.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\SsioInsertionOrdersStatusGetByAdAccount200Response|null
     */
    public function ssioInsertionOrdersStatusGetByAdAccount(string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\SsioInsertionOrdersStatusGetByAdAccount200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation ssioInsertionOrdersStatusGetByAdAccount (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/insertion_orders/status`
     *
     * Get insertion order status by ad account id.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function ssioInsertionOrdersStatusGetByAdAccountStream(string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation ssioInsertionOrdersStatusGetByPinOrderId
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status`
     *
     * Get insertion order status by pin order id.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $pinOrderId The pin order id associated with the ssio insertion order (required)
     *
     * @return \OpenAPIServer\Model\SSIOInsertionOrderStatusResponse|null
     */
    public function ssioInsertionOrdersStatusGetByPinOrderId(string $adAccountId, string $pinOrderId): \OpenAPIServer\Model\SSIOInsertionOrderStatusResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation ssioInsertionOrdersStatusGetByPinOrderId (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/insertion_orders/{pin_order_id}/status`
     *
     * Get insertion order status by pin order id.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $pinOrderId The pin order id associated with the ssio insertion order (required)
     *
     */
    public function ssioInsertionOrdersStatusGetByPinOrderIdStream(string $adAccountId, string $pinOrderId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation ssioOrderLinesGetByAdAccount
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/order_lines`
     *
     * Get Salesforce order lines by ad account id.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $pinOrderId The pin order id associated with the SSIO insertion order (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\SsioOrderLinesGetByAdAccount200Response|null
     */
    public function ssioOrderLinesGetByAdAccount(string $adAccountId, ?string $pinOrderId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\SsioOrderLinesGetByAdAccount200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation ssioOrderLinesGetByAdAccount (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ssio/order_lines`
     *
     * Get Salesforce order lines by ad account id.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $pinOrderId The pin order id associated with the SSIO insertion order (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function ssioOrderLinesGetByAdAccountStream(string $adAccountId, ?string $pinOrderId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
}
