<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractTargetingTemplateApi
{

    /**
     * Operation targetingTemplateCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/targeting_templates`
     *
     * Create targeting templates
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\TargetingTemplateCreate $targetingTemplateCreate  (required)
     *
     * @return \OpenAPIServer\Model\TargetingTemplate|null
     */
    public function targetingTemplateCreate(string $adAccountId, \OpenAPIServer\Model\TargetingTemplateCreate $targetingTemplateCreate): \OpenAPIServer\Model\TargetingTemplate|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation targetingTemplateCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/targeting_templates`
     *
     * Create targeting templates
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\TargetingTemplateCreate $targetingTemplateCreate  (required)
     *
     */
    public function targetingTemplateCreateStream(string $adAccountId, \OpenAPIServer\Model\TargetingTemplateCreate $targetingTemplateCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation targetingTemplateList
     *
     * Path: `/ad_accounts/{ad_account_id}/targeting_templates`
     *
     * List targeting templates
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?bool $includeSizing Include audience sizing in result or not (optional, default to false)
     * @param ?string $searchQuery Search query. Can contain pin description keywords or comma-separated pin IDs. (optional)
     *
     * @return \OpenAPIServer\Model\TargetingTemplateList200Response|null
     */
    public function targetingTemplateList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?bool $includeSizing, ?string $searchQuery): \OpenAPIServer\Model\TargetingTemplateList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation targetingTemplateList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/targeting_templates`
     *
     * List targeting templates
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?bool $includeSizing Include audience sizing in result or not (optional, default to false)
     * @param ?string $searchQuery Search query. Can contain pin description keywords or comma-separated pin IDs. (optional)
     *
     */
    public function targetingTemplateListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?bool $includeSizing, ?string $searchQuery): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation targetingTemplateUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/targeting_templates`
     *
     * Update targeting templates
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\TargetingTemplateUpdateRequestReadOrUpdate $targetingTemplateUpdateRequestReadOrUpdate  (required)
     *
     * @return void
     */
    public function targetingTemplateUpdate(string $adAccountId, \OpenAPIServer\Model\TargetingTemplateUpdateRequestReadOrUpdate $targetingTemplateUpdateRequestReadOrUpdate): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation targetingTemplateUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/targeting_templates`
     *
     * Update targeting templates
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\TargetingTemplateUpdateRequestReadOrUpdate $targetingTemplateUpdateRequestReadOrUpdate  (required)
     *
     */
    public function targetingTemplateUpdateStream(string $adAccountId, \OpenAPIServer\Model\TargetingTemplateUpdateRequestReadOrUpdate $targetingTemplateUpdateRequestReadOrUpdate): void
    {
        throw new \Exception('Not implemented');
    }
}
