<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractLeadsExportApi
{

    /**
     * Operation leadsExportCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/leads_export`
     *
     * Create a request to export leads collected from a lead ad
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\LeadsExportsCreate $leadsExportsCreate  (required)
     *
     * @return \OpenAPIServer\Model\LeadsExports|null
     */
    public function leadsExportCreate(string $adAccountId, \OpenAPIServer\Model\LeadsExportsCreate $leadsExportsCreate): \OpenAPIServer\Model\LeadsExports|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation leadsExportCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/leads_export`
     *
     * Create a request to export leads collected from a lead ad
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\LeadsExportsCreate $leadsExportsCreate  (required)
     *
     */
    public function leadsExportCreateStream(string $adAccountId, \OpenAPIServer\Model\LeadsExportsCreate $leadsExportsCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation leadsExportGet
     *
     * Path: `/ad_accounts/{ad_account_id}/leads_export/{leads_export_id}`
     *
     * Get the lead export from the lead export create call
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $leadsExportId lead_export_id token returned from the create a lead export endpoint (required)
     *
     * @return \OpenAPIServer\Model\LeadsExportResponseData|null
     */
    public function leadsExportGet(string $adAccountId, string $leadsExportId): \OpenAPIServer\Model\LeadsExportResponseData|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation leadsExportGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/leads_export/{leads_export_id}`
     *
     * Get the lead export from the lead export create call
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $leadsExportId lead_export_id token returned from the create a lead export endpoint (required)
     *
     */
    public function leadsExportGetStream(string $adAccountId, string $leadsExportId): void
    {
        throw new \Exception('Not implemented');
    }
}
