<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractAdGroupsApi
{

    /**
     * Operation adGroupsAnalytics
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/analytics`
     *
     * Get ad group analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?bool $aggregateReportRows Determines if report rows should be aggregated across all requested entities. This feature is currently in BETA and is not available to all users. (optional, default to false)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     * @return \OpenAPIServer\Model\AdGroupsAnalyticsMetrics[]|null
     */
    public function adGroupsAnalytics(\DateTime $startDate, \DateTime $endDate, array $adGroupIds, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?bool $aggregateReportRows, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsAnalytics (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/analytics`
     *
     * Get ad group analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?bool $aggregateReportRows Determines if report rows should be aggregated across all requested entities. This feature is currently in BETA and is not available to all users. (optional, default to false)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     */
    public function adGroupsAnalyticsStream(\DateTime $startDate, \DateTime $endDate, array $adGroupIds, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?bool $aggregateReportRows, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsAudienceSizing
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/audience_sizing`
     *
     * Get audience sizing
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdGroupAudienceSizingCreate $adGroupAudienceSizingCreate  (required)
     *
     * @return \OpenAPIServer\Model\AdGroupAudienceSizing|null
     */
    public function adGroupsAudienceSizing(string $adAccountId, \OpenAPIServer\Model\AdGroupAudienceSizingCreate $adGroupAudienceSizingCreate): \OpenAPIServer\Model\AdGroupAudienceSizing|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsAudienceSizing (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/audience_sizing`
     *
     * Get audience sizing
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdGroupAudienceSizingCreate $adGroupAudienceSizingCreate  (required)
     *
     */
    public function adGroupsAudienceSizingStream(string $adAccountId, \OpenAPIServer\Model\AdGroupAudienceSizingCreate $adGroupAudienceSizingCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsBidFloorGet
     *
     * Path: `/ad_accounts/{ad_account_id}/bid_floor`
     *
     * Get bid floors
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\BidFloorCreate $bidFloorCreate  (required)
     *
     * @return \OpenAPIServer\Model\BidFloor|null
     */
    public function adGroupsBidFloorGet(string $adAccountId, \OpenAPIServer\Model\BidFloorCreate $bidFloorCreate): \OpenAPIServer\Model\BidFloor|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsBidFloorGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/bid_floor`
     *
     * Get bid floors
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\BidFloorCreate $bidFloorCreate  (required)
     *
     */
    public function adGroupsBidFloorGetStream(string $adAccountId, \OpenAPIServer\Model\BidFloorCreate $bidFloorCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups`
     *
     * Create ad groups
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adGroupCreateCreate  (required)
     *
     * @return \OpenAPIServer\Model\AdGroupsCreate200Response|null
     */
    public function adGroupsCreate(string $adAccountId, array $adGroupCreateCreate): \OpenAPIServer\Model\AdGroupsCreate200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups`
     *
     * Create ad groups
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adGroupCreateCreate  (required)
     *
     */
    public function adGroupsCreateStream(string $adAccountId, array $adGroupCreateCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsDynamicTitlesDownloadCsv
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/csv`
     *
     * Get dynamic titles CSV download URL
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $adGroupId Ad group ID. (required)
     *
     * @return \OpenAPIServer\Model\DynamicTitlesDownloadCSV|null
     */
    public function adGroupsDynamicTitlesDownloadCsv(string $adAccountId, string $adGroupId): \OpenAPIServer\Model\DynamicTitlesDownloadCSV|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsDynamicTitlesDownloadCsv (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/csv`
     *
     * Get dynamic titles CSV download URL
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $adGroupId Ad group ID. (required)
     *
     */
    public function adGroupsDynamicTitlesDownloadCsvStream(string $adAccountId, string $adGroupId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsDynamicTitlesGetStatus
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/status`
     *
     * Get dynamic titles status
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $adGroupId Ad group ID. (required)
     *
     * @return \OpenAPIServer\Model\DynamicTitlesGetStatus|null
     */
    public function adGroupsDynamicTitlesGetStatus(string $adAccountId, string $adGroupId): \OpenAPIServer\Model\DynamicTitlesGetStatus|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsDynamicTitlesGetStatus (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/status`
     *
     * Get dynamic titles status
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $adGroupId Ad group ID. (required)
     *
     */
    public function adGroupsDynamicTitlesGetStatusStream(string $adAccountId, string $adGroupId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsDynamicTitlesGetUploadUrl
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/uploads`
     *
     * Get dynamic titles upload URL
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $adGroupId Ad group ID. (required)
     *
     * @return \OpenAPIServer\Model\DynamicTitlesUploadURL|null
     */
    public function adGroupsDynamicTitlesGetUploadUrl(string $adAccountId, string $adGroupId): \OpenAPIServer\Model\DynamicTitlesUploadURL|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsDynamicTitlesGetUploadUrl (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles/uploads`
     *
     * Get dynamic titles upload URL
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $adGroupId Ad group ID. (required)
     *
     */
    public function adGroupsDynamicTitlesGetUploadUrlStream(string $adAccountId, string $adGroupId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsDynamicTitlesProcessCsv
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles`
     *
     * Process dynamic titles CSV
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $adGroupId Ad group ID. (required)
     * @param \OpenAPIServer\Model\DynamicTitlesProcessCSVCreate $dynamicTitlesProcessCSVCreate  (required)
     *
     * @return \OpenAPIServer\Model\DynamicTitlesProcessCSV|null
     */
    public function adGroupsDynamicTitlesProcessCsv(string $adAccountId, string $adGroupId, \OpenAPIServer\Model\DynamicTitlesProcessCSVCreate $dynamicTitlesProcessCSVCreate): \OpenAPIServer\Model\DynamicTitlesProcessCSV|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsDynamicTitlesProcessCsv (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}/dynamic_titles`
     *
     * Process dynamic titles CSV
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $adGroupId Ad group ID. (required)
     * @param \OpenAPIServer\Model\DynamicTitlesProcessCSVCreate $dynamicTitlesProcessCSVCreate  (required)
     *
     */
    public function adGroupsDynamicTitlesProcessCsvStream(string $adAccountId, string $adGroupId, \OpenAPIServer\Model\DynamicTitlesProcessCSVCreate $dynamicTitlesProcessCSVCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}`
     *
     * Get ad group
     *
     * @param string $adGroupId Ad group ID. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\AdGroup|null
     */
    public function adGroupsGet(string $adGroupId, string $adAccountId): \OpenAPIServer\Model\AdGroup|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}`
     *
     * Get ad group
     *
     * @param string $adGroupId Ad group ID. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function adGroupsGetStream(string $adGroupId, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsList
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups`
     *
     * List ad groups
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?array $campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param ?array $adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users. (optional)
     * @param ?array $entityStatuses Entity status (optional)
     * @param ?bool $translateInterestsToNames Return interests as text names (if value is true) rather than topic IDs. (optional, default to false)
     *
     * @return \OpenAPIServer\Model\AdGroupsList200Response|null
     */
    public function adGroupsList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?array $campaignIds, ?array $adGroupIds, ?array $entityStatuses, ?bool $translateInterestsToNames): \OpenAPIServer\Model\AdGroupsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups`
     *
     * List ad groups
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?array $campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param ?array $adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users. (optional)
     * @param ?array $entityStatuses Entity status (optional)
     * @param ?bool $translateInterestsToNames Return interests as text names (if value is true) rather than topic IDs. (optional, default to false)
     *
     */
    public function adGroupsListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?array $campaignIds, ?array $adGroupIds, ?array $entityStatuses, ?bool $translateInterestsToNames): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsTargetingAnalyticsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/targeting_analytics`
     *
     * Get targeting analytics for ad groups
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;, \&quot;CREATIVE_ENHANCEMENTS\&quot;] are in BETA and not yet available to all users. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?array $attributionTypes List of types of attribution for the conversion report (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     * @param ?array $sortColumns Sort Columns. (optional)
     * @param ?bool $sortAscending Sort ascending. (optional)
     *
     * @return \OpenAPIServer\Model\MetricsResponse|null
     */
    public function adGroupsTargetingAnalyticsGet(string $adAccountId, array $adGroupIds, \DateTime $startDate, \DateTime $endDate, array $targetingTypes, array $columns, \OpenAPIServer\Model\Granularity $granularity, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?array $attributionTypes, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone, ?array $sortColumns, ?bool $sortAscending): \OpenAPIServer\Model\MetricsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsTargetingAnalyticsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups/targeting_analytics`
     *
     * Get targeting analytics for ad groups
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;, \&quot;CREATIVE_ENHANCEMENTS\&quot;] are in BETA and not yet available to all users. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?array $attributionTypes List of types of attribution for the conversion report (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     * @param ?array $sortColumns Sort Columns. (optional)
     * @param ?bool $sortAscending Sort ascending. (optional)
     *
     */
    public function adGroupsTargetingAnalyticsGetStream(string $adAccountId, array $adGroupIds, \DateTime $startDate, \DateTime $endDate, array $targetingTypes, array $columns, \OpenAPIServer\Model\Granularity $granularity, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?array $attributionTypes, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone, ?array $sortColumns, ?bool $sortAscending): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adGroupsUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups`
     *
     * Update ad groups
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adGroupUpdateBatchUpdate  (required)
     *
     * @return \OpenAPIServer\Model\AdGroupsCreate200Response|null
     */
    public function adGroupsUpdate(string $adAccountId, array $adGroupUpdateBatchUpdate): \OpenAPIServer\Model\AdGroupsCreate200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adGroupsUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_groups`
     *
     * Update ad groups
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adGroupUpdateBatchUpdate  (required)
     *
     */
    public function adGroupsUpdateStream(string $adAccountId, array $adGroupUpdateBatchUpdate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getAdGroupsByPromotionIdsList
     *
     * Path: `/ad_accounts/{ad_account_id}/promotion_applied_entities`
     *
     * List of ad groups using promotions IDs.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $promotionIds List of Promotion IDs to use to filter the results. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     * @return \OpenAPIServer\Model\AdGroupsList200Response|null
     */
    public function getAdGroupsByPromotionIdsList(string $adAccountId, array $promotionIds, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): \OpenAPIServer\Model\AdGroupsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getAdGroupsByPromotionIdsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/promotion_applied_entities`
     *
     * List of ad groups using promotions IDs.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $promotionIds List of Promotion IDs to use to filter the results. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     */
    public function getAdGroupsByPromotionIdsListStream(string $adAccountId, array $promotionIds, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): void
    {
        throw new \Exception('Not implemented');
    }
}
