<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractProductGroupPromotionsApi
{

    /**
     * Operation productGroupPromotionsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/product_group_promotions`
     *
     * Create product group promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ProductGroupPromotionsCreate $productGroupPromotionsCreate  (required)
     *
     * @return \OpenAPIServer\Model\ProductGroupPromotions|null
     */
    public function productGroupPromotionsCreate(string $adAccountId, \OpenAPIServer\Model\ProductGroupPromotionsCreate $productGroupPromotionsCreate): \OpenAPIServer\Model\ProductGroupPromotions|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation productGroupPromotionsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/product_group_promotions`
     *
     * Create product group promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ProductGroupPromotionsCreate $productGroupPromotionsCreate  (required)
     *
     */
    public function productGroupPromotionsCreateStream(string $adAccountId, \OpenAPIServer\Model\ProductGroupPromotionsCreate $productGroupPromotionsCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation productGroupPromotionsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/product_group_promotions/{product_group_promotion_id}`
     *
     * Get a product group promotion by id
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $productGroupPromotionId Unique identifier of a product group promotion (required)
     *
     * @return \OpenAPIServer\Model\ProductGroupPromotion|null
     */
    public function productGroupPromotionsGet(string $adAccountId, string $productGroupPromotionId): \OpenAPIServer\Model\ProductGroupPromotion|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation productGroupPromotionsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/product_group_promotions/{product_group_promotion_id}`
     *
     * Get a product group promotion by id
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $productGroupPromotionId Unique identifier of a product group promotion (required)
     *
     */
    public function productGroupPromotionsGetStream(string $adAccountId, string $productGroupPromotionId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation productGroupPromotionsList
     *
     * Path: `/ad_accounts/{ad_account_id}/product_group_promotions`
     *
     * Get product group promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?array $productGroupPromotionIds List of Product group promotion Ids. (optional)
     * @param ?array $entityStatuses Entity status (optional)
     * @param ?string $adGroupId Ad group Id. (optional)
     *
     * @return \OpenAPIServer\Model\ProductGroupPromotionsList200Response|null
     */
    public function productGroupPromotionsList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?array $productGroupPromotionIds, ?array $entityStatuses, ?string $adGroupId): \OpenAPIServer\Model\ProductGroupPromotionsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation productGroupPromotionsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/product_group_promotions`
     *
     * Get product group promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?array $productGroupPromotionIds List of Product group promotion Ids. (optional)
     * @param ?array $entityStatuses Entity status (optional)
     * @param ?string $adGroupId Ad group Id. (optional)
     *
     */
    public function productGroupPromotionsListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?array $productGroupPromotionIds, ?array $entityStatuses, ?string $adGroupId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation productGroupPromotionsUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/product_group_promotions`
     *
     * Update product group promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ProductGroupPromotionsUpdateWithRequiredBody $productGroupPromotionsUpdateWithRequiredBody  (required)
     *
     * @return \OpenAPIServer\Model\ProductGroupPromotions|null
     */
    public function productGroupPromotionsUpdate(string $adAccountId, \OpenAPIServer\Model\ProductGroupPromotionsUpdateWithRequiredBody $productGroupPromotionsUpdateWithRequiredBody): \OpenAPIServer\Model\ProductGroupPromotions|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation productGroupPromotionsUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/product_group_promotions`
     *
     * Update product group promotions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ProductGroupPromotionsUpdateWithRequiredBody $productGroupPromotionsUpdateWithRequiredBody  (required)
     *
     */
    public function productGroupPromotionsUpdateStream(string $adAccountId, \OpenAPIServer\Model\ProductGroupPromotionsUpdateWithRequiredBody $productGroupPromotionsUpdateWithRequiredBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation productGroupsAnalytics
     *
     * Path: `/ad_accounts/{ad_account_id}/product_groups/analytics`
     *
     * Get product group analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $productGroupIds List of Product group Ids to use to filter the results. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     * @return \OpenAPIServer\Model\ProductGroupAnalyticsItems[]|null
     */
    public function productGroupsAnalytics(\DateTime $startDate, \DateTime $endDate, array $productGroupIds, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation productGroupsAnalytics (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/product_groups/analytics`
     *
     * Get product group analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $productGroupIds List of Product group Ids to use to filter the results. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     */
    public function productGroupsAnalyticsStream(\DateTime $startDate, \DateTime $endDate, array $productGroupIds, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): void
    {
        throw new \Exception('Not implemented');
    }
}
