<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractConversionTagsApi
{

    /**
     * Operation conversionTagsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_tags`
     *
     * Create conversion tag
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ConversionTagCreate $conversionTagCreate  (required)
     *
     * @return \OpenAPIServer\Model\ConversionTag|null
     */
    public function conversionTagsCreate(string $adAccountId, \OpenAPIServer\Model\ConversionTagCreate $conversionTagCreate): \OpenAPIServer\Model\ConversionTag|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation conversionTagsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_tags`
     *
     * Create conversion tag
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ConversionTagCreate $conversionTagCreate  (required)
     *
     */
    public function conversionTagsCreateStream(string $adAccountId, \OpenAPIServer\Model\ConversionTagCreate $conversionTagCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation conversionTagsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_tags/{conversion_tag_id}`
     *
     * Get conversion tag
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $conversionTagId Id of the conversion tag. (required)
     *
     * @return \OpenAPIServer\Model\ConversionTag|null
     */
    public function conversionTagsGet(string $adAccountId, string $conversionTagId): \OpenAPIServer\Model\ConversionTag|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation conversionTagsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_tags/{conversion_tag_id}`
     *
     * Get conversion tag
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $conversionTagId Id of the conversion tag. (required)
     *
     */
    public function conversionTagsGetStream(string $adAccountId, string $conversionTagId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation conversionTagsList
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_tags`
     *
     * List conversion tags
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?bool $filterDeleted Filter by deleted status (optional, default to false)
     *
     * @return \OpenAPIServer\Model\ConversionTagsList200Response|null
     */
    public function conversionTagsList(string $adAccountId, ?bool $filterDeleted): \OpenAPIServer\Model\ConversionTagsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation conversionTagsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_tags`
     *
     * List conversion tags
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?bool $filterDeleted Filter by deleted status (optional, default to false)
     *
     */
    public function conversionTagsListStream(string $adAccountId, ?bool $filterDeleted): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation ocpmEligibleConversionTagsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_tags/ocpm_eligible`
     *
     * Get Ocpm eligible conversion tags
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return array&lt;string,\OpenAPIServer\Model\ConversionEventResponse[]&gt;|null
     */
    public function ocpmEligibleConversionTagsGet(string $adAccountId): array&lt;string,\OpenAPIServer\Model\ConversionEventResponse[]&gt;|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation ocpmEligibleConversionTagsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_tags/ocpm_eligible`
     *
     * Get Ocpm eligible conversion tags
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function ocpmEligibleConversionTagsGetStream(string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation pageVisitConversionTagsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_tags/page_visit`
     *
     * Get page visit conversion tags
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     * @return \OpenAPIServer\Model\PageVisitConversionTagsGet200Response|null
     */
    public function pageVisitConversionTagsGet(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): \OpenAPIServer\Model\PageVisitConversionTagsGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation pageVisitConversionTagsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_tags/page_visit`
     *
     * Get page visit conversion tags
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     */
    public function pageVisitConversionTagsGetStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): void
    {
        throw new \Exception('Not implemented');
    }
}
