<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractAdAccountsApi
{

    /**
     * Operation adAccountAnalytics
     *
     * Path: `/ad_accounts/{ad_account_id}/analytics`
     *
     * Get ad account analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     * @return \OpenAPIServer\Model\AdAccountAnalyticsItems[]|null
     */
    public function adAccountAnalytics(\DateTime $startDate, \DateTime $endDate, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountAnalytics (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/analytics`
     *
     * Get ad account analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     */
    public function adAccountAnalyticsStream(\DateTime $startDate, \DateTime $endDate, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adAccountTargetingAnalyticsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/targeting_analytics`
     *
     * Get targeting analytics for an ad account
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?array $attributionTypes List of types of attribution for the conversion report (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     * @return \OpenAPIServer\Model\MetricsResponse|null
     */
    public function adAccountTargetingAnalyticsGet(string $adAccountId, \DateTime $startDate, \DateTime $endDate, array $targetingTypes, array $columns, \OpenAPIServer\Model\Granularity $granularity, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?array $attributionTypes, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): \OpenAPIServer\Model\MetricsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountTargetingAnalyticsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/targeting_analytics`
     *
     * Get targeting analytics for an ad account
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?array $attributionTypes List of types of attribution for the conversion report (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     */
    public function adAccountTargetingAnalyticsGetStream(string $adAccountId, \DateTime $startDate, \DateTime $endDate, array $targetingTypes, array $columns, \OpenAPIServer\Model\Granularity $granularity, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?array $attributionTypes, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adAccountsCreate
     *
     * Path: `/ad_accounts`
     *
     * Create ad account
     *
     * @param \OpenAPIServer\Model\AdAccountCreate $adAccountCreate  (required)
     *
     * @return \OpenAPIServer\Model\AdAccount|null
     */
    public function adAccountsCreate(\OpenAPIServer\Model\AdAccountCreate $adAccountCreate): \OpenAPIServer\Model\AdAccount|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountsCreate (stream)
     *
     * Path: `/ad_accounts`
     *
     * Create ad account
     *
     * @param \OpenAPIServer\Model\AdAccountCreate $adAccountCreate  (required)
     *
     */
    public function adAccountsCreateStream(\OpenAPIServer\Model\AdAccountCreate $adAccountCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adAccountsGet
     *
     * Path: `/ad_accounts/{ad_account_id}`
     *
     * Get ad account
     *
     * @param string $adAccountId  (required)
     *
     * @return \OpenAPIServer\Model\AdAccount|null
     */
    public function adAccountsGet(string $adAccountId): \OpenAPIServer\Model\AdAccount|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}`
     *
     * Get ad account
     *
     * @param string $adAccountId  (required)
     *
     */
    public function adAccountsGetStream(string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adAccountsList
     *
     * Path: `/ad_accounts`
     *
     * List ad accounts
     *
     * @param ?bool $includeSharedAccounts Include shared ad accounts (optional, default to true)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\AdAccountsList200Response|null
     */
    public function adAccountsList(?bool $includeSharedAccounts, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\AdAccountsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountsList (stream)
     *
     * Path: `/ad_accounts`
     *
     * List ad accounts
     *
     * @param ?bool $includeSharedAccounts Include shared ad accounts (optional, default to true)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function adAccountsListStream(?bool $includeSharedAccounts, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation analyticsCreateConversionProductReport
     *
     * Path: `/ad_accounts/{ad_account_id}/reports/brand_category_sku`
     *
     * Create a request for a brand, category, SKU report
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ConversionProductReportCreate $conversionProductReportCreate  (required)
     *
     * @return \OpenAPIServer\Model\ConversionProductReport|null
     */
    public function analyticsCreateConversionProductReport(string $adAccountId, \OpenAPIServer\Model\ConversionProductReportCreate $conversionProductReportCreate): \OpenAPIServer\Model\ConversionProductReport|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation analyticsCreateConversionProductReport (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/reports/brand_category_sku`
     *
     * Create a request for a brand, category, SKU report
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\ConversionProductReportCreate $conversionProductReportCreate  (required)
     *
     */
    public function analyticsCreateConversionProductReportStream(string $adAccountId, \OpenAPIServer\Model\ConversionProductReportCreate $conversionProductReportCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation analyticsCreateMmmReport
     *
     * Path: `/ad_accounts/{ad_account_id}/mmm_reports`
     *
     * Create a request for a Marketing Mix Modeling (MMM) report
     *
     * @param string $adAccountId  (required)
     * @param \OpenAPIServer\Model\MMMReportCreate $mMMReportCreate  (required)
     *
     * @return \OpenAPIServer\Model\MMMReport|null
     */
    public function analyticsCreateMmmReport(string $adAccountId, \OpenAPIServer\Model\MMMReportCreate $mMMReportCreate): \OpenAPIServer\Model\MMMReport|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation analyticsCreateMmmReport (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/mmm_reports`
     *
     * Create a request for a Marketing Mix Modeling (MMM) report
     *
     * @param string $adAccountId  (required)
     * @param \OpenAPIServer\Model\MMMReportCreate $mMMReportCreate  (required)
     *
     */
    public function analyticsCreateMmmReportStream(string $adAccountId, \OpenAPIServer\Model\MMMReportCreate $mMMReportCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation analyticsCreateReport
     *
     * Path: `/ad_accounts/{ad_account_id}/reports`
     *
     * Create async request for an account analytics report
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdsAnalyticsCreateAsyncRequest $adsAnalyticsCreateAsyncRequest  (required)
     *
     * @return \OpenAPIServer\Model\AdsAnalyticsCreateAsyncResponse|null
     */
    public function analyticsCreateReport(string $adAccountId, \OpenAPIServer\Model\AdsAnalyticsCreateAsyncRequest $adsAnalyticsCreateAsyncRequest): \OpenAPIServer\Model\AdsAnalyticsCreateAsyncResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation analyticsCreateReport (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/reports`
     *
     * Create async request for an account analytics report
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdsAnalyticsCreateAsyncRequest $adsAnalyticsCreateAsyncRequest  (required)
     *
     */
    public function analyticsCreateReportStream(string $adAccountId, \OpenAPIServer\Model\AdsAnalyticsCreateAsyncRequest $adsAnalyticsCreateAsyncRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation analyticsCreateTemplateReport
     *
     * Path: `/ad_accounts/{ad_account_id}/templates/{template_id}/reports`
     *
     * Create async request for an analytics report using a template
     *
     * @param string $adAccountId  (required)
     * @param string $templateId Unique identifier of a template. (required)
     * @param ?\DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 2.5 years back from today. (optional)
     * @param ?\DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 2.5 years past start date. (optional)
     * @param ?\OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (optional)
     *
     * @return \OpenAPIServer\Model\TemplateBasedReport|null
     */
    public function analyticsCreateTemplateReport(string $adAccountId, string $templateId, ?\DateTime $startDate, ?\DateTime $endDate, ?\OpenAPIServer\Model\Granularity $granularity): \OpenAPIServer\Model\TemplateBasedReport|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation analyticsCreateTemplateReport (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/templates/{template_id}/reports`
     *
     * Create async request for an analytics report using a template
     *
     * @param string $adAccountId  (required)
     * @param string $templateId Unique identifier of a template. (required)
     * @param ?\DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 2.5 years back from today. (optional)
     * @param ?\DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 2.5 years past start date. (optional)
     * @param ?\OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (optional)
     *
     */
    public function analyticsCreateTemplateReportStream(string $adAccountId, string $templateId, ?\DateTime $startDate, ?\DateTime $endDate, ?\OpenAPIServer\Model\Granularity $granularity): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation analyticsGetConversionProductReport
     *
     * Path: `/ad_accounts/{ad_account_id}/reports/brand_category_sku`
     *
     * Get advertiser brand, category, SKU report
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $token Token returned from the post request creation call (required)
     *
     * @return \OpenAPIServer\Model\ConversionProductReport|null
     */
    public function analyticsGetConversionProductReport(string $adAccountId, string $token): \OpenAPIServer\Model\ConversionProductReport|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation analyticsGetConversionProductReport (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/reports/brand_category_sku`
     *
     * Get advertiser brand, category, SKU report
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $token Token returned from the post request creation call (required)
     *
     */
    public function analyticsGetConversionProductReportStream(string $adAccountId, string $token): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation analyticsGetMmmReport
     *
     * Path: `/ad_accounts/{ad_account_id}/mmm_reports`
     *
     * Get advertiser Marketing Mix Modeling (MMM) report.
     *
     * @param string $adAccountId  (required)
     * @param string $token Token returned from the post request creation call (required)
     *
     * @return \OpenAPIServer\Model\MMMReport|null
     */
    public function analyticsGetMmmReport(string $adAccountId, string $token): \OpenAPIServer\Model\MMMReport|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation analyticsGetMmmReport (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/mmm_reports`
     *
     * Get advertiser Marketing Mix Modeling (MMM) report.
     *
     * @param string $adAccountId  (required)
     * @param string $token Token returned from the post request creation call (required)
     *
     */
    public function analyticsGetMmmReportStream(string $adAccountId, string $token): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation analyticsGetReport
     *
     * Path: `/ad_accounts/{ad_account_id}/reports`
     *
     * Get the account analytics report created by the async call
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $token Token returned from the post request creation call (required)
     *
     * @return \OpenAPIServer\Model\AdsAnalyticsGetAsyncResponse|null
     */
    public function analyticsGetReport(string $adAccountId, string $token): \OpenAPIServer\Model\AdsAnalyticsGetAsyncResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation analyticsGetReport (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/reports`
     *
     * Get the account analytics report created by the async call
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $token Token returned from the post request creation call (required)
     *
     */
    public function analyticsGetReportStream(string $adAccountId, string $token): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation sandboxDelete
     *
     * Path: `/ad_accounts/{ad_account_id}/sandbox`
     *
     * Delete ads data for ad account in API Sandbox
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return string|null
     */
    public function sandboxDelete(string $adAccountId): string|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation sandboxDelete (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/sandbox`
     *
     * Delete ads data for ad account in API Sandbox
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function sandboxDeleteStream(string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation templatesList
     *
     * Path: `/ad_accounts/{ad_account_id}/templates`
     *
     * List templates
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     * @return \OpenAPIServer\Model\TemplatesList200Response|null
     */
    public function templatesList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): \OpenAPIServer\Model\TemplatesList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation templatesList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/templates`
     *
     * List templates
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     */
    public function templatesListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): void
    {
        throw new \Exception('Not implemented');
    }
}
