<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractMediaApi
{

    /**
     * Operation mediaCreate
     *
     * Path: `/media`
     *
     * Register media upload
     *
     * @param \OpenAPIServer\Model\MediaUploadCreate $mediaUploadCreate  (required)
     *
     * @return \OpenAPIServer\Model\MediaUpload|null
     */
    public function mediaCreate(\OpenAPIServer\Model\MediaUploadCreate $mediaUploadCreate): \OpenAPIServer\Model\MediaUpload|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation mediaCreate (stream)
     *
     * Path: `/media`
     *
     * Register media upload
     *
     * @param \OpenAPIServer\Model\MediaUploadCreate $mediaUploadCreate  (required)
     *
     */
    public function mediaCreateStream(\OpenAPIServer\Model\MediaUploadCreate $mediaUploadCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation mediaGet
     *
     * Path: `/media/{media_id}`
     *
     * Get media upload details
     *
     * @param string $mediaId Unique identifier for this media upload. Used to track status and for attaching during Pin creation. (required)
     *
     * @return \OpenAPIServer\Model\Media|null
     */
    public function mediaGet(string $mediaId): \OpenAPIServer\Model\Media|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation mediaGet (stream)
     *
     * Path: `/media/{media_id}`
     *
     * Get media upload details
     *
     * @param string $mediaId Unique identifier for this media upload. Used to track status and for attaching during Pin creation. (required)
     *
     */
    public function mediaGetStream(string $mediaId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation mediaList
     *
     * Path: `/media`
     *
     * List media uploads
     *
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\MediaList200Response|null
     */
    public function mediaList(?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\MediaList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation mediaList (stream)
     *
     * Path: `/media`
     *
     * List media uploads
     *
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function mediaListStream(?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
}
