<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCatalogFeedsApi
{

    /**
     * Operation feedProcessingResultsList
     *
     * Path: `/catalogs/feeds/{feed_id}/processing_results`
     *
     * List feed processing results
     *
     * @param string $feedId Unique identifier of a feed. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\FeedProcessingResultsList200Response|null
     */
    public function feedProcessingResultsList(string $feedId, ?string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\FeedProcessingResultsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation feedProcessingResultsList (stream)
     *
     * Path: `/catalogs/feeds/{feed_id}/processing_results`
     *
     * List feed processing results
     *
     * @param string $feedId Unique identifier of a feed. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function feedProcessingResultsListStream(string $feedId, ?string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation feedsCreate
     *
     * Path: `/catalogs/feeds`
     *
     * Create feed
     *
     * @param \OpenAPIServer\Model\CatalogsFeedCreateRequestSchema $catalogsFeedCreateRequestSchema  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsFeed|null
     */
    public function feedsCreate(\OpenAPIServer\Model\CatalogsFeedCreateRequestSchema $catalogsFeedCreateRequestSchema, ?string $adAccountId): \OpenAPIServer\Model\CatalogsFeed|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation feedsCreate (stream)
     *
     * Path: `/catalogs/feeds`
     *
     * Create feed
     *
     * @param \OpenAPIServer\Model\CatalogsFeedCreateRequestSchema $catalogsFeedCreateRequestSchema  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function feedsCreateStream(\OpenAPIServer\Model\CatalogsFeedCreateRequestSchema $catalogsFeedCreateRequestSchema, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation feedsDelete
     *
     * Path: `/catalogs/feeds/{feed_id}`
     *
     * Delete feed
     *
     * @param string $feedId Unique identifier of a feed. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsFeed|null
     */
    public function feedsDelete(string $feedId, ?string $adAccountId): \OpenAPIServer\Model\CatalogsFeed|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation feedsDelete (stream)
     *
     * Path: `/catalogs/feeds/{feed_id}`
     *
     * Delete feed
     *
     * @param string $feedId Unique identifier of a feed. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function feedsDeleteStream(string $feedId, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation feedsGet
     *
     * Path: `/catalogs/feeds/{feed_id}`
     *
     * Get feed
     *
     * @param string $feedId Unique identifier of a feed. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsFeed|null
     */
    public function feedsGet(string $feedId, ?string $adAccountId): \OpenAPIServer\Model\CatalogsFeed|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation feedsGet (stream)
     *
     * Path: `/catalogs/feeds/{feed_id}`
     *
     * Get feed
     *
     * @param string $feedId Unique identifier of a feed. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function feedsGetStream(string $feedId, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation feedsIngest
     *
     * Path: `/catalogs/feeds/{feed_id}/ingest`
     *
     * Ingest feed items
     *
     * @param string $feedId Unique identifier of a feed. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsFeedIngestion|null
     */
    public function feedsIngest(string $feedId, ?string $adAccountId): \OpenAPIServer\Model\CatalogsFeedIngestion|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation feedsIngest (stream)
     *
     * Path: `/catalogs/feeds/{feed_id}/ingest`
     *
     * Ingest feed items
     *
     * @param string $feedId Unique identifier of a feed. (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function feedsIngestStream(string $feedId, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation feedsList
     *
     * Path: `/catalogs/feeds`
     *
     * List feeds
     *
     * @param ?string $catalogId Filter entities for a given catalog_id. If not given, all catalogs are considered. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\FeedsList200Response|null
     */
    public function feedsList(?string $catalogId, ?string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\FeedsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation feedsList (stream)
     *
     * Path: `/catalogs/feeds`
     *
     * List feeds
     *
     * @param ?string $catalogId Filter entities for a given catalog_id. If not given, all catalogs are considered. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function feedsListStream(?string $catalogId, ?string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation feedsUpdate
     *
     * Path: `/catalogs/feeds/{feed_id}`
     *
     * Update feed
     *
     * @param string $feedId Unique identifier of a feed. (required)
     * @param \OpenAPIServer\Model\CatalogsFeedUpdateRequestSchema $catalogsFeedUpdateRequestSchema  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\CatalogsFeed|null
     */
    public function feedsUpdate(string $feedId, \OpenAPIServer\Model\CatalogsFeedUpdateRequestSchema $catalogsFeedUpdateRequestSchema, ?string $adAccountId): \OpenAPIServer\Model\CatalogsFeed|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation feedsUpdate (stream)
     *
     * Path: `/catalogs/feeds/{feed_id}`
     *
     * Update feed
     *
     * @param string $feedId Unique identifier of a feed. (required)
     * @param \OpenAPIServer\Model\CatalogsFeedUpdateRequestSchema $catalogsFeedUpdateRequestSchema  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function feedsUpdateStream(string $feedId, \OpenAPIServer\Model\CatalogsFeedUpdateRequestSchema $catalogsFeedUpdateRequestSchema, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation itemsIssuesList
     *
     * Path: `/catalogs/processing_results/{processing_result_id}/item_issues`
     *
     * List item issues
     *
     * @param string $processingResultId Unique identifier of a feed processing result. It can be acquired from the \&quot;id\&quot; field of the \&quot;items\&quot; array within the response of the [List processing results for a given feed](/docs/api/v5/#operation/feed_processing_results/list). (required)
     * @param ?array $itemNumbers Item number based on order of appearance in the Catalogs Feed. For example, &#39;0&#39; refers to first item found in a feed that was downloaded from a &#39;location&#39; specified during feed creation. (optional)
     * @param ?\OpenAPIServer\Model\CatalogsItemValidationIssue $itemValidationIssue Filter item validation issues that have a given type of item validation issue. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\ItemsIssuesList200Response|null
     */
    public function itemsIssuesList(string $processingResultId, ?array $itemNumbers, ?\OpenAPIServer\Model\CatalogsItemValidationIssue $itemValidationIssue, ?string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\ItemsIssuesList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemsIssuesList (stream)
     *
     * Path: `/catalogs/processing_results/{processing_result_id}/item_issues`
     *
     * List item issues
     *
     * @param string $processingResultId Unique identifier of a feed processing result. It can be acquired from the \&quot;id\&quot; field of the \&quot;items\&quot; array within the response of the [List processing results for a given feed](/docs/api/v5/#operation/feed_processing_results/list). (required)
     * @param ?array $itemNumbers Item number based on order of appearance in the Catalogs Feed. For example, &#39;0&#39; refers to first item found in a feed that was downloaded from a &#39;location&#39; specified during feed creation. (optional)
     * @param ?\OpenAPIServer\Model\CatalogsItemValidationIssue $itemValidationIssue Filter item validation issues that have a given type of item validation issue. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function itemsIssuesListStream(string $processingResultId, ?array $itemNumbers, ?\OpenAPIServer\Model\CatalogsItemValidationIssue $itemValidationIssue, ?string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
}
