<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractPinsApi
{

    /**
     * Operation multiPinsAnalytics
     *
     * Path: `/pins/analytics`
     *
     * Get multiple Pin analytics
     *
     * @param array $pinIds List of Pin IDs. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $metricTypes Pin metric types to get data for. (required)
     * @param ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes Apps or devices to get data for, default is all. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return void
     */
    public function multiPinsAnalytics(array $pinIds, \DateTime $startDate, \DateTime $endDate, array $metricTypes, ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation multiPinsAnalytics (stream)
     *
     * Path: `/pins/analytics`
     *
     * Get multiple Pin analytics
     *
     * @param array $pinIds List of Pin IDs. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $metricTypes Pin metric types to get data for. (required)
     * @param ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes Apps or devices to get data for, default is all. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function multiPinsAnalyticsStream(array $pinIds, \DateTime $startDate, \DateTime $endDate, array $metricTypes, ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation pinsAnalytics
     *
     * Path: `/pins/{pin_id}/analytics`
     *
     * Get Pin analytics
     *
     * @param string $pinId Unique identifier of a Pin. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $metricTypes Pin metric types to get data for. VIDEO_MRC_VIEW are Video views, VIDEO_V50_WATCH_TIME is Total play time. If Pin was created before &#x60;2023-03-20&#x60;, Profile visits and Follows will only be available for Idea Pins. These metrics are available for all Pin formats since then. Keep in mind this cannot have ALL if split_field is set to any value other than &#x60;NO_SPLIT&#x60;. (required)
     * @param ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes Apps or devices to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\PinsAnalyticsSplitFieldParameter $splitField How to split the data into groups. Not including this param means data won&#39;t be split. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return array&lt;string,\OpenAPIServer\Model\PinAnalyticsMetricsResponse&gt;|null
     */
    public function pinsAnalytics(string $pinId, \DateTime $startDate, \DateTime $endDate, array $metricTypes, ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes, ?\OpenAPIServer\Model\PinsAnalyticsSplitFieldParameter $splitField, ?string $adAccountId): array&lt;string,\OpenAPIServer\Model\PinAnalyticsMetricsResponse&gt;|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation pinsAnalytics (stream)
     *
     * Path: `/pins/{pin_id}/analytics`
     *
     * Get Pin analytics
     *
     * @param string $pinId Unique identifier of a Pin. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $metricTypes Pin metric types to get data for. VIDEO_MRC_VIEW are Video views, VIDEO_V50_WATCH_TIME is Total play time. If Pin was created before &#x60;2023-03-20&#x60;, Profile visits and Follows will only be available for Idea Pins. These metrics are available for all Pin formats since then. Keep in mind this cannot have ALL if split_field is set to any value other than &#x60;NO_SPLIT&#x60;. (required)
     * @param ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes Apps or devices to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\PinsAnalyticsSplitFieldParameter $splitField How to split the data into groups. Not including this param means data won&#39;t be split. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function pinsAnalyticsStream(string $pinId, \DateTime $startDate, \DateTime $endDate, array $metricTypes, ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes, ?\OpenAPIServer\Model\PinsAnalyticsSplitFieldParameter $splitField, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation pinsCreate
     *
     * Path: `/pins`
     *
     * Create Pin
     *
     * @param \OpenAPIServer\Model\PinCreate $pinCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\Pin|null
     */
    public function pinsCreate(\OpenAPIServer\Model\PinCreate $pinCreate, ?string $adAccountId): \OpenAPIServer\Model\Pin|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation pinsCreate (stream)
     *
     * Path: `/pins`
     *
     * Create Pin
     *
     * @param \OpenAPIServer\Model\PinCreate $pinCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function pinsCreateStream(\OpenAPIServer\Model\PinCreate $pinCreate, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation pinsDelete
     *
     * Path: `/pins/{pin_id}`
     *
     * Delete Pin
     *
     * @param string $pinId  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\Pin|null
     */
    public function pinsDelete(string $pinId, ?string $adAccountId): \OpenAPIServer\Model\Pin|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation pinsDelete (stream)
     *
     * Path: `/pins/{pin_id}`
     *
     * Delete Pin
     *
     * @param string $pinId  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function pinsDeleteStream(string $pinId, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation pinsGet
     *
     * Path: `/pins/{pin_id}`
     *
     * Get Pin
     *
     * @param string $pinId  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?bool $pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (optional, default to false)
     *
     * @return \OpenAPIServer\Model\Pin|null
     */
    public function pinsGet(string $pinId, ?string $adAccountId, ?bool $pinMetrics): \OpenAPIServer\Model\Pin|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation pinsGet (stream)
     *
     * Path: `/pins/{pin_id}`
     *
     * Get Pin
     *
     * @param string $pinId  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?bool $pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (optional, default to false)
     *
     */
    public function pinsGetStream(string $pinId, ?string $adAccountId, ?bool $pinMetrics): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation pinsList
     *
     * Path: `/pins`
     *
     * List Pins
     *
     * @param ?\OpenAPIServer\Model\PinFilter $pinFilter The filter to apply to the pins (optional)
     * @param ?bool $pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (optional, default to false)
     * @param ?bool $includeProtectedPins Whether to include protected pins in the results (optional, default to false)
     * @param ?\OpenAPIServer\Model\PinType $pinType The type of pins to return, currently only enabled for private pins (optional)
     * @param ?array $creativeTypes Pin creative types filter. **Note:** SHOP_THE_PIN has been deprecated. Please use COLLECTION instead. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $domain Only return pins with links that match the exact domain. Domain should not include &#39;www.&#39; prefix. For example, &#39;pinterest.com&#39; is a valid domain, but &#39;www.pinterest.com&#39; is not (will not match any pins). (optional)
     * @param ?array $domains Only return pins with links whose domain matches any value in the list. Values are joined comma-separated on the wire (e.g. &#x60;?domains&#x3D;instagram.com,jcpenney.com&#x60;). (optional)
     * @param ?bool $includeProductTagObj Include product tag objects in the response with their associated links. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\PinsList200Response|null
     */
    public function pinsList(?\OpenAPIServer\Model\PinFilter $pinFilter, ?bool $pinMetrics, ?bool $includeProtectedPins, ?\OpenAPIServer\Model\PinType $pinType, ?array $creativeTypes, ?string $adAccountId, ?string $domain, ?array $domains, ?bool $includeProductTagObj, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\PinsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation pinsList (stream)
     *
     * Path: `/pins`
     *
     * List Pins
     *
     * @param ?\OpenAPIServer\Model\PinFilter $pinFilter The filter to apply to the pins (optional)
     * @param ?bool $pinMetrics Specify whether to return 90d and lifetime Pin metrics. Total comments and total reactions are only available with lifetime Pin metrics. If Pin was created before &#x60;2023-03-20&#x60; lifetime metrics will only be available for Video and Idea Pin formats. Lifetime metrics are available for all Pin formats since then. (optional, default to false)
     * @param ?bool $includeProtectedPins Whether to include protected pins in the results (optional, default to false)
     * @param ?\OpenAPIServer\Model\PinType $pinType The type of pins to return, currently only enabled for private pins (optional)
     * @param ?array $creativeTypes Pin creative types filter. **Note:** SHOP_THE_PIN has been deprecated. Please use COLLECTION instead. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $domain Only return pins with links that match the exact domain. Domain should not include &#39;www.&#39; prefix. For example, &#39;pinterest.com&#39; is a valid domain, but &#39;www.pinterest.com&#39; is not (will not match any pins). (optional)
     * @param ?array $domains Only return pins with links whose domain matches any value in the list. Values are joined comma-separated on the wire (e.g. &#x60;?domains&#x3D;instagram.com,jcpenney.com&#x60;). (optional)
     * @param ?bool $includeProductTagObj Include product tag objects in the response with their associated links. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function pinsListStream(?\OpenAPIServer\Model\PinFilter $pinFilter, ?bool $pinMetrics, ?bool $includeProtectedPins, ?\OpenAPIServer\Model\PinType $pinType, ?array $creativeTypes, ?string $adAccountId, ?string $domain, ?array $domains, ?bool $includeProductTagObj, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation pinsSave
     *
     * Path: `/pins/{pin_id}/save`
     *
     * Save Pin
     *
     * @param string $pinId Unique identifier of a Pin. (required)
     * @param \OpenAPIServer\Model\PinsSaveRequestCreate $pinsSaveRequestCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\Pin|null
     */
    public function pinsSave(string $pinId, \OpenAPIServer\Model\PinsSaveRequestCreate $pinsSaveRequestCreate, ?string $adAccountId): \OpenAPIServer\Model\Pin|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation pinsSave (stream)
     *
     * Path: `/pins/{pin_id}/save`
     *
     * Save Pin
     *
     * @param string $pinId Unique identifier of a Pin. (required)
     * @param \OpenAPIServer\Model\PinsSaveRequestCreate $pinsSaveRequestCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function pinsSaveStream(string $pinId, \OpenAPIServer\Model\PinsSaveRequestCreate $pinsSaveRequestCreate, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation pinsUpdate
     *
     * Path: `/pins/{pin_id}`
     *
     * Update Pin
     *
     * @param string $pinId  (required)
     * @param \OpenAPIServer\Model\PinUpdate $pinUpdate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\Pin|null
     */
    public function pinsUpdate(string $pinId, \OpenAPIServer\Model\PinUpdate $pinUpdate, ?string $adAccountId): \OpenAPIServer\Model\Pin|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation pinsUpdate (stream)
     *
     * Path: `/pins/{pin_id}`
     *
     * Update Pin
     *
     * @param string $pinId  (required)
     * @param \OpenAPIServer\Model\PinUpdate $pinUpdate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function pinsUpdateStream(string $pinId, \OpenAPIServer\Model\PinUpdate $pinUpdate, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
}
