<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractTermsOfServiceApi
{

    /**
     * Operation termsOfServiceGet
     *
     * Path: `/ad_accounts/{ad_account_id}/terms_of_service`
     *
     * Get terms of service
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?bool $includeHtml Return HTML in TOS text. (optional, default to false)
     * @param ?string $tosType Request type. (optional)
     *
     * @return \OpenAPIServer\Model\TermsOfService|null
     */
    public function termsOfServiceGet(string $adAccountId, ?bool $includeHtml, ?string $tosType): \OpenAPIServer\Model\TermsOfService|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation termsOfServiceGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/terms_of_service`
     *
     * Get terms of service
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?bool $includeHtml Return HTML in TOS text. (optional, default to false)
     * @param ?string $tosType Request type. (optional)
     *
     */
    public function termsOfServiceGetStream(string $adAccountId, ?bool $includeHtml, ?string $tosType): void
    {
        throw new \Exception('Not implemented');
    }
}
