<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractBusinessAccessAssetsApi
{

    /**
     * Operation assetGroupCreate
     *
     * Path: `/businesses/{business_id}/asset_groups`
     *
     * Create a new asset group.
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\AssetGroupInputCreate $assetGroupInputCreate  (required)
     *
     * @return \OpenAPIServer\Model\AssetGroupInput|null
     */
    public function assetGroupCreate(string $businessId, \OpenAPIServer\Model\AssetGroupInputCreate $assetGroupInputCreate): \OpenAPIServer\Model\AssetGroupInput|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation assetGroupCreate (stream)
     *
     * Path: `/businesses/{business_id}/asset_groups`
     *
     * Create a new asset group.
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\AssetGroupInputCreate $assetGroupInputCreate  (required)
     *
     */
    public function assetGroupCreateStream(string $businessId, \OpenAPIServer\Model\AssetGroupInputCreate $assetGroupInputCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation assetGroupDelete
     *
     * Path: `/businesses/{business_id}/asset_groups`
     *
     * Delete asset groups.
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\AssetGroupDeletionDelete $assetGroupDeletionDelete  (required)
     *
     * @return \OpenAPIServer\Model\AssetGroupDeletion|null
     */
    public function assetGroupDelete(string $businessId, \OpenAPIServer\Model\AssetGroupDeletionDelete $assetGroupDeletionDelete): \OpenAPIServer\Model\AssetGroupDeletion|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation assetGroupDelete (stream)
     *
     * Path: `/businesses/{business_id}/asset_groups`
     *
     * Delete asset groups.
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\AssetGroupDeletionDelete $assetGroupDeletionDelete  (required)
     *
     */
    public function assetGroupDeleteStream(string $businessId, \OpenAPIServer\Model\AssetGroupDeletionDelete $assetGroupDeletionDelete): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation assetGroupUpdate
     *
     * Path: `/businesses/{business_id}/asset_groups`
     *
     * Update asset groups.
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\AssetGroupModificationReadOrUpdate $assetGroupModificationReadOrUpdate  (required)
     *
     * @return \OpenAPIServer\Model\AssetGroupModification|null
     */
    public function assetGroupUpdate(string $businessId, \OpenAPIServer\Model\AssetGroupModificationReadOrUpdate $assetGroupModificationReadOrUpdate): \OpenAPIServer\Model\AssetGroupModification|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation assetGroupUpdate (stream)
     *
     * Path: `/businesses/{business_id}/asset_groups`
     *
     * Update asset groups.
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\AssetGroupModificationReadOrUpdate $assetGroupModificationReadOrUpdate  (required)
     *
     */
    public function assetGroupUpdateStream(string $businessId, \OpenAPIServer\Model\AssetGroupModificationReadOrUpdate $assetGroupModificationReadOrUpdate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation businessAssetMembersGet
     *
     * Path: `/businesses/{business_id}/assets/{asset_id}/members`
     *
     * Get members with access to asset
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $assetId Unique identifier of a business asset. (required)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?bool $fetchSystemUsers Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\BusinessAssetMembersGet200Response|null
     */
    public function businessAssetMembersGet(string $businessId, string $assetId, ?int $startIndex, ?bool $fetchSystemUsers, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\BusinessAssetMembersGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation businessAssetMembersGet (stream)
     *
     * Path: `/businesses/{business_id}/assets/{asset_id}/members`
     *
     * Get members with access to asset
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $assetId Unique identifier of a business asset. (required)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?bool $fetchSystemUsers Fetches system users if True. Fetches regular user employees if False. (optional, default to false)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function businessAssetMembersGetStream(string $businessId, string $assetId, ?int $startIndex, ?bool $fetchSystemUsers, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation businessAssetPartnersGet
     *
     * Path: `/businesses/{business_id}/assets/{asset_id}/partners`
     *
     * Get partners with access to asset
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $assetId Unique identifier of a business asset. (required)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\BusinessAssetMembersGet200Response|null
     */
    public function businessAssetPartnersGet(string $businessId, string $assetId, ?int $startIndex, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\BusinessAssetMembersGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation businessAssetPartnersGet (stream)
     *
     * Path: `/businesses/{business_id}/assets/{asset_id}/partners`
     *
     * Get partners with access to asset
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $assetId Unique identifier of a business asset. (required)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function businessAssetPartnersGetStream(string $businessId, string $assetId, ?int $startIndex, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation businessAssetsGet
     *
     * Path: `/businesses/{business_id}/assets`
     *
     * List business assets
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param ?array $permissions A list of asset permissions used to filter the assets. Only assets where the requesting business has at least one of the specified permissions will be returned. (optional)
     * @param ?string $childAssetId A child asset unique identifier. Used to fetch asset groups that contain the asset id as a child. (optional)
     * @param ?string $assetGroupId An asset group unique identifier. Used to fetch assets contained within the specified asset group. (optional)
     * @param ?\OpenAPIServer\Model\BusinessAssetsGetAssetTypeParameter $assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\BusinessAssetsGet200Response|null
     */
    public function businessAssetsGet(string $businessId, ?array $permissions, ?string $childAssetId, ?string $assetGroupId, ?\OpenAPIServer\Model\BusinessAssetsGetAssetTypeParameter $assetType, ?int $startIndex, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\BusinessAssetsGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation businessAssetsGet (stream)
     *
     * Path: `/businesses/{business_id}/assets`
     *
     * List business assets
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param ?array $permissions A list of asset permissions used to filter the assets. Only assets where the requesting business has at least one of the specified permissions will be returned. (optional)
     * @param ?string $childAssetId A child asset unique identifier. Used to fetch asset groups that contain the asset id as a child. (optional)
     * @param ?string $assetGroupId An asset group unique identifier. Used to fetch assets contained within the specified asset group. (optional)
     * @param ?\OpenAPIServer\Model\BusinessAssetsGetAssetTypeParameter $assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function businessAssetsGetStream(string $businessId, ?array $permissions, ?string $childAssetId, ?string $assetGroupId, ?\OpenAPIServer\Model\BusinessAssetsGetAssetTypeParameter $assetType, ?int $startIndex, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation businessMemberAssetsGet
     *
     * Path: `/businesses/{business_id}/members/{member_id}/assets`
     *
     * Get assets assigned to a member
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $memberId The member id to fetch assets for. (required)
     * @param ?\OpenAPIServer\Model\BusinessMemberAssetsGetAssetTypeParameter $assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?\OpenAPIServer\Model\AssetSortBy $sortBy The field to sort member assets by (optional)
     * @param ?bool $sortAscending Sort assets in ascending order (optional, default to true)
     * @param ?\OpenAPIServer\Model\AssetSearchBy $searchBy The field to search member assets by (optional)
     * @param ?string $searchValue The value to search for (optional)
     * @param ?\OpenAPIServer\Model\AssetPermissionType $assetPermissionType The type of asset permission to filter by (optional)
     * @param ?array $adAccountStatuses A list of ad account statuses to filter the assets by. Only used when asset_type is AD_ACCOUNT. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\BusinessMemberAssetsGetResponse|null
     */
    public function businessMemberAssetsGet(string $businessId, string $memberId, ?\OpenAPIServer\Model\BusinessMemberAssetsGetAssetTypeParameter $assetType, ?int $startIndex, ?\OpenAPIServer\Model\AssetSortBy $sortBy, ?bool $sortAscending, ?\OpenAPIServer\Model\AssetSearchBy $searchBy, ?string $searchValue, ?\OpenAPIServer\Model\AssetPermissionType $assetPermissionType, ?array $adAccountStatuses, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\BusinessMemberAssetsGetResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation businessMemberAssetsGet (stream)
     *
     * Path: `/businesses/{business_id}/members/{member_id}/assets`
     *
     * Get assets assigned to a member
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $memberId The member id to fetch assets for. (required)
     * @param ?\OpenAPIServer\Model\BusinessMemberAssetsGetAssetTypeParameter $assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?\OpenAPIServer\Model\AssetSortBy $sortBy The field to sort member assets by (optional)
     * @param ?bool $sortAscending Sort assets in ascending order (optional, default to true)
     * @param ?\OpenAPIServer\Model\AssetSearchBy $searchBy The field to search member assets by (optional)
     * @param ?string $searchValue The value to search for (optional)
     * @param ?\OpenAPIServer\Model\AssetPermissionType $assetPermissionType The type of asset permission to filter by (optional)
     * @param ?array $adAccountStatuses A list of ad account statuses to filter the assets by. Only used when asset_type is AD_ACCOUNT. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function businessMemberAssetsGetStream(string $businessId, string $memberId, ?\OpenAPIServer\Model\BusinessMemberAssetsGetAssetTypeParameter $assetType, ?int $startIndex, ?\OpenAPIServer\Model\AssetSortBy $sortBy, ?bool $sortAscending, ?\OpenAPIServer\Model\AssetSearchBy $searchBy, ?string $searchValue, ?\OpenAPIServer\Model\AssetPermissionType $assetPermissionType, ?array $adAccountStatuses, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation businessMembersAssetAccessDelete
     *
     * Path: `/businesses/{business_id}/members/assets/access`
     *
     * Delete member access to asset
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\BusinessMembersAssetAccessDeleteBody $businessMembersAssetAccessDeleteBody  (required)
     *
     * @return \OpenAPIServer\Model\DeleteMemberAccessResultsResponseArray|null
     */
    public function businessMembersAssetAccessDelete(string $businessId, \OpenAPIServer\Model\BusinessMembersAssetAccessDeleteBody $businessMembersAssetAccessDeleteBody): \OpenAPIServer\Model\DeleteMemberAccessResultsResponseArray|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation businessMembersAssetAccessDelete (stream)
     *
     * Path: `/businesses/{business_id}/members/assets/access`
     *
     * Delete member access to asset
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\BusinessMembersAssetAccessDeleteBody $businessMembersAssetAccessDeleteBody  (required)
     *
     */
    public function businessMembersAssetAccessDeleteStream(string $businessId, \OpenAPIServer\Model\BusinessMembersAssetAccessDeleteBody $businessMembersAssetAccessDeleteBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation businessMembersAssetAccessUpdate
     *
     * Path: `/businesses/{business_id}/members/assets/access`
     *
     * Assign/Update member asset permissions
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\UpdateMemberAssetAccessBody $updateMemberAssetAccessBody  (required)
     *
     * @return \OpenAPIServer\Model\UpdateMemberAssetsResultsResponseArray|null
     */
    public function businessMembersAssetAccessUpdate(string $businessId, \OpenAPIServer\Model\UpdateMemberAssetAccessBody $updateMemberAssetAccessBody): \OpenAPIServer\Model\UpdateMemberAssetsResultsResponseArray|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation businessMembersAssetAccessUpdate (stream)
     *
     * Path: `/businesses/{business_id}/members/assets/access`
     *
     * Assign/Update member asset permissions
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\UpdateMemberAssetAccessBody $updateMemberAssetAccessBody  (required)
     *
     */
    public function businessMembersAssetAccessUpdateStream(string $businessId, \OpenAPIServer\Model\UpdateMemberAssetAccessBody $updateMemberAssetAccessBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation businessPartnerAssetAccessGet
     *
     * Path: `/businesses/{business_id}/partners/{partner_id}/assets`
     *
     * Get assets assigned to a partner or assets assigned by a partner
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $partnerId The partner id to be bound to the Business (required)
     * @param ?\OpenAPIServer\Model\BusinessPartnerAssetAccessGetPartnerTypeParameter $partnerType Specifies whether to fetch internal or external (shared) partners.  If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets.  If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional)
     * @param ?\OpenAPIServer\Model\BusinessPartnerAssetAccessGetAssetTypeParameter $assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?\OpenAPIServer\Model\AssetSortBy $sortBy The field to sort member assets by (optional)
     * @param ?bool $sortAscending Sort assets in ascending order (optional, default to true)
     * @param ?\OpenAPIServer\Model\AssetSearchBy $searchBy The field to search member assets by (optional)
     * @param ?string $searchValue The value to search for (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\BusinessPartnerAssetAccessGet200Response|null
     */
    public function businessPartnerAssetAccessGet(string $businessId, string $partnerId, ?\OpenAPIServer\Model\BusinessPartnerAssetAccessGetPartnerTypeParameter $partnerType, ?\OpenAPIServer\Model\BusinessPartnerAssetAccessGetAssetTypeParameter $assetType, ?int $startIndex, ?\OpenAPIServer\Model\AssetSortBy $sortBy, ?bool $sortAscending, ?\OpenAPIServer\Model\AssetSearchBy $searchBy, ?string $searchValue, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\BusinessPartnerAssetAccessGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation businessPartnerAssetAccessGet (stream)
     *
     * Path: `/businesses/{business_id}/partners/{partner_id}/assets`
     *
     * Get assets assigned to a partner or assets assigned by a partner
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $partnerId The partner id to be bound to the Business (required)
     * @param ?\OpenAPIServer\Model\BusinessPartnerAssetAccessGetPartnerTypeParameter $partnerType Specifies whether to fetch internal or external (shared) partners.  If partner_type&#x3D;INTERNAL, the asset being queried is for accesses the partner has to your business assets.  If partner_type&#x3D;EXTERNAL, the asset being queried is for the accesses you have to the partner&#39;s business asset. (optional)
     * @param ?\OpenAPIServer\Model\BusinessPartnerAssetAccessGetAssetTypeParameter $assetType A resource type to filter the assets by. Only assets of the specified type will be returned. (optional)
     * @param ?int $startIndex An index to start fetching the results from. Only the results starting from this index will be returned. (optional, default to 0)
     * @param ?\OpenAPIServer\Model\AssetSortBy $sortBy The field to sort member assets by (optional)
     * @param ?bool $sortAscending Sort assets in ascending order (optional, default to true)
     * @param ?\OpenAPIServer\Model\AssetSearchBy $searchBy The field to search member assets by (optional)
     * @param ?string $searchValue The value to search for (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function businessPartnerAssetAccessGetStream(string $businessId, string $partnerId, ?\OpenAPIServer\Model\BusinessPartnerAssetAccessGetPartnerTypeParameter $partnerType, ?\OpenAPIServer\Model\BusinessPartnerAssetAccessGetAssetTypeParameter $assetType, ?int $startIndex, ?\OpenAPIServer\Model\AssetSortBy $sortBy, ?bool $sortAscending, ?\OpenAPIServer\Model\AssetSearchBy $searchBy, ?string $searchValue, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation deletePartnerAssetAccessHandlerImpl
     *
     * Path: `/businesses/{business_id}/partners/assets`
     *
     * Delete partner access to asset
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\DeletePartnerAssetAccessBody $deletePartnerAssetAccessBody  (required)
     *
     * @return \OpenAPIServer\Model\DeletePartnerAssetAccessResultsResponseArray|null
     */
    public function deletePartnerAssetAccessHandlerImpl(string $businessId, \OpenAPIServer\Model\DeletePartnerAssetAccessBody $deletePartnerAssetAccessBody): \OpenAPIServer\Model\DeletePartnerAssetAccessResultsResponseArray|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deletePartnerAssetAccessHandlerImpl (stream)
     *
     * Path: `/businesses/{business_id}/partners/assets`
     *
     * Delete partner access to asset
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\DeletePartnerAssetAccessBody $deletePartnerAssetAccessBody  (required)
     *
     */
    public function deletePartnerAssetAccessHandlerImplStream(string $businessId, \OpenAPIServer\Model\DeletePartnerAssetAccessBody $deletePartnerAssetAccessBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updatePartnerAssetAccessHandlerImpl
     *
     * Path: `/businesses/{business_id}/partners/assets`
     *
     * Assign/Update partner asset permissions
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\UpdatePartnerAssetAccessBody $updatePartnerAssetAccessBody  (required)
     *
     * @return \OpenAPIServer\Model\UpdatePartnerAssetsResultsResponseArray|null
     */
    public function updatePartnerAssetAccessHandlerImpl(string $businessId, \OpenAPIServer\Model\UpdatePartnerAssetAccessBody $updatePartnerAssetAccessBody): \OpenAPIServer\Model\UpdatePartnerAssetsResultsResponseArray|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updatePartnerAssetAccessHandlerImpl (stream)
     *
     * Path: `/businesses/{business_id}/partners/assets`
     *
     * Assign/Update partner asset permissions
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\UpdatePartnerAssetAccessBody $updatePartnerAssetAccessBody  (required)
     *
     */
    public function updatePartnerAssetAccessHandlerImplStream(string $businessId, \OpenAPIServer\Model\UpdatePartnerAssetAccessBody $updatePartnerAssetAccessBody): void
    {
        throw new \Exception('Not implemented');
    }
}
