<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractConversionEqsApi
{

    /**
     * Operation conversionEqsList
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_eqs`
     *
     * Get event quality score (EQS)
     *
     * @param \OpenAPIServer\Model\LookbackPeriodOptions $lookbackPeriod Lookback window (number of days). (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\SourcePlatformOptions $sourcePlatform Source platform of event. (optional)
     * @param ?\OpenAPIServer\Model\IngestionSourceOptions $ingestionSource Ingestion source of event. (optional)
     *
     * @return \OpenAPIServer\Model\EventQualityScore[]|null
     */
    public function conversionEqsList(\OpenAPIServer\Model\LookbackPeriodOptions $lookbackPeriod, string $adAccountId, ?\OpenAPIServer\Model\SourcePlatformOptions $sourcePlatform, ?\OpenAPIServer\Model\IngestionSourceOptions $ingestionSource): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation conversionEqsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/conversion_eqs`
     *
     * Get event quality score (EQS)
     *
     * @param \OpenAPIServer\Model\LookbackPeriodOptions $lookbackPeriod Lookback window (number of days). (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\SourcePlatformOptions $sourcePlatform Source platform of event. (optional)
     * @param ?\OpenAPIServer\Model\IngestionSourceOptions $ingestionSource Ingestion source of event. (optional)
     *
     */
    public function conversionEqsListStream(\OpenAPIServer\Model\LookbackPeriodOptions $lookbackPeriod, string $adAccountId, ?\OpenAPIServer\Model\SourcePlatformOptions $sourcePlatform, ?\OpenAPIServer\Model\IngestionSourceOptions $ingestionSource): void
    {
        throw new \Exception('Not implemented');
    }
}
