<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractAdsApi
{

    /**
     * Operation adPreviewsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_previews`
     *
     * Create ad preview with pin or image
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdPreviewRequest $adPreviewRequest  (required)
     *
     * @return \OpenAPIServer\Model\AdPreviewURLResponse|null
     */
    public function adPreviewsCreate(string $adAccountId, \OpenAPIServer\Model\AdPreviewRequest $adPreviewRequest): \OpenAPIServer\Model\AdPreviewURLResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adPreviewsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ad_previews`
     *
     * Create ad preview with pin or image
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdPreviewRequest $adPreviewRequest  (required)
     *
     */
    public function adPreviewsCreateStream(string $adAccountId, \OpenAPIServer\Model\AdPreviewRequest $adPreviewRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adTargetingAnalyticsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/ads/targeting_analytics`
     *
     * Get targeting analytics for ads
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adIds List of Ad Ids to use to filter the results. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param ?\OpenAPIServer\Model\ConversionAttributionWindowDays $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\ConversionAttributionWindowDays $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.  **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\ConversionAttributionWindowDays $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\ConversionReportTimeType $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?array $attributionTypes List of types of attribution for the conversion report (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     * @param ?array $sortColumns Sort Columns. (optional)
     * @param ?bool $sortAscending Sort ascending. (optional)
     *
     * @return \OpenAPIServer\Model\MetricsResponse|null
     */
    public function adTargetingAnalyticsGet(string $adAccountId, array $adIds, \DateTime $startDate, \DateTime $endDate, array $targetingTypes, array $columns, \OpenAPIServer\Model\Granularity $granularity, ?\OpenAPIServer\Model\ConversionAttributionWindowDays $clickWindowDays, ?\OpenAPIServer\Model\ConversionAttributionWindowDays $engagementWindowDays, ?\OpenAPIServer\Model\ConversionAttributionWindowDays $viewWindowDays, ?\OpenAPIServer\Model\ConversionReportTimeType $conversionReportTime, ?array $attributionTypes, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone, ?array $sortColumns, ?bool $sortAscending): \OpenAPIServer\Model\MetricsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adTargetingAnalyticsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ads/targeting_analytics`
     *
     * Get targeting analytics for ads
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adIds List of Ad Ids to use to filter the results. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param ?\OpenAPIServer\Model\ConversionAttributionWindowDays $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\ConversionAttributionWindowDays $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days.  **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\ConversionAttributionWindowDays $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\ConversionReportTimeType $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?array $attributionTypes List of types of attribution for the conversion report (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     * @param ?array $sortColumns Sort Columns. (optional)
     * @param ?bool $sortAscending Sort ascending. (optional)
     *
     */
    public function adTargetingAnalyticsGetStream(string $adAccountId, array $adIds, \DateTime $startDate, \DateTime $endDate, array $targetingTypes, array $columns, \OpenAPIServer\Model\Granularity $granularity, ?\OpenAPIServer\Model\ConversionAttributionWindowDays $clickWindowDays, ?\OpenAPIServer\Model\ConversionAttributionWindowDays $engagementWindowDays, ?\OpenAPIServer\Model\ConversionAttributionWindowDays $viewWindowDays, ?\OpenAPIServer\Model\ConversionReportTimeType $conversionReportTime, ?array $attributionTypes, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone, ?array $sortColumns, ?bool $sortAscending): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adsAnalytics
     *
     * Path: `/ad_accounts/{ad_account_id}/ads/analytics`
     *
     * Get ad analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?array $pinIds List of Pin IDs. (optional)
     * @param ?array $adIds List of Ad Ids to use to filter the results. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?array $campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     * @return \OpenAPIServer\Model\AdsAnalytics[]|null
     */
    public function adsAnalytics(\DateTime $startDate, \DateTime $endDate, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?array $pinIds, ?array $adIds, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?array $campaignIds, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adsAnalytics (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ads/analytics`
     *
     * Get ad analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?array $pinIds List of Pin IDs. (optional)
     * @param ?array $adIds List of Ad Ids to use to filter the results. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?array $campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     */
    public function adsAnalyticsStream(\DateTime $startDate, \DateTime $endDate, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?array $pinIds, ?array $adIds, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?array $campaignIds, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/ads`
     *
     * Create ads
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adCreate  (required)
     *
     * @return \OpenAPIServer\Model\AdBatchWriteResponseModel|null
     */
    public function adsCreate(string $adAccountId, array $adCreate): \OpenAPIServer\Model\AdBatchWriteResponseModel|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ads`
     *
     * Create ads
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adCreate  (required)
     *
     */
    public function adsCreateStream(string $adAccountId, array $adCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/ads/{ad_id}`
     *
     * Get ad
     *
     * @param string $adId The ID of this ad. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\Ad|null
     */
    public function adsGet(string $adId, string $adAccountId): \OpenAPIServer\Model\Ad|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ads/{ad_id}`
     *
     * Get ad
     *
     * @param string $adId The ID of this ad. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function adsGetStream(string $adId, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adsList
     *
     * Path: `/ad_accounts/{ad_account_id}/ads`
     *
     * List ads
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?array $campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param ?array $adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users. (optional)
     * @param ?array $adIds List of Ad Ids to use to filter the results. (optional)
     * @param ?array $entityStatuses Entity status (optional)
     *
     * @return \OpenAPIServer\Model\AdsList200Response|null
     */
    public function adsList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?array $campaignIds, ?array $adGroupIds, ?array $adIds, ?array $entityStatuses): \OpenAPIServer\Model\AdsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ads`
     *
     * List ads
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?array $campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param ?array $adGroupIds List of Ad group Ids to retrieve keywords from. This feature is currently in BETA and is not available to all users. (optional)
     * @param ?array $adIds List of Ad Ids to use to filter the results. (optional)
     * @param ?array $entityStatuses Entity status (optional)
     *
     */
    public function adsListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?array $campaignIds, ?array $adGroupIds, ?array $adIds, ?array $entityStatuses): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adsUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/ads`
     *
     * Update ads
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adBatchUpdate  (required)
     *
     * @return \OpenAPIServer\Model\AdBatchWriteResponseModel|null
     */
    public function adsUpdate(string $adAccountId, array $adBatchUpdate): \OpenAPIServer\Model\AdBatchWriteResponseModel|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adsUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/ads`
     *
     * Update ads
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $adBatchUpdate  (required)
     *
     */
    public function adsUpdateStream(string $adAccountId, array $adBatchUpdate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation campaignAdPreviewCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/campaign_ad_preview`
     *
     * Create ad preview records for one or more ad groups
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $campaignAdPreviewCreate  (required)
     *
     * @return \OpenAPIServer\Model\CampaignAdPreviewCreate200ResponseInner[]|null
     */
    public function campaignAdPreviewCreate(string $adAccountId, array $campaignAdPreviewCreate): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation campaignAdPreviewCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/campaign_ad_preview`
     *
     * Create ad preview records for one or more ad groups
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $campaignAdPreviewCreate  (required)
     *
     */
    public function campaignAdPreviewCreateStream(string $adAccountId, array $campaignAdPreviewCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation campaignAdPreviewDelete
     *
     * Path: `/ad_accounts/{ad_account_id}/campaign_ad_preview`
     *
     * Delete ad preview records for one or more ad groups
     *
     * @param array $adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\CampaignAdPreviewDelete200ResponseInner[]|null
     */
    public function campaignAdPreviewDelete(array $adGroupIds, string $adAccountId): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation campaignAdPreviewDelete (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/campaign_ad_preview`
     *
     * Delete ad preview records for one or more ad groups
     *
     * @param array $adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function campaignAdPreviewDeleteStream(array $adGroupIds, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation campaignAdPreviewRead
     *
     * Path: `/ad_accounts/{ad_account_id}/campaign_ad_preview`
     *
     * Fetch ad preview records for one or more ad groups
     *
     * @param array $adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\CampaignAdPreview[]|null
     */
    public function campaignAdPreviewRead(array $adGroupIds, string $adAccountId): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation campaignAdPreviewRead (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/campaign_ad_preview`
     *
     * Fetch ad preview records for one or more ad groups
     *
     * @param array $adGroupIds List of Ad group Ids to use to filter the results. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function campaignAdPreviewReadStream(array $adGroupIds, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
}
