<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractAudienceInsightsApi
{

    /**
     * Operation audienceInsightsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/audience_insights`
     *
     * Get audience insights
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AudienceInsightType $audienceInsightType Type of audience insights. (required)
     *
     * @return \OpenAPIServer\Model\AudienceInsights|null
     */
    public function audienceInsightsGet(string $adAccountId, \OpenAPIServer\Model\AudienceInsightType $audienceInsightType): \OpenAPIServer\Model\AudienceInsights|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation audienceInsightsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/audience_insights`
     *
     * Get audience insights
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AudienceInsightType $audienceInsightType Type of audience insights. (required)
     *
     */
    public function audienceInsightsGetStream(string $adAccountId, \OpenAPIServer\Model\AudienceInsightType $audienceInsightType): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation audienceInsightsScopeAndTypeGet
     *
     * Path: `/ad_accounts/{ad_account_id}/insights/audiences`
     *
     * Get audience insights scope and type
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\AudienceInsightsScopeAndTypeGet200Response|null
     */
    public function audienceInsightsScopeAndTypeGet(string $adAccountId): \OpenAPIServer\Model\AudienceInsightsScopeAndTypeGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation audienceInsightsScopeAndTypeGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/insights/audiences`
     *
     * Get audience insights scope and type
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function audienceInsightsScopeAndTypeGetStream(string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
}
