<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractResourcesApi
{

    /**
     * Operation adAccountCountriesGet
     *
     * Path: `/resources/ad_account_countries`
     *
     * Get ad accounts countries
     *
     *
     * @return \OpenAPIServer\Model\AdAccountCountriesGet200Response|null
     */
    public function adAccountCountriesGet(): \OpenAPIServer\Model\AdAccountCountriesGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountCountriesGet (stream)
     *
     * Path: `/resources/ad_account_countries`
     *
     * Get ad accounts countries
     *
     *
     */
    public function adAccountCountriesGetStream(): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation deliveryMetricsGet
     *
     * Path: `/resources/delivery_metrics`
     *
     * Get available metrics' definitions
     *
     * @param ?\OpenAPIServer\Model\ReportType $reportType Report type. (optional)
     *
     * @return \OpenAPIServer\Model\DeliveryMetricsGet200Response|null
     */
    public function deliveryMetricsGet(?\OpenAPIServer\Model\ReportType $reportType): \OpenAPIServer\Model\DeliveryMetricsGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation deliveryMetricsGet (stream)
     *
     * Path: `/resources/delivery_metrics`
     *
     * Get available metrics' definitions
     *
     * @param ?\OpenAPIServer\Model\ReportType $reportType Report type. (optional)
     *
     */
    public function deliveryMetricsGetStream(?\OpenAPIServer\Model\ReportType $reportType): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation interestTargetingOptionsGet
     *
     * Path: `/resources/targeting/interests/{interest_id}`
     *
     * Get interest details
     *
     * @param string $interestId Unique identifier of an interest. (required)
     *
     * @return \OpenAPIServer\Model\SingleInterestTargetingOption|null
     */
    public function interestTargetingOptionsGet(string $interestId): \OpenAPIServer\Model\SingleInterestTargetingOption|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation interestTargetingOptionsGet (stream)
     *
     * Path: `/resources/targeting/interests/{interest_id}`
     *
     * Get interest details
     *
     * @param string $interestId Unique identifier of an interest. (required)
     *
     */
    public function interestTargetingOptionsGetStream(string $interestId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation leadFormQuestionsGet
     *
     * Path: `/resources/lead_form_questions`
     *
     * Get lead form questions
     *
     *
     * @return void
     */
    public function leadFormQuestionsGet(): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation leadFormQuestionsGet (stream)
     *
     * Path: `/resources/lead_form_questions`
     *
     * Get lead form questions
     *
     *
     */
    public function leadFormQuestionsGetStream(): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation metricsReadyStateGet
     *
     * Path: `/resources/metrics_ready_state`
     *
     * Get metrics ready state
     *
     * @param string $date Analytics reports request date (UTC). Format: YYYY-MM-DD (required)
     *
     * @return \OpenAPIServer\Model\BookClosed|null
     */
    public function metricsReadyStateGet(string $date): \OpenAPIServer\Model\BookClosed|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation metricsReadyStateGet (stream)
     *
     * Path: `/resources/metrics_ready_state`
     *
     * Get metrics ready state
     *
     * @param string $date Analytics reports request date (UTC). Format: YYYY-MM-DD (required)
     *
     */
    public function metricsReadyStateGetStream(string $date): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation targetingOptionsGet
     *
     * Path: `/resources/targeting/{targeting_type}`
     *
     * Get targeting options
     *
     * @param \OpenAPIServer\Model\PublicTargetingType $targetingType Public targeting type (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $clientId Client ID (optional)
     * @param ?string $oauthSignature Oauth signature (optional)
     * @param ?string $timestamp Timestamp. (optional)
     *
     * @return []|null
     */
    public function targetingOptionsGet(\OpenAPIServer\Model\PublicTargetingType $targetingType, ?string $adAccountId, ?string $clientId, ?string $oauthSignature, ?string $timestamp): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation targetingOptionsGet (stream)
     *
     * Path: `/resources/targeting/{targeting_type}`
     *
     * Get targeting options
     *
     * @param \OpenAPIServer\Model\PublicTargetingType $targetingType Public targeting type (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?string $clientId Client ID (optional)
     * @param ?string $oauthSignature Oauth signature (optional)
     * @param ?string $timestamp Timestamp. (optional)
     *
     */
    public function targetingOptionsGetStream(\OpenAPIServer\Model\PublicTargetingType $targetingType, ?string $adAccountId, ?string $clientId, ?string $oauthSignature, ?string $timestamp): void
    {
        throw new \Exception('Not implemented');
    }
}
