<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractUserAccountApi
{

    /**
     * Operation boardsUserFollowsList
     *
     * Path: `/user_account/following/boards`
     *
     * List following boards
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?bool $explicitFollowing Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows. (optional, default to false)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\BoardsList200Response|null
     */
    public function boardsUserFollowsList(?string $adAccountId, ?bool $explicitFollowing, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\BoardsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation boardsUserFollowsList (stream)
     *
     * Path: `/user_account/following/boards`
     *
     * List following boards
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?bool $explicitFollowing Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows. (optional, default to false)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function boardsUserFollowsListStream(?string $adAccountId, ?bool $explicitFollowing, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation followUserUpdate
     *
     * Path: `/user_account/following/{username}`
     *
     * Follow user
     *
     * @param string $username A valid username (required)
     * @param \OpenAPIServer\Model\FollowUserCreate $followUserCreate  (required)
     *
     * @return \OpenAPIServer\Model\FollowUser|null
     */
    public function followUserUpdate(string $username, \OpenAPIServer\Model\FollowUserCreate $followUserCreate): \OpenAPIServer\Model\FollowUser|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation followUserUpdate (stream)
     *
     * Path: `/user_account/following/{username}`
     *
     * Follow user
     *
     * @param string $username A valid username (required)
     * @param \OpenAPIServer\Model\FollowUserCreate $followUserCreate  (required)
     *
     */
    public function followUserUpdateStream(string $username, \OpenAPIServer\Model\FollowUserCreate $followUserCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation followersList
     *
     * Path: `/user_account/followers`
     *
     * List followers
     *
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\FollowersList200Response|null
     */
    public function followersList(?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\FollowersList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation followersList (stream)
     *
     * Path: `/user_account/followers`
     *
     * List followers
     *
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function followersListStream(?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation linkedBusinessAccountsGet
     *
     * Path: `/user_account/businesses`
     *
     * List linked businesses
     *
     *
     * @return \OpenAPIServer\Model\LinkedBusiness[]|null
     */
    public function linkedBusinessAccountsGet(): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation linkedBusinessAccountsGet (stream)
     *
     * Path: `/user_account/businesses`
     *
     * List linked businesses
     *
     *
     */
    public function linkedBusinessAccountsGetStream(): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation unverifyWebsiteDelete
     *
     * Path: `/user_account/websites`
     *
     * Unverify website
     *
     * @param string $website Website with path or domain only (required)
     *
     * @return \OpenAPIServer\Model\UserWebsite|null
     */
    public function unverifyWebsiteDelete(string $website): \OpenAPIServer\Model\UserWebsite|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation unverifyWebsiteDelete (stream)
     *
     * Path: `/user_account/websites`
     *
     * Unverify website
     *
     * @param string $website Website with path or domain only (required)
     *
     */
    public function unverifyWebsiteDeleteStream(string $website): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation userAccountAnalytics
     *
     * Path: `/user_account/analytics`
     *
     * Get user account analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent Filter on Pins that match your claimed domain. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat Pin formats to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes Apps or devices to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType Filter to paid or organic data. Default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (optional)
     * @param ?array $metricTypes Metric types to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsSplitFieldParameter $splitField How to split the data into groups. Not including this param means data won&#39;t be split. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return array&lt;string,\OpenAPIServer\Model\AnalyticsMetricsResponse&gt;|null
     */
    public function userAccountAnalytics(\DateTime $startDate, \DateTime $endDate, ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent, ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat, ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes, ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType, ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source, ?array $metricTypes, ?\OpenAPIServer\Model\UserAccountAnalyticsSplitFieldParameter $splitField, ?string $adAccountId): array&lt;string,\OpenAPIServer\Model\AnalyticsMetricsResponse&gt;|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation userAccountAnalytics (stream)
     *
     * Path: `/user_account/analytics`
     *
     * Get user account analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent Filter on Pins that match your claimed domain. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat Pin formats to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes Apps or devices to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType Filter to paid or organic data. Default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (optional)
     * @param ?array $metricTypes Metric types to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsSplitFieldParameter $splitField How to split the data into groups. Not including this param means data won&#39;t be split. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function userAccountAnalyticsStream(\DateTime $startDate, \DateTime $endDate, ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent, ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat, ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes, ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType, ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source, ?array $metricTypes, ?\OpenAPIServer\Model\UserAccountAnalyticsSplitFieldParameter $splitField, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation userAccountAnalyticsTopPins
     *
     * Path: `/user_account/analytics/top_pins`
     *
     * Get user account top pins analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param \OpenAPIServer\Model\TopPinsSortBy $sortBy Specify sorting order for metrics (required)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent Filter on Pins that match your claimed domain. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat Pin formats to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes Apps or devices to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType Filter to paid or organic data. Default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (optional)
     * @param ?array $metricTypes Metric types to get data for, default is all. (optional)
     * @param ?int $numOfPins Number of pins to include, default is 10. Max is 50. (optional, default to 10)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsTopPinsCreatedInLastNDaysParameter $createdInLastNDays Get metrics for pins created in the last \&quot;n\&quot; days. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\TopPinsAnalyticsResponse|null
     */
    public function userAccountAnalyticsTopPins(\DateTime $startDate, \DateTime $endDate, \OpenAPIServer\Model\TopPinsSortBy $sortBy, ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent, ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat, ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes, ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType, ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source, ?array $metricTypes, ?int $numOfPins, ?\OpenAPIServer\Model\UserAccountAnalyticsTopPinsCreatedInLastNDaysParameter $createdInLastNDays, ?string $adAccountId): \OpenAPIServer\Model\TopPinsAnalyticsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation userAccountAnalyticsTopPins (stream)
     *
     * Path: `/user_account/analytics/top_pins`
     *
     * Get user account top pins analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param \OpenAPIServer\Model\TopPinsSortBy $sortBy Specify sorting order for metrics (required)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent Filter on Pins that match your claimed domain. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat Pin formats to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes Apps or devices to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType Filter to paid or organic data. Default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (optional)
     * @param ?array $metricTypes Metric types to get data for, default is all. (optional)
     * @param ?int $numOfPins Number of pins to include, default is 10. Max is 50. (optional, default to 10)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsTopPinsCreatedInLastNDaysParameter $createdInLastNDays Get metrics for pins created in the last \&quot;n\&quot; days. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function userAccountAnalyticsTopPinsStream(\DateTime $startDate, \DateTime $endDate, \OpenAPIServer\Model\TopPinsSortBy $sortBy, ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent, ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat, ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes, ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType, ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source, ?array $metricTypes, ?int $numOfPins, ?\OpenAPIServer\Model\UserAccountAnalyticsTopPinsCreatedInLastNDaysParameter $createdInLastNDays, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation userAccountAnalyticsTopVideoPins
     *
     * Path: `/user_account/analytics/top_video_pins`
     *
     * Get user account top video pins analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param \OpenAPIServer\Model\TopVideoPinsSortBy $sortBy Specify sorting order for video metrics (required)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent Filter on Pins that match your claimed domain. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat Pin formats to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes Apps or devices to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType Filter to paid or organic data. Default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (optional)
     * @param ?array $metricTypes Metric types to get video data for, default is all. (optional)
     * @param ?int $numOfPins Number of pins to include, default is 10. Max is 50. (optional, default to 10)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsTopPinsCreatedInLastNDaysParameter $createdInLastNDays Get metrics for pins created in the last \&quot;n\&quot; days. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\TopVideoPinsAnalyticsResponse|null
     */
    public function userAccountAnalyticsTopVideoPins(\DateTime $startDate, \DateTime $endDate, \OpenAPIServer\Model\TopVideoPinsSortBy $sortBy, ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent, ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat, ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes, ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType, ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source, ?array $metricTypes, ?int $numOfPins, ?\OpenAPIServer\Model\UserAccountAnalyticsTopPinsCreatedInLastNDaysParameter $createdInLastNDays, ?string $adAccountId): \OpenAPIServer\Model\TopVideoPinsAnalyticsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation userAccountAnalyticsTopVideoPins (stream)
     *
     * Path: `/user_account/analytics/top_video_pins`
     *
     * Get user account top video pins analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param \OpenAPIServer\Model\TopVideoPinsSortBy $sortBy Specify sorting order for video metrics (required)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent Filter on Pins that match your claimed domain. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat Pin formats to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes Apps or devices to get data for, default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType Filter to paid or organic data. Default is all. (optional)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source Filter to activity from Pins created and saved by your, or activity created and saved by others from your claimed accounts (optional)
     * @param ?array $metricTypes Metric types to get video data for, default is all. (optional)
     * @param ?int $numOfPins Number of pins to include, default is 10. Max is 50. (optional, default to 10)
     * @param ?\OpenAPIServer\Model\UserAccountAnalyticsTopPinsCreatedInLastNDaysParameter $createdInLastNDays Get metrics for pins created in the last \&quot;n\&quot; days. (optional)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function userAccountAnalyticsTopVideoPinsStream(\DateTime $startDate, \DateTime $endDate, \OpenAPIServer\Model\TopVideoPinsSortBy $sortBy, ?\OpenAPIServer\Model\UserAccountAnalyticsFromClaimedContentParameter $fromClaimedContent, ?\OpenAPIServer\Model\UserAccountAnalyticsPinFormatParameter $pinFormat, ?\OpenAPIServer\Model\MultiPinsAnalyticsAppTypesParameter $appTypes, ?\OpenAPIServer\Model\UserAccountAnalyticsContentTypeParameter $contentType, ?\OpenAPIServer\Model\UserAccountAnalyticsSourceParameter $source, ?array $metricTypes, ?int $numOfPins, ?\OpenAPIServer\Model\UserAccountAnalyticsTopPinsCreatedInLastNDaysParameter $createdInLastNDays, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation userAccountFollowedInterests
     *
     * Path: `/users/{username}/interests/follow`
     *
     * List following interests
     *
     * @param string $username A valid username (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\UserAccountFollowedInterests200Response|null
     */
    public function userAccountFollowedInterests(string $username, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\UserAccountFollowedInterests200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation userAccountFollowedInterests (stream)
     *
     * Path: `/users/{username}/interests/follow`
     *
     * List following interests
     *
     * @param string $username A valid username (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function userAccountFollowedInterestsStream(string $username, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation userAccountGet
     *
     * Path: `/user_account`
     *
     * Get user account
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\Account|null
     */
    public function userAccountGet(?string $adAccountId): \OpenAPIServer\Model\Account|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation userAccountGet (stream)
     *
     * Path: `/user_account`
     *
     * Get user account
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function userAccountGetStream(?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation userFollowingGet
     *
     * Path: `/user_account/following`
     *
     * List following
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?bool $explicitFollowing Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows. (optional, default to false)
     * @param ?\OpenAPIServer\Model\UserFollowingFeedType $feedType Thrift param specifying what type of followees will be kept. Default to include all followees. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\FollowersList200Response|null
     */
    public function userFollowingGet(?string $adAccountId, ?bool $explicitFollowing, ?\OpenAPIServer\Model\UserFollowingFeedType $feedType, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\FollowersList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation userFollowingGet (stream)
     *
     * Path: `/user_account/following`
     *
     * List following
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     * @param ?bool $explicitFollowing Whether or not to include implicit user follows, which means followees with board follows. When explicit_following is True, it means we only want explicit user follows. (optional, default to false)
     * @param ?\OpenAPIServer\Model\UserFollowingFeedType $feedType Thrift param specifying what type of followees will be kept. Default to include all followees. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function userFollowingGetStream(?string $adAccountId, ?bool $explicitFollowing, ?\OpenAPIServer\Model\UserFollowingFeedType $feedType, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation userWebsitesGet
     *
     * Path: `/user_account/websites`
     *
     * Get user websites
     *
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\UserWebsitesGet200Response|null
     */
    public function userWebsitesGet(?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\UserWebsitesGet200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation userWebsitesGet (stream)
     *
     * Path: `/user_account/websites`
     *
     * Get user websites
     *
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function userWebsitesGetStream(?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation verifyWebsiteUpdate
     *
     * Path: `/user_account/websites`
     *
     * Verify website
     *
     * @param \OpenAPIServer\Model\UserWebsiteCreate $userWebsiteCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\UserWebsite|null
     */
    public function verifyWebsiteUpdate(\OpenAPIServer\Model\UserWebsiteCreate $userWebsiteCreate, ?string $adAccountId): \OpenAPIServer\Model\UserWebsite|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation verifyWebsiteUpdate (stream)
     *
     * Path: `/user_account/websites`
     *
     * Verify website
     *
     * @param \OpenAPIServer\Model\UserWebsiteCreate $userWebsiteCreate  (required)
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function verifyWebsiteUpdateStream(\OpenAPIServer\Model\UserWebsiteCreate $userWebsiteCreate, ?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation websiteVerificationGet
     *
     * Path: `/user_account/websites/verification`
     *
     * Get user verification code for website claiming
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     * @return \OpenAPIServer\Model\UserWebsiteVerification|null
     */
    public function websiteVerificationGet(?string $adAccountId): \OpenAPIServer\Model\UserWebsiteVerification|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation websiteVerificationGet (stream)
     *
     * Path: `/user_account/websites/verification`
     *
     * Get user verification code for website claiming
     *
     * @param ?string $adAccountId Unique identifier of an ad account. (optional)
     *
     */
    public function websiteVerificationGetStream(?string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
}
