<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractOrderLinesApi
{

    /**
     * Operation orderLinesGet
     *
     * Path: `/ad_accounts/{ad_account_id}/order_lines/{order_line_id}`
     *
     * Get order line
     *
     * @param string $orderLineId Order line ID. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\OrderLine|null
     */
    public function orderLinesGet(string $orderLineId, string $adAccountId): \OpenAPIServer\Model\OrderLine|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation orderLinesGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/order_lines/{order_line_id}`
     *
     * Get order line
     *
     * @param string $orderLineId Order line ID. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function orderLinesGetStream(string $orderLineId, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation orderLinesList
     *
     * Path: `/ad_accounts/{ad_account_id}/order_lines`
     *
     * Get order lines.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     * @return \OpenAPIServer\Model\OrderLinesList200Response|null
     */
    public function orderLinesList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): \OpenAPIServer\Model\OrderLinesList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation orderLinesList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/order_lines`
     *
     * Get order lines.
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     *
     */
    public function orderLinesListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order): void
    {
        throw new \Exception('Not implemented');
    }
}
