<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractLabelsApi
{

    /**
     * Operation labelsApply
     *
     * Path: `/ad_accounts/{ad_account_id}/labels/{label_id}/apply`
     *
     * Apply label to entity
     *
     * @param string $adAccountId  (required)
     * @param string $labelId Label ID. (required)
     * @param \OpenAPIServer\Model\LabeledEntitiesCreate $labeledEntitiesCreate  (required)
     *
     * @return \OpenAPIServer\Model\LabeledEntities|null
     */
    public function labelsApply(string $adAccountId, string $labelId, \OpenAPIServer\Model\LabeledEntitiesCreate $labeledEntitiesCreate): \OpenAPIServer\Model\LabeledEntities|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation labelsApply (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/labels/{label_id}/apply`
     *
     * Apply label to entity
     *
     * @param string $adAccountId  (required)
     * @param string $labelId Label ID. (required)
     * @param \OpenAPIServer\Model\LabeledEntitiesCreate $labeledEntitiesCreate  (required)
     *
     */
    public function labelsApplyStream(string $adAccountId, string $labelId, \OpenAPIServer\Model\LabeledEntitiesCreate $labeledEntitiesCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation labelsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/labels`
     *
     * Create labels
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\LabelCreateRequest $labelCreateRequest  (required)
     *
     * @return \OpenAPIServer\Model\LabelsResponse|null
     */
    public function labelsCreate(string $adAccountId, \OpenAPIServer\Model\LabelCreateRequest $labelCreateRequest): \OpenAPIServer\Model\LabelsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation labelsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/labels`
     *
     * Create labels
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\LabelCreateRequest $labelCreateRequest  (required)
     *
     */
    public function labelsCreateStream(string $adAccountId, \OpenAPIServer\Model\LabelCreateRequest $labelCreateRequest): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation labelsList
     *
     * Path: `/ad_accounts/{ad_account_id}/labels`
     *
     * List labels
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?array $campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param ?array $labelIds List of Label Ids to use to filter the results. (optional)
     * @param ?array $entityStatuses Label entity status (optional)
     * @param ?array $labelTypes Label type. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\LabelsList200Response|null
     */
    public function labelsList(string $adAccountId, ?array $campaignIds, ?array $labelIds, ?array $entityStatuses, ?array $labelTypes, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\LabelsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation labelsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/labels`
     *
     * List labels
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?array $campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param ?array $labelIds List of Label Ids to use to filter the results. (optional)
     * @param ?array $entityStatuses Label entity status (optional)
     * @param ?array $labelTypes Label type. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function labelsListStream(string $adAccountId, ?array $campaignIds, ?array $labelIds, ?array $entityStatuses, ?array $labelTypes, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation labelsRemove
     *
     * Path: `/ad_accounts/{ad_account_id}/labels/{label_id}/remove`
     *
     * Remove label from entities
     *
     * @param string $adAccountId  (required)
     * @param string $labelId Label ID. (required)
     * @param \OpenAPIServer\Model\LabeledEntitiesCreate $labeledEntitiesCreate  (required)
     *
     * @return \OpenAPIServer\Model\LabeledEntities|null
     */
    public function labelsRemove(string $adAccountId, string $labelId, \OpenAPIServer\Model\LabeledEntitiesCreate $labeledEntitiesCreate): \OpenAPIServer\Model\LabeledEntities|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation labelsRemove (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/labels/{label_id}/remove`
     *
     * Remove label from entities
     *
     * @param string $adAccountId  (required)
     * @param string $labelId Label ID. (required)
     * @param \OpenAPIServer\Model\LabeledEntitiesCreate $labeledEntitiesCreate  (required)
     *
     */
    public function labelsRemoveStream(string $adAccountId, string $labelId, \OpenAPIServer\Model\LabeledEntitiesCreate $labeledEntitiesCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation labelsUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/labels`
     *
     * Update labels
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\LabelUpdateRequest $labelUpdateRequest  (required)
     *
     * @return \OpenAPIServer\Model\LabelsResponse|null
     */
    public function labelsUpdate(string $adAccountId, \OpenAPIServer\Model\LabelUpdateRequest $labelUpdateRequest): \OpenAPIServer\Model\LabelsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation labelsUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/labels`
     *
     * Update labels
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\LabelUpdateRequest $labelUpdateRequest  (required)
     *
     */
    public function labelsUpdateStream(string $adAccountId, \OpenAPIServer\Model\LabelUpdateRequest $labelUpdateRequest): void
    {
        throw new \Exception('Not implemented');
    }
}
