<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCustomerListsApi
{

    /**
     * Operation customerListsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_lists`
     *
     * Create customer lists
     *
     * @param string $adAccountId  (required)
     * @param \OpenAPIServer\Model\CustomerListCreate $customerListCreate  (required)
     *
     * @return \OpenAPIServer\Model\CustomerList|null
     */
    public function customerListsCreate(string $adAccountId, \OpenAPIServer\Model\CustomerListCreate $customerListCreate): \OpenAPIServer\Model\CustomerList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation customerListsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_lists`
     *
     * Create customer lists
     *
     * @param string $adAccountId  (required)
     * @param \OpenAPIServer\Model\CustomerListCreate $customerListCreate  (required)
     *
     */
    public function customerListsCreateStream(string $adAccountId, \OpenAPIServer\Model\CustomerListCreate $customerListCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation customerListsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}`
     *
     * Get customer list
     *
     * @param string $adAccountId  (required)
     * @param string $customerListId Customer list ID. (required)
     *
     * @return \OpenAPIServer\Model\CustomerList|null
     */
    public function customerListsGet(string $adAccountId, string $customerListId): \OpenAPIServer\Model\CustomerList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation customerListsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}`
     *
     * Get customer list
     *
     * @param string $adAccountId  (required)
     * @param string $customerListId Customer list ID. (required)
     *
     */
    public function customerListsGetStream(string $adAccountId, string $customerListId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation customerListsList
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_lists`
     *
     * Get customer lists
     *
     * @param string $adAccountId  (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?bool $excludeNca When true, excludes customer lists uploaded for new customer acquisition (expanded matching) from the result. Defaults to false (include all). (optional, default to false)
     *
     * @return \OpenAPIServer\Model\CustomerListsList200Response|null
     */
    public function customerListsList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?bool $excludeNca): \OpenAPIServer\Model\CustomerListsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation customerListsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_lists`
     *
     * Get customer lists
     *
     * @param string $adAccountId  (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?bool $excludeNca When true, excludes customer lists uploaded for new customer acquisition (expanded matching) from the result. Defaults to false (include all). (optional, default to false)
     *
     */
    public function customerListsListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?bool $excludeNca): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation customerListsUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}`
     *
     * Update customer list
     *
     * @param string $adAccountId  (required)
     * @param string $customerListId Customer list ID. (required)
     * @param \OpenAPIServer\Model\CustomerListUpdateWithRequiredBody $customerListUpdateWithRequiredBody  (required)
     *
     * @return \OpenAPIServer\Model\CustomerList|null
     */
    public function customerListsUpdate(string $adAccountId, string $customerListId, \OpenAPIServer\Model\CustomerListUpdateWithRequiredBody $customerListUpdateWithRequiredBody): \OpenAPIServer\Model\CustomerList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation customerListsUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_lists/{customer_list_id}`
     *
     * Update customer list
     *
     * @param string $adAccountId  (required)
     * @param string $customerListId Customer list ID. (required)
     * @param \OpenAPIServer\Model\CustomerListUpdateWithRequiredBody $customerListUpdateWithRequiredBody  (required)
     *
     */
    public function customerListsUpdateStream(string $adAccountId, string $customerListId, \OpenAPIServer\Model\CustomerListUpdateWithRequiredBody $customerListUpdateWithRequiredBody): void
    {
        throw new \Exception('Not implemented');
    }
}
