<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCustomerSegmentApi
{

    /**
     * Operation customerSegmentCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_segments`
     *
     * Create customer segments
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\CustomerSegmentCreate $customerSegmentCreate  (required)
     *
     * @return \OpenAPIServer\Model\CustomerSegment|null
     */
    public function customerSegmentCreate(string $adAccountId, \OpenAPIServer\Model\CustomerSegmentCreate $customerSegmentCreate): \OpenAPIServer\Model\CustomerSegment|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation customerSegmentCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_segments`
     *
     * Create customer segments
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\CustomerSegmentCreate $customerSegmentCreate  (required)
     *
     */
    public function customerSegmentCreateStream(string $adAccountId, \OpenAPIServer\Model\CustomerSegmentCreate $customerSegmentCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation customerSegmentList
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_segments`
     *
     * List customer segments
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?bool $includeSizing Include audience sizing in result or not (optional, default to false)
     * @param ?string $searchQuery Search query. Can contain pin description keywords or comma-separated pin IDs. (optional)
     *
     * @return \OpenAPIServer\Model\CustomerSegmentList200Response|null
     */
    public function customerSegmentList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?bool $includeSizing, ?string $searchQuery): \OpenAPIServer\Model\CustomerSegmentList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation customerSegmentList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_segments`
     *
     * List customer segments
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?bool $includeSizing Include audience sizing in result or not (optional, default to false)
     * @param ?string $searchQuery Search query. Can contain pin description keywords or comma-separated pin IDs. (optional)
     *
     */
    public function customerSegmentListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?bool $includeSizing, ?string $searchQuery): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation customerSegmentUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_segments`
     *
     * Update customer segments
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\CustomerSegmentUpdateRequestUpdateWithRequiredBody $customerSegmentUpdateRequestUpdateWithRequiredBody  (required)
     *
     * @return void
     */
    public function customerSegmentUpdate(string $adAccountId, \OpenAPIServer\Model\CustomerSegmentUpdateRequestUpdateWithRequiredBody $customerSegmentUpdateRequestUpdateWithRequiredBody): void
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation customerSegmentUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/customer_segments`
     *
     * Update customer segments
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\CustomerSegmentUpdateRequestUpdateWithRequiredBody $customerSegmentUpdateRequestUpdateWithRequiredBody  (required)
     *
     */
    public function customerSegmentUpdateStream(string $adAccountId, \OpenAPIServer\Model\CustomerSegmentUpdateRequestUpdateWithRequiredBody $customerSegmentUpdateRequestUpdateWithRequiredBody): void
    {
        throw new \Exception('Not implemented');
    }
}
