<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractAudiencesApi
{

    /**
     * Operation audiencesCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences`
     *
     * Create audience
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdAccountsAudienceCreate $adAccountsAudienceCreate  (required)
     *
     * @return \OpenAPIServer\Model\AdAccountsAudience|null
     */
    public function audiencesCreate(string $adAccountId, \OpenAPIServer\Model\AdAccountsAudienceCreate $adAccountsAudienceCreate): \OpenAPIServer\Model\AdAccountsAudience|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation audiencesCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences`
     *
     * Create audience
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdAccountsAudienceCreate $adAccountsAudienceCreate  (required)
     *
     */
    public function audiencesCreateStream(string $adAccountId, \OpenAPIServer\Model\AdAccountsAudienceCreate $adAccountsAudienceCreate): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation audiencesGet
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences/{audience_id}`
     *
     * Get audience
     *
     * @param string $audienceId Audience ID. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\AdAccountsAudience|null
     */
    public function audiencesGet(string $audienceId, string $adAccountId): \OpenAPIServer\Model\AdAccountsAudience|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation audiencesGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences/{audience_id}`
     *
     * Get audience
     *
     * @param string $audienceId Audience ID. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function audiencesGetStream(string $audienceId, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation audiencesList
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences`
     *
     * List audiences
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?\OpenAPIServer\Model\AudienceOwnershipType $ownershipType  (optional)
     * @param ?bool $excludeNca When true, excludes audiences derived from new customer acquisition (expanded matching) customer lists from the result. Defaults to false (include all). (optional, default to false)
     *
     * @return \OpenAPIServer\Model\AudiencesList200Response|null
     */
    public function audiencesList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?\OpenAPIServer\Model\AudienceOwnershipType $ownershipType, ?bool $excludeNca): \OpenAPIServer\Model\AudiencesList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation audiencesList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences`
     *
     * List audiences
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?\OpenAPIServer\Model\AudienceOwnershipType $ownershipType  (optional)
     * @param ?bool $excludeNca When true, excludes audiences derived from new customer acquisition (expanded matching) customer lists from the result. Defaults to false (include all). (optional, default to false)
     *
     */
    public function audiencesListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?\OpenAPIServer\Model\AudienceOwnershipType $ownershipType, ?bool $excludeNca): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation audiencesUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences/{audience_id}`
     *
     * Update audience
     *
     * @param string $audienceId Audience ID. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdAccountsAudienceUpdate $adAccountsAudienceUpdate  (required)
     *
     * @return \OpenAPIServer\Model\AdAccountsAudience|null
     */
    public function audiencesUpdate(string $audienceId, string $adAccountId, \OpenAPIServer\Model\AdAccountsAudienceUpdate $adAccountsAudienceUpdate): \OpenAPIServer\Model\AdAccountsAudience|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation audiencesUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences/{audience_id}`
     *
     * Update audience
     *
     * @param string $audienceId Audience ID. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdAccountsAudienceUpdate $adAccountsAudienceUpdate  (required)
     *
     */
    public function audiencesUpdateStream(string $audienceId, string $adAccountId, \OpenAPIServer\Model\AdAccountsAudienceUpdate $adAccountsAudienceUpdate): void
    {
        throw new \Exception('Not implemented');
    }
}
