<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractCampaignsApi
{

    /**
     * Operation adPinsAnalytics
     *
     * Path: `/ad_accounts/{ad_account_id}/pins/analytics`
     *
     * Get pins analytics
     *
     * @param string $campaignId Campaign Id to use to filter the results. (required)
     * @param array $pinIds List of Pin IDs. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     *
     * @return \OpenAPIServer\Model\AdPinAnalytics[]|null
     */
    public function adPinsAnalytics(string $campaignId, array $pinIds, \DateTime $startDate, \DateTime $endDate, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adPinsAnalytics (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/pins/analytics`
     *
     * Get pins analytics
     *
     * @param string $campaignId Campaign Id to use to filter the results. (required)
     * @param array $pinIds List of Pin IDs. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     *
     */
    public function adPinsAnalyticsStream(string $campaignId, array $pinIds, \DateTime $startDate, \DateTime $endDate, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation campaignTargetingAnalyticsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns/targeting_analytics`
     *
     * Get targeting analytics for campaigns
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $campaignIds List of Campaign Ids to use to filter the results. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?array $attributionTypes List of types of attribution for the conversion report (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     * @return \OpenAPIServer\Model\MetricsResponse|null
     */
    public function campaignTargetingAnalyticsGet(string $adAccountId, array $campaignIds, \DateTime $startDate, \DateTime $endDate, array $targetingTypes, array $columns, \OpenAPIServer\Model\Granularity $granularity, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?array $attributionTypes, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): \OpenAPIServer\Model\MetricsResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation campaignTargetingAnalyticsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns/targeting_analytics`
     *
     * Get targeting analytics for campaigns
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $campaignIds List of Campaign Ids to use to filter the results. (required)
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $targetingTypes Targeting type breakdowns for the report. The reporting per targeting type is independent from each other. [\&quot;AGE_BUCKET_AND_GENDER\&quot;] is in BETA and not yet available to all users. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?array $attributionTypes List of types of attribution for the conversion report (optional)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     */
    public function campaignTargetingAnalyticsGetStream(string $adAccountId, array $campaignIds, \DateTime $startDate, \DateTime $endDate, array $targetingTypes, array $columns, \OpenAPIServer\Model\Granularity $granularity, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?array $attributionTypes, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation campaignsAnalytics
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns/analytics`
     *
     * Get campaign analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $campaignIds List of Campaign Ids to use to filter the results. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?bool $aggregateReportRows Determines if report rows should be aggregated across all requested entities. This feature is currently in BETA and is not available to all users. (optional, default to false)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     * @return \OpenAPIServer\Model\CampaignsAnalyticsMetrics[]|null
     */
    public function campaignsAnalytics(\DateTime $startDate, \DateTime $endDate, array $campaignIds, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?bool $aggregateReportRows, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): array|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation campaignsAnalytics (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns/analytics`
     *
     * Get campaign analytics
     *
     * @param \DateTime $startDate Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days back from today. (required)
     * @param \DateTime $endDate Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 90 days past start_date. (required)
     * @param array $campaignIds List of Campaign Ids to use to filter the results. (required)
     * @param array $columns Columns to retrieve, encoded as a comma-separated string. **NOTE**: Any metrics defined as MICRO_DOLLARS returns a value based on the advertiser profile&#39;s currency field. For USD, ($1/1,000,000, or $0.000001 - one one-ten-thousandth of a cent). it&#39;s microdollars. Otherwise, it&#39;s in microunits of the advertiser&#39;s currency.  For example, if the advertiser&#39;s currency is GBP (British pound sterling), all MICRO_DOLLARS fields will be in GBP microunits (1/1,000,000 British pound).  If a column has no value, it may not be returned. (required)
     * @param \OpenAPIServer\Model\Granularity $granularity TOTAL - metrics are aggregated over the specified date range.    DAY - metrics are broken down daily.    HOUR - metrics are broken down hourly.    WEEK - metrics are broken down weekly.    MONTH - metrics are broken down monthly (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;30&#x60; days. **Note:** This parameter no longer returns new data. However, you can still access historic data through **Sept 30, 2027**. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to &#x60;1&#x60; day. (optional)
     * @param ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event. (optional)
     * @param ?bool $aggregateReportRows Determines if report rows should be aggregated across all requested entities. This feature is currently in BETA and is not available to all users. (optional, default to false)
     * @param ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone Specify the timezone to be applied for the reporting. This feature is currently in BETA and is not available to all users. (optional)
     *
     */
    public function campaignsAnalyticsStream(\DateTime $startDate, \DateTime $endDate, array $campaignIds, array $columns, \OpenAPIServer\Model\Granularity $granularity, string $adAccountId, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $clickWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsClickWindowDaysParameter $engagementWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsViewWindowDaysParameter $viewWindowDays, ?\OpenAPIServer\Model\AdGroupsAnalyticsConversionReportTimeParameter $conversionReportTime, ?bool $aggregateReportRows, ?\OpenAPIServer\Model\ReportingTimeZone $reportingTimezone): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation campaignsCreate
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns`
     *
     * Create campaigns
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $campaignCreateItem  (required)
     *
     * @return \OpenAPIServer\Model\CampaignBatchWriteResponseModel|null
     */
    public function campaignsCreate(string $adAccountId, array $campaignCreateItem): \OpenAPIServer\Model\CampaignBatchWriteResponseModel|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation campaignsCreate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns`
     *
     * Create campaigns
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $campaignCreateItem  (required)
     *
     */
    public function campaignsCreateStream(string $adAccountId, array $campaignCreateItem): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation campaignsGet
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns/{campaign_id}`
     *
     * Get campaign
     *
     * @param string $campaignId Campaign ID, must be associated with the ad account ID provided in the path. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     * @return \OpenAPIServer\Model\Campaign|null
     */
    public function campaignsGet(string $campaignId, string $adAccountId): \OpenAPIServer\Model\Campaign|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation campaignsGet (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns/{campaign_id}`
     *
     * Get campaign
     *
     * @param string $campaignId Campaign ID, must be associated with the ad account ID provided in the path. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     *
     */
    public function campaignsGetStream(string $campaignId, string $adAccountId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation campaignsList
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns`
     *
     * List campaigns
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?array $campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param ?array $entityStatuses Entity status (optional)
     *
     * @return \OpenAPIServer\Model\CampaignsList200Response|null
     */
    public function campaignsList(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?array $campaignIds, ?array $entityStatuses): \OpenAPIServer\Model\CampaignsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation campaignsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns`
     *
     * List campaigns
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     * @param ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?array $campaignIds List of Campaign Ids to use to filter the results. (optional)
     * @param ?array $entityStatuses Entity status (optional)
     *
     */
    public function campaignsListStream(string $adAccountId, ?string $bookmark, ?int $pageSize, ?\OpenAPIServer\Model\PinterestLibPaginationOrder $order, ?array $campaignIds, ?array $entityStatuses): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation campaignsUpdate
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns`
     *
     * Update campaigns
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $campaignBatchUpdateItem  (required)
     *
     * @return \OpenAPIServer\Model\CampaignBatchWriteResponseModel|null
     */
    public function campaignsUpdate(string $adAccountId, array $campaignBatchUpdateItem): \OpenAPIServer\Model\CampaignBatchWriteResponseModel|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation campaignsUpdate (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns`
     *
     * Update campaigns
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $campaignBatchUpdateItem  (required)
     *
     */
    public function campaignsUpdateStream(string $adAccountId, array $campaignBatchUpdateItem): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation getCampaignDeliveryEstimates
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns/delivery_estimates`
     *
     * Get campaign delivery estimates
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $campaignDeliveryEstimatesCampaign  (required)
     *
     * @return \OpenAPIServer\Model\CampaignDeliveryEstimatesResponse|null
     */
    public function getCampaignDeliveryEstimates(string $adAccountId, array $campaignDeliveryEstimatesCampaign): \OpenAPIServer\Model\CampaignDeliveryEstimatesResponse|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation getCampaignDeliveryEstimates (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/campaigns/delivery_estimates`
     *
     * Get campaign delivery estimates
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param array $campaignDeliveryEstimatesCampaign  (required)
     *
     */
    public function getCampaignDeliveryEstimatesStream(string $adAccountId, array $campaignDeliveryEstimatesCampaign): void
    {
        throw new \Exception('Not implemented');
    }
}
