<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractAudienceSharingApi
{

    /**
     * Operation adAccountsAudiencesSharedAccountsList
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences/shared/accounts`
     *
     * List accounts with access to an audience owned by an ad account
     *
     * @param string $audienceId Unique identifier of the audience to use to filter the results. (required)
     * @param \OpenAPIServer\Model\AudienceAccountType $accountType Filter accounts by account type. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\AdAccountsAudiencesSharedAccountsList200Response|null
     */
    public function adAccountsAudiencesSharedAccountsList(string $audienceId, \OpenAPIServer\Model\AudienceAccountType $accountType, string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\AdAccountsAudiencesSharedAccountsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountsAudiencesSharedAccountsList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences/shared/accounts`
     *
     * List accounts with access to an audience owned by an ad account
     *
     * @param string $audienceId Unique identifier of the audience to use to filter the results. (required)
     * @param \OpenAPIServer\Model\AudienceAccountType $accountType Filter accounts by account type. (required)
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function adAccountsAudiencesSharedAccountsListStream(string $audienceId, \OpenAPIServer\Model\AudienceAccountType $accountType, string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation businessAccountAudiencesSharedAccountsList
     *
     * Path: `/businesses/{business_id}/audiences/shared/accounts`
     *
     * List accounts with access to an audience owned by a business
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $audienceId Unique identifier of the audience to use to filter the results. (required)
     * @param \OpenAPIServer\Model\AudienceAccountType $accountType Filter accounts by account type. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\AdAccountsAudiencesSharedAccountsList200Response|null
     */
    public function businessAccountAudiencesSharedAccountsList(string $businessId, string $audienceId, \OpenAPIServer\Model\AudienceAccountType $accountType, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\AdAccountsAudiencesSharedAccountsList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation businessAccountAudiencesSharedAccountsList (stream)
     *
     * Path: `/businesses/{business_id}/audiences/shared/accounts`
     *
     * List accounts with access to an audience owned by a business
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param string $audienceId Unique identifier of the audience to use to filter the results. (required)
     * @param \OpenAPIServer\Model\AudienceAccountType $accountType Filter accounts by account type. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function businessAccountAudiencesSharedAccountsListStream(string $businessId, string $audienceId, \OpenAPIServer\Model\AudienceAccountType $accountType, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation sharedAudiencesForBusinessList
     *
     * Path: `/businesses/{business_id}/audiences`
     *
     * List received audiences for a business
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param ?\OpenAPIServer\Model\Order $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\SharedAudiencesForBusinessList200Response|null
     */
    public function sharedAudiencesForBusinessList(string $businessId, ?\OpenAPIServer\Model\Order $order, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\SharedAudiencesForBusinessList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation sharedAudiencesForBusinessList (stream)
     *
     * Path: `/businesses/{business_id}/audiences`
     *
     * List received audiences for a business
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param ?\OpenAPIServer\Model\Order $order The order in which to sort the items returned: \&quot;ASCENDING\&quot; or \&quot;DESCENDING\&quot; by ID. Note that higher-value IDs are associated with more-recently added items. (optional)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function sharedAudiencesForBusinessListStream(string $businessId, ?\OpenAPIServer\Model\Order $order, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateAdAccountToAdAccountSharedAudience
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared`
     *
     * Update audience sharing between ad accounts
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody $adAccountToAdAccountSharedAudienceUpdateWithRequiredBody  (required)
     *
     * @return \OpenAPIServer\Model\AdAccountToAdAccountSharedAudience|null
     */
    public function updateAdAccountToAdAccountSharedAudience(string $adAccountId, \OpenAPIServer\Model\AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody $adAccountToAdAccountSharedAudienceUpdateWithRequiredBody): \OpenAPIServer\Model\AdAccountToAdAccountSharedAudience|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateAdAccountToAdAccountSharedAudience (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared`
     *
     * Update audience sharing between ad accounts
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody $adAccountToAdAccountSharedAudienceUpdateWithRequiredBody  (required)
     *
     */
    public function updateAdAccountToAdAccountSharedAudienceStream(string $adAccountId, \OpenAPIServer\Model\AdAccountToAdAccountSharedAudienceUpdateWithRequiredBody $adAccountToAdAccountSharedAudienceUpdateWithRequiredBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateAdAccountToBusinessSharedAudience
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences/businesses/shared`
     *
     * Update audience sharing from an ad account to businesses
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdAccountToBusinessSharedAudienceUpdateWithRequiredBody $adAccountToBusinessSharedAudienceUpdateWithRequiredBody  (required)
     *
     * @return \OpenAPIServer\Model\AdAccountToBusinessSharedAudience|null
     */
    public function updateAdAccountToBusinessSharedAudience(string $adAccountId, \OpenAPIServer\Model\AdAccountToBusinessSharedAudienceUpdateWithRequiredBody $adAccountToBusinessSharedAudienceUpdateWithRequiredBody): \OpenAPIServer\Model\AdAccountToBusinessSharedAudience|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateAdAccountToBusinessSharedAudience (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/audiences/businesses/shared`
     *
     * Update audience sharing from an ad account to businesses
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\AdAccountToBusinessSharedAudienceUpdateWithRequiredBody $adAccountToBusinessSharedAudienceUpdateWithRequiredBody  (required)
     *
     */
    public function updateAdAccountToBusinessSharedAudienceStream(string $adAccountId, \OpenAPIServer\Model\AdAccountToBusinessSharedAudienceUpdateWithRequiredBody $adAccountToBusinessSharedAudienceUpdateWithRequiredBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateBusinessToAdAccountSharedAudience
     *
     * Path: `/businesses/{business_id}/audiences/ad_accounts/shared`
     *
     * Update audience sharing from a business to ad accounts
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\BusinessToAdAccountSharedAudienceUpdateWithRequiredBody $businessToAdAccountSharedAudienceUpdateWithRequiredBody  (required)
     *
     * @return \OpenAPIServer\Model\BusinessToAdAccountSharedAudience|null
     */
    public function updateBusinessToAdAccountSharedAudience(string $businessId, \OpenAPIServer\Model\BusinessToAdAccountSharedAudienceUpdateWithRequiredBody $businessToAdAccountSharedAudienceUpdateWithRequiredBody): \OpenAPIServer\Model\BusinessToAdAccountSharedAudience|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateBusinessToAdAccountSharedAudience (stream)
     *
     * Path: `/businesses/{business_id}/audiences/ad_accounts/shared`
     *
     * Update audience sharing from a business to ad accounts
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\BusinessToAdAccountSharedAudienceUpdateWithRequiredBody $businessToAdAccountSharedAudienceUpdateWithRequiredBody  (required)
     *
     */
    public function updateBusinessToAdAccountSharedAudienceStream(string $businessId, \OpenAPIServer\Model\BusinessToAdAccountSharedAudienceUpdateWithRequiredBody $businessToAdAccountSharedAudienceUpdateWithRequiredBody): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation updateBusinessToBusinessSharedAudience
     *
     * Path: `/businesses/{business_id}/audiences/businesses/shared`
     *
     * Update audience sharing between businesses
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\BusinessToBusinessSharedAudienceUpdateWithRequiredBody $businessToBusinessSharedAudienceUpdateWithRequiredBody  (required)
     *
     * @return \OpenAPIServer\Model\BusinessToBusinessSharedAudience|null
     */
    public function updateBusinessToBusinessSharedAudience(string $businessId, \OpenAPIServer\Model\BusinessToBusinessSharedAudienceUpdateWithRequiredBody $businessToBusinessSharedAudienceUpdateWithRequiredBody): \OpenAPIServer\Model\BusinessToBusinessSharedAudience|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation updateBusinessToBusinessSharedAudience (stream)
     *
     * Path: `/businesses/{business_id}/audiences/businesses/shared`
     *
     * Update audience sharing between businesses
     *
     * @param string $businessId Unique identifier of the requesting business. (required)
     * @param \OpenAPIServer\Model\BusinessToBusinessSharedAudienceUpdateWithRequiredBody $businessToBusinessSharedAudienceUpdateWithRequiredBody  (required)
     *
     */
    public function updateBusinessToBusinessSharedAudienceStream(string $businessId, \OpenAPIServer\Model\BusinessToBusinessSharedAudienceUpdateWithRequiredBody $businessToBusinessSharedAudienceUpdateWithRequiredBody): void
    {
        throw new \Exception('Not implemented');
    }
}
