<?php

/**
 * Pinterest REST API
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * Pinterest's REST API
 * The version of the OpenAPI document: 5.28.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractLeadAdsApi
{

    /**
     * Operation adAccountsSubscriptionsDelById
     *
     * Path: `/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}`
     *
     * Delete lead ads subscription
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $subscriptionId Unique identifier of a subscription. (required)
     *
     * @return \OpenAPIServer\Model\LeadSubscription|null
     */
    public function adAccountsSubscriptionsDelById(string $adAccountId, string $subscriptionId): \OpenAPIServer\Model\LeadSubscription|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountsSubscriptionsDelById (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}`
     *
     * Delete lead ads subscription
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $subscriptionId Unique identifier of a subscription. (required)
     *
     */
    public function adAccountsSubscriptionsDelByIdStream(string $adAccountId, string $subscriptionId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adAccountsSubscriptionsGetById
     *
     * Path: `/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}`
     *
     * Get lead ads subscription by ID
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $subscriptionId Unique identifier of a subscription. (required)
     *
     * @return \OpenAPIServer\Model\LeadSubscription|null
     */
    public function adAccountsSubscriptionsGetById(string $adAccountId, string $subscriptionId): \OpenAPIServer\Model\LeadSubscription|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountsSubscriptionsGetById (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/leads/subscriptions/{subscription_id}`
     *
     * Get lead ads subscription by ID
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param string $subscriptionId Unique identifier of a subscription. (required)
     *
     */
    public function adAccountsSubscriptionsGetByIdStream(string $adAccountId, string $subscriptionId): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adAccountsSubscriptionsGetList
     *
     * Path: `/ad_accounts/{ad_account_id}/leads/subscriptions`
     *
     * Get lead ads subscriptions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     * @return \OpenAPIServer\Model\AdAccountsSubscriptionsGetList200Response|null
     */
    public function adAccountsSubscriptionsGetList(string $adAccountId, ?string $bookmark, ?int $pageSize): \OpenAPIServer\Model\AdAccountsSubscriptionsGetList200Response|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountsSubscriptionsGetList (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/leads/subscriptions`
     *
     * Get lead ads subscriptions
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param ?string $bookmark Cursor used to fetch the next page of items (optional)
     * @param ?int $pageSize Maximum number of items to include in a single page. See documentation on [Pagination](/docs/reference/pagination/) for more information. (optional, default to 25)
     *
     */
    public function adAccountsSubscriptionsGetListStream(string $adAccountId, ?string $bookmark, ?int $pageSize): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation adAccountsSubscriptionsPost
     *
     * Path: `/ad_accounts/{ad_account_id}/leads/subscriptions`
     *
     * Create lead ads subscription
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\LeadSubscriptionPostParamsCreate $leadSubscriptionPostParamsCreate  (required)
     *
     * @return \OpenAPIServer\Model\LeadSubscription|null
     */
    public function adAccountsSubscriptionsPost(string $adAccountId, \OpenAPIServer\Model\LeadSubscriptionPostParamsCreate $leadSubscriptionPostParamsCreate): \OpenAPIServer\Model\LeadSubscription|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation adAccountsSubscriptionsPost (stream)
     *
     * Path: `/ad_accounts/{ad_account_id}/leads/subscriptions`
     *
     * Create lead ads subscription
     *
     * @param string $adAccountId Unique identifier of an ad account. (required)
     * @param \OpenAPIServer\Model\LeadSubscriptionPostParamsCreate $leadSubscriptionPostParamsCreate  (required)
     *
     */
    public function adAccountsSubscriptionsPostStream(string $adAccountId, \OpenAPIServer\Model\LeadSubscriptionPostParamsCreate $leadSubscriptionPostParamsCreate): void
    {
        throw new \Exception('Not implemented');
    }
}
